EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG01.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- ____ XMLSpy v2006 U (http://www.altova.com) _ any (any) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG01" targetNamespace="urn:schemas-edifactoring-com:MSG01" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG01" type="MSG01Type"/>
	<xs:complexType name="MSG01Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="MsgDate" type="xs:date"/>
			<xs:element name="MsgFunction" type="NMax3Type"/>
			<xs:element name="FactAgreemSigned" type="xs:date" minOccurs="0"/>
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="SellerDetails" type="SellerDetailsType"/>
			<xs:element name="BankDetailsSeller" type="BankDetailsSellerType" minOccurs="0"/>
			<xs:element name="MsgText" type="AMax1400Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerCompanyRegNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="ResponseAgency" type="AMax35Type" minOccurs="0"/>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type"/>
			<xs:element name="NameCont" type="AMax35Type" minOccurs="0"/>
			<xs:element name="Street" type="AMax35Type"/>
			<xs:element name="City" type="AMax35Type"/>
			<xs:element name="State" type="AMax9Type" minOccurs="0"/>
			<xs:element name="Postcode" type="AMax9Type"/>
			<xs:element name="Country" type="A2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerDetailsType">
		<xs:sequence>
			<xs:element name="BusinessProduct" type="AMax70Type"/>
			<xs:element name="NetPmtTerms" type="NDef3Type"/>
			<xs:element name="Discount1Days" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount1Perc" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="Discount2Days" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount2Perc" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="GracePeriod" type="NDef3Type" minOccurs="0"/>
			<xs:element name="InvCurrency1" type="A3Type"/>
			<xs:element name="InvCurrency2" type="A3Type" minOccurs="0"/>
			<xs:element name="InvCurrency3" type="A3Type" minOccurs="0"/>
			<xs:element name="InvCurrency4" type="A3Type" minOccurs="0"/>
			<xs:element name="InvCurrency5" type="A3Type" minOccurs="0"/>
			<xs:element name="ChargeBackPerc" type="NDef3.4Type"/>
			<xs:element name="ChargeBackAmt" type="NMax14.2Type"/>
			<xs:element name="ChargeBackCurrency" type="A3Type"/>
			<xs:element name="ExpTotSellerTurnover" type="AMax70Type"/>
			<xs:element name="ExpNrBuyers" type="NDef5Type"/>
			<xs:element name="ExpNrInvoices" type="NDef5Type"/>
			<xs:element name="ExpNrCreditNotes" type="NDef5Type" minOccurs="0"/>
			<xs:element name="ExpTurnover" type="AMax70Type"/>
			<xs:element name="ExpOtherTurnover" type="AMax70Type"/>
			<xs:element name="OtherFactors" type="AMax70Type"/>
			<xs:element name="ServiceRequired" type="NMax3Type"/>
			<xs:element name="NormDeliveryTerms" type="AMax70Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankDetailsSellerType">
		<xs:sequence>
			<xs:element name="AccountNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="BankName" type="AMax70Type" minOccurs="0"/>
			<xs:element name="BranchName" type="AMax70Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
