EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG08.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG08" targetNamespace="urn:schemas-edifactoring-com:MSG08" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG08" type="MSG08Type"/>
	<xs:complexType name="MSG08Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="ReplyDate" type="xs:date"/>
			<xs:element name="RevisionNr" type="AMax35Type"/>
			<xs:element name="OrigReqNr" type="AMax35Type"/>
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="Buyer" type="BuyerType"/>
			<xs:element name="CurrentCreditCoverDetails" type="CurrentCreditCoverDetailsType"/>
			<xs:element name="NewCreditCoverDetails" type="NewCreditCoverDetailsType"/>
			<xs:element name="OwnRiskNewCreditCover" type="OwnRiskNewCreditCoverType"/>
			<xs:element name="MsgText" type="AMax350Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BuyerType">
		<xs:sequence>
			<xs:element name="BuyerNr" type="AMax35Type"/>
			<xs:element name="BuyerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrentCreditCoverDetailsType">
		<xs:sequence>
			<xs:element name="CurrentCreditCoverAmt" type="NMax14.2Type"/>
			<xs:element name="Currency" type="A3Type"/>
			<xs:element name="CurrentExpiryDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewCreditCoverDetailsType">
		<xs:sequence>
			<xs:element name="NewCreditCoverAmt" type="NMax14.2Type"/>
			<xs:element name="NewExpiryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="LongCreditPeriodDays" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Response" type="NMax3Type"/>
			<xs:element name="Reason" type="NMax3Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnRiskNewCreditCoverType">
		<xs:sequence>
			<xs:element name="OwnRiskAmt" type="NMax14.2Type" minOccurs="0"/>
			<xs:element name="OwnRiskPerc" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="CreditCoverAmtCheck" type="NMax14.2Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
