EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG09.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG09" targetNamespace="urn:schemas-edifactoring-com:MSG09" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG09" type="MSG09Type"/>
	<xs:complexType name="MSG09Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="InvBatchNr" type="AMax35Type"/>
			<xs:element name="InvBatchDate" type="xs:date"/>
			<xs:element name="InvBatchCurrency" type="A3Type"/>
			<xs:element name="TotAmtInvoices" type="NMax14.2Type"/>
			<xs:element name="TotAmtCreditNotes" type="NMax14.2Type"/>
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="InvCreditNoteDetails" type="InvCreditNoteDetailsType" maxOccurs="999"/>
			<xs:element name="ControlTot" type="ControlTotType"/>
			<xs:element name="MsgText" type="AMax1400Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvCreditNoteDetailsType">
		<xs:sequence>
			<xs:element name="BuyerNr" type="AMax35Type"/>
			<xs:element name="BuyerName" type="AMax35Type" minOccurs="0"/>
			<xs:element name="DocType" type="NMax3Type"/>
			<xs:element name="DocNr" type="AMax35Type"/>
			<xs:element name="DocDate" type="xs:date"/>
			<xs:element name="DocAmt" type="NMax14.2Type"/>
			<xs:element name="DocDueDate" type="xs:date"/>
			<xs:element name="DocValueDate" type="xs:date" minOccurs="0"/>
			<xs:element name="NetPmtTerms" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount1Days" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount1Perc" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="Discount2Days" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount2Perc" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="PmtCondition" type="NMax3Type" minOccurs="0"/>
			<xs:element name="OrderNrRef" type="AMax35Type" minOccurs="0"/>
			<xs:element name="InvRefNr" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlTotType">
		<xs:sequence>
			<xs:element name="TotNrInvoices" type="NDef3Type"/>
			<xs:element name="TotNrCreditNotes" type="NDef3Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
