EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG02.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG02" targetNamespace="urn:schemas-edifactoring-com:MSG02" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG02" type="MSG02Type"/>
	<xs:complexType name="MSG02Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="RequestDate" type="xs:date"/>
			<xs:element name="RequestNr" type="AMax35Type"/>
			<xs:element name="MsgFunction" type="NMax3Type"/>
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="Buyer" type="BuyerType"/>
			<xs:element name="BankDetailsBuyer" type="BankDetailsBuyerType" minOccurs="0"/>
			<xs:element name="PrelCreditAssessDetails" type="PrelCreditAssessDetailsType"/>
			<xs:element name="MsgText" type="AMax1400Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BuyerType">
		<xs:sequence>
			<xs:element name="BuyerCompanyRegNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="ResponseAgency" type="AMax35Type" minOccurs="0"/>
			<xs:element name="BuyerNr" type="AMax35Type"/>
			<xs:element name="BuyerName" type="AMax35Type"/>
			<xs:element name="NameCont" type="AMax35Type" minOccurs="0"/>
			<xs:element name="Street" type="AMax35Type"/>
			<xs:element name="City" type="AMax35Type"/>
			<xs:element name="State" type="AMax9Type" minOccurs="0"/>
			<xs:element name="Postcode" type="AMax9Type"/>
			<xs:element name="Country" type="A2Type"/>
			<xs:element name="DirectContact" type="NMax3Type"/>
			<xs:element name="ContactName" type="AMax35Type" minOccurs="0"/>
			<xs:element name="Telephone" type="AMax25Type" minOccurs="0"/>
			<xs:element name="Fax" type="AMax25Type" minOccurs="0"/>
			<xs:element name="Email" type="AMax70Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankDetailsBuyerType">
		<xs:sequence>
			<xs:element name="AccountNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="BankName" type="AMax70Type" minOccurs="0"/>
			<xs:element name="BranchName" type="AMax70Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrelCreditAssessDetailsType">
		<xs:sequence>
			<xs:element name="AmtCreditAssessReq" type="NMax14.2Type"/>
			<xs:element name="Currency" type="A3Type"/>
			<xs:element name="NetPmtTerms" type="NDef3Type"/>
			<xs:element name="Discount1Days" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount1Perc" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="Discount2Days" type="NDef3Type" minOccurs="0"/>
			<xs:element name="Discount2Perc" type="NDef3.4Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
