EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG11.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG11" targetNamespace="urn:schemas-edifactoring-com:MSG11" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG11" type="MSG11Type"/>
	<xs:complexType name="MSG11Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="PmtBatchNr" type="AMax35Type"/>
			<xs:element name="PmtBatchDate" type="xs:date"/>
			<xs:element name="PmtBatchCurrency" type="A3Type"/>
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="PmtDetails" type="PmtDetailsType" maxOccurs="999"/>
			<xs:element name="ControlTot" type="ControlTotType"/>
			<xs:element name="MsgText" type="AMax700Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtDetailsType">
		<xs:sequence>
			<xs:element name="BuyerNr" type="AMax35Type"/>
			<xs:element name="BuyerName" type="AMax35Type" minOccurs="0"/>
			<xs:element name="DocPaid" type="NMax3Type"/>
			<xs:element name="InvCreditNoteNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="InvCreditNoteDate" type="xs:date" minOccurs="0"/>
			<xs:element name="InvCreditNoteAmt" type="NMax14.2Type" minOccurs="0"/>
			<xs:element name="PmtAmt" type="NMax14.2Type"/>
			<xs:element name="BankChargeAmt" type="NMax14.2Type"/>
			<xs:element name="DeducAmt" type="NMax14.2Type" minOccurs="0"/>
			<xs:element name="PmtType" type="NMax3Type"/>
			<xs:element name="PmtDate" type="xs:date" minOccurs="0"/>
			<xs:element name="PmtValueDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlTotType">
		<xs:sequence>
			<xs:element name="TotAmtPaid" type="NMax14.2Type"/>
			<xs:element name="TotAmtBankChargeDeduc" type="NMax14.2Type"/>
			<xs:element name="TotAmtCleared" type="NMax14.2Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
