EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG17.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG17" targetNamespace="urn:schemas-edifactoring-com:MSG17" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG17" type="MSG17Type"/>
	<xs:complexType name="MSG17Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="MsgDate" type="xs:date"/>
			<xs:element name="MsgType" type="NMax3Type"/>
			<xs:element name="DocType" type="NMax3Type"/>
			<xs:element name="InvCreditNoteNr" type="AMax35Type"/>
			<xs:element name="InvCreditNoteDate" type="xs:date"/>
			<xs:element name="PmtMethod" type="NMax3Type" minOccurs="0"/>
			<xs:element name="Seller" type="SellerType" minOccurs="0"/>
			<xs:element name="InvCreditNoteCurrency" type="A3Type"/>
			<xs:element name="InvCreditNoteAmt" type="NMax14.2Type"/>
			<xs:element name="MsgText" type="AMax7000Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
