EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG16.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG16" targetNamespace="urn:schemas-edifactoring-com:MSG16" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG16" type="MSG16Type"/>
	<xs:complexType name="MSG16Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="MsgDate" type="xs:date"/>
			<xs:element name="MsgType" type="NMax3Type"/>
			<xs:element name="MsgNr" type="AMax35Type"/>
			<xs:element name="DocCurrency" type="A3Type"/>
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="ChargeBackReassDetails" type="ChargeBackReassDetailsType" maxOccurs="999"/>
			<xs:element name="ControlTot" type="ControlTotType"/>
			<xs:element name="MsgText" type="AMax700Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargeBackReassDetailsType">
		<xs:sequence>
			<xs:element name="BuyerNr" type="AMax35Type"/>
			<xs:element name="BuyerName" type="AMax35Type" minOccurs="0"/>
			<xs:element name="DocType" type="NMax3Type"/>
			<xs:element name="DocNr" type="AMax35Type"/>
			<xs:element name="DocDate" type="xs:date" minOccurs="0"/>
			<xs:element name="DocAmt" type="NMax14.2Type"/>
			<xs:element name="ChargeBackReassAmt" type="NMax14.2Type"/>
			<xs:element name="ChargeBackReassReason" type="NMax3Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlTotType">
		<xs:sequence>
			<xs:element name="TotAmt" type="NMax14.2Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
