EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG26.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG26" targetNamespace="urn:schemas-edifactoring-com:MSG26" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG26" type="MSG26Type"/>
	<xs:complexType name="MSG26Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="EF" type="FType"/>
			<xs:element name="IF" type="FType"/>
			<xs:element name="MsgDate" type="xs:date"/>
			<xs:element name="Response" type="NMax3Type" />
			<xs:element name="Seller" type="SellerType"/>
			<xs:element name="RejectedBuyerDetails" type="RejectedBuyerDetailsType" maxOccurs="999"/>
			<xs:element name="FactoringCommission" type="FactoringCommissionType"/>
			<xs:element name="MsgText" type="AMax350Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FType">
		<xs:sequence>
			<xs:element name="FactorCode" type="A7Type"/>
			<xs:element name="FactorName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type"/>
			<xs:element name="SellerName" type="AMax35Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RejectedBuyerDetailsType">
		<xs:sequence>
			<xs:element name="BuyerNr" type="AMax35Type"/>
			<xs:element name="BuyerName" type="AMax35Type"/>
			<xs:element name="MainInvCurrency" type="A3Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FactoringCommissionType">
		<xs:sequence>
			<xs:element name="GrossTurnoverPercCommission" type="NDef3.4Type" minOccurs="0"/>
			<xs:element name="PriceDoc" type="NMax14.2Type" minOccurs="0"/>
			<xs:element name="DocCurrency" type="A3Type" minOccurs="0"/>
			<xs:element name="BankChargeIncl" type="NMax3Type"/>
			<xs:element name="OtherCharge" type="AMax70Type" minOccurs="0"/>
			<xs:element name="ChargeCurrency" type="A3Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
