EE_PARA/EE_PARA/EE_SYS/EDIXSD/MSG21.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-edifactoring-com:MSG21" targetNamespace="urn:schemas-edifactoring-com:MSG21" elementFormDefault="qualified">
	<xs:include schemaLocation="typeDef.xsd"/>
	<xs:element name="MSG21" type="MSG21Type"/>
	<xs:complexType name="MSG21Type">
		<xs:sequence>
			<xs:element name="MsgInfo" type="MsgInfoType"/>
			<xs:element name="MsgDate" type="xs:date"/>
			<xs:element name="Sender" type="SenderType"/>
			<xs:element name="Recipient" type="RecipientType"/>
			<xs:element name="Seller" type="SellerType" minOccurs="0"/>
			<xs:element name="Buyer" type="BuyerType" minOccurs="0"/>
			<xs:element name="MsgText" type="AMax3500Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgInfoType">
		<xs:sequence>
			<xs:element name="SenderCode" type="A7Type"/>
			<xs:element name="ReceiverCode" type="A7Type"/>
			<xs:element name="CreatedBy" type="AMax16Type"/>
			<xs:element name="SequenceNr" type="NMax10Type" minOccurs="0"/>
			<xs:element name="DateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="NMax2Type" minOccurs="0"/>
			<xs:element name="Error" type="NMax2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SenderType">
		<xs:sequence>
			<xs:element name="MemberNr" type="AMax7Type"/>
			<xs:element name="MemberName" type="AMax35Type" minOccurs="0"/>
			<xs:element name="ContactName" type="AMax35Type"/>
			<xs:element name="Telephone" type="AMax25Type" minOccurs="0"/>
			<xs:element name="Email" type="AMax70Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecipientType">
		<xs:sequence>
			<xs:element name="MemberNr" type="AMax7Type"/>
			<xs:element name="MemberName" type="AMax35Type" minOccurs="0"/>
			<xs:element name="ContactName" type="AMax35Type"/>
			<xs:element name="Telephone" type="AMax25Type" minOccurs="0"/>
			<xs:element name="Email" type="AMax70Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="SellerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BuyerType">
		<xs:sequence>
			<xs:element name="BuyerNr" type="AMax35Type" minOccurs="0"/>
			<xs:element name="BuyerName" type="AMax35Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
