EE_PARA/EE_PARA/EE_SYS/EDIXSD/typeDef.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="A7Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A2Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A3Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax7Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax9Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax16Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax25Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax35Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax70Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax350Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax700Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="700"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax1400Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1400"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax3500Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax7000Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax2Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NDef3Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax3Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax10Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NDef3.4Type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NDef5Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="65535"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax14.2Type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="16"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
