EE_PARA/EE_PARA/mfvr/swift/mx/2025/admi.024.001.01_swift.cbprplus.01.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.024.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.024.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification8__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification23__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CBPR_DateTime"><xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-4])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax2000Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorrespondenceNotification1__1"><xs:sequence>
            <xs:element name="SndrNtfctnId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="NtfctnTp" type="NotificationType1Choice__1"></xs:element>
            <xs:element maxOccurs="3" minOccurs="1" name="NtfctnNrrtv" type="CBPR_RestrictedFINXMax2000Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NtfctnOfCrspdc" type="NotificationOfCorrespondenceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalNotificationType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification23__1"><xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader129__1"><xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="CreDtTm" type="CBPR_DateTime"></xs:element>
            <xs:element name="Sndr" type="Party50Choice__1"></xs:element>
            <xs:element name="Rcvr" type="Party50Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationOfCorrespondenceV01"><xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader129__1"></xs:element>
            <xs:element name="NtfctnData" type="CorrespondenceNotification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalNotificationType1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party50Choice__1"><xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification8__1"></xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
