EE_PARA/EE_PARA/mfvr/swift/mx/2025/camt.105.001.02_swift.cbprplus.02.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.105.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.105.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1"><xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"></xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification8__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification23__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CBPR_Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CBPR_Amount"><xs:simpleContent>
            <xs:extension base="CBPR_Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CBPR_DateTime"><xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-4])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax140Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax16Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax16Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax28Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax320Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="320"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax34Text"><xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax70Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax70Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount40__1"><xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CBPR_RestrictedFINXMax70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargeType3Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalChargeType1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Charges4Choice__1"><xs:choice>
            <xs:element name="PerTx" type="ChargesPerTransaction4__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargesBreakdown1__1"><xs:sequence>
            <xs:element name="Amt" type="CBPR_Amount"></xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode__1"></xs:element>
            <xs:element name="Tp" type="ChargeType3Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesPaymentNotificationV02"><xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader126__1"></xs:element>
            <xs:element name="Chrgs" type="Charges4Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesPerTransaction4__1"><xs:sequence>
            <xs:element name="ChrgsId" type="CBPR_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="Rcrd" type="ChargesPerTransactionRecord4__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargesPerTransactionRecord4__1"><xs:sequence>
            <xs:element name="UndrlygTx" type="TransactionReferences7__1"></xs:element>
            <xs:element name="TtlChrgsPerRcrd" type="TotalCharges8__1"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ChrgsBrkdwn" type="ChargesBreakdown1__1"></xs:element>
            <xs:element name="ValDt" type="DateAndDateTime2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification8__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount40__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1"><xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"></xs:element>
            <xs:element name="MmbId" type="CBPR_RestrictedFINXMax28Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode__1"><xs:restriction base="xs:string">
            <xs:enumeration value="DBIT"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1"><xs:choice>
            <xs:element name="Dt" type="ISODate"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ChrgsPmtNtfctn" type="ChargesPaymentNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalChargeType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification23__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CBPR_RestrictedFINXMax140Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax34Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader126__1"><xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="CreDtTm" type="CBPR_DateTime"></xs:element>
            <xs:element name="ChrgsRqstr" type="BranchAndFinancialInstitutionIdentification8__1"></xs:element>
            <xs:element name="ChrgsAcct" type="CashAccount40__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcctOwnr" type="BranchAndFinancialInstitutionIdentification8__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate"><xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress27__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountIdentification1__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice__1"></xs:element>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax320Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TotalCharges8__1"><xs:sequence>
            <xs:element name="NbOfChrgsBrkdwnItms" type="Max15NumericText"></xs:element>
            <xs:element name="TtlChrgsAmt" type="CBPR_Amount"></xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences7__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrRef" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInfId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="CBPR_RestrictedFINXMax16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChqNb" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
