EE_PARA/EE_PARA/mfvr/swift/mx/2025/camt.111.001.02_swift.case.rqch.01.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.111.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.111.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CASE_RestrictedFINXMax105Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax16Text"><xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax500Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InvstgtnRspn" type="InvestigationResponseV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalInvestigationAction1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationActionReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationInstrument1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationReason1Code_fixed"><xs:restriction base="xs:string">
            <xs:enumeration value="RQCH"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationStatus1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationStatusReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationType1Code_fixed"><xs:restriction base="xs:string">
            <xs:enumeration value="RQCH"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1"><xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationActionReason1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationActionReason1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationActionReason1__1"><xs:sequence>
            <xs:element name="Rsn" type="InvestigationActionReason1Choice__1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="AddtlInf" type="CASE_RestrictedFINXMax105Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationData6__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlInvstgtnRsn" type="InvestigationReason1Choice__1"></xs:element>
            <xs:element name="RspnData" type="InvestigationDataRecord7Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnOrgtr" type="Party40Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationDataRecord7Choice__1"><xs:choice>
            <xs:element name="RspnNrrtv" type="CASE_RestrictedFINXMax500Text_Extended"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationReason1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationReason1Code_fixed"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationRequest3__1"><xs:sequence>
            <xs:element name="MsgId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="RqstrInvstgtnId" type="CASE_RestrictedFINXMax16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrInvstgtnId" type="CASE_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="EIR" type="UUIDv4Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqActn" type="InvestigationRequestAction1__1"></xs:element>
            <xs:element name="InvstgtnTp" type="InvestigationType1Choice__1"></xs:element>
            <xs:element name="UndrlygInstrm" type="UnderlyingInvestigationInstrument1Choice__1"></xs:element>
            <xs:element name="Rqstr" type="Party40Choice__1"></xs:element>
            <xs:element name="Rspndr" type="Party40Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestAction1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationAction1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestAction1__1"><xs:sequence>
            <xs:element name="Actn" type="InvestigationRequestAction1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnRsn" type="InvestigationActionReason1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationResponse9__1"><xs:sequence>
            <xs:element name="MsgId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrInvstgtnId" type="CASE_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="InvstgtnSts" type="InvestigationStatus2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnData" type="InvestigationData6__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationResponseV02"><xs:sequence>
            <xs:element name="InvstgtnRspn" type="InvestigationResponse9__1"></xs:element>
            <xs:element name="OrgnlInvstgtnReq" type="InvestigationRequest3__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationStatus2__1"><xs:sequence>
            <xs:element name="Sts" type="ExternalInvestigationStatus1Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="InvestigationStatusReason1Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationStatusReason1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationStatusReason1Code"></xs:element>
            <xs:element name="Prtry" type="CASE_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationType1Code_fixed"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40Choice__1"><xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnderlyingInvestigationInstrument1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationInstrument1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
