EE_PARA/EE_PARA/mfvr/swift/mx/2025/camt.111.001.02_swift.case.ccnrconr.01.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.111.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.111.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1"><xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"></xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate"><xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BookingConfirmation5__1"><xs:sequence>
            <xs:element name="Amt" type="CASE_Amount"></xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="CashAccount40__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BookgDt" type="DateAndDateTime2Choice__1"></xs:element>
            <xs:element name="ValDt" type="DateAndDateTime2Choice__1"></xs:element>
            <xs:element name="Refs" type="TransactionReferences6__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="CASE_RestrictedFINXMax140Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CASE_Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CASE_Amount"><xs:simpleContent>
            <xs:extension base="CASE_Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CASE_RestrictedFINXMax105Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax140Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax16Text"><xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax320Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="320"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax34Text"><xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CASE_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount40__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AccountIdentification4Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode__1"><xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1"><xs:choice>
            <xs:element name="Dt" type="ISODate"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InvstgtnRspn" type="InvestigationResponseV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalInvestigationAction1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationActionReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationInstrument1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationStatus1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationStatusReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInvestigationType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentTransactionStatus1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalStatusReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1"><xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="CASE_RestrictedFINXMax34Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate"><xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="InvestigationActionReason1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationActionReason1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationActionReason1__1"><xs:sequence>
            <xs:element name="Rsn" type="InvestigationActionReason1Choice__1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="AddtlInf" type="CASE_RestrictedFINXMax105Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationData6__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlInvstgtnRsn" type="InvestigationReason1Choice__1"></xs:element>
            <xs:element name="RspnData" type="InvestigationDataRecord7Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnOrgtr" type="Party40Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationDataRecord7Choice__1"><xs:choice>
            <xs:element name="Conf" type="BookingConfirmation5__1"></xs:element>
            <xs:element name="TxSts" type="PaymentTransactionStatus1__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationReason1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationReason1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationRequest3__1"><xs:sequence>
            <xs:element name="MsgId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="RqstrInvstgtnId" type="CASE_RestrictedFINXMax16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrInvstgtnId" type="CASE_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="EIR" type="UUIDv4Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqActn" type="InvestigationRequestAction1__1"></xs:element>
            <xs:element name="InvstgtnTp" type="InvestigationType1Choice__1"></xs:element>
            <xs:element name="UndrlygInstrm" type="UnderlyingInvestigationInstrument1Choice__1"></xs:element>
            <xs:element name="Rqstr" type="Party40Choice__1"></xs:element>
            <xs:element name="Rspndr" type="Party40Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestAction1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationAction1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestAction1__1"><xs:sequence>
            <xs:element name="Actn" type="InvestigationRequestAction1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnRsn" type="InvestigationActionReason1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationResponse9__1"><xs:sequence>
            <xs:element name="MsgId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrInvstgtnId" type="CASE_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="InvstgtnSts" type="InvestigationStatus2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnData" type="InvestigationData6__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationResponseV02"><xs:sequence>
            <xs:element name="InvstgtnRspn" type="InvestigationResponse9__1"></xs:element>
            <xs:element name="OrgnlInvstgtnReq" type="InvestigationRequest3__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationStatus2__1"><xs:sequence>
            <xs:element name="Sts" type="ExternalInvestigationStatus1Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="InvestigationStatusReason1Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationStatusReason1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationStatusReason1Code"></xs:element>
            <xs:element name="Prtry" type="CASE_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestigationType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationType1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party40Choice__1"><xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentTransactionStatus1__1"><xs:sequence>
            <xs:element name="Sts" type="TransactionStatus1Choice__1"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StsRsnInf" type="StatusReasonInformation12__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReference1__1"><xs:sequence>
            <xs:element name="Tp" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="Ref" type="CASE_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountIdentification1__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice__1"></xs:element>
            <xs:element name="Id" type="CASE_RestrictedFINXMax320Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CASE_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusReason6Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusReasonInformation12__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="StatusReason6Choice__1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="AddtlInf" type="CASE_RestrictedFINXMax105Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences6__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrRef" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="CASE_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prtry" type="ProprietaryReference1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalPaymentTransactionStatus1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnderlyingInvestigationInstrument1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalInvestigationInstrument1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
