EE_PARA/EE_PARA/mfvr/swift/mx/2025/camt.025.001.08_swift.cbprplus.01.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.025.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.025.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="CBPR_DateTime"><xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-4])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax105Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="Rct" type="ReceiptV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalRequestStatus1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalStatusReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader9__1"><xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="CreDtTm" type="CBPR_DateTime"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalMessageAndIssuer1__1"><xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="MsgNmId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Receipt6__1"><xs:sequence>
            <xs:element name="OrgnlMsgId" type="OriginalMessageAndIssuer1__1"></xs:element>
            <xs:element name="ReqHdlg" type="RequestHandling3__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptV08"><xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader9__1"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RctDtls" type="Receipt6__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestHandling3__1"><xs:sequence>
            <xs:element name="Sts" type="RequestStatus1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="StatusReasonInformation14__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestStatus1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalRequestStatus1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusReason6Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalStatusReason1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusReasonInformation14__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="StatusReason6Choice__1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="AddtlInf" type="CBPR_RestrictedFINXMax105Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
