EE_PARA/EE_PARA/mfvr/swift/mx/2025/camt.109.001.01_swift.cbprplus.03.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.109.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.109.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1"><xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"></xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CBPR_Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CBPR_Amount"><xs:simpleContent>
            <xs:extension base="CBPR_Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CBPR_ChequeCancellationOrStopStatusCode"><xs:restriction base="xs:string">
            <xs:enumeration value="RJCR"></xs:enumeration>
            <xs:enumeration value="ACCR"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_DateTime"><xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-4])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax140Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax140Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax16Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax16Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax28Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax320Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="320"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax34Text"><xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax70Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax70Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount40__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AccountIdentification4Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CBPR_RestrictedFINXMax70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Cheque14__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="OrgnlInstrId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="ChqNb" type="CBPR_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="IsseDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StlDt" type="ISODate"></xs:element>
            <xs:element name="Amt" type="CBPR_Amount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="DateAndDateTime2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DrwrAgt" type="BranchAndFinancialInstitutionIdentification6__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DrwrAgtAcct" type="CashAccount40__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyee" type="PartyIdentification135__1"></xs:element>
            <xs:element name="ChqCxlOrStopSts" type="ChequeCancellationStatus1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChequeCancellationOrStopReportV01"><xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader103__1"></xs:element>
            <xs:element name="Chq" type="Cheque14__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChequeCancellationStatus1Choice__1"><xs:choice>
            <xs:element name="Cd" type="CBPR_ChequeCancellationOrStopStatusCode"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChequeCancellationStatus1__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="ChequePartyRole1Code"></xs:element>
            <xs:element name="Sts" type="ChequeCancellationStatus1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CBPR_RestrictedFINXMax140Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ChequePartyRole1Code"><xs:restriction base="xs:string">
            <xs:enumeration value="DWEA"></xs:enumeration>
            <xs:enumeration value="DWRA"></xs:enumeration>
            <xs:enumeration value="PAYE"></xs:enumeration>
            <xs:enumeration value="PAYR"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1"><xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"></xs:element>
            <xs:element name="MmbId" type="CBPR_RestrictedFINXMax28Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1"><xs:choice>
            <xs:element name="Dt" type="ISODate"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1__1"><xs:sequence>
            <xs:element name="BirthDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element name="CityOfBirth" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element name="CtryOfBirth" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber"><xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ChqCxlOrStopRpt" type="ChequeCancellationOrStopReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CBPR_RestrictedFINXMax140Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax34Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader103__1"><xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax16Text"></xs:element>
            <xs:element name="CreDtTm" type="CBPR_DateTime"></xs:element>
            <xs:element name="NbOfChqs" type="Max15NumericText"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrlSum" type="DecimalNumber"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate"><xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party38Choice__1"><xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29__1"></xs:element>
            <xs:element name="PrvtId" type="PersonIdentification13__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__1"><xs:sequence>
            <xs:element name="Nm" type="CBPR_RestrictedFINXMax140Text_Extended"></xs:element>
            <xs:element name="PstlAdr" type="PostalAddress24__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1__1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericPersonIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountIdentification1__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice__1"></xs:element>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax320Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
