EE_PARA/EE_PARA/mfvr/swift/mx/2025/pacs.010.001.03_swift.cbprplus.col.02.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.010.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.010.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1"><xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"></xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount"><xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__2"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CBPR_DateTime"><xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-4])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax140Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax16Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax210Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax28Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax320Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="320"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax34Text"><xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax70Text"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax70Text_Extended"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_Time"><xs:restriction base="xs:time">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-4])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount38__1"><xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CBPR_RestrictedFINXMax70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CategoryPurpose1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1"><xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"></xs:element>
            <xs:element name="MmbId" type="CBPR_RestrictedFINXMax28Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditTransferTransaction38__1"><xs:sequence>
            <xs:element name="CdtId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation28__1"></xs:element>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1"></xs:element>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="CashAccount38__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2Acct" type="CashAccount38__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3Acct" type="CashAccount38__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount38__1"></xs:element>
            <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcct" type="CashAccount38__1"></xs:element>
            <xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformation25__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DirectDebitTransactionInformation25__1"><xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification7__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation28__2"></xs:element>
            <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"></xs:element>
            <xs:element name="IntrBkSttlmDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTmReq" type="SettlementTimeRequest2__1"></xs:element>
            <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="CashAccount38__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount38__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrForDbtrAgt" type="CBPR_RestrictedFINXMax210Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Purpose2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation2__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FIDrctDbt" type="FinancialInstitutionDirectDebitV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPurpose1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionDirectDebitV03"><xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader92__1"></xs:element>
            <xs:element name="CdtInstr" type="CreditTransferTransaction38__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__1"><xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CBPR_RestrictedFINXMax140Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax34Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader92__1"><xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="CreDtTm" type="CBPR_DateTime"></xs:element>
            <xs:element name="NbOfTxs" type="Max15NumericText_fixed"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate"><xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalInstrument2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max15NumericText_fixed"><xs:restriction base="xs:string">
            <xs:enumeration value="1"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentIdentification7__1"><xs:sequence>
            <xs:element name="InstrId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="EndToEndId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="CBPR_RestrictedFINXMax35Text"></xs:element>
            <xs:element name="UETR" type="UUIDv4Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysRef" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="CBPR_RestrictedFINXMax16Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="CBPR_RestrictedFINXMax35Text_Extended"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="CBPR_RestrictedFINXMax70Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority2Code"><xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"></xs:enumeration>
            <xs:enumeration value="NORM"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProxyAccountIdentification1__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice__1"></xs:element>
            <xs:element name="Id" type="CBPR_RestrictedFINXMax320Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Purpose2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalPurpose1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation2__1"><xs:sequence>
            <xs:element name="Ustrd" type="CBPR_RestrictedFINXMax140Text_Extended"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceLevel8Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"></xs:element>
            <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementTimeRequest2__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CLSTm" type="CBPR_Time"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TillTm" type="CBPR_Time"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrTm" type="CBPR_Time"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctTm" type="CBPR_Time"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
