EE_PARA/EE_PARA/mfvr/swift/mx/2025/trck.003.001.02_swift.gpi.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: SWIFT GPI
Collection: TrackerAlertNotification_trck.003_SR2024
Usage Guideline: TrackerAlertNotificationV02_trck.003.001.02
Base Message: trck.003.001.02
Date of publication: 05 March 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_F8b8mJ5rEe6U8s_F3jQm5A/_F8b8mZ5rEe6U8s_F3jQm5A
Description: The TrackerAlertNotification message is sent by a tracking facility to a party involved in the business transaction that tried to update the status of this transaction to alert that party on an issue with the update.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-03-12T14:03:49+00:00
-->
<xs:schema xmlns="urn:swift:xsd:trck.003.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:trck.003.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrckrAlrtNtfctn" type="TrackerAlertNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification21__1">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessInstruction4__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="RestrictedFINXMax35Text"/>
            <xs:element name="MsgNmId" type="RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification10__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="RestrictedFINXMax35Text"/>
            <xs:element name="UETR" type="UUIDv4Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax105Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Max4Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerAlertNotificationStatus1__1">
        <xs:sequence>
            <xs:element name="AlrtSts" type="TrackerAlertStatus1Choice__1"/>
            <xs:element name="StsRsn" type="TrackerAlertStatusReason1Choice__1"/>
            <xs:element name="AddtlInf" type="RestrictedFINXMax105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerAlertNotificationV02">
        <xs:sequence>
            <xs:element name="GrpHdr" type="TrackerHeader5__1"/>
            <xs:element name="TrckrStsAndTx" type="TrackerStatusAndTransaction7__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerAlertStatus1Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Max4Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerAlertStatusReason1Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max4Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerHeader5__1">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerParty2Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FinInstnId" type="FinancialInstitutionIdentification21__1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerPartyIdentification2__1">
        <xs:sequence>
            <xs:element name="Id" type="TrackerParty2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerPaymentTransaction7__1">
        <xs:sequence>
            <xs:element name="TrckdMsgId" type="OriginalBusinessInstruction4__1"/>
            <xs:element name="TrckrInfrmgPty" type="TrackerPartyIdentification2__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtId" type="PaymentIdentification10__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerStatusAndTransaction7__1">
        <xs:sequence>
            <xs:element name="AlrtSts" type="TrackerAlertNotificationStatus1__1"/>
            <xs:element name="Tx" type="TrackerPaymentTransaction7__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
