EE_PARA/EE_PARA/mfvr/swift/mx/2025/trck.002.001.02_swift.gpi.gcov.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: SWIFT GPI
Collection: gCCT_gCOV_trck.001_trck.002_SR2024
Usage Guideline: gCOV_trck.002.001.02 - PaymentStatusTrackerReportV02
Base Message: trck.002.001.02
Date of publication: 15 March 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_L-eYYIVXEe6L1JtA5b5xJw/_TNi8AIhpEe6efKYjRiq93Q
Description: The PaymentStatusTrackerReport message is sent by a tracking facility to relevant parties involved in the business transaction to report on the progress of one or more business transaction(s) and obtain transparency on the status.

Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-03-18T09:12:11+00:00
-->
<xs:schema xmlns="urn:swift:xsd:trck.002.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:trck.002.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="AddressType2Code"/>
                <xs:element name="Prtry" type="GenericIdentification30"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__2">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification3Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditTransferTransaction46__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt1" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt2" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt3" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification6__2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="ISONormalisedDateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PmtStsTrckrRpt" type="PaymentStatusTrackerReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashClearingSystem1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification21__1">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessInstruction4__1">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party40Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification10__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="RestrictedFINXMax35Text"/>
            <xs:element name="UETR" type="UUIDv4Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentRejectReturnReason1__1">
        <xs:sequence>
            <xs:element name="Rsn" type="ReturnReason5Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusReason1__1">
        <xs:sequence>
            <xs:element name="Rsn" type="StatusReason6Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusTrackerReportV02">
        <xs:sequence>
            <xs:element name="GrpHdr" type="TrackerHeader5__1"/>
            <xs:element name="TrckrStsAndTx" type="TrackerStatusAndTransaction13__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28__1">
        <xs:sequence>
            <xs:element name="SvcLvl" type="ServiceLevel8Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectReturnReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AC01"/>
            <xs:enumeration value="AC02"/>
            <xs:enumeration value="AC04"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="AC07"/>
            <xs:enumeration value="AC13"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="AM02"/>
            <xs:enumeration value="AM03"/>
            <xs:enumeration value="AM04"/>
            <xs:enumeration value="AM06"/>
            <xs:enumeration value="AM07"/>
            <xs:enumeration value="AM09"/>
            <xs:enumeration value="BE01"/>
            <xs:enumeration value="BE04"/>
            <xs:enumeration value="BE05"/>
            <xs:enumeration value="BE07"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="ERIN"/>
            <xs:enumeration value="FF03"/>
            <xs:enumeration value="FF04"/>
            <xs:enumeration value="FF05"/>
            <xs:enumeration value="FF06"/>
            <xs:enumeration value="FF07"/>
            <xs:enumeration value="FOCR"/>
            <xs:enumeration value="FR01"/>
            <xs:enumeration value="G004"/>
            <xs:enumeration value="MS02"/>
            <xs:enumeration value="MS03"/>
            <xs:enumeration value="NOAS"/>
            <xs:enumeration value="NOCM"/>
            <xs:enumeration value="RC01"/>
            <xs:enumeration value="RC03"/>
            <xs:enumeration value="RC04"/>
            <xs:enumeration value="RC08"/>
            <xs:enumeration value="RC11"/>
            <xs:enumeration value="RR01"/>
            <xs:enumeration value="RR02"/>
            <xs:enumeration value="RR03"/>
            <xs:enumeration value="RR04"/>
            <xs:enumeration value="RR05"/>
            <xs:enumeration value="RR06"/>
            <xs:enumeration value="RR07"/>
            <xs:enumeration value="RR08"/>
            <xs:enumeration value="RR09"/>
            <xs:enumeration value="RR11"/>
            <xs:enumeration value="RR12"/>
            <xs:enumeration value="RUTA"/>
            <xs:enumeration value="UPAY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReturnReason5Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectReturnReason1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceLevel8Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TrackerTransactionServiceLevel2Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInstruction9__1">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSys" type="ClearingSystemIdentification3Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementMethod1Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="INGA"/>
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusReason6Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TrackerTransactionStatusReason4Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerData8__1">
        <xs:sequence>
            <xs:element name="ConfdDt" type="DateAndDateTime2Choice__1"/>
            <xs:element name="ConfdAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerHeader5__1">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINMax35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerParty2Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FinInstnId" type="FinancialInstitutionIdentification21__1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerPartyIdentification2__1">
        <xs:sequence>
            <xs:element name="Id" type="TrackerParty2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrackerPaymentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCC"/>
            <xs:enumeration value="ACSP"/>
            <xs:enumeration value="RJCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TrackerPaymentTransaction11__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TrckdMsgId" type="OriginalBusinessInstruction4__1"/>
            <xs:element name="TrckrInfrmgPty" type="TrackerPartyIdentification2__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechSndr" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcvr" type="BICFIDec2014Identifier"/>
            <xs:element name="PmtId" type="PaymentIdentification10__1"/>
            <xs:element name="PmtTpInf" type="PaymentTypeInformation28__1"/>
            <xs:element name="PmtScnro" type="gpi_PaymentScenario4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmInf" type="SettlementInstruction9__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrckrData" type="TrackerData8__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt1" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt2" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt3" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="Party40Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="Party40Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygCstmrCdtTrf" type="CreditTransferTransaction46__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerStatus4__1">
        <xs:sequence>
            <xs:element name="Sts" type="TrackerPaymentStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="DateAndDateTime2Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="PaymentStatusReason1__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctRtrRsn" type="PaymentRejectReturnReason1__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerStatusAndTransaction13__1">
        <xs:sequence>
            <xs:element name="TxSts" type="TrackerStatus4__1"/>
            <xs:element name="Tx" type="TrackerPaymentTransaction11__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrackerTransactionServiceLevel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="G001"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrackerTransactionStatusReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="G000"/>
            <xs:enumeration value="G001"/>
            <xs:enumeration value="G002"/>
            <xs:enumeration value="G003"/>
            <xs:enumeration value="G004"/>
            <xs:enumeration value="G005"/>
            <xs:enumeration value="G006"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gpi_PaymentScenario4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COVE"/>
            <xs:enumeration value="RCOV"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
