EE_PARA/EE_PARA/mfvr/swift/mx/2025/trck.005.001.02_swift.casemgt.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: SWIFT GPI
Collection: Case Management trck.005_SR2024
Usage Guideline: trck.005.001.02 - TrackerInvestigationStatusNotificationV02
Base Message: trck.005.001.02
Date of publication: 12 January 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_L-xRILE6Ee6waYvv0XD_oA/_SJ_dQLE6Ee6waYvv0XD_oA
Description: The TrackerInvestigationStatusNotification message is sent by a tracking facility to a party involved in the business transaction to report on the status of an investigation request they have sent or received for the transaction.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-03-12T14:03:52+00:00
-->
<xs:schema xmlns="urn:swift:xsd:trck.005.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:trck.005.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TrckrInvstgtnStsNtfctn" type="TrackerInvestigationStatusNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification21__1">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestigationIdentification1__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RqstrInvstgtnId" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrInvstgtnId" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EIR" type="UUIDv4Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestStatus1Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationRequestStatusReason1Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationSubType1Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestigationType2Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessInstruction4__1">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
            <xs:element name="MsgNmId" type="RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party40Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerHeader8__1">
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISONormalisedDateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerInvestigationRequest2__1">
        <xs:sequence>
            <xs:element name="InvstgtnTp" type="InvestigationType2Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnSubTp" type="InvestigationSubType1Choice__1"/>
            <xs:element name="StsAndAssgnmt" type="TrackerInvestigationRequestStatus2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerInvestigationRequestStatus2__1">
        <xs:sequence>
            <xs:element name="Sts" type="InvestigationRequestStatus1Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="InvestigationRequestStatusReason1Choice__1"/>
            <xs:element name="TrckrInfrmgPty" type="TrackerPartyIdentification2__1"/>
            <xs:element name="TrckdMsgId" type="OriginalBusinessInstruction4__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnId" type="InvestigationIdentification1__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnRqstr" type="Party40Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnRspndr" type="Party40Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerInvestigationStatusNotificationV02">
        <xs:sequence>
            <xs:element name="GrpHdr" type="TrackerHeader8__1"/>
            <xs:element name="InvstgtnTrckg" type="TrackerInvestigationRequest2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerParty2Choice__1">
        <xs:sequence>
            <xs:choice>
                <xs:element name="FinInstnId" type="FinancialInstitutionIdentification21__1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackerPartyIdentification2__1">
        <xs:sequence>
            <xs:element name="Id" type="TrackerParty2Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
