EE_PARA/EE_PARA/mfvr_20250507/swift/mx/2023/pain.008.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Cross Border Payments and Reporting Plus (CBPR+)
Collection: CBPRPlus_ISO 20022_Portfolio_Release 2023
Usage Guideline: CBPRPlus-pain.008.001.08_CustomerDirectDebitInitiation
Base Message: pain.008.001.08
Date of publication: 16 December 2022
URL: https://www2.swift.com/mystandards/#/mp/mx/_UQsRECZ9EeyFELcOlo2Q4w/_9lTlsferEeym8eIQjOxoYg
Description: Principles:

1. The CustomerDirectDebitInitiation message is sent by the initiating party to the forwarding agent which acts as a concentrating financial institution. It will forward the CustomerDirectDebitInitiation message to the creditor agent.

2. Character Set:
All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

All Name and Address for all actors, Related Remittance Information and Remittance Information (structured and unstructured), Email Address where included as part of a proxy element are extended to support the following additional characters:

!#$%&*=^_`{|}~";<>@[\]

< is replaced with &lt;
> is replaced with &gt;
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-01-27T20:59:26+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.008.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.008.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice"><xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"></xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount"><xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code"><xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"></xs:enumeration>
            <xs:enumeration value="PBOX"></xs:enumeration>
            <xs:enumeration value="HOME"></xs:enumeration>
            <xs:enumeration value="BIZZ"></xs:enumeration>
            <xs:enumeration value="MLTO"></xs:enumeration>
            <xs:enumeration value="DLVY"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice"><xs:choice>
            <xs:element name="Cd" type="AddressType2Code"></xs:element>
            <xs:element name="Prtry" type="GenericIdentification30"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmendmentInformationDetails13__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMndtId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCdtrSchmeId" type="PartyIdentification135"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification6__4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCdtrAgtAcct" type="CashAccount38"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlDbtr" type="PartyIdentification135"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlDbtrAcct" type="CashAccount38__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification6__5"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlDbtrAgtAcct" type="CashAccount38"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlFnlColltnDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlFrqcy" type="Frequency36Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRsn" type="MandateSetupReason1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTrckgDays" type="Exact2NumericText"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Authorisation1Choice"><xs:choice>
            <xs:element name="Cd" type="Authorisation1Code"></xs:element>
            <xs:element name="Prtry" type="Max128Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Authorisation1Code"><xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"></xs:enumeration>
            <xs:enumeration value="FDET"></xs:enumeration>
            <xs:enumeration value="FSUM"></xs:enumeration>
            <xs:enumeration value="ILEV"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BatchBookingIndicator"><xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__2"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__3"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__3"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__4"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__4"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__5"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__6"><xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__5"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38"><xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38__1"><xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CategoryPurpose1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ChargeBearerType1Code__1"><xs:restriction base="xs:string">
            <xs:enumeration value="DEBT"></xs:enumeration>
            <xs:enumeration value="CRED"></xs:enumeration>
            <xs:enumeration value="SHAR"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"></xs:element>
            <xs:element name="MmbId" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1"><xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1"></xs:element>
            <xs:element name="MmbId" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contact4"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod1Code"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode"><xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"></xs:enumeration>
            <xs:enumeration value="DBIT"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditorReferenceInformation2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CreditorReferenceType2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditorReferenceType1Choice"><xs:choice>
            <xs:element name="Cd" type="DocumentType3Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CreditorReferenceType2"><xs:sequence>
            <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerDirectDebitInitiationV08"><xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader83__1"></xs:element>
            <xs:element name="PmtInf" type="PaymentInstruction29__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1"><xs:sequence>
            <xs:element name="BirthDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"></xs:element>
            <xs:element name="CityOfBirth" type="Max35Text"></xs:element>
            <xs:element name="CtryOfBirth" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod2"><xs:sequence>
            <xs:element name="FrDt" type="ISODate"></xs:element>
            <xs:element name="ToDt" type="ISODate"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber"><xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DirectDebitTransaction10__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtRltdInf" type="MandateRelatedInformation14__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrSchmeId" type="PartyIdentification135__3"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PreNtfctnId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PreNtfctnDt" type="ISODate"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DirectDebitTransactionInformation23__1"><xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification6"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation29__1"></xs:element>
            <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgBr" type="ChargeBearerType1Code__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctDbtTx" type="DirectDebitTransaction10__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtCdtr" type="PartyIdentification135__4"></xs:element>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification6__6"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount38"></xs:element>
            <xs:element name="Dbtr" type="PartyIdentification135__5"></xs:element>
            <xs:element name="DbtrAcct" type="CashAccount38"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="PartyIdentification135__6"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrForCdtrAgt" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Purpose2Choice"></xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting3"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tax" type="TaxInformation8"></xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="RltdRmtInf" type="RemittanceLocation7"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation16__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DiscountAmountAndType1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="DiscountAmountType1Choice"></xs:element>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DiscountAmountType1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalDiscountAmountType1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CstmrDrctDbtInitn" type="CustomerDirectDebitInitiationV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentAdjustment1"><xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max4Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineIdentification1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="DocumentLineType1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdDt" type="ISODate"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineInformation1"><xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Id" type="DocumentLineIdentification1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max2048Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="RemittanceAmount3"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineType1"><xs:sequence>
            <xs:element name="CdOrPrtry" type="DocumentLineType1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentLineType1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalDocumentLineType1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DocumentType3Code"><xs:restriction base="xs:string">
            <xs:enumeration value="RADM"></xs:enumeration>
            <xs:enumeration value="RPIN"></xs:enumeration>
            <xs:enumeration value="FXDR"></xs:enumeration>
            <xs:enumeration value="DISP"></xs:enumeration>
            <xs:enumeration value="PUOR"></xs:enumeration>
            <xs:enumeration value="SCOR"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DocumentType6Code"><xs:restriction base="xs:string">
            <xs:enumeration value="MSIN"></xs:enumeration>
            <xs:enumeration value="CNFA"></xs:enumeration>
            <xs:enumeration value="DNFA"></xs:enumeration>
            <xs:enumeration value="CINV"></xs:enumeration>
            <xs:enumeration value="CREN"></xs:enumeration>
            <xs:enumeration value="DEBN"></xs:enumeration>
            <xs:enumeration value="HIRI"></xs:enumeration>
            <xs:enumeration value="SBIN"></xs:enumeration>
            <xs:enumeration value="CMCN"></xs:enumeration>
            <xs:enumeration value="SOAC"></xs:enumeration>
            <xs:enumeration value="DISP"></xs:enumeration>
            <xs:enumeration value="BOLD"></xs:enumeration>
            <xs:enumeration value="VCHR"></xs:enumeration>
            <xs:enumeration value="AROI"></xs:enumeration>
            <xs:enumeration value="TSUT"></xs:enumeration>
            <xs:enumeration value="PUOR"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText"><xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDiscountAmountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentLineType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalGarnishmentType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMandateSetupReason1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPurpose1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTaxAmountType1Code"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__1"><xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__3"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__3"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__4"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__3"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__5"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__6"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency36Choice"><xs:choice>
            <xs:element name="Tp" type="Frequency6Code"></xs:element>
            <xs:element name="Prd" type="FrequencyPeriod1"></xs:element>
            <xs:element name="PtInTm" type="FrequencyAndMoment1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Frequency6Code"><xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"></xs:enumeration>
            <xs:enumeration value="MNTH"></xs:enumeration>
            <xs:enumeration value="QURT"></xs:enumeration>
            <xs:enumeration value="MIAN"></xs:enumeration>
            <xs:enumeration value="WEEK"></xs:enumeration>
            <xs:enumeration value="DAIL"></xs:enumeration>
            <xs:enumeration value="ADHO"></xs:enumeration>
            <xs:enumeration value="INDA"></xs:enumeration>
            <xs:enumeration value="FRTN"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FrequencyAndMoment1"><xs:sequence>
            <xs:element name="Tp" type="Frequency6Code"></xs:element>
            <xs:element name="PtInTm" type="Exact2NumericText"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FrequencyPeriod1"><xs:sequence>
            <xs:element name="Tp" type="Frequency6Code"></xs:element>
            <xs:element name="CntPerPrd" type="DecimalNumber"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Garnishment3__1"><xs:sequence>
            <xs:element name="Tp" type="GarnishmentType1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Grnshee" type="PartyIdentification135__4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GrnshmtAdmstr" type="PartyIdentification135__4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FmlyMdclInsrncInd" type="TrueFalseIndicator"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MplyeeTermntnInd" type="TrueFalseIndicator"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GarnishmentType1"><xs:sequence>
            <xs:element name="CdOrPrtry" type="GarnishmentType1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GarnishmentType1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalGarnishmentType1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1"><xs:sequence>
            <xs:element name="Id" type="Max34Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1"><xs:sequence>
            <xs:element name="Id" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30"><xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"></xs:element>
            <xs:element name="Issr" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1"><xs:sequence>
            <xs:element name="Id" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="Max35Text"></xs:element>
            <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1"><xs:sequence>
            <xs:element name="Id" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1__1"><xs:sequence>
            <xs:element name="Id" type="Max35Text"></xs:element>
            <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader83__1"><xs:sequence>
            <xs:element name="MsgId" type="Max35Text"></xs:element>
            <xs:element name="CreDtTm" type="ISODateTime"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Authstn" type="Authorisation1Choice"></xs:element>
            <xs:element name="NbOfTxs" type="Max15NumericText"></xs:element>
            <xs:element name="InitgPty" type="PartyIdentification135__1"></xs:element>
            <xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification6__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate"><xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime"><xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier"><xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalInstrument2Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MandateRelatedInformation14__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MndtId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfSgntr" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdmntInd" type="TrueFalseIndicator"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdmntInfDtls" type="AmendmentInformationDetails13__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncSgntr" type="Max1025Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstColltnDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlColltnDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency36Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="MandateSetupReason1Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrckgDays" type="Exact2NumericText"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MandateSetupReason1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalMandateSetupReason1Code"></xs:element>
            <xs:element name="Prtry" type="Max70Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max1025Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText"><xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text"><xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress16"><xs:sequence>
            <xs:element name="Nm" type="Max140Text"></xs:element>
            <xs:element name="Adr" type="PostalAddress24"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code"><xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"></xs:enumeration>
            <xs:enumeration value="MADM"></xs:enumeration>
            <xs:enumeration value="MISS"></xs:enumeration>
            <xs:enumeration value="MIST"></xs:enumeration>
            <xs:enumeration value="MIKS"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number"><xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification29__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification29__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherContact1"><xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party38Choice"><xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29"></xs:element>
            <xs:element name="PrvtId" type="PersonIdentification13"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party38Choice__1"><xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29__1"></xs:element>
            <xs:element name="PrvtId" type="PersonIdentification13__1"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party38Choice__2"><xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification29__2"></xs:element>
            <xs:element name="PrvtId" type="PersonIdentification13__2"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__3"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact4"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__4"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__5"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__5"><xs:sequence>
            <xs:element name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__6"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__6"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__7"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party38Choice__1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification6"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="Max35Text"></xs:element>
            <xs:element name="EndToEndId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstruction29__1"><xs:sequence>
            <xs:element name="PmtInfId" type="Max35Text"></xs:element>
            <xs:element name="PmtMtd" type="PaymentMethod2Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchBookg" type="BatchBookingIndicator"></xs:element>
            <xs:element name="ReqdColltnDt" type="ISODate"></xs:element>
            <xs:element name="Cdtr" type="PartyIdentification135__2"></xs:element>
            <xs:element name="CdtrAcct" type="CashAccount38"></xs:element>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6__2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount38"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcct" type="CashAccount38"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgsAcctAgt" type="BranchAndFinancialInstitutionIdentification6__3"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DrctDbtTxInf" type="DirectDebitTransactionInformation23__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentMethod2Code"><xs:restriction base="xs:string">
            <xs:enumeration value="DD"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentTypeInformation29__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqTp" type="SequenceType3Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate"><xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification13"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericPersonIdentification1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification13__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"></xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericPersonIdentification1__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice__1"><xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber"><xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress24"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__3"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__4"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__5"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element name="Ctry" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__6"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AdrLine" type="Max70Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__7"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"></xs:element>
            <xs:element name="Ctry" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod1Code"><xs:restriction base="xs:string">
            <xs:enumeration value="LETT"></xs:enumeration>
            <xs:enumeration value="MAIL"></xs:enumeration>
            <xs:enumeration value="PHON"></xs:enumeration>
            <xs:enumeration value="FAXX"></xs:enumeration>
            <xs:enumeration value="CELL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority2Code"><xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"></xs:enumeration>
            <xs:enumeration value="NORM"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProxyAccountIdentification1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice"></xs:element>
            <xs:element name="Id" type="Max2048Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Purpose2Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalPurpose1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentInformation7"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ReferredDocumentType4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nb" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdDt" type="ISODate"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LineDtls" type="DocumentLineInformation1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType3Choice"><xs:choice>
            <xs:element name="Cd" type="DocumentType6Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReferredDocumentType4"><xs:sequence>
            <xs:element name="CdOrPrtry" type="ReferredDocumentType3Choice"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryAuthority2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting3"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtCdtRptgInd" type="RegulatoryReportingType1Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Authrty" type="RegulatoryAuthority2"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="StructuredRegulatoryReporting3"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RegulatoryReportingType1Code"><xs:restriction base="xs:string">
            <xs:enumeration value="CRED"></xs:enumeration>
            <xs:enumeration value="DEBT"></xs:enumeration>
            <xs:enumeration value="BOTH"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RemittanceAmount2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DscntApldAmt" type="DiscountAmountAndType1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxAmt" type="TaxAmountAndType1"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceAmount3"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DscntApldAmt" type="DiscountAmountAndType1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxAmt" type="TaxAmountAndType1"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation16__1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ustrd" type="Max140Text"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Strd" type="StructuredRemittanceInformation16__1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceLocation7"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RmtLctnDtls" type="RemittanceLocationData1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceLocationData1"><xs:sequence>
            <xs:element name="Mtd" type="RemittanceLocationMethod2Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncAdr" type="Max2048Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="NameAndAddress16"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RemittanceLocationMethod2Code"><xs:restriction base="xs:string">
            <xs:enumeration value="FAXI"></xs:enumeration>
            <xs:enumeration value="EDIC"></xs:enumeration>
            <xs:enumeration value="URID"></xs:enumeration>
            <xs:enumeration value="EMAL"></xs:enumeration>
            <xs:enumeration value="POST"></xs:enumeration>
            <xs:enumeration value="SMSM"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SequenceType3Code"><xs:restriction base="xs:string">
            <xs:enumeration value="FRST"></xs:enumeration>
            <xs:enumeration value="RCUR"></xs:enumeration>
            <xs:enumeration value="FNAL"></xs:enumeration>
            <xs:enumeration value="OOFF"></xs:enumeration>
            <xs:enumeration value="RPRE"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StructuredRegulatoryReporting3"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Max10Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Inf" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StructuredRemittanceInformation16__1"><xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RfrdDocInf" type="ReferredDocumentInformation7"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RfrdDocAmt" type="RemittanceAmount2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrRefInf" type="CreditorReferenceInformation2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Invcr" type="PartyIdentification135__4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Invcee" type="PartyIdentification135__4"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxRmt" type="TaxInformation7"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GrnshmtRmt" type="Garnishment3__1"></xs:element>
            <xs:element maxOccurs="3" minOccurs="0" name="AddtlRmtInf" type="Max140Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmount2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="TaxRecordDetails2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmountAndType1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TaxAmountType1Choice"></xs:element>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxAmountType1Choice"><xs:choice>
            <xs:element name="Cd" type="ExternalTaxAmountType1Code"></xs:element>
            <xs:element name="Prtry" type="Max35Text"></xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxAuthorisation1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Titl" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxInformation7"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="TaxParty1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="TaxParty2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="TaxParty2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AdmstnZone" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtd" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rcrd" type="TaxRecord2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxInformation8"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdtr" type="TaxParty1"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dbtr" type="TaxParty2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AdmstnZone" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max140Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtd" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"></xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rcrd" type="TaxRecord2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxParty1"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxParty2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Authstn" type="TaxAuthorisation1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxPeriod2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Yr" type="ISODate"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TaxRecordPeriod1Code"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DatePeriod2"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxRecord2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyDtls" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrSts" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CertId" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrmsCd" type="Max35Text"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="TaxPeriod2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxAmt" type="TaxAmount2"></xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxRecordDetails2"><xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="TaxPeriod2"></xs:element>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxRecordPeriod1Code"><xs:restriction base="xs:string">
            <xs:enumeration value="MM01"></xs:enumeration>
            <xs:enumeration value="MM02"></xs:enumeration>
            <xs:enumeration value="MM03"></xs:enumeration>
            <xs:enumeration value="MM04"></xs:enumeration>
            <xs:enumeration value="MM05"></xs:enumeration>
            <xs:enumeration value="MM06"></xs:enumeration>
            <xs:enumeration value="MM07"></xs:enumeration>
            <xs:enumeration value="MM08"></xs:enumeration>
            <xs:enumeration value="MM09"></xs:enumeration>
            <xs:enumeration value="MM10"></xs:enumeration>
            <xs:enumeration value="MM11"></xs:enumeration>
            <xs:enumeration value="MM12"></xs:enumeration>
            <xs:enumeration value="QTR1"></xs:enumeration>
            <xs:enumeration value="QTR2"></xs:enumeration>
            <xs:enumeration value="QTR3"></xs:enumeration>
            <xs:enumeration value="QTR4"></xs:enumeration>
            <xs:enumeration value="HLF1"></xs:enumeration>
            <xs:enumeration value="HLF2"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator"><xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UUIDv4Identifier"><xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
