Param/Param/CE_SYS/SCF/UploadValidation/typeBase.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="A0Type">
		<xs:restriction base="xs:string">
			<xs:length value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A7Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A2Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A3Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax7Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax9Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax16Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax25Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax35Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax70Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax350Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax700Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="700"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax1400Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1400"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax3500Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMax7000Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax1Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax2Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NDef3Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MDef3Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="-1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax3Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax10Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax15Type">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NDef3.4Type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NDef5Type">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="65535"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NMax14.2Type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YNType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="N12Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="N123Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="N8Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BIType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PF"/>
			<xs:enumeration value="RD"/>
			<xs:enumeration value="POF"/>
			<xs:enumeration value="DF"/>
			<xs:enumeration value="EF"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="ABL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ROLEType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SELLER"/>
			<xs:enumeration value="BUYER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MSGType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="InqAgmDetailInfo"/>
			<xs:enumeration value="InqSBRDetailInfo"/>
			<xs:enumeration value="InqPOCatalogData"/>
			<xs:enumeration value="InqPODetailInfo"/>
			<xs:enumeration value="LockUnlockPO"/>
			<xs:enumeration value="InqInvCatalogData"/>
			<xs:enumeration value="InqInvDetailInfo"/>
			<xs:enumeration value="LockUnlockInv"/>
			<xs:enumeration value="BuyerApv"/>
			<xs:enumeration value="FinanceReq"/>
			<xs:enumeration value="SettleReq"/>
			<xs:enumeration value="InqSBRList"/>
			<xs:enumeration value="InqDisputeDetail"/>
			<xs:enumeration value="DisputeReg"/>
			<xs:enumeration value="InqRegList"/>
			<xs:enumeration value="InqRegDetail"/>
			<xs:enumeration value="InqLoanList"/>
			<xs:enumeration value="InqLoanDetail"/>
			<xs:enumeration value="InqLoanListABL"/>
			<xs:enumeration value="InqLoanDetailABL"/>
			<xs:enumeration value="InqABLAgmDtl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CFREQType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="Q"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\w+([_.-]\w+)*@\w+([_.-]\w+)*\.\w+([_.-]\w+)*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
