EE_PARA/EE_PARA/Default/FORM/form_schema_PMAT_ChargeTracerList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CCY"/>
<element name="CHG_FREQ_CD__DESC__"/>
<element name="CHG_FREQ_CD"/>
<element name="CHG_STAT__DESC__"/>
<element name="CHG_STAT"/>
<element name="DUE_ON"/>
<element name="EPP_ID"/>
<element name="FA_TEMP_DT1"/>
<element name="FEE_AMT"/>
<element name="FEE_TP__DESC__"/>
<element name="FEE_TP"/>
<element name="LAST_TRACE_DT"/>
</sequence>
</complexType>
</element>
</schema>
