EE_PARA/EE_PARA/Default/FORM/form_multi_schema_COMM_CreateBuyerPricingTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BASE_FRT_TP__DESC__"/>
                            <element name="BASE_FRT_TP"/>
                            <element name="CCY"/>
                            <element name="CCY_TEMP"/>
                            <element name="COMM_TEMP1"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="FLAT_INT_RT"/>
                            <element name="INST_FIN_ID"/>
                            <element name="INT_BASE_RT_CD__DESC__"/>
                            <element name="INT_BASE_RT_CD"/>
                            <element name="OVD_INT_MARGIN"/>
                            <element name="PP_BS_TP__DESC__"/>
                            <element name="PP_BS_TP"/>
                            <element name="PP_TP_ID"/>
                            <element name="PP_TP_NM"/>
                            <element name="PercentageBaseFees">
                                <complexType>
                                    <sequence>
                                        <element name="BASE_CD"/>
                                        <element name="BENE_NM"/>
                                        <element name="BENE_TP_CD__DESC__"/>
                                        <element name="BENE_TP_CD"/>
                                        <element name="CCY"/>
                                        <element name="CHG_FREQ_CD"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FEE_ID"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FEE_TP_AMT"/>
                                        <element name="FEE_UNIT__DESC__"/>
                                        <element name="FEE_UNIT"/>
                                        <element name="MAX_AMT"/>
                                        <element name="MIN_AMT"/>
                                        <element name="PP_ID"/>
                                        <element name="PP_TP_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="REC_STAT"/>
                            <element name="TRX_DT"/>
                            <element name="TransactionBasedFees">
                                <complexType>
                                    <sequence>
                                        <element name="BASE_CD"/>
                                        <element name="BENE_NM"/>
                                        <element name="BENE_TP_CD__DESC__"/>
                                        <element name="BENE_TP_CD"/>
                                        <element name="CCY"/>
                                        <element name="CHG_FREQ_CD"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FEE_ID"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FEE_TP_AMT"/>
                                        <element name="FEE_UNIT__DESC__"/>
                                        <element name="FEE_UNIT"/>
                                        <element name="MAX_AMT"/>
                                        <element name="MIN_AMT"/>
                                        <element name="PP_ID"/>
                                        <element name="PP_TP_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
