EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_ActivityReportRequest_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="EntitieToBeReported">
<complexType>
<sequence>
<element name="TSU_ENT_REPT_BIC"/>
</sequence>
</complexType>
</element>
<element name="C_MAIN_REF"/>
<element name="TSU_FROM_DT"/>
<element name="TSU_FROM_DT_TM"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_TO_DT"/>
<element name="TSU_TO_DT_TM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
