EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_EFRemittance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="EFRemitInv">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_IF_CHG_PAID_FLG"/>
                            <element name="FA_IF_COMM_AMT"/>
                            <element name="FA_IF_COMM_RT"/>
                            <element name="FA_IF_HAN_CHG_PAMT"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TRF_DT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ExpRemi">
                    <complexType>
                        <sequence>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_REMI_REF"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SEL_SUBTTL_AMT"/>
                            <element name="FA_SEL_SUBTTL_DEDUCT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="FACTOR_IBAN"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_EF_AC_NO1"/>
                <element name="FA_EF_ID"/>
                <element name="FA_FACTOR_BIC"/>
                <element name="FA_FACTOR_ID"/>
                <element name="FA_FACTOR_NM"/>
                <element name="FA_IF_AC_NO1"/>
                <element name="FA_IF_CCY1"/>
                <element name="FA_IF_CCY2"/>
                <element name="FA_IF_CCY3"/>
                <element name="FA_IF_CCY4"/>
                <element name="FA_IF_CCY5"/>
                <element name="FA_IF_COMM_BK"/>
                <element name="FA_IF_COMM_BK2"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_REMI_AMT1"/>
                <element name="FA_REMI_DT"/>
                <element name="FA_REMI_REF"/>
                <element name="FA_TEMP3"/>
                <element name="OWNER_BR_NM"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
