EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_DFIndirectPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BA_UNIT_CODE"/>
                <element name="CLERK_ID"/>
                <element name="COMMON_PRDT_CODE"/>
                <element name="C_BU_ID"/>
                <element name="C_FUNC_NAME"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CB_FEE"/>
                <element name="FA_CB_FEE_CCY"/>
                <element name="FA_COLLAT_AMT"/>
                <element name="FA_COLLAT_RT"/>
                <element name="FA_COLL_AC_NO"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DR_AC_NO"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INDR_PMT_FLG__DESC__"/>
                <element name="FA_INDR_PMT_FLG"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_APPRV"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_EXTRA"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LOAN_AC_NO"/>
                <element name="FA_LOAN_INT_ACC_NO"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_OTH_CHG_AMT"/>
                <element name="FA_OTH_CHG_CCY"/>
                <element name="FA_OVDUE_INT_RT"/>
                <element name="FA_OVDUE_INT_SUM"/>
                <element name="FA_PAID_INT_SUM"/>
                <element name="FA_PAID_PRIN_SUM"/>
                <element name="FA_PMT_AC_NO"/>
                <element name="FA_PMT_AMT_SUM"/>
                <element name="FA_PMT_CCY"/>
                <element name="FA_PMT_DT"/>
                <element name="FA_PMT_REF"/>
                <element name="FA_PMT_TYPE__DESC__"/>
                <element name="FA_PMT_TYPE"/>
                <element name="FA_PMT_VAL_DT"/>
                <element name="FA_SEL_AC_AMT"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_STL_INSTR__DESC__"/>
                <element name="FA_STL_INSTR"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP_AMT16"/>
                <element name="FA_TEMP_CLEAR_SUM"/>
                <element name="FA_TEMP_INV_INT_AMT"/>
                <element name="FA_TEMP_NEW_ACC_FLG__DESC__"/>
                <element name="FA_TEMP_NEW_ACC_FLG"/>
                <element name="FA_TEMP_TRX_DT"/>
                <element name="FA_TEMP_TTL_COLLAT_AMT"/>
                <element name="FA_TTL_AMT_CLEARED"/>
                <element name="FA_TTL_AMT_DEDUCT"/>
                <element name="FA_TTL_COLLAT_AMT"/>
                <element name="FA_TTL_REFUND_INT"/>
                <element name="GL_BUSI_TYPE"/>
                <element name="IndirectPmt">
                    <complexType>
                        <sequence>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BK_CHG_AMT"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DEDUCT_AMT"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DSP_STATUS__DESC__"/>
                            <element name="FA_DSP_STATUS"/>
                            <element name="FA_FINAL_PMT_FLG__DESC__"/>
                            <element name="FA_FINAL_PMT_FLG"/>
                            <element name="FA_INT_BAL"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_INV_CLEAR_AMT"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_INV_LOAN_ID"/>
                            <element name="FA_INV_REFUND_INT"/>
                            <element name="FA_LAST_PINT_DT"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_PPAID_AMT"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_OVDUE_INT_RT"/>
                            <element name="FA_OVD_INT_AMT"/>
                            <element name="FA_PAID_INT_AMT"/>
                            <element name="FA_PAID_PRIN_AMT"/>
                            <element name="FA_PMT_AMT"/>
                            <element name="FA_PMT_CLEAR_TYPE__DESC__"/>
                            <element name="FA_PMT_CLEAR_TYPE"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_PMT_TYPE__DESC__"/>
                            <element name="FA_PMT_TYPE"/>
                            <element name="FA_PMT_VAL_DT"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TEMP_AMT12"/>
                            <element name="FA_TEMP_AMT13"/>
                            <element name="FA_TEMP_CRN_BA"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="FA_TEMP_INV_BA"/>
                            <element name="FA_TEMP_INV_INT_AMT"/>
                            <element name="FA_TRF_FX_RT"/>
                            <element name="IA_I_BASE_DAYS"/>
                            <element name="IA_Y_REFUND_INT"/>
                            <element name="TRX_DT"/>
                            <element name="Settle_loan">
                                <complexType>
                                    <sequence>
                                        <element name="FA_LOAN_VAL_DT"/>
                                        <element name="FA_INV_LOAN_TIMES"/>
                                        <element name="FA_LOAN_ID"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_INV_LOAN_ID"/>
                                        <element name="FA_LOAN_PAID_AMT"/>
                                        <element name="FA_LOAN_IPAID_AMT"/>
                                        <element name="FA_LOAN_PPAID_AMT"/>
                                        <element name="FA_LOAN_INT_AMT"/>
                                        <element name="FA_LAST_PINT_DT"/>
                                        <element name="FA_INV_LOAN_EBAL"/>
                                        <element name="FA_OVDUE_INT_RT"/>
                                        <element name="FA_TEMP_DT1"/>
                                        <element name="FA_INT_CHG_TYPE__DESC__"/>
                                        <element name="FA_INT_CHG_TYPE"/>
                                        <element name="FA_OVD_INT_EAMT"/>
                                        <element name="FA_LOAN_DUE_DT"/>
                                        <element name="IA_Y_REFUND_INT"/>
                                        <element name="FA_LOAN_INT_RT"/>
                                        <element name="FA_TEMP_LOAN_EBAL"/>
                                        <element name="FA_TEMP_AMT19"/>
                                        <element name="FA_LOAN_CCY"/>
                                        <element name="FA_TEMP_INV_INT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="OWNER_BR_NM"/>
                <element name="PRODUCT_CODE"/>
                <element name="RPT_CNTY_CODE1"/>
                <element name="RPT_TRX_REF_NO1"/>
                <element name="TEMP_TRX_DT"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
