EE_PARA/EE_PARA/Default/FORM/form_schema_TSUM_ReceiveInvoiceData_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CUST_AC_CCY1"/>
                <element name="C_MAIN_REF"/>
                <element name="C_UNIT_CODE"/>
                <element name="TSU_CCY"/>
                <element name="TSU_COMDATA_INS"/>
                <element name="TSU_COMM_AMT"/>
                <element name="TSU_COMM_DT"/>
                <element name="TSU_COMM_REF"/>
                <element name="TSU_CUST_ID"/>
                <element name="TSU_DOC_CUSTREF"/>
                <element name="TSU_POST_FIN__DESC__"/>
                <element name="TSU_POST_FIN"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_PO_INITIATOR__DESC__"/>
                <element name="TSU_PO_INITIATOR"/>
                <element name="TSU_TRX_STATUS__DESC__"/>
                <element name="TSU_TRX_STATUS"/>
                <element name="TSU_TTL_NET_AMT"/>
            </sequence>
        </complexType>
    </element>
</schema>
