EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_Incoming MT910.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BU"/>
                <element name="CANCEL_FLG"/>
                <element name="CCY_CUTOFF_DAY"/>
                <element name="CNTY_CODE"/>
                <element name="CPYT_FUNC_NAME"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUTOFF_DAY"/>
                <element name="CUTOFF_TIME"/>
                <element name="C_MAIN_REF"/>
                <element name="INW_X910_ACCOUNT_25"/>
                <element name="INW_X910_AMT_32A"/>
                <element name="INW_X910_CCY_32A"/>
                <element name="INW_X910_REF_20"/>
                <element name="INW_X910_RELATED_REF_21"/>
                <element name="INW_X910_VALUE_DATE_32A"/>
                <element name="NXT_STATUS"/>
                <element name="PAY_COMM_TMP"/>
                <element name="RES_STATUS"/>
                <element name="SWT_COMM_TMP"/>
                <element name="SYS_BUSI_UNIT"/>
                <element name="TOT_CHRG_AMT"/>
                <element name="TOT_DB_AMT"/>
                <element name="X910_BENECU_DD_FLAG"/>
                <element name="X910_BK2BK_INF1_72"/>
                <element name="X910_BK2BK_INF2_72"/>
                <element name="X910_BK2BK_INF3_72"/>
                <element name="X910_BK2BK_INF4_72"/>
                <element name="X910_BK2BK_INF5_72"/>
                <element name="X910_BK2BK_INF6_72"/>
                <element name="X910_MEDIBKACNO_56A"/>
                <element name="X910_MEDIBKADD1_56A"/>
                <element name="X910_MEDIBKADD2_56A"/>
                <element name="X910_MEDIBKADD3_56A"/>
                <element name="X910_MEDI_BKID_56A"/>
                <element name="X910_MEDI_BKNM_56A"/>
                <element name="X910_MEDI_BKSW_56A"/>
                <element name="X910_ORDBKACNO_52A"/>
                <element name="X910_ORDBKADD1_52A"/>
                <element name="X910_ORDBKADD2_52A"/>
                <element name="X910_ORDBKADD3_52A"/>
                <element name="X910_ORDCUACNO_50A"/>
                <element name="X910_ORDCUADD1_50A"/>
                <element name="X910_ORDCUADD2_50A"/>
                <element name="X910_ORDCUADD3_50A"/>
                <element name="X910_ORDCU_ID_50A"/>
                <element name="X910_ORDCU_NM_50A"/>
                <element name="X910_ORDCU_SW_50A"/>
                <element name="X910_ORD_BKID_52A"/>
                <element name="X910_ORD_BKNM_52A"/>
                <element name="X910_ORD_BKSW_52A"/>
                <element name="X910_TAG_50A"/>
                <element name="X910_TAG_52A"/>
                <element name="X910_TAG_56A"/>
            </sequence>
        </complexType>
    </element>
</schema>
