EE_PARA/EE_PARA/Default/FORM/form_schema_SYND_AmendSyndByPartp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADDIT_CONDITION"/>
                <element name="ADV_DT"/>
                <element name="AMD_DETAILS"/>
                <element name="AMD_DT"/>
                <element name="AMD_FROM__DESC__"/>
                <element name="AMD_FROM"/>
                <element name="AMD_TYPE__DESC__"/>
                <element name="AMD_TYPE"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_CNTY__DESC__"/>
                <element name="APPL_CNTY"/>
                <element name="APPL_ID"/>
                <element name="APPL_NM"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="BENE_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="DEC_MAST_LC_AMT"/>
                <element name="DEC_PCPT_AMT"/>
                <element name="DESC_OF_GOODS"/>
                <element name="DEST_PLACE"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="INC_MAST_LC_AMT"/>
                <element name="INC_PCPT_AMT"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="LC_NO"/>
                <element name="LEAD_BK_ADD_ORDER_NO"/>
                <element name="LEAD_MAIL_ADD_ORDER_NO"/>
                <element name="LEAD_NOTES"/>
                <element name="LEAD_TLX_NO"/>
                <element name="LOAD_PLACE"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MAST_END_DT"/>
                <element name="MAST_LC_AMT"/>
                <element name="MAST_LC_CCY"/>
                <element name="MAST_RISK_AMT"/>
                <element name="MAST_START_DT"/>
                <element name="MAST_TRX_DESC"/>
                <element name="MODULE_SELECT"/>
                <element name="NEG_TOL"/>
                <element name="NEW_MAST_RISK_AMT"/>
                <element name="NEW_PCPT_AMT"/>
                <element name="NEW_PCPT_EXPIRY_DT"/>
                <element name="NEW_SYND_PER"/>
                <element name="NOTES"/>
                <element name="PCPT_AMT"/>
                <element name="PCPT_BAL"/>
                <element name="PCPT_CCY"/>
                <element name="PCPT_EXPIRY_DT"/>
                <element name="PCPT_START_DT"/>
                <element name="POS_TOL"/>
                <element name="ParticipantHeader">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_STATUS"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FUND_FLAG__DESC__"/>
                            <element name="FUND_FLAG"/>
                            <element name="GRACE_DAYS"/>
                            <element name="RECRS_PRTY_CNTY_CD"/>
                            <element name="RECRS_PRTY_NM"/>
                            <element name="RECRS_PRTY_REF"/>
                            <element name="RECRS_PRTY_SW_ADD"/>
                            <element name="RECRS_PRTY_SW_TAG"/>
                            <element name="SYND_AMT"/>
                            <element name="SYND_BAL"/>
                            <element name="SYND_CCY"/>
                            <element name="SYND_EXPIRY_DT"/>
                            <element name="SYND_PART_NO"/>
                            <element name="SYND_RISK_TYPE__DESC__"/>
                            <element name="SYND_RISK_TYPE"/>
                            <element name="TTL_FUNDED_AMT"/>
                            <element name="TTL_PART_AMT"/>
                            <element name="TTL_PART_BAL"/>
                            <element name="ParticipantDetail">
                                <complexType>
                                    <sequence>
                                        <element name="SYND_PART_ID"/>
                                        <element name="SYND_PART_NM"/>
                                        <element name="SYND_PART_REF"/>
                                        <element name="PART_PER"/>
                                        <element name="SYND_PART_AMT"/>
                                        <element name="FUND_AMT"/>
                                        <element name="SYND_PART_CCY"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="SYND_PART_ADD1"/>
                                        <element name="SYND_PART_ADD2"/>
                                        <element name="SYND_PART_ADD3"/>
                                        <element name="SYND_PART_SW_TAG"/>
                                        <element name="SYND_PART_SW_ADD"/>
                                        <element name="SYND_PART_CNTY_CD"/>
                                        <element name="SYND_PART_DISCLS__DESC__"/>
                                        <element name="SYND_PART_DISCLS"/>
                                        <element name="SYND_PART_START_DT"/>
                                        <element name="SYND_AC_NO"/>
                                        <element name="SYND_AC_WT_BK_ADD1"/>
                                        <element name="SYND_AC_WT_BK_ADD2"/>
                                        <element name="SYND_AC_WT_BK_ADD3"/>
                                        <element name="SYND_AC_WT_BK_ID"/>
                                        <element name="SYND_AC_WT_BK_NM"/>
                                        <element name="SYND_AC_WT_BK_SWAD"/>
                                        <element name="SYND_ACWT_BK_SWTAG"/>
                                        <element name="SYND_PART_LIABACNO"/>
                                        <element name="SYND_PART_TYPE__DESC__"/>
                                        <element name="SYND_PART_TYPE"/>
                                        <element name="SYND_PART_BAL"/>
                                        <element name="INC_AMT"/>
                                        <element name="DEC_AMT"/>
                                        <element name="SYND_TLUNPDCHG_AMT"/>
                                        <element name="SYND_TLUNPDCHG_BAL"/>
                                        <element name="SYND_TLUNPDCHG_CCY"/>
                                        <element name="SYND_CHG_NARR"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="SYND_PART_NAMT"/>
                                        <element name="PART_EMAIL_ADD"/>
                                        <element name="PART_FAX_NO"/>
                                        <element name="PART_MAIL_ADD"/>
                                        <element name="PART_TLX_NO"/>
                                        <element name="SYND_PART_FAMT"/>
                                        <element name="PART_CHG_RATE"/>
                                        <element name="PART_CR_ACNO"/>
                                        <element name="PART_CR_CCY"/>
                                        <element name="PART_CR_VLDT"/>
                                        <element name="PART_DR_ACNO"/>
                                        <element name="PART_DR_CCY"/>
                                        <element name="PART_DR_VLDT"/>
                                        <element name="C_TRX_STATUS"/>
                                        <element name="SYND_CHG_PD_AMT"/>
                                        <element name="PART_DR_AMT"/>
                                        <element name="PART_CR_AMT"/>
                                        <element name="SYND_CHG_BAL_AMT"/>
                                        <element name="SYND_CHG_PAID_AT"/>
                                        <element name="SYND_CHG_PAY_AMT"/>
                                        <element name="LEAD_NOTES"/>
                                        <element name="SYND_PART_NOTES"/>
                                        <element name="SYND_AC_WT_NOTES"/>
                                        <element name="SYND_PART_PAY_AMT"/>
                                        <element name="COMM_SCHE__DESC__"/>
                                        <element name="COMM_SCHE"/>
                                        <element name="CHG_POLICY__DESC__"/>
                                        <element name="CHG_POLICY"/>
                                        <element name="COMM_DT"/>
                                        <element name="COMM_START_DT"/>
                                        <element name="COMM_END_DT"/>
                                        <element name="NXT_COMM_DT"/>
                                        <element name="COMM_PRE"/>
                                        <element name="COMM_TYPE__DESC__"/>
                                        <element name="COMM_TYPE"/>
                                        <element name="FUND_FLAG__DESC__"/>
                                        <element name="FUND_FLAG"/>
                                        <element name="AMD_REG_DT"/>
                                        <element name="SYND_NO_OF_PERIODS"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="R_ASSET_ACNO"/>
                <element name="SOURCE_REF"/>
                <element name="SYND_PER"/>
                <element name="SYND_RISK_AMT"/>
                <element name="TEMP_RECRS_PRTY_NM"/>
                <element name="TRX_TYPE"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
