EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_MemberF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="LM_ALLW_LMT_M"/>
                            <element name="LM_CCY"/>
                            <element name="LM_COMBINE"/>
                            <element name="LM_CRED_LMT_M"/>
                            <element name="LM_CRT_DAY_M"/>
                            <element name="LM_CSCL"/>
                            <element name="LM_CSH_RATE"/>
                            <element name="LM_CSL_DESC_M"/>
                            <element name="LM_CUST_ID_M"/>
                            <element name="LM_DEDU_FLAG"/>
                            <element name="LM_DUE"/>
                            <element name="LM_DUE_DAY_M"/>
                            <element name="LM_EXCE_FLAG"/>
                            <element name="LM_FACI_ID"/>
                            <element name="LM_FACI_TP"/>
                            <element name="LM_LEN"/>
                            <element name="LM_LMT"/>
                            <element name="LM_MDDR"/>
                            <element name="LM_OUTC_APLL"/>
                            <element name="LM_OUTC_APVL"/>
                            <element name="LM_OUTD_APLL"/>
                            <element name="LM_OUTD_APVL"/>
                            <element name="LM_OVER_OU"/>
                            <element name="LM_RCUST_ID_M"/>
                            <element name="LM_REVV_FLAG"/>
                            <element name="LM_SINC_APL_M"/>
                            <element name="LM_SIN_APL_M"/>
                            <element name="LM_SIN_APV_M"/>
                            <element name="LM_SIN_LMT_M"/>
                            <element name="LM_SOUTC_APL_M"/>
                            <element name="LM_SOUT_APL_M"/>
                            <element name="LM_SOUT_APV_M"/>
                            <element name="LM_SOUT_LMT_M"/>
                            <element name="LM_STATU"/>
                            <element name="LM_STATUS_M"/>
                            <element name="LM_STR_DAY_M"/>
                            <element name="LM_TENOR"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                            <element name="_confirm"/>
                            <element name="_delete"/>
                            <element name="isClose"/>
                            <element name="isGROUP"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
