EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Swift_Incoming_Del_Release.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_MSG_CONTENT"/>
<element name="C_MSG_TYPE"/>
<element name="C_REFUSE_REASON"/>
<element name="C_STP_CODE"/>
<element name="IsAgreeGroup"/>
<element name="RELEASE_DELETE_TYPE"/>
<element name="TRX_EDIT_TYPE"/>
<element name="_TOTAL_TRXL"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
