EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_RltdTxRefs017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BASELN_ID"/>
<element name="TSU_BASELN_VRSN"/>
<element name="TSU_FORCD_MTCH_FLG__DESC__"/>
<element name="TSU_FORCD_MTCH_FLG"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_TID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
