EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_Customer_s.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_CNTY_CODE"/>
                            <element name="LMTS_ACC"/>
                            <element name="LMTS_CUST"/>
                            <element name="LMTS_GROUP"/>
                            <element name="LMTS_INDU"/>
                            <element name="LMTS_RCUST"/>
                            <element name="LM_ACNT_ID"/>
                            <element name="LM_ALLW_LMT"/>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CHK_FIELD1"/>
                            <element name="LM_CHK_FIELD2"/>
                            <element name="LM_CHK_FIELD3"/>
                            <element name="LM_CLTR_DATE"/>
                            <element name="LM_CLTR_TEXT"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_CUST_ID"/>
                            <element name="LM_CUST_NAME"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_EDIT_REASN"/>
                            <element name="LM_GRUP_ID"/>
                            <element name="LM_INDU_ID"/>
                            <element name="LM_OTHR_TEXT"/>
                            <element name="LM_RCUST_ID"/>
                            <element name="LM_STATUS"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_SUBLIMIT"/>
                            <element name="LM_THIS_LMT"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
