EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_PoolFinancingReturn_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_ANCHOR_ACC"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_COUNTER_ACC"/>
                <element name="FA_COUNTER_ID"/>
                <element name="FA_COUNTER_NM"/>
                <element name="FA_CR_CNTR_NO"/>
                <element name="FA_CR_REF"/>
                <element name="FA_CUST_TYPE__DESC__"/>
                <element name="FA_CUST_TYPE"/>
                <element name="FA_FIN_TYPE__DESC__"/>
                <element name="FA_FIN_TYPE"/>
                <element name="FA_INT_CHG_TYPE__DESC__"/>
                <element name="FA_INT_CHG_TYPE"/>
                <element name="FA_INT_INCOME_ACNO"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LOAN_AC_NO"/>
                <element name="FA_LOAN_CCY"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_ID"/>
                <element name="FA_LOAN_INT_ACC_NO"/>
                <element name="FA_LOAN_INT_RT"/>
                <element name="FA_LOAN_PPAID_AMT"/>
                <element name="FA_LOAN_STATUS"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_OVDUE_INT_SUM"/>
                <element name="FA_PAID_INT_SUM"/>
                <element name="FA_PAID_PRIN_SUM"/>
                <element name="FA_PMT_CCY"/>
                <element name="FA_PMT_DT"/>
                <element name="FA_PMT_REF"/>
                <element name="FA_PMT_VAL_DT"/>
                <element name="FA_REBATE_ACCOUNT"/>
                <element name="FA_REBATE_AMT"/>
                <element name="FA_SBR_CCY"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_AMT"/>
                <element name="FA_SEL_AC_CCY"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TEMP_AMT12"/>
                <element name="FA_TEMP_DT1"/>
                <element name="FA_TEMP_TRX_DT"/>
                <element name="FA_TTL_FIN_RET_BAL"/>
                <element name="FA_TTL_LOAN_BAL"/>
                <element name="FA_TTL_REFUND_INT"/>
                <element name="GRACE_DAYS"/>
                <element name="IA_I_BASE_DAYS"/>
                <element name="IA_Y_REFUND_INT"/>
                <element name="LM_RSV_LINK"/>
                <element name="MultiCreditSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiCredit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_ANNGN_VAT_NO"/>
                                        <element name="C_MLDC_ASSGN_AC"/>
                                        <element name="C_MLDC_ASSGN_ADD1"/>
                                        <element name="C_MLDC_ASSGN_ADD2"/>
                                        <element name="C_MLDC_ASSGN_ADD3"/>
                                        <element name="C_MLDC_ASSGN_COR_MED"/>
                                        <element name="C_MLDC_ASSGN_EMAIL_ADD"/>
                                        <element name="C_MLDC_ASSGN_FAX_NO"/>
                                        <element name="C_MLDC_ASSGN_ID"/>
                                        <element name="C_MLDC_ASSGN_NM"/>
                                        <element name="C_MLDC_CR_AC"/>
                                        <element name="C_MLDC_CR_AC_TYPE"/>
                                        <element name="C_MLDC_CR_BK_AC"/>
                                        <element name="C_MLDC_CR_BK_ADD1"/>
                                        <element name="C_MLDC_CR_BK_ADD2"/>
                                        <element name="C_MLDC_CR_BK_ADD3"/>
                                        <element name="C_MLDC_CR_BK_COR_MED"/>
                                        <element name="C_MLDC_CR_BK_ID"/>
                                        <element name="C_MLDC_CR_BK_NAME"/>
                                        <element name="C_MLDC_CR_BK_SW_ADD"/>
                                        <element name="C_MLDC_CR_BK_SW_TAG"/>
                                        <element name="C_MLDC_CR_BRANCH"/>
                                        <element name="C_MLDC_CR_CCY"/>
                                        <element name="C_MLDC_CR_DEAL"/>
                                        <element name="F_MLDC_CR_RATE"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="D_MLDC_CR_VAL_DATE"/>
                                        <element name="N_MLDC_CR_AMT_CRCCY"/>
                                        <element name="N_MLDC_CR_AMT_TXCCY"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_ADV_MSG"/>
                                        <element name="C_MLDC_PAY_COV_MSG"/>
                                        <element name="C_MLDC_SETTLE_METHOD"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_CR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="N_MLDC_CR_CHG_LCCCY"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MultiDebitSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiDebit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_DR_AC"/>
                                        <element name="C_MLDC_DR_AC_TYPE"/>
                                        <element name="C_MLDC_DR_ADD1"/>
                                        <element name="C_MLDC_DR_ADD2"/>
                                        <element name="C_MLDC_DR_ADD3"/>
                                        <element name="C_MLDC_DR_BK_AC"/>
                                        <element name="C_MLDC_DR_BK_ADD1"/>
                                        <element name="C_MLDC_DR_BK_ADD2"/>
                                        <element name="C_MLDC_DR_BK_ADD3"/>
                                        <element name="C_MLDC_DR_BK_COR_MED"/>
                                        <element name="C_MLDC_DR_BK_ID"/>
                                        <element name="C_MLDC_DR_BK_NAME"/>
                                        <element name="C_MLDC_DR_BK_SW_ADD"/>
                                        <element name="C_MLDC_DR_BK_SW_TAG"/>
                                        <element name="C_MLDC_DR_BRANCH"/>
                                        <element name="C_MLDC_DR_CCY"/>
                                        <element name="C_MLDC_DR_CHG_FLAG"/>
                                        <element name="C_MLDC_DR_COR_MED"/>
                                        <element name="C_MLDC_DR_DEAL"/>
                                        <element name="C_MLDC_DR_EMAIL_ADD"/>
                                        <element name="C_MLDC_DR_FAX_NO"/>
                                        <element name="C_MLDC_DR_ID"/>
                                        <element name="C_MLDC_DR_NAME"/>
                                        <element name="C_MLDC_DR_VAT_NO"/>
                                        <element name="D_MLDC_DR_VAL_DATE"/>
                                        <element name="N_MLDC_DR_AMT_DRCCY"/>
                                        <element name="N_MLDC_DR_AMT_TXCCY"/>
                                        <element name="N_MLDC_DR_CHG_LCCCY"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="F_MLDC_DR_RATE"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_DR_BY"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_DR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_AMT14"/>
                <element name="TEMP_AMT40"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
