EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_InEDI12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="COMMON_PRDT_CODE"/>
                            <element name="C_FUNC_NAME"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BA_LINK"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_COLL_AC_NO"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INDR_PMT_FLG__DESC__"/>
                            <element name="FA_INDR_PMT_FLG"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_APPRV"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_LOAN_AC_NO"/>
                            <element name="FA_LOAN_INT_ACC_NO"/>
                            <element name="FA_MSG_TEXT02"/>
                            <element name="FA_PMT_AC_NO"/>
                            <element name="FA_PMT_AMT_SUM"/>
                            <element name="FA_PMT_CCY"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_PMT_REF"/>
                            <element name="FA_PMT_TYPE__DESC__"/>
                            <element name="FA_PMT_TYPE"/>
                            <element name="FA_PMT_VAL_DT"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TEMP_AMT14"/>
                            <element name="FA_TTL_AMT_CLEARED"/>
                            <element name="FA_TTL_AMT_DEDUCT"/>
                            <element name="LimitsDo">
                                <complexType>
                                    <sequence>
                                        <element name="LM_BASE_CCY"/>
                                        <element name="LM_CRED_LMT"/>
                                        <element name="LM_CRT_DAY"/>
                                        <element name="LM_DEBT_LMT"/>
                                        <element name="LM_DUE_DAY"/>
                                        <element name="LM_ERATE"/>
                                        <element name="LM_EVENT_TYPE"/>
                                        <element name="LM_ID"/>
                                        <element name="LM_NM"/>
                                        <element name="LM_PARENT_ID"/>
                                        <element name="LM_PARENT_NM"/>
                                        <element name="LM_REALLO"/>
                                        <element name="LM_REVOLVING"/>
                                        <element name="LM_STR_DAY"/>
                                        <element name="LM_TYPE"/>
                                        <element name="LM_TYPE_DESC"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PaymentReg">
                                <complexType>
                                    <sequence>
                                        <element name="FA_BA_FLG__DESC__"/>
                                        <element name="FA_BA_FLG"/>
                                        <element name="FA_BK_CHG_AMT"/>
                                        <element name="FA_CRN_BAL"/>
                                        <element name="FA_CRN_INV_LINK_NO"/>
                                        <element name="FA_DEDUCT_AMT"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_DSP_STATUS__DESC__"/>
                                        <element name="FA_DSP_STATUS"/>
                                        <element name="FA_FINAL_PMT_FLG__DESC__"/>
                                        <element name="FA_FINAL_PMT_FLG"/>
                                        <element name="FA_INV_CLEAR_AMT"/>
                                        <element name="FA_INV_LINK_REF"/>
                                        <element name="FA_LAST_PINT_DT"/>
                                        <element name="FA_PMT_AMT"/>
                                        <element name="FA_PMT_CLEAR_TYPE__DESC__"/>
                                        <element name="FA_PMT_CLEAR_TYPE"/>
                                        <element name="FA_PMT_DT"/>
                                        <element name="FA_PMT_VAL_DT"/>
                                        <element name="FA_TEMP_AMT8"/>
                                        <element name="FA_TEMP_CRN_BA"/>
                                        <element name="FA_TEMP_INV_BA"/>
                                        <element name="FA_TRF_DT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="THEIR_REF_NO"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
