EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRCO_AmendBranchData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AMD_TYPE__DESC__"/>
                            <element name="AMD_TYPE"/>
                            <element name="BELGS_PROC_CETR_ID"/>
                            <element name="BR_BK_GP"/>
                            <element name="BR_CD"/>
                            <element name="BR_CNTY_CD"/>
                            <element name="BR_EMAIL_ADD"/>
                            <element name="BR_EN_ADD1"/>
                            <element name="BR_EN_ADD2"/>
                            <element name="BR_EN_ADD3"/>
                            <element name="BR_EN_AREA"/>
                            <element name="BR_EN_NM"/>
                            <element name="BR_FAX_NO1"/>
                            <element name="BR_FAX_NO2"/>
                            <element name="BR_ID"/>
                            <element name="BR_LOCAL_ADD1"/>
                            <element name="BR_LOCAL_ADD2"/>
                            <element name="BR_LOCAL_ADD3"/>
                            <element name="BR_LOCAL_AREA"/>
                            <element name="BR_LOCAL_CCY"/>
                            <element name="BR_LOCAL_NM"/>
                            <element name="BR_MANG_EMPLE_NO"/>
                            <element name="BR_MANG_NM"/>
                            <element name="BR_MANG_TIL"/>
                            <element name="BR_MAX_LVL"/>
                            <element name="BR_SUB_CNTY_CD"/>
                            <element name="BR_SWADD"/>
                            <element name="BR_TEL_NO1"/>
                            <element name="BR_TEL_NO2"/>
                            <element name="BR_TP"/>
                            <element name="BR_UNIFM_NO"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="COMM_DATA_TP"/>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="ITEM_FLD_NM"/>
                            <element name="LOCAL_TIME"/>
                            <element name="TEMP_CHK_FLG"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
