EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_setl_second.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="EXTEN_PRCPL"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_DOC_NO"/>
                <element name="FA_INV_LOAN_BAL"/>
                <element name="FA_INV_LOAN_ID"/>
                <element name="FA_INV_LOAN_TIMES"/>
                <element name="FA_LAST_PINT_DT"/>
                <element name="FA_LOAN_ID"/>
                <element name="FA_LOAN_INT_AMT"/>
                <element name="FA_LOAN_INT_SM_AMT"/>
                <element name="FA_LOAN_IPAID_AMT"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_OVDUE_INT_RT"/>
                <element name="FA_OVD_INT_AMT"/>
                <element name="FA_PAID_INT_AMT"/>
                <element name="FA_PAID_PRIN_AMT"/>
                <element name="FA_PMT_REF"/>
                <element name="FA_REBATE_AMT"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP_DT1"/>
                <element name="TEMP_FLG1__DESC__"/>
                <element name="TEMP_FLG1"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
