EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_Combine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ISCOMB"/>
                            <element name="LM_COMBINE"/>
                            <element name="LM_FACI_ID"/>
                            <element name="LM_FACI_TP"/>
                            <element name="LM_RISK_TP"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
