EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FormA_Nigeria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BANK_COUNTRY"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="ERROR_DISPLAYED"/>
<element name="ERROR_MESSAGE"/>
<element name="FORMA_ACNT_N"/>
<element name="FORMA_APPLC_ADRES_C"/>
<element name="FORMA_APPLC_ADRES_C_1"/>
<element name="FORMA_APPLC_ADRES_C_2"/>
<element name="FORMA_APPLC_ADRES_C_3"/>
<element name="FORMA_APPLC_N"/>
<element name="FORMA_APPLC_NAME_C"/>
<element name="FORMA_AUTHD_DEALR_C"/>
<element name="FORMA_BEN_ADRES"/>
<element name="FORMA_BEN_ADRES_1"/>
<element name="FORMA_BEN_ADRES_2"/>
<element name="FORMA_BEN_ADRES_3"/>
<element name="FORMA_BEN_CNTRY"/>
<element name="FORMA_BEN_NAME"/>
<element name="FORMA_CCI_C"/>
<element name="FORMA_CITY_CD"/>
<element name="FORMA_EXCH_RATE"/>
<element name="FORMA_FRGN_AMT"/>
<element name="FORMA_FRGN_CCY"/>
<element name="FORMA_LOCAL_CCY"/>
<element name="FORMA_NAIRA_EQ_AMT"/>
<element name="FORMA_PASPRT_RC_N"/>
<element name="FORMA_PMNT_MODE"/>
<element name="FORMA_PMNT_MODE_CD"/>
<element name="FORMA_PURPS_PMNT_BTN"/>
<element name="FORMA_PURPS_PMNT_C"/>
<element name="FORMA_PURPS_PMNT_DESC"/>
<element name="FORMA_REG_D"/>
<element name="FORMA_SECTRL_PMNT_BTN"/>
<element name="FORMA_SECTRL_PMNT_C"/>
<element name="FORMA_SECTRL_PMNT_DESC"/>
<element name="FORMA_SRC_FX_C"/>
<element name="FORMA_STATE_CD"/>
<element name="FORMA_TAB_TEXT"/>
<element name="FORMA_TRANS_D"/>
<element name="FORMA_USD_EQ_AMT"/>
<element name="FORMA_VALID_FX_C"/>
<element name="FUNC_SHORT_NAME"/>
<element name="LOCAL_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
