EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_BaselineMatchReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="DocumentIdentification4">
                    <complexType>
                        <sequence>
                            <element name="TSU_BASELN_VRSN"/>
                            <element name="TSU_COMM_BIC"/>
                            <element name="TSU_COMP_DOC"/>
                            <element name="TSU_MSMTCH_DOC_IDX"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="MisMatchReport2">
                    <complexType>
                        <sequence>
                            <element name="TSU_MSMTCH_NO"/>
                            <element name="ValidationResult4">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_ERR_SEQNO"/>
                                        <element name="TSU_ERR_RULE"/>
                                        <element name="TSU_ERR_RULE_DESC"/>
                                        <element name="ElementIdentification1">
                                            <complexType>
                                                <sequence>
                                                    <element name="TSU_ERR_SEQNO"/>
                                                    <element name="TSU_ERR_ELMTPTH"/>
                                                    <element name="TSU_ERR_ELMTNM"/>
                                                    <element name="TSU_ERR_ELMTVAL"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="R2PartyInfo">
                    <complexType>
                        <sequence>
                            <element name="BuyerBank">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="SellerBank">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Buyer">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Seller">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BillTo">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ShipTo">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Consignee">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Consignor">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_BASELN_ID"/>
                <element name="TSU_BASELN_VRSN"/>
                <element name="TSU_BASE_MTCHRPT"/>
                <element name="TSU_BUYER_BK_BIC"/>
                <element name="TSU_BUYER_NM"/>
                <element name="TSU_CCY"/>
                <element name="TSU_COMP_DOC"/>
                <element name="TSU_CUR_TRIL"/>
                <element name="TSU_LINE_TTL_AMT"/>
                <element name="TSU_LMT_TRIL"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_MSMTCH_NO"/>
                <element name="TSU_OUR_BIC"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_REQ_ACT_DESC"/>
                <element name="TSU_SEL_BK_BIC"/>
                <element name="TSU_SEL_NM"/>
                <element name="TSU_THEIR_BIC"/>
                <element name="TSU_THEIR_REF"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRX_DTTM"/>
                <element name="_msg"/>
            </sequence>
        </complexType>
    </element>
</schema>
