EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADA_PreCreditAssessResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_BK_BRCH"/>
                            <element name="FA_BUYER_BK_NM"/>
                            <element name="FA_BUYER_CITY"/>
                            <element name="FA_BUYER_CNTY"/>
                            <element name="FA_BUYER_COMP_REG"/>
                            <element name="FA_BUYER_CONT_ADDR"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_BUYER_NM2"/>
                            <element name="FA_BUYER_POSTBOX"/>
                            <element name="FA_BUYER_POSTCODE"/>
                            <element name="FA_BUYER_PROV"/>
                            <element name="FA_BUYER_RESP_AGNT"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_LMT_ASS_AMT"/>
                            <element name="FA_LMT_ASS_CCY"/>
                            <element name="FA_LMT_LONG_DAYS"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_PCA_REF"/>
                            <element name="FA_PCR_REF"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_REASON__DESC__"/>
                            <element name="FA_REASON"/>
                            <element name="FA_REPL_DT"/>
                            <element name="FA_REPL_REF"/>
                            <element name="FA_REQ_DT"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="GTS_BR_NM_C"/>
                            <element name="OWNER_BR_NM"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
