EE_PARA/EE_PARA/Default/FORM/form_schema_EPPM_InquireEPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BUYER_SETL__DESC__"/>
                <element name="ACC_BUYER_SETL"/>
                <element name="ACC_COLL_BK"/>
                <element name="ACC_FACI_ID"/>
                <element name="AI_SP_ID__DESC__"/>
                <element name="AI_SP_ID"/>
                <element name="BUYR_BOS_ID"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_NM"/>
                <element name="CCY"/>
                <element name="CNTC_STAF"/>
                <element name="CUST_ADD"/>
                <element name="CUST_CNTRY"/>
                <element name="CUST_MAIL"/>
                <element name="CUST_PSTLADR"/>
                <element name="CUST_STAT__DESC__"/>
                <element name="CUST_STAT"/>
                <element name="CUST_TEL"/>
                <element name="CUST_TP__DESC__"/>
                <element name="CUST_TP"/>
                <element name="C_MAIN_REF"/>
                <element name="C_UNIT_CODE"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EPPMSupplierDetails">
                    <complexType>
                        <sequence>
                            <element name="ACC_SUPLR_FUND"/>
                            <element name="AI_CN_MX_PCT"/>
                            <element name="AI_MAX_AMT"/>
                            <element name="AI_MIN_AMT"/>
                            <element name="AMT_AVAL_FOR_FUND"/>
                            <element name="AMT_TO_SELT"/>
                            <element name="ATT_UPLD_BY"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_SCFNET_ID"/>
                            <element name="CCY"/>
                            <element name="CNTC_STAF"/>
                            <element name="CUST_ADD"/>
                            <element name="CUST_CNTRY"/>
                            <element name="CUST_MAIL"/>
                            <element name="CUST_PSTLADR"/>
                            <element name="CUST_REF"/>
                            <element name="CUST_SERIAL_NB"/>
                            <element name="CUST_STAT"/>
                            <element name="CUST_TEL"/>
                            <element name="CUST_TP"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EPPS_TTL_AI_BAL"/>
                            <element name="EPPS_TTL_EPR_BAL"/>
                            <element name="EPP_SUPLR_ID"/>
                            <element name="EPR_MAX_AMT"/>
                            <element name="EPR_MIN_AMT"/>
                            <element name="IF_ALLOW_CN_UPLD"/>
                            <element name="IF_ALOW_TCN2CN"/>
                            <element name="IF_ATT_REQ"/>
                            <element name="IF_AUTO_EP"/>
                            <element name="IF_DEF_PP"/>
                            <element name="IF_REF_BUYR"/>
                            <element name="IF_REF_SUPLR"/>
                            <element name="IF_TCN_ONLY"/>
                            <element name="PP_ID"/>
                            <element name="RES_CN_MAX_PCT"/>
                            <element name="SUPLR_BOS_ID"/>
                            <element name="SUPLR_CREA_TP"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_LMT_INC_AMT"/>
                            <element name="SUPLR_NM"/>
                            <element name="SUPLR_REF"/>
                            <element name="SUPLR_SUB_LMT"/>
                            <element name="SUPLR_SUB_LMT_BAL"/>
                            <element name="TCN_WAIT_TIME"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="EPP_NM"/>
                <element name="EPP_REF"/>
                <element name="EPP_STAT__DESC__"/>
                <element name="EPP_STAT"/>
                <element name="EPP_TTL_AI_BAL"/>
                <element name="EPP_TTL_EPR_BAL"/>
                <element name="EPP_TYPE__DESC__"/>
                <element name="EPP_TYPE"/>
                <element name="IF_AUTO_EP__DESC__"/>
                <element name="IF_AUTO_EP"/>
                <element name="IF_DIR_DEBIT__DESC__"/>
                <element name="IF_DIR_DEBIT"/>
                <element name="MAT_CUT_OFF_DAYS"/>
                <element name="MAX_INVC_TENOR"/>
                <element name="QR_CD_FLD"/>
                <element name="ROE"/>
                <element name="SD_IN_BK_HOLIDAY__DESC__"/>
                <element name="SD_IN_BK_HOLIDAY"/>
                <element name="SD_IN_PAST__DESC__"/>
                <element name="SD_IN_PAST"/>
                <element name="SUPLR_BOS_ID"/>
                <element name="SUPLR_COUNT"/>
                <element name="SUPLR_NM"/>
                <element name="TEMP1"/>
                <element name="TEMP2"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
