EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_SubLimit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="B_VIEW"/>
                            <element name="C_NAME"/>
                            <element name="LMTS_ACC"/>
                            <element name="LMTS_CSL"/>
                            <element name="LMTS_CUST"/>
                            <element name="LMTS_GROUP"/>
                            <element name="LMTS_INDU"/>
                            <element name="LMTS_RCUST"/>
                            <element name="LM_ACNT_ID"/>
                            <element name="LM_ALLW_LMT"/>
                            <element name="LM_AVI_APL_S"/>
                            <element name="LM_CHK_FIELD1"/>
                            <element name="LM_CHK_FIELD2"/>
                            <element name="LM_CHK_FIELD3"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRED_LMTT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_CSL_DESC"/>
                            <element name="LM_CSL_ID"/>
                            <element name="LM_CURRENCY"/>
                            <element name="LM_CUST_ID"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_EDIT_REASN"/>
                            <element name="LM_GRUP_ID"/>
                            <element name="LM_HAS_FACI"/>
                            <element name="LM_IGNORE"/>
                            <element name="LM_INDU_ID"/>
                            <element name="LM_OUTC_APL_S"/>
                            <element name="LM_OUTC_APV_S"/>
                            <element name="LM_OUTD_APL_S"/>
                            <element name="LM_OUTD_APV_S"/>
                            <element name="LM_OVER_OUT_S"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_PARENT_IDD"/>
                            <element name="LM_RCUST_ID"/>
                            <element name="LM_SINC_APL_S"/>
                            <element name="LM_SIN_APL_S"/>
                            <element name="LM_SIN_APV_S"/>
                            <element name="LM_SIN_LMT_MEM"/>
                            <element name="LM_SOUTC_APL_S"/>
                            <element name="LM_SOUT_APL_S"/>
                            <element name="LM_SOUT_APV_S"/>
                            <element name="LM_SOUT_LMT_MEM"/>
                            <element name="LM_STATUS"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_STYPE"/>
                            <element name="LM_SUB_CCY"/>
                            <element name="LM_THIS_LMT"/>
                            <element name="OP_TYPE"/>
                            <element name="R_VIEW"/>
                            <element name="_TRX_STATUS"/>
                            <element name="radiocustomer"/>
                            <element name="radiogroup"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
