EE_PARA/EE_PARA/Default/FORM/form_schema_SYND_SyndAction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CONF_BAL"/>
                <element name="C_MAIN_REF"/>
                <element name="R_PARTY_CNTY"/>
                <element name="R_PARTY_NM"/>
                <element name="SYND_ACTION_REF"/>
                <element name="SYND_ACTION_STATUS"/>
                <element name="SYND_ACTION_TRADE_REF"/>
                <element name="SYND_ACT_AMD_DT"/>
                <element name="SYND_ACT_AMD_EVENT_TYPE"/>
                <element name="SYND_ACT_CREDIT_DT"/>
                <element name="SYND_ACT_NEW_CONF_BAL"/>
                <element name="SYND_ACT_NEW_CONF_CCY"/>
                <element name="SYND_ACT_NOTES"/>
                <element name="SYND_ACT_OLD_CONF_BAL"/>
                <element name="SYND_ACT_OLD_CONF_CCY"/>
                <element name="SYND_ACT_PAY_EVENT_TYPE"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="SYND_REF"/>
            </sequence>
        </complexType>
    </element>
</schema>
