EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_MX_Incoming_pain001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CUST_REF"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="ERROR_MESSAGE"/>
                            <element name="REGOTT_COUNTRY_CODE"/>
                            <element name="RELATED_REF_NO"/>
                            <element name="SETT_TYPE"/>
                            <element name="UETR_GPI_121"/>
                            <element name="X103_50_ADD_BTN"/>
                            <element name="X103_50_ADD_BTN2"/>
                            <element name="X103_50_BTN"/>
                            <element name="X103_BENECUACNO59A"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_DET_CHG_71A"/>
                            <element name="X103_ID_59_BTN"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_SEND_NO_20"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="lookup1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
