EE_PARA/EE_PARA/Default/FORM/form_schema_CFNC_FinanceSingleRepay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADD_AMT_COVRD"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="CFNC_DATA_FLAG__DESC__"/>
                <element name="CFNC_DATA_FLAG"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="C_MAIN_REF"/>
                <element name="C_TRX_REF"/>
                <element name="DRAWING_REF"/>
                <element name="DUE_DT"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="EXPIRY_PLC_NARR"/>
                <element name="FINC_TYPE__DESC__"/>
                <element name="FINC_TYPE"/>
                <element name="FORM_OF_LC__DESC__"/>
                <element name="FORM_OF_LC"/>
                <element name="FincSinglePayment">
                    <complexType>
                        <sequence>
                            <element name="BM_TEMP_FIN_AMT1"/>
                            <element name="BM_TEMP_FIN_AMT2"/>
                            <element name="BM_TEMP_FIN_AMT3"/>
                            <element name="BM_TEMP_FIN_AMT4"/>
                            <element name="BM_TEMP_FIN_AMT5"/>
                            <element name="CFNC_C_AC_NO"/>
                            <element name="CFNC_C_AC_TYPE"/>
                            <element name="CFNC_C_CCY"/>
                            <element name="CFNC_C_CUST_ID"/>
                            <element name="CFNC_C_GRACE_DAYS"/>
                            <element name="CFNC_C_GRACE_FLG__DESC__"/>
                            <element name="CFNC_C_GRACE_FLG"/>
                            <element name="CFNC_C_INIT_FLG"/>
                            <element name="CFNC_C_INT_MODE"/>
                            <element name="CFNC_C_INT_MTHD"/>
                            <element name="CFNC_C_INT_PAYABLE"/>
                            <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                            <element name="CFNC_C_ORIGIN_MODULE"/>
                            <element name="CFNC_C_ORIGIN_TRX_REF"/>
                            <element name="CFNC_C_OTHER_TYPE"/>
                            <element name="CFNC_C_OVERDUE_FLAG"/>
                            <element name="CFNC_C_PAY_BY"/>
                            <element name="CFNC_C_PAY_TYPE"/>
                            <element name="CFNC_C_REF"/>
                            <element name="CFNC_C_RELT_REF"/>
                            <element name="CFNC_C_TYPE__DESC__"/>
                            <element name="CFNC_C_TYPE"/>
                            <element name="CFNC_C_TYPE_DESC"/>
                            <element name="CFNC_D_CREATE_DATE"/>
                            <element name="CFNC_D_DT"/>
                            <element name="CFNC_D_DUE_DT"/>
                            <element name="CFNC_D_LAST_PAY_DT"/>
                            <element name="CFNC_D_LAST_PMT_DT"/>
                            <element name="CFNC_D_OVERDUE_DT"/>
                            <element name="CFNC_D_PAY_DT"/>
                            <element name="CFNC_D_PAY_REG_DT"/>
                            <element name="CFNC_D_TRX_DATE"/>
                            <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                            <element name="CFNC_INTEREST_INSTAL_FLG"/>
                            <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                            <element name="CFNC_INTEREST_INTERVAL"/>
                            <element name="CFNC_I_BASIC_DAYS"/>
                            <element name="CFNC_I_DAYS"/>
                            <element name="CFNC_I_DAYS_TEMP"/>
                            <element name="CFNC_I_DISCOUNT_DAYS_E"/>
                            <element name="CFNC_I_DISCOUNT_DAYS_N"/>
                            <element name="CFNC_I_FINC_TIMES"/>
                            <element name="CFNC_I_OVERDUE_DAYS"/>
                            <element name="CFNC_I_REPAY_TIMES"/>
                            <element name="CFNC_I_RFD_NO"/>
                            <element name="CFNC_N_AMT_LCCCY"/>
                            <element name="CFNC_N_AMT_TXCCY"/>
                            <element name="CFNC_N_BAL"/>
                            <element name="CFNC_N_BAL_TEMP"/>
                            <element name="CFNC_N_CCY_EXCH_RT"/>
                            <element name="CFNC_N_COMMIT_FEE"/>
                            <element name="CFNC_N_CR_AMT"/>
                            <element name="CFNC_N_CR_BAL"/>
                            <element name="CFNC_N_FINC_TTL_AMT"/>
                            <element name="CFNC_N_FINC_TTL_BAL"/>
                            <element name="CFNC_N_LAST_PAID_INT"/>
                            <element name="CFNC_N_LIBOR_AMT"/>
                            <element name="CFNC_N_LIBOR_RT"/>
                            <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                            <element name="CFNC_N_LIBOR_RT_TYPE"/>
                            <element name="CFNC_N_MARGIN_AMT"/>
                            <element name="CFNC_N_MARGIN_RT"/>
                            <element name="CFNC_N_MARGIN_RT_TEMP"/>
                            <element name="CFNC_N_NET_AMT"/>
                            <element name="CFNC_N_PAID_INT"/>
                            <element name="CFNC_N_PAID_LIBOR"/>
                            <element name="CFNC_N_PAID_MARGIN"/>
                            <element name="CFNC_N_PAY_AMT"/>
                            <element name="CFNC_N_PAY_INT"/>
                            <element name="CFNC_N_PAY_PNLT_INT"/>
                            <element name="CFNC_N_PAY_PRIN"/>
                            <element name="CFNC_N_PAY_TTLAMT_TXCCY"/>
                            <element name="CFNC_N_PCT"/>
                            <element name="CFNC_N_PNLT_RT"/>
                            <element name="CFNC_N_PRE_INT"/>
                            <element name="CFNC_N_REACC_INT"/>
                            <element name="CFNC_N_REFUND"/>
                            <element name="CFNC_N_RFD_EXTINT"/>
                            <element name="CFNC_N_RFD_INT"/>
                            <element name="CFNC_N_RT"/>
                            <element name="CFNC_N_RT_NARR"/>
                            <element name="CFNC_N_RT_TYPE__DESC__"/>
                            <element name="CFNC_N_RT_TYPE"/>
                            <element name="CFNC_N_TRXCCY_LCY"/>
                            <element name="CFNC_N_UNPAID_INT"/>
                            <element name="CFNC_N_UNPAID_PRIN"/>
                            <element name="CFNC_OVERDUE_DT"/>
                            <element name="CFNC_PAID_INT_SUM"/>
                            <element name="CFNC_PAID_PRIN_SUM"/>
                            <element name="CFNC_PMT_CLEAR_TYPE__DESC__"/>
                            <element name="CFNC_PMT_CLEAR_TYPE"/>
                            <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                            <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                            <element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
                            <element name="CFNC_PRINCIPAL_INTERVAL"/>
                            <element name="CFNC_RELA_MAIN_REF"/>
                            <element name="CUST_AC_AMT1"/>
                            <element name="C_FUNC_SHORT_NAME"/>
                            <element name="DISCOUNT_TAB_KEY"/>
                            <element name="FA_PMT_DT"/>
                            <element name="RELA_DRAW_REF"/>
                            <element name="RELA_MAIN_REF"/>
                            <element name="RELA_MAIN_REF_TEMP"/>
                            <element name="REPAY_FLG__DESC__"/>
                            <element name="REPAY_FLG"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ISSUE_DT"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_BAL_LCY"/>
                <element name="LC_BAL_TEMP"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LTST_SHIP_DT"/>
                <element name="NEG_TOL"/>
                <element name="OUR_ENG__DESC__"/>
                <element name="OUR_ENG"/>
                <element name="POS_TOL"/>
                <element name="RELA_MAIN_REF"/>
                <element name="RT_CCY_LCY"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_START_DT"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TRX_CCY"/>
            </sequence>
        </complexType>
    </element>
</schema>
