EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_OthrCertDataSet017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_CERT_ID"/>
<element name="TSU_DS_ID"/>
<element name="TSU_DS_VRSN"/>
<element name="TSU_ISSR_CNTY__DESC__"/>
<element name="TSU_ISSR_CNTY"/>
<element name="TSU_ISSR_CNTY_SUB"/>
<element name="TSU_ISSR_ID"/>
<element name="TSU_ISSR_ID_TP"/>
<element name="TSU_ISSR_NM"/>
<element name="TSU_ISSR_POST_CD"/>
<element name="TSU_ISSR_STREET"/>
<element name="TSU_ISSR_TOWN"/>
<element name="TSU_ISS_DT"/>
<element name="TSU_OTCERT_TP__DESC__"/>
<element name="TSU_OTCERT_TP"/>
<element name="TSU_SUBMITR_BIC"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
