EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_Inquire_SLABusinessGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_BG_DESC"/>
                            <element name="C_BG_ID"/>
                            <element name="C_BG_VERSION"/>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CP_UNIT_CODE"/>
                            <element name="C_CUST_FIELD"/>
                            <element name="C_FIRST_FUNC_ID"/>
                            <element name="C_TYPE"/>
                            <element name="D_BG_ACTIVE_DATE"/>
                            <element name="OP_TYPE"/>
                            <element name="TRX_TABLE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
