EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADA_SCFAGMCounters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_TRX_CCY"/>
                            <element name="CPYT_C_RELA_REF"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_BLACKLIST__DESC__"/>
                            <element name="FA_BLACKLIST"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_COUNTER_ACC"/>
                            <element name="FA_COUNTER_ADD_ML"/>
                            <element name="FA_COUNTER_AGM_NO"/>
                            <element name="FA_COUNTER_CE_FLG__DESC__"/>
                            <element name="FA_COUNTER_CE_FLG"/>
                            <element name="FA_COUNTER_CNTY"/>
                            <element name="FA_COUNTER_CONT_EM"/>
                            <element name="FA_COUNTER_CONT_NM"/>
                            <element name="FA_COUNTER_CONT_TEL"/>
                            <element name="FA_COUNTER_CT"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_COUNTER_PROV"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_COUNTER_ROLE"/>
                            <element name="FA_COUNTER_STR"/>
                            <element name="FA_COUNTER_TYPE__DESC__"/>
                            <element name="FA_COUNTER_TYPE"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TEMP_IF_LMT_DUE_DT"/>
                            <element name="FA_TEMP_LMT"/>
                            <element name="FA_THEIR_FLG"/>
                            <element name="LM_FACI_ID"/>
                            <element name="TEMP_FLG1__DESC__"/>
                            <element name="TEMP_FLG1"/>
                            <element name="TEMP_FLG2"/>
                            <element name="THEIR_REF_NO"/>
                            <element name="TRX_DT"/>
                            <element name="button1"/>
                            <element name="button2"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
