EE_PARA/EE_PARA/Default/FORM/form_schema_AccSpecInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="ACCT_NO"/>
<element name="ACC_LOOKUP_BTN"/>
<element name="APP_DATE"/>
<element name="APP_NO"/>
<element name="BOP_CLINT_CUSTOMS_N"/>
<element name="CFC_GROUPING"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="DRT_DEAL_IND"/>
</sequence>
</complexType>
</element>
</schema>
