EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSUM_ReceiveUploadedGRN_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CUST_NOTES"/>
<element name="C_MAIN_REF"/>
<element name="C_MSG_CONTENT"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_BUYER_ADDR"/>
<element name="TSU_BUYER_NAME"/>
<element name="TSU_BUYR_MAILADD"/>
<element name="TSU_BYRBK_BIC"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_BIC"/>
<element name="TSU_COMM_DOC_REQ__DESC__"/>
<element name="TSU_COMM_DOC_REQ"/>
<element name="TSU_CUCU_ID"/>
<element name="TSU_CUST_ID"/>
<element name="TSU_CUST_INSTRCTN"/>
<element name="TSU_CUST_REF"/>
<element name="TSU_DS_REQUIREMENT"/>
<element name="TSU_IAFT_TP__DESC__"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_INSTR_TYPE"/>
<element name="TSU_LAST_MATCH_DT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PDC_TP__DESC__"/>
<element name="TSU_PDC_TP"/>
<element name="TSU_PMT_AMT"/>
<element name="TSU_PMT_CODE"/>
<element name="TSU_PMT_DAYS"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_PRTL_SHIPMNT__DESC__"/>
<element name="TSU_PRTL_SHIPMNT"/>
<element name="TSU_SELLER_ADDR"/>
<element name="TSU_SELLER_NAME"/>
<element name="TSU_SELLRBK_BIC"/>
<element name="TSU_SELLR_MAILADD"/>
<element name="TSU_SUBMIT_BASELN_ID"/>
<element name="TSU_SUBMIT_BASELN_VRSN"/>
<element name="TSU_SUB_B_BIC"/>
<element name="TSU_SUB_B_SVCD__DESC__"/>
<element name="TSU_SUB_B_SVCD"/>
<element name="TSU_TRAN_DOC_REQ"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="imgDrawDown_TSU_LAST_MATCH_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
