EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_FacilityT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="LM_ALLW_LMT"/>
                <element name="LM_CHK_OVERPAY"/>
                <element name="LM_CONT_FLAG"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_FACI_ID"/>
                <element name="LM_FACI_TP"/>
                <element name="LM_FAC_CCY"/>
                <element name="LM_OCU_ACC"/>
                <element name="LM_OFF_ACC"/>
                <element name="LM_OVRD_FLAG"/>
                <element name="LM_RISK_TP"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
