EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_ProcInPmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCT103_DUP"/>
                <element name="ACC_CHANGE_FLAG"/>
                <element name="AC_WT_INST_CNTY_CODE"/>
                <element name="AC_WT_INST_CNTY_NM"/>
                <element name="AC_WT_INST_ID"/>
                <element name="AMOUNT"/>
                <element name="APPL_CNTY_RES"/>
                <element name="APP_TYPE"/>
                <element name="ASSET_ACNO"/>
                <element name="AUDIT_CODE"/>
                <element name="AUDT_DESC"/>
                <element name="AUDT_FUNCTION"/>
                <element name="AUDT_INSERTED_TMSTAMP"/>
                <element name="AUDT_MAIN_REF"/>
                <element name="AUDT_OP_ID"/>
                <element name="AUDT_SUB_TYPE"/>
                <element name="AUDT_TRX_REF"/>
                <element name="AUDT_TYPE"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="BANK_CHRG_ACCT"/>
                <element name="BENE_AC_TYPE__DESC__"/>
                <element name="BENE_AC_TYPE"/>
                <element name="BENE_CNTY_RES"/>
                <element name="BOPHEADER">
                    <complexType>
                        <sequence>
                            <element name="BOP_ACNT_IDFR_X"/>
                            <element name="BOP_AMNT_ENTRD_IND"/>
                            <element name="BOP_BSNTR_FIRST_M"/>
                            <element name="BOP_BSNTR_ID_N"/>
                            <element name="BOP_BSNTR_LAST_M"/>
                            <element name="BOP_BSNTR_TEMPI_N"/>
                            <element name="BOP_BUSNS_TRANS_C"/>
                            <element name="BOP_BUY_SELL_I"/>
                            <element name="BOP_CRSB_CNTRY_C"/>
                            <element name="BOP_CRSB_SWFAD_C"/>
                            <element name="BOP_DR_CR_I"/>
                            <element name="BOP_EVENT_TIMES"/>
                            <element name="BOP_NRES_ACNT_N"/>
                            <element name="BOP_NRES_ADRES_ONE_M"/>
                            <element name="BOP_NRES_ADRES_TWO_M"/>
                            <element name="BOP_NRES_ADRS_THREE_M"/>
                            <element name="BOP_NRES_CNTRY_C"/>
                            <element name="BOP_NRES_NAME_M"/>
                            <element name="BOP_NRES_NRES_I"/>
                            <element name="BOP_NRES_ONE_M__DESC__"/>
                            <element name="BOP_NRES_ONE_M"/>
                            <element name="BOP_NRES_SURNAME_M"/>
                            <element name="BOP_NRES_TWO_M"/>
                            <element name="BOP_OPRTR_N"/>
                            <element name="BOP_ORBK_CNTRY_C"/>
                            <element name="BOP_ORBK_SWFAD_C"/>
                            <element name="BOP_PAYMT_IDFR_X"/>
                            <element name="BOP_PRNPL_A"/>
                            <element name="BOP_PRNPL_CRNCY_C"/>
                            <element name="BOP_PROCS_I"/>
                            <element name="BOP_RCBN_CNTRY_C"/>
                            <element name="BOP_RCBN_SWFAD_C"/>
                            <element name="BOP_RELTD_TRANS_N"/>
                            <element name="BOP_RES_ACNT_N"/>
                            <element name="BOP_RES_ADRES_ONE_M"/>
                            <element name="BOP_RES_ADRES_TWO_M"/>
                            <element name="BOP_RES_ADRS_THREE_M"/>
                            <element name="BOP_RES_CNTCT_DETAILS"/>
                            <element name="BOP_RES_CNTCT_M"/>
                            <element name="BOP_RES_CNTCT_TYPE_C"/>
                            <element name="BOP_RES_CNTRY_C"/>
                            <element name="BOP_RES_ID_N"/>
                            <element name="BOP_RES_NAME_M"/>
                            <element name="BOP_RES_NRES_I__DESC__"/>
                            <element name="BOP_RES_NRES_I"/>
                            <element name="BOP_RES_ONE_M__DESC__"/>
                            <element name="BOP_RES_ONE_M"/>
                            <element name="BOP_RES_SURNAME_M"/>
                            <element name="BOP_RES_TAX_N"/>
                            <element name="BOP_RES_TWO_M"/>
                            <element name="BOP_RES_VAT_N"/>
                            <element name="BOP_RPTG_AMT"/>
                            <element name="BOP_RPTG_CCY"/>
                            <element name="BOP_RSDNT_PSICT_C"/>
                            <element name="BOP_RSDNT_PSPRT_N"/>
                            <element name="BOP_RSDNT_TMPPM_M"/>
                            <element name="BOP_SCDRY_A"/>
                            <element name="BOP_SCDRY_CRNCY_C"/>
                            <element name="BOP_SOURC_SYSTM_C"/>
                            <element name="BOP_SOURC_TRANS_N"/>
                            <element name="BOP_STTUS_C"/>
                            <element name="BOP_TRANS_N"/>
                            <element name="BOP_TRANS_REF"/>
                            <element name="BOP_VAL_D"/>
                            <element name="C_CUSTOMER_AC"/>
                            <element name="C_CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="BOPDetails">
                                <complexType>
                                    <sequence>
                                        <element name="BOP_ADHOC_SUBJ_X"/>
                                        <element name="BOP_ADHOC_X"/>
                                        <element name="BOP_AUTHD_DEALR_C__DESC__"/>
                                        <element name="BOP_AUTHD_DEALR_C"/>
                                        <element name="BOP_CAT_C"/>
                                        <element name="BOP_CLINT_CUSTOMS_N"/>
                                        <element name="BOP_CNTR_Q"/>
                                        <element name="BOP_EVENT_TIMES"/>
                                        <element name="BOP_EXCON_APLCT_N"/>
                                        <element name="BOP_EXCON_D"/>
                                        <element name="BOP_EXCON_RULNG_X"/>
                                        <element name="BOP_GDLO_CNTRY_C"/>
                                        <element name="BOP_IPET_CONTL_N"/>
                                        <element name="BOP_LOAN_REF_N"/>
                                        <element name="BOP_OTHER_INFO_X"/>
                                        <element name="BOP_STTUS_C"/>
                                        <element name="BOP_TRANS_A"/>
                                        <element name="BOP_TRANS_N"/>
                                        <element name="BOP_TRANS_REF"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="BOP_TRVLR_ID_N"/>
                                        <element name="BOP_TRANS_OPP_A"/>
                                        <element name="BOP_SEQ_N"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="BU"/>
                <element name="CANCEL_FLG"/>
                <element name="CASH_CCY_IND"/>
                <element name="CASH_CNTY_DESC"/>
                <element name="CASH_SETT_AMT"/>
                <element name="CASH_SETT_CCY"/>
                <element name="CASH_TOT_AMT"/>
                <element name="CCY"/>
                <element name="CCY_CUTOFF_DAY"/>
                <element name="CHGCODE_BS"/>
                <element name="CHGCODE_OUR"/>
                <element name="CHG_CASH_IND"/>
                <element name="CHG_CNTY_BANKID"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_FOR_CUST_PAY_RT_MD"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_AC_NO_CHK"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE2"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_OVERRIDE_IND"/>
                <element name="CHG_SUSP_AC"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CHIPFED"/>
                <element name="CHIP_FED"/>
                <element name="CNTY"/>
                <element name="CNTY_CODE"/>
                <element name="CORR_ID_BTN"/>
                <element name="CORR_MSG"/>
                <element name="CORR_POST_BTN"/>
                <element name="COUNTRY"/>
                <element name="COV_NO"/>
                <element name="CPYT_CR_BK_AC"/>
                <element name="CPYT_CR_BK_AC1"/>
                <element name="CPYT_DR_AC"/>
                <element name="CPYT_DR_AC1"/>
                <element name="CPYT_DR_CCY"/>
                <element name="CPYT_FUNC_NAME"/>
                <element name="CPYT_PAY_ADV_MSG"/>
                <element name="CPYT_PAY_COV_MSG"/>
                <element name="CRAfricaDetails">
                    <complexType>
                        <sequence>
                            <element name="CRAFRICA_CUSTMR_CLASS"/>
                            <element name="CRAFRICA_PURPS_CAT"/>
                            <element name="CRAFRICA_PURPS_CD"/>
                            <element name="CRAFRICA_PURPS_DESC"/>
                            <element name="CRAFRICA_USD_EQ_AMT"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CR_AMT"/>
                <element name="CR_CALC_AMT"/>
                <element name="CR_CCY"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_REF"/>
                <element name="CUTOFF_DAY"/>
                <element name="CUTOFF_REF"/>
                <element name="CUTOFF_TIME"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_CLEAR_TYPE"/>
                <element name="C_CLEAR_TYPE_TEMP"/>
                <element name="C_CUSTOMER_AC"/>
                <element name="C_CUST_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MAIN_REF_20Z"/>
                <element name="C_MAIN_REF_FRE"/>
                <element name="C_MODULE"/>
                <element name="C_REFUSE_REASON"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DB_AMT"/>
                <element name="DB_Acct_No_Lookup"/>
                <element name="DB_CALC_AMT"/>
                <element name="DB_CCY"/>
                <element name="DB_CNTY"/>
                <element name="DET_RECCHRGS_AMT"/>
                <element name="DRT_DEAL_IND"/>
                <element name="DUPLICATE_TRN"/>
                <element name="DUP_CHK"/>
                <element name="EXCH_RATE"/>
                <element name="EXTERNAL_REF"/>
                <element name="FDS_AVAL"/>
                <element name="FDS_TO_CHK"/>
                <element name="FIELD_1_X"/>
                <element name="FIELD_6_X"/>
                <element name="FIELDs"/>
                <element name="FORM_CUST_ACNO"/>
                <element name="FORM_CUST_ADD1"/>
                <element name="FORM_CUST_ADD2"/>
                <element name="FORM_CUST_ADD3"/>
                <element name="FORM_CUST_NM"/>
                <element name="FOR_CHG_ID"/>
                <element name="FOR_CHG_NAME"/>
                <element name="FRONT_OFFICE_CODE"/>
                <element name="FUNDS_RECV"/>
                <element name="FormANigeria">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FORMA_ACNT_N"/>
                            <element name="FORMA_APPLC_ADRES_C"/>
                            <element name="FORMA_APPLC_N"/>
                            <element name="FORMA_APPLC_NAME_C"/>
                            <element name="FORMA_AUTHD_DEALR_C"/>
                            <element name="FORMA_BEN_ADRES"/>
                            <element name="FORMA_BEN_CNTRY"/>
                            <element name="FORMA_BEN_NAME"/>
                            <element name="FORMA_CCI_C"/>
                            <element name="FORMA_CITY_CD"/>
                            <element name="FORMA_EXCH_RATE"/>
                            <element name="FORMA_FRGN_AMT"/>
                            <element name="FORMA_FRGN_CCY"/>
                            <element name="FORMA_NAIRA_EQ_AMT"/>
                            <element name="FORMA_PASPRT_RC_N"/>
                            <element name="FORMA_PMNT_MODE"/>
                            <element name="FORMA_PMNT_MODE_CD"/>
                            <element name="FORMA_PURPS_PMNT_C"/>
                            <element name="FORMA_PURPS_PMNT_DESC"/>
                            <element name="FORMA_REG_D"/>
                            <element name="FORMA_SECTRL_PMNT_C"/>
                            <element name="FORMA_SRC_FX_C"/>
                            <element name="FORMA_STATE_CD"/>
                            <element name="FORMA_TRANS_D"/>
                            <element name="FORMA_USD_EQ_AMT"/>
                            <element name="FORMA_VALID_FX_C"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="HELP_LINK_URL"/>
                <element name="INT_BKGROUPID"/>
                <element name="INT_CUST_ID"/>
                <element name="INT_I_EVENT_TIMES"/>
                <element name="INV_STATUS"/>
                <element name="INW_CUST_REF"/>
                <element name="INW_MSG_STATUS"/>
                <element name="INW_SNDBK_ADD1"/>
                <element name="INW_SNDBK_ADD2"/>
                <element name="INW_SNDBK_ADD3"/>
                <element name="INW_SNDBK_ID"/>
                <element name="INW_SNDBK_NM"/>
                <element name="INW_SNDBK_SW"/>
                <element name="INW_X103BENECUADD1_59A"/>
                <element name="INW_X103BENECUADD2_59A"/>
                <element name="INW_X103BENECUADD3_59A"/>
                <element name="INW_X103RECCORRACNO54A"/>
                <element name="INW_X103SENDCORACNO53A"/>
                <element name="INW_X103SENDCORADD153A"/>
                <element name="INW_X103SENDCORADD253A"/>
                <element name="INW_X103SENDCORADD353A"/>
                <element name="INW_X103_ACCBKADD1_57A"/>
                <element name="INW_X103_ACCBKADD2_57A"/>
                <element name="INW_X103_ACCBKADD3_57A"/>
                <element name="INW_X103_ACC_BKACNO57A"/>
                <element name="INW_X103_ACC_BKID_57A"/>
                <element name="INW_X103_ACC_BKNM_57A"/>
                <element name="INW_X103_ACC_BKSW_57A"/>
                <element name="INW_X103_BENECUACNO59A"/>
                <element name="INW_X103_BENECU_ID_59A"/>
                <element name="INW_X103_BENECU_NM_59A"/>
                <element name="INW_X103_BENECU_SW_59A"/>
                <element name="INW_X103_BK2BK_INF1_72"/>
                <element name="INW_X103_BK2BK_INF2_72"/>
                <element name="INW_X103_BK2BK_INF3_72"/>
                <element name="INW_X103_BK2BK_INF4_72"/>
                <element name="INW_X103_BK2BK_INF5_72"/>
                <element name="INW_X103_BK2BK_INF6_72"/>
                <element name="INW_X103_BKOP_CODE_23B"/>
                <element name="INW_X103_DET_CHG_71A"/>
                <element name="INW_X103_ENV_CONT_77T"/>
                <element name="INW_X103_EXCH_RT_36"/>
                <element name="INW_X103_INSTRCODE1_23E"/>
                <element name="INW_X103_INSTRCODE2_23E"/>
                <element name="INW_X103_INSTRCODE_23E"/>
                <element name="INW_X103_INSTR_AMT_33B"/>
                <element name="INW_X103_INSTR_CCY_33B"/>
                <element name="INW_X103_ORDBKACNO_52A"/>
                <element name="INW_X103_ORDBKADD1_52A"/>
                <element name="INW_X103_ORDBKADD2_52A"/>
                <element name="INW_X103_ORDBKADD3_52A"/>
                <element name="INW_X103_ORDCUACNO_50A"/>
                <element name="INW_X103_ORDCUADD1_50A"/>
                <element name="INW_X103_ORDCUADD2_50A"/>
                <element name="INW_X103_ORDCUADD3_50A"/>
                <element name="INW_X103_ORDCU_ID_50A"/>
                <element name="INW_X103_ORDCU_NM_50A"/>
                <element name="INW_X103_ORDCU_SW_50A"/>
                <element name="INW_X103_ORD_BKID_52A"/>
                <element name="INW_X103_ORD_BKNM_52A"/>
                <element name="INW_X103_ORD_BKSW_52A"/>
                <element name="INW_X103_RECCHGAMT_71G"/>
                <element name="INW_X103_RECCHGCCY_71G"/>
                <element name="INW_X103_RECCORADD154A"/>
                <element name="INW_X103_RECCORADD254A"/>
                <element name="INW_X103_RECCORADD354A"/>
                <element name="INW_X103_RECCORRID_54A"/>
                <element name="INW_X103_RECCORRNM_54A"/>
                <element name="INW_X103_RECCORRSW_54A"/>
                <element name="INW_X103_REG_REP1_77B"/>
                <element name="INW_X103_REG_REP2_77B"/>
                <element name="INW_X103_REG_REP3_77B"/>
                <element name="INW_X103_REMIT_INF1_70"/>
                <element name="INW_X103_REMIT_INF2_70"/>
                <element name="INW_X103_REMIT_INF3_70"/>
                <element name="INW_X103_REMIT_INF4_70"/>
                <element name="INW_X103_SENDCHGAMT71F"/>
                <element name="INW_X103_SENDCHGCCY71F"/>
                <element name="INW_X103_SENDCORRID53A"/>
                <element name="INW_X103_SENDCORRNM53A"/>
                <element name="INW_X103_SENDCORRSW53A"/>
                <element name="INW_X103_SEND_NO_20"/>
                <element name="INW_X103_SETT_AMT_32A"/>
                <element name="INW_X103_SETT_CCY_32A"/>
                <element name="INW_X103_TAG_50A"/>
                <element name="INW_X103_TAG_52A"/>
                <element name="INW_X103_TAG_53A"/>
                <element name="INW_X103_TAG_54A"/>
                <element name="INW_X103_TAG_57A"/>
                <element name="INW_X103_TAG_59A"/>
                <element name="INW_X103_TRX_TYPCD_26T"/>
                <element name="INW_X103_VALUE_DT_32A"/>
                <element name="IS_COVER"/>
                <element name="LC_AMT"/>
                <element name="LC_CCY"/>
                <element name="MAX_191"/>
                <element name="MD_I"/>
                <element name="MERGE_FLAG_103__DESC__"/>
                <element name="MERGE_FLAG_103"/>
                <element name="MERGE_FLAG_202__DESC__"/>
                <element name="MERGE_FLAG_202"/>
                <element name="MLT_STLMT"/>
                <element name="MSG_TYPE"/>
                <element name="MT103_DISTRBN"/>
                <element name="MT190_Flag"/>
                <element name="MT191SENT_NO"/>
                <element name="MT191_Flag"/>
                <element name="MT_DT_ISN"/>
                <element name="MT_DT_ISN_1"/>
                <element name="MT_DT_ISN_2"/>
                <element name="MT_DT_ISN_3"/>
                <element name="MX_OR_MT_FLAG__DESC__"/>
                <element name="MX_OR_MT_FLAG"/>
                <element name="NOTES"/>
                <element name="NUM_ACCTS"/>
                <element name="NXT_STATUS"/>
                <element name="NXT_TRCR_DT"/>
                <element name="NarrButton_95"/>
                <element name="OLDVALUES"/>
                <element name="OLDVALUES_ACC"/>
                <element name="OLDVALUES_COVERNO"/>
                <element name="OLDVALUES_OVR"/>
                <element name="ORG_BEN_CUSTACCT"/>
                <element name="ORG_BEN_CUSTID"/>
                <element name="ORIG_103_MEDI_BKID"/>
                <element name="ORIG_103_REC_BKID"/>
                <element name="ORIG_202SENDCORRID"/>
                <element name="ORIG_202_REC_BKID"/>
                <element name="ORIG_IBAN_VALID"/>
                <element name="OUR_CHGS"/>
                <element name="OVRIDE"/>
                <element name="Ord_Cust_lookup"/>
                <element name="PARTY_NM"/>
                <element name="PAY_COMM_TMP"/>
                <element name="PAY_REF"/>
                <element name="PRODREF"/>
                <element name="PaymentMultipleDebits">
                    <complexType>
                        <sequence>
                            <element name="CAP_AMT_IND"/>
                            <element name="COV_AMT"/>
                            <element name="COV_CCY"/>
                            <element name="COV_NO"/>
                            <element name="COV_VAL_DT"/>
                            <element name="CPYT_DR_AC"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CPYT_DR_NAME"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EXCH_RATE"/>
                            <element name="FORM_EXCH_RATE"/>
                            <element name="MD_I"/>
                            <element name="MUL_CASH_IND"/>
                            <element name="MUL_FDS_AVAL"/>
                            <element name="MUL_OVRIDE"/>
                            <element name="PAY_AMT"/>
                            <element name="PAY_CCY"/>
                            <element name="PUR_SAL_IND"/>
                            <element name="RELA_REF"/>
                            <element name="SETT_AMT"/>
                            <element name="SETT_CCY"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Query_Ans_Button"/>
                <element name="RATE_TYPE"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="RELATED_REF"/>
                <element name="RELATED_REF_NO"/>
                <element name="RELA_REF"/>
                <element name="REMIT_INFO_TMP_70"/>
                <element name="REPUR_IND"/>
                <element name="RES_STATUS"/>
                <element name="REVE_IND"/>
                <element name="ROUT_PRIORITY"/>
                <element name="SECOND_CHG_AMT"/>
                <element name="SEND_CORR_BK_ADD1"/>
                <element name="SEND_CORR_BK_ADD2"/>
                <element name="SEND_CORR_BK_ADD3"/>
                <element name="SEND_CORR_BK_ID"/>
                <element name="SEND_CORR_BK_NM"/>
                <element name="SEND_CORR_SW_ADD"/>
                <element name="SEND_CORR_SW_TAG"/>
                <element name="SEND_TO_FLAG"/>
                <element name="SEND_TO_ID_BTN"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="SERVICE_TYPE_ID_GPI_111"/>
                <element name="SETT_ACC_AUDIT"/>
                <element name="SETT_ACC_AUDIT1"/>
                <element name="SETT_CCY"/>
                <element name="SEVEN_DAYS_BACK"/>
                <element name="SG_BIN"/>
                <element name="STAMP_COUR"/>
                <element name="STAN_INSTR"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="SUSP_AC"/>
                <element name="SWT_COMM_TMP"/>
                <element name="SYS_BUSI_UNIT"/>
                <element name="TEMP_ACC_NO"/>
                <element name="TEMP_CASH_IND"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RESULT2"/>
                <element name="TEMP_TAG25"/>
                <element name="TOT_CHRG_AMT"/>
                <element name="TOT_DB_AMT"/>
                <element name="TRACKER_SW_ADD"/>
                <element name="TRX_HISTORY"/>
                <element name="TRX_HISTORY_TEMP"/>
                <element name="TWO_DAYS_BACK"/>
                <element name="UETR_GPI_121"/>
                <element name="VALUE_DT"/>
                <element name="VAT_IND1"/>
                <element name="VOSTRO_NOSTRO_FLAG"/>
                <element name="X102_23_BANK_OPERA_CODE"/>
                <element name="X102_32A_AMT"/>
                <element name="X102_32A_CCY"/>
                <element name="X102_32A_DATE"/>
                <element name="X102_TAG_119"/>
                <element name="X103BENECUADD1_59A"/>
                <element name="X103BENECUADD2_59A"/>
                <element name="X103BENECUADD3_59A"/>
                <element name="X103MEDIBKADD1_56A"/>
                <element name="X103MEDIBKADD2_56A"/>
                <element name="X103MEDIBKADD3_56A"/>
                <element name="X103RECCORRACNO54A"/>
                <element name="X103SENDBKADD1_51A"/>
                <element name="X103SENDBKADD2_51A"/>
                <element name="X103SENDBKADD3_51A"/>
                <element name="X103SENDCORACNO53A"/>
                <element name="X103SENDCORADD153A"/>
                <element name="X103SENDCORADD253A"/>
                <element name="X103SENDCORADD353A"/>
                <element name="X103TRDREIMACNO55A"/>
                <element name="X103TRDREIMADD155A"/>
                <element name="X103TRDREIMADD255A"/>
                <element name="X103TRDREIMADD355A"/>
                <element name="X103_50_ADD_BTN"/>
                <element name="X103_50_BTN"/>
                <element name="X103_51_ADD_BTN"/>
                <element name="X103_51_BTN"/>
                <element name="X103_52A_BTN"/>
                <element name="X103_53A_BTN"/>
                <element name="X103_54A_BTN"/>
                <element name="X103_56A_BTN"/>
                <element name="X103_57A_BTN"/>
                <element name="X103_ACCBKADD1_57A"/>
                <element name="X103_ACCBKADD2_57A"/>
                <element name="X103_ACCBKADD3_57A"/>
                <element name="X103_ACC_BKACNO57A"/>
                <element name="X103_ACC_BKID_57A"/>
                <element name="X103_ACC_BKNM_57A"/>
                <element name="X103_ACC_BKSW_57A"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_ADD_BTN"/>
                <element name="X103_B2_BTN"/>
                <element name="X103_B3_SERVICE_CODE"/>
                <element name="X103_B3_SERVICE_CODE_ORIGINAL"/>
                <element name="X103_BENECUACNO59A"/>
                <element name="X103_BENECU_DD_FLAG"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_BENECU_SW_59A"/>
                <element name="X103_BK2BK_72_APPROVAL_NO"/>
                <element name="X103_BK2BK_72_AUTH_DEALER_CD"/>
                <element name="X103_BK2BK_72_XPIR_DATE"/>
                <element name="X103_BK2BK_72_XPIR_DATE33"/>
                <element name="X103_BK2BK_INF1_72"/>
                <element name="X103_BK2BK_INF1_72A__DESC__"/>
                <element name="X103_BK2BK_INF1_72A"/>
                <element name="X103_BK2BK_INF2_72"/>
                <element name="X103_BK2BK_INF3_72"/>
                <element name="X103_BK2BK_INF4_72"/>
                <element name="X103_BK2BK_INF5_72"/>
                <element name="X103_BK2BK_INF6_72"/>
                <element name="X103_BKOP_CODE_23B"/>
                <element name="X103_DET_CHG_71A"/>
                <element name="X103_ENV_CONT_77T"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_ID_59_BTN"/>
                <element name="X103_INSTRCODE1_23E"/>
                <element name="X103_INSTRCODE2_23E"/>
                <element name="X103_INSTRCODE_23E"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_MEDIBKACNO56A"/>
                <element name="X103_MEDI_BKID_56A"/>
                <element name="X103_MEDI_BKNM_56A"/>
                <element name="X103_MEDI_BKSW_56A"/>
                <element name="X103_ORDBKACNO_52A"/>
                <element name="X103_ORDBKADD1_52A"/>
                <element name="X103_ORDBKADD2_52A"/>
                <element name="X103_ORDBKADD3_52A"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUACNO_50F"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD1_50F"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD2_50F"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCUADD3_50F"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_NM_50F"/>
                <element name="X103_ORDCU_SW_50A"/>
                <element name="X103_ORD_BKID_52A"/>
                <element name="X103_ORD_BKNM_52A"/>
                <element name="X103_ORD_BKSW_52A"/>
                <element name="X103_RECCHGAMT_71G"/>
                <element name="X103_RECCHGCCY_71G"/>
                <element name="X103_RECCORADD154A"/>
                <element name="X103_RECCORADD254A"/>
                <element name="X103_RECCORADD354A"/>
                <element name="X103_RECCORRID_54A"/>
                <element name="X103_RECCORRNM_54A"/>
                <element name="X103_RECCORRSW_54A"/>
                <element name="X103_REG_REP1_77B"/>
                <element name="X103_REG_REP2_77B"/>
                <element name="X103_REG_REP3_77B"/>
                <element name="X103_REMIT_INF1_70"/>
                <element name="X103_REMIT_INF2_70"/>
                <element name="X103_REMIT_INF3_70"/>
                <element name="X103_REMIT_INF4_70"/>
                <element name="X103_SENDBKACNO51A"/>
                <element name="X103_SENDCHGAMT71F"/>
                <element name="X103_SENDCHGCCY71F"/>
                <element name="X103_SENDCORRID53A"/>
                <element name="X103_SENDCORRNM53A"/>
                <element name="X103_SENDCORRSW53A"/>
                <element name="X103_SEND_BKID_51A"/>
                <element name="X103_SEND_BKNM_51A"/>
                <element name="X103_SEND_BKSW_51A"/>
                <element name="X103_SEND_NO_20"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_TAG_50A"/>
                <element name="X103_TAG_51A"/>
                <element name="X103_TAG_52A"/>
                <element name="X103_TAG_53A"/>
                <element name="X103_TAG_54A"/>
                <element name="X103_TAG_55A"/>
                <element name="X103_TAG_56A"/>
                <element name="X103_TAG_57A"/>
                <element name="X103_TAG_59A"/>
                <element name="X103_TAG_B2"/>
                <element name="X103_TIME_INDI_13C"/>
                <element name="X103_TRDREIMID_55A"/>
                <element name="X103_TRDREIMNM_55A"/>
                <element name="X103_TRDREIMSW_55A"/>
                <element name="X103_TRX_TYPCD_26T"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X199_NARRATIVE_79"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202_52_BTN"/>
                <element name="X202_53_BTN"/>
                <element name="X202_54_BTN"/>
                <element name="X202_56_BTN"/>
                <element name="X202_57_BTN"/>
                <element name="X202_58_BTN"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKMED_B2__DESC__"/>
                <element name="X202_ADV_BKMED_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_B2_BTN"/>
                <element name="X202_B3_SERVICE_CODE"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BK2BK_INF1_72"/>
                <element name="X202_BK2BK_INF2_72"/>
                <element name="X202_BK2BK_INF3_72"/>
                <element name="X202_BK2BK_INF4_72"/>
                <element name="X202_BK2BK_INF5_72"/>
                <element name="X202_BK2BK_INF6_72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="X203_52A_IDENTIFIER"/>
                <element name="X203_52D_PARTY_ADD1"/>
                <element name="X203_52D_PARTY_ADD2"/>
                <element name="X203_52D_PARTY_ADD3"/>
                <element name="X203_52D_PARTY_NAME"/>
                <element name="X203_52_PARTY_ID"/>
                <element name="X203_52_PARTY_IDENTIFIER"/>
                <element name="X203_52_TAG"/>
                <element name="X205_B3_SERVICE_CODE"/>
                <element name="X95_96_QUER_ANS"/>
                <element name="X9N0_25P_IDENTIFIER"/>
                <element name="XN90_ACCT_IDENT_25"/>
                <element name="XN90_AMT_32A"/>
                <element name="XN90_BK2BK_INF1_72"/>
                <element name="XN90_BK2BK_INF2_72"/>
                <element name="XN90_BK2BK_INF3_72"/>
                <element name="XN90_BK2BK_INF4_72"/>
                <element name="XN90_BK2BK_INF5_72"/>
                <element name="XN90_BK2BK_INF6_72"/>
                <element name="XN90_CCY_32A"/>
                <element name="XN90_DET_CHG1_71B"/>
                <element name="XN90_DET_CHG2_71B"/>
                <element name="XN90_DET_CHG3_71B"/>
                <element name="XN90_DET_CHG4_71B"/>
                <element name="XN90_DET_CHG5_71B"/>
                <element name="XN90_DET_CHG6_71B"/>
                <element name="XN90_ORDBKACNO_52A"/>
                <element name="XN90_ORDBKADD1_52A"/>
                <element name="XN90_ORDBKADD2_52A"/>
                <element name="XN90_ORDBKADD3_52A"/>
                <element name="XN90_ORD_BKID_52A"/>
                <element name="XN90_ORD_BKNM_52A"/>
                <element name="XN90_ORD_BKSW_52A"/>
                <element name="XN90_RELATEDNO_21"/>
                <element name="XN90_SEND_NO_20"/>
                <element name="XN90_TAG_52A"/>
                <element name="XN90_VALUE_DT_32A"/>
                <element name="XN91_ACCBKADD1_57A"/>
                <element name="XN91_ACCBKADD2_57A"/>
                <element name="XN91_ACCBKADD3_57A"/>
                <element name="XN91_ACC_BKACNO57A"/>
                <element name="XN91_ACC_BKID_57A"/>
                <element name="XN91_ACC_BKNM_57A"/>
                <element name="XN91_ACC_BKSW_57A"/>
                <element name="XN91_AMT_32B"/>
                <element name="XN91_BK2BK_INF1_72"/>
                <element name="XN91_BK2BK_INF2_72"/>
                <element name="XN91_BK2BK_INF3_72"/>
                <element name="XN91_BK2BK_INF4_72"/>
                <element name="XN91_BK2BK_INF5_72"/>
                <element name="XN91_BK2BK_INF6_72"/>
                <element name="XN91_CCY_32B"/>
                <element name="XN91_DET_CHG1_71B"/>
                <element name="XN91_DET_CHG2_71B"/>
                <element name="XN91_DET_CHG3_71B"/>
                <element name="XN91_DET_CHG4_71B"/>
                <element name="XN91_DET_CHG5_71B"/>
                <element name="XN91_DET_CHG6_71B"/>
                <element name="XN91_ORDBKACNO_52A"/>
                <element name="XN91_ORDBKADD1_52A"/>
                <element name="XN91_ORDBKADD2_52A"/>
                <element name="XN91_ORDBKADD3_52A"/>
                <element name="XN91_ORD_BKID_52A"/>
                <element name="XN91_ORD_BKNM_52A"/>
                <element name="XN91_ORD_BKSW_52A"/>
                <element name="XN91_RELATEDNO_21"/>
                <element name="XN91_SEND_NO_20"/>
                <element name="XN91_TAG_52A"/>
                <element name="XN91_TAG_57A"/>
                <element name="XN95_96_NARRATIVE"/>
                <element name="XN99_NARRATIVE_79"/>
                <element name="XN99_NARRATIVE_79_Button"/>
                <element name="XN99_RELATEDNO_21"/>
                <element name="XN99_TRX_REF_NO_20"/>
            </sequence>
        </complexType>
    </element>
</schema>
