EE_PARA/EE_PARA/Default/FORM/form_schema_CorrDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CELL_PH_NO"/>
<element name="CNTY_CODE"/>
<element name="CONTACT_NAME"/>
<element name="CONTACT_SURNAME"/>
<element name="C_CUSTOMER_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="ELEC_DLV_METHOD"/>
<element name="EMAIL"/>
<element name="FAX_NO"/>
<element name="TEL_NO"/>
</sequence>
</complexType>
</element>
</schema>
