EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFFinancing_main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="COMMON_PRDT_CODE"/>
                            <element name="C_BU_ID"/>
                            <element name="C_FUNC_NAME"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CB_AC_NO"/>
                            <element name="FA_CB_FEE"/>
                            <element name="FA_CB_FEE_CCY"/>
                            <element name="FA_COMM_CHG_TYPE__DESC__"/>
                            <element name="FA_COMM_CHG_TYPE"/>
                            <element name="FA_CR_CNTR_NO"/>
                            <element name="FA_CR_NO"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_EF_COMM_AC_NO"/>
                            <element name="FA_EF_COMM_SUM"/>
                            <element name="FA_EF_HAN_CHG_SUM"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_FIN_INFO"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_INV_VAL_DT"/>
                            <element name="FA_IRT_SPREAD"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LOAN_AC_NO"/>
                            <element name="FA_LOAN_CCY"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_ID"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                            <element name="FA_LOAN_IRATE_TYPE"/>
                            <element name="FA_LOAN_PERC"/>
                            <element name="FA_LOAN_STATUS"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_PAID_INT_SUM"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_SEL_AC_AMT"/>
                            <element name="FA_SEL_AC_CCY"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_AMT13"/>
                            <element name="FA_TEMP_AMT16"/>
                            <element name="FA_TEMP_AMT9"/>
                            <element name="FA_TEMP_DOC_STATUS"/>
                            <element name="FA_TEMP_RATE"/>
                            <element name="FA_TTL_LOAN_AMT"/>
                            <element name="FA_TTL_LOAN_BAL"/>
                            <element name="FINC_CCY2"/>
                            <element name="GL_BUSI_TYPE"/>
                            <element name="IA_C_ACCOUNT_TYPE"/>
                            <element name="IA_C_BORROWER_ID"/>
                            <element name="IA_C_CCY_CODE"/>
                            <element name="IA_C_FUNCTION_ID"/>
                            <element name="IA_C_INTF_ID"/>
                            <element name="IA_C_UNIT_OF_CRT"/>
                            <element name="IA_D_DUE_DATE"/>
                            <element name="IA_D_TRX_VALDATE"/>
                            <element name="IA_I_BASE_DAYS"/>
                            <element name="IA_I_CCY_DEC"/>
                            <element name="IA_I_DISCOUNT_DAYS"/>
                            <element name="IA_N_DISCOUNT_RATE"/>
                            <element name="IA_Y_REACC_INT"/>
                            <element name="IA_Y_REFUND_INT"/>
                            <element name="IA_Y_TRX_AMT"/>
                            <element name="IA_Y_TTL_DISCT_INT"/>
                            <element name="InvFinance">
                                <complexType>
                                    <sequence>
                                        <element name="CLERK_ID"/>
                                        <element name="FA_ADJ_AMT"/>
                                        <element name="FA_ADJ_BAL"/>
                                        <element name="FA_COMM_CHG_TYPE__DESC__"/>
                                        <element name="FA_COMM_CHG_TYPE"/>
                                        <element name="FA_CRN_AMT_SUM"/>
                                        <element name="FA_CRN_BAL"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_FIN_LOAN_AMT"/>
                                        <element name="FA_INT_CHG_TYPE__DESC__"/>
                                        <element name="FA_INT_CHG_TYPE"/>
                                        <element name="FA_INV_INT_DAYS"/>
                                        <element name="FA_INV_LMT_APPRV"/>
                                        <element name="FA_INV_LOAN_AMT"/>
                                        <element name="FA_INV_LOAN_BAL"/>
                                        <element name="FA_INV_LOAN_EBAL"/>
                                        <element name="FA_INV_LOAN_ID"/>
                                        <element name="FA_INV_LOAN_TIMES"/>
                                        <element name="FA_LAST_PINT_DT"/>
                                        <element name="FA_LOAN_DAYS"/>
                                        <element name="FA_LOAN_DUE_DT"/>
                                        <element name="FA_LOAN_INT_AMT"/>
                                        <element name="FA_LOAN_INT_RT"/>
                                        <element name="FA_LOAN_INT_SM_AMT"/>
                                        <element name="FA_LOAN_PERC"/>
                                        <element name="FA_LOAN_STATUS"/>
                                        <element name="FA_LOAN_VAL_DT"/>
                                        <element name="FA_PMT_GRC_DAY"/>
                                        <element name="FA_REBATE_AMT"/>
                                        <element name="FA_SEL_ID"/>
                                        <element name="FA_SUM_PERCENT"/>
                                        <element name="FA_TEMP3"/>
                                        <element name="FA_TEMP4"/>
                                        <element name="FA_TEMP6"/>
                                        <element name="FA_TEMP7"/>
                                        <element name="FA_TEMP_AMT15"/>
                                        <element name="FA_TEMP_AMT16"/>
                                        <element name="FA_TRF_FX_RT"/>
                                        <element name="INV_LOAN_AVL"/>
                                        <element name="PO_LOAN_BAL"/>
                                        <element name="PO_NO"/>
                                        <element name="TEMP_INT9"/>
                                        <element name="T_SYS_OP_TIME"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PRODUCT_CODE"/>
                            <element name="RPT_CNTY_CODE1"/>
                            <element name="RPT_TRX_REF_NO1"/>
                            <element name="TEMP_FLG3"/>
                            <element name="TEMP_FLG4"/>
                            <element name="TEMP_TRX_DT"/>
                            <element name="TRX_DT"/>
                            <element name="XBOR_RT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
