EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADA_CreateSBR_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CHG_FREQ_CD__DESC__"/>
                            <element name="CHG_FREQ_CD"/>
                            <element name="CHG_PAID_BY__DESC__"/>
                            <element name="CHG_PAID_BY"/>
                            <element name="CUST_ID"/>
                            <element name="CUST_TYPE__DESC__"/>
                            <element name="CUST_TYPE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXCH_RT1"/>
                            <element name="FACI_BAL"/>
                            <element name="FACI_TYPE"/>
                            <element name="FA_ACK_FLG__DESC__"/>
                            <element name="FA_ACK_FLG"/>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_AGM_SIGN_FLG__DESC__"/>
                            <element name="FA_AGM_SIGN_FLG"/>
                            <element name="FA_AUTO_DEBIT__DESC__"/>
                            <element name="FA_AUTO_DEBIT"/>
                            <element name="FA_AUTO_FIN__DESC__"/>
                            <element name="FA_AUTO_FIN"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BA_LINK"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CMMR_CNTR_DTL"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_COUNTER_ADD_ML"/>
                            <element name="FA_COUNTER_CE_FLG__DESC__"/>
                            <element name="FA_COUNTER_CE_FLG"/>
                            <element name="FA_COUNTER_CNTY"/>
                            <element name="FA_COUNTER_CONT_EM"/>
                            <element name="FA_COUNTER_CONT_NM"/>
                            <element name="FA_COUNTER_CONT_TEL"/>
                            <element name="FA_COUNTER_CT"/>
                            <element name="FA_COUNTER_PROV"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_COUNTER_STR"/>
                            <element name="FA_COUNTER_TYPE__DESC__"/>
                            <element name="FA_COUNTER_TYPE"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_CUT_OFF_DAYS"/>
                            <element name="FA_DOC_REF_TEMP"/>
                            <element name="FA_DOC_REQD"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_FIN_INFO"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_IRT_SPREAD"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                            <element name="FA_LOAN_IRATE_TYPE"/>
                            <element name="FA_MAX_FIN_AMT"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_MIN_FIN_AMT"/>
                            <element name="FA_OVD_IRT_SPREAD"/>
                            <element name="FA_PCA_REF"/>
                            <element name="FA_PRICING_DS__DESC__"/>
                            <element name="FA_PRICING_DS"/>
                            <element name="FA_REBATE_ACCOUNT"/>
                            <element name="FA_REBATE_RATE"/>
                            <element name="FA_RELATION_STATUS__DESC__"/>
                            <element name="FA_RELATION_STATUS"/>
                            <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                            <element name="FA_REQ_BUYER_APR_FLG"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_AC_NO"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP5"/>
                            <element name="GRACE_DAYS"/>
                            <element name="INV_FIN_MODE__DESC__"/>
                            <element name="INV_FIN_MODE"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_OUTC_APL"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="POOL_INV_MAX_AMT"/>
                            <element name="POOL_INV_MAX_PERIOD"/>
                            <element name="POOL_INV_MIN_AMT"/>
                            <element name="POOL_INV_MIN_PERIOD"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RCUST_ID"/>
                            <element name="REBATE_BT"/>
                            <element name="SUB_DESC"/>
                            <element name="TRX_DT"/>
                            <element name="XBOR_RT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
