EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_Currency_forDO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_COUNTRY"/>
                            <element name="C_CURRENCY"/>
                            <element name="C_MAJOR_NAME"/>
                            <element name="C_MINOR_NAME"/>
                            <element name="C_SWIFT_CODE"/>
                            <element name="GL_CODE"/>
                            <element name="I_BASE_DAY"/>
                            <element name="I_DECIMAL"/>
                            <element name="I_ISO_CODE"/>
                            <element name="I_ORDER_PRIORITY"/>
                            <element name="I_RATE_DECIMAL"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
