EE_PARA/EE_PARA/Default/FORM/form_schema_STAT_IssuranceMaintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="EMAIL_ADD"/>
                <element name="FST_CNTC_NM"/>
                <element name="FST_CNTC_TEL_NO"/>
                <element name="FUNCTION_ACTION"/>
                <element name="INSU_CO_ADD1"/>
                <element name="INSU_CO_ADD2"/>
                <element name="INSU_CO_ADD3"/>
                <element name="INSU_CO_FAX"/>
                <element name="INSU_CO_NM"/>
                <element name="INSU_CO_TEL_NO"/>
                <element name="INSU_EXPIRY_DT"/>
                <element name="INSU_GOODS_COV"/>
                <element name="INSU_POLICY_NO"/>
                <element name="NOTES"/>
                <element name="PARTY_WEBSITE"/>
                <element name="PER_SHIP_AMT"/>
                <element name="PER_SHIP_AMT_CCY"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
            </sequence>
        </complexType>
    </element>
</schema>
