EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_ActivateSupplierCompanyProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CNTC_STAF"/>
                <element name="CNTC_STAF_EMAIL"/>
                <element name="CNTC_STAF_TEL"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_ADD"/>
                <element name="CUST_ADD2"/>
                <element name="CUST_CITY"/>
                <element name="CUST_CNTRY"/>
                <element name="CUST_NM"/>
                <element name="CUST_POST_CD"/>
                <element name="CUST_REF"/>
                <element name="CUST_STAT_CD__DESC__"/>
                <element name="CUST_STAT_CD"/>
                <element name="C_MAIN_REF"/>
                <element name="SUPLR_STATUS__DESC__"/>
                <element name="SUPLR_STATUS"/>
                <element name="SUPLR_TP__DESC__"/>
                <element name="SUPLR_TP"/>
            </sequence>
        </complexType>
    </element>
</schema>
