EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TrxCommonDOMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CHG_CUST_AC"/>
<element name="CHG_CUST_AMT"/>
<element name="CHG_CUST_AMT_DR"/>
<element name="CHG_CUST_CCY"/>
<element name="CHG_CUST_VCH_DESC_CR"/>
<element name="CHG_CUST_VCH_DESC_DR"/>
<element name="CHG_FLD_ALL_BAL_CCY"/>
<element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
<element name="CHG_FLD_ALL_CHARGE_AT"/>
<element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
<element name="CHG_FLD_ALL_CHARGE_FOR"/>
<element name="CHG_FLD_COLLECT_CCY"/>
<element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
<element name="CHG_FLD_LOCAL_CUST_CCY"/>
<element name="CHG_FX_AMT_CR"/>
<element name="CHG_FX_AMT_DR"/>
<element name="CHG_TRX_DATE"/>
<element name="CLERK_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
