EE_PARA/EE_PARA/Default/FORM/form_schema_Std_AuthLevelDtl_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_ADD_FLAG"/>
                <element name="C_AUTH_RULE_DESC"/>
                <element name="C_AUTH_RULE_NAME"/>
                <element name="C_CCY_ID"/>
                <element name="C_CREA_BY"/>
                <element name="D_CREA_DATE"/>
                <element name="FIELD_SIZE"/>
                <element name="OP_TYPE"/>
                <element name="_ARRAY_FIELD"/>
                <element name="_IS_EXCHRATE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
