EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADA_PCAResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="B_BUYER"/>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXCH_RT1"/>
                            <element name="EXCH_RT2"/>
                            <element name="EXCH_RT3"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_BK_BRCH"/>
                            <element name="FA_BUYER_BK_NM"/>
                            <element name="FA_BUYER_CITY"/>
                            <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                            <element name="FA_BUYER_CNTC_FLG"/>
                            <element name="FA_BUYER_CNTY"/>
                            <element name="FA_BUYER_COMP_REG"/>
                            <element name="FA_BUYER_CONT_ADDR"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_BUYER_NM2"/>
                            <element name="FA_BUYER_POSTBOX"/>
                            <element name="FA_BUYER_POSTCODE"/>
                            <element name="FA_BUYER_PROV"/>
                            <element name="FA_BUYER_RESP_AGNT"/>
                            <element name="FA_CE_MAIN_REF"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_LMT_ASS_AMT"/>
                            <element name="FA_LMT_ASS_CCY"/>
                            <element name="FA_LMT_LONG_DAYS"/>
                            <element name="FA_MSG_TEXT02"/>
                            <element name="FA_PCA_REF"/>
                            <element name="FA_PCR_REF"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_REASON__DESC__"/>
                            <element name="FA_REASON"/>
                            <element name="FA_REPL_DT"/>
                            <element name="FA_REPL_REF"/>
                            <element name="FA_REQ_DT"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP4"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="MSG_TYPE"/>
                            <element name="QR_CD_FLD"/>
                            <element name="TEMP_CCY"/>
                            <element name="TEMP_DATE1"/>
                            <element name="THEIR_REF_NO"/>
                            <element name="TRX_DT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
