EE_PARA/EE_PARA/Default/FORM/form_schema_PMAT_EnquireSupplierSettINV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AI_ACT_AMT"/>
<element name="AI_DUE_DT"/>
<element name="AI_NUM"/>
<element name="AI_ORG_AMT"/>
<element name="AI_SET_DT"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="PMT_REF"/>
</sequence>
</complexType>
</element>
</schema>
