EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_StatusReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="R2StatusReportItems2">
                                <complexType>
                                    <sequence>
                                        <element name="TSUR2_RPTDITMS_STS__DESC__"/>
                                        <element name="TSUR2_RPTDITMS_STS"/>
                                        <element name="TSU_PARTY_BIC"/>
                                        <element name="TSU_PARTY_BIC2"/>
                                        <element name="TSU_RPTDITMS_SUBSTS"/>
                                        <element name="TSU_TRX_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_RL_MSG_ID"/>
                            <element name="TSU_RPT_DTTM"/>
                            <element name="TSU_RPT_RLTD_DTTM"/>
                            <element name="TSU_SUBMITR_BIC"/>
                            <element name="TSU_TRX_DTTM"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
