EE_PARA/EE_PARA/Default/FORM/form_multi_schema_REIM_Reopen_File.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="ADD_AMT_COVRD"/>
<element name="AMT_SPEC__DESC__"/>
<element name="AMT_SPEC"/>
<element name="AVAL_BK_ORDER_NO"/>
<element name="AVAL_BY__DESC__"/>
<element name="AVAL_BY"/>
<element name="AVAL_WT_BK_ADD1"/>
<element name="AVAL_WT_BK_ADD2"/>
<element name="AVAL_WT_BK_ADD3"/>
<element name="AVAL_WT_BK_ADD_BTN"/>
<element name="AVAL_WT_BK_ID"/>
<element name="AVAL_WT_BK_ID_BTN"/>
<element name="AVAL_WT_BK_NM"/>
<element name="AVAL_WT_BK_NOTES"/>
<element name="AVAL_WT_BK_SW_ADD"/>
<element name="AVAL_WT_BK_SW_TAG"/>
<element name="BENE_ACNO"/>
<element name="BENE_ADD1"/>
<element name="BENE_ADD2"/>
<element name="BENE_ADD3"/>
<element name="BENE_BK_ADD_BTN"/>
<element name="BENE_ID"/>
<element name="BENE_ID_BTN"/>
<element name="BENE_NM"/>
<element name="BENE_NOTES"/>
<element name="BENE_ORDER_NO"/>
<element name="CHG_CUST_VCH_DESC_CR"/>
<element name="CHG_CUST_VCH_DESC_DR"/>
<element name="CHG_FCUST_CCY"/>
<element name="CHG_FOREIGN_FX_AMT_CR"/>
<element name="CHG_FOREIGN_FX_AMT_DR"/>
<element name="CHG_FOREIGN_FX_CCY_CR"/>
<element name="CHG_FOREIGN_FX_CCY_DR"/>
<element name="CHG_LOCAL_FX_AMT_CR"/>
<element name="CHG_LOCAL_FX_AMT_DR"/>
<element name="CHG_LOCAL_FX_CCY_CR"/>
<element name="CHG_LOCAL_FX_CCY_DR"/>
<element name="CHG_TRX_DATE"/>
<element name="CLERK_ID"/>
<element name="CLOSE_DT"/>
<element name="CLS_FLG__DESC__"/>
<element name="CLS_FLG"/>
<element name="CONF_CR_AC_NO"/>
<element name="CONF_DR_AC_NO"/>
<element name="CONF_INSTR__DESC__"/>
<element name="CONF_INSTR"/>
<element name="C_MAIN_REF"/>
<element name="DIARY_DT"/>
<element name="DIARY_NARRATIVE"/>
<element name="DIARY_RELATED_REF"/>
<element name="DRWE_ADD1"/>
<element name="DRWE_ADD2"/>
<element name="DRWE_ADD3"/>
<element name="DRWE_ADD_BTN"/>
<element name="DRWE_ID"/>
<element name="DRWE_ID_BTN"/>
<element name="DRWE_NM"/>
<element name="DRWE_NOTES"/>
<element name="DRWE_ORDER_NO"/>
<element name="DRWE_SW_ADD"/>
<element name="DRWE_SW_TAG"/>
<element name="EXPIRY_DT"/>
<element name="EXPIRY_PLC__DESC__"/>
<element name="EXPIRY_PLC"/>
<element name="GRACE_DAYS"/>
<element name="INW_X103_DET_CHG_71A"/>
<element name="ISSUE_BK_AC_NO"/>
<element name="ISSUE_BK_ADD1"/>
<element name="ISSUE_BK_ADD2"/>
<element name="ISSUE_BK_ADD3"/>
<element name="ISSUE_BK_ADD_BTN"/>
<element name="ISSUE_BK_CNTY"/>
<element name="ISSUE_BK_ID"/>
<element name="ISSUE_BK_ID_BTN"/>
<element name="ISSUE_BK_NM"/>
<element name="ISSUE_BK_NOTES"/>
<element name="ISSUE_BK_ORDER_NO"/>
<element name="ISSUE_BK_SW_ADD"/>
<element name="ISSUE_BK_SW_TAG"/>
<element name="ISSUE_DT"/>
<element name="LC_CCY"/>
<element name="LC_NO"/>
<element name="LOCAL_AMT"/>
<element name="LOCAL_CCY"/>
<element name="LOCAL_RATE"/>
<element name="LOGIN_BIC"/>
<element name="NEG_TOL"/>
<element name="NOTES"/>
<element name="POS_TOL"/>
<element name="PRES_BK_ADD1"/>
<element name="PRES_BK_ADD2"/>
<element name="PRES_BK_ADD3"/>
<element name="PRES_BK_ADD_BTN"/>
<element name="PRES_BK_ID"/>
<element name="PRES_BK_ID_BTN"/>
<element name="PRES_BK_NM"/>
<element name="PRES_BK_NOTES"/>
<element name="PRES_BK_ORDER_NO"/>
<element name="PRES_BK_SW_ADD"/>
<element name="PRES_BK_SW_TAG"/>
<element name="QR_CD_FLD"/>
<element name="REIM_CONF_BAL"/>
<element name="REIM_INST_AMT"/>
<element name="REIM_INST_BAL"/>
<element name="STP_ADBIC_LC"/>
<element name="STP_CODE"/>
<element name="STP_MESSAGE_TYPE"/>
<element name="STP_MSG_CONTENT"/>
<element name="STP_RECV_TIME"/>
<element name="SYND_ADD"/>
<element name="SYND_FLG__DESC__"/>
<element name="SYND_FLG"/>
<element name="TEMP_AC_AMT1"/>
<element name="TEMP_AC_AMT2"/>
<element name="view_1"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
