EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_MoveCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="LMTS_CUST"/>
                <element name="LMTS_GROUP"/>
                <element name="LMTS_RCUST"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_GRUP_ID"/>
                <element name="LM_RCUST_ID"/>
                <element name="_TRX_TYPE"/>
            </sequence>
        </complexType>
    </element>
</schema>
