EE_PARA/EE_PARA/Default/FORM/form_schema_Std_IAAC_RateTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_NAME"/>
                <element name="C_RATE_ID"/>
                <element name="C_RATE_NAME"/>
                <element name="C_TEST"/>
                <element name="C_UNIT_CODE"/>
                <element name="IA_RATE"/>
                <element name="I_RATE_TYPE"/>
                <element name="I_TIER_DAY1"/>
                <element name="I_TIER_DAY2"/>
                <element name="I_TIER_DAY3"/>
                <element name="I_TIER_DAY4"/>
                <element name="I_TIER_DAY5"/>
                <element name="I_TIER_DAY6"/>
                <element name="I_TIER_DAY7"/>
                <element name="I_TIER_DAY8"/>
                <element name="N_RAT_DAY1"/>
                <element name="N_RAT_DAY2"/>
                <element name="N_RAT_DAY3"/>
                <element name="N_RAT_DAY4"/>
                <element name="N_RAT_DAY5"/>
                <element name="N_RAT_DAY6"/>
                <element name="N_RAT_DAY7"/>
                <element name="N_RAT_DAY8"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
