EE_PARA/EE_PARA/Default/FORM/form_schema_STD_Ref_By.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_INIT_FLAG__DESC__"/>
                <element name="C_INIT_FLAG"/>
                <element name="C_JUMP_FLAG"/>
                <element name="C_REF_NAME"/>
                <element name="C_REF_PRE"/>
                <element name="C_REF_SUF"/>
                <element name="C_REF_TYPE__DESC__"/>
                <element name="C_REF_TYPE"/>
                <element name="C_UNIT_CODE"/>
                <element name="I_REF_LEN"/>
                <element name="I_REF_SEQ"/>
                <element name="I_SEQ_LEN"/>
                <element name="I_SND_SEQ"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
