EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_DDRate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="C_TRX_REF"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_DD_D_FROM"/>
                <element name="FA_DD_D_TO"/>
                <element name="FA_DD_RATE"/>
                <element name="FA_DD_RT_ID"/>
            </sequence>
        </complexType>
    </element>
</schema>
