EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_BUWorkTime_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_AE_HOUR"/>
                            <element name="C_AE_MIN"/>
                            <element name="C_AM_END_TIME"/>
                            <element name="C_AM_START_TIME"/>
                            <element name="C_AS_HOUR"/>
                            <element name="C_AS_MIN"/>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CP_UNIT_CODE"/>
                            <element name="C_PE_HOUR"/>
                            <element name="C_PE_MIN"/>
                            <element name="C_PM_END_TIME"/>
                            <element name="C_PM_START_TIME"/>
                            <element name="C_PS_HOUR"/>
                            <element name="C_PS_MIN"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
