EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FinanceRepaymentCF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AC_NO"/>
<element name="CFNC_C_AC_NO_BTN"/>
<element name="CFNC_C_AC_TYPE"/>
<element name="CFNC_C_APPROVE_STATUS"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_FINANCE_FLG"/>
<element name="CFNC_C_GRACE_DAYS"/>
<element name="CFNC_C_GRACE_FLG__DESC__"/>
<element name="CFNC_C_GRACE_FLG"/>
<element name="CFNC_C_INIT_FLG"/>
<element name="CFNC_C_INT_MODE"/>
<element name="CFNC_C_INT_MTHD"/>
<element name="CFNC_C_INT_PAYABLE"/>
<element name="CFNC_C_ORIGIN_MAIN_REF"/>
<element name="CFNC_C_ORIGIN_MODULE"/>
<element name="CFNC_C_ORIGIN_TRX_REF"/>
<element name="CFNC_C_OTHER_TYPE"/>
<element name="CFNC_C_PAY_BY"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_C_RELT_REF"/>
<element name="CFNC_C_STATUS"/>
<element name="CFNC_C_TRX_CCY"/>
<element name="CFNC_C_TYPE__DESC__"/>
<element name="CFNC_C_TYPE"/>
<element name="CFNC_C_TYPE_DESC"/>
<element name="CFNC_D_DT"/>
<element name="CFNC_D_DUE_DT"/>
<element name="CFNC_D_LAST_PAY_DT"/>
<element name="CFNC_D_MAST_MATU_DT"/>
<element name="CFNC_I_BASIC_DAYS"/>
<element name="CFNC_I_DAYS"/>
<element name="CFNC_I_FINC_TIMES"/>
<element name="CFNC_N_AMT_LCCCY"/>
<element name="CFNC_N_AMT_TXCCY"/>
<element name="CFNC_N_BAL"/>
<element name="CFNC_N_FINC_TTL_AMT"/>
<element name="CFNC_N_FINC_TTL_BAL"/>
<element name="CFNC_N_LIBOR_RT"/>
<element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
<element name="CFNC_N_LIBOR_RT_TYPE"/>
<element name="CFNC_N_MARGIN_RT"/>
<element name="CFNC_N_NET_AMT"/>
<element name="CFNC_N_PAID_INT"/>
<element name="CFNC_N_PAID_LIBOR"/>
<element name="CFNC_N_PCT"/>
<element name="CFNC_N_PNLT_RT"/>
<element name="CFNC_N_PRE_INT"/>
<element name="CFNC_N_RT"/>
<element name="CFNC_N_RT_TYPE__DESC__"/>
<element name="CFNC_N_RT_TYPE"/>
<element name="CFNC_N_TRXCCY_LCY"/>
<element name="CFNC_N_TRX_AMT"/>
<element name="CFNC_OVERDUE_DT"/>
<element name="CFNC_PAYMENT_FLAG__DESC__"/>
<element name="CFNC_PAYMENT_FLAG"/>
<element name="C_TRX_REF"/>
<element name="DISCNT_FLG__DESC__"/>
<element name="DISCNT_FLG"/>
<element name="INC_EXC__DESC__"/>
<element name="INC_EXC"/>
<element name="LC_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
