EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_PricingInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_Credit"/>
                <element name="B_Credit2"/>
                <element name="B_PreCredit"/>
                <element name="CLERK_ID"/>
                <element name="C_BU_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="EXCH_RT1"/>
                <element name="EXCH_RT2"/>
                <element name="EXCH_RT3"/>
                <element name="EXCH_RT4"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BK_CHG_INCD"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_COLLAT_RT"/>
                <element name="FA_COLLAT_TXT"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DOC_REQD"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_EF_OTH_CHG"/>
                <element name="FA_EF_OTH_CHG_CCY"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_GOODS_DES"/>
                <element name="FA_HAN_CHG_CCY"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IF_HAN_CHG_AMT"/>
                <element name="FA_IF_HAN_CHG_CCY"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_IF_OTH_CHG_AMT"/>
                <element name="FA_IF_OTH_CHG_CCY"/>
                <element name="FA_INV_CCY1"/>
                <element name="FA_INV_CCY2"/>
                <element name="FA_INV_CCY3"/>
                <element name="FA_INV_CCY4"/>
                <element name="FA_INV_CCY5"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_ASS_AMT"/>
                <element name="FA_LMT_ASS_CCY"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_LOAN_RT_TYPE1__DESC__"/>
                <element name="FA_LOAN_RT_TYPE1"/>
                <element name="FA_LOAN_RT_TYPE2__DESC__"/>
                <element name="FA_LOAN_RT_TYPE2"/>
                <element name="FA_LOAN_RT_TYPE3__DESC__"/>
                <element name="FA_LOAN_RT_TYPE3"/>
                <element name="FA_LOAN_RT_TYPE4__DESC__"/>
                <element name="FA_LOAN_RT_TYPE4"/>
                <element name="FA_LOAN_RT_TYPE5__DESC__"/>
                <element name="FA_LOAN_RT_TYPE5"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_MSG_DT"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_OTH_CHG_CCY"/>
                <element name="FA_OVD_IRT_SPREAD"/>
                <element name="FA_PRICE_DOC_FLG__DESC__"/>
                <element name="FA_PRICE_DOC_FLG"/>
                <element name="FA_PRICING_DT"/>
                <element name="FA_PRICING_REF"/>
                <element name="FA_PRICING_VAL_DT"/>
                <element name="FA_SELINFO_ID"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TTL_COMM_RT"/>
                <element name="FA_TTL_HAN_CHG"/>
                <element name="FA_TTL_OTH_CHG"/>
                <element name="OWNER_BR_NM"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
