EE_PARA/EE_PARA/Default/FORM/form_schema_FIN_AdditionalInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FIN_INF_CD"/>
<element name="FIN_INF_PRTRY"/>
<element name="FIN_INF_VAL"/>
<element name="RadioGroup1"/>
</sequence>
</complexType>
</element>
</schema>
