EE_PARA/EE_PARA/Default/FORM/form_schema_FinanceRePaymentHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_ORIGIN_MAIN_REF"/>
<element name="CFNC_C_ORIGIN_TRX_REF"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_C_REF_TEMP"/>
<element name="CFNC_I_FINC_TIMES"/>
<element name="CFNC_I_RFD_NO"/>
<element name="CFNC_N_CR_AMT"/>
<element name="CFNC_N_CR_BAL"/>
<element name="CFNC_N_FINC_TTL_AMT"/>
<element name="CFNC_N_FINC_TTL_BAL"/>
<element name="C_TRX_CCY_M"/>
<element name="INT_C_MAIN_REF"/>
</sequence>
</complexType>
</element>
</schema>
