EE_PARA/EE_PARA/Default/FORM/form_schema_IAAC_AmzTakeDown.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_EXRATE_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_ACC_LVL"/>
<element name="IA_C_BORROWER_ID"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_CREATE_FROM"/>
<element name="IA_C_CUST_CODE"/>
<element name="IA_C_DIS_CUSTCCY"/>
<element name="IA_C_DIS_LOCALCCY"/>
<element name="IA_C_EVENT_NO"/>
<element name="IA_C_FORM_ID"/>
<element name="IA_C_FUNCTION_ID"/>
<element name="IA_C_INTF_ID"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_ORIGIN_BR"/>
<element name="IA_C_PURP_ID"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_ROLBAK_EVTNO"/>
<element name="IA_C_TRANS_CODE"/>
<element name="IA_C_UNIT_OF_CRT"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_DUE_DATE"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_I_CCY_DEC"/>
<element name="IA_I_GRACE_DAYS"/>
<element name="IA_I_LOCALCCY_DEC"/>
<element name="IA_N_BUSINESS_TAX"/>
<element name="IA_N_EXCH_RATE"/>
<element name="IA_N_EXTEND_RATE"/>
<element name="IA_N_FIX_BAS_RATE"/>
<element name="IA_N_FIX_SPR_RATE"/>
<element name="IA_N_PEN_RATE"/>
<element name="IA_N_STAMP_TAX"/>
<element name="IA_Y_CUST_INT"/>
<element name="IA_Y_EQVL_INT"/>
<element name="IA_Y_PAID_BASINT"/>
<element name="IA_Y_PAID_INT"/>
<element name="IA_Y_REACCBAS_INT"/>
<element name="IA_Y_REACC_INT"/>
<element name="IA_Y_TRX_AMT"/>
<element name="OP_TYPE"/>
<element name="imgDrawDown_IA_D_DUE_DATE"/>
<element name="imgDrawDown_IA_D_TRX_VALDATE"/>
</sequence>
</complexType>
</element>
</schema>
