EE_PARA/EE_PARA/Default/FORM/form_schema_STAT_CustMaintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC1_CCY"/>
                <element name="AC1_NO"/>
                <element name="AC2_CCY"/>
                <element name="AC2_NO"/>
                <element name="AC3_CCY"/>
                <element name="AC3_NO"/>
                <element name="AC4_CCY"/>
                <element name="AC4_NO"/>
                <element name="AC5_CCY"/>
                <element name="AC5_NO"/>
                <element name="ARM_ID"/>
                <element name="ARM_ID_BTN"/>
                <element name="ARM_NM"/>
                <element name="BK_BR_CODE"/>
                <element name="CE_CUSTOMER__DESC__"/>
                <element name="CE_CUSTOMER"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="COMM_RANGE"/>
                <element name="CUST_CITY"/>
                <element name="CUST_CORR_MED__DESC__"/>
                <element name="CUST_CORR_MED"/>
                <element name="CUST_REF"/>
                <element name="CUST_STREET_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="EMAIL_ADD"/>
                <element name="FAX_NO"/>
                <element name="FA_CONTACT_EMAIL2"/>
                <element name="FA_CONTACT_NM2"/>
                <element name="FA_CONTACT_TEL2"/>
                <element name="FA_CUST_CNTY_NM"/>
                <element name="FA_CUST_DL_ADD1"/>
                <element name="FA_CUST_DL_ADD2"/>
                <element name="FA_CUST_DL_ADD3"/>
                <element name="FA_CUST_FLAG__DESC__"/>
                <element name="FA_CUST_FLAG"/>
                <element name="FA_CUST_INDU_DES"/>
                <element name="FA_CUST_MGR_BR_NM"/>
                <element name="FA_CUST_MGR_NM"/>
                <element name="FA_CUST_MGR_TEL"/>
                <element name="FA_CUST_NM2"/>
                <element name="FA_CUST_NM_ADD_DL"/>
                <element name="FA_CUST_NM_ADD_ML"/>
                <element name="FA_CUST_PROV"/>
                <element name="FA_CUST_TYPE__DESC__"/>
                <element name="FA_CUST_TYPE"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_EDI_MSG_ID"/>
                <element name="FA_INSU_AGR_NO"/>
                <element name="FA_INSU_COMP_FLAG__DESC__"/>
                <element name="FA_INSU_COMP_FLAG"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_PARENT_COMP"/>
                <element name="FA_PARENT_COMP_NM"/>
                <element name="FA_PROP_CODE__DESC__"/>
                <element name="FA_PROP_CODE"/>
                <element name="FA_TEMP_CUST_LMT_REQ"/>
                <element name="FST_CNTC_EMAIL"/>
                <element name="FST_CNTC_FAX"/>
                <element name="FST_CNTC_NM"/>
                <element name="FST_CNTC_TEL_NO"/>
                <element name="FUNCTION_ACTION"/>
                <element name="INDS_CODE"/>
                <element name="INSU_CO_ADD1"/>
                <element name="INSU_CO_ADD2"/>
                <element name="INSU_CO_ADD3"/>
                <element name="INSU_CO_FAX"/>
                <element name="INSU_CO_NM"/>
                <element name="INSU_CO_TEL_NO"/>
                <element name="INSU_POLICY_NO"/>
                <element name="INS_POLICY_NUM_BTN"/>
                <element name="IS_FACTOR_FLAG__DESC__"/>
                <element name="IS_FACTOR_FLAG"/>
                <element name="LANG_CD__DESC__"/>
                <element name="LANG_CD"/>
                <element name="MOBILE_NO"/>
                <element name="MRGN_RT_IMLC"/>
                <element name="MRGN_RT_SHGT_COLL"/>
                <element name="MRGN_RT_SHGT_LC"/>
                <element name="NOTES"/>
                <element name="OWNER_BR_ID"/>
                <element name="OWNER_BR_NM"/>
                <element name="PARTY_NM"/>
                <element name="POST_CODE"/>
                <element name="PostAddress">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="ORDER_NO"/>
                            <element name="POSTAL_FMT_ADD"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="SwFMTAddress">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="ORDER_NO"/>
                            <element name="SWF_FMT_NM"/>
                            <element name="SWIFT_FMT_ADD1"/>
                            <element name="SWIFT_FMT_ADD2"/>
                            <element name="SWIFT_FMT_ADD3"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEAM_ID"/>
                <element name="TEAM_ID_BTN"/>
                <element name="TEAM_NM"/>
                <element name="TEL_NO"/>
                <element name="TRX_DT"/>
                <element name="button"/>
                <element name="button2"/>
            </sequence>
        </complexType>
    </element>
</schema>
