EE_PARA/EE_PARA/Default/FORM/form_schema_CounterpartyNonNettingCCY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CNPT_ID"/>
<element name="CNPT_SHORT_NM"/>
<element name="CNPT_SWADD"/>
<element name="C_MAIN_REF"/>
<element name="DO_INDEX_NO"/>
<element name="NON_NET_CCY"/>
</sequence>
</complexType>
</element>
</schema>
