EE_PARA/EE_PARA/Default/FORM/form_schema_CounterpartyContact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CNPT_AC_CD"/>
<element name="CNPT_ID"/>
<element name="CNPT_SHORT_NM"/>
<element name="CNPT_SWADD"/>
<element name="CONT_ADD"/>
<element name="CONT_EMAIL_ADD"/>
<element name="CONT_EMAIL_ADD2"/>
<element name="CONT_EMAIL_ADD3"/>
<element name="CONT_FAX_NO"/>
<element name="CONT_ID"/>
<element name="CONT_NM"/>
<element name="CONT_TEL_NO"/>
<element name="CONT_TEL_NO2"/>
<element name="CONT_TEL_NO3"/>
<element name="CONT_TITLE"/>
<element name="CONT_TYPE__DESC__"/>
<element name="CONT_TYPE"/>
<element name="CONT_ZIP"/>
<element name="CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="DO_INDEX_NO"/>
<element name="ITEM_FLD_NM"/>
<element name="NOTES"/>
<element name="SERIAL_NO"/>
<element name="TRX_TP"/>
</sequence>
</complexType>
</element>
</schema>
