EE_PARA/EE_PARA/Default/FORM/form_schema_Std_Clause_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_BU_CNTY"/>
                <element name="C_CLAUSE_CONTENT"/>
                <element name="C_CLAUSE_DESC"/>
                <element name="C_CLAUSE_ID"/>
                <element name="C_CLAUSE_NAME"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CP_UNIT_CODE"/>
                <element name="C_CREA_BY"/>
                <element name="C_FIELD_NAME"/>
                <element name="C_MODULE"/>
                <element name="C_UNIT_CODE"/>
                <element name="OP_TYPE"/>
                <element name="_IS_CLAUSE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
