EE_PARA/EE_PARA/Default/FORM/form_schema_TRCO_CommMiscellaneousProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BUSI_UNIT"/>
                <element name="CNPT_ID"/>
                <element name="CNPT_SHORT_NM"/>
                <element name="CNPT_SHORT_NM_BTN"/>
                <element name="COMM_DATA_TP"/>
                <element name="CURRENT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="EMAIL_ADD"/>
                <element name="EVAL_DT"/>
                <element name="EVAL_FLG"/>
                <element name="LOCAL_TIME"/>
                <element name="MISCLS_SW_DO">
                    <complexType>
                        <sequence>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="IS_GPI_MEMBER"/>
                            <element name="MESG_TYPE__DESC__"/>
                            <element name="MESG_TYPE"/>
                            <element name="MISCLS_INDEX_NO"/>
                            <element name="NARR"/>
                            <element name="RCV_BK_SW_ADD"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SERVICE_TYPE_ID_GPI_111"/>
                            <element name="UETR_GPI_121"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202MEDIBKADD1_56A"/>
                            <element name="X202MEDIBKADD2_56A"/>
                            <element name="X202MEDIBKADD3_56A"/>
                            <element name="X202RECCORRACNO54A"/>
                            <element name="X202SENDCORACNO53A"/>
                            <element name="X202SENDCORADD153A"/>
                            <element name="X202SENDCORADD253A"/>
                            <element name="X202SENDCORADD353A"/>
                            <element name="X202_ACCBKADD1_57A"/>
                            <element name="X202_ACCBKADD2_57A"/>
                            <element name="X202_ACCBKADD3_57A"/>
                            <element name="X202_ACC_BKACNO57A"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ACC_BKSW_57A"/>
                            <element name="X202_ADV_BKADD1_B2"/>
                            <element name="X202_ADV_BKADD2_B2"/>
                            <element name="X202_ADV_BKADD3_B2"/>
                            <element name="X202_ADV_BKID_B2"/>
                            <element name="X202_ADV_BKMED_B2__DESC__"/>
                            <element name="X202_ADV_BKMED_B2"/>
                            <element name="X202_ADV_BKNM_B2"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_BENEBKACNO58A"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_BENE_BKSW_58A"/>
                            <element name="X202_BKTOBK_INFO72"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_MEDIBKACNO56A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_MEDI_BKSW_56A"/>
                            <element name="X202_ORDBKACNO_52A"/>
                            <element name="X202_ORDBKADD1_52A"/>
                            <element name="X202_ORDBKADD2_52A"/>
                            <element name="X202_ORDBKADD3_52A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_ORDBK_SW_52A"/>
                            <element name="X202_RECCORADD154A"/>
                            <element name="X202_RECCORADD254A"/>
                            <element name="X202_RECCORADD354A"/>
                            <element name="X202_RECCORRID_54A"/>
                            <element name="X202_RECCORRNM_54A"/>
                            <element name="X202_RECCORRSW_54A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_SENDCORRID53A"/>
                            <element name="X202_SENDCORRNM53A"/>
                            <element name="X202_SENDCORRSW53A"/>
                            <element name="X202_TAG_52A"/>
                            <element name="X202_TAG_53A"/>
                            <element name="X202_TAG_54A"/>
                            <element name="X202_TAG_56A"/>
                            <element name="X202_TAG_57A"/>
                            <element name="X202_TAG_58A"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="MISCLS_VOU_DO">
                    <complexType>
                        <sequence>
                            <element name="BOOKING_DATE"/>
                            <element name="CUST_AC_NO"/>
                            <element name="CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_REF_NO"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="C_VOUCHER_DESC"/>
                            <element name="DC_ACNO"/>
                            <element name="DC_FLAG"/>
                            <element name="EVAL_FLG"/>
                            <element name="EVAL_GP_NO"/>
                            <element name="EXCH_RATE"/>
                            <element name="INT_RATE"/>
                            <element name="ROTN_FLG"/>
                            <element name="TRX_CD"/>
                            <element name="VAL_DT"/>
                            <element name="VOU_AMT"/>
                            <element name="VOU_CCY"/>
                            <element name="VOU_DESC"/>
                            <element name="VOU_INDEX_NO"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="NOTES"/>
                <element name="ROTN_FLG__DESC__"/>
                <element name="ROTN_FLG"/>
                <element name="SEND_MAIL__DESC__"/>
                <element name="SEND_MAIL"/>
                <element name="TRX_DT"/>
                <element name="TRX_REF_NO"/>
            </sequence>
        </complexType>
    </element>
</schema>
