EE_PARA/EE_PARA/Default/FORM/form_multi_schema_INVC_Invoice Information.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AI_ACT_AMT"/>
                            <element name="AI_APRVD_DT"/>
                            <element name="AI_DT"/>
                            <element name="AI_DUE_DT"/>
                            <element name="AI_EP_DT"/>
                            <element name="AI_ID"/>
                            <element name="AI_NUM"/>
                            <element name="AI_ORG_AMT"/>
                            <element name="AI_SET_DT"/>
                            <element name="AI_STAT_STAFF_CD__DESC__"/>
                            <element name="AI_STAT_STAFF_CD"/>
                            <element name="AI_STAT_SUPLR_CD__DESC__"/>
                            <element name="AI_STAT_SUPLR_CD"/>
                            <element name="ALL_IN_RATE"/>
                            <element name="BUYR_ADD1"/>
                            <element name="BUYR_ADD2"/>
                            <element name="BUYR_ADD3"/>
                            <element name="CCY"/>
                            <element name="CNTRY_ORGN"/>
                            <element name="CONSGN_ADD1"/>
                            <element name="CONSGN_ADD2"/>
                            <element name="CONSGN_NM"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DAYS_TO_SETT_DATE"/>
                            <element name="EPR_ID"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FRGHT_FWD_ADD1"/>
                            <element name="FRGHT_FWD_ADD2"/>
                            <element name="FRGHT_FWD_NM"/>
                            <element name="GOODS_DESC"/>
                            <element name="INSRNC_CPNY_ADD1"/>
                            <element name="INSRNC_CPNY_ADD2"/>
                            <element name="INSRNC_CPNY_NM"/>
                            <element name="INT_AMT"/>
                            <element name="IS_FUNDED__DESC__"/>
                            <element name="IS_FUNDED"/>
                            <element name="LAST_WOLF_CHK_DT"/>
                            <element name="OVD_INT_RATE"/>
                            <element name="PLC_DSTN"/>
                            <element name="PLC_LOADNG"/>
                            <element name="SHPPG_AGT_ADD1"/>
                            <element name="SHPPG_AGT_ADD2"/>
                            <element name="SHPPG_AGT_NM"/>
                            <element name="SHPPG_CPNY_ADD1"/>
                            <element name="SHPPG_CPNY_ADD2"/>
                            <element name="SHPPG_CPNY_NM"/>
                            <element name="SUPLR_ACC_NO"/>
                            <element name="SUPLR_ADD1"/>
                            <element name="SUPLR_ADD2"/>
                            <element name="SUPLR_BK_ADD1"/>
                            <element name="SUPLR_BK_ADD2"/>
                            <element name="SUPLR_BK_NMW"/>
                            <element name="TEMP_INT9"/>
                            <element name="TEMP_MAIN_REF"/>
                            <element name="TODAY_NET_VALUE"/>
                            <element name="TRNSSHIPMNT_PLC"/>
                            <element name="VSSL_NM"/>
                            <element name="VSSL_PRE_NM"/>
                            <element name="WDAYS_TO_SETT_DT"/>
                            <element name="WOLF_CHK_RESN_CD__DESC__"/>
                            <element name="WOLF_CHK_RESN_CD"/>
                            <element name="WOLF_CHK_RESP_CD__DESC__"/>
                            <element name="WOLF_CHK_RESP_CD"/>
                            <element name="WOLF_DTL"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
