EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_SLABusinessGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_BG_DESC"/>
                            <element name="C_BG_ID"/>
                            <element name="C_BG_VERSION"/>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CP_UNIT_CODE"/>
                            <element name="C_CUST_FIELD"/>
                            <element name="C_FIRST_FUNCGRP_ID"/>
                            <element name="C_FIRST_FUNC_ID"/>
                            <element name="C_REF_NAME"/>
                            <element name="C_REF_NO"/>
                            <element name="C_TYPE"/>
                            <element name="D_BG_ACTIVE_DATE"/>
                            <element name="OP_TYPE"/>
                            <element name="SLABGStepDo">
                                <complexType>
                                    <sequence>
                                        <element name="C_BG_DESC"/>
                                        <element name="C_BG_ID"/>
                                        <element name="C_BG_VERSION"/>
                                        <element name="C_BK_GROUP_ID"/>
                                        <element name="C_CNTY_CODE"/>
                                        <element name="C_CP_UNIT_CODE"/>
                                        <element name="C_DO_NAME"/>
                                        <element name="C_FIRST_FUNC_ID"/>
                                        <element name="C_IS_MANDATORY"/>
                                        <element name="C_PROCESS_BY"/>
                                        <element name="C_STEP_MAIL_ADDR"/>
                                        <element name="C_STEP_MIN_TIME"/>
                                        <element name="C_STEP_NAME"/>
                                        <element name="I_OSTEP_SEQ_NO"/>
                                        <element name="I_STEP_SEQ_NO"/>
                                        <element name="SLABGFuncDo">
                                            <complexType>
                                                <sequence>
                                                    <element name="C_BK_GROUP_ID"/>
                                                    <element name="C_CNTY_CODE"/>
                                                    <element name="C_CP_UNIT_CODE"/>
                                                    <element name="C_BG_ID"/>
                                                    <element name="C_BG_VERSION"/>
                                                    <element name="C_BG_DESC"/>
                                                    <element name="C_DO_NAME"/>
                                                    <element name="I_STEP_SEQ_NO"/>
                                                    <element name="C_STEP_NAME"/>
                                                    <element name="I_FUNC_SEQ_NO"/>
                                                    <element name="C_FUNC_DESC"/>
                                                    <element name="C_FUNC_ID"/>
                                                    <element name="C_FUNCGRP_ID"/>
                                                    <element name="C_FUNCGRP_DESC"/>
                                                    <element name="C_MODU_NAME"/>
                                                    <element name="I_OFUNC_SEQ_NO"/>
                                                    <element name="C_CUST_FIELD"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
