EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYS_LMTS_Inqmsg_flat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="LM_AVI_APL"/>
                            <element name="LM_AVI_APV"/>
                            <element name="LM_CSL_ID"/>
                            <element name="LM_CUST_ID"/>
                            <element name="LM_CUST_NAME"/>
                            <element name="LM_DC_MARK"/>
                            <element name="LM_DUE_DATE"/>
                            <element name="LM_EQU_AMT"/>
                            <element name="LM_FACI_ID"/>
                            <element name="LM_OUTC_APL"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="LM_PAY_REF"/>
                            <element name="LM_RCUST_ID"/>
                            <element name="LM_SUB_CCY"/>
                            <element name="LM_TRX_AMT"/>
                            <element name="LM_TRX_CCY"/>
                            <element name="LM_TRX_REF"/>
                            <element name="LM_VAL_DATE"/>
                            <element name="goBack"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
