EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSUM_DataSetMatchReportOCBC_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CUST_NOTES"/>
<element name="C_MAIN_REF"/>
<element name="C_MSG_CONTENT"/>
<element name="C_UNIT_CODE"/>
<element name="OCBC_INV_GENERATE"/>
<element name="TSU_BASELN_ID"/>
<element name="TSU_BASELN_VRSN"/>
<element name="TSU_BENE_AC"/>
<element name="TSU_BUYER_ADDR"/>
<element name="TSU_BUYER_NAME"/>
<element name="TSU_BUYR_MAILADD"/>
<element name="TSU_BYRBK_BIC"/>
<element name="TSU_BYRBK_ID"/>
<element name="TSU_BYRBK_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_DT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_CUCU_ID"/>
<element name="TSU_CUST_ID"/>
<element name="TSU_CUST_REF"/>
<element name="TSU_DS_RP_DT"/>
<element name="TSU_DS_RP_ID"/>
<element name="TSU_INSTRUCTION__DESC__"/>
<element name="TSU_INSTRUCTION"/>
<element name="TSU_INV_AMT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_MAIN_REF"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_MISMATCH_NB"/>
<element name="TSU_OUR_BIC"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PMT_AMT"/>
<element name="TSU_PMT_CODE"/>
<element name="TSU_PMT_DAYS"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_REQ_ACT_DESC"/>
<element name="TSU_REQ_ACT_TP"/>
<element name="TSU_SELLER_ADDR"/>
<element name="TSU_SELLER_NAME"/>
<element name="TSU_SELLRBK_BIC"/>
<element name="TSU_SELLRBK_ID"/>
<element name="TSU_SELLRBK_NAME"/>
<element name="TSU_SELLR_MAILADD"/>
<element name="TSU_SUBMITR_BIC"/>
<element name="TSU_THEIR_BIC"/>
<element name="TSU_THEIR_REF"/>
<element name="TSU_TID"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
