EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_DirectDebitRequestGeneration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BUYER_SETL__DESC__"/>
                            <element name="ACC_BUYER_SETL"/>
                            <element name="ACC_COLL_BK"/>
                            <element name="AI_ID"/>
                            <element name="AI_SP_ID__DESC__"/>
                            <element name="AI_SP_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="CONFIRM_TP"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SPL4_FORVCH"/>
                            <element name="C_SPL5_FORVCH"/>
                            <element name="C_SPL6_FORVCH"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EXCP_CODE"/>
                            <element name="EXCP_DETL"/>
                            <element name="IF_DIRECT_DR__DESC__"/>
                            <element name="IF_DIRECT_DR"/>
                            <element name="IF_EXCP_SENT__DESC__"/>
                            <element name="IF_EXCP_SENT"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MATCH_STAT__DESC__"/>
                            <element name="MATCH_STAT"/>
                            <element name="PMT_REF"/>
                            <element name="PRE_ADV_AI"/>
                            <element name="PRE_ADV_AMT"/>
                            <element name="PRE_ADV_CHG"/>
                            <element name="PRE_ADV_DT"/>
                            <element name="PYMT_DT"/>
                            <element name="RECON_STAT__DESC__"/>
                            <element name="RECON_STAT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
