EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADAIF_Seller_Info_Register.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="B_SELLER"/>
                            <element name="B_SELLER2"/>
                            <element name="B_SELLER22"/>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_AGM_SIGN_FLG__DESC__"/>
                            <element name="FA_AGM_SIGN_FLG"/>
                            <element name="FA_AGM_VAL_DT"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_CHG_BC_AMT"/>
                            <element name="FA_CHG_BC_CCY"/>
                            <element name="FA_CHG_BC_PERC"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_GOODS_CODE"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_GOODS_EDI"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INV_CCY1"/>
                            <element name="FA_INV_CCY2"/>
                            <element name="FA_INV_CCY3"/>
                            <element name="FA_INV_CCY4"/>
                            <element name="FA_INV_CCY5"/>
                            <element name="FA_IS_FCI__DESC__"/>
                            <element name="FA_IS_FCI"/>
                            <element name="FA_MSG01_FUNC__DESC__"/>
                            <element name="FA_MSG01_FUNC"/>
                            <element name="FA_MSG_DT"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_NORMAL_TERMS"/>
                            <element name="FA_NO_OF_BUYERS"/>
                            <element name="FA_NO_OF_CRN"/>
                            <element name="FA_NO_OF_INV"/>
                            <element name="FA_OA_TNOV"/>
                            <element name="FA_OA_TNOV_CCY"/>
                            <element name="FA_OTHER_IF"/>
                            <element name="FA_OTHER_TNOV"/>
                            <element name="FA_OTHER_TNOV_CCY"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_SELINFO_ID"/>
                            <element name="FA_SEL_AC_NO"/>
                            <element name="FA_SEL_ADDR"/>
                            <element name="FA_SEL_BK_BR"/>
                            <element name="FA_SEL_BK_NM"/>
                            <element name="FA_SEL_CITY"/>
                            <element name="FA_SEL_CNTY"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SEL_NM2"/>
                            <element name="FA_SEL_POST_CODE"/>
                            <element name="FA_SEL_PROV"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_TTL_SEL_TNOV"/>
                            <element name="FA_TTL_SEL_TNOVCCY"/>
                            <element name="FA_TTL_SEL_TNOVCCY2"/>
                            <element name="TEMP_CHAR10"/>
                            <element name="THEIR_REF_NO"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
