EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FFIT_URP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACPT_AMT"/>
                            <element name="ACPT_CCY"/>
                            <element name="BRANCH_REMARK_ORG"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_AMT_BA"/>
                            <element name="CHG_AMT_HO"/>
                            <element name="CHG_BGL_AC_NO"/>
                            <element name="CHG_BUSI_TYPE1"/>
                            <element name="CHG_BUSI_TYPE2"/>
                            <element name="CHG_BY"/>
                            <element name="CHG_CCY"/>
                            <element name="CHG_CNY_CCY"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_DESC"/>
                            <element name="CHG_FAV_RMB"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_FOR_BR_ID"/>
                            <element name="CHG_FOR_BUSI_TYPE"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_GL_BUSI_TYPE"/>
                            <element name="CHG_INOUT_FLG"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_PROD_CODE"/>
                            <element name="CHG_SECD_BENE_ID"/>
                            <element name="CHG_SECD_CUST_ID"/>
                            <element name="CHG_SECD_CUST_NM"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CHG_VCH_ACNO"/>
                            <element name="CHG_VCH_AMT"/>
                            <element name="CHG_VCH_CCY"/>
                            <element name="CHINESE_DESC"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="CNY_BUYING_RT"/>
                            <element name="CNY_SELLING_RT"/>
                            <element name="COMMON_PRDT_CODE"/>
                            <element name="COMM_BGL_AC_NO"/>
                            <element name="COMM_CNTY_CODE"/>
                            <element name="COMM_CNTY_CODE2"/>
                            <element name="COMM_CUST_ID"/>
                            <element name="COMM_CUST_NM"/>
                            <element name="COMM_CUST_NM2"/>
                            <element name="COMM_DCLR_NO1"/>
                            <element name="COMM_DCLR_NO2"/>
                            <element name="COMM_FIELD"/>
                            <element name="COMM_ORGAN_ID"/>
                            <element name="COMM_ORGAN_ID2"/>
                            <element name="COMM_TRX_NO"/>
                            <element name="COMM_VCH_DESC1"/>
                            <element name="COMM_VCH_DESC2"/>
                            <element name="CONF_BK_ADD"/>
                            <element name="CONF_BK_NM"/>
                            <element name="COUNTER_CNTY_CODE"/>
                            <element name="COUNT_CODE"/>
                            <element name="CUST2_DLY_LIST"/>
                            <element name="CUST2_RCV_LIST"/>
                            <element name="CUST_CHG_ACNO"/>
                            <element name="CUST_CHG_ACNO2"/>
                            <element name="CUST_CHG_ACNO2_O"/>
                            <element name="CUST_CHG_ACNO2_S"/>
                            <element name="CUST_CHG_ACNO_O"/>
                            <element name="CUST_CHG_ACNO_S"/>
                            <element name="CUST_CHG_CCY"/>
                            <element name="CUST_CHG_CCY2"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DEBT_INSMT_NO"/>
                            <element name="DEBT_INSMT_REMARK"/>
                            <element name="DEBT_INSMT_TYPE"/>
                            <element name="DLY_LIST"/>
                            <element name="END_DT"/>
                            <element name="EVENT_TYPE__DESC__"/>
                            <element name="EVENT_TYPE"/>
                            <element name="EXPT_ID"/>
                            <element name="EXPT_NM"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FAV_RT_FLG"/>
                            <element name="FEE_NUMBER"/>
                            <element name="FFIT_REMARK"/>
                            <element name="FINC_RISK_LEVEL"/>
                            <element name="FIVE_LEVEL_FLAG"/>
                            <element name="FOR_CHG_ACNO"/>
                            <element name="FOR_CHG_ACNO_O"/>
                            <element name="FOR_CHG_ACNO_S"/>
                            <element name="FOR_CHG_CCY"/>
                            <element name="FOR_CHG_TYPE"/>
                            <element name="FOR_DLY_CCY"/>
                            <element name="FOR_DLY_CCY_ALL"/>
                            <element name="FOR_DLY_LIST"/>
                            <element name="GL_BUSI_TYPE"/>
                            <element name="GL_PROD_CODE"/>
                            <element name="GOODS_NM"/>
                            <element name="GRANTOR_BK_ADD"/>
                            <element name="GRANTOR_BK_ID"/>
                            <element name="GRANTOR_BK_NM"/>
                            <element name="GRANTOR_BK_SW"/>
                            <element name="GTS_BR_ID"/>
                            <element name="GTS_BR_NM"/>
                            <element name="GTS_DISTRICT_CODE"/>
                            <element name="IMPT_NM"/>
                            <element name="ISSUE_BK_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="LEDG_CODE"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MARGIN_RT"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEW_REMARK"/>
                            <element name="NOW_NUMBER"/>
                            <element name="OTHER_CHG"/>
                            <element name="PMT_BAL"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="RATE_BASE"/>
                            <element name="RCV_EQ_AMT"/>
                            <element name="RCV_LIST"/>
                            <element name="REAL_RT"/>
                            <element name="START_DT_COMM"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_COMMPAGE"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TRANS_DATE_ID"/>
                            <element name="TRX_BUYING_RT"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_CCY_COMM"/>
                            <element name="TRX_DT"/>
                            <element name="TRX_NO"/>
                            <element name="TRX_SELLING_RT"/>
                            <element name="TTL_CHG_BY"/>
                            <element name="TTL_CHG_BY_DLY"/>
                            <element name="TTL_CHG_MTHD"/>
                            <element name="TTL_CHG_MTHD_DLY"/>
                            <element name="TTL_CUST2_BUYING_RT"/>
                            <element name="TTL_CUST2_SELLING_RT"/>
                            <element name="TTL_CUST_BUYING_RT"/>
                            <element name="TTL_CUST_CHG_AMT"/>
                            <element name="TTL_CUST_CHG_AMT2"/>
                            <element name="TTL_CUST_DR_AMT"/>
                            <element name="TTL_CUST_DR_AMT2"/>
                            <element name="TTL_CUST_SELLING_RT"/>
                            <element name="TTL_FOR_BUYING_RT"/>
                            <element name="TTL_FOR_CHG_AMT"/>
                            <element name="TTL_FOR_DLY_AMT"/>
                            <element name="TTL_FOR_DLY_AMTALL"/>
                            <element name="TTL_FOR_DR_AMT"/>
                            <element name="TTL_FOR_SELLING_RT"/>
                            <element name="URP_AMT"/>
                            <element name="URP_CCY"/>
                            <element name="URP_CPS_DT"/>
                            <element name="URP_DAYS"/>
                            <element name="URP_DT"/>
                            <element name="URP_EXPIRY_DT"/>
                            <element name="URP_FEE_RT"/>
                            <element name="URP_START_DT"/>
                            <element name="USD_BUYING_RT"/>
                            <element name="USD_SELLING_RT"/>
                            <element name="VENT_TEMP_NO1"/>
                            <element name="VENT_TEMP_NO1_S"/>
                            <element name="VENT_TEMP_NO2"/>
                            <element name="VENT_TEMP_NO2_S"/>
                            <element name="WEB_REF"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
