EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SETL_BatchProcessVoucher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_CR"/>
                            <element name="ACC_DR"/>
                            <element name="AI_ID"/>
                            <element name="AI_SP_ID__DESC__"/>
                            <element name="AI_SP_ID"/>
                            <element name="AMT_AI"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="CONFIRM_TP"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SPL4_FORVCH"/>
                            <element name="C_SPL5_FORVCH"/>
                            <element name="C_SPL6_FORVCH"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EPP_ID"/>
                            <element name="FEE_TP__DESC__"/>
                            <element name="FEE_TP"/>
                            <element name="IF_DIRECT_DR__DESC__"/>
                            <element name="IF_DIRECT_DR"/>
                            <element name="IF_EXCP_SENT__DESC__"/>
                            <element name="IF_EXCP_SENT"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MATCH_STAT__DESC__"/>
                            <element name="MATCH_STAT"/>
                            <element name="NUM_OF_INV"/>
                            <element name="PAID_ON"/>
                            <element name="SETT_AMT"/>
                            <element name="SETT_TP__DESC__"/>
                            <element name="SETT_TP"/>
                            <element name="STAT__DESC__"/>
                            <element name="STAT"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="SYS_CODE"/>
                            <element name="TAG_20"/>
                            <element name="TRX_CD"/>
                            <element name="TRX_FEES"/>
                            <element name="TRX_FEE_1"/>
                            <element name="TRX_FEE_2"/>
                            <element name="TRX_FEE_3"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
