EE_PARA/EE_PARA/Default/FORM/form_schema_ProductSpecificInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="ADVICE_FIELD1"/>
<element name="CELL_PH_NO1"/>
<element name="CELL_PH_NO2"/>
<element name="CELL_PH_NO3"/>
<element name="CELL_PH_NO4"/>
<element name="CELL_PH_NO5"/>
<element name="CNTY_CODE"/>
<element name="CONTACT_NAME1"/>
<element name="CONTACT_NAME2"/>
<element name="CONTACT_NAME3"/>
<element name="CONTACT_NAME4"/>
<element name="CONTACT_NAME5"/>
<element name="CONTACT_SURNAME1"/>
<element name="CONTACT_SURNAME2"/>
<element name="CONTACT_SURNAME3"/>
<element name="CONTACT_SURNAME4"/>
<element name="CONTACT_SURNAME5"/>
<element name="C_CUSTOMER_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="DFLT_CHG_AC"/>
<element name="DFLT_CHG_AC_BTN"/>
<element name="DOC_COL_PT"/>
<element name="ELEC_DLV_METHOD1"/>
<element name="ELEC_DLV_METHOD2"/>
<element name="ELEC_DLV_METHOD3"/>
<element name="ELEC_DLV_METHOD4"/>
<element name="ELEC_DLV_METHOD5"/>
<element name="EMAIL1"/>
<element name="EMAIL2"/>
<element name="EMAIL3"/>
<element name="EMAIL4"/>
<element name="EMAIL5"/>
<element name="FAX_NO1"/>
<element name="FAX_NO2"/>
<element name="FAX_NO3"/>
<element name="FAX_NO4"/>
<element name="FAX_NO5"/>
<element name="FOLookup"/>
<element name="FRONT_END_CUST"/>
<element name="FRONT_OFFICE_CODE"/>
<element name="HIGH_CARE_CUST"/>
<element name="INDEMNITY_RV_DT"/>
<element name="INDEMNITY_TYPE"/>
<element name="INDEMNITY_XP_DT"/>
<element name="PROD__DESC__"/>
<element name="PROD"/>
<element name="STAN_INSTR"/>
<element name="TEL_NO1"/>
<element name="TEL_NO2"/>
<element name="TEL_NO3"/>
<element name="TEL_NO4"/>
<element name="TEL_NO5"/>
</sequence>
</complexType>
</element>
</schema>
