EE_PARA/EE_PARA/Default/FORM/form_schema_IWGT_SettleClaim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="APPL_AC_MRGN_BTN"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ADD_ORDERNO"/>
                <element name="APPL_BR_CD"/>
                <element name="APPL_BTN"/>
                <element name="APPL_CORR_MED1__DESC__"/>
                <element name="APPL_CORR_MED1"/>
                <element name="APPL_CUST_BK"/>
                <element name="APPL_EMAIL_1"/>
                <element name="APPL_FAX_NO_1"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_MAIL_ADD"/>
                <element name="APPL_MAIL_ADD_ORDERNO"/>
                <element name="APPL_MAIL_BTN"/>
                <element name="APPL_NM"/>
                <element name="APPL_NOTES"/>
                <element name="APPL_REF"/>
                <element name="APPL_SW_ADD"/>
                <element name="APPL_SW_TAG"/>
                <element name="APPL_TLX"/>
                <element name="ASSET_ACNO"/>
                <element name="ASSET_ACNO_BTN"/>
                <element name="AUTO_RENEW__DESC__"/>
                <element name="AUTO_RENEW"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BENE_ACNO"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ADD_ORDERNO"/>
                <element name="BENE_BR_CD"/>
                <element name="BENE_BTN"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_CUST_BK"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_LANG__DESC__"/>
                <element name="BENE_LANG"/>
                <element name="BENE_MAIL_ADD"/>
                <element name="BENE_MAIL_ADD_ORDERNO"/>
                <element name="BENE_MAIL_BTN"/>
                <element name="BENE_NM"/>
                <element name="BENE_NOTES"/>
                <element name="BENE_REF"/>
                <element name="BENE_SW_ADD"/>
                <element name="BENE_SW_TAG"/>
                <element name="BENE_TLX"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLM_BAL"/>
                <element name="CLM_BK_CHG"/>
                <element name="CLM_CHG_DR_APPL"/>
                <element name="CLM_CNTR"/>
                <element name="CLM_DT"/>
                <element name="CLM_REF"/>
                <element name="CLM_TRX_CCY_AMT"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CNTY_CODE"/>
                <element name="CONTR_GTEE_EXP"/>
                <element name="CONTR_GTEE_REF"/>
                <element name="COUNTR_GTEE__DESC__"/>
                <element name="COUNTR_GTEE"/>
                <element name="COUNTR_INDMNTY_HELD__DESC__"/>
                <element name="COUNTR_INDMNTY_HELD"/>
                <element name="COUNTR_INDMNTY_REQ__DESC__"/>
                <element name="COUNTR_INDMNTY_REQ"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DISCNT_FLG__DESC__"/>
                <element name="DISCNT_FLG"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FUNCTION_ACTION"/>
                <element name="FURTHER_IDENTITY"/>
                <element name="FXD_EXPIRY__DESC__"/>
                <element name="FXD_EXPIRY"/>
                <element name="GTEE_AMT"/>
                <element name="GTEE_BAL"/>
                <element name="GTEE_CCY"/>
                <element name="GTEE_CLM_REF"/>
                <element name="GTEE_REF_NUM"/>
                <element name="GTEE_TYPE__DESC__"/>
                <element name="GTEE_TYPE"/>
                <element name="INWARD_RCV_DT"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ADD_BTN"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_NOTES"/>
                <element name="ISSUE_BK_ORDER_NO"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_BY__DESC__"/>
                <element name="ISSUE_BY"/>
                <element name="LIAB_ACNO"/>
                <element name="LIAB_TRXCCY_AMT"/>
                <element name="LOGIN_BIC"/>
                <element name="MSG_TYPE"/>
                <element name="MTHD_OF_ISS__DESC__"/>
                <element name="MTHD_OF_ISS"/>
                <element name="NARR"/>
                <element name="NOTES"/>
                <element name="NXT_STATUS"/>
                <element name="OUR_CHG_BENE"/>
                <element name="PaymentDealer">
                    <complexType>
                        <sequence>
                            <element name="CPYT_C_CFNC_REF"/>
                            <element name="CPYT_C_OUTPUT_FLAG"/>
                            <element name="CPYT_C_PAY_PER"/>
                            <element name="CPYT_C_REF"/>
                            <element name="CPYT_C_SDA_FLAG"/>
                            <element name="CPYT_C_SETTLE_END_FLAG"/>
                            <element name="CPYT_C_TENOR_DESC"/>
                            <element name="CPYT_C_TENOR_TYPE"/>
                            <element name="CPYT_D_MAT_DATE"/>
                            <element name="CPYT_D_TENOR_START_DATE"/>
                            <element name="CPYT_I_INSTRU_TIMES"/>
                            <element name="CPYT_I_SEQUENCE"/>
                            <element name="CPYT_I_TENOR_DAYS"/>
                            <element name="CPYT_N_PAY_AMT"/>
                            <element name="CPYT_N_PAY_TRXCCY_BAL"/>
                            <element name="CPYT_N_UNPD_AMT_TXCCY"/>
                            <element name="CPYT_ORIGIN_MODULE"/>
                            <element name="CPYT_PAY_CCY"/>
                            <element name="CPYT_UNPAID_FLAG"/>
                            <element name="PaymentDebitHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_NO_DR"/>
                                        <element name="CPYT_MDR_ADV"/>
                                        <element name="CPYT_DR_TTL_CCY"/>
                                        <element name="CPYT_DR_TTL_AMT_TTLCCY"/>
                                        <element name="CPYT_SELL_RATE"/>
                                        <element name="PaymentDebit">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_DR_AC"/>
                                                    <element name="CPYT_DR_AC_TYPE"/>
                                                    <element name="CPYT_DR_DEAL"/>
                                                    <element name="CPYT_DR_RATE"/>
                                                    <element name="CPYT_DR_CCY"/>
                                                    <element name="CPYT_DR_PER"/>
                                                    <element name="CPYT_DR_AMT_DRCCY"/>
                                                    <element name="CPYT_DR_AMT_TXCCY"/>
                                                    <element name="CPYT_DR_BUY_RATE"/>
                                                    <element name="CPYT_DR_VAL_DATE"/>
                                                    <element name="CPYT_DR_ID"/>
                                                    <element name="CPYT_DR_NAME"/>
                                                    <element name="CPYT_DR_CHG_FLAG"/>
                                                    <element name="CPYT_DR_CHG_LCCCY"/>
                                                    <element name="CPYT_DR_TRX_CCY"/>
                                                    <element name="CPYT_DR_AMT_MAPING"/>
                                                    <element name="CPYT_DR_EXNG_AC"/>
                                                    <element name="CPYT_DR_AMT_DRCCY_EXCH"/>
                                                    <element name="CPYT_DR_C_TRANS_CODE"/>
                                                    <element name="CPYT_DR_AC_DESC"/>
                                                    <element name="CPYT_DR_BAL_TXCCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PaymentCreditHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_NO_CR"/>
                                        <element name="CPYT_MCR_ADV"/>
                                        <element name="CPYT_CR_TTL_CCY"/>
                                        <element name="CPYT_CR_TTL_AMT_TTLCCY"/>
                                        <element name="PaymentCredit">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_CR_PER"/>
                                                    <element name="CPYT_CR_CCY"/>
                                                    <element name="CPYT_CR_AC"/>
                                                    <element name="CPYT_CR_DEAL"/>
                                                    <element name="CPYT_CR_AMT_TXCCY"/>
                                                    <element name="CPYT_CR_BAL_TXCCY"/>
                                                    <element name="CPYT_PAY_ADV_MSG"/>
                                                    <element name="CPYT_PAY_COV_MSG"/>
                                                    <element name="CPYT_ASSGN_ID"/>
                                                    <element name="CPYT_ASSGN_NM"/>
                                                    <element name="CPYT_CR_AMT_CRCCY"/>
                                                    <element name="CPYT_CR_VAL_DATE"/>
                                                    <element name="X103BENECUADD1_59A"/>
                                                    <element name="X103BENECUADD2_59A"/>
                                                    <element name="X103BENECUADD3_59A"/>
                                                    <element name="X103MEDIBKADD1_56A"/>
                                                    <element name="X103MEDIBKADD2_56A"/>
                                                    <element name="X103MEDIBKADD3_56A"/>
                                                    <element name="X103RECCORRACNO54A"/>
                                                    <element name="X103SENDBKADD1_51A"/>
                                                    <element name="X103SENDBKADD2_51A"/>
                                                    <element name="X103SENDBKADD3_51A"/>
                                                    <element name="X103SENDCORACNO53A"/>
                                                    <element name="X103SENDCORADD153A"/>
                                                    <element name="X103SENDCORADD253A"/>
                                                    <element name="X103SENDCORADD353A"/>
                                                    <element name="X103_ACCBKADD1_57A"/>
                                                    <element name="X103_ACCBKADD2_57A"/>
                                                    <element name="X103_ACCBKADD3_57A"/>
                                                    <element name="X103_ACC_BKACNO57A"/>
                                                    <element name="X103_ACC_BKID_57A"/>
                                                    <element name="X103_ACC_BKNM_57A"/>
                                                    <element name="X103_ACC_BKSW_57A"/>
                                                    <element name="X103_ADV_BKADD1_B2"/>
                                                    <element name="X103_ADV_BKADD2_B2"/>
                                                    <element name="X103_ADV_BKADD3_B2"/>
                                                    <element name="X103_ADV_BKID_B2"/>
                                                    <element name="X103_ADV_BKNM_B2"/>
                                                    <element name="X103_ADV_BKSW_B2"/>
                                                    <element name="X103_BENECUACNO59A"/>
                                                    <element name="X103_BENECU_ID_59A"/>
                                                    <element name="X103_BENECU_NM_59A"/>
                                                    <element name="X103_BKOP_CODE_23B"/>
                                                    <element name="X103_BKTOBK_INFO72"/>
                                                    <element name="X103_DET_CHG_71A"/>
                                                    <element name="X103_ENV_CONT_77T"/>
                                                    <element name="X103_EXCH_RT_36"/>
                                                    <element name="X103_INSTRCODE_23E"/>
                                                    <element name="X103_INSTR_AMT_33B"/>
                                                    <element name="X103_INSTR_CCY_33B"/>
                                                    <element name="X103_MEDIBKACNO56A"/>
                                                    <element name="X103_MEDI_BKID_56A"/>
                                                    <element name="X103_MEDI_BKNM_56A"/>
                                                    <element name="X103_MEDI_BKSW_56A"/>
                                                    <element name="X103_ORDBKACNO_52A"/>
                                                    <element name="X103_ORDBKADD1_52A"/>
                                                    <element name="X103_ORDBKADD2_52A"/>
                                                    <element name="X103_ORDBKADD3_52A"/>
                                                    <element name="X103_ORDCUACNO_50A"/>
                                                    <element name="X103_ORDCUADD1_50A"/>
                                                    <element name="X103_ORDCUADD2_50A"/>
                                                    <element name="X103_ORDCUADD3_50A"/>
                                                    <element name="X103_ORDCU_ID_50A"/>
                                                    <element name="X103_ORDCU_NM_50A"/>
                                                    <element name="X103_ORDCU_SW_50A"/>
                                                    <element name="X103_ORD_BKID_52A"/>
                                                    <element name="X103_ORD_BKNM_52A"/>
                                                    <element name="X103_ORD_BKSW_52A"/>
                                                    <element name="X103_RECCHGAMT_71G"/>
                                                    <element name="X103_RECCHGCCY_71G"/>
                                                    <element name="X103_RECCORADD154A"/>
                                                    <element name="X103_RECCORADD254A"/>
                                                    <element name="X103_RECCORADD354A"/>
                                                    <element name="X103_RECCORRID_54A"/>
                                                    <element name="X103_RECCORRNM_54A"/>
                                                    <element name="X103_RECCORRSW_54A"/>
                                                    <element name="X103_REG_REP_77B"/>
                                                    <element name="X103_REMIT_INFO_70"/>
                                                    <element name="X103_SENDBKACNO51A"/>
                                                    <element name="X103_SENDCHGAMT71F"/>
                                                    <element name="X103_SENDCHGCCY71F"/>
                                                    <element name="X103_SENDCORRID53A"/>
                                                    <element name="X103_SENDCORRNM53A"/>
                                                    <element name="X103_SENDCORRSW53A"/>
                                                    <element name="X103_SEND_BKID_51A"/>
                                                    <element name="X103_SEND_BKNM_51A"/>
                                                    <element name="X103_SEND_BKSW_51A"/>
                                                    <element name="X103_SEND_NO_20"/>
                                                    <element name="X103_SETT_AMT_32A"/>
                                                    <element name="X103_SETT_CCY_32A"/>
                                                    <element name="X103_TAG_50A"/>
                                                    <element name="X103_TAG_51A"/>
                                                    <element name="X103_TAG_52A"/>
                                                    <element name="X103_TAG_53A"/>
                                                    <element name="X103_TAG_54A"/>
                                                    <element name="X103_TAG_56A"/>
                                                    <element name="X103_TAG_57A"/>
                                                    <element name="X103_TIME_INDI_13C"/>
                                                    <element name="X103_TRX_TYPCD_26T"/>
                                                    <element name="X103_VALUE_DT_32A"/>
                                                    <element name="X202BENEBKADD1_58A"/>
                                                    <element name="X202BENEBKADD2_58A"/>
                                                    <element name="X202BENEBKADD3_58A"/>
                                                    <element name="X202MEDIBKADD1_56A"/>
                                                    <element name="X202MEDIBKADD2_56A"/>
                                                    <element name="X202MEDIBKADD3_56A"/>
                                                    <element name="X202RECCORRACNO54A"/>
                                                    <element name="X202SENDCORACNO53A"/>
                                                    <element name="X202SENDCORADD153A"/>
                                                    <element name="X202SENDCORADD253A"/>
                                                    <element name="X202SENDCORADD353A"/>
                                                    <element name="X202_ACCBKADD1_57A"/>
                                                    <element name="X202_ACCBKADD2_57A"/>
                                                    <element name="X202_ACCBKADD3_57A"/>
                                                    <element name="X202_ACC_BKACNO57A"/>
                                                    <element name="X202_ACC_BKID_57A"/>
                                                    <element name="X202_ACC_BKNM_57A"/>
                                                    <element name="X202_ACC_BKSW_57A"/>
                                                    <element name="X202_ADV_BKADD1_B2"/>
                                                    <element name="X202_ADV_BKADD2_B2"/>
                                                    <element name="X202_ADV_BKADD3_B2"/>
                                                    <element name="X202_ADV_BKID_B2"/>
                                                    <element name="X202_ADV_BKNM_B2"/>
                                                    <element name="X202_ADV_BKSW_B2"/>
                                                    <element name="X202_AMT_32A"/>
                                                    <element name="X202_BENEBKACNO58A"/>
                                                    <element name="X202_BENE_BKID_58A"/>
                                                    <element name="X202_BENE_BKNM_58A"/>
                                                    <element name="X202_BENE_BKSW_58A"/>
                                                    <element name="X202_BKTOBK_INFO72"/>
                                                    <element name="X202_CCY_32A"/>
                                                    <element name="X202_MEDIBKACNO56A"/>
                                                    <element name="X202_MEDI_BKID_56A"/>
                                                    <element name="X202_MEDI_BKNM_56A"/>
                                                    <element name="X202_MEDI_BKSW_56A"/>
                                                    <element name="X202_ORDBKACNO_52A"/>
                                                    <element name="X202_ORDBKADD1_52A"/>
                                                    <element name="X202_ORDBKADD2_52A"/>
                                                    <element name="X202_ORDBKADD3_52A"/>
                                                    <element name="X202_ORDBK_ID_52A"/>
                                                    <element name="X202_ORDBK_NM_52A"/>
                                                    <element name="X202_ORDBK_SW_52A"/>
                                                    <element name="X202_RECCORADD154A"/>
                                                    <element name="X202_RECCORADD254A"/>
                                                    <element name="X202_RECCORADD354A"/>
                                                    <element name="X202_RECCORRID_54A"/>
                                                    <element name="X202_RECCORRNM_54A"/>
                                                    <element name="X202_RECCORRSW_54A"/>
                                                    <element name="X202_RELATEDNO_21"/>
                                                    <element name="X202_SENDCORRID53A"/>
                                                    <element name="X202_SENDCORRNM53A"/>
                                                    <element name="X202_SENDCORRSW53A"/>
                                                    <element name="X202_TAG_52A"/>
                                                    <element name="X202_TAG_53A"/>
                                                    <element name="X202_TAG_54A"/>
                                                    <element name="X202_TAG_56A"/>
                                                    <element name="X202_TAG_57A"/>
                                                    <element name="X202_TAG_58A"/>
                                                    <element name="X202_TIME_INDI_13C"/>
                                                    <element name="X202_TRX_REF_NO_20"/>
                                                    <element name="X202_VALUE_DT_32A"/>
                                                    <element name="CPYT_SIC_AMT"/>
                                                    <element name="CPYT_SIC_CCY"/>
                                                    <element name="CPYT_SIC_CR_AC"/>
                                                    <element name="CPYT_SIC_DR_AC"/>
                                                    <element name="CPYT_SIC_REF"/>
                                                    <element name="CPYT_SIC_VAL_DATE"/>
                                                    <element name="CPYT_BENE_ADD1"/>
                                                    <element name="CPYT_BENE_ADD2"/>
                                                    <element name="CPYT_BENE_ADD3"/>
                                                    <element name="CPYT_BENE_ID"/>
                                                    <element name="CPYT_BENE_NM"/>
                                                    <element name="CPYT_AC_ID"/>
                                                    <element name="CPYT_PAY_REAON1"/>
                                                    <element name="CPYT_PAY_REAON2"/>
                                                    <element name="CPYT_PAY_REAON3"/>
                                                    <element name="CPYT_PAY_REAON4"/>
                                                    <element name="CPYT_REV_ADD1"/>
                                                    <element name="CPYT_REV_ADD2"/>
                                                    <element name="CPYT_REV_ADD3"/>
                                                    <element name="CPYT_REV_ID"/>
                                                    <element name="CPYT_REV_NM"/>
                                                    <element name="CPYT_CLE_NUM"/>
                                                    <element name="CPYT_ORD_TYPE"/>
                                                    <element name="CPYT_DR_CR_CODE"/>
                                                    <element name="CPYT_DEPART_CODE"/>
                                                    <element name="CPYT_PAY_CODE"/>
                                                    <element name="CPYT_ASSIGNEE_BAL"/>
                                                    <element name="I_ASSIGNEE_SEQ"/>
                                                    <element name="X400_ACC_BK_ACNO"/>
                                                    <element name="X400_ACC_BK_ADD1"/>
                                                    <element name="X400_ACC_BK_ADD2"/>
                                                    <element name="X400_ACC_BK_ADD3"/>
                                                    <element name="X400_ACC_BK_ID"/>
                                                    <element name="X400_ACC_BK_NM"/>
                                                    <element name="X400_ACC_BK_NOTES"/>
                                                    <element name="X400_ACC_BK_SW_ADD"/>
                                                    <element name="X400_ACC_BK_SW_TAG"/>
                                                    <element name="X400_ADDAMT_DET73"/>
                                                    <element name="X400_ADV_BK_ADD1"/>
                                                    <element name="X400_ADV_BK_ADD2"/>
                                                    <element name="X400_ADV_BK_ADD3"/>
                                                    <element name="X400_ADV_BK_ID"/>
                                                    <element name="X400_ADV_BK_NM"/>
                                                    <element name="X400_ADV_BK_NOTES"/>
                                                    <element name="X400_ADV_BK_SW_ADD"/>
                                                    <element name="X400_ADV_BK_SW_TAG"/>
                                                    <element name="X400_BENE_BK_ADD1"/>
                                                    <element name="X400_BENE_BK_ADD2"/>
                                                    <element name="X400_BENE_BK_ADD3"/>
                                                    <element name="X400_BENE_BK_ID"/>
                                                    <element name="X400_BENE_BK_NM"/>
                                                    <element name="X400_BENE_BK_NOTES"/>
                                                    <element name="X400_BENE_BK_SW_ADD"/>
                                                    <element name="X400_BENE_BK_SW_TAG"/>
                                                    <element name="X400_BKTOBK_INFO_72"/>
                                                    <element name="X400_COLL_AMT_32A"/>
                                                    <element name="X400_COLL_CCY_32A"/>
                                                    <element name="X400_DAYMON_FLG_32K__DESC__"/>
                                                    <element name="X400_DAYMON_FLG_32K"/>
                                                    <element name="X400_DUE_DT_32A"/>
                                                    <element name="X400_NET_AMT_33A"/>
                                                    <element name="X400_NET_CCY_33A"/>
                                                    <element name="X400_ORD_BK_ACNO"/>
                                                    <element name="X400_ORD_BK_ADD1"/>
                                                    <element name="X400_ORD_BK_ADD2"/>
                                                    <element name="X400_ORD_BK_ADD3"/>
                                                    <element name="X400_ORD_BK_ID"/>
                                                    <element name="X400_ORD_BK_NM"/>
                                                    <element name="X400_ORD_BK_NOTES"/>
                                                    <element name="X400_ORD_BK_SW_ADD"/>
                                                    <element name="X400_ORD_BK_SW_TAG"/>
                                                    <element name="X400_PRES_BK_CHG_71B"/>
                                                    <element name="X400_RECCOR_BK_ACNO"/>
                                                    <element name="X400_RECCOR_BK_ADD1"/>
                                                    <element name="X400_RECCOR_BK_ADD2"/>
                                                    <element name="X400_RECCOR_BK_ADD3"/>
                                                    <element name="X400_RECCOR_BK_ID"/>
                                                    <element name="X400_RECCOR_BK_NM"/>
                                                    <element name="X400_RECCOR_BK_NOTES"/>
                                                    <element name="X400_RECCOR_BK_SW_ADD"/>
                                                    <element name="X400_RECCOR_BK_SW_TAG"/>
                                                    <element name="X400_RELATEDNO_21"/>
                                                    <element name="X400_SENDCORR_BK_ACNO"/>
                                                    <element name="X400_SENDCORR_BK_ADD1"/>
                                                    <element name="X400_SENDCORR_BK_ADD2"/>
                                                    <element name="X400_SENDCORR_BK_ADD3"/>
                                                    <element name="X400_SENDCORR_BK_ID"/>
                                                    <element name="X400_SENDCORR_BK_NM"/>
                                                    <element name="X400_SENDCORR_BK_NOTES"/>
                                                    <element name="X400_SENDCORR_BK_SW_ADD"/>
                                                    <element name="X400_SENDCORR_BK_SW_TAG"/>
                                                    <element name="X400_SEND_NO_20"/>
                                                    <element name="X400_TENOR_DAYS_32K"/>
                                                    <element name="X400_TENOR_EVENT_32K__DESC__"/>
                                                    <element name="X400_TENOR_EVENT_32K"/>
                                                    <element name="X400_TAG_32__DESC__"/>
                                                    <element name="X400_TAG_32"/>
                                                    <element name="X400_VALUE_DT_32A"/>
                                                    <element name="X400_VALUE_DT_33A"/>
                                                    <element name="X400_TEMP_32K"/>
                                                    <element name="CPYT_CR_AMT_MAPING"/>
                                                    <element name="CPYT_CR_AMT_CRCCY_EXCH"/>
                                                    <element name="CPYT_CR_EXNG_AC"/>
                                                    <element name="CPYT_CR_TRX_CCY"/>
                                                    <element name="CPYT_CR_BUY_RATE"/>
                                                    <element name="CPYT_CR_AC_TYPE"/>
                                                    <element name="X202_TAG_B2"/>
                                                    <element name="X202_TAG_B2_1"/>
                                                    <element name="X103_BENECU_OP__DESC__"/>
                                                    <element name="X103_BENECU_OP"/>
                                                    <element name="X103_TAG_59A"/>
                                                    <element name="X103_BENECU_SW_59A"/>
                                                    <element name="TEMP_X103BENECUADD1_59A"/>
                                                    <element name="TEMP_X103BENECUADD2_59A"/>
                                                    <element name="TEMP_X103BENECUADD3_59A"/>
                                                    <element name="TEMP_X103_BENECUACNO59A"/>
                                                    <element name="TEMP_X103_BENECU_NM_59A"/>
                                                    <element name="X103_ORDCU_ID_OP__DESC__"/>
                                                    <element name="X103_ORDCU_ID_OP"/>
                                                    <element name="TEMP_X103_ACNO_51"/>
                                                    <element name="CPYT_PARTY_REF"/>
                                                    <element name="CPYT_CR_C_TRANS_CODE"/>
                                                    <element name="CPYT_CR_AC_DESC"/>
                                                    <element name="FED_ADD1"/>
                                                    <element name="FED_ADD2"/>
                                                    <element name="FED_ADD3"/>
                                                    <element name="FED_ID"/>
                                                    <element name="FED_NM"/>
                                                    <element name="IS_GPI_MEMBER"/>
                                                    <element name="SERVICE_TYPE_ID_GPI_111"/>
                                                    <element name="UETR_GPI_121"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="RCV_FM_BK_ADD1"/>
                <element name="RCV_FM_BK_ADD2"/>
                <element name="RCV_FM_BK_ADD3"/>
                <element name="RCV_FM_BK_ADD_ORDERNO"/>
                <element name="RCV_FM_BK_BR_CODE"/>
                <element name="RCV_FM_BK_BTN"/>
                <element name="RCV_FM_BK_CORR_MED__DESC__"/>
                <element name="RCV_FM_BK_CORR_MED"/>
                <element name="RCV_FM_BK_EMAIL"/>
                <element name="RCV_FM_BK_ID"/>
                <element name="RCV_FM_BK_ID_BTN"/>
                <element name="RCV_FM_BK_MAIL1"/>
                <element name="RCV_FM_BK_MAIL_ADD_ORDERNO"/>
                <element name="RCV_FM_BK_MAIL_BTN"/>
                <element name="RCV_FM_BK_NM"/>
                <element name="RCV_FM_BK_NOTES"/>
                <element name="RCV_FM_BK_SW_ADD"/>
                <element name="RCV_FM_BK_SW_TAG"/>
                <element name="RCV_FM_BK_TLX"/>
                <element name="RCV_FM_BK_TO_FAX"/>
                <element name="REAL_RT"/>
                <element name="REG_DT"/>
                <element name="SEND_TO__DESC__"/>
                <element name="SEND_TO"/>
                <element name="SEND_TO_ADD1"/>
                <element name="SEND_TO_ADD1_BTN"/>
                <element name="SEND_TO_ADD2"/>
                <element name="SEND_TO_ADD3"/>
                <element name="SEND_TO_ADD_ORDERNO"/>
                <element name="SEND_TO_CORR_MED__DESC__"/>
                <element name="SEND_TO_CORR_MED"/>
                <element name="SEND_TO_EMAIL"/>
                <element name="SEND_TO_FAX"/>
                <element name="SEND_TO_ID"/>
                <element name="SEND_TO_ID_BTN"/>
                <element name="SEND_TO_MAIL_ADD"/>
                <element name="SEND_TO_MAIL_ADD1_BTN"/>
                <element name="SEND_TO_MAIL_ADD_ORDERNO"/>
                <element name="SEND_TO_NM"/>
                <element name="SEND_TO_NOTES"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="SEND_TO_REF"/>
                <element name="SEND_TO_SW_ADD"/>
                <element name="SEND_TO_SW_TAG"/>
                <element name="SEND_TO_TLX"/>
                <element name="SEPARATE_CHG_FLG"/>
                <element name="STL_DT"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_ASSET_ACNO_DESC"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_COLL_AMT_COLL_CCY"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_N90_CHG_32"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_TAG34_AMT"/>
                <element name="TRX_CCY"/>
                <element name="TTL_CR_AMT"/>
                <element name="TTL_DR_AMT"/>
                <element name="WEB_REF"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
