EE_PARA/EE_PARA/Default/FORM/form_schema_std_CHG_VAT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CSID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_PRODUCT_CODE_HIDDEN"/>
                <element name="PROCESSINGID"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
