EE_PARA/EE_PARA/Default/FORM/form_schema_DISC_Dom_InvLoan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="FA_EF_COMM_AMT"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_INT_CHG_TYPE__DESC__"/>
                <element name="FA_INT_CHG_TYPE"/>
                <element name="FA_INV_AMT"/>
                <element name="FA_INV_CCY"/>
                <element name="FA_INV_DT"/>
                <element name="FA_INV_INT_DAYS"/>
                <element name="FA_INV_LOAN_BAL"/>
                <element name="FA_INV_LOAN_ID"/>
                <element name="FA_INV_LOAN_TIMES"/>
                <element name="FA_INV_NO"/>
                <element name="FA_INV_REF"/>
                <element name="FA_INV_STATUS"/>
                <element name="FA_INV_VAL_DT"/>
                <element name="FA_LAST_LOAN_BAL"/>
                <element name="FA_LOAN_AMT"/>
                <element name="FA_LOAN_CCY"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_INT_AMT"/>
                <element name="FA_LOAN_PERC"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_SEL_ID"/>
                <element name="IA_C_FUNCTION_ID"/>
                <element name="IA_N_FIX_BAS_RATE"/>
                <element name="LAST_LOAN_AMT"/>
            </sequence>
        </complexType>
    </element>
</schema>
