EE_PARA/EE_PARA/Default/FORM/form_multi_schema_BPO_Payment_Obligation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="ASSET_ACNO"/>
<element name="ASSET_ACNO_BTN"/>
<element name="ASSET_ACNO_OLD"/>
<element name="DO_REF"/>
<element name="PERCENT"/>
<element name="R_ASSET_ACNO"/>
<element name="R_ASSET_ACNO_BTN"/>
<element name="TSU_APLBL_LAW"/>
<element name="TSU_BPOOBLGR_AMT"/>
<element name="TSU_BPOOBLGR_BAL"/>
<element name="TSU_CCY"/>
<element name="TSU_CCY_OLD"/>
<element name="TSU_NEW_OBLGR_CONF_BAL"/>
<element name="TSU_OBLGRBK_ADD1"/>
<element name="TSU_OBLGRBK_ADD2"/>
<element name="TSU_OBLGRBK_ADD3"/>
<element name="TSU_OBLGRBK_ADD_BTN"/>
<element name="TSU_OBLGRBK_ID"/>
<element name="TSU_OBLGRBK_ID_BTN"/>
<element name="TSU_OBLGRBK_MAIL_ADD"/>
<element name="TSU_OBLGRBK_NM"/>
<element name="TSU_OBLGRBK_NM_BTN"/>
<element name="TSU_OBLGRBK_SW_TAG"/>
<element name="TSU_OBLGR_BK"/>
<element name="TSU_OBLGR_CONF_BAL"/>
<element name="TSU_PMTOBLGR_AMT"/>
<element name="TSU_PMTOBLGR_AMT_OLD"/>
<element name="TSU_PMT_CHG_AMT"/>
<element name="TSU_PMT_CHG_PCTG"/>
<element name="TSU_PMT_XPRY_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_RCPTBK"/>
<element name="TSU_RCPTBK_ADD1"/>
<element name="TSU_RCPTBK_ADD2"/>
<element name="TSU_RCPTBK_ADD3"/>
<element name="TSU_RCPTBK_ADD_BTN"/>
<element name="TSU_RCPTBK_BTN"/>
<element name="TSU_RCPTBK_ID"/>
<element name="TSU_RCPTBK_MAIL_ADD"/>
<element name="TSU_RCPTBK_NM"/>
<element name="TSU_RCPTBK_NM_BTN"/>
<element name="TSU_RCPTBK_SW_TAG"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
