EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CCHG_CHG_Note_Additional.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CHG_FOREIGN_ACCOUNT"/>
                            <element name="CHG_FOREIGN_CCY"/>
                            <element name="CHG_FOREIGN_ID"/>
                            <element name="CHG_FOREIGN_NAME"/>
                            <element name="CHG_LOCAL_ID"/>
                            <element name="CHG_LOCAL_NAME"/>
                            <element name="C_MAIN_REF"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
