EE_PARA/EE_PARA/Default/FORM/form_schema_CDRY_EidtDiary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_C_FUNC_ID"/>
                <element name="DIARY_C_MAIN_REF"/>
                <element name="DIARY_C_MODULE"/>
                <element name="DIARY_C_USER"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_MODIFY_DT"/>
                <element name="DIARY_MODIFY_USER_ID"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="D_CREA_DATE"/>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_COUNT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
