EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_Outstanding_Manager.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BT_CUST"/>
                <element name="BT_FACI"/>
                <element name="BT_GRUP"/>
                <element name="BT_RCUST"/>
                <element name="BT_SUB"/>
                <element name="BT_VIEW"/>
                <element name="DELE_FLAG"/>
                <element name="IS_DELE"/>
                <element name="IS_TABLE_NAME"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_FACI_TP"/>
                <element name="LM_GRUP_DES"/>
                <element name="LM_OUTC_APL"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RCUST_ID"/>
                <element name="LM_SIN_APL"/>
                <element name="LM_SIN_APV"/>
                <element name="LM_SIN_LMT"/>
                <element name="LM_SOUT_APL"/>
                <element name="LM_SOUT_APV"/>
                <element name="LM_SOUT_LMT"/>
                <element name="LM_TRX_REF"/>
                <element name="OP_TYPE"/>
                <element name="OUTSTANDING"/>
                <element name="OutStanding"/>
                <element name="SQLCMD"/>
                <element name="SQLCMD2"/>
                <element name="_TRX_TYPE"/>
                <element name="action"/>
                <element name="radioset"/>
            </sequence>
        </complexType>
    </element>
</schema>
