EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_PayToSupplier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_COLL_BK"/>
                            <element name="ACC_CREDIT"/>
                            <element name="AMT_TO_SELT"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="EPP_SUPLR_ID"/>
                            <element name="EPRFees">
                                <complexType>
                                    <sequence>
                                        <element name="ACC_CHG"/>
                                        <element name="BASE_CD"/>
                                        <element name="BUYR_ID"/>
                                        <element name="BUYR_NM"/>
                                        <element name="CCY"/>
                                        <element name="CHG_FREQ_CD"/>
                                        <element name="CHG_STAT"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="DEBIT_ID"/>
                                        <element name="DEBIT_TP"/>
                                        <element name="DUE_ON"/>
                                        <element name="EPP_ID"/>
                                        <element name="EPP_NM"/>
                                        <element name="FEE_AMT"/>
                                        <element name="FEE_ID"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FEE_TP_AMT"/>
                                        <element name="FEE_UNIT__DESC__"/>
                                        <element name="FEE_UNIT"/>
                                        <element name="MAX_AMT"/>
                                        <element name="MIN_AMT"/>
                                        <element name="PAID_ON"/>
                                        <element name="PMT_REF"/>
                                        <element name="SUPLR_ID"/>
                                        <element name="SUPLR_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="FEE_AMT1"/>
                            <element name="FEE_AMT2"/>
                            <element name="FEE_AMT8"/>
                            <element name="INV_MAIN_STR"/>
                            <element name="NUM_OF_INV"/>
                            <element name="PAID_ON"/>
                            <element name="PMT_AMT"/>
                            <element name="PMT_REF"/>
                            <element name="PP_ID"/>
                            <element name="PayToSupplierInvoice">
                                <complexType>
                                    <sequence>
                                        <element name="AI_ACT_AMT"/>
                                        <element name="AI_BALANCE"/>
                                        <element name="AI_DUE_DT"/>
                                        <element name="AI_ID"/>
                                        <element name="AI_NUM"/>
                                        <element name="AI_ORG_AMT"/>
                                        <element name="AI_SET_DT"/>
                                        <element name="AMT_TO_SELT"/>
                                        <element name="CCY"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="PMT_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AMT1"/>
                            <element name="TTL_INT_FEE_AMT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
