EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_ViewCounterparty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_BUYER_POSTBOX"/>
                <element name="FA_BUYER_POSTCODE"/>
                <element name="FA_BUYER_PROV"/>
            </sequence>
        </complexType>
    </element>
</schema>
