EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_CCAResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_CCY"/>
                <element name="ACC_TRX_CCY"/>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_BK_NM"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CNTY"/>
                <element name="FA_BUYER_COMP_REG"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_BUYER_POSTBOX"/>
                <element name="FA_BUYER_POSTCODE"/>
                <element name="FA_BUYER_PROV"/>
                <element name="FA_BUYER_RESP_AGNT"/>
                <element name="FA_CCA_REF"/>
                <element name="FA_CCA_THEIR_REF"/>
                <element name="FA_CCR_REF"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_COUNTER_ID"/>
                <element name="FA_COUNTER_NM"/>
                <element name="FA_CREDIT_REQ__DESC__"/>
                <element name="FA_CREDIT_REQ"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_GOODS_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_LMT_EXCH_RT"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCO_COMM_RT"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_INCO_NM"/>
                <element name="FA_INSU_AGR_NO"/>
                <element name="FA_INSU_COMP_FLAG__DESC__"/>
                <element name="FA_INSU_COMP_FLAG"/>
                <element name="FA_INV_CCY1"/>
                <element name="FA_INV_CCY2"/>
                <element name="FA_INV_CCY3"/>
                <element name="FA_INV_CCY4"/>
                <element name="FA_INV_CCY5"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_LONG_DAYS"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG_FUNC__DESC__"/>
                <element name="FA_MSG_FUNC"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_OWN_RISK_AMT"/>
                <element name="FA_OWN_RISK_PERC"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_PMT_TERMS_FLG__DESC__"/>
                <element name="FA_PMT_TERMS_FLG"/>
                <element name="FA_REASON__DESC__"/>
                <element name="FA_REASON"/>
                <element name="FA_REPL_CODE__DESC__"/>
                <element name="FA_REPL_CODE"/>
                <element name="FA_REPL_DT"/>
                <element name="FA_REQ_DT"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP_DT1"/>
                <element name="FORACOF_TEMP_TEAM_NM"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RSV_LINK"/>
                <element name="LimitsDo">
                    <complexType>
                        <sequence>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_DEBT_LMT"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_ERATE"/>
                            <element name="LM_EVENT_TYPE"/>
                            <element name="LM_ID"/>
                            <element name="LM_NM"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_PARENT_NM"/>
                            <element name="LM_REALLO"/>
                            <element name="LM_REVOLVING"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_TYPE"/>
                            <element name="LM_TYPE_DESC"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TRX_DT"/>
                <element name="getBUYER_ID"/>
            </sequence>
        </complexType>
    </element>
</schema>
