EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Debit Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_C_REF"/>
<element name="CPYT_DR_AMT_TXCCY"/>
<element name="CPYT_DR_TTL_AMT_TTLCCY"/>
<element name="CPYT_DR_TTL_CCY"/>
<element name="CPYT_MDR_ADV"/>
<element name="CPYT_NO_DR"/>
<element name="CPYT_SCHEDULE_REF"/>
<element name="CPYT_SELL_RATE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
