EE_PARA/EE_PARA/Default/FORM/form_schema_Std_CHG_GL_Account_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_ACCOUNT_TYPE"/>
                <element name="C_AC_NUMBER"/>
                <element name="C_CCY"/>
                <element name="C_CCY_TMP"/>
                <element name="C_COMMISSION_CODE"/>
                <element name="C_COMMISSION_CODE_TEMP"/>
                <element name="C_PAY_TYPE"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="C_UNIT_CODE"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
