EE_PARA/EE_PARA/Default/FORM/form_multi_schema_202ForClean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BANK_FOR_ACCT"/>
<element name="BU"/>
<element name="CPYT_2XX_PAY_COV_MSG"/>
<element name="CPYT_CR_BK_AC"/>
<element name="CPYT_DR_AC"/>
<element name="X202BENEBKADD1_58A"/>
<element name="X202BENEBKADD2_58A"/>
<element name="X202BENEBKADD3_58A"/>
<element name="X202MEDIBKADD1_56A"/>
<element name="X202MEDIBKADD2_56A"/>
<element name="X202MEDIBKADD3_56A"/>
<element name="X202RECCORRACNO54A"/>
<element name="X202SENDCORACNO53A"/>
<element name="X202SENDCORADD153A"/>
<element name="X202SENDCORADD253A"/>
<element name="X202SENDCORADD353A"/>
<element name="X202_ACCBKADD1_57A"/>
<element name="X202_ACCBKADD2_57A"/>
<element name="X202_ACCBKADD3_57A"/>
<element name="X202_ACC_BKACNO57A"/>
<element name="X202_ACC_BKID_57A"/>
<element name="X202_ACC_BKNM_57A"/>
<element name="X202_ACC_BKSW_57A"/>
<element name="X202_ADV_BKADD1_B2"/>
<element name="X202_ADV_BKADD2_B2"/>
<element name="X202_ADV_BKADD3_B2"/>
<element name="X202_ADV_BKID_B2"/>
<element name="X202_ADV_BKMED_B2__DESC__"/>
<element name="X202_ADV_BKMED_B2"/>
<element name="X202_ADV_BKNM_B2"/>
<element name="X202_ADV_BKSW_B2"/>
<element name="X202_AMT_32A"/>
<element name="X202_BENEBKACNO58A"/>
<element name="X202_BENE_BKID_58A"/>
<element name="X202_BENE_BKNM_58A"/>
<element name="X202_BENE_BKSW_58A"/>
<element name="X202_BK2BK_INF1_72"/>
<element name="X202_BK2BK_INF2_72"/>
<element name="X202_BK2BK_INF3_72"/>
<element name="X202_BK2BK_INF4_72"/>
<element name="X202_BK2BK_INF5_72"/>
<element name="X202_BK2BK_INF6_72"/>
<element name="X202_CCY_32A"/>
<element name="X202_MEDIBKACNO56A"/>
<element name="X202_MEDI_BKID_56A"/>
<element name="X202_MEDI_BKNM_56A"/>
<element name="X202_MEDI_BKSW_56A"/>
<element name="X202_ORDBKACNO_52A"/>
<element name="X202_ORDBKADD1_52A"/>
<element name="X202_ORDBKADD2_52A"/>
<element name="X202_ORDBKADD3_52A"/>
<element name="X202_ORDBK_ID_52A"/>
<element name="X202_ORDBK_NM_52A"/>
<element name="X202_ORDBK_SW_52A"/>
<element name="X202_RECCORADD154A"/>
<element name="X202_RECCORADD254A"/>
<element name="X202_RECCORADD354A"/>
<element name="X202_RECCORRID_54A"/>
<element name="X202_RECCORRNM_54A"/>
<element name="X202_RECCORRSW_54A"/>
<element name="X202_RELATEDNO_21"/>
<element name="X202_SENDCORRID53A"/>
<element name="X202_SENDCORRNM53A"/>
<element name="X202_SENDCORRSW53A"/>
<element name="X202_TAG_52A"/>
<element name="X202_TAG_53A"/>
<element name="X202_TAG_54A"/>
<element name="X202_TAG_56A"/>
<element name="X202_TAG_57A"/>
<element name="X202_TAG_58A"/>
<element name="X202_TIME_INDI_13C"/>
<element name="X202_TRX_REF_NO_20"/>
<element name="X202_VALUE_DT_32A"/>
<element name="lookup1"/>
<element name="lookup2"/>
<element name="lookup24"/>
<element name="lookup3"/>
<element name="lookup63"/>
<element name="lookup632"/>
<element name="lookup633"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
