EE_PARA/EE_PARA/Default/FORM/form_schema_BOPHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="BANK_COUNTRY"/>
<element name="BOP_ACNT_IDFR_X"/>
<element name="BOP_AMNT_ENTRD_IND"/>
<element name="BOP_BSNTR_FIRST_M"/>
<element name="BOP_BSNTR_ID_N"/>
<element name="BOP_BSNTR_LAST_M"/>
<element name="BOP_BSNTR_TEMPI_N"/>
<element name="BOP_BUSNS_TRANS_C"/>
<element name="BOP_BUY_SELL_I"/>
<element name="BOP_DETAIL_ADHOC_SUBJ_X"/>
<element name="BOP_DETAIL_ADHOC_X"/>
<element name="BOP_DETAIL_AUTHD_DEALR_C"/>
<element name="BOP_DETAIL_CAT_C"/>
<element name="BOP_DETAIL_CLINT_CUSTOMS_N"/>
<element name="BOP_DETAIL_EXCON_APLCT_N"/>
<element name="BOP_DETAIL_EXCON_D"/>
<element name="BOP_DETAIL_EXCON_RULNG_X"/>
<element name="BOP_DETAIL_GDLO_CNTRY_C"/>
<element name="BOP_DETAIL_IPET_CONTL_N"/>
<element name="BOP_DETAIL_LOAN_REF_N"/>
<element name="BOP_DETAIL_OTHER_INFO_X"/>
<element name="BOP_DETAIL_RULNG_DESCRIPTION"/>
<element name="BOP_DETAIL_TRANS_A"/>
<element name="BOP_DETAIL_TRVLR_ID_N"/>
<element name="BOP_DR_CR_I"/>
<element name="BOP_EVENT_TIMES"/>
<element name="BOP_MAX_CATEGORIES"/>
<element name="BOP_MT103_DISTRBN"/>
<element name="BOP_NRES_CNTRY_C"/>
<element name="BOP_NRES_NAME_M"/>
<element name="BOP_NRES_NRES_I"/>
<element name="BOP_NRES_ONE_M__DESC__"/>
<element name="BOP_NRES_ONE_M"/>
<element name="BOP_NRES_SURNAME_M"/>
<element name="BOP_PAYMT_IDFR_X"/>
<element name="BOP_PRNPL_A"/>
<element name="BOP_PRNPL_CRNCY_C"/>
<element name="BOP_PURCHASE_SALE_IND"/>
<element name="BOP_RELTD_TRANS_N"/>
<element name="BOP_REPORTING"/>
<element name="BOP_RES_NAME_M"/>
<element name="BOP_RES_NRES_I__DESC__"/>
<element name="BOP_RES_NRES_I"/>
<element name="BOP_RES_ONE_M__DESC__"/>
<element name="BOP_RES_ONE_M"/>
<element name="BOP_RES_SURNAME_M"/>
<element name="BOP_RES_TAX_N"/>
<element name="BOP_RES_VAT_N"/>
<element name="BOP_RPTG_AMT"/>
<element name="BOP_RPTG_CCY"/>
<element name="BOP_RSDNT_PSICT_C"/>
<element name="BOP_RSDNT_PSPRT_N"/>
<element name="BOP_SCDRY_A"/>
<element name="BOP_SCDRY_CRNCY_C"/>
<element name="BOP_SELCT_CCY"/>
<element name="BOP_SOURC_SYSTM_C"/>
<element name="BOP_STTUS_C"/>
<element name="BOP_TAB_TEXT"/>
<element name="BOP_TRANS_N"/>
<element name="BOP_TRANS_REF"/>
<element name="CUST_ACNT_FIELD"/>
<element name="CUST_ID_FIELD"/>
<element name="C_CUSTOMER_AC"/>
<element name="C_CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="ERROR_MESSAGE"/>
<element name="FUNC_SHORT_NAME"/>
<element name="INW_X103_BK2BK_INF1_72"/>
<element name="LOCAL_CCY"/>
<element name="MANDATORY_FIELDS"/>
<element name="OPEN_FIELDS"/>
<element name="PRINCIPLE_AMT_FIELD"/>
<element name="PRINCIPLE_CRNCY_FIELD"/>
<element name="PROTECTED_FIELDS"/>
<element name="SETTLEMENT_AMT_FIELD"/>
<element name="SETTLEMENT_CURNCY_FIELD"/>
<element name="SETTLEMENT_DO_PAY_AMT"/>
<element name="SETTLEMENT_DO_SETT_AMT"/>
<element name="STATUS_OPTIONS"/>
<element name="X57A_SWIFT_COUNTRY"/>
</sequence>
</complexType>
</element>
</schema>
