EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_MX_TRXCAMT059.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="ERROR_MESSAGE"/>
                            <element name="MX_ALL"/>
                            <element name="REGOTT_COUNTRY_CODE"/>
                            <element name="X103_50_ADD_BTN"/>
                            <element name="X103_50_ADD_BTN2"/>
                            <element name="X103_50_BTN"/>
                            <element name="X103_BENECUACNO59A"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_ID_59_BTN"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="lookup1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
