EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_Pre_Advice_Receive103_BYManual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT103_DUP"/>
                            <element name="ACC_CHANGE_FLAG"/>
                            <element name="AC_WT_INST_ID"/>
                            <element name="AMOUNT"/>
                            <element name="APPL_CNTY_RES"/>
                            <element name="APP_TYPE"/>
                            <element name="AUDIT_CODE"/>
                            <element name="AUDT_DESC"/>
                            <element name="AUDT_FUNCTION"/>
                            <element name="AUDT_INSERTED_TMSTAMP"/>
                            <element name="AUDT_MAIN_REF"/>
                            <element name="AUDT_OP_ID"/>
                            <element name="AUDT_SUB_TYPE"/>
                            <element name="AUDT_TRX_REF"/>
                            <element name="AUDT_TYPE"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="BANK_CHRG_ACCT"/>
                            <element name="BENE_AC_TYPE__DESC__"/>
                            <element name="BENE_AC_TYPE"/>
                            <element name="BENE_CNTY_RES"/>
                            <element name="BU"/>
                            <element name="CANCEL_FLG"/>
                            <element name="CASH_CCY_IND"/>
                            <element name="CASH_CNTY_DESC"/>
                            <element name="CASH_SETT_AMT"/>
                            <element name="CASH_SETT_CCY"/>
                            <element name="CASH_TOT_AMT"/>
                            <element name="CCY"/>
                            <element name="CCY_CUTOFF_DAY"/>
                            <element name="CHGCODE_BS"/>
                            <element name="CHGCODE_OUR"/>
                            <element name="CHG_CNTY_BANKID"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_SUSP_AC"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CHIPFED"/>
                            <element name="CNTY"/>
                            <element name="CNTY_CODE"/>
                            <element name="COUNTRY"/>
                            <element name="COV_NO"/>
                            <element name="CPYT_CR_BK_AC1"/>
                            <element name="CPYT_DR_AC"/>
                            <element name="CPYT_DR_AC1"/>
                            <element name="CPYT_DR_CCY"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_REF"/>
                            <element name="CUTOFF_DAY"/>
                            <element name="CUTOFF_REF"/>
                            <element name="CUTOFF_TIME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_CLEAR_TYPE"/>
                            <element name="C_CUSTOMER_AC"/>
                            <element name="C_CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MAIN_REF_FRE"/>
                            <element name="C_MODULE"/>
                            <element name="C_REFUSE_REASON"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DB_AMT"/>
                            <element name="DB_Acct_No_Lookup"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DB_CNTY"/>
                            <element name="DET_RECCHRGS_AMT"/>
                            <element name="DRT_DEAL_IND"/>
                            <element name="DUPLICATE_TRN"/>
                            <element name="DUP_CHK"/>
                            <element name="EXCH_RATE"/>
                            <element name="FDS_AVAL"/>
                            <element name="FDS_TO_CHK"/>
                            <element name="FIELD_1_X"/>
                            <element name="FIELD_6_X"/>
                            <element name="FIELDs"/>
                            <element name="FORM_CUST_ACNO"/>
                            <element name="FORM_CUST_ADD1"/>
                            <element name="FORM_CUST_ADD2"/>
                            <element name="FORM_CUST_ADD3"/>
                            <element name="FORM_CUST_NM"/>
                            <element name="FOR_CHG_ID"/>
                            <element name="FOR_CHG_NAME"/>
                            <element name="HELP_LINK_URL"/>
                            <element name="INT_BKGROUPID"/>
                            <element name="INT_CUST_ID"/>
                            <element name="INT_I_EVENT_TIMES"/>
                            <element name="INV_STATUS"/>
                            <element name="INW_CUST_REF"/>
                            <element name="INW_MSG_STATUS"/>
                            <element name="INW_SNDBK_ADD1"/>
                            <element name="INW_SNDBK_ADD2"/>
                            <element name="INW_SNDBK_ADD3"/>
                            <element name="INW_SNDBK_ID"/>
                            <element name="INW_SNDBK_NM"/>
                            <element name="INW_SNDBK_SW"/>
                            <element name="INW_X103BENECUADD1_59A"/>
                            <element name="INW_X103BENECUADD2_59A"/>
                            <element name="INW_X103BENECUADD3_59A"/>
                            <element name="INW_X103MEDI_BKACNO56A"/>
                            <element name="INW_X103MEDI_BKADD156A"/>
                            <element name="INW_X103MEDI_BKADD256A"/>
                            <element name="INW_X103MEDI_BKADD356A"/>
                            <element name="INW_X103RECCORRACNO54A"/>
                            <element name="INW_X103SENDBKADD1_51A"/>
                            <element name="INW_X103SENDBKADD2_51A"/>
                            <element name="INW_X103SENDBKADD3_51A"/>
                            <element name="INW_X103SENDCORACNO53A"/>
                            <element name="INW_X103SENDCORADD153A"/>
                            <element name="INW_X103SENDCORADD253A"/>
                            <element name="INW_X103SENDCORADD353A"/>
                            <element name="INW_X103TRDREIMACNO55A"/>
                            <element name="INW_X103TRDREIMADD155A"/>
                            <element name="INW_X103TRDREIMADD255A"/>
                            <element name="INW_X103TRDREIMADD355A"/>
                            <element name="INW_X103_13C_TIME_INDICATION"/>
                            <element name="INW_X103_50A_BTN"/>
                            <element name="INW_X103_51A_BTN"/>
                            <element name="INW_X103_52A_BTN"/>
                            <element name="INW_X103_53A_BTN"/>
                            <element name="INW_X103_54A_BTN"/>
                            <element name="INW_X103_55A_BTN"/>
                            <element name="INW_X103_56A_BTN"/>
                            <element name="INW_X103_57A_BTN"/>
                            <element name="INW_X103_59A_BTN"/>
                            <element name="INW_X103_ACCBKADD1_57A"/>
                            <element name="INW_X103_ACCBKADD2_57A"/>
                            <element name="INW_X103_ACCBKADD3_57A"/>
                            <element name="INW_X103_ACC_BKACNO57A2"/>
                            <element name="INW_X103_ACC_BKID_57A"/>
                            <element name="INW_X103_ACC_BKNM_57A"/>
                            <element name="INW_X103_ACC_BKSW_57A"/>
                            <element name="INW_X103_BENECUACNO59A"/>
                            <element name="INW_X103_BENECU_ID_59A"/>
                            <element name="INW_X103_BENECU_NM_59A"/>
                            <element name="INW_X103_BENECU_SW_59A"/>
                            <element name="INW_X103_BK2BK_INF1_72"/>
                            <element name="INW_X103_BK2BK_INF2_72"/>
                            <element name="INW_X103_BK2BK_INF3_72"/>
                            <element name="INW_X103_BK2BK_INF4_72"/>
                            <element name="INW_X103_BK2BK_INF5_72"/>
                            <element name="INW_X103_BK2BK_INF6_72"/>
                            <element name="INW_X103_DET_CHG_71A"/>
                            <element name="INW_X103_ENV_CONT_77T"/>
                            <element name="INW_X103_EXCH_RT_36"/>
                            <element name="INW_X103_INSTRCODE1_23E"/>
                            <element name="INW_X103_INSTRCODE2_23E"/>
                            <element name="INW_X103_INSTRCODE_23E"/>
                            <element name="INW_X103_INSTR_AMT_33B"/>
                            <element name="INW_X103_INSTR_CCY_33B"/>
                            <element name="INW_X103_MEDI_BKID_56A"/>
                            <element name="INW_X103_MEDI_BKNM_56A"/>
                            <element name="INW_X103_MEDI_BKSW_56A"/>
                            <element name="INW_X103_ORDBKACNO_52A"/>
                            <element name="INW_X103_ORDBKADD1_52A"/>
                            <element name="INW_X103_ORDBKADD2_52A"/>
                            <element name="INW_X103_ORDBKADD3_52A"/>
                            <element name="INW_X103_ORDCUACNO_50A"/>
                            <element name="INW_X103_ORDCUADD1_50A"/>
                            <element name="INW_X103_ORDCUADD2_50A"/>
                            <element name="INW_X103_ORDCUADD3_50A"/>
                            <element name="INW_X103_ORDCU_ID_50A"/>
                            <element name="INW_X103_ORDCU_NM_50A"/>
                            <element name="INW_X103_ORDCU_SW_50A"/>
                            <element name="INW_X103_ORD_BKID_52A"/>
                            <element name="INW_X103_ORD_BKNM_52A"/>
                            <element name="INW_X103_ORD_BKSW_52A"/>
                            <element name="INW_X103_RECCHGAMT_71G"/>
                            <element name="INW_X103_RECCHGCCY_71G"/>
                            <element name="INW_X103_RECCORADD154A"/>
                            <element name="INW_X103_RECCORADD254A"/>
                            <element name="INW_X103_RECCORADD354A"/>
                            <element name="INW_X103_RECCORRID_54A"/>
                            <element name="INW_X103_RECCORRNM_54A"/>
                            <element name="INW_X103_RECCORRSW_54A"/>
                            <element name="INW_X103_REG_REP1_77B"/>
                            <element name="INW_X103_REG_REP2_77B"/>
                            <element name="INW_X103_REG_REP3_77B"/>
                            <element name="INW_X103_REMIT_INF1_70"/>
                            <element name="INW_X103_REMIT_INF2_70"/>
                            <element name="INW_X103_REMIT_INF3_70"/>
                            <element name="INW_X103_REMIT_INF4_70"/>
                            <element name="INW_X103_SENDBKACNO51A"/>
                            <element name="INW_X103_SENDCHGAMT71F"/>
                            <element name="INW_X103_SENDCHGCCY71F"/>
                            <element name="INW_X103_SENDCORRID53A"/>
                            <element name="INW_X103_SENDCORRNM53A"/>
                            <element name="INW_X103_SENDCORRSW53A"/>
                            <element name="INW_X103_SEND_BKID_51A"/>
                            <element name="INW_X103_SEND_BKNM_51A"/>
                            <element name="INW_X103_SEND_BKSW_51A"/>
                            <element name="INW_X103_SEND_NO_20"/>
                            <element name="INW_X103_SETT_AMT_32A"/>
                            <element name="INW_X103_SETT_CCY_32A"/>
                            <element name="INW_X103_TAG_50A"/>
                            <element name="INW_X103_TAG_51A"/>
                            <element name="INW_X103_TAG_52A"/>
                            <element name="INW_X103_TAG_53A"/>
                            <element name="INW_X103_TAG_54A"/>
                            <element name="INW_X103_TAG_55A"/>
                            <element name="INW_X103_TAG_56A"/>
                            <element name="INW_X103_TAG_57A"/>
                            <element name="INW_X103_TAG_59A"/>
                            <element name="INW_X103_TRDREIMID_55A"/>
                            <element name="INW_X103_TRDREIMNM_55A"/>
                            <element name="INW_X103_TRDREIMSW_55A"/>
                            <element name="INW_X103_TRX_TYPCD_26T"/>
                            <element name="INW_X103_VALUE_DT_32A"/>
                            <element name="MAX_191"/>
                            <element name="MD_I"/>
                            <element name="MLT_STLMT"/>
                            <element name="MT191SENT_NO"/>
                            <element name="NOTES"/>
                            <element name="NUM_ACCTS"/>
                            <element name="NXT_STATUS"/>
                            <element name="NXT_TRCR_DT"/>
                            <element name="OLDVALUES"/>
                            <element name="OLDVALUES_ACC"/>
                            <element name="OLDVALUES_COVERNO"/>
                            <element name="OLDVALUES_OVR"/>
                            <element name="ORG_BEN_CUSTACCT"/>
                            <element name="ORG_BEN_CUSTID"/>
                            <element name="ORIG_103_MEDI_BKID"/>
                            <element name="ORIG_103_REC_BKID"/>
                            <element name="ORIG_202SENDCORRID"/>
                            <element name="ORIG_202_REC_BKID"/>
                            <element name="ORIG_IBAN_VALID"/>
                            <element name="OUR_CHGS"/>
                            <element name="OVRIDE"/>
                            <element name="PAY_COMM_TMP"/>
                            <element name="PRODREF"/>
                            <element name="RATE_TYPE"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="RELATED_REF"/>
                            <element name="REMIT_INFO_TMP_70"/>
                            <element name="REPUR_IND"/>
                            <element name="RES_STATUS"/>
                            <element name="REVE_IND"/>
                            <element name="SECOND_CHG_AMT"/>
                            <element name="SEND_TO_FLAG"/>
                            <element name="SETL_FLAG"/>
                            <element name="SETT_ACC_AUDIT"/>
                            <element name="SETT_ACC_AUDIT1"/>
                            <element name="SETT_CCY"/>
                            <element name="SEVEN_DAYS_BACK"/>
                            <element name="STAN_INSTR"/>
                            <element name="SUSP_AC"/>
                            <element name="SWT_COMM_TMP"/>
                            <element name="SYS_BUSI_UNIT"/>
                            <element name="TEMP_ACC_NO"/>
                            <element name="TEMP_CASH_IND"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_RESULT2"/>
                            <element name="TOT_CHRG_AMT"/>
                            <element name="TOT_DB_AMT"/>
                            <element name="TRX_HISTORY"/>
                            <element name="TRX_HISTORY_TEMP"/>
                            <element name="TWO_DAYS_BACK"/>
                            <element name="VAT_IND1"/>
                            <element name="VOSTRO_NOSTRO_FLAG"/>
                            <element name="X103BENECUADD1_59A"/>
                            <element name="X103BENECUADD2_59A"/>
                            <element name="X103BENECUADD3_59A"/>
                            <element name="X103_50_ADD_BTN"/>
                            <element name="X103_50_BTN"/>
                            <element name="X103_51_ADD_BTN"/>
                            <element name="X103_B3_SERVICE_CODE"/>
                            <element name="X103_B3_SERVICE_CODE_ORIGINAL"/>
                            <element name="X103_BENECUACNO59A"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_BENECU_SW_59A"/>
                            <element name="X103_ID_59_BTN"/>
                            <element name="X103_INSTRCODE_23E"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50A"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50A"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50A"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X103_ORDCU_SW_50A"/>
                            <element name="X103_RECCHGAMT_71G"/>
                            <element name="X103_RECCHGCCY_71G"/>
                            <element name="X103_SENDBKID_BTN"/>
                            <element name="X103_SEND_NO_20"/>
                            <element name="X103_SETT_AMT_32A"/>
                            <element name="X103_SETT_CCY_32A"/>
                            <element name="X103_TAG_50A"/>
                            <element name="X103_TAG_59A"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_B3_SERVICE_CODE"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_TIME_INDI_13C"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                            <element name="X205_B3_SERVICE_CODE"/>
                            <element name="XN91_ORDBKACNO_52A"/>
                            <element name="XN91_ORDBKADD1_52A"/>
                            <element name="XN91_ORDBKADD2_52A"/>
                            <element name="XN91_ORDBKADD3_52A"/>
                            <element name="XN91_ORD_BKID_52A"/>
                            <element name="XN91_ORD_BKNM_52A"/>
                            <element name="XN91_ORD_BKSW_52A"/>
                            <element name="XN91_RELATEDNO_21"/>
                            <element name="XN91_SEND_NO_20"/>
                            <element name="XN91_TAG_52A"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
