EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_Inq_Group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="LM_ACNT_ID"/>
                <element name="LM_ALLW_LMT"/>
                <element name="LM_ALLW_OVER"/>
                <element name="LM_BASE_CCY"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_CRRED"/>
                <element name="LM_CRT_DAY"/>
                <element name="LM_DUE_DAY"/>
                <element name="LM_DUUE"/>
                <element name="LM_GRUP_DES"/>
                <element name="LM_GRUP_ID"/>
                <element name="LM_GRUP_TYPE"/>
                <element name="LM_GTYPE"/>
                <element name="LM_INDU_ID"/>
                <element name="LM_PARENT_ID"/>
                <element name="LM_STATUS"/>
                <element name="LM_STR_DAY"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
                <element name="radioButton"/>
            </sequence>
        </complexType>
    </element>
</schema>
