EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FFIT_Settlement2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACPT_AMT"/>
                            <element name="ACPT_BK_ID"/>
                            <element name="ACPT_BK_NM"/>
                            <element name="ACPT_CCY"/>
                            <element name="ACTUAL_INT_BUY"/>
                            <element name="APPL_COMM"/>
                            <element name="BAL_DRAFT"/>
                            <element name="BA_ADOC_NO"/>
                            <element name="BA_TRX_NO"/>
                            <element name="BK_EQ_AMT"/>
                            <element name="BOOKING_RT"/>
                            <element name="BOOKING_USRT"/>
                            <element name="BRANCH_REMARK_ORG"/>
                            <element name="BUYING_CLOSE_RT"/>
                            <element name="BUYING_CLOSE_USRT"/>
                            <element name="BUYING_CUST_RT"/>
                            <element name="BUYING_CUST_USRT"/>
                            <element name="BUYING_FAV_RT"/>
                            <element name="BUYING_RT"/>
                            <element name="BUYING_USRT"/>
                            <element name="BUY_BK_ADD"/>
                            <element name="BUY_BK_NM1"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLAIM_AMT"/>
                            <element name="CLAIM_BAL"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="COMMON_PRDT_CODE"/>
                            <element name="COUNTER_CNTY_CODE"/>
                            <element name="COVER_AC_NO_CR"/>
                            <element name="COVER_AC_NO_DR"/>
                            <element name="COVER_AMT_CR"/>
                            <element name="COVER_AMT_DR"/>
                            <element name="COVER_BGL_ACNO"/>
                            <element name="COVER_BR_ID"/>
                            <element name="COVER_BR_ID2"/>
                            <element name="COVER_CCY_CR"/>
                            <element name="COVER_CCY_DR"/>
                            <element name="COVER_CRAC_BUSI_TYPE"/>
                            <element name="COVER_DRAC_BUSI_TYPE"/>
                            <element name="CR_8114_ST_ACNO"/>
                            <element name="CR_8114_ST_DT"/>
                            <element name="CR_ACNO"/>
                            <element name="CR_AC_NO"/>
                            <element name="CR_AMT"/>
                            <element name="CR_LONG_FLG"/>
                            <element name="CR_VALUE_DT"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DEBT_INSMT_NO"/>
                            <element name="DEBT_INSMT_TYPE"/>
                            <element name="DECLARE_NO_ST"/>
                            <element name="DRAFT_AMT"/>
                            <element name="EVENT_TYPE__DESC__"/>
                            <element name="EVENT_TYPE"/>
                            <element name="EXPT_ID"/>
                            <element name="EXPT_NM"/>
                            <element name="EXPT_NM_C"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FFIT_REMARK"/>
                            <element name="FFT_CHG_FLG"/>
                            <element name="FFT_TYPE"/>
                            <element name="FINC_AC_NO"/>
                            <element name="FINC_AMT"/>
                            <element name="FINC_BAL"/>
                            <element name="FINC_BASIC_DAYS"/>
                            <element name="FINC_CCY"/>
                            <element name="FINC_CPS_DT"/>
                            <element name="FINC_DAYS"/>
                            <element name="FINC_DT"/>
                            <element name="FINC_DUE_DT"/>
                            <element name="FINC_INT"/>
                            <element name="FINC_LAST_PMT_DT"/>
                            <element name="FINC_PAY_AMT"/>
                            <element name="FINC_PAY_DT"/>
                            <element name="FINC_RFD_INT"/>
                            <element name="FINC_RISK_LEVEL"/>
                            <element name="FINC_RT"/>
                            <element name="FINC_TYPE__DESC__"/>
                            <element name="FINC_TYPE"/>
                            <element name="FINC_TYPE_DESC"/>
                            <element name="FINC_UNIT_CODE"/>
                            <element name="FIVE_LEVEL_FLAG"/>
                            <element name="GET_DATA_FLG"/>
                            <element name="GL_BUSI_TYPE"/>
                            <element name="GRACE_DAYS_BUY"/>
                            <element name="GRACE_FLG"/>
                            <element name="GTS_BR_ID"/>
                            <element name="GTS_DISTRICT_CODE"/>
                            <element name="GTS_PRVN_ID"/>
                            <element name="IMPT_NM"/>
                            <element name="INT_MODE"/>
                            <element name="INT_MTHD"/>
                            <element name="INT_REVENUE_DUE"/>
                            <element name="INT_RT_BUY"/>
                            <element name="INV_NO"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LIBOR_RT"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LONG_AMT"/>
                            <element name="LONG_AMT_AC_NO"/>
                            <element name="MATURITY"/>
                            <element name="MRGN_CUST_AC_NO3_A"/>
                            <element name="MRGN_CUST_AC_NO3_S"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEW_REMARK"/>
                            <element name="OVS_CHG"/>
                            <element name="PRE_FINC_INT"/>
                            <element name="PRE_OVS_CHG"/>
                            <element name="PRE_OVS_CHG_AC_NO"/>
                            <element name="PRE_OVS_CHG_BUY"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REMAINING_LIFE"/>
                            <element name="REMARK_COLL"/>
                            <element name="SELLING_CLOSE_RT"/>
                            <element name="SELLING_CLOSE_USRT"/>
                            <element name="SELLING_CUST_RT"/>
                            <element name="SELLING_CUST_USRT"/>
                            <element name="SELLING_FAV_RT"/>
                            <element name="SELLING_RT"/>
                            <element name="SELLING_USRT"/>
                            <element name="SETTLE_DT1"/>
                            <element name="SETTLE_DT2"/>
                            <element name="SETTLE_TIMES"/>
                            <element name="SHORT_AMT"/>
                            <element name="SHORT_REASON"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="ST_8114_AMT"/>
                            <element name="ST_8114_BAL"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO10"/>
                            <element name="TEMP_AC_NO11"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_NO6"/>
                            <element name="TEMP_AC_NO7"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_AMT"/>
                            <element name="TEMP_AMT1"/>
                            <element name="TEMP_AMT10"/>
                            <element name="TEMP_AMT11"/>
                            <element name="TEMP_AMT12"/>
                            <element name="TEMP_AMT13"/>
                            <element name="TEMP_AMT14"/>
                            <element name="TEMP_AMT15"/>
                            <element name="TEMP_AMT18"/>
                            <element name="TEMP_AMT19"/>
                            <element name="TEMP_AMT2"/>
                            <element name="TEMP_AMT20"/>
                            <element name="TEMP_AMT21"/>
                            <element name="TEMP_AMT3"/>
                            <element name="TEMP_AMT30"/>
                            <element name="TEMP_AMT31"/>
                            <element name="TEMP_AMT32"/>
                            <element name="TEMP_AMT33"/>
                            <element name="TEMP_AMT34"/>
                            <element name="TEMP_AMT35"/>
                            <element name="TEMP_AMT38"/>
                            <element name="TEMP_AMT39"/>
                            <element name="TEMP_AMT4"/>
                            <element name="TEMP_AMT5"/>
                            <element name="TEMP_AMT54"/>
                            <element name="TEMP_AMT59"/>
                            <element name="TEMP_AMT6"/>
                            <element name="TEMP_AMT7"/>
                            <element name="TEMP_AMT8"/>
                            <element name="TEMP_AMT9"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_CHAR10"/>
                            <element name="TEMP_CHAR11"/>
                            <element name="TEMP_CHAR18"/>
                            <element name="TEMP_CHAR19"/>
                            <element name="TEMP_CHAR2"/>
                            <element name="TEMP_CHAR3"/>
                            <element name="TEMP_CHAR37"/>
                            <element name="TEMP_CHAR38"/>
                            <element name="TEMP_CHAR39"/>
                            <element name="TEMP_CHAR5"/>
                            <element name="TEMP_CHAR6"/>
                            <element name="TEMP_CHAR7"/>
                            <element name="TEMP_CHAR8"/>
                            <element name="TEMP_CHAR9"/>
                            <element name="TEMP_DATE1"/>
                            <element name="TEMP_DATE2"/>
                            <element name="TEMP_DATE3"/>
                            <element name="TEMP_DATE4"/>
                            <element name="TEMP_DATE5"/>
                            <element name="TEMP_FLG1__DESC__"/>
                            <element name="TEMP_FLG1"/>
                            <element name="TEMP_FLG2"/>
                            <element name="TEMP_FLG3"/>
                            <element name="TEMP_FLG4"/>
                            <element name="TEMP_FLG5"/>
                            <element name="TEMP_FLG6"/>
                            <element name="TEMP_FLG7"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_NM2"/>
                            <element name="TEMP_NM3"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TRANS_DATE_ID"/>
                            <element name="TRF_AMT"/>
                            <element name="TRF_CUAZHANG_AMT"/>
                            <element name="TRF_DT"/>
                            <element name="TRF_GUAZHANG_AC_NO"/>
                            <element name="TRF_LONG_FLG"/>
                            <element name="TRF_PRICE"/>
                            <element name="TRF_SHORT_FLG"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TRX_NO"/>
                            <element name="TTL_CABLE_APDE"/>
                            <element name="TTL_CABLE_BEDR"/>
                            <element name="TTL_COMM_APDE"/>
                            <element name="VENT_CUST_AC_NO1"/>
                            <element name="VENT_CUST_AC_NO1_S"/>
                            <element name="VENT_CUST_AC_NO2"/>
                            <element name="VENT_TEMP_NO2_S"/>
                            <element name="VIP_LEVEL"/>
                            <element name="WEB_REF"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202MEDIBKADD1_56A"/>
                            <element name="X202MEDIBKADD2_56A"/>
                            <element name="X202MEDIBKADD3_56A"/>
                            <element name="X202RECCORRACNO54A"/>
                            <element name="X202SENDCORACNO53A"/>
                            <element name="X202SENDCORADD153A"/>
                            <element name="X202SENDCORADD253A"/>
                            <element name="X202SENDCORADD353A"/>
                            <element name="X202_52_ADD_BTN"/>
                            <element name="X202_52_BTN"/>
                            <element name="X202_52_NOTES"/>
                            <element name="X202_52_ORDER_NO"/>
                            <element name="X202_53_ADD_BTN"/>
                            <element name="X202_53_BTN"/>
                            <element name="X202_53_NOTES"/>
                            <element name="X202_53_ORDER_NO"/>
                            <element name="X202_54_ADD_BTN"/>
                            <element name="X202_54_BTN"/>
                            <element name="X202_54_NOTES"/>
                            <element name="X202_54_ORDER_NO"/>
                            <element name="X202_56_ADD_BTN"/>
                            <element name="X202_56_BTN"/>
                            <element name="X202_56_NOTES"/>
                            <element name="X202_56_ORDER_NO"/>
                            <element name="X202_57_ADD_BTN"/>
                            <element name="X202_57_BTN"/>
                            <element name="X202_57_NOTES"/>
                            <element name="X202_57_ORDER_NO"/>
                            <element name="X202_58_ADD_BTN"/>
                            <element name="X202_58_BTN"/>
                            <element name="X202_58_NOTES"/>
                            <element name="X202_58_ORDER_NO"/>
                            <element name="X202_ACCBKADD1_57A"/>
                            <element name="X202_ACCBKADD2_57A"/>
                            <element name="X202_ACCBKADD3_57A"/>
                            <element name="X202_ACC_BKACNO57A"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ACC_BKSW_57A"/>
                            <element name="X202_ADV_BKADD1_B2"/>
                            <element name="X202_ADV_BKADD2_B2"/>
                            <element name="X202_ADV_BKADD3_B2"/>
                            <element name="X202_ADV_BKID_B2"/>
                            <element name="X202_ADV_BKNM_B2"/>
                            <element name="X202_ADV_BKSW_B2"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_B2_ADD_BTN"/>
                            <element name="X202_B2_BTN"/>
                            <element name="X202_B2_NOTES"/>
                            <element name="X202_B2_ORDER_NO"/>
                            <element name="X202_BENEBKACNO58A"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_BENE_BKSW_58A"/>
                            <element name="X202_BKTOBK_INFO72"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_MEDIBKACNO56A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_MEDI_BKSW_56A"/>
                            <element name="X202_ORDBKACNO_52A"/>
                            <element name="X202_ORDBKADD1_52A"/>
                            <element name="X202_ORDBKADD2_52A"/>
                            <element name="X202_ORDBKADD3_52A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_ORDBK_SW_52A"/>
                            <element name="X202_RECCORADD154A"/>
                            <element name="X202_RECCORADD254A"/>
                            <element name="X202_RECCORADD354A"/>
                            <element name="X202_RECCORRID_54A"/>
                            <element name="X202_RECCORRNM_54A"/>
                            <element name="X202_RECCORRSW_54A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_SENDCORRID53A"/>
                            <element name="X202_SENDCORRNM53A"/>
                            <element name="X202_SENDCORRSW53A"/>
                            <element name="X202_TAG_52A"/>
                            <element name="X202_TAG_53A"/>
                            <element name="X202_TAG_54A"/>
                            <element name="X202_TAG_56A"/>
                            <element name="X202_TAG_57A"/>
                            <element name="X202_TAG_58A"/>
                            <element name="X202_TAG_B2"/>
                            <element name="X202_TIME_INDI_13C"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
