EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_SetDDRate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DDRate">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FA_DD_D_FROM"/>
                            <element name="FA_DD_D_TO"/>
                            <element name="FA_DD_RATE"/>
                            <element name="FA_DD_RT_ID"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_AGM_CCY"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_ANCHOR_ADD_ML"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_DD_RT_ST"/>
                <element name="FA_DD_RT_TP__DESC__"/>
                <element name="FA_DD_RT_TP"/>
                <element name="FA_REMARK"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="F_seller"/>
                <element name="MSG_TYPE"/>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_FA_BUYER_ID"/>
                <element name="TEMP_FA_BUYER_NM"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
