EE_PARA/EE_PARA/Default/FORM/form_schema_FIN_Party_OrganisationId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FIN_BEI"/>
<element name="FIN_BK_PTY_ID"/>
<element name="FIN_DUNS"/>
<element name="FIN_EANGLN"/>
<element name="FIN_IBEI"/>
<element name="FIN_ORG_BIC"/>
<element name="FIN_ORG_ISSR"/>
<element name="FIN_PRTRY_ID"/>
<element name="FIN_TAX_ID_NB"/>
<element name="FIN_USCHU"/>
</sequence>
</complexType>
</element>
</schema>
