EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_InsrncDataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="TSU_ASSR_BIC"/>
<element name="TSU_ASSR_CNTY__DESC__"/>
<element name="TSU_ASSR_CNTY"/>
<element name="TSU_ASSR_CNTY_SUB"/>
<element name="TSU_ASSR_ID"/>
<element name="TSU_ASSR_ID_TP"/>
<element name="TSU_ASSR_NM"/>
<element name="TSU_ASSR_POST_CD"/>
<element name="TSU_ASSR_STREET"/>
<element name="TSU_ASSR_TOWN"/>
<element name="TSU_CCY"/>
<element name="TSU_CLMS_CNTY__DESC__"/>
<element name="TSU_CLMS_CNTY"/>
<element name="TSU_CLMS_CNTY_SUB"/>
<element name="TSU_CLMS_POST_CD"/>
<element name="TSU_CLMS_PYBL_IN"/>
<element name="TSU_CLMS_STREET"/>
<element name="TSU_CLMS_TOWN"/>
<element name="TSU_DS_ID"/>
<element name="TSU_DS_VRSN"/>
<element name="TSU_EFFCTV_DT"/>
<element name="TSU_INSRD_AMT"/>
<element name="TSU_INSRD_GOODS"/>
<element name="TSU_INSRNC_DOC_REF"/>
<element name="TSU_ISSR_CNTY__DESC__"/>
<element name="TSU_ISSR_CNTY"/>
<element name="TSU_ISSR_CNTY_SUB"/>
<element name="TSU_ISSR_ID"/>
<element name="TSU_ISSR_ID_TP"/>
<element name="TSU_ISSR_NM"/>
<element name="TSU_ISSR_POST_CD"/>
<element name="TSU_ISSR_STREET"/>
<element name="TSU_ISSR_TOWN"/>
<element name="TSU_ISS_CNTY__DESC__"/>
<element name="TSU_ISS_CNTY"/>
<element name="TSU_ISS_CNTY_SUB"/>
<element name="TSU_ISS_DT"/>
<element name="TSU_ISS_POST_CD"/>
<element name="TSU_ISS_STREET"/>
<element name="TSU_ISS_TOWN"/>
<element name="TSU_SUBMITR_BIC"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
