EE_PARA/EE_PARA/Default/FORM/form_schema_PMAT_BuyerPaymentInvoiceLib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AI_ACT_AMT"/>
<element name="AI_AMT_PAID"/>
<element name="AI_BALANCE"/>
<element name="AI_DUE_DT"/>
<element name="AI_NUM"/>
<element name="AI_PMT_DT"/>
<element name="AI_SET_DT"/>
<element name="AI_STAT_BUYR_CD__DESC__"/>
<element name="AI_STAT_BUYR_CD"/>
<element name="AI_STAT_STAFF_CD__DESC__"/>
<element name="AI_STAT_STAFF_CD"/>
<element name="AI_STAT_SUPLR_CD__DESC__"/>
<element name="AI_STAT_SUPLR_CD"/>
<element name="AMT_TO_SELT"/>
<element name="C_MAIN_REF"/>
<element name="EPP_ID"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP_AMT10"/>
<element name="FA_TEMP_AMT13"/>
<element name="FA_TEMP_AMT19"/>
<element name="LM_CSL_ID"/>
<element name="LM_FACI_ID"/>
<element name="LM_RSV_LINK"/>
<element name="OVD_INT_AMT"/>
<element name="PYMT_BUYR_AMT"/>
<element name="PYMT_FEE_AMT"/>
<element name="PYMT_INT_AMT"/>
<element name="SUPLR_ID"/>
<element name="SUPLR_NM"/>
</sequence>
</complexType>
</element>
</schema>
