EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_FinancingReturnLib_PO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_STL_AMT"/>
<element name="FA_BA_FLG__DESC__"/>
<element name="FA_BA_FLG"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_DOC_CCY"/>
<element name="FA_FIN_LOAN_AMT"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="FA_LOAN_INT_AMT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_LOAN_VAL_DT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_PAID_INT_AMT"/>
<element name="FA_PAID_PRIN_AMT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_REF"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_SUM_PERCENT"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP7"/>
<element name="FA_TEMP_AMT10"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT7"/>
<element name="FA_TEMP_AMT8"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_TEMP_DT2"/>
<element name="FA_TEMP_PO_INT_AMT"/>
<element name="FA_TRF_FX_RT"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_Y_REFUND_INT"/>
<element name="PO_AMT"/>
<element name="PO_BAL"/>
<element name="PO_CCY"/>
<element name="PO_DT"/>
<element name="PO_LOAN_BAL"/>
<element name="PO_LOAN_ID"/>
<element name="PO_NO"/>
<element name="PO_REF"/>
<element name="PO_REFUND_INT"/>
<element name="PO_STATUS"/>
<element name="TEMP_AMT18"/>
<element name="TEMP_LAST_PINT_DT"/>
<element name="TEMP_LOAN_ID"/>
<element name="TRX_DT"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BK_BPO_FLG__DESC__"/>
<element name="TSU_BK_BPO_FLG"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="TTL_OBLIG_AMT"/>
<element name="T_SYS_OP_TIME"/>
</sequence>
</complexType>
</element>
</schema>
