EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TeamPortfolioDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BUSI_UNIT"/>
<element name="C_MAIN_REF"/>
<element name="DO_INDEX_NO"/>
<element name="PORTFL_CD__DESC__"/>
<element name="PORTFL_CD"/>
<element name="PORTFL_DESC"/>
<element name="PROD_CD"/>
<element name="TEAM_ID"/>
<element name="TEAM_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
