EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IPLC_SettleLoan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APPLY_FLG__DESC__"/>
                            <element name="APPLY_FLG"/>
                            <element name="ASSET_ACNO"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DRAWING_REF"/>
                            <element name="EXCH_RATE"/>
                            <element name="EXPIRY_DT"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="ISSUE_DT"/>
                            <element name="LCY"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_CCY"/>
                            <element name="LC_REFINANCE_BASE_DAYS"/>
                            <element name="LC_REFINANCE_BORROWER_ID"/>
                            <element name="LC_REFINANCE_CCY_CODE"/>
                            <element name="LC_REFINANCE_CCY_DEC"/>
                            <element name="LC_REFINANCE_CREATE_DATE"/>
                            <element name="LC_REFINANCE_C_REF_NO"/>
                            <element name="LC_REFINANCE_DATE"/>
                            <element name="LC_REFINANCE_DUE_DATE"/>
                            <element name="LC_REFINANCE_FIX_BAS_RATE"/>
                            <element name="LC_REFINANCE_FIX_SPR_RATE"/>
                            <element name="LC_REFINANCE_INT_CHG_TYPE__DESC__"/>
                            <element name="LC_REFINANCE_INT_CHG_TYPE"/>
                            <element name="LC_REFINANCE_INT_RATE"/>
                            <element name="LC_REFINANCE_TRX_AMT"/>
                            <element name="LC_REFINANCE_TRX_VALDATE"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MAIL_METHOD_1ND"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEG_TOL"/>
                            <element name="PAYMENT_MTHD_VALUE__DESC__"/>
                            <element name="PAYMENT_MTHD_VALUE"/>
                            <element name="PMT_FLG__DESC__"/>
                            <element name="PMT_FLG"/>
                            <element name="POS_TOL"/>
                            <element name="PRES_BAL"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="SEPARATE_CHG_FLG"/>
                            <element name="STL_AMT"/>
                            <element name="STL_FLG__DESC__"/>
                            <element name="STL_FLG"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_ASSET_ACNO"/>
                            <element name="TEMP_BENE_ID"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_LC_BAL"/>
                            <element name="TEMP_LIAB_ACNO"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_PENDING_PRES_BAL"/>
                            <element name="TEMP_VOUCHER_FLG"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="WEB_REF"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
