EE_PARA/EE_PARA/Default/FORM/form_schema_SYS_ViewSLAMailLogDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_FUNC_DESC"/>
<element name="C_LOG_ID"/>
<element name="C_MAIL_CONTENT"/>
<element name="C_MAIL_FROM"/>
<element name="C_MAIL_TO"/>
<element name="C_MAIN_REF"/>
<element name="C_MODULE"/>
<element name="C_STEP_NAME"/>
<element name="C_SUBJECT"/>
<element name="D_MAIL_SEND_DATE"/>
<element name="mailContentDiv"/>
</sequence>
</complexType>
</element>
</schema>
