EE_PARA/EE_PARA/Default/FORM/form_schema_SYS_ViewUploadFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_CLAUSE_ID"/>
<element name="C_CREATED_BU"/>
<element name="C_CREATED_BY"/>
<element name="C_FAIL_REASON"/>
<element name="C_FILE_FROM"/>
<element name="C_FILE_NAME"/>
<element name="C_TRX_STATUS"/>
<element name="D_CREA_DATE"/>
</sequence>
</complexType>
</element>
</schema>
