EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EPLC_LiabilityReduction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACPT_BY__DESC__"/>
                            <element name="ACPT_BY"/>
                            <element name="AC_BK_NOTES"/>
                            <element name="AC_WT_BK_AC_NO"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_CORR_MED__DESC__"/>
                            <element name="AC_WT_BK_CORR_MED"/>
                            <element name="AC_WT_BK_ID"/>
                            <element name="AC_WT_BK_ID_BTN"/>
                            <element name="AC_WT_BK_LOCATION"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_PARTY_ID"/>
                            <element name="AC_WT_BK_SW_ADD"/>
                            <element name="AC_WT_BK_SW_TAG"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="ADV_LC_BY__DESC__"/>
                            <element name="ADV_LC_BY"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_PARTY_ID"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD_BTN"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="ASSET_ACNO"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_MAIL_ADD"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_OPT__DESC__"/>
                            <element name="AVAL_WT_BK_OPT"/>
                            <element name="AVAL_WT_BK_ORDER_NO"/>
                            <element name="AVAL_WT_BK_ORDER_POST"/>
                            <element name="AVAL_WT_BK_POST_ADD_BTN"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ADD_BTN"/>
                            <element name="BENE_BR_CD"/>
                            <element name="BENE_BR_CODE"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_ORDER_NO"/>
                            <element name="BENE_ORDER_POST"/>
                            <element name="BENE_OUR_NO"/>
                            <element name="BENE_PARTY_NO"/>
                            <element name="BENE_POST_ADD_BTN"/>
                            <element name="BENE_REF_NO"/>
                            <element name="BENE_TLX"/>
                            <element name="BOOKING_RT"/>
                            <element name="BU_BANKGIRO_NO"/>
                            <element name="BU_EMAIL_ADD"/>
                            <element name="BU_FAX_NO"/>
                            <element name="BU_NAME"/>
                            <element name="BU_POST_ADD"/>
                            <element name="BU_SWIFT_ADD"/>
                            <element name="BU_TEL_NO"/>
                            <element name="BU_VISIT_ADD"/>
                            <element name="CHECK_LMTS_BTN"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_BAL"/>
                            <element name="CONF_BAL_TEMP"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DEF_PMT_DET"/>
                            <element name="DRAFTS_AT"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ADD_BTN"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_ID_BTN"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_NOTES"/>
                            <element name="DRWE_ORDER_NO"/>
                            <element name="DRWE_PARTY_ID"/>
                            <element name="DRWE_SW_ADD"/>
                            <element name="DRWE_SW_TAG"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FORM_OF_LC_40B__DESC__"/>
                            <element name="FORM_OF_LC_40B"/>
                            <element name="HED_REF"/>
                            <element name="INDIVID_DRAW_FLG__DESC__"/>
                            <element name="INDIVID_DRAW_FLG"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_MAIL_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_ORDER_POST"/>
                            <element name="ISSUE_BK_OUR_NO"/>
                            <element name="ISSUE_BK_PARTY_NO"/>
                            <element name="ISSUE_BK_POST_ADD_BTN"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LC_AMT"/>
                            <element name="LC_AMT_LOCAL"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_LOCAL"/>
                            <element name="LC_CCY"/>
                            <element name="LC_CCY_LOCAL"/>
                            <element name="LC_NO"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LIA_BOOK_RATE"/>
                            <element name="LIA_BUY_RATE"/>
                            <element name="LMT_CNTY"/>
                            <element name="LMT_CSL_DESC_B"/>
                            <element name="LMT_CSL_DESC_C"/>
                            <element name="LMT_FACI_TP_B"/>
                            <element name="LMT_FACI_TP_C"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MESG_TYPE__DESC__"/>
                            <element name="MESG_TYPE"/>
                            <element name="MIX_PMT_DETL"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEG_TOL"/>
                            <element name="NEW_AVAL_BY__DESC__"/>
                            <element name="NEW_AVAL_BY"/>
                            <element name="NEW_AVAL_WT_BK_ADD1"/>
                            <element name="NEW_AVAL_WT_BK_ADD2"/>
                            <element name="NEW_AVAL_WT_BK_ADD3"/>
                            <element name="NEW_AVAL_WT_BK_ADD_BTN"/>
                            <element name="NEW_AVAL_WT_BK_ID"/>
                            <element name="NEW_AVAL_WT_BK_NM"/>
                            <element name="NEW_AVAL_WT_BK_NOTES"/>
                            <element name="NEW_AVAL_WT_BK_ORDER_NO"/>
                            <element name="NEW_AVAL_WT_BK_SW_ADD"/>
                            <element name="NEW_AVAL_WT_BK_SW_TAG"/>
                            <element name="NEW_AVLBL_BK_ID_BTN"/>
                            <element name="NEW_DEF_PMT_DET"/>
                            <element name="NEW_DRAFTS_AT"/>
                            <element name="NEW_DRWE_ADD1"/>
                            <element name="NEW_DRWE_ADD2"/>
                            <element name="NEW_DRWE_ADD3"/>
                            <element name="NEW_DRWE_ADD_BTN"/>
                            <element name="NEW_DRWE_ID"/>
                            <element name="NEW_DRWE_ID_BTN"/>
                            <element name="NEW_DRWE_NM"/>
                            <element name="NEW_DRWE_NOTES"/>
                            <element name="NEW_DRWE_ORDER_NO"/>
                            <element name="NEW_DRWE_SW_ADD"/>
                            <element name="NEW_DRWE_SW_TAG"/>
                            <element name="NEW_MIX_PMT_DETL"/>
                            <element name="NEW_RISK_AMT"/>
                            <element name="NEW_TENOR_DAYS"/>
                            <element name="NEW_TENOR_TYPE__DESC__"/>
                            <element name="NEW_TENOR_TYPE"/>
                            <element name="NEW_TENOR_TYPE_NARR"/>
                            <element name="NOTES"/>
                            <element name="OUR_ENG__DESC__"/>
                            <element name="OUR_ENG"/>
                            <element name="OUR_ROLE__DESC__"/>
                            <element name="OUR_ROLE"/>
                            <element name="PAY_AT__DESC__"/>
                            <element name="PAY_AT"/>
                            <element name="POS_TOL"/>
                            <element name="PRT_EVENT"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REV_LC__DESC__"/>
                            <element name="REV_LC"/>
                            <element name="R_ACCT_CR"/>
                            <element name="R_ACCT_CR_BTN"/>
                            <element name="R_ACCT_DR"/>
                            <element name="R_ACCT_DR_BTN"/>
                            <element name="R_ACCT_OWNR_DR_NM"/>
                            <element name="R_ACCT_OWNR_ID_CR"/>
                            <element name="R_ACCT_OWNR_ID_DR"/>
                            <element name="R_ACCT_OWNR_NM_CR"/>
                            <element name="R_ACCT_TYP_CR"/>
                            <element name="R_ACCT_TYP_DR"/>
                            <element name="R_ACPT_BY"/>
                            <element name="R_ACPT_COMM_PCT"/>
                            <element name="R_BANK_ID"/>
                            <element name="R_BK_CCY"/>
                            <element name="R_BK_CNTY"/>
                            <element name="R_BK_CNTY_RATING"/>
                            <element name="R_BK_LMT"/>
                            <element name="R_BK_LMT_LONG_AMT"/>
                            <element name="R_BK_LMT_LONG_UTIL"/>
                            <element name="R_BK_LMT_SHRT_AMT"/>
                            <element name="R_BK_NET_LONG_AMT"/>
                            <element name="R_BK_NET_LONG_UTIL"/>
                            <element name="R_BK_NET_SHRT_AMT"/>
                            <element name="R_BK_NET_SHRT_UTIL"/>
                            <element name="R_BK_RATING"/>
                            <element name="R_BK_SEC_UTIL_LONG"/>
                            <element name="R_BK_SEC_UTIL_SHRT"/>
                            <element name="R_BK_SHRT_UTIL"/>
                            <element name="R_BK_UTIL_AMT"/>
                            <element name="R_BK_VALID_TIL_DT"/>
                            <element name="R_CASH_COVER"/>
                            <element name="R_CNFRM_COMM_FOR"/>
                            <element name="R_CNFRM_COMM_PCT"/>
                            <element name="R_CNTRY_CCY"/>
                            <element name="R_CNTRY_LIMIT_AMT"/>
                            <element name="R_CNTRY_SHRT_UTIL"/>
                            <element name="R_CNTY_LMT_LONG_UTIL"/>
                            <element name="R_CNTY_LMT_SHRT_AMT"/>
                            <element name="R_CNTY_LONG_AMT"/>
                            <element name="R_CNTY_UTIL_AMT"/>
                            <element name="R_CNTY_VALID_TIL_DT"/>
                            <element name="R_COMM_TYPE"/>
                            <element name="R_COUNTRY"/>
                            <element name="R_DISC_REFINANCE"/>
                            <element name="R_EXP_TERM"/>
                            <element name="R_EXP_TYP"/>
                            <element name="R_FINANCE_MAT_DT"/>
                            <element name="R_FINANCE_REQ"/>
                            <element name="R_GRACE_DAYS"/>
                            <element name="R_GRACE_DAYS_TYP"/>
                            <element name="R_INFNT_FRAME_CD"/>
                            <element name="R_ISS_BK_RATING"/>
                            <element name="R_LMT_COMMENT"/>
                            <element name="R_NARRATIVE"/>
                            <element name="R_ORG_STRCTR_CD"/>
                            <element name="R_OUR_CUST_NO"/>
                            <element name="R_PARTY_CNTY"/>
                            <element name="R_PARTY_NM"/>
                            <element name="R_PARTY_REF"/>
                            <element name="R_PAY_AT"/>
                            <element name="R_PAY_IN"/>
                            <element name="R_RISK_AMT"/>
                            <element name="R_RISK_AMT_LMT"/>
                            <element name="R_RISK_BK_ID"/>
                            <element name="R_RISK_CCY"/>
                            <element name="R_RISK_LMT_CCY"/>
                            <element name="R_RISK_RT"/>
                            <element name="R_SECU_TYP"/>
                            <element name="R_SEC_LONG_AMT"/>
                            <element name="R_SEC_SHORT_AMT"/>
                            <element name="R_TRAN_EXP_DT"/>
                            <element name="SENDER_REF"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEMP_ACCCY"/>
                            <element name="TEMP_ACNO"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_ADJ_RISK_AMT"/>
                            <element name="TEMP_APPL_ID"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CORR_ATTCH"/>
                            <element name="TEMP_CORR_CRSPD"/>
                            <element name="TEMP_CORR_INSTR"/>
                            <element name="TEMP_CUST_ATTCH"/>
                            <element name="TEMP_CUST_CRSPD"/>
                            <element name="TEMP_CUST_INSTR"/>
                            <element name="TEMP_DOC_DT"/>
                            <element name="TEMP_FACI_TYP"/>
                            <element name="TEMP_NEW_RISK_AMT_LMT"/>
                            <element name="TEMP_OLD_RISK_AMT_LMT"/>
                            <element name="TEMP_TRX_CCY"/>
                            <element name="TEMP_USER_EMAIL"/>
                            <element name="TEMP_USER_FAX"/>
                            <element name="TEMP_USER_NM"/>
                            <element name="TEMP_USER_TEL_NO"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_TEMP"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TENOR_TYPE_NARR"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="WEB_REF"/>
                            <element name="button1"/>
                            <element name="button2"/>
                            <element name="button3"/>
                            <element name="button4"/>
                            <element name="button5"/>
                            <element name="button6"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
