EE_PARA/EE_PARA/Default/FORM/form_schema_Std_ExchangeRate_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_ADD_FLAG"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_EXCH_INT_TYPE"/>
                <element name="C_FROM_CCY"/>
                <element name="C_MD_FLAG"/>
                <element name="C_TO_CCY"/>
                <element name="D_LAST_MODIFY_DATE"/>
                <element name="F_TOLERANCE"/>
                <element name="I_BASE_UNITS"/>
                <element name="OP_TYPE"/>
                <element name="PRICE_DATE"/>
                <element name="_ARRAY_FIELD"/>
                <element name="_IS_EXCHRATE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
