EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_Inq_SubLimit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="LM_ACNT_ID"/>
                            <element name="LM_ALLW_LMT"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRED_LMTT"/>
                            <element name="LM_CRRED"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_CSL_DESC"/>
                            <element name="LM_CSL_ID"/>
                            <element name="LM_CUST_ID"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_DUUE"/>
                            <element name="LM_EDIT_REASN"/>
                            <element name="LM_HAS_FACI"/>
                            <element name="LM_IGNORE"/>
                            <element name="LM_INDU_ID"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_RCUST_ID"/>
                            <element name="LM_STATUS"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_STYPE"/>
                            <element name="LM_SUB_CCY"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
