EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_DI_Repurchase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMOUNT"/>
                <element name="APPL_CNTY_RES"/>
                <element name="AUDIT_CODE"/>
                <element name="AUDT_DESC"/>
                <element name="AUDT_FUNCTION"/>
                <element name="AUDT_INSERTED_TMSTAMP"/>
                <element name="AUDT_MAIN_REF"/>
                <element name="AUDT_OP_ID"/>
                <element name="AUDT_SUB_TYPE"/>
                <element name="AUDT_TRX_REF"/>
                <element name="AUDT_TYPE"/>
                <element name="BENE_CNTY_RES"/>
                <element name="BUSI_UNIT"/>
                <element name="CANCEL_FLG"/>
                <element name="CASH_CCY_IND"/>
                <element name="CASH_CNTY_DESC"/>
                <element name="CASH_SETT_AMT"/>
                <element name="CASH_SETT_CCY"/>
                <element name="CASH_TOT_AMT"/>
                <element name="CCY"/>
                <element name="CHEQ_NO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_SUSP_AC"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CHK_PAY_AMT"/>
                <element name="CHK_PAY_CCY"/>
                <element name="COUNTRY"/>
                <element name="CPYT_CR_BK_AC"/>
                <element name="CR_AMT"/>
                <element name="CR_CALC_AMT"/>
                <element name="CR_CCY"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_ID"/>
                <element name="CUST_REF"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MODULE"/>
                <element name="C_UNIT_CODE"/>
                <element name="CallBackReq"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DB_AMT"/>
                <element name="DB_CALC_AMT"/>
                <element name="DB_CCY"/>
                <element name="DRT_DEAL_IND"/>
                <element name="DUP_CHK"/>
                <element name="FDS_TO_CHK"/>
                <element name="FIELD_1_X"/>
                <element name="FIELD_6_X"/>
                <element name="FIELDs"/>
                <element name="FORM_CUST_ACNO"/>
                <element name="FORM_CUST_ADD1"/>
                <element name="FORM_CUST_ADD2"/>
                <element name="FORM_CUST_ADD3"/>
                <element name="FORM_CUST_NM"/>
                <element name="HELP_LINK_URL"/>
                <element name="INT_BKGROUPID"/>
                <element name="INT_CUST_ID"/>
                <element name="INT_C_MAIN_REF"/>
                <element name="INT_I_EVENT_TIMES"/>
                <element name="LOOK_UP_BTN1"/>
                <element name="MD_I"/>
                <element name="MLT_STLMT"/>
                <element name="NOTES"/>
                <element name="NUM_ACCTS"/>
                <element name="NXT_STATUS"/>
                <element name="OLDVALUES"/>
                <element name="OLDVALUES_ACC"/>
                <element name="OLDVALUES_COVERNO"/>
                <element name="OLDVALUES_OVR"/>
                <element name="ORD_CUS_DRT_DEAL_IND"/>
                <element name="Ord_Cust_lookup"/>
                <element name="PAY_AMT"/>
                <element name="PRIORITY"/>
                <element name="PRODREF"/>
                <element name="PaymentMultipleDebits">
                    <complexType>
                        <sequence>
                            <element name="CAP_AMT_IND"/>
                            <element name="COV_AMT"/>
                            <element name="COV_CCY"/>
                            <element name="COV_NO"/>
                            <element name="COV_VAL_DT"/>
                            <element name="CPYT_DR_AC"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CPYT_DR_NAME"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EXCH_RATE"/>
                            <element name="FORM_EXCH_RATE"/>
                            <element name="MD_I"/>
                            <element name="MUL_CASH_IND"/>
                            <element name="MUL_FDS_AVAL"/>
                            <element name="MUL_OVRIDE"/>
                            <element name="PAY_AMT"/>
                            <element name="PAY_CCY"/>
                            <element name="PUR_SAL_IND"/>
                            <element name="RELA_REF"/>
                            <element name="SETT_AMT"/>
                            <element name="SETT_CCY"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="RATE_NAME"/>
                <element name="RATE_TYPE"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="RELATED_REF_NO"/>
                <element name="REPUR_IND"/>
                <element name="REVERSAL_DT"/>
                <element name="REVE_AC_NO"/>
                <element name="REVE_AMT"/>
                <element name="REVE_IND"/>
                <element name="RPLCD_CHEQ_NO"/>
                <element name="SECOND_CHG_AMT"/>
                <element name="SEND_FLAG"/>
                <element name="SETT_ACC_AUDIT"/>
                <element name="SETT_ACC_AUDIT1"/>
                <element name="SETT_TYPE"/>
                <element name="SUSP_AC"/>
                <element name="TEMP_CASH_IND"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RESULT2"/>
                <element name="TRX_HISTORY"/>
                <element name="TRX_HISTORY_TEMP"/>
                <element name="VAT_IND1"/>
                <element name="X103BENECUADD1_59A"/>
                <element name="X103BENECUADD2_59A"/>
                <element name="X103BENECUADD3_59A"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUACNO_50F"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD1_50F"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD2_50F"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCUADD3_50F"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_ID_50A_B"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_NM_50F"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="lookup1"/>
            </sequence>
        </complexType>
    </element>
</schema>
