EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TADR_AmendTeamData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="LOCAL_TIME"/>
                            <element name="TEAM_ID"/>
                            <element name="TEAM_NM"/>
                            <element name="TEMP_CHK_DUP_INDEX"/>
                            <element name="TRX_DT"/>
                            <element name="TeamPortfolioDetails">
                                <complexType>
                                    <sequence>
                                        <element name="BUSI_UNIT"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DO_INDEX_NO"/>
                                        <element name="PORTFL_CD"/>
                                        <element name="PORTFL_DESC"/>
                                        <element name="PROD_CD"/>
                                        <element name="TEAM_ID"/>
                                        <element name="TEAM_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
