EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_LineItem017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSUR2_QTY_UNIT_CD__DESC__"/>
<element name="TSUR2_QTY_UNIT_CD"/>
<element name="TSUR2_UNTPRIC_CD__DESC__"/>
<element name="TSUR2_UNTPRIC_CD"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_FRGHT_TP__DESC__"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PDCTNM"/>
<element name="TSU_PDCTORGN__DESC__"/>
<element name="TSU_PDCTORGN"/>
<element name="TSU_PO_ID"/>
<element name="TSU_QTY_FCTR"/>
<element name="TSU_QTY_OTUNIT"/>
<element name="TSU_QTY_VAL"/>
<element name="TSU_TTL_AMT"/>
<element name="TSU_UNITPRIC_AMT"/>
<element name="TSU_UNITPRIC_FCTR"/>
<element name="TSU_UNTPRIC_OTUNIT"/>
</sequence>
</complexType>
</element>
</schema>
