EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_BkToBkNostroPmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMT"/>
                <element name="AUDIT_CODE"/>
                <element name="AUDT_DESC"/>
                <element name="AUDT_FUNCTION"/>
                <element name="AUDT_INSERTED_TMSTAMP"/>
                <element name="AUDT_MAIN_REF"/>
                <element name="AUDT_OP_ID"/>
                <element name="AUDT_SUB_TYPE"/>
                <element name="AUDT_TRX_REF"/>
                <element name="AUDT_TYPE"/>
                <element name="CCY"/>
                <element name="CHG"/>
                <element name="CHG2"/>
                <element name="CLOSE_TRX"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_MAIN_REF"/>
                <element name="C_TRX_REF"/>
                <element name="DUP_CHK"/>
                <element name="FIELD_1_X"/>
                <element name="FIELD_6_X"/>
                <element name="FIELDs"/>
                <element name="HELP_LINK_URL"/>
                <element name="INT_CUST_ID"/>
                <element name="MD_I"/>
                <element name="NOTES"/>
                <element name="OLDVALUES"/>
                <element name="OLDVALUES_ACC"/>
                <element name="OLDVALUES_COVERNO"/>
                <element name="OLDVALUES_OVR"/>
                <element name="PRODREF"/>
                <element name="PaymentProcessForClean">
                    <complexType>
                        <sequence>
                            <element name="CPYT_ASSGN_AC"/>
                            <element name="CPYT_ASSGN_ADD1"/>
                            <element name="CPYT_ASSGN_ADD2"/>
                            <element name="CPYT_ASSGN_ADD3"/>
                            <element name="CPYT_ASSGN_COR_MED"/>
                            <element name="CPYT_ASSGN_EMAIL_ADD"/>
                            <element name="CPYT_ASSGN_FAX_NO"/>
                            <element name="CPYT_ASSGN_ID"/>
                            <element name="CPYT_ASSGN_NM"/>
                            <element name="CPYT_CR_AC"/>
                            <element name="CPYT_CR_AC_TYPE"/>
                            <element name="CPYT_CR_AMT_CRCCY"/>
                            <element name="CPYT_CR_VAL_DATE"/>
                            <element name="CPYT_C_REF"/>
                            <element name="CPYT_C_SEND_103"/>
                            <element name="CPYT_C_SEND_200"/>
                            <element name="CPYT_C_SEND_202"/>
                            <element name="CPYT_C_SEND_205"/>
                            <element name="CPYT_DR_AC"/>
                            <element name="CPYT_DR_AC_PROC"/>
                            <element name="CPYT_DR_ADD1"/>
                            <element name="CPYT_DR_ADD2"/>
                            <element name="CPYT_DR_ADD3"/>
                            <element name="CPYT_DR_AMT_DRCCY"/>
                            <element name="CPYT_DR_BUY_RATE"/>
                            <element name="CPYT_DR_COR_MED__DESC__"/>
                            <element name="CPYT_DR_COR_MED"/>
                            <element name="CPYT_DR_EMAIL_ADD"/>
                            <element name="CPYT_DR_FAX_NO"/>
                            <element name="CPYT_DR_ID"/>
                            <element name="CPYT_DR_NAME"/>
                            <element name="CPYT_DR_VAL_DATE"/>
                            <element name="CPYT_I_SEQUENCE"/>
                            <element name="SwiftMT200">
                                <complexType>
                                    <sequence>
                                        <element name="X200MEDIBKADD1_56A"/>
                                        <element name="X200MEDIBKADD2_56A"/>
                                        <element name="X200MEDIBKADD3_56A"/>
                                        <element name="X200SENDCORACNO53A"/>
                                        <element name="X200SENDCORADD153A"/>
                                        <element name="X200SENDCORADD253A"/>
                                        <element name="X200SENDCORADD353A"/>
                                        <element name="X200SENDCORRMED53A__DESC__"/>
                                        <element name="X200SENDCORRMED53A"/>
                                        <element name="X200_ACCBKADD1_57A"/>
                                        <element name="X200_ACCBKADD2_57A"/>
                                        <element name="X200_ACCBKADD3_57A"/>
                                        <element name="X200_ACC_BKACNO57A"/>
                                        <element name="X200_ACC_BKID_57A"/>
                                        <element name="X200_ACC_BKMED57A__DESC__"/>
                                        <element name="X200_ACC_BKMED57A"/>
                                        <element name="X200_ACC_BKNM_57A"/>
                                        <element name="X200_ACC_BKSW_57A"/>
                                        <element name="X200_ADV_BKADD1_B2"/>
                                        <element name="X200_ADV_BKADD2_B2"/>
                                        <element name="X200_ADV_BKADD3_B2"/>
                                        <element name="X200_ADV_BKID_B2"/>
                                        <element name="X200_ADV_BKMED_B2__DESC__"/>
                                        <element name="X200_ADV_BKMED_B2"/>
                                        <element name="X200_ADV_BKNM_B2"/>
                                        <element name="X200_ADV_BKSW_B2"/>
                                        <element name="X200_AMT_32A"/>
                                        <element name="X200_BKTOBK_INFO72"/>
                                        <element name="X200_CCY_32A"/>
                                        <element name="X200_MEDIBKACNO56A"/>
                                        <element name="X200_MEDI_BKID_56A"/>
                                        <element name="X200_MEDI_BKMED56A__DESC__"/>
                                        <element name="X200_MEDI_BKMED56A"/>
                                        <element name="X200_MEDI_BKNM_56A"/>
                                        <element name="X200_MEDI_BKSW_56A"/>
                                        <element name="X200_SENDCORRID53A"/>
                                        <element name="X200_SENDCORRNM53A"/>
                                        <element name="X200_SENDCORRSW53A"/>
                                        <element name="X200_TAG_53A"/>
                                        <element name="X200_TAG_56A"/>
                                        <element name="X200_TAG_57A"/>
                                        <element name="X200_TRX_REF_NO_20"/>
                                        <element name="X200_VALUE_DT_32A"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="MT103ForClean">
                                <complexType>
                                    <sequence>
                                        <element name="X103BENECUADD1_59A"/>
                                        <element name="X103BENECUADD2_59A"/>
                                        <element name="X103BENECUADD3_59A"/>
                                        <element name="X103MEDIBKADD1_56A"/>
                                        <element name="X103MEDIBKADD2_56A"/>
                                        <element name="X103MEDIBKADD3_56A"/>
                                        <element name="X103RECCORRACNO54A"/>
                                        <element name="X103SENDBKADD1_51A"/>
                                        <element name="X103SENDBKADD2_51A"/>
                                        <element name="X103SENDBKADD3_51A"/>
                                        <element name="X103SENDCORACNO53A"/>
                                        <element name="X103SENDCORADD153A"/>
                                        <element name="X103SENDCORADD253A"/>
                                        <element name="X103SENDCORADD353A"/>
                                        <element name="X103SENDCORRMED53A__DESC__"/>
                                        <element name="X103SENDCORRMED53A"/>
                                        <element name="X103TRDREIMACNO55A"/>
                                        <element name="X103TRDREIMADD155A"/>
                                        <element name="X103TRDREIMADD255A"/>
                                        <element name="X103TRDREIMADD355A"/>
                                        <element name="X103_ORDCU_ID_50A"/>
                                        <element name="X103_ORDCU_NM_50A"/>
                                        <element name="X103_ORDCUADD1_50A"/>
                                        <element name="X103_ORDCUADD2_50A"/>
                                        <element name="X103_ORDCUADD3_50A"/>
                                        <element name="X103_ORDCU_SW_50A"/>
                                        <element name="X103_TAG_50A"/>
                                        <element name="X103_ORDCUACNO_50A"/>
                                        <element name="APPL_CNTY_RES"/>
                                        <element name="X103_BENECU_ID_59A"/>
                                        <element name="X103_BENECU_NM_59A"/>
                                        <element name="BENE_CNTY_RES"/>
                                        <element name="BENE_AC_TYPE__DESC__"/>
                                        <element name="BENE_AC_TYPE"/>
                                        <element name="X103_BENECUACNO59A"/>
                                        <element name="X103_ACC_BKID_57A"/>
                                        <element name="X103_ACC_BKNM_57A"/>
                                        <element name="X103_TAG_57A"/>
                                        <element name="X103_ACC_BKACNO57A"/>
                                        <element name="CPYT_DR_AC"/>
                                        <element name="X103_BK2BK_INF2_72"/>
                                        <element name="X103_BK2BK_INF3_72"/>
                                        <element name="X103_BK2BK_INF4_72"/>
                                        <element name="X103_BK2BK_INF6_72"/>
                                        <element name="CR_CALC_AMT"/>
                                        <element name="DB_CALC_AMT"/>
                                        <element name="PMT_TYPE__DESC__"/>
                                        <element name="PMT_TYPE"/>
                                        <element name="CHEQ_NO"/>
                                        <element name="X103_EXCH_RT_36"/>
                                        <element name="X103_VALUE_DT_32A"/>
                                        <element name="X103_DET_CHG_71A"/>
                                        <element name="X103_ACCBKADD1_57A"/>
                                        <element name="X103_ACCBKADD2_57A"/>
                                        <element name="X103_ACCBKADD3_57A"/>
                                        <element name="X103_ACC_BKMED57A__DESC__"/>
                                        <element name="X103_ACC_BKMED57A"/>
                                        <element name="X103_ACC_BKSW_57A"/>
                                        <element name="X103_ADV_BKADD1_B2"/>
                                        <element name="X103_ADV_BKADD2_B2"/>
                                        <element name="X103_ADV_BKADD3_B2"/>
                                        <element name="X103_ADV_BKID_B2"/>
                                        <element name="X103_ADV_BKMED_B2__DESC__"/>
                                        <element name="X103_ADV_BKMED_B2"/>
                                        <element name="X103_ADV_BKNM_B2"/>
                                        <element name="X103_ADV_BKSW_B2"/>
                                        <element name="X103_BENECUMED_59A__DESC__"/>
                                        <element name="X103_BENECUMED_59A"/>
                                        <element name="X103_BENECU_SW_59A"/>
                                        <element name="X103_BK2BK_INF1_72"/>
                                        <element name="X103_BK2BK_INF5_72"/>
                                        <element name="X103_BKOP_CODE_23B"/>
                                        <element name="X103_ENV_CONT_77T"/>
                                        <element name="X103_INSTRCODE_23E"/>
                                        <element name="X103_INSTR_AMT_33B"/>
                                        <element name="X103_INSTR_CCY_33B"/>
                                        <element name="X103_MEDIBKACNO56A"/>
                                        <element name="X103_MEDI_BKID_56A"/>
                                        <element name="X103_MEDI_BKMED56A__DESC__"/>
                                        <element name="X103_MEDI_BKMED56A"/>
                                        <element name="X103_MEDI_BKNM_56A"/>
                                        <element name="X103_MEDI_BKSW_56A"/>
                                        <element name="X103_ORDBKACNO_52A"/>
                                        <element name="X103_ORDBKADD1_52A"/>
                                        <element name="X103_ORDBKADD2_52A"/>
                                        <element name="X103_ORDBKADD3_52A"/>
                                        <element name="X103_ORDCU_MED_50A__DESC__"/>
                                        <element name="X103_ORDCU_MED_50A"/>
                                        <element name="X103_ORD_BKID_52A"/>
                                        <element name="X103_ORD_BKMED_52A__DESC__"/>
                                        <element name="X103_ORD_BKMED_52A"/>
                                        <element name="X103_ORD_BKNM_52A"/>
                                        <element name="X103_ORD_BKSW_52A"/>
                                        <element name="X103_RECCHGAMT_71G"/>
                                        <element name="X103_RECCHGCCY_71G"/>
                                        <element name="X103_RECCORADD154A"/>
                                        <element name="X103_RECCORADD254A"/>
                                        <element name="X103_RECCORADD354A"/>
                                        <element name="X103_RECCORRID_54A"/>
                                        <element name="X103_RECCORRMED54A__DESC__"/>
                                        <element name="X103_RECCORRMED54A"/>
                                        <element name="X103_RECCORRNM_54A"/>
                                        <element name="X103_RECCORRSW_54A"/>
                                        <element name="X103_REG_REP1_77B"/>
                                        <element name="X103_REG_REP2_77B"/>
                                        <element name="X103_REG_REP3_77B"/>
                                        <element name="X103_REG_REP_77B"/>
                                        <element name="X103_REMIT_INF1_70"/>
                                        <element name="X103_REMIT_INF2_70"/>
                                        <element name="X103_REMIT_INF3_70"/>
                                        <element name="X103_REMIT_INF4_70"/>
                                        <element name="X103_SENDBKACNO51A"/>
                                        <element name="X103_SENDBKMED_51A__DESC__"/>
                                        <element name="X103_SENDBKMED_51A"/>
                                        <element name="X103_SENDCHGAMT71F"/>
                                        <element name="X103_SENDCHGCCY71F"/>
                                        <element name="X103_SENDCORRID53A"/>
                                        <element name="X103_SENDCORRNM53A"/>
                                        <element name="X103_SENDCORRSW53A"/>
                                        <element name="X103_SEND_BKID_51A"/>
                                        <element name="X103_SEND_BKNM_51A"/>
                                        <element name="X103_SEND_BKSW_51A"/>
                                        <element name="X103_SEND_NO_20"/>
                                        <element name="X103_SETT_AMT_32A"/>
                                        <element name="X103_SETT_CCY_32A"/>
                                        <element name="X103_TAG_52A"/>
                                        <element name="X103_TAG_53A"/>
                                        <element name="X103_TAG_54A"/>
                                        <element name="X103_TAG_55A"/>
                                        <element name="X103_TAG_56A"/>
                                        <element name="X103_TAG_59A"/>
                                        <element name="X103_TIME_INDI_13C"/>
                                        <element name="X103_TRDREIMID_55A"/>
                                        <element name="X103_TRDREIMMED55A"/>
                                        <element name="X103_TRDREIMNM_55A"/>
                                        <element name="X103_TRDREIMSW_55A"/>
                                        <element name="X103_TRX_TYPCD_26T"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="MT202ForClean">
                                <complexType>
                                    <sequence>
                                        <element name="X202BENEBKADD1_58A"/>
                                        <element name="X202BENEBKADD2_58A"/>
                                        <element name="X202BENEBKADD3_58A"/>
                                        <element name="X202MEDIBKADD1_56A"/>
                                        <element name="X202MEDIBKADD2_56A"/>
                                        <element name="X202MEDIBKADD3_56A"/>
                                        <element name="X202RECCORRACNO54A"/>
                                        <element name="X202SENDCORACNO53A"/>
                                        <element name="X202SENDCORADD153A"/>
                                        <element name="X202SENDCORADD253A"/>
                                        <element name="X202SENDCORADD353A"/>
                                        <element name="X202SENDCORRMED53A__DESC__"/>
                                        <element name="X202SENDCORRMED53A"/>
                                        <element name="X202_ACCBKADD1_57A"/>
                                        <element name="X202_ACCBKADD2_57A"/>
                                        <element name="X202_ACCBKADD3_57A"/>
                                        <element name="X202_ACC_BKACNO57A"/>
                                        <element name="X202_ACC_BKID_57A"/>
                                        <element name="X202_ACC_BKMED57A__DESC__"/>
                                        <element name="X202_ACC_BKMED57A"/>
                                        <element name="X202_ACC_BKNM_57A"/>
                                        <element name="X202_ACC_BKSW_57A"/>
                                        <element name="X202_ADV_BKADD1_B2"/>
                                        <element name="X202_ADV_BKADD2_B2"/>
                                        <element name="X202_ADV_BKADD3_B2"/>
                                        <element name="X202_ADV_BKID_B2"/>
                                        <element name="X202_ADV_BKMED_B2__DESC__"/>
                                        <element name="X202_ADV_BKMED_B2"/>
                                        <element name="X202_ADV_BKNM_B2"/>
                                        <element name="X202_ADV_BKSW_B2"/>
                                        <element name="X202_AMT_32A"/>
                                        <element name="X202_BENEBKACNO58A"/>
                                        <element name="X202_BENEBKMED_58A__DESC__"/>
                                        <element name="X202_BENEBKMED_58A"/>
                                        <element name="X202_BENE_BKID_58A"/>
                                        <element name="X202_BENE_BKNM_58A"/>
                                        <element name="X202_BENE_BKSW_58A"/>
                                        <element name="X202_BKTOBK_INFO72"/>
                                        <element name="X202_CCY_32A"/>
                                        <element name="X202_MEDIBKACNO56A"/>
                                        <element name="X202_MEDI_BKID_56A"/>
                                        <element name="X202_MEDI_BKMED56A__DESC__"/>
                                        <element name="X202_MEDI_BKMED56A"/>
                                        <element name="X202_MEDI_BKNM_56A"/>
                                        <element name="X202_MEDI_BKSW_56A"/>
                                        <element name="X202_ORDBKACNO_52A"/>
                                        <element name="X202_ORDBKADD1_52A"/>
                                        <element name="X202_ORDBKADD2_52A"/>
                                        <element name="X202_ORDBKADD3_52A"/>
                                        <element name="X202_ORDBK_ID_52A"/>
                                        <element name="X202_ORDBK_MED_52A__DESC__"/>
                                        <element name="X202_ORDBK_MED_52A"/>
                                        <element name="X202_TAG_52A"/>
                                        <element name="X202_TAG_53A"/>
                                        <element name="X202_TAG_54A"/>
                                        <element name="X202_TAG_56A"/>
                                        <element name="X202_TAG_57A"/>
                                        <element name="X202_TAG_58A"/>
                                        <element name="X202_TIME_INDI_13C"/>
                                        <element name="X202_TRX_REF_NO_20"/>
                                        <element name="X202_VALUE_DT_32A"/>
                                        <element name="X202_BK2BK_INF1_72"/>
                                        <element name="X202_BK2BK_INF2_72"/>
                                        <element name="X202_BK2BK_INF3_72"/>
                                        <element name="X202_BK2BK_INF4_72"/>
                                        <element name="X202_BK2BK_INF5_72"/>
                                        <element name="X202_BK2BK_INF6_72"/>
                                        <element name="X202_ORDBK_NM_52A"/>
                                        <element name="X202_ORDBK_SW_52A"/>
                                        <element name="X202_RECCORADD154A"/>
                                        <element name="X202_RECCORADD254A"/>
                                        <element name="X202_RECCORADD354A"/>
                                        <element name="X202_RECCORRID_54A"/>
                                        <element name="X202_RECCORRMED54A__DESC__"/>
                                        <element name="X202_RECCORRMED54A"/>
                                        <element name="X202_RECCORRNM_54A"/>
                                        <element name="X202_RECCORRSW_54A"/>
                                        <element name="X202_RELATEDNO_21"/>
                                        <element name="X202_SENDCORRID53A"/>
                                        <element name="X202_SENDCORRNM53A"/>
                                        <element name="X202_SENDCORRSW53A"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="SwiftMT205">
                                <complexType>
                                    <sequence>
                                        <element name="X202BENEBKADD1_58A"/>
                                        <element name="X202BENEBKADD2_58A"/>
                                        <element name="X202BENEBKADD3_58A"/>
                                        <element name="X202MEDIBKADD1_56A"/>
                                        <element name="X202MEDIBKADD2_56A"/>
                                        <element name="X202MEDIBKADD3_56A"/>
                                        <element name="X202RECCORRACNO54A"/>
                                        <element name="X202SENDCORACNO53A"/>
                                        <element name="X202SENDCORADD153A"/>
                                        <element name="X202SENDCORADD253A"/>
                                        <element name="X202SENDCORADD353A"/>
                                        <element name="X202SENDCORRMED53A__DESC__"/>
                                        <element name="X202SENDCORRMED53A"/>
                                        <element name="X202_ACCBKADD2_57A"/>
                                        <element name="X202_ACCBKADD3_57A"/>
                                        <element name="X202_ACC_BKACNO57A"/>
                                        <element name="X202_ACC_BKID_57A"/>
                                        <element name="X202_ACC_BKMED57A__DESC__"/>
                                        <element name="X202_ACC_BKMED57A"/>
                                        <element name="X202_ACC_BKNM_57A"/>
                                        <element name="X202_ACC_BKSW_57A"/>
                                        <element name="X202_ADV_BKADD1_B2"/>
                                        <element name="X202_ADV_BKADD2_B2"/>
                                        <element name="X202_ADV_BKADD3_B2"/>
                                        <element name="X202_ADV_BKID_B2"/>
                                        <element name="X202_ADV_BKMED_B2__DESC__"/>
                                        <element name="X202_ADV_BKMED_B2"/>
                                        <element name="X202_ADV_BKNM_B2"/>
                                        <element name="X202_ADV_BKSW_B2"/>
                                        <element name="X202_AMT_32A"/>
                                        <element name="X202_BENEBKACNO58A"/>
                                        <element name="X202_BENEBKMED_58A__DESC__"/>
                                        <element name="X202_BENEBKMED_58A"/>
                                        <element name="X202_BENE_BKID_58A"/>
                                        <element name="X202_BENE_BKNM_58A"/>
                                        <element name="X202_BENE_BKSW_58A"/>
                                        <element name="X202_BK2BK_INF1_72"/>
                                        <element name="X202_BK2BK_INF2_72"/>
                                        <element name="X202_BK2BK_INF3_72"/>
                                        <element name="X202_BK2BK_INF4_72"/>
                                        <element name="X202_BK2BK_INF5_72"/>
                                        <element name="X202_BK2BK_INF6_72"/>
                                        <element name="X202_BKTOBK_INFO72"/>
                                        <element name="X202_CCY_32A"/>
                                        <element name="X202_MEDIBKACNO56A"/>
                                        <element name="X202_MEDI_BKID_56A"/>
                                        <element name="X202_MEDI_BKMED56A__DESC__"/>
                                        <element name="X202_MEDI_BKMED56A"/>
                                        <element name="X202_MEDI_BKNM_56A"/>
                                        <element name="X202_MEDI_BKSW_56A"/>
                                        <element name="X202_ORDBKACNO_52A"/>
                                        <element name="X202_ORDBKADD1_52A"/>
                                        <element name="X202_ORDBKADD2_52A"/>
                                        <element name="X202_ORDBKADD3_52A"/>
                                        <element name="X202_ORDBK_ID_52A"/>
                                        <element name="X202_ORDBK_MED_52A__DESC__"/>
                                        <element name="X202_ORDBK_MED_52A"/>
                                        <element name="X202_ORDBK_NM_52A"/>
                                        <element name="X202_ORDBK_SW_52A"/>
                                        <element name="X202_RECCORADD154A"/>
                                        <element name="X202_RECCORADD254A"/>
                                        <element name="X202_RECCORADD354A"/>
                                        <element name="X202_RECCORRID_54A"/>
                                        <element name="X202_RECCORRMED54A__DESC__"/>
                                        <element name="X202_RECCORRMED54A"/>
                                        <element name="X202_RECCORRNM_54A"/>
                                        <element name="X202_RECCORRSW_54A"/>
                                        <element name="X202_RELATEDNO_21"/>
                                        <element name="X202_SENDCORRID53A"/>
                                        <element name="X202_SENDCORRNM53A"/>
                                        <element name="X202_SENDCORRSW53A"/>
                                        <element name="X202_TAG_52A"/>
                                        <element name="X202_TAG_53A"/>
                                        <element name="X202_TAG_54A"/>
                                        <element name="X202_TAG_56A"/>
                                        <element name="X202_TAG_57A"/>
                                        <element name="X202_TAG_58A"/>
                                        <element name="X202_TIME_INDI_13C"/>
                                        <element name="X202_TRX_REF_NO_20"/>
                                        <element name="X202_VALUE_DT_32A"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="REVE_IND"/>
                <element name="SECOND_CHG_AMT"/>
                <element name="SETT_ACC_AUDIT"/>
                <element name="SETT_ACC_AUDIT1"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RESULT2"/>
                <element name="TRX_HISTORY"/>
                <element name="TRX_HISTORY_TEMP"/>
                <element name="VAT_IND1"/>
                <element name="X103_ORDCUACNO_50F"/>
                <element name="X103_ORDCUADD1_50F"/>
                <element name="X103_ORDCUADD2_50F"/>
                <element name="X103_ORDCUADD3_50F"/>
                <element name="X103_ORDCU_NM_50F"/>
            </sequence>
        </complexType>
    </element>
</schema>
