EE_PARA/EE_PARA/Default/FORM/form_schema_TSUM_ActivityReport_Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_OUR_BIC"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_SUB_B_BIC"/>
<element name="TSU_THEIR_BIC"/>
<element name="TSU_THEIR_REF"/>
<element name="TSU_TID"/>
</sequence>
</complexType>
</element>
</schema>
