EE_PARA/EE_PARA/Default/FORM/form_multi_schema_BPOM_Settlement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_MAIL_ADD"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="AI_DUE_DT"/>
                            <element name="BPO_SETT_FLG__DESC__"/>
                            <element name="BPO_SETT_FLG"/>
                            <element name="BUSI_STATUS"/>
                            <element name="BUYR_ADD1"/>
                            <element name="BUYR_ADD2"/>
                            <element name="BUYR_ADD3"/>
                            <element name="BUYR_CORR_MED__DESC__"/>
                            <element name="BUYR_CORR_MED"/>
                            <element name="BUYR_EMAIL"/>
                            <element name="BUYR_FAX"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_MAIL_ADD"/>
                            <element name="BUYR_NM"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_COLL_CCY"/>
                            <element name="CHG_COLL_CCY_DEF"/>
                            <element name="CHG_COLL_CCY_TRX"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT_DEF"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT_TRX"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR_DEF"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR_TRX"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_RUN_MODE"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_ADDED"/>
                            <element name="CONF_BAL"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_ID"/>
                            <element name="CONF_BK_ID_BTN"/>
                            <element name="CONF_BK_MAIL_ADD"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_BK_SW_TAG"/>
                            <element name="CONF_PCT"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChgDoDef">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BLANK"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMM_START_DATE"/>
                                        <element name="CHG_COMM_UPTO_DATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_FLD_HIDDEN_FLAG"/>
                                        <element name="CHG_FLD_ORIG_CALC_AMT"/>
                                        <element name="CHG_FLD_ORIG_CALC_CCY"/>
                                        <element name="CHG_FLD_OVERRIDE"/>
                                        <element name="CHG_ID"/>
                                        <element name="CHG_INDEX"/>
                                        <element name="CHG_IS_OVERRIDE"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_RATE_ID"/>
                                        <element name="CHG_RULE_AMT"/>
                                        <element name="CHG_RULE_CCY"/>
                                        <element name="CHG_RULE_ID"/>
                                        <element name="CHG_VAT_RATE"/>
                                        <element name="CHG_VAT_TYPE"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ChgDoTrx">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BLANK"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMM_START_DATE"/>
                                        <element name="CHG_COMM_UPTO_DATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_FLD_HIDDEN_FLAG"/>
                                        <element name="CHG_FLD_ORIG_CALC_AMT"/>
                                        <element name="CHG_FLD_ORIG_CALC_CCY"/>
                                        <element name="CHG_FLD_OVERRIDE"/>
                                        <element name="CHG_ID"/>
                                        <element name="CHG_INDEX"/>
                                        <element name="CHG_IS_OVERRIDE"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_RATE_ID"/>
                                        <element name="CHG_RULE_AMT"/>
                                        <element name="CHG_RULE_CCY"/>
                                        <element name="CHG_RULE_ID"/>
                                        <element name="CHG_VAT_RATE"/>
                                        <element name="CHG_VAT_TYPE"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FA_BPOINV_LOAN_ID"/>
                            <element name="FA_PAID_INT_SUM"/>
                            <element name="FA_SEL_AC_AMT"/>
                            <element name="FA_TEMP3"/>
                            <element name="FIN_FLG__DESC__"/>
                            <element name="FIN_FLG"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_MAIL_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="LCY"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LIAB_ACNO_OLD"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LOGIN_TIME"/>
                            <element name="MSG_TYPE"/>
                            <element name="MultiCreditSummary">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_MLDC_CCY"/>
                                        <element name="C_MLDC_DESC"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_PROTECT_FLAG"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="I_MLDC_MERGE_TYPE"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="N_MLDC_AMT"/>
                                        <element name="MultiCredit">
                                            <complexType>
                                                <sequence>
                                                    <element name="C_MAIN_REF"/>
                                                    <element name="C_TRX_REF"/>
                                                    <element name="C_UNIT_CODE"/>
                                                    <element name="I_EVENT_TIMES"/>
                                                    <element name="C_TRX_CCY"/>
                                                    <element name="I_MLDC_IDX"/>
                                                    <element name="C_MLDC_ANNGN_VAT_NO"/>
                                                    <element name="C_MLDC_ASSGN_AC"/>
                                                    <element name="C_MLDC_ASSGN_ADD1"/>
                                                    <element name="C_MLDC_ASSGN_ADD2"/>
                                                    <element name="C_MLDC_ASSGN_ADD3"/>
                                                    <element name="C_MLDC_ASSGN_COR_MED"/>
                                                    <element name="C_MLDC_ASSGN_EMAIL_ADD"/>
                                                    <element name="C_MLDC_ASSGN_FAX_NO"/>
                                                    <element name="C_MLDC_ASSGN_ID"/>
                                                    <element name="C_MLDC_ASSGN_NM"/>
                                                    <element name="C_MLDC_CR_AC"/>
                                                    <element name="C_MLDC_CR_AC_TYPE"/>
                                                    <element name="C_MLDC_CR_BK_AC"/>
                                                    <element name="C_MLDC_CR_BK_ADD1"/>
                                                    <element name="C_MLDC_CR_BK_ADD2"/>
                                                    <element name="C_MLDC_CR_BK_ADD3"/>
                                                    <element name="C_MLDC_CR_BK_COR_MED"/>
                                                    <element name="C_MLDC_CR_BK_ID"/>
                                                    <element name="C_MLDC_CR_BK_NAME"/>
                                                    <element name="C_MLDC_CR_BK_SW_ADD"/>
                                                    <element name="C_MLDC_CR_BK_SW_TAG"/>
                                                    <element name="C_MLDC_CR_BRANCH"/>
                                                    <element name="C_MLDC_CR_CCY"/>
                                                    <element name="C_MLDC_CR_DEAL"/>
                                                    <element name="F_MLDC_CR_RATE"/>
                                                    <element name="F_MLDC_DR_BUY_RATE"/>
                                                    <element name="D_MLDC_CR_VAL_DATE"/>
                                                    <element name="N_MLDC_CR_AMT_CRCCY"/>
                                                    <element name="N_MLDC_CR_AMT_TXCCY"/>
                                                    <element name="C_MLDC_NOSTRO_AC"/>
                                                    <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                                    <element name="C_MLDC_PAY_ADV_MSG"/>
                                                    <element name="C_MLDC_PAY_COV_MSG"/>
                                                    <element name="C_MLDC_SETTLE_METHOD"/>
                                                    <element name="C_MLDC_UNPAID_FLAG"/>
                                                    <element name="C_MLDC_VOSTRO_AC"/>
                                                    <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                                    <element name="I_MLDC_SEQ"/>
                                                    <element name="C_MLDC_CR_PER"/>
                                                    <element name="C_MLDC_FROM"/>
                                                    <element name="N_MLDC_CR_CHG_LCCCY"/>
                                                    <element name="N_MLDC_EXCH_FAVAMT"/>
                                                    <element name="C_MLDC_CCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="MultiDebitSummary">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_MLDC_CCY"/>
                                        <element name="C_MLDC_DESC"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_PROTECT_FLAG"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="I_MLDC_MERGE_TYPE"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="N_MLDC_AMT"/>
                                        <element name="MultiDebit">
                                            <complexType>
                                                <sequence>
                                                    <element name="C_MAIN_REF"/>
                                                    <element name="C_TRX_REF"/>
                                                    <element name="C_UNIT_CODE"/>
                                                    <element name="I_EVENT_TIMES"/>
                                                    <element name="C_TRX_CCY"/>
                                                    <element name="I_MLDC_IDX"/>
                                                    <element name="C_MLDC_DR_AC"/>
                                                    <element name="C_MLDC_DR_AC_TYPE"/>
                                                    <element name="C_MLDC_DR_ADD1"/>
                                                    <element name="C_MLDC_DR_ADD2"/>
                                                    <element name="C_MLDC_DR_ADD3"/>
                                                    <element name="C_MLDC_DR_BK_AC"/>
                                                    <element name="C_MLDC_DR_BK_ADD1"/>
                                                    <element name="C_MLDC_DR_BK_ADD2"/>
                                                    <element name="C_MLDC_DR_BK_ADD3"/>
                                                    <element name="C_MLDC_DR_BK_COR_MED"/>
                                                    <element name="C_MLDC_DR_BK_ID"/>
                                                    <element name="C_MLDC_DR_BK_NAME"/>
                                                    <element name="C_MLDC_DR_BK_SW_ADD"/>
                                                    <element name="C_MLDC_DR_BK_SW_TAG"/>
                                                    <element name="C_MLDC_DR_BRANCH"/>
                                                    <element name="C_MLDC_DR_CCY"/>
                                                    <element name="C_MLDC_DR_CHG_FLAG"/>
                                                    <element name="C_MLDC_DR_COR_MED"/>
                                                    <element name="C_MLDC_DR_DEAL"/>
                                                    <element name="C_MLDC_DR_EMAIL_ADD"/>
                                                    <element name="C_MLDC_DR_FAX_NO"/>
                                                    <element name="C_MLDC_DR_ID"/>
                                                    <element name="C_MLDC_DR_NAME"/>
                                                    <element name="C_MLDC_DR_VAT_NO"/>
                                                    <element name="D_MLDC_DR_VAL_DATE"/>
                                                    <element name="N_MLDC_DR_AMT_DRCCY"/>
                                                    <element name="N_MLDC_DR_AMT_TXCCY"/>
                                                    <element name="N_MLDC_DR_CHG_LCCCY"/>
                                                    <element name="F_MLDC_DR_BUY_RATE"/>
                                                    <element name="F_MLDC_DR_RATE"/>
                                                    <element name="N_MLDC_EXCH_FAVAMT"/>
                                                    <element name="C_MLDC_NOSTRO_AC"/>
                                                    <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                                    <element name="C_MLDC_PAY_DR_BY"/>
                                                    <element name="C_MLDC_UNPAID_FLAG"/>
                                                    <element name="C_MLDC_VOSTRO_AC"/>
                                                    <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                                    <element name="I_MLDC_SEQ"/>
                                                    <element name="C_MLDC_DR_PER"/>
                                                    <element name="C_MLDC_FROM"/>
                                                    <element name="C_MLDC_CCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="NOTES"/>
                            <element name="NXT_STATUS"/>
                            <element name="OUR_ENG__DESC__"/>
                            <element name="OUR_ENG"/>
                            <element name="PO_C_MAIN_REF"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="RadioGroup0"/>
                            <element name="RadioGroup1"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUPLR_ADD1"/>
                            <element name="SUPLR_ADD2"/>
                            <element name="SUPLR_ADD3"/>
                            <element name="SUPLR_CORR_MED__DESC__"/>
                            <element name="SUPLR_CORR_MED"/>
                            <element name="SUPLR_EMAIL"/>
                            <element name="SUPLR_FAX"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_MAIL_ADD"/>
                            <element name="SUPLR_NM"/>
                            <element name="TBPO_PAY_OBLIG">
                                <complexType>
                                    <sequence>
                                        <element name="ASSET_ACNO"/>
                                        <element name="ASSET_ACNO_OLD"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DO_REF"/>
                                        <element name="PERCENT"/>
                                        <element name="R_ASSET_ACNO"/>
                                        <element name="TSU_APLBL_LAW"/>
                                        <element name="TSU_BPOOBLGR_AMT"/>
                                        <element name="TSU_BPOOBLGR_BAL"/>
                                        <element name="TSU_CCY"/>
                                        <element name="TSU_CCY_OLD"/>
                                        <element name="TSU_NEW_OBLGR_CONF_BAL"/>
                                        <element name="TSU_OBLGRBK_ADD1"/>
                                        <element name="TSU_OBLGRBK_ADD2"/>
                                        <element name="TSU_OBLGRBK_ADD3"/>
                                        <element name="TSU_OBLGRBK_ID"/>
                                        <element name="TSU_OBLGRBK_MAIL_ADD"/>
                                        <element name="TSU_OBLGRBK_NM"/>
                                        <element name="TSU_OBLGRBK_SW_TAG"/>
                                        <element name="TSU_OBLGR_BK"/>
                                        <element name="TSU_OBLGR_CONF_BAL"/>
                                        <element name="TSU_PMTOBLGR_AMT"/>
                                        <element name="TSU_PMTOBLGR_AMT_OLD"/>
                                        <element name="TSU_PMT_CHG_AMT"/>
                                        <element name="TSU_PMT_CHG_PCTG"/>
                                        <element name="TSU_PMT_XPRY_DT"/>
                                        <element name="TSU_PO_ID"/>
                                        <element name="TSU_RCPTBK"/>
                                        <element name="TSU_RCPTBK_ADD1"/>
                                        <element name="TSU_RCPTBK_ADD2"/>
                                        <element name="TSU_RCPTBK_ADD3"/>
                                        <element name="TSU_RCPTBK_ID"/>
                                        <element name="TSU_RCPTBK_MAIL_ADD"/>
                                        <element name="TSU_RCPTBK_NM"/>
                                        <element name="TSU_RCPTBK_SW_TAG"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TBPO_PAY_TERMS">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DO_REF"/>
                                        <element name="TSU_CCY"/>
                                        <element name="TSU_PMT_AMT"/>
                                        <element name="TSU_PMT_CD"/>
                                        <element name="TSU_PMT_DAYS"/>
                                        <element name="TSU_PMT_OT_TERM"/>
                                        <element name="TSU_PMT_PER"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_ASSET_ACNO_DESC"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TSU_ANAY_REQ"/>
                            <element name="TSU_BENE_ACC"/>
                            <element name="TSU_BENE_BBAN"/>
                            <element name="TSU_BENE_IBAN"/>
                            <element name="TSU_BENE_UPIC"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_CDTRAC_CCY"/>
                            <element name="TSU_CDTRAC_NM"/>
                            <element name="TSU_CDTRAC_TPCD__DESC__"/>
                            <element name="TSU_CDTRAC_TPCD"/>
                            <element name="TSU_CDTRAC_TPID"/>
                            <element name="TSU_COMM_AMT"/>
                            <element name="TSU_COMM_DT"/>
                            <element name="TSU_COMM_REQ"/>
                            <element name="TSU_FININST_BIC"/>
                            <element name="TSU_FININST_NM"/>
                            <element name="TSU_GOODS_DESC"/>
                            <element name="TSU_HEAL_REQ"/>
                            <element name="TSU_IAFT_OT_TP"/>
                            <element name="TSU_IAFT_TP__DESC__"/>
                            <element name="TSU_IAFT_TP"/>
                            <element name="TSU_INCOTMS_LCTN"/>
                            <element name="TSU_INSU_REQ"/>
                            <element name="TSU_LINE_TTL_AMT"/>
                            <element name="TSU_LINE_TTL_CCY"/>
                            <element name="TSU_ORIG_REQ"/>
                            <element name="TSU_PAY_AMT"/>
                            <element name="TSU_PAY_CONF_AMT"/>
                            <element name="TSU_PHYT_REQ"/>
                            <element name="TSU_PO_DT"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_QUAN_REQ"/>
                            <element name="TSU_QUAT_REQ"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TRAN_REQ"/>
                            <element name="TSU_TRX_DTTM"/>
                            <element name="TSU_TTL_NET_AMT"/>
                            <element name="TSU_TTL_NET_CCY"/>
                            <element name="TSU_WEIG_REQ"/>
                            <element name="WEB_REF"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
