EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_Reversals_ITT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCT103_DUP"/>
                <element name="AUDIT_CODE"/>
                <element name="AUDT_DESC"/>
                <element name="AUDT_FUNCTION"/>
                <element name="AUDT_INSERTED_TMSTAMP"/>
                <element name="AUDT_MAIN_REF"/>
                <element name="AUDT_OP_ID"/>
                <element name="AUDT_SUB_TYPE"/>
                <element name="AUDT_TRX_REF"/>
                <element name="AUDT_TYPE"/>
                <element name="BU"/>
                <element name="CASH_CCY_IND"/>
                <element name="CASH_CNTY_DESC"/>
                <element name="CASH_SETT_AMT"/>
                <element name="CASH_SETT_CCY"/>
                <element name="CASH_TOT_AMT"/>
                <element name="CHG_SUSP_AC"/>
                <element name="CNTY_CODE"/>
                <element name="COUNTRY"/>
                <element name="COV_NO"/>
                <element name="CPYT_DR_AC"/>
                <element name="CPYT_DR_AC_BTN"/>
                <element name="CPYT_DR_AC_TYPE"/>
                <element name="CPYT_DR_CCY"/>
                <element name="CPYT_DR_NAME"/>
                <element name="CPYT_FUNC_NAME"/>
                <element name="CR_AMT"/>
                <element name="CR_CALC_AMT"/>
                <element name="CR_CCY"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_ID"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_AC_NUMBER"/>
                <element name="C_CUST_ID"/>
                <element name="C_EVENT_NAME"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MODULE"/>
                <element name="C_UNIT_CODE"/>
                <element name="DB_CALC_AMT"/>
                <element name="DB_CCY"/>
                <element name="DRT_DEAL_IND"/>
                <element name="DUP_CHK"/>
                <element name="FDS_AVAL"/>
                <element name="FDS_TO_CHK"/>
                <element name="FIELD_1_X"/>
                <element name="FIELD_6_X"/>
                <element name="FIELDs"/>
                <element name="FORM_ADD1"/>
                <element name="FORM_ADD2"/>
                <element name="FORM_ADD3"/>
                <element name="FORM_ADD4"/>
                <element name="FORM_CUST_ACNO"/>
                <element name="FORM_CUST_ADD1"/>
                <element name="FORM_CUST_ADD2"/>
                <element name="FORM_CUST_ADD3"/>
                <element name="FORM_CUST_NM"/>
                <element name="FORM_EMAIL_ID"/>
                <element name="FORM_PARTY_NM"/>
                <element name="FORM_TEL_NO"/>
                <element name="FORM_UNTI_CODE"/>
                <element name="GAPI_IND_FLG"/>
                <element name="HELP_LINK_URL"/>
                <element name="INT_ACCOUNTCOUNT"/>
                <element name="INT_ACT1"/>
                <element name="INT_ACT1_CCY"/>
                <element name="INT_AC_IDENTIFIER"/>
                <element name="INT_AMT1"/>
                <element name="INT_BKGROUPID"/>
                <element name="INT_CASH_IND1"/>
                <element name="INT_CUST_ID"/>
                <element name="INT_C_MAIN_REF"/>
                <element name="INT_I_EVENT_TIMES"/>
                <element name="INW_SNDBK_NM"/>
                <element name="INW_X103BENECUADD1_59A"/>
                <element name="INW_X103BENECUADD2_59A"/>
                <element name="INW_X103BENECUADD3_59A"/>
                <element name="INW_X103_ACC_BKNM_57A"/>
                <element name="INW_X103_BENECU_ID_59A"/>
                <element name="INW_X103_BENECU_NM_59A"/>
                <element name="INW_X103_DET_CHG_71A"/>
                <element name="INW_X103_EXCH_RT_36"/>
                <element name="INW_X103_ORDCUACNO_50A"/>
                <element name="INW_X103_ORDCUADD1_50A"/>
                <element name="INW_X103_ORDCUADD2_50A"/>
                <element name="INW_X103_ORDCUADD3_50A"/>
                <element name="INW_X103_ORDCU_NM_50A"/>
                <element name="INW_X103_SEND_NO_20"/>
                <element name="INW_X103_SETT_AMT_32A"/>
                <element name="INW_X103_SETT_CCY_32A"/>
                <element name="INW_X103_VALUE_DT_32A"/>
                <element name="MD_I"/>
                <element name="MLT_STLMT"/>
                <element name="NOTES"/>
                <element name="NUM_ACCTS"/>
                <element name="NXT_STATUS"/>
                <element name="OLDVALUES"/>
                <element name="OLDVALUES_ACC"/>
                <element name="OLDVALUES_COVERNO"/>
                <element name="OLDVALUES_OVR"/>
                <element name="OVRIDE"/>
                <element name="PAY_AMT"/>
                <element name="PAY_CCY"/>
                <element name="PRODREF"/>
                <element name="PaymentMultipleDebits">
                    <complexType>
                        <sequence>
                            <element name="CAP_AMT_IND"/>
                            <element name="COV_AMT"/>
                            <element name="COV_CCY"/>
                            <element name="COV_NO"/>
                            <element name="COV_VAL_DT"/>
                            <element name="CPYT_DR_AC"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CPYT_DR_NAME"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EXCH_RATE"/>
                            <element name="FORM_EXCH_RATE"/>
                            <element name="MD_I"/>
                            <element name="MUL_CASH_IND"/>
                            <element name="MUL_FDS_AVAL"/>
                            <element name="MUL_OVRIDE"/>
                            <element name="PAY_AMT"/>
                            <element name="PAY_CCY"/>
                            <element name="PUR_SAL_IND"/>
                            <element name="RELA_REF"/>
                            <element name="SETT_AMT"/>
                            <element name="SETT_CCY"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="RATE_TYPE"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="REPUR_IND"/>
                <element name="REVERSAL_DT"/>
                <element name="REVE_AC_NO"/>
                <element name="REVE_AC_NO_ORG"/>
                <element name="REVE_AMT"/>
                <element name="REVE_CCY"/>
                <element name="REVE_IND"/>
                <element name="SECOND_CHG_AMT"/>
                <element name="SETT_ACC_AUDIT"/>
                <element name="SETT_ACC_AUDIT1"/>
                <element name="SETT_CCY"/>
                <element name="SUSP_AC"/>
                <element name="SYS_BUSI_UNIT"/>
                <element name="TEMP_CASH_IND"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RESULT2"/>
                <element name="TRX_HISTORY"/>
                <element name="TRX_HISTORY_TEMP"/>
                <element name="TWO_DAYS_BACK"/>
                <element name="VAT_IND1"/>
                <element name="X103_BENECUACNO59A"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUACNO_50F"/>
                <element name="X103_ORDCUADD1_50F"/>
                <element name="X103_ORDCUADD2_50F"/>
                <element name="X103_ORDCUADD3_50F"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_NM_50F"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X202_CCY_32A"/>
            </sequence>
        </complexType>
    </element>
</schema>
