EE_PARA/EE_PARA/Default/FORM/form_multi_schema_101_IN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CANCEL_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="MSG_INDEX"/>
                            <element name="MSG_TOTAL"/>
                            <element name="NXT_STATUS"/>
                            <element name="PART_50A_ADD_BTN"/>
                            <element name="X101_SEQ_B_IN">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="X101_21F_FX_DEAL_REF"/>
                                        <element name="X102_21_REF"/>
                                        <element name="X102_32B_AMT"/>
                                        <element name="X102_32B_CCY"/>
                                        <element name="X102_33B_AMT"/>
                                        <element name="X102_33B_CCY"/>
                                        <element name="X102_36_RATE"/>
                                        <element name="X102_50A_ACCOUNT"/>
                                        <element name="X102_50A_IDENTIFIER"/>
                                        <element name="X102_50F_PARTY_ADD1"/>
                                        <element name="X102_50F_PARTY_ADD2"/>
                                        <element name="X102_50F_PARTY_ADD3"/>
                                        <element name="X102_50F_PARTY_NAME"/>
                                        <element name="X102_52A_IDENTIFIER"/>
                                        <element name="X102_52A_PARTY_IDENTIFIER"/>
                                        <element name="X102_57A_ACC_WITH_IDENTIFIER"/>
                                        <element name="X102_57A_IDENTIFIER"/>
                                        <element name="X102_59A_ACCOUNT"/>
                                        <element name="X102_59A_IDENTIFIER"/>
                                        <element name="X102_59_PARTY_ADD1"/>
                                        <element name="X102_59_PARTY_ADD2"/>
                                        <element name="X102_59_PARTY_ADD3"/>
                                        <element name="X102_59_PARTY_NAME"/>
                                        <element name="X102_71A_CHG_DETAILS"/>
                                        <element name="X102_77B_REGULATORY"/>
                                        <element name="X102_REMITTANCE_INFO"/>
                                        <element name="X203_56A_IDENTIFIER"/>
                                        <element name="X203_56D_PARTY_ADD1"/>
                                        <element name="X203_56D_PARTY_ADD2"/>
                                        <element name="X203_56D_PARTY_ADD3"/>
                                        <element name="X203_56D_PARTY_NAME"/>
                                        <element name="X203_56_PARTY_IDENTIFIER"/>
                                        <element name="X203_57D_PARTY_ADD1"/>
                                        <element name="X203_57D_PARTY_ADD2"/>
                                        <element name="X203_57D_PARTY_ADD3"/>
                                        <element name="X203_57D_PARTY_NAME"/>
                                        <element name="X203_58A_IDENTIFIER"/>
                                        <element name="X203_58_PARTY_IDENTIFIER"/>
                                        <element name="X798_25A_CHG_ACC"/>
                                        <element name="X101_SEQ_B_23E">
                                            <complexType>
                                                <sequence>
                                                    <element name="X103_INSTRCODE_23E"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="X102_20_REF"/>
                            <element name="X102_21_REF"/>
                            <element name="X102_32A_DATE"/>
                            <element name="X102_50A_ACCOUNT"/>
                            <element name="X102_50A_IDENTIFIER"/>
                            <element name="X102_50F_PARTY_ADD1"/>
                            <element name="X102_50F_PARTY_ADD2"/>
                            <element name="X102_50F_PARTY_ADD3"/>
                            <element name="X102_50F_PARTY_ID"/>
                            <element name="X102_50F_PARTY_NAME"/>
                            <element name="X102_50_TAG"/>
                            <element name="X102_51A_IDENTIFIER"/>
                            <element name="X102_51A_SEND_INS"/>
                            <element name="X102_52A_IDENTIFIER"/>
                            <element name="X102_52A_PARTY_IDENTIFIER"/>
                            <element name="X102_52_TAG"/>
                            <element name="X203_52_TAG"/>
                            <element name="X203_58A_IDENTIFIER"/>
                            <element name="X203_58_PARTY_IDENTIFIER"/>
                            <element name="X730_ACC_IDEN_25"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
