EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_RtgSummry_DstnAirprt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="TSU_RTG_DT_AIRCD"/>
<element name="TSU_RTG_DT_AIRNM"/>
<element name="TSU_RTG_DT_AIRTWN"/>
</sequence>
</complexType>
</element>
</schema>
