EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_EnquireSupplierSettHis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_CREDIT"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="PAID_ON"/>
                            <element name="PMT_AMT"/>
                            <element name="PMT_REF"/>
                            <element name="PayToSupplierCDO">
                                <complexType>
                                    <sequence>
                                        <element name="AI_ACT_AMT"/>
                                        <element name="AI_DUE_DT"/>
                                        <element name="AI_ID"/>
                                        <element name="AI_NUM"/>
                                        <element name="AI_ORG_AMT"/>
                                        <element name="AI_SET_DT"/>
                                        <element name="CCY"/>
                                        <element name="PMT_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TTL_INT_FEE_AMT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
