EE_PARA/EE_PARA/Default/FORM/form_multi_schema_COMM_CreateESPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_INC_FEE_RM"/>
                            <element name="ACC_INC_INT_RM"/>
                            <element name="ACTV_ST_DT"/>
                            <element name="AI_SP_ID__DESC__"/>
                            <element name="AI_SP_ID"/>
                            <element name="BASE_FRT_TP__DESC__"/>
                            <element name="BASE_FRT_TP"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="B_SELLER"/>
                            <element name="CCY"/>
                            <element name="CNTY_CODE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EPPM_PercentFee">
                                <complexType>
                                    <sequence>
                                        <element name="ACC_INC_FEE"/>
                                        <element name="BASE_CD"/>
                                        <element name="BENE_NM"/>
                                        <element name="BENE_TP_CD__DESC__"/>
                                        <element name="BENE_TP_CD"/>
                                        <element name="CCY"/>
                                        <element name="CHG_FREQ_CD"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FEE_ID"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FEE_TP_AMT"/>
                                        <element name="FEE_UNIT__DESC__"/>
                                        <element name="FEE_UNIT"/>
                                        <element name="MAX_AMT"/>
                                        <element name="MIN_AMT"/>
                                        <element name="PP_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="EPPM_TRXFEE">
                                <complexType>
                                    <sequence>
                                        <element name="ACC_INC_FEE"/>
                                        <element name="BASE_CD"/>
                                        <element name="BENE_NM"/>
                                        <element name="BENE_TP_CD__DESC__"/>
                                        <element name="BENE_TP_CD"/>
                                        <element name="CCY"/>
                                        <element name="CHG_FREQ_CD"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FEE_ID"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FEE_TP_AMT"/>
                                        <element name="FEE_UNIT__DESC__"/>
                                        <element name="FEE_UNIT"/>
                                        <element name="MAX_AMT"/>
                                        <element name="MIN_AMT"/>
                                        <element name="PP_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="INT_BASE_RT_CD__DESC__"/>
                            <element name="INT_BASE_RT_CD"/>
                            <element name="MARGIN_VAL"/>
                            <element name="MAX_AMT"/>
                            <element name="MIN_AMT"/>
                            <element name="PP_ID"/>
                            <element name="PP_NM"/>
                            <element name="PP_TP_ID"/>
                            <element name="PRFL_TP__DESC__"/>
                            <element name="PRFL_TP"/>
                            <element name="PROD_ID__DESC__"/>
                            <element name="PROD_ID"/>
                            <element name="QR_CD_FLD"/>
                            <element name="ROE"/>
                            <element name="STAT_PRFL_CD__DESC__"/>
                            <element name="STAT_PRFL_CD"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="Submit1"/>
                            <element name="TRX_DT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
