EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSUM_GenerateInvoice_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="FINC_UNIT_CODE"/>
<element name="TSU_BUYER_ADDR"/>
<element name="TSU_BUYER_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_AMT"/>
<element name="TSU_COMM_BIC"/>
<element name="TSU_COMM_DOC_REQ__DESC__"/>
<element name="TSU_COMM_DOC_REQ"/>
<element name="TSU_COMM_DT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_CONS_ADDR"/>
<element name="TSU_CONS_NAME"/>
<element name="TSU_CUST_ID"/>
<element name="TSU_CUST_REF"/>
<element name="TSU_DOC_CUSTREF"/>
<element name="TSU_DS_REQUIREMENT"/>
<element name="TSU_EVENT_NAME"/>
<element name="TSU_INSTR_TYPE"/>
<element name="TSU_LAST_MATCH_DT"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_SELLER_ADDR"/>
<element name="TSU_SELLER_NAME"/>
<element name="TSU_SUBMIT_BASELN_ID"/>
<element name="TSU_SUBMIT_BASELN_VRSN"/>
<element name="TSU_SUB_B_BIC"/>
<element name="TSU_SUB_B_SVCD__DESC__"/>
<element name="TSU_SUB_B_SVCD"/>
<element name="TSU_TID"/>
<element name="TSU_TRAN_DOC_REQ"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
<element name="imgDrawDown_TSU_COMM_DT"/>
<element name="imgDrawDown_TSU_LAST_MATCH_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
