EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Assignee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="ASSIGNEE_ACNO"/>
<element name="ASSIGNEE_ADD1"/>
<element name="ASSIGNEE_ADD2"/>
<element name="ASSIGNEE_ADD3"/>
<element name="ASSIGNEE_BK_ADD1"/>
<element name="ASSIGNEE_BK_ADD2"/>
<element name="ASSIGNEE_BK_ADD3"/>
<element name="ASSIGNEE_BK_DTL"/>
<element name="ASSIGNEE_BK_ID"/>
<element name="ASSIGNEE_BK_ID_BTN"/>
<element name="ASSIGNEE_BK_NM"/>
<element name="ASSIGNEE_BK_SW_ADD"/>
<element name="ASSIGNEE_BK_SW_TAG"/>
<element name="ASSIGNEE_ID"/>
<element name="ASSIGNEE_ID_BTN"/>
<element name="ASSIGNEE_NM"/>
<element name="ASSIGNEE_SW_ADD"/>
<element name="ASSIGNEE_SW_TAG"/>
<element name="ASSIGNEE_TYPE__DESC__"/>
<element name="ASSIGNEE_TYPE"/>
<element name="ASSIGN_AMT"/>
<element name="ASSIGN_BAL"/>
<element name="ASSIGN_CCY"/>
<element name="ASSIGN_CHG"/>
<element name="ASSIGN_CHG_BY__DESC__"/>
<element name="ASSIGN_CHG_BY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
