EE_PARA/EE_PARA/Default/FORM/form_schema_ChargeDynamicAgreementDO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AREA_CODE_TEMP"/>
<element name="CNTY_AREA_TEMP"/>
<element name="CNTY_CODE_FROM"/>
<element name="CNTY_CODE_OPERATION_TEMP"/>
<element name="CNTY_CODE_TEMP"/>
<element name="CNTY_CODE_TO"/>
<element name="CNTY_OPER_AREA_TEMP"/>
<element name="C_BUSI_TYPE__DESC__"/>
<element name="C_BUSI_TYPE"/>
<element name="C_CALCULATE_TYPE"/>
<element name="C_CCY"/>
<element name="C_CHAN_TYPE__DESC__"/>
<element name="C_CHAN_TYPE"/>
<element name="C_CUST_TYPE__DESC__"/>
<element name="C_CUST_TYPE"/>
<element name="C_TEMP_CYCLE_DATA"/>
<element name="D_FORM_DATE"/>
<element name="D_TO_DATE"/>
</sequence>
</complexType>
</element>
</schema>
