EE_PARA/EE_PARA/Default/FORM/form_schema_SYST_CE2EE_FileUpload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CATEGORY"/>
<element name="C_DOC_TYPE"/>
<element name="C_MAIN_REF"/>
<element name="C_UPLOAD_REF"/>
</sequence>
</complexType>
</element>
</schema>
