EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Swift_Incoming_ContentEdit_BU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BY_UC"/>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_FUNC_NAME_BU"/>
<element name="C_MODULE"/>
<element name="C_MODULE_BU"/>
<element name="C_MSG_CONTENT"/>
<element name="C_MSG_TYPE"/>
<element name="C_PRO_ASSIGN_FLAG"/>
<element name="C_STP_CODE"/>
<element name="C_TYPE"/>
<element name="C_UNIT_CODE"/>
<element name="C_UNIT_CODE_BU"/>
<element name="TRX_EDIT_TYPE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
