EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IWGT_AdviseInwardGtee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT_ID_MT768"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_ID"/>
                            <element name="AC_WT_BK_ID_BTN"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_NM_BTN"/>
                            <element name="AC_WT_BK_SW_ADD"/>
                            <element name="AC_WT_BK_SW_TAG"/>
                            <element name="ADD_AMT_INFO"/>
                            <element name="ADD_AMT_INFO_LOCAL"/>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_ADD_BTN"/>
                            <element name="ADV_BK_CORR_MED__DESC__"/>
                            <element name="ADV_BK_CORR_MED"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_ID_BTN"/>
                            <element name="ADV_BK_MAIL_ADD"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_NOTES"/>
                            <element name="ADV_BK_ORDER_NO"/>
                            <element name="ADV_BK_ORDER_POST"/>
                            <element name="ADV_BK_POST_ADD_BTN"/>
                            <element name="ADV_BK_REF"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="ADV_BK_TLX"/>
                            <element name="ADV_FLG__DESC__"/>
                            <element name="ADV_FLG"/>
                            <element name="ADV_THRU_BK_ID_BTN"/>
                            <element name="ADV_THRU_BK_ID_BTN_LOCAL"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD1_LOCAL"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD2_LOCAL"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD3_LOCAL"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_ADD_BTN_LOCAL"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_ID_LOCAL"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NM_LOCAL"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_NOTES_LOCAL"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_NO_LOCAL"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_REF"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_ADD_LOCAL"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="ADV_THU_BK_SW_TAG_LOCAL"/>
                            <element name="ADV_THU_BK_TLX"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_LOCAL__DESC__"/>
                            <element name="APLB_RULE_LOCAL"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="APLB_RULE_NARR_LOCAL"/>
                            <element name="APPLY_FLG__DESC__"/>
                            <element name="APPLY_FLG"/>
                            <element name="APPL_AC_MRGN_BTN"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD1_LOCAL"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD2_LOCAL"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD3_LOCAL"/>
                            <element name="APPL_ADD_ORDERNO"/>
                            <element name="APPL_BR_CD"/>
                            <element name="APPL_BTN"/>
                            <element name="APPL_CORR_MED1__DESC__"/>
                            <element name="APPL_CORR_MED1"/>
                            <element name="APPL_CUST_BK"/>
                            <element name="APPL_EMAIL_1"/>
                            <element name="APPL_FAX_NO_1"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_ID_BTN_LOCAL"/>
                            <element name="APPL_ID_LOCAL"/>
                            <element name="APPL_MAIL_ADD"/>
                            <element name="APPL_MAIL_ADD_ORDERNO"/>
                            <element name="APPL_MAIL_BTN"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NM_LOCAL"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_REF"/>
                            <element name="APPL_SW_ADD"/>
                            <element name="APPL_SW_TAG"/>
                            <element name="APPL_TLX"/>
                            <element name="ASSET_ACNO"/>
                            <element name="ASSET_ACNO_BTN"/>
                            <element name="AUTO_EXTEN_CODE"/>
                            <element name="AUTO_EXTEN_CODE_LOCAL"/>
                            <element name="AUTO_EXTEN_EXPIRY_DT"/>
                            <element name="AUTO_EXTEN_EXPIRY_DT_LOCAL"/>
                            <element name="AUTO_EXTEN_NOTIF"/>
                            <element name="AUTO_EXTEN_NOTIF_LOCAL"/>
                            <element name="AUTO_EXTEN_NOTIF_PERIOD"/>
                            <element name="AUTO_EXTEN_NOTIF_PRD_LOCAL"/>
                            <element name="AUTO_EXTEN_PERIOD"/>
                            <element name="AUTO_EXTEN_PERIOD_LOCAL"/>
                            <element name="AUTO_RENEW__DESC__"/>
                            <element name="AUTO_RENEW"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD1_LOCAL"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD2_LOCAL"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD3_LOCAL"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ADD_BTN_LOCAL"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_ID_BTN_LOCAL"/>
                            <element name="AVAL_WT_BK_ID_LOCAL"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NM_LOCAL"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_NOTES_LOCAL"/>
                            <element name="AVAL_WT_BK_OPT_LOCAL__DESC__"/>
                            <element name="AVAL_WT_BK_OPT_LOCAL"/>
                            <element name="AVAL_WT_BK_ORDER_NO"/>
                            <element name="AVAL_WT_BK_ORDER_NO_LOCAL"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_ADD_LOCAL"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="AVAL_WT_BK_SW_TAG_LOCAL"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BENE_ACC_NO_LOCAL"/>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD1_LOCAL"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD2_LOCAL"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ADD3_LOCAL"/>
                            <element name="BENE_ADD_ORDERNO"/>
                            <element name="BENE_BR_CD"/>
                            <element name="BENE_BTN"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_CUST_BK"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_ID_BTN_LOCAL"/>
                            <element name="BENE_ID_LOCAL"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_MAIL_ADD_ORDERNO"/>
                            <element name="BENE_MAIL_BTN"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NM_LOCAL"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_REF"/>
                            <element name="BENE_SW_ADD"/>
                            <element name="BENE_SW_TAG"/>
                            <element name="BENE_TLX"/>
                            <element name="BK_TO_BK_INFO"/>
                            <element name="CHARGES"/>
                            <element name="CHARGES_LOCAL"/>
                            <element name="CHARGES_MAIL"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_AMT_MT768"/>
                            <element name="CHG_CCY_MT768"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_POLICY__DESC__"/>
                            <element name="CHG_POLICY"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="COMM_BAL"/>
                            <element name="COMM_CCY"/>
                            <element name="COMM_DT"/>
                            <element name="COMM_END_DT"/>
                            <element name="COMM_REF"/>
                            <element name="COMM_START_DT"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_CORR_MED__DESC__"/>
                            <element name="CONF_BK_CORR_MED"/>
                            <element name="CONF_BK_ID"/>
                            <element name="CONF_BK_ID_BTN"/>
                            <element name="CONF_BK_MAIL_ADD"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_NOTES"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_BK_SW_TAG"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CONTR_GTEE_EXP"/>
                            <element name="CONTR_GTEE_REF"/>
                            <element name="COUNTR_GTEE__DESC__"/>
                            <element name="COUNTR_GTEE"/>
                            <element name="COUNTR_INDMNTY_HELD__DESC__"/>
                            <element name="COUNTR_INDMNTY_HELD"/>
                            <element name="COUNTR_INDMNTY_REQ__DESC__"/>
                            <element name="COUNTR_INDMNTY_REQ"/>
                            <element name="CURRENT_COMM"/>
                            <element name="CURRENT_COMM_TEMP"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ClauseButton2"/>
                            <element name="ClauseButton3"/>
                            <element name="DELIVERY_TO__DESC__"/>
                            <element name="DELIVERY_TO"/>
                            <element name="DELIVERY_TO_CODE"/>
                            <element name="DELIVERY_TO_CODE_LOCAL"/>
                            <element name="DELIVERY_TO_LOCAL"/>
                            <element name="DELIVERY_TO_NM_ADD"/>
                            <element name="DELIVERY_TO_NM_ADD_LOCAL"/>
                            <element name="DELIV_OF_ORIG_CODE"/>
                            <element name="DELIV_OF_ORIG_CODE_LOCAL"/>
                            <element name="DELIV_OF_ORIG_UNDERTAKING"/>
                            <element name="DELIV_OF_ORIG_UNDER_LOCAL"/>
                            <element name="DEMAND_INDICATOR"/>
                            <element name="DEMAND_INDICATOR_LOCAL"/>
                            <element name="DET_CHG_MT768"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DOC_PRES_INSTR"/>
                            <element name="DOC_PRES_INSTR_LOCAL"/>
                            <element name="DTAILS_MAIL"/>
                            <element name="EXPIRY_COND"/>
                            <element name="EXPIRY_COND_LOCAL"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_DT_LOCAL"/>
                            <element name="EXPIRY_PLC__DESC__"/>
                            <element name="EXPIRY_PLC"/>
                            <element name="EXPIRY_TYPE"/>
                            <element name="EXPIRY_TYPE_LOCAL"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FILE_23X_CODE"/>
                            <element name="FILE_23X_NARR"/>
                            <element name="FILE_NM_OR_REF"/>
                            <element name="FORM_OF_UNDERTAKING"/>
                            <element name="FORM_OF_UNDERTAKING_LOCAL"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="FXD_EXPIRY__DESC__"/>
                            <element name="FXD_EXPIRY"/>
                            <element name="GOODS_ETA_DT"/>
                            <element name="GOVERN_LAW"/>
                            <element name="GOVERN_LAW_CNTY_CODE"/>
                            <element name="GOVERN_LAW_CNTY_CODE_LOCAL"/>
                            <element name="GOVERN_LAW_LOCAL"/>
                            <element name="GTEE_AMT"/>
                            <element name="GTEE_AMT_LOCAL"/>
                            <element name="GTEE_BAL"/>
                            <element name="GTEE_BAL_LOCAL"/>
                            <element name="GTEE_CCY"/>
                            <element name="GTEE_CCY_LOCAL"/>
                            <element name="GTEE_DETAILS"/>
                            <element name="GTEE_DETAILS_79"/>
                            <element name="GTEE_REF_NUM"/>
                            <element name="GTEE_TYPE__DESC__"/>
                            <element name="GTEE_TYPE"/>
                            <element name="INDEMN_ADD1_LOCAL"/>
                            <element name="INDEMN_ADD2_LOCAL"/>
                            <element name="INDEMN_ADD3_LOCAL"/>
                            <element name="INDEMN_ID_BTN_LOCAL"/>
                            <element name="INDEMN_ID_LOCAL"/>
                            <element name="INDEMN_NM_LOCAL"/>
                            <element name="INWARD_RCV_DT"/>
                            <element name="ISSUE_BK_AC_NO"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD1_LOCAL"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD2_LOCAL"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD3_LOCAL"/>
                            <element name="ISSUE_BK_CORR_MED__DESC__"/>
                            <element name="ISSUE_BK_CORR_MED"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_ID_BTN_LOCAL"/>
                            <element name="ISSUE_BK_ID_LOCAL"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NM_LOCAL"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_ADD_LOCAL"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_BK_SW_TAG_LOCAL"/>
                            <element name="ISSUE_BY__DESC__"/>
                            <element name="ISSUE_BY"/>
                            <element name="ISS_BK_ID_BTN"/>
                            <element name="JURISDICTION"/>
                            <element name="JURISDICTION_LOCAL"/>
                            <element name="LANG_CD__DESC__"/>
                            <element name="LANG_CD"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MAIL_METHOD_1ST__DESC__"/>
                            <element name="MAIL_METHOD_1ST"/>
                            <element name="MAIL_METHOD_2ND__DESC__"/>
                            <element name="MAIL_METHOD_2ND"/>
                            <element name="MSG_TYPE"/>
                            <element name="MTHD_OF_ISS__DESC__"/>
                            <element name="MTHD_OF_ISS"/>
                            <element name="NARR_MAIL"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_PERIODS"/>
                            <element name="NXT_COMM_DT"/>
                            <element name="NXT_STATUS"/>
                            <element name="ORIGIN_GTEE_BAL"/>
                            <element name="PERIOD"/>
                            <element name="PURP_OF_MESS"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="RCV_FM_BK_ADD1"/>
                            <element name="RCV_FM_BK_ADD2"/>
                            <element name="RCV_FM_BK_ADD3"/>
                            <element name="RCV_FM_BK_ADD_ORDERNO"/>
                            <element name="RCV_FM_BK_BR_CODE"/>
                            <element name="RCV_FM_BK_BTN"/>
                            <element name="RCV_FM_BK_CORR_MED__DESC__"/>
                            <element name="RCV_FM_BK_CORR_MED"/>
                            <element name="RCV_FM_BK_EMAIL"/>
                            <element name="RCV_FM_BK_ID"/>
                            <element name="RCV_FM_BK_ID_BTN"/>
                            <element name="RCV_FM_BK_MAIL1"/>
                            <element name="RCV_FM_BK_MAIL_ADD_ORDERNO"/>
                            <element name="RCV_FM_BK_MAIL_BTN"/>
                            <element name="RCV_FM_BK_NM"/>
                            <element name="RCV_FM_BK_NOTES"/>
                            <element name="RCV_FM_BK_SW_ADD"/>
                            <element name="RCV_FM_BK_SW_TAG"/>
                            <element name="RCV_FM_BK_TLX"/>
                            <element name="RCV_FM_BK_TO_FAX"/>
                            <element name="REAL_RT"/>
                            <element name="REG_DT"/>
                            <element name="REQ_ISSUE_DT"/>
                            <element name="SEND_BK_TO_Telex"/>
                            <element name="SEND_MT768_FLG"/>
                            <element name="SEND_TO__DESC__"/>
                            <element name="SEND_TO"/>
                            <element name="SEND_TO_ADD1"/>
                            <element name="SEND_TO_ADD1_BTN"/>
                            <element name="SEND_TO_ADD2"/>
                            <element name="SEND_TO_ADD3"/>
                            <element name="SEND_TO_ADD_ORDERNO"/>
                            <element name="SEND_TO_CORR_MED__DESC__"/>
                            <element name="SEND_TO_CORR_MED"/>
                            <element name="SEND_TO_EMAIL"/>
                            <element name="SEND_TO_FAX"/>
                            <element name="SEND_TO_ID"/>
                            <element name="SEND_TO_ID_BTN"/>
                            <element name="SEND_TO_MAIL_ADD"/>
                            <element name="SEND_TO_MAIL_ADD1_BTN"/>
                            <element name="SEND_TO_MAIL_ADD_ORDERNO"/>
                            <element name="SEND_TO_NM"/>
                            <element name="SEND_TO_NOTES"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="SEND_TO_REF"/>
                            <element name="SEND_TO_SW_ADD"/>
                            <element name="SEND_TO_SW_TAG"/>
                            <element name="SEND_TO_TLX"/>
                            <element name="SIGNATURE"/>
                            <element name="SIGNATURE2"/>
                            <element name="STAN_WORD_REQD"/>
                            <element name="STAN_WORD_REQD_LANG"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="SW_FORM"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_APLB_CODE_LOCAL"/>
                            <element name="TEMP_ASSET_ACNO_DESC"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_FURTHER_IDENTITY__DESC__"/>
                            <element name="TEMP_FURTHER_IDENTITY"/>
                            <element name="TEMP_GOVERN_LAW"/>
                            <element name="TEMP_GOVERN_LAW_LOCAL"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_PURP_OF_MESS"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_TYPE__DESC__"/>
                            <element name="TEMP_TYPE"/>
                            <element name="TEMP_UNTAKE_TYPE_LOCAL"/>
                            <element name="TMPL_BTN"/>
                            <element name="TOTAL_ISS_COMM"/>
                            <element name="TRANS_CONDITION"/>
                            <element name="TRANS_CONDITION_LOCAL"/>
                            <element name="TRANS_INDICATOR"/>
                            <element name="TRANS_INDICATOR_LOCAL"/>
                            <element name="TRX_CCY"/>
                            <element name="UNDERLYING_TRANS_DETAILS"/>
                            <element name="UNDERTAKING_TERMS_COND_LOCAL"/>
                            <element name="UNDERTAKING_TYPE_LOCAL"/>
                            <element name="UNDERTAKING_TYPE_NARR_LOCAL"/>
                            <element name="UNDER_TRANS_DETAILS_LOCAL"/>
                            <element name="VALID_FM_DT"/>
                            <element name="WEB_REF"/>
                            <element name="X768_DATE_30"/>
                            <element name="X798_20_REF"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_29A_CUST_CONT"/>
                            <element name="X798_29D_BENE_CONTACT"/>
                            <element name="X798_29P_PRO_BANK_IND"/>
                            <element name="X798_29S_CUST_IDEN_CODE"/>
                            <element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
                            <element name="X798_29S_CUST_IDEN_PARTY"/>
                            <element name="X798_29U_LEAD_BANK_IND"/>
                            <element name="X798_72C_B2C_INFO"/>
                            <element name="X798_ADD_BK_REF"/>
                            <element name="X798_ADD_CUST_REF"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_ADD"/>
                            <element name="X798_CUST_REF"/>
                            <element name="X798_INSTRU_78B"/>
                            <element name="button1"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
