EE_PARA/EE_PARA/Default/FORM/form_multi_schema_COMM_EPRTRX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BASE_CD__DESC__"/>
<element name="BASE_CD"/>
<element name="BENE_TP_CD__DESC__"/>
<element name="BENE_TP_CD"/>
<element name="CCY"/>
<element name="CHG_FREQ_CD__DESC__"/>
<element name="CHG_FREQ_CD"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FEE_ID"/>
<element name="FEE_TP__DESC__"/>
<element name="FEE_TP"/>
<element name="FEE_TP_AMT"/>
<element name="FEE_UNIT__DESC__"/>
<element name="FEE_UNIT"/>
<element name="MAX_AMT"/>
<element name="MIN_AMT"/>
<element name="PP_TP_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
