EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_BICPlusIBAN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLG__DESC__"/>
                <element name="CHG_FLG"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="CPYT_ASSGN_AC"/>
                <element name="CPYT_ASSGN_ADD1"/>
                <element name="CPYT_ASSGN_ADD2"/>
                <element name="CPYT_ASSGN_ADD3"/>
                <element name="CPYT_ASSGN_ADD_BTN"/>
                <element name="CPYT_ASSGN_ID"/>
                <element name="CPYT_ASSGN_ID_BTN"/>
                <element name="CPYT_ASSGN_MAIL_ADD"/>
                <element name="CPYT_ASSGN_NM"/>
                <element name="CPYT_ASSGN_NOTES"/>
                <element name="CPYT_ASSGN_ORDER_NO"/>
                <element name="CPYT_ASSGN_OREDER_POST"/>
                <element name="CPYT_ASSGN_POST_BTN"/>
                <element name="CPYT_CHG_FROM__DESC__"/>
                <element name="CPYT_CHG_FROM"/>
                <element name="CPYT_CR_AC"/>
                <element name="CPYT_CR_AC_TYPE"/>
                <element name="CPYT_CR_AMT_CRCCY"/>
                <element name="CPYT_CR_CCY"/>
                <element name="CPYT_CR_VAL_DATE"/>
                <element name="CPYT_DR_AC"/>
                <element name="CPYT_DR_AC_PROC"/>
                <element name="CPYT_DR_ADD1"/>
                <element name="CPYT_DR_ADD2"/>
                <element name="CPYT_DR_ADD3"/>
                <element name="CPYT_DR_ADD_BTN"/>
                <element name="CPYT_DR_AMT_DRCCY"/>
                <element name="CPYT_DR_BUY_RATE"/>
                <element name="CPYT_DR_CCY"/>
                <element name="CPYT_DR_COR_MED__DESC__"/>
                <element name="CPYT_DR_COR_MED"/>
                <element name="CPYT_DR_EMAIL_ADD"/>
                <element name="CPYT_DR_FAX_NO"/>
                <element name="CPYT_DR_ID"/>
                <element name="CPYT_DR_ID_BTN"/>
                <element name="CPYT_DR_LANG__DESC__"/>
                <element name="CPYT_DR_LANG"/>
                <element name="CPYT_DR_MAIL_ADD"/>
                <element name="CPYT_DR_NAME"/>
                <element name="CPYT_DR_NOTES"/>
                <element name="CPYT_DR_ORDER_NO"/>
                <element name="CPYT_DR_ORDER_POST"/>
                <element name="CPYT_DR_POST_BTN"/>
                <element name="CPYT_DR_REF"/>
                <element name="CPYT_DR_TEL_NO"/>
                <element name="CPYT_DR_VAL_DATE"/>
                <element name="CPYT_N_PAY_AMT"/>
                <element name="CPYT_PAY_ADV_MSG"/>
                <element name="CPYT_PAY_CCY"/>
                <element name="CR_CALC_AMT"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MAIN_REF_20Z"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DB_CALC_AMT"/>
                <element name="DELVR_DOC_AGST__DESC__"/>
                <element name="DELVR_DOC_AGST"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="GRP_ID"/>
                <element name="GTEE_TYPE__DESC__"/>
                <element name="GTEE_TYPE"/>
                <element name="GTEE_TYPE2__DESC__"/>
                <element name="GTEE_TYPE2"/>
                <element name="IS_GPI_MEMBER__DESC__"/>
                <element name="IS_GPI_MEMBER"/>
                <element name="LOGIN_BIC"/>
                <element name="MSG_TYPE"/>
                <element name="MX_OR_MT_FLAG__DESC__"/>
                <element name="MX_OR_MT_FLAG"/>
                <element name="NOTES"/>
                <element name="PMT_INSTR"/>
                <element name="PYMT_C_MAIN_REF"/>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REV_BK_CHG_AMT"/>
                <element name="REV_BK_CHG_CCY"/>
                <element name="SEPARATE_CHG_FLG"/>
                <element name="SERVICE_TYPE_ID_GPI_111"/>
                <element name="SPECIAL_COMM"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_BOOK_RATE"/>
                <element name="TEMP_BUY_RATE"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_SELL_RATE"/>
                <element name="TEMP_TRX_DT"/>
                <element name="TEMP_X103BENECUADD1_59A"/>
                <element name="TEMP_X103BENECUADD2_59A"/>
                <element name="TEMP_X103BENECUADD3_59A"/>
                <element name="TEMP_X103_BENECUACNO59A"/>
                <element name="TEMP_X103_BENECU_NM_59A"/>
                <element name="TRX_CCY"/>
                <element name="UETR_GPI_121"/>
                <element name="VCH_DESC_CR"/>
                <element name="VCH_DESC_DR"/>
                <element name="VCH_RATE_CR"/>
                <element name="VCH_RATE_DR"/>
                <element name="WEB_REF"/>
                <element name="X102_TAG_119"/>
                <element name="X103BENECUADD1_59A"/>
                <element name="X103BENECUADD2_59A"/>
                <element name="X103BENECUADD3_59A"/>
                <element name="X103MEDIBKADD1_56A"/>
                <element name="X103MEDIBKADD2_56A"/>
                <element name="X103MEDIBKADD3_56A"/>
                <element name="X103RECCORRACNO54A"/>
                <element name="X103SENDBKADD1_51A"/>
                <element name="X103SENDBKADD2_51A"/>
                <element name="X103SENDBKADD3_51A"/>
                <element name="X103SENDCORACNO53A"/>
                <element name="X103SENDCORADD153A"/>
                <element name="X103SENDCORADD253A"/>
                <element name="X103SENDCORADD353A"/>
                <element name="X103_50_ADD_BTN"/>
                <element name="X103_50_NOTES"/>
                <element name="X103_50_ORDER_NO"/>
                <element name="X103_51_ADD_BTN"/>
                <element name="X103_51_NOTES"/>
                <element name="X103_51_ORDER_NO"/>
                <element name="X103_52_ADD_BTN"/>
                <element name="X103_52_NOTES"/>
                <element name="X103_52_ORDER_NO"/>
                <element name="X103_53_ADD_BTN"/>
                <element name="X103_53_NOTES"/>
                <element name="X103_53_ORDER_NO"/>
                <element name="X103_54_ADD_BTN"/>
                <element name="X103_54_NOTES"/>
                <element name="X103_54_ORDER_NO"/>
                <element name="X103_56A_BENE_BKBIC"/>
                <element name="X103_56A_BENE_BKBRANCH"/>
                <element name="X103_56_ADD_BTN"/>
                <element name="X103_56_NAT_ID"/>
                <element name="X103_56_NOTES"/>
                <element name="X103_56_ORDER_NO"/>
                <element name="X103_56_PARENT_BANK_TEMP1"/>
                <element name="X103_56_PARENT_BANK_TEMP2"/>
                <element name="X103_56_SERVICES"/>
                <element name="X103_57_ADD_BTN"/>
                <element name="X103_57_NOTES"/>
                <element name="X103_57_ORDER_NO"/>
                <element name="X103_59A_BANK_IDENPOSI"/>
                <element name="X103_59A_IBAN_LENGTH"/>
                <element name="X103_59A_IBAN_NATLEN"/>
                <element name="X103_59_ADD_BTN"/>
                <element name="X103_59_NOTES"/>
                <element name="X103_59_ORDER_NO"/>
                <element name="X103_ACCBKADD1_57A"/>
                <element name="X103_ACCBKADD2_57A"/>
                <element name="X103_ACCBKADD3_57A"/>
                <element name="X103_ACCBKADD4_57A"/>
                <element name="X103_ACC_BKACNO57A"/>
                <element name="X103_ACC_BKID_57A"/>
                <element name="X103_ACC_BKNM_57A"/>
                <element name="X103_ACC_BKSW_57A"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_ADD_BTN"/>
                <element name="X103_B2_BTN"/>
                <element name="X103_B2_NOTES"/>
                <element name="X103_B2_ORDER_NO"/>
                <element name="X103_BENECUACNO59A"/>
                <element name="X103_BENECU_BKSW_59"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_BENECU_OP__DESC__"/>
                <element name="X103_BENECU_OP"/>
                <element name="X103_BENE_IBAN"/>
                <element name="X103_BKOP_CODE_23B"/>
                <element name="X103_BKTOBK_INFO72"/>
                <element name="X103_DET_CHG_71A"/>
                <element name="X103_ENV_CONT_77T"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_ID_50_BTN"/>
                <element name="X103_ID_51_BTN"/>
                <element name="X103_ID_52_BTN"/>
                <element name="X103_ID_53_BTN"/>
                <element name="X103_ID_54_BTN"/>
                <element name="X103_ID_56_BTN"/>
                <element name="X103_ID_57_BTN"/>
                <element name="X103_ID_59_BTN"/>
                <element name="X103_INSTRCODE_23E"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_MEDIBKACNO56A"/>
                <element name="X103_MEDI_BKID_56A"/>
                <element name="X103_MEDI_BKNM_56A"/>
                <element name="X103_MEDI_BKSW_56A"/>
                <element name="X103_ORDBKACNO_52A"/>
                <element name="X103_ORDBKADD1_52A"/>
                <element name="X103_ORDBKADD2_52A"/>
                <element name="X103_ORDBKADD3_52A"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_ID_OP__DESC__"/>
                <element name="X103_ORDCU_ID_OP"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_SW_50A"/>
                <element name="X103_ORD_BKID_52A"/>
                <element name="X103_ORD_BKNM_52A"/>
                <element name="X103_ORD_BKSW_52A"/>
                <element name="X103_RECCHGAMT_71G"/>
                <element name="X103_RECCHGCCY_71G"/>
                <element name="X103_RECCORADD154A"/>
                <element name="X103_RECCORADD254A"/>
                <element name="X103_RECCORADD354A"/>
                <element name="X103_RECCORRID_54A"/>
                <element name="X103_RECCORRNM_54A"/>
                <element name="X103_RECCORRSW_54A"/>
                <element name="X103_REG_REP_77B"/>
                <element name="X103_REMIT_INFO_70"/>
                <element name="X103_SENDBKACNO51A"/>
                <element name="X103_SENDCHGAMT71F"/>
                <element name="X103_SENDCHGCCY71F"/>
                <element name="X103_SENDCORRID53A"/>
                <element name="X103_SENDCORRNM53A"/>
                <element name="X103_SENDCORRSW53A"/>
                <element name="X103_SEND_BKID_51A"/>
                <element name="X103_SEND_BKNM_51A"/>
                <element name="X103_SEND_BKSW_51A"/>
                <element name="X103_SEND_NO_20"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_TAG_50A"/>
                <element name="X103_TAG_51A"/>
                <element name="X103_TAG_52A"/>
                <element name="X103_TAG_53A"/>
                <element name="X103_TAG_54A"/>
                <element name="X103_TAG_56A"/>
                <element name="X103_TAG_57A"/>
                <element name="X103_TAG_59A"/>
                <element name="X103_TAG_B2"/>
                <element name="X103_TIME_INDI_13C"/>
                <element name="X103_TRX_TYPCD_26T"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202_52_ADD_BTN"/>
                <element name="X202_52_BTN"/>
                <element name="X202_52_NOTES"/>
                <element name="X202_52_ORDER_NO"/>
                <element name="X202_53_ADD_BTN"/>
                <element name="X202_53_BTN"/>
                <element name="X202_53_NOTES"/>
                <element name="X202_53_ORDER_NO"/>
                <element name="X202_54_ADD_BTN"/>
                <element name="X202_54_BTN"/>
                <element name="X202_54_NOTES"/>
                <element name="X202_54_ORDER_NO"/>
                <element name="X202_56_ADD_BTN"/>
                <element name="X202_56_BTN"/>
                <element name="X202_56_NOTES"/>
                <element name="X202_56_ORDER_NO"/>
                <element name="X202_57_ADD_BTN"/>
                <element name="X202_57_BTN"/>
                <element name="X202_57_NOTES"/>
                <element name="X202_57_ORDER_NO"/>
                <element name="X202_58_ADD_BTN"/>
                <element name="X202_58_BTN"/>
                <element name="X202_58_NOTES"/>
                <element name="X202_58_ORDER_NO"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_B2_ADD_BTN"/>
                <element name="X202_B2_BTN"/>
                <element name="X202_B2_NOTES"/>
                <element name="X202_B2_ORDER_NO"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BKTOBK_INFO72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TAG_B2"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="lookup63227"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
