EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FinanceSingleRePayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AC_NO"/>
<element name="CFNC_C_AC_TYPE"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_INT_MODE"/>
<element name="CFNC_C_INT_MTHD"/>
<element name="CFNC_C_INT_PAYABLE"/>
<element name="CFNC_C_ORIGIN_MAIN_REF"/>
<element name="CFNC_C_ORIGIN_MODULE"/>
<element name="CFNC_C_ORIGIN_TRX_REF"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_C_TYPE__DESC__"/>
<element name="CFNC_C_TYPE"/>
<element name="CFNC_D_DT"/>
<element name="CFNC_D_DUE_DT"/>
<element name="CFNC_D_LAST_PMT_DT"/>
<element name="CFNC_D_LAST_PMT_DT_ORG"/>
<element name="CFNC_D_PAY_DT"/>
<element name="CFNC_D_TRX_DT"/>
<element name="CFNC_I_BASIC_DAYS"/>
<element name="CFNC_I_DAYS"/>
<element name="CFNC_I_DISCOUNT_DAYS_E"/>
<element name="CFNC_I_DISCOUNT_DAYS_N"/>
<element name="CFNC_I_OVERDUE_DAYS"/>
<element name="CFNC_I_REPAY_TIMES"/>
<element name="CFNC_I_TTL_DAYS"/>
<element name="CFNC_N_AMT_LCCCY"/>
<element name="CFNC_N_AMT_TXCCY"/>
<element name="CFNC_N_BAL"/>
<element name="CFNC_N_BAL_ORG"/>
<element name="CFNC_N_CCY_EXCH_RT"/>
<element name="CFNC_N_LAST_PAID_INT"/>
<element name="CFNC_N_LIBOR_RT"/>
<element name="CFNC_N_MARGIN_RT"/>
<element name="CFNC_N_PAID_INT"/>
<element name="CFNC_N_PAY_AMT"/>
<element name="CFNC_N_PAY_PNLT_INT"/>
<element name="CFNC_N_PCT"/>
<element name="CFNC_N_PNLT_RT"/>
<element name="CFNC_N_REACC_INT"/>
<element name="CFNC_N_RT"/>
<element name="CHNC_I_INT_CHG_DAYS"/>
<element name="C_MODULE"/>
<element name="N_TRX_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
