EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_BuyerSupplierRelationshipCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BSRelationship">
                    <complexType>
                        <sequence>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="BUYR_SCFNET_ID"/>
                            <element name="B_S_RELN_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="RELN_STATUS"/>
                            <element name="SUPLR_CREA_TP"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="SUPLR_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_BOS_ID"/>
                <element name="CUST_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DO_STATUS"/>
                <element name="QR_CD_FLD"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
