EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_Printer_Add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_PAPER_HEIGHT"/>
                            <element name="C_PAPER_WIDTH"/>
                            <element name="C_PRINTER_COPIES"/>
                            <element name="C_PRINTER_IP"/>
                            <element name="C_PRINTER_NAME"/>
                            <element name="C_PRINTER_TYPE"/>
                            <element name="C_PRINTER_VNAME"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="C_USER_ID"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
