EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_ITTCustomerInfoPop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="ACCT_NO"/>
<element name="ACCT_NO_LOOKUP_BTN"/>
<element name="ADD1"/>
<element name="ADD2"/>
<element name="ADD3"/>
<element name="CONTACT_NAME1"/>
<element name="CONTACT_NAME2"/>
<element name="CONTACT_NAME3"/>
<element name="CONTACT_NAME4"/>
<element name="CONTACT_NAME5"/>
<element name="CONTACT_SURNAME1"/>
<element name="CONTACT_SURNAME2"/>
<element name="CONTACT_SURNAME3"/>
<element name="CONTACT_SURNAME4"/>
<element name="CONTACT_SURNAME5"/>
<element name="CR_ACCT_NO"/>
<element name="C_MAIN_REF"/>
<element name="DEFAULT_SSI"/>
<element name="EMAIL"/>
<element name="FAX_INDTY"/>
<element name="FAX_INDTY_EXP_DT"/>
<element name="FAX_INDTY_REV_DT"/>
<element name="FAX_NO"/>
<element name="HIGH_CARE_CUST"/>
<element name="ID_NO"/>
<element name="LOCATION"/>
<element name="LOG_NO"/>
<element name="PAS_NO"/>
<element name="PROD__DESC__"/>
<element name="PROD"/>
<element name="PROD_REF"/>
<element name="RECIEVED_BY_S"/>
<element name="RECIEVED_BY_S_TEMP"/>
<element name="REG_NO"/>
<element name="SETT_INSTR"/>
<element name="SSI_EXPIRY_DT1"/>
<element name="SSI_EXPIRY_DT2"/>
<element name="SSI_REVIEW_DT1"/>
<element name="SSI_REVIEW_DT2"/>
<element name="STAN_INSTR2"/>
<element name="STAN_INSTR3"/>
<element name="STAN_INSTR4"/>
<element name="STAN_INSTR5"/>
<element name="TAX_NO"/>
<element name="TEL_NO_HOME"/>
<element name="VAT_NO"/>
</sequence>
</complexType>
</element>
</schema>
