EE_PARA/EE_PARA/Default/FORM/form_multi_schema_send_to_bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="MESG_TYPE__DESC__"/>
<element name="MESG_TYPE"/>
<element name="NARR_MAIL"/>
<element name="NARR_TAG_79"/>
<element name="SEND_TO_ADD1"/>
<element name="SEND_TO_ADD2"/>
<element name="SEND_TO_ADD3"/>
<element name="SEND_TO_ID"/>
<element name="SEND_TO_ID_BTN"/>
<element name="SEND_TO_LANG"/>
<element name="SEND_TO_NM"/>
<element name="SEND_TO_REF"/>
<element name="SEND_TO_SW_ADD"/>
<element name="SEND_TO_SW_TAG"/>
<element name="SEND_TO_TLX"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
