EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_ProcessPOFromCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CHG_COLL_CCY"/>
                <element name="CHG_COLL_CCY_DEF"/>
                <element name="CHG_COLL_CCY_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_TRX"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_RUN_MODE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="ChgDoDef">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ChgDoTrx">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXCH_RT4"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CB_FEE"/>
                <element name="FA_CB_FEE_CCY"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_COMM_SUM"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_EF_HAN_CHG_PAMT"/>
                <element name="FA_EF_HAN_CHG_SUM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_AMT"/>
                <element name="FA_SEL_AC_CCY"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP_AMT9"/>
                <element name="FA_TRF_FX_RT"/>
                <element name="FA_TRF_REF"/>
                <element name="FA_TTL_AMT_IN_LMT"/>
                <element name="FA_TTL_FIN_RET_BAL"/>
                <element name="FA_TTL_PO_AMT"/>
                <element name="FA_TTL_PO_NO"/>
                <element name="FINC_CCY2"/>
                <element name="MultiDebitSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiDebit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_DR_AC"/>
                                        <element name="C_MLDC_DR_AC_TYPE"/>
                                        <element name="C_MLDC_DR_ADD1"/>
                                        <element name="C_MLDC_DR_ADD2"/>
                                        <element name="C_MLDC_DR_ADD3"/>
                                        <element name="C_MLDC_DR_BK_AC"/>
                                        <element name="C_MLDC_DR_BK_ADD1"/>
                                        <element name="C_MLDC_DR_BK_ADD2"/>
                                        <element name="C_MLDC_DR_BK_ADD3"/>
                                        <element name="C_MLDC_DR_BK_COR_MED"/>
                                        <element name="C_MLDC_DR_BK_ID"/>
                                        <element name="C_MLDC_DR_BK_NAME"/>
                                        <element name="C_MLDC_DR_BK_SW_ADD"/>
                                        <element name="C_MLDC_DR_BK_SW_TAG"/>
                                        <element name="C_MLDC_DR_BRANCH"/>
                                        <element name="C_MLDC_DR_CCY"/>
                                        <element name="C_MLDC_DR_CHG_FLAG"/>
                                        <element name="C_MLDC_DR_COR_MED"/>
                                        <element name="C_MLDC_DR_DEAL"/>
                                        <element name="C_MLDC_DR_EMAIL_ADD"/>
                                        <element name="C_MLDC_DR_FAX_NO"/>
                                        <element name="C_MLDC_DR_ID"/>
                                        <element name="C_MLDC_DR_NAME"/>
                                        <element name="C_MLDC_DR_VAT_NO"/>
                                        <element name="D_MLDC_DR_VAL_DATE"/>
                                        <element name="N_MLDC_DR_AMT_DRCCY"/>
                                        <element name="N_MLDC_DR_AMT_TXCCY"/>
                                        <element name="N_MLDC_DR_CHG_LCCCY"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="F_MLDC_DR_RATE"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_DR_BY"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_DR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="PO_CCY"/>
                <element name="ProcessPO">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_EF_COMM_AMT"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_EF_HAN_CHG_PAMT"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_PMT_CLEAR_TYPE__DESC__"/>
                            <element name="FA_PMT_CLEAR_TYPE"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TRF_FX_RT"/>
                            <element name="GOODS_DESC"/>
                            <element name="PO_AMT"/>
                            <element name="PO_CCY"/>
                            <element name="PO_DT"/>
                            <element name="PO_DUE_DT"/>
                            <element name="PO_NO"/>
                            <element name="PO_REF"/>
                            <element name="PO_STATUS"/>
                            <element name="PO_VAL_DT"/>
                            <element name="TRX_DT"/>
                            <element name="TSUR2_TRX_STATUS"/>
                            <element name="TSU_BK_BPO_FLG"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_C_MAIN_REF"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_TTL_NET_AMT"/>
                            <element name="TTL_OBLIG_AMT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_BUYER_ID__DESC__"/>
                <element name="TEMP_BUYER_ID"/>
                <element name="TEMP_CHAR6"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
