EE_PARA/EE_PARA/Default/FORM/form_schema_DISC_Dom_InvPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_FINAL_PMT_FLG__DESC__"/>
                <element name="FA_FINAL_PMT_FLG"/>
                <element name="FA_INT_BAL"/>
                <element name="FA_INT_CHG_TYPE__DESC__"/>
                <element name="FA_INT_CHG_TYPE"/>
                <element name="FA_INV_AMT"/>
                <element name="FA_INV_BAL"/>
                <element name="FA_INV_CCY"/>
                <element name="FA_INV_DT"/>
                <element name="FA_INV_DUE_DT"/>
                <element name="FA_INV_EVENT_DT"/>
                <element name="FA_INV_LOAN_BAL"/>
                <element name="FA_INV_LOAN_ID"/>
                <element name="FA_INV_LOAN_TIMES"/>
                <element name="FA_INV_NO"/>
                <element name="FA_INV_PMT_TIMES"/>
                <element name="FA_INV_REF"/>
                <element name="FA_INV_STATUS"/>
                <element name="FA_INV_VAL_DT"/>
                <element name="FA_LAST_PINT_DT"/>
                <element name="FA_LOAN_CCY"/>
                <element name="FA_LOAN_INT_AMT"/>
                <element name="FA_OVDUE_INT_RT"/>
                <element name="FA_OVD_INT_AMT"/>
                <element name="FA_PAID_INT_AMT"/>
                <element name="FA_PAID_PRIN_AMT"/>
                <element name="FA_PMT_AMT"/>
                <element name="FA_PMT_CCY"/>
                <element name="FA_PMT_DT"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_PMT_VAL_DT"/>
                <element name="FA_RPT_PAID_AMT"/>
                <element name="FA_SUM_PERCENT"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP_AMT15"/>
                <element name="FA_TEMP_AMT8"/>
                <element name="FA_TEMP_DT1"/>
                <element name="IA_C_UNIT_OF_CRT"/>
                <element name="TEMP_DATE1"/>
                <element name="TEMP_DATE2"/>
                <element name="TEMP_INV_BAL"/>
                <element name="TEMP_LAST_PINT_DT"/>
                <element name="TEMP_LOAN_BAL"/>
                <element name="TEMP_PMT_TIMES"/>
            </sequence>
        </complexType>
    </element>
</schema>
