EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_ATRecoverAdditionalCharges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AUDIT_CODE"/>
                            <element name="AUDT_DESC"/>
                            <element name="AUDT_FUNCTION"/>
                            <element name="AUDT_INSERTED_TMSTAMP"/>
                            <element name="AUDT_MAIN_REF"/>
                            <element name="AUDT_OP_ID"/>
                            <element name="AUDT_SUB_TYPE"/>
                            <element name="AUDT_TRX_REF"/>
                            <element name="AUDT_TYPE"/>
                            <element name="BALANCECHECK_RESPONSE"/>
                            <element name="BANK_ID"/>
                            <element name="BANK_NAME"/>
                            <element name="BENE_AC_TYPE__DESC__"/>
                            <element name="BENE_AC_TYPE"/>
                            <element name="CASH_IND_CHK"/>
                            <element name="CCY_CUTOFF_DAY"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY"/>
                            <element name="COUNTRY"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_REF"/>
                            <element name="CUTOFF_DAY"/>
                            <element name="CUTOFF_REF"/>
                            <element name="CUTOFF_TIME"/>
                            <element name="C_ACCT_WITH_ID"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MODULE"/>
                            <element name="C_MSG_ID"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DUP_CHK"/>
                            <element name="FIELD_1_X"/>
                            <element name="FIELD_6_X"/>
                            <element name="FIELDs"/>
                            <element name="GAPI_IND_FLG"/>
                            <element name="HELP_LINK_URL"/>
                            <element name="INT_ACCOUNTCOUNT"/>
                            <element name="INT_ACCT_CUNT"/>
                            <element name="INT_ACT1"/>
                            <element name="INT_ACT1_CCY"/>
                            <element name="INT_ACT1_STATUS"/>
                            <element name="INT_ACT1_TYPE"/>
                            <element name="INT_ACT2"/>
                            <element name="INT_ACT2_CCY"/>
                            <element name="INT_ACT2_STATUS"/>
                            <element name="INT_ACT2_TYPE"/>
                            <element name="INT_ACT3"/>
                            <element name="INT_ACT3_CCY"/>
                            <element name="INT_ACT3_STATUS"/>
                            <element name="INT_ACT3_TYPE"/>
                            <element name="INT_ACT4"/>
                            <element name="INT_ACT4_CCY"/>
                            <element name="INT_ACT4_STATUS"/>
                            <element name="INT_ACT4_TYPE"/>
                            <element name="INT_ACT5"/>
                            <element name="INT_ACT5_CCY"/>
                            <element name="INT_ACT5_STATUS"/>
                            <element name="INT_ACT5_TYPE"/>
                            <element name="INT_ACT6"/>
                            <element name="INT_ACT6_CCY"/>
                            <element name="INT_ACT6_STATUS"/>
                            <element name="INT_ACT6_TYPE"/>
                            <element name="INT_AC_IDENTIFIER"/>
                            <element name="INT_AMT1"/>
                            <element name="INT_AMT2"/>
                            <element name="INT_AMT3"/>
                            <element name="INT_AMT4"/>
                            <element name="INT_AMT5"/>
                            <element name="INT_AMT6"/>
                            <element name="INT_BALANCECHECK_RESPONSE"/>
                            <element name="INT_BKGROUPID"/>
                            <element name="INT_CASH_IND1"/>
                            <element name="INT_CASH_IND2"/>
                            <element name="INT_CASH_IND3"/>
                            <element name="INT_CASH_IND4"/>
                            <element name="INT_CASH_IND5"/>
                            <element name="INT_CASH_IND6"/>
                            <element name="INT_CUST_ID"/>
                            <element name="INT_CUST_INFO"/>
                            <element name="INT_C_MAIN_REF"/>
                            <element name="INT_FOR_BANK_SW"/>
                            <element name="INT_I_EVENT_TIMES"/>
                            <element name="INT_ORDER_LINE"/>
                            <element name="INT_OVERRIDE_IND1"/>
                            <element name="INT_OVERRIDE_IND2"/>
                            <element name="INT_OVERRIDE_IND3"/>
                            <element name="INT_OVERRIDE_IND4"/>
                            <element name="INT_OVERRIDE_IND5"/>
                            <element name="INT_OVERRIDE_IND6"/>
                            <element name="INT_RESPONCECOUNT"/>
                            <element name="INT_RESPONSE"/>
                            <element name="INT_RESTRO_IND"/>
                            <element name="INT_REVERSAL_IND"/>
                            <element name="INT_SW_DETAILS"/>
                            <element name="INW_X103_DET_CHG_71A"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MD_I"/>
                            <element name="NXT_STATUS"/>
                            <element name="OLDVALUES"/>
                            <element name="OLDVALUES_ACC"/>
                            <element name="OLDVALUES_COVERNO"/>
                            <element name="OLDVALUES_OVR"/>
                            <element name="OVER_DRW_CHK"/>
                            <element name="PRIORITY"/>
                            <element name="PRODREF"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="REVE_IND"/>
                            <element name="SECOND_CHG_AMT"/>
                            <element name="SETT_ACC_AUDIT"/>
                            <element name="SETT_ACC_AUDIT1"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUSP_AC"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_RESULT2"/>
                            <element name="TRX_HISTORY_TEMP"/>
                            <element name="TWO_DAYS_BACK"/>
                            <element name="VAT_IND1"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X103_VALUE_DT_32A"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
