EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYST_MsgViewList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="STP_CURR_ADBIC_LC"/>
                            <element name="STP_CURR_MESSAGE_TYPE"/>
                            <element name="STP_CURR_MSG_CONTENT"/>
                            <element name="STP_CURR_RECV_TIME"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
