EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ABLF_PartyRegion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="PARTY_ID"/>
<element name="REGION_CODE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
