EE_PARA/EE_PARA/Default/FORM/form_schema_ReversalPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_CR_BK_AC"/>
<element name="CPYT_CR_BK_AC_BTN"/>
<element name="CR_AMT"/>
<element name="CR_CCY"/>
<element name="C_MAIN_REF"/>
<element name="C_MAIN_REF_FRE"/>
<element name="DB_AMT"/>
<element name="DB_CCY"/>
<element name="ORG_CR_AMT"/>
<element name="ORG_DB_AMT"/>
<element name="ORIG_IBAN_VALID"/>
<element name="X103_BENECU_ID_59A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_VALUE_DT_32A"/>
</sequence>
</complexType>
</element>
</schema>
