EE_PARA/EE_PARA/Default/FORM/form_schema_Std_IAAC_RateTableValue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_RAT_REV"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_RATE_ID"/>
                <element name="C_UNIT_CODE"/>
                <element name="D_VAL_DATE"/>
                <element name="N_RAT_DESC1"/>
                <element name="N_RAT_DESC2"/>
                <element name="N_RAT_DESC3"/>
                <element name="N_RAT_DESC4"/>
                <element name="N_RAT_DESC5"/>
                <element name="N_RAT_DESC6"/>
                <element name="N_RAT_DESC7"/>
                <element name="N_RAT_DESC8"/>
                <element name="N_RAT_VAL1"/>
                <element name="N_RAT_VAL2"/>
                <element name="N_RAT_VAL3"/>
                <element name="N_RAT_VAL4"/>
                <element name="N_RAT_VAL5"/>
                <element name="N_RAT_VAL6"/>
                <element name="N_RAT_VAL7"/>
                <element name="N_RAT_VAL8"/>
                <element name="RateTable"/>
                <element name="SYS_FUNCTION_TYPE"/>
                <element name="Submit"/>
                <element name="if_rate"/>
            </sequence>
        </complexType>
    </element>
</schema>
