EE_PARA/EE_PARA/Default/FORM/form_schema_CCHG_CentralCollectScreen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_ACCOUNT"/>
                <element name="CHG_FOREIGN_CCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="C_MAIN_REF"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DRWE_ID"/>
                <element name="DRWE_NM"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_NM"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_RESULT"/>
            </sequence>
        </complexType>
    </element>
</schema>
