EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_IN_EDI_19.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_BUSI_FUNC__DESC__"/>
                <element name="FA_BUSI_FUNC"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_END_DT"/>
                <element name="FA_END_REASON__DESC__"/>
                <element name="FA_END_REASON"/>
                <element name="FA_EXTEND_DT"/>
                <element name="FA_EXTEND_TIMES"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_NO_OF_COUNTER"/>
                <element name="FA_ORG_DUE_DT"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_NM2"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_VALID_DAYS"/>
                <element name="LM_RSV_LINK"/>
                <element name="QR_CD_FLD"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
