EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ABLF_Financing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BASE_RT_TP__DESC__"/>
                            <element name="BASE_RT_TP"/>
                            <element name="CCY"/>
                            <element name="CHARGE"/>
                            <element name="CHARGE_AMT"/>
                            <element name="CHARGE_CCY"/>
                            <element name="CHARGE_RT"/>
                            <element name="CHARGE_TP__DESC__"/>
                            <element name="CHARGE_TP"/>
                            <element name="CHG_COLL_CCY"/>
                            <element name="CHG_COLL_CCY_DEF"/>
                            <element name="CHG_COLL_CCY_TRX"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT_DEF"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT_TRX"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR_DEF"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR_TRX"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_RUN_MODE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CNTR_STATUS__DESC__"/>
                            <element name="CNTR_STATUS"/>
                            <element name="CUST_CR_AMT"/>
                            <element name="C_MAIN_REF"/>
                            <element name="ChgDoDef">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BLANK"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMM_START_DATE"/>
                                        <element name="CHG_COMM_UPTO_DATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_FLD_HIDDEN_FLAG"/>
                                        <element name="CHG_FLD_ORIG_CALC_AMT"/>
                                        <element name="CHG_FLD_ORIG_CALC_CCY"/>
                                        <element name="CHG_FLD_OVERRIDE"/>
                                        <element name="CHG_ID"/>
                                        <element name="CHG_INDEX"/>
                                        <element name="CHG_IS_OVERRIDE"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_RATE_ID"/>
                                        <element name="CHG_RULE_AMT"/>
                                        <element name="CHG_RULE_CCY"/>
                                        <element name="CHG_RULE_ID"/>
                                        <element name="CHG_VAT_RATE"/>
                                        <element name="CHG_VAT_TYPE"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ChgDoTrx">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BLANK"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMM_START_DATE"/>
                                        <element name="CHG_COMM_UPTO_DATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_FLD_HIDDEN_FLAG"/>
                                        <element name="CHG_FLD_ORIG_CALC_AMT"/>
                                        <element name="CHG_FLD_ORIG_CALC_CCY"/>
                                        <element name="CHG_FLD_OVERRIDE"/>
                                        <element name="CHG_ID"/>
                                        <element name="CHG_INDEX"/>
                                        <element name="CHG_IS_OVERRIDE"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_RATE_ID"/>
                                        <element name="CHG_RULE_AMT"/>
                                        <element name="CHG_RULE_CCY"/>
                                        <element name="CHG_RULE_ID"/>
                                        <element name="CHG_VAT_RATE"/>
                                        <element name="CHG_VAT_TYPE"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Collateral">
                                <complexType>
                                    <sequence>
                                        <element name="ARRIVAL_DATE"/>
                                        <element name="COLLAT_CCY"/>
                                        <element name="COLLAT_FACT"/>
                                        <element name="COLLAT_ID"/>
                                        <element name="COLLAT_NM"/>
                                        <element name="COLLAT_PRICE"/>
                                        <element name="COLLAT_QTY"/>
                                        <element name="COLLAT_RD_PRICE"/>
                                        <element name="COLLAT_SPEC"/>
                                        <element name="COLLAT_TP"/>
                                        <element name="COLLAT_UNIT"/>
                                        <element name="COLLAT_VAL"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FA_CNTR_REF"/>
                                        <element name="QTY"/>
                                        <element name="QTY_UNIT"/>
                                        <element name="REG_NO"/>
                                        <element name="WEIGHT"/>
                                        <element name="WEIGHT_UNIT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXCH_RATE"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_CUST_ID"/>
                            <element name="FA_CUST_NM"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_LAST_PINT_DT"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_LOAN_CCY"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_EXCH"/>
                            <element name="FA_LOAN_ID"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_STATUS"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TEMP_AMT7"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TTL_LOAN_AMT"/>
                            <element name="FA_TTL_LOAN_BAL"/>
                            <element name="FLAT_RT"/>
                            <element name="IA_C_BORROWER_ID"/>
                            <element name="IA_C_CCY_CODE"/>
                            <element name="IA_C_FUNCTION_ID"/>
                            <element name="IA_C_UNIT_OF_CRT"/>
                            <element name="IA_D_DUE_DATE"/>
                            <element name="IA_D_TRX_VALDATE"/>
                            <element name="IA_I_BASE_DAYS"/>
                            <element name="IA_I_CCY_DEC"/>
                            <element name="IA_I_DISCOUNT_DAYS"/>
                            <element name="IA_N_DISCOUNT_RATE"/>
                            <element name="IA_Y_REACC_INT"/>
                            <element name="IA_Y_TRX_AMT"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CSL_DESC"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="LOAN_BAL"/>
                            <element name="LOAN_BAL_LMT"/>
                            <element name="LOAN_TIMES"/>
                            <element name="MAX_DEC_PERC"/>
                            <element name="MAX_INC_PERC"/>
                            <element name="MultiCreditSummary">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_MLDC_CCY"/>
                                        <element name="C_MLDC_DESC"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_PROTECT_FLAG"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="I_MLDC_MERGE_TYPE"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="N_MLDC_AMT"/>
                                        <element name="MultiCredit">
                                            <complexType>
                                                <sequence>
                                                    <element name="C_MAIN_REF"/>
                                                    <element name="C_TRX_REF"/>
                                                    <element name="C_UNIT_CODE"/>
                                                    <element name="I_EVENT_TIMES"/>
                                                    <element name="C_TRX_CCY"/>
                                                    <element name="I_MLDC_IDX"/>
                                                    <element name="C_MLDC_ANNGN_VAT_NO"/>
                                                    <element name="C_MLDC_ASSGN_AC"/>
                                                    <element name="C_MLDC_ASSGN_ADD1"/>
                                                    <element name="C_MLDC_ASSGN_ADD2"/>
                                                    <element name="C_MLDC_ASSGN_ADD3"/>
                                                    <element name="C_MLDC_ASSGN_COR_MED"/>
                                                    <element name="C_MLDC_ASSGN_EMAIL_ADD"/>
                                                    <element name="C_MLDC_ASSGN_FAX_NO"/>
                                                    <element name="C_MLDC_ASSGN_ID"/>
                                                    <element name="C_MLDC_ASSGN_NM"/>
                                                    <element name="C_MLDC_CR_AC"/>
                                                    <element name="C_MLDC_CR_AC_TYPE"/>
                                                    <element name="C_MLDC_CR_BK_AC"/>
                                                    <element name="C_MLDC_CR_BK_ADD1"/>
                                                    <element name="C_MLDC_CR_BK_ADD2"/>
                                                    <element name="C_MLDC_CR_BK_ADD3"/>
                                                    <element name="C_MLDC_CR_BK_COR_MED"/>
                                                    <element name="C_MLDC_CR_BK_ID"/>
                                                    <element name="C_MLDC_CR_BK_NAME"/>
                                                    <element name="C_MLDC_CR_BK_SW_ADD"/>
                                                    <element name="C_MLDC_CR_BK_SW_TAG"/>
                                                    <element name="C_MLDC_CR_BRANCH"/>
                                                    <element name="C_MLDC_CR_CCY"/>
                                                    <element name="C_MLDC_CR_DEAL"/>
                                                    <element name="F_MLDC_CR_RATE"/>
                                                    <element name="F_MLDC_DR_BUY_RATE"/>
                                                    <element name="D_MLDC_CR_VAL_DATE"/>
                                                    <element name="N_MLDC_CR_AMT_CRCCY"/>
                                                    <element name="N_MLDC_CR_AMT_TXCCY"/>
                                                    <element name="C_MLDC_NOSTRO_AC"/>
                                                    <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                                    <element name="C_MLDC_PAY_ADV_MSG"/>
                                                    <element name="C_MLDC_PAY_COV_MSG"/>
                                                    <element name="C_MLDC_SETTLE_METHOD"/>
                                                    <element name="C_MLDC_UNPAID_FLAG"/>
                                                    <element name="C_MLDC_VOSTRO_AC"/>
                                                    <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                                    <element name="I_MLDC_SEQ"/>
                                                    <element name="C_MLDC_CR_PER"/>
                                                    <element name="C_MLDC_FROM"/>
                                                    <element name="N_MLDC_CR_CHG_LCCCY"/>
                                                    <element name="N_MLDC_EXCH_FAVAMT"/>
                                                    <element name="C_MLDC_CCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="MultiDebitSummary">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_MLDC_CCY"/>
                                        <element name="C_MLDC_DESC"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_PROTECT_FLAG"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="I_MLDC_MERGE_TYPE"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="N_MLDC_AMT"/>
                                        <element name="MultiDebit">
                                            <complexType>
                                                <sequence>
                                                    <element name="C_MAIN_REF"/>
                                                    <element name="C_TRX_REF"/>
                                                    <element name="C_UNIT_CODE"/>
                                                    <element name="I_EVENT_TIMES"/>
                                                    <element name="C_TRX_CCY"/>
                                                    <element name="I_MLDC_IDX"/>
                                                    <element name="C_MLDC_DR_AC"/>
                                                    <element name="C_MLDC_DR_AC_TYPE"/>
                                                    <element name="C_MLDC_DR_ADD1"/>
                                                    <element name="C_MLDC_DR_ADD2"/>
                                                    <element name="C_MLDC_DR_ADD3"/>
                                                    <element name="C_MLDC_DR_BK_AC"/>
                                                    <element name="C_MLDC_DR_BK_ADD1"/>
                                                    <element name="C_MLDC_DR_BK_ADD2"/>
                                                    <element name="C_MLDC_DR_BK_ADD3"/>
                                                    <element name="C_MLDC_DR_BK_COR_MED"/>
                                                    <element name="C_MLDC_DR_BK_ID"/>
                                                    <element name="C_MLDC_DR_BK_NAME"/>
                                                    <element name="C_MLDC_DR_BK_SW_ADD"/>
                                                    <element name="C_MLDC_DR_BK_SW_TAG"/>
                                                    <element name="C_MLDC_DR_BRANCH"/>
                                                    <element name="C_MLDC_DR_CCY"/>
                                                    <element name="C_MLDC_DR_CHG_FLAG"/>
                                                    <element name="C_MLDC_DR_COR_MED"/>
                                                    <element name="C_MLDC_DR_DEAL"/>
                                                    <element name="C_MLDC_DR_EMAIL_ADD"/>
                                                    <element name="C_MLDC_DR_FAX_NO"/>
                                                    <element name="C_MLDC_DR_ID"/>
                                                    <element name="C_MLDC_DR_NAME"/>
                                                    <element name="C_MLDC_DR_VAT_NO"/>
                                                    <element name="D_MLDC_DR_VAL_DATE"/>
                                                    <element name="N_MLDC_DR_AMT_DRCCY"/>
                                                    <element name="N_MLDC_DR_AMT_TXCCY"/>
                                                    <element name="N_MLDC_DR_CHG_LCCCY"/>
                                                    <element name="F_MLDC_DR_BUY_RATE"/>
                                                    <element name="F_MLDC_DR_RATE"/>
                                                    <element name="N_MLDC_EXCH_FAVAMT"/>
                                                    <element name="C_MLDC_NOSTRO_AC"/>
                                                    <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                                    <element name="C_MLDC_PAY_DR_BY"/>
                                                    <element name="C_MLDC_UNPAID_FLAG"/>
                                                    <element name="C_MLDC_VOSTRO_AC"/>
                                                    <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                                    <element name="I_MLDC_SEQ"/>
                                                    <element name="C_MLDC_DR_PER"/>
                                                    <element name="C_MLDC_FROM"/>
                                                    <element name="C_MLDC_CCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="REG_AMT"/>
                            <element name="REG_DEDUCT_LMT__DESC__"/>
                            <element name="REG_DEDUCT_LMT"/>
                            <element name="REG_INSPEC_ID"/>
                            <element name="REG_INSPEC_NM"/>
                            <element name="REG_INSPEC_NO"/>
                            <element name="REG_INSPEC_TP__DESC__"/>
                            <element name="REG_INSPEC_TP"/>
                            <element name="REG_LOAN_BAL"/>
                            <element name="REG_LOWEST_VAL"/>
                            <element name="REG_NO"/>
                            <element name="SPRD_RT"/>
                            <element name="TEMP_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_LOAN_AVL"/>
                            <element name="VAL_REL_FLG__DESC__"/>
                            <element name="VAL_REL_FLG"/>
                            <element name="WAREHOUSE"/>
                            <element name="WAREHOUSE_ADDRESS"/>
                            <element name="WAREHOUSE_MAN"/>
                            <element name="WAREHOUSE_NM"/>
                            <element name="XBOR_RT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
