EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_ProcessBaselineAcceptance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="R2DatasetRequired">
<complexType>
<sequence>
<element name="CommercialDataSetRequired">
<complexType>
<sequence>
<element name="R2DataSetReqrdSubmitr">
<complexType>
<sequence>
<element name="TSU_DS_SUBMIT_BIC"/>
<element name="TSU_DS_SUBMIT_ID"/>
<element name="TSU_DS_SUBMIT_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="TransportDataSetRequired">
<complexType>
<sequence>
<element name="R2DataSetReqrdSubmitr">
<complexType>
<sequence>
<element name="TSU_DS_SUBMIT_BIC"/>
<element name="TSU_DS_SUBMIT_ID"/>
<element name="TSU_DS_SUBMIT_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="InsuranceDataSetRequired">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSU_MTCH_ISS_FLG"/>
<element name="TSU_MTCH_ISS_ID"/>
<element name="TSU_MTCH_ISS_IDTP"/>
<element name="TSU_MTCH_ISS_NM"/>
<element name="TSU_MTCH_ISS_CTRY"/>
<element name="TSU_MTCH_ISS_DTTM"/>
<element name="TSU_MTCH_TRNS"/>
<element name="TSU_MTCH_AMT"/>
<element name="TSU_MTCH_ASSRD_PTY"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_SEQ_NUM"/>
<element name="R2DataSetReqrdSubmitr">
<complexType>
<sequence>
<element name="TSU_DS_SUBMIT_BIC"/>
<element name="TSU_DS_SUBMIT_ID"/>
<element name="TSU_DS_SUBMIT_NM"/>
</sequence>
</complexType>
</element>
<element name="R2ClausesReqrd">
<complexType>
<sequence>
<element name="TSU_CLAUS_REQRD"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="CertificateDataSetRequired">
<complexType>
<sequence>
<element name="TSU_CERT_TP"/>
<element name="TSU_MTCH_ISS_FLG"/>
<element name="TSU_MTCH_ISS_DTTM"/>
<element name="TSU_MTCH_ISS_ID"/>
<element name="TSU_MTCH_ISS_IDTP"/>
<element name="TSU_MTCH_ISS_NM"/>
<element name="TSU_MTCH_ISS_CTRY"/>
<element name="TSU_MTCH_MAUF_NM"/>
<element name="TSU_MTCH_INSPC_DTTM"/>
<element name="TSU_MTCH_CONSGN"/>
<element name="TSU_AUTH_INSPC_IND"/>
<element name="TSU_MANUF_ID"/>
<element name="TSU_MANUF_IDTP"/>
<element name="TSU_MANUF_CTRY"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_SEQ_NUM"/>
<element name="R2DataSetReqrdSubmitr">
<complexType>
<sequence>
<element name="TSU_DS_SUBMIT_BIC"/>
<element name="TSU_DS_SUBMIT_ID"/>
<element name="TSU_DS_SUBMIT_NM"/>
</sequence>
</complexType>
</element>
<element name="R2LineItmId">
<complexType>
<sequence>
<element name="TSU_LNITMNB"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="OtherCertificateDataSetRequired">
<complexType>
<sequence>
<element name="TSU_OTCERT_TP"/>
<element name="R2DataSetReqrdSubmitr">
<complexType>
<sequence>
<element name="TSU_DS_SUBMIT_BIC"/>
<element name="TSU_DS_SUBMIT_ID"/>
<element name="TSU_DS_SUBMIT_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2Goods">
<complexType>
<sequence>
<element name="TSU_PO_ID"/>
<element name="TSU_PO_DT"/>
<element name="TSU_CCY"/>
<element name="TSU_PO_INITIATOR"/>
<element name="TSU_TRAN_SHIPMNT"/>
<element name="TSU_PRTL_SHIPMNT"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_LATST_SHIP_DT"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_GOODS_DESC"/>
<element name="TSU_LINE_TTL_APAMT"/>
<element name="TSU_LINE_TTL_ORAMT"/>
<element name="TSU_LINE_TTL_OUAMT"/>
<element name="TSU_LINE_TTL_PDAMT"/>
<element name="TSU_TTL_NET_APAMT"/>
<element name="TSU_TTL_NET_ORAMT"/>
<element name="TSU_TTL_NET_OUAMT"/>
<element name="TSU_TTL_NET_PDAMT"/>
<element name="TSU_EARLST_SHIP_DT"/>
<element name="TSU_ACCUM_NET_AMT"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="R2LineItemDetails7">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PDCTNM"/>
<element name="TSUR2_QTY_UNIT_CD"/>
<element name="TSU_QTY_OTUNIT"/>
<element name="TSU_QTY_VAL"/>
<element name="TSU_QTY_FCTR"/>
<element name="TSU_QTYTLRN_MPCT"/>
<element name="TSU_QTYTLRN_PPCT"/>
<element name="TSUR2_UNTPRIC_CD"/>
<element name="TSU_UNTPRIC_OTUNIT"/>
<element name="TSU_UNITPRIC_PPCT"/>
<element name="TSU_UNITPRIC_MPCT"/>
<element name="TSU_UNITPRIC_AMT"/>
<element name="TSU_UNITPRIC_FCTR"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_CCY"/>
<element name="TSU_TTL_AMT"/>
<element name="TSU_QTY_ORVAL"/>
<element name="TSU_QTY_ORFCTR"/>
<element name="TSU_QTY_OUVAL"/>
<element name="TSU_QTY_OUFCTR"/>
<element name="TSU_QTY_APVAL"/>
<element name="TSU_QTY_APFCTR"/>
<element name="TSU_QTY_PDFCTR"/>
<element name="TSU_QTY_PDVAL"/>
<element name="TSU_TTL_ORAMT"/>
<element name="TSU_TTL_OUAMT"/>
<element name="TSU_TTL_PDAMT"/>
<element name="TSU_TTL_APAMT"/>
<element name="TSU_PO_ID"/>
<element name="ProductIdentifier">
<complexType>
<sequence>
<element name="TSU_PDC_TP"/>
<element name="TSU_PDC_DESC"/>
<element name="TSU_PDC_OTID"/>
<element name="TSU_PDC_OTTP"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="C_TRX_REF"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PO_ID"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_PDC_NO"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="ProductCharacteristics">
<complexType>
<sequence>
<element name="TSU_PDC_TP"/>
<element name="TSU_PDC_OTTP"/>
<element name="TSU_PDC_OTID"/>
<element name="TSU_PDC_DESC"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="C_TRX_REF"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PO_ID"/>
<element name="TSU_PDC_NO"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="ProductCategory">
<complexType>
<sequence>
<element name="TSU_PDC_OTID"/>
<element name="TSU_PDC_OTTP"/>
<element name="TSU_PDC_TP"/>
<element name="TSU_PDC_DESC"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="C_TRX_REF"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PO_ID"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_PDC_NO"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="ProductOrigin">
<complexType>
<sequence>
<element name="TSU_PDCTORGN"/>
</sequence>
</complexType>
</element>
<element name="R2ShipmntSchdl">
<complexType>
<sequence>
<element name="R2ShipmntDtRg">
<complexType>
<sequence>
<element name="TSU_EARLST_SHIP_DT"/>
<element name="TSU_LATST_SHIP_DT"/>
</sequence>
</complexType>
</element>
<element name="R2ShipmntSubSchdl">
<complexType>
<sequence>
<element name="TSU_SUB_QTY"/>
<element name="TSU_LATST_SHIP_DT"/>
<element name="TSU_EARLST_SHIP_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2RoutingSummary">
<complexType>
<sequence>
<element name="R2IndvTrnsprt">
<complexType>
<sequence>
<element name="R2TransportByAir">
<complexType>
<sequence>
<element name="TSU_AIR_CARR_NM"/>
<element name="DprtureAirprt">
<complexType>
<sequence>
<element name="TSU_RTG_DP_AIRCD"/>
<element name="TSU_RTG_DP_AIRNM"/>
<element name="TSU_RTG_DP_AIRTWN"/>
</sequence>
</complexType>
</element>
<element name="DstnAirprt">
<complexType>
<sequence>
<element name="TSU_RTG_DT_AIRCD"/>
<element name="TSU_RTG_DT_AIRNM"/>
<element name="TSU_RTG_DT_AIRTWN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2TransportBySea">
<complexType>
<sequence>
<element name="TSU_SEA_CARR_NM"/>
<element name="PortOfLoadng">
<complexType>
<sequence>
<element name="TSU_RTG_PORT_LOAD"/>
</sequence>
</complexType>
</element>
<element name="PortOfDschrge">
<complexType>
<sequence>
<element name="TSU_RTG_PORT_DSCH"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2TransportByRoad">
<complexType>
<sequence>
<element name="TSU_ROAD_CARR_NM"/>
<element name="PlcOfRct">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_RCT"/>
</sequence>
</complexType>
</element>
<element name="PlcOfDlvry">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_DLV"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2TransportByRail">
<complexType>
<sequence>
<element name="TSU_RAIL_CARR_NM"/>
<element name="PlcOfRct">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_RCT"/>
</sequence>
</complexType>
</element>
<element name="PlcOfDlvry">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_DLV"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2MltmdlTrnsprt">
<complexType>
<sequence>
<element name="TSU_RTG_TAK_CHG"/>
<element name="TSU_RTG_FNL_DSTN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="Incoterms1">
<complexType>
<sequence>
<element name="TSU_IDX"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_INCOTMS_LCTN"/>
<element name="TSU_CCY"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="Adjustmtents">
<complexType>
<sequence>
<element name="TSU_ADJUST_DRCTN"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IDX"/>
<element name="TSU_CCY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_LNITMNB"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="FrghtChrgs">
<complexType>
<sequence>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_PO_ID"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_CCY"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="Tax3">
<complexType>
<sequence>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PO_ID"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_CCY"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2RoutingSummary">
<complexType>
<sequence>
<element name="R2IndvTrnsprt">
<complexType>
<sequence>
<element name="R2TransportByAir">
<complexType>
<sequence>
<element name="TSU_AIR_CARR_NM"/>
<element name="DprtureAirprt">
<complexType>
<sequence>
<element name="TSU_RTG_DP_AIRCD"/>
<element name="TSU_RTG_DP_AIRNM"/>
<element name="TSU_RTG_DP_AIRTWN"/>
</sequence>
</complexType>
</element>
<element name="DstnAirprt">
<complexType>
<sequence>
<element name="TSU_RTG_DT_AIRCD"/>
<element name="TSU_RTG_DT_AIRNM"/>
<element name="TSU_RTG_DT_AIRTWN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2TransportBySea">
<complexType>
<sequence>
<element name="TSU_SEA_CARR_NM"/>
<element name="PortOfLoadng">
<complexType>
<sequence>
<element name="TSU_RTG_PORT_LOAD"/>
</sequence>
</complexType>
</element>
<element name="PortOfDschrge">
<complexType>
<sequence>
<element name="TSU_RTG_PORT_DSCH"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2TransportByRoad">
<complexType>
<sequence>
<element name="TSU_ROAD_CARR_NM"/>
<element name="PlcOfRct">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_RCT"/>
</sequence>
</complexType>
</element>
<element name="PlcOfDlvry">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_DLV"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2TransportByRail">
<complexType>
<sequence>
<element name="TSU_RAIL_CARR_NM"/>
<element name="PlcOfRct">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_RCT"/>
</sequence>
</complexType>
</element>
<element name="PlcOfDlvry">
<complexType>
<sequence>
<element name="TSU_RTG_PLC_DLV"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2MltmdlTrnsprt">
<complexType>
<sequence>
<element name="TSU_RTG_TAK_CHG"/>
<element name="TSU_RTG_FNL_DSTN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="Incoterms1">
<complexType>
<sequence>
<element name="TSU_IDX"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_INCOTMS_LCTN"/>
<element name="TSU_CCY"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="Adjustmtents">
<complexType>
<sequence>
<element name="TSU_ADJUST_DRCTN"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IDX"/>
<element name="TSU_CCY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_LNITMNB"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="FrghtChrgs">
<complexType>
<sequence>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_PO_ID"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_CCY"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="Tax3">
<complexType>
<sequence>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PO_ID"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_CCY"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2InvolvedPartyInfo">
<complexType>
<sequence>
<element name="BuyerBank">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="CUST_ID"/>
<element name="ContactIdentification1">
<complexType>
<sequence>
<element name="TSU_CONT_NM"/>
<element name="TSU_CONT_NMPRFX"/>
<element name="TSU_CONT_EMAIL"/>
<element name="TSU_CONT_FAX"/>
<element name="TSU_CONT_GVNNM"/>
<element name="TSU_CONT_TEL"/>
<element name="TSU_CONT_ROLE"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_CONT_ID"/>
<element name="TSU_OT_BK_BIC"/>
<element name="I_EVENT_TIMES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="SellerBank">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="CUST_ID"/>
<element name="ContactIdentification1">
<complexType>
<sequence>
<element name="TSU_CONT_NM"/>
<element name="TSU_CONT_NMPRFX"/>
<element name="TSU_CONT_EMAIL"/>
<element name="TSU_CONT_FAX"/>
<element name="TSU_CONT_GVNNM"/>
<element name="TSU_CONT_TEL"/>
<element name="TSU_CONT_ROLE"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_CONT_ID"/>
<element name="TSU_OT_BK_BIC"/>
<element name="I_EVENT_TIMES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="BuyrSdSubmitgBk">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="SellrSdSubmitgBk">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="Buyer">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="CUST_ID"/>
<element name="ContactIdentification1">
<complexType>
<sequence>
<element name="TSU_CONT_NM"/>
<element name="TSU_CONT_NMPRFX"/>
<element name="TSU_CONT_EMAIL"/>
<element name="TSU_CONT_FAX"/>
<element name="TSU_CONT_GVNNM"/>
<element name="TSU_CONT_TEL"/>
<element name="TSU_CONT_ROLE"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_CONT_ID"/>
<element name="TSU_OT_BK_BIC"/>
<element name="I_EVENT_TIMES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="Seller">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="CUST_ID"/>
<element name="ContactIdentification1">
<complexType>
<sequence>
<element name="TSU_CONT_NM"/>
<element name="TSU_CONT_NMPRFX"/>
<element name="TSU_CONT_EMAIL"/>
<element name="TSU_CONT_FAX"/>
<element name="TSU_CONT_GVNNM"/>
<element name="TSU_CONT_TEL"/>
<element name="TSU_CONT_ROLE"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_CONT_ID"/>
<element name="TSU_OT_BK_BIC"/>
<element name="I_EVENT_TIMES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="BillTo">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="ShipTo">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="Consignee">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="OtherBk">
<complexType>
<sequence>
<element name="TSU_CONT_NM"/>
<element name="TSU_CONT_NMPRFX"/>
<element name="TSU_CONT_EMAIL"/>
<element name="TSU_CONT_FAX"/>
<element name="TSU_CONT_GVNNM"/>
<element name="TSU_CONT_TEL"/>
<element name="TSU_CONT_ROLE"/>
<element name="TSU_IDX"/>
<element name="TSU_TABLE_FLG"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
<element name="TSU_CONT_ID"/>
<element name="TSU_OT_BK_BIC"/>
<element name="I_EVENT_TIMES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2PaymentObligation">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSU_OBLGR_BK"/>
<element name="TSU_RCPTBK"/>
<element name="TSU_PMTOBLGR_AMT"/>
<element name="TSU_PMTOBLGR_PCTG"/>
<element name="TSU_PMT_CHG_AMT"/>
<element name="TSU_PMT_CHG_PCTG"/>
<element name="TSU_PMT_XPRY_DT"/>
<element name="TSU_APLBL_LAW"/>
<element name="TSU_CCY"/>
<element name="TSU_OBLGRBK_NM"/>
<element name="TSU_OBLGRBK_ID"/>
<element name="TSU_RCPTBK_ID"/>
<element name="TSU_RCPTBK_NM"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_SEQ_NUM"/>
<element name="PaymentTerms1">
<complexType>
<sequence>
<element name="TSU_PMT_OT_TERM"/>
<element name="TSU_PMT_CD"/>
<element name="TSU_PMT_DAYS"/>
<element name="TSU_PMT_PER"/>
<element name="TSU_PMT_AMT"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_CCY"/>
<element name="TSU_IDX"/>
<element name="C_TRX_REF"/>
<element name="TSU_PO_ID"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="R2SettlementTerms2">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_FININST_BIC"/>
<element name="TSU_FININST_NM"/>
<element name="TSU_FININST_CNTY"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_BENE_BBAN"/>
<element name="TSU_BENE_IBAN"/>
<element name="TSU_BENE_UPIC"/>
<element name="TSU_BENE_ACC"/>
<element name="TSU_CDTRAC_CCY"/>
<element name="TSU_CDTRAC_NM"/>
<element name="TSU_CDTRAC_TPCD"/>
<element name="TSU_CDTRAC_TPID"/>
<element name="TSU_IDX"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="R2PaymentTerms">
<complexType>
<sequence>
<element name="TSU_PMT_OT_TERM"/>
<element name="TSU_PMT_CD"/>
<element name="TSU_PMT_DAYS"/>
<element name="TSU_PMT_PER"/>
<element name="TSU_PMT_AMT"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_CCY"/>
<element name="TSU_IDX"/>
<element name="C_TRX_REF"/>
<element name="TSU_PO_ID"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_NO"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="R2SettlementTerms">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_FININST_BIC"/>
<element name="TSU_FININST_NM"/>
<element name="TSU_FININST_CNTY"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_BENE_BBAN"/>
<element name="TSU_BENE_IBAN"/>
<element name="TSU_BENE_UPIC"/>
<element name="TSU_BENE_ACC"/>
<element name="TSU_CDTRAC_CCY"/>
<element name="TSU_CDTRAC_NM"/>
<element name="TSU_CDTRAC_TPCD"/>
<element name="TSU_CDTRAC_TPID"/>
<element name="TSU_IDX"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="UserDefinedInformation">
<complexType>
<sequence>
<element name="BuyerDefined">
<complexType>
<sequence>
<element name="TSU_DFINFO_DESC"/>
<element name="TSU_DFINFO_LABLE"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
<element name="SellerDefined">
<complexType>
<sequence>
<element name="TSU_DFINFO_DESC"/>
<element name="TSU_DFINFO_LABLE"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSU_SEQ_NUM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="ACC_BOOK_NAME"/>
<element name="BASELN_RP_TP"/>
<element name="C_FUNC_SHORT_NAME"/>
<element name="C_MAIN_REF"/>
<element name="FA_CNTR_DOC_NO"/>
<element name="FA_EF_COMM_AMT"/>
<element name="FA_EF_COMM_RT"/>
<element name="HAND_CHAR_AMT"/>
<element name="HAND_CHAR_CCY"/>
<element name="I_BASE_DAY"/>
<element name="TEMP_DATE1"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BPO_OBL_BK__DESC__"/>
<element name="TSU_BPO_OBL_BK"/>
<element name="TSU_BUYER_NM"/>
<element name="TSU_BYRBK_BIC"/>
<element name="TSU_CCY"/>
<element name="TSU_COE_STS__DESC__"/>
<element name="TSU_COE_STS"/>
<element name="TSU_CUST_ACC"/>
<element name="TSU_INSTR_TP__DESC__"/>
<element name="TSU_INSTR_TP"/>
<element name="TSU_INTT_TO_PAY__DESC__"/>
<element name="TSU_INTT_TO_PAY"/>
<element name="TSU_LAST_MTCH_DT"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_BIC"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_OUR_ROLE__DESC__"/>
<element name="TSU_OUR_ROLE"/>
<element name="TSU_PO_ID"/>
<element name="TSU_PO_REJ_REASON"/>
<element name="TSU_PRE_FIN"/>
<element name="TSU_RES_FLAG__DESC__"/>
<element name="TSU_RES_FLAG"/>
<element name="TSU_SELLRBK_BIC"/>
<element name="TSU_SEL_NM"/>
<element name="TSU_SEND_COE"/>
<element name="TSU_SILENT_CLAUSE"/>
<element name="TSU_SILENT_CONFM__DESC__"/>
<element name="TSU_SILENT_CONFM"/>
<element name="TSU_SILENT_REJ_REASON"/>
<element name="TSU_SILENT_RESP__DESC__"/>
<element name="TSU_SILENT_RESP"/>
<element name="TSU_SUBMITR_TRX_REF"/>
<element name="TSU_SUBMIT_BASELN_ID"/>
<element name="TSU_SUBMIT_BASELN_VRSN"/>
<element name="TSU_SUB_B_BIC"/>
<element name="TSU_SUB_B_ID"/>
<element name="TSU_SUB_B_NAME"/>
<element name="TSU_SUB_B_SVCD__DESC__"/>
<element name="TSU_SUB_B_SVCD"/>
<element name="TSU_THEIR_BIC"/>
<element name="TSU_THEIR_REF"/>
<element name="TSU_TID"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TTL_NET_AMT"/>
</sequence>
</complexType>
</element>
</schema>
