EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_DFSUBSellerReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_BUYER"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BLACKLIST__DESC__"/>
                <element name="FA_BLACKLIST"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_BUYER_POSTBOX"/>
                <element name="FA_BUYER_POSTCODE"/>
                <element name="FA_BUYER_PROV"/>
                <element name="FA_CUST_FLAG__DESC__"/>
                <element name="FA_CUST_FLAG"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INSU_AGR_NO"/>
                <element name="FA_INSU_COMP_FLAG__DESC__"/>
                <element name="FA_INSU_COMP_FLAG"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_PCA_REF"/>
                <element name="FA_REMI_AMT1"/>
                <element name="FA_REMI_CCY1"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP_AMT8"/>
                <element name="FA_TEMP_RATE"/>
            </sequence>
        </complexType>
    </element>
</schema>
