EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_ChargeDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CCY"/>
<element name="CHG_STAT__DESC__"/>
<element name="CHG_STAT"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="DUE_ON"/>
<element name="EPP_ID"/>
<element name="EPP_NM"/>
<element name="FEE_AMT"/>
<element name="FEE_TP__DESC__"/>
<element name="FEE_TP"/>
<element name="FUND_RPT_ID"/>
<element name="PAID_ON"/>
<element name="SUPLR_ID"/>
<element name="SUPLR_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
