EE_PARA/EE_PARA/Default/FORM/form_schema_TSUM_BaselineAmendmentAccept_EE_new.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSU_ACCP_AMDMB"/>
<element name="TSU_AMD_NO"/>
<element name="TSU_AMD_REF"/>
<element name="TSU_AMD_TIMES"/>
<element name="TSU_BYRBK_BIC"/>
<element name="TSU_BYRBK_ID"/>
<element name="TSU_BYRBK_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_BIC"/>
<element name="TSU_COMM_DOC_REQ__DESC__"/>
<element name="TSU_COMM_DOC_REQ"/>
<element name="TSU_DLTARP_DT"/>
<element name="TSU_DLTARP_ID"/>
<element name="TSU_DS_REQUIREMENT"/>
<element name="TSU_FRGHT_TP__DESC__"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_GOODS_DESC"/>
<element name="TSU_LAST_MATCH_DT"/>
<element name="TSU_LATST_SHIP_DT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_PO_INITIATOR__DESC__"/>
<element name="TSU_PO_INITIATOR"/>
<element name="TSU_PRTL_SHIPMNT__DESC__"/>
<element name="TSU_PRTL_SHIPMNT"/>
<element name="TSU_SELLRBK_BIC"/>
<element name="TSU_SELLRBK_ID"/>
<element name="TSU_SELLRBK_NAME"/>
<element name="TSU_SUBMIT_BASELN_ID"/>
<element name="TSU_SUBMIT_BASELN_VRSN"/>
<element name="TSU_SUB_B_BIC"/>
<element name="TSU_SUB_B_SVCD__DESC__"/>
<element name="TSU_SUB_B_SVCD"/>
<element name="TSU_TID"/>
<element name="TSU_TRAN_DOC_REQ"/>
<element name="TSU_TRNS_SHIPMNT"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="imgDrawDown_TSU_DLTARP_DT"/>
<element name="imgDrawDown_TSU_LAST_MATCH_DT"/>
<element name="imgDrawDown_TSU_LATST_SHIP_DT"/>
<element name="imgDrawDown_TSU_PO_DT"/>
</sequence>
</complexType>
</element>
</schema>
