EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_Roll_Over_Loans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXTEN_INT_MTHD"/>
                            <element name="EXTEN_PRCPL"/>
                            <element name="FA_ADJ_BAL"/>
                            <element name="FA_AMD_FIN_DT"/>
                            <element name="FA_AMD_FIN_EFF_DT"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_INV_LOAN_AMT"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_INV_LOAN_ID"/>
                            <element name="FA_IRT_SPREAD"/>
                            <element name="FA_LOAN_CCY"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_INT_SM_AMT"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_OLD_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_OLD_INT_CHG_TYPE"/>
                            <element name="FA_OLD_IRT_SPREAD"/>
                            <element name="FA_OLD_LOAN_DUE_DT"/>
                            <element name="FA_OLD_LOAN_ID"/>
                            <element name="FA_OLD_LOAN_INT_RT"/>
                            <element name="FA_OLD_OVD_IRT_SPREAD"/>
                            <element name="FA_OLD_XBOR_RT"/>
                            <element name="FA_OVDUE_INT_SUM"/>
                            <element name="FA_OVD_IRT_SPREAD"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP7"/>
                            <element name="FSBC_REF"/>
                            <element name="MAX_EXTEND_DAYS"/>
                            <element name="MAX_ROLLOVER_DAYS"/>
                            <element name="OVD_DT"/>
                            <element name="QR_CD_FLD"/>
                            <element name="TRX_DT"/>
                            <element name="XBOR_RT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
