EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_MisMatchRejection_CoERej.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="MisMatchReport2">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_MSMTCH_NO"/>
                                        <element name="ValidationResult4">
                                            <complexType>
                                                <sequence>
                                                    <element name="TSU_ERR_SEQNO"/>
                                                    <element name="TSU_ERR_RULE"/>
                                                    <element name="TSU_ERR_RULE_DESC"/>
                                                    <element name="ElementIdentification1">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="TSU_ERR_SEQNO"/>
                                                                <element name="TSU_ERR_ELMTPTH"/>
                                                                <element name="TSU_ERR_ELMTNM"/>
                                                                <element name="TSU_ERR_ELMTVAL"/>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="RjctdElmtMis">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_REJT_AMDMB"/>
                                        <element name="TSU_REJT_ELMT_SQNB"/>
                                        <element name="TSU_RJ_RSN_INDVL"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TSU_COE_STS__DESC__"/>
                            <element name="TSU_COE_STS"/>
                            <element name="TSU_DS_RP_DTTM"/>
                            <element name="TSU_DS_RP_ID"/>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_OUR_REF"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_REJT_RSN2"/>
                            <element name="TSU_REJT_RSNTP__DESC__"/>
                            <element name="TSU_REJT_RSNTP"/>
                            <element name="TSU_RL_MSG_ID"/>
                            <element name="TSU_SUBMITR_BIC"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TRX_DTTM"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
