EE_PARA/EE_PARA/Default/FORM/form_schema_ABLF_AmendAgreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BASE_RT_TP__DESC__"/>
                <element name="BASE_RT_TP"/>
                <element name="CHARGE_AMT"/>
                <element name="CHARGE_RT"/>
                <element name="CHARGE_TP__DESC__"/>
                <element name="CHARGE_TP"/>
                <element name="CNTR_STATUS__DESC__"/>
                <element name="CNTR_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="CollatScope">
                    <complexType>
                        <sequence>
                            <element name="COLLAT_ID"/>
                            <element name="COLLAT_NM"/>
                            <element name="COLLAT_TP"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="REGION"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CUST_ID"/>
                <element name="FA_CUST_NM"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TTL_LOAN_BAL"/>
                <element name="FLAT_RT"/>
                <element name="InspectScope">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DEDUCT_LMT__DESC__"/>
                            <element name="DEDUCT_LMT"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="INSPEC_ARG_NO"/>
                            <element name="INSPEC_ID"/>
                            <element name="INSPEC_NM"/>
                            <element name="INSPEC_TP__DESC__"/>
                            <element name="INSPEC_TP"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="LM_CRED_LMT"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RSV_LINK"/>
                <element name="LOAN_TIMES"/>
                <element name="MAX_DEC_PERC"/>
                <element name="MAX_INC_PERC"/>
                <element name="QR_CD_FLD"/>
                <element name="SPRD_RT"/>
                <element name="TRX_DT"/>
                <element name="VAL_REL_FLG__DESC__"/>
                <element name="VAL_REL_FLG"/>
                <element name="XBOR_RT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
