EE_PARA/EE_PARA/Default/FORM/form_schema_FFIT_Commit Financing Register2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACPT_AMT"/>
                <element name="ACPT_BK_ADD"/>
                <element name="ACPT_BK_CNTY"/>
                <element name="ACPT_BK_ID"/>
                <element name="ACPT_BK_NM"/>
                <element name="ACPT_CCY"/>
                <element name="AUTH_BLACK"/>
                <element name="BAL_FFT"/>
                <element name="BLACK_DATA_TYPE"/>
                <element name="BLACK_INSTYP"/>
                <element name="BLACK_TRX_TYPE"/>
                <element name="BRANCH_REMARK_ORG"/>
                <element name="BUY_METHOD"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLOSE_COMMIT_DT"/>
                <element name="CNTY_CODE"/>
                <element name="COMMIT_AMT"/>
                <element name="COMMIT_BAL"/>
                <element name="COMMIT_CCY"/>
                <element name="COMMIT_DUE_DT"/>
                <element name="COMMIT_FEE_RT"/>
                <element name="COMMIT_NO"/>
                <element name="COMMIT_START_DT"/>
                <element name="COUNTER_CNTY_CODE"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_FIN_ALERT_MSG"/>
                <element name="C_FIN_ALERT_STATUS"/>
                <element name="C_FIN_MSG_ID"/>
                <element name="C_FIN_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="DEBT_INSMT_NO"/>
                <element name="DEBT_INSMT_REMARK"/>
                <element name="DEBT_INSMT_TYPE"/>
                <element name="DISTRICT_CODE"/>
                <element name="EVENT_TYPE__DESC__"/>
                <element name="EVENT_TYPE"/>
                <element name="EXPT_ID"/>
                <element name="EXPT_NM"/>
                <element name="EXPT_NM_C"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FAV_RT_FLG"/>
                <element name="FFIT_REMARK"/>
                <element name="FFT_BK_ID"/>
                <element name="FFT_BK_NM_ADD"/>
                <element name="FFT_MARGIN_LOWEST"/>
                <element name="FINC_AMT"/>
                <element name="FINC_CCY"/>
                <element name="FINC_DT"/>
                <element name="FINC_RISK_LEVEL"/>
                <element name="FIVE_LEVEL_FLAG"/>
                <element name="GRACE_DAYS"/>
                <element name="GRACE_FLG"/>
                <element name="GTS_BR_ID"/>
                <element name="GTS_BR_NM"/>
                <element name="IMPT_NM"/>
                <element name="INT_MODE"/>
                <element name="LOGIN_BIC"/>
                <element name="MARGIN_RT"/>
                <element name="MATURITY"/>
                <element name="MSG_TYPE"/>
                <element name="MULTI_DUE_DT_FLG"/>
                <element name="NEW_REMARK"/>
                <element name="PRODUCT_CODE"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="SELL_BK_ADD"/>
                <element name="SELL_BK_ID"/>
                <element name="SELL_BK_NM"/>
                <element name="SELL_BK_SW"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CHAR1"/>
                <element name="TEMP_DATE1"/>
                <element name="TIME_FEE_FLG"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="TRX_NO"/>
                <element name="WEB_REF"/>
            </sequence>
        </complexType>
    </element>
</schema>
