EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FIN_InstalmentFinancingInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="FIN_INSTLMT_AMT"/>
<element name="FIN_INSTLMT_CCY"/>
<element name="FIN_INSTLMT_SEQ"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
