EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_POFinancing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BPO_SETT_FLG__DESC__"/>
                <element name="BPO_SETT_FLG"/>
                <element name="CHG_COLL_CCY"/>
                <element name="CHG_COLL_CCY_DEF"/>
                <element name="CHG_COLL_CCY_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_TRX"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_RUN_MODE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="C_MAIN_REF"/>
                <element name="ChgDoDef">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ChgDoTrx">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_BPOINV_LOAN_ID"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_COMM_CHG_TYPE__DESC__"/>
                <element name="FA_COMM_CHG_TYPE"/>
                <element name="FA_CR_CNTR_NO"/>
                <element name="FA_CR_NO"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_INCO_NM"/>
                <element name="FA_INT_CHG_TYPE__DESC__"/>
                <element name="FA_INT_CHG_TYPE"/>
                <element name="FA_INV_CCY"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LOAN_CCY"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_ID"/>
                <element name="FA_LOAN_INT_RT"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_LOAN_PERC"/>
                <element name="FA_LOAN_STATUS"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_PAID_INT_SUM"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_REMI_CCY1"/>
                <element name="FA_REMI_CCY2"/>
                <element name="FA_REMI_CCY3"/>
                <element name="FA_REMI_CCY4"/>
                <element name="FA_REMI_CCY5"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_AMT"/>
                <element name="FA_SEL_AC_CCY"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP7"/>
                <element name="FA_TEMP_DOC_STATUS"/>
                <element name="FA_TEMP_RT_TYPE1"/>
                <element name="FA_TEMP_RT_TYPE2"/>
                <element name="FA_TEMP_RT_TYPE3"/>
                <element name="FA_TEMP_RT_TYPE4"/>
                <element name="FA_TEMP_RT_TYPE5"/>
                <element name="FA_TTL_INV_NO"/>
                <element name="FA_TTL_LOAN_AMT"/>
                <element name="FA_TTL_LOAN_BAL"/>
                <element name="FIN_FLG__DESC__"/>
                <element name="FIN_FLG"/>
                <element name="IA_C_BORROWER_ID"/>
                <element name="IA_C_CCY_CODE"/>
                <element name="IA_C_FUNCTION_ID"/>
                <element name="IA_C_INTF_ID"/>
                <element name="IA_C_UNIT_OF_CRT"/>
                <element name="IA_D_DUE_DATE"/>
                <element name="IA_D_TRX_VALDATE"/>
                <element name="IA_I_BASE_DAYS"/>
                <element name="IA_I_CCY_DEC"/>
                <element name="IA_I_DISCOUNT_DAYS"/>
                <element name="IA_N_DISCOUNT_RATE"/>
                <element name="IA_Y_REACC_INT"/>
                <element name="IA_Y_TRX_AMT"/>
                <element name="InvFinance">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="FA_ADJ_AMT"/>
                            <element name="FA_ADJ_BAL"/>
                            <element name="FA_COMM_CHG_TYPE__DESC__"/>
                            <element name="FA_COMM_CHG_TYPE"/>
                            <element name="FA_CRN_AMT_SUM"/>
                            <element name="FA_CRN_BAL"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_FIN_LOAN_AMT"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_INV_INT_DAYS"/>
                            <element name="FA_INV_LMT_APPRV"/>
                            <element name="FA_INV_LOAN_AMT"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_INV_LOAN_EBAL"/>
                            <element name="FA_INV_LOAN_ID"/>
                            <element name="FA_INV_LOAN_TIMES"/>
                            <element name="FA_LAST_PINT_DT"/>
                            <element name="FA_LOAN_DAYS"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_INT_SM_AMT"/>
                            <element name="FA_LOAN_PERC"/>
                            <element name="FA_LOAN_STATUS"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_REBATE_AMT"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SUM_PERCENT"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TEMP_AMT15"/>
                            <element name="FA_TEMP_AMT16"/>
                            <element name="FA_TRF_FX_RT"/>
                            <element name="INV_LOAN_AVL"/>
                            <element name="PO_LOAN_BAL"/>
                            <element name="PO_NO"/>
                            <element name="TEMP_INT9"/>
                            <element name="T_SYS_OP_TIME"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="LM_CSL_DESC"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_RSV_LINK"/>
                <element name="MultiCreditSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiCredit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_ANNGN_VAT_NO"/>
                                        <element name="C_MLDC_ASSGN_AC"/>
                                        <element name="C_MLDC_ASSGN_ADD1"/>
                                        <element name="C_MLDC_ASSGN_ADD2"/>
                                        <element name="C_MLDC_ASSGN_ADD3"/>
                                        <element name="C_MLDC_ASSGN_COR_MED"/>
                                        <element name="C_MLDC_ASSGN_EMAIL_ADD"/>
                                        <element name="C_MLDC_ASSGN_FAX_NO"/>
                                        <element name="C_MLDC_ASSGN_ID"/>
                                        <element name="C_MLDC_ASSGN_NM"/>
                                        <element name="C_MLDC_CR_AC"/>
                                        <element name="C_MLDC_CR_AC_TYPE"/>
                                        <element name="C_MLDC_CR_BK_AC"/>
                                        <element name="C_MLDC_CR_BK_ADD1"/>
                                        <element name="C_MLDC_CR_BK_ADD2"/>
                                        <element name="C_MLDC_CR_BK_ADD3"/>
                                        <element name="C_MLDC_CR_BK_COR_MED"/>
                                        <element name="C_MLDC_CR_BK_ID"/>
                                        <element name="C_MLDC_CR_BK_NAME"/>
                                        <element name="C_MLDC_CR_BK_SW_ADD"/>
                                        <element name="C_MLDC_CR_BK_SW_TAG"/>
                                        <element name="C_MLDC_CR_BRANCH"/>
                                        <element name="C_MLDC_CR_CCY"/>
                                        <element name="C_MLDC_CR_DEAL"/>
                                        <element name="F_MLDC_CR_RATE"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="D_MLDC_CR_VAL_DATE"/>
                                        <element name="N_MLDC_CR_AMT_CRCCY"/>
                                        <element name="N_MLDC_CR_AMT_TXCCY"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_ADV_MSG"/>
                                        <element name="C_MLDC_PAY_COV_MSG"/>
                                        <element name="C_MLDC_SETTLE_METHOD"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_CR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="N_MLDC_CR_CHG_LCCCY"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MultiDebitSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiDebit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_DR_AC"/>
                                        <element name="C_MLDC_DR_AC_TYPE"/>
                                        <element name="C_MLDC_DR_ADD1"/>
                                        <element name="C_MLDC_DR_ADD2"/>
                                        <element name="C_MLDC_DR_ADD3"/>
                                        <element name="C_MLDC_DR_BK_AC"/>
                                        <element name="C_MLDC_DR_BK_ADD1"/>
                                        <element name="C_MLDC_DR_BK_ADD2"/>
                                        <element name="C_MLDC_DR_BK_ADD3"/>
                                        <element name="C_MLDC_DR_BK_COR_MED"/>
                                        <element name="C_MLDC_DR_BK_ID"/>
                                        <element name="C_MLDC_DR_BK_NAME"/>
                                        <element name="C_MLDC_DR_BK_SW_ADD"/>
                                        <element name="C_MLDC_DR_BK_SW_TAG"/>
                                        <element name="C_MLDC_DR_BRANCH"/>
                                        <element name="C_MLDC_DR_CCY"/>
                                        <element name="C_MLDC_DR_CHG_FLAG"/>
                                        <element name="C_MLDC_DR_COR_MED"/>
                                        <element name="C_MLDC_DR_DEAL"/>
                                        <element name="C_MLDC_DR_EMAIL_ADD"/>
                                        <element name="C_MLDC_DR_FAX_NO"/>
                                        <element name="C_MLDC_DR_ID"/>
                                        <element name="C_MLDC_DR_NAME"/>
                                        <element name="C_MLDC_DR_VAT_NO"/>
                                        <element name="D_MLDC_DR_VAL_DATE"/>
                                        <element name="N_MLDC_DR_AMT_DRCCY"/>
                                        <element name="N_MLDC_DR_AMT_TXCCY"/>
                                        <element name="N_MLDC_DR_CHG_LCCCY"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="F_MLDC_DR_RATE"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_DR_BY"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_DR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="TRX_DT"/>
                <element name="TSU_BK_BPO_FLG__DESC__"/>
                <element name="TSU_BK_BPO_FLG"/>
                <element name="TTL_OBLIG_AMT"/>
                <element name="XBOR_RT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
