EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FIN_ReferredDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="FIN_REF_DOC_AMT"/>
<element name="FIN_REF_DOC_CCY"/>
<element name="FIN_REF_DOC_CD"/>
<element name="FIN_REF_DOC_DT"/>
<element name="FIN_REF_DOC_NB"/>
<element name="FIN_REF_DOC_PRTRY"/>
<element name="FIN_REF_ISSR"/>
<element name="RadioGroup1"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
