EE_PARA/EE_PARA/Default/FORM/form_schema_StructuredGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="ITEM_NAME"/>
<element name="ITEM_UNIT"/>
<element name="NO_OF_ITEMS"/>
<element name="NO_OF_ITEMS_BAL"/>
<element name="NO_OF_ITEMS_RECVD"/>
<element name="PRICE_OF_ITEMS"/>
<element name="PRICE_OF_ITEMS_BAL"/>
<element name="PRICE_OF_ITEMS_UNIT"/>
</sequence>
</complexType>
</element>
</schema>
