EE_PARA/EE_PARA/Default/FORM/form_schema_EPLC_GAPI_MAPPING.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACPT_BY__DESC__"/>
                <element name="ACPT_BY"/>
                <element name="ADDIT_CONDITION"/>
                <element name="ADD_AMT_COVRD"/>
                <element name="ADV_LC_BY__DESC__"/>
                <element name="ADV_LC_BY"/>
                <element name="ADV_LC_DT"/>
                <element name="ADV_THU_BK_ADD1"/>
                <element name="ADV_THU_BK_ADD2"/>
                <element name="ADV_THU_BK_ADD3"/>
                <element name="ADV_THU_BK_ADD_BTN"/>
                <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                <element name="ADV_THU_BK_CORR_MED"/>
                <element name="ADV_THU_BK_ID"/>
                <element name="ADV_THU_BK_ID_BTN"/>
                <element name="ADV_THU_BK_MAIL_ADD"/>
                <element name="ADV_THU_BK_NM"/>
                <element name="ADV_THU_BK_NOTES"/>
                <element name="ADV_THU_BK_ORDER_NO"/>
                <element name="ADV_THU_BK_ORDER_POST"/>
                <element name="ADV_THU_BK_PARTY_ID"/>
                <element name="ADV_THU_BK_POST_ADD_BTN"/>
                <element name="ADV_THU_BK_SW_ADD"/>
                <element name="ADV_THU_BK_SW_TAG"/>
                <element name="ADV_TO_BENE"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="APPL_AC_MRGN_BTN"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ADD_BTN"/>
                <element name="APPL_BK_ADD1"/>
                <element name="APPL_BK_ADD2"/>
                <element name="APPL_BK_ADD3"/>
                <element name="APPL_BK_ADD_BTN"/>
                <element name="APPL_BK_ID"/>
                <element name="APPL_BK_ID_BTN"/>
                <element name="APPL_BK_NM"/>
                <element name="APPL_BK_NOTES"/>
                <element name="APPL_BK_ORDER_NO"/>
                <element name="APPL_BK_PARTY_ID"/>
                <element name="APPL_BK_SW_ADD"/>
                <element name="APPL_BK_SW_TAG"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_NM"/>
                <element name="APPL_NOTES"/>
                <element name="APPL_ORDER_NO"/>
                <element name="ASSET_ACNO"/>
                <element name="ASSET_ACNO_BTN"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AVAL_WT_BK_ADD1"/>
                <element name="AVAL_WT_BK_ADD2"/>
                <element name="AVAL_WT_BK_ADD3"/>
                <element name="AVAL_WT_BK_ADD_BTN"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AVAL_WT_BK_ID_BTN"/>
                <element name="AVAL_WT_BK_MAIL_ADD"/>
                <element name="AVAL_WT_BK_NM"/>
                <element name="AVAL_WT_BK_NOTES"/>
                <element name="AVAL_WT_BK_OPT__DESC__"/>
                <element name="AVAL_WT_BK_OPT"/>
                <element name="AVAL_WT_BK_ORDER_NO"/>
                <element name="AVAL_WT_BK_ORDER_POST"/>
                <element name="AVAL_WT_BK_POST_ADD_BTN"/>
                <element name="AVAL_WT_BK_SW_ADD"/>
                <element name="AVAL_WT_BK_SW_TAG"/>
                <element name="AVLB_LC_BAL"/>
                <element name="AdivceForBankCust"/>
                <element name="BASE_BAL"/>
                <element name="BASE_CCY"/>
                <element name="BASE_RT"/>
                <element name="BENE_ACNO"/>
                <element name="BENE_AC_OFF_CODE"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ADD_BTN"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_LANG__DESC__"/>
                <element name="BENE_LANG"/>
                <element name="BENE_MAIL_ADD"/>
                <element name="BENE_NM"/>
                <element name="BENE_NOTES"/>
                <element name="BENE_ORDER_NO"/>
                <element name="BENE_ORDER_POST"/>
                <element name="BENE_POST_ADD_BTN"/>
                <element name="BENE_REF_NO"/>
                <element name="BENE_TLX"/>
                <element name="BK_TO_BK_INFO"/>
                <element name="BK_TO_BK_MT710"/>
                <element name="BK_TO_BK_MT730"/>
                <element name="CHARGES"/>
                <element name="CHG_AGREEMENT_OVERRIDE_1"/>
                <element name="CHG_AGREEMENT_OVERRIDE_2"/>
                <element name="CHG_AGREEMENT_OVERRIDE_3"/>
                <element name="CHG_AGREEMENT_OVERRIDE_4"/>
                <element name="CHG_AGREEMENT_OVERRIDE_5"/>
                <element name="CHG_AGREEMENT_OVERRIDE_6"/>
                <element name="CHG_CHECKED_OVERRIDE_1"/>
                <element name="CHG_CHECKED_OVERRIDE_2"/>
                <element name="CHG_CHECKED_OVERRIDE_3"/>
                <element name="CHG_CHECKED_OVERRIDE_4"/>
                <element name="CHG_CHECKED_OVERRIDE_5"/>
                <element name="CHG_CHECKED_OVERRIDE_6"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ACTIVE_AMT_1"/>
                <element name="CHG_FLD_ACTIVE_AMT_2"/>
                <element name="CHG_FLD_ACTIVE_AMT_3"/>
                <element name="CHG_FLD_ACTIVE_AMT_4"/>
                <element name="CHG_FLD_ACTIVE_AMT_5"/>
                <element name="CHG_FLD_ACTIVE_AMT_6"/>
                <element name="CHG_FLD_ACTIVE_CCY_1"/>
                <element name="CHG_FLD_ACTIVE_CCY_2"/>
                <element name="CHG_FLD_ACTIVE_CCY_3"/>
                <element name="CHG_FLD_ACTIVE_CCY_4"/>
                <element name="CHG_FLD_ACTIVE_CCY_5"/>
                <element name="CHG_FLD_ACTIVE_CCY_6"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_BAL_AMT_1"/>
                <element name="CHG_FLD_BAL_AMT_2"/>
                <element name="CHG_FLD_BAL_AMT_3"/>
                <element name="CHG_FLD_BAL_AMT_4"/>
                <element name="CHG_FLD_BAL_AMT_5"/>
                <element name="CHG_FLD_BAL_AMT_6"/>
                <element name="CHG_FLD_BAL_CCY_1"/>
                <element name="CHG_FLD_BAL_CCY_2"/>
                <element name="CHG_FLD_BAL_CCY_3"/>
                <element name="CHG_FLD_BAL_CCY_4"/>
                <element name="CHG_FLD_BAL_CCY_5"/>
                <element name="CHG_FLD_BAL_CCY_6"/>
                <element name="CHG_FLD_CHARGE_AT_1"/>
                <element name="CHG_FLD_CHARGE_AT_2"/>
                <element name="CHG_FLD_CHARGE_AT_3"/>
                <element name="CHG_FLD_CHARGE_AT_4"/>
                <element name="CHG_FLD_CHARGE_AT_5"/>
                <element name="CHG_FLD_CHARGE_AT_6"/>
                <element name="CHG_FLD_CHARGE_FOR_1"/>
                <element name="CHG_FLD_CHARGE_FOR_2"/>
                <element name="CHG_FLD_CHARGE_FOR_3"/>
                <element name="CHG_FLD_CHARGE_FOR_4"/>
                <element name="CHG_FLD_CHARGE_FOR_5"/>
                <element name="CHG_FLD_CHARGE_FOR_6"/>
                <element name="CHG_FLD_COLLECT_AMT_1"/>
                <element name="CHG_FLD_COLLECT_AMT_2"/>
                <element name="CHG_FLD_COLLECT_AMT_3"/>
                <element name="CHG_FLD_COLLECT_AMT_4"/>
                <element name="CHG_FLD_COLLECT_AMT_5"/>
                <element name="CHG_FLD_COLLECT_AMT_6"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_COLLECT_CCY_1"/>
                <element name="CHG_FLD_COLLECT_CCY_2"/>
                <element name="CHG_FLD_COLLECT_CCY_3"/>
                <element name="CHG_FLD_COLLECT_CCY_4"/>
                <element name="CHG_FLD_COLLECT_CCY_5"/>
                <element name="CHG_FLD_COLLECT_CCY_6"/>
                <element name="CHG_FLD_COLLECT_VAT_AMT_1"/>
                <element name="CHG_FLD_COLLECT_VAT_AMT_2"/>
                <element name="CHG_FLD_COLLECT_VAT_AMT_3"/>
                <element name="CHG_FLD_COLLECT_VAT_AMT_4"/>
                <element name="CHG_FLD_COLLECT_VAT_AMT_5"/>
                <element name="CHG_FLD_COLLECT_VAT_AMT_6"/>
                <element name="CHG_FLD_COMM_CODE_1"/>
                <element name="CHG_FLD_COMM_CODE_2"/>
                <element name="CHG_FLD_COMM_CODE_3"/>
                <element name="CHG_FLD_COMM_CODE_4"/>
                <element name="CHG_FLD_COMM_CODE_5"/>
                <element name="CHG_FLD_COMM_CODE_6"/>
                <element name="CHG_FLD_COMM_DESC_1"/>
                <element name="CHG_FLD_COMM_DESC_2"/>
                <element name="CHG_FLD_COMM_DESC_3"/>
                <element name="CHG_FLD_COMM_DESC_4"/>
                <element name="CHG_FLD_COMM_DESC_5"/>
                <element name="CHG_FLD_COMM_DESC_6"/>
                <element name="CHG_FLD_DEFERRED_CHG_DATA_MAPPING"/>
                <element name="CHG_FLD_DISCOUNT_AMT_1"/>
                <element name="CHG_FLD_DISCOUNT_AMT_2"/>
                <element name="CHG_FLD_DISCOUNT_AMT_3"/>
                <element name="CHG_FLD_DISCOUNT_AMT_4"/>
                <element name="CHG_FLD_DISCOUNT_AMT_5"/>
                <element name="CHG_FLD_DISCOUNT_AMT_6"/>
                <element name="CHG_FLD_DISCOUNT_RATE_1"/>
                <element name="CHG_FLD_DISCOUNT_RATE_2"/>
                <element name="CHG_FLD_DISCOUNT_RATE_3"/>
                <element name="CHG_FLD_DISCOUNT_RATE_4"/>
                <element name="CHG_FLD_DISCOUNT_RATE_5"/>
                <element name="CHG_FLD_DISCOUNT_RATE_6"/>
                <element name="CHG_FLD_ENTRY_ID_1"/>
                <element name="CHG_FLD_ENTRY_ID_2"/>
                <element name="CHG_FLD_ENTRY_ID_3"/>
                <element name="CHG_FLD_ENTRY_ID_4"/>
                <element name="CHG_FLD_ENTRY_ID_5"/>
                <element name="CHG_FLD_ENTRY_ID_6"/>
                <element name="CHG_FLD_FOREIGN_BAL_CHG_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_BAL_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_CHG_TOTAL_AMT"/>
                <element name="CHG_FLD_FOREIGN_CHG_TOTAL_CUST_PAY_AMT"/>
                <element name="CHG_FLD_FOREIGN_COLLECT_CHG_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_COLLECT_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_COLLECT_VAT_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_CUST_ID_MAPPING"/>
                <element name="CHG_FLD_FOREIGN_CUST_NAME_MAPPING"/>
                <element name="CHG_FLD_FOREIGN_ERROR_MAPPING"/>
                <element name="CHG_FLD_FOREIGN_PAY_CHG_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_PAY_RATE_MAPPING"/>
                <element name="CHG_FLD_FOREIGN_PAY_RATE_MD_FLAG"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_VAT_TOTAL"/>
                <element name="CHG_FLD_FOREIGN_TOTAL_AMT"/>
                <element name="CHG_FLD_FOREIGN_VAT_TOTAL_AMT"/>
                <element name="CHG_FLD_FOREIGN_VAT_TOTAL_CUST_PAY_AMT"/>
                <element name="CHG_FLD_HIDDEN_FLAG_1"/>
                <element name="CHG_FLD_HIDDEN_FLAG_2"/>
                <element name="CHG_FLD_HIDDEN_FLAG_3"/>
                <element name="CHG_FLD_HIDDEN_FLAG_4"/>
                <element name="CHG_FLD_HIDDEN_FLAG_5"/>
                <element name="CHG_FLD_HIDDEN_FLAG_6"/>
                <element name="CHG_FLD_LOCAL_BAL_CHG_TOTAL"/>
                <element name="CHG_FLD_LOCAL_BAL_TOTAL"/>
                <element name="CHG_FLD_LOCAL_CHG_TOTAL_AMT"/>
                <element name="CHG_FLD_LOCAL_CHG_TOTAL_CUST_PAY_AMT"/>
                <element name="CHG_FLD_LOCAL_COLLECT_CHG_TOTAL"/>
                <element name="CHG_FLD_LOCAL_COLLECT_TOTAL"/>
                <element name="CHG_FLD_LOCAL_COLLECT_VAT_TOTAL"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO_MAPPING"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY_MAPPING"/>
                <element name="CHG_FLD_LOCAL_CUST_ID_MAPPING"/>
                <element name="CHG_FLD_LOCAL_CUST_NAME_MAPPING"/>
                <element name="CHG_FLD_LOCAL_ERROR_MAPPING"/>
                <element name="CHG_FLD_LOCAL_PAY_CHG_TOTAL"/>
                <element name="CHG_FLD_LOCAL_PAY_RATE_MAPPING"/>
                <element name="CHG_FLD_LOCAL_PAY_RATE_MD_FLAG"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTAL"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_PAY_VAT_TOTAL"/>
                <element name="CHG_FLD_LOCAL_TOTAL_AMT"/>
                <element name="CHG_FLD_LOCAL_VAT_TOTAL_AMT"/>
                <element name="CHG_FLD_LOCAL_VAT_TOTAL_CUST_PAY_AMT"/>
                <element name="CHG_FLD_NOSTRO_AC_NO_MAPPING"/>
                <element name="CHG_FLD_NOSTRO_CCY_MAPPING"/>
                <element name="CHG_FLD_ORIG_CALC_AMT_1"/>
                <element name="CHG_FLD_ORIG_CALC_AMT_2"/>
                <element name="CHG_FLD_ORIG_CALC_AMT_3"/>
                <element name="CHG_FLD_ORIG_CALC_AMT_4"/>
                <element name="CHG_FLD_ORIG_CALC_AMT_5"/>
                <element name="CHG_FLD_ORIG_CALC_AMT_6"/>
                <element name="CHG_FLD_ORIG_CALC_CCY_1"/>
                <element name="CHG_FLD_ORIG_CALC_CCY_2"/>
                <element name="CHG_FLD_ORIG_CALC_CCY_3"/>
                <element name="CHG_FLD_ORIG_CALC_CCY_4"/>
                <element name="CHG_FLD_ORIG_CALC_CCY_5"/>
                <element name="CHG_FLD_ORIG_CALC_CCY_6"/>
                <element name="CHG_FLD_OVERRIDE_1"/>
                <element name="CHG_FLD_OVERRIDE_2"/>
                <element name="CHG_FLD_OVERRIDE_3"/>
                <element name="CHG_FLD_OVERRIDE_4"/>
                <element name="CHG_FLD_OVERRIDE_5"/>
                <element name="CHG_FLD_OVERRIDE_6"/>
                <element name="CHG_FLD_PAY_AMT_1"/>
                <element name="CHG_FLD_PAY_AMT_2"/>
                <element name="CHG_FLD_PAY_AMT_3"/>
                <element name="CHG_FLD_PAY_AMT_4"/>
                <element name="CHG_FLD_PAY_AMT_5"/>
                <element name="CHG_FLD_PAY_AMT_6"/>
                <element name="CHG_FLD_PAY_CCY_1"/>
                <element name="CHG_FLD_PAY_CCY_2"/>
                <element name="CHG_FLD_PAY_CCY_3"/>
                <element name="CHG_FLD_PAY_CCY_4"/>
                <element name="CHG_FLD_PAY_CCY_5"/>
                <element name="CHG_FLD_PAY_CCY_6"/>
                <element name="CHG_FLD_PAY_VAT_AMT_1"/>
                <element name="CHG_FLD_PAY_VAT_AMT_2"/>
                <element name="CHG_FLD_PAY_VAT_AMT_3"/>
                <element name="CHG_FLD_PAY_VAT_AMT_4"/>
                <element name="CHG_FLD_PAY_VAT_AMT_5"/>
                <element name="CHG_FLD_PAY_VAT_AMT_6"/>
                <element name="CHG_FLD_RATE_ID_1"/>
                <element name="CHG_FLD_RATE_ID_2"/>
                <element name="CHG_FLD_RATE_ID_3"/>
                <element name="CHG_FLD_RATE_ID_4"/>
                <element name="CHG_FLD_RATE_ID_5"/>
                <element name="CHG_FLD_RATE_ID_6"/>
                <element name="CHG_FLD_RATE_PRICE_DATE_MAPPING"/>
                <element name="CHG_FLD_RULE_AMT_1"/>
                <element name="CHG_FLD_RULE_AMT_2"/>
                <element name="CHG_FLD_RULE_AMT_3"/>
                <element name="CHG_FLD_RULE_AMT_4"/>
                <element name="CHG_FLD_RULE_AMT_5"/>
                <element name="CHG_FLD_RULE_AMT_6"/>
                <element name="CHG_FLD_RULE_CCY_1"/>
                <element name="CHG_FLD_RULE_CCY_2"/>
                <element name="CHG_FLD_RULE_CCY_3"/>
                <element name="CHG_FLD_RULE_CCY_4"/>
                <element name="CHG_FLD_RULE_CCY_5"/>
                <element name="CHG_FLD_RULE_CCY_6"/>
                <element name="CHG_FLD_RULE_ID_1"/>
                <element name="CHG_FLD_RULE_ID_2"/>
                <element name="CHG_FLD_RULE_ID_3"/>
                <element name="CHG_FLD_RULE_ID_4"/>
                <element name="CHG_FLD_RULE_ID_5"/>
                <element name="CHG_FLD_RULE_ID_6"/>
                <element name="CHG_FLD_RULE_NM_1"/>
                <element name="CHG_FLD_RULE_NM_2"/>
                <element name="CHG_FLD_RULE_NM_3"/>
                <element name="CHG_FLD_RULE_NM_4"/>
                <element name="CHG_FLD_RULE_NM_5"/>
                <element name="CHG_FLD_RULE_NM_6"/>
                <element name="CHG_FLD_START_COMM_DATE_1"/>
                <element name="CHG_FLD_START_COMM_DATE_2"/>
                <element name="CHG_FLD_START_COMM_DATE_3"/>
                <element name="CHG_FLD_START_COMM_DATE_4"/>
                <element name="CHG_FLD_START_COMM_DATE_5"/>
                <element name="CHG_FLD_START_COMM_DATE_6"/>
                <element name="CHG_FLD_TEMP10_1"/>
                <element name="CHG_FLD_TEMP10_2"/>
                <element name="CHG_FLD_TEMP10_3"/>
                <element name="CHG_FLD_TEMP10_4"/>
                <element name="CHG_FLD_TEMP10_5"/>
                <element name="CHG_FLD_TEMP10_6"/>
                <element name="CHG_FLD_TEMP1_1"/>
                <element name="CHG_FLD_TEMP1_2"/>
                <element name="CHG_FLD_TEMP1_3"/>
                <element name="CHG_FLD_TEMP1_4"/>
                <element name="CHG_FLD_TEMP1_5"/>
                <element name="CHG_FLD_TEMP1_6"/>
                <element name="CHG_FLD_TEMP2_1"/>
                <element name="CHG_FLD_TEMP2_2"/>
                <element name="CHG_FLD_TEMP2_3"/>
                <element name="CHG_FLD_TEMP2_4"/>
                <element name="CHG_FLD_TEMP2_5"/>
                <element name="CHG_FLD_TEMP2_6"/>
                <element name="CHG_FLD_TEMP3_1"/>
                <element name="CHG_FLD_TEMP3_2"/>
                <element name="CHG_FLD_TEMP3_3"/>
                <element name="CHG_FLD_TEMP3_4"/>
                <element name="CHG_FLD_TEMP3_5"/>
                <element name="CHG_FLD_TEMP3_6"/>
                <element name="CHG_FLD_TEMP4_1"/>
                <element name="CHG_FLD_TEMP4_2"/>
                <element name="CHG_FLD_TEMP4_3"/>
                <element name="CHG_FLD_TEMP4_4"/>
                <element name="CHG_FLD_TEMP4_5"/>
                <element name="CHG_FLD_TEMP4_6"/>
                <element name="CHG_FLD_TEMP5_1"/>
                <element name="CHG_FLD_TEMP5_2"/>
                <element name="CHG_FLD_TEMP5_3"/>
                <element name="CHG_FLD_TEMP5_4"/>
                <element name="CHG_FLD_TEMP5_5"/>
                <element name="CHG_FLD_TEMP5_6"/>
                <element name="CHG_FLD_TEMP6_1"/>
                <element name="CHG_FLD_TEMP6_2"/>
                <element name="CHG_FLD_TEMP6_3"/>
                <element name="CHG_FLD_TEMP6_4"/>
                <element name="CHG_FLD_TEMP6_5"/>
                <element name="CHG_FLD_TEMP6_6"/>
                <element name="CHG_FLD_TEMP7_1"/>
                <element name="CHG_FLD_TEMP7_2"/>
                <element name="CHG_FLD_TEMP7_3"/>
                <element name="CHG_FLD_TEMP7_4"/>
                <element name="CHG_FLD_TEMP7_5"/>
                <element name="CHG_FLD_TEMP7_6"/>
                <element name="CHG_FLD_TEMP8_1"/>
                <element name="CHG_FLD_TEMP8_2"/>
                <element name="CHG_FLD_TEMP8_3"/>
                <element name="CHG_FLD_TEMP8_4"/>
                <element name="CHG_FLD_TEMP8_5"/>
                <element name="CHG_FLD_TEMP8_6"/>
                <element name="CHG_FLD_TEMP9_1"/>
                <element name="CHG_FLD_TEMP9_2"/>
                <element name="CHG_FLD_TEMP9_3"/>
                <element name="CHG_FLD_TEMP9_4"/>
                <element name="CHG_FLD_TEMP9_5"/>
                <element name="CHG_FLD_TEMP9_6"/>
                <element name="CHG_FLD_TREM_PAY_AMT_1"/>
                <element name="CHG_FLD_TREM_PAY_AMT_2"/>
                <element name="CHG_FLD_TREM_PAY_AMT_3"/>
                <element name="CHG_FLD_TREM_PAY_AMT_4"/>
                <element name="CHG_FLD_TREM_PAY_AMT_5"/>
                <element name="CHG_FLD_TREM_PAY_AMT_6"/>
                <element name="CHG_FLD_TRX_CCY_MAPPING"/>
                <element name="CHG_FLD_TRX_EVENT_TIMES"/>
                <element name="CHG_FLD_TRX_MAIN_REF"/>
                <element name="CHG_FLD_VAT_RATE_1"/>
                <element name="CHG_FLD_VAT_RATE_2"/>
                <element name="CHG_FLD_VAT_RATE_3"/>
                <element name="CHG_FLD_VAT_RATE_4"/>
                <element name="CHG_FLD_VAT_RATE_5"/>
                <element name="CHG_FLD_VAT_RATE_6"/>
                <element name="CHG_FLD_VAT_TYPE_1"/>
                <element name="CHG_FLD_VAT_TYPE_2"/>
                <element name="CHG_FLD_VAT_TYPE_3"/>
                <element name="CHG_FLD_VAT_TYPE_4"/>
                <element name="CHG_FLD_VAT_TYPE_5"/>
                <element name="CHG_FLD_VAT_TYPE_6"/>
                <element name="CHG_FLD_VIEW_AGREEMENT_FLAG"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="CONF_BAL"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="CONF_PCT"/>
                <element name="CONTRACT_FLAG__DESC__"/>
                <element name="CONTRACT_FLAG"/>
                <element name="CPYT_C_LOCAL_CCY"/>
                <element name="CPYT_C_MIX_PAY_DETAIL"/>
                <element name="CPYT_C_PAY_PER"/>
                <element name="CPYT_C_REF"/>
                <element name="CPYT_C_SDA_FLAG"/>
                <element name="CPYT_C_TENOR_DESC"/>
                <element name="CPYT_C_TENOR_TYPE"/>
                <element name="CPYT_C_TRX_CCY"/>
                <element name="CPYT_D_MAT_DATE"/>
                <element name="CPYT_INDIVID_DRAW_FLG"/>
                <element name="CPYT_I_TENOR_DAYS"/>
                <element name="CPYT_N_PAY_AMT"/>
                <element name="CPYT_N_PAY_TTL_AMT_LCY"/>
                <element name="CPYT_N_PAY_TTL_AMT_TXCCY"/>
                <element name="CUMULATIVE__DESC__"/>
                <element name="CUMULATIVE"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm"/>
                <element name="DEF_PMT_DET"/>
                <element name="DEST_PLACE"/>
                <element name="DEST_PORT"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DOC_REQ"/>
                <element name="DRAFTS_AT"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ADD_BTN"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_ID_BTN"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_NOTES"/>
                <element name="DRWE_ORDER_NO"/>
                <element name="DRWE_PARTY_ID"/>
                <element name="DRWE_SW_ADD"/>
                <element name="DRWE_SW_TAG"/>
                <element name="D_SVR_GMT"/>
                <element name="EVERGREEN__DESC__"/>
                <element name="EVERGREEN"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC_NARR"/>
                <element name="FORM_OF_LC__DESC__"/>
                <element name="FORM_OF_LC"/>
                <element name="FORM_OF_LC_40B__DESC__"/>
                <element name="FORM_OF_LC_40B"/>
                <element name="FORM_OF_LC_MT710__DESC__"/>
                <element name="FORM_OF_LC_MT710"/>
                <element name="GOODS_DESC"/>
                <element name="INDIVID_DRAW_FLG__DESC__"/>
                <element name="INDIVID_DRAW_FLG"/>
                <element name="INSTR_TO_PAY_BK"/>
                <element name="INSTR_TO_PAY_BK_MT710"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ADD_BTN"/>
                <element name="ISSUE_BK_CHG"/>
                <element name="ISSUE_BK_CHG_CCY"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_MAIL_ADD"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_NOTES"/>
                <element name="ISSUE_BK_ORDER_NO"/>
                <element name="ISSUE_BK_ORDER_POST"/>
                <element name="ISSUE_BK_POST_ADD_BTN"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_DT"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LIAB_ACNO"/>
                <element name="LIAB_BAL"/>
                <element name="LOAD_PLACE"/>
                <element name="LOAD_PORT"/>
                <element name="LOGIN_BIC"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MESG_TYPE__DESC__"/>
                <element name="MESG_TYPE"/>
                <element name="MIX_PMT_DETL"/>
                <element name="MSG_TYPE"/>
                <element name="NEG_TOL"/>
                <element name="NOTES"/>
                <element name="NO_PRD"/>
                <element name="OUR_ENG__DESC__"/>
                <element name="OUR_ENG"/>
                <element name="OUR_ROLE__DESC__"/>
                <element name="OUR_ROLE"/>
                <element name="PARTIAL_SHIP__DESC__"/>
                <element name="PARTIAL_SHIP"/>
                <element name="PARTIAL_SHIP_NARR"/>
                <element name="PAY_AT__DESC__"/>
                <element name="PAY_AT"/>
                <element name="POS_TOL"/>
                <element name="PRES_PRD_TXT"/>
                <element name="PaymentTermsHeader"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REIM_BK_ADD1"/>
                <element name="REIM_BK_ADD2"/>
                <element name="REIM_BK_ADD3"/>
                <element name="REIM_BK_ADD_BTN"/>
                <element name="REIM_BK_ID"/>
                <element name="REIM_BK_ID_BTN"/>
                <element name="REIM_BK_MAIL_ADD"/>
                <element name="REIM_BK_NM"/>
                <element name="REIM_BK_NOTES"/>
                <element name="REIM_BK_ORDER_NO"/>
                <element name="REIM_BK_ORDER_POST"/>
                <element name="REIM_BK_PARTY_ID"/>
                <element name="REIM_BK_POST_ADD_BTN"/>
                <element name="REIM_BK_SW_ADD"/>
                <element name="REIM_BK_SW_TAG"/>
                <element name="REV_LC__DESC__"/>
                <element name="REV_LC"/>
                <element name="REV_LC_NO"/>
                <element name="SENDER_REF"/>
                <element name="SENT_MT730_FLG__DESC__"/>
                <element name="SENT_MT730_FLG"/>
                <element name="SHIP_PRD"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="TEMP_ACCCY"/>
                <element name="TEMP_ACNO"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_APLB_RULE_40E"/>
                <element name="TEMP_APPL_ID"/>
                <element name="TEMP_ASSET_ACNO_DESC"/>
                <element name="TEMP_CORR_ATTCH"/>
                <element name="TEMP_CORR_CRSPD"/>
                <element name="TEMP_CORR_INSTR"/>
                <element name="TEMP_CUST_ATTCH"/>
                <element name="TEMP_CUST_CRSPD"/>
                <element name="TEMP_CUST_INSTR"/>
                <element name="TEMP_DOC_DT"/>
                <element name="TEMP_ISS_BK_ADD1"/>
                <element name="TEMP_ISS_BK_ADD2"/>
                <element name="TEMP_ISS_BK_ADD3"/>
                <element name="TEMP_ISS_BK_ID"/>
                <element name="TEMP_ISS_BK_NM"/>
                <element name="TEMP_ISS_BK_SW_ADD"/>
                <element name="TEMP_ISS_BK_SW_TAG"/>
                <element name="TEMP_MT730_TAG30"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_PARTIAL_SHIP"/>
                <element name="TEMP_TAG_39A"/>
                <element name="TEMP_TNSHIP"/>
                <element name="TEMP_USER_EMAIL"/>
                <element name="TEMP_USER_FAX"/>
                <element name="TEMP_USER_NM"/>
                <element name="TEMP_USER_TEL_NO"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_TEMP"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TENOR_TYPE_NARR"/>
                <element name="TEST_FIELD"/>
                <element name="TNSHIP__DESC__"/>
                <element name="TNSHIP"/>
                <element name="TNSHIP_NARR"/>
                <element name="TRM_TO_BK_ADD1"/>
                <element name="TRM_TO_BK_ADD2"/>
                <element name="TRM_TO_BK_ADD3"/>
                <element name="TRM_TO_BK_ADD_BTN"/>
                <element name="TRM_TO_BK_ID"/>
                <element name="TRM_TO_BK_ID_BTN"/>
                <element name="TRM_TO_BK_MAIL_ADD"/>
                <element name="TRM_TO_BK_NM"/>
                <element name="TRM_TO_BK_NOTES"/>
                <element name="TRM_TO_BK_ORDER_NO"/>
                <element name="TRM_TO_BK_ORDER_POST"/>
                <element name="TRM_TO_BK_POST_ADD_BTN"/>
                <element name="TRM_TO_BK_SW_ADD"/>
                <element name="TRM_TO_BK_SW_TAG"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="T_SVR_GMT"/>
                <element name="button1"/>
                <element name="button2"/>
                <element name="button3"/>
                <element name="button4"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
