EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_EnquireBuyerCompanyProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_FACI_ID"/>
                <element name="BSRelationship">
                    <complexType>
                        <sequence>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="BUYR_SCFNET_ID"/>
                            <element name="B_S_RELN_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="RELN_STATUS"/>
                            <element name="SUPLR_CREA_TP"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="SUPLR_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CA_RECON_SEQ"/>
                <element name="CNTC_STAF"/>
                <element name="CNTC_STAF_EMAIL"/>
                <element name="CNTC_STAF_TEL"/>
                <element name="CUST_ADD"/>
                <element name="CUST_BOS_ID"/>
                <element name="CUST_HUB_BOS_ID"/>
                <element name="CUST_INSTI_CODE"/>
                <element name="CUST_MAIL"/>
                <element name="CUST_NM"/>
                <element name="CUST_PSTLADR"/>
                <element name="CUST_STAT_CD__DESC__"/>
                <element name="CUST_STAT_CD"/>
                <element name="CUST_TEL"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_RECON_SEQ"/>
                <element name="FE_RECON_SEQ"/>
                <element name="GRAC_OVRDUE_INT_DAY"/>
                <element name="IF_AI_DUPL_CHK__DESC__"/>
                <element name="IF_AI_DUPL_CHK"/>
                <element name="IF_CHK_AI_AMT__DESC__"/>
                <element name="IF_CHK_AI_AMT"/>
                <element name="IF_CHK_AI_AMT_TCN__DESC__"/>
                <element name="IF_CHK_AI_AMT_TCN"/>
                <element name="IF_CHK_AI_DDT__DESC__"/>
                <element name="IF_CHK_AI_DDT"/>
                <element name="IF_CHK_AI_NB_TCN__DESC__"/>
                <element name="IF_CHK_AI_NB_TCN"/>
                <element name="IF_CHK_AI_NUM__DESC__"/>
                <element name="IF_CHK_AI_NUM"/>
                <element name="IF_CHK_BUYR_ID__DESC__"/>
                <element name="IF_CHK_BUYR_ID"/>
                <element name="IF_CHK_CCY__DESC__"/>
                <element name="IF_CHK_CCY"/>
                <element name="IF_CHK_CN_REF__DESC__"/>
                <element name="IF_CHK_CN_REF"/>
                <element name="IF_CHK_CN_TTL__DESC__"/>
                <element name="IF_CHK_CN_TTL"/>
                <element name="IF_CHK_REF_TCN__DESC__"/>
                <element name="IF_CHK_REF_TCN"/>
                <element name="IF_CHK_STAT__DESC__"/>
                <element name="IF_CHK_STAT"/>
                <element name="IF_CHK_SUPLR_ID__DESC__"/>
                <element name="IF_CHK_SUPLR_ID"/>
                <element name="IF_CN_DUPL_CHK__DESC__"/>
                <element name="IF_CN_DUPL_CHK"/>
                <element name="IF_TCN_DUPL_CHK__DESC__"/>
                <element name="IF_TCN_DUPL_CHK"/>
                <element name="IN_RECON_SEQ"/>
                <element name="IS_DIR_DEBIT__DESC__"/>
                <element name="IS_DIR_DEBIT"/>
                <element name="PRE_MATURITY_DAYS"/>
                <element name="RE_RECON_SEQ"/>
                <element name="SALES_ID"/>
                <element name="SD_BUYR_HOLIDAY__DESC__"/>
                <element name="SD_BUYR_HOLIDAY"/>
                <element name="SD_IN_BK_HOLIDAY__DESC__"/>
                <element name="SD_IN_BK_HOLIDAY"/>
                <element name="SD_IN_CUTOFF__DESC__"/>
                <element name="SD_IN_CUTOFF"/>
                <element name="SD_IN_PAST__DESC__"/>
                <element name="SD_IN_PAST"/>
            </sequence>
        </complexType>
    </element>
</schema>
