EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_SBRelationship.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="BUYR_ID"/>
<element name="BUYR_NM"/>
<element name="B_S_RELN_ID"/>
<element name="CUST_TP__DESC__"/>
<element name="CUST_TP"/>
<element name="C_MAIN_REF"/>
<element name="RELN_STATUS"/>
<element name="SUPLR_ID"/>
<element name="SUPLR_NM"/>
<element name="TEMP1"/>
</sequence>
</complexType>
</element>
</schema>
