EE_PARA/EE_PARA/Default/FORM/form_schema_OWGT_ReviewGTAmtFrCE23 .xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCEPT_REJECT__DESC__"/>
                <element name="ACCEPT_REJECT"/>
                <element name="ADV_BK_ADD1"/>
                <element name="ADV_BK_ADD2"/>
                <element name="ADV_BK_ADD3"/>
                <element name="ADV_BK_ADD_BTN"/>
                <element name="ADV_BK_CORR_MED__DESC__"/>
                <element name="ADV_BK_CORR_MED"/>
                <element name="ADV_BK_ID"/>
                <element name="ADV_BK_ID_BTN"/>
                <element name="ADV_BK_MAIL_ADD"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_NOTES"/>
                <element name="ADV_BK_ORDER_NO"/>
                <element name="ADV_BK_ORDER_POST"/>
                <element name="ADV_BK_POST_ADD_BTN"/>
                <element name="ADV_BK_REF"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="ADV_BK_TLX"/>
                <element name="ADV_THRU_BK_ID_BTN"/>
                <element name="ADV_THU_BK_ADD1"/>
                <element name="ADV_THU_BK_ADD2"/>
                <element name="ADV_THU_BK_ADD3"/>
                <element name="ADV_THU_BK_ADD_BTN"/>
                <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                <element name="ADV_THU_BK_CORR_MED"/>
                <element name="ADV_THU_BK_ID"/>
                <element name="ADV_THU_BK_MAIL_ADD"/>
                <element name="ADV_THU_BK_NM"/>
                <element name="ADV_THU_BK_NOTES"/>
                <element name="ADV_THU_BK_ORDER_NO"/>
                <element name="ADV_THU_BK_ORDER_POST"/>
                <element name="ADV_THU_BK_POST_ADD_BTN"/>
                <element name="ADV_THU_BK_REF"/>
                <element name="ADV_THU_BK_SW_ADD"/>
                <element name="ADV_THU_BK_SW_TAG"/>
                <element name="ADV_THU_BK_TLX"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="APPLBANK"/>
                <element name="APPLY_FLG__DESC__"/>
                <element name="APPLY_FLG"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD1_BTN"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_BANK_ADD_ORDERNO"/>
                <element name="APPL_BANK_MAIL_ADD_ORDERNO"/>
                <element name="APPL_BR_CD"/>
                <element name="APPL_CORR_MED1__DESC__"/>
                <element name="APPL_CORR_MED1"/>
                <element name="APPL_CUST_ADD_ORDERNO"/>
                <element name="APPL_CUST_BK"/>
                <element name="APPL_CUST_MAIL_ADD_ORDERNO"/>
                <element name="APPL_EMAIL_1"/>
                <element name="APPL_FAX_NO_1"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_MAIL_ADD"/>
                <element name="APPL_MAIL_ADD1_BTN"/>
                <element name="APPL_NM"/>
                <element name="APPL_NOTES"/>
                <element name="APPL_REF"/>
                <element name="APPL_SW_ADD"/>
                <element name="APPL_SW_TAG"/>
                <element name="AUTO_EXTEN_CODE"/>
                <element name="AUTO_EXTEN_EXPIRY_DT"/>
                <element name="AUTO_EXTEN_NOTIF"/>
                <element name="AUTO_EXTEN_NOTIF_PERIOD"/>
                <element name="AUTO_EXTEN_PERIOD"/>
                <element name="AUTO_RENEW__DESC__"/>
                <element name="AUTO_RENEW"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AVAL_WT_BK_ADD1"/>
                <element name="AVAL_WT_BK_ADD2"/>
                <element name="AVAL_WT_BK_ADD3"/>
                <element name="AVAL_WT_BK_ADD_BTN"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AVAL_WT_BK_ID_BTN"/>
                <element name="AVAL_WT_BK_NM"/>
                <element name="AVAL_WT_BK_NOTES"/>
                <element name="AVAL_WT_BK_OPT__DESC__"/>
                <element name="AVAL_WT_BK_OPT"/>
                <element name="AVAL_WT_BK_ORDER_NO"/>
                <element name="AVAL_WT_BK_SW_ADD"/>
                <element name="AVAL_WT_BK_SW_TAG"/>
                <element name="AVLBL_BK_ID_BTN"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BASE_BAL"/>
                <element name="BASE_CCY"/>
                <element name="BASE_RT"/>
                <element name="BENEFICIARYBANK"/>
                <element name="BENE_ACC_NO"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD1_BTN"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_BANK_ADD_ORDERNO"/>
                <element name="BENE_BANK_MAIL_ADD_ORDERNO"/>
                <element name="BENE_CNTY_CD"/>
                <element name="BENE_CNTY_NM"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_CUST_ADD_ORDERNO"/>
                <element name="BENE_CUST_BK"/>
                <element name="BENE_CUST_MAIL_ADD_ORDERNO"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_MAIL_ADD"/>
                <element name="BENE_MAIL_ADD1_BTN"/>
                <element name="BENE_NM"/>
                <element name="BENE_NOTES"/>
                <element name="BENE_REF"/>
                <element name="BENE_SW_ADD"/>
                <element name="BENE_SW_TAG"/>
                <element name="BK_TO_BK_INFO"/>
                <element name="CE_MAIN_REF"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CMDTY_CD"/>
                <element name="CNTY_CODE"/>
                <element name="CONF_BK_ADD1"/>
                <element name="CONF_BK_ADD2"/>
                <element name="CONF_BK_ADD3"/>
                <element name="CONF_BK_CORR_MED__DESC__"/>
                <element name="CONF_BK_CORR_MED"/>
                <element name="CONF_BK_ID"/>
                <element name="CONF_BK_ID_BTN"/>
                <element name="CONF_BK_MAIL_ADD"/>
                <element name="CONF_BK_NM"/>
                <element name="CONF_BK_NOTES"/>
                <element name="CONF_BK_SW_ADD"/>
                <element name="CONF_BK_SW_TAG"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="CONTR_GTEE_EXP"/>
                <element name="CONTR_GTEE_REF"/>
                <element name="COUNTR_GTEE__DESC__"/>
                <element name="COUNTR_GTEE"/>
                <element name="COUNTR_INDMNTY_HELD__DESC__"/>
                <element name="COUNTR_INDMNTY_HELD"/>
                <element name="COUNTR_INDMNTY_REQ__DESC__"/>
                <element name="COUNTR_INDMNTY_REQ"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="ClauseButton2"/>
                <element name="ClauseButton3"/>
                <element name="DEF_PMT_DET"/>
                <element name="DELIVERY_TO__DESC__"/>
                <element name="DELIVERY_TO"/>
                <element name="DELIVERY_TO_CODE"/>
                <element name="DELIVERY_TO_NM_ADD"/>
                <element name="DEST_PLACE"/>
                <element name="DEST_PORT"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DOCS_PRESENTED_BY__DESC__"/>
                <element name="DOCS_PRESENTED_BY"/>
                <element name="DOC_PRES_INSTR"/>
                <element name="DRAFTS_AT"/>
                <element name="DRAFT_GTEE__DESC__"/>
                <element name="DRAFT_GTEE"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ADD_BTN"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_NOTES"/>
                <element name="DRWE_ORDER_NO"/>
                <element name="DRWE_SW_ADD"/>
                <element name="DRWE_SW_TAG"/>
                <element name="DRW_ID_BTN"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FORM_OF_GTEE__DESC__"/>
                <element name="FORM_OF_GTEE"/>
                <element name="FOR_31R"/>
                <element name="FOR_39P"/>
                <element name="FUNCTION_ACTION"/>
                <element name="FURTHER_IDENTITY"/>
                <element name="FXD_EXPIRY__DESC__"/>
                <element name="FXD_EXPIRY"/>
                <element name="GOODS_DESC"/>
                <element name="GOODS_DESC_BTN"/>
                <element name="GOODS_ETA_DT"/>
                <element name="GOVERN_LAW"/>
                <element name="GOVERN_LAW_CNTY_CODE"/>
                <element name="GTEE_AMT"/>
                <element name="GTEE_BAL"/>
                <element name="GTEE_CCY"/>
                <element name="GTEE_DETAILS"/>
                <element name="GTEE_DETAILS_79"/>
                <element name="GTEE_TYPE__DESC__"/>
                <element name="GTEE_TYPE"/>
                <element name="IDEN_ID"/>
                <element name="IMLC_TEMP_TAG39"/>
                <element name="INDEMNBANK"/>
                <element name="INDEMN_ADD1"/>
                <element name="INDEMN_ADD1_BTN"/>
                <element name="INDEMN_ADD2"/>
                <element name="INDEMN_ADD3"/>
                <element name="INDEMN_BANK_ADD_ORDERNO"/>
                <element name="INDEMN_BANK_MAIL_ADD_ORDERNO"/>
                <element name="INDEMN_CORR_MED__DESC__"/>
                <element name="INDEMN_CORR_MED"/>
                <element name="INDEMN_CUST_ADD_ORDERNO"/>
                <element name="INDEMN_CUST_MAIL_ADD_ORDERNO"/>
                <element name="INDEMN_EMAIL"/>
                <element name="INDEMN_FAX"/>
                <element name="INDEMN_ID"/>
                <element name="INDEMN_ID_BTN"/>
                <element name="INDEMN_MAIL_ADD"/>
                <element name="INDEMN_MAIL_ADD1_BTN"/>
                <element name="INDEMN_NM"/>
                <element name="INDEMN_NOTES"/>
                <element name="INDEMN_REF"/>
                <element name="INDEMN_SW_ADD"/>
                <element name="INDEMN_SW_TAG"/>
                <element name="INDIVID_DRAW_FLG__DESC__"/>
                <element name="INDIVID_DRAW_FLG"/>
                <element name="ISSUE_BK_52_ADD1"/>
                <element name="ISSUE_BK_52_ADD2"/>
                <element name="ISSUE_BK_52_ADD3"/>
                <element name="ISSUE_BK_52_NM"/>
                <element name="ISSUE_BK_52_SW_ADD"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ADD_BTN"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_NOTES"/>
                <element name="ISSUE_BK_ORDER_NO"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_DT"/>
                <element name="JURISDICTION"/>
                <element name="LANG_CD__DESC__"/>
                <element name="LANG_CD"/>
                <element name="LCY"/>
                <element name="LIAB_TRXCCY_AMT"/>
                <element name="LOAD_PLACE"/>
                <element name="LOAD_PORT"/>
                <element name="LOGIN_BIC"/>
                <element name="LOGIN_TIME"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MAIL_METHOD_1ST__DESC__"/>
                <element name="MAIL_METHOD_1ST"/>
                <element name="MAIL_METHOD_2ND__DESC__"/>
                <element name="MAIL_METHOD_2ND"/>
                <element name="MANU_AUTO_CLOSURE__DESC__"/>
                <element name="MANU_AUTO_CLOSURE"/>
                <element name="MATURITY_DT"/>
                <element name="MIX_PMT_DETL"/>
                <element name="MSG_TYPE"/>
                <element name="MT798_25A_ALTER_CHG_ACC"/>
                <element name="NARR_MAIL"/>
                <element name="NOTES"/>
                <element name="NXT_STATUS"/>
                <element name="PARTIAL_SHIP__DESC__"/>
                <element name="PARTIAL_SHIP"/>
                <element name="PARTIAL_SHIP_NARR"/>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REG_DT"/>
                <element name="SAME_AS_APPL_FLG"/>
                <element name="SEND_TO__DESC__"/>
                <element name="SEND_TO"/>
                <element name="SEND_TO_ADD1"/>
                <element name="SEND_TO_ADD1_BTN"/>
                <element name="SEND_TO_ADD2"/>
                <element name="SEND_TO_ADD3"/>
                <element name="SEND_TO_ADD_ORDERNO"/>
                <element name="SEND_TO_CNTY_CD"/>
                <element name="SEND_TO_CNTY_NM"/>
                <element name="SEND_TO_CORR_MED__DESC__"/>
                <element name="SEND_TO_CORR_MED"/>
                <element name="SEND_TO_EMAIL"/>
                <element name="SEND_TO_FAX"/>
                <element name="SEND_TO_ID"/>
                <element name="SEND_TO_ID_BTN"/>
                <element name="SEND_TO_MAIL_ADD"/>
                <element name="SEND_TO_MAIL_ADD1_BTN"/>
                <element name="SEND_TO_MAIL_ADD_ORDERNO"/>
                <element name="SEND_TO_NM"/>
                <element name="SEND_TO_NOTES"/>
                <element name="SEND_TO_REF"/>
                <element name="SEND_TO_SW_ADD"/>
                <element name="SEND_TO_SW_TAG"/>
                <element name="SHIP_PRD"/>
                <element name="SIGNATURE"/>
                <element name="SIGNATURE2"/>
                <element name="SND_TO_ID_BANK_BTN"/>
                <element name="SPCL_INSTR"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SUB_MESS_TYPE"/>
                <element name="SW_FORM"/>
                <element name="TEMP_ACCCY"/>
                <element name="TEMP_ACNO"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CORR_ATTCH"/>
                <element name="TEMP_CORR_CRSPD"/>
                <element name="TEMP_CORR_INSTR"/>
                <element name="TEMP_CUST_ATTCH"/>
                <element name="TEMP_CUST_CRSPD"/>
                <element name="TEMP_CUST_INSTR"/>
                <element name="TEMP_DOC_DT"/>
                <element name="TEMP_FORM_OF_LC"/>
                <element name="TEMP_GOVERN_LAW"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RV_DEBITACC"/>
                <element name="TEMP_RV_MATDATE"/>
                <element name="TEMP_TYPE__DESC__"/>
                <element name="TEMP_TYPE"/>
                <element name="TEMP_USER_EMAIL"/>
                <element name="TEMP_USER_FAX"/>
                <element name="TEMP_USER_NM"/>
                <element name="TEMP_USER_TEL_NO"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TMPL_BTN"/>
                <element name="TNSHIP__DESC__"/>
                <element name="TNSHIP"/>
                <element name="TNSHIP_NARR"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="UNDERLYING_TRANS_DETAILS"/>
                <element name="WEB_REF"/>
                <element name="X203_52_PARTY_IDENTIFIER"/>
                <element name="X203_58_PARTY_IDENTIFIER"/>
                <element name="X798_20E_REL"/>
                <element name="X798_20E_REL_CODE__DESC__"/>
                <element name="X798_20E_REL_CODE"/>
                <element name="X798_20_REF"/>
                <element name="X798_22B_SPECIAL_TERMS"/>
                <element name="X798_22G_DELIVERY_CODE__DESC__"/>
                <element name="X798_22G_DELIVERY_CODE"/>
                <element name="X798_23E_TRANS_ADD_INFO"/>
                <element name="X798_23E_TRANS_METHOD"/>
                <element name="X798_23X_CODE"/>
                <element name="X798_23X_NARR"/>
                <element name="X798_24E_GUART_DELIV_ADD_INFO"/>
                <element name="X798_24E_GUART_DELIV_METH"/>
                <element name="X798_29A_CUST_CONT"/>
                <element name="X798_29D_BENE_CONTACT"/>
                <element name="X798_29S_CUST_IDEN_CODE"/>
                <element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
                <element name="X798_29S_CUST_IDEN_PARTY"/>
                <element name="X798_31R_REF_DT1"/>
                <element name="X798_31R_REF_DT2"/>
                <element name="X798_31S_DOC_DATE"/>
                <element name="X798_35L_TRANS_METHOD"/>
                <element name="X798_37J_GURE_VALUE_PERCENT"/>
                <element name="X798_39C_ADD_AMT_NARR"/>
                <element name="X798_49J_BENE_STATE"/>
                <element name="X798_53C_LIABILITY_ACC"/>
                <element name="X798_71F_TOTAL_CONTR_AMT"/>
                <element name="X798_71F_TOTAL_CONTR_CCY"/>
                <element name="X798_72C_C2B_INFO"/>
                <element name="X798_AMT_TYPE_39P"/>
                <element name="X798_CONF_INDI"/>
                <element name="X798_CRE_DATE"/>
                <element name="X798_CRE_TIME"/>
                <element name="X798_CUST_ADD"/>
                <element name="X798_CUST_CONT"/>
                <element name="X798_CUST_REF"/>
                <element name="X798_FORM_GTEE_22E"/>
                <element name="X798_KIND_22D"/>
                <element name="X798_LIAD_DETL_26D"/>
                <element name="X798_TYPE_GTEE_22K"/>
                <element name="X798_TYPE_NARR_22K"/>
                <element name="X798_VALI_TYPE_23B"/>
                <element name="X798_WORD_GTEE_22J"/>
                <element name="button1"/>
                <element name="button2"/>
                <element name="button3"/>
                <element name="button4"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
