EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Add Exch Favor Rate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BUYING_FAV_RT"/>
                            <element name="CUST_ID"/>
                            <element name="CUST_NM_C"/>
                            <element name="C_MAIN_REF"/>
                            <element name="SELLING_FAV_RT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
