EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_ProductOrigin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_PDCTORGN__DESC__"/>
<element name="TSU_PDCTORGN"/>
</sequence>
</complexType>
</element>
</schema>
