EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PaymentProcessForClean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_C_SEND_103"/>
<element name="CPYT_C_SEND_200"/>
<element name="CPYT_C_SEND_202"/>
<element name="CPYT_C_SEND_205"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
