EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYS_ViewLogDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_CLASS_NAME"/>
                            <element name="C_ERR_INFO"/>
                            <element name="C_SEVERITY"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="T_SYS_LOG_TIME"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
