EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_DI_Due_Diligence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMOUNT"/>
                <element name="APPL_CNTY_RES"/>
                <element name="APP_TYPE"/>
                <element name="AUDIT_CODE"/>
                <element name="AUDT_DESC"/>
                <element name="AUDT_FUNCTION"/>
                <element name="AUDT_INSERTED_TMSTAMP"/>
                <element name="AUDT_MAIN_REF"/>
                <element name="AUDT_OP_ID"/>
                <element name="AUDT_SUB_TYPE"/>
                <element name="AUDT_TRX_REF"/>
                <element name="AUDT_TYPE"/>
                <element name="BASE_RATE_TEMP"/>
                <element name="BUSI_UNIT"/>
                <element name="CALBK"/>
                <element name="CANCEL_FLG"/>
                <element name="CCY"/>
                <element name="CONT_NM"/>
                <element name="CONT_NO"/>
                <element name="CR_AMT"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_REF"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_MAIN_REF"/>
                <element name="CallBackReq"/>
                <element name="DAYS_BACK"/>
                <element name="DB_AMT"/>
                <element name="DB_CCY"/>
                <element name="DOCS"/>
                <element name="DUPLICATE_TRN"/>
                <element name="DUP_CHK"/>
                <element name="EXCH_CTRL"/>
                <element name="FDS_AVAL"/>
                <element name="FIELD_1_X"/>
                <element name="FIELD_6_X"/>
                <element name="FIELDs"/>
                <element name="HELP_LINK_URL"/>
                <element name="INT_CUST_ID"/>
                <element name="MD_I"/>
                <element name="MLT_STLMT"/>
                <element name="NOTES"/>
                <element name="NUM_ACCTS"/>
                <element name="NXT_STATUS"/>
                <element name="OLDVALUES"/>
                <element name="OLDVALUES_ACC"/>
                <element name="OLDVALUES_COVERNO"/>
                <element name="OLDVALUES_OVR"/>
                <element name="OVRIDE"/>
                <element name="Ord_Cust_lookup"/>
                <element name="PRIORITY"/>
                <element name="PRODREF"/>
                <element name="RATE_NAME"/>
                <element name="RATE_TYPE"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="REVE_IND"/>
                <element name="SECOND_CHG_AMT"/>
                <element name="SETT_ACC_AUDIT"/>
                <element name="SETT_ACC_AUDIT1"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RESULT2"/>
                <element name="TRX_HISTORY"/>
                <element name="TRX_HISTORY_TEMP"/>
                <element name="VAT_IND1"/>
                <element name="VERF_SIGN"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUACNO_50F"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD1_50F"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD2_50F"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCUADD3_50F"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_ID_50A_B"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_NM_50F"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="lookup1"/>
            </sequence>
        </complexType>
    </element>
</schema>
