EE_PARA/EE_PARA/Default/FORM/form_multi_schema_BatchManageInit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BATCH_OP_INQ"/>
<element name="TASK_CONFIRM"/>
<element name="TASK_STATE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
