EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_RltdTxRefs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_DS_FINAL_FLG__DESC__"/>
<element name="TSU_DS_FINAL_FLG"/>
<element name="TSU_FORCD_MTCH_FLG__DESC__"/>
<element name="TSU_FORCD_MTCH_FLG"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SUBMITR_TRX_REF"/>
<element name="TSU_TID"/>
</sequence>
</complexType>
</element>
</schema>
