EE_PARA/EE_PARA/Default/FORM/form_schema_SwFMTAddress.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="ORDER_NO"/>
<element name="SWF_FMT_NM"/>
<element name="SWIFT_FMT_ADD1"/>
<element name="SWIFT_FMT_ADD2"/>
<element name="SWIFT_FMT_ADD3"/>
</sequence>
</complexType>
</element>
</schema>
