EE_PARA/EE_PARA/Default/FORM/form_schema_TIER_AMOUNT_PRORATED_PERIOD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="Add"/>
                <element name="C_AGREE_DESC"/>
                <element name="C_CCY_TIER"/>
                <element name="C_MIN_CCY"/>
                <element name="C_PERIOD_NUM"/>
                <element name="C_PERIOD_UNIT"/>
                <element name="Delete"/>
                <element name="F_PERCENTAGE0"/>
                <element name="F_PERCENTAGE_OVER"/>
                <element name="I_PERIOD_MAX"/>
                <element name="I_PERIOD_MIN"/>
                <element name="Y_MAX_AMT"/>
                <element name="Y_MIN_AMT"/>
                <element name="Y_TIER_FLAT_AMT0"/>
                <element name="Y_TIER_FLAT_AMT_OVER"/>
                <element name="Y_UPTO_AMT"/>
                <element name="Y_UPTO_AMT0"/>
                <element name="max_level_count"/>
                <element name="tierUnit"/>
            </sequence>
        </complexType>
    </element>
</schema>
