EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFFinancingReturn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="COMMON_PRDT_CODE"/>
                            <element name="C_BU_ID"/>
                            <element name="C_FUNC_NAME"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CR_CNTR_NO"/>
                            <element name="FA_CR_REF"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INT_INCOME_ACNO"/>
                            <element name="FA_INV_LOAN_AMT"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LOAN_AC_NO"/>
                            <element name="FA_LOAN_INT_ACC_NO"/>
                            <element name="FA_LOAN_STATUS"/>
                            <element name="FA_OVDUE_INT_RT"/>
                            <element name="FA_OVDUE_INT_SUM"/>
                            <element name="FA_OVD_IRT_SPREAD"/>
                            <element name="FA_PAID_INT_SUM"/>
                            <element name="FA_PAID_PRIN_SUM"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_PMT_REF"/>
                            <element name="FA_PMT_VAL_DT"/>
                            <element name="FA_SEL_AC_AMT"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP_AMT19"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="FA_TEMP_IRT_SPREAD"/>
                            <element name="FA_TEMP_PEN_VAL_DT"/>
                            <element name="FA_TEMP_TRX_DT"/>
                            <element name="FA_TTL_CRN_AMT"/>
                            <element name="FA_TTL_FIN_RET_BAL"/>
                            <element name="GL_BUSI_TYPE"/>
                            <element name="GTS_BR_ID"/>
                            <element name="GTS_BR_NM"/>
                            <element name="GTS_DISTRICT_CODE"/>
                            <element name="GTS_PRVN_ID"/>
                            <element name="IA_I_BASE_DAYS"/>
                            <element name="OWNER_BR_NM"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="RPT_TRX_REF_NO1"/>
                            <element name="ReturnFin">
                                <complexType>
                                    <sequence>
                                        <element name="FA_BA_FLG__DESC__"/>
                                        <element name="FA_BA_FLG"/>
                                        <element name="FA_CHG_BC_AMT"/>
                                        <element name="FA_CRN_AMT_SUM"/>
                                        <element name="FA_CRN_BAL"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_DSP_AMT"/>
                                        <element name="FA_FIN_LOAN_AMT"/>
                                        <element name="FA_FIN_RETURN_RSN__DESC__"/>
                                        <element name="FA_FIN_RETURN_RSN"/>
                                        <element name="FA_FIN_RET_BAL"/>
                                        <element name="FA_INT_CHG_TYPE__DESC__"/>
                                        <element name="FA_INT_CHG_TYPE"/>
                                        <element name="FA_INV_LINK_REF"/>
                                        <element name="FA_INV_LOAN_AMT"/>
                                        <element name="FA_INV_LOAN_BAL"/>
                                        <element name="FA_INV_LOAN_ID"/>
                                        <element name="FA_INV_LOAN_TIMES"/>
                                        <element name="FA_INV_REFUND_INT"/>
                                        <element name="FA_LAST_PINT_DT"/>
                                        <element name="FA_LAST_PMT_DT"/>
                                        <element name="FA_LOAN_DUE_DT"/>
                                        <element name="FA_LOAN_ID"/>
                                        <element name="FA_LOAN_INT_AMT"/>
                                        <element name="FA_LOAN_INT_RT"/>
                                        <element name="FA_LOAN_VAL_DT"/>
                                        <element name="FA_OVDUE_INT_RT"/>
                                        <element name="FA_OVD_INT_AMT"/>
                                        <element name="FA_PEN_INT_AMT"/>
                                        <element name="FA_PEN_INT_EDT"/>
                                        <element name="FA_PEN_INT_RT"/>
                                        <element name="FA_PEN_INT_SDT"/>
                                        <element name="FA_PMT_AMT"/>
                                        <element name="FA_PMT_DT"/>
                                        <element name="FA_PMT_VAL_DT"/>
                                        <element name="FA_SUM_PERCENT"/>
                                        <element name="FA_TEMP_AMT10"/>
                                        <element name="FA_TEMP_AMT7"/>
                                        <element name="FA_TEMP_AMT8"/>
                                        <element name="FA_TRF_FX_RT"/>
                                        <element name="TEMP_AMT18"/>
                                        <element name="TEMP_DATE1"/>
                                        <element name="TEMP_LAST_PINT_DT"/>
                                        <element name="Settle_loan">
                                            <complexType>
                                                <sequence>
                                                    <element name="FA_LOAN_VAL_DT"/>
                                                    <element name="FA_INV_LOAN_TIMES"/>
                                                    <element name="FA_LOAN_ID"/>
                                                    <element name="FA_DOC_NO"/>
                                                    <element name="FA_INV_LOAN_ID"/>
                                                    <element name="FA_LOAN_PAID_AMT"/>
                                                    <element name="FA_LOAN_IPAID_AMT"/>
                                                    <element name="FA_LOAN_PPAID_AMT"/>
                                                    <element name="FA_LOAN_INT_AMT"/>
                                                    <element name="FA_LAST_PINT_DT"/>
                                                    <element name="FA_INV_LOAN_EBAL"/>
                                                    <element name="FA_OVDUE_INT_RT"/>
                                                    <element name="FA_TEMP_DT1"/>
                                                    <element name="FA_INT_CHG_TYPE__DESC__"/>
                                                    <element name="FA_INT_CHG_TYPE"/>
                                                    <element name="FA_OVD_INT_EAMT"/>
                                                    <element name="FA_LOAN_DUE_DT"/>
                                                    <element name="IA_Y_REFUND_INT"/>
                                                    <element name="FA_LOAN_INT_RT"/>
                                                    <element name="FA_TEMP_LOAN_EBAL"/>
                                                    <element name="FA_TEMP_AMT19"/>
                                                    <element name="FA_LOAN_CCY"/>
                                                    <element name="FA_TEMP_INV_INT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TEMP_AMT14"/>
                            <element name="TEMP_XBOR_RT"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
