EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_Edit_TimeZone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CNTY_CODE_DISP"/>
                            <element name="C_DST_CHANGED"/>
                            <element name="C_DST_CHANGED_DISP"/>
                            <element name="C_DST_TYPE"/>
                            <element name="C_SUB_CNTY"/>
                            <element name="C_SUB_CNTY_DISP"/>
                            <element name="C_TIMEZONE"/>
                            <element name="C_TZ_TYPE"/>
                            <element name="C_TZ_TYPE_DISP"/>
                            <element name="I_DST_TD_H"/>
                            <element name="I_DST_TD_M"/>
                            <element name="I_ENDDATE_D"/>
                            <element name="I_ENDDATE_D_DISP"/>
                            <element name="I_ENDDATE_M"/>
                            <element name="I_ENDTIME_H"/>
                            <element name="I_ENDTIME_M"/>
                            <element name="I_ENDWEEK_D"/>
                            <element name="I_ENDWEEK_N"/>
                            <element name="I_STARTDATE_D"/>
                            <element name="I_STARTDATE_D_DISP"/>
                            <element name="I_STARTDATE_M"/>
                            <element name="I_STARTTIME_H"/>
                            <element name="I_STARTTIME_M"/>
                            <element name="I_STARTWEEK_D"/>
                            <element name="I_STARTWEEK_N"/>
                            <element name="OP_TYPE"/>
                            <element name="_IS_TIMEZONE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
