EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_GenerateInvoice_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BUYER_NAME"/>
<element name="TSU_BYRBK_BIC"/>
<element name="TSU_BYRBK_ID"/>
<element name="TSU_BYRBK_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_CMON_SUBM_REF"/>
<element name="TSU_COMM_AMT"/>
<element name="TSU_COMM_DATA_ID"/>
<element name="TSU_COMM_DT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_CUST_ID"/>
<element name="TSU_CUST_REF"/>
<element name="TSU_DOC_CUSTREF"/>
<element name="TSU_EVENT_NAME"/>
<element name="TSU_INSTRUCTION__DESC__"/>
<element name="TSU_INSTRUCTION"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_PO_ID_TEMP"/>
<element name="TSU_SELLER_NAME"/>
<element name="TSU_SELLRBK_BIC"/>
<element name="TSU_SELLRBK_ID"/>
<element name="TSU_SELLRBK_NAME"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
