EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_BuyerAccountRegister.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BRANCH"/>
                            <element name="ACC_OWN_TP_CD__DESC__"/>
                            <element name="ACC_OWN_TP_CD"/>
                            <element name="ACC_REGST_TP"/>
                            <element name="ACC_SH_NM"/>
                            <element name="ACC_TP_CD"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_NM"/>
                            <element name="C_AC_NUMBER"/>
                            <element name="C_AC_STAT__DESC__"/>
                            <element name="C_AC_STAT"/>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CREA_BY"/>
                            <element name="C_CURRENCY"/>
                            <element name="C_CUST_ID"/>
                            <element name="INST_FIN_CD"/>
                            <element name="OP_TYPE"/>
                            <element name="REMARKS"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
