EE_PARA/EE_PARA/Default/FORM/form_schema_std_CHG_CommRange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CORG_ACTION"/>
                <element name="C_COMMRANGE_CODE"/>
                <element name="C_COMMRANGE_DESC"/>
                <element name="C_COMMRANGE_NAME"/>
                <element name="C_CUST_BANK_FLAG"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
