EE_PARA/EE_PARA/Default/FORM/form_schema_TRNB_EditNostroBank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CURRENT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="LOCAL_TIME"/>
                <element name="NOTES"/>
                <element name="NS_BK_ADD1"/>
                <element name="NS_BK_ADD2"/>
                <element name="NS_BK_ADD3"/>
                <element name="NS_BK_CITY_NM"/>
                <element name="NS_BK_CNTY_CD"/>
                <element name="NS_BK_CNTY_NM"/>
                <element name="NS_BK_HO_CNTY_CD"/>
                <element name="NS_BK_HO_NM"/>
                <element name="NS_BK_HO_SWADD"/>
                <element name="NS_BK_ID"/>
                <element name="NS_BK_NM"/>
                <element name="NS_BK_SWADD"/>
                <element name="NS_BK_SW_TAG"/>
                <element name="Nostro_Account_No">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DEFLT_FLG"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="INTMED_BK_SWADD"/>
                            <element name="NOSTRO_AC_NO"/>
                            <element name="NOSTRO_CCY"/>
                            <element name="NS_BK_ID"/>
                            <element name="NS_BK_SWADD"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="TRX_TP"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Nostro_Bank_Account">
                    <complexType>
                        <sequence>
                            <element name="CONT_EMAIL_ADD"/>
                            <element name="CONT_FAX_NO"/>
                            <element name="CONT_MAIL_ADD"/>
                            <element name="CONT_NM"/>
                            <element name="CONT_TEL_NO"/>
                            <element name="CONT_TYPE__DESC__"/>
                            <element name="CONT_TYPE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="NS_BK_ID"/>
                            <element name="NS_BK_SWADD"/>
                            <element name="TRANS_TYPE"/>
                            <element name="TRX_TP"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="SYN_SOURCE_NOTES"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
