EE_PARA/EE_PARA/Default/FORM/form_schema_Std_Clearing_Info_Re.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BIC_CODE"/>
                <element name="C_ACCT_BY_ID"/>
                <element name="C_ACCT_CCY"/>
                <element name="C_ACCT_WITH_ID"/>
                <element name="C_ADD_FLAG"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CLEAR_DESC"/>
                <element name="C_CLEAR_TYPE"/>
                <element name="C_CNTY_CODE"/>
                <element name="FIELD_SIZE"/>
                <element name="OP_TYPE"/>
                <element name="REC_CNTY_CODE"/>
                <element name="SEC_ALL"/>
                <element name="SELECT"/>
                <element name="TRX_STATUS"/>
                <element name="_ARRAY_FIELD"/>
                <element name="_ARRAY_VALUE"/>
                <element name="_INDEX"/>
                <element name="_IS_CLEARING"/>
                <element name="_OP_TYPE"/>
                <element name="_TRX_STATUS"/>
                <element name="button1"/>
                <element name="button2"/>
            </sequence>
        </complexType>
    </element>
</schema>
