EE_PARA/EE_PARA/Default/FORM/form_schema_DISC_Dom_InvReg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="FA_DOC_AMT"/>
                <element name="FA_DOC_BAL"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_DT"/>
                <element name="FA_DOC_DUE_DT"/>
                <element name="FA_DOC_NO"/>
                <element name="FA_DOC_REF"/>
                <element name="FA_DOC_VAL_DT"/>
                <element name="FA_HAS_IMAGE"/>
                <element name="FA_IMAGE_INDEX"/>
                <element name="FA_INV_STATUS"/>
                <element name="FA_ORI_IMAGE_INDEX"/>
                <element name="FA_TEMP_AMT8"/>
            </sequence>
        </complexType>
    </element>
</schema>
