EE_PARA/EE_PARA/Default/FORM/form_schema_TEST_Compliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TEMP_REF"/>
<element name="TEST_BUYER_NAME"/>
<element name="TEST_BUYR_ADR_LINE_1"/>
<element name="TEST_BUYR_ADR_LINE_2"/>
<element name="TEST_BUYR_ADR_LINE_3"/>
<element name="TEST_CAR_VES_NAME"/>
<element name="TEST_CONSIGNEE_NAME"/>
<element name="TEST_CONSIG_ADR_LINE_1"/>
<element name="TEST_CONSIG_ADR_LINE_2"/>
<element name="TEST_CONSIG_ADR_LINE_3"/>
<element name="TEST_COUNTRY_OF_ORIGIN"/>
<element name="TEST_CURREN_CY"/>
<element name="TEST_FGHT_FWD_ADR_LINE_1"/>
<element name="TEST_FGHT_FWD_ADR_LINE_2"/>
<element name="TEST_FGHT_FWD_ADR_LINE_3"/>
<element name="TEST_FGHT_FWD_NAME"/>
<element name="TEST_GOODS_DESCRIPTION"/>
<element name="TEST_INSUN_COMPANY_NAME"/>
<element name="TEST_ISUN_COMPANY_ADR_1"/>
<element name="TEST_ISUN_COMPANY_ADR_2"/>
<element name="TEST_ISUN_COMPANY_ADR_3"/>
<element name="TEST_NOTIFY_PARTY_NAME"/>
<element name="TEST_NTFY_PARTY_ADR_LINE_1"/>
<element name="TEST_NTFY_PARTY_ADR_LINE_2"/>
<element name="TEST_NTFY_PARTY_ADR_LINE_3"/>
<element name="TEST_PORT_DSTN_DISCHARGE"/>
<element name="TEST_PORT_PLC_OF_LOAD"/>
<element name="TEST_SHIPPING_AGENT_NAME"/>
<element name="TEST_SHIP_AGT_ADR_LINE_1"/>
<element name="TEST_SHIP_AGT_ADR_LINE_2"/>
<element name="TEST_SHIP_AGT_ADR_LINE_3"/>
<element name="TEST_SHIP_COMPANY_NAME"/>
<element name="TEST_SHIP_CPY_ADR_LINE_1"/>
<element name="TEST_SHIP_CPY_ADR_LINE_2"/>
<element name="TEST_SHIP_CPY_ADR_LINE_3"/>
<element name="TEST_SUPPLIER_ADR_LINE_1"/>
<element name="TEST_SUPPLIER_ADR_LINE_2"/>
<element name="TEST_SUPPLIER_ADR_LINE_3"/>
<element name="TEST_SUPPLIER_BANK_NAME"/>
<element name="TEST_SUPPLIER_NAME"/>
<element name="TEST_SUP_BANK_ADR_LINE_1"/>
<element name="TEST_SUP_BANK_ADR_LINE_2"/>
<element name="TEST_SUP_BANK_ADR_LINE_3"/>
<element name="TEST_TSN_PORT_PLACE"/>
<element name="TEST_VESSEL_NAME"/>
</sequence>
</complexType>
</element>
</schema>
