EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_ExportFactoringDisputeSetlEDI15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="FA_ACTION_CODE__DESC__"/>
                <element name="FA_ACTION_CODE"/>
                <element name="FA_DOC_AMT"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_DT"/>
                <element name="FA_DOC_DUE_DT"/>
                <element name="FA_DOC_NO"/>
                <element name="FA_DOC_REF"/>
                <element name="FA_DOC_STATUS"/>
                <element name="FA_DOC_TYPE__DESC__"/>
                <element name="FA_DOC_TYPE"/>
                <element name="FA_DSP_AMT"/>
                <element name="FA_DSP_INSTR__DESC__"/>
                <element name="FA_DSP_INSTR"/>
                <element name="FA_DSP_NO"/>
                <element name="FA_DSP_REF"/>
                <element name="FA_DSP_RSN_CODE__DESC__"/>
                <element name="FA_DSP_RSN_CODE"/>
                <element name="FA_DSP_STATUS__DESC__"/>
                <element name="FA_DSP_STATUS"/>
                <element name="FA_FIN_RETURN_REQ__DESC__"/>
                <element name="FA_FIN_RETURN_REQ"/>
                <element name="FA_INV_LOAN_BAL"/>
                <element name="FA_NOTIFY_BY__DESC__"/>
                <element name="FA_NOTIFY_BY"/>
                <element name="FA_NOTIFY_BY_NM"/>
                <element name="FA_TEMP_AMT8"/>
                <element name="FA_TRF_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
