EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_Tax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="RadioGroup2"/>
<element name="TSU_CCY"/>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_AMT_CAL"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_RT"/>
<element name="TSU_IAFT_TP__DESC__"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_LNITMNB"/>
</sequence>
</complexType>
</element>
</schema>
