EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYS_ViewLogDetail_SLA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_BG_DESC"/>
<element name="C_BG_ID"/>
<element name="C_BG_VERSION"/>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_CREATE_BY"/>
<element name="C_CREATE_UNIT"/>
<element name="C_FROM_PRITY_DESC"/>
<element name="C_FROM_PRITY_ID"/>
<element name="C_FUNC_DESC"/>
<element name="C_FUNC_ID"/>
<element name="C_LEVEL_DESC"/>
<element name="C_LEVEL_ID"/>
<element name="C_LOG_DESC"/>
<element name="C_LOG_ID"/>
<element name="C_LOG_TYPE"/>
<element name="C_MAIN_REF"/>
<element name="C_MODULE"/>
<element name="C_RULE_VERSION"/>
<element name="C_STEP_NAME"/>
<element name="C_TO_PRITY_DESC"/>
<element name="C_TO_PRITY_ID"/>
<element name="D_CREATE_DATE"/>
<element name="D_LOG_TIME"/>
<element name="I_STEP_SEQ_NO"/>
<element name="T_CREATE_TIME"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
