EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_IFPricing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_Credit"/>
                <element name="B_Credit2"/>
                <element name="B_PreCredit"/>
                <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                <element name="CLERK_ID"/>
                <element name="C_BU_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXCH_RT1"/>
                <element name="EXCH_RT2"/>
                <element name="EXCH_RT3"/>
                <element name="EXCH_RT4"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_ASSESS_CHG"/>
                <element name="FA_ASSESS_CHG_CCY"/>
                <element name="FA_BK_CHG_INCD"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_GOODS_DES"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IF_HAN_CHG_AMT"/>
                <element name="FA_IF_HAN_CHG_CCY"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_IF_OTH_CHG_AMT"/>
                <element name="FA_IF_OTH_CHG_CCY"/>
                <element name="FA_INCO_COMM_RT"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_ASS_AMT"/>
                <element name="FA_LMT_ASS_CCY"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_MSG_DT"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_PRICING_DT"/>
                <element name="FA_PRICING_REF"/>
                <element name="FA_PRICING_VAL_DT"/>
                <element name="FA_SELINFO_ID"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="PYMT_C_MAIN_REF"/>
                <element name="QR_CD_FLD"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
