EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_MultipleDebits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AMT_OUTS"/>
<element name="AMT_OUT_CCY"/>
<element name="CAP_AMT_IND"/>
<element name="COV_AMT"/>
<element name="COV_CCY"/>
<element name="COV_EXCH_RATE"/>
<element name="COV_NO"/>
<element name="COV_VAL_DT"/>
<element name="CPYT_DR_AC"/>
<element name="CPYT_DR_AC_BTN"/>
<element name="CPYT_DR_AC_TYPE"/>
<element name="CPYT_DR_ID"/>
<element name="CPYT_DR_NAME"/>
<element name="CPYT_FUNC_NAME"/>
<element name="C_AC_IDENTIFIER"/>
<element name="C_AC_NUMBER"/>
<element name="C_CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_MD_FLAG"/>
<element name="C_UNIT_CODE"/>
<element name="EXCH_RATE"/>
<element name="FIELD_6_X"/>
<element name="FOREIGN_AGNT"/>
<element name="FORM_EXCH_RATE"/>
<element name="MD_I"/>
<element name="MUL_CASH_IND"/>
<element name="MUL_FDS_AVAL"/>
<element name="MUL_OVRIDE"/>
<element name="ORG_CPYT_DR_AC"/>
<element name="ORG_EXCH_RATE"/>
<element name="ORG_PAY_AMT"/>
<element name="ORG_SETT_AMT"/>
<element name="ORG_SETT_CCY"/>
<element name="PAY_AMT"/>
<element name="PAY_CCY"/>
<element name="PRODREF"/>
<element name="PUR_SAL_IND"/>
<element name="RELA_REF"/>
<element name="SETT_AMT"/>
<element name="SETT_AMT_TEMP"/>
<element name="SETT_CCY"/>
</sequence>
</complexType>
</element>
</schema>
