EE_PARA/EE_PARA/Default/FORM/form_schema_Std_RateDescription_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_DESC_ID"/>
                <element name="C_EXCH_INT_TYPE"/>
                <element name="C_MO_FLAG"/>
                <element name="C_RATE_DESC"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
