EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_CAARequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_APPL_LMT_DUE_DT"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CAA_REF"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_LMT_EXCH_RT"/>
                <element name="FA_IF_NM"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_LONG_DAYS"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG_FUNC__DESC__"/>
                <element name="FA_MSG_FUNC"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_OWN_RISK_AMT"/>
                <element name="FA_OWN_RISK_PERC"/>
                <element name="FA_PMT_COND__DESC__"/>
                <element name="FA_PMT_COND"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_REQ_CODE__DESC__"/>
                <element name="FA_REQ_CODE"/>
                <element name="FA_REQ_DT"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TEMP_AMT12"/>
                <element name="LM_BASE_CCY"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_DUE_DAY"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RSV_LINK"/>
                <element name="MSG_TYPE"/>
                <element name="PRODUCT_CODE"/>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_AMT5"/>
                <element name="TEMP_DATE4"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
