EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_ContractSign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_SELLER"/>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_REMARK"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP4"/>
                <element name="FA_VALID_DAYS"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
