EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_BuyerInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CUST_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="FACI_BAL"/>
                <element name="FACI_TYPE"/>
                <element name="FA_BLACKLIST__DESC__"/>
                <element name="FA_BLACKLIST"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_BUYER_POSTBOX"/>
                <element name="FA_BUYER_POSTCODE"/>
                <element name="FA_BUYER_PROV"/>
                <element name="FA_CUST_FLAG__DESC__"/>
                <element name="FA_CUST_FLAG"/>
                <element name="FA_DOC_REQD"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INSU_AGR_NO"/>
                <element name="FA_INSU_COMP_FLAG__DESC__"/>
                <element name="FA_INSU_COMP_FLAG"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_PCA_REF"/>
                <element name="FA_SBR_AMT"/>
                <element name="FA_SBR_CCY"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_NO"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP_AMT8"/>
                <element name="FA_TEMP_IF_LMT_DUE_DT"/>
                <element name="FA_TEMP_LMT"/>
                <element name="FA_TEMP_RATE"/>
                <element name="FA_THEIR_FLG"/>
                <element name="RCUST_ID"/>
                <element name="SUB_DESC"/>
                <element name="TEMP_FLG1__DESC__"/>
                <element name="TEMP_FLG1"/>
                <element name="TEMP_FLG2"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="getBUYER_ID"/>
            </sequence>
        </complexType>
    </element>
</schema>
