EE_PARA/EE_PARA/Default/FORM/form_schema_COMM_ProcessMT741.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="C_MAIN_REF_20Z"/>
                <element name="SUB_MESS_TYPE"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_BTN"/>
                <element name="X759_52A_IDENTIFIER"/>
                <element name="X759_52D_PARTY_ADD1"/>
                <element name="X759_52D_PARTY_ADD2"/>
                <element name="X759_52D_PARTY_ADD3"/>
                <element name="X759_52D_PARTY_NAME"/>
                <element name="X759_52_PARTY_ID"/>
                <element name="X759_52_PARTY_IDENTIFIER"/>
                <element name="X759_52_TAG"/>
                <element name="X759_ID_52_BTN"/>
                <element name="X798_11T_CRE_DT"/>
                <element name="X798_11T_CRE_TM"/>
                <element name="X798_11T_ORG_MSG_TP"/>
                <element name="X798_12E_CANCEL_STAT"/>
                <element name="X798_20_REF"/>
                <element name="X798_21_RELATE_REF_NO"/>
                <element name="X798_22D_GUART_KIND"/>
                <element name="X798_23X_CODE"/>
                <element name="X798_23X_NARR"/>
                <element name="X798_26E_AMD_NO"/>
                <element name="X798_29S_CUST_IDEN_CODE"/>
                <element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
                <element name="X798_29S_CUST_IDEN_PARTY"/>
                <element name="X798_49L_REASON"/>
                <element name="X798_72C_C2B_INFO"/>
                <element name="X798_79_NARR"/>
                <element name="X798_ADD_BK_REF"/>
                <element name="X798_ADD_CUST_REF"/>
                <element name="X798_ADV_BK_REF_21P"/>
                <element name="X798_CRE_DATE"/>
                <element name="X798_CRE_TIME"/>
                <element name="X798_CUST_ADD"/>
                <element name="X798_CUST_REF"/>
                <element name="X798_LEAD_BK_ID"/>
                <element name="X798_PROC_BK_ID"/>
            </sequence>
        </complexType>
    </element>
</schema>
