EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_ModifySupplierCompanyProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CNTC_STAF"/>
                <element name="CNTC_STAF_EMAIL"/>
                <element name="CNTC_STAF_TEL"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_ADD"/>
                <element name="CUST_BOS_ID"/>
                <element name="CUST_HUB_BOS_ID"/>
                <element name="CUST_INSTI_CODE"/>
                <element name="CUST_MAIL"/>
                <element name="CUST_MANAGE_ID"/>
                <element name="CUST_NM"/>
                <element name="CUST_PSTLADR"/>
                <element name="CUST_STAT_CD__DESC__"/>
                <element name="CUST_STAT_CD"/>
                <element name="CUST_TEL"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="QR_CD_FLD"/>
                <element name="SALES_ID"/>
                <element name="SUPLR_TP__DESC__"/>
                <element name="SUPLR_TP"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
