EE_PARA/EE_PARA/Default/FORM/form_schema_Std_Clearing_Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_ACCT_CCY"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CLEAR_DESC"/>
                <element name="C_CLEAR_TYPE"/>
                <element name="C_CNTY_CODE"/>
                <element name="OP_TYPE"/>
                <element name="_IS_CLEAR_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
