EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_PayByPurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_CCY"/>
<element name="TSU_NET_AMT"/>
<element name="TSU_NET_CCY"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_TID"/>
<element name="TSU_TTL_AMT"/>
<element name="TSU_TTL_NET_AMT"/>
</sequence>
</complexType>
</element>
</schema>
