EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IAAC_PreAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TEST"/>
<element name="IATRXCODE"/>
<element name="IA_D_POST_FROMDATE"/>
<element name="IA_D_POST_TODATE"/>
<element name="OP_TYPE"/>
<element name="_TRX_STATUS"/>
<element name="imgDrawDown_IA_D_FROM_DATE"/>
<element name="imgDrawDown_IA_D_T0_DATE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
