EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_EnqMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT103_DUP"/>
                            <element name="AC_WT_INST_CNTY_CODE"/>
                            <element name="AC_WT_INST_CNTY_NM"/>
                            <element name="ADV_TXT"/>
                            <element name="AMOUNT"/>
                            <element name="APPL_CNTY_RES"/>
                            <element name="APP_TYPE"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AWI_lookup"/>
                            <element name="B2_lookup1"/>
                            <element name="BENE_AC_TYPE__DESC__"/>
                            <element name="BENE_AC_TYPE"/>
                            <element name="BENE_CNTY_RES"/>
                            <element name="BU"/>
                            <element name="CASH_CCY_IND"/>
                            <element name="CASH_CNTY_DESC"/>
                            <element name="CASH_SETT_AMT"/>
                            <element name="CASH_SETT_CCY"/>
                            <element name="CASH_TOT_AMT"/>
                            <element name="CCY"/>
                            <element name="CCY_CUTOFF_DAY"/>
                            <element name="CHG_SUSP_AC"/>
                            <element name="CHIPFED"/>
                            <element name="CHIP_FED"/>
                            <element name="CNTY_CODE"/>
                            <element name="CPYT_CR_BK_AC"/>
                            <element name="CPYT_CR_BK_AC1"/>
                            <element name="CPYT_DR_AC1"/>
                            <element name="CPYT_DR_CCY"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="CPYT_PAY_ADV_MSG"/>
                            <element name="CPYT_PAY_COV_MSG"/>
                            <element name="CROSS_CCY_IND"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_CRG_ACC_NO_TMP"/>
                            <element name="CUST_REF"/>
                            <element name="CUTOFF_DAY"/>
                            <element name="CUTOFF_TIME"/>
                            <element name="C_CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="ClauseButton"/>
                            <element name="DB_AMT"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DRT_DEAL_IND"/>
                            <element name="DUPLICATE_TRN"/>
                            <element name="EXCH_RATE"/>
                            <element name="FDS_TO_CHK"/>
                            <element name="FORM_CUST_ACNO"/>
                            <element name="FORM_CUST_ADD1"/>
                            <element name="FORM_CUST_ADD2"/>
                            <element name="FORM_CUST_ADD3"/>
                            <element name="FORM_CUST_NM"/>
                            <element name="FOR_CHG_AC"/>
                            <element name="FOR_CHG_ID"/>
                            <element name="FOR_CHG_NAME"/>
                            <element name="INT_ACCOUNTCOUNT"/>
                            <element name="INT_ACT1"/>
                            <element name="INT_ACT1_CCY"/>
                            <element name="INT_ACT1_STATUS"/>
                            <element name="INT_ACT1_TYPE"/>
                            <element name="INT_ACT2"/>
                            <element name="INT_ACT2_CCY"/>
                            <element name="INT_ACT2_STATUS"/>
                            <element name="INT_ACT2_TYPE"/>
                            <element name="INT_ACT3"/>
                            <element name="INT_ACT3_CCY"/>
                            <element name="INT_ACT3_STATUS"/>
                            <element name="INT_ACT3_TYPE"/>
                            <element name="INT_ACT4"/>
                            <element name="INT_ACT4_CCY"/>
                            <element name="INT_ACT4_STATUS"/>
                            <element name="INT_ACT4_TYPE"/>
                            <element name="INT_ACT5"/>
                            <element name="INT_ACT5_CCY"/>
                            <element name="INT_ACT5_STATUS"/>
                            <element name="INT_ACT5_TYPE"/>
                            <element name="INT_AMT1"/>
                            <element name="INT_AMT2"/>
                            <element name="INT_AMT3"/>
                            <element name="INT_AMT4"/>
                            <element name="INT_AMT5"/>
                            <element name="INT_BALANCECHECK_RESPONSE"/>
                            <element name="INT_CASH_IND1"/>
                            <element name="INT_CASH_IND2"/>
                            <element name="INT_CASH_IND3"/>
                            <element name="INT_CASH_IND4"/>
                            <element name="INT_CASH_IND5"/>
                            <element name="INT_C_MAIN_REF"/>
                            <element name="INT_I_EVENT_TIMES"/>
                            <element name="INT_RESPONSE"/>
                            <element name="IntIns_lookup"/>
                            <element name="MLT_STLMT"/>
                            <element name="MUL_CCY_IND"/>
                            <element name="NOTES"/>
                            <element name="NUM_ACCTS"/>
                            <element name="NXT_STATUS"/>
                            <element name="ORD_CUS_DRT_DEAL_IND"/>
                            <element name="ORIG_103_MEDI_BKID"/>
                            <element name="ORIG_103_REC_BKID"/>
                            <element name="ORIG_202SENDCORRID"/>
                            <element name="ORIG_202_REC_BKID"/>
                            <element name="ORIG_IBAN_VALID"/>
                            <element name="OVRIDE"/>
                            <element name="Ord_Acct_lookup"/>
                            <element name="Ord_Cust_lookup"/>
                            <element name="Ord_Ins_lookup"/>
                            <element name="PAY_COMM_CCY_TMP"/>
                            <element name="PAY_COMM_TMP"/>
                            <element name="PaymentMultipleDebits">
                                <complexType>
                                    <sequence>
                                        <element name="CAP_AMT_IND"/>
                                        <element name="COV_AMT"/>
                                        <element name="COV_CCY"/>
                                        <element name="COV_NO"/>
                                        <element name="COV_VAL_DT"/>
                                        <element name="CPYT_DR_AC"/>
                                        <element name="CPYT_DR_AC_TYPE"/>
                                        <element name="CPYT_DR_NAME"/>
                                        <element name="CPYT_FUNC_NAME"/>
                                        <element name="C_AC_IDENTIFIER"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="EXCH_RATE"/>
                                        <element name="FORM_EXCH_RATE"/>
                                        <element name="MD_I"/>
                                        <element name="MUL_CASH_IND"/>
                                        <element name="MUL_FDS_AVAL"/>
                                        <element name="MUL_OVRIDE"/>
                                        <element name="PAY_AMT"/>
                                        <element name="PAY_CCY"/>
                                        <element name="PUR_SAL_IND"/>
                                        <element name="RELA_REF"/>
                                        <element name="SETT_AMT"/>
                                        <element name="SETT_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="RATE_TYPE"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="REIM_INFO_TMP"/>
                            <element name="REMIT_INFO_TMP_70"/>
                            <element name="REPUR_IND"/>
                            <element name="RES_STATUS"/>
                            <element name="ROUT_PRIORITY"/>
                            <element name="Rec_Corr_lookup"/>
                            <element name="ResetButton"/>
                            <element name="SEVEN_DAYS_BACK"/>
                            <element name="SUSP_AC"/>
                            <element name="SWT_COMM_CCY_TMP"/>
                            <element name="SWT_COMM_TMP"/>
                            <element name="SYS_BUSI_UNIT"/>
                            <element name="Send_Corr_lookup"/>
                            <element name="Send_Ins_lookup"/>
                            <element name="TEMP_CASH_IND"/>
                            <element name="TOT_CHRG_AMT"/>
                            <element name="TOT_DB_AMT"/>
                            <element name="TRX_HISTORY"/>
                            <element name="TWO_DAYS_BACK"/>
                            <element name="Trd_Reim_lookup"/>
                            <element name="VOCH_ACCT_NO"/>
                            <element name="X103BENECUADD1_59A"/>
                            <element name="X103BENECUADD2_59A"/>
                            <element name="X103BENECUADD3_59A"/>
                            <element name="X103MEDIBKADD1_56A"/>
                            <element name="X103MEDIBKADD2_56A"/>
                            <element name="X103MEDIBKADD3_56A"/>
                            <element name="X103RECCORRACNO54A"/>
                            <element name="X103SENDBKADD1_51A"/>
                            <element name="X103SENDBKADD2_51A"/>
                            <element name="X103SENDBKADD3_51A"/>
                            <element name="X103SENDCORACNO53A"/>
                            <element name="X103SENDCORADD153A"/>
                            <element name="X103SENDCORADD253A"/>
                            <element name="X103SENDCORADD353A"/>
                            <element name="X103TRDREIMACNO55A"/>
                            <element name="X103TRDREIMADD155A"/>
                            <element name="X103TRDREIMADD255A"/>
                            <element name="X103TRDREIMADD355A"/>
                            <element name="X103_ACCBKADD1_57A"/>
                            <element name="X103_ACCBKADD2_57A"/>
                            <element name="X103_ACCBKADD3_57A"/>
                            <element name="X103_ACC_BKACNO57A"/>
                            <element name="X103_ACC_BKID_57A"/>
                            <element name="X103_ACC_BKNM_57A"/>
                            <element name="X103_ACC_BKSW_57A"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_BENECUACNO59A"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_BENECU_SW_59A"/>
                            <element name="X103_BK2BK_INF1_72"/>
                            <element name="X103_BK2BK_INF2_72"/>
                            <element name="X103_BK2BK_INF3_72"/>
                            <element name="X103_BK2BK_INF4_72"/>
                            <element name="X103_BK2BK_INF5_72"/>
                            <element name="X103_BK2BK_INF6_72"/>
                            <element name="X103_BKOP_CODE_23B"/>
                            <element name="X103_ENV_CONT_77T"/>
                            <element name="X103_EXCH_RT_36"/>
                            <element name="X103_INSTRCODE1_23E"/>
                            <element name="X103_INSTRCODE2_23E"/>
                            <element name="X103_INSTRCODE_23E"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_MEDIBKACNO56A"/>
                            <element name="X103_MEDI_BKID_56A"/>
                            <element name="X103_MEDI_BKNM_56A"/>
                            <element name="X103_MEDI_BKSW_56A"/>
                            <element name="X103_ORDBKACNO_52A"/>
                            <element name="X103_ORDBKADD1_52A"/>
                            <element name="X103_ORDBKADD2_52A"/>
                            <element name="X103_ORDBKADD3_52A"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUADD1_50A"/>
                            <element name="X103_ORDCUADD2_50A"/>
                            <element name="X103_ORDCUADD3_50A"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_SW_50A"/>
                            <element name="X103_ORD_BKID_52A"/>
                            <element name="X103_ORD_BKNM_52A"/>
                            <element name="X103_ORD_BKSW_52A"/>
                            <element name="X103_RECCORADD154A"/>
                            <element name="X103_RECCORADD254A"/>
                            <element name="X103_RECCORADD354A"/>
                            <element name="X103_RECCORRID_54A"/>
                            <element name="X103_RECCORRNM_54A"/>
                            <element name="X103_RECCORRSW_54A"/>
                            <element name="X103_REG_REP1_77B"/>
                            <element name="X103_REG_REP2_77B"/>
                            <element name="X103_REG_REP3_77B"/>
                            <element name="X103_REMIT_INF1_70"/>
                            <element name="X103_REMIT_INF2_70"/>
                            <element name="X103_REMIT_INF3_70"/>
                            <element name="X103_REMIT_INF4_70"/>
                            <element name="X103_SENDBKACNO51A"/>
                            <element name="X103_SENDCORRID53A"/>
                            <element name="X103_SENDCORRNM53A"/>
                            <element name="X103_SENDCORRSW53A"/>
                            <element name="X103_SEND_BKID_51A"/>
                            <element name="X103_SEND_BKNM_51A"/>
                            <element name="X103_SEND_BKSW_51A"/>
                            <element name="X103_SEND_NO_20"/>
                            <element name="X103_SETT_AMT_32A"/>
                            <element name="X103_SETT_CCY_32A"/>
                            <element name="X103_TAG_50A"/>
                            <element name="X103_TAG_51A"/>
                            <element name="X103_TAG_52A"/>
                            <element name="X103_TAG_53A"/>
                            <element name="X103_TAG_54A"/>
                            <element name="X103_TAG_55A"/>
                            <element name="X103_TAG_56A"/>
                            <element name="X103_TAG_57A"/>
                            <element name="X103_TAG_59A"/>
                            <element name="X103_TIME_INDI_13C"/>
                            <element name="X103_TRDREIMID_55A"/>
                            <element name="X103_TRDREIMNM_55A"/>
                            <element name="X103_TRDREIMSW_55A"/>
                            <element name="X103_TRX_TYPCD_26T"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202MEDIBKADD1_56A"/>
                            <element name="X202MEDIBKADD2_56A"/>
                            <element name="X202MEDIBKADD3_56A"/>
                            <element name="X202RECCORRACNO54A"/>
                            <element name="X202SENDCORACNO53A"/>
                            <element name="X202SENDCORADD153A"/>
                            <element name="X202SENDCORADD253A"/>
                            <element name="X202SENDCORADD353A"/>
                            <element name="X202_ACCBKADD1_57A"/>
                            <element name="X202_ACCBKADD2_57A"/>
                            <element name="X202_ACCBKADD3_57A"/>
                            <element name="X202_ACC_BKACNO57A"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ACC_BKSW_57A"/>
                            <element name="X202_ADV_BKADD1_B2"/>
                            <element name="X202_ADV_BKADD2_B2"/>
                            <element name="X202_ADV_BKADD3_B2"/>
                            <element name="X202_ADV_BKID_B2"/>
                            <element name="X202_ADV_BKMED_B2__DESC__"/>
                            <element name="X202_ADV_BKMED_B2"/>
                            <element name="X202_ADV_BKNM_B2"/>
                            <element name="X202_ADV_BKSW_B2"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_BENEBKACNO58A"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_BENE_BKSW_58A"/>
                            <element name="X202_BK2BK_INF1_72"/>
                            <element name="X202_BK2BK_INF2_72"/>
                            <element name="X202_BK2BK_INF3_72"/>
                            <element name="X202_BK2BK_INF4_72"/>
                            <element name="X202_BK2BK_INF5_72"/>
                            <element name="X202_BK2BK_INF6_72"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_MEDIBKACNO56A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_MEDI_BKSW_56A"/>
                            <element name="X202_ORDBKACNO_52A"/>
                            <element name="X202_ORDBKADD1_52A"/>
                            <element name="X202_ORDBKADD2_52A"/>
                            <element name="X202_ORDBKADD3_52A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_ORDBK_SW_52A"/>
                            <element name="X202_RECCORADD154A"/>
                            <element name="X202_RECCORADD254A"/>
                            <element name="X202_RECCORADD354A"/>
                            <element name="X202_RECCORRID_54A"/>
                            <element name="X202_RECCORRNM_54A"/>
                            <element name="X202_RECCORRSW_54A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_SENDCORRID53A"/>
                            <element name="X202_SENDCORRNM53A"/>
                            <element name="X202_SENDCORRSW53A"/>
                            <element name="X202_TAG_52A"/>
                            <element name="X202_TAG_53A"/>
                            <element name="X202_TAG_54A"/>
                            <element name="X202_TAG_56A"/>
                            <element name="X202_TAG_57A"/>
                            <element name="X202_TAG_58A"/>
                            <element name="X202_TIME_INDI_13C"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                            <element name="X202_lookup3"/>
                            <element name="X202_lookup4"/>
                            <element name="X202_lookup5"/>
                            <element name="X202_lookup6"/>
                            <element name="X202_lookup7"/>
                            <element name="X202_lookup8"/>
                            <element name="X202_lookup9"/>
                            <element name="lookup2"/>
                            <element name="lookup32"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
