EE_PARA/EE_PARA/Default/FORM/form_schema_EXCO_ProcessPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCP_COMM_LOCAL2"/>
                <element name="ACCT_103_ACCT_NO"/>
                <element name="ACCT_103_ADD"/>
                <element name="ACCT_103_ID"/>
                <element name="ACCT_103_ID_BTN"/>
                <element name="ACCT_103_MEDIUM"/>
                <element name="ACCT_103_NAME"/>
                <element name="ACCT_103_SWIFT_ADD"/>
                <element name="ACCT_103_SWIFT_FLAG"/>
                <element name="ACCT_103_SWIFT_TAG"/>
                <element name="ACCT_202_ACCT_NO"/>
                <element name="ACCT_202_ADD"/>
                <element name="ACCT_202_ID"/>
                <element name="ACCT_202_ID_BTN"/>
                <element name="ACCT_202_MEDIUM"/>
                <element name="ACCT_202_NAME"/>
                <element name="ACCT_202_SWIFT_ADD"/>
                <element name="ACCT_202_SWIFT_FLA"/>
                <element name="ACCT_202_SWIFT_TAG"/>
                <element name="ACCT_LOOKUP1"/>
                <element name="ACCT_LOOKUP2"/>
                <element name="ACCT_WITH_BKID1"/>
                <element name="AC_WT_BK_ADD1"/>
                <element name="AC_WT_BK_ID"/>
                <element name="AC_WT_BK_NM"/>
                <element name="AMDCOM_DWE_CCY"/>
                <element name="AMDCOM_DWR_CHG_CCY"/>
                <element name="AMDCOM_DWR_LCY"/>
                <element name="AMDCOM_UN_DWE_CCY"/>
                <element name="AMDCOM_UN_DWR_LCY"/>
                <element name="AMD_COMM_LOCAL"/>
                <element name="AMD_COMM_LOCAL2"/>
                <element name="AMT_RCVD_OUR_CHGS"/>
                <element name="AUDIT_NOTES"/>
                <element name="BASE_RATE_TEMP"/>
                <element name="BENE102_ADD"/>
                <element name="BENE102_ID"/>
                <element name="BENE102_ID_BTN"/>
                <element name="BENE102_MEDIUM"/>
                <element name="BENE102_NAME"/>
                <element name="BENE102_SWF_ACCTNO"/>
                <element name="BENE102_SWF_ADD"/>
                <element name="BENE102_SWF_TAG"/>
                <element name="BENE_103_ACCT_NO"/>
                <element name="BENE_103_ADD"/>
                <element name="BENE_103_ID"/>
                <element name="BENE_103_ID_BTN"/>
                <element name="BENE_103_MEDIUM"/>
                <element name="BENE_103_NAME"/>
                <element name="BENE_103_SWIFT_ADD"/>
                <element name="BENE_103_SWIFT_TAG"/>
                <element name="BENE_BR_CD"/>
                <element name="BILL_PMNT_NO"/>
                <element name="BOP_EXCHANGE_CONTROL"/>
                <element name="BR_CD"/>
                <element name="BU_ID"/>
                <element name="Button322"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_DEDUCT_CCY_AMT"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_INT_FOR_LATE_PMT"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="COLL_BK_ADD1"/>
                <element name="COLL_BK_ADD2"/>
                <element name="COLL_BK_ADD3"/>
                <element name="COLL_BK_CORR_MED__DESC__"/>
                <element name="COLL_BK_CORR_MED"/>
                <element name="COLL_BK_ID"/>
                <element name="COLL_BK_ID_BTN"/>
                <element name="COLL_BK_NM"/>
                <element name="COLL_BK_REF"/>
                <element name="COLL_BK_SW_ADD"/>
                <element name="COLL_BK_SW_FLG"/>
                <element name="COLL_BK_SW_TAG"/>
                <element name="COLL_CCY"/>
                <element name="COLL_COMM_LOCAL"/>
                <element name="COLL_COMM_LOCAL2"/>
                <element name="COLL_TRX_CCY_AMT"/>
                <element name="COLL_TRX_CCY_AMT1"/>
                <element name="COLL_TRX_CCY_BAL"/>
                <element name="COLL_TYPE__DESC__"/>
                <element name="COLL_TYPE"/>
                <element name="COMM_COST_LOCAL"/>
                <element name="COMM_COST_LOCAL2"/>
                <element name="COM_DWE_CCY"/>
                <element name="COM_DWR_CHG_CY"/>
                <element name="COM_DWR_LCY"/>
                <element name="COM_UN_DWE_CCY"/>
                <element name="COM_UN_DWR_LCY"/>
                <element name="CONS_COMM_LOCAL"/>
                <element name="CONS_COMM_LOCAL2"/>
                <element name="CONS_DWE_CHG_CY"/>
                <element name="CONS_DWR_CCY"/>
                <element name="CONS_DWR_LCY"/>
                <element name="CONS_NM"/>
                <element name="CONS_UN_DWE_LCY"/>
                <element name="CONS_UN_DWR_CHCY"/>
                <element name="CONVERTRATE"/>
                <element name="CR_AMT_DRWR_CCY"/>
                <element name="CR_AMT_DRWR_DDA_CY"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_CHG_AC"/>
                <element name="CUST_CHG_CCY"/>
                <element name="CUST_DDA_AC"/>
                <element name="CUST_DDA_CY"/>
                <element name="C_MAIN_REF"/>
                <element name="DAY_MON_FLG__DESC__"/>
                <element name="DAY_MON_FLG"/>
                <element name="DEDUCT_FM_DRWR"/>
                <element name="DELVR_DOC_AGST__DESC__"/>
                <element name="DELVR_DOC_AGST"/>
                <element name="DETAILS_CHARGES"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NOTES"/>
                <element name="DISCNT_AMT_LCCCY"/>
                <element name="DISCNT_AMT_LCY"/>
                <element name="DISCNT_BASE_RT"/>
                <element name="DISCNT_CCY"/>
                <element name="DISCNT_INT_AMT"/>
                <element name="DISCNT_INT_AMT_LCY"/>
                <element name="DISCNT_MRGN"/>
                <element name="DISCNT_PRD"/>
                <element name="DISC_AMT"/>
                <element name="DISC_END_DT"/>
                <element name="DISC_FLG"/>
                <element name="DISC_INT_AMT_PD"/>
                <element name="DISC_INT_AMT_UNPD"/>
                <element name="DISC_INT_DAYS"/>
                <element name="DISC_START_DT"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_CORR_MED__DESC__"/>
                <element name="DRWE_CORR_MED"/>
                <element name="DRWE_EMAIL"/>
                <element name="DRWE_FAX"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_MOBILE_NO"/>
                <element name="DRWE_NM"/>
                <element name="DRWR_ADD1"/>
                <element name="DRWR_ADD2"/>
                <element name="DRWR_ADD3"/>
                <element name="DRWR_CORR_MED__DESC__"/>
                <element name="DRWR_CORR_MED"/>
                <element name="DRWR_EMAIL"/>
                <element name="DRWR_FAX"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_MOBILE_NO"/>
                <element name="DRWR_NM"/>
                <element name="DRWR_PAY_INSTR"/>
                <element name="DUE_DT"/>
                <element name="ENV_CONT"/>
                <element name="EVENT_TYPE__DESC__"/>
                <element name="EVENT_TYPE"/>
                <element name="EXCC_RAT_COLL_COM"/>
                <element name="FEE_DWE_CCY"/>
                <element name="FEE_DWR_CHG_CY"/>
                <element name="FEE_DWR_LCY"/>
                <element name="FEE_UN_DWE_CCY"/>
                <element name="FEE_UN_DWR_LCY"/>
                <element name="FX_REF1"/>
                <element name="INT_103_ACCT_NO"/>
                <element name="INT_103_ADD"/>
                <element name="INT_103_ID"/>
                <element name="INT_103_ID_BTN"/>
                <element name="INT_103_MEDIUM"/>
                <element name="INT_103_NAME"/>
                <element name="INT_103_SWIFT_ADD"/>
                <element name="INT_103_SWIFT_FLAG"/>
                <element name="INT_103_SWIFT_TAG"/>
                <element name="INT_202_ACCT_NO"/>
                <element name="INT_202_ADD"/>
                <element name="INT_202_ID"/>
                <element name="INT_202_ID_BTN"/>
                <element name="INT_202_MEDIUM"/>
                <element name="INT_202_NAME"/>
                <element name="INT_202_SWIFT_ADD"/>
                <element name="INT_202_SWIFT_FLAG"/>
                <element name="INT_202_SWIFT_TAG"/>
                <element name="INT_ACC_NO"/>
                <element name="INT_AMT"/>
                <element name="INT_DAYS_BASIS__DESC__"/>
                <element name="INT_DAYS_BASIS"/>
                <element name="INT_FM_DT"/>
                <element name="INT_FM_PRD__DESC__"/>
                <element name="INT_FM_PRD"/>
                <element name="INT_RT"/>
                <element name="INT_TO_DT"/>
                <element name="INT_TO_PRD__DESC__"/>
                <element name="INT_TO_PRD"/>
                <element name="INW_X103_DET_CHG_71A"/>
                <element name="LIAB_AC"/>
                <element name="LOCAL_FOREIGN"/>
                <element name="LOCAL_TOTAL"/>
                <element name="LOCAL_TOTAL2"/>
                <element name="LOGIN_BIC"/>
                <element name="MESG_TYPE__DESC__"/>
                <element name="MESG_TYPE"/>
                <element name="NARR"/>
                <element name="NETT_DISC_AMOUNT"/>
                <element name="NET_AMT_PD_COLL_CCY"/>
                <element name="NET_AMT_PD_PAY_CCY"/>
                <element name="NET_AMT_RCVD_COLL_CCY"/>
                <element name="NOSTRO_AC_CCY"/>
                <element name="NOSTRO_AC_NO"/>
                <element name="NOSTRO_AC_NO1"/>
                <element name="NOSTRO_BK_ADD1"/>
                <element name="NOSTRO_BK_ADD2"/>
                <element name="NOSTRO_BK_ADD3"/>
                <element name="NOSTRO_BK_ID"/>
                <element name="NOSTRO_BK_MED__DESC__"/>
                <element name="NOSTRO_BK_MED"/>
                <element name="NOSTRO_BK_NM"/>
                <element name="NOSTRO_BK_SW_ADD"/>
                <element name="NOSTRO_BK_SW_TAG"/>
                <element name="NOTES"/>
                <element name="NO_OF_BILLS"/>
                <element name="NXT_STATUS"/>
                <element name="ORD_INST_ACCT_NO"/>
                <element name="ORD_INST_ADD"/>
                <element name="ORD_INST_ID"/>
                <element name="ORD_INST_ID_BTN"/>
                <element name="ORD_INST_MEDIUM"/>
                <element name="ORD_INST_NAME"/>
                <element name="ORD_INST_SWIFT_ADD"/>
                <element name="ORD_INST_SWIFT_FLA"/>
                <element name="ORD_INST_SWIFT_TAG"/>
                <element name="OTHER_CHG_DESC"/>
                <element name="OTHER_CHG_LOCAL"/>
                <element name="OTHER_CHG_LOCAL2"/>
                <element name="OTHR_DWE_CCY"/>
                <element name="OTHR_DWR_CHG_CY"/>
                <element name="OTHR_DWR_LCY"/>
                <element name="OTHR_UN_DWE_CCY"/>
                <element name="OTHR_UN_DWR_LCY"/>
                <element name="OTH_COMM_LOCAL1"/>
                <element name="OTH_COMM_LOCAL2"/>
                <element name="OTH_COMM_LOCAL3"/>
                <element name="OTH_COMM_LOCAL4"/>
                <element name="OTH_COM_DWR_LCY1"/>
                <element name="OTH_COM_DWR_LCY2"/>
                <element name="OTH_COM_UN_DWR_LCY1"/>
                <element name="OTH_COM_UN_DWR_LCY2"/>
                <element name="OTH_DWE_CCY1"/>
                <element name="OTH_DWE_CCY2"/>
                <element name="OTH_DWR_CHG_CCY1"/>
                <element name="OTH_DWR_CHG_CCY2"/>
                <element name="PMT_ADV_MSG__DESC__"/>
                <element name="PMT_ADV_MSG"/>
                <element name="PMT_COV_MSG"/>
                <element name="PMT_CUST_BY"/>
                <element name="POST_COMM_LOCAL"/>
                <element name="POST_COMM_LOCAL2"/>
                <element name="POST_DWE_CCY"/>
                <element name="POST_DWR_CHG_CY"/>
                <element name="POST_DWR_LCY"/>
                <element name="POST_UN_DEW_CCY"/>
                <element name="POST_UN_DWR_LCY"/>
                <element name="PRES_BK_ADD1"/>
                <element name="PRES_BK_ADD2"/>
                <element name="PRES_BK_ADD3"/>
                <element name="PRES_BK_CORR_MED__DESC__"/>
                <element name="PRES_BK_CORR_MED"/>
                <element name="PRES_BK_ID"/>
                <element name="PRES_BK_ID_BTN"/>
                <element name="PRES_BK_NM"/>
                <element name="PRES_BK_SW_ADD"/>
                <element name="PRES_BK_SW_FLG"/>
                <element name="PRES_BK_SW_TAG"/>
                <element name="PYMT_COMM_LOCAL"/>
                <element name="PYMT_COMM_LOCAL2"/>
                <element name="PYMT_COM_DWR_LCY"/>
                <element name="PYMT_COM_UN_DWR_LCY"/>
                <element name="PYMT_DWE_CCY"/>
                <element name="PYMT_DWR_CHG_CCY"/>
                <element name="PYMT_REF"/>
                <element name="RATE_CHG_CY"/>
                <element name="RATE_DDA_CY"/>
                <element name="RATE_DISC_TO_LCY"/>
                <element name="RATE_FOR_CUST"/>
                <element name="RCV_CORR_AC_NO"/>
                <element name="RCV_CORR_BK_ADD1"/>
                <element name="RCV_CORR_BK_ADD2"/>
                <element name="RCV_CORR_BK_ADD3"/>
                <element name="RCV_CORR_BK_CORR_MED__DESC__"/>
                <element name="RCV_CORR_BK_CORR_MED"/>
                <element name="RCV_CORR_BK_ID"/>
                <element name="RCV_CORR_BK_ID_BTN"/>
                <element name="RCV_CORR_BK_NM"/>
                <element name="RCV_CORR_BK_SW_ADD"/>
                <element name="RCV_CORR_BK_SW_FLAG"/>
                <element name="RCV_INFO"/>
                <element name="RECEIVER_AMT_CCY"/>
                <element name="RECEIVER_CCY"/>
                <element name="RECVBK202_ACCTNO"/>
                <element name="RECVBK202_ADD"/>
                <element name="RECVBK202_ID"/>
                <element name="RECVBK202_ID_BTN"/>
                <element name="RECVBK202_MEDIUM"/>
                <element name="RECVBK202_NAME"/>
                <element name="RECVBK202_SWF_ADD"/>
                <element name="RECVBK202_SWF_TAG"/>
                <element name="RECVCORR_ACCTNO"/>
                <element name="RECVCORR_ADD"/>
                <element name="RECVCORR_ID"/>
                <element name="RECVCORR_ID_BTN"/>
                <element name="RECVCORR_MEDIUM"/>
                <element name="RECVCORR_NAME"/>
                <element name="RECVCORR_SWF_ADD"/>
                <element name="RECVCORR_SWF_TAG"/>
                <element name="REC_BK_ACCT_NO"/>
                <element name="REC_BK_ADD"/>
                <element name="REC_BK_ID"/>
                <element name="REC_BK_ID_BTN"/>
                <element name="REC_BK_MEDIUM"/>
                <element name="REC_BK_NAME"/>
                <element name="REC_BK_SWIFT_ADD"/>
                <element name="REC_BK_SWIFT_FLAG"/>
                <element name="REC_BK_SWIFT_TAG"/>
                <element name="REC_CORR_SWIFT_TAG"/>
                <element name="REG_REPORT"/>
                <element name="REMIT_INFO"/>
                <element name="RESP_BY__DESC__"/>
                <element name="RESP_BY"/>
                <element name="RISK_TYPE"/>
                <element name="SENDER_AMT_CCY"/>
                <element name="SENDER_CCY"/>
                <element name="SEND_CORR_AC_NO"/>
                <element name="SEND_CORR_BK_ADD1"/>
                <element name="SEND_CORR_BK_ADD2"/>
                <element name="SEND_CORR_BK_ADD3"/>
                <element name="SEND_CORR_BK_ID"/>
                <element name="SEND_CORR_BK_ID_BTN"/>
                <element name="SEND_CORR_BK_NM"/>
                <element name="SEND_CORR_MEDIUM"/>
                <element name="SEND_CORR_SW_ADD"/>
                <element name="SEND_COR_SWIFT_FLA"/>
                <element name="SEND_COR_SWIFT_TAG"/>
                <element name="SEND_TO_ID"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="SEND_TO_RECV_INFO"/>
                <element name="SEND_TO_SW_ADD"/>
                <element name="SNDCORR_ACCTNO"/>
                <element name="SNDCORR_ADD"/>
                <element name="SNDCORR_ID"/>
                <element name="SNDCORR_ID_BTN"/>
                <element name="SNDCORR_MEDIUM"/>
                <element name="SNDCORR_NAME"/>
                <element name="SNDCORR_SWF_ADD"/>
                <element name="SNDCORR_SWF_TAG"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SYS_PC_UNIT"/>
                <element name="T2RATE_CHG_CY"/>
                <element name="T2RATE_CHG_CY2"/>
                <element name="TEAM_ID"/>
                <element name="TEAM_NM"/>
                <element name="TEMPCOLLSWIFT"/>
                <element name="TEMPPRESSWIFT"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_EVENT__DESC__"/>
                <element name="TENOR_EVENT"/>
                <element name="TENOR_START_DATE"/>
                <element name="TRD_REIM_ACCT_NO"/>
                <element name="TRD_REIM_ADD"/>
                <element name="TRD_REIM_ID"/>
                <element name="TRD_REIM_ID_BTN"/>
                <element name="TRD_REIM_MEDIUM"/>
                <element name="TRD_REIM_NAME"/>
                <element name="TRD_REIM_SWIFT_ADD"/>
                <element name="TRD_REIM_SWIFT_FLA"/>
                <element name="TRD_REIM_SWIFT_TAG"/>
                <element name="TREA_VALUE_DT"/>
                <element name="TRX_AMT_USD"/>
                <element name="TRX_DT"/>
                <element name="TTL_AMT_PD"/>
                <element name="TTL_CHGS_LCY"/>
                <element name="TTL_CHGS_PYMT_LCY"/>
                <element name="TTL_DRWR_COLL_CCY"/>
                <element name="TTL_DWE_CCY"/>
                <element name="TTL_DWR_CHG_CY"/>
                <element name="US_EX_RATE"/>
                <element name="VALUE_DT_CR"/>
                <element name="VALUE_DT_FUNDS_RCVD"/>
                <element name="VATACNO"/>
                <element name="VATBKADDRESS"/>
                <element name="VATBKNAME"/>
                <element name="VATBRANCHCODE"/>
                <element name="VAT_INV_NOTES"/>
                <element name="VCOLL_AMT_CCY"/>
                <element name="VOSTRO_AC_CCY"/>
                <element name="VOSTRO_AC_NO"/>
                <element name="VOSTRO_AC_NO1"/>
                <element name="VTOTAL_COMM"/>
                <element name="VTOTAL_COMM2"/>
                <element name="WAIVE_DRWE_CHG"/>
                <element name="WAIVE_INT_REFUSED__DESC__"/>
                <element name="WAIVE_INT_REFUSED"/>
                <element name="WAIVE_TTL_DWE_CHG"/>
                <element name="lookup232"/>
                <element name="tttt"/>
            </sequence>
        </complexType>
    </element>
</schema>
