EE_PARA/EE_PARA/Default/FORM/form_schema_ComplianceHitsDO_Detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_HIT_DECISION"/>
<element name="C_HIT_FIELDNAME"/>
<element name="C_HIT_NOTES"/>
<element name="C_HIT_STOPDESC"/>
<element name="C_HIT_USERNAME"/>
</sequence>
</complexType>
</element>
</schema>
