EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_AmendmentAcceptance_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="SHORT_NAME"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_ACCP_AMDMB"/>
<element name="TSU_AMD_NO"/>
<element name="TSU_AMD_TIMES"/>
<element name="TSU_CCY"/>
<element name="TSU_DLTAPR_DTTM"/>
<element name="TSU_DLTARP_ID"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_OUR_ROLE__DESC__"/>
<element name="TSU_OUR_ROLE"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SUB_B_ID"/>
<element name="TSU_SUB_B_NM"/>
<element name="TSU_TID"/>
<element name="TSU_TRX_AMD"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
