EE_PARA/EE_PARA/Default/FORM/form_multi_schema_POSTCOURIEAREA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="Add"/>
                            <element name="C_AGREE_DESC"/>
                            <element name="C_FROM_AREA0"/>
                            <element name="C_MIN_CCY"/>
                            <element name="C_TO_AREA0"/>
                            <element name="Delete"/>
                            <element name="Y_AMT0"/>
                            <element name="max_level_count"/>
                            <element name="tierUnit"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
