EE_PARA/EE_PARA/Default/FORM/form_schema_CZQO_Add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="LMTS_CUST"/>
                <element name="LMTS_FACI"/>
                <element name="LMTS_RCUST"/>
                <element name="LMTS_SUB"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_DUE_DAY"/>
                <element name="LM_FACI_TP"/>
                <element name="LM_OP_TYPE"/>
                <element name="LM_PARENT_REF"/>
                <element name="LM_PAY_REF"/>
                <element name="LM_RCUST_ID"/>
                <element name="LM_RSV_LINK"/>
                <element name="LM_TRX_AMT"/>
                <element name="LM_TRX_CCY"/>
                <element name="LM_TRX_REF"/>
                <element name="LM_VALU_DAY"/>
                <element name="OP_TYPE"/>
            </sequence>
        </complexType>
    </element>
</schema>
