EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_Shared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_ADD"/>
                <element name="B_DEL"/>
                <element name="B_EDIT"/>
                <element name="LM_ALLW_LMT"/>
                <element name="LM_COSH_ID"/>
                <element name="LM_COSH_NAME"/>
                <element name="LM_CRT_DAY"/>
                <element name="LM_STATUS"/>
                <element name="LM_TYPE"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
