EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ComplianceFieldsDO_Detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_FIELD_DESC"/>
<element name="C_FIELD_NAME"/>
<element name="NOTES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
