EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_BuyPayment_TSU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="FA_BK_CHG_AMT"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_DEDUCT_AMT"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_INV_CLEAR_AMT"/>
                            <element name="FA_PMT_AMT"/>
                            <element name="FA_PMT_CLEAR_TYPE__DESC__"/>
                            <element name="FA_PMT_CLEAR_TYPE"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_PMT_REF"/>
                            <element name="FA_PMT_VAL_DT"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FSBC_REF"/>
                            <element name="PO_ID"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
