EE_PARA/EE_PARA/Default/FORM/form_schema_Std_SLAUserGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CP_UNIT_CODE"/>
                <element name="C_GROUP_ID"/>
                <element name="C_GROUP_NAME"/>
                <element name="C_GRPMEM_INFO"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
