EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_Receive_Stop_Recall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="GSRP_STRC_CODE"/>
                            <element name="GSRP_STRC_TYPE__DESC__"/>
                            <element name="GSRP_STRC_TYPE"/>
                            <element name="MSG_TYPE"/>
                            <element name="RCV_BK_SW_ADD"/>
                            <element name="RELATED_REF_NO"/>
                            <element name="SENDER_REF"/>
                            <element name="SENDER_SW_ADD"/>
                            <element name="SERVICE_TYPE_ID_GPI_111"/>
                            <element name="TRX_DT"/>
                            <element name="UETR_GPI_121"/>
                            <element name="VALUE_DT"/>
                            <element name="XN99_NARRATIVE_79"/>
                            <element name="button"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
