EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EXCO_ProcessMT400.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AC2_NO"/>
                            <element name="AC_OFFICER_CODE"/>
                            <element name="AMT_RCVD_OUR_CHGS"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BILL_INSTR"/>
                            <element name="CHARGE_DT"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PD_BY_DRWR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="COLL_BK_ADD1"/>
                            <element name="COLL_BK_ADD2"/>
                            <element name="COLL_BK_ADD3"/>
                            <element name="COLL_BK_ADD_BTN"/>
                            <element name="COLL_BK_CHG"/>
                            <element name="COLL_BK_CHG_MNS"/>
                            <element name="COLL_BK_CHG_PLS"/>
                            <element name="COLL_BK_CORR_MED__DESC__"/>
                            <element name="COLL_BK_CORR_MED"/>
                            <element name="COLL_BK_ID"/>
                            <element name="COLL_BK_ID_BTN"/>
                            <element name="COLL_BK_LANG"/>
                            <element name="COLL_BK_MAIL_ADD"/>
                            <element name="COLL_BK_NM"/>
                            <element name="COLL_BK_NOTES"/>
                            <element name="COLL_BK_ORDER_NO"/>
                            <element name="COLL_BK_ORDER_POST"/>
                            <element name="COLL_BK_POST_ADD_BTN"/>
                            <element name="COLL_BK_REF"/>
                            <element name="COLL_BK_SW_ADD"/>
                            <element name="COLL_BK_SW_TAG"/>
                            <element name="COLL_BK_TEL_NO"/>
                            <element name="COLL_CCY"/>
                            <element name="COLL_INT_FLG2"/>
                            <element name="COLL_TRX_CCY_AMT"/>
                            <element name="COLL_TRX_CCY_BAL"/>
                            <element name="COLL_TYPE__DESC__"/>
                            <element name="COLL_TYPE"/>
                            <element name="CONS_NM"/>
                            <element name="CR_AMT_DRWR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_REF"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DAY_MON_FLG__DESC__"/>
                            <element name="DAY_MON_FLG"/>
                            <element name="DELVR_DOC_AGST__DESC__"/>
                            <element name="DELVR_DOC_AGST"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ADD_BTN"/>
                            <element name="DRWE_CORR_MED__DESC__"/>
                            <element name="DRWE_CORR_MED"/>
                            <element name="DRWE_EMAIL"/>
                            <element name="DRWE_FAX"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_ID_BTN"/>
                            <element name="DRWE_LANG"/>
                            <element name="DRWE_MAIL_ADD"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_NOTES"/>
                            <element name="DRWE_ORDER_NO"/>
                            <element name="DRWE_ORDER_POST"/>
                            <element name="DRWE_POST_ADD_BTN"/>
                            <element name="DRWE_REF"/>
                            <element name="DRWE_TEL_NO"/>
                            <element name="DRWNG_AMT_COLL_CCY"/>
                            <element name="DRWR_ADD1"/>
                            <element name="DRWR_ADD2"/>
                            <element name="DRWR_ADD3"/>
                            <element name="DRWR_ADD_BTN"/>
                            <element name="DRWR_CORR_MED__DESC__"/>
                            <element name="DRWR_CORR_MED"/>
                            <element name="DRWR_EMAIL"/>
                            <element name="DRWR_FAX"/>
                            <element name="DRWR_ID"/>
                            <element name="DRWR_ID_BTN"/>
                            <element name="DRWR_LANG"/>
                            <element name="DRWR_MAIL_ADD"/>
                            <element name="DRWR_NM"/>
                            <element name="DRWR_NOTES"/>
                            <element name="DRWR_ORDER_NO"/>
                            <element name="DRWR_ORDER_POST"/>
                            <element name="DRWR_POST_ADD_BTN"/>
                            <element name="DRWR_TEL_NO"/>
                            <element name="DUE_DT"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FincSinglePayment">
                                <complexType>
                                    <sequence>
                                        <element name="BM_TEMP_FIN_AMT1"/>
                                        <element name="BM_TEMP_FIN_AMT2"/>
                                        <element name="BM_TEMP_FIN_AMT3"/>
                                        <element name="BM_TEMP_FIN_AMT4"/>
                                        <element name="BM_TEMP_FIN_AMT5"/>
                                        <element name="CFNC_C_AC_NO"/>
                                        <element name="CFNC_C_AC_TYPE"/>
                                        <element name="CFNC_C_CCY"/>
                                        <element name="CFNC_C_CUST_ID"/>
                                        <element name="CFNC_C_GRACE_DAYS"/>
                                        <element name="CFNC_C_GRACE_FLG__DESC__"/>
                                        <element name="CFNC_C_GRACE_FLG"/>
                                        <element name="CFNC_C_INIT_FLG"/>
                                        <element name="CFNC_C_INT_MODE"/>
                                        <element name="CFNC_C_INT_MTHD"/>
                                        <element name="CFNC_C_INT_PAYABLE"/>
                                        <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                                        <element name="CFNC_C_ORIGIN_MODULE"/>
                                        <element name="CFNC_C_ORIGIN_TRX_REF"/>
                                        <element name="CFNC_C_OTHER_TYPE"/>
                                        <element name="CFNC_C_OVERDUE_FLAG"/>
                                        <element name="CFNC_C_PAY_BY"/>
                                        <element name="CFNC_C_PAY_TYPE"/>
                                        <element name="CFNC_C_REF"/>
                                        <element name="CFNC_C_RELT_REF"/>
                                        <element name="CFNC_C_TYPE__DESC__"/>
                                        <element name="CFNC_C_TYPE"/>
                                        <element name="CFNC_C_TYPE_DESC"/>
                                        <element name="CFNC_D_CREATE_DATE"/>
                                        <element name="CFNC_D_DT"/>
                                        <element name="CFNC_D_DUE_DT"/>
                                        <element name="CFNC_D_LAST_PAY_DT"/>
                                        <element name="CFNC_D_LAST_PMT_DT"/>
                                        <element name="CFNC_D_OVERDUE_DT"/>
                                        <element name="CFNC_D_PAY_DT"/>
                                        <element name="CFNC_D_PAY_REG_DT"/>
                                        <element name="CFNC_D_TRX_DATE"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG"/>
                                        <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                                        <element name="CFNC_INTEREST_INTERVAL"/>
                                        <element name="CFNC_I_BASIC_DAYS"/>
                                        <element name="CFNC_I_DAYS"/>
                                        <element name="CFNC_I_DAYS_TEMP"/>
                                        <element name="CFNC_I_DISCOUNT_DAYS_E"/>
                                        <element name="CFNC_I_DISCOUNT_DAYS_N"/>
                                        <element name="CFNC_I_FINC_TIMES"/>
                                        <element name="CFNC_I_OVERDUE_DAYS"/>
                                        <element name="CFNC_I_REPAY_TIMES"/>
                                        <element name="CFNC_I_RFD_NO"/>
                                        <element name="CFNC_N_AMT_LCCCY"/>
                                        <element name="CFNC_N_AMT_TXCCY"/>
                                        <element name="CFNC_N_BAL"/>
                                        <element name="CFNC_N_BAL_TEMP"/>
                                        <element name="CFNC_N_CCY_EXCH_RT"/>
                                        <element name="CFNC_N_COMMIT_FEE"/>
                                        <element name="CFNC_N_CR_AMT"/>
                                        <element name="CFNC_N_CR_BAL"/>
                                        <element name="CFNC_N_FINC_TTL_AMT"/>
                                        <element name="CFNC_N_FINC_TTL_BAL"/>
                                        <element name="CFNC_N_LAST_PAID_INT"/>
                                        <element name="CFNC_N_LIBOR_AMT"/>
                                        <element name="CFNC_N_LIBOR_RT"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE"/>
                                        <element name="CFNC_N_MARGIN_AMT"/>
                                        <element name="CFNC_N_MARGIN_RT"/>
                                        <element name="CFNC_N_MARGIN_RT_TEMP"/>
                                        <element name="CFNC_N_NET_AMT"/>
                                        <element name="CFNC_N_PAID_INT"/>
                                        <element name="CFNC_N_PAID_LIBOR"/>
                                        <element name="CFNC_N_PAID_MARGIN"/>
                                        <element name="CFNC_N_PAY_AMT"/>
                                        <element name="CFNC_N_PAY_INT"/>
                                        <element name="CFNC_N_PAY_PNLT_INT"/>
                                        <element name="CFNC_N_PAY_PRIN"/>
                                        <element name="CFNC_N_PAY_TTLAMT_TXCCY"/>
                                        <element name="CFNC_N_PCT"/>
                                        <element name="CFNC_N_PNLT_RT"/>
                                        <element name="CFNC_N_PRE_INT"/>
                                        <element name="CFNC_N_REACC_INT"/>
                                        <element name="CFNC_N_REFUND"/>
                                        <element name="CFNC_N_RFD_EXTINT"/>
                                        <element name="CFNC_N_RFD_INT"/>
                                        <element name="CFNC_N_RT"/>
                                        <element name="CFNC_N_RT_NARR"/>
                                        <element name="CFNC_N_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_RT_TYPE"/>
                                        <element name="CFNC_N_TRXCCY_LCY"/>
                                        <element name="CFNC_N_UNPAID_INT"/>
                                        <element name="CFNC_N_UNPAID_PRIN"/>
                                        <element name="CFNC_OVERDUE_DT"/>
                                        <element name="CFNC_PAID_INT_SUM"/>
                                        <element name="CFNC_PAID_PRIN_SUM"/>
                                        <element name="CFNC_PMT_CLEAR_TYPE__DESC__"/>
                                        <element name="CFNC_PMT_CLEAR_TYPE"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL"/>
                                        <element name="CFNC_RELA_MAIN_REF"/>
                                        <element name="CUST_AC_AMT1"/>
                                        <element name="C_FUNC_SHORT_NAME"/>
                                        <element name="DISCOUNT_TAB_KEY"/>
                                        <element name="FA_PMT_DT"/>
                                        <element name="RELA_DRAW_REF"/>
                                        <element name="RELA_MAIN_REF"/>
                                        <element name="RELA_MAIN_REF_TEMP"/>
                                        <element name="REPAY_FLG__DESC__"/>
                                        <element name="REPAY_FLG"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="GOODS_CONS_TO__DESC__"/>
                            <element name="GOODS_CONS_TO"/>
                            <element name="HOLD_DOC__DESC__"/>
                            <element name="HOLD_DOC"/>
                            <element name="INCASE_CORR_MED__DESC__"/>
                            <element name="INCASE_CORR_MED"/>
                            <element name="INCASE_OF_ND_ADD1"/>
                            <element name="INCASE_OF_ND_ADD2"/>
                            <element name="INCASE_OF_ND_ADD3"/>
                            <element name="INCASE_OF_ND_ADD_BTN"/>
                            <element name="INCASE_OF_ND_CONTACT"/>
                            <element name="INCASE_OF_ND_ID"/>
                            <element name="INCASE_OF_ND_ID_BTN"/>
                            <element name="INCASE_OF_ND_MAIL_ADD"/>
                            <element name="INCASE_OF_ND_NM"/>
                            <element name="INCASE_OF_ND_NOTES"/>
                            <element name="INCASE_OF_ND_ORDER_NO"/>
                            <element name="INCASE_OF_ND_ORDER_POST"/>
                            <element name="INCASE_OF_ND_POST_ADD_BTN"/>
                            <element name="INCASE_PWR__DESC__"/>
                            <element name="INCASE_PWR"/>
                            <element name="INT_AMT"/>
                            <element name="INT_AMT_FRGN"/>
                            <element name="INT_AMT_LOCAL"/>
                            <element name="INT_DAYS_BASIS2"/>
                            <element name="INT_FM_DT2"/>
                            <element name="INT_FM_PRD2"/>
                            <element name="INT_RT2"/>
                            <element name="INT_TO_DT2"/>
                            <element name="INT_TO_PRD2"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MSG_TYPE"/>
                            <element name="NET_AMT_PD_COL_CCY"/>
                            <element name="NET_AMT_RCVD_COLL_CCY"/>
                            <element name="NEW_OTST_BAL"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_STL"/>
                            <element name="PMT_DT"/>
                            <element name="PMT_REF"/>
                            <element name="PRES_BK_ADD1"/>
                            <element name="PRES_BK_ADD2"/>
                            <element name="PRES_BK_ADD3"/>
                            <element name="PRES_BK_ADD_BTN"/>
                            <element name="PRES_BK_CORR_MED__DESC__"/>
                            <element name="PRES_BK_CORR_MED"/>
                            <element name="PRES_BK_ID"/>
                            <element name="PRES_BK_ID_BTN"/>
                            <element name="PRES_BK_MAIL_ADD"/>
                            <element name="PRES_BK_NM"/>
                            <element name="PRES_BK_NOTES"/>
                            <element name="PRES_BK_ORDER_NO"/>
                            <element name="PRES_BK_ORDER_POST"/>
                            <element name="PRES_BK_POST_ADD_BTN"/>
                            <element name="PRES_BK_SW_ADD"/>
                            <element name="PRES_BK_SW_TAG"/>
                            <element name="PROT_FOR"/>
                            <element name="PaymentDealer">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_C_CFNC_REF"/>
                                        <element name="CPYT_C_OUTPUT_FLAG"/>
                                        <element name="CPYT_C_PAY_PER"/>
                                        <element name="CPYT_C_REF"/>
                                        <element name="CPYT_C_SDA_FLAG"/>
                                        <element name="CPYT_C_SETTLE_END_FLAG"/>
                                        <element name="CPYT_C_TENOR_DESC"/>
                                        <element name="CPYT_C_TENOR_TYPE"/>
                                        <element name="CPYT_D_MAT_DATE"/>
                                        <element name="CPYT_D_TENOR_START_DATE"/>
                                        <element name="CPYT_I_INSTRU_TIMES"/>
                                        <element name="CPYT_I_SEQUENCE"/>
                                        <element name="CPYT_I_TENOR_DAYS"/>
                                        <element name="CPYT_N_PAY_AMT"/>
                                        <element name="CPYT_N_PAY_TRXCCY_BAL"/>
                                        <element name="CPYT_N_UNPD_AMT_TXCCY"/>
                                        <element name="CPYT_ORIGIN_MODULE"/>
                                        <element name="CPYT_PAY_CCY"/>
                                        <element name="CPYT_UNPAID_FLAG"/>
                                        <element name="PaymentDebitHeader">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_NO_DR"/>
                                                    <element name="CPYT_MDR_ADV"/>
                                                    <element name="CPYT_DR_TTL_CCY"/>
                                                    <element name="CPYT_DR_TTL_AMT_TTLCCY"/>
                                                    <element name="CPYT_SELL_RATE"/>
                                                    <element name="PaymentDebit">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="CPYT_DR_AC"/>
                                                                <element name="CPYT_DR_AC_TYPE"/>
                                                                <element name="CPYT_DR_DEAL"/>
                                                                <element name="CPYT_DR_RATE"/>
                                                                <element name="CPYT_DR_CCY"/>
                                                                <element name="CPYT_DR_PER"/>
                                                                <element name="CPYT_DR_AMT_DRCCY"/>
                                                                <element name="CPYT_DR_AMT_TXCCY"/>
                                                                <element name="CPYT_DR_BUY_RATE"/>
                                                                <element name="CPYT_DR_VAL_DATE"/>
                                                                <element name="CPYT_DR_ID"/>
                                                                <element name="CPYT_DR_NAME"/>
                                                                <element name="CPYT_DR_CHG_FLAG"/>
                                                                <element name="CPYT_DR_CHG_LCCCY"/>
                                                                <element name="CPYT_DR_TRX_CCY"/>
                                                                <element name="CPYT_DR_AMT_MAPING"/>
                                                                <element name="CPYT_DR_EXNG_AC"/>
                                                                <element name="CPYT_DR_AMT_DRCCY_EXCH"/>
                                                                <element name="CPYT_DR_C_TRANS_CODE"/>
                                                                <element name="CPYT_DR_AC_DESC"/>
                                                                <element name="CPYT_DR_BAL_TXCCY"/>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="PaymentCreditHeader">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_NO_CR"/>
                                                    <element name="CPYT_MCR_ADV"/>
                                                    <element name="CPYT_CR_TTL_CCY"/>
                                                    <element name="CPYT_CR_TTL_AMT_TTLCCY"/>
                                                    <element name="PaymentCredit">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="CPYT_CR_PER"/>
                                                                <element name="CPYT_CR_CCY"/>
                                                                <element name="CPYT_CR_AC"/>
                                                                <element name="CPYT_CR_DEAL"/>
                                                                <element name="CPYT_CR_AMT_TXCCY"/>
                                                                <element name="CPYT_CR_BAL_TXCCY"/>
                                                                <element name="CPYT_PAY_ADV_MSG"/>
                                                                <element name="CPYT_PAY_COV_MSG"/>
                                                                <element name="CPYT_ASSGN_ID"/>
                                                                <element name="CPYT_ASSGN_NM"/>
                                                                <element name="CPYT_CR_AMT_CRCCY"/>
                                                                <element name="CPYT_CR_VAL_DATE"/>
                                                                <element name="X103BENECUADD1_59A"/>
                                                                <element name="X103BENECUADD2_59A"/>
                                                                <element name="X103BENECUADD3_59A"/>
                                                                <element name="X103MEDIBKADD1_56A"/>
                                                                <element name="X103MEDIBKADD2_56A"/>
                                                                <element name="X103MEDIBKADD3_56A"/>
                                                                <element name="X103RECCORRACNO54A"/>
                                                                <element name="X103SENDBKADD1_51A"/>
                                                                <element name="X103SENDBKADD2_51A"/>
                                                                <element name="X103SENDBKADD3_51A"/>
                                                                <element name="X103SENDCORACNO53A"/>
                                                                <element name="X103SENDCORADD153A"/>
                                                                <element name="X103SENDCORADD253A"/>
                                                                <element name="X103SENDCORADD353A"/>
                                                                <element name="X103_ACCBKADD1_57A"/>
                                                                <element name="X103_ACCBKADD2_57A"/>
                                                                <element name="X103_ACCBKADD3_57A"/>
                                                                <element name="X103_ACC_BKACNO57A"/>
                                                                <element name="X103_ACC_BKID_57A"/>
                                                                <element name="X103_ACC_BKNM_57A"/>
                                                                <element name="X103_ACC_BKSW_57A"/>
                                                                <element name="X103_ADV_BKADD1_B2"/>
                                                                <element name="X103_ADV_BKADD2_B2"/>
                                                                <element name="X103_ADV_BKADD3_B2"/>
                                                                <element name="X103_ADV_BKID_B2"/>
                                                                <element name="X103_ADV_BKNM_B2"/>
                                                                <element name="X103_ADV_BKSW_B2"/>
                                                                <element name="X103_BENECUACNO59A"/>
                                                                <element name="X103_BENECU_ID_59A"/>
                                                                <element name="X103_BENECU_NM_59A"/>
                                                                <element name="X103_BKOP_CODE_23B"/>
                                                                <element name="X103_BKTOBK_INFO72"/>
                                                                <element name="X103_DET_CHG_71A"/>
                                                                <element name="X103_ENV_CONT_77T"/>
                                                                <element name="X103_EXCH_RT_36"/>
                                                                <element name="X103_INSTRCODE_23E"/>
                                                                <element name="X103_INSTR_AMT_33B"/>
                                                                <element name="X103_INSTR_CCY_33B"/>
                                                                <element name="X103_MEDIBKACNO56A"/>
                                                                <element name="X103_MEDI_BKID_56A"/>
                                                                <element name="X103_MEDI_BKNM_56A"/>
                                                                <element name="X103_MEDI_BKSW_56A"/>
                                                                <element name="X103_ORDBKACNO_52A"/>
                                                                <element name="X103_ORDBKADD1_52A"/>
                                                                <element name="X103_ORDBKADD2_52A"/>
                                                                <element name="X103_ORDBKADD3_52A"/>
                                                                <element name="X103_ORDCUACNO_50A"/>
                                                                <element name="X103_ORDCUADD1_50A"/>
                                                                <element name="X103_ORDCUADD2_50A"/>
                                                                <element name="X103_ORDCUADD3_50A"/>
                                                                <element name="X103_ORDCU_ID_50A"/>
                                                                <element name="X103_ORDCU_NM_50A"/>
                                                                <element name="X103_ORDCU_SW_50A"/>
                                                                <element name="X103_ORD_BKID_52A"/>
                                                                <element name="X103_ORD_BKNM_52A"/>
                                                                <element name="X103_ORD_BKSW_52A"/>
                                                                <element name="X103_RECCHGAMT_71G"/>
                                                                <element name="X103_RECCHGCCY_71G"/>
                                                                <element name="X103_RECCORADD154A"/>
                                                                <element name="X103_RECCORADD254A"/>
                                                                <element name="X103_RECCORADD354A"/>
                                                                <element name="X103_RECCORRID_54A"/>
                                                                <element name="X103_RECCORRNM_54A"/>
                                                                <element name="X103_RECCORRSW_54A"/>
                                                                <element name="X103_REG_REP_77B"/>
                                                                <element name="X103_REMIT_INFO_70"/>
                                                                <element name="X103_SENDBKACNO51A"/>
                                                                <element name="X103_SENDCHGAMT71F"/>
                                                                <element name="X103_SENDCHGCCY71F"/>
                                                                <element name="X103_SENDCORRID53A"/>
                                                                <element name="X103_SENDCORRNM53A"/>
                                                                <element name="X103_SENDCORRSW53A"/>
                                                                <element name="X103_SEND_BKID_51A"/>
                                                                <element name="X103_SEND_BKNM_51A"/>
                                                                <element name="X103_SEND_BKSW_51A"/>
                                                                <element name="X103_SEND_NO_20"/>
                                                                <element name="X103_SETT_AMT_32A"/>
                                                                <element name="X103_SETT_CCY_32A"/>
                                                                <element name="X103_TAG_50A"/>
                                                                <element name="X103_TAG_51A"/>
                                                                <element name="X103_TAG_52A"/>
                                                                <element name="X103_TAG_53A"/>
                                                                <element name="X103_TAG_54A"/>
                                                                <element name="X103_TAG_56A"/>
                                                                <element name="X103_TAG_57A"/>
                                                                <element name="X103_TIME_INDI_13C"/>
                                                                <element name="X103_TRX_TYPCD_26T"/>
                                                                <element name="X103_VALUE_DT_32A"/>
                                                                <element name="X202BENEBKADD1_58A"/>
                                                                <element name="X202BENEBKADD2_58A"/>
                                                                <element name="X202BENEBKADD3_58A"/>
                                                                <element name="X202MEDIBKADD1_56A"/>
                                                                <element name="X202MEDIBKADD2_56A"/>
                                                                <element name="X202MEDIBKADD3_56A"/>
                                                                <element name="X202RECCORRACNO54A"/>
                                                                <element name="X202SENDCORACNO53A"/>
                                                                <element name="X202SENDCORADD153A"/>
                                                                <element name="X202SENDCORADD253A"/>
                                                                <element name="X202SENDCORADD353A"/>
                                                                <element name="X202_ACCBKADD1_57A"/>
                                                                <element name="X202_ACCBKADD2_57A"/>
                                                                <element name="X202_ACCBKADD3_57A"/>
                                                                <element name="X202_ACC_BKACNO57A"/>
                                                                <element name="X202_ACC_BKID_57A"/>
                                                                <element name="X202_ACC_BKNM_57A"/>
                                                                <element name="X202_ACC_BKSW_57A"/>
                                                                <element name="X202_ADV_BKADD1_B2"/>
                                                                <element name="X202_ADV_BKADD2_B2"/>
                                                                <element name="X202_ADV_BKADD3_B2"/>
                                                                <element name="X202_ADV_BKID_B2"/>
                                                                <element name="X202_ADV_BKNM_B2"/>
                                                                <element name="X202_ADV_BKSW_B2"/>
                                                                <element name="X202_AMT_32A"/>
                                                                <element name="X202_BENEBKACNO58A"/>
                                                                <element name="X202_BENE_BKID_58A"/>
                                                                <element name="X202_BENE_BKNM_58A"/>
                                                                <element name="X202_BENE_BKSW_58A"/>
                                                                <element name="X202_BKTOBK_INFO72"/>
                                                                <element name="X202_CCY_32A"/>
                                                                <element name="X202_MEDIBKACNO56A"/>
                                                                <element name="X202_MEDI_BKID_56A"/>
                                                                <element name="X202_MEDI_BKNM_56A"/>
                                                                <element name="X202_MEDI_BKSW_56A"/>
                                                                <element name="X202_ORDBKACNO_52A"/>
                                                                <element name="X202_ORDBKADD1_52A"/>
                                                                <element name="X202_ORDBKADD2_52A"/>
                                                                <element name="X202_ORDBKADD3_52A"/>
                                                                <element name="X202_ORDBK_ID_52A"/>
                                                                <element name="X202_ORDBK_NM_52A"/>
                                                                <element name="X202_ORDBK_SW_52A"/>
                                                                <element name="X202_RECCORADD154A"/>
                                                                <element name="X202_RECCORADD254A"/>
                                                                <element name="X202_RECCORADD354A"/>
                                                                <element name="X202_RECCORRID_54A"/>
                                                                <element name="X202_RECCORRNM_54A"/>
                                                                <element name="X202_RECCORRSW_54A"/>
                                                                <element name="X202_RELATEDNO_21"/>
                                                                <element name="X202_SENDCORRID53A"/>
                                                                <element name="X202_SENDCORRNM53A"/>
                                                                <element name="X202_SENDCORRSW53A"/>
                                                                <element name="X202_TAG_52A"/>
                                                                <element name="X202_TAG_53A"/>
                                                                <element name="X202_TAG_54A"/>
                                                                <element name="X202_TAG_56A"/>
                                                                <element name="X202_TAG_57A"/>
                                                                <element name="X202_TAG_58A"/>
                                                                <element name="X202_TIME_INDI_13C"/>
                                                                <element name="X202_TRX_REF_NO_20"/>
                                                                <element name="X202_VALUE_DT_32A"/>
                                                                <element name="CPYT_SIC_AMT"/>
                                                                <element name="CPYT_SIC_CCY"/>
                                                                <element name="CPYT_SIC_CR_AC"/>
                                                                <element name="CPYT_SIC_DR_AC"/>
                                                                <element name="CPYT_SIC_REF"/>
                                                                <element name="CPYT_SIC_VAL_DATE"/>
                                                                <element name="CPYT_BENE_ADD1"/>
                                                                <element name="CPYT_BENE_ADD2"/>
                                                                <element name="CPYT_BENE_ADD3"/>
                                                                <element name="CPYT_BENE_ID"/>
                                                                <element name="CPYT_BENE_NM"/>
                                                                <element name="CPYT_AC_ID"/>
                                                                <element name="CPYT_PAY_REAON1"/>
                                                                <element name="CPYT_PAY_REAON2"/>
                                                                <element name="CPYT_PAY_REAON3"/>
                                                                <element name="CPYT_PAY_REAON4"/>
                                                                <element name="CPYT_REV_ADD1"/>
                                                                <element name="CPYT_REV_ADD2"/>
                                                                <element name="CPYT_REV_ADD3"/>
                                                                <element name="CPYT_REV_ID"/>
                                                                <element name="CPYT_REV_NM"/>
                                                                <element name="CPYT_CLE_NUM"/>
                                                                <element name="CPYT_ORD_TYPE"/>
                                                                <element name="CPYT_DR_CR_CODE"/>
                                                                <element name="CPYT_DEPART_CODE"/>
                                                                <element name="CPYT_PAY_CODE"/>
                                                                <element name="CPYT_ASSIGNEE_BAL"/>
                                                                <element name="I_ASSIGNEE_SEQ"/>
                                                                <element name="X400_ACC_BK_ACNO"/>
                                                                <element name="X400_ACC_BK_ADD1"/>
                                                                <element name="X400_ACC_BK_ADD2"/>
                                                                <element name="X400_ACC_BK_ADD3"/>
                                                                <element name="X400_ACC_BK_ID"/>
                                                                <element name="X400_ACC_BK_NM"/>
                                                                <element name="X400_ACC_BK_NOTES"/>
                                                                <element name="X400_ACC_BK_SW_ADD"/>
                                                                <element name="X400_ACC_BK_SW_TAG"/>
                                                                <element name="X400_ADDAMT_DET73"/>
                                                                <element name="X400_ADV_BK_ADD1"/>
                                                                <element name="X400_ADV_BK_ADD2"/>
                                                                <element name="X400_ADV_BK_ADD3"/>
                                                                <element name="X400_ADV_BK_ID"/>
                                                                <element name="X400_ADV_BK_NM"/>
                                                                <element name="X400_ADV_BK_NOTES"/>
                                                                <element name="X400_ADV_BK_SW_ADD"/>
                                                                <element name="X400_ADV_BK_SW_TAG"/>
                                                                <element name="X400_BENE_BK_ADD1"/>
                                                                <element name="X400_BENE_BK_ADD2"/>
                                                                <element name="X400_BENE_BK_ADD3"/>
                                                                <element name="X400_BENE_BK_ID"/>
                                                                <element name="X400_BENE_BK_NM"/>
                                                                <element name="X400_BENE_BK_NOTES"/>
                                                                <element name="X400_BENE_BK_SW_ADD"/>
                                                                <element name="X400_BENE_BK_SW_TAG"/>
                                                                <element name="X400_BKTOBK_INFO_72"/>
                                                                <element name="X400_COLL_AMT_32A"/>
                                                                <element name="X400_COLL_CCY_32A"/>
                                                                <element name="X400_DAYMON_FLG_32K__DESC__"/>
                                                                <element name="X400_DAYMON_FLG_32K"/>
                                                                <element name="X400_DUE_DT_32A"/>
                                                                <element name="X400_NET_AMT_33A"/>
                                                                <element name="X400_NET_CCY_33A"/>
                                                                <element name="X400_ORD_BK_ACNO"/>
                                                                <element name="X400_ORD_BK_ADD1"/>
                                                                <element name="X400_ORD_BK_ADD2"/>
                                                                <element name="X400_ORD_BK_ADD3"/>
                                                                <element name="X400_ORD_BK_ID"/>
                                                                <element name="X400_ORD_BK_NM"/>
                                                                <element name="X400_ORD_BK_NOTES"/>
                                                                <element name="X400_ORD_BK_SW_ADD"/>
                                                                <element name="X400_ORD_BK_SW_TAG"/>
                                                                <element name="X400_PRES_BK_CHG_71B"/>
                                                                <element name="X400_RECCOR_BK_ACNO"/>
                                                                <element name="X400_RECCOR_BK_ADD1"/>
                                                                <element name="X400_RECCOR_BK_ADD2"/>
                                                                <element name="X400_RECCOR_BK_ADD3"/>
                                                                <element name="X400_RECCOR_BK_ID"/>
                                                                <element name="X400_RECCOR_BK_NM"/>
                                                                <element name="X400_RECCOR_BK_NOTES"/>
                                                                <element name="X400_RECCOR_BK_SW_ADD"/>
                                                                <element name="X400_RECCOR_BK_SW_TAG"/>
                                                                <element name="X400_RELATEDNO_21"/>
                                                                <element name="X400_SENDCORR_BK_ACNO"/>
                                                                <element name="X400_SENDCORR_BK_ADD1"/>
                                                                <element name="X400_SENDCORR_BK_ADD2"/>
                                                                <element name="X400_SENDCORR_BK_ADD3"/>
                                                                <element name="X400_SENDCORR_BK_ID"/>
                                                                <element name="X400_SENDCORR_BK_NM"/>
                                                                <element name="X400_SENDCORR_BK_NOTES"/>
                                                                <element name="X400_SENDCORR_BK_SW_ADD"/>
                                                                <element name="X400_SENDCORR_BK_SW_TAG"/>
                                                                <element name="X400_SEND_NO_20"/>
                                                                <element name="X400_TENOR_DAYS_32K"/>
                                                                <element name="X400_TENOR_EVENT_32K__DESC__"/>
                                                                <element name="X400_TENOR_EVENT_32K"/>
                                                                <element name="X400_TAG_32__DESC__"/>
                                                                <element name="X400_TAG_32"/>
                                                                <element name="X400_VALUE_DT_32A"/>
                                                                <element name="X400_VALUE_DT_33A"/>
                                                                <element name="X400_TEMP_32K"/>
                                                                <element name="CPYT_CR_AMT_MAPING"/>
                                                                <element name="CPYT_CR_AMT_CRCCY_EXCH"/>
                                                                <element name="CPYT_CR_EXNG_AC"/>
                                                                <element name="CPYT_CR_TRX_CCY"/>
                                                                <element name="CPYT_CR_BUY_RATE"/>
                                                                <element name="CPYT_CR_AC_TYPE"/>
                                                                <element name="X202_TAG_B2"/>
                                                                <element name="X202_TAG_B2_1"/>
                                                                <element name="X103_BENECU_OP__DESC__"/>
                                                                <element name="X103_BENECU_OP"/>
                                                                <element name="X103_TAG_59A"/>
                                                                <element name="X103_BENECU_SW_59A"/>
                                                                <element name="TEMP_X103BENECUADD1_59A"/>
                                                                <element name="TEMP_X103BENECUADD2_59A"/>
                                                                <element name="TEMP_X103BENECUADD3_59A"/>
                                                                <element name="TEMP_X103_BENECUACNO59A"/>
                                                                <element name="TEMP_X103_BENECU_NM_59A"/>
                                                                <element name="X103_ORDCU_ID_OP__DESC__"/>
                                                                <element name="X103_ORDCU_ID_OP"/>
                                                                <element name="TEMP_X103_ACNO_51"/>
                                                                <element name="CPYT_PARTY_REF"/>
                                                                <element name="CPYT_CR_C_TRANS_CODE"/>
                                                                <element name="CPYT_CR_AC_DESC"/>
                                                                <element name="FED_ADD1"/>
                                                                <element name="FED_ADD2"/>
                                                                <element name="FED_ADD3"/>
                                                                <element name="FED_ID"/>
                                                                <element name="FED_NM"/>
                                                                <element name="IS_GPI_MEMBER"/>
                                                                <element name="SERVICE_TYPE_ID_GPI_111"/>
                                                                <element name="UETR_GPI_121"/>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="RT_CCY_LCY"/>
                            <element name="SENDER_REF"/>
                            <element name="SPCL_INSTR"/>
                            <element name="STL_INSTR_FLG__DESC__"/>
                            <element name="STL_INSTR_FLG"/>
                            <element name="STORE_INSURE_GOODS__DESC__"/>
                            <element name="STORE_INSURE_GOODS"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CHARGE_DT"/>
                            <element name="TEMP_CORR_ATTCH"/>
                            <element name="TEMP_CORR_CRSPD"/>
                            <element name="TEMP_CORR_INSTR"/>
                            <element name="TEMP_CUST_ATTCH"/>
                            <element name="TEMP_CUST_CRSPD"/>
                            <element name="TEMP_CUST_INSTR"/>
                            <element name="TEMP_DOC_DT"/>
                            <element name="TEMP_DRWE_ID"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_TENOR_FORM_MAP"/>
                            <element name="TEMP_USER_EMAIL"/>
                            <element name="TEMP_USER_FAX"/>
                            <element name="TEMP_USER_NM"/>
                            <element name="TEMP_USER_TEL_NO"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_DETAILS"/>
                            <element name="TENOR_START_DT"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TRX_CCY"/>
                            <element name="WAIVE_INT_REFUSED2"/>
                            <element name="WAIVE_TTL_DWE_CHG"/>
                            <element name="WEB_REF"/>
                            <element name="button1"/>
                            <element name="button2"/>
                            <element name="button3"/>
                            <element name="button4"/>
                            <element name="button5"/>
                            <element name="button6"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
