EE_PARA/EE_PARA/Default/FORM/form_schema_Std_External AccountRelease.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BIC_3RD"/>
                <element name="ACC_BK_NM_3RD"/>
                <element name="ACC_BOS"/>
                <element name="ACC_BRANCH"/>
                <element name="ACC_ID"/>
                <element name="ACC_INTL_BK"/>
                <element name="ACC_REGST_TP"/>
                <element name="ACC_SH_NM"/>
                <element name="ACC_STAT_CD__DESC__"/>
                <element name="ACC_STAT_CD"/>
                <element name="ACC_SUP_BSTP_CD"/>
                <element name="ACC_SWIFT_CD_3RD"/>
                <element name="ACC_TP_CD"/>
                <element name="BK_CMPT_ID"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_BOS_ID"/>
                <element name="CUST_NM"/>
                <element name="C_ACC_PRINT_FLG"/>
                <element name="C_AC_DESC"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_AC_NUMBER"/>
                <element name="C_AC_STAT__DESC__"/>
                <element name="C_AC_STAT"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_BOOKING_SGL"/>
                <element name="C_BOOKING_SSL"/>
                <element name="C_CL_FCTY_TYPE"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CP_UNIT_CODE"/>
                <element name="C_CURRENCY"/>
                <element name="C_CUST_ID"/>
                <element name="C_DBT_CRDT"/>
                <element name="C_GL"/>
                <element name="C_HOGL_AC_NUM"/>
                <element name="C_LEDGER_CODE"/>
                <element name="C_SL"/>
                <element name="C_UNIT_CODE"/>
                <element name="IF_3RD_CABLE_REQ"/>
                <element name="INST_FIN_CD"/>
                <element name="I_APAR_FLAG"/>
                <element name="I_GL_FLAGS"/>
                <element name="I_GL_TYPE"/>
                <element name="I_TRX_AC_TYPE"/>
                <element name="OP_TYPE"/>
                <element name="REMARKS"/>
                <element name="SCF_ACCT_INDT"/>
                <element name="SER_ACCT"/>
                <element name="SUFF_ACCT"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
