EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_Incoming_View.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_MSG_TYPE"/>
<element name="C_STP_CODE"/>
</sequence>
</complexType>
</element>
</schema>
