EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_ErrorReportForm_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="FormOutput">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FORM_ID"/>
<element name="FORM_NAME"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_REF"/>
</sequence>
</complexType>
</element>
<element name="ValidationResult">
<complexType>
<sequence>
<element name="TSU_ERR_SEQNO"/>
<element name="TSU_ERR_RULE_DESC"/>
<element name="TSU_ERR_RULE"/>
<element name="ElementIdentification">
<complexType>
<sequence>
<element name="TSU_ERR_ELMTNM"/>
<element name="TSU_ERR_ELMTPTH"/>
<element name="TSU_ERR_ELMTVAL"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="C_MAIN_REF"/>
<element name="TSUR2_REQ_ACT_TP__DESC__"/>
<element name="TSUR2_REQ_ACT_TP"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BASELN_ID"/>
<element name="TSU_BASELN_VRSN"/>
<element name="TSU_ERR_DESC"/>
<element name="TSU_ERR_NB"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_REQ_ACT_DESC"/>
<element name="TSU_RJ_MSG_ID"/>
<element name="TSU_RJ_MSG_ID_DT"/>
<element name="TSU_SUB_B_BIC"/>
<element name="TSU_TID"/>
<element name="TSU_TRX_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
