EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ACNO_AddCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BR_CODE"/>
                            <element name="CUST_AC_CCY"/>
                            <element name="CUST_AC_NO"/>
                            <element name="CUST_AC_TYPE"/>
                            <element name="CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
