EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_Goods017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_CCY"/>
<element name="TSU_DS_FINAL_FLG__DESC__"/>
<element name="TSU_DS_FINAL_FLG"/>
<element name="TSU_FRGHT_TP__DESC__"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_TTL_NET_AMT"/>
</sequence>
</complexType>
</element>
</schema>
