EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_ManualRegisterInvoice6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXCH_RT4"/>
                            <element name="EXCH_RT5"/>
                            <element name="FA_ACK_FLG__DESC__"/>
                            <element name="FA_ACK_FLG"/>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_CREDIT_NOTE_PER"/>
                            <element name="FA_CREDIT_NOTE_PER_TOT_AMT"/>
                            <element name="FA_CUST_REG_NO"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_APPRV"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                            <element name="FA_REQ_BUYER_APR_FLG"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TRF_FX_RT"/>
                            <element name="FA_TRF_REF"/>
                            <element name="FA_TTL_AMT_IN_LMT"/>
                            <element name="FA_TTL_CRN_AMT"/>
                            <element name="FA_TTL_CRN_NO"/>
                            <element name="FA_TTL_INV_AMT"/>
                            <element name="FA_TTL_INV_NO"/>
                            <element name="INV_FIN_MODE__DESC__"/>
                            <element name="INV_FIN_MODE"/>
                            <element name="LimitsDo">
                                <complexType>
                                    <sequence>
                                        <element name="LM_BASE_CCY"/>
                                        <element name="LM_CRED_LMT"/>
                                        <element name="LM_CRT_DAY"/>
                                        <element name="LM_DEBT_LMT"/>
                                        <element name="LM_DUE_DAY"/>
                                        <element name="LM_ERATE"/>
                                        <element name="LM_EVENT_TYPE"/>
                                        <element name="LM_ID"/>
                                        <element name="LM_NM"/>
                                        <element name="LM_PARENT_ID"/>
                                        <element name="LM_PARENT_NM"/>
                                        <element name="LM_REALLO"/>
                                        <element name="LM_REVOLVING"/>
                                        <element name="LM_STR_DAY"/>
                                        <element name="LM_TYPE"/>
                                        <element name="LM_TYPE_DESC"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="MSG_TYPE"/>
                            <element name="ManualRegisterINV">
                                <complexType>
                                    <sequence>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FA_ANCHOR_ID"/>
                                        <element name="FA_ANCHOR_NM"/>
                                        <element name="FA_BENE_NM"/>
                                        <element name="FA_BUSI_TYPE__DESC__"/>
                                        <element name="FA_BUSI_TYPE"/>
                                        <element name="FA_COUNTER_NM"/>
                                        <element name="FA_COUNTER_REG_NO"/>
                                        <element name="FA_CRN_INV_LINK_NO"/>
                                        <element name="FA_CUST_REG_NO"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_GOODS_CATEGORY"/>
                                        <element name="FA_GOODS_DES"/>
                                        <element name="FA_LAST_PMT_DT"/>
                                        <element name="FSBC_REF"/>
                                        <element name="I_SEQ_NO"/>
                                        <element name="PLC_DSTN"/>
                                        <element name="PLC_LOADNG"/>
                                        <element name="PO_NO"/>
                                        <element name="SHPPG_CPNY_NM"/>
                                        <element name="VSSL_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="TEMP_CHAR6"/>
                            <element name="TEMP_DATE1"/>
                            <element name="TEMP_DATE2"/>
                            <element name="TEMP_DATE4"/>
                            <element name="TRX_DT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
