EE_PARA/EE_PARA/Default/FORM/form_schema_SYS_ViewLogDetail_component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_CLAUSE_ID"/>
<element name="C_COMP_NAME"/>
<element name="C_INSTANCE_NAME"/>
<element name="C_LOG_ID"/>
<element name="C_LOG_INFO"/>
<element name="C_SESSION_ID"/>
<element name="C_USER_ID"/>
<element name="D_SYS_LOG_DATE"/>
<element name="OP_TYPE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
