EE_PARA/EE_PARA/Default/FORM/form_schema_RiskCompliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="APPL_AC_MRGN_BTN"/>
                <element name="ASSET_ACNO"/>
                <element name="ASSET_ACNO_BTN"/>
                <element name="CASH_COVER_CHANGE__DESC__"/>
                <element name="CASH_COVER_CHANGE"/>
                <element name="CASH_COVER_REV"/>
                <element name="CASH_COV_AC_NO"/>
                <element name="CASH_COV_AC_NO_BTN"/>
                <element name="CASH_COV_AMT"/>
                <element name="CASH_COV_AMT_TXCCY"/>
                <element name="CASH_COV_BAL"/>
                <element name="CASH_COV_BAL_TXCCY"/>
                <element name="CASH_COV_CCY"/>
                <element name="CASH_COV_DEC_AMT"/>
                <element name="CASH_COV_DEC_AMT_TXCCY"/>
                <element name="CASH_COV_DR_ACNO"/>
                <element name="CASH_COV_DR_ACNO_BTN"/>
                <element name="CASH_COV_HELD__DESC__"/>
                <element name="CASH_COV_HELD"/>
                <element name="CASH_COV_INC_AMT"/>
                <element name="CASH_COV_INC_AMT_TXCCY"/>
                <element name="CASH_COV_PCT"/>
                <element name="CASH_COV_TXCCY"/>
                <element name="C_MAIN_REF"/>
                <element name="INTF_HASERRORS"/>
                <element name="INTF_STATUSDESC"/>
                <element name="LIAB_ACNO"/>
                <element name="LIMIT_LINES__DESC__"/>
                <element name="LIMIT_LINES"/>
                <element name="LIMIT_STATUS"/>
                <element name="PRE_CASH_COV_HELD"/>
                <element name="PRE_R_COLLAT_REQ"/>
                <element name="PRODUCT_CD"/>
                <element name="RISK_ID_BTN"/>
                <element name="R_ASSET_ACNO"/>
                <element name="R_ASSET_ACNO_BTN"/>
                <element name="R_COLLAT_DTLS"/>
                <element name="R_COLLAT_REQ"/>
                <element name="R_COLLAT_TP"/>
                <element name="R_CUST_BK"/>
                <element name="R_LIAB_ACNO"/>
                <element name="R_LIAB_ACNO_BTN"/>
                <element name="R_LIMIT_CHK_BTN1"/>
                <element name="R_LIMIT_CHK_BTN2"/>
                <element name="R_LMT_DECISION_FLG"/>
                <element name="R_LMT_USED_DT"/>
                <element name="R_LMT_USED_REF"/>
                <element name="R_PARTY_ADD1"/>
                <element name="R_PARTY_ADD2"/>
                <element name="R_PARTY_ADD3"/>
                <element name="R_PARTY_CNTY"/>
                <element name="R_PARTY_CNTY_NM"/>
                <element name="R_PARTY_ID"/>
                <element name="R_PARTY_ID_BTN"/>
                <element name="R_PARTY_NM"/>
                <element name="R_PARTY_ORDER_NO"/>
                <element name="R_RISK_AMT"/>
                <element name="R_RISK_AMT_OLD"/>
                <element name="R_RISK_CCY"/>
                <element name="R_RISK_LMT_AMT"/>
                <element name="R_RISK_LMT_AMT_OLD"/>
                <element name="R_RISK_LMT_CCY"/>
                <element name="R_RISK_LMT_RT"/>
                <element name="R_SYND_FLG"/>
                <element name="R_SYND_REF"/>
                <element name="R_UTIL_REF"/>
                <element name="R_WEIG_PCT"/>
                <element name="TEMP_ASSET_ACNO_DESC"/>
                <element name="TEMP_ASSET_ACNO_DESC_R"/>
                <element name="TEMP_CASH_COV_AMT"/>
                <element name="TEMP_CASH_COV_AMT_TXCCY"/>
                <element name="TEMP_CASH_COV_AMT_TXCCY2"/>
                <element name="TEMP_CASH_COV_PCT"/>
                <element name="TEMP_CASH_COV_PCT2"/>
                <element name="TEMP_RATE_CASH"/>
                <element name="TEMP_RATE_RISK"/>
            </sequence>
        </complexType>
    </element>
</schema>
