EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYS_Authorization_Rule_Setting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="AUTH_CCY"/>
<element name="AUTH_RULE_DESC"/>
<element name="AUTH_RULE_NAME"/>
<element name="C_SEQ"/>
<element name="LEVEL_SUM"/>
<element name="OLD_AUTH_RULE_NAME"/>
<element name="RULE_ORDER"/>
<element name="TYPE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
