EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_PmtOblgtn_DO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup2"/>
<element name="Submit"/>
<element name="Submit2"/>
<element name="TEMP_AMT"/>
<element name="TSU_APLBL_LAW"/>
<element name="TSU_CCY"/>
<element name="TSU_OBLGRBK_ID"/>
<element name="TSU_OBLGRBK_NM"/>
<element name="TSU_OBLGR_BK"/>
<element name="TSU_PMTOBLGR_AMT"/>
<element name="TSU_PMTOBLGR_PCTG"/>
<element name="TSU_PMT_CHG_AMT"/>
<element name="TSU_PMT_CHG_PCTG"/>
<element name="TSU_PMT_XPRY_DT"/>
<element name="TSU_RCPTBK"/>
<element name="TSU_RCPTBK_ID"/>
<element name="TSU_RCPTBK_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
