EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_setl_po.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CLERK_ID"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_DOC_REF"/>
<element name="FA_FIN_LOAN_AMT"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_LOAN_VAL_DT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_PAID_INT_AMT"/>
<element name="FA_PAID_PRIN_AMT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_PMT_CLEAR_TYPE__DESC__"/>
<element name="FA_PMT_CLEAR_TYPE"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_REF"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP5"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT13"/>
<element name="FA_TEMP_AMT14"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_TEMP_PO_INT_AMT"/>
<element name="IA_C_INTF_ID"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_Y_PENINT_AMT"/>
<element name="IA_Y_REACC_INT"/>
<element name="IA_Y_REFUND_INT"/>
<element name="PO_AMT"/>
<element name="PO_CCY"/>
<element name="PO_CLEAR_AMT"/>
<element name="PO_DT"/>
<element name="PO_DUE_DT"/>
<element name="PO_LOAN_AVL"/>
<element name="PO_LOAN_BAL"/>
<element name="PO_LOAN_ID"/>
<element name="PO_LOAN_TIMES"/>
<element name="PO_NO"/>
<element name="PO_REFUND_INT"/>
<element name="PO_STATUS"/>
<element name="TEMP_FLG1__DESC__"/>
<element name="TEMP_FLG1"/>
<element name="TEMP_LOAN_ID"/>
<element name="TRX_DT"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BK_BPO_FLG__DESC__"/>
<element name="TSU_BK_BPO_FLG"/>
<element name="TSU_CCY"/>
<element name="TSU_C_MAIN_REF"/>
<element name="TSU_PO_ID"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="TTL_OBLIG_AMT"/>
</sequence>
</complexType>
</element>
</schema>
