EE_PARA/EE_PARA/Default/FORM/form_schema_Debit Details_ClaimDo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_BUY_CLOSE_RT"/>
<element name="CPYT_DR_AC"/>
<element name="CPYT_DR_AC_BTN"/>
<element name="CPYT_DR_AC_OWNER_BTN"/>
<element name="CPYT_DR_AC_TYPE"/>
<element name="CPYT_DR_AMT_DRCCY"/>
<element name="CPYT_DR_AMT_DRCCY_EXCH"/>
<element name="CPYT_DR_AMT_MAPING"/>
<element name="CPYT_DR_AMT_TXCCY"/>
<element name="CPYT_DR_BUY_RATE"/>
<element name="CPYT_DR_CCY"/>
<element name="CPYT_DR_CHG_FLAG"/>
<element name="CPYT_DR_CHG_LCCCY"/>
<element name="CPYT_DR_DEAL"/>
<element name="CPYT_DR_EXNG_AC"/>
<element name="CPYT_DR_ID"/>
<element name="CPYT_DR_NAME"/>
<element name="CPYT_DR_PER"/>
<element name="CPYT_DR_RATE"/>
<element name="CPYT_DR_TRX_CCY"/>
<element name="CPYT_DR_VAL_DATE"/>
<element name="CPYT_EXCH_FAVAMT"/>
<element name="CPYT_FAVOR_BUY_RATE"/>
<element name="CPYT_PMT_EXCH_INCM"/>
</sequence>
</complexType>
</element>
</schema>
