EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_RegOutPmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AMOUNT"/>
                            <element name="APPL_CNTY_RES"/>
                            <element name="APP_TYPE"/>
                            <element name="AUDIT_CODE"/>
                            <element name="AUDT_DESC"/>
                            <element name="AUDT_FUNCTION"/>
                            <element name="AUDT_INSERTED_TMSTAMP"/>
                            <element name="AUDT_MAIN_REF"/>
                            <element name="AUDT_OP_ID"/>
                            <element name="AUDT_SUB_TYPE"/>
                            <element name="AUDT_TRX_REF"/>
                            <element name="AUDT_TYPE"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="CALBK"/>
                            <element name="CANCEL_FLG"/>
                            <element name="CASH_CCY_IND"/>
                            <element name="CASH_CNTY_DESC"/>
                            <element name="CASH_SETT_AMT"/>
                            <element name="CASH_SETT_CCY"/>
                            <element name="CASH_TOT_AMT"/>
                            <element name="CCY"/>
                            <element name="CCY_CUTOFF_DAY"/>
                            <element name="CHANNEL__DESC__"/>
                            <element name="CHANNEL"/>
                            <element name="CHG_SUSP_AC"/>
                            <element name="CNTY"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_REF"/>
                            <element name="CUTOFF_DAY"/>
                            <element name="CUTOFF_REF"/>
                            <element name="CUTOFF_TIME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_CLEAR_TYPE"/>
                            <element name="C_CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DB_AMT"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DB_CNTY"/>
                            <element name="DRT_DEAL_IND"/>
                            <element name="DUP_CHK"/>
                            <element name="ERROR_MESSAGE"/>
                            <element name="EXCH_RT_CR_CCY"/>
                            <element name="EXTERNAL_REF"/>
                            <element name="FAX_INDTY"/>
                            <element name="FDS_TO_CHK"/>
                            <element name="FIELD_1_X"/>
                            <element name="FIELD_6_X"/>
                            <element name="FIELDs"/>
                            <element name="FORM_CUST_ACNO"/>
                            <element name="FORM_CUST_ADD1"/>
                            <element name="FORM_CUST_ADD2"/>
                            <element name="FORM_CUST_ADD3"/>
                            <element name="FORM_CUST_NM"/>
                            <element name="FRONT_OFFICE_CODE"/>
                            <element name="HELP_LINK_URL"/>
                            <element name="INT_CUST_ID"/>
                            <element name="LOCAL_CCY"/>
                            <element name="MD_I"/>
                            <element name="NOTES"/>
                            <element name="NUM_ACCTS"/>
                            <element name="NXT_STATUS"/>
                            <element name="OLDVALUES"/>
                            <element name="OLDVALUES_ACC"/>
                            <element name="OLDVALUES_COVERNO"/>
                            <element name="OLDVALUES_OVR"/>
                            <element name="Ord_Cust_lookup"/>
                            <element name="PRIORITY"/>
                            <element name="PRODREF"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="REGOTT_COUNTRY_CODE"/>
                            <element name="RELATED_REF"/>
                            <element name="REPUR_IND"/>
                            <element name="REVE_IND"/>
                            <element name="SECOND_CHG_AMT"/>
                            <element name="SETT_ACC_AUDIT"/>
                            <element name="SETT_ACC_AUDIT1"/>
                            <element name="SUSP_AC"/>
                            <element name="TEMP_CASH_IND"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_RESULT2"/>
                            <element name="TRX_HISTORY"/>
                            <element name="TRX_HISTORY_TEMP"/>
                            <element name="TWO_DAYS_BACK"/>
                            <element name="VAT_IND1"/>
                            <element name="X103_EXCH_RT_36"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50A"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50A"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50A"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X103_ORDCU_SW_50A"/>
                            <element name="X103_SEND_NO_20"/>
                            <element name="X103_TAG_50A"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="lookup1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
