EE_PARA/EE_PARA/Default/FORM/form_schema_MT400.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="BENE_BK_ID"/>
<element name="X400BENEBKADD1_58A"/>
<element name="X400BENEBKADD2_58A"/>
<element name="X400BENEBKADD3_58A"/>
<element name="X400RECCORRACNO54A"/>
<element name="X400SENDCORACNO53A"/>
<element name="X400SENDCORADD153A"/>
<element name="X400SENDCORADD253A"/>
<element name="X400SENDCORADD353A"/>
<element name="X400_ACCBKADD1_57A"/>
<element name="X400_ACCBKADD2_57A"/>
<element name="X400_ACCBKADD3_57A"/>
<element name="X400_ACC_BKACNO57A"/>
<element name="X400_ACC_BKID_57A"/>
<element name="X400_ACC_BKNM_57A"/>
<element name="X400_ACC_BKSW_57A"/>
<element name="X400_ADDAMT_DET73"/>
<element name="X400_ADV_BKADD1_B2"/>
<element name="X400_ADV_BKADD2_B2"/>
<element name="X400_ADV_BKADD3_B2"/>
<element name="X400_ADV_BKID_B2"/>
<element name="X400_ADV_BKNM_B2"/>
<element name="X400_ADV_BKSW_B2"/>
<element name="X400_BENEBKACNO58A"/>
<element name="X400_BENE_BKID_58A"/>
<element name="X400_BENE_BKNM_58A"/>
<element name="X400_BENE_BKSW_58A"/>
<element name="X400_COLL_AMT_32A"/>
<element name="X400_COLL_CCY_32A"/>
<element name="X400_DET_CHG_71B"/>
<element name="X400_DUE_DT_32A"/>
<element name="X400_ORDBKACNO_52A"/>
<element name="X400_ORDBKADD1_52A"/>
<element name="X400_ORDBKADD2_52A"/>
<element name="X400_ORDBKADD3_52A"/>
<element name="X400_ORDBK_ID_52A"/>
<element name="X400_ORDBK_NM_52A"/>
<element name="X400_ORDBK_SW_52A"/>
<element name="X400_RECCORADD154A"/>
<element name="X400_RECCORADD254A"/>
<element name="X400_RECCORADD354A"/>
<element name="X400_RECCORRID_54A"/>
<element name="X400_RECCORRID_54A_BTN"/>
<element name="X400_RECCORRNM_54A"/>
<element name="X400_RECCORRSW_54A"/>
<element name="X400_RELATEDNO_21"/>
<element name="X400_REMIT_AMT_33A"/>
<element name="X400_REMIT_CCY_33A"/>
<element name="X400_SENDCORRID53A"/>
<element name="X400_SENDCORRID53A_BTN"/>
<element name="X400_SENDCORRNM53A"/>
<element name="X400_SENDCORRSW53A"/>
<element name="X400_SENDTO_INFO72"/>
<element name="X400_TAG_52A"/>
<element name="X400_TAG_53A"/>
<element name="X400_TAG_54A"/>
<element name="X400_TAG_57A"/>
<element name="X400_TAG_58A"/>
<element name="X400_TRX_REF_NO_20"/>
<element name="X400_VALUE_DT_33A"/>
</sequence>
</complexType>
</element>
</schema>
