EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IAAC_AccPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CHECK_TRX_VALDATE"/>
<element name="C_EXRATE_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_CREATE_FROM"/>
<element name="IA_C_EVENT_NO"/>
<element name="IA_C_FUNCTION_ID"/>
<element name="IA_C_INTF_ID"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_UNIT_OF_CRT"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_LAST_INT_PAID"/>
<element name="IA_D_POST_FROMDATE"/>
<element name="IA_D_POST_TODATE"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_N_EXCH_RATE"/>
<element name="IA_Y_BAS_DEF_INT"/>
<element name="IA_Y_OUTSD_AMT"/>
<element name="IA_Y_PAID_BASINT"/>
<element name="IA_Y_PAID_INT"/>
<element name="IA_Y_PAID_PENINT"/>
<element name="IA_Y_PAID_SPRINT"/>
<element name="IA_Y_PENINT_AMT"/>
<element name="IA_Y_PEN_DEF_INT"/>
<element name="IA_Y_REACCBAS_INT"/>
<element name="IA_Y_REACC_INT"/>
<element name="IA_Y_THIS_SCHE_INT"/>
<element name="IA_Y_TRX_AMT"/>
<element name="IA_Y_TTL_DEF_INT"/>
<element name="IA_Y_TTL_LCY_AMT"/>
<element name="IA_Y_TTL_POST_AMT"/>
<element name="IA_Y_TTL_UNPAID_INT"/>
<element name="OP_TYPE"/>
<element name="imgDrawDown_IA_D_POST_FROMDATE"/>
<element name="imgDrawDown_IA_D_POST_TODATE"/>
<element name="imgDrawDown_IA_D_TRX_VALDATE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
