EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_Receiver_Exception_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BANK_ADD1"/>
                            <element name="BANK_ADD2"/>
                            <element name="BANK_ADD3"/>
                            <element name="BANK_ID"/>
                            <element name="BANK_NAME"/>
                            <element name="BANK_SWIFT_ADD"/>
                            <element name="BIC_VALUE"/>
                            <element name="CCY"/>
                            <element name="CCY_NAME"/>
                            <element name="CNTY_CODE"/>
                            <element name="CNTY_NAME"/>
                            <element name="CREATE_DATE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FL_NO"/>
                            <element name="LEVEL"/>
                            <element name="NOTES"/>
                            <element name="OP_TYPE"/>
                            <element name="REC_BKADD1"/>
                            <element name="REC_BKADD2"/>
                            <element name="REC_BKADD3"/>
                            <element name="REC_BKID"/>
                            <element name="REC_BKID2"/>
                            <element name="REC_BKNAME"/>
                            <element name="REC_BKSWIFT_ADD"/>
                            <element name="TRX_INQUIRE_TYPE"/>
                            <element name="UPDATE_DATE"/>
                            <element name="_TRX_STATUS"/>
                            <element name="banklookupbutt"/>
                            <element name="reclookupbutt"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
