EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_SLABusinessGroup_Assign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="Active_Type"/>
                            <element name="BG_RULE_LIST"/>
                            <element name="C_BG_UNIT_CODE"/>
                            <element name="C_CP_UNIT_CODE"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                            <element name="add"/>
                            <element name="remove"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
