EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CounterpartySSI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="AC_WT_BK_AC_NO"/>
<element name="AC_WT_BK_NM"/>
<element name="AC_WT_BK_SW_ADD"/>
<element name="BENE_BK_AC_NO"/>
<element name="BENE_BK_NM"/>
<element name="BENE_BK_SWADD"/>
<element name="CNPT_AC_CD"/>
<element name="CNPT_ID"/>
<element name="CNPT_SHORT_NM"/>
<element name="CNPT_SWADD"/>
<element name="C_MAIN_REF"/>
<element name="DO_INDEX_NO"/>
<element name="EFFCV_DT"/>
<element name="INTMEDI_BK_ACNO"/>
<element name="INTMEDI_BK_NM"/>
<element name="INTMED_BK_SWADD"/>
<element name="ITEM_FLD_NM"/>
<element name="NS_CCY"/>
<element name="PROD_CD"/>
<element name="SEND_TO_RCV_INFO"/>
<element name="SERIAL_NO"/>
<element name="SSI_ATTR__DESC__"/>
<element name="SSI_ATTR"/>
<element name="WHT_SEND_MT202_FLG__DESC__"/>
<element name="WHT_SEND_MT202_FLG"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
