EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CMDT_CommodityPrice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CCY"/>
<element name="COMDT_ID"/>
<element name="FA_TEMP_AMT10"/>
<element name="ISSUER"/>
<element name="UNIT__DESC__"/>
<element name="UNIT"/>
<element name="UNIT_PRICE"/>
<element name="UPDATE_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
