EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_IFProcess_EDI_09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_FEE_LINK"/>
                            <element name="ACC_TRAN_ID"/>
                            <element name="BA_UNIT_CODE"/>
                            <element name="CLERK_ID"/>
                            <element name="COMMON_PRDT_CODE"/>
                            <element name="C_BU_ID"/>
                            <element name="C_FUNC_NAME"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DOC_FLAG__DESC__"/>
                            <element name="DOC_FLAG"/>
                            <element name="EXCH_RT1"/>
                            <element name="EXCH_RT4"/>
                            <element name="EXCH_RT5"/>
                            <element name="EXCH_RT6"/>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BA_LINK"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CB_AC_NO"/>
                            <element name="FA_CB_FEE"/>
                            <element name="FA_CB_FEE_CCY"/>
                            <element name="FA_COLL_AC_NO"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_REQD"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_IF_CHG_PAID_FLG"/>
                            <element name="FA_IF_COMM_RT"/>
                            <element name="FA_IF_COMM_SUM"/>
                            <element name="FA_IF_HAN_CHG_AMT"/>
                            <element name="FA_IF_HAN_CHG_CCY"/>
                            <element name="FA_IF_HAN_CHG_PAMT"/>
                            <element name="FA_IF_HAN_CHG_SUM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INCO_COMM_RT"/>
                            <element name="FA_INCO_COMM_SUM"/>
                            <element name="FA_INCO_ID"/>
                            <element name="FA_INCO_NM"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_APPRV"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_EXTRA"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_MSG_TEXT02"/>
                            <element name="FA_ORDER_NO"/>
                            <element name="FA_PMT_AC_NO"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_REQ_DT"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_STATE_MONTH"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TEMP_AMT12"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TEMP_AMT9"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FA_TRF_REF"/>
                            <element name="FA_TTL_AMT_BA"/>
                            <element name="FA_TTL_CRN_AMT"/>
                            <element name="FA_TTL_CRN_NO"/>
                            <element name="FA_TTL_IF_CHG_AMT"/>
                            <element name="FA_TTL_INV_AMT"/>
                            <element name="FA_TTL_INV_NO"/>
                            <element name="FINC_CCY1"/>
                            <element name="InvTRF">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="FA_ADJ_AMT"/>
                                        <element name="FA_ADJ_BAL"/>
                                        <element name="FA_ANCHOR_ID"/>
                                        <element name="FA_ANCHOR_NM"/>
                                        <element name="FA_BA_FLG__DESC__"/>
                                        <element name="FA_BA_FLG"/>
                                        <element name="FA_BUYER_ID"/>
                                        <element name="FA_BUYER_NM"/>
                                        <element name="FA_COUNTER_ID"/>
                                        <element name="FA_COUNTER_NM"/>
                                        <element name="FA_CREDIT_NOTE_PER_AMT"/>
                                        <element name="FA_CRN_INV_LINK_NO"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_EF_COMM_AMT"/>
                                        <element name="FA_EF_COMM_CCY"/>
                                        <element name="FA_EF_HAN_CHG_AMT"/>
                                        <element name="FA_EF_HAN_CHG_CCY"/>
                                        <element name="FA_EF_HAN_CHG_PAMT"/>
                                        <element name="FA_IF_CHG_PAID_FLG"/>
                                        <element name="FA_IF_COMM_AMT"/>
                                        <element name="FA_IF_COMM_CCY"/>
                                        <element name="FA_IF_HAN_CHG_AMT"/>
                                        <element name="FA_IF_HAN_CHG_CCY"/>
                                        <element name="FA_IF_HAN_CHG_PAMT"/>
                                        <element name="FA_INVAMT_IN_LMT"/>
                                        <element name="FA_INV_LINK_REF"/>
                                        <element name="FA_LATEST_SHIP_DT"/>
                                        <element name="FA_ORDER_NO"/>
                                        <element name="FA_PMT_COND__DESC__"/>
                                        <element name="FA_PMT_COND"/>
                                        <element name="FA_PMT_GRC_DAY"/>
                                        <element name="FA_PMT_TERMS"/>
                                        <element name="FA_PRM_DISC_DAYS"/>
                                        <element name="FA_PRM_DISC_RT"/>
                                        <element name="FA_SEL_ID"/>
                                        <element name="FA_SEL_NM"/>
                                        <element name="FA_SND_DISC_DAYS"/>
                                        <element name="FA_SND_DISC_RT"/>
                                        <element name="FA_TEMP_AMT11"/>
                                        <element name="FA_TEMP_AMT12"/>
                                        <element name="FA_TEMP_DT1"/>
                                        <element name="FA_TRF_DT"/>
                                        <element name="FSBC_REF"/>
                                        <element name="GOODS_DESC"/>
                                        <element name="NOTES"/>
                                        <element name="PO_NO"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="RPT_OTHER_AMT1"/>
                            <element name="RPT_OTHER_AMT2"/>
                            <element name="RPT_TRX_BAL1"/>
                            <element name="RPT_TRX_BAL2"/>
                            <element name="RPT_TRX_REF_NO1"/>
                            <element name="THEIR_REF_NO"/>
                            <element name="TRX_DT"/>
                            <element name="button"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
