EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_AmendmentAcceptNotification_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_ACCP_AMDMB"/>
                <element name="TSU_AMD_NO"/>
                <element name="TSU_AMD_REF"/>
                <element name="TSU_BASELN_ID"/>
                <element name="TSU_BASELN_VRSN"/>
                <element name="TSU_DLTAPR_DTTM"/>
                <element name="TSU_DLTARP_ID"/>
                <element name="TSU_INITIATOR_BIC"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_OUR_BIC"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_REQ_ACT_DESC"/>
                <element name="TSU_SUBMITR_ID"/>
                <element name="TSU_THEIR_BIC"/>
                <element name="TSU_THEIR_REF"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRX_AMD"/>
                <element name="TSU_TRX_DTTM"/>
                <element name="TSU_TRX_STATUS__DESC__"/>
                <element name="TSU_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
