EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_AccountNumber_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCOUNTNUMBER"/>
                            <element name="C_AC_DESC"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_AC_NUMBER"/>
                            <element name="C_AC_TITLE"/>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_BOOKING_SGL"/>
                            <element name="C_BOOKING_SSL"/>
                            <element name="C_CL_FCTY_TYPE"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CURRENCY"/>
                            <element name="C_CUST_ID"/>
                            <element name="C_DBT_CRDT"/>
                            <element name="C_GL"/>
                            <element name="C_HOGL_AC_NUM"/>
                            <element name="C_LEDGER_CODE"/>
                            <element name="C_SL"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_GL_FLAGS"/>
                            <element name="I_GL_TYPE"/>
                            <element name="I_TRX_AC_TYPE"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
