EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_ContrManage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_SEL_ID"/>
            </sequence>
        </complexType>
    </element>
</schema>
