EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ACCT_MANUAL VOUCHER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT_C_MAIN_REF"/>
                            <element name="ACCT_C_TRX_REF"/>
                            <element name="ACCT_MODULE_NM"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_NM_C"/>
                            <element name="BUYING_RT"/>
                            <element name="CUST_AC_CCY1"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TEMP_DATA"/>
                            <element name="C_VCH_NUMBER"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="REMARK"/>
                            <element name="SELLING_RT"/>
                            <element name="TEMP_AMT1"/>
                            <element name="TEMP_AMT2"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_FEE1"/>
                            <element name="TEMP_FEE2"/>
                            <element name="_MANUAL_VCH"/>
                            <element name="button"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
