EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_CertDataSet017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSUR2_QTY_UNIT_CD__DESC__"/>
<element name="TSUR2_QTY_UNIT_CD"/>
<element name="TSU_AUTH_INSPC_IND__DESC__"/>
<element name="TSU_AUTH_INSPC_IND"/>
<element name="TSU_CERT_ANLYS"/>
<element name="TSU_CERT_ID"/>
<element name="TSU_CERT_ORGN__DESC__"/>
<element name="TSU_CERT_ORGN"/>
<element name="TSU_CERT_QLTY"/>
<element name="TSU_CERT_TP__DESC__"/>
<element name="TSU_CERT_TP"/>
<element name="TSU_DS_ID"/>
<element name="TSU_DS_VRSN"/>
<element name="TSU_GOODS_DESC"/>
<element name="TSU_HLTH_INDCTN__DESC__"/>
<element name="TSU_HLTH_INDCTN"/>
<element name="TSU_INSPCTN_FR_DT"/>
<element name="TSU_INSPCTN_TO_DT"/>
<element name="TSU_ISSR_CNTY__DESC__"/>
<element name="TSU_ISSR_CNTY"/>
<element name="TSU_ISSR_CNTY_SUB"/>
<element name="TSU_ISSR_ID"/>
<element name="TSU_ISSR_ID_TP"/>
<element name="TSU_ISSR_NM"/>
<element name="TSU_ISSR_POST_CD"/>
<element name="TSU_ISSR_STREET"/>
<element name="TSU_ISSR_TOWN"/>
<element name="TSU_ISS_CNTY__DESC__"/>
<element name="TSU_ISS_CNTY"/>
<element name="TSU_ISS_CNTY_SUB"/>
<element name="TSU_ISS_DT"/>
<element name="TSU_ISS_POST_CD"/>
<element name="TSU_ISS_STREET"/>
<element name="TSU_ISS_TOWN"/>
<element name="TSU_PHYTOSN_INDCTN__DESC__"/>
<element name="TSU_PHYTOSN_INDCTN"/>
<element name="TSU_QTY_FCTR"/>
<element name="TSU_QTY_OTUNIT"/>
<element name="TSU_QTY_VAL"/>
<element name="TSU_SUBMITR_BIC"/>
<element name="TSU_WGT_FCTR"/>
<element name="TSU_WGT_OTUNIT"/>
<element name="TSU_WGT_UNIT_CD__DESC__"/>
<element name="TSU_WGT_UNIT_CD"/>
<element name="TSU_WGT_VAL"/>
</sequence>
</complexType>
</element>
</schema>
