EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_DT_Freight_Chrgs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_IAFT_AMT"/>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_IAFT_TP__DESC__"/>
<element name="TSU_IAFT_TP"/>
<element name="TSU_LNITMNB"/>
<element name="TSU_PO_ID"/>
<element name="TSU_TRAN_INF"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
