EE_PARA/EE_PARA/Default/FORM/form_schema_TRCO_MiscellaneousVoucher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BOOKING_DATE"/>
                <element name="CUST_AC_NO"/>
                <element name="CUST_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DC_ACNO"/>
                <element name="DC_FLAG"/>
                <element name="DO_INDEX_NO"/>
                <element name="EVAL_FLG"/>
                <element name="EVAL_GP_NO"/>
                <element name="EXCH_RATE"/>
                <element name="INQ_ACNO_DATA_BTN"/>
                <element name="INQ_CNPT_DATA_BTN"/>
                <element name="INQ_CUST_DATA_BTN"/>
                <element name="INQ_NS_DATA_BTN"/>
                <element name="INT_RATE"/>
                <element name="MDL_SHORT_NM"/>
                <element name="REF_NO"/>
                <element name="ROTN_FLG__DESC__"/>
                <element name="ROTN_FLG"/>
                <element name="TRX_CD"/>
                <element name="VAL_DT"/>
                <element name="VOU_AMT"/>
                <element name="VOU_CCY"/>
                <element name="VOU_DESC"/>
                <element name="VOU_INDEX_NO"/>
            </sequence>
        </complexType>
    </element>
</schema>
