EE_PARA/EE_PARA/Default/FORM/form_schema_SLA_InqSLAHeader_History.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_BG_DESC"/>
<element name="C_BG_ID"/>
<element name="C_BG_VERSION"/>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_CREATE_BY"/>
<element name="C_CREATE_UNIT"/>
<element name="C_CURR_FUNC_DESC"/>
<element name="C_CURR_FUNC_ID"/>
<element name="C_CURR_STEP_NAME"/>
<element name="C_LEVEL_DESC"/>
<element name="C_LEVEL_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_MODULE"/>
<element name="C_PRIORITY_DESC"/>
<element name="C_PRIORITY_ID"/>
<element name="C_RULE_VERSION"/>
<element name="C_SLA_ID"/>
<element name="C_STATUS_FLAG"/>
<element name="C_UNIT_CODE"/>
<element name="C_UPDATE_BY"/>
<element name="C_UPDATE_UNIT"/>
<element name="D_ACT_ENDLINE"/>
<element name="D_ACT_INITLINE"/>
<element name="D_CREATE_DATE"/>
<element name="D_ENDLINE"/>
<element name="D_INITLINE"/>
<element name="D_ORG_ENDLINE"/>
<element name="D_UPDATE_DATE"/>
<element name="I_CURR_STEP_NO"/>
<element name="T_CREATE_TIME"/>
<element name="T_UPDATE_TIME"/>
</sequence>
</complexType>
</element>
</schema>
