EE_PARA/EE_PARA/Default/FORM/form_multi_schema_MarginDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_EXCHAN_RATE"/>
<element name="C_OPERATION_FLAG"/>
<element name="D_VALUE_DATE"/>
<element name="MRGN_AC_AMT"/>
<element name="MRGN_AC_AMT_FX"/>
<element name="MRGN_AC_CCY"/>
<element name="MRGN_AC_NO"/>
<element name="MRGN_AC_NO_BTN"/>
<element name="MRGN_AC_RATE"/>
<element name="MRGN_DR_AC"/>
<element name="MRGN_DR_AC_BTN"/>
<element name="MRGN_DR_AC_TYPE"/>
<element name="MRGN_DR_ID"/>
<element name="MRGN_DR_ID_BTN"/>
<element name="SUB_MRGN_AMT"/>
<element name="SUB_MRGN_AMT_FX"/>
<element name="SUB_MRGN_BAL"/>
<element name="SUB_MRGN_CCY"/>
<element name="SUB_MRGN_PCT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
