EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FincSinglePayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BM_TEMP_FIN_AMT1"/>
                            <element name="BM_TEMP_FIN_AMT2"/>
                            <element name="BM_TEMP_FIN_AMT3"/>
                            <element name="BM_TEMP_FIN_AMT4"/>
                            <element name="CFNC_C_AC_NO"/>
                            <element name="CFNC_C_AC_TYPE"/>
                            <element name="CFNC_C_CCY"/>
                            <element name="CFNC_C_GRACE_DAYS"/>
                            <element name="CFNC_C_GRACE_FLG__DESC__"/>
                            <element name="CFNC_C_GRACE_FLG"/>
                            <element name="CFNC_C_INIT_FLG"/>
                            <element name="CFNC_C_INT_MODE"/>
                            <element name="CFNC_C_INT_PAYABLE"/>
                            <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                            <element name="CFNC_C_ORIGIN_MODULE"/>
                            <element name="CFNC_C_ORIGIN_TRX_REF"/>
                            <element name="CFNC_C_OTHER_TYPE"/>
                            <element name="CFNC_C_PAY_BY"/>
                            <element name="CFNC_C_REF"/>
                            <element name="CFNC_C_RELT_REF"/>
                            <element name="CFNC_C_TYPE__DESC__"/>
                            <element name="CFNC_C_TYPE"/>
                            <element name="CFNC_C_TYPE_DESC"/>
                            <element name="CFNC_DRAWING_REF"/>
                            <element name="CFNC_D_DT"/>
                            <element name="CFNC_D_DUE_DT"/>
                            <element name="CFNC_D_EXTEN_DUE_DT_E"/>
                            <element name="CFNC_D_LAST_PMT_DT"/>
                            <element name="CFNC_D_PAY_DT"/>
                            <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                            <element name="CFNC_INTEREST_INSTAL_FLG"/>
                            <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                            <element name="CFNC_INTEREST_INTERVAL"/>
                            <element name="CFNC_I_BASIC_DAYS"/>
                            <element name="CFNC_I_DAYS"/>
                            <element name="CFNC_I_OVERDUE_DAYS"/>
                            <element name="CFNC_I_OVERDUE_DAYS_TEMP"/>
                            <element name="CFNC_I_REPAY_TIMES"/>
                            <element name="CFNC_N_AMT_LCCCY"/>
                            <element name="CFNC_N_AMT_TXCCY"/>
                            <element name="CFNC_N_BAL"/>
                            <element name="CFNC_N_BAL_TEMP"/>
                            <element name="CFNC_N_LIBOR_AMT"/>
                            <element name="CFNC_N_LIBOR_RT"/>
                            <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                            <element name="CFNC_N_LIBOR_RT_TYPE"/>
                            <element name="CFNC_N_MARGIN_AMT"/>
                            <element name="CFNC_N_MARGIN_RT"/>
                            <element name="CFNC_N_NET_AMT"/>
                            <element name="CFNC_N_PAID_INT"/>
                            <element name="CFNC_N_PAY_AMT"/>
                            <element name="CFNC_N_PAY_INT"/>
                            <element name="CFNC_N_PAY_PNLT_INT"/>
                            <element name="CFNC_N_PAY_PRIN"/>
                            <element name="CFNC_N_PCT"/>
                            <element name="CFNC_N_PNLT_RT"/>
                            <element name="CFNC_N_PRE_INT"/>
                            <element name="CFNC_N_REFUND"/>
                            <element name="CFNC_N_RT"/>
                            <element name="CFNC_N_RT_NARR"/>
                            <element name="CFNC_N_RT_TYPE__DESC__"/>
                            <element name="CFNC_N_RT_TYPE"/>
                            <element name="CFNC_N_UNPAID_INT"/>
                            <element name="CFNC_N_UNPAID_PRIN"/>
                            <element name="CFNC_OVERDUE_DT"/>
                            <element name="CFNC_PAID_PRIN_SUM"/>
                            <element name="CFNC_PAYMENT_FLAG__DESC__"/>
                            <element name="CFNC_PAYMENT_FLAG"/>
                            <element name="CFNC_PMT_CLEAR_TYPE__DESC__"/>
                            <element name="CFNC_PMT_CLEAR_TYPE"/>
                            <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                            <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                            <element name="CFNC_PRINCIPAL_INTERVALL"/>
                            <element name="CFNC_RELA_MAIN_REF"/>
                            <element name="CFNC_TOLOCAL_RT"/>
                            <element name="CUST_AC_AMT1"/>
                            <element name="C_FUNC_SHORT_NAME"/>
                            <element name="DISCOUNT_TAB_KEY"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_TEMP3"/>
                            <element name="IA_C_CCY_CODE"/>
                            <element name="IA_C_REF_NO"/>
                            <element name="IA_D_DUE_DATE"/>
                            <element name="IA_D_POST_FROMDATE"/>
                            <element name="IA_D_POST_TODATE"/>
                            <element name="IA_D_TRX_VALDATE"/>
                            <element name="IA_I_BASE_DAYS"/>
                            <element name="IA_I_CCY_DEC"/>
                            <element name="IA_I_DISCOUNT_DAYS"/>
                            <element name="IA_N_DISCOUNT_RATE"/>
                            <element name="IA_Y_OUTSD_AMT"/>
                            <element name="IA_Y_PENINT_AMT"/>
                            <element name="IA_Y_REACC_INT"/>
                            <element name="IA_Y_REFUND_INT"/>
                            <element name="IA_Y_TRX_AMT"/>
                            <element name="INC_PERIOD"/>
                            <element name="REPAY_FLG__DESC__"/>
                            <element name="REPAY_FLG"/>
                            <element name="TEMP_CFNC_N_PAY_INT"/>
                            <element name="TEMP_CFNC_N_PAY_PRIN"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
