EE_PARA/EE_PARA/Default/FORM/form_schema_Std_IAAC_AccountType_Inq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="B_CONA_FLAG"/>
<element name="B_PEN_UINT"/>
<element name="B_PEN_UPRI"/>
<element name="C_ACCR_BASE"/>
<element name="C_ACC_POST_TYPE"/>
<element name="C_ACTY_DESC"/>
<element name="C_ACTY_NAME"/>
<element name="C_AMZ_POST_TYPE"/>
<element name="C_AUTO_DEB"/>
<element name="C_AUTO_DEB_DES"/>
<element name="C_BK_GROUP_ID"/>
<element name="C_CCY_CODE"/>
<element name="C_CNTY_CODE"/>
<element name="C_DEFBAS_ACT"/>
<element name="C_DEFBAS_ACT_DES"/>
<element name="C_DEFSPR_ACT"/>
<element name="C_DEFSPR_ACT_DES"/>
<element name="C_DEF_ACT"/>
<element name="C_DEF_ACT_DES"/>
<element name="C_DISC_ACT"/>
<element name="C_DISC_ACT_DES"/>
<element name="C_EXCH_ENTRY_FLAG"/>
<element name="C_EXRATE_ID"/>
<element name="C_FORGNPD_ACT"/>
<element name="C_FORGNPD_ACT_DES"/>
<element name="C_FORGN_ACT"/>
<element name="C_FORGN_ACT_DES"/>
<element name="C_GEN_NORMAL_ENTRY_FLAG"/>
<element name="C_GEN_POST_FLAG"/>
<element name="C_GEN_REVRSE_ENTRY_FLAG"/>
<element name="C_GEN_REVRSE_FLAG"/>
<element name="C_ICOMBAS_ACT"/>
<element name="C_ICOMBAS_ACT_DES"/>
<element name="C_ICOMSPR_ACT"/>
<element name="C_ICOMSPR_ACT_DES"/>
<element name="C_ICOM_ACT"/>
<element name="C_ICOM_ACT_DES"/>
<element name="C_IPENRBAS_ACT"/>
<element name="C_IPENRBAS_ACT_DES"/>
<element name="C_IPENRSPR_ACT"/>
<element name="C_IPENRSPR_ACT_DES"/>
<element name="C_IRECBAS_ACT"/>
<element name="C_IRECBAS_ACT_DES"/>
<element name="C_IRECSPR_ACT"/>
<element name="C_IRECSPR_ACT_DES"/>
<element name="C_IREC_ACT"/>
<element name="C_IREC_ACT_DES"/>
<element name="C_LOAN_OR_DEPOSIT"/>
<element name="C_LOCALPD_ACT"/>
<element name="C_LOCALPD_ACT_DES"/>
<element name="C_LOCAL_ACT"/>
<element name="C_LOCAL_ACT_DES"/>
<element name="C_PENIBAS_ACT"/>
<element name="C_PENIBAS_ACT_DES"/>
<element name="C_PENISPR_ACT"/>
<element name="C_PENISPR_ACT_DES"/>
<element name="C_PENI_ACT"/>
<element name="C_PENI_ACT_DES"/>
<element name="C_PEN_OPR"/>
<element name="C_POST_FRE"/>
<element name="C_PREM_ACT"/>
<element name="C_PREM_ACT_DES"/>
<element name="C_SEPARATEOV_FLAG"/>
<element name="C_SEPARATE_FLAG"/>
<element name="C_SPR_OPR"/>
<element name="C_TO_ACTY_NAME"/>
<element name="C_UNIT_CODE"/>
<element name="IA_ACCT_1"/>
<element name="IA_ACCT_10"/>
<element name="IA_ACCT_11"/>
<element name="IA_ACCT_12"/>
<element name="IA_ACCT_13"/>
<element name="IA_ACCT_14"/>
<element name="IA_ACCT_15"/>
<element name="IA_ACCT_16"/>
<element name="IA_ACCT_17"/>
<element name="IA_ACCT_18"/>
<element name="IA_ACCT_2"/>
<element name="IA_ACCT_3"/>
<element name="IA_ACCT_4"/>
<element name="IA_ACCT_5"/>
<element name="IA_ACCT_6"/>
<element name="IA_ACCT_7"/>
<element name="IA_ACCT_8"/>
<element name="IA_ACCT_9"/>
<element name="IA_ACCT_A"/>
<element name="IA_ACCT_B"/>
<element name="IA_ACCT_C"/>
<element name="IA_ACCT_D"/>
<element name="IA_ACCT_E"/>
<element name="IA_ACCT_F"/>
<element name="IA_ACCT_G"/>
<element name="IA_ACCT_H"/>
<element name="IA_ACCT_I"/>
<element name="IA_ACCT_J"/>
<element name="IA_ACCT_M"/>
<element name="IA_ACCT_N"/>
<element name="IA_ACCT_O"/>
<element name="IA_ACCT_P"/>
<element name="IA_ACCT_Q"/>
<element name="IA_ACCT_R"/>
<element name="IA_ACCT_S"/>
<element name="IA_ACCT_T"/>
<element name="IA_ACCT_U"/>
<element name="IA_ACCT_V"/>
<element name="IA_ACCT_W"/>
<element name="IA_ACCT_X"/>
<element name="IA_C_CUST_CODE"/>
<element name="IA_C_TRANS_CODE"/>
<element name="I_ACTY_ID"/>
<element name="I_GRACE_DAYS"/>
<element name="I_PEN_DAYS"/>
<element name="I_PEN_TIME"/>
<element name="N_PEN_RATE"/>
<element name="OP_TYPE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
