EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFCreditCoverEdit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BA_UNIT_CODE"/>
                            <element name="BCR_FSBC_AC_NO"/>
                            <element name="B_SELLER3"/>
                            <element name="CLERK_ID"/>
                            <element name="CUST_OFFC_CNTC_NM1"/>
                            <element name="CUST_OFFC_CNTC_NM2"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BA_LINK"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_ADD_ML"/>
                            <element name="FA_BUYER_BK_BRCH"/>
                            <element name="FA_BUYER_BK_NM"/>
                            <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                            <element name="FA_BUYER_CNTC_FLG"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CMMR_CNTR_DTL"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_COLLAT_RT"/>
                            <element name="FA_COLLAT_TXT"/>
                            <element name="FA_CUST_ADDR"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_DECR_AMT"/>
                            <element name="FA_DOC_REQD"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_FIN_INFO"/>
                            <element name="FA_GOODS_CODE"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_GOODS_EDI"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_LMT_EXCH_RT"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INCR_AMT"/>
                            <element name="FA_INV_CCY4"/>
                            <element name="FA_INV_CCY5"/>
                            <element name="FA_IRT_SPREAD"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_DUE_DT2"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                            <element name="FA_LOAN_IRATE_TYPE"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_MSG_DT"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_ORG_DUE_DT"/>
                            <element name="FA_ORG_LMT_AMT"/>
                            <element name="FA_OTH_CHG_CCY"/>
                            <element name="FA_OVD_IRT_SPREAD"/>
                            <element name="FA_OWN_RISK_AMT"/>
                            <element name="FA_OWN_RISK_PERC"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PMT_TERMS_FLG__DESC__"/>
                            <element name="FA_PMT_TERMS_FLG"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_REPLY_CR_REF"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TEMP_IF_LMT_DUE_DT"/>
                            <element name="FA_TEMP_IF_LMT_VAL_DT"/>
                            <element name="FA_TTL_OTH_CHG"/>
                            <element name="FA_TTL_SEL_TNOV"/>
                            <element name="FA_TTL_SEL_TNOVCCY"/>
                            <element name="OWNER_BR_NM"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="TEMP_AMT30"/>
                            <element name="TEMP_AMT40"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_FLG1__DESC__"/>
                            <element name="TEMP_FLG1"/>
                            <element name="TEMP_FLG2"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
