EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_SuspRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="LM_SUSP_ID"/>
                <element name="LM_SUSP_REF"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
