EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ContactIdentification1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_CONT_EMAIL"/>
<element name="TSU_CONT_FAX"/>
<element name="TSU_CONT_GVNNM"/>
<element name="TSU_CONT_ID"/>
<element name="TSU_CONT_NM"/>
<element name="TSU_CONT_NMPRFX__DESC__"/>
<element name="TSU_CONT_NMPRFX"/>
<element name="TSU_CONT_ROLE"/>
<element name="TSU_CONT_TEL"/>
<element name="TSU_OT_BK_BIC"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
