EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IPLC_InquireMasterTrx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AC_OFFICER_CODE"/>
                            <element name="ADDIT_CONDITION"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_ADD_BTN"/>
                            <element name="ADV_BK_CORR_MED__DESC__"/>
                            <element name="ADV_BK_CORR_MED"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_ID_BTN"/>
                            <element name="ADV_BK_MAIL_ADD"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_NOTES"/>
                            <element name="ADV_BK_ORDER_NO"/>
                            <element name="ADV_BK_ORDER_POST"/>
                            <element name="ADV_BK_POST_ADD_BTN"/>
                            <element name="ADV_BK_REF"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="ADV_BK_TLX"/>
                            <element name="ADV_THRU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_REF"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="ADV_THU_BK_TLX"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_40F"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD_BTN"/>
                            <element name="APPL_BK_AC_NO"/>
                            <element name="APPL_BK_ADD1"/>
                            <element name="APPL_BK_ADD2"/>
                            <element name="APPL_BK_ADD3"/>
                            <element name="APPL_BK_ADD_BTN"/>
                            <element name="APPL_BK_BTN"/>
                            <element name="APPL_BK_CORR_MED__DESC__"/>
                            <element name="APPL_BK_CORR_MED"/>
                            <element name="APPL_BK_ID"/>
                            <element name="APPL_BK_MAIL_ADD"/>
                            <element name="APPL_BK_NM"/>
                            <element name="APPL_BK_NOTES"/>
                            <element name="APPL_BK_ORDER_NO"/>
                            <element name="APPL_BK_ORDER_POST"/>
                            <element name="APPL_BK_POST_ADD_BTN"/>
                            <element name="APPL_BK_REF"/>
                            <element name="APPL_BK_SW_ADD"/>
                            <element name="APPL_BK_SW_TAG"/>
                            <element name="APPL_BK_TLX"/>
                            <element name="APPL_CORR_MED__DESC__"/>
                            <element name="APPL_CORR_MED"/>
                            <element name="APPL_EMAIL"/>
                            <element name="APPL_FAX"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_LANG"/>
                            <element name="APPL_MAIL_ADD"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="APPL_ORDER_POST"/>
                            <element name="APPL_POST_ADD_BTN"/>
                            <element name="APPL_REF"/>
                            <element name="APPL_TLX"/>
                            <element name="BENE_AC_NO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ADD_BTN"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_ORDER_NO"/>
                            <element name="BENE_ORDER_POST"/>
                            <element name="BENE_POST_ADD_BTN"/>
                            <element name="BENE_REF"/>
                            <element name="BENE_TLX"/>
                            <element name="BK_TO_BK_INFO"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_CORR_MED__DESC__"/>
                            <element name="CONF_BK_CORR_MED"/>
                            <element name="CONF_BK_ID"/>
                            <element name="CONF_BK_ID_BTN"/>
                            <element name="CONF_BK_MAIL_ADD"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_NOTES"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_BK_SW_TAG"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEST_PLACE"/>
                            <element name="DEST_PORT"/>
                            <element name="DOC_REQ"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC__DESC__"/>
                            <element name="EXPIRY_PLC"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="FORACOF_AC_OFF_CODE"/>
                            <element name="FORACOF_ADD1"/>
                            <element name="FORACOF_ADD2"/>
                            <element name="FORACOF_ADD3"/>
                            <element name="FORACOF_ADD_BTN"/>
                            <element name="FORACOF_CNTY_CODE"/>
                            <element name="FORACOF_CORR_MED__DESC__"/>
                            <element name="FORACOF_CORR_MED"/>
                            <element name="FORACOF_EMAIL"/>
                            <element name="FORACOF_FAX"/>
                            <element name="FORACOF_ID"/>
                            <element name="FORACOF_ID_BTN"/>
                            <element name="FORACOF_LANG"/>
                            <element name="FORACOF_MAIL_ADD"/>
                            <element name="FORACOF_NM"/>
                            <element name="FORACOF_NOTES"/>
                            <element name="FORACOF_ORDER_NO"/>
                            <element name="FORACOF_ORDER_POST"/>
                            <element name="FORACOF_POST_ADD_BTN"/>
                            <element name="FORACOF_REF"/>
                            <element name="FORACOF_TEAM_NM"/>
                            <element name="FORACOF_TEMP_TEAM_NM"/>
                            <element name="FORACOF_TLX"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="GOODS_DESC"/>
                            <element name="INCOTERMS__DESC__"/>
                            <element name="INCOTERMS"/>
                            <element name="ISSUE_DT"/>
                            <element name="LCY"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_TEMP"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LOAD_PLACE"/>
                            <element name="LOAD_PORT"/>
                            <element name="LOGIN_TIME"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="NEG_TOL"/>
                            <element name="NXT_STATUS"/>
                            <element name="PARTIAL_SHIP__DESC__"/>
                            <element name="PARTIAL_SHIP"/>
                            <element name="PARTIAL_SHIP_NARR"/>
                            <element name="POS_TOL"/>
                            <element name="REIM_BK_AC_NO"/>
                            <element name="REIM_BK_ADD1"/>
                            <element name="REIM_BK_ADD2"/>
                            <element name="REIM_BK_ADD3"/>
                            <element name="REIM_BK_ADD_BTN"/>
                            <element name="REIM_BK_AUTH_REQ__DESC__"/>
                            <element name="REIM_BK_AUTH_REQ"/>
                            <element name="REIM_BK_CHG_DESC__DESC__"/>
                            <element name="REIM_BK_CHG_DESC"/>
                            <element name="REIM_BK_CORR_MED__DESC__"/>
                            <element name="REIM_BK_CORR_MED"/>
                            <element name="REIM_BK_ID"/>
                            <element name="REIM_BK_ID_BTN"/>
                            <element name="REIM_BK_MAIL_ADD"/>
                            <element name="REIM_BK_NM"/>
                            <element name="REIM_BK_NOTES"/>
                            <element name="REIM_BK_ORDER_NO"/>
                            <element name="REIM_BK_ORDER_POST"/>
                            <element name="REIM_BK_OTH_CHG_NARR"/>
                            <element name="REIM_BK_POST_ADD_BTN"/>
                            <element name="REIM_BK_REF"/>
                            <element name="REIM_BK_SW_ADD"/>
                            <element name="REIM_BK_SW_TAG"/>
                            <element name="REIM_BK_TLX"/>
                            <element name="REIM_NARR_TAG_77"/>
                            <element name="SAME_AS_APPL_FLG"/>
                            <element name="SHIP_PRD"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="SYND_ADD"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEAM_NM"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_TEAM_NAME"/>
                            <element name="TNSHIP__DESC__"/>
                            <element name="TNSHIP"/>
                            <element name="TNSHIP_NARR"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
