EE_PARA/EE_PARA/Default/FORM/form_schema_std_CHG_Assign_CustToRange_Release.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADD_ACTION_TYPE"/>
                <element name="ADD_CUST_ID"/>
                <element name="CSRFTOKEN"/>
                <element name="CUSTID_LIST"/>
                <element name="CUST_BANK_FLAG"/>
                <element name="C_COMM_RANGE_ID"/>
                <element name="C_CUST_ID"/>
                <element name="C_IS_AGREE"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="C_REFUSE_REASON"/>
                <element name="DEL_CUST_ID"/>
                <element name="_TRX_STATUS"/>
                <element name="listFrom"/>
                <element name="listTo"/>
            </sequence>
        </complexType>
    </element>
</schema>
