EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CFNC_Discount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACPT_AMT"/>
                            <element name="ACPT_AMT_LCCCY"/>
                            <element name="ACPT_CCY"/>
                            <element name="ACPT_DT"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="CFNC_DATA_FLAG__DESC__"/>
                            <element name="CFNC_DATA_FLAG"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CURR_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DRAWING_REF"/>
                            <element name="DUE_DT"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC__DESC__"/>
                            <element name="EXPIRY_PLC"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="FINC_TYPE__DESC__"/>
                            <element name="FINC_TYPE"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FinanceEstablishment">
                                <complexType>
                                    <sequence>
                                        <element name="CFNC_AC_DESC"/>
                                        <element name="CFNC_C_AC_NO"/>
                                        <element name="CFNC_C_AC_TYPE"/>
                                        <element name="CFNC_C_APPROVE_STATUS"/>
                                        <element name="CFNC_C_CCY"/>
                                        <element name="CFNC_C_FINANCE_FLG"/>
                                        <element name="CFNC_C_FUNC_NAME"/>
                                        <element name="CFNC_C_GRACE_DAYS"/>
                                        <element name="CFNC_C_GRACE_FLG__DESC__"/>
                                        <element name="CFNC_C_GRACE_FLG"/>
                                        <element name="CFNC_C_INIT_FLG"/>
                                        <element name="CFNC_C_INT_MODE"/>
                                        <element name="CFNC_C_INT_MTHD"/>
                                        <element name="CFNC_C_INT_PAYABLE"/>
                                        <element name="CFNC_C_LAST_REF"/>
                                        <element name="CFNC_C_LAST_TYPE"/>
                                        <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                                        <element name="CFNC_C_ORIGIN_MODULE"/>
                                        <element name="CFNC_C_ORIGIN_TRX_REF"/>
                                        <element name="CFNC_C_PAY_BY"/>
                                        <element name="CFNC_C_REF"/>
                                        <element name="CFNC_C_RELT_REF"/>
                                        <element name="CFNC_C_STATUS"/>
                                        <element name="CFNC_C_TRX_CCY"/>
                                        <element name="CFNC_C_TYPE__DESC__"/>
                                        <element name="CFNC_C_TYPE"/>
                                        <element name="CFNC_C_TYPE_DESC"/>
                                        <element name="CFNC_C_UNIT_CODE"/>
                                        <element name="CFNC_DRAWING_REF"/>
                                        <element name="CFNC_D_DT"/>
                                        <element name="CFNC_D_DUE_DT"/>
                                        <element name="CFNC_D_MAST_MATU_DT"/>
                                        <element name="CFNC_D_PAY_DT"/>
                                        <element name="CFNC_D_POST_FROM_DT"/>
                                        <element name="CFNC_D_POST_TO_DT"/>
                                        <element name="CFNC_D_REG_DT"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG"/>
                                        <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                                        <element name="CFNC_INTEREST_INTERVAL"/>
                                        <element name="CFNC_I_BASIC_DAYS"/>
                                        <element name="CFNC_I_DAYS"/>
                                        <element name="CFNC_I_FINC_TIMES"/>
                                        <element name="CFNC_N_AMT_LCCCY"/>
                                        <element name="CFNC_N_AMT_TXCCY"/>
                                        <element name="CFNC_N_BAL"/>
                                        <element name="CFNC_N_BANK_INT_AC_NO"/>
                                        <element name="CFNC_N_CCY_CLOSE_RT"/>
                                        <element name="CFNC_N_CCY_CUST_RT"/>
                                        <element name="CFNC_N_CCY_EXCH_RT"/>
                                        <element name="CFNC_N_FINC_TTL_AMT"/>
                                        <element name="CFNC_N_FINC_TTL_BAL"/>
                                        <element name="CFNC_N_LIBOR_AMT"/>
                                        <element name="CFNC_N_LIBOR_RT"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE"/>
                                        <element name="CFNC_N_MARGIN_AMT"/>
                                        <element name="CFNC_N_MARGIN_RT"/>
                                        <element name="CFNC_N_NET_AMT"/>
                                        <element name="CFNC_N_PCT"/>
                                        <element name="CFNC_N_PNLT_RT"/>
                                        <element name="CFNC_N_PRE_INT"/>
                                        <element name="CFNC_N_RT"/>
                                        <element name="CFNC_N_RT_NARR"/>
                                        <element name="CFNC_N_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_RT_TYPE"/>
                                        <element name="CFNC_N_TRXCCY_LCY"/>
                                        <element name="CFNC_N_TRX_AMT"/>
                                        <element name="CFNC_OVERDUE_DT"/>
                                        <element name="CFNC_PAYMENT_FLAG__DESC__"/>
                                        <element name="CFNC_PAYMENT_FLAG"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL"/>
                                        <element name="CFNC_RELA_MAIN_REF"/>
                                        <element name="C_FUNC_SHORT_NAME"/>
                                        <element name="DISCNT_FLG__DESC__"/>
                                        <element name="DISCNT_FLG"/>
                                        <element name="DISCOUNT_TAB_KEY"/>
                                        <element name="INC_EXC__DESC__"/>
                                        <element name="INC_EXC"/>
                                        <element name="INC_PERIOD"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ISSUE_DT"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_LCY"/>
                            <element name="LC_BAL_TEMP"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="NEG_TOL"/>
                            <element name="OUR_ENG__DESC__"/>
                            <element name="OUR_ENG"/>
                            <element name="POS_TOL"/>
                            <element name="PRES_AMT_PRES_CCY"/>
                            <element name="PRES_CCY"/>
                            <element name="PRES_DT"/>
                            <element name="RELA_MAIN_REF"/>
                            <element name="RT_CCY_LCY"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_START_DT"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TRX_CCY"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
