EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_FowardIntentToPayNotification_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ByCommercialInvoice">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_COMM_AMT"/>
                            <element name="TSU_COMM_DT"/>
                            <element name="TSU_COMM_REF"/>
                            <element name="TSU_NET_AMT"/>
                            <element name="TSU_TTL_AMT"/>
                            <element name="DT_Adjstmnt">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_COMM_REF"/>
                                        <element name="TSU_PO_ID"/>
                                        <element name="TSU_LNITMNB"/>
                                        <element name="TSU_IAFT_TP"/>
                                        <element name="TSU_IAFT_OT_TP"/>
                                        <element name="TSU_CCY"/>
                                        <element name="TSU_IAFT_AMT"/>
                                        <element name="TSU_IAFT_AMT_CAL"/>
                                        <element name="TSU_ADJUST_DRCTN"/>
                                        <element name="TSU_IAFT_RT"/>
                                        <element name="TSU_SEQ_NUM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BreakdownByPurchaseOrder">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PO_ID"/>
                                        <element name="TSU_PO_DT"/>
                                        <element name="TSU_CCY"/>
                                        <element name="TSU_TID"/>
                                        <element name="TSU_COMM_REF"/>
                                        <element name="TSU_NET_AMT"/>
                                        <element name="TSU_TTL_NET_AMT"/>
                                        <element name="TSU_TTL_AMT"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DT_Adjstmnt">
                                            <complexType>
                                                <sequence>
                                                    <element name="C_MAIN_REF"/>
                                                    <element name="C_TRX_REF"/>
                                                    <element name="C_UNIT_CODE"/>
                                                    <element name="TSU_COMM_REF"/>
                                                    <element name="TSU_PO_ID"/>
                                                    <element name="TSU_LNITMNB"/>
                                                    <element name="TSU_IAFT_TP"/>
                                                    <element name="TSU_IAFT_OT_TP"/>
                                                    <element name="TSU_CCY"/>
                                                    <element name="TSU_IAFT_AMT"/>
                                                    <element name="TSU_IAFT_AMT_CAL"/>
                                                    <element name="TSU_ADJUST_DRCTN"/>
                                                    <element name="TSU_IAFT_RT"/>
                                                    <element name="TSU_SEQ_NUM"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="ByPurchaseOrder">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_COMM_REF"/>
                            <element name="TSU_NET_AMT"/>
                            <element name="TSU_PO_DT"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TTL_AMT"/>
                            <element name="TSU_TTL_NET_AMT"/>
                            <element name="DT_Adjstmnt">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_COMM_REF"/>
                                        <element name="TSU_PO_ID"/>
                                        <element name="TSU_LNITMNB"/>
                                        <element name="TSU_IAFT_TP"/>
                                        <element name="TSU_IAFT_OT_TP"/>
                                        <element name="TSU_CCY"/>
                                        <element name="TSU_IAFT_AMT"/>
                                        <element name="TSU_IAFT_AMT_CAL"/>
                                        <element name="TSU_ADJUST_DRCTN"/>
                                        <element name="TSU_IAFT_RT"/>
                                        <element name="TSU_SEQ_NUM"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="C_MAIN_REF"/>
                <element name="RadioGroup1"/>
                <element name="Submit"/>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_BASELN_ID"/>
                <element name="TSU_BASELN_VRSN"/>
                <element name="TSU_BENE_ACC"/>
                <element name="TSU_BENE_BBAN"/>
                <element name="TSU_BENE_IBAN"/>
                <element name="TSU_BENE_UPIC"/>
                <element name="TSU_BUYER_BK_BIC"/>
                <element name="TSU_BUYER_BK_ID"/>
                <element name="TSU_BUYER_BK_NM"/>
                <element name="TSU_CCY"/>
                <element name="TSU_CDTRAC_CCY"/>
                <element name="TSU_CDTRAC_NM"/>
                <element name="TSU_CDTRAC_TPCD__DESC__"/>
                <element name="TSU_CDTRAC_TPCD"/>
                <element name="TSU_CDTRAC_TPID"/>
                <element name="TSU_CNTY_SUB_DIVI"/>
                <element name="TSU_EXPCTD_PMT_DT"/>
                <element name="TSU_FININST_BIC"/>
                <element name="TSU_FININST_CNTY__DESC__"/>
                <element name="TSU_FININST_CNTY"/>
                <element name="TSU_FININST_NM"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_OUR_BIC"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_POST_CD"/>
                <element name="TSU_REQ_ACT_DESC"/>
                <element name="TSU_SEL_BK_BIC"/>
                <element name="TSU_SEL_BK_ID"/>
                <element name="TSU_SEL_BK_NM"/>
                <element name="TSU_STREET_NM"/>
                <element name="TSU_SUBMIT_REF"/>
                <element name="TSU_THEIR_BIC"/>
                <element name="TSU_THEIR_REF"/>
                <element name="TSU_TID"/>
                <element name="TSU_TOWN_NM"/>
                <element name="TSU_TRX_DTTM"/>
            </sequence>
        </complexType>
    </element>
</schema>
