EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FINA_POFinance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="Buyer">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
</sequence>
</complexType>
</element>
<element name="BuyerBank">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
</sequence>
</complexType>
</element>
<element name="BuyrSdSubmitgBk">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
</sequence>
</complexType>
</element>
<element name="Seller">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
</sequence>
</complexType>
</element>
<element name="SellerBank">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
</sequence>
</complexType>
</element>
<element name="SellrSdSubmitgBk">
<complexType>
<sequence>
<element name="TSU_PARTY_NM"/>
<element name="TSU_PARTY_BEI"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_TOWN_NM"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_TABLE_FLG"/>
<element name="TSU_IDX"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_SEL_SUB_BK"/>
<element name="TSU_BUYER_SUB_BK"/>
<element name="CUST_ID"/>
</sequence>
</complexType>
</element>
<element name="CABLE_CHAR_AMT"/>
<element name="COMM_RT"/>
<element name="CRS_TN_COMM"/>
<element name="CUST_AC_AMT1"/>
<element name="C_MAIN_REF"/>
<element name="DR_CCY"/>
<element name="FA_AMT9"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_DT1"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP_AMT10"/>
<element name="FINA_AMT_AWD"/>
<element name="FINA_AMT_REQ"/>
<element name="FINA_AWD"/>
<element name="FINA_BUSI_STATUS"/>
<element name="FINA_CCY"/>
<element name="FINA_DATE"/>
<element name="FINA_MATU_DATE"/>
<element name="FINA_NOTES"/>
<element name="FINA_OUTSTD"/>
<element name="FINA_REQUESTED"/>
<element name="FINA_TENOR_DAYS"/>
<element name="FINA_TIMES"/>
<element name="FINA_TOTAL"/>
<element name="FINA_TYPE"/>
<element name="HAND_CHAR_AMT"/>
<element name="INT_CHAR_TYPE"/>
<element name="INT_INC_NE"/>
<element name="INT_RATE"/>
<element name="INT_START_DATE"/>
<element name="PERC_FINANCED"/>
<element name="PRE_SHIP_RISK"/>
<element name="RECOURSE"/>
<element name="TEMP1"/>
<element name="TSU_BUYER_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_DUE_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SELLER_NAME"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="TTL_CHAR_AMT"/>
<element name="TTL_CHAR_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
