EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_ProcessDataSetMatchReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MSG_ID"/>
                            <element name="C_MSG_TYPE"/>
                            <element name="Submit"/>
                            <element name="Submit2"/>
                            <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                            <element name="TSUR2_REQ_ACT_TP"/>
                            <element name="TSUR2_TRX_STATUS__DESC__"/>
                            <element name="TSUR2_TRX_STATUS"/>
                            <element name="TSU_ACCEPT_MISMATCH__DESC__"/>
                            <element name="TSU_ACCEPT_MISMATCH"/>
                            <element name="TSU_BASELN_VRSN"/>
                            <element name="TSU_BUYER_NM"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_COMM_AMT"/>
                            <element name="TSU_COMM_DT"/>
                            <element name="TSU_COMM_REF"/>
                            <element name="TSU_CUST_ID"/>
                            <element name="TSU_CUST_REF"/>
                            <element name="TSU_DS_RP_DTTM"/>
                            <element name="TSU_DS_RP_ID"/>
                            <element name="TSU_INSTRUCTION__DESC__"/>
                            <element name="TSU_INSTRUCTION"/>
                            <element name="TSU_LINE_TTL_AMT"/>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_MSMTCH_NO"/>
                            <element name="TSU_OUR_ROLE__DESC__"/>
                            <element name="TSU_OUR_ROLE"/>
                            <element name="TSU_PO_DT"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_REQ_ACT_DESC"/>
                            <element name="TSU_SEL_NM"/>
                            <element name="TSU_SUBMITR_BIC"/>
                            <element name="TSU_TEMP"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TTL_CCY"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
