EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_TransprtDataset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="TSU_ACTL_SHIP_DT"/>
<element name="TSU_CNSQTY_OTUNIT"/>
<element name="TSU_CNSQTY_UNIT_CD__DESC__"/>
<element name="TSU_CNSQTY_UNIT_CD"/>
<element name="TSU_CNSQTY_VAL"/>
<element name="TSU_DS_ID"/>
<element name="TSU_DS_VRSN"/>
<element name="TSU_FRGHT_TP__DESC__"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_PROPSD_SHIP_DT"/>
<element name="TSU_SUBMITR_BIC"/>
<element name="TSU_TRAN_INF"/>
<element name="TSU_TTLVOL_OTUNIT"/>
<element name="TSU_TTLVOL_UNIT_CD__DESC__"/>
<element name="TSU_TTLVOL_UNIT_CD"/>
<element name="TSU_TTLVOL_VAL"/>
<element name="TSU_TTLWGTL_UNIT_CD__DESC__"/>
<element name="TSU_TTLWGTL_UNIT_CD"/>
<element name="TSU_TTLWGT_OTUNIT"/>
<element name="TSU_TTLWGT_VAL"/>
</sequence>
</complexType>
</element>
</schema>
