EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CHG_Header_Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CHG_CUST_AC"/>
<element name="CHG_CUST_AMT"/>
<element name="CHG_CUST_AMT_DR"/>
<element name="CHG_CUST_CCY"/>
<element name="CHG_FOREIGN_UNPAID_FLAG"/>
<element name="CHG_LOCAL_CUST_AC_NO_CHK"/>
<element name="CHG_LOCAL_UNPAID_FLAG"/>
<element name="TEMP_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
