EE_PARA/EE_PARA/Default/FORM/form_schema_Schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="DT_SCH"/>
<element name="LC_CCY"/>
<element name="SCHD_ACTION__DESC__"/>
<element name="SCHD_ACTION"/>
<element name="SCHD_AMT"/>
<element name="SCHD_ORDER_NO"/>
<element name="SCHD_STATUS__DESC__"/>
<element name="SCHD_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
