EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CUST_BuyerSupplierRelationshipDeactivate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BSRelationship">
                                <complexType>
                                    <sequence>
                                        <element name="BUYR_ID"/>
                                        <element name="BUYR_NM"/>
                                        <element name="BUYR_SCFNET_ID"/>
                                        <element name="B_S_RELN_ID"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="RELN_STATUS"/>
                                        <element name="SUPLR_CREA_TP"/>
                                        <element name="SUPLR_ID"/>
                                        <element name="SUPLR_NM"/>
                                        <element name="SUPLR_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="B_S_RELN_ID"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_NM"/>
                            <element name="C_MAIN_REF"/>
                            <element name="RELN_STATUS"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="TEMP"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
