EE_PARA/EE_PARA/Default/FORM/form_schema_BOPDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="BOP_ADHOC_SUBJ_BTN"/>
<element name="BOP_ADHOC_SUBJ_X"/>
<element name="BOP_ADHOC_X"/>
<element name="BOP_AUTHD_DEALR_C__DESC__"/>
<element name="BOP_AUTHD_DEALR_C"/>
<element name="BOP_CAT_BTN"/>
<element name="BOP_CAT_C"/>
<element name="BOP_CAT_REF"/>
<element name="BOP_CLINT_CUSTOMS_N"/>
<element name="BOP_CNTR_Q"/>
<element name="BOP_DESCRIPTION"/>
<element name="BOP_EVENT_TIMES"/>
<element name="BOP_EXCON_APLCT_N"/>
<element name="BOP_EXCON_D"/>
<element name="BOP_EXCON_RULNG_DESCRIPTION"/>
<element name="BOP_EXCON_RULNG_X"/>
<element name="BOP_EXCON_RULNG_X_BTN"/>
<element name="BOP_GDLO_CNTRY_C"/>
<element name="BOP_IPET_CONTL_N"/>
<element name="BOP_LOAN_REF_N"/>
<element name="BOP_OTHER_INFO_X"/>
<element name="BOP_PURCHASE_SALE_IND"/>
<element name="BOP_RPTG_AMT"/>
<element name="BOP_RPTG_CCY"/>
<element name="BOP_SEQ_N"/>
<element name="BOP_TRANS_A"/>
<element name="BOP_TRANS_N"/>
<element name="BOP_TRANS_OPP_A"/>
<element name="BOP_TRANS_REF"/>
<element name="BOP_TRVLR_ID_N"/>
<element name="BOP_VAR_1"/>
<element name="BOP_VAR_2"/>
<element name="CFC_ALLOWED_IND"/>
<element name="CR_REF"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="LIMIT"/>
<element name="MANDATORY_FIELDS"/>
<element name="OPEN_FIELDS"/>
<element name="PROTECTED_FIELDS"/>
</sequence>
</complexType>
</element>
</schema>
