EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EPLC_AdviseAmendment_for798.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACPT_BY__DESC__"/>
                            <element name="ACPT_BY"/>
                            <element name="ADDIT_CONDITION"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="ADV_AMD_FLG"/>
                            <element name="ADV_LC_BY__DESC__"/>
                            <element name="ADV_LC_BY"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_PARTY_ID"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="AMD_DT"/>
                            <element name="AMD_REF"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APPL_AC_MRGN_BTN"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD_BTN"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="ASSET_ACNO"/>
                            <element name="ASSET_ACNO_BTN"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_MAIL_ADD"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_OPT__DESC__"/>
                            <element name="AVAL_WT_BK_OPT"/>
                            <element name="AVAL_WT_BK_ORDER_NO"/>
                            <element name="AVAL_WT_BK_ORDER_POST"/>
                            <element name="AVAL_WT_BK_POST_ADD_BTN"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="AVLB_LC_BAL"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_REF_NO"/>
                            <element name="BENE_TLX"/>
                            <element name="BK_TO_BK_MT730"/>
                            <element name="CANCEL_REQ__DESC__"/>
                            <element name="CANCEL_REQ"/>
                            <element name="CHECK_BOX_798"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_ADDED"/>
                            <element name="CONF_BAL"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_ADD_BTN"/>
                            <element name="CONF_BK_ID"/>
                            <element name="CONF_BK_ID_BTN"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_NOTES"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_BK_SW_TAG"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CONF_PCT"/>
                            <element name="CONTRACT_FLAG__DESC__"/>
                            <element name="CONTRACT_FLAG"/>
                            <element name="CUMULATIVE__DESC__"/>
                            <element name="CUMULATIVE"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DEC_AMT"/>
                            <element name="DEF_PMT_DET"/>
                            <element name="DEST_PLACE"/>
                            <element name="DEST_PORT"/>
                            <element name="DETRMNTL_FLG__DESC__"/>
                            <element name="DETRMNTL_FLG"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DOC_REQ"/>
                            <element name="DRAFTS_AT"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ADD_BTN"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_ID_BTN"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_NOTES"/>
                            <element name="DRWE_ORDER_NO"/>
                            <element name="DRWE_PARTY_ID"/>
                            <element name="DRWE_SW_ADD"/>
                            <element name="DRWE_SW_TAG"/>
                            <element name="EVERGREEN__DESC__"/>
                            <element name="EVERGREEN"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FORM_OF_LC_40B__DESC__"/>
                            <element name="FORM_OF_LC_40B"/>
                            <element name="GOODS_DESC"/>
                            <element name="INCOMING_TAG_72"/>
                            <element name="INCOMING_TAG_79"/>
                            <element name="INC_AMT"/>
                            <element name="INDIVID_DRAW_FLG__DESC__"/>
                            <element name="INDIVID_DRAW_FLG"/>
                            <element name="INSTR_TO_PAY_BK"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_CHG"/>
                            <element name="ISSUE_BK_CHG_CCY"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_MAIL_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_ORDER_POST"/>
                            <element name="ISSUE_BK_POST_ADD_BTN"/>
                            <element name="ISSUE_BK_REF"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_TEMP"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LC_NO2"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LIAB_BAL"/>
                            <element name="LOAD_PLACE"/>
                            <element name="LOAD_PORT"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="MESG_TYPE__DESC__"/>
                            <element name="MESG_TYPE"/>
                            <element name="MIX_PMT_DETL"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEG_TOL"/>
                            <element name="NEW_ADDIT_CONDITION"/>
                            <element name="NEW_ADDIT_COV_AMT"/>
                            <element name="NEW_ADV_THU_BK_ADD1"/>
                            <element name="NEW_ADV_THU_BK_ADD2"/>
                            <element name="NEW_ADV_THU_BK_ADD3"/>
                            <element name="NEW_ADV_THU_BK_ADD_BTN"/>
                            <element name="NEW_ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="NEW_ADV_THU_BK_CORR_MED"/>
                            <element name="NEW_ADV_THU_BK_ID"/>
                            <element name="NEW_ADV_THU_BK_ID_BTN"/>
                            <element name="NEW_ADV_THU_BK_MAIL_ADD"/>
                            <element name="NEW_ADV_THU_BK_NM"/>
                            <element name="NEW_ADV_THU_BK_NOTES"/>
                            <element name="NEW_ADV_THU_BK_PARTY_ID"/>
                            <element name="NEW_ADV_THU_BK_SW_ADD"/>
                            <element name="NEW_ADV_THU_BK_SW_TAG"/>
                            <element name="NEW_AMT_SPEC__DESC__"/>
                            <element name="NEW_AMT_SPEC"/>
                            <element name="NEW_APLB_RULE__DESC__"/>
                            <element name="NEW_APLB_RULE"/>
                            <element name="NEW_APPL_ADD1"/>
                            <element name="NEW_APPL_ADD2"/>
                            <element name="NEW_APPL_ADD3"/>
                            <element name="NEW_APPL_ADD_BTN"/>
                            <element name="NEW_APPL_ID"/>
                            <element name="NEW_APPL_ID_BTN"/>
                            <element name="NEW_APPL_NM"/>
                            <element name="NEW_APPL_ORDER_NO"/>
                            <element name="NEW_AVAL_BY__DESC__"/>
                            <element name="NEW_AVAL_BY"/>
                            <element name="NEW_AVAL_WT_BK_ADD1"/>
                            <element name="NEW_AVAL_WT_BK_ADD2"/>
                            <element name="NEW_AVAL_WT_BK_ADD3"/>
                            <element name="NEW_AVAL_WT_BK_ADD_BTN"/>
                            <element name="NEW_AVAL_WT_BK_ID"/>
                            <element name="NEW_AVAL_WT_BK_NM"/>
                            <element name="NEW_AVAL_WT_BK_NOTES"/>
                            <element name="NEW_AVAL_WT_BK_ORDER_NO"/>
                            <element name="NEW_AVAL_WT_BK_SW_ADD"/>
                            <element name="NEW_AVAL_WT_BK_SW_TAG"/>
                            <element name="NEW_AVLBL_BK_ID_BTN"/>
                            <element name="NEW_BENE_ACNO"/>
                            <element name="NEW_BENE_AC_OFF_CODE"/>
                            <element name="NEW_BENE_ADD1"/>
                            <element name="NEW_BENE_ADD2"/>
                            <element name="NEW_BENE_ADD3"/>
                            <element name="NEW_BENE_ADD_BTN"/>
                            <element name="NEW_BENE_CORR_MED__DESC__"/>
                            <element name="NEW_BENE_CORR_MED"/>
                            <element name="NEW_BENE_EMAIL"/>
                            <element name="NEW_BENE_FAX"/>
                            <element name="NEW_BENE_ID"/>
                            <element name="NEW_BENE_ID_BTN"/>
                            <element name="NEW_BENE_LANG__DESC__"/>
                            <element name="NEW_BENE_LANG"/>
                            <element name="NEW_BENE_MAIL_ADD"/>
                            <element name="NEW_BENE_NM"/>
                            <element name="NEW_BENE_NOTES"/>
                            <element name="NEW_BENE_ORDER_NO"/>
                            <element name="NEW_BENE_ORDER_POST"/>
                            <element name="NEW_BENE_POST_ADD_BTN"/>
                            <element name="NEW_BENE_REF_NO"/>
                            <element name="NEW_BENE_TLX"/>
                            <element name="NEW_CONF_BAL"/>
                            <element name="NEW_CONF_BK_ADD1"/>
                            <element name="NEW_CONF_BK_ADD2"/>
                            <element name="NEW_CONF_BK_ADD3"/>
                            <element name="NEW_CONF_BK_ADD_BTN"/>
                            <element name="NEW_CONF_BK_ID"/>
                            <element name="NEW_CONF_BK_ID_BTN"/>
                            <element name="NEW_CONF_BK_NM"/>
                            <element name="NEW_CONF_BK_NOTES"/>
                            <element name="NEW_CONF_BK_SW_ADD"/>
                            <element name="NEW_CONF_BK_SW_TAG"/>
                            <element name="NEW_CONF_INSTR__DESC__"/>
                            <element name="NEW_CONF_INSTR"/>
                            <element name="NEW_DEF_PMT_DET"/>
                            <element name="NEW_DOC_REQ"/>
                            <element name="NEW_DRAFTS_AT"/>
                            <element name="NEW_DRWE_ADD1"/>
                            <element name="NEW_DRWE_ADD2"/>
                            <element name="NEW_DRWE_ADD3"/>
                            <element name="NEW_DRWE_ADD_BTN"/>
                            <element name="NEW_DRWE_ID"/>
                            <element name="NEW_DRWE_ID_BTN"/>
                            <element name="NEW_DRWE_NM"/>
                            <element name="NEW_DRWE_NOTES"/>
                            <element name="NEW_DRWE_ORDER_NO"/>
                            <element name="NEW_DRWE_SW_ADD"/>
                            <element name="NEW_DRWE_SW_TAG"/>
                            <element name="NEW_EXPIRY_DT"/>
                            <element name="NEW_EXPIRY_PLC_NARR"/>
                            <element name="NEW_FORM_OF_LC__DESC__"/>
                            <element name="NEW_FORM_OF_LC"/>
                            <element name="NEW_GOODS_DESC"/>
                            <element name="NEW_INSTR_TO_PAY_BK"/>
                            <element name="NEW_LC_AMT"/>
                            <element name="NEW_LC_BAL"/>
                            <element name="NEW_LIAB_BAL"/>
                            <element name="NEW_MIX_PMT_DETL"/>
                            <element name="NEW_NEG_TOL"/>
                            <element name="NEW_POS_TOL"/>
                            <element name="NEW_REIM_BK_ADD1"/>
                            <element name="NEW_REIM_BK_ADD2"/>
                            <element name="NEW_REIM_BK_ADD3"/>
                            <element name="NEW_REIM_BK_ADD_BTN"/>
                            <element name="NEW_REIM_BK_ID"/>
                            <element name="NEW_REIM_BK_ID_BTN"/>
                            <element name="NEW_REIM_BK_MAIL_ADD"/>
                            <element name="NEW_REIM_BK_NM"/>
                            <element name="NEW_REIM_BK_NOTES"/>
                            <element name="NEW_REIM_BK_ORDER_NO"/>
                            <element name="NEW_REIM_BK_ORDER_POST"/>
                            <element name="NEW_REIM_BK_PARTY_ID__DESC__"/>
                            <element name="NEW_REIM_BK_PARTY_ID"/>
                            <element name="NEW_REIM_BK_POST_ADD_BTN"/>
                            <element name="NEW_REIM_BK_SW_ADD"/>
                            <element name="NEW_REIM_BK_SW_TAG"/>
                            <element name="NEW_TENOR_DAYS"/>
                            <element name="NEW_TENOR_TYPE__DESC__"/>
                            <element name="NEW_TENOR_TYPE"/>
                            <element name="NEW_TENOR_TYPE_NARR"/>
                            <element name="NON_BANK_ISSUER_ADD1"/>
                            <element name="NON_BANK_ISSUER_ADD2"/>
                            <element name="NON_BANK_ISSUER_ADD3"/>
                            <element name="NON_BANK_ISSUER_ID"/>
                            <element name="NON_BANK_ISSUER_ID_BTN"/>
                            <element name="NON_BANK_ISSUER_NM"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_AMD"/>
                            <element name="NO_OF_AMD_B"/>
                            <element name="NO_PRD"/>
                            <element name="OLD_ADDIT_CONDITION"/>
                            <element name="OLD_AMT_SPEC__DESC__"/>
                            <element name="OLD_AMT_SPEC"/>
                            <element name="OLD_BENE_ACNO"/>
                            <element name="OLD_BENE_AC_OFF_CODE"/>
                            <element name="OLD_BENE_ADD1"/>
                            <element name="OLD_BENE_ADD2"/>
                            <element name="OLD_BENE_ADD3"/>
                            <element name="OLD_BENE_CORR_MED__DESC__"/>
                            <element name="OLD_BENE_CORR_MED"/>
                            <element name="OLD_BENE_EMAIL"/>
                            <element name="OLD_BENE_FAX"/>
                            <element name="OLD_BENE_ID"/>
                            <element name="OLD_BENE_LANG__DESC__"/>
                            <element name="OLD_BENE_LANG"/>
                            <element name="OLD_BENE_MAIL_ADD"/>
                            <element name="OLD_BENE_NM"/>
                            <element name="OLD_BENE_NOTES"/>
                            <element name="OLD_BENE_REF_NO"/>
                            <element name="OLD_BENE_TLX"/>
                            <element name="OLD_CONF_BAL"/>
                            <element name="OLD_DOC_REQ"/>
                            <element name="OLD_EXPIRY_DT"/>
                            <element name="OLD_EXPIRY_PLC_NARR"/>
                            <element name="OLD_GOODS_DESC"/>
                            <element name="OLD_INSTR_TO_PAY_BK"/>
                            <element name="OLD_LC_AMT"/>
                            <element name="OLD_LC_BAL"/>
                            <element name="OLD_LIAB_BAL"/>
                            <element name="OLD_NEG_TOL"/>
                            <element name="OLD_POS_TOL"/>
                            <element name="OUR_ENG__DESC__"/>
                            <element name="OUR_ENG"/>
                            <element name="OUR_ROLE__DESC__"/>
                            <element name="OUR_ROLE"/>
                            <element name="PARTIAL_SHIP__DESC__"/>
                            <element name="PARTIAL_SHIP"/>
                            <element name="PARTIAL_SHIP_NARR"/>
                            <element name="PAY_AT__DESC__"/>
                            <element name="PAY_AT"/>
                            <element name="POS_TOL"/>
                            <element name="PURP_OF_MESS"/>
                            <element name="PaymentTermsHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_C_LOCAL_CCY"/>
                                        <element name="CPYT_C_MIX_PAY_DETAIL"/>
                                        <element name="CPYT_C_PAY_FOR"/>
                                        <element name="CPYT_C_REF"/>
                                        <element name="CPYT_C_TRX_CCY"/>
                                        <element name="CPYT_INDIVID_DRAW_FLG"/>
                                        <element name="CPYT_N_PAY_TTL_AMT_LCY"/>
                                        <element name="CPYT_N_PAY_TTL_AMT_TXCCY"/>
                                        <element name="PaymentTerms">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_C_PAY_PER"/>
                                                    <element name="CPYT_C_SDA_FLAG"/>
                                                    <element name="CPYT_C_TENOR_TYPE"/>
                                                    <element name="CPYT_C_TENOR_DESC"/>
                                                    <element name="CPYT_I_TENOR_DAYS"/>
                                                    <element name="CPYT_D_TENOR_START_DATE"/>
                                                    <element name="CPYT_N_PAY_AMT"/>
                                                    <element name="CPYT_D_MAT_DATE"/>
                                                    <element name="CPYT_PAY_CCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REIM_BK_ADD1"/>
                            <element name="REIM_BK_ADD2"/>
                            <element name="REIM_BK_ADD3"/>
                            <element name="REIM_BK_ADD_BTN"/>
                            <element name="REIM_BK_ID"/>
                            <element name="REIM_BK_ID_BTN"/>
                            <element name="REIM_BK_MAIL_ADD"/>
                            <element name="REIM_BK_NM"/>
                            <element name="REIM_BK_NOTES"/>
                            <element name="REIM_BK_ORDER_NO"/>
                            <element name="REIM_BK_ORDER_POST"/>
                            <element name="REIM_BK_PARTY_ID"/>
                            <element name="REIM_BK_POST_ADD_BTN"/>
                            <element name="REIM_BK_SW_ADD"/>
                            <element name="REIM_BK_SW_TAG"/>
                            <element name="REV_LC__DESC__"/>
                            <element name="REV_LC"/>
                            <element name="REV_LC_NO"/>
                            <element name="SENDER_REF"/>
                            <element name="SENT_MT730_FLG__DESC__"/>
                            <element name="SENT_MT730_FLG"/>
                            <element name="SHIP_PRD"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="SYND_ADD"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_AMT_SPEC__DESC__"/>
                            <element name="TEMP_AMT_SPEC"/>
                            <element name="TEMP_APPL_ID"/>
                            <element name="TEMP_ASSET_ACNO"/>
                            <element name="TEMP_ASSET_ACNO_DESC"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CORR_ATTCH"/>
                            <element name="TEMP_CORR_CRSPD"/>
                            <element name="TEMP_CORR_INSTR"/>
                            <element name="TEMP_CUST_ATTCH"/>
                            <element name="TEMP_CUST_CRSPD"/>
                            <element name="TEMP_CUST_INSTR"/>
                            <element name="TEMP_DOC_DT"/>
                            <element name="TEMP_EXPIRY_DT"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_LC_AMT"/>
                            <element name="TEMP_LIAB_ACNO"/>
                            <element name="TEMP_MT730_TAG30"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_NEG_TOL"/>
                            <element name="TEMP_NO_OF_AMD"/>
                            <element name="TEMP_POS_TOL"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_TAG32_CCY"/>
                            <element name="TEMP_TAG33_CCY"/>
                            <element name="TEMP_TAG34_CCY"/>
                            <element name="TEMP_TAG_39A"/>
                            <element name="TEMP_TAG_72"/>
                            <element name="TEMP_TAG_79"/>
                            <element name="TEMP_USER_EMAIL"/>
                            <element name="TEMP_USER_FAX"/>
                            <element name="TEMP_USER_NM"/>
                            <element name="TEMP_USER_TEL_NO"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_TEMP"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TENOR_TYPE_NARR"/>
                            <element name="TNSHIP__DESC__"/>
                            <element name="TNSHIP"/>
                            <element name="TNSHIP_NARR"/>
                            <element name="TRM_TO_BK_ADD1"/>
                            <element name="TRM_TO_BK_ADD2"/>
                            <element name="TRM_TO_BK_ADD3"/>
                            <element name="TRM_TO_BK_ADD_BTN"/>
                            <element name="TRM_TO_BK_ID"/>
                            <element name="TRM_TO_BK_ID_BTN"/>
                            <element name="TRM_TO_BK_MAIL_ADD"/>
                            <element name="TRM_TO_BK_NM"/>
                            <element name="TRM_TO_BK_NOTES"/>
                            <element name="TRM_TO_BK_ORDER_NO"/>
                            <element name="TRM_TO_BK_ORDER_POST"/>
                            <element name="TRM_TO_BK_POST_ADD_BTN"/>
                            <element name="TRM_TO_BK_REF"/>
                            <element name="TRM_TO_BK_SW_ADD"/>
                            <element name="TRM_TO_BK_SW_TAG"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_PRES_AMT"/>
                            <element name="WEB_REF"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_31C_ISSUE_DATE"/>
                            <element name="X798_ADV_BK_CONT"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_BANK_CONTACT_29D"/>
                            <element name="X798_CHG_INFO"/>
                            <element name="X798_CONF_INDI"/>
                            <element name="X798_CONF_INFO"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_REF"/>
                            <element name="X798_INFO_ADV_BK"/>
                            <element name="X798_PAYMENT_LIABILITY_22S"/>
                            <element name="X798_PAYMENT_TERMS_22R"/>
                            <element name="button1"/>
                            <element name="button2"/>
                            <element name="button3"/>
                            <element name="button4"/>
                            <element name="button5"/>
                            <element name="button6"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
