EE_PARA/EE_PARA/Default/FORM/form_schema_CNTR_Add_Service_Agreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BASE_RT_TP__DESC__"/>
                <element name="BASE_RT_TP"/>
                <element name="BUSI_UNIT"/>
                <element name="CHG_FREQ_CD__DESC__"/>
                <element name="CHG_FREQ_CD"/>
                <element name="CHG_TP__DESC__"/>
                <element name="CHG_TP"/>
                <element name="CLTR_CAP"/>
                <element name="CNTR_STATUS__DESC__"/>
                <element name="CNTR_STATUS"/>
                <element name="CUST_ID"/>
                <element name="CUST_ID1"/>
                <element name="CUST_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EligibleCollItem">
                    <complexType>
                        <sequence>
                            <element name="CLTR_CATEGORY"/>
                            <element name="CLTR_CCY"/>
                            <element name="CLTR_GAP"/>
                            <element name="CLTR_ID"/>
                            <element name="CLTR_NM"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="FEE_RT_AMT"/>
                <element name="FEE_RT_PERC"/>
                <element name="FLAT_RT"/>
                <element name="FUND_RT"/>
                <element name="FUND_TP"/>
                <element name="FUND_TP_FROM__DESC__"/>
                <element name="FUND_TP_FROM"/>
                <element name="FUND_TP_TO"/>
                <element name="LMT_AMT"/>
                <element name="LMT_CCY"/>
                <element name="LMT_DUE_DT"/>
                <element name="LMT_EARMARK_MODE__DESC__"/>
                <element name="LMT_EARMARK_MODE"/>
                <element name="LMT_TP__DESC__"/>
                <element name="LMT_TP"/>
                <element name="LMT_VAL_DT"/>
                <element name="MARGIN_PERC"/>
                <element name="MAX_CHG_AMT"/>
                <element name="MAX_DEC_PERC"/>
                <element name="MAX_INC_PERC"/>
                <element name="MIN_CHG_AMT"/>
                <element name="OPER_ID"/>
                <element name="PP_ID"/>
                <element name="PROD_TP"/>
                <element name="QR_CD_FLD"/>
                <element name="SPRD_RT"/>
                <element name="TEMP_CLTR_CCY"/>
                <element name="TEMP_LMT_CNTL"/>
                <element name="TRX_DT"/>
                <element name="VAL_REL_FLG__DESC__"/>
                <element name="VAL_REL_FLG"/>
                <element name="WarehouseRgltAuth">
                    <complexType>
                        <sequence>
                            <element name="AGR_NO"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_TRX_STATUS"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="LMT_CNTL_FLAG"/>
                            <element name="RGLT_ID"/>
                            <element name="RGLT_NM"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="add"/>
                <element name="remove"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
