EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_ITTEnquire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCT103_DUP"/>
                <element name="ACC_CHANGE_FLAG"/>
                <element name="AC_WT_INST_CNTY_CODE"/>
                <element name="AC_WT_INST_CNTY_NM"/>
                <element name="AC_WT_INST_ID"/>
                <element name="ADD1"/>
                <element name="ADD2"/>
                <element name="ADD3"/>
                <element name="AMOUNT"/>
                <element name="APPL_CNTY_RES"/>
                <element name="APP_TYPE"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AWI_lookup"/>
                <element name="B2_lookup1"/>
                <element name="BANK_CHRG_ACCT"/>
                <element name="BENE_AC_TYPE__DESC__"/>
                <element name="BENE_AC_TYPE"/>
                <element name="BENE_CNTY_RES"/>
                <element name="BU"/>
                <element name="Ben_Cust_lookup1"/>
                <element name="CCY"/>
                <element name="CCY_CUTOFF_DAY"/>
                <element name="CHIPFED"/>
                <element name="CHIP_FED"/>
                <element name="CNTY_CODE"/>
                <element name="CONT_NM_1"/>
                <element name="CONT_NM_2"/>
                <element name="CONT_NM_3"/>
                <element name="CONT_NM_4"/>
                <element name="CONT_NM_5"/>
                <element name="CORR_ID_BTN"/>
                <element name="CORR_MSG"/>
                <element name="CORR_POST_BTN"/>
                <element name="CPYT_CR_BK_AC"/>
                <element name="CPYT_CR_BK_AC1"/>
                <element name="CPYT_DR_AC"/>
                <element name="CPYT_DR_AC1"/>
                <element name="CPYT_DR_CCY"/>
                <element name="CPYT_FUNC_NAME"/>
                <element name="CPYT_PAY_ADV_MSG"/>
                <element name="CPYT_PAY_COV_MSG"/>
                <element name="CR_AMT"/>
                <element name="CR_CALC_AMT"/>
                <element name="CR_CCY"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_REF"/>
                <element name="CUTOFF_DAY"/>
                <element name="CUTOFF_TIME"/>
                <element name="C_CLEAR_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DB_Acct_No_Lookup"/>
                <element name="DB_CALC_AMT"/>
                <element name="DB_CCY"/>
                <element name="DRT_DEAL_IND"/>
                <element name="DUPLICATE_TRN"/>
                <element name="EMAIL"/>
                <element name="EXCH_RATE"/>
                <element name="FAX_INDTY"/>
                <element name="FAX_INDTY_EXP_DT"/>
                <element name="FAX_INDTY_REV_DT"/>
                <element name="FAX_NO"/>
                <element name="FDS_AVAL"/>
                <element name="FDS_TO_CHK"/>
                <element name="FRT_OFCE_CODE"/>
                <element name="HIGH_CARE_CUST"/>
                <element name="ID_NO"/>
                <element name="INV_STATUS"/>
                <element name="INW_CUST_REF"/>
                <element name="INW_SNDBK_ADD1"/>
                <element name="INW_SNDBK_ADD2"/>
                <element name="INW_SNDBK_ADD3"/>
                <element name="INW_SNDBK_ID"/>
                <element name="INW_SNDBK_NM"/>
                <element name="INW_SNDBK_SW"/>
                <element name="INW_X103BENECUADD1_59A"/>
                <element name="INW_X103BENECUADD2_59A"/>
                <element name="INW_X103BENECUADD3_59A"/>
                <element name="INW_X103RECCORRACNO54A"/>
                <element name="INW_X103SENDCORACNO53A"/>
                <element name="INW_X103SENDCORADD153A"/>
                <element name="INW_X103SENDCORADD253A"/>
                <element name="INW_X103SENDCORADD353A"/>
                <element name="INW_X103_ACCBKADD1_57A"/>
                <element name="INW_X103_ACCBKADD2_57A"/>
                <element name="INW_X103_ACCBKADD3_57A"/>
                <element name="INW_X103_ACC_BKACNO57A"/>
                <element name="INW_X103_ACC_BKID_57A"/>
                <element name="INW_X103_ACC_BKNM_57A"/>
                <element name="INW_X103_ACC_BKSW_57A"/>
                <element name="INW_X103_BENECUACNO59A"/>
                <element name="INW_X103_BENECU_ID_59A"/>
                <element name="INW_X103_BENECU_NM_59A"/>
                <element name="INW_X103_BENECU_SW_59A"/>
                <element name="INW_X103_BK2BK_INF1_72"/>
                <element name="INW_X103_BK2BK_INF2_72"/>
                <element name="INW_X103_BK2BK_INF3_72"/>
                <element name="INW_X103_BK2BK_INF4_72"/>
                <element name="INW_X103_BK2BK_INF5_72"/>
                <element name="INW_X103_BK2BK_INF6_72"/>
                <element name="INW_X103_BKOP_CODE_23B"/>
                <element name="INW_X103_DET_CHG_71A"/>
                <element name="INW_X103_ENV_CONT_77T"/>
                <element name="INW_X103_EXCH_RT_36"/>
                <element name="INW_X103_INSTRCODE1_23E"/>
                <element name="INW_X103_INSTRCODE2_23E"/>
                <element name="INW_X103_INSTRCODE_23E"/>
                <element name="INW_X103_INSTR_AMT_33B"/>
                <element name="INW_X103_INSTR_CCY_33B"/>
                <element name="INW_X103_ORDCUACNO_50A"/>
                <element name="INW_X103_ORDCUADD1_50A"/>
                <element name="INW_X103_ORDCUADD2_50A"/>
                <element name="INW_X103_ORDCUADD3_50A"/>
                <element name="INW_X103_ORDCU_ID_50A"/>
                <element name="INW_X103_ORDCU_NM_50A"/>
                <element name="INW_X103_ORDCU_SW_50A"/>
                <element name="INW_X103_RECCHGAMT_71G"/>
                <element name="INW_X103_RECCHGCCY_71G"/>
                <element name="INW_X103_RECCORADD154A"/>
                <element name="INW_X103_RECCORADD254A"/>
                <element name="INW_X103_RECCORADD354A"/>
                <element name="INW_X103_RECCORRID_54A"/>
                <element name="INW_X103_RECCORRNM_54A"/>
                <element name="INW_X103_RECCORRSW_54A"/>
                <element name="INW_X103_REG_REP1_77B"/>
                <element name="INW_X103_REG_REP2_77B"/>
                <element name="INW_X103_REG_REP3_77B"/>
                <element name="INW_X103_REMIT_INF1_70"/>
                <element name="INW_X103_REMIT_INF2_70"/>
                <element name="INW_X103_REMIT_INF3_70"/>
                <element name="INW_X103_REMIT_INF4_70"/>
                <element name="INW_X103_SENDCHGAMT71F"/>
                <element name="INW_X103_SENDCHGCCY71F"/>
                <element name="INW_X103_SENDCORRID53A"/>
                <element name="INW_X103_SENDCORRNM53A"/>
                <element name="INW_X103_SENDCORRSW53A"/>
                <element name="INW_X103_SEND_NO_20"/>
                <element name="INW_X103_SETT_AMT_32A"/>
                <element name="INW_X103_SETT_CCY_32A"/>
                <element name="INW_X103_TAG_50A"/>
                <element name="INW_X103_TAG_53A"/>
                <element name="INW_X103_TAG_54A"/>
                <element name="INW_X103_TAG_57A"/>
                <element name="INW_X103_TAG_59A"/>
                <element name="INW_X103_TRX_TYPCD_26T"/>
                <element name="INW_X103_VALUE_DT_32A"/>
                <element name="IntIns_lookup"/>
                <element name="MAX_191"/>
                <element name="MLT_STLMT"/>
                <element name="MT103_DISTRBN"/>
                <element name="MT190_Flag"/>
                <element name="MT191SENT_NO"/>
                <element name="MT191_Flag"/>
                <element name="MT_DT_ISN"/>
                <element name="NOTES"/>
                <element name="NUM_ACCTS"/>
                <element name="NXT_STATUS"/>
                <element name="NXT_TRCR_DT"/>
                <element name="NarrButton_95"/>
                <element name="ORIG_103_MEDI_BKID"/>
                <element name="ORIG_103_REC_BKID"/>
                <element name="ORIG_202SENDCORRID"/>
                <element name="ORIG_202_REC_BKID"/>
                <element name="ORIG_IBAN_VALID"/>
                <element name="OVRIDE"/>
                <element name="Ord_Cust_Acct_lookup"/>
                <element name="Ord_Cust_lookup"/>
                <element name="Ord_Ins_lookup"/>
                <element name="PAS_NO"/>
                <element name="PAY_COMM_TMP"/>
                <element name="PAY_REF"/>
                <element name="PaymentMultipleDebits">
                    <complexType>
                        <sequence>
                            <element name="CAP_AMT_IND"/>
                            <element name="COV_AMT"/>
                            <element name="COV_CCY"/>
                            <element name="COV_NO"/>
                            <element name="COV_VAL_DT"/>
                            <element name="CPYT_DR_AC"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CPYT_DR_NAME"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EXCH_RATE"/>
                            <element name="FORM_EXCH_RATE"/>
                            <element name="MD_I"/>
                            <element name="MUL_CASH_IND"/>
                            <element name="MUL_FDS_AVAL"/>
                            <element name="MUL_OVRIDE"/>
                            <element name="PAY_AMT"/>
                            <element name="PAY_CCY"/>
                            <element name="PUR_SAL_IND"/>
                            <element name="RELA_REF"/>
                            <element name="SETT_AMT"/>
                            <element name="SETT_CCY"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="Query_Ans_Button"/>
                <element name="RATE_TYPE"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="REG_NO"/>
                <element name="RELA_REF"/>
                <element name="RES_STATUS"/>
                <element name="ROUT_PRIORITY"/>
                <element name="Rec_Corr_lookup"/>
                <element name="SEND_CORR_BK_ADD1"/>
                <element name="SEND_CORR_BK_ADD2"/>
                <element name="SEND_CORR_BK_ADD3"/>
                <element name="SEND_CORR_BK_ID"/>
                <element name="SEND_CORR_BK_NM"/>
                <element name="SEND_CORR_SW_ADD"/>
                <element name="SEND_CORR_SW_TAG"/>
                <element name="SEND_TO_FLAG"/>
                <element name="SEVEN_DAYS_BACK"/>
                <element name="STAN_INSTR"/>
                <element name="SWT_COMM_TMP"/>
                <element name="SYS_BUSI_UNIT"/>
                <element name="Send_Corr_lookup"/>
                <element name="Send_Ins_lookup"/>
                <element name="TAX_NO"/>
                <element name="TEL_NO"/>
                <element name="TOT_CHRG_AMT"/>
                <element name="TOT_DB_AMT"/>
                <element name="TRX_HISTORY"/>
                <element name="TWO_DAYS_BACK"/>
                <element name="Trd_Reim_lookup"/>
                <element name="VAT_NO"/>
                <element name="X103BENECUADD1_59A"/>
                <element name="X103BENECUADD2_59A"/>
                <element name="X103BENECUADD3_59A"/>
                <element name="X103MEDIBKADD1_56A"/>
                <element name="X103MEDIBKADD2_56A"/>
                <element name="X103MEDIBKADD3_56A"/>
                <element name="X103RECCORRACNO54A"/>
                <element name="X103SENDBKADD1_51A"/>
                <element name="X103SENDBKADD2_51A"/>
                <element name="X103SENDBKADD3_51A"/>
                <element name="X103SENDCORACNO53A"/>
                <element name="X103SENDCORADD153A"/>
                <element name="X103SENDCORADD253A"/>
                <element name="X103SENDCORADD353A"/>
                <element name="X103TRDREIMACNO55A"/>
                <element name="X103TRDREIMADD155A"/>
                <element name="X103TRDREIMADD255A"/>
                <element name="X103TRDREIMADD355A"/>
                <element name="X103_ACCBKADD1_57A"/>
                <element name="X103_ACCBKADD2_57A"/>
                <element name="X103_ACCBKADD3_57A"/>
                <element name="X103_ACC_BKACNO57A"/>
                <element name="X103_ACC_BKID_57A"/>
                <element name="X103_ACC_BKNM_57A"/>
                <element name="X103_ACC_BKSW_57A"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_BENECUACNO59A"/>
                <element name="X103_BENECU_DD_FLAG"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_BENECU_SW_59A"/>
                <element name="X103_BK2BK_INF1_72"/>
                <element name="X103_BK2BK_INF2_72"/>
                <element name="X103_BK2BK_INF3_72"/>
                <element name="X103_BK2BK_INF4_72"/>
                <element name="X103_BK2BK_INF5_72"/>
                <element name="X103_BK2BK_INF6_72"/>
                <element name="X103_BKOP_CODE_23B"/>
                <element name="X103_ENV_CONT_77T"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_INSTRCODE1_23E"/>
                <element name="X103_INSTRCODE2_23E"/>
                <element name="X103_INSTRCODE_23E"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_MEDIBKACNO56A"/>
                <element name="X103_MEDI_BKID_56A"/>
                <element name="X103_MEDI_BKNM_56A"/>
                <element name="X103_MEDI_BKSW_56A"/>
                <element name="X103_ORDBKACNO_52A"/>
                <element name="X103_ORDBKADD1_52A"/>
                <element name="X103_ORDBKADD2_52A"/>
                <element name="X103_ORDBKADD3_52A"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_SW_50A"/>
                <element name="X103_ORD_BKID_52A"/>
                <element name="X103_ORD_BKNM_52A"/>
                <element name="X103_ORD_BKSW_52A"/>
                <element name="X103_RECCORADD154A"/>
                <element name="X103_RECCORADD254A"/>
                <element name="X103_RECCORADD354A"/>
                <element name="X103_RECCORRID_54A"/>
                <element name="X103_RECCORRNM_54A"/>
                <element name="X103_RECCORRSW_54A"/>
                <element name="X103_REG_REP1_77B"/>
                <element name="X103_REG_REP2_77B"/>
                <element name="X103_REG_REP3_77B"/>
                <element name="X103_REMIT_INF1_70"/>
                <element name="X103_REMIT_INF2_70"/>
                <element name="X103_REMIT_INF3_70"/>
                <element name="X103_REMIT_INF4_70"/>
                <element name="X103_SENDBKACNO51A"/>
                <element name="X103_SENDCORRID53A"/>
                <element name="X103_SENDCORRNM53A"/>
                <element name="X103_SENDCORRSW53A"/>
                <element name="X103_SEND_BKID_51A"/>
                <element name="X103_SEND_BKNM_51A"/>
                <element name="X103_SEND_BKSW_51A"/>
                <element name="X103_SEND_NO_20"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_TAG_50A"/>
                <element name="X103_TAG_51A"/>
                <element name="X103_TAG_52A"/>
                <element name="X103_TAG_53A"/>
                <element name="X103_TAG_54A"/>
                <element name="X103_TAG_55A"/>
                <element name="X103_TAG_56A"/>
                <element name="X103_TAG_57A"/>
                <element name="X103_TAG_59A"/>
                <element name="X103_TIME_INDI_13C"/>
                <element name="X103_TRDREIMID_55A"/>
                <element name="X103_TRDREIMNM_55A"/>
                <element name="X103_TRDREIMSW_55A"/>
                <element name="X103_TRX_TYPCD_26T"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKMED_B2__DESC__"/>
                <element name="X202_ADV_BKMED_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BK2BK_INF1_72"/>
                <element name="X202_BK2BK_INF2_72"/>
                <element name="X202_BK2BK_INF3_72"/>
                <element name="X202_BK2BK_INF4_72"/>
                <element name="X202_BK2BK_INF5_72"/>
                <element name="X202_BK2BK_INF6_72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="X202_lookup3"/>
                <element name="X202_lookup4"/>
                <element name="X202_lookup5"/>
                <element name="X202_lookup6"/>
                <element name="X202_lookup7"/>
                <element name="X202_lookup8"/>
                <element name="X202_lookup9"/>
                <element name="X95_96_QUER_ANS"/>
                <element name="XN90_ACCT_IDENT_25"/>
                <element name="XN90_AMT_32A"/>
                <element name="XN90_BK2BK_INF1_72"/>
                <element name="XN90_BK2BK_INF2_72"/>
                <element name="XN90_BK2BK_INF3_72"/>
                <element name="XN90_BK2BK_INF4_72"/>
                <element name="XN90_BK2BK_INF5_72"/>
                <element name="XN90_BK2BK_INF6_72"/>
                <element name="XN90_CCY_32A"/>
                <element name="XN90_DET_CHG1_71B"/>
                <element name="XN90_DET_CHG2_71B"/>
                <element name="XN90_DET_CHG3_71B"/>
                <element name="XN90_DET_CHG4_71B"/>
                <element name="XN90_DET_CHG5_71B"/>
                <element name="XN90_DET_CHG6_71B"/>
                <element name="XN90_ORDBKACNO_52A"/>
                <element name="XN90_ORDBKADD1_52A"/>
                <element name="XN90_ORDBKADD2_52A"/>
                <element name="XN90_ORDBKADD3_52A"/>
                <element name="XN90_ORD_BKID_52A"/>
                <element name="XN90_ORD_BKNM_52A"/>
                <element name="XN90_ORD_BKSW_52A"/>
                <element name="XN90_RELATEDNO_21"/>
                <element name="XN90_SEND_NO_20"/>
                <element name="XN90_TAG_52A"/>
                <element name="XN90_VALUE_DT_32A"/>
                <element name="XN91_ACCBKADD1_57A"/>
                <element name="XN91_ACCBKADD2_57A"/>
                <element name="XN91_ACCBKADD3_57A"/>
                <element name="XN91_ACC_BKACNO57A"/>
                <element name="XN91_ACC_BKID_57A"/>
                <element name="XN91_ACC_BKNM_57A"/>
                <element name="XN91_ACC_BKSW_57A"/>
                <element name="XN91_AMT_32B"/>
                <element name="XN91_BK2BK_INF1_72"/>
                <element name="XN91_BK2BK_INF2_72"/>
                <element name="XN91_BK2BK_INF3_72"/>
                <element name="XN91_BK2BK_INF4_72"/>
                <element name="XN91_BK2BK_INF5_72"/>
                <element name="XN91_BK2BK_INF6_72"/>
                <element name="XN91_CCY_32B"/>
                <element name="XN91_DET_CHG1_71B"/>
                <element name="XN91_DET_CHG2_71B"/>
                <element name="XN91_DET_CHG3_71B"/>
                <element name="XN91_DET_CHG4_71B"/>
                <element name="XN91_DET_CHG5_71B"/>
                <element name="XN91_DET_CHG6_71B"/>
                <element name="XN91_ORDBKACNO_52A"/>
                <element name="XN91_ORDBKADD1_52A"/>
                <element name="XN91_ORDBKADD2_52A"/>
                <element name="XN91_ORDBKADD3_52A"/>
                <element name="XN91_ORD_BKID_52A"/>
                <element name="XN91_ORD_BKNM_52A"/>
                <element name="XN91_ORD_BKSW_52A"/>
                <element name="XN91_RELATEDNO_21"/>
                <element name="XN91_SEND_NO_20"/>
                <element name="XN91_TAG_52A"/>
                <element name="XN91_TAG_57A"/>
                <element name="XN95_96_NARRATIVE"/>
                <element name="XN99_NARRATIVE_79"/>
                <element name="XN99_NARRATIVE_79_Button"/>
                <element name="lookup2"/>
                <element name="lookup7"/>
            </sequence>
        </complexType>
    </element>
</schema>
