EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_IMLCPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADDIT_TRX_CCY_AMT"/>
                <element name="ADD_AMT_COVRD"/>
                <element name="AGNT1_AC_NO"/>
                <element name="AGNT1_ADD1"/>
                <element name="AGNT1_ADD2"/>
                <element name="AGNT1_ADD3"/>
                <element name="AGNT1_BK_ADD1"/>
                <element name="AGNT1_BK_ADD2"/>
                <element name="AGNT1_BK_ADD3"/>
                <element name="AGNT1_BK_ID"/>
                <element name="AGNT1_BK_ID_BTN"/>
                <element name="AGNT1_BK_NM"/>
                <element name="AGNT1_COMM"/>
                <element name="AGNT1_COMM_LCY_AMT"/>
                <element name="AGNT1_COMM_PCT"/>
                <element name="AGNT1_ID"/>
                <element name="AGNT1_ID_BTN"/>
                <element name="AGNT1_NM"/>
                <element name="AGNT1_PD_BY__DESC__"/>
                <element name="AGNT1_PD_BY"/>
                <element name="AGNT2_AC_NO"/>
                <element name="AGNT2_ADD1"/>
                <element name="AGNT2_ADD2"/>
                <element name="AGNT2_ADD3"/>
                <element name="AGNT2_BK_ADD1"/>
                <element name="AGNT2_BK_ADD2"/>
                <element name="AGNT2_BK_ADD3"/>
                <element name="AGNT2_BK_ID"/>
                <element name="AGNT2_BK_ID_BTN"/>
                <element name="AGNT2_BK_NM"/>
                <element name="AGNT2_COMM"/>
                <element name="AGNT2_COMM_LCY_AMT"/>
                <element name="AGNT2_COMM_PCT"/>
                <element name="AGNT2_ID"/>
                <element name="AGNT2_ID_BTN"/>
                <element name="AGNT2_NM"/>
                <element name="AGNT2_PD_BY__DESC__"/>
                <element name="AGNT2_PD_BY"/>
                <element name="AMT_PRES_BK_LC_CCY"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APPL2_ADD1"/>
                <element name="APPL2_ADD2"/>
                <element name="APPL2_ADD3"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_BR_CD"/>
                <element name="APPL_CORR_MED1__DESC__"/>
                <element name="APPL_CORR_MED1"/>
                <element name="APPL_CORR_MED2__DESC__"/>
                <element name="APPL_CORR_MED2"/>
                <element name="APPL_EMAIL_1"/>
                <element name="APPL_EMAIL_2"/>
                <element name="APPL_FAX_NO_1"/>
                <element name="APPL_FAX_NO_2"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID2"/>
                <element name="APPL_ID2_BTN"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_MOBILE_NO"/>
                <element name="APPL_MOBILE_NO2"/>
                <element name="APPL_NM"/>
                <element name="APPL_NM2"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_CHG_AMT"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_NM"/>
                <element name="BENE_TEL_NO"/>
                <element name="Button322"/>
                <element name="CASH_ORDER_CHG1"/>
                <element name="CASH_ORDER_CHG2"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLG__DESC__"/>
                <element name="CHG_FLG"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_ORI_MAIN_REF"/>
                <element name="DRAWING_REF"/>
                <element name="EXPIRY_DT"/>
                <element name="INIT_ID2"/>
                <element name="INIT_NM2"/>
                <element name="INW_X103_DET_CHG_71A"/>
                <element name="ISSUE_BK_CHG_LCY"/>
                <element name="ISSUE_BK_CHG_TRX_CCY"/>
                <element name="LCY"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_BAL_LCY"/>
                <element name="LC_BAL_TEMP"/>
                <element name="LC_CCY"/>
                <element name="LOGIN_BIC"/>
                <element name="LOGIN_TIME"/>
                <element name="MESG_TYPE__DESC__"/>
                <element name="MESG_TYPE"/>
                <element name="NARR_TAG_79"/>
                <element name="NEG_TOL"/>
                <element name="NET_AMT_PD_LCCCY"/>
                <element name="NET_PD_LCY_AMT"/>
                <element name="NOTES"/>
                <element name="NO_OF_DRAW"/>
                <element name="NXT_STATUS"/>
                <element name="OUR_ROLE__DESC__"/>
                <element name="OUR_ROLE"/>
                <element name="POS_TOL"/>
                <element name="PRES_AMT_PRES_CCY"/>
                <element name="PRES_BAL_LC"/>
                <element name="PRES_BK_ADD1"/>
                <element name="PRES_BK_ADD2"/>
                <element name="PRES_BK_ADD3"/>
                <element name="PRES_BK_CHG_LCY"/>
                <element name="PRES_BK_ID"/>
                <element name="PRES_BK_ID_BTN"/>
                <element name="PRES_BK_MAIL_ADD"/>
                <element name="PRES_BK_NM"/>
                <element name="PRES_BK_REF"/>
                <element name="PRES_BK_SW_ADD"/>
                <element name="PRES_BK_SW_TAG"/>
                <element name="PRES_CCY"/>
                <element name="PRES_DT"/>
                <element name="PaymentDealer">
                    <complexType>
                        <sequence>
                            <element name="CPYT_C_CFNC_REF"/>
                            <element name="CPYT_C_OUTPUT_FLAG"/>
                            <element name="CPYT_C_PAY_PER"/>
                            <element name="CPYT_C_REF"/>
                            <element name="CPYT_C_SDA_FLAG"/>
                            <element name="CPYT_C_SETTLE_END_FLAG"/>
                            <element name="CPYT_C_TENOR_DESC"/>
                            <element name="CPYT_C_TENOR_TYPE"/>
                            <element name="CPYT_D_MAT_DATE"/>
                            <element name="CPYT_D_TENOR_START_DATE"/>
                            <element name="CPYT_I_INSTRU_TIMES"/>
                            <element name="CPYT_I_SEQUENCE"/>
                            <element name="CPYT_I_TENOR_DAYS"/>
                            <element name="CPYT_N_PAY_AMT"/>
                            <element name="CPYT_N_PAY_TRXCCY_BAL"/>
                            <element name="CPYT_N_UNPD_AMT_TXCCY"/>
                            <element name="CPYT_ORIGIN_MODULE"/>
                            <element name="CPYT_PAY_CCY"/>
                            <element name="CPYT_UNPAID_FLAG"/>
                            <element name="PaymentDebitHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_NO_DR"/>
                                        <element name="CPYT_MDR_ADV"/>
                                        <element name="CPYT_DR_TTL_CCY"/>
                                        <element name="CPYT_DR_TTL_AMT_TTLCCY"/>
                                        <element name="CPYT_SELL_RATE"/>
                                        <element name="PaymentDebit">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_DR_AC"/>
                                                    <element name="CPYT_DR_AC_TYPE"/>
                                                    <element name="CPYT_DR_DEAL"/>
                                                    <element name="CPYT_DR_RATE"/>
                                                    <element name="CPYT_DR_CCY"/>
                                                    <element name="CPYT_DR_PER"/>
                                                    <element name="CPYT_DR_AMT_DRCCY"/>
                                                    <element name="CPYT_DR_AMT_TXCCY"/>
                                                    <element name="CPYT_DR_BUY_RATE"/>
                                                    <element name="CPYT_DR_VAL_DATE"/>
                                                    <element name="CPYT_DR_ID"/>
                                                    <element name="CPYT_DR_NAME"/>
                                                    <element name="CPYT_DR_CHG_FLAG"/>
                                                    <element name="CPYT_DR_CHG_LCCCY"/>
                                                    <element name="CPYT_DR_TRX_CCY"/>
                                                    <element name="CPYT_DR_AMT_MAPING"/>
                                                    <element name="CPYT_DR_EXNG_AC"/>
                                                    <element name="CPYT_DR_AMT_DRCCY_EXCH"/>
                                                    <element name="CPYT_DR_C_TRANS_CODE"/>
                                                    <element name="CPYT_DR_AC_DESC"/>
                                                    <element name="CPYT_DR_BAL_TXCCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PaymentCreditHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_NO_CR"/>
                                        <element name="CPYT_MCR_ADV"/>
                                        <element name="CPYT_CR_TTL_CCY"/>
                                        <element name="CPYT_CR_TTL_AMT_TTLCCY"/>
                                        <element name="PaymentCredit">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_CR_PER"/>
                                                    <element name="CPYT_CR_CCY"/>
                                                    <element name="CPYT_CR_AC"/>
                                                    <element name="CPYT_CR_DEAL"/>
                                                    <element name="CPYT_CR_AMT_TXCCY"/>
                                                    <element name="CPYT_CR_BAL_TXCCY"/>
                                                    <element name="CPYT_PAY_ADV_MSG"/>
                                                    <element name="CPYT_PAY_COV_MSG"/>
                                                    <element name="CPYT_ASSGN_ID"/>
                                                    <element name="CPYT_ASSGN_NM"/>
                                                    <element name="CPYT_CR_AMT_CRCCY"/>
                                                    <element name="CPYT_CR_VAL_DATE"/>
                                                    <element name="X103BENECUADD1_59A"/>
                                                    <element name="X103BENECUADD2_59A"/>
                                                    <element name="X103BENECUADD3_59A"/>
                                                    <element name="X103MEDIBKADD1_56A"/>
                                                    <element name="X103MEDIBKADD2_56A"/>
                                                    <element name="X103MEDIBKADD3_56A"/>
                                                    <element name="X103RECCORRACNO54A"/>
                                                    <element name="X103SENDBKADD1_51A"/>
                                                    <element name="X103SENDBKADD2_51A"/>
                                                    <element name="X103SENDBKADD3_51A"/>
                                                    <element name="X103SENDCORACNO53A"/>
                                                    <element name="X103SENDCORADD153A"/>
                                                    <element name="X103SENDCORADD253A"/>
                                                    <element name="X103SENDCORADD353A"/>
                                                    <element name="X103_ACCBKADD1_57A"/>
                                                    <element name="X103_ACCBKADD2_57A"/>
                                                    <element name="X103_ACCBKADD3_57A"/>
                                                    <element name="X103_ACC_BKACNO57A"/>
                                                    <element name="X103_ACC_BKID_57A"/>
                                                    <element name="X103_ACC_BKNM_57A"/>
                                                    <element name="X103_ACC_BKSW_57A"/>
                                                    <element name="X103_ADV_BKADD1_B2"/>
                                                    <element name="X103_ADV_BKADD2_B2"/>
                                                    <element name="X103_ADV_BKADD3_B2"/>
                                                    <element name="X103_ADV_BKID_B2"/>
                                                    <element name="X103_ADV_BKNM_B2"/>
                                                    <element name="X103_ADV_BKSW_B2"/>
                                                    <element name="X103_BENECUACNO59A"/>
                                                    <element name="X103_BENECU_ID_59A"/>
                                                    <element name="X103_BENECU_NM_59A"/>
                                                    <element name="X103_BKOP_CODE_23B"/>
                                                    <element name="X103_BKTOBK_INFO72"/>
                                                    <element name="X103_DET_CHG_71A"/>
                                                    <element name="X103_ENV_CONT_77T"/>
                                                    <element name="X103_EXCH_RT_36"/>
                                                    <element name="X103_INSTRCODE_23E"/>
                                                    <element name="X103_INSTR_AMT_33B"/>
                                                    <element name="X103_INSTR_CCY_33B"/>
                                                    <element name="X103_MEDIBKACNO56A"/>
                                                    <element name="X103_MEDI_BKID_56A"/>
                                                    <element name="X103_MEDI_BKNM_56A"/>
                                                    <element name="X103_MEDI_BKSW_56A"/>
                                                    <element name="X103_ORDBKACNO_52A"/>
                                                    <element name="X103_ORDBKADD1_52A"/>
                                                    <element name="X103_ORDBKADD2_52A"/>
                                                    <element name="X103_ORDBKADD3_52A"/>
                                                    <element name="X103_ORDCUACNO_50A"/>
                                                    <element name="X103_ORDCUADD1_50A"/>
                                                    <element name="X103_ORDCUADD2_50A"/>
                                                    <element name="X103_ORDCUADD3_50A"/>
                                                    <element name="X103_ORDCU_ID_50A"/>
                                                    <element name="X103_ORDCU_NM_50A"/>
                                                    <element name="X103_ORDCU_SW_50A"/>
                                                    <element name="X103_ORD_BKID_52A"/>
                                                    <element name="X103_ORD_BKNM_52A"/>
                                                    <element name="X103_ORD_BKSW_52A"/>
                                                    <element name="X103_RECCHGAMT_71G"/>
                                                    <element name="X103_RECCHGCCY_71G"/>
                                                    <element name="X103_RECCORADD154A"/>
                                                    <element name="X103_RECCORADD254A"/>
                                                    <element name="X103_RECCORADD354A"/>
                                                    <element name="X103_RECCORRID_54A"/>
                                                    <element name="X103_RECCORRNM_54A"/>
                                                    <element name="X103_RECCORRSW_54A"/>
                                                    <element name="X103_REG_REP_77B"/>
                                                    <element name="X103_REMIT_INFO_70"/>
                                                    <element name="X103_SENDBKACNO51A"/>
                                                    <element name="X103_SENDCHGAMT71F"/>
                                                    <element name="X103_SENDCHGCCY71F"/>
                                                    <element name="X103_SENDCORRID53A"/>
                                                    <element name="X103_SENDCORRNM53A"/>
                                                    <element name="X103_SENDCORRSW53A"/>
                                                    <element name="X103_SEND_BKID_51A"/>
                                                    <element name="X103_SEND_BKNM_51A"/>
                                                    <element name="X103_SEND_BKSW_51A"/>
                                                    <element name="X103_SEND_NO_20"/>
                                                    <element name="X103_SETT_AMT_32A"/>
                                                    <element name="X103_SETT_CCY_32A"/>
                                                    <element name="X103_TAG_50A"/>
                                                    <element name="X103_TAG_51A"/>
                                                    <element name="X103_TAG_52A"/>
                                                    <element name="X103_TAG_53A"/>
                                                    <element name="X103_TAG_54A"/>
                                                    <element name="X103_TAG_56A"/>
                                                    <element name="X103_TAG_57A"/>
                                                    <element name="X103_TIME_INDI_13C"/>
                                                    <element name="X103_TRX_TYPCD_26T"/>
                                                    <element name="X103_VALUE_DT_32A"/>
                                                    <element name="X202BENEBKADD1_58A"/>
                                                    <element name="X202BENEBKADD2_58A"/>
                                                    <element name="X202BENEBKADD3_58A"/>
                                                    <element name="X202MEDIBKADD1_56A"/>
                                                    <element name="X202MEDIBKADD2_56A"/>
                                                    <element name="X202MEDIBKADD3_56A"/>
                                                    <element name="X202RECCORRACNO54A"/>
                                                    <element name="X202SENDCORACNO53A"/>
                                                    <element name="X202SENDCORADD153A"/>
                                                    <element name="X202SENDCORADD253A"/>
                                                    <element name="X202SENDCORADD353A"/>
                                                    <element name="X202_ACCBKADD1_57A"/>
                                                    <element name="X202_ACCBKADD2_57A"/>
                                                    <element name="X202_ACCBKADD3_57A"/>
                                                    <element name="X202_ACC_BKACNO57A"/>
                                                    <element name="X202_ACC_BKID_57A"/>
                                                    <element name="X202_ACC_BKNM_57A"/>
                                                    <element name="X202_ACC_BKSW_57A"/>
                                                    <element name="X202_ADV_BKADD1_B2"/>
                                                    <element name="X202_ADV_BKADD2_B2"/>
                                                    <element name="X202_ADV_BKADD3_B2"/>
                                                    <element name="X202_ADV_BKID_B2"/>
                                                    <element name="X202_ADV_BKNM_B2"/>
                                                    <element name="X202_ADV_BKSW_B2"/>
                                                    <element name="X202_AMT_32A"/>
                                                    <element name="X202_BENEBKACNO58A"/>
                                                    <element name="X202_BENE_BKID_58A"/>
                                                    <element name="X202_BENE_BKNM_58A"/>
                                                    <element name="X202_BENE_BKSW_58A"/>
                                                    <element name="X202_BKTOBK_INFO72"/>
                                                    <element name="X202_CCY_32A"/>
                                                    <element name="X202_MEDIBKACNO56A"/>
                                                    <element name="X202_MEDI_BKID_56A"/>
                                                    <element name="X202_MEDI_BKNM_56A"/>
                                                    <element name="X202_MEDI_BKSW_56A"/>
                                                    <element name="X202_ORDBKACNO_52A"/>
                                                    <element name="X202_ORDBKADD1_52A"/>
                                                    <element name="X202_ORDBKADD2_52A"/>
                                                    <element name="X202_ORDBKADD3_52A"/>
                                                    <element name="X202_ORDBK_ID_52A"/>
                                                    <element name="X202_ORDBK_NM_52A"/>
                                                    <element name="X202_ORDBK_SW_52A"/>
                                                    <element name="X202_RECCORADD154A"/>
                                                    <element name="X202_RECCORADD254A"/>
                                                    <element name="X202_RECCORADD354A"/>
                                                    <element name="X202_RECCORRID_54A"/>
                                                    <element name="X202_RECCORRNM_54A"/>
                                                    <element name="X202_RECCORRSW_54A"/>
                                                    <element name="X202_RELATEDNO_21"/>
                                                    <element name="X202_SENDCORRID53A"/>
                                                    <element name="X202_SENDCORRNM53A"/>
                                                    <element name="X202_SENDCORRSW53A"/>
                                                    <element name="X202_TAG_52A"/>
                                                    <element name="X202_TAG_53A"/>
                                                    <element name="X202_TAG_54A"/>
                                                    <element name="X202_TAG_56A"/>
                                                    <element name="X202_TAG_57A"/>
                                                    <element name="X202_TAG_58A"/>
                                                    <element name="X202_TIME_INDI_13C"/>
                                                    <element name="X202_TRX_REF_NO_20"/>
                                                    <element name="X202_VALUE_DT_32A"/>
                                                    <element name="CPYT_SIC_AMT"/>
                                                    <element name="CPYT_SIC_CCY"/>
                                                    <element name="CPYT_SIC_CR_AC"/>
                                                    <element name="CPYT_SIC_DR_AC"/>
                                                    <element name="CPYT_SIC_REF"/>
                                                    <element name="CPYT_SIC_VAL_DATE"/>
                                                    <element name="CPYT_BENE_ADD1"/>
                                                    <element name="CPYT_BENE_ADD2"/>
                                                    <element name="CPYT_BENE_ADD3"/>
                                                    <element name="CPYT_BENE_ID"/>
                                                    <element name="CPYT_BENE_NM"/>
                                                    <element name="CPYT_AC_ID"/>
                                                    <element name="CPYT_PAY_REAON1"/>
                                                    <element name="CPYT_PAY_REAON2"/>
                                                    <element name="CPYT_PAY_REAON3"/>
                                                    <element name="CPYT_PAY_REAON4"/>
                                                    <element name="CPYT_REV_ADD1"/>
                                                    <element name="CPYT_REV_ADD2"/>
                                                    <element name="CPYT_REV_ADD3"/>
                                                    <element name="CPYT_REV_ID"/>
                                                    <element name="CPYT_REV_NM"/>
                                                    <element name="CPYT_CLE_NUM"/>
                                                    <element name="CPYT_ORD_TYPE"/>
                                                    <element name="CPYT_DR_CR_CODE"/>
                                                    <element name="CPYT_DEPART_CODE"/>
                                                    <element name="CPYT_PAY_CODE"/>
                                                    <element name="CPYT_ASSIGNEE_BAL"/>
                                                    <element name="I_ASSIGNEE_SEQ"/>
                                                    <element name="X400_ACC_BK_ACNO"/>
                                                    <element name="X400_ACC_BK_ADD1"/>
                                                    <element name="X400_ACC_BK_ADD2"/>
                                                    <element name="X400_ACC_BK_ADD3"/>
                                                    <element name="X400_ACC_BK_ID"/>
                                                    <element name="X400_ACC_BK_NM"/>
                                                    <element name="X400_ACC_BK_NOTES"/>
                                                    <element name="X400_ACC_BK_SW_ADD"/>
                                                    <element name="X400_ACC_BK_SW_TAG"/>
                                                    <element name="X400_ADDAMT_DET73"/>
                                                    <element name="X400_ADV_BK_ADD1"/>
                                                    <element name="X400_ADV_BK_ADD2"/>
                                                    <element name="X400_ADV_BK_ADD3"/>
                                                    <element name="X400_ADV_BK_ID"/>
                                                    <element name="X400_ADV_BK_NM"/>
                                                    <element name="X400_ADV_BK_NOTES"/>
                                                    <element name="X400_ADV_BK_SW_ADD"/>
                                                    <element name="X400_ADV_BK_SW_TAG"/>
                                                    <element name="X400_BENE_BK_ADD1"/>
                                                    <element name="X400_BENE_BK_ADD2"/>
                                                    <element name="X400_BENE_BK_ADD3"/>
                                                    <element name="X400_BENE_BK_ID"/>
                                                    <element name="X400_BENE_BK_NM"/>
                                                    <element name="X400_BENE_BK_NOTES"/>
                                                    <element name="X400_BENE_BK_SW_ADD"/>
                                                    <element name="X400_BENE_BK_SW_TAG"/>
                                                    <element name="X400_BKTOBK_INFO_72"/>
                                                    <element name="X400_COLL_AMT_32A"/>
                                                    <element name="X400_COLL_CCY_32A"/>
                                                    <element name="X400_DAYMON_FLG_32K__DESC__"/>
                                                    <element name="X400_DAYMON_FLG_32K"/>
                                                    <element name="X400_DUE_DT_32A"/>
                                                    <element name="X400_NET_AMT_33A"/>
                                                    <element name="X400_NET_CCY_33A"/>
                                                    <element name="X400_ORD_BK_ACNO"/>
                                                    <element name="X400_ORD_BK_ADD1"/>
                                                    <element name="X400_ORD_BK_ADD2"/>
                                                    <element name="X400_ORD_BK_ADD3"/>
                                                    <element name="X400_ORD_BK_ID"/>
                                                    <element name="X400_ORD_BK_NM"/>
                                                    <element name="X400_ORD_BK_NOTES"/>
                                                    <element name="X400_ORD_BK_SW_ADD"/>
                                                    <element name="X400_ORD_BK_SW_TAG"/>
                                                    <element name="X400_PRES_BK_CHG_71B"/>
                                                    <element name="X400_RECCOR_BK_ACNO"/>
                                                    <element name="X400_RECCOR_BK_ADD1"/>
                                                    <element name="X400_RECCOR_BK_ADD2"/>
                                                    <element name="X400_RECCOR_BK_ADD3"/>
                                                    <element name="X400_RECCOR_BK_ID"/>
                                                    <element name="X400_RECCOR_BK_NM"/>
                                                    <element name="X400_RECCOR_BK_NOTES"/>
                                                    <element name="X400_RECCOR_BK_SW_ADD"/>
                                                    <element name="X400_RECCOR_BK_SW_TAG"/>
                                                    <element name="X400_RELATEDNO_21"/>
                                                    <element name="X400_SENDCORR_BK_ACNO"/>
                                                    <element name="X400_SENDCORR_BK_ADD1"/>
                                                    <element name="X400_SENDCORR_BK_ADD2"/>
                                                    <element name="X400_SENDCORR_BK_ADD3"/>
                                                    <element name="X400_SENDCORR_BK_ID"/>
                                                    <element name="X400_SENDCORR_BK_NM"/>
                                                    <element name="X400_SENDCORR_BK_NOTES"/>
                                                    <element name="X400_SENDCORR_BK_SW_ADD"/>
                                                    <element name="X400_SENDCORR_BK_SW_TAG"/>
                                                    <element name="X400_SEND_NO_20"/>
                                                    <element name="X400_TENOR_DAYS_32K"/>
                                                    <element name="X400_TENOR_EVENT_32K__DESC__"/>
                                                    <element name="X400_TENOR_EVENT_32K"/>
                                                    <element name="X400_TAG_32__DESC__"/>
                                                    <element name="X400_TAG_32"/>
                                                    <element name="X400_VALUE_DT_32A"/>
                                                    <element name="X400_VALUE_DT_33A"/>
                                                    <element name="X400_TEMP_32K"/>
                                                    <element name="CPYT_CR_AMT_MAPING"/>
                                                    <element name="CPYT_CR_AMT_CRCCY_EXCH"/>
                                                    <element name="CPYT_CR_EXNG_AC"/>
                                                    <element name="CPYT_CR_TRX_CCY"/>
                                                    <element name="CPYT_CR_BUY_RATE"/>
                                                    <element name="CPYT_CR_AC_TYPE"/>
                                                    <element name="X202_TAG_B2"/>
                                                    <element name="X202_TAG_B2_1"/>
                                                    <element name="X103_BENECU_OP__DESC__"/>
                                                    <element name="X103_BENECU_OP"/>
                                                    <element name="X103_TAG_59A"/>
                                                    <element name="X103_BENECU_SW_59A"/>
                                                    <element name="TEMP_X103BENECUADD1_59A"/>
                                                    <element name="TEMP_X103BENECUADD2_59A"/>
                                                    <element name="TEMP_X103BENECUADD3_59A"/>
                                                    <element name="TEMP_X103_BENECUACNO59A"/>
                                                    <element name="TEMP_X103_BENECU_NM_59A"/>
                                                    <element name="X103_ORDCU_ID_OP__DESC__"/>
                                                    <element name="X103_ORDCU_ID_OP"/>
                                                    <element name="TEMP_X103_ACNO_51"/>
                                                    <element name="CPYT_PARTY_REF"/>
                                                    <element name="CPYT_CR_C_TRANS_CODE"/>
                                                    <element name="CPYT_CR_AC_DESC"/>
                                                    <element name="FED_ADD1"/>
                                                    <element name="FED_ADD2"/>
                                                    <element name="FED_ADD3"/>
                                                    <element name="FED_ID"/>
                                                    <element name="FED_NM"/>
                                                    <element name="IS_GPI_MEMBER"/>
                                                    <element name="SERVICE_TYPE_ID_GPI_111"/>
                                                    <element name="UETR_GPI_121"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="RT_CCY_LCY"/>
                <element name="SEND_TO_ID"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_ACCCY"/>
                <element name="TEMP_ACNO"/>
                <element name="TEMP_RATE"/>
                <element name="VAT_INV_NOTES"/>
                <element name="XN99_ADV_BKSW_B2"/>
                <element name="XN99_RELATEDNO_21"/>
            </sequence>
        </complexType>
    </element>
</schema>
