EE_PARA/EE_PARA/Default/FORM/form_schema_TSUM_ProcessBaselineMatchReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_MSG_ID"/>
<element name="C_MSG_TYPE"/>
<element name="C_UNIT_CODE"/>
<element name="MSG_TYPE"/>
<element name="TSU_BASELN_ID"/>
<element name="TSU_BASELN_VRSN"/>
<element name="TSU_BASE_MTCHRPT"/>
<element name="TSU_CCY"/>
<element name="TSU_COMP_DOC"/>
<element name="TSU_CUR_TRIL"/>
<element name="TSU_CUST_ID"/>
<element name="TSU_CUST_REF"/>
<element name="TSU_EVENT_NAME"/>
<element name="TSU_LMT_TRIL"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_MISMATCH_NB"/>
<element name="TSU_OUR_BIC"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_REQ_ACT_DESC"/>
<element name="TSU_REQ_ACT_TP"/>
<element name="TSU_THEIR_BIC"/>
<element name="TSU_THEIR_REF"/>
<element name="TSU_TID"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
