EE_PARA/EE_PARA/Default/FORM/form_schema_FIN_FinancingAllowedSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FINA_CDT_ACCOUNT"/>
<element name="FINA_CDT_BBAN"/>
<element name="FINA_CDT_CCY"/>
<element name="FINA_CDT_IBAN"/>
<element name="FINA_CDT_NM"/>
<element name="FINA_CDT_TPCD"/>
<element name="FINA_CDT_TPID"/>
<element name="FINA_CDT_UPIC"/>
<element name="FINA_FINCG_ACCOUNT"/>
<element name="FINA_FINCG_BBAN"/>
<element name="FINA_FINCG_CCY"/>
<element name="FINA_FINCG_IBAN"/>
<element name="FINA_FINCG_NM"/>
<element name="FINA_FINCG_TPCD"/>
<element name="FINA_FINCG_TPID"/>
<element name="FINA_FINCG_UPIC"/>
<element name="FIN_APLD_PCTG"/>
<element name="FIN_ITEM_NB"/>
<element name="FIN_TTL_ACPT_AMT"/>
<element name="FIN_TTL_ACPT_CCY"/>
<element name="FIN_TTL_FINCD_AMT"/>
<element name="FIN_TTL_FINCD_CCY"/>
</sequence>
</complexType>
</element>
</schema>
