EE_PARA/EE_PARA/Default/FORM/form_schema_CMDT_InputCommodittMarketPrice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CCY"/>
                <element name="COMDT_CAT_CD__DESC__"/>
                <element name="COMDT_CAT_CD"/>
                <element name="COMDT_CAT_DESC__DESC__"/>
                <element name="COMDT_CAT_DESC"/>
                <element name="COMDT_ID"/>
                <element name="COMDT_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="CommodityMarketPrice">
                    <complexType>
                        <sequence>
                            <element name="CCY"/>
                            <element name="COMDT_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EXCH_RATE"/>
                            <element name="ISSUER"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="LCY_PRICE"/>
                            <element name="UNIT"/>
                            <element name="UNIT_PRICE"/>
                            <element name="UPDATE_DT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="EXCH_RT4"/>
                <element name="ISSUER"/>
                <element name="TEMP_CCY"/>
                <element name="UNIT__DESC__"/>
                <element name="UNIT"/>
                <element name="UNIT_PRICE"/>
                <element name="UPDATE_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
