EE_PARA/EE_PARA/Default/FORM/form_schema_STAT_CustMaintain_NODO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC1_CCY"/>
                <element name="AC1_NO"/>
                <element name="AC2_CCY"/>
                <element name="AC2_NO"/>
                <element name="AC3_CCY"/>
                <element name="AC3_NO"/>
                <element name="AC4_CCY"/>
                <element name="AC4_NO"/>
                <element name="AC5_CCY"/>
                <element name="AC5_NO"/>
                <element name="ADD_NARR"/>
                <element name="ARM_ID"/>
                <element name="ARM_ID_BTN"/>
                <element name="ARM_NM"/>
                <element name="BK_BR_CODE"/>
                <element name="CE_CUSTOMER__DESC__"/>
                <element name="CE_CUSTOMER"/>
                <element name="CNTY_CODE"/>
                <element name="COMM_RANGE"/>
                <element name="CUST_CORR_MED__DESC__"/>
                <element name="CUST_CORR_MED"/>
                <element name="CUST_REF"/>
                <element name="C_MAIN_REF"/>
                <element name="EMAIL_ADD"/>
                <element name="FAX_NO"/>
                <element name="FA_CUST_TYPE__DESC__"/>
                <element name="FA_CUST_TYPE"/>
                <element name="FST_CNTC_EMAIL"/>
                <element name="FST_CNTC_FAX"/>
                <element name="FST_CNTC_NM"/>
                <element name="FST_CNTC_TEL_NO"/>
                <element name="FUNCTION_ACTION"/>
                <element name="INDS_CODE"/>
                <element name="INSU_CO_ADD1"/>
                <element name="INSU_CO_ADD2"/>
                <element name="INSU_CO_ADD3"/>
                <element name="INSU_CO_FAX"/>
                <element name="INSU_CO_NM"/>
                <element name="INSU_CO_TEL_NO"/>
                <element name="INSU_POLICY_NO"/>
                <element name="INS_POLICY_NUM_BTN"/>
                <element name="LANG_CD__DESC__"/>
                <element name="LANG_CD"/>
                <element name="MOBILE_NO"/>
                <element name="MRGN_RT_IMLC"/>
                <element name="MRGN_RT_SHGT_COLL"/>
                <element name="MRGN_RT_SHGT_LC"/>
                <element name="NOTES"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="TEAM_ID"/>
                <element name="TEAM_ID_BTN"/>
                <element name="TEAM_NM"/>
                <element name="TEL_NO"/>
            </sequence>
        </complexType>
    </element>
</schema>
