EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_CompOutPmt_MX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT103_DUP"/>
                            <element name="AMOUNT"/>
                            <element name="APP_TYPE"/>
                            <element name="AT_RELATEDREF_CHANNEL"/>
                            <element name="AT_RELATED_REF_NO"/>
                            <element name="AUDIT_CODE"/>
                            <element name="AUDT_DESC"/>
                            <element name="AUDT_FUNCTION"/>
                            <element name="AUDT_INSERTED_TMSTAMP"/>
                            <element name="AUDT_MAIN_REF"/>
                            <element name="AUDT_OP_ID"/>
                            <element name="AUDT_SUB_TYPE"/>
                            <element name="AUDT_TRX_REF"/>
                            <element name="AUDT_TYPE"/>
                            <element name="AUTO_CREATED"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="BALANCECHECK_RESPONSE"/>
                            <element name="BENECUSTTYPE"/>
                            <element name="BENEINITIALS"/>
                            <element name="BENESURNAME"/>
                            <element name="BIC_CODE"/>
                            <element name="BLOCK3"/>
                            <element name="BU"/>
                            <element name="BUS_PRIV"/>
                            <element name="CANCEL_FLG"/>
                            <element name="CASH_CCY_IND"/>
                            <element name="CASH_CNTY_DESC"/>
                            <element name="CASH_IND_CHK"/>
                            <element name="CASH_SETT_AMT"/>
                            <element name="CASH_SETT_CCY"/>
                            <element name="CASH_TOT_AMT"/>
                            <element name="CCY"/>
                            <element name="CCY_CUTOFF_DAY"/>
                            <element name="CHG_CASH_IND"/>
                            <element name="CHG_CNTY_BANKID"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_FOR_CUST_PAY_RT_MD"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_AC_NO_CHK"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE2"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_OVERRIDE_IND"/>
                            <element name="CHG_SUSP_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CHIPFED"/>
                            <element name="CNTY"/>
                            <element name="CNTY_CODE"/>
                            <element name="COUNTRY"/>
                            <element name="CPYT_CR_BK_AC1"/>
                            <element name="CPYT_DR_AC1"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CPYT_DR_CCY"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="CROSS_CCY_IND"/>
                            <element name="CR_ACC_NO"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUSTOMER_CFC_GROUPING"/>
                            <element name="CUST_CRG_ACC_NO_TMP"/>
                            <element name="CUST_REF"/>
                            <element name="CUTOFF_DAY"/>
                            <element name="CUTOFF_REF"/>
                            <element name="CUTOFF_TIME"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_CLEAR_TYPE_TEMP"/>
                            <element name="C_CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MAIN_REF_20Z"/>
                            <element name="C_MODULE"/>
                            <element name="C_MSG_ID"/>
                            <element name="C_REFUSE_REASON"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DB_AMT"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DB_CNTY"/>
                            <element name="DRT_DEAL_IND"/>
                            <element name="DUPLICATE_TRN"/>
                            <element name="DUP_CHK"/>
                            <element name="ERROR_MESSAGE"/>
                            <element name="EXCH_RATE"/>
                            <element name="EXTERNAL_REF"/>
                            <element name="FDS_TO_CHK"/>
                            <element name="FIELD_1_X"/>
                            <element name="FIELD_6_X"/>
                            <element name="FIELDs"/>
                            <element name="FORM_CUST_ACNO"/>
                            <element name="FORM_CUST_ADD1"/>
                            <element name="FORM_CUST_ADD2"/>
                            <element name="FORM_CUST_ADD3"/>
                            <element name="FORM_CUST_NM"/>
                            <element name="FOR_CHG_AC"/>
                            <element name="FOR_CHG_ID"/>
                            <element name="FOR_CHG_NAME"/>
                            <element name="FRONT_OFFICE_CODE"/>
                            <element name="GAPI_IND_FLG"/>
                            <element name="HELP_LINK_URL"/>
                            <element name="INT_ACCOUNTCOUNT"/>
                            <element name="INT_ACCT_CUNT"/>
                            <element name="INT_ACT1"/>
                            <element name="INT_ACT1_CCY"/>
                            <element name="INT_ACT1_STATUS"/>
                            <element name="INT_ACT1_TYPE"/>
                            <element name="INT_ACT2"/>
                            <element name="INT_ACT2_CCY"/>
                            <element name="INT_ACT2_STATUS"/>
                            <element name="INT_ACT2_TYPE"/>
                            <element name="INT_ACT3"/>
                            <element name="INT_ACT3_CCY"/>
                            <element name="INT_ACT3_STATUS"/>
                            <element name="INT_ACT3_TYPE"/>
                            <element name="INT_ACT4"/>
                            <element name="INT_ACT4_CCY"/>
                            <element name="INT_ACT4_STATUS"/>
                            <element name="INT_ACT4_TYPE"/>
                            <element name="INT_ACT5"/>
                            <element name="INT_ACT5_CCY"/>
                            <element name="INT_ACT5_STATUS"/>
                            <element name="INT_ACT5_TYPE"/>
                            <element name="INT_ACT6"/>
                            <element name="INT_ACT6_CCY"/>
                            <element name="INT_ACT6_STATUS"/>
                            <element name="INT_ACT6_TYPE"/>
                            <element name="INT_AC_IDENTIFIER"/>
                            <element name="INT_AMT1"/>
                            <element name="INT_AMT2"/>
                            <element name="INT_AMT3"/>
                            <element name="INT_AMT4"/>
                            <element name="INT_AMT5"/>
                            <element name="INT_AMT6"/>
                            <element name="INT_BALANCECHECK_RESPONSE"/>
                            <element name="INT_BKGROUPID"/>
                            <element name="INT_CASH_IND1"/>
                            <element name="INT_CASH_IND2"/>
                            <element name="INT_CASH_IND3"/>
                            <element name="INT_CASH_IND4"/>
                            <element name="INT_CASH_IND5"/>
                            <element name="INT_CASH_IND6"/>
                            <element name="INT_CUST_ID"/>
                            <element name="INT_CUST_INFO"/>
                            <element name="INT_C_MAIN_REF"/>
                            <element name="INT_FOR_BANK_SW"/>
                            <element name="INT_I_EVENT_TIMES"/>
                            <element name="INT_ORDER_LINE"/>
                            <element name="INT_OVERRIDE_IND1"/>
                            <element name="INT_OVERRIDE_IND2"/>
                            <element name="INT_OVERRIDE_IND3"/>
                            <element name="INT_OVERRIDE_IND4"/>
                            <element name="INT_OVERRIDE_IND5"/>
                            <element name="INT_OVERRIDE_IND6"/>
                            <element name="INT_RESPONCECOUNT"/>
                            <element name="INT_RESPONSE"/>
                            <element name="INT_RESTRO_IND"/>
                            <element name="INT_REVERSAL_IND"/>
                            <element name="INT_SW_DETAILS"/>
                            <element name="INW_X103_DET_CHG_71A"/>
                            <element name="MD_I"/>
                            <element name="MUL_CCY_IND"/>
                            <element name="MX_ALL"/>
                            <element name="MX_CDTR"/>
                            <element name="MX_CDTRAGT"/>
                            <element name="MX_CDTRAGT_PACS009"/>
                            <element name="MX_CDTR_PACS009"/>
                            <element name="MX_CHRGSINF"/>
                            <element name="MX_DBTR"/>
                            <element name="MX_DBTRAGT"/>
                            <element name="MX_DBTR_PACS009"/>
                            <element name="MX_INSTDAGT"/>
                            <element name="MX_INSTDAGT_PACS009"/>
                            <element name="MX_INSTDRMBRSMNTAGT"/>
                            <element name="MX_INSTDRMBRSMNTAGT_PACS009"/>
                            <element name="MX_INSTGAGT"/>
                            <element name="MX_INSTGRMBRSMNTAGT"/>
                            <element name="MX_INSTGRMBRSMNTAGT_PACS009"/>
                            <element name="MX_INSTRFORCDTRAGT"/>
                            <element name="MX_INSTRFORNXTAGT"/>
                            <element name="MX_INSTRFORNXTAGT_PACS009"/>
                            <element name="MX_INTRMYAGT1"/>
                            <element name="MX_INTRMYAGT1_PACS009"/>
                            <element name="MX_STTLMINF"/>
                            <element name="MX_THRDRMBRSMNTAGT"/>
                            <element name="NOTES"/>
                            <element name="NUM_ACCTS"/>
                            <element name="NXT_STATUS"/>
                            <element name="OLDVALUES"/>
                            <element name="OLDVALUES_ACC"/>
                            <element name="OLDVALUES_COVERNO"/>
                            <element name="OLDVALUES_OVR"/>
                            <element name="ORD_CUS_DRT_DEAL_IND"/>
                            <element name="ORG_MAIN_REF"/>
                            <element name="ORIG_103_MEDI_BKID"/>
                            <element name="ORIG_103_REC_BKID"/>
                            <element name="ORIG_202SENDCORRID"/>
                            <element name="ORIG_202_REC_BKID"/>
                            <element name="ORIG_IBAN_VALID"/>
                            <element name="OVER_DRW_CHK"/>
                            <element name="OVRIDE"/>
                            <element name="PAY_COMM_CCY_TMP"/>
                            <element name="PAY_COMM_TMP"/>
                            <element name="PRIORITY"/>
                            <element name="PRODREF"/>
                            <element name="PaymentMultipleDebits">
                                <complexType>
                                    <sequence>
                                        <element name="CAP_AMT_IND"/>
                                        <element name="COV_AMT"/>
                                        <element name="COV_CCY"/>
                                        <element name="COV_NO"/>
                                        <element name="COV_VAL_DT"/>
                                        <element name="CPYT_DR_AC"/>
                                        <element name="CPYT_DR_AC_TYPE"/>
                                        <element name="CPYT_DR_NAME"/>
                                        <element name="CPYT_FUNC_NAME"/>
                                        <element name="C_AC_IDENTIFIER"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="EXCH_RATE"/>
                                        <element name="FORM_EXCH_RATE"/>
                                        <element name="MD_I"/>
                                        <element name="MUL_CASH_IND"/>
                                        <element name="MUL_FDS_AVAL"/>
                                        <element name="MUL_OVRIDE"/>
                                        <element name="PAY_AMT"/>
                                        <element name="PAY_CCY"/>
                                        <element name="PUR_SAL_IND"/>
                                        <element name="RELA_REF"/>
                                        <element name="SETT_AMT"/>
                                        <element name="SETT_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="RATE_TYPE"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="REGOTT_COUNTRY_CODE"/>
                            <element name="REIM_INFO_TMP"/>
                            <element name="RELATED_REF_NO"/>
                            <element name="REMIT_INFO_TMP_70"/>
                            <element name="REPUR_IND"/>
                            <element name="RES_STATUS"/>
                            <element name="RES_STATUS2"/>
                            <element name="REVE_IND"/>
                            <element name="SECOND_CHG_AMT"/>
                            <element name="SETT_ACC_AUDIT"/>
                            <element name="SETT_ACC_AUDIT1"/>
                            <element name="SETT_DET_INFO_AUTO"/>
                            <element name="SEVEN_DAYS_BACK"/>
                            <element name="SG_BIN"/>
                            <element name="STAMP_COUR"/>
                            <element name="SUSP_AC"/>
                            <element name="SWT_COMM_CCY_TMP"/>
                            <element name="SWT_COMM_TMP"/>
                            <element name="SYS_BUSI_UNIT"/>
                            <element name="TEMP_CASH_IND"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_RESULT2"/>
                            <element name="TMP_PURPOSE"/>
                            <element name="TOT_CHRG_AMT"/>
                            <element name="TOT_DB_AMT"/>
                            <element name="TRX_HISTORY"/>
                            <element name="TRX_HISTORY_TEMP"/>
                            <element name="TWO_DAYS_BACK"/>
                            <element name="UETR_GPI_121"/>
                            <element name="VAT_IND1"/>
                            <element name="VOCH_ACCT_NO"/>
                            <element name="X103_50_BTN"/>
                            <element name="X103_51_BTN"/>
                            <element name="X103_52A_BTN"/>
                            <element name="X103_53A_BTN"/>
                            <element name="X103_54A_BTN"/>
                            <element name="X103_56A_BTN"/>
                            <element name="X103_57A_BTN"/>
                            <element name="X103_ACC_BKID_57A"/>
                            <element name="X103_ACC_BKNM_57A"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_B2_BTN"/>
                            <element name="X103_B3_SERVICE_CODE"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_DET_CHG_71A"/>
                            <element name="X103_EXCH_RT_36"/>
                            <element name="X103_ID_59_BTN"/>
                            <element name="X103_INSTRCODE_23E"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_MEDI_BKID_56A"/>
                            <element name="X103_MEDI_BKNM_56A"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X103_ORD_BKID_52A"/>
                            <element name="X103_ORD_BKNM_52A"/>
                            <element name="X103_RECCHGAMT_71G"/>
                            <element name="X103_RECCHGCCY_71G"/>
                            <element name="X103_RECCORRID_54A"/>
                            <element name="X103_RECCORRNM_54A"/>
                            <element name="X103_SENDCHGAMT71F"/>
                            <element name="X103_SENDCHGCCY71F"/>
                            <element name="X103_SENDCORRID53A"/>
                            <element name="X103_SENDCORRNM53A"/>
                            <element name="X103_SEND_BKID_51A"/>
                            <element name="X103_SEND_BKNM_51A"/>
                            <element name="X103_SEND_NO_20"/>
                            <element name="X103_SETT_AMT_32A"/>
                            <element name="X103_SETT_CCY_32A"/>
                            <element name="X103_TRDREIMID_55A"/>
                            <element name="X103_TRDREIMNM_55A"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="X202_52_BTN"/>
                            <element name="X202_53_BTN"/>
                            <element name="X202_54_BTN"/>
                            <element name="X202_56_BTN"/>
                            <element name="X202_57_BTN"/>
                            <element name="X202_58_BTN"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ADV_BKID_B2"/>
                            <element name="X202_ADV_BKNM_B2"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_B2_BTN"/>
                            <element name="X202_B3_SERVICE_CODE"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_RECCORRID_54A"/>
                            <element name="X202_RECCORRNM_54A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_SENDCORRID53A"/>
                            <element name="X202_SENDCORRNM53A"/>
                            <element name="X202_TIME_INDI_13C"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                            <element name="X205_B3_SERVICE_CODE"/>
                            <element name="lookup1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
