EE_PARA/EE_PARA/Default/FORM/form_multi_schema_COMM_EPRMarginInterest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BASE_FRT_TP__DESC__"/>
<element name="BASE_FRT_TP"/>
<element name="BENE_NM"/>
<element name="BENE_TP_CD__DESC__"/>
<element name="BENE_TP_CD"/>
<element name="CCY"/>
<element name="INT_CAL_ID"/>
<element name="MARGIN_VAL"/>
<element name="MAX_AMT"/>
<element name="MIN_AMT"/>
<element name="PP_TP_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
