EE_PARA/EE_PARA/Default/FORM/form_schema_TRCP_AddCounterparty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC_BR"/>
                <element name="BR_CD"/>
                <element name="BrokerChargeWay">
                    <complexType>
                        <sequence>
                            <element name="BROKER_CHG_WAY"/>
                            <element name="BROKER_ID"/>
                            <element name="BROKER_NM"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CNPT_SWADD"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="PROD_CD"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CNPT_AC_CD"/>
                <element name="CNPT_ADD"/>
                <element name="CNPT_BUSI_ADD"/>
                <element name="CNPT_BUSI_UNIT"/>
                <element name="CNPT_BUSI_ZIP_CD"/>
                <element name="CNPT_CLASS_FL_NM"/>
                <element name="CNPT_CLASS_SH_NM"/>
                <element name="CNPT_CNSH_NM"/>
                <element name="CNPT_EMAIL_ADD"/>
                <element name="CNPT_FAX_NO"/>
                <element name="CNPT_FULL_NM"/>
                <element name="CNPT_GP_CORP_ID"/>
                <element name="CNPT_GP_CORP_NM"/>
                <element name="CNPT_GP_FULL_NM"/>
                <element name="CNPT_GP_ID"/>
                <element name="CNPT_GP_SHORT_NM"/>
                <element name="CNPT_HO_RISK_CNTY"/>
                <element name="CNPT_HO_RISK_CY_NM"/>
                <element name="CNPT_ID"/>
                <element name="CNPT_LOAN_GRADE"/>
                <element name="CNPT_LOCAL_NM"/>
                <element name="CNPT_NOTES_FLG"/>
                <element name="CNPT_OT_ADD"/>
                <element name="CNPT_OT_ZIP_CD"/>
                <element name="CNPT_PARTY_TP"/>
                <element name="CNPT_REG_ADD"/>
                <element name="CNPT_REG_ZIP_CD"/>
                <element name="CNPT_RISK_CITY_NM"/>
                <element name="CNPT_RISK_CNTY_CD__DESC__"/>
                <element name="CNPT_RISK_CNTY_CD"/>
                <element name="CNPT_SHORT_NM"/>
                <element name="CNPT_SWADD"/>
                <element name="CNPT_TEL_NO"/>
                <element name="CNPT_TP"/>
                <element name="CNPT_ZIP_CD"/>
                <element name="CONT_CELL_NO"/>
                <element name="CONT_EMAIL_ADD"/>
                <element name="CONT_FAX_NO"/>
                <element name="CONT_NM"/>
                <element name="CONT_TEL_NO"/>
                <element name="CROP_BR_CD"/>
                <element name="CROP_BR_GP"/>
                <element name="CURRENT_STATUS"/>
                <element name="CUST_BIRTHDAY"/>
                <element name="CUST_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="CounterpartyContact">
                    <complexType>
                        <sequence>
                            <element name="CNPT_AC_CD"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CNPT_SWADD"/>
                            <element name="CONT_ADD"/>
                            <element name="CONT_EMAIL_ADD"/>
                            <element name="CONT_EMAIL_ADD2"/>
                            <element name="CONT_EMAIL_ADD3"/>
                            <element name="CONT_FAX_NO"/>
                            <element name="CONT_ID"/>
                            <element name="CONT_NM"/>
                            <element name="CONT_TEL_NO"/>
                            <element name="CONT_TEL_NO2"/>
                            <element name="CONT_TEL_NO3"/>
                            <element name="CONT_TITLE"/>
                            <element name="CONT_TYPE__DESC__"/>
                            <element name="CONT_TYPE"/>
                            <element name="CONT_ZIP"/>
                            <element name="CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="NOTES"/>
                            <element name="SERIAL_NO"/>
                            <element name="TRX_TP"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CounterpartyNonNettingCCY">
                    <complexType>
                        <sequence>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CNPT_SWADD"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="NON_NET_CCY"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CounterpartySSI">
                    <complexType>
                        <sequence>
                            <element name="AC_WT_BK_AC_NO"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_SW_ADD"/>
                            <element name="BENE_BK_AC_NO"/>
                            <element name="BENE_BK_NM"/>
                            <element name="BENE_BK_SWADD"/>
                            <element name="CNPT_AC_CD"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CNPT_SWADD"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="EFFCV_DT"/>
                            <element name="INTMEDI_BK_ACNO"/>
                            <element name="INTMEDI_BK_NM"/>
                            <element name="INTMED_BK_SWADD"/>
                            <element name="NS_CCY"/>
                            <element name="PROD_CD"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="SERIAL_NO"/>
                            <element name="SSI_ATTR"/>
                            <element name="WHT_SEND_MT202_FLG"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CustomerAccountNo">
                    <complexType>
                        <sequence>
                            <element name="AUTH_FLG"/>
                            <element name="CNPT_AC_CD"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CROS_AC_FLG"/>
                            <element name="CUST_AC_NO"/>
                            <element name="CUST_AC_TYPE"/>
                            <element name="CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DEFLT_FLG"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="EFFCV_DT"/>
                            <element name="PROD_CD"/>
                            <element name="SERIAL_NO"/>
                            <element name="STOP_DT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DERVTE_AGRT_DT"/>
                <element name="FHC_ACT_RLTSP"/>
                <element name="INDS_CD_CBC"/>
                <element name="ISDA_DEAL_DT"/>
                <element name="ISDA_VR_YEAR"/>
                <element name="ISSUER_FLG"/>
                <element name="ISSUER_ID"/>
                <element name="ITEM_FLD_NM"/>
                <element name="KYC_DT"/>
                <element name="KYC_FLG"/>
                <element name="LOCAL_TIME"/>
                <element name="MCA_FLG"/>
                <element name="NET_FLG"/>
                <element name="NOTES"/>
                <element name="OTC_CD"/>
                <element name="PROFESL_FLG"/>
                <element name="PROFESL_LVL"/>
                <element name="PROFIT_BR"/>
                <element name="RESD_FLG"/>
                <element name="RISK_SECTOR"/>
                <element name="RM_CD"/>
                <element name="RM_DEALER"/>
                <element name="SG_BK_CD"/>
                <element name="STAKH"/>
                <element name="STAKH_TP"/>
                <element name="STOP_DT"/>
                <element name="SYNC_REF"/>
                <element name="SYN_SOURCE_NOTES"/>
                <element name="T24_CNPT_ID"/>
                <element name="TMU_DEALER"/>
                <element name="TMU_GROUP"/>
                <element name="TRX_DT"/>
                <element name="ULTME_RISK_CNTY_CD__DESC__"/>
                <element name="ULTME_RISK_CNTY_CD"/>
                <element name="ULTME_RISK_CPTY"/>
                <element name="VITL_ID"/>
                <element name="VVIP_FLG"/>
                <element name="VostroAccountNo">
                    <complexType>
                        <sequence>
                            <element name="ACNO"/>
                            <element name="CCY"/>
                            <element name="CNPT_AC_CD"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_SWADD"/>
                            <element name="CUST_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="SERIAL_NO"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
