EE_PARA/EE_PARA/Default/FORM/form_schema_TRMM_MMExtendDeal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BRANCH"/>
                <element name="BK_BR_CODE"/>
                <element name="BROKER_ID"/>
                <element name="BROKER_NM"/>
                <element name="BUSI_UNIT"/>
                <element name="CHK_MXINT_STATUS"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CNPT_BUSI_UNIT"/>
                <element name="CNPT_FULL_NM"/>
                <element name="CNPT_ID"/>
                <element name="CNPT_ID_BTN"/>
                <element name="CNPT_NS_SWADD"/>
                <element name="CNPT_SHORT_NM"/>
                <element name="CNPT_SSI_CCY"/>
                <element name="CNPT_SWADD"/>
                <element name="CNPT_TP"/>
                <element name="CREA_BR"/>
                <element name="CURRENT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="DEAL_ACTION__DESC__"/>
                <element name="DEAL_ACTION"/>
                <element name="DEAL_NO"/>
                <element name="DEAL_TP__DESC__"/>
                <element name="DEAL_TP"/>
                <element name="EXTD_AMT"/>
                <element name="FACTOR"/>
                <element name="FOLDER"/>
                <element name="INT_AMT"/>
                <element name="INT_RT"/>
                <element name="ITEM_FLD_NM"/>
                <element name="KD_USER_ID"/>
                <element name="KONDOR_FOLDER"/>
                <element name="LOCAL_CCY"/>
                <element name="LOCAL_TIME"/>
                <element name="L_CHK_MXINT_STATUS"/>
                <element name="MATURITY_DT"/>
                <element name="MODULE"/>
                <element name="MT320_COMM_REF"/>
                <element name="MT320_OPETN_TP__DESC__"/>
                <element name="MT320_OPETN_TP"/>
                <element name="MT_TP"/>
                <element name="MX_COMPNT"/>
                <element name="MX_CONTRT"/>
                <element name="MX_CONTRT_TPGY"/>
                <element name="MX_GID"/>
                <element name="MX_PAKG"/>
                <element name="MX_PORTFL"/>
                <element name="MX_SOUR"/>
                <element name="MX_SPEC_NS_FLG"/>
                <element name="NOSTRO_BK_ID"/>
                <element name="NOSTRO_BK_SW_ADD"/>
                <element name="OLD_AMT"/>
                <element name="OLD_DEAL_NO"/>
                <element name="OLD_INT_AMT"/>
                <element name="OLD_MATU_DT"/>
                <element name="OVER_AC_FLG"/>
                <element name="PERIOD"/>
                <element name="PERIOD_UNIT"/>
                <element name="POSIT_TP__DESC__"/>
                <element name="POSIT_TP"/>
                <element name="PROFIT_BR"/>
                <element name="SERIAL_NO"/>
                <element name="SETL_ACTION"/>
                <element name="STAKH"/>
                <element name="TADE_DT"/>
                <element name="TADR_EN_NM"/>
                <element name="TADR_ID"/>
                <element name="TEMP_AMT"/>
                <element name="TEMP_OUR_NS_CITY"/>
                <element name="TEMP_PORTFL_CD"/>
                <element name="TEMP_S"/>
                <element name="TEMP_STOP_DT"/>
                <element name="TOTAL_AMT"/>
                <element name="TRX_AMT"/>
                <element name="TRX_CCY"/>
                <element name="TRX_CCY_CNTY_CD"/>
                <element name="TRX_DT"/>
                <element name="VAL_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
