EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_Incoterms017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_IAFT_OT_TP"/>
<element name="TSU_INCOTMS_CD__DESC__"/>
<element name="TSU_INCOTMS_CD"/>
<element name="TSU_INCOTMS_LCTN"/>
</sequence>
</complexType>
</element>
</schema>
