EE_PARA/EE_PARA/Default/FORM/form_schema_std_CHG_Cust_Assign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADD_CUST_ID"/>
                <element name="BUSIUNIT"/>
                <element name="COMMRANGE"/>
                <element name="COMMRANGE_LIST"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CUST_ID"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="_TRX_STATUS"/>
                <element name="aaa"/>
                <element name="add"/>
                <element name="listFrom"/>
                <element name="listTo"/>
                <element name="remove"/>
            </sequence>
        </complexType>
    </element>
</schema>
