EE_PARA/EE_PARA/Default/FORM/form_schema_Credit Details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_ASSGN_ID"/>
<element name="CPYT_ASSGN_ID_BTN"/>
<element name="CPYT_ASSGN_NM"/>
<element name="CPYT_ASSIGNEE_BAL"/>
<element name="CPYT_ASSIGNEE_BTN"/>
<element name="CPYT_BUY_RATE"/>
<element name="CPYT_CR_AC"/>
<element name="CPYT_CR_AC_BTN"/>
<element name="CPYT_CR_AC_TYPE"/>
<element name="CPYT_CR_AMT_CRCCY"/>
<element name="CPYT_CR_AMT_CRCCY_EXCH"/>
<element name="CPYT_CR_AMT_MAPING"/>
<element name="CPYT_CR_AMT_TXCCY"/>
<element name="CPYT_CR_BAL_TXCCY"/>
<element name="CPYT_CR_CCY"/>
<element name="CPYT_CR_EXNG_AC"/>
<element name="CPYT_CR_PER"/>
<element name="CPYT_CR_TRX_CCY"/>
<element name="CPYT_CR_VAL_DATE"/>
<element name="CPYT_PAY_ADV_MSG"/>
<element name="CPYT_PAY_COV_MSG"/>
<element name="CPYT_UNPAID_FLAG"/>
<element name="I_ASSIGNEE_SEQ"/>
<element name="TENOR_DAYS_32K"/>
<element name="X400_ACC_BK_ACNO"/>
<element name="X400_ACC_BK_ADD1"/>
<element name="X400_ACC_BK_ADD2"/>
<element name="X400_ACC_BK_ADD3"/>
<element name="X400_ACC_BK_ADD_BTN"/>
<element name="X400_ACC_BK_ID"/>
<element name="X400_ACC_BK_ID_BTN"/>
<element name="X400_ACC_BK_NM"/>
<element name="X400_ACC_BK_NOTES"/>
<element name="X400_ACC_BK_ORDER_NO"/>
<element name="X400_ACC_BK_SW_ADD"/>
<element name="X400_ACC_BK_SW_TAG"/>
<element name="X400_ADDAMT_DET73"/>
<element name="X400_ADV_BK_ADD1"/>
<element name="X400_ADV_BK_ADD2"/>
<element name="X400_ADV_BK_ADD3"/>
<element name="X400_ADV_BK_ADD_BTN"/>
<element name="X400_ADV_BK_ID"/>
<element name="X400_ADV_BK_ID_BTN"/>
<element name="X400_ADV_BK_NM"/>
<element name="X400_ADV_BK_NOTES"/>
<element name="X400_ADV_BK_ORDER_NO"/>
<element name="X400_ADV_BK_SW_ADD"/>
<element name="X400_ADV_BK_SW_TAG"/>
<element name="X400_BENE_BK_ADD1"/>
<element name="X400_BENE_BK_ADD2"/>
<element name="X400_BENE_BK_ADD3"/>
<element name="X400_BENE_BK_ADD_BTN"/>
<element name="X400_BENE_BK_ID"/>
<element name="X400_BENE_BK_ID_BTN"/>
<element name="X400_BENE_BK_NM"/>
<element name="X400_BENE_BK_NOTES"/>
<element name="X400_BENE_BK_ORDER_NO"/>
<element name="X400_BENE_BK_SW_ADD"/>
<element name="X400_BENE_BK_SW_TAG"/>
<element name="X400_BKTOBK_INFO_72"/>
<element name="X400_COLL_AMT_32A"/>
<element name="X400_COLL_CCY_32A"/>
<element name="X400_DAYMON_FLG_32K__DESC__"/>
<element name="X400_DAYMON_FLG_32K"/>
<element name="X400_DUE_DT_32A"/>
<element name="X400_NET_AMT_33A"/>
<element name="X400_NET_CCY_33A"/>
<element name="X400_ORD_BK_ACNO"/>
<element name="X400_ORD_BK_ADD1"/>
<element name="X400_ORD_BK_ADD2"/>
<element name="X400_ORD_BK_ADD3"/>
<element name="X400_ORD_BK_ADD_BTN"/>
<element name="X400_ORD_BK_ID"/>
<element name="X400_ORD_BK_ID_BTN"/>
<element name="X400_ORD_BK_NM"/>
<element name="X400_ORD_BK_NOTES"/>
<element name="X400_ORD_BK_ORDER_NO"/>
<element name="X400_ORD_BK_SW_ADD"/>
<element name="X400_ORD_BK_SW_TAG"/>
<element name="X400_PRES_BK_CHG_71B"/>
<element name="X400_RECCOR_BK_ACNO"/>
<element name="X400_RECCOR_BK_ADD1"/>
<element name="X400_RECCOR_BK_ADD2"/>
<element name="X400_RECCOR_BK_ADD3"/>
<element name="X400_RECCOR_BK_ADD_BTN"/>
<element name="X400_RECCOR_BK_ID"/>
<element name="X400_RECCOR_BK_ID_BTN"/>
<element name="X400_RECCOR_BK_NM"/>
<element name="X400_RECCOR_BK_NOTES"/>
<element name="X400_RECCOR_BK_ORDER_NO"/>
<element name="X400_RECCOR_BK_SW_ADD"/>
<element name="X400_RECCOR_BK_SW_TAG"/>
<element name="X400_RELATEDNO_21"/>
<element name="X400_SENDCORR_BK_ACNO"/>
<element name="X400_SENDCORR_BK_ADD1"/>
<element name="X400_SENDCORR_BK_ADD2"/>
<element name="X400_SENDCORR_BK_ADD3"/>
<element name="X400_SENDCORR_BK_ADD_BTN"/>
<element name="X400_SENDCORR_BK_ID"/>
<element name="X400_SENDCORR_BK_ID_BTN"/>
<element name="X400_SENDCORR_BK_NM"/>
<element name="X400_SENDCORR_BK_NOTES"/>
<element name="X400_SENDCORR_BK_ORDER_NO"/>
<element name="X400_SENDCORR_BK_SW_ADD"/>
<element name="X400_SENDCORR_BK_SW_TAG"/>
<element name="X400_SEND_NO_20"/>
<element name="X400_TAG_32__DESC__"/>
<element name="X400_TAG_32"/>
<element name="X400_TEMP_32K"/>
<element name="X400_TENOR_DAYS_32K"/>
<element name="X400_TENOR_EVENT_32K__DESC__"/>
<element name="X400_TENOR_EVENT_32K"/>
<element name="X400_VALUE_DT_32A"/>
<element name="X400_VALUE_DT_33A"/>
</sequence>
</complexType>
</element>
</schema>
