EE_PARA/EE_PARA/Default/FORM/form_schema_KDFolderDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="BR_CD"/>
<element name="C_MAIN_REF"/>
<element name="DO_INDEX_NO"/>
<element name="ITEM_FLD_NM"/>
<element name="LONG_NM"/>
<element name="MEMO"/>
<element name="PORTFL_CD__DESC__"/>
<element name="PORTFL_CD"/>
<element name="POSIT_TP__DESC__"/>
<element name="POSIT_TP"/>
<element name="SHORT_NM"/>
<element name="STOP_DT"/>
<element name="TADR_EN_NM"/>
<element name="TADR_ID"/>
<element name="TEAM_ID"/>
</sequence>
</complexType>
</element>
</schema>
