EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_TrnsprtDocRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_TRAN_DOC_ISSUE_DT"/>
<element name="TSU_TRAN_DOC_REF"/>
</sequence>
</complexType>
</element>
</schema>
