EE_PARA/EE_PARA/Default/FORM/form_multi_schema_GTEE_ReceiveMT768.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT_ID_MT768"/>
                            <element name="AC_BK_SW_ADD"/>
                            <element name="AC_BK_SW_TAG"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_ID"/>
                            <element name="AC_WT_BK_ID_BTN"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_NM_BTN"/>
                            <element name="ADV_BK_REF"/>
                            <element name="BENE_NM"/>
                            <element name="CHARGES_MAIL"/>
                            <element name="CHG_AMT_MT768"/>
                            <element name="CHG_CCY_MT768"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DET_CHG_MT768"/>
                            <element name="DTAILS_MAIL"/>
                            <element name="FILE_23X_CODE"/>
                            <element name="FILE_23X_NARR"/>
                            <element name="GTEE_AMT"/>
                            <element name="GTEE_CCY"/>
                            <element name="ORDER_INST_ID"/>
                            <element name="ORDER_INST_NM"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="TEMP_BENE_ID"/>
                            <element name="TEMP_BENE_NM"/>
                            <element name="X768_DATE_30"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
