EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_PORegister_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXCH_RT4"/>
                            <element name="FA_ACK_FLG__DESC__"/>
                            <element name="FA_ACK_FLG"/>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CB_FEE"/>
                            <element name="FA_CB_FEE_CCY"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_COMM_SUM"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_EF_HAN_CHG_PAMT"/>
                            <element name="FA_EF_HAN_CHG_SUM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                            <element name="FA_REQ_BUYER_APR_FLG"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_AC_AMT"/>
                            <element name="FA_SEL_AC_CCY"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP_AMT9"/>
                            <element name="FA_TRF_FX_RT"/>
                            <element name="FA_TRF_REF"/>
                            <element name="FA_TTL_AMT_IN_LMT"/>
                            <element name="FA_TTL_FIN_RET_BAL"/>
                            <element name="FA_TTL_PO_AMT"/>
                            <element name="FA_TTL_PO_NO"/>
                            <element name="FINC_CCY2"/>
                            <element name="PORegister">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="FA_ANCHOR_ID"/>
                                        <element name="FA_ANCHOR_NM"/>
                                        <element name="FA_BUSI_TYPE__DESC__"/>
                                        <element name="FA_BUSI_TYPE"/>
                                        <element name="FA_BUYER_ID"/>
                                        <element name="FA_BUYER_NM"/>
                                        <element name="FA_CNTR_REF"/>
                                        <element name="FA_COUNTER_ID"/>
                                        <element name="FA_COUNTER_NM"/>
                                        <element name="FA_COUNTER_REG_NO"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_EF_COMM_AMT"/>
                                        <element name="FA_EF_COMM_RT"/>
                                        <element name="FA_EF_HAN_CHG_AMT"/>
                                        <element name="FA_EF_HAN_CHG_CCY"/>
                                        <element name="FA_EF_HAN_CHG_PAMT"/>
                                        <element name="FA_GOODS_NM"/>
                                        <element name="FA_LATEST_SHIP_DT"/>
                                        <element name="FA_PMT_GRC_DAY"/>
                                        <element name="FA_PMT_TERMS"/>
                                        <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                                        <element name="FA_REQ_BUYER_APR_FLG"/>
                                        <element name="FA_SBR_REF"/>
                                        <element name="FA_SEL_ID"/>
                                        <element name="FA_SEL_NM"/>
                                        <element name="FA_TRF_FX_RT"/>
                                        <element name="GOODS_DESC"/>
                                        <element name="PO_AMT"/>
                                        <element name="PO_BAL"/>
                                        <element name="PO_CCY"/>
                                        <element name="PO_DT"/>
                                        <element name="PO_DUE_DT"/>
                                        <element name="PO_LOAN_AVL"/>
                                        <element name="PO_MAX_LOAN_PERC"/>
                                        <element name="PO_NO"/>
                                        <element name="PO_REF"/>
                                        <element name="PO_STATUS"/>
                                        <element name="PO_VAL_DT"/>
                                        <element name="TRX_DT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PO_AVAL_FOR_FUNDING"/>
                            <element name="PO_CCY"/>
                            <element name="PO_MAX_LOAN_PERC"/>
                            <element name="QR_CD_FLD"/>
                            <element name="TEMP_CHAR6"/>
                            <element name="TRX_DT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
