EE_PARA/EE_PARA/Default/FORM/form_schema_FINC_InvoiceFinancingCancellationReq_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="FIN_CCY"/>
<element name="FIN_CDT_ACCOUNT"/>
<element name="FIN_CDT_BBAN"/>
<element name="FIN_CDT_CCY"/>
<element name="FIN_CDT_IBAN"/>
<element name="FIN_CDT_NM"/>
<element name="FIN_CDT_TPCD"/>
<element name="FIN_CDT_TPID"/>
<element name="FIN_CDT_UPIC"/>
<element name="FIN_CXL_RSN"/>
<element name="FIN_FINCG_ACCOUNT"/>
<element name="FIN_FINCG_BBAN"/>
<element name="FIN_FINCG_CCY"/>
<element name="FIN_FINCG_IBAN"/>
<element name="FIN_FINCG_NM"/>
<element name="FIN_FINCG_TPCD"/>
<element name="FIN_FINCG_TPID"/>
<element name="FIN_FINCG_UPIC"/>
<element name="FIN_FSTAGT_AGT_BIC"/>
<element name="FIN_FSTAGT_AGT_ID"/>
<element name="FIN_FSTAGT_AGT_TP"/>
<element name="FIN_FSTAGT_CSM_ID"/>
<element name="FIN_FSTAGT_CSM_VAL"/>
<element name="FIN_GRP_ID"/>
<element name="FIN_INTRMY_AGT_BIC"/>
<element name="FIN_INTRMY_AGT_ID"/>
<element name="FIN_INTRMY_AGT_TP"/>
<element name="FIN_INTRMY_CSM_ID"/>
<element name="FIN_INTRMY_CSM_VAL"/>
<element name="FIN_INVC_REQS_NB"/>
<element name="FIN_MESSAGE_DT"/>
<element name="FIN_MESSAGE_ID"/>
<element name="FIN_RQSTR_BEI"/>
<element name="FIN_RQSTR_ID"/>
<element name="FIN_RQSTR_ID_TP"/>
<element name="FIN_RQSTR_NAME"/>
<element name="FIN_TRX_DT"/>
<element name="FIN_TTL_BLKINV_AMT"/>
</sequence>
</complexType>
</element>
</schema>
