EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_Goods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_ACCUM_NET_AMT"/>
<element name="TSU_CCY"/>
<element name="TSU_EARLST_SHIP_DT"/>
<element name="TSU_FRGHT_TP__DESC__"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_GOODS_DESC"/>
<element name="TSU_LATST_SHIP_DT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_LINE_TTL_APAMT"/>
<element name="TSU_LINE_TTL_ORAMT"/>
<element name="TSU_LINE_TTL_OUAMT"/>
<element name="TSU_LINE_TTL_PDAMT"/>
<element name="TSU_NET_CCY"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_PO_INITIATOR__DESC__"/>
<element name="TSU_PO_INITIATOR"/>
<element name="TSU_PRTL_SHIPMNT__DESC__"/>
<element name="TSU_PRTL_SHIPMNT"/>
<element name="TSU_TRAN_SHIPMNT__DESC__"/>
<element name="TSU_TRAN_SHIPMNT"/>
<element name="TSU_TTL_CCY"/>
<element name="TSU_TTL_NET_AMT"/>
<element name="TSU_TTL_NET_APAMT"/>
<element name="TSU_TTL_NET_ORAMT"/>
<element name="TSU_TTL_NET_OUAMT"/>
<element name="TSU_TTL_NET_PDAMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
