EE_PARA/EE_PARA/Default/FORM/form_schema_IAAC_AccRateChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CHECK_TRX_VALDATE"/>
<element name="C_EXRATE_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_CREATE_FROM"/>
<element name="IA_C_EVENT_NO"/>
<element name="IA_C_FLT_RAT_TBLID"/>
<element name="IA_C_FUNCTION_ID"/>
<element name="IA_C_INTF_ID"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_SPR_RAT_TBLID"/>
<element name="IA_C_UNIT_OF_CRT"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_LAST_INT_PAID"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_I_FLT_RATE_NO"/>
<element name="IA_I_SPR_RATE_NO"/>
<element name="IA_N_EXCH_RATE"/>
<element name="IA_N_FIX_BAS_RATE"/>
<element name="IA_N_FIX_SPR_RATE"/>
<element name="IA_Y_BAS_DEF_INT"/>
<element name="IA_Y_PEN_DEF_INT"/>
<element name="IA_Y_TTL_DEF_INT"/>
<element name="imgDrawDown_IA_D_TRX_VALDATE"/>
</sequence>
</complexType>
</element>
</schema>
