EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SBLC_CreditDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_ASSGN_ID"/>
<element name="CPYT_ASSGN_ID_BTN"/>
<element name="CPYT_ASSGN_NM"/>
<element name="CPYT_ASSIGNEE_BAL"/>
<element name="CPYT_ASSIGNEE_BTN"/>
<element name="CPYT_BUY_RATE"/>
<element name="CPYT_CR_AC"/>
<element name="CPYT_CR_AC_BTN"/>
<element name="CPYT_CR_AC_TYPE"/>
<element name="CPYT_CR_AMT_CRCCY"/>
<element name="CPYT_CR_AMT_CRCCY_EXCH"/>
<element name="CPYT_CR_AMT_MAPING"/>
<element name="CPYT_CR_AMT_TXCCY"/>
<element name="CPYT_CR_CCY"/>
<element name="CPYT_CR_EXNG_AC"/>
<element name="CPYT_CR_PER"/>
<element name="CPYT_CR_TRX_CCY"/>
<element name="CPYT_CR_VAL_DATE"/>
<element name="CPYT_PAY_ADV_MSG"/>
<element name="CPYT_PAY_COV_MSG"/>
<element name="CPYT_UNPAID_FLAG"/>
<element name="I_ASSIGNEE_SEQ"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
