EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRCO_AddBrokerData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BROKER_ID"/>
                            <element name="BROKER_NM"/>
                            <element name="COMM_DATA_TP"/>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="LOCAL_TIME"/>
                            <element name="NOTES"/>
                            <element name="TEMP_CHK_FLG"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
