EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_RtgSummry_TrnsprtByRoad017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_ROAD_CARR_NM"/>
<element name="TSU_RTG_PLC_DLV"/>
<element name="TSU_RTG_PLC_RCT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
