EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_EFDisputeSettle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_BU_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DisputeSettl">
                                <complexType>
                                    <sequence>
                                        <element name="FA_ACTION_CODE__DESC__"/>
                                        <element name="FA_ACTION_CODE"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_DSP_AMT"/>
                                        <element name="FA_DSP_INSTR__DESC__"/>
                                        <element name="FA_DSP_INSTR"/>
                                        <element name="FA_DSP_NO"/>
                                        <element name="FA_DSP_RSN_CODE__DESC__"/>
                                        <element name="FA_DSP_RSN_CODE"/>
                                        <element name="FA_FIN_RETURN_REQ__DESC__"/>
                                        <element name="FA_FIN_RETURN_REQ"/>
                                        <element name="FA_INV_LOAN_BAL"/>
                                        <element name="FA_MSG_TEXT02"/>
                                        <element name="FA_NOTIFY_BY__DESC__"/>
                                        <element name="FA_NOTIFY_BY"/>
                                        <element name="FA_NOTIFY_BY_NM"/>
                                        <element name="FA_TEMP2"/>
                                        <element name="FA_TEMP_AMT8"/>
                                        <element name="FA_TRF_DT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="FA_ACTION_TXT"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CE_MAIN_REF"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CUST_INSTR__DESC__"/>
                            <element name="FA_CUST_INSTR"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DSP_DT"/>
                            <element name="FA_DSP_NO"/>
                            <element name="FA_DSP_REF"/>
                            <element name="FA_DSP_RSN_TXT"/>
                            <element name="FA_DSP_SETTLE_DT"/>
                            <element name="FA_DSP_STATUS__DESC__"/>
                            <element name="FA_DSP_STATUS"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_FIN_RETURN_REQ__DESC__"/>
                            <element name="FA_FIN_RETURN_REQ"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INCO_ADD"/>
                            <element name="FA_INCO_NM"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_NOTIFY_BY__DESC__"/>
                            <element name="FA_NOTIFY_BY"/>
                            <element name="FA_RAISE_BY__DESC__"/>
                            <element name="FA_RAISE_BY"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SEND_MSG_FLG__DESC__"/>
                            <element name="FA_SEND_MSG_FLG"/>
                            <element name="FA_TTL_CRN_NO"/>
                            <element name="FA_TTL_INV_NO"/>
                            <element name="QR_CD_FLD"/>
                            <element name="TRX_DT"/>
                            <element name="select"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
