EE_PARA/EE_PARA/Default/FORM/form_schema_SBLC_Amendment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_MANAGER"/>
                <element name="ADD_AMT_COVRD"/>
                <element name="ADD_AMT_INFO_LOCAL"/>
                <element name="ADV_BK_ADD1"/>
                <element name="ADV_BK_ADD2"/>
                <element name="ADV_BK_ADD3"/>
                <element name="ADV_BK_ADD_BTN"/>
                <element name="ADV_BK_ID"/>
                <element name="ADV_BK_ID_BTN"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_NOTES"/>
                <element name="ADV_BK_ORDER_NO"/>
                <element name="ADV_BK_REF"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="AMD_DETAILS"/>
                <element name="AMD_DETAILS_CLAUSE_BT"/>
                <element name="AMD_DT"/>
                <element name="AMD_NARR"/>
                <element name="AMD_NARR_CLAUSE_BT"/>
                <element name="AMD_REF"/>
                <element name="AMD_SBLC_TERMS_COND_LOCAL"/>
                <element name="AMD_TOL__DESC__"/>
                <element name="AMD_TOL"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE_LOCAL__DESC__"/>
                <element name="APLB_RULE_LOCAL"/>
                <element name="APLB_RULE_NARR_LOCAL"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD1_LOCAL"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD2_LOCAL"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ADD3_LOCAL"/>
                <element name="APPL_BTN"/>
                <element name="APPL_CUST_BK"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_ID_BTN_LOCAL"/>
                <element name="APPL_ID_LOCAL"/>
                <element name="APPL_MAIL_ADD_ORDERNO"/>
                <element name="APPL_NM"/>
                <element name="APPL_NM_LOCAL"/>
                <element name="APPL_NOTES"/>
                <element name="APPL_ORDER_NO"/>
                <element name="AUTO_EXTEN_EXPIRY_DT_LOCAL"/>
                <element name="AUTO_EXTEN_NOTIF_LOCAL"/>
                <element name="AUTO_EXTEN_NOTIF_PRD_LOCAL"/>
                <element name="AUTO_EXTEN_PERIOD_LOCAL"/>
                <element name="AUTO_RENEW__DESC__"/>
                <element name="AUTO_RENEW"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AVAL_WT_BK_ADD1"/>
                <element name="AVAL_WT_BK_ADD2"/>
                <element name="AVAL_WT_BK_ADD3"/>
                <element name="AVAL_WT_BK_ADD_BTN"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AVAL_WT_BK_ID_BTN"/>
                <element name="AVAL_WT_BK_NM"/>
                <element name="AVAL_WT_BK_NOTES"/>
                <element name="AVAL_WT_BK_ORDER_NO"/>
                <element name="AVAL_WT_BK_SW_ADD"/>
                <element name="AVAL_WT_BK_SW_TAG"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BASE_BAL"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD1_LOCAL"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD2_LOCAL"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ADD3_LOCAL"/>
                <element name="BENE_BTN"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_ID_BTN_LOCAL"/>
                <element name="BENE_ID_LOCAL"/>
                <element name="BENE_MAIL_ADD_ORDERNO"/>
                <element name="BENE_NM"/>
                <element name="BENE_NM_LOCAL"/>
                <element name="BENE_NOTES"/>
                <element name="BENE_ORDER_NO"/>
                <element name="CHARGES"/>
                <element name="CHARGES_LOCAL"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CASH_IND"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_OVERRIDE_IND"/>
                <element name="CHG_POLICY__DESC__"/>
                <element name="CHG_POLICY"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CNTY_CODE"/>
                <element name="COMM_BAL"/>
                <element name="COMM_CCY"/>
                <element name="COMM_DT"/>
                <element name="COMM_END_DT"/>
                <element name="COMM_REF"/>
                <element name="COMM_START_DT"/>
                <element name="CURRENT_COMM"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_REF"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="C_UNIT_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="ClauseButton"/>
                <element name="DEC_AMT"/>
                <element name="DEC_AMT_LOCAL"/>
                <element name="DELIVERY_TO_AMD_CODE_L"/>
                <element name="DELIVERY_TO_CODE_LOCAL"/>
                <element name="DELIVERY_TO_NM_ADD_AMD_L"/>
                <element name="DELIVERY_TO_NM_ADD_LOCAL"/>
                <element name="DELIV_OF_AMD_UNDER_LOCAL"/>
                <element name="DELIV_OF_AMD_UNDER_NAR_LOCAL"/>
                <element name="DELIV_OF_ORIG_CODE_LOCAL"/>
                <element name="DELIV_OF_ORIG_UNDER_LOCAL"/>
                <element name="DEMAND_INDICATOR_LOCAL"/>
                <element name="DEST_PORT"/>
                <element name="DETRMNTL_FLG__DESC__"/>
                <element name="DETRMNTL_FLG"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DOC_PRES_INSTR_LOCAL"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ADD_BTN"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_ID_BTN"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_NOTES"/>
                <element name="DRWE_ORDER_NO"/>
                <element name="DRWE_SW_ADD"/>
                <element name="DRWE_SW_TAG"/>
                <element name="EXCH_RATE"/>
                <element name="EXPIRY_COND_LOCAL"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_DT_LOCAL"/>
                <element name="EXPIRY_TYPE_LOCAL"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FINAL_EXPIRY_DT"/>
                <element name="FORM_OF_UNDERTAKING_LOCAL"/>
                <element name="FOR_ACCT_ADD1"/>
                <element name="FOR_ACCT_ADD2"/>
                <element name="FOR_ACCT_ADD3"/>
                <element name="FOR_ACCT_NAME"/>
                <element name="FOR_ACCT_NOTES"/>
                <element name="FOR_ACCT_NR"/>
                <element name="FOR_ACCT_NR_ADD_BTN"/>
                <element name="FOR_ACCT_NR_BTN"/>
                <element name="FOR_ACCT_ORDER_NO"/>
                <element name="FREQUENCY__DESC__"/>
                <element name="FREQUENCY"/>
                <element name="FURTHER_IDENTITY"/>
                <element name="GOVERN_LAW_CNTY_CODE_LOCAL"/>
                <element name="GTEE_DETAILS"/>
                <element name="INC_AMT"/>
                <element name="INC_AMT_LOCAL"/>
                <element name="INDEMN_ADD1_LOCAL"/>
                <element name="INDEMN_ADD2_LOCAL"/>
                <element name="INDEMN_ADD3_LOCAL"/>
                <element name="INDEMN_ID_BTN_LOCAL"/>
                <element name="INDEMN_ID_LOCAL"/>
                <element name="INDEMN_NM_LOCAL"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD1_LOCAL"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD2_LOCAL"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ADD3_LOCAL"/>
                <element name="ISSUE_BK_ADD_BTN"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_ID_BTN_LOCAL"/>
                <element name="ISSUE_BK_ID_LOCAL"/>
                <element name="ISSUE_BK_MAIL_ADD"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_NM_LOCAL"/>
                <element name="ISSUE_BK_NOTES"/>
                <element name="ISSUE_BK_ORDER_NO"/>
                <element name="ISSUE_BK_ORDER_POST"/>
                <element name="ISSUE_BK_POST_ADD_BTN"/>
                <element name="ISSUE_BK_REF"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_ADD_LOCAL"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_BK_SW_TAG_LOCAL"/>
                <element name="ISSUE_DT"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_CCY"/>
                <element name="LOGIN_BIC"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MESG_TYPE__DESC__"/>
                <element name="MESG_TYPE"/>
                <element name="MESG_TYPE_ISSUE__DESC__"/>
                <element name="MESG_TYPE_ISSUE"/>
                <element name="MSG_TYPE"/>
                <element name="MT707_SEND_TO_RCV_INFO"/>
                <element name="MT707_SEND_TO_RCV_INFO_CLAUSE"/>
                <element name="MT760_SEND_TO_RCV_INFO"/>
                <element name="MT760_SEND_TO_RCV_INFO_CLAUSE"/>
                <element name="MT760_STNDBY_TEXT1"/>
                <element name="MT760_STNDBY_TEXT1_CLAUSE_BTN"/>
                <element name="MT760_STNDBY_TEXT2"/>
                <element name="MT760_STNDBY_TEXT2_CLAUSE_BTN"/>
                <element name="MT760_STNDBY_TEXT3"/>
                <element name="MT760_STNDBY_TEXT3_CLAUSE_BTN"/>
                <element name="MT767_SEND_TO_RCV_INFO"/>
                <element name="MT767_SEND_TO_RCV_INFO_CLAUSE"/>
                <element name="MULTI_BENE__DESC__"/>
                <element name="MULTI_BENE"/>
                <element name="NARR"/>
                <element name="NARR_CLAUSE_BT"/>
                <element name="NEG_TOL"/>
                <element name="NEW_ADDIT_COV_AMT"/>
                <element name="NEW_AMT_SPEC__DESC__"/>
                <element name="NEW_AMT_SPEC"/>
                <element name="NEW_BENE_ADD1"/>
                <element name="NEW_BENE_ADD1_LOCAL"/>
                <element name="NEW_BENE_ADD2"/>
                <element name="NEW_BENE_ADD2_LOCAL"/>
                <element name="NEW_BENE_ADD3"/>
                <element name="NEW_BENE_ADD3_LOCAL"/>
                <element name="NEW_BENE_ADD_BTN"/>
                <element name="NEW_BENE_ID"/>
                <element name="NEW_BENE_ID_BTN"/>
                <element name="NEW_BENE_ID_BTN_LOCAL"/>
                <element name="NEW_BENE_ID_LOCAL"/>
                <element name="NEW_BENE_NM"/>
                <element name="NEW_BENE_NM_LOCAL"/>
                <element name="NEW_BENE_NOTES"/>
                <element name="NEW_BENE_ORDER_NO"/>
                <element name="NEW_CHARGES"/>
                <element name="NEW_DEST_PORT"/>
                <element name="NEW_EXPIRY_COND_LOCAL"/>
                <element name="NEW_EXPIRY_DT"/>
                <element name="NEW_EXPIRY_DT_LOCAL"/>
                <element name="NEW_EXPIRY_TYPE_LOCAL__DESC__"/>
                <element name="NEW_EXPIRY_TYPE_LOCAL"/>
                <element name="NEW_FINAL_EXPIRY_DT"/>
                <element name="NEW_FREQUENCY__DESC__"/>
                <element name="NEW_FREQUENCY"/>
                <element name="NEW_LC_AMT"/>
                <element name="NEW_LC_BAL"/>
                <element name="NEW_LC_CONF_BAL"/>
                <element name="NEW_LIAB_BAL"/>
                <element name="NEW_LTST_SHIP_DT"/>
                <element name="NEW_NEG_TOL"/>
                <element name="NEW_NOTIFY_DATE"/>
                <element name="NEW_NOTIFY_DAYS"/>
                <element name="NEW_NRENEW_ADV_DATE"/>
                <element name="NEW_NRENEW_ADV_PERIOD"/>
                <element name="NEW_OLD_DEST_PORT"/>
                <element name="NEW_OLD_LOAD_PORT"/>
                <element name="NEW_ORIGIN"/>
                <element name="NEW_POS_TOL"/>
                <element name="NEW_PRES_PRD_TXT"/>
                <element name="NEW_RENEWAL_DAYS"/>
                <element name="NEW_RENEWAL_STATUS__DESC__"/>
                <element name="NEW_RENEWAL_STATUS"/>
                <element name="NEW_SBLC_AMT_LOCAL"/>
                <element name="NEW_SHIP_PRD"/>
                <element name="NOTES"/>
                <element name="NOTIFY_DATE"/>
                <element name="NOTIFY_DAYS"/>
                <element name="NO_OF_AMD"/>
                <element name="NO_OF_AMD_B"/>
                <element name="NO_OF_PERIODS"/>
                <element name="NRENEW_ADV_DATE"/>
                <element name="NRENEW_ADV_PERIOD"/>
                <element name="NXT_COMM_DT"/>
                <element name="NXT_STATUS"/>
                <element name="OLD_DEST_PORT"/>
                <element name="OLD_LOAD_PORT"/>
                <element name="ORIGIN"/>
                <element name="PERIOD"/>
                <element name="PER_NEG_TOL"/>
                <element name="PER_POS_TOL"/>
                <element name="POS_TOL"/>
                <element name="PRES_PRD_TXT"/>
                <element name="PURP_OF_MESS"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="RENEWAL_DAYS"/>
                <element name="RENEWAL_STATUS__DESC__"/>
                <element name="RENEWAL_STATUS"/>
                <element name="REQ_ISSUE_DT"/>
                <element name="SBLC_AMT_LOCAL"/>
                <element name="SBLC_BAL_LOCAL"/>
                <element name="SBLC_CCY_LOCAL"/>
                <element name="SBLC_CLM_BAL"/>
                <element name="SHIP_PRD"/>
                <element name="STAN_WORD_REQD"/>
                <element name="STAN_WORD_REQD_LANG"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_ADDIT_COV_AMT"/>
                <element name="TEMP_AMT_SPEC__DESC__"/>
                <element name="TEMP_AMT_SPEC"/>
                <element name="TEMP_APLB_CODE_LOCAL"/>
                <element name="TEMP_BASE_BAL"/>
                <element name="TEMP_BENE_ADD1"/>
                <element name="TEMP_BENE_ADD2"/>
                <element name="TEMP_BENE_ADD3"/>
                <element name="TEMP_BENE_ID"/>
                <element name="TEMP_BENE_NM"/>
                <element name="TEMP_BENE_NOTES"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CHARGES"/>
                <element name="TEMP_COMM_BAL"/>
                <element name="TEMP_COMM_DT"/>
                <element name="TEMP_COMM_END_DT"/>
                <element name="TEMP_COMM_START_DT"/>
                <element name="TEMP_CURRENT_COMM"/>
                <element name="TEMP_DEST_PLACE"/>
                <element name="TEMP_DEST_PORT"/>
                <element name="TEMP_EXPIRY_DT"/>
                <element name="TEMP_FINAL_EXPIRY_DT"/>
                <element name="TEMP_FREQUENCY__DESC__"/>
                <element name="TEMP_FREQUENCY"/>
                <element name="TEMP_GOVERN_LAW_LOCAL"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_LC_AMT"/>
                <element name="TEMP_LC_BAL"/>
                <element name="TEMP_LOAD_PLACE"/>
                <element name="TEMP_LOAD_PORT"/>
                <element name="TEMP_LTST_SHIP_DT"/>
                <element name="TEMP_MT707_NEW_AMT_SPEC"/>
                <element name="TEMP_MT707_NEW_NEG_TOL"/>
                <element name="TEMP_MT707_NEW_POS_TOL"/>
                <element name="TEMP_MT707_NO_OF_AMD_B"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_NEG_TOL"/>
                <element name="TEMP_NEW_LC_AMT"/>
                <element name="TEMP_NOTIFY_DATE"/>
                <element name="TEMP_NOTIFY_DAYS"/>
                <element name="TEMP_NO_OF_PERIODS"/>
                <element name="TEMP_NRENEW_ADV_DATE"/>
                <element name="TEMP_NRENEW_ADV_PERIOD"/>
                <element name="TEMP_NXT_COMM_DT"/>
                <element name="TEMP_PARTIAL_SHIP"/>
                <element name="TEMP_PERIOD"/>
                <element name="TEMP_POS_TOL"/>
                <element name="TEMP_PRES_PRD_TXT"/>
                <element name="TEMP_RENEWAL_DAYS"/>
                <element name="TEMP_RENEWAL_STATUS__DESC__"/>
                <element name="TEMP_RENEWAL_STATUS"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_SEND_TO_RCV_INFO_MT707"/>
                <element name="TEMP_SEND_TO_RCV_INFO_MT767"/>
                <element name="TEMP_SHIP_PRD"/>
                <element name="TEMP_TAG_39A2"/>
                <element name="TEMP_TOTAL_ISS_COMM"/>
                <element name="TOTAL_ISS_COMM"/>
                <element name="TRANS_INDICATOR_LOCAL"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="UNDERTAKING_TERMS_COND_LOCAL"/>
                <element name="UNDERTAKING_TYPE_LOCAL"/>
                <element name="UNDERTAKING_TYPE_NARR_LOCAL"/>
                <element name="UNDER_TRANS_DETAILS_LOCAL"/>
                <element name="VALID_FM_DT"/>
                <element name="WEB_REF"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
