EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSUM_AcknowledgementOCBC_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MSG_TYPE"/>
                            <element name="TSU_BASELN_ID"/>
                            <element name="TSU_BASELN_VRSN"/>
                            <element name="TSU_MAIN_REF"/>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_OUR_REF"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_REQ_ACT_DESC"/>
                            <element name="TSU_REQ_ACT_TP"/>
                            <element name="TSU_RL_MSG_ID"/>
                            <element name="TSU_RL_MSG_ID_DT"/>
                            <element name="TSU_SUBMITR_BIC"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TRX_DT"/>
                            <element name="TSU_TRX_STATUS__DESC__"/>
                            <element name="TSU_TRX_STATUS"/>
                            <element name="TSU_XML"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
