EE_PARA/EE_PARA/Default/FORM/form_schema_NoteOtherBankCharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="NOTE_BK_NM"/>
                <element name="NOTE_CHG_AMT"/>
                <element name="NOTE_CHG_CCY"/>
                <element name="NOTE_CHG_TYPE__DESC__"/>
                <element name="NOTE_CHG_TYPE"/>
                <element name="NOTE_INSTR"/>
            </sequence>
        </complexType>
    </element>
</schema>
