EE_PARA/EE_PARA/Default/FORM/form_schema_PTCG_Proc_MT191_Chg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLOSE_TRX"/>
                <element name="CNTY"/>
                <element name="COUNTRY"/>
                <element name="CPYT_CR_BK_AC"/>
                <element name="CR_AMT"/>
                <element name="CR_CCY"/>
                <element name="C_AC_NUMBER"/>
                <element name="C_AC_TITLE"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MODULE"/>
                <element name="C_UNIT_CODE"/>
                <element name="DB_Acct_No_Lookup"/>
                <element name="DB_CALC_AMT"/>
                <element name="EXCH_RATE"/>
                <element name="INT_BKGROUPID"/>
                <element name="INT_C_MAIN_REF"/>
                <element name="INT_I_EVENT_TIMES"/>
                <element name="INW_SNDBK_SW"/>
                <element name="MAX_191"/>
                <element name="MD_I"/>
                <element name="MT191SENT_NO"/>
                <element name="MT191_AMT_REC"/>
                <element name="MT191_BAL_AMT"/>
                <element name="MT191_CCY_REC"/>
                <element name="NXT_TRCR_DT"/>
                <element name="TWO_DAYS_BACK"/>
                <element name="VALUE_DT"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="XN91_ACCBKADD1_57A"/>
                <element name="XN91_ACCBKADD2_57A"/>
                <element name="XN91_ACCBKADD3_57A"/>
                <element name="XN91_ACC_BKACNO57A"/>
                <element name="XN91_ACC_BKID_57A"/>
                <element name="XN91_ACC_BKNM_57A"/>
                <element name="XN91_ACC_BKSW_57A"/>
                <element name="XN91_AMT_32B"/>
                <element name="XN91_BK2BK_INF1_72"/>
                <element name="XN91_BK2BK_INF2_72"/>
                <element name="XN91_BK2BK_INF3_72"/>
                <element name="XN91_BK2BK_INF4_72"/>
                <element name="XN91_BK2BK_INF5_72"/>
                <element name="XN91_BK2BK_INF6_72"/>
                <element name="XN91_CCY_32B"/>
                <element name="XN91_DET_CHG1_71B"/>
                <element name="XN91_DET_CHG2_71B"/>
                <element name="XN91_DET_CHG3_71B"/>
                <element name="XN91_DET_CHG4_71B"/>
                <element name="XN91_DET_CHG5_71B"/>
                <element name="XN91_DET_CHG6_71B"/>
                <element name="XN91_ORDBKACNO_52A"/>
                <element name="XN91_ORDBKADD1_52A"/>
                <element name="XN91_ORDBKADD2_52A"/>
                <element name="XN91_ORDBKADD3_52A"/>
                <element name="XN91_ORD_BKID_52A"/>
                <element name="XN91_ORD_BKNM_52A"/>
                <element name="XN91_RELATEDNO_21"/>
                <element name="XN91_SEND_NO_20"/>
                <element name="XN91_TAG_52A"/>
                <element name="XN91_TAG_57A"/>
            </sequence>
        </complexType>
    </element>
</schema>
