EE_PARA/EE_PARA/Default/FORM/form_schema_FLAT_PERCENTAGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_AGREE_DESC"/>
                <element name="C_MIN_CCY"/>
                <element name="F_BASE_PERCENTAGE"/>
                <element name="Y_FLAT_AMT"/>
                <element name="Y_MAX_AMT"/>
                <element name="Y_MIN_AMT"/>
            </sequence>
        </complexType>
    </element>
</schema>
