EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Collateral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="ADJ_DATE"/>
<element name="ADJ_REF"/>
<element name="ARRIVAL_DATE"/>
<element name="COLLAT_CCY"/>
<element name="COLLAT_FACT"/>
<element name="COLLAT_ID"/>
<element name="COLLAT_ID_BT"/>
<element name="COLLAT_NM"/>
<element name="COLLAT_PRICE"/>
<element name="COLLAT_QTY"/>
<element name="COLLAT_RD_PRICE"/>
<element name="COLLAT_SPEC"/>
<element name="COLLAT_TP__DESC__"/>
<element name="COLLAT_TP"/>
<element name="COLLAT_UNIT"/>
<element name="COLLAT_VAL"/>
<element name="C_MAIN_REF"/>
<element name="FA_CNTR_REF"/>
<element name="IS_OUT"/>
<element name="PRICE"/>
<element name="PRICE_ADJ_FLG__DESC__"/>
<element name="PRICE_ADJ_FLG"/>
<element name="QTY"/>
<element name="QTY_UNIT"/>
<element name="REG_NO"/>
<element name="WEIGHT"/>
<element name="WEIGHT_UNIT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
