EE_PARA/EE_PARA/Default/FORM/form_schema_STD_Ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_REF_DESC"/>
                <element name="C_REF_NAME"/>
                <element name="C_REF_TYPE__DESC__"/>
                <element name="C_REF_TYPE"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
