EE_PARA/EE_PARA/Default/FORM/form_schema_ABLF_InspectScope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="DEDUCT_LMT__DESC__"/>
<element name="DEDUCT_LMT"/>
<element name="FA_CNTR_REF"/>
<element name="FA_TEMP2"/>
<element name="INSPEC_ARG_NO"/>
<element name="INSPEC_ID"/>
<element name="INSPEC_NM"/>
<element name="INSPEC_TP__DESC__"/>
<element name="INSPEC_TP"/>
<element name="getINSPEC_ID"/>
</sequence>
</complexType>
</element>
</schema>
