EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IAAC_AccTakeDown.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_EXRATE_ID"/>
<element name="C_FUNC_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_ACC_LVL"/>
<element name="IA_C_AMZ_FLG"/>
<element name="IA_C_AUTODBT_FLG"/>
<element name="IA_C_BORROWER_ID"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_COUNTRY_LIST"/>
<element name="IA_C_CPN_TYPE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_CREATE_FROM"/>
<element name="IA_C_CUST_CODE"/>
<element name="IA_C_DLY_FLG"/>
<element name="IA_C_EVENT_NO"/>
<element name="IA_C_FLT_RAT_TBLID"/>
<element name="IA_C_FORM_ID"/>
<element name="IA_C_FUNCTION_ID"/>
<element name="IA_C_INTF_ID"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_ORIG_CPNDAY"/>
<element name="IA_C_PURP_ID"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_ROLL_CONVENTION"/>
<element name="IA_C_SCHE_TYPE"/>
<element name="IA_C_SPR_RAT_TBLID"/>
<element name="IA_C_TRANS_CODE"/>
<element name="IA_C_UNIT_OF_CRT"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_DUE_DATE"/>
<element name="IA_D_LAST_CPNDATE"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_I_CCY_DEC"/>
<element name="IA_I_FLT_RATE_NO"/>
<element name="IA_I_GRACE_DAYS"/>
<element name="IA_I_SPR_RATE_NO"/>
<element name="IA_N_EXCH_RATE"/>
<element name="IA_N_FIX_BAS_RATE"/>
<element name="IA_N_FIX_SPR_RATE"/>
<element name="IA_N_PEN_RATE"/>
<element name="IA_Y_BAS_DEF_INT"/>
<element name="IA_Y_BV_TRX_AMT"/>
<element name="IA_Y_PEN_DEF_INT"/>
<element name="IA_Y_REACC_INT"/>
<element name="IA_Y_TRX_AMT"/>
<element name="IA_Y_TTL_DEF_INT"/>
<element name="OP_TYPE"/>
<element name="imgDrawDown_IA_D_DUE_DATE"/>
<element name="imgDrawDown_IA_D_LAST_CPNDATE"/>
<element name="imgDrawDown_IA_D_TRX_VALDATE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
