EE_PARA/EE_PARA/Default/FORM/form_schema_FIN_ContactInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FIN_CONT_EMAILADR"/>
<element name="FIN_CONT_FAXNB"/>
<element name="FIN_CONT_GVNNM"/>
<element name="FIN_CONT_NAME"/>
<element name="FIN_CONT_NMPRFX"/>
<element name="FIN_CONT_PHNENB"/>
<element name="FIN_CONT_ROLE"/>
</sequence>
</complexType>
</element>
</schema>
