EE_PARA/EE_PARA/Default/FORM/form_schema_SYS_ViewLogDetail_error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_CLASS_NAME"/>
                <element name="C_CLAUSE_ID"/>
                <element name="C_ERR_INFO"/>
                <element name="C_OP"/>
                <element name="C_SEVERITY"/>
                <element name="C_UNIT_CODE"/>
                <element name="D_BU_DATE"/>
                <element name="OP_TYPE"/>
                <element name="T_SYS_LOG_TIME"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
