EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_InvFinReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_INV_LMT_APPRV"/>
                            <element name="FA_INV_LOAN_AMT"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_INV_LOAN_EBAL"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_ORDER_NO"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_TRF_DT"/>
                            <element name="INV_LOAN_AVL"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
