EE_PARA/EE_PARA/Default/FORM/form_schema_Discrepancies_Clause.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="DISCRE_CLAUSE"/>
                <element name="DISCRE_CODE__DESC__"/>
                <element name="DISCRE_CODE"/>
                <element name="DISCRE_DESC"/>
                <element name="ORDER_NO"/>
            </sequence>
        </complexType>
    </element>
</schema>
