EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_InsrncDataSetReqrd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_MTCH_AMT__DESC__"/>
<element name="TSU_MTCH_AMT"/>
<element name="TSU_MTCH_ASSRD_PTY__DESC__"/>
<element name="TSU_MTCH_ASSRD_PTY"/>
<element name="TSU_MTCH_ISS_CTRY"/>
<element name="TSU_MTCH_ISS_DTTM__DESC__"/>
<element name="TSU_MTCH_ISS_DTTM"/>
<element name="TSU_MTCH_ISS_ID"/>
<element name="TSU_MTCH_ISS_IDTP"/>
<element name="TSU_MTCH_ISS_NM"/>
<element name="TSU_MTCH_TRNS__DESC__"/>
<element name="TSU_MTCH_TRNS"/>
</sequence>
</complexType>
</element>
</schema>
