EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SBLC_InquireMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_MANAGER"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_ADD_BTN"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_ID_BTN"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_NOTES"/>
                            <element name="ADV_BK_ORDER_NO"/>
                            <element name="ADV_BK_REF"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_BTN"/>
                            <element name="APPL_CUST_BK"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_MAIL_ADD_ORDERNO"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="AUTO_RENEW__DESC__"/>
                            <element name="AUTO_RENEW"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_ORDER_NO"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="BASE_BAL"/>
                            <element name="BASE_RT"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_BTN"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_MAIL_ADD_ORDERNO"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_ORDER_NO"/>
                            <element name="BneficiarySBLC">
                                <complexType>
                                    <sequence>
                                        <element name="BENE_ADD1"/>
                                        <element name="BENE_ADD2"/>
                                        <element name="BENE_ADD3"/>
                                        <element name="BENE_ID"/>
                                        <element name="BENE_NM"/>
                                        <element name="BENE_ORDER_NO"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="CHARGES"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CPYT_C_MIX_PAY_DETAIL"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_REF"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ClauseButton"/>
                            <element name="DEF_PMT_DET"/>
                            <element name="DEST_PORT"/>
                            <element name="DRAFTS_AT"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ADD_BTN"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_ID_BTN"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_NOTES"/>
                            <element name="DRWE_ORDER_NO"/>
                            <element name="DRWE_SW_ADD"/>
                            <element name="DRWE_SW_TAG"/>
                            <element name="EXCH_RATE"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FINAL_EXPIRY_DT"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FOR_ACCT_ADD1"/>
                            <element name="FOR_ACCT_ADD2"/>
                            <element name="FOR_ACCT_ADD3"/>
                            <element name="FOR_ACCT_NAME"/>
                            <element name="FOR_ACCT_NOTES"/>
                            <element name="FOR_ACCT_NR"/>
                            <element name="FOR_ACCT_NR_ADD_BTN"/>
                            <element name="FOR_ACCT_NR_BTN"/>
                            <element name="FOR_ACCT_ORDER_NO"/>
                            <element name="FREQUENCY__DESC__"/>
                            <element name="FREQUENCY"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="FURTHER_IDENTITY"/>
                            <element name="GTEE_DETAILS"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_MAIL_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_ORDER_POST"/>
                            <element name="ISSUE_BK_POST_ADD_BTN"/>
                            <element name="ISSUE_BK_REF"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LCY"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_CCY"/>
                            <element name="LC_TYPE__DESC__"/>
                            <element name="LC_TYPE"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LOGIN_TIME"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="MESG_TYPE__DESC__"/>
                            <element name="MESG_TYPE"/>
                            <element name="MSG_TYPE"/>
                            <element name="MT700_SEND_TO_RCV_INFO"/>
                            <element name="MT700_SEND_TO_RCV_INFO_CLAUSE"/>
                            <element name="MT700_STNDBY_TEXT1"/>
                            <element name="MT700_STNDBY_TEXT1_CLAUSE_BTN"/>
                            <element name="MT700_STNDBY_TEXT2"/>
                            <element name="MT700_STNDBY_TEXT2_CLAUSE_BTN"/>
                            <element name="MT700_STNDBY_TEXT3"/>
                            <element name="MT700_STNDBY_TEXT3_CLAUSE_BTN"/>
                            <element name="MT760_SEND_TO_RCV_INFO"/>
                            <element name="MT760_SEND_TO_RCV_INFO_CLAUSE"/>
                            <element name="MT760_STNDBY_TEXT1"/>
                            <element name="MT760_STNDBY_TEXT1_CLAUSE_BTN"/>
                            <element name="MT760_STNDBY_TEXT2"/>
                            <element name="MT760_STNDBY_TEXT2_CLAUSE_BTN"/>
                            <element name="MT760_STNDBY_TEXT3"/>
                            <element name="MT760_STNDBY_TEXT3_CLAUSE_BTN"/>
                            <element name="MULTI_BENE__DESC__"/>
                            <element name="MULTI_BENE"/>
                            <element name="NEG_TOL"/>
                            <element name="NOTIFY_DATE"/>
                            <element name="NOTIFY_DAYS"/>
                            <element name="NRENEW_ADV_DATE"/>
                            <element name="NRENEW_ADV_PERIOD"/>
                            <element name="NXT_STATUS"/>
                            <element name="OLD_DEST_PORT"/>
                            <element name="OLD_LOAD_PORT"/>
                            <element name="ORIGIN"/>
                            <element name="OTHER_RULES"/>
                            <element name="PARTIAL_SHIP__DESC__"/>
                            <element name="PARTIAL_SHIP"/>
                            <element name="PARTIAL_SHIP_NARR"/>
                            <element name="POS_TOL"/>
                            <element name="PRES_PRD_TXT"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="RENEWAL_DAYS"/>
                            <element name="RENEWAL_STATUS__DESC__"/>
                            <element name="RENEWAL_STATUS"/>
                            <element name="SBLCSchedule">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DT_SCH"/>
                                        <element name="LC_CCY"/>
                                        <element name="SCHD_ACTION__DESC__"/>
                                        <element name="SCHD_ACTION"/>
                                        <element name="SCHD_AMT"/>
                                        <element name="SCHD_ORDER_NO"/>
                                        <element name="SCHD_STATUS__DESC__"/>
                                        <element name="SCHD_STATUS"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="SCHEDULED__DESC__"/>
                            <element name="SCHEDULED"/>
                            <element name="SETT_INSTR"/>
                            <element name="SHIP_PRD"/>
                            <element name="STNDBY_TEXT1"/>
                            <element name="STNDBY_TEXT1_CLAUSE_BTN"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_APLB_RULE"/>
                            <element name="TEMP_BENE_ID"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_FURTHER_IDENTITY__DESC__"/>
                            <element name="TEMP_FURTHER_IDENTITY"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_TAG_39A"/>
                            <element name="TNSHIP__DESC__"/>
                            <element name="TNSHIP"/>
                            <element name="TNSHIP_NARR"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="WEB_REF"/>
                            <element name="X720_CONF_INSTR_49"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
