EE_PARA/EE_PARA/Default/FORM/form_schema_EPPM_OverdueChargeTracer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BUYER_SETL__DESC__"/>
                <element name="ACC_BUYER_SETL"/>
                <element name="BUYR_BOS_ID"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_NM"/>
                <element name="CCY"/>
                <element name="CHG_FREQ_CD__DESC__"/>
                <element name="CHG_FREQ_CD"/>
                <element name="C_MAIN_REF"/>
                <element name="ChargeTracer">
                    <complexType>
                        <sequence>
                            <element name="CCY"/>
                            <element name="CHG_FREQ_CD"/>
                            <element name="CHG_STAT"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DUE_ON"/>
                            <element name="EPP_ID"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="FEE_AMT"/>
                            <element name="FEE_TP__DESC__"/>
                            <element name="FEE_TP"/>
                            <element name="LAST_TRACE_DT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EPP_ID"/>
                <element name="EPP_NM"/>
                <element name="EPP_REF"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP_DT2"/>
                <element name="PRFL_DFLT_BUYR"/>
                <element name="QR_CD_FLD"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
