EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_RejctElement_DO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_REJT_AMDMB"/>
<element name="TSU_REJT_ELMT_SQNB"/>
<element name="TSU_RJ_RSN_INDVL"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
