EE_PARA/EE_PARA/Default/FORM/form_schema_INVC_AutoProcessingofAI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AI_ACT_AMT"/>
                <element name="AI_ADJ_AMT"/>
                <element name="AI_APRVD_DT"/>
                <element name="AI_ATND_FLG__DESC__"/>
                <element name="AI_ATND_FLG"/>
                <element name="AI_DESC"/>
                <element name="AI_DT"/>
                <element name="AI_DUE_DT"/>
                <element name="AI_HNDL_FEE"/>
                <element name="AI_MAX_AMT"/>
                <element name="AI_NUM"/>
                <element name="AI_ORG_AMT"/>
                <element name="AI_PRE_MATURITY_DT"/>
                <element name="AI_RECV_DT"/>
                <element name="AI_REF"/>
                <element name="AI_REJ_FLG__DESC__"/>
                <element name="AI_REJ_FLG"/>
                <element name="AI_SET_DT"/>
                <element name="AI_STAT_BUYR_CD__DESC__"/>
                <element name="AI_STAT_BUYR_CD"/>
                <element name="AI_STAT_STAFF_CD__DESC__"/>
                <element name="AI_STAT_STAFF_CD"/>
                <element name="AI_STAT_SUPLR_CD__DESC__"/>
                <element name="AI_STAT_SUPLR_CD"/>
                <element name="AI_UPLD_DT"/>
                <element name="AI_UPLD_REF"/>
                <element name="ATND_EXCP_DETL"/>
                <element name="ATT_UPLD_BY__DESC__"/>
                <element name="ATT_UPLD_BY"/>
                <element name="BENE_NM"/>
                <element name="BUYR_ADD1"/>
                <element name="BUYR_ADD2"/>
                <element name="BUYR_ADD3"/>
                <element name="BUYR_BOS_ID"/>
                <element name="BUYR_DUNS_ID"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_NM"/>
                <element name="BUYR_STATUS__DESC__"/>
                <element name="BUYR_STATUS"/>
                <element name="B_S_RELN_ID"/>
                <element name="CCY"/>
                <element name="CNTRY_ORGN"/>
                <element name="CONSGN_ADD1"/>
                <element name="CONSGN_ADD2"/>
                <element name="CONSGN_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="EPP_CCY"/>
                <element name="EPP_ID"/>
                <element name="EPP_NM"/>
                <element name="EPP_REF"/>
                <element name="EPP_STAT__DESC__"/>
                <element name="EPP_STAT"/>
                <element name="EXCP_DETL_FOR_AMT_CHK"/>
                <element name="EXCP_DETL_FOR_BY_ID"/>
                <element name="EXCP_DETL_FOR_BY_STAT"/>
                <element name="EXCP_DETL_FOR_EPP_CCY"/>
                <element name="EXCP_DETL_FOR_EPP_STAT"/>
                <element name="EXCP_DETL_FOR_RELN_STAE"/>
                <element name="EXCP_DETL_FOR_SET_DT1"/>
                <element name="EXCP_DETL_FOR_SET_DT2"/>
                <element name="EXCP_DETL_FOR_SET_DT3"/>
                <element name="EXCP_DETL_FOR_SET_DT4"/>
                <element name="EXCP_DETL_FOR_SET_DT5"/>
                <element name="EXCP_DETL_FOR_SP_ID"/>
                <element name="EXCP_DETL_FOR_SP_STAT"/>
                <element name="EXCP_DETL_FOR_WOLF_HITS"/>
                <element name="FRGHT_FWD_ADD1"/>
                <element name="FRGHT_FWD_ADD2"/>
                <element name="FRGHT_FWD_NM"/>
                <element name="GOODS_DESC"/>
                <element name="IF_AI_HNDL_FEE_COLL__DESC__"/>
                <element name="IF_AI_HNDL_FEE_COLL"/>
                <element name="IF_ATT_REQ__DESC__"/>
                <element name="IF_ATT_REQ"/>
                <element name="IF_AUTO_EP__DESC__"/>
                <element name="IF_AUTO_EP"/>
                <element name="IF_REF_BUYR__DESC__"/>
                <element name="IF_REF_BUYR"/>
                <element name="IF_REF_SUPLR__DESC__"/>
                <element name="IF_REF_SUPLR"/>
                <element name="INSRNC_CPNY_ADD1"/>
                <element name="INSRNC_CPNY_ADD2"/>
                <element name="INSRNC_CPNY_NM"/>
                <element name="LAST_WOLF_CHK_DT"/>
                <element name="NOTE"/>
                <element name="NTFY_PTY_ADD1"/>
                <element name="NTFY_PTY_ADD2"/>
                <element name="NTFY_PTY_NM"/>
                <element name="PLC_DSTN"/>
                <element name="PLC_LOADNG"/>
                <element name="PO_DT"/>
                <element name="PO_ID"/>
                <element name="PRE_MATURITY_DAYS"/>
                <element name="REJ_EXCP_DETL"/>
                <element name="RELN_STATUS"/>
                <element name="SHPPG_AGT_NM"/>
                <element name="SHPPG_CPNY_ADD1"/>
                <element name="SHPPG_CPNY_ADD2"/>
                <element name="SHPPG_CPNY_NM"/>
                <element name="SUPLR_ACC_NO"/>
                <element name="SUPLR_ADD1"/>
                <element name="SUPLR_ADD2"/>
                <element name="SUPLR_BK_ACC_NO"/>
                <element name="SUPLR_BK_ADD1"/>
                <element name="SUPLR_BK_ADD2"/>
                <element name="SUPLR_BK_BIC"/>
                <element name="SUPLR_BK_BR_CD"/>
                <element name="SUPLR_BK_NM"/>
                <element name="SUPLR_BK_NMW"/>
                <element name="SUPLR_CITY_NM"/>
                <element name="SUPLR_CNTC_DETL"/>
                <element name="SUPLR_CNTRY_CD"/>
                <element name="SUPLR_EMAIL"/>
                <element name="SUPLR_IBAN_NO"/>
                <element name="SUPLR_ID"/>
                <element name="SUPLR_NM"/>
                <element name="SUPLR_PHONE_NO"/>
                <element name="SUPLR_POST_CD"/>
                <element name="SUPLR_REF"/>
                <element name="SUPLR_STATE_CD"/>
                <element name="SUPLR_STATUS__DESC__"/>
                <element name="SUPLR_STATUS"/>
                <element name="SUPPLR_BK_ADD1"/>
                <element name="SUPPLR_BK_ADD2"/>
                <element name="SUPPLR_BK_NMW"/>
                <element name="TRAD_ACC_NO"/>
                <element name="TRNSSHIPMNT_PLC"/>
                <element name="TRX_TP_CD"/>
                <element name="VSSL_NM"/>
                <element name="VSSL_PRE_NM"/>
                <element name="WDAYS_TO_SETT_DT"/>
                <element name="WOLF_CHK_RESN_CD__DESC__"/>
                <element name="WOLF_CHK_RESN_CD"/>
                <element name="WOLF_CHK_RESP_CD__DESC__"/>
                <element name="WOLF_CHK_RESP_CD"/>
                <element name="WOLF_DTL"/>
            </sequence>
        </complexType>
    </element>
</schema>
