EE_PARA/EE_PARA/Default/FORM/form_schema_CUOF_AddCcyCutoffTimes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CCY"/>
                <element name="CCY_CUTOFF_DAY"/>
                <element name="CCY_CUTOFF_TIME"/>
                <element name="CNTY_CODE"/>
                <element name="CUOF_HRS"/>
                <element name="CUOF_MTS"/>
                <element name="C_MAIN_REF"/>
            </sequence>
        </complexType>
    </element>
</schema>
