EE_PARA/EE_PARA/Default/FORM/form_schema_DATA_FCTCodeEdit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="FCT_CODE"/>
                <element name="FCT_DESC"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
