EE_PARA/EE_PARA/Default/FORM/form_schema_IPLC_IssueAmdFrCE .xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC_OFFICER_CODE"/>
                <element name="ADDIT_CONDITION"/>
                <element name="ADD_AMT_COVRD"/>
                <element name="ADV_BK_ADD1"/>
                <element name="ADV_BK_ADD2"/>
                <element name="ADV_BK_ADD3"/>
                <element name="ADV_BK_ADD_BTN"/>
                <element name="ADV_BK_CORR_MED__DESC__"/>
                <element name="ADV_BK_CORR_MED"/>
                <element name="ADV_BK_ID"/>
                <element name="ADV_BK_ID_BTN"/>
                <element name="ADV_BK_MAIL_ADD"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_NOTES"/>
                <element name="ADV_BK_ORDER_NO"/>
                <element name="ADV_BK_ORDER_POST"/>
                <element name="ADV_BK_POST_ADD_BTN"/>
                <element name="ADV_BK_REF"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="ADV_BK_TLX"/>
                <element name="ADV_THRU_BK_ID_BTN"/>
                <element name="ADV_THU_BK_ADD1"/>
                <element name="ADV_THU_BK_ADD2"/>
                <element name="ADV_THU_BK_ADD3"/>
                <element name="ADV_THU_BK_ADD_BTN"/>
                <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                <element name="ADV_THU_BK_CORR_MED"/>
                <element name="ADV_THU_BK_ID"/>
                <element name="ADV_THU_BK_MAIL_ADD"/>
                <element name="ADV_THU_BK_NM"/>
                <element name="ADV_THU_BK_NOTES"/>
                <element name="ADV_THU_BK_ORDER_NO"/>
                <element name="ADV_THU_BK_ORDER_POST"/>
                <element name="ADV_THU_BK_POST_ADD_BTN"/>
                <element name="ADV_THU_BK_REF"/>
                <element name="ADV_THU_BK_SW_ADD"/>
                <element name="ADV_THU_BK_SW_TAG"/>
                <element name="ADV_THU_BK_TLX"/>
                <element name="AMD_ADDIT_CONDITION"/>
                <element name="AMD_ADDIT_CONDITION_CLAUSE_BTN"/>
                <element name="AMD_CHARGES"/>
                <element name="AMD_CHARGES_CLAUSE_BTN"/>
                <element name="AMD_CHG_PAY_BY__DESC__"/>
                <element name="AMD_CHG_PAY_BY"/>
                <element name="AMD_CHG_PAY_BY_NARR"/>
                <element name="AMD_DESC_OF_GOODS"/>
                <element name="AMD_DOC_REQ"/>
                <element name="AMD_DOC_REQ_BTN"/>
                <element name="AMD_DT"/>
                <element name="AMD_GOOD_DESC_BTN"/>
                <element name="AMD_INSTR_TO_PAY_BK"/>
                <element name="AMD_INSTR_TO_PAY_BK_BTN"/>
                <element name="AMD_PAY_COND_TO_BENE"/>
                <element name="AMD_PAY_COND_TO_REV_BK"/>
                <element name="AMD_PRES_DAYS"/>
                <element name="AMD_PRES_PRD_TXT"/>
                <element name="AMD_PRES_TYPE__DESC__"/>
                <element name="AMD_PRES_TYPE"/>
                <element name="AMD_REF"/>
                <element name="AMD_SEND_TO_RCV_INFO"/>
                <element name="AMD_SEND_TO_RCV_INFO_CLAUSE_BTN"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_40F"/>
                <element name="APLB_RULE_NARR"/>
                <element name="APPLY_FLG__DESC__"/>
                <element name="APPLY_FLG"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ADD_BTN"/>
                <element name="APPL_BK_AC_NO"/>
                <element name="APPL_BK_ADD1"/>
                <element name="APPL_BK_ADD2"/>
                <element name="APPL_BK_ADD3"/>
                <element name="APPL_BK_ADD_BTN"/>
                <element name="APPL_BK_BTN"/>
                <element name="APPL_BK_CORR_MED__DESC__"/>
                <element name="APPL_BK_CORR_MED"/>
                <element name="APPL_BK_ID"/>
                <element name="APPL_BK_MAIL_ADD"/>
                <element name="APPL_BK_NM"/>
                <element name="APPL_BK_NOTES"/>
                <element name="APPL_BK_ORDER_NO"/>
                <element name="APPL_BK_ORDER_POST"/>
                <element name="APPL_BK_POST_ADD_BTN"/>
                <element name="APPL_BK_REF"/>
                <element name="APPL_BK_SW_ADD"/>
                <element name="APPL_BK_SW_TAG"/>
                <element name="APPL_BK_TLX"/>
                <element name="APPL_CORR_MED__DESC__"/>
                <element name="APPL_CORR_MED"/>
                <element name="APPL_EMAIL"/>
                <element name="APPL_FAX"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_LANG"/>
                <element name="APPL_MAIL_ADD"/>
                <element name="APPL_NM"/>
                <element name="APPL_NOTES"/>
                <element name="APPL_ORDER_NO"/>
                <element name="APPL_ORDER_POST"/>
                <element name="APPL_POST_ADD_BTN"/>
                <element name="APPL_REF"/>
                <element name="APPL_TLX"/>
                <element name="ASSET_ACNO"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AVAL_WT_BK_ADD1"/>
                <element name="AVAL_WT_BK_ADD2"/>
                <element name="AVAL_WT_BK_ADD3"/>
                <element name="AVAL_WT_BK_ADD_BTN"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AVAL_WT_BK_NM"/>
                <element name="AVAL_WT_BK_NOTES"/>
                <element name="AVAL_WT_BK_OPT__DESC__"/>
                <element name="AVAL_WT_BK_OPT"/>
                <element name="AVAL_WT_BK_ORDER_NO"/>
                <element name="AVAL_WT_BK_SW_ADD"/>
                <element name="AVAL_WT_BK_SW_TAG"/>
                <element name="AVLBL_BK_ID_BTN"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BENE_AC_NO"/>
                <element name="BENE_AC_OFF_CODE"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ADD_BTN"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_LANG__DESC__"/>
                <element name="BENE_LANG"/>
                <element name="BENE_MAIL_ADD"/>
                <element name="BENE_NM"/>
                <element name="BENE_NOTES"/>
                <element name="BENE_ORDER_NO"/>
                <element name="BENE_ORDER_POST"/>
                <element name="BENE_POST_ADD_BTN"/>
                <element name="BENE_REF"/>
                <element name="BENE_TLX"/>
                <element name="BK_TO_BK_INFO"/>
                <element name="CANCEL_REQ__DESC__"/>
                <element name="CANCEL_REQ"/>
                <element name="CE_MAIN_REF"/>
                <element name="CHARGES"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CHK_FACILITY"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CNTY_CODE"/>
                <element name="CONF_BK_ADD1"/>
                <element name="CONF_BK_ADD2"/>
                <element name="CONF_BK_ADD3"/>
                <element name="CONF_BK_ID"/>
                <element name="CONF_BK_ID_BTN"/>
                <element name="CONF_BK_NM"/>
                <element name="CONF_BK_NOTES"/>
                <element name="CONF_BK_SW_ADD"/>
                <element name="CONF_BK_SW_TAG"/>
                <element name="CONF_CHG_PAY_BY__DESC__"/>
                <element name="CONF_CHG_PAY_BY"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DEC_AMT"/>
                <element name="DEF_PMT_DET"/>
                <element name="DEST_PLACE"/>
                <element name="DEST_PORT"/>
                <element name="DETRMNTL_FLG__DESC__"/>
                <element name="DETRMNTL_FLG"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DOC_REQ"/>
                <element name="DRAFTS_AT"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ADD_BTN"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_NOTES"/>
                <element name="DRWE_ORDER_NO"/>
                <element name="DRWE_SW_ADD"/>
                <element name="DRWE_SW_TAG"/>
                <element name="DRW_ID_BTN"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="EXPIRY_PLC_NARR"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FACI_STATUS"/>
                <element name="FORACOF_AC_OFF_CODE"/>
                <element name="FORACOF_ADD1"/>
                <element name="FORACOF_ADD2"/>
                <element name="FORACOF_ADD3"/>
                <element name="FORACOF_ADD_BTN"/>
                <element name="FORACOF_CNTY_CODE"/>
                <element name="FORACOF_CORR_MED__DESC__"/>
                <element name="FORACOF_CORR_MED"/>
                <element name="FORACOF_EMAIL"/>
                <element name="FORACOF_FAX"/>
                <element name="FORACOF_ID"/>
                <element name="FORACOF_ID_BTN"/>
                <element name="FORACOF_LANG"/>
                <element name="FORACOF_MAIL_ADD"/>
                <element name="FORACOF_NM"/>
                <element name="FORACOF_NOTES"/>
                <element name="FORACOF_ORDER_NO"/>
                <element name="FORACOF_ORDER_POST"/>
                <element name="FORACOF_POST_ADD_BTN"/>
                <element name="FORACOF_REF"/>
                <element name="FORACOF_TEAM_NM"/>
                <element name="FORACOF_TEMP_TEAM_NM"/>
                <element name="FORACOF_TLX"/>
                <element name="FORM_OF_LC__DESC__"/>
                <element name="FORM_OF_LC"/>
                <element name="FUNCTION_ACTION"/>
                <element name="GOODS_DESC"/>
                <element name="GRACE_DAYS"/>
                <element name="INCOTERMS__DESC__"/>
                <element name="INCOTERMS"/>
                <element name="INC_AMT"/>
                <element name="INDIVID_DRAW_FLG__DESC__"/>
                <element name="INDIVID_DRAW_FLG"/>
                <element name="INSTR_TO_PAY_BK"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_NOTES"/>
                <element name="ISSUE_BK_ORDER_NO"/>
                <element name="ISSUE_BK_REF"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_DT"/>
                <element name="LCY"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_BAL_TEMP"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LIAB_ACNO"/>
                <element name="LOAD_PLACE"/>
                <element name="LOAD_PORT"/>
                <element name="LOCAL_AMT"/>
                <element name="LOCAL_CCY"/>
                <element name="LOCAL_RATE"/>
                <element name="LOGIN_BIC"/>
                <element name="LOGIN_TIME"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MAST_EXPIRY_DT"/>
                <element name="MAST_LC_AMT"/>
                <element name="MIX_PMT_DETL"/>
                <element name="MSG_TYPE"/>
                <element name="NEG_TOL"/>
                <element name="NEW_ADDIT_COV_AMT"/>
                <element name="NEW_ADV_THRU_BK_ID_BTN"/>
                <element name="NEW_ADV_THU_BK_ADD1"/>
                <element name="NEW_ADV_THU_BK_ADD2"/>
                <element name="NEW_ADV_THU_BK_ADD3"/>
                <element name="NEW_ADV_THU_BK_ADD_BTN"/>
                <element name="NEW_ADV_THU_BK_ID"/>
                <element name="NEW_ADV_THU_BK_NM"/>
                <element name="NEW_ADV_THU_BK_NOTES"/>
                <element name="NEW_ADV_THU_BK_ORDER_NO"/>
                <element name="NEW_ADV_THU_BK_SW_ADD"/>
                <element name="NEW_ADV_THU_BK_SW_TAG"/>
                <element name="NEW_AMT_SPEC__DESC__"/>
                <element name="NEW_AMT_SPEC"/>
                <element name="NEW_APLB_RULE__DESC__"/>
                <element name="NEW_APLB_RULE"/>
                <element name="NEW_APLB_RULE_40F__DESC__"/>
                <element name="NEW_APLB_RULE_40F"/>
                <element name="NEW_APLB_RULE_NARR"/>
                <element name="NEW_APPL_ADD1"/>
                <element name="NEW_APPL_ADD2"/>
                <element name="NEW_APPL_ADD3"/>
                <element name="NEW_APPL_ADD_BTN"/>
                <element name="NEW_APPL_ID"/>
                <element name="NEW_APPL_NM"/>
                <element name="NEW_APPL_ORDER_NO"/>
                <element name="NEW_AVAL_BY__DESC__"/>
                <element name="NEW_AVAL_BY"/>
                <element name="NEW_AVAL_WT_BK_ADD1"/>
                <element name="NEW_AVAL_WT_BK_ADD2"/>
                <element name="NEW_AVAL_WT_BK_ADD3"/>
                <element name="NEW_AVAL_WT_BK_ADD_BTN"/>
                <element name="NEW_AVAL_WT_BK_ID"/>
                <element name="NEW_AVAL_WT_BK_NM"/>
                <element name="NEW_AVAL_WT_BK_NOTES"/>
                <element name="NEW_AVAL_WT_BK_OPT__DESC__"/>
                <element name="NEW_AVAL_WT_BK_OPT"/>
                <element name="NEW_AVAL_WT_BK_ORDER_NO"/>
                <element name="NEW_AVAL_WT_BK_SW_ADD"/>
                <element name="NEW_AVAL_WT_BK_SW_TAG"/>
                <element name="NEW_AVLBL_BK_ID_BTN"/>
                <element name="NEW_BENE_ACNO"/>
                <element name="NEW_BENE_AC_OFF_CD"/>
                <element name="NEW_BENE_ADD1"/>
                <element name="NEW_BENE_ADD2"/>
                <element name="NEW_BENE_ADD3"/>
                <element name="NEW_BENE_ADD_BTN"/>
                <element name="NEW_BENE_CORR_MED__DESC__"/>
                <element name="NEW_BENE_CORR_MED"/>
                <element name="NEW_BENE_EMAIL"/>
                <element name="NEW_BENE_FAX"/>
                <element name="NEW_BENE_ID"/>
                <element name="NEW_BENE_ID_BTN"/>
                <element name="NEW_BENE_LANG__DESC__"/>
                <element name="NEW_BENE_LANG"/>
                <element name="NEW_BENE_MAIL_ADD"/>
                <element name="NEW_BENE_NM"/>
                <element name="NEW_BENE_NOTES"/>
                <element name="NEW_BENE_ORDER_NO"/>
                <element name="NEW_BENE_ORDER_POST"/>
                <element name="NEW_BENE_POST_ADD_BTN"/>
                <element name="NEW_BENE_REF"/>
                <element name="NEW_BENE_TLX"/>
                <element name="NEW_BK_TO_BK_INFO"/>
                <element name="NEW_CONF_BK_ADD1"/>
                <element name="NEW_CONF_BK_ADD2"/>
                <element name="NEW_CONF_BK_ADD3"/>
                <element name="NEW_CONF_BK_ID"/>
                <element name="NEW_CONF_BK_ID_BTN"/>
                <element name="NEW_CONF_BK_NM"/>
                <element name="NEW_CONF_BK_NOTES"/>
                <element name="NEW_CONF_BK_SW_ADD"/>
                <element name="NEW_CONF_BK_SW_TAG"/>
                <element name="NEW_CONF_INSTR__DESC__"/>
                <element name="NEW_CONF_INSTR"/>
                <element name="NEW_DEF_PMT_DET"/>
                <element name="NEW_DEST_PLACE"/>
                <element name="NEW_DEST_PORT"/>
                <element name="NEW_DRAFTS_AT"/>
                <element name="NEW_DRWE_ADD1"/>
                <element name="NEW_DRWE_ADD2"/>
                <element name="NEW_DRWE_ADD3"/>
                <element name="NEW_DRWE_ADD_BTN"/>
                <element name="NEW_DRWE_ID"/>
                <element name="NEW_DRWE_ID_BTN"/>
                <element name="NEW_DRWE_NM"/>
                <element name="NEW_DRWE_NOTES"/>
                <element name="NEW_DRWE_ORDER_NO"/>
                <element name="NEW_DRWE_SW_ADD"/>
                <element name="NEW_DRWE_SW_TAG"/>
                <element name="NEW_EXPIRY_DT"/>
                <element name="NEW_EXPIRY_PLC"/>
                <element name="NEW_EXPIRY_PLC_NA"/>
                <element name="NEW_FORM_OF_LC__DESC__"/>
                <element name="NEW_FORM_OF_LC"/>
                <element name="NEW_INCOTERMS"/>
                <element name="NEW_LC_AMT"/>
                <element name="NEW_LC_AMT_DETR"/>
                <element name="NEW_LC_BAL"/>
                <element name="NEW_LC_BAL_DETR"/>
                <element name="NEW_LOAD_PLACE"/>
                <element name="NEW_LOAD_PORT"/>
                <element name="NEW_LTST_SHIP_DT"/>
                <element name="NEW_MIX_PMT_DETL"/>
                <element name="NEW_NEG_TOL"/>
                <element name="NEW_PARTIAL_SHIP"/>
                <element name="NEW_PARTIAL_SHIP_NARR"/>
                <element name="NEW_POS_TOL"/>
                <element name="NEW_REIM_BK_AC_NO"/>
                <element name="NEW_REIM_BK_ADD1"/>
                <element name="NEW_REIM_BK_ADD2"/>
                <element name="NEW_REIM_BK_ADD3"/>
                <element name="NEW_REIM_BK_ADD_BTN"/>
                <element name="NEW_REIM_BK_AUTH_REQ__DESC__"/>
                <element name="NEW_REIM_BK_AUTH_REQ"/>
                <element name="NEW_REIM_BK_CHG_DESC__DESC__"/>
                <element name="NEW_REIM_BK_CHG_DESC"/>
                <element name="NEW_REIM_BK_CORR_MED__DESC__"/>
                <element name="NEW_REIM_BK_CORR_MED"/>
                <element name="NEW_REIM_BK_ID"/>
                <element name="NEW_REIM_BK_ID_BTN"/>
                <element name="NEW_REIM_BK_MAIL_ADD"/>
                <element name="NEW_REIM_BK_NM"/>
                <element name="NEW_REIM_BK_NOTES"/>
                <element name="NEW_REIM_BK_ORDER_NO"/>
                <element name="NEW_REIM_BK_ORDER_POST"/>
                <element name="NEW_REIM_BK_OTH_CHG_NARR"/>
                <element name="NEW_REIM_BK_POST_ADD_BTN"/>
                <element name="NEW_REIM_BK_REF"/>
                <element name="NEW_REIM_BK_SW_ADD"/>
                <element name="NEW_REIM_BK_SW_TAG"/>
                <element name="NEW_REIM_BK_TLX"/>
                <element name="NEW_REIM_NARR_TAG_77"/>
                <element name="NEW_SHIP_PRD"/>
                <element name="NEW_TENOR_DAYS"/>
                <element name="NEW_TENOR_TYPE__DESC__"/>
                <element name="NEW_TENOR_TYPE"/>
                <element name="NEW_TNSHIP"/>
                <element name="NEW_TNSHIP_NARR"/>
                <element name="NON_BANK_ISSUER_ADD1"/>
                <element name="NON_BANK_ISSUER_ADD2"/>
                <element name="NON_BANK_ISSUER_ADD3"/>
                <element name="NON_BANK_ISSUER_ID"/>
                <element name="NON_BANK_ISSUER_ID_BTN"/>
                <element name="NON_BANK_ISSUER_NM"/>
                <element name="NOTES"/>
                <element name="NO_OF_AMD"/>
                <element name="NO_OF_AMD_B"/>
                <element name="NO_OF_DRAW"/>
                <element name="NXT_STATUS"/>
                <element name="ORIGINAL_LC_BAL"/>
                <element name="OVERRIDE_RESN"/>
                <element name="PARTIAL_SHIP__DESC__"/>
                <element name="PARTIAL_SHIP"/>
                <element name="PARTIAL_SHIP_NARR"/>
                <element name="PAY_COND_TO_BENE"/>
                <element name="PAY_COND_TO_REV_BK"/>
                <element name="POS_TOL"/>
                <element name="PRES_DAYS"/>
                <element name="PRES_PRD_TXT"/>
                <element name="PRES_TYPE__DESC__"/>
                <element name="PRES_TYPE"/>
                <element name="PURP_OF_MESS"/>
                <element name="PaymentTermsHeader">
                    <complexType>
                        <sequence>
                            <element name="CPYT_C_LOCAL_CCY"/>
                            <element name="CPYT_C_MIX_PAY_DETAIL"/>
                            <element name="CPYT_C_PAY_FOR"/>
                            <element name="CPYT_C_REF"/>
                            <element name="CPYT_C_TRX_CCY"/>
                            <element name="CPYT_INDIVID_DRAW_FLG"/>
                            <element name="CPYT_N_PAY_TTL_AMT_LCY"/>
                            <element name="CPYT_N_PAY_TTL_AMT_TXCCY"/>
                            <element name="PaymentTerms">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_C_PAY_PER"/>
                                        <element name="CPYT_C_SDA_FLAG"/>
                                        <element name="CPYT_C_TENOR_TYPE"/>
                                        <element name="CPYT_C_TENOR_DESC"/>
                                        <element name="CPYT_I_TENOR_DAYS"/>
                                        <element name="CPYT_D_TENOR_START_DATE"/>
                                        <element name="CPYT_N_PAY_AMT"/>
                                        <element name="CPYT_D_MAT_DATE"/>
                                        <element name="CPYT_PAY_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REIM_BK_AC_NO"/>
                <element name="REIM_BK_ADD1"/>
                <element name="REIM_BK_ADD2"/>
                <element name="REIM_BK_ADD3"/>
                <element name="REIM_BK_ADD_BTN"/>
                <element name="REIM_BK_AUTH_REQ__DESC__"/>
                <element name="REIM_BK_AUTH_REQ"/>
                <element name="REIM_BK_CHG_DESC__DESC__"/>
                <element name="REIM_BK_CHG_DESC"/>
                <element name="REIM_BK_CORR_MED__DESC__"/>
                <element name="REIM_BK_CORR_MED"/>
                <element name="REIM_BK_ID"/>
                <element name="REIM_BK_ID_BTN"/>
                <element name="REIM_BK_MAIL_ADD"/>
                <element name="REIM_BK_NM"/>
                <element name="REIM_BK_NOTES"/>
                <element name="REIM_BK_ORDER_NO"/>
                <element name="REIM_BK_ORDER_POST"/>
                <element name="REIM_BK_OTH_CHG_NARR"/>
                <element name="REIM_BK_POST_ADD_BTN"/>
                <element name="REIM_BK_REF"/>
                <element name="REIM_BK_SW_ADD"/>
                <element name="REIM_BK_SW_TAG"/>
                <element name="REIM_BK_TLX"/>
                <element name="REIM_NARR_TAG_77"/>
                <element name="RISK_AMT"/>
                <element name="RISK_DT"/>
                <element name="RV_COMMITCAT"/>
                <element name="RV_COMMITTAKENON__DESC__"/>
                <element name="RV_COMMITTAKENON"/>
                <element name="RV_FOR_ACCT_CUST_BK"/>
                <element name="RV_FOR_ACCT_OF_ID"/>
                <element name="RV_FOR_ACCT_OF_MAIL_ADD"/>
                <element name="RV_FOR_ACCT_OF_NM"/>
                <element name="RV_FOR_ACCT_OF_NOTES"/>
                <element name="RV_PRODUCTCODE"/>
                <element name="RV_TRXTYPE"/>
                <element name="SAME_AS_APPL_FLG"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="SENT_FLG__DESC__"/>
                <element name="SENT_FLG"/>
                <element name="SHIP_PRD"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SUB_MESS_TYPE"/>
                <element name="SYND_ADD"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="TEAM_NM"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_ADDIT_CONDITION"/>
                <element name="TEMP_ADDIT_COV_AMT"/>
                <element name="TEMP_ADV_THU_BK_ADD1"/>
                <element name="TEMP_ADV_THU_BK_ADD2"/>
                <element name="TEMP_ADV_THU_BK_ADD3"/>
                <element name="TEMP_ADV_THU_BK_ID"/>
                <element name="TEMP_ADV_THU_BK_NM"/>
                <element name="TEMP_ADV_THU_BK_SW_ADD"/>
                <element name="TEMP_ADV_THU_BK_SW_TAG"/>
                <element name="TEMP_AMD_CHG_PAY_BY"/>
                <element name="TEMP_AMD_NO"/>
                <element name="TEMP_AMT_SPEC__DESC__"/>
                <element name="TEMP_AMT_SPEC"/>
                <element name="TEMP_APLB_RULE_40E"/>
                <element name="TEMP_APLB_RULE_40F__DESC__"/>
                <element name="TEMP_APLB_RULE_40F"/>
                <element name="TEMP_APLB_RULE_NARR_TRANSFOR"/>
                <element name="TEMP_APLB_RULE_TRANSFOR"/>
                <element name="TEMP_ASSET_ACNO"/>
                <element name="TEMP_AVAL_BY__DESC__"/>
                <element name="TEMP_AVAL_BY"/>
                <element name="TEMP_AVAL_WT_BK_ADD1"/>
                <element name="TEMP_AVAL_WT_BK_ADD2"/>
                <element name="TEMP_AVAL_WT_BK_ADD3"/>
                <element name="TEMP_AVAL_WT_BK_ID"/>
                <element name="TEMP_AVAL_WT_BK_NM"/>
                <element name="TEMP_AVAL_WT_BK_OPT__DESC__"/>
                <element name="TEMP_AVAL_WT_BK_OPT"/>
                <element name="TEMP_AVAL_WT_BK_SW_ADD"/>
                <element name="TEMP_AVAL_WT_BK_SW_TAG"/>
                <element name="TEMP_BENE_ACNO"/>
                <element name="TEMP_BENE_AC_OFCD"/>
                <element name="TEMP_BENE_ADD1"/>
                <element name="TEMP_BENE_ADD2"/>
                <element name="TEMP_BENE_ADD3"/>
                <element name="TEMP_BENE_CORR_MED__DESC__"/>
                <element name="TEMP_BENE_CORR_MED"/>
                <element name="TEMP_BENE_EMAIL"/>
                <element name="TEMP_BENE_FAX"/>
                <element name="TEMP_BENE_ID"/>
                <element name="TEMP_BENE_LANG__DESC__"/>
                <element name="TEMP_BENE_LANG"/>
                <element name="TEMP_BENE_MAIL_ADD"/>
                <element name="TEMP_BENE_NM"/>
                <element name="TEMP_BENE_NOTES"/>
                <element name="TEMP_BENE_REF"/>
                <element name="TEMP_BENE_TLX"/>
                <element name="TEMP_BK_TO_BK_INFO"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CHARGES"/>
                <element name="TEMP_CONF_BK_ADD1"/>
                <element name="TEMP_CONF_BK_ADD2"/>
                <element name="TEMP_CONF_BK_ADD3"/>
                <element name="TEMP_CONF_BK_ID"/>
                <element name="TEMP_CONF_BK_NM"/>
                <element name="TEMP_CONF_BK_SW_ADD"/>
                <element name="TEMP_CONF_BK_SW_TAG"/>
                <element name="TEMP_CONF_INSTR__DESC__"/>
                <element name="TEMP_CONF_INSTR"/>
                <element name="TEMP_CORR_ATTCH"/>
                <element name="TEMP_CORR_CRSPD"/>
                <element name="TEMP_CORR_INSTR"/>
                <element name="TEMP_CURRNT_STATUS"/>
                <element name="TEMP_CUST_ATTCH"/>
                <element name="TEMP_CUST_CRSPD"/>
                <element name="TEMP_CUST_INSTR"/>
                <element name="TEMP_DEF_PMT_DET"/>
                <element name="TEMP_DESC_OF_GOODS"/>
                <element name="TEMP_DEST_PLACE"/>
                <element name="TEMP_DEST_PORT"/>
                <element name="TEMP_DOC_DT"/>
                <element name="TEMP_DOC_REQ_TRANSFER"/>
                <element name="TEMP_DRAFTS_AT"/>
                <element name="TEMP_DRWE_ADD1"/>
                <element name="TEMP_DRWE_ADD2"/>
                <element name="TEMP_DRWE_ADD3"/>
                <element name="TEMP_DRWE_ID"/>
                <element name="TEMP_DRWE_NM"/>
                <element name="TEMP_DRWE_SW_ADD"/>
                <element name="TEMP_DRWE_SW_TAG"/>
                <element name="TEMP_EXPIRY_DT"/>
                <element name="TEMP_EXPIRY_PLC_NA"/>
                <element name="TEMP_EXPIRY_PLC_NARR"/>
                <element name="TEMP_EXPIRY_PLC_NEW"/>
                <element name="TEMP_FORM_OF_LC"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_INCOTERMS"/>
                <element name="TEMP_INSTR_TO_PAY_BK"/>
                <element name="TEMP_LC_AMT"/>
                <element name="TEMP_LC_BAL"/>
                <element name="TEMP_LIAB_ACNO"/>
                <element name="TEMP_LOAD_PLACE"/>
                <element name="TEMP_LOAD_PORT"/>
                <element name="TEMP_LTST_SHIP_DT"/>
                <element name="TEMP_MIX_PMT_DETL"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_NEG_TOL"/>
                <element name="TEMP_NEW_LC_AMT"/>
                <element name="TEMP_PARTIAL_SHIP"/>
                <element name="TEMP_PART_SHIP_NA"/>
                <element name="TEMP_PAY_COND_TO_BENE"/>
                <element name="TEMP_PAY_COND_TO_REV_BK"/>
                <element name="TEMP_POS_TOL"/>
                <element name="TEMP_PRES_DAYS"/>
                <element name="TEMP_PRES_PRD_TXT"/>
                <element name="TEMP_PRES_TYPE__DESC__"/>
                <element name="TEMP_PRES_TYPE"/>
                <element name="TEMP_REIM_BK_AC_NO"/>
                <element name="TEMP_REIM_BK_ADD1"/>
                <element name="TEMP_REIM_BK_ADD2"/>
                <element name="TEMP_REIM_BK_ADD3"/>
                <element name="TEMP_REIM_BK_CHG_DESC__DESC__"/>
                <element name="TEMP_REIM_BK_CHG_DESC"/>
                <element name="TEMP_REIM_BK_CORR_MED__DESC__"/>
                <element name="TEMP_REIM_BK_CORR_MED"/>
                <element name="TEMP_REIM_BK_ID"/>
                <element name="TEMP_REIM_BK_MAIL_ADD"/>
                <element name="TEMP_REIM_BK_NM"/>
                <element name="TEMP_REIM_BK_OTH_CHG_NARR"/>
                <element name="TEMP_REIM_BK_REF"/>
                <element name="TEMP_REIM_BK_SW_ADD"/>
                <element name="TEMP_REIM_BK_SW_TAG"/>
                <element name="TEMP_REIM_NARR_TAG_77"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RV_DEBITACC"/>
                <element name="TEMP_RV_MATDATE"/>
                <element name="TEMP_SEND_TO_RCV_INFO_MT707"/>
                <element name="TEMP_SHIP_PRD"/>
                <element name="TEMP_TAG_39A"/>
                <element name="TEMP_TEAM_NAME"/>
                <element name="TEMP_TNSHIP"/>
                <element name="TEMP_TNSHIP_NARR"/>
                <element name="TEMP_USER_EMAIL"/>
                <element name="TEMP_USER_FAX"/>
                <element name="TEMP_USER_NM"/>
                <element name="TEMP_USER_TEL_NO"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_TEMP"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TNSHIP__DESC__"/>
                <element name="TNSHIP"/>
                <element name="TNSHIP_NARR"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="WEB_REF"/>
                <element name="X798_21A_CUST_REF"/>
                <element name="X798_23X_CODE"/>
                <element name="X798_23X_NARR"/>
                <element name="X798_72C_B2C_INFO"/>
                <element name="X798_ADD_BK_REF"/>
                <element name="X798_ADD_CUST_REF"/>
                <element name="X798_ADV_BK_REF_21P"/>
                <element name="X798_BANK_CONT"/>
                <element name="X798_CRE_DATE"/>
                <element name="X798_CRE_TIME"/>
                <element name="X798_CUST_ADD"/>
                <element name="X798_CUST_ID_CD__DESC__"/>
                <element name="X798_CUST_ID_CD"/>
                <element name="X798_CUST_ID_NARR"/>
                <element name="X798_CUST_REF"/>
                <element name="X798_LEAD_BK_ID"/>
                <element name="X798_PROC_BK_ID"/>
                <element name="button1"/>
                <element name="button2"/>
                <element name="button3"/>
                <element name="button4"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
