EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_AmendSBRfromCERequest_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AMT_AVAL_FOR_FUNDING"/>
                            <element name="B_BUYER"/>
                            <element name="B_SELLER"/>
                            <element name="Buyer_Info">
                                <complexType>
                                    <sequence>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="FA_BUYER_BK_BRCH"/>
                                        <element name="FA_BUYER_CITY"/>
                                        <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                                        <element name="FA_BUYER_CNTC_FLG"/>
                                        <element name="FA_BUYER_CONT_ADDR"/>
                                        <element name="FA_BUYER_CONT_FAX"/>
                                        <element name="FA_BUYER_CONT_MAIL"/>
                                        <element name="FA_BUYER_CONT_NM"/>
                                        <element name="FA_BUYER_CONT_TEL"/>
                                        <element name="FA_BUYER_ID"/>
                                        <element name="FA_BUYER_NM"/>
                                        <element name="FA_BUYER_NM2"/>
                                        <element name="FA_BUYER_POSTBOX"/>
                                        <element name="FA_BUYER_POSTCODE"/>
                                        <element name="FA_BUYER_PROV"/>
                                        <element name="FA_CUST_FLAG__DESC__"/>
                                        <element name="FA_CUST_FLAG"/>
                                        <element name="FA_INSU_AGR_NO"/>
                                        <element name="FA_INSU_COMP_FLAG__DESC__"/>
                                        <element name="FA_INSU_COMP_FLAG"/>
                                        <element name="FA_PCA_REF"/>
                                        <element name="FA_SBR_AMT"/>
                                        <element name="FA_SBR_CCY"/>
                                        <element name="FA_SBR_REF"/>
                                        <element name="FA_SEL_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="CHG_PAID_BY__DESC__"/>
                            <element name="CHG_PAID_BY"/>
                            <element name="CLERK_ID"/>
                            <element name="CUST_ID"/>
                            <element name="CUST_OFFC_CNTC_NM1"/>
                            <element name="CUST_OFFC_CNTC_NM2"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXCH_RT1"/>
                            <element name="FACI_BAL"/>
                            <element name="FACI_TYPE"/>
                            <element name="FA_ACK_FLG__DESC__"/>
                            <element name="FA_ACK_FLG"/>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_AGM_SIGN_FLG__DESC__"/>
                            <element name="FA_AGM_SIGN_FLG"/>
                            <element name="FA_ANCHOR_AMT"/>
                            <element name="FA_ANCHOR_CCY"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_AUTO_DEBIT__DESC__"/>
                            <element name="FA_AUTO_DEBIT"/>
                            <element name="FA_AUTO_FIN__DESC__"/>
                            <element name="FA_AUTO_FIN"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BA_LINK"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_ADD_ML"/>
                            <element name="FA_BUYER_BK_BRCH"/>
                            <element name="FA_BUYER_BK_NM"/>
                            <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                            <element name="FA_BUYER_CNTC_FLG"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_BUYER_NM2"/>
                            <element name="FA_CMMR_CNTR_DTL"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_COM_INV_FLG__DESC__"/>
                            <element name="FA_COM_INV_FLG"/>
                            <element name="FA_CREDIT_NOTE_PER"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_DECR_AMT"/>
                            <element name="FA_DEDUCT_CHG_PMT__DESC__"/>
                            <element name="FA_DEDUCT_CHG_PMT"/>
                            <element name="FA_DIRECT_DEBIT_FLG__DESC__"/>
                            <element name="FA_DIRECT_DEBIT_FLG"/>
                            <element name="FA_DOC_REF_TEMP"/>
                            <element name="FA_DOC_REQD"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_FIN_INFO"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_INCO_ID"/>
                            <element name="FA_INCO_NM"/>
                            <element name="FA_INCR_AMT"/>
                            <element name="FA_IRT_SPREAD"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_LMT_AC_NO"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_DUE_DT2"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                            <element name="FA_LOAN_IRATE_TYPE"/>
                            <element name="FA_MAX_AMT"/>
                            <element name="FA_MAX_CCY"/>
                            <element name="FA_MAX_FIN_TENOR"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_MIN_FIN_TENOR"/>
                            <element name="FA_ORG_DUE_DT"/>
                            <element name="FA_ORG_LMT_AMT"/>
                            <element name="FA_OVD_IRT_SPREAD"/>
                            <element name="FA_PCA_REF"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PMT_TERMS_FLG__DESC__"/>
                            <element name="FA_PMT_TERMS_FLG"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_REBATE_ACCOUNT"/>
                            <element name="FA_REBATE_RATE"/>
                            <element name="FA_RELATION_STATUS__DESC__"/>
                            <element name="FA_RELATION_STATUS"/>
                            <element name="FA_REMI_CCY1"/>
                            <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                            <element name="FA_REQ_BUYER_APR_FLG"/>
                            <element name="FA_REQ_FIN_FLG__DESC__"/>
                            <element name="FA_REQ_FIN_FLG"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_AC_NO"/>
                            <element name="FA_SEL_ADD_ML"/>
                            <element name="FA_SEL_BK_BR"/>
                            <element name="FA_SEL_BK_NM"/>
                            <element name="FA_SEL_CNTC_FLG__DESC__"/>
                            <element name="FA_SEL_CNTC_FLG"/>
                            <element name="FA_SEL_CONT_FAX"/>
                            <element name="FA_SEL_CONT_MAIL"/>
                            <element name="FA_SEL_CONT_NM"/>
                            <element name="FA_SEL_CONT_TEL"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SEL_NM2"/>
                            <element name="FA_SEL_PAYMENT__DESC__"/>
                            <element name="FA_SEL_PAYMENT"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_SUPPLIER_REQ__DESC__"/>
                            <element name="FA_SUPPLIER_REQ"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TTL_SEL_TNOV"/>
                            <element name="FA_TTL_SEL_TNOVCCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_OUTC_APL"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="LimitsDo">
                                <complexType>
                                    <sequence>
                                        <element name="LM_BASE_CCY"/>
                                        <element name="LM_CRED_LMT"/>
                                        <element name="LM_CRT_DAY"/>
                                        <element name="LM_DEBT_LMT"/>
                                        <element name="LM_DUE_DAY"/>
                                        <element name="LM_ERATE"/>
                                        <element name="LM_EVENT_TYPE"/>
                                        <element name="LM_ID"/>
                                        <element name="LM_NM"/>
                                        <element name="LM_PARENT_ID"/>
                                        <element name="LM_PARENT_NM"/>
                                        <element name="LM_REALLO"/>
                                        <element name="LM_REVOLVING"/>
                                        <element name="LM_STR_DAY"/>
                                        <element name="LM_TYPE"/>
                                        <element name="LM_TYPE_DESC"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PO_MAX_LOAN_PERC"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RCUST_ID"/>
                            <element name="SUB_DESC"/>
                            <element name="TEMP_FLG1__DESC__"/>
                            <element name="TEMP_FLG1"/>
                            <element name="TRX_DT"/>
                            <element name="VAT_RT"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
