EE_PARA/EE_PARA/Default/FORM/form_multi_schema_210_SEQ_B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="X103MEDIBKADD1_56A"/>
<element name="X103MEDIBKADD2_56A"/>
<element name="X103MEDIBKADD3_56A"/>
<element name="X103_52_ORDER_NO"/>
<element name="X103_56_ORDER_NO"/>
<element name="X103_ID_50_BTN"/>
<element name="X103_ID_52_BTN"/>
<element name="X103_ID_56_BTN"/>
<element name="X103_MEDIBKACNO56A"/>
<element name="X103_MEDI_BKID_56A"/>
<element name="X103_MEDI_BKNM_56A"/>
<element name="X103_MEDI_BKSW_56A"/>
<element name="X103_ORDBKACNO_52A"/>
<element name="X103_ORDBKADD1_52A"/>
<element name="X103_ORDBKADD2_52A"/>
<element name="X103_ORDBKADD3_52A"/>
<element name="X103_ORDCUACNO_50A"/>
<element name="X103_ORDCUADD1_50A"/>
<element name="X103_ORDCUADD2_50A"/>
<element name="X103_ORDCUADD3_50A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_ORDCU_NM_50A"/>
<element name="X103_ORDCU_SW_50A"/>
<element name="X103_ORD_BKID_52A"/>
<element name="X103_ORD_BKNM_52A"/>
<element name="X103_ORD_BKSW_52A"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_52A"/>
<element name="X103_TAG_56A"/>
<element name="X210_21_REF"/>
<element name="X210_32B_AMT"/>
<element name="X210_32B_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
