EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PERCENTAGE_PM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_AGREE_DESC"/>
                            <element name="C_MIN_CCY"/>
                            <element name="C_PERIOD_NUM"/>
                            <element name="C_PERIOD_UNIT"/>
                            <element name="F_BASE_PERCENTAGE"/>
                            <element name="F_EXTEND_PERCENTAGE"/>
                            <element name="F_TEMP1_PERCENTAGE"/>
                            <element name="I_PERIOD_MAX"/>
                            <element name="I_PERIOD_MIN"/>
                            <element name="Y_MAX_AMT"/>
                            <element name="Y_MIN_AMT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
