EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_StatusChangeReqReject_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSU_CCY"/>
<element name="TSU_GOODS_DESC"/>
<element name="TSU_INSTR_TP__DESC__"/>
<element name="TSU_INSTR_TP"/>
<element name="TSU_LATST_SHIP_DT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_PO_INITIATOR__DESC__"/>
<element name="TSU_PO_INITIATOR"/>
<element name="TSU_PROPSD_STS__DESC__"/>
<element name="TSU_PROPSD_STS"/>
<element name="TSU_PRTL_SHIPMNT__DESC__"/>
<element name="TSU_PRTL_SHIPMNT"/>
<element name="TSU_REJT_RSN2"/>
<element name="TSU_REQ_STS__DESC__"/>
<element name="TSU_REQ_STS"/>
<element name="TSU_TID"/>
<element name="TSU_TTL_NET_AMT"/>
</sequence>
</complexType>
</element>
</schema>
