EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_ReleaseBuyerLimitsandEloanPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BUYER_SETL__DESC__"/>
                            <element name="ACC_BUYER_SETL"/>
                            <element name="ACC_FACI_ID"/>
                            <element name="AI_ACT_AMT"/>
                            <element name="AI_DUE_DT"/>
                            <element name="AI_ID"/>
                            <element name="AI_NUM"/>
                            <element name="AI_ORG_AMT"/>
                            <element name="AI_PMT_DT"/>
                            <element name="AI_SP_ID__DESC__"/>
                            <element name="AI_SP_ID"/>
                            <element name="AI_STAT_STAFF_CD__DESC__"/>
                            <element name="AI_STAT_STAFF_CD"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="CONFIRM_TP"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="EXCP_FLAG__DESC__"/>
                            <element name="EXCP_FLAG"/>
                            <element name="HLM_EPRN"/>
                            <element name="IS_FUNDED__DESC__"/>
                            <element name="IS_FUNDED"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="LMT_CSL_DESC"/>
                            <element name="LMT_EXCP_DTL"/>
                            <element name="LMT_FACI_TY"/>
                            <element name="LMT_RELE"/>
                            <element name="LMT_RETN_CD__DESC__"/>
                            <element name="LMT_RETN_CD"/>
                            <element name="LMT_RETN_DESC"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="MATCH_STAT__DESC__"/>
                            <element name="MATCH_STAT"/>
                            <element name="NUM_OF_INV"/>
                            <element name="OVD_INT_AMT"/>
                            <element name="PRE_ADV_DT"/>
                            <element name="RECON_STAT__DESC__"/>
                            <element name="RECON_STAT"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
