EE_PARA/EE_PARA/Default/FORM/form_schema_FAIF_RevisionofCreditCoverResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BA_UNIT_CODE"/>
                <element name="CLERK_ID"/>
                <element name="C_BU_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DECR_AMT"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_APPL_LMT_DUE_DT"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CAA_REF"/>
                <element name="FA_CAR_REF"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DECR_AMT"/>
                <element name="FA_DECR_COLLAT_AMT"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_LMT_EXCH_RT"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCR_AMT"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_LONG_DAYS"/>
                <element name="FA_LMT_TO_RETURN"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG_DT"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_ORG_LMT_AMT"/>
                <element name="FA_ORG_LMT_CCY"/>
                <element name="FA_ORG_TTL_COLLAT_AMT"/>
                <element name="FA_OWN_RISK_AMT"/>
                <element name="FA_OWN_RISK_PERC"/>
                <element name="FA_REASON__DESC__"/>
                <element name="FA_REASON"/>
                <element name="FA_REPL_CODE__DESC__"/>
                <element name="FA_REPL_CODE"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP_AMT10"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TEMP_AMT12"/>
                <element name="FA_TEMP_DT1"/>
                <element name="FA_TTL_COLLAT_AMT"/>
                <element name="INCR_AMT"/>
                <element name="PRODUCT_CODE"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
