EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_RegisterBPOFinancingInfor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ASSET_ACNO"/>
                <element name="BPO_PAY_OBLIGOR">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_REF"/>
                            <element name="PERCENT"/>
                            <element name="R_ASSET_ACNO"/>
                            <element name="TSU_APLBL_LAW"/>
                            <element name="TSU_BPOOBLGR_AMT"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_OBLGRBK_ADD1"/>
                            <element name="TSU_OBLGRBK_ADD2"/>
                            <element name="TSU_OBLGRBK_ADD3"/>
                            <element name="TSU_OBLGRBK_ID"/>
                            <element name="TSU_OBLGRBK_MAIL_ADD"/>
                            <element name="TSU_OBLGRBK_NM"/>
                            <element name="TSU_OBLGRBK_SW_TAG"/>
                            <element name="TSU_OBLGR_BK"/>
                            <element name="TSU_PMTOBLGR_AMT"/>
                            <element name="TSU_PMT_CHG_AMT"/>
                            <element name="TSU_PMT_CHG_PCTG"/>
                            <element name="TSU_PMT_XPRY_DT"/>
                            <element name="TSU_PO_ID"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CLERK_ID"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_BK_NM"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CUST_FLAG__DESC__"/>
                <element name="FA_CUST_FLAG"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_INCO_NM"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_DUE_DT2"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_OVD_IRT_SPREAD"/>
                <element name="FA_PCA_REF"/>
                <element name="FA_PMT_COND__DESC__"/>
                <element name="FA_PMT_COND"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_PMT_TERMS_FLG__DESC__"/>
                <element name="FA_PMT_TERMS_FLG"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_NO"/>
                <element name="FA_SEL_ADD_ML"/>
                <element name="FA_SEL_BK_BR"/>
                <element name="FA_SEL_BK_NM"/>
                <element name="FA_SEL_CNTC_FLG__DESC__"/>
                <element name="FA_SEL_CNTC_FLG"/>
                <element name="FA_SEL_CONT_FAX"/>
                <element name="FA_SEL_CONT_MAIL"/>
                <element name="FA_SEL_CONT_NM"/>
                <element name="FA_SEL_CONT_TEL"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_NM2"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP4"/>
                <element name="LimitsDo">
                    <complexType>
                        <sequence>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_DEBT_LMT"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_ERATE"/>
                            <element name="LM_EVENT_TYPE"/>
                            <element name="LM_ID"/>
                            <element name="LM_NM"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_PARENT_NM"/>
                            <element name="LM_REALLO"/>
                            <element name="LM_REVOLVING"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_TYPE"/>
                            <element name="LM_TYPE_DESC"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="TRX_DT"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_BK_BPO_FLG__DESC__"/>
                <element name="TSU_BK_BPO_FLG"/>
                <element name="TSU_CCY"/>
                <element name="TSU_C_MAIN_REF"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_TTL_NET_AMT"/>
                <element name="TTL_OBLIG_AMT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
