EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_POMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AUTH_AMT"/>
                            <element name="AUTH_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="C_XML_DATA_014"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TRX_DT"/>
                            <element name="GOODS_DESC"/>
                            <element name="NXT_STATUS"/>
                            <element name="PARENT_MAIN_REF"/>
                            <element name="PO_AMT"/>
                            <element name="PO_CCY"/>
                            <element name="PO_DT"/>
                            <element name="PO_DUE_DT"/>
                            <element name="PO_NO"/>
                            <element name="PO_VAL_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
