EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IAAC_InqAccAccrue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCESS_BY"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_EVENT_NO"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_REC_TYPE"/>
<element name="IA_C_REF_NO"/>
<element name="IA_D_ACCESS_DATE"/>
<element name="IA_D_ACCRUAL_DATE"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_POST_FROMDATE"/>
<element name="IA_D_POST_TODATE"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_I_NO_OF_DAYS"/>
<element name="IA_N_ACCRUAL_RATE"/>
<element name="IA_N_ADJUST_INT"/>
<element name="IA_N_BASADJUST_INT"/>
<element name="IA_N_BASIC_RATE"/>
<element name="IA_N_CURBAS_ADJINT"/>
<element name="IA_N_CURRNT_ADJINT"/>
<element name="IA_N_DAILYBAS_AMT"/>
<element name="IA_N_DAILYINT_AMT"/>
<element name="IA_N_EXTEND_RATE"/>
<element name="IA_N_PEN_RATE"/>
<element name="IA_N_SPR_RATE"/>
<element name="IA_Y_ACCRBAS_INT"/>
<element name="IA_Y_ACCRUAL_INT"/>
<element name="IA_Y_BAS_POST_INT"/>
<element name="IA_Y_OUTSD_AMT"/>
<element name="IA_Y_TTL_POST_INT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
