EE_PARA/EE_PARA/Default/FORM/form_schema_ABLF_ReceiveFinReqFromCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CE_MAIN_REF"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CUST_ID"/>
                <element name="FA_CUST_NM"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_LOAN_CCY"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_ID"/>
                <element name="FA_LOAN_STATUS"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP7"/>
                <element name="FA_TEMP_AMT7"/>
                <element name="FA_TEMP_AMT8"/>
                <element name="FA_TTL_LOAN_AMT"/>
                <element name="IA_C_BORROWER_ID"/>
                <element name="IA_C_CCY_CODE"/>
                <element name="IA_C_FUNCTION_ID"/>
                <element name="IA_C_UNIT_OF_CRT"/>
                <element name="IA_D_DUE_DATE"/>
                <element name="IA_D_TRX_VALDATE"/>
                <element name="IA_I_BASE_DAYS"/>
                <element name="IA_I_CCY_DEC"/>
                <element name="IA_I_DISCOUNT_DAYS"/>
                <element name="IA_N_DISCOUNT_RATE"/>
                <element name="IA_Y_REACC_INT"/>
                <element name="IA_Y_TRX_AMT"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RSV_LINK"/>
                <element name="MSG_TYPE"/>
                <element name="QR_CD_FLD"/>
                <element name="REG_INSPEC_ID"/>
                <element name="REG_INSPEC_NM"/>
                <element name="REG_NO"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
