EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_PayByCommercialInv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_CCY"/>
<element name="TSU_COMM_AMT"/>
<element name="TSU_COMM_DT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_NET_AMT"/>
<element name="TSU_NET_CCY"/>
<element name="TSU_TTL_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
