EE_PARA/EE_PARA/Default/FORM/form_schema_SYND_RegSyndByPartp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADDIT_CONDITION"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="ADV_DT"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_CNTY__DESC__"/>
                <element name="APPL_CNTY"/>
                <element name="APPL_ID"/>
                <element name="APPL_NM"/>
                <element name="AUTO_RENEW__DESC__"/>
                <element name="AUTO_RENEW"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BENE_NM"/>
                <element name="CONF_BAL"/>
                <element name="COUNTR_GTEE__DESC__"/>
                <element name="COUNTR_GTEE"/>
                <element name="C_MAIN_REF"/>
                <element name="DESC_OF_GOODS"/>
                <element name="DEST_PLACE"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FORACOF_NM"/>
                <element name="FXD_EXPIRY__DESC__"/>
                <element name="FXD_EXPIRY"/>
                <element name="GTEE_DETAILS_79"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="LC_NO"/>
                <element name="LEAD_TLX_NO"/>
                <element name="LOAD_PLACE"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MASTER_LC_BTN"/>
                <element name="MASTER_LG_BTN"/>
                <element name="MAST_END_DT"/>
                <element name="MAST_LC_AMT"/>
                <element name="MAST_LC_CCY"/>
                <element name="MAST_RISK_AMT"/>
                <element name="MAST_START_DT"/>
                <element name="MAST_TRX_DESC"/>
                <element name="MODULE_SELECT"/>
                <element name="NEG_TOL"/>
                <element name="NOTES"/>
                <element name="PCPT_AMT"/>
                <element name="PCPT_BAL"/>
                <element name="PCPT_CCY"/>
                <element name="PCPT_EXPIRY_DT"/>
                <element name="PCPT_START_DT"/>
                <element name="POS_TOL"/>
                <element name="ParticipantHeader">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_STATUS"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FUND_FLAG__DESC__"/>
                            <element name="FUND_FLAG"/>
                            <element name="GRACE_DAYS"/>
                            <element name="RECRS_PRTY_CNTY_CD"/>
                            <element name="RECRS_PRTY_NM"/>
                            <element name="RECRS_PRTY_REF"/>
                            <element name="RECRS_PRTY_SW_ADD"/>
                            <element name="RECRS_PRTY_SW_TAG"/>
                            <element name="SYND_AMT"/>
                            <element name="SYND_BAL"/>
                            <element name="SYND_CCY"/>
                            <element name="SYND_EXPIRY_DT"/>
                            <element name="SYND_PART_NO"/>
                            <element name="SYND_RISK_TYPE__DESC__"/>
                            <element name="SYND_RISK_TYPE"/>
                            <element name="TTL_FUNDED_AMT"/>
                            <element name="TTL_PART_AMT"/>
                            <element name="TTL_PART_BAL"/>
                            <element name="ParticipantDetail">
                                <complexType>
                                    <sequence>
                                        <element name="SYND_PART_ID"/>
                                        <element name="SYND_PART_NM"/>
                                        <element name="SYND_PART_REF"/>
                                        <element name="PART_PER"/>
                                        <element name="SYND_PART_AMT"/>
                                        <element name="FUND_AMT"/>
                                        <element name="SYND_PART_CCY"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="SYND_PART_ADD1"/>
                                        <element name="SYND_PART_ADD2"/>
                                        <element name="SYND_PART_ADD3"/>
                                        <element name="SYND_PART_SW_TAG"/>
                                        <element name="SYND_PART_SW_ADD"/>
                                        <element name="SYND_PART_CNTY_CD"/>
                                        <element name="SYND_PART_DISCLS__DESC__"/>
                                        <element name="SYND_PART_DISCLS"/>
                                        <element name="SYND_PART_START_DT"/>
                                        <element name="SYND_AC_NO"/>
                                        <element name="SYND_AC_WT_BK_ADD1"/>
                                        <element name="SYND_AC_WT_BK_ADD2"/>
                                        <element name="SYND_AC_WT_BK_ADD3"/>
                                        <element name="SYND_AC_WT_BK_ID"/>
                                        <element name="SYND_AC_WT_BK_NM"/>
                                        <element name="SYND_AC_WT_BK_SWAD"/>
                                        <element name="SYND_ACWT_BK_SWTAG"/>
                                        <element name="SYND_PART_LIABACNO"/>
                                        <element name="SYND_PART_TYPE__DESC__"/>
                                        <element name="SYND_PART_TYPE"/>
                                        <element name="SYND_PART_BAL"/>
                                        <element name="INC_AMT"/>
                                        <element name="DEC_AMT"/>
                                        <element name="SYND_TLUNPDCHG_AMT"/>
                                        <element name="SYND_TLUNPDCHG_BAL"/>
                                        <element name="SYND_TLUNPDCHG_CCY"/>
                                        <element name="SYND_CHG_NARR"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="SYND_PART_NAMT"/>
                                        <element name="PART_EMAIL_ADD"/>
                                        <element name="PART_FAX_NO"/>
                                        <element name="PART_MAIL_ADD"/>
                                        <element name="PART_TLX_NO"/>
                                        <element name="SYND_PART_FAMT"/>
                                        <element name="PART_CHG_RATE"/>
                                        <element name="PART_CR_ACNO"/>
                                        <element name="PART_CR_CCY"/>
                                        <element name="PART_CR_VLDT"/>
                                        <element name="PART_DR_ACNO"/>
                                        <element name="PART_DR_CCY"/>
                                        <element name="PART_DR_VLDT"/>
                                        <element name="C_TRX_STATUS"/>
                                        <element name="SYND_CHG_PD_AMT"/>
                                        <element name="PART_DR_AMT"/>
                                        <element name="PART_CR_AMT"/>
                                        <element name="SYND_CHG_BAL_AMT"/>
                                        <element name="SYND_CHG_PAID_AT"/>
                                        <element name="SYND_CHG_PAY_AMT"/>
                                        <element name="LEAD_NOTES"/>
                                        <element name="SYND_PART_NOTES"/>
                                        <element name="SYND_AC_WT_NOTES"/>
                                        <element name="SYND_PART_PAY_AMT"/>
                                        <element name="COMM_SCHE__DESC__"/>
                                        <element name="COMM_SCHE"/>
                                        <element name="CHG_POLICY__DESC__"/>
                                        <element name="CHG_POLICY"/>
                                        <element name="COMM_DT"/>
                                        <element name="COMM_START_DT"/>
                                        <element name="COMM_END_DT"/>
                                        <element name="NXT_COMM_DT"/>
                                        <element name="COMM_PRE"/>
                                        <element name="COMM_TYPE__DESC__"/>
                                        <element name="COMM_TYPE"/>
                                        <element name="FUND_FLAG__DESC__"/>
                                        <element name="FUND_FLAG"/>
                                        <element name="AMD_REG_DT"/>
                                        <element name="SYND_NO_OF_PERIODS"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="R_ASSET_ACNO"/>
                <element name="R_PARTY_CNTY"/>
                <element name="R_PARTY_NM"/>
                <element name="SOURCE_REF"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="SYND_PER"/>
                <element name="SYND_RISK_AMT"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_RECRS_PRTY_NM"/>
                <element name="TRX_TYPE"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
