EE_PARA/EE_PARA/Default/FORM/form_multi_schema_REIM_ProcessMT747.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AC_BK_NOTES"/>
                            <element name="AC_BK_ORDER_NO"/>
                            <element name="AC_BK_SW_ADD"/>
                            <element name="AC_BK_SW_TAG"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_ADD_BTN"/>
                            <element name="AC_WT_BK_ID"/>
                            <element name="AC_WT_BK_ID_BTN"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="AMD_DT"/>
                            <element name="AMD_REF"/>
                            <element name="AMEND_FLAG"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="AUTH_REIM_DATE"/>
                            <element name="AVAL_BK_ORDER_NO"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_BK_ADD_BTN"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_ORDER_NO"/>
                            <element name="CANCEL_AMD_FLG__DESC__"/>
                            <element name="CANCEL_AMD_FLG"/>
                            <element name="CASH_COV_AC_NO"/>
                            <element name="CASH_COV_AC_NO_BTN"/>
                            <element name="CASH_COV_AMT"/>
                            <element name="CASH_COV_AMT_TXCCY"/>
                            <element name="CASH_COV_BAL"/>
                            <element name="CASH_COV_BAL_TXCCY"/>
                            <element name="CASH_COV_CCY"/>
                            <element name="CASH_COV_DEC_AMT"/>
                            <element name="CASH_COV_DR_ACNO"/>
                            <element name="CASH_COV_DR_ACNO_BTN"/>
                            <element name="CASH_COV_HELD__DESC__"/>
                            <element name="CASH_COV_HELD"/>
                            <element name="CASH_COV_INC_AMT"/>
                            <element name="CASH_COV_PCT"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLM_REF"/>
                            <element name="CLOSE_DT"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_CR_AC_NO"/>
                            <element name="CONF_DR_AC_NO"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DEC_AMT"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ADD_BTN"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_ID_BTN"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_NOTES"/>
                            <element name="DRWE_ORDER_NO"/>
                            <element name="DRWE_SW_ADD"/>
                            <element name="DRWE_SW_TAG"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC__DESC__"/>
                            <element name="EXPIRY_PLC"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="GRACE_DAYS"/>
                            <element name="INC_AMT"/>
                            <element name="ISSUE_BK_AC_NO"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_CNTY"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="ISSUE_NARR_MAIL"/>
                            <element name="ISSUE_NARR_TAG_79"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LOCAL_AMT"/>
                            <element name="LOCAL_CCY"/>
                            <element name="LOCAL_RATE"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MSG_TYPE"/>
                            <element name="NARR_77"/>
                            <element name="NEG_TOL"/>
                            <element name="NEW_AMT_SPEC__DESC__"/>
                            <element name="NEW_AMT_SPEC"/>
                            <element name="NEW_EXPIRY_DT"/>
                            <element name="NEW_LC_AMT"/>
                            <element name="NEW_NEG_TOL"/>
                            <element name="NEW_POS_TOL"/>
                            <element name="NEW_REIM_CONF_BAL"/>
                            <element name="NEW_REIM_INST_BAL"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_AMD"/>
                            <element name="NXT_STATUS"/>
                            <element name="ORG_CASH_COV_AMT"/>
                            <element name="POS_TOL"/>
                            <element name="PRES_BK_ADD1"/>
                            <element name="PRES_BK_ADD2"/>
                            <element name="PRES_BK_ADD3"/>
                            <element name="PRES_BK_ADD_BTN"/>
                            <element name="PRES_BK_ID"/>
                            <element name="PRES_BK_ID_BTN"/>
                            <element name="PRES_BK_NM"/>
                            <element name="PRES_BK_NOTES"/>
                            <element name="PRES_BK_ORDER_NO"/>
                            <element name="PRES_BK_SW_ADD"/>
                            <element name="PRES_BK_SW_TAG"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REIM_BK_CHG_DESC__DESC__"/>
                            <element name="REIM_BK_CHG_DESC"/>
                            <element name="REIM_CONF_BAL"/>
                            <element name="REIM_INST_AMT"/>
                            <element name="REIM_INST_BAL"/>
                            <element name="SEND_TO__DESC__"/>
                            <element name="SEND_TO"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SYND_ADD"/>
                            <element name="SYND_FLG__DESC__"/>
                            <element name="SYND_FLG"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_AMT6"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_CASH_COV_PCT"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CLM_BK_ID"/>
                            <element name="TEMP_CLM_BK_NM"/>
                            <element name="TEMP_EXPIRY_DT"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TRX_CCY"/>
                            <element name="WEB_REF"/>
                            <element name="X730_ACCBKADD1_57A"/>
                            <element name="X730_ACCBKADD2_57A"/>
                            <element name="X730_ACCBKADD3_57A"/>
                            <element name="X730_ACC_BKACNO57A"/>
                            <element name="X730_ACC_BKID_57A"/>
                            <element name="X730_ACC_BKNM_57A"/>
                            <element name="X730_ACC_BKSW_57A"/>
                            <element name="X730_ACC_IDEN_25"/>
                            <element name="X730_ADV_BKADD1_B2"/>
                            <element name="X730_ADV_BKADD2_B2"/>
                            <element name="X730_ADV_BKADD3_B2"/>
                            <element name="X730_ADV_BKID_B2"/>
                            <element name="X730_ADV_BKNM_B2"/>
                            <element name="X730_ADV_BKSW_B2"/>
                            <element name="X730_BEACK_DT_30"/>
                            <element name="X730_BKTOBK_INFO72"/>
                            <element name="X730_CHG_AMT_32A"/>
                            <element name="X730_CHG_CCY_32A"/>
                            <element name="X730_CHG_DESC_71B"/>
                            <element name="X730_DOC_CRE_NO_20"/>
                            <element name="X730_RCVER_NO_21"/>
                            <element name="X730_TAG_32A"/>
                            <element name="X730_TAG_57A"/>
                            <element name="X730_VALUE_DT_32A"/>
                            <element name="XN99_NARRATIVE_79"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
