EE_PARA/EE_PARA/Default/FORM/form_schema_EXCO_AmendorDischarge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC2_NO"/>
                <element name="AC_OFFICER_CODE"/>
                <element name="AMD_74"/>
                <element name="AMD_DT"/>
                <element name="AMD_REF"/>
                <element name="AMD_TYPE__DESC__"/>
                <element name="AMD_TYPE"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="BENEF_CERT"/>
                <element name="BENEF_CERT_1"/>
                <element name="BENEF_CERT_2"/>
                <element name="BILL_INSTR"/>
                <element name="BK_TO_BK_INFO"/>
                <element name="BL_AWB"/>
                <element name="BL_AWB_1"/>
                <element name="BL_AWB_2"/>
                <element name="CERTIFICATE"/>
                <element name="CERTIFICATE_1"/>
                <element name="CERTIFICATE_2"/>
                <element name="CHARGE_DT"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CNTY_CODE"/>
                <element name="COLL_BK_ADD1"/>
                <element name="COLL_BK_ADD2"/>
                <element name="COLL_BK_ADD3"/>
                <element name="COLL_BK_ADD_BTN"/>
                <element name="COLL_BK_CORR_MED__DESC__"/>
                <element name="COLL_BK_CORR_MED"/>
                <element name="COLL_BK_ID"/>
                <element name="COLL_BK_ID_BTN"/>
                <element name="COLL_BK_LANG"/>
                <element name="COLL_BK_MAIL_ADD"/>
                <element name="COLL_BK_NM"/>
                <element name="COLL_BK_NOTES"/>
                <element name="COLL_BK_ORDER_NO"/>
                <element name="COLL_BK_ORDER_POST"/>
                <element name="COLL_BK_POST_ADD_BTN"/>
                <element name="COLL_BK_REF"/>
                <element name="COLL_BK_SW_ADD"/>
                <element name="COLL_BK_SW_TAG"/>
                <element name="COLL_BK_TEL_NO"/>
                <element name="COLL_CCY"/>
                <element name="COLL_DT"/>
                <element name="COLL_INT_FLG__DESC__"/>
                <element name="COLL_INT_FLG"/>
                <element name="COLL_TRX_CCY_AMT"/>
                <element name="COLL_TRX_CCY_BAL"/>
                <element name="COLL_TYPE__DESC__"/>
                <element name="COLL_TYPE"/>
                <element name="CONS_NM"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUST_REF"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DAY_MON_FLG__DESC__"/>
                <element name="DAY_MON_FLG"/>
                <element name="DEC_AMT"/>
                <element name="DELVR_DOC_AGST__DESC__"/>
                <element name="DELVR_DOC_AGST"/>
                <element name="DEST_PORT"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DISCHG_FLG__DESC__"/>
                <element name="DISCHG_FLG"/>
                <element name="DRAFT"/>
                <element name="DRAFT_1"/>
                <element name="DRAFT_2"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ADD_BTN"/>
                <element name="DRWE_CORR_MED__DESC__"/>
                <element name="DRWE_CORR_MED"/>
                <element name="DRWE_EMAIL"/>
                <element name="DRWE_FAX"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_ID_BTN"/>
                <element name="DRWE_LANG"/>
                <element name="DRWE_MAIL_ADD"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_NOTES"/>
                <element name="DRWE_ORDER_NO"/>
                <element name="DRWE_ORDER_POST"/>
                <element name="DRWE_POST_ADD_BTN"/>
                <element name="DRWE_REF"/>
                <element name="DRWE_TEL_NO"/>
                <element name="DRWR_ADD1"/>
                <element name="DRWR_ADD2"/>
                <element name="DRWR_ADD3"/>
                <element name="DRWR_ADD_BTN"/>
                <element name="DRWR_CORR_MED__DESC__"/>
                <element name="DRWR_CORR_MED"/>
                <element name="DRWR_EMAIL"/>
                <element name="DRWR_FAX"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_ID_BTN"/>
                <element name="DRWR_LANG"/>
                <element name="DRWR_MAIL_ADD"/>
                <element name="DRWR_NM"/>
                <element name="DRWR_NOTES"/>
                <element name="DRWR_ORDER_NO"/>
                <element name="DRWR_ORDER_POST"/>
                <element name="DRWR_POST_ADD_BTN"/>
                <element name="DRWR_TEL_NO"/>
                <element name="DUE_DT"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FREIGHT_INV"/>
                <element name="FREIGHT_INV_1"/>
                <element name="FREIGHT_INV_2"/>
                <element name="GOODS_CONS_TO__DESC__"/>
                <element name="GOODS_CONS_TO"/>
                <element name="GOODS_DESC"/>
                <element name="GOODS_ETA_DT"/>
                <element name="HOLD_DOC__DESC__"/>
                <element name="HOLD_DOC"/>
                <element name="INCASE_CORR_MED__DESC__"/>
                <element name="INCASE_CORR_MED"/>
                <element name="INCASE_OF_ND_ADD1"/>
                <element name="INCASE_OF_ND_ADD2"/>
                <element name="INCASE_OF_ND_ADD3"/>
                <element name="INCASE_OF_ND_ADD_BTN"/>
                <element name="INCASE_OF_ND_CONTACT"/>
                <element name="INCASE_OF_ND_ID"/>
                <element name="INCASE_OF_ND_ID_BTN"/>
                <element name="INCASE_OF_ND_MAIL_ADD"/>
                <element name="INCASE_OF_ND_NM"/>
                <element name="INCASE_OF_ND_NOTES"/>
                <element name="INCASE_OF_ND_ORDER_NO"/>
                <element name="INCASE_OF_ND_ORDER_POST"/>
                <element name="INCASE_OF_ND_POST_ADD_BTN"/>
                <element name="INCASE_PWR__DESC__"/>
                <element name="INCASE_PWR"/>
                <element name="INC_AMT"/>
                <element name="INSP_CERT"/>
                <element name="INSP_CERT_1"/>
                <element name="INSP_CERT_2"/>
                <element name="INSURANCE"/>
                <element name="INSURANCE_1"/>
                <element name="INSURANCE_2"/>
                <element name="INT_DAYS_BASIS__DESC__"/>
                <element name="INT_DAYS_BASIS"/>
                <element name="INT_FM_DT"/>
                <element name="INT_FM_PRD__DESC__"/>
                <element name="INT_FM_PRD"/>
                <element name="INT_RT"/>
                <element name="INT_TO_DT"/>
                <element name="INT_TO_PRD__DESC__"/>
                <element name="INT_TO_PRD"/>
                <element name="INVOICE"/>
                <element name="INVOICE_1"/>
                <element name="INVOICE_2"/>
                <element name="LOAD_PORT"/>
                <element name="LOCAL_AMT"/>
                <element name="LOCAL_CCY"/>
                <element name="LOCAL_RATE"/>
                <element name="LOGIN_BIC"/>
                <element name="MAIL_METHOD_1ST__DESC__"/>
                <element name="MAIL_METHOD_1ST"/>
                <element name="MAIL_METHOD_2ND__DESC__"/>
                <element name="MAIL_METHOD_2ND"/>
                <element name="MSG_TYPE"/>
                <element name="NARR_MAIL"/>
                <element name="NARR_TAG_79"/>
                <element name="NEW_COLL_AMT"/>
                <element name="NEW_COLL_CCY"/>
                <element name="NEW_COLL_TRX_CCY_AMT"/>
                <element name="NEW_DAY_MON_FLG"/>
                <element name="NEW_DAY_MON_FLG_TEMP"/>
                <element name="NEW_DRWE_ADD1"/>
                <element name="NEW_DRWE_ADD2"/>
                <element name="NEW_DRWE_ADD3"/>
                <element name="NEW_DRWE_ADD_BTN"/>
                <element name="NEW_DRWE_CORR_MED__DESC__"/>
                <element name="NEW_DRWE_CORR_MED"/>
                <element name="NEW_DRWE_EMAIL"/>
                <element name="NEW_DRWE_FAX"/>
                <element name="NEW_DRWE_ID"/>
                <element name="NEW_DRWE_ID_BTN"/>
                <element name="NEW_DRWE_LANG__DESC__"/>
                <element name="NEW_DRWE_LANG"/>
                <element name="NEW_DRWE_MAIL_ADD"/>
                <element name="NEW_DRWE_NM"/>
                <element name="NEW_DRWE_NOTES"/>
                <element name="NEW_DRWE_ORDER_NO"/>
                <element name="NEW_DRWE_ORDER_POST"/>
                <element name="NEW_DRWE_POST_ADD_BTN"/>
                <element name="NEW_DRWE_TEL_NO"/>
                <element name="NEW_DUE_DT"/>
                <element name="NEW_DUE_DT_TEMP"/>
                <element name="NEW_TAG32"/>
                <element name="NEW_TAG32_MAP"/>
                <element name="NEW_TAG33K"/>
                <element name="NEW_TENOR_DAYS"/>
                <element name="NEW_TENOR_DAYS_TEMP"/>
                <element name="NEW_TENOR_DETAILS"/>
                <element name="NEW_TENOR_DETAILS_TEMP"/>
                <element name="NEW_TENOR_START_DT"/>
                <element name="NEW_TENOR_START_DT_TEMP"/>
                <element name="NEW_TENOR_TYPE__DESC__"/>
                <element name="NEW_TENOR_TYPE"/>
                <element name="NEW_TENOR_TYPE_TEMP"/>
                <element name="NOTES"/>
                <element name="NO_OF_AMD"/>
                <element name="NO_OF_AMD_B"/>
                <element name="OLD_TAG32"/>
                <element name="OLD_TAG32_MAP"/>
                <element name="OTHERS"/>
                <element name="OTHERS_1"/>
                <element name="OTHERS_2"/>
                <element name="PACK_LIST"/>
                <element name="PACK_LIST_1"/>
                <element name="PACK_LIST_2"/>
                <element name="PRES_BK_ADD1"/>
                <element name="PRES_BK_ADD2"/>
                <element name="PRES_BK_ADD3"/>
                <element name="PRES_BK_ADD_BTN"/>
                <element name="PRES_BK_CORR_MED__DESC__"/>
                <element name="PRES_BK_CORR_MED"/>
                <element name="PRES_BK_ID"/>
                <element name="PRES_BK_ID_BTN"/>
                <element name="PRES_BK_MAIL_ADD"/>
                <element name="PRES_BK_NM"/>
                <element name="PRES_BK_NOTES"/>
                <element name="PRES_BK_ORDER_NO"/>
                <element name="PRES_BK_ORDER_POST"/>
                <element name="PRES_BK_POST_ADD_BTN"/>
                <element name="PRES_BK_SW_ADD"/>
                <element name="PRES_BK_SW_TAG"/>
                <element name="PROT_FOR"/>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REMT_DT"/>
                <element name="RT_CCY_LCY"/>
                <element name="SEND_AMD_BY"/>
                <element name="SHIPPED_BY__DESC__"/>
                <element name="SHIPPED_BY"/>
                <element name="SPCL_INSTR"/>
                <element name="STORE_INSURE_GOODS__DESC__"/>
                <element name="STORE_INSURE_GOODS"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TAG32"/>
                <element name="TAG32_MAP"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_BILL_INSTR__DESC__"/>
                <element name="TEMP_BILL_INSTR"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CHARGE_DT"/>
                <element name="TEMP_COLL_AMT_COLL_CCY"/>
                <element name="TEMP_COLL_BAL_COL_CCY"/>
                <element name="TEMP_CORR_ATTCH"/>
                <element name="TEMP_CORR_CRSPD"/>
                <element name="TEMP_CORR_INSTR"/>
                <element name="TEMP_CUST_ATTCH"/>
                <element name="TEMP_CUST_CRSPD"/>
                <element name="TEMP_CUST_INSTR"/>
                <element name="TEMP_DOC_DT"/>
                <element name="TEMP_DRWE_ADD1"/>
                <element name="TEMP_DRWE_ADD2"/>
                <element name="TEMP_DRWE_ADD3"/>
                <element name="TEMP_DRWE_CORR_MED__DESC__"/>
                <element name="TEMP_DRWE_CORR_MED"/>
                <element name="TEMP_DRWE_EMAIL"/>
                <element name="TEMP_DRWE_FAX"/>
                <element name="TEMP_DRWE_ID"/>
                <element name="TEMP_DRWE_LANG__DESC__"/>
                <element name="TEMP_DRWE_LANG"/>
                <element name="TEMP_DRWE_MAIL_ADD"/>
                <element name="TEMP_DRWE_NM"/>
                <element name="TEMP_DRWE_TEL_NO"/>
                <element name="TEMP_HOLD_DOC__DESC__"/>
                <element name="TEMP_HOLD_DOC"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_NEW_DUE_DT"/>
                <element name="TEMP_NEW_TENOR_FORM_MAP"/>
                <element name="TEMP_OLD_COLL_AMT"/>
                <element name="TEMP_OLD_COLL_CCY"/>
                <element name="TEMP_OLD_DUE_DT"/>
                <element name="TEMP_OLD_TAG32MAP"/>
                <element name="TEMP_PROT_FOR"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_STORE_INSURE_GOODS__DESC__"/>
                <element name="TEMP_STORE_INSURE_GOODS"/>
                <element name="TEMP_TENOR_FORM_MAP"/>
                <element name="TEMP_USER_EMAIL"/>
                <element name="TEMP_USER_FAX"/>
                <element name="TEMP_USER_NM"/>
                <element name="TEMP_USER_TEL_NO"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_DETAILS"/>
                <element name="TENOR_START_DT"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TEP_DRWE_ID"/>
                <element name="TRNSPT_DOC_NO"/>
                <element name="TRX_CCY"/>
                <element name="VESSEL_CERT"/>
                <element name="VESSEL_CERT_1"/>
                <element name="VESSEL_CERT_2"/>
                <element name="WAIVE_INT_REFUSED__DESC__"/>
                <element name="WAIVE_INT_REFUSED"/>
                <element name="WEB_REF"/>
                <element name="button1"/>
                <element name="button2"/>
                <element name="button3"/>
                <element name="button4"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
