EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRNB_NostroAccountNo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="DEFLT_FLG__DESC__"/>
                            <element name="DEFLT_FLG"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="INTMED_BK_SWADD"/>
                            <element name="NOSTRO_AC_NO"/>
                            <element name="NOSTRO_CCY"/>
                            <element name="NS_BK_ID"/>
                            <element name="NS_BK_SWADD"/>
                            <element name="PRODUCT_CODE"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
