EE_PARA/EE_PARA/Default/FORM/form_multi_schema_STAT_AgentMaintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ADD1"/>
                            <element name="ADD2"/>
                            <element name="ADD3"/>
                            <element name="AGNT1_AC_NO"/>
                            <element name="AGNT1_BK_ID"/>
                            <element name="AGNT1_BK_ID_BTN"/>
                            <element name="AGNT1_COMM_PCT"/>
                            <element name="AGNT1_PAID_BY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="EMAIL_ADD"/>
                            <element name="FAX_NO"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="MOBILE_NO"/>
                            <element name="NOTES"/>
                            <element name="PARTY_NM"/>
                            <element name="PARTY_WEBSITE"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="TEL_NO"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
