EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSUM_RoleAndBaselineAcceptance_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_ROLE_BASELN_DT"/>
                            <element name="TSU_ROLE_RLMSG_DTTM"/>
                            <element name="TSU_ROLE_RLMSG_ID"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TRX_AMD"/>
                            <element name="TSU_TRX_DTTM"/>
                            <element name="TSU_TRX_STATUS__DESC__"/>
                            <element name="TSU_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
