EE_PARA/EE_PARA/Default/FORM/form_schema_CFNC_Finance Overdue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ID"/>
                <element name="APPL_NM"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ID"/>
                <element name="BENE_NM"/>
                <element name="CFNC_C_CCY"/>
                <element name="CFNC_C_GRACE_DAYS"/>
                <element name="CFNC_C_GRACE_FLG__DESC__"/>
                <element name="CFNC_C_GRACE_FLG"/>
                <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                <element name="CFNC_C_ORIGIN_MODULE"/>
                <element name="CFNC_C_ORIGIN_TRX_REF"/>
                <element name="CFNC_C_OVERDUE_FLAG"/>
                <element name="CFNC_C_REF"/>
                <element name="CFNC_D_DT"/>
                <element name="CFNC_D_DUE_DT"/>
                <element name="CFNC_I_DAYS"/>
                <element name="CFNC_I_OVERDUE_DAYS"/>
                <element name="CFNC_N_AMT_LCCCY"/>
                <element name="CFNC_N_LIBOR_RT"/>
                <element name="CFNC_N_MARGIN_RT"/>
                <element name="CFNC_N_PAY_PNLT_INT"/>
                <element name="CFNC_N_PCT"/>
                <element name="CFNC_N_PNLT_RT"/>
                <element name="CFNC_N_PRE_INT"/>
                <element name="CFNC_N_RT"/>
                <element name="CFNC_N_TRXCCY_LCY"/>
                <element name="CFNC_OVERDUE_DT"/>
                <element name="CFNC_PAY_INT"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_NM"/>
                <element name="DRWR_ADD1"/>
                <element name="DRWR_ADD2"/>
                <element name="DRWR_ADD3"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_NM"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP7"/>
                <element name="FINC_TYPE__DESC__"/>
                <element name="FINC_TYPE"/>
                <element name="IA_C_CCY_CODE"/>
                <element name="IA_C_REF_NO"/>
                <element name="IA_D_DUE_DATE"/>
                <element name="IA_D_POST_FROMDATE"/>
                <element name="IA_D_POST_TODATE"/>
                <element name="IA_D_TRX_VALDATE"/>
                <element name="IA_I_BASE_DAYS"/>
                <element name="IA_I_CCY_DEC"/>
                <element name="IA_I_DISCOUNT_DAYS"/>
                <element name="IA_N_DISCOUNT_RATE"/>
                <element name="IA_Y_PENINT_AMT"/>
                <element name="IA_Y_REACC_INT"/>
                <element name="IA_Y_REFUND_INT"/>
                <element name="IA_Y_TRX_AMT"/>
                <element name="NOTES"/>
                <element name="QR_CD_FLD"/>
                <element name="REF_INQ_BTN"/>
                <element name="RELA_MAIN_REF"/>
                <element name="TEMP_CFNC_N_PAY_PNLT_INT"/>
                <element name="TEMP_CFNC_N_PRE_INT"/>
                <element name="TEMP_CFNC_N_REFUND"/>
                <element name="TEMP_CFNC_PAY_INT"/>
                <element name="TEMP_S"/>
                <element name="TRX_AMT"/>
                <element name="TRX_CCY"/>
                <element name="TTL_CHG_OUR"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
