EE_PARA/EE_PARA/Default/FORM/form_multi_schema_GTEE_ReceiveAmtFromCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AMD_DT"/>
                            <element name="AMD_REF"/>
                            <element name="APPL_ID"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEC_AMT"/>
                            <element name="GTEE_AMT"/>
                            <element name="GTEE_CCY"/>
                            <element name="INC_AMT"/>
                            <element name="LIST_SHIP_DT"/>
                            <element name="NEW_EXPIRY"/>
                            <element name="NEW_EXPIRY_DT"/>
                            <element name="NO_OF_AMD"/>
                            <element name="NXT_STATUS"/>
                            <element name="SHIP_PRD"/>
                            <element name="WEB_REF"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
