EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_010_Element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_ERR_ELMTNM"/>
<element name="TSU_ERR_ELMTPTH"/>
<element name="TSU_ERR_ELMTVAL"/>
<element name="TSU_ERR_SEQNO"/>
</sequence>
</complexType>
</element>
</schema>
