EE_PARA/EE_PARA/Default/FORM/form_schema_CancelationRelOpenWin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_REFUSE_REASON"/>
<element name="Document"/>
<element name="IsAgreeGroup"/>
<element name="Swift"/>
<element name="Transaction"/>
<element name="Voucher"/>
<element name="_cancel"/>
<element name="_confirm"/>
</sequence>
</complexType>
</element>
</schema>
