EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFDunning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CB_AC_NO"/>
                            <element name="FA_EDI_MSG_REF"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="OWNER_BR_NM"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_CHAR2"/>
                            <element name="TRX_DT"/>
                            <element name="Tracing">
                                <complexType>
                                    <sequence>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_DUNNING_FLG"/>
                                        <element name="FA_TEMP2"/>
                                        <element name="FA_TRF_DT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
