EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_CreditNotesTransfer_main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="CreNote">
                    <complexType>
                        <sequence>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_EF_HAN_CHG_PAMT"/>
                            <element name="FA_FIN_LOAN_AMT"/>
                            <element name="FA_FIN_RETURN_REQ__DESC__"/>
                            <element name="FA_FIN_RETURN_REQ"/>
                            <element name="FA_FIN_RET_BAL"/>
                            <element name="FA_IF_HAN_CHG_AMT"/>
                            <element name="FA_IF_HAN_CHG_CCY"/>
                            <element name="FA_IF_HAN_CHG_PAMT"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_ORDER_NO"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TEMP_AMT12"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TEMP_CRN_BAL"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FINC_CCY1"/>
                            <element name="FINC_CCY2"/>
                            <element name="FSBC_REF"/>
                            <element name="TEMP_AMT15"/>
                            <element name="TEMP_AMT18"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="EXCH_RT1"/>
                <element name="EXCH_RT2"/>
                <element name="EXCH_RT3"/>
                <element name="EXCH_RT4"/>
                <element name="EXCH_RT5"/>
                <element name="EXCH_RT6"/>
                <element name="FA_AMT_RETURN_TEMP"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUY_AC_AMT"/>
                <element name="FA_BUY_AC_CCY"/>
                <element name="FA_CB_FEE"/>
                <element name="FA_CB_FEE_CCY"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_REQD"/>
                <element name="FA_DOC_TYPE__DESC__"/>
                <element name="FA_DOC_TYPE"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_EF_HAN_CHG_PAMT"/>
                <element name="FA_EF_HAN_CHG_SUM"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_FIN_RETURN_REQ__DESC__"/>
                <element name="FA_FIN_RETURN_REQ"/>
                <element name="FA_IF_CHG_PAID_FLG"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IF_HAN_CHG_AMT"/>
                <element name="FA_IF_HAN_CHG_CCY"/>
                <element name="FA_IF_HAN_CHG_PAMT"/>
                <element name="FA_IF_HAN_CHG_SUM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_INCO_NM"/>
                <element name="FA_INV_CCY1"/>
                <element name="FA_INV_CCY2"/>
                <element name="FA_INV_CCY3"/>
                <element name="FA_INV_CCY4"/>
                <element name="FA_INV_CCY5"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_AMT"/>
                <element name="FA_SEL_AC_CCY"/>
                <element name="FA_SEL_CONT_ADDR"/>
                <element name="FA_SEL_CONT_FAX"/>
                <element name="FA_SEL_CONT_MAIL"/>
                <element name="FA_SEL_CONT_TEL"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TRF_DT"/>
                <element name="FA_TRF_REF"/>
                <element name="FA_TTL_COMM_RT"/>
                <element name="FA_TTL_CRN_AMT"/>
                <element name="FA_TTL_CRN_NO"/>
                <element name="FA_TTL_FIN_RET_BAL"/>
                <element name="FA_TTL_IF_CHG_AMT"/>
                <element name="FINC_CCY1"/>
                <element name="FINC_CCY2"/>
                <element name="LimitsDo">
                    <complexType>
                        <sequence>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_DEBT_LMT"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_ERATE"/>
                            <element name="LM_EVENT_TYPE"/>
                            <element name="LM_ID"/>
                            <element name="LM_NM"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_PARENT_NM"/>
                            <element name="LM_REALLO"/>
                            <element name="LM_REVOLVING"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_TYPE"/>
                            <element name="LM_TYPE_DESC"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEMP_AMT14"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
