EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CFNC_Finance Amend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_NM"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_NM"/>
                            <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                            <element name="CFNC_C_ORIGIN_MODULE"/>
                            <element name="CFNC_C_ORIGIN_TRX_REF"/>
                            <element name="CFNC_DISCOUNT_AMT"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWR_ADD1"/>
                            <element name="DRWR_ADD2"/>
                            <element name="DRWR_ADD3"/>
                            <element name="DRWR_ID"/>
                            <element name="DRWR_NM"/>
                            <element name="FincAmend">
                                <complexType>
                                    <sequence>
                                        <element name="AMEND_AMT"/>
                                        <element name="CFNC_C_AC_NO"/>
                                        <element name="CFNC_C_AC_TYPE"/>
                                        <element name="CFNC_C_AMEND_APPROVE_STATUS"/>
                                        <element name="CFNC_C_AMEND_TYPE"/>
                                        <element name="CFNC_C_APPROVE_STATUS"/>
                                        <element name="CFNC_C_CCY"/>
                                        <element name="CFNC_C_CUST_ID"/>
                                        <element name="CFNC_C_EXTEN_AC_TYPE"/>
                                        <element name="CFNC_C_EXTEN_AC_TYPE_E"/>
                                        <element name="CFNC_C_EXTEN_INT_MODE"/>
                                        <element name="CFNC_C_EXTEN_INT_MTHD"/>
                                        <element name="CFNC_C_FFGE_NO"/>
                                        <element name="CFNC_C_FUNC_NAME"/>
                                        <element name="CFNC_C_GRACE_DAYS"/>
                                        <element name="CFNC_C_GRACE_FLG__DESC__"/>
                                        <element name="CFNC_C_GRACE_FLG"/>
                                        <element name="CFNC_C_INIT_FLG"/>
                                        <element name="CFNC_C_INT_MODE"/>
                                        <element name="CFNC_C_INT_MTHD"/>
                                        <element name="CFNC_C_INT_PAYABLE"/>
                                        <element name="CFNC_C_LAST_REF"/>
                                        <element name="CFNC_C_LAST_TYPE"/>
                                        <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                                        <element name="CFNC_C_ORIGIN_MODULE"/>
                                        <element name="CFNC_C_OTHER_TYPE"/>
                                        <element name="CFNC_C_OVERDUE_FLAG"/>
                                        <element name="CFNC_C_OVERDUE_NO"/>
                                        <element name="CFNC_C_PACK_AMT"/>
                                        <element name="CFNC_C_PACK_BAL"/>
                                        <element name="CFNC_C_PACK_CCY"/>
                                        <element name="CFNC_C_PACK_FLAG"/>
                                        <element name="CFNC_C_PACK_NO"/>
                                        <element name="CFNC_C_PAY_BY"/>
                                        <element name="CFNC_C_REF"/>
                                        <element name="CFNC_C_REFUSE_REASON"/>
                                        <element name="CFNC_C_REF_TEMP"/>
                                        <element name="CFNC_C_RELT_REF"/>
                                        <element name="CFNC_C_REPAY_EVENT_ID"/>
                                        <element name="CFNC_C_RET_FLG"/>
                                        <element name="CFNC_C_TEMP_DATA"/>
                                        <element name="CFNC_C_TRX_CCY"/>
                                        <element name="CFNC_C_TRX_STATUS"/>
                                        <element name="CFNC_C_TYPE__DESC__"/>
                                        <element name="CFNC_C_TYPE"/>
                                        <element name="CFNC_C_TYPE_DESC"/>
                                        <element name="CFNC_C_TYPE_EX"/>
                                        <element name="CFNC_C_UNIT_CODE"/>
                                        <element name="CFNC_D_BILL_DUE_DT"/>
                                        <element name="CFNC_D_CREATE_DATE"/>
                                        <element name="CFNC_D_DT"/>
                                        <element name="CFNC_D_DUE_DT"/>
                                        <element name="CFNC_D_EXTEN_DUE_DT"/>
                                        <element name="CFNC_D_EXTEN_DUE_DT_E"/>
                                        <element name="CFNC_D_EXTEN_OVERDUE_DT"/>
                                        <element name="CFNC_D_EXTEN_REG_DT"/>
                                        <element name="CFNC_D_EXTEN_VALUE_DT"/>
                                        <element name="CFNC_D_LAST_PAY_DT"/>
                                        <element name="CFNC_D_LAST_PMT_DT"/>
                                        <element name="CFNC_D_MAST_MATU_DT"/>
                                        <element name="CFNC_D_PAY_DT"/>
                                        <element name="CFNC_D_PAY_REG_DT"/>
                                        <element name="CFNC_D_POST_FROM_DT"/>
                                        <element name="CFNC_D_POST_TO_DT"/>
                                        <element name="CFNC_D_REG_DT"/>
                                        <element name="CFNC_D_RESTART_DT"/>
                                        <element name="CFNC_D_STOP_DT"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG"/>
                                        <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                                        <element name="CFNC_INTEREST_INTERVAL"/>
                                        <element name="CFNC_I_AMEND_TIMES"/>
                                        <element name="CFNC_I_BASIC_DAYS"/>
                                        <element name="CFNC_I_DAYS"/>
                                        <element name="CFNC_I_DISCOUNT_DAYS_E"/>
                                        <element name="CFNC_I_DISCOUNT_DAYS_N"/>
                                        <element name="CFNC_I_EXTEN_BASE_DAYS"/>
                                        <element name="CFNC_I_EXTEN_DAYS"/>
                                        <element name="CFNC_I_EXTEN_TIMES"/>
                                        <element name="CFNC_I_EXTEN_TTL_DAYS"/>
                                        <element name="CFNC_I_FINC_NO"/>
                                        <element name="CFNC_I_FINC_TIMES"/>
                                        <element name="CFNC_I_REPAY_TIMES"/>
                                        <element name="CFNC_I_RFD_NO"/>
                                        <element name="CFNC_N_AMT_LCCCY"/>
                                        <element name="CFNC_N_AMT_LCCCY_ORG"/>
                                        <element name="CFNC_N_AMT_TXCCY"/>
                                        <element name="CFNC_N_BAL"/>
                                        <element name="CFNC_N_CCY_CLOSE_RT"/>
                                        <element name="CFNC_N_CCY_CUST_RT"/>
                                        <element name="CFNC_N_CCY_EXCH_RT"/>
                                        <element name="CFNC_N_CR_AMT"/>
                                        <element name="CFNC_N_CR_BAL"/>
                                        <element name="CFNC_N_EXTEN_AMT"/>
                                        <element name="CFNC_N_EXTEN_BAL"/>
                                        <element name="CFNC_N_EXTEN_LIBOR_RT"/>
                                        <element name="CFNC_N_EXTEN_LIBOR_RT_E"/>
                                        <element name="CFNC_N_EXTEN_MARGIN_E"/>
                                        <element name="CFNC_N_EXTEN_MARGIN_RT"/>
                                        <element name="CFNC_N_EXTEN_PAID_INT"/>
                                        <element name="CFNC_N_EXTEN_PAID_LIBOR"/>
                                        <element name="CFNC_N_EXTEN_PAID_MARGIN"/>
                                        <element name="CFNC_N_EXTEN_PRE_INT"/>
                                        <element name="CFNC_N_EXTEN_RT"/>
                                        <element name="CFNC_N_EXTEN_RT_E"/>
                                        <element name="CFNC_N_EXTEN_TTL_AMT"/>
                                        <element name="CFNC_N_EXTEN_TTL_BAL"/>
                                        <element name="CFNC_N_FINC_TTL_AMT"/>
                                        <element name="CFNC_N_FINC_TTL_BAL"/>
                                        <element name="CFNC_N_LIBOR_AMT"/>
                                        <element name="CFNC_N_LIBOR_RT"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE"/>
                                        <element name="CFNC_N_MARGIN_AMT"/>
                                        <element name="CFNC_N_MARGIN_RT"/>
                                        <element name="CFNC_N_NET_AMT"/>
                                        <element name="CFNC_N_NET_AMT_ORG"/>
                                        <element name="CFNC_N_PAID_INT"/>
                                        <element name="CFNC_N_PAID_LIBOR"/>
                                        <element name="CFNC_N_PAID_MARGIN"/>
                                        <element name="CFNC_N_PAY_AMT"/>
                                        <element name="CFNC_N_PAY_PNLT_INT"/>
                                        <element name="CFNC_N_PAY_TTLAMT_TXCCY"/>
                                        <element name="CFNC_N_PCT"/>
                                        <element name="CFNC_N_PNLT_RT"/>
                                        <element name="CFNC_N_PRE_INT"/>
                                        <element name="CFNC_N_PRE_INT_ORG"/>
                                        <element name="CFNC_N_REACC_INT"/>
                                        <element name="CFNC_N_RFD_EXTINT"/>
                                        <element name="CFNC_N_RFD_INT"/>
                                        <element name="CFNC_N_RT"/>
                                        <element name="CFNC_N_RT_NARR"/>
                                        <element name="CFNC_N_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_RT_TYPE"/>
                                        <element name="CFNC_N_TRXCCY_LCY"/>
                                        <element name="CFNC_N_TRX_AMT"/>
                                        <element name="CFNC_N_UNPAID_INT"/>
                                        <element name="CFNC_OVERDUE_DT"/>
                                        <element name="CFNC_PAYMENT_FLAG__DESC__"/>
                                        <element name="CFNC_PAYMENT_FLAG"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL"/>
                                        <element name="IA_I_CCY_DEC"/>
                                        <element name="IA_Y_REACC_INT"/>
                                        <element name="INC_DEC_FLAG__DESC__"/>
                                        <element name="INC_DEC_FLAG"/>
                                        <element name="NEW_REFI_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="NOTES"/>
                            <element name="QR_CD_FLD"/>
                            <element name="TTL_CHG_OUR"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
