EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_IAAC_AccountType_Desc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="B_SHOW"/>
                            <element name="C_ACCR_DESC"/>
                            <element name="C_AC_NUMBER"/>
                            <element name="IA_TEST_A"/>
                            <element name="IA_TEST_B"/>
                            <element name="_confirm"/>
                            <element name="cancel"/>
                            <element name="elong"/>
                            <element name="test"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
