EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_MT192.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AUDIT_CODE"/>
                            <element name="AUDT_DESC"/>
                            <element name="AUDT_FUNCTION"/>
                            <element name="AUDT_INSERTED_TMSTAMP"/>
                            <element name="AUDT_MAIN_REF"/>
                            <element name="AUDT_OP_ID"/>
                            <element name="AUDT_SUB_TYPE"/>
                            <element name="AUDT_TRX_REF"/>
                            <element name="AUDT_TYPE"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="BK_CUS_TYPE"/>
                            <element name="CHEQ_NO"/>
                            <element name="CORRES_TYPE"/>
                            <element name="CORR_MSG"/>
                            <element name="CORR_MSG_DI"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CU_TYPE"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MAIN_REF_20Z"/>
                            <element name="C_MT_TEMP"/>
                            <element name="C_TRT_LOG_ID_TEMP"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DUP_CHK"/>
                            <element name="EMAIL"/>
                            <element name="EMAIL1"/>
                            <element name="EMAIL2"/>
                            <element name="EMAIL3"/>
                            <element name="EMAIL4"/>
                            <element name="EMAIL5"/>
                            <element name="FAX_NO"/>
                            <element name="FAX_NO1"/>
                            <element name="FAX_NO2"/>
                            <element name="FAX_NO3"/>
                            <element name="FAX_NO4"/>
                            <element name="FAX_NO5"/>
                            <element name="FIELD_1_X"/>
                            <element name="FIELD_6_X"/>
                            <element name="FIELDs"/>
                            <element name="HELP_LINK_URL"/>
                            <element name="INT_CUST_ID"/>
                            <element name="INV_STATUS"/>
                            <element name="INW_CUST_REF"/>
                            <element name="INW_SNDBK_ADD1"/>
                            <element name="INW_SNDBK_ADD2"/>
                            <element name="INW_SNDBK_ADD3"/>
                            <element name="INW_SNDBK_ID"/>
                            <element name="INW_SNDBK_NM"/>
                            <element name="INW_SNDBK_SW"/>
                            <element name="INW_X103_SEND_NO_20"/>
                            <element name="INW_X103_VALUE_DT_32A"/>
                            <element name="MD_I"/>
                            <element name="MT111_QUER"/>
                            <element name="MT_CATEGORY"/>
                            <element name="MT_CATEGORY_DI"/>
                            <element name="MT_Convert"/>
                            <element name="MT_DT_ISN"/>
                            <element name="MT_DT_ISN_1"/>
                            <element name="MT_DT_ISN_2"/>
                            <element name="MT_DT_ISN_3"/>
                            <element name="MT_R_S_BUTT"/>
                            <element name="MT_SUBCAT"/>
                            <element name="MT_SUBCAT_DI"/>
                            <element name="NOTES"/>
                            <element name="NXT_STATUS"/>
                            <element name="NarrButton_95"/>
                            <element name="OLDVALUES"/>
                            <element name="OLDVALUES_ACC"/>
                            <element name="OLDVALUES_COVERNO"/>
                            <element name="OLDVALUES_OVR"/>
                            <element name="PAY_REF"/>
                            <element name="PRIORITY"/>
                            <element name="PROD__DESC__"/>
                            <element name="PROD"/>
                            <element name="PRODREF"/>
                            <element name="Query_Ans_Button"/>
                            <element name="Query_Button"/>
                            <element name="RELATED_REF"/>
                            <element name="RELATED_REF_NO"/>
                            <element name="RELA_REF"/>
                            <element name="REVERSAL_DT"/>
                            <element name="REVE_AMT"/>
                            <element name="REVE_CCY"/>
                            <element name="REVE_IND"/>
                            <element name="SECOND_CHG_AMT"/>
                            <element name="SEND_CORR_BK_ADD1"/>
                            <element name="SEND_CORR_BK_ADD2"/>
                            <element name="SEND_CORR_BK_ADD3"/>
                            <element name="SEND_CORR_BK_ID"/>
                            <element name="SEND_CORR_BK_NM"/>
                            <element name="SEND_CORR_SW_ADD"/>
                            <element name="SEND_CORR_SW_TAG"/>
                            <element name="SETT_ACC_AUDIT"/>
                            <element name="SETT_ACC_AUDIT1"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_RESULT2"/>
                            <element name="TRX_HISTORY"/>
                            <element name="TRX_HISTORY_TEMP"/>
                            <element name="UETR_GPI_121"/>
                            <element name="VAT_IND1"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202_ADV_BKSW_B2"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X95_96_QUER_ANS"/>
                            <element name="XN95_96_NARRATIVE"/>
                            <element name="XN99_NARRATIVE_79"/>
                            <element name="XN99_NARRATIVE_79_Button"/>
                            <element name="button"/>
                            <element name="button6"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
