EE_PARA/EE_PARA/Default/FORM/form_schema_FinanceExtentionReg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AC_NO"/>
<element name="CFNC_C_AC_TYPE"/>
<element name="CFNC_C_AMEND_APPROVE_STATUS"/>
<element name="CFNC_C_AMEND_TYPE"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_EXTEN_AC_TYPE"/>
<element name="CFNC_C_EXTEN_AC_TYPE_BT"/>
<element name="CFNC_C_EXTEN_AC_TYPE_E"/>
<element name="CFNC_C_EXTEN_INT_MTHD"/>
<element name="CFNC_C_INT_MODE"/>
<element name="CFNC_C_INT_MTHD"/>
<element name="CFNC_C_OVERDUE_FLAG"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_D_CREATE_DATE"/>
<element name="CFNC_D_DT"/>
<element name="CFNC_D_DUE_DT"/>
<element name="CFNC_D_EXTEN_DUE_DT"/>
<element name="CFNC_D_EXTEN_DUE_DT_E"/>
<element name="CFNC_D_EXTEN_OVERDUE_DT"/>
<element name="CFNC_D_EXTEN_VALUE_DT"/>
<element name="CFNC_D_RESTART_DT"/>
<element name="CFNC_D_STOP_DT"/>
<element name="CFNC_I_AMEND_TIMES"/>
<element name="CFNC_I_BASIC_DAYS_TEMP"/>
<element name="CFNC_I_DAYS"/>
<element name="CFNC_I_DAYS_TEMP"/>
<element name="CFNC_I_EXTEN_BASE_DAYS"/>
<element name="CFNC_I_EXTEN_DAYS"/>
<element name="CFNC_I_EXTEN_TTL_DAYS"/>
<element name="CFNC_N_BAL"/>
<element name="CFNC_N_EXTEN_AMT"/>
<element name="CFNC_N_EXTEN_LIBOR_RT"/>
<element name="CFNC_N_EXTEN_LIBOR_RT_E"/>
<element name="CFNC_N_EXTEN_MARGIN_RT"/>
<element name="CFNC_N_EXTEN_MARGIN_TEMP_E"/>
<element name="CFNC_N_EXTEN_PRE_INT"/>
<element name="CFNC_N_EXTEN_RT"/>
<element name="CFNC_N_EXTEN_RT_E"/>
<element name="CFNC_N_LIBOR_RT"/>
<element name="CFNC_N_MARGIN_RT"/>
<element name="CFNC_N_MARGIN_RT_TEMP"/>
<element name="CFNC_N_NET_AMT"/>
<element name="CFNC_N_RT"/>
</sequence>
</complexType>
</element>
</schema>
