EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FINC_InvoiceFinancingReqSts_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="FinancingInformationAndStatus">
<complexType>
<sequence>
<element name="FinancingAllowedSummary">
<complexType>
<sequence>
<element name="FIN_ITEM_NB"/>
<element name="FIN_TTL_ACPT_AMT"/>
<element name="FIN_TTL_ACPT_CCY"/>
<element name="FIN_APLD_PCTG"/>
<element name="FIN_TTL_FINCD_AMT"/>
<element name="FIN_TTL_FINCD_CCY"/>
<element name="FINA_CDT_IBAN"/>
<element name="FINA_CDT_BBAN"/>
<element name="FINA_CDT_UPIC"/>
<element name="FINA_CDT_ACCOUNT"/>
<element name="FINA_CDT_TPCD"/>
<element name="FINA_CDT_TPID"/>
<element name="FINA_CDT_CCY"/>
<element name="FINA_CDT_NM"/>
<element name="FINA_FINCG_IBAN"/>
<element name="FINA_FINCG_BBAN"/>
<element name="FINA_FINCG_UPIC"/>
<element name="FINA_FINCG_ACCOUNT"/>
<element name="FINA_FINCG_TPCD"/>
<element name="FINA_FINCG_TPID"/>
<element name="FINA_FINCG_CCY"/>
<element name="FINA_FINCG_NM"/>
<element name="FinancingDateDetails">
<complexType>
<sequence>
<element name="FIN_CDT_DT"/>
<element name="FIN_DBT_DT"/>
<element name="BookDate">
<complexType>
<sequence>
<element name="FIN_BOOK_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="InvoiceFinancingDetails">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FIN_DOC_REF"/>
<element name="FIN_TTL_INV_AMT"/>
<element name="FIN_TTL_INV_CCY"/>
<element name="FIN_DOC_ISS_DT"/>
<element name="FIN_PMT_DUE_DT"/>
<element name="Supplier">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FIN_IDX"/>
<element name="FIN_PARTY_IDX"/>
<element name="PartyIdentification8">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FIN_IDX"/>
<element name="FIN_PARTY_IDX"/>
<element name="FIN_PARTY_NAME"/>
<element name="FIN_ADR_TP"/>
<element name="FIN_STREET_NAME"/>
<element name="FIN_BLDG_NB"/>
<element name="FIN_POST_CODE_ID"/>
<element name="FIN_TOWN_NAME"/>
<element name="FIN_CNTY_SUB_DIVI"/>
<element name="FIN_CNTY"/>
<element name="FIN_ADR_LINE1"/>
<element name="FIN_ADR_LINE2"/>
<element name="FIN_ADR_LINE3"/>
<element name="FIN_ADR_LINE4"/>
<element name="FIN_ADR_LINE5"/>
<element name="FIN_RES_CNTY"/>
<element name="FIN_DO_FLAG"/>
<element name="OrganisationIdentification">
<complexType>
<sequence>
<element name="FIN_ORG_BIC"/>
<element name="FIN_IBEI"/>
<element name="FIN_BEI"/>
<element name="FIN_EANGLN"/>
<element name="FIN_USCHU"/>
<element name="FIN_DUNS"/>
<element name="FIN_BK_PTY_ID"/>
<element name="FIN_TAX_ID_NB"/>
<element name="FIN_PRTRY_ID"/>
<element name="FIN_ORG_ISSR"/>
</sequence>
</complexType>
</element>
<element name="PrivateIdentification">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FIN_IDX"/>
<element name="FIN_DO_FLAG"/>
<element name="FIN_PARTY_IDX"/>
<element name="FIN_DRVRS_LIC_NB"/>
<element name="FIN_CSTMR_NB"/>
<element name="FIN_SCLSCTY_NB"/>
<element name="FIN_ALNREGN_NB"/>
<element name="FIN_PSPT_NB"/>
<element name="FIN_PRV_TAX_ID"/>
<element name="FIN_ID_CARD_NB"/>
<element name="FIN_MPLYRID_NB"/>
<element name="FIN_BIRTH_DT"/>
<element name="FIN_BIRTH_PRVC"/>
<element name="FIN_BIRTH_CITY"/>
<element name="FIN_BIRTH_CNTY"/>
<element name="FIN_OTHR_ID"/>
<element name="FIN_OTHR_ID_TP"/>
<element name="FIN_PRVT_ISSR"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="AccountIdentification">
<complexType>
<sequence>
<element name="FIN_IBAN"/>
<element name="FIN_BBAN"/>
<element name="FIN_UPIC"/>
<element name="FIN_ACCOUNT"/>
<element name="FIN_AC_TPID"/>
<element name="FIN_AC_TPCD"/>
<element name="FIN_AC_CCY"/>
<element name="FIN_AC_NM"/>
</sequence>
</complexType>
</element>
<element name="ContactInformation">
<complexType>
<sequence>
<element name="FIN_CONT_NAME"/>
<element name="FIN_CONT_NMPRFX"/>
<element name="FIN_CONT_EMAILADR"/>
<element name="FIN_CONT_FAXNB"/>
<element name="FIN_CONT_GVNNM"/>
<element name="FIN_CONT_PHNENB"/>
<element name="FIN_CONT_ROLE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="InvoiceFinancingResult">
<complexType>
<sequence>
<element name="FIN_REQ_STS"/>
<element name="FIN_STS_RSN_CD"/>
<element name="FIN_STS_RSN_PRTRY"/>
<element name="FIN_FINCD_AMT"/>
<element name="FIN_FINCD_CCY"/>
<element name="FIN_FINCD_RT"/>
<element name="AdditionalStatusReasonInformation">
<complexType>
<sequence>
<element name="FIN_VLD_ADDT_RSN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="InstalmentFinancingInformation">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="FIN_INSTLMT_SEQ"/>
<element name="FIN_INSTLMT_AMT"/>
<element name="FIN_INSTLMT_CCY"/>
<element name="FIN_IDX"/>
<element name="FIN_DO_FLAG"/>
<element name="InstalmentFinancingResult">
<complexType>
<sequence>
<element name="FIN_REQ_STS"/>
<element name="FIN_STS_RSN_CD"/>
<element name="FIN_STS_RSN_PRTRY"/>
<element name="FIN_FINCD_AMT"/>
<element name="FIN_FINCD_CCY"/>
<element name="FIN_FINCD_RT"/>
<element name="AdditionalStatusReasonInformation">
<complexType>
<sequence>
<element name="FIN_VLD_ADDT_RSN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="OriginalRequestStatus">
<complexType>
<sequence>
<element name="ValidationStatusInformation">
<complexType>
<sequence>
<element name="FIN_VLD_STS"/>
<element name="FIN_VLD_STSRSN_CD"/>
<element name="FIN_VLD_STSRSN_PTY"/>
<element name="AdditionalStatusReasonInformation">
<complexType>
<sequence>
<element name="FIN_VLD_ADDT_RSN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="CancellationStatusInformation">
<complexType>
<sequence>
<element name="FIN_CXL_STS"/>
<element name="FIN_CXL_STSRSN_CD"/>
<element name="FIN_CXL_STSRSN_PTY"/>
<element name="CancellationAdditionalStatusReasonInformation">
<complexType>
<sequence>
<element name="FIN_CXL_ADDT_RSN"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="C_MAIN_REF"/>
<element name="DOM_FROM_STP_TSU"/>
<element name="FIN_CDT_ACCOUNT"/>
<element name="FIN_CDT_BBAN"/>
<element name="FIN_CDT_CCY"/>
<element name="FIN_CDT_IBAN"/>
<element name="FIN_CDT_NM"/>
<element name="FIN_CDT_TPCD"/>
<element name="FIN_CDT_TPID"/>
<element name="FIN_CDT_UPIC"/>
<element name="FIN_FINCG_ACCOUNT"/>
<element name="FIN_FINCG_BBAN"/>
<element name="FIN_FINCG_CCY"/>
<element name="FIN_FINCG_IBAN"/>
<element name="FIN_FINCG_NM"/>
<element name="FIN_FINCG_TPCD"/>
<element name="FIN_FINCG_TPID"/>
<element name="FIN_FINCG_UPIC"/>
<element name="FIN_FSTAGT_AGT_BIC"/>
<element name="FIN_FSTAGT_AGT_ID"/>
<element name="FIN_FSTAGT_AGT_TP"/>
<element name="FIN_FSTAGT_CSM_ID"/>
<element name="FIN_FSTAGT_CSM_VAL"/>
<element name="FIN_GRP_ID"/>
<element name="FIN_INTRMY_AGT_BIC"/>
<element name="FIN_INTRMY_AGT_ID"/>
<element name="FIN_INTRMY_AGT_TP"/>
<element name="FIN_INTRMY_CSM_ID"/>
<element name="FIN_INTRMY_CSM_VAL"/>
<element name="FIN_MESSAGE_DT"/>
<element name="FIN_MESSAGE_ID"/>
<element name="FIN_RQSTR_BEI"/>
<element name="FIN_RQSTR_ID"/>
<element name="FIN_RQSTR_ID_TP"/>
<element name="FIN_RQSTR_NAME"/>
<element name="FIN_TRX_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
