EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_SupplierRegFromFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CNTC_STAF"/>
                <element name="CNTC_STAF_EMAIL"/>
                <element name="CNTC_STAF_TEL"/>
                <element name="CUST_ADD"/>
                <element name="CUST_INSTI_CODE"/>
                <element name="CUST_MAIL"/>
                <element name="CUST_MANAGE_ID"/>
                <element name="CUST_NM"/>
                <element name="CUST_PSTLADR"/>
                <element name="CUST_TEL"/>
                <element name="CUST_TP__DESC__"/>
                <element name="CUST_TP"/>
                <element name="C_MAIN_REF"/>
                <element name="SUPLR_STATUS__DESC__"/>
                <element name="SUPLR_STATUS"/>
                <element name="SUPLR_TP__DESC__"/>
                <element name="SUPLR_TP"/>
            </sequence>
        </complexType>
    </element>
</schema>
