EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_ALLO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="INQ_CUST"/>
                <element name="INQ_RCUST"/>
                <element name="LM_BASE_CCY"/>
                <element name="LM_CANBE_USE"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_IS_USED"/>
                <element name="LM_RCUST_ID"/>
                <element name="LM_SPEC_LMT"/>
                <element name="LM_TRX_REF"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
