EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_CreditReturn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_EDI_MSG_REF"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_LMT_EXCH_RT"/>
                <element name="FA_IF_NM"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_TO_RETURN"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP_AMT10"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="PRODUCT_CODE"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
