EE_PARA/EE_PARA/Default/FORM/form_schema_IMCO_Acknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC1_NO"/>
                <element name="AC2_NO"/>
                <element name="AC3_NO"/>
                <element name="ACK_DT"/>
                <element name="AC_OFFICER_CODE"/>
                <element name="BK_TO_BK_INFO"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="COLL_CCY"/>
                <element name="COLL_NO"/>
                <element name="COLL_TRX_CCY_AMT"/>
                <element name="COLL_TRX_CCY_BAL"/>
                <element name="COLL_TYPE__DESC__"/>
                <element name="COLL_TYPE"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ADD_BTN"/>
                <element name="DRWE_CORR_MED__DESC__"/>
                <element name="DRWE_CORR_MED"/>
                <element name="DRWE_EMAIL"/>
                <element name="DRWE_FAX"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_LANG"/>
                <element name="DRWE_MAIL_ADD"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_NOTES"/>
                <element name="DRWE_ORDER_NO"/>
                <element name="DRWE_ORDER_POST"/>
                <element name="DRWE_POST_ADD_BTN"/>
                <element name="DRWE_REF"/>
                <element name="DRWE_TELEX"/>
                <element name="DRWR_ADD1"/>
                <element name="DRWR_ADD2"/>
                <element name="DRWR_ADD3"/>
                <element name="DRWR_ADD_BTN"/>
                <element name="DRWR_CORR_MED__DESC__"/>
                <element name="DRWR_CORR_MED"/>
                <element name="DRWR_EMAIL"/>
                <element name="DRWR_FAX"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_ID_BTN"/>
                <element name="DRWR_LANG"/>
                <element name="DRWR_MAIL_ADD"/>
                <element name="DRWR_NM"/>
                <element name="DRWR_NOTES"/>
                <element name="DRWR_ORDER_NO"/>
                <element name="DRWR_ORDER_POST"/>
                <element name="DRWR_POST_ADD_BTN"/>
                <element name="DRWR_TELEX"/>
                <element name="DRW_ID_BTN"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="LOCAL_AMT"/>
                <element name="LOCAL_CCY"/>
                <element name="LOCAL_RATE"/>
                <element name="LOGIN_BIC"/>
                <element name="MSG_TYPE"/>
                <element name="NOTES"/>
                <element name="OUR_ROLE__DESC__"/>
                <element name="OUR_ROLE"/>
                <element name="PRES_BK_ADD1"/>
                <element name="PRES_BK_ADD2"/>
                <element name="PRES_BK_ADD3"/>
                <element name="PRES_BK_ADD_BTN"/>
                <element name="PRES_BK_CORR_MED__DESC__"/>
                <element name="PRES_BK_CORR_MED"/>
                <element name="PRES_BK_ID"/>
                <element name="PRES_BK_ID_BTN"/>
                <element name="PRES_BK_LANG"/>
                <element name="PRES_BK_MAIL_ADD"/>
                <element name="PRES_BK_NM"/>
                <element name="PRES_BK_NM2"/>
                <element name="PRES_BK_NOTES"/>
                <element name="PRES_BK_ORDER_NO"/>
                <element name="PRES_BK_ORDER_POST"/>
                <element name="PRES_BK_POST_ADD_BTN"/>
                <element name="PRES_BK_REF"/>
                <element name="PRES_BK_SW_ADD"/>
                <element name="PRES_BK_SW_TAG"/>
                <element name="PRES_BK_TLX"/>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REG_DT"/>
                <element name="REL_ORDER_REF"/>
                <element name="REMIT_BK_ADD1"/>
                <element name="REMIT_BK_ADD2"/>
                <element name="REMIT_BK_ADD3"/>
                <element name="REMIT_BK_ADD_BTN"/>
                <element name="REMIT_BK_AMT_ADD"/>
                <element name="REMIT_BK_CCY__DESC__"/>
                <element name="REMIT_BK_CCY"/>
                <element name="REMIT_BK_COR_MED__DESC__"/>
                <element name="REMIT_BK_COR_MED"/>
                <element name="REMIT_BK_ID"/>
                <element name="REMIT_BK_ID_BTN"/>
                <element name="REMIT_BK_NM"/>
                <element name="REMIT_BK_ORDER_NO"/>
                <element name="REMIT_BK_ORDER_POST"/>
                <element name="REMIT_BK_SW_ADD"/>
                <element name="REMIT_BK_SW_TAG"/>
                <element name="REMIT_LANG"/>
                <element name="REMIT_MAIL_ADD"/>
                <element name="REMIT_NOTES"/>
                <element name="REMIT_POST_ADD_BTN"/>
                <element name="REMIT_TLX"/>
                <element name="REMT_DT"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CORR_ATTCH"/>
                <element name="TEMP_CORR_CRSPD"/>
                <element name="TEMP_CORR_INSTR"/>
                <element name="TEMP_CUST_ATTCH"/>
                <element name="TEMP_CUST_CRSPD"/>
                <element name="TEMP_CUST_INSTR"/>
                <element name="TEMP_DOC_DT"/>
                <element name="TEMP_TENOR_FORM_MAP"/>
                <element name="TEMP_USER_EMAIL"/>
                <element name="TEMP_USER_FAX"/>
                <element name="TEMP_USER_NM"/>
                <element name="TEMP_USER_TEL_NO"/>
                <element name="TRX_CCY"/>
                <element name="WEB_REF"/>
                <element name="button1"/>
                <element name="button2"/>
                <element name="button3"/>
                <element name="button4"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
