EE_PARA/EE_PARA/Default/FORM/form_schema_102.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CANCEL_FLG"/>
                <element name="CNTY_CODE"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MAIN_REF_20Z"/>
                <element name="MX_OR_MT_FLAG__DESC__"/>
                <element name="MX_OR_MT_FLAG"/>
                <element name="NXT_STATUS"/>
                <element name="PART_50A_ADD_BTN"/>
                <element name="SW_FORM"/>
                <element name="X102_19_AMT"/>
                <element name="X102_19_CCY"/>
                <element name="X102_23_BANK_OPERA_CODE"/>
                <element name="X102_26T_TRAN_TYPE_CODE"/>
                <element name="X102_32A_AMT"/>
                <element name="X102_32A_CCY"/>
                <element name="X102_32A_DATE"/>
                <element name="X102_36_RATE"/>
                <element name="X102_50A_ACCOUNT"/>
                <element name="X102_50A_IDENTIFIER"/>
                <element name="X102_50F_PARTY_ADD1"/>
                <element name="X102_50F_PARTY_ADD2"/>
                <element name="X102_50F_PARTY_ADD3"/>
                <element name="X102_50F_PARTY_ID"/>
                <element name="X102_50F_PARTY_NAME"/>
                <element name="X102_50_TAG"/>
                <element name="X102_51A_IDENTIFIER"/>
                <element name="X102_51A_SEND_INS"/>
                <element name="X102_52A_IDENTIFIER"/>
                <element name="X102_52A_PARTY_IDENTIFIER"/>
                <element name="X102_52B_LOCATION"/>
                <element name="X102_52_TAG"/>
                <element name="X102_53A_IDENTIFIER"/>
                <element name="X102_53A_PARTY_IDENTIFIER"/>
                <element name="X102_53C_ACCOUNT"/>
                <element name="X102_53_TAG"/>
                <element name="X102_54A_IDENTIFIER"/>
                <element name="X102_54A_PARTY_IDENTIFIER"/>
                <element name="X102_71A_CHG_DETAILS"/>
                <element name="X102_71G_AMT"/>
                <element name="X102_71G_CCY"/>
                <element name="X102_72_NARR"/>
                <element name="X102_77B_REGULATORY"/>
                <element name="X102_SEQ_B">
                    <complexType>
                        <sequence>
                            <element name="APPL_CNTY_RES"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="X102_21_REF"/>
                            <element name="X102_26T_TRAN_TYPE_CODE"/>
                            <element name="X102_32B_AMT"/>
                            <element name="X102_32B_CCY"/>
                            <element name="X102_33B_AMT"/>
                            <element name="X102_33B_CCY"/>
                            <element name="X102_36_RATE"/>
                            <element name="X102_50A_ACCOUNT"/>
                            <element name="X102_50A_IDENTIFIER"/>
                            <element name="X102_50F_PARTY_ADD1"/>
                            <element name="X102_50F_PARTY_ADD2"/>
                            <element name="X102_50F_PARTY_ADD3"/>
                            <element name="X102_50F_PARTY_ID"/>
                            <element name="X102_50F_PARTY_IDENTIFIER"/>
                            <element name="X102_50F_PARTY_NAME"/>
                            <element name="X102_50_TAG"/>
                            <element name="X102_52A_IDENTIFIER"/>
                            <element name="X102_52A_PARTY_IDENTIFIER"/>
                            <element name="X102_52B_LOCATION"/>
                            <element name="X102_52_TAG"/>
                            <element name="X102_57A_ACC_WITH_IDENTIFIER"/>
                            <element name="X102_57A_IDENTIFIER"/>
                            <element name="X102_57_TAG"/>
                            <element name="X102_59A_ACCOUNT"/>
                            <element name="X102_59A_IDENTIFIER"/>
                            <element name="X102_59_PARTY_ADD1"/>
                            <element name="X102_59_PARTY_ADD2"/>
                            <element name="X102_59_PARTY_ADD3"/>
                            <element name="X102_59_PARTY_NAME"/>
                            <element name="X102_59_TAG"/>
                            <element name="X102_71A_CHG_DETAILS"/>
                            <element name="X102_71G_AMT"/>
                            <element name="X102_71G_CCY"/>
                            <element name="X102_77B_REGULATORY"/>
                            <element name="X102_REMITTANCE_INFO"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X102_SEQ_B_71F">
                                <complexType>
                                    <sequence>
                                        <element name="X102_71F_CCY"/>
                                        <element name="X102_71F_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="X102_SEQ_C_13C">
                    <complexType>
                        <sequence>
                            <element name="X102_13C_TIME_INDICATION"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="X102_TAG_119"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_BTN"/>
            </sequence>
        </complexType>
    </element>
</schema>
