EE_PARA/EE_PARA/Default/FORM/form_schema_CMDT_CreateCommodityInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="COMDT_CAT_CD__DESC__"/>
                <element name="COMDT_CAT_CD"/>
                <element name="COMDT_CAT_DESC__DESC__"/>
                <element name="COMDT_CAT_DESC"/>
                <element name="COMDT_ID"/>
                <element name="COMDT_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="NOTE"/>
                <element name="TEMP_AC_NO1"/>
                <element name="UNIT__DESC__"/>
                <element name="UNIT"/>
            </sequence>
        </complexType>
    </element>
</schema>
