EE_PARA/EE_PARA/Default/FORM/form_schema_FFIT_CableIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="ACPT_BK_ADD"/>
<element name="ACPT_BK_NM"/>
<element name="ACPT_BK_SW"/>
<element name="AC_WT_INST_AC_NO"/>
<element name="AC_WT_INST_ADD1"/>
<element name="AC_WT_INST_ADD2"/>
<element name="AC_WT_INST_ADD3"/>
<element name="AC_WT_INST_ADD_BTN2"/>
<element name="AC_WT_INST_ADD_ORDER_NO"/>
<element name="AC_WT_INST_ID"/>
<element name="AC_WT_INST_ID_BTN"/>
<element name="AC_WT_INST_NM"/>
<element name="AC_WT_INST_NOTES"/>
<element name="AC_WT_INST_ORDER_NO"/>
<element name="AC_WT_INST_SW_ADD"/>
<element name="AC_WT_INST_SW_TAG"/>
<element name="ADV_BK_ADD1"/>
<element name="ADV_BK_ADD2"/>
<element name="ADV_BK_ADD3"/>
<element name="ADV_BK_ADD_BTN"/>
<element name="ADV_BK_ID"/>
<element name="ADV_BK_ID_BTN"/>
<element name="ADV_BK_MAIL_ADD"/>
<element name="ADV_BK_NM"/>
<element name="ADV_BK_NOTES"/>
<element name="ADV_BK_ORDER_NO"/>
<element name="ADV_BK_ORDER_POST"/>
<element name="ADV_BK_POST_ADD_BTN"/>
<element name="ADV_BK_SW_ADD"/>
<element name="ADV_BK_SW_TAG"/>
<element name="BUY_BK_NM1"/>
<element name="CABLE_ITEM"/>
<element name="CHECK_BOX_798"/>
<element name="CLERK_ID"/>
<element name="CLM_DT"/>
<element name="CLM_REF"/>
<element name="CLM_TRX_CCY_AMT"/>
<element name="CORR_ADD1"/>
<element name="CORR_ADD2"/>
<element name="CORR_ADD3"/>
<element name="CORR_ADD_BTN"/>
<element name="CORR_ADD_ORDER_NO"/>
<element name="CORR_CUST_BANK__DESC__"/>
<element name="CORR_CUST_BANK"/>
<element name="CORR_EMAIL_ADD"/>
<element name="CORR_FAX_NO"/>
<element name="CORR_ID"/>
<element name="CORR_ID_BTN"/>
<element name="CORR_MAIL_ADD"/>
<element name="CORR_NM"/>
<element name="CORR_NOTES"/>
<element name="CORR_ORDER_NO"/>
<element name="CORR_POST_BTN"/>
<element name="CORR_SW_ADD"/>
<element name="CORR_SW_TAG"/>
<element name="CORR_TLX_NO"/>
<element name="COUNTER_CNTY_CODE"/>
<element name="C_MAIN_REF"/>
<element name="EVENT_TYPE__DESC__"/>
<element name="EVENT_TYPE"/>
<element name="EXPT_ID"/>
<element name="EXPT_NM"/>
<element name="EXPT_NM_C"/>
<element name="FFT_TRF_FLG"/>
<element name="FINANCE_FLG"/>
<element name="FINC_AMT"/>
<element name="FINC_RISK_LEVEL"/>
<element name="FIVE_LEVEL_FLAG"/>
<element name="GTS_BR_ID"/>
<element name="GTS_PRVN_ID"/>
<element name="MESG_TYPE__DESC__"/>
<element name="MESG_TYPE"/>
<element name="ORDER_INST_AC_NO"/>
<element name="ORDER_INST_ADD1"/>
<element name="ORDER_INST_ADD2"/>
<element name="ORDER_INST_ADD3"/>
<element name="ORDER_INST_ADD_BTN"/>
<element name="ORDER_INST_ADD_ORDER_NO"/>
<element name="ORDER_INST_ID"/>
<element name="ORDER_INST_ID_BTN"/>
<element name="ORDER_INST_NM"/>
<element name="ORDER_INST_NOTES"/>
<element name="ORDER_INST_ORDER_NO"/>
<element name="ORDER_INST_SW_ADD"/>
<element name="ORDER_INST_SW_TAG"/>
<element name="SELL_BK_NM"/>
<element name="SELL_BK_SW"/>
<element name="SUB_MESS_TYPE"/>
<element name="SWIFT_TYPE"/>
<element name="TEMP_CATEGORY_FLG__DESC__"/>
<element name="TEMP_CATEGORY_FLG"/>
<element name="TEMP_CHAR1"/>
<element name="TEMP_CHAR2"/>
<element name="TEMP_DT_ORGNL_MSG"/>
<element name="TEMP_MAIL_TXT"/>
<element name="TEMP_MAIL_TXT_BTN"/>
<element name="TEMP_MESG_TYPE__DESC__"/>
<element name="TEMP_MESG_TYPE"/>
<element name="TEMP_N90_AC_IDN_25"/>
<element name="TEMP_N90_CCY_32"/>
<element name="TEMP_N90_CHG_32"/>
<element name="TEMP_N90_CHG_71"/>
<element name="TEMP_N90_DC_32__DESC__"/>
<element name="TEMP_N90_DC_32"/>
<element name="TEMP_N90_DT_32"/>
<element name="TEMP_N90_REF_20"/>
<element name="TEMP_N90_REF_21"/>
<element name="TEMP_N90_SNDINF_72"/>
<element name="TEMP_N95_NARR_77"/>
<element name="TEMP_N95_NARR_79"/>
<element name="TEMP_N95_QA_75"/>
<element name="TEMP_ORGNLMSG_TYPE"/>
<element name="TEMP_REF"/>
<element name="TEMP_REF_FOR_DOC"/>
<element name="TEMP_SND_RCV_11"/>
<element name="TRF_AMT"/>
<element name="TRX_DT"/>
<element name="TRX_NO"/>
<element name="VIP_LEVEL"/>
<element name="X202BENEBKADD1_58A"/>
<element name="X202BENEBKADD2_58A"/>
<element name="X202BENEBKADD3_58A"/>
<element name="X202MEDIBKADD1_56A"/>
<element name="X202MEDIBKADD2_56A"/>
<element name="X202MEDIBKADD3_56A"/>
<element name="X202RECCORRACNO54A"/>
<element name="X202SENDCORACNO53A"/>
<element name="X202SENDCORADD153A"/>
<element name="X202SENDCORADD253A"/>
<element name="X202SENDCORADD353A"/>
<element name="X202_52_ADD_BTN"/>
<element name="X202_52_BTN"/>
<element name="X202_52_NOTES"/>
<element name="X202_52_ORDER_NO"/>
<element name="X202_53_ADD_BTN"/>
<element name="X202_53_BTN"/>
<element name="X202_53_NOTES"/>
<element name="X202_53_ORDER_NO"/>
<element name="X202_54_ADD_BTN"/>
<element name="X202_54_BTN"/>
<element name="X202_54_NOTES"/>
<element name="X202_54_ORDER_NO"/>
<element name="X202_56_ADD_BTN"/>
<element name="X202_56_BTN"/>
<element name="X202_56_NOTES"/>
<element name="X202_56_ORDER_NO"/>
<element name="X202_57_ADD_BTN"/>
<element name="X202_57_BTN"/>
<element name="X202_57_NOTES"/>
<element name="X202_57_ORDER_NO"/>
<element name="X202_58_ADD_BTN"/>
<element name="X202_58_BTN"/>
<element name="X202_58_NOTES"/>
<element name="X202_58_ORDER_NO"/>
<element name="X202_ACCBKADD1_57A"/>
<element name="X202_ACCBKADD2_57A"/>
<element name="X202_ACCBKADD3_57A"/>
<element name="X202_ACC_BKACNO57A"/>
<element name="X202_ACC_BKID_57A"/>
<element name="X202_ACC_BKNM_57A"/>
<element name="X202_ACC_BKSW_57A"/>
<element name="X202_ADV_BKADD1_B2"/>
<element name="X202_ADV_BKADD2_B2"/>
<element name="X202_ADV_BKADD3_B2"/>
<element name="X202_ADV_BKID_B2"/>
<element name="X202_ADV_BKNM_B2"/>
<element name="X202_ADV_BKSW_B2"/>
<element name="X202_AMT_32A"/>
<element name="X202_B2_ADD_BTN"/>
<element name="X202_B2_BTN"/>
<element name="X202_B2_NOTES"/>
<element name="X202_B2_ORDER_NO"/>
<element name="X202_BENEBKACNO58A"/>
<element name="X202_BENE_BKID_58A"/>
<element name="X202_BENE_BKNM_58A"/>
<element name="X202_BENE_BKSW_58A"/>
<element name="X202_BKTOBK_INFO72"/>
<element name="X202_CCY_32A"/>
<element name="X202_MEDIBKACNO56A"/>
<element name="X202_MEDI_BKID_56A"/>
<element name="X202_MEDI_BKNM_56A"/>
<element name="X202_MEDI_BKSW_56A"/>
<element name="X202_ORDBKACNO_52A"/>
<element name="X202_ORDBKADD1_52A"/>
<element name="X202_ORDBKADD2_52A"/>
<element name="X202_ORDBKADD3_52A"/>
<element name="X202_ORDBK_ID_52A"/>
<element name="X202_ORDBK_NM_52A"/>
<element name="X202_ORDBK_SW_52A"/>
<element name="X202_RECCORADD154A"/>
<element name="X202_RECCORADD254A"/>
<element name="X202_RECCORADD354A"/>
<element name="X202_RECCORRID_54A"/>
<element name="X202_RECCORRNM_54A"/>
<element name="X202_RECCORRSW_54A"/>
<element name="X202_RELATEDNO_21"/>
<element name="X202_SENDCORRID53A"/>
<element name="X202_SENDCORRNM53A"/>
<element name="X202_SENDCORRSW53A"/>
<element name="X202_TAG_52A"/>
<element name="X202_TAG_53A"/>
<element name="X202_TAG_54A"/>
<element name="X202_TAG_56A"/>
<element name="X202_TAG_57A"/>
<element name="X202_TAG_58A"/>
<element name="X202_TAG_B2"/>
<element name="X202_TIME_INDI_13C"/>
<element name="X202_TRX_REF_NO_20"/>
<element name="X202_VALUE_DT_32A"/>
<element name="X798_21R_BANK_REF"/>
<element name="X798_23X_CODE"/>
<element name="X798_23X_NARR"/>
<element name="X798_29D_BENE_CONTACT"/>
<element name="X798_29P_PRO_BANK_IND"/>
<element name="X798_29S_CUST_IDEN_CODE"/>
<element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
<element name="X798_29S_CUST_IDEN_PARTY"/>
<element name="X798_29U_LEAD_BANK_IND"/>
<element name="X798_31C_ISSUE_DATE"/>
<element name="X798_32B_AMT"/>
<element name="X798_32B_GUAR_CCY"/>
<element name="X798_72C_B2C_INFO"/>
<element name="X798_ADD_BK_REF"/>
<element name="X798_ADD_CUST_REF"/>
<element name="X798_ADV_BK_CONT"/>
<element name="X798_ADV_BK_REF_21P"/>
<element name="X798_BANK_CONT"/>
<element name="X798_CHG_INFO"/>
<element name="X798_CONF_INDI"/>
<element name="X798_CONF_INFO"/>
<element name="X798_CRE_DATE"/>
<element name="X798_CRE_TIME"/>
<element name="X798_CUST_ADD"/>
<element name="X798_CUST_REF"/>
<element name="X798_INFO_ADV_BK"/>
<element name="X798_INSTRU_78B"/>
<element name="X798_LEAD_BK_ID"/>
<element name="X798_PAYMENT_LIABILITY_22S"/>
<element name="X798_PAYMENT_TERMS_22R"/>
<element name="X798_PROC_BK_ID"/>
</sequence>
</complexType>
</element>
</schema>
