EE_PARA/EE_PARA/Default/FORM/form_schema_FAIF_PreCreditAssessReqRemind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_BK_NM"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CNTY"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_BUYER_POSTBOX"/>
                <element name="FA_BUYER_POSTCODE"/>
                <element name="FA_BUYER_PROV"/>
                <element name="FA_CHG_BC_AMT"/>
                <element name="FA_CHG_BC_CCY"/>
                <element name="FA_CHG_BC_PERC"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_GOODS_CATEGORY"/>
                <element name="FA_GOODS_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INV_CCY1"/>
                <element name="FA_INV_CCY2"/>
                <element name="FA_INV_CCY3"/>
                <element name="FA_INV_CCY4"/>
                <element name="FA_INV_CCY5"/>
                <element name="FA_IS_FCI__DESC__"/>
                <element name="FA_IS_FCI"/>
                <element name="FA_MSG_FUNC__DESC__"/>
                <element name="FA_MSG_FUNC"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_NO_OF_CRN"/>
                <element name="FA_NO_OF_INV"/>
                <element name="FA_OA_TNOV"/>
                <element name="FA_OTHER_IF"/>
                <element name="FA_OTHER_TNOV"/>
                <element name="FA_PCA_REF"/>
                <element name="FA_PMT_COND__DESC__"/>
                <element name="FA_PMT_COND"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_PMT_TERMS_FLG__DESC__"/>
                <element name="FA_PMT_TERMS_FLG"/>
                <element name="FA_PRM_DISC_DAYS"/>
                <element name="FA_PRM_DISC_RT"/>
                <element name="FA_REQ_DT"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_AGENT_ID"/>
                <element name="FA_SEL_AGENT_NM"/>
                <element name="FA_SEL_AGENT_RIGHT"/>
                <element name="FA_SEL_CITY"/>
                <element name="FA_SEL_CNTY"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_POST_CODE"/>
                <element name="FA_SEL_PROV"/>
                <element name="FA_SEL_P_FLG__DESC__"/>
                <element name="FA_SEL_P_FLG"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_SND_DISC_DAYS"/>
                <element name="FA_SND_DISC_RT"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP_MSG_FUNC"/>
                <element name="FA_TTL_SEL_TNOV"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
