EE_PARA/EE_PARA/Default/FORM/form_schema_Std_Weekend_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_WEEKEND"/>
                <element name="C_WEEKEND_DESC"/>
                <element name="OP_TYPE"/>
                <element name="PRICE_DATE"/>
                <element name="_IS_WEEKEND"/>
                <element name="_TRX_STATUS"/>
                <element name="weekend"/>
            </sequence>
        </complexType>
    </element>
</schema>
