EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CZQO_Add_TakeTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="LMTS_F_CUST"/>
                            <element name="LMTS_F_FACI"/>
                            <element name="LMTS_F_RCUST"/>
                            <element name="LMTS_F_SUB"/>
                            <element name="LMTS_T_CUST"/>
                            <element name="LMTS_T_FACI"/>
                            <element name="LMTS_T_RCUST"/>
                            <element name="LMTS_T_SUB"/>
                            <element name="LM_CSL_DESC"/>
                            <element name="LM_FACI_TP"/>
                            <element name="LM_F_AMT"/>
                            <element name="LM_F_CCY"/>
                            <element name="LM_F_CUST"/>
                            <element name="LM_F_RCUST"/>
                            <element name="LM_NOTE"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="LM_TRX_AMT"/>
                            <element name="LM_TRX_CCY"/>
                            <element name="LM_T_CSL_NAME"/>
                            <element name="LM_T_CUST"/>
                            <element name="LM_T_FACI_TP"/>
                            <element name="LM_T_RCUST"/>
                            <element name="OP_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
