EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_ShowLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="LM_FUNC_NM"/>
                            <element name="LM_LOG_DATA"/>
                            <element name="LM_LOG_DATE"/>
                            <element name="LM_LOG_TIME"/>
                            <element name="LM_OPER_TP"/>
                            <element name="LM_TBL_NM"/>
                            <element name="LM_USER_ID"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
