EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_InEDI09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_FEE_LINK"/>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXCH_RT4"/>
                <element name="EXCH_RT6"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CB_FEE"/>
                <element name="FA_CB_FEE_CCY"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_TYPE__DESC__"/>
                <element name="FA_DOC_TYPE"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_IF_CHG_PAID_FLG"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IF_COMM_SUM"/>
                <element name="FA_IF_HAN_CHG_AMT"/>
                <element name="FA_IF_HAN_CHG_CCY"/>
                <element name="FA_IF_HAN_CHG_PAMT"/>
                <element name="FA_IF_HAN_CHG_SUM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCO_COMM_RT"/>
                <element name="FA_INCO_COMM_SUM"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_INCO_NM"/>
                <element name="FA_INSU_PAID_FLG"/>
                <element name="FA_INV_CCY1"/>
                <element name="FA_INV_CCY2"/>
                <element name="FA_INV_CCY3"/>
                <element name="FA_INV_CCY4"/>
                <element name="FA_INV_CCY5"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_APPRV"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_EXTRA"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TEMP_AMT12"/>
                <element name="FA_TEMP_DOC_STATUS"/>
                <element name="FA_TRF_DT"/>
                <element name="FA_TRF_FX_RT"/>
                <element name="FA_TRF_REF"/>
                <element name="FA_TTL_AMT_BA"/>
                <element name="FA_TTL_CRN_AMT"/>
                <element name="FA_TTL_CRN_NO"/>
                <element name="FA_TTL_FIN_RET_BAL"/>
                <element name="FA_TTL_IF_CHG_AMT"/>
                <element name="FA_TTL_INV_AMT"/>
                <element name="FA_TTL_INV_NO"/>
                <element name="FINC_CCY1"/>
                <element name="InvTRF">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_ADJ_AMT"/>
                            <element name="FA_ADJ_BAL"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_CREDIT_NOTE_PER_AMT"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_EF_COMM_AMT"/>
                            <element name="FA_EF_COMM_CCY"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_EF_HAN_CHG_PAMT"/>
                            <element name="FA_IF_CHG_PAID_FLG"/>
                            <element name="FA_IF_COMM_AMT"/>
                            <element name="FA_IF_COMM_CCY"/>
                            <element name="FA_IF_HAN_CHG_AMT"/>
                            <element name="FA_IF_HAN_CHG_CCY"/>
                            <element name="FA_IF_HAN_CHG_PAMT"/>
                            <element name="FA_INVAMT_IN_LMT"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_LATEST_SHIP_DT"/>
                            <element name="FA_ORDER_NO"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TEMP_AMT12"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FSBC_REF"/>
                            <element name="GOODS_DESC"/>
                            <element name="NOTES"/>
                            <element name="PO_NO"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="LM_OUTC_APL"/>
                <element name="LM_OUTC_APLO"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTC_APVO"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APLO"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OUTD_APVO"/>
                <element name="LimitsDo">
                    <complexType>
                        <sequence>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_DEBT_LMT"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_ERATE"/>
                            <element name="LM_EVENT_TYPE"/>
                            <element name="LM_ID"/>
                            <element name="LM_NM"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_PARENT_NM"/>
                            <element name="LM_REALLO"/>
                            <element name="LM_REVOLVING"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_TYPE"/>
                            <element name="LM_TYPE_DESC"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="RPT_OTHER_AMT1"/>
                <element name="RPT_OTHER_AMT2"/>
                <element name="RPT_TRX_BAL1"/>
                <element name="RPT_TRX_BAL2"/>
                <element name="TEMP_CHAR6"/>
                <element name="TEMP_DATE1"/>
                <element name="TEMP_DATE2"/>
                <element name="TEMP_DATE4"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
