EE_PARA/EE_PARA/Default/FORM/form_multi_schema_BPO_Payment_Terms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="DO_REF"/>
<element name="TSU_CCY"/>
<element name="TSU_PMT_AMT"/>
<element name="TSU_PMT_CD__DESC__"/>
<element name="TSU_PMT_CD"/>
<element name="TSU_PMT_DAYS"/>
<element name="TSU_PMT_OT_TERM"/>
<element name="TSU_PMT_PER"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
