EE_PARA/EE_PARA/Default/FORM/form_schema_CustomerStatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CNPT_ID"/>
<element name="CNPT_SHORT_NM"/>
<element name="CONT_NM"/>
<element name="CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="DEAL_TP"/>
<element name="DOC_TP"/>
<element name="DO_INDEX_NO"/>
<element name="EMAIL_CONT_SERL_NO"/>
<element name="INQ_CONT_DATA_BTN"/>
<element name="ITEM_FLD_NM"/>
<element name="MAIL_CONT_SERL_NO"/>
<element name="REVAL_SEND_FREQCE"/>
<element name="SERIAL_NO"/>
<element name="TEMP_BR_L_ADD1"/>
<element name="TEMP_BR_L_ADD2"/>
<element name="TEMP_BR_L_ADD3"/>
<element name="TEMP_CONT_NM"/>
<element name="TRANSMIT_MTHD"/>
</sequence>
</complexType>
</element>
</schema>
