EE_PARA/EE_PARA/Default/FORM/form_schema_BPO_CheckBPOAmend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADV_BK_ADD1"/>
                <element name="ADV_BK_ADD2"/>
                <element name="ADV_BK_ADD3"/>
                <element name="ADV_BK_ID"/>
                <element name="ADV_BK_MAIL_ADD"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="AMD_DETAILS"/>
                <element name="AMD_DT"/>
                <element name="BUSI_STATUS"/>
                <element name="BUYR_ADD1"/>
                <element name="BUYR_ADD2"/>
                <element name="BUYR_ADD3"/>
                <element name="BUYR_CORR_MED__DESC__"/>
                <element name="BUYR_CORR_MED"/>
                <element name="BUYR_EMAIL"/>
                <element name="BUYR_FAX"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_MAIL_ADD"/>
                <element name="BUYR_NM"/>
                <element name="CHG_COLL_CCY"/>
                <element name="CHG_COLL_CCY_DEF"/>
                <element name="CHG_COLL_CCY_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_TRX"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_RUN_MODE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="C_MAIN_REF"/>
                <element name="ChgDoDef">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ChgDoTrx">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_MAIL_ADD"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="LIAB_ACNO"/>
                <element name="LIAB_ACNO_OLD"/>
                <element name="MultiDebitSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiDebit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_DR_AC"/>
                                        <element name="C_MLDC_DR_AC_TYPE"/>
                                        <element name="C_MLDC_DR_ADD1"/>
                                        <element name="C_MLDC_DR_ADD2"/>
                                        <element name="C_MLDC_DR_ADD3"/>
                                        <element name="C_MLDC_DR_BK_AC"/>
                                        <element name="C_MLDC_DR_BK_ADD1"/>
                                        <element name="C_MLDC_DR_BK_ADD2"/>
                                        <element name="C_MLDC_DR_BK_ADD3"/>
                                        <element name="C_MLDC_DR_BK_COR_MED"/>
                                        <element name="C_MLDC_DR_BK_ID"/>
                                        <element name="C_MLDC_DR_BK_NAME"/>
                                        <element name="C_MLDC_DR_BK_SW_ADD"/>
                                        <element name="C_MLDC_DR_BK_SW_TAG"/>
                                        <element name="C_MLDC_DR_BRANCH"/>
                                        <element name="C_MLDC_DR_CCY"/>
                                        <element name="C_MLDC_DR_CHG_FLAG"/>
                                        <element name="C_MLDC_DR_COR_MED"/>
                                        <element name="C_MLDC_DR_DEAL"/>
                                        <element name="C_MLDC_DR_EMAIL_ADD"/>
                                        <element name="C_MLDC_DR_FAX_NO"/>
                                        <element name="C_MLDC_DR_ID"/>
                                        <element name="C_MLDC_DR_NAME"/>
                                        <element name="C_MLDC_DR_VAT_NO"/>
                                        <element name="D_MLDC_DR_VAL_DATE"/>
                                        <element name="N_MLDC_DR_AMT_DRCCY"/>
                                        <element name="N_MLDC_DR_AMT_TXCCY"/>
                                        <element name="N_MLDC_DR_CHG_LCCCY"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="F_MLDC_DR_RATE"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_DR_BY"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_DR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="NOTES"/>
                <element name="QR_CD_FLD"/>
                <element name="SUPLR_ADD1"/>
                <element name="SUPLR_ADD2"/>
                <element name="SUPLR_ADD3"/>
                <element name="SUPLR_CORR_MED__DESC__"/>
                <element name="SUPLR_CORR_MED"/>
                <element name="SUPLR_EMAIL"/>
                <element name="SUPLR_FAX"/>
                <element name="SUPLR_ID"/>
                <element name="SUPLR_MAIL_ADD"/>
                <element name="SUPLR_NM"/>
                <element name="TBPO_PAY_OBLIG">
                    <complexType>
                        <sequence>
                            <element name="ASSET_ACNO"/>
                            <element name="ASSET_ACNO_OLD"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_REF"/>
                            <element name="PERCENT"/>
                            <element name="R_ASSET_ACNO"/>
                            <element name="TSU_APLBL_LAW"/>
                            <element name="TSU_BPOOBLGR_AMT"/>
                            <element name="TSU_BPOOBLGR_BAL"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_CCY_OLD"/>
                            <element name="TSU_NEW_OBLGR_CONF_BAL"/>
                            <element name="TSU_OBLGRBK_ADD1"/>
                            <element name="TSU_OBLGRBK_ADD2"/>
                            <element name="TSU_OBLGRBK_ADD3"/>
                            <element name="TSU_OBLGRBK_ID"/>
                            <element name="TSU_OBLGRBK_MAIL_ADD"/>
                            <element name="TSU_OBLGRBK_NM"/>
                            <element name="TSU_OBLGRBK_SW_TAG"/>
                            <element name="TSU_OBLGR_BK"/>
                            <element name="TSU_OBLGR_CONF_BAL"/>
                            <element name="TSU_PMTOBLGR_AMT"/>
                            <element name="TSU_PMTOBLGR_AMT_OLD"/>
                            <element name="TSU_PMT_CHG_AMT"/>
                            <element name="TSU_PMT_CHG_PCTG"/>
                            <element name="TSU_PMT_XPRY_DT"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_RCPTBK"/>
                            <element name="TSU_RCPTBK_ADD1"/>
                            <element name="TSU_RCPTBK_ADD2"/>
                            <element name="TSU_RCPTBK_ADD3"/>
                            <element name="TSU_RCPTBK_ID"/>
                            <element name="TSU_RCPTBK_MAIL_ADD"/>
                            <element name="TSU_RCPTBK_NM"/>
                            <element name="TSU_RCPTBK_SW_TAG"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TBPO_PAY_TERMS">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_REF"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_PMT_AMT"/>
                            <element name="TSU_PMT_CD"/>
                            <element name="TSU_PMT_DAYS"/>
                            <element name="TSU_PMT_OT_TERM"/>
                            <element name="TSU_PMT_PER"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEMP_ASSET_ACNO_DESC"/>
                <element name="TRX_DT"/>
                <element name="TSU_AMD_TIMES"/>
                <element name="TSU_ANAY_REQ"/>
                <element name="TSU_BENE_ACC"/>
                <element name="TSU_BENE_BBAN"/>
                <element name="TSU_BENE_IBAN"/>
                <element name="TSU_BENE_UPIC"/>
                <element name="TSU_BK_BPO_FLG__DESC__"/>
                <element name="TSU_BK_BPO_FLG"/>
                <element name="TSU_CDTRAC_CCY"/>
                <element name="TSU_CDTRAC_NM"/>
                <element name="TSU_CDTRAC_TPCD__DESC__"/>
                <element name="TSU_CDTRAC_TPCD"/>
                <element name="TSU_CDTRAC_TPID"/>
                <element name="TSU_COMM_REQ"/>
                <element name="TSU_EARLST_SHIP_DT"/>
                <element name="TSU_FININST_BIC"/>
                <element name="TSU_FININST_NM"/>
                <element name="TSU_GOODS_DESC"/>
                <element name="TSU_HEAL_REQ"/>
                <element name="TSU_INSU_REQ"/>
                <element name="TSU_LATST_SHIP_DT"/>
                <element name="TSU_LINE_TTL_AMT"/>
                <element name="TSU_LINE_TTL_CCY"/>
                <element name="TSU_ORIG_REQ"/>
                <element name="TSU_PHYT_REQ"/>
                <element name="TSU_PO_DT"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_PRTL_SHIPMNT__DESC__"/>
                <element name="TSU_PRTL_SHIPMNT"/>
                <element name="TSU_QUAN_REQ"/>
                <element name="TSU_QUAT_REQ"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRAN_REQ"/>
                <element name="TSU_TRAN_SHIPMNT__DESC__"/>
                <element name="TSU_TRAN_SHIPMNT"/>
                <element name="TSU_TTL_NET_AMT"/>
                <element name="TSU_TTL_NET_AMT_OLD"/>
                <element name="TSU_TTL_NET_CCY"/>
                <element name="TSU_TTL_NET_CCY_OLD"/>
                <element name="TSU_WEIG_REQ"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
