EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSUM_ReceiveDCNote_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CUST_NOTES"/>
<element name="C_MAIN_REF"/>
<element name="C_MSG_CONTENT"/>
<element name="C_MSG_TYPE"/>
<element name="Commercial_sel"/>
<element name="OCBC_INV_GENERATE"/>
<element name="OCBC_MEG_SEND"/>
<element name="TSU_BENE_AC"/>
<element name="TSU_BUYER_NAME"/>
<element name="TSU_BUYR_MAILADD"/>
<element name="TSU_BYRBK_BIC"/>
<element name="TSU_BYRBK_ID"/>
<element name="TSU_BYRBK_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_DATA_ID"/>
<element name="TSU_COMM_DATA_ID_E"/>
<element name="TSU_COMM_DATA_VRSN"/>
<element name="TSU_COMM_DT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_CR_ACNO"/>
<element name="TSU_CR_ADDR"/>
<element name="TSU_CR_AMT"/>
<element name="TSU_CR_BK"/>
<element name="TSU_CR_COMP"/>
<element name="TSU_CR_DESC"/>
<element name="TSU_CR_DT"/>
<element name="TSU_CR_NO"/>
<element name="TSU_CUCU_ID"/>
<element name="TSU_CUST_ID"/>
<element name="TSU_CUST_REF"/>
<element name="TSU_DRCR_RES"/>
<element name="TSU_DS_REQ"/>
<element name="TSU_FINAL_AMT"/>
<element name="TSU_INSTRUCTION__DESC__"/>
<element name="TSU_INSTRUCTION"/>
<element name="TSU_INV_AMT"/>
<element name="TSU_IS_CREDIT"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_MAIN_REF"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_PMT_AMT"/>
<element name="TSU_PMT_CODE"/>
<element name="TSU_PMT_DAYS"/>
<element name="TSU_PO_ID"/>
<element name="TSU_REJT_RSN2"/>
<element name="TSU_REQD_STS"/>
<element name="TSU_SELLER_NAME"/>
<element name="TSU_SELLRBK_BIC"/>
<element name="TSU_SELLRBK_ID"/>
<element name="TSU_SELLRBK_NAME"/>
<element name="TSU_SELLR_MAILADD"/>
<element name="TSU_SUBMITR_BIC"/>
<element name="TSU_TID"/>
<element name="TSU_TRAN_DATA_ID"/>
<element name="TSU_TRAN_DATA_VRSN"/>
<element name="TSU_TRX_DT"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
<element name="Transport_sel"/>
<element name="imgDrawDown_TSU_TRX_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
