EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_ControlP_C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="LM_ALLW_FLAG"/>
                            <element name="LM_AUTO_CCY"/>
                            <element name="LM_AUTO_CREA"/>
                            <element name="LM_CHK_FACI"/>
                            <element name="LM_CR_TRANS"/>
                            <element name="LM_DUEDAY"/>
                            <element name="LM_DUEDAY_AS"/>
                            <element name="LM_INAC_FLAG"/>
                            <element name="LM_LOCA_CCY"/>
                            <element name="LM_MEMF_VOU"/>
                            <element name="LM_OVERLINE"/>
                            <element name="LM_PC_UN"/>
                            <element name="LM_RSRV_ARCH"/>
                            <element name="LM_RSRV_MAST"/>
                            <element name="LM_SHOW_MSG"/>
                            <element name="LM_WHCH_RATE"/>
                            <element name="LM_ZERO_INPT"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
