EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_CreateSBR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_BUYER"/>
                <element name="CHG_FREQ_CD__DESC__"/>
                <element name="CHG_FREQ_CD"/>
                <element name="CHG_PAID_BY__DESC__"/>
                <element name="CHG_PAID_BY"/>
                <element name="CLERK_ID"/>
                <element name="CUST_OFFC_CNTC_NM1"/>
                <element name="CUST_OFFC_CNTC_NM2"/>
                <element name="CUST_TYPE__DESC__"/>
                <element name="CUST_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_ANCHOR_ADD_ML"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_ANCHOR_ROLE"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_AUTO_DEBIT__DESC__"/>
                <element name="FA_AUTO_DEBIT"/>
                <element name="FA_AUTO_FIN__DESC__"/>
                <element name="FA_AUTO_FIN"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_BK_NM"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_CMMR_CNTR_DTL"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_COUNTER_CE_FLG__DESC__"/>
                <element name="FA_COUNTER_CE_FLG"/>
                <element name="FA_COUNTER_ID"/>
                <element name="FA_COUNTER_NM"/>
                <element name="FA_COUNTER_REG_NO"/>
                <element name="FA_COUNTER_ROLE"/>
                <element name="FA_COUNTER_TYPE__DESC__"/>
                <element name="FA_COUNTER_TYPE"/>
                <element name="FA_CUST_FLAG__DESC__"/>
                <element name="FA_CUST_FLAG"/>
                <element name="FA_CUST_REG_NO"/>
                <element name="FA_DOC_REQD"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_GOODS_DES"/>
                <element name="FA_GOODS_NM"/>
                <element name="FA_ID_DISCLOSED__DESC__"/>
                <element name="FA_ID_DISCLOSED"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INCO_ID"/>
                <element name="FA_INCO_NM"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_LMT_AC_NO"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_DUE_DT2"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_OVD_IRT_SPREAD"/>
                <element name="FA_PCA_REF"/>
                <element name="FA_PMT_COND__DESC__"/>
                <element name="FA_PMT_COND"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_PMT_TERMS_FLG__DESC__"/>
                <element name="FA_PMT_TERMS_FLG"/>
                <element name="FA_PRM_DISC_DAYS"/>
                <element name="FA_PRM_DISC_RT"/>
                <element name="FA_RELATION_STATUS__DESC__"/>
                <element name="FA_RELATION_STATUS"/>
                <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                <element name="FA_REQ_BUYER_APR_FLG"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_NO"/>
                <element name="FA_SEL_ADD_ML"/>
                <element name="FA_SEL_BK_BR"/>
                <element name="FA_SEL_BK_NM"/>
                <element name="FA_SEL_CNTC_FLG__DESC__"/>
                <element name="FA_SEL_CNTC_FLG"/>
                <element name="FA_SEL_CONT_FAX"/>
                <element name="FA_SEL_CONT_MAIL"/>
                <element name="FA_SEL_CONT_NM"/>
                <element name="FA_SEL_CONT_TEL"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_NM2"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_SND_DISC_DAYS"/>
                <element name="FA_SND_DISC_RT"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TTL_SEL_TNOV"/>
                <element name="FA_TTL_SEL_TNOVCCY"/>
                <element name="PO_MAX_LOAN_PERC"/>
                <element name="QR_CD_FLD"/>
                <element name="TRX_DT"/>
                <element name="XBOR_RT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
