EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_InvoiceVerify_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCEPT_INV_AMT"/>
                <element name="AMT_AVAL_FOR_FUNDING"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_ACCEPT_FLG__DESC__"/>
                <element name="FA_ACCEPT_FLG"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_COUNTER_ID"/>
                <element name="FA_COUNTER_NM"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_CONT_ADDR"/>
                <element name="FA_SEL_CONT_FAX"/>
                <element name="FA_SEL_CONT_MAIL"/>
                <element name="FA_SEL_CONT_TEL"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TRF_DT"/>
                <element name="FA_TRF_REF"/>
                <element name="INVC_CE_UNIT_CODE"/>
                <element name="INV_FIN_MODE__DESC__"/>
                <element name="INV_FIN_MODE"/>
                <element name="TEMP_CHAR1"/>
                <element name="TEMP_CHAR2"/>
                <element name="TEMP_CHAR3"/>
                <element name="TEMP_INV_NO"/>
                <element name="TRX_DT"/>
                <element name="VerifyInv">
                    <complexType>
                        <sequence>
                            <element name="EXCP_REASON"/>
                            <element name="FA_ADJ_AMT"/>
                            <element name="FA_ADJ_BAL"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CE_MAIN_REF"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_DOC_VERIFIED__DESC__"/>
                            <element name="FA_DOC_VERIFIED"/>
                            <element name="FA_FIN_FLG__DESC__"/>
                            <element name="FA_FIN_FLG"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_INV_LMT_APPRV"/>
                            <element name="FA_INV_LOAN_AMT"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_INV_LOAN_EBAL"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_ORDER_NO"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                            <element name="FA_REQ_BUYER_APR_FLG"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FSBC_REF"/>
                            <element name="INV_LOAN_AVL"/>
                            <element name="INV_PASS_POOL_VAL"/>
                            <element name="INV_POOL_STATUS"/>
                            <element name="NOTES"/>
                            <element name="TEMP_ACCEPT_INV"/>
                            <element name="T_SYS_OP_TIME"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
