EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFSUBIndirectPmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CLERK_ID"/>
<element name="FA_BA_FLG__DESC__"/>
<element name="FA_BA_FLG"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_CRN_INV_LINK_NO"/>
<element name="FA_DEDUCT_AMT"/>
<element name="FA_DOC_AMT"/>
<element name="FA_DOC_BAL"/>
<element name="FA_DOC_CCY"/>
<element name="FA_DOC_DT"/>
<element name="FA_DOC_DUE_DT"/>
<element name="FA_DOC_NO"/>
<element name="FA_DOC_REF"/>
<element name="FA_DOC_STATUS"/>
<element name="FA_DOC_TYPE__DESC__"/>
<element name="FA_DOC_TYPE"/>
<element name="FA_FINAL_PMT_FLG__DESC__"/>
<element name="FA_FINAL_PMT_FLG"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_INV_CLEAR_AMT"/>
<element name="FA_INV_LINK_REF"/>
<element name="FA_INV_LOAN_BAL"/>
<element name="FA_INV_LOAN_ID"/>
<element name="FA_INV_LOAN_TIMES"/>
<element name="FA_INV_REFUND_INT"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_PAID_INT_AMT"/>
<element name="FA_PAID_PRIN_AMT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_REF"/>
<element name="FA_PMT_TYPE__DESC__"/>
<element name="FA_PMT_TYPE"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP5"/>
<element name="FA_TEMP6"/>
<element name="FA_TEMP7"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT13"/>
<element name="FA_TEMP_AMT14"/>
<element name="FA_TEMP_AMT8"/>
<element name="FA_TEMP_CRN_BA"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_TEMP_DT2"/>
<element name="FA_TEMP_INV_BA"/>
<element name="FA_TEMP_INV_BAL"/>
<element name="FA_TEMP_INV_INT_AMT"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_Y_REFUND_INT"/>
<element name="TEMP_FLG1__DESC__"/>
<element name="TEMP_FLG1"/>
<element name="TRX_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
