EE_PARA/EE_PARA/Default/FORM/form_schema_BANK_BankMaintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC1_CCY"/>
                <element name="AC1_NO"/>
                <element name="ADD1"/>
                <element name="ADD2"/>
                <element name="ADD3"/>
                <element name="ADD_NARR"/>
                <element name="ARM_ID"/>
                <element name="ARM_NM"/>
                <element name="BK_CORR_MEDIUM__DESC__"/>
                <element name="BK_CORR_MEDIUM"/>
                <element name="BR_INFO"/>
                <element name="CITY"/>
                <element name="CNTY_CODE"/>
                <element name="CNTY_NM"/>
                <element name="CNTY_RISK"/>
                <element name="COLL_BK_ID_BTN"/>
                <element name="C_MAIN_REF"/>
                <element name="EMAIL_ADD"/>
                <element name="FAX_NO2"/>
                <element name="FUNCTION_ACTION"/>
                <element name="HO_ID"/>
                <element name="LANG_CD__DESC__"/>
                <element name="LANG_CD"/>
                <element name="MX_ACC"/>
                <element name="MX_AGENT"/>
                <element name="MX_N_ACC1"/>
                <element name="MX_N_ACC2"/>
                <element name="NARR_NM"/>
                <element name="NOSTRO_AC_CCY1"/>
                <element name="NOSTRO_AC_CCY2"/>
                <element name="NOSTRO_AC_NO1"/>
                <element name="NOSTRO_AC_NO2"/>
                <element name="NOSTRO_AC_TYPE1"/>
                <element name="NOSTRO_AC_TYPE2"/>
                <element name="NOTES"/>
                <element name="PARTY_WEBSITE"/>
                <element name="PostAddress">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="ORDER_NO"/>
                            <element name="POSTAL_FMT_ADD"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="SWIFT_ADD_HO"/>
                <element name="SW_ADD"/>
                <element name="SW_TAG_VAR"/>
                <element name="SwFMTAddress">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="ORDER_NO"/>
                            <element name="SWF_FMT_NM"/>
                            <element name="SWIFT_FMT_ADD1"/>
                            <element name="SWIFT_FMT_ADD2"/>
                            <element name="SWIFT_FMT_ADD3"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEL_NO2"/>
                <element name="VOSTRO_AC_TYPE"/>
            </sequence>
        </complexType>
    </element>
</schema>
