EE_PARA/EE_PARA/Default/FORM/form_schema_Std_CHG_Commission_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="COMM_OVERRIDE_FLAG"/>
                <element name="C_ADD_FLAG"/>
                <element name="C_COMMISSION_CODE"/>
                <element name="C_COMMISSION_DESC"/>
                <element name="C_COMMISSION_NAME"/>
                <element name="C_IS_TERM"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="I_START_LEVEL"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
