EE_PARA/EE_PARA/Default/FORM/form_schema_BPO_Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADV_BK_ADD1"/>
                <element name="ADV_BK_ADD2"/>
                <element name="ADV_BK_ADD3"/>
                <element name="ADV_BK_ID"/>
                <element name="ADV_BK_MAIL_ADD"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="AI_DUE_DT"/>
                <element name="BUSI_STATUS"/>
                <element name="BUYR_ADD1"/>
                <element name="BUYR_ADD2"/>
                <element name="BUYR_ADD3"/>
                <element name="BUYR_CORR_MED__DESC__"/>
                <element name="BUYR_CORR_MED"/>
                <element name="BUYR_EMAIL"/>
                <element name="BUYR_FAX"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_MAIL_ADD"/>
                <element name="BUYR_NM"/>
                <element name="CHG_COLL_CCY"/>
                <element name="CHG_COLL_CCY_DEF"/>
                <element name="CHG_COLL_CCY_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_AT_TRX"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_DEF"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR_TRX"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_RUN_MODE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="C_MAIN_REF"/>
                <element name="ChgDoDef">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ChgDoTrx">
                    <complexType>
                        <sequence>
                            <element name="CHG_ACTIVE_AMT"/>
                            <element name="CHG_ACTIVE_CCY"/>
                            <element name="CHG_BALANCE_AMT"/>
                            <element name="CHG_BALANCE_CCY"/>
                            <element name="CHG_BLANK"/>
                            <element name="CHG_CHARGE_AT"/>
                            <element name="CHG_CHARGE_FOR"/>
                            <element name="CHG_COLLECT_AMT"/>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_COLLECT_VAT_AMT"/>
                            <element name="CHG_COMMISSION_CODE"/>
                            <element name="CHG_COMMISSION_DESC"/>
                            <element name="CHG_COMM_START_DATE"/>
                            <element name="CHG_COMM_UPTO_DATE"/>
                            <element name="CHG_DISCOUNT_AMT"/>
                            <element name="CHG_DISCOUNT_RATE"/>
                            <element name="CHG_FLD_HIDDEN_FLAG"/>
                            <element name="CHG_FLD_ORIG_CALC_AMT"/>
                            <element name="CHG_FLD_ORIG_CALC_CCY"/>
                            <element name="CHG_FLD_OVERRIDE"/>
                            <element name="CHG_ID"/>
                            <element name="CHG_INDEX"/>
                            <element name="CHG_IS_OVERRIDE"/>
                            <element name="CHG_PAY_AMT"/>
                            <element name="CHG_PAY_CCY"/>
                            <element name="CHG_PAY_ENTRY_ID"/>
                            <element name="CHG_RATE_ID"/>
                            <element name="CHG_RULE_AMT"/>
                            <element name="CHG_RULE_CCY"/>
                            <element name="CHG_RULE_ID"/>
                            <element name="CHG_VAT_RATE"/>
                            <element name="CHG_VAT_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_MAIL_ADD"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="LIAB_ACNO"/>
                <element name="LIAB_ACNO_OLD"/>
                <element name="MultiCreditSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiCredit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_ANNGN_VAT_NO"/>
                                        <element name="C_MLDC_ASSGN_AC"/>
                                        <element name="C_MLDC_ASSGN_ADD1"/>
                                        <element name="C_MLDC_ASSGN_ADD2"/>
                                        <element name="C_MLDC_ASSGN_ADD3"/>
                                        <element name="C_MLDC_ASSGN_COR_MED"/>
                                        <element name="C_MLDC_ASSGN_EMAIL_ADD"/>
                                        <element name="C_MLDC_ASSGN_FAX_NO"/>
                                        <element name="C_MLDC_ASSGN_ID"/>
                                        <element name="C_MLDC_ASSGN_NM"/>
                                        <element name="C_MLDC_CR_AC"/>
                                        <element name="C_MLDC_CR_AC_TYPE"/>
                                        <element name="C_MLDC_CR_BK_AC"/>
                                        <element name="C_MLDC_CR_BK_ADD1"/>
                                        <element name="C_MLDC_CR_BK_ADD2"/>
                                        <element name="C_MLDC_CR_BK_ADD3"/>
                                        <element name="C_MLDC_CR_BK_COR_MED"/>
                                        <element name="C_MLDC_CR_BK_ID"/>
                                        <element name="C_MLDC_CR_BK_NAME"/>
                                        <element name="C_MLDC_CR_BK_SW_ADD"/>
                                        <element name="C_MLDC_CR_BK_SW_TAG"/>
                                        <element name="C_MLDC_CR_BRANCH"/>
                                        <element name="C_MLDC_CR_CCY"/>
                                        <element name="C_MLDC_CR_DEAL"/>
                                        <element name="F_MLDC_CR_RATE"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="D_MLDC_CR_VAL_DATE"/>
                                        <element name="N_MLDC_CR_AMT_CRCCY"/>
                                        <element name="N_MLDC_CR_AMT_TXCCY"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_ADV_MSG"/>
                                        <element name="C_MLDC_PAY_COV_MSG"/>
                                        <element name="C_MLDC_SETTLE_METHOD"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_CR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="N_MLDC_CR_CHG_LCCCY"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MultiDebitSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiDebit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_DR_AC"/>
                                        <element name="C_MLDC_DR_AC_TYPE"/>
                                        <element name="C_MLDC_DR_ADD1"/>
                                        <element name="C_MLDC_DR_ADD2"/>
                                        <element name="C_MLDC_DR_ADD3"/>
                                        <element name="C_MLDC_DR_BK_AC"/>
                                        <element name="C_MLDC_DR_BK_ADD1"/>
                                        <element name="C_MLDC_DR_BK_ADD2"/>
                                        <element name="C_MLDC_DR_BK_ADD3"/>
                                        <element name="C_MLDC_DR_BK_COR_MED"/>
                                        <element name="C_MLDC_DR_BK_ID"/>
                                        <element name="C_MLDC_DR_BK_NAME"/>
                                        <element name="C_MLDC_DR_BK_SW_ADD"/>
                                        <element name="C_MLDC_DR_BK_SW_TAG"/>
                                        <element name="C_MLDC_DR_BRANCH"/>
                                        <element name="C_MLDC_DR_CCY"/>
                                        <element name="C_MLDC_DR_CHG_FLAG"/>
                                        <element name="C_MLDC_DR_COR_MED"/>
                                        <element name="C_MLDC_DR_DEAL"/>
                                        <element name="C_MLDC_DR_EMAIL_ADD"/>
                                        <element name="C_MLDC_DR_FAX_NO"/>
                                        <element name="C_MLDC_DR_ID"/>
                                        <element name="C_MLDC_DR_NAME"/>
                                        <element name="C_MLDC_DR_VAT_NO"/>
                                        <element name="D_MLDC_DR_VAL_DATE"/>
                                        <element name="N_MLDC_DR_AMT_DRCCY"/>
                                        <element name="N_MLDC_DR_AMT_TXCCY"/>
                                        <element name="N_MLDC_DR_CHG_LCCCY"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="F_MLDC_DR_RATE"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_DR_BY"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_DR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="NOTES"/>
                <element name="PO_C_MAIN_REF"/>
                <element name="QR_CD_FLD"/>
                <element name="RadioGroup0"/>
                <element name="RadioGroup1"/>
                <element name="SUPLR_ADD1"/>
                <element name="SUPLR_ADD2"/>
                <element name="SUPLR_ADD3"/>
                <element name="SUPLR_CORR_MED__DESC__"/>
                <element name="SUPLR_CORR_MED"/>
                <element name="SUPLR_EMAIL"/>
                <element name="SUPLR_FAX"/>
                <element name="SUPLR_ID"/>
                <element name="SUPLR_MAIL_ADD"/>
                <element name="SUPLR_NM"/>
                <element name="TBPO_PAY_OBLIG">
                    <complexType>
                        <sequence>
                            <element name="ASSET_ACNO"/>
                            <element name="ASSET_ACNO_OLD"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_REF"/>
                            <element name="PERCENT"/>
                            <element name="R_ASSET_ACNO"/>
                            <element name="TSU_APLBL_LAW"/>
                            <element name="TSU_BPOOBLGR_AMT"/>
                            <element name="TSU_BPOOBLGR_BAL"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_CCY_OLD"/>
                            <element name="TSU_NEW_OBLGR_CONF_BAL"/>
                            <element name="TSU_OBLGRBK_ADD1"/>
                            <element name="TSU_OBLGRBK_ADD2"/>
                            <element name="TSU_OBLGRBK_ADD3"/>
                            <element name="TSU_OBLGRBK_ID"/>
                            <element name="TSU_OBLGRBK_MAIL_ADD"/>
                            <element name="TSU_OBLGRBK_NM"/>
                            <element name="TSU_OBLGRBK_SW_TAG"/>
                            <element name="TSU_OBLGR_BK"/>
                            <element name="TSU_OBLGR_CONF_BAL"/>
                            <element name="TSU_PMTOBLGR_AMT"/>
                            <element name="TSU_PMTOBLGR_AMT_OLD"/>
                            <element name="TSU_PMT_CHG_AMT"/>
                            <element name="TSU_PMT_CHG_PCTG"/>
                            <element name="TSU_PMT_XPRY_DT"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_RCPTBK"/>
                            <element name="TSU_RCPTBK_ADD1"/>
                            <element name="TSU_RCPTBK_ADD2"/>
                            <element name="TSU_RCPTBK_ADD3"/>
                            <element name="TSU_RCPTBK_ID"/>
                            <element name="TSU_RCPTBK_MAIL_ADD"/>
                            <element name="TSU_RCPTBK_NM"/>
                            <element name="TSU_RCPTBK_SW_TAG"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TBPO_PAY_TERMS">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DO_REF"/>
                            <element name="TSU_CCY"/>
                            <element name="TSU_PMT_AMT"/>
                            <element name="TSU_PMT_CD"/>
                            <element name="TSU_PMT_DAYS"/>
                            <element name="TSU_PMT_OT_TERM"/>
                            <element name="TSU_PMT_PER"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEMP_ASSET_ACNO_DESC"/>
                <element name="TEMP_FLG1__DESC__"/>
                <element name="TEMP_FLG1"/>
                <element name="TEMP_MESG_TYPE__DESC__"/>
                <element name="TEMP_MESG_TYPE"/>
                <element name="TEMP_X103BENECUADD1_59A"/>
                <element name="TEMP_X103BENECUADD2_59A"/>
                <element name="TEMP_X103BENECUADD3_59A"/>
                <element name="TEMP_X103_ACNO_51"/>
                <element name="TEMP_X103_BENECUACNO59A"/>
                <element name="TEMP_X103_BENECU_NM_59A"/>
                <element name="TRX_DT"/>
                <element name="TSU_ANAY_REQ"/>
                <element name="TSU_BENE_ACC"/>
                <element name="TSU_BENE_BBAN"/>
                <element name="TSU_BENE_IBAN"/>
                <element name="TSU_BENE_UPIC"/>
                <element name="TSU_CCY"/>
                <element name="TSU_CDTRAC_CCY"/>
                <element name="TSU_CDTRAC_NM"/>
                <element name="TSU_CDTRAC_TPCD__DESC__"/>
                <element name="TSU_CDTRAC_TPCD"/>
                <element name="TSU_CDTRAC_TPID"/>
                <element name="TSU_COMM_AMT"/>
                <element name="TSU_COMM_DT"/>
                <element name="TSU_COMM_REF"/>
                <element name="TSU_COMM_REQ"/>
                <element name="TSU_FININST_BIC"/>
                <element name="TSU_FININST_NM"/>
                <element name="TSU_GOODS_DESC"/>
                <element name="TSU_HEAL_REQ"/>
                <element name="TSU_IAFT_OT_TP"/>
                <element name="TSU_IAFT_TP__DESC__"/>
                <element name="TSU_IAFT_TP"/>
                <element name="TSU_INCOTMS_LCTN"/>
                <element name="TSU_INSU_REQ"/>
                <element name="TSU_LINE_TTL_AMT"/>
                <element name="TSU_LINE_TTL_CCY"/>
                <element name="TSU_ORIG_REQ"/>
                <element name="TSU_PAY_AMT"/>
                <element name="TSU_PHYT_REQ"/>
                <element name="TSU_PO_DT"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_QUAN_REQ"/>
                <element name="TSU_QUAT_REQ"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRAN_REQ"/>
                <element name="TSU_TRX_DTTM"/>
                <element name="TSU_TTL_NET_AMT"/>
                <element name="TSU_TTL_NET_CCY"/>
                <element name="TSU_WEIG_REQ"/>
                <element name="X103BENECUADD1_59A"/>
                <element name="X103BENECUADD1_59A_BTN"/>
                <element name="X103BENECUADD2_59A"/>
                <element name="X103BENECUADD3_59A"/>
                <element name="X103MEDIBKADD1_56A"/>
                <element name="X103MEDIBKADD2_56A"/>
                <element name="X103MEDIBKADD3_56A"/>
                <element name="X103RECCORRACNO54A"/>
                <element name="X103SENDBKADD1_51A"/>
                <element name="X103SENDBKADD2_51A"/>
                <element name="X103SENDBKADD3_51A"/>
                <element name="X103SENDCORACNO53A"/>
                <element name="X103SENDCORADD153A"/>
                <element name="X103SENDCORADD253A"/>
                <element name="X103SENDCORADD353A"/>
                <element name="X103_50_BTN"/>
                <element name="X103_50_NOTES"/>
                <element name="X103_50_ORDER_NO"/>
                <element name="X103_51_BTN"/>
                <element name="X103_51_NOTES"/>
                <element name="X103_51_ORDER_NO"/>
                <element name="X103_52A_BTN"/>
                <element name="X103_52_NOTES"/>
                <element name="X103_52_ORDER_NO"/>
                <element name="X103_53A_BTN"/>
                <element name="X103_53_NOTES"/>
                <element name="X103_53_ORDER_NO"/>
                <element name="X103_54A_BTN"/>
                <element name="X103_54_NOTES"/>
                <element name="X103_54_ORDER_NO"/>
                <element name="X103_56A_BTN"/>
                <element name="X103_56_NOTES"/>
                <element name="X103_56_ORDER_NO"/>
                <element name="X103_57A_BTN"/>
                <element name="X103_57_NOTES"/>
                <element name="X103_57_ORDER_NO"/>
                <element name="X103_59_BTN"/>
                <element name="X103_59_NOTES"/>
                <element name="X103_59_ORDER_NO"/>
                <element name="X103_ACCBKADD1_57A"/>
                <element name="X103_ACCBKADD2_57A"/>
                <element name="X103_ACCBKADD3_57A"/>
                <element name="X103_ACC_BKACNO57A"/>
                <element name="X103_ACC_BKID_57A"/>
                <element name="X103_ACC_BKNM_57A"/>
                <element name="X103_ACC_BKSW_57A"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_BTN"/>
                <element name="X103_B2_NOTES"/>
                <element name="X103_B2_ORDER_NO"/>
                <element name="X103_BENECUACNO59A"/>
                <element name="X103_BENECU_BKSW_59"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_BENECU_OP__DESC__"/>
                <element name="X103_BENECU_OP"/>
                <element name="X103_BKOP_CODE_23B"/>
                <element name="X103_BKTOBK_INFO72"/>
                <element name="X103_DET_CHG_71A"/>
                <element name="X103_ENV_CONT_77T"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_INSTRCODE_23E"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_MEDIBKACNO56A"/>
                <element name="X103_MEDI_BKID_56A"/>
                <element name="X103_MEDI_BKNM_56A"/>
                <element name="X103_MEDI_BKSW_56A"/>
                <element name="X103_ORDBKACNO_52A"/>
                <element name="X103_ORDBKADD1_52A"/>
                <element name="X103_ORDBKADD2_52A"/>
                <element name="X103_ORDBKADD3_52A"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_ID_OP__DESC__"/>
                <element name="X103_ORDCU_ID_OP"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_SW_50A"/>
                <element name="X103_ORD_BKID_52A"/>
                <element name="X103_ORD_BKNM_52A"/>
                <element name="X103_ORD_BKSW_52A"/>
                <element name="X103_RECCHGAMT_71G"/>
                <element name="X103_RECCHGCCY_71G"/>
                <element name="X103_RECCORADD154A"/>
                <element name="X103_RECCORADD254A"/>
                <element name="X103_RECCORADD354A"/>
                <element name="X103_RECCORRID_54A"/>
                <element name="X103_RECCORRNM_54A"/>
                <element name="X103_RECCORRSW_54A"/>
                <element name="X103_REG_REP_77B"/>
                <element name="X103_REMIT_INFO_70"/>
                <element name="X103_SENDBKACNO51A"/>
                <element name="X103_SENDCHGAMT71F"/>
                <element name="X103_SENDCHGCCY71F"/>
                <element name="X103_SENDCORRID53A"/>
                <element name="X103_SENDCORRNM53A"/>
                <element name="X103_SENDCORRSW53A"/>
                <element name="X103_SEND_BKID_51A"/>
                <element name="X103_SEND_BKNM_51A"/>
                <element name="X103_SEND_BKSW_51A"/>
                <element name="X103_SEND_NO_20"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_TAG_50A"/>
                <element name="X103_TAG_51A"/>
                <element name="X103_TAG_52A"/>
                <element name="X103_TAG_53A"/>
                <element name="X103_TAG_54A"/>
                <element name="X103_TAG_56A"/>
                <element name="X103_TAG_57A"/>
                <element name="X103_TAG_59A"/>
                <element name="X103_TAG_B2"/>
                <element name="X103_TIME_INDI_13C"/>
                <element name="X103_TRX_TYPCD_26T"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202_52_ADD_BTN"/>
                <element name="X202_52_BTN"/>
                <element name="X202_52_NOTES"/>
                <element name="X202_52_ORDER_NO"/>
                <element name="X202_53_ADD_BTN"/>
                <element name="X202_53_BTN"/>
                <element name="X202_53_NOTES"/>
                <element name="X202_53_ORDER_NO"/>
                <element name="X202_54_ADD_BTN"/>
                <element name="X202_54_BTN"/>
                <element name="X202_54_NOTES"/>
                <element name="X202_54_ORDER_NO"/>
                <element name="X202_56_ADD_BTN"/>
                <element name="X202_56_BTN"/>
                <element name="X202_56_NOTES"/>
                <element name="X202_56_ORDER_NO"/>
                <element name="X202_57_ADD_BTN"/>
                <element name="X202_57_BTN"/>
                <element name="X202_57_NOTES"/>
                <element name="X202_57_ORDER_NO"/>
                <element name="X202_58_ADD_BTN"/>
                <element name="X202_58_BTN"/>
                <element name="X202_58_NOTES"/>
                <element name="X202_58_ORDER_NO"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_B2_ADD_BTN"/>
                <element name="X202_B2_BTN"/>
                <element name="X202_B2_NOTES"/>
                <element name="X202_B2_ORDER_NO"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BKTOBK_INFO72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TAG_B2"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
