EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADA_InMT202.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_FACTOR_BIC"/>
                            <element name="FA_FACTOR_ID"/>
                            <element name="FA_FACTOR_NM"/>
                            <element name="FA_REMI_AMT"/>
                            <element name="FA_REMI_DT"/>
                            <element name="FA_REMI_REF"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202MEDIBKADD1_56A"/>
                            <element name="X202MEDIBKADD2_56A"/>
                            <element name="X202MEDIBKADD3_56A"/>
                            <element name="X202RECCORRACNO54A"/>
                            <element name="X202SENDCORACNO53A"/>
                            <element name="X202SENDCORADD153A"/>
                            <element name="X202SENDCORADD253A"/>
                            <element name="X202SENDCORADD353A"/>
                            <element name="X202_52_ADD_BTN"/>
                            <element name="X202_52_BTN"/>
                            <element name="X202_52_NOTES"/>
                            <element name="X202_52_ORDER_NO"/>
                            <element name="X202_53_ADD_BTN"/>
                            <element name="X202_53_BTN"/>
                            <element name="X202_53_NOTES"/>
                            <element name="X202_53_ORDER_NO"/>
                            <element name="X202_54_ADD_BTN"/>
                            <element name="X202_54_BTN"/>
                            <element name="X202_54_NOTES"/>
                            <element name="X202_54_ORDER_NO"/>
                            <element name="X202_56_ADD_BTN"/>
                            <element name="X202_56_BTN"/>
                            <element name="X202_56_NOTES"/>
                            <element name="X202_56_ORDER_NO"/>
                            <element name="X202_57_ADD_BTN"/>
                            <element name="X202_57_BTN"/>
                            <element name="X202_57_NOTES"/>
                            <element name="X202_57_ORDER_NO"/>
                            <element name="X202_58_ADD_BTN"/>
                            <element name="X202_58_BTN"/>
                            <element name="X202_58_NOTES"/>
                            <element name="X202_58_ORDER_NO"/>
                            <element name="X202_ACCBKADD1_57A"/>
                            <element name="X202_ACCBKADD2_57A"/>
                            <element name="X202_ACCBKADD3_57A"/>
                            <element name="X202_ACC_BKACNO57A"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ACC_BKSW_57A"/>
                            <element name="X202_ADV_BKADD1_B2"/>
                            <element name="X202_ADV_BKADD2_B2"/>
                            <element name="X202_ADV_BKADD3_B2"/>
                            <element name="X202_ADV_BKID_B2"/>
                            <element name="X202_ADV_BKNM_B2"/>
                            <element name="X202_ADV_BKSW_B2"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_B2_ADD_BTN"/>
                            <element name="X202_B2_BTN"/>
                            <element name="X202_B2_NOTES"/>
                            <element name="X202_B2_ORDER_NO"/>
                            <element name="X202_BENEBKACNO58A"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_BENE_BKSW_58A"/>
                            <element name="X202_BKTOBK_INFO72"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_MEDIBKACNO56A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_MEDI_BKSW_56A"/>
                            <element name="X202_ORDBKACNO_52A"/>
                            <element name="X202_ORDBKADD1_52A"/>
                            <element name="X202_ORDBKADD2_52A"/>
                            <element name="X202_ORDBKADD3_52A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_ORDBK_SW_52A"/>
                            <element name="X202_RECCORADD154A"/>
                            <element name="X202_RECCORADD254A"/>
                            <element name="X202_RECCORADD354A"/>
                            <element name="X202_RECCORRID_54A"/>
                            <element name="X202_RECCORRNM_54A"/>
                            <element name="X202_RECCORRSW_54A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_SENDCORRID53A"/>
                            <element name="X202_SENDCORRNM53A"/>
                            <element name="X202_SENDCORRSW53A"/>
                            <element name="X202_TAG_52A"/>
                            <element name="X202_TAG_53A"/>
                            <element name="X202_TAG_54A"/>
                            <element name="X202_TAG_56A"/>
                            <element name="X202_TAG_57A"/>
                            <element name="X202_TAG_58A"/>
                            <element name="X202_TAG_B2"/>
                            <element name="X202_TIME_INDI_13C"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
