EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_DeltaReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="R2PartyInfo">
                    <complexType>
                        <sequence>
                            <element name="BuyerBank">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="SellerBank">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Buyer">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Seller">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BillTo">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="ShipTo">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Consignee">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="Consignor">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_PARTY_NM"/>
                                        <element name="TSU_PARTY_ID"/>
                                        <element name="TSU_PARTY_ID_TP"/>
                                        <element name="TSU_PARTY_CNTY"/>
                                        <element name="TSU_STREET_NM"/>
                                        <element name="TSU_POST_CD"/>
                                        <element name="TSU_TOWN_NM"/>
                                        <element name="TSU_CNTY_SUB_DIVI"/>
                                        <element name="TSU_BUYER_SUB_BK"/>
                                        <element name="TSU_SEL_SUB_BK"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_BUYER_BK_BIC"/>
                                        <element name="TSU_BUYER_BK_ID"/>
                                        <element name="TSU_BUYER_BK_NM"/>
                                        <element name="TSU_SEL_BK_BIC"/>
                                        <element name="TSU_SEL_BK_ID"/>
                                        <element name="TSU_SEL_BK_NM"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="TSU_IDX"/>
                                        <element name="CUST_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_AMD_NO"/>
                <element name="TSU_BASELN_ID"/>
                <element name="TSU_BASELN_VRSN"/>
                <element name="TSU_DLTAPR_DTTM"/>
                <element name="TSU_DLTARP_ID"/>
                <element name="TSU_OUR_BIC"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_REQ_ACT_DESC"/>
                <element name="TSU_SUBMITR_BIC"/>
                <element name="TSU_SUBMIT_BASELN_ID"/>
                <element name="TSU_SUBMIT_BASELN_VRSN"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRX_STATUS__DESC__"/>
                <element name="TSU_TRX_STATUS"/>
                <element name="UpdateElement">
                    <complexType>
                        <sequence>
                            <element name="TSU_ADDTN"/>
                            <element name="TSU_DELTA_CUR_VAL"/>
                            <element name="TSU_DELTA_DELTD_VAL"/>
                            <element name="TSU_DELTA_ELMTNM"/>
                            <element name="TSU_DELTA_ELMTPTH"/>
                            <element name="TSU_DELTA_EMLTSEQNB"/>
                            <element name="TSU_DELTA_PROPSD_VAL"/>
                            <element name="TSU_DELTA_PROPSD_VAL_ADDTN"/>
                            <element name="TSU_DELTN"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
