EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_ReceivePOResponse_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="MSG_TYPE"/>
                            <element name="TSUR2_TRX_STATUS__DESC__"/>
                            <element name="TSUR2_TRX_STATUS"/>
                            <element name="TSU_BUYER_NM"/>
                            <element name="TSU_CUST_ID"/>
                            <element name="TSU_CUST_REF"/>
                            <element name="TSU_PO_ID"/>
                            <element name="TSU_PRE_FIN_FLG__DESC__"/>
                            <element name="TSU_PRE_FIN_FLG"/>
                            <element name="TSU_RES_FLAG__DESC__"/>
                            <element name="TSU_RES_FLAG"/>
                            <element name="TSU_SEL_NM"/>
                            <element name="TSU_TID"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
