EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_POAdjust_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCEPT_PO_AMT"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_ACCEPT_FLG__DESC__"/>
                            <element name="FA_ACCEPT_FLG"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_CONT_ADDR"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_CONT_ADDR"/>
                            <element name="FA_SEL_CONT_FAX"/>
                            <element name="FA_SEL_CONT_MAIL"/>
                            <element name="FA_SEL_CONT_TEL"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FA_TRF_REF"/>
                            <element name="INVC_CE_UNIT_CODE"/>
                            <element name="POAdjust">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="EXCP_REASON"/>
                                        <element name="FA_ANCHOR_ID"/>
                                        <element name="FA_ANCHOR_NM"/>
                                        <element name="FA_BUSI_TYPE__DESC__"/>
                                        <element name="FA_BUSI_TYPE"/>
                                        <element name="FA_BUYER_ID"/>
                                        <element name="FA_BUYER_NM"/>
                                        <element name="FA_CNTR_REF"/>
                                        <element name="FA_COUNTER_ID"/>
                                        <element name="FA_COUNTER_NM"/>
                                        <element name="FA_DOC_VERIFIED__DESC__"/>
                                        <element name="FA_DOC_VERIFIED"/>
                                        <element name="FA_EF_COMM_AMT"/>
                                        <element name="FA_EF_COMM_RT"/>
                                        <element name="FA_EF_HAN_CHG_AMT"/>
                                        <element name="FA_EF_HAN_CHG_CCY"/>
                                        <element name="FA_EF_HAN_CHG_PAMT"/>
                                        <element name="FA_GOODS_NM"/>
                                        <element name="FA_LATEST_SHIP_DT"/>
                                        <element name="FA_PMT_GRC_DAY"/>
                                        <element name="FA_PMT_TERMS"/>
                                        <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                                        <element name="FA_REQ_BUYER_APR_FLG"/>
                                        <element name="FA_SBR_REF"/>
                                        <element name="FA_SEL_ID"/>
                                        <element name="FA_SEL_NM"/>
                                        <element name="FA_TEMP_AMT10"/>
                                        <element name="FA_TRF_FX_RT"/>
                                        <element name="GOODS_DESC"/>
                                        <element name="PO_AMT"/>
                                        <element name="PO_BAL"/>
                                        <element name="PO_CCY"/>
                                        <element name="PO_DT"/>
                                        <element name="PO_DUE_DT"/>
                                        <element name="PO_LOAN_AVL"/>
                                        <element name="PO_MAX_LOAN_PERC"/>
                                        <element name="PO_NO"/>
                                        <element name="PO_REF"/>
                                        <element name="PO_STATUS"/>
                                        <element name="PO_VAL_DT"/>
                                        <element name="TRX_DT"/>
                                        <element name="T_SYS_OP_TIME"/>
                                        <element name="Y_TEMP1_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PO_AVAL_FOR_FUNDING"/>
                            <element name="PO_CCY"/>
                            <element name="PO_MAX_LOAN_PERC"/>
                            <element name="TEMP_ACCEPT_PO"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_CHAR2"/>
                            <element name="TEMP_CHAR3"/>
                            <element name="TEMP_INV_NO"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
