EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IAAC_InqAmzEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCESS_BY"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_BORROWER_ID"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_CREATE_FROM"/>
<element name="IA_C_DIS_CUSTCCY"/>
<element name="IA_C_DIS_LOCALCCY"/>
<element name="IA_C_EVENT_NO"/>
<element name="IA_C_EVENT_TYPE"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_REC_TYPE"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_ROLBAK_EVTNO"/>
<element name="IA_C_ROLLBACK_FLG"/>
<element name="IA_D_ACCESS_DATE"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_DUE_DATE"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_N_EXTEND_RATE"/>
<element name="IA_N_FIX_BAS_RATE"/>
<element name="IA_N_FIX_SPR_RATE"/>
<element name="IA_N_PEN_RATE"/>
<element name="IA_Y_CURR_OUTAMT"/>
<element name="IA_Y_CUST_INT"/>
<element name="IA_Y_EQVL_INT"/>
<element name="IA_Y_PAID_BASINT"/>
<element name="IA_Y_PAID_INT"/>
<element name="IA_Y_PREV_OUTAMT"/>
<element name="IA_Y_REFUND_BASINT"/>
<element name="IA_Y_REFUND_INT"/>
<element name="IA_Y_TRX_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
