EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_FinancingRequest_ME_BK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AML_DATA"/>
                            <element name="AML_RESPONSE"/>
                            <element name="BPO_SETT_FLG__DESC__"/>
                            <element name="BPO_SETT_FLG"/>
                            <element name="BU_ID"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="COMM_ACC1"/>
                            <element name="COMM_ACC2"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_ORI_MAIN_REF"/>
                            <element name="DEVON_SUSP_AC"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EMAIL_TEMPL_NAME"/>
                            <element name="EXCH_RT6"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CE_MAIN_REF"/>
                            <element name="FA_CLM_DISC_TYPE"/>
                            <element name="FA_COMM_CHG_TYPE__DESC__"/>
                            <element name="FA_COMM_CHG_TYPE"/>
                            <element name="FA_CR_CNTR_NO"/>
                            <element name="FA_CR_NO"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_CUST_INSTR__DESC__"/>
                            <element name="FA_CUST_INSTR"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_CCY_FOR_INQ"/>
                            <element name="FA_FIN_INFO"/>
                            <element name="FA_FIN_TYPE__DESC__"/>
                            <element name="FA_FIN_TYPE"/>
                            <element name="FA_INCO_ID"/>
                            <element name="FA_INCO_NM"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_INV_CCY"/>
                            <element name="FA_IRT_SPREAD"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LOAN_CCY"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                            <element name="FA_LOAN_IRATE_TYPE"/>
                            <element name="FA_LOAN_PERC"/>
                            <element name="FA_LOAN_STATUS"/>
                            <element name="FA_MAX_LOAN_PERC"/>
                            <element name="FA_PAID_INT_SUM"/>
                            <element name="FA_PAYMENT_METHOD__DESC__"/>
                            <element name="FA_PAYMENT_METHOD"/>
                            <element name="FA_PMT_AMT_SUM"/>
                            <element name="FA_PMT_CCY"/>
                            <element name="FA_PMT_GRC_DAY"/>
                            <element name="FA_REBATE_AMT"/>
                            <element name="FA_REBATE_RATE"/>
                            <element name="FA_REMI_CCY1"/>
                            <element name="FA_REMI_CCY2"/>
                            <element name="FA_REMI_CCY3"/>
                            <element name="FA_REMI_CCY4"/>
                            <element name="FA_REMI_CCY5"/>
                            <element name="FA_REQ_FIN_NO"/>
                            <element name="FA_SBR_REF"/>
                            <element name="FA_SEL_AC_AMT"/>
                            <element name="FA_SEL_AC_CCY"/>
                            <element name="FA_SEL_AC_NO"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_AMT13"/>
                            <element name="FA_TEMP_AMT9"/>
                            <element name="FA_TEMP_DOC_STATUS"/>
                            <element name="FA_TEMP_RT_TYPE1"/>
                            <element name="FA_TEMP_RT_TYPE2"/>
                            <element name="FA_TEMP_RT_TYPE3"/>
                            <element name="FA_TEMP_RT_TYPE4"/>
                            <element name="FA_TEMP_RT_TYPE5"/>
                            <element name="FA_TENOR"/>
                            <element name="FA_TTL_CRN_BAL"/>
                            <element name="FA_TTL_INV_BAL"/>
                            <element name="FA_TTL_INV_LOAN_AMT"/>
                            <element name="FA_TTL_INV_NO"/>
                            <element name="FA_TTL_LOAN_AMT"/>
                            <element name="FA_TTL_LOAN_BAL"/>
                            <element name="FA_VOUCHER_OPTION"/>
                            <element name="FIN_FLG__DESC__"/>
                            <element name="FIN_FLG"/>
                            <element name="IA_C_INTF_ID"/>
                            <element name="INT_TRA_ERRCODE"/>
                            <element name="INT_TRA_STATUS"/>
                            <element name="InvFinance">
                                <complexType>
                                    <sequence>
                                        <element name="CLERK_ID"/>
                                        <element name="FA_ADJ_AMT"/>
                                        <element name="FA_ADJ_BAL"/>
                                        <element name="FA_COMM_CHG_TYPE__DESC__"/>
                                        <element name="FA_COMM_CHG_TYPE"/>
                                        <element name="FA_CRN_AMT_SUM"/>
                                        <element name="FA_CRN_BAL"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_FIN_LOAN_AMT"/>
                                        <element name="FA_INT_CHG_TYPE__DESC__"/>
                                        <element name="FA_INT_CHG_TYPE"/>
                                        <element name="FA_INV_INT_DAYS"/>
                                        <element name="FA_INV_LMT_APPRV"/>
                                        <element name="FA_INV_LOAN_AMT"/>
                                        <element name="FA_INV_LOAN_BAL"/>
                                        <element name="FA_INV_LOAN_EBAL"/>
                                        <element name="FA_INV_LOAN_ID"/>
                                        <element name="FA_INV_LOAN_TIMES"/>
                                        <element name="FA_LAST_PINT_DT"/>
                                        <element name="FA_LOAN_DAYS"/>
                                        <element name="FA_LOAN_DUE_DT"/>
                                        <element name="FA_LOAN_INT_AMT"/>
                                        <element name="FA_LOAN_INT_RT"/>
                                        <element name="FA_LOAN_INT_SM_AMT"/>
                                        <element name="FA_LOAN_PERC"/>
                                        <element name="FA_LOAN_STATUS"/>
                                        <element name="FA_LOAN_VAL_DT"/>
                                        <element name="FA_PMT_GRC_DAY"/>
                                        <element name="FA_REBATE_AMT"/>
                                        <element name="FA_SEL_ID"/>
                                        <element name="FA_SUM_PERCENT"/>
                                        <element name="FA_TEMP3"/>
                                        <element name="FA_TEMP4"/>
                                        <element name="FA_TEMP6"/>
                                        <element name="FA_TEMP7"/>
                                        <element name="FA_TEMP_AMT15"/>
                                        <element name="FA_TEMP_AMT16"/>
                                        <element name="FA_TRF_FX_RT"/>
                                        <element name="INV_LOAN_AVL"/>
                                        <element name="PO_LOAN_BAL"/>
                                        <element name="PO_NO"/>
                                        <element name="TEMP_INT9"/>
                                        <element name="T_SYS_OP_TIME"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CSL_DESC"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="NOSTRO_ACNO"/>
                            <element name="NOSTRO_ACNO1"/>
                            <element name="NOSTRO_AC_CCY"/>
                            <element name="NOSTRO_BKID"/>
                            <element name="NOSTRO_BKNAME"/>
                            <element name="NOSTRO_BK_ADD"/>
                            <element name="NOSTRO_BK_MEDIUM"/>
                            <element name="NOSTRO_SWIFT_ADD"/>
                            <element name="NOSTRO_SWIFT_TAG"/>
                            <element name="PAY_COV_MSG"/>
                            <element name="PO_MAX_LOAN_PERC"/>
                            <element name="QR_CD_FLD"/>
                            <element name="QUARTZ_SAP"/>
                            <element name="SEND_COR_SWIFT_FLA"/>
                            <element name="TEMP_RATE1"/>
                            <element name="TEMP_RATE2"/>
                            <element name="TEMP_RATE3"/>
                            <element name="TEMP_RATE4"/>
                            <element name="TEMP_RATE5"/>
                            <element name="TEMP_RATE6"/>
                            <element name="TEMP_RATE7"/>
                            <element name="TEMP_RATE8"/>
                            <element name="TEMP_TRX_CCY"/>
                            <element name="TFSUSP_CFC_AC"/>
                            <element name="TF_INCOME"/>
                            <element name="TF_ZAR_SUSP"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_LOAN_AVL"/>
                            <element name="TTL_PO_LOAN_AVL"/>
                            <element name="VOSTROACCOUNTNO"/>
                            <element name="VOSTRO_ACNO"/>
                            <element name="VOSTRO_CCY"/>
                            <element name="XBOR_RT"/>
                            <element name="XBOR_RT_TEMP"/>
                            <element name="lookup23"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
