EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_CCAEdit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_BUYER"/>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXCH_RT1"/>
                <element name="EXCH_RT2"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_APPL_INFO"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_BK_BRCH"/>
                <element name="FA_BUYER_BK_NM"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                <element name="FA_BUYER_CNTC_FLG"/>
                <element name="FA_BUYER_CNTY"/>
                <element name="FA_BUYER_CNTY1"/>
                <element name="FA_BUYER_COMP_REG"/>
                <element name="FA_BUYER_CONT_ADDR"/>
                <element name="FA_BUYER_CONT_FAX"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_BUYER_POSTBOX"/>
                <element name="FA_BUYER_POSTCODE"/>
                <element name="FA_BUYER_PROV"/>
                <element name="FA_BUYER_RESP_AGNT"/>
                <element name="FA_CCA_REF"/>
                <element name="FA_CCA_THEIR_REF"/>
                <element name="FA_CHG_BC_AMT"/>
                <element name="FA_CHG_BC_CCY"/>
                <element name="FA_CHG_BC_PERC"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CREDIT_REQ__DESC__"/>
                <element name="FA_CREDIT_REQ"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_FACTOR_BIC"/>
                <element name="FA_GOODS_CODE"/>
                <element name="FA_GOODS_DES"/>
                <element name="FA_GOODS_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_INV_CCY1"/>
                <element name="FA_INV_CCY2"/>
                <element name="FA_INV_CCY3"/>
                <element name="FA_INV_CCY4"/>
                <element name="FA_INV_CCY5"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG01_FUNC__DESC__"/>
                <element name="FA_MSG01_FUNC"/>
                <element name="FA_MSG_FUNC__DESC__"/>
                <element name="FA_MSG_FUNC"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_NORMAL_TERMS"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_NO_OF_CRN"/>
                <element name="FA_NO_OF_INV"/>
                <element name="FA_OA_TNOV"/>
                <element name="FA_OA_TNOV_CCY"/>
                <element name="FA_ORDER_NO"/>
                <element name="FA_OTHER_IF"/>
                <element name="FA_OTHER_TNOV"/>
                <element name="FA_OTHER_TNOV_CCY"/>
                <element name="FA_OWN_RISK_AMT"/>
                <element name="FA_OWN_RISK_PERC"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_PMT_TERMS_FLG__DESC__"/>
                <element name="FA_PMT_TERMS_FLG"/>
                <element name="FA_PRM_DISC_DAYS"/>
                <element name="FA_PRM_DISC_RT"/>
                <element name="FA_REQ_DT"/>
                <element name="FA_SEL_AC_NO"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_AGENT_ID"/>
                <element name="FA_SEL_AGENT_RIGHT"/>
                <element name="FA_SEL_BK_BR"/>
                <element name="FA_SEL_BK_NM"/>
                <element name="FA_SEL_CITY"/>
                <element name="FA_SEL_CNTY"/>
                <element name="FA_SEL_COMP_REG"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_POST_CODE"/>
                <element name="FA_SEL_PROV"/>
                <element name="FA_SEL_RESP_AGNT"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_SND_DISC_DAYS"/>
                <element name="FA_SND_DISC_RT"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP_IF_LMT_DUE_DT"/>
                <element name="FA_TEMP_IF_LMT_VAL_DT"/>
                <element name="FA_TTL_SEL_TNOV"/>
                <element name="FA_TTL_SEL_TNOVCCY"/>
                <element name="GL_PROD_CODE"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RSV_LINK"/>
                <element name="PRODUCT_CODE"/>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_CHAR1"/>
                <element name="TEMP_CHAR2"/>
                <element name="TEMP_CHAR21"/>
                <element name="TEMP_CHAR6"/>
                <element name="TEMP_DATE4"/>
                <element name="TEMP_FLG1__DESC__"/>
                <element name="TEMP_FLG1"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="X750_72"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
