EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Swift_Incoming_HO_AssignRecede.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BUSINESS_UNIT_TYPE"/>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_CP_UNIT_CODE"/>
<element name="C_MAIN_REF"/>
<element name="C_MSG_CONTENT"/>
<element name="C_MSG_MEMO"/>
<element name="C_MSG_MEMO_APPEND"/>
<element name="C_MSG_MEMO_ORIGINAL"/>
<element name="C_MSG_TYPE"/>
<element name="C_STP_CODE"/>
<element name="ISRELEASE"/>
<element name="Operation"/>
<element name="REASSIGN_RECEDE"/>
<element name="TRX_EDIT_TYPE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
