EE_PARA/EE_PARA/Default/FORM/form_schema_EPLC_InquireTrx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC_WT_INS_ID_BTN"/>
                <element name="ADDIT_CONDITION"/>
                <element name="ADD_AMT_COVRD"/>
                <element name="ADV_LC_BY__DESC__"/>
                <element name="ADV_LC_BY"/>
                <element name="ADV_THRU_BK_ID_BTN"/>
                <element name="ADV_THU_BK_ADD1"/>
                <element name="ADV_THU_BK_ADD2"/>
                <element name="ADV_THU_BK_ADD3"/>
                <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                <element name="ADV_THU_BK_CORR_MED"/>
                <element name="ADV_THU_BK_ID"/>
                <element name="ADV_THU_BK_NM"/>
                <element name="ADV_THU_BK_SW_ADD"/>
                <element name="ADV_THU_BK_SW_TAG"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_BK_ADD1"/>
                <element name="APPL_BK_ADD2"/>
                <element name="APPL_BK_ADD3"/>
                <element name="APPL_BK_BTN"/>
                <element name="APPL_BK_ID"/>
                <element name="APPL_BK_NM"/>
                <element name="APPL_BK_SW_ADD"/>
                <element name="APPL_BK_SW_TAG"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_NM"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AVAL_WT_BK_ADD1"/>
                <element name="AVAL_WT_BK_ADD2"/>
                <element name="AVAL_WT_BK_ADD3"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AVAL_WT_BK_NM"/>
                <element name="AVAL_WT_BK_SW_ADD"/>
                <element name="AVAL_WT_BK_SW_TAG"/>
                <element name="BENE_ACNO"/>
                <element name="BENE_AC_OFF_CODE"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_LANG__DESC__"/>
                <element name="BENE_LANG"/>
                <element name="BENE_MAIL_ADD"/>
                <element name="BENE_NM"/>
                <element name="BENE_REF_NO"/>
                <element name="BENE_TLX"/>
                <element name="BK_TO_BK_INFO"/>
                <element name="CHARGES"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="CONF_BAL"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="DEF_PMT_DET"/>
                <element name="DEST_PLACE"/>
                <element name="DEST_PORT"/>
                <element name="DOC_REQ"/>
                <element name="DRAFTS_AT"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_ID_BTN"/>
                <element name="DRWE_NM"/>
                <element name="DRWE_SW_ADD"/>
                <element name="DRWE_SW_TAG"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC_NARR"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FORM_OF_LC__DESC__"/>
                <element name="FORM_OF_LC"/>
                <element name="GOODS_DESC"/>
                <element name="INSTR_TO_PAY_BK"/>
                <element name="ISSUE_BK_52_ADD1"/>
                <element name="ISSUE_BK_52_ADD2"/>
                <element name="ISSUE_BK_52_ADD3"/>
                <element name="ISSUE_BK_52_BTN"/>
                <element name="ISSUE_BK_52_ID"/>
                <element name="ISSUE_BK_52_NM"/>
                <element name="ISSUE_BK_52_SW_ADD"/>
                <element name="ISSUE_BK_52_SW_TAG"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_CHG"/>
                <element name="ISSUE_BK_CHG_CCY"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_DT"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LOAD_PLACE"/>
                <element name="LOAD_PORT"/>
                <element name="LOGIN_BIC"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MSG_TYPE"/>
                <element name="NEG_TOL"/>
                <element name="NOTES"/>
                <element name="OUR_ENG__DESC__"/>
                <element name="OUR_ENG"/>
                <element name="OUR_ROLE__DESC__"/>
                <element name="OUR_ROLE"/>
                <element name="PARTIAL_SHIP__DESC__"/>
                <element name="PARTIAL_SHIP"/>
                <element name="PARTIAL_SHIP_NARR"/>
                <element name="POS_TOL"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REIM_BK_ADD1"/>
                <element name="REIM_BK_ADD2"/>
                <element name="REIM_BK_ADD3"/>
                <element name="REIM_BK_ID"/>
                <element name="REIM_BK_ID_BTN"/>
                <element name="REIM_BK_NM"/>
                <element name="REIM_BK_SW_ADD"/>
                <element name="REIM_BK_SW_TAG"/>
                <element name="REV_LC__DESC__"/>
                <element name="REV_LC"/>
                <element name="SENT_MT730_FLG__DESC__"/>
                <element name="SENT_MT730_FLG"/>
                <element name="SHIP_PRD"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_APPL_ID"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TNSHIP__DESC__"/>
                <element name="TNSHIP"/>
                <element name="TNSHIP_NARR"/>
                <element name="TRM_TO_BK_ADD1"/>
                <element name="TRM_TO_BK_ADD2"/>
                <element name="TRM_TO_BK_ADD3"/>
                <element name="TRM_TO_BK_ID"/>
                <element name="TRM_TO_BK_ID_BTN"/>
                <element name="TRM_TO_BK_NM"/>
                <element name="TRM_TO_BK_SW_ADD"/>
                <element name="TRM_TO_BK_SW_TAG"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="WEB_REF"/>
            </sequence>
        </complexType>
    </element>
</schema>
