EE_PARA/EE_PARA/Default/FORM/form_schema_RegForClean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="APPL_CNTY_RES"/>
<element name="BENE_AC_TYPE__DESC__"/>
<element name="BENE_AC_TYPE"/>
<element name="BENE_CNTY_RES"/>
<element name="CHEQ_NO"/>
<element name="CHIP_FED"/>
<element name="CPYT_DR_AC"/>
<element name="CPYT_DR_AMT_DRCCY"/>
<element name="CPYT_DR_CCY"/>
<element name="CR_CALC_AMT"/>
<element name="DB_CALC_AMT"/>
<element name="ORIG_IBAN_VALID"/>
<element name="PMT_TYPE__DESC__"/>
<element name="PMT_TYPE"/>
<element name="RELA_REF"/>
<element name="X103BENECUADD1_59A"/>
<element name="X103BENECUADD2_59A"/>
<element name="X103BENECUADD3_59A"/>
<element name="X103_ACCBKADD1_57A"/>
<element name="X103_ACCBKADD2_57A"/>
<element name="X103_ACCBKADD3_57A"/>
<element name="X103_ACC_BKACNO57A"/>
<element name="X103_ACC_BKID_57A"/>
<element name="X103_ACC_BKNM_57A"/>
<element name="X103_ACC_BKSW_57A"/>
<element name="X103_BENECUACNO59A"/>
<element name="X103_BENECU_ID_59A"/>
<element name="X103_BENECU_NM_59A"/>
<element name="X103_BK2BK_INF2_72"/>
<element name="X103_BK2BK_INF3_72"/>
<element name="X103_BK2BK_INF4_72"/>
<element name="X103_BK2BK_INF6_72"/>
<element name="X103_EXCH_RT_36"/>
<element name="X103_INSTR_AMT_33B"/>
<element name="X103_INSTR_CCY_33B"/>
<element name="X103_ORDCUACNO_50A"/>
<element name="X103_ORDCUADD1_50A"/>
<element name="X103_ORDCUADD2_50A"/>
<element name="X103_ORDCUADD3_50A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_ORDCU_NM_50A"/>
<element name="X103_ORDCU_SW_50A"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_57A"/>
<element name="X103_VALUE_DT_32A"/>
<element name="lookup2"/>
<element name="lookup32"/>
<element name="lookup62"/>
</sequence>
</complexType>
</element>
</schema>
