EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_DefinedInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_COMM_REF"/>
<element name="TSU_DFINFO_DESC"/>
<element name="TSU_DFINFO_LABLE"/>
<element name="TSU_PO_ID"/>
<element name="TSU_TRAN_DOC_REF"/>
<element name="TSU_TRAN_INF"/>
</sequence>
</complexType>
</element>
</schema>
