EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IAAC_InqAccMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCESS_BY"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_ACC_LVL"/>
<element name="IA_C_AMZ_FLG"/>
<element name="IA_C_AUTODBT_FLG"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CPN_FRE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_DLY_FLG"/>
<element name="IA_C_FLT_RAT_TBLID"/>
<element name="IA_C_FORM_ID"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_PURP_ID"/>
<element name="IA_C_REC_TYPE"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_SCHE_TYPE"/>
<element name="IA_C_SPR_RAT_TBLID"/>
<element name="IA_C_STATUS_FLG"/>
<element name="IA_D_ACCESS_DATE"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_DUE_DATE"/>
<element name="IA_D_LAST_ACCDATE"/>
<element name="IA_D_LAST_INT_ADV"/>
<element name="IA_D_LAST_INT_PAID"/>
<element name="IA_D_LAST_PDDATE"/>
<element name="IA_D_LAST_POSTDATE"/>
<element name="IA_D_LAST_SCHEDATE"/>
<element name="IA_D_NEXT_ACCDATE"/>
<element name="IA_D_NEXT_POSTDATE"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_I_CCY_DEC"/>
<element name="IA_I_FLT_RATE_NO"/>
<element name="IA_I_SPR_RATE_NO"/>
<element name="IA_N_CURBAS_ACCADJ"/>
<element name="IA_N_CURRNT_ACCADJ"/>
<element name="IA_N_EFFECT_RATE"/>
<element name="IA_N_EXCH_RATE"/>
<element name="IA_N_EXTEND_RATE"/>
<element name="IA_N_FIX_BAS_RATE"/>
<element name="IA_N_FIX_SPR_RATE"/>
<element name="IA_N_PEN_RATE"/>
<element name="IA_Y_BAS_ACC_INT"/>
<element name="IA_Y_BAS_DEF_INT"/>
<element name="IA_Y_BAS_POST_INT"/>
<element name="IA_Y_BV_OUTSD_AMT"/>
<element name="IA_Y_BV_TRX_AMT"/>
<element name="IA_Y_CURRNT_BV_AMT"/>
<element name="IA_Y_OUTSD_AMT"/>
<element name="IA_Y_PEN_DEF_INT"/>
<element name="IA_Y_TRX_AMT"/>
<element name="IA_Y_TTL_ACC_INT"/>
<element name="IA_Y_TTL_DEF_INT"/>
<element name="IA_Y_TTL_OVR_INT"/>
<element name="IA_Y_TTL_PAID_INT"/>
<element name="IA_Y_TTL_PDINT"/>
<element name="IA_Y_TTL_POST_INT"/>
<element name="IA_Y_TTL_REFUND_INT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
