EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_StatusReportRequest_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_SUBMITR_BIC"/>
<element name="TSU_TRX_DTTM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
