EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_015_Element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="TSU_ADDTN"/>
<element name="TSU_DELTA_CUR_VAL"/>
<element name="TSU_DELTA_DELTD_VAL"/>
<element name="TSU_DELTA_ELMTNM"/>
<element name="TSU_DELTA_ELMTPTH"/>
<element name="TSU_DELTA_EMLTSEQNB"/>
<element name="TSU_DELTA_PROPSD_VAL"/>
<element name="TSU_DELTA_PROPSD_VAL_ADDTN"/>
<element name="TSU_DELTN"/>
<element name="TSU_RPLC_MNT"/>
</sequence>
</complexType>
</element>
</schema>
