EE_PARA/EE_PARA/Default/FORM/form_schema_FIN_InvoiceRequestInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FIN_ADJ_AMT"/>
<element name="FIN_ADJ_CCY"/>
<element name="FIN_ADJ_DRCTN"/>
<element name="FIN_CRDR_NT_AMT"/>
<element name="FIN_CRDR_NT_CCY"/>
<element name="FIN_DOC_ISS_DT"/>
<element name="FIN_DOC_REF"/>
<element name="FIN_DOC_TP"/>
<element name="FIN_DOC_URL"/>
<element name="FIN_INVC_PMT_MTD"/>
<element name="FIN_PMT_ACCOUNT"/>
<element name="FIN_PMT_BBAN"/>
<element name="FIN_PMT_CCY"/>
<element name="FIN_PMT_DUE_DT"/>
<element name="FIN_PMT_IBAN"/>
<element name="FIN_PMT_NM"/>
<element name="FIN_PMT_TPCD"/>
<element name="FIN_PMT_TPID"/>
<element name="FIN_PMT_UPIC"/>
<element name="FIN_REQD_AMT"/>
<element name="FIN_REQD_CCY"/>
<element name="FIN_REQD_RT"/>
<element name="FIN_SR_SEQ_ID"/>
<element name="FIN_TTL_INV_AMT"/>
<element name="FIN_TTL_INV_CCY"/>
<element name="FIN_TTL_TAXBL_AMT"/>
<element name="FIN_TTL_TAXBL_CCY"/>
<element name="FIN_TTL_TAX_AMT"/>
<element name="FIN_TTL_TAX_CCY"/>
<element name="TSU_IAFT_RT"/>
</sequence>
</complexType>
</element>
</schema>
