EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_Holiday_MaintenanceByCcy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BUTTON_ADD"/>
                            <element name="BUTTON_DEL"/>
                            <element name="C_CCY"/>
                            <element name="C_CURRENCY"/>
                            <element name="C_MONTH"/>
                            <element name="C_WEEKEND_DESC"/>
                            <element name="C_YEAR"/>
                            <element name="D_HOLIDAY_DATE"/>
                            <element name="OP_TYPE"/>
                            <element name="PRICE_DATE"/>
                            <element name="UpHkay"/>
                            <element name="_IS_HOLIDAY"/>
                            <element name="_TRX_STATUS"/>
                            <element name="downHkay"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
