EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FADA_ContractManageME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="EndCtr">
                                <complexType>
                                    <sequence>
                                        <element name="FA_IF_ID"/>
                                        <element name="FA_IF_NM"/>
                                        <element name="FA_SEL_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="FA_AGM_DUE_DT"/>
                            <element name="FA_AGM_SIGN_FLG__DESC__"/>
                            <element name="FA_AGM_SIGN_FLG"/>
                            <element name="FA_AGM_VAL_DT"/>
                            <element name="FA_BUSI_FUNC__DESC__"/>
                            <element name="FA_BUSI_FUNC"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="FA_END_DT"/>
                            <element name="FA_END_REASON__DESC__"/>
                            <element name="FA_END_REASON"/>
                            <element name="FA_EXTEND_DT"/>
                            <element name="FA_EXTEND_TIMES"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_ORG_DUE_DT"/>
                            <element name="FA_REMARK"/>
                            <element name="FA_SEL_ADDR"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_VALID_DAYS"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
