EE_PARA/EE_PARA/Default/FORM/form_schema_AddNotetoFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CORR_ADD1"/>
                <element name="CORR_ADD2"/>
                <element name="CORR_ADD3"/>
                <element name="CORR_ADD_BTN"/>
                <element name="CORR_ADD_ORDER_NO"/>
                <element name="CORR_CUST_BANK__DESC__"/>
                <element name="CORR_CUST_BANK"/>
                <element name="CORR_ID"/>
                <element name="CORR_ID_BTN"/>
                <element name="CORR_MAIL_ADD"/>
                <element name="CORR_NM"/>
                <element name="CORR_NOTES"/>
                <element name="CORR_ORDER_NO"/>
                <element name="CORR_SW_ADD"/>
                <element name="CORR_SW_TAG"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EVENT_TYPE__DESC__"/>
                <element name="EVENT_TYPE"/>
                <element name="NOTES"/>
                <element name="QR_CD_FLD"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
