EE_PARA/EE_PARA/Default/FORM/form_schema_Std_SLARule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CP_UNIT_CODE"/>
                <element name="C_LEVEL_DESC"/>
                <element name="C_LEVEL_ID"/>
                <element name="C_STATE"/>
                <element name="C_TYPE"/>
                <element name="OP_TYPE"/>
                <element name="SLARuleDo">
                    <complexType>
                        <sequence>
                            <element name="C_BG_DESC"/>
                            <element name="C_BG_ID"/>
                            <element name="C_BG_VERSION"/>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_CP_UNIT_CODE"/>
                            <element name="C_LEVEL_DESC"/>
                            <element name="C_LEVEL_ID"/>
                            <element name="C_PRIORITY_INFO"/>
                            <element name="C_RULE_VERSION"/>
                            <element name="C_STEP_INFO"/>
                            <element name="C_TOTAL_TIME"/>
                            <element name="D_BG_ACTIVE_DATE"/>
                            <element name="D_RULE_ACTIVE_DATE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
