EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_016_ValidationResult3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_ERR_RULE"/>
<element name="TSU_ERR_RULE_DESC"/>
<element name="TSU_ERR_SEQNO"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
