EE_PARA/EE_PARA/Default/FORM/form_schema_ClaimDO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="Claim">
<complexType>
<sequence>
<element name="CLM_REF"/>
<element name="CLM_BK_ID"/>
<element name="CLM_BK_NM"/>
<element name="CLM_BK_ADD1"/>
<element name="CLM_BK_ADD2"/>
<element name="CLM_BK_ADD3"/>
<element name="CLM_BK_MAIL_ADD"/>
<element name="CLM_BK_NOTES"/>
<element name="CLM_BK_SW_TAG"/>
<element name="CLM_BK_SW_ADD"/>
<element name="CLM_CCY"/>
<element name="CLM_TRX_CCY_AMT"/>
<element name="CLM_STLMNT_THU__DESC__"/>
<element name="CLM_STLMNT_THU"/>
<element name="ORDER_NO"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="DebitHeader_ClaimDo">
<complexType>
<sequence>
<element name="CPYT_NO_DR"/>
<element name="CPYT_MDR_ADV"/>
<element name="CPYT_DR_TTL_CCY"/>
<element name="CPYT_DR_TTL_AMT_TTLCCY"/>
<element name="DebitDetails_ClaimDo">
<complexType>
<sequence>
<element name="CPYT_DR_AC"/>
<element name="CPYT_DR_AC_TYPE"/>
<element name="CPYT_DR_DEAL"/>
<element name="CPYT_DR_RATE"/>
<element name="CPYT_DR_CCY"/>
<element name="CPYT_DR_PER"/>
<element name="CPYT_DR_AMT_DRCCY"/>
<element name="CPYT_DR_AMT_TXCCY"/>
<element name="CPYT_DR_BUY_RATE"/>
<element name="CPYT_DR_VAL_DATE"/>
<element name="CPYT_DR_ID"/>
<element name="CPYT_DR_NAME"/>
<element name="CPYT_DR_CHG_FLAG"/>
<element name="CPYT_DR_CHG_LCCCY"/>
<element name="CPYT_DR_TRX_CCY"/>
<element name="CPYT_DR_AMT_MAPING"/>
<element name="CPYT_DR_EXNG_AC"/>
<element name="CPYT_DR_AMT_DRCCY_EXCH"/>
<element name="CPYT_DR_C_TRANS_CODE"/>
<element name="CPYT_DR_AC_DESC"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="CreditHeader_ClaimDo">
<complexType>
<sequence>
<element name="CPYT_NO_CR"/>
<element name="CPYT_MCR_ADV"/>
<element name="CPYT_CR_TTL_CCY"/>
<element name="CPYT_CR_TTL_AMT_TTLCCY"/>
<element name="CreditDetails_ClaimDo">
<complexType>
<sequence>
<element name="CPYT_CR_PER"/>
<element name="CPYT_CR_CCY"/>
<element name="CPYT_CR_AC"/>
<element name="CPYT_CR_AMT_TXCCY"/>
<element name="CPYT_PAY_ADV_MSG"/>
<element name="CPYT_PAY_COV_MSG"/>
<element name="CPYT_ASSGN_ID"/>
<element name="CPYT_ASSGN_NM"/>
<element name="CPYT_CR_AMT_CRCCY"/>
<element name="CPYT_CR_VAL_DATE"/>
<element name="X103BENECUADD1_59A"/>
<element name="X103BENECUADD2_59A"/>
<element name="X103BENECUADD3_59A"/>
<element name="X103MEDIBKADD1_56A"/>
<element name="X103MEDIBKADD2_56A"/>
<element name="X103MEDIBKADD3_56A"/>
<element name="X103RECCORRACNO54A"/>
<element name="X103SENDBKADD1_51A"/>
<element name="X103SENDBKADD2_51A"/>
<element name="X103SENDBKADD3_51A"/>
<element name="X103SENDCORACNO53A"/>
<element name="X103SENDCORADD153A"/>
<element name="X103SENDCORADD253A"/>
<element name="X103SENDCORADD353A"/>
<element name="X103SENDCORRMED53A__DESC__"/>
<element name="X103SENDCORRMED53A"/>
<element name="X103TRDREIMACNO55A"/>
<element name="X103TRDREIMADD155A"/>
<element name="X103TRDREIMADD255A"/>
<element name="X103TRDREIMADD355A"/>
<element name="X103_ACCBKADD1_57A"/>
<element name="X103_ACCBKADD2_57A"/>
<element name="X103_ACCBKADD3_57A"/>
<element name="X103_ACC_BKACNO57A"/>
<element name="X103_ACC_BKID_57A"/>
<element name="X103_ACC_BKMED57A__DESC__"/>
<element name="X103_ACC_BKMED57A"/>
<element name="X103_ACC_BKNM_57A"/>
<element name="X103_ACC_BKSW_57A"/>
<element name="X103_ADV_BKADD1_B2"/>
<element name="X103_ADV_BKADD2_B2"/>
<element name="X103_ADV_BKADD3_B2"/>
<element name="X103_ADV_BKID_B2"/>
<element name="X103_ADV_BKMED_B2__DESC__"/>
<element name="X103_ADV_BKMED_B2"/>
<element name="X103_ADV_BKNM_B2"/>
<element name="X103_ADV_BKSW_B2"/>
<element name="X103_BENECUACNO59A"/>
<element name="X103_BENECUMED_59A__DESC__"/>
<element name="X103_BENECUMED_59A"/>
<element name="X103_BENECU_BKSW_59"/>
<element name="X103_BENECU_ID_59A"/>
<element name="X103_BENECU_NM_59A"/>
<element name="X103_BENECU_OP__DESC__"/>
<element name="X103_BENECU_OP"/>
<element name="X103_BENECU_SW_59A"/>
<element name="X103_BK2BK_INF1_72"/>
<element name="X103_BK2BK_INF2_72"/>
<element name="X103_BK2BK_INF3_72"/>
<element name="X103_BK2BK_INF4_72"/>
<element name="X103_BK2BK_INF5_72"/>
<element name="X103_BK2BK_INF6_72"/>
<element name="X103_BKOP_CODE_23B"/>
<element name="X103_BKTOBK_INFO72"/>
<element name="X103_DET_CHG_71A"/>
<element name="X103_ENV_CONT_77T"/>
<element name="X103_EXCH_RT_36"/>
<element name="X103_INSTRCODE_23E"/>
<element name="X103_INSTR_AMT_33B"/>
<element name="X103_INSTR_CCY_33B"/>
<element name="X103_MEDIBKACNO56A"/>
<element name="X103_MEDI_BKID_56A"/>
<element name="X103_MEDI_BKMED56A__DESC__"/>
<element name="X103_MEDI_BKMED56A"/>
<element name="X103_MEDI_BKNM_56A"/>
<element name="X103_MEDI_BKSW_56A"/>
<element name="X103_ORDBKACNO_52A"/>
<element name="X103_ORDBKADD1_52A"/>
<element name="X103_ORDBKADD2_52A"/>
<element name="X103_ORDBKADD3_52A"/>
<element name="X103_ORDCUACNO_50A"/>
<element name="X103_ORDCUADD1_50A"/>
<element name="X103_ORDCUADD2_50A"/>
<element name="X103_ORDCUADD3_50A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_ORDCU_ID_OP__DESC__"/>
<element name="X103_ORDCU_ID_OP"/>
<element name="X103_ORDCU_MED_50A__DESC__"/>
<element name="X103_ORDCU_MED_50A"/>
<element name="X103_ORDCU_NM_50A"/>
<element name="X103_ORDCU_SW_50A"/>
<element name="X103_ORD_BKID_52A"/>
<element name="X103_ORD_BKMED_52A__DESC__"/>
<element name="X103_ORD_BKMED_52A"/>
<element name="X103_ORD_BKNM_52A"/>
<element name="X103_ORD_BKSW_52A"/>
<element name="X103_RECCHGAMT_71G"/>
<element name="X103_RECCHGCCY_71G"/>
<element name="X103_RECCORADD154A"/>
<element name="X103_RECCORADD254A"/>
<element name="X103_RECCORADD354A"/>
<element name="X103_RECCORRID_54A"/>
<element name="X103_RECCORRMED54A__DESC__"/>
<element name="X103_RECCORRMED54A"/>
<element name="X103_RECCORRNM_54A"/>
<element name="X103_RECCORRSW_54A"/>
<element name="X103_REG_REP1_77B"/>
<element name="X103_REG_REP2_77B"/>
<element name="X103_REG_REP3_77B"/>
<element name="X103_REG_REP_77B"/>
<element name="X103_REMIT_INF1_70"/>
<element name="X103_REMIT_INF2_70"/>
<element name="X103_REMIT_INF3_70"/>
<element name="X103_REMIT_INF4_70"/>
<element name="X103_REMIT_INFO_70"/>
<element name="X103_SENDBKACNO51A"/>
<element name="X103_SENDBKMED_51A__DESC__"/>
<element name="X103_SENDBKMED_51A"/>
<element name="X103_SENDCHGAMT71F"/>
<element name="X103_SENDCHGCCY71F"/>
<element name="X103_SENDCORRID53A"/>
<element name="X103_SENDCORRNM53A"/>
<element name="X103_SENDCORRSW53A"/>
<element name="X103_SEND_BKID_51A"/>
<element name="X103_SEND_BKNM_51A"/>
<element name="X103_SEND_BKSW_51A"/>
<element name="X103_SEND_NO_20"/>
<element name="X103_SETT_AMT_32A"/>
<element name="X103_SETT_CCY_32A"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_51A"/>
<element name="X103_TAG_52A"/>
<element name="X103_TAG_53A"/>
<element name="X103_TAG_54A"/>
<element name="X103_TAG_55A"/>
<element name="X103_TAG_56A"/>
<element name="X103_TAG_57A"/>
<element name="X103_TAG_59A"/>
<element name="X103_TAG_B2"/>
<element name="X103_TIME_INDI_13C"/>
<element name="X103_TRDREIMID_55A"/>
<element name="X103_TRDREIMMED55A"/>
<element name="X103_TRDREIMNM_55A"/>
<element name="X103_TRDREIMSW_55A"/>
<element name="X103_TRX_TYPCD_26T"/>
<element name="X103_VALUE_DT_32A"/>
<element name="X200MEDIBKADD1_56A"/>
<element name="X200MEDIBKADD2_56A"/>
<element name="X200MEDIBKADD3_56A"/>
<element name="X200SENDCORACNO53A"/>
<element name="X200SENDCORADD153A"/>
<element name="X200SENDCORADD253A"/>
<element name="X200SENDCORADD353A"/>
<element name="X200SENDCORRMED53A__DESC__"/>
<element name="X200SENDCORRMED53A"/>
<element name="X200_ACCBKADD1_57A"/>
<element name="X200_ACCBKADD2_57A"/>
<element name="X200_ACCBKADD3_57A"/>
<element name="X200_ACC_BKACNO57A"/>
<element name="X200_ACC_BKID_57A"/>
<element name="X200_ACC_BKMED57A__DESC__"/>
<element name="X200_ACC_BKMED57A"/>
<element name="X200_ACC_BKNM_57A"/>
<element name="X200_ACC_BKSW_57A"/>
<element name="X200_ADV_BKADD1_B2"/>
<element name="X200_ADV_BKADD2_B2"/>
<element name="X200_ADV_BKADD3_B2"/>
<element name="X200_ADV_BKID_B2"/>
<element name="X200_ADV_BKMED_B2__DESC__"/>
<element name="X200_ADV_BKMED_B2"/>
<element name="X200_ADV_BKNM_B2"/>
<element name="X200_ADV_BKSW_B2"/>
<element name="X200_AMT_32A"/>
<element name="X200_BKTOBK_INFO72"/>
<element name="X200_CCY_32A"/>
<element name="X200_MEDIBKACNO56A"/>
<element name="X200_MEDI_BKID_56A"/>
<element name="X200_MEDI_BKMED56A__DESC__"/>
<element name="X200_MEDI_BKMED56A"/>
<element name="X200_MEDI_BKNM_56A"/>
<element name="X200_MEDI_BKSW_56A"/>
<element name="X200_SENDCORRID53A"/>
<element name="X200_SENDCORRNM53A"/>
<element name="X200_SENDCORRSW53A"/>
<element name="X200_TAG_53A"/>
<element name="X200_TAG_56A"/>
<element name="X200_TAG_57A"/>
<element name="X200_TRX_REF_NO_20"/>
<element name="X200_VALUE_DT_32A"/>
<element name="X202BENEBKADD1_58A"/>
<element name="X202BENEBKADD1_58A_1"/>
<element name="X202BENEBKADD2_58A"/>
<element name="X202BENEBKADD2_58A_1"/>
<element name="X202BENEBKADD3_58A"/>
<element name="X202BENEBKADD3_58A_1"/>
<element name="X202MEDIBKADD1_56A"/>
<element name="X202MEDIBKADD1_56A_1"/>
<element name="X202MEDIBKADD2_56A"/>
<element name="X202MEDIBKADD2_56A_1"/>
<element name="X202MEDIBKADD3_56A"/>
<element name="X202MEDIBKADD3_56A_1"/>
<element name="X202RECCORRACNO54A"/>
<element name="X202RECCORRACNO54A_1"/>
<element name="X202SENDCORACNO53A"/>
<element name="X202SENDCORACNO53A_1"/>
<element name="X202SENDCORADD153A"/>
<element name="X202SENDCORADD153A_1"/>
<element name="X202SENDCORADD253A"/>
<element name="X202SENDCORADD253A_1"/>
<element name="X202SENDCORADD353A"/>
<element name="X202SENDCORADD353A_1"/>
<element name="X202SENDCORRMED53A__DESC__"/>
<element name="X202SENDCORRMED53A"/>
<element name="X202_1_32A_AMT"/>
<element name="X202_1_32A_CCY"/>
<element name="X202_1_32A_DT"/>
<element name="X202_1_B2"/>
<element name="X202_ACCBKADD1_57A"/>
<element name="X202_ACCBKADD1_57A_1"/>
<element name="X202_ACCBKADD2_57A"/>
<element name="X202_ACCBKADD2_57A_1"/>
<element name="X202_ACCBKADD3_57A"/>
<element name="X202_ACCBKADD3_57A_1"/>
<element name="X202_ACC_BKACNO57A"/>
<element name="X202_ACC_BKACNO57A_1"/>
<element name="X202_ACC_BKID_57A"/>
<element name="X202_ACC_BKID_57A_1"/>
<element name="X202_ACC_BKMED57A__DESC__"/>
<element name="X202_ACC_BKMED57A"/>
<element name="X202_ACC_BKNM_57A"/>
<element name="X202_ACC_BKNM_57A_1"/>
<element name="X202_ACC_BKSW_57A"/>
<element name="X202_ACC_BKSW_57A_1"/>
<element name="X202_ACC_BK_ACNO"/>
<element name="X202_ACC_BK_ADD1"/>
<element name="X202_ACC_BK_ADD2"/>
<element name="X202_ACC_BK_ADD3"/>
<element name="X202_ACC_BK_ID"/>
<element name="X202_ACC_BK_NM"/>
<element name="X202_ACC_BK_SW_ADD"/>
<element name="X202_ADV_BKADD1_B2"/>
<element name="X202_ADV_BKADD1_B2_1"/>
<element name="X202_ADV_BKADD2_B2"/>
<element name="X202_ADV_BKADD2_B2_1"/>
<element name="X202_ADV_BKADD3_B2"/>
<element name="X202_ADV_BKID_B2"/>
<element name="X202_ADV_BKID_B2_1"/>
<element name="X202_ADV_BKMED_B2__DESC__"/>
<element name="X202_ADV_BKMED_B2"/>
<element name="X202_ADV_BKNM_B2"/>
<element name="X202_ADV_BKNM_B2_1"/>
<element name="X202_ADV_BKSW_B2"/>
<element name="X202_ADV_BKSW_B2_1"/>
<element name="X202_ADV_BK_ADD1"/>
<element name="X202_ADV_BK_ADD2"/>
<element name="X202_ADV_BK_ADD3"/>
<element name="X202_ADV_BK_ID"/>
<element name="X202_ADV_BK_NM"/>
<element name="X202_ADV_BK_SW_ADD"/>
<element name="X202_AMT_32A"/>
<element name="X202_AMT_32A_1"/>
<element name="X202_BENEBKACNO58A"/>
<element name="X202_BENEBKACNO58A_1"/>
<element name="X202_BENEBKMED_58A__DESC__"/>
<element name="X202_BENEBKMED_58A"/>
<element name="X202_BENE_BKID_58A"/>
<element name="X202_BENE_BKID_58A_1"/>
<element name="X202_BENE_BKNM_58A"/>
<element name="X202_BENE_BKNM_58A_1"/>
<element name="X202_BENE_BKSW_58A"/>
<element name="X202_BENE_BKSW_58A_1"/>
<element name="X202_BENE_BK_ACNO"/>
<element name="X202_BENE_BK_ADD1"/>
<element name="X202_BENE_BK_ADD2"/>
<element name="X202_BENE_BK_ADD3"/>
<element name="X202_BENE_BK_ID"/>
<element name="X202_BENE_BK_NM"/>
<element name="X202_BENE_BK_SW_ADD"/>
<element name="X202_BK2BK_INF1_72"/>
<element name="X202_BK2BK_INF2_72"/>
<element name="X202_BK2BK_INF3_72"/>
<element name="X202_BK2BK_INF4_72"/>
<element name="X202_BK2BK_INF5_72"/>
<element name="X202_BK2BK_INF6_72"/>
<element name="X202_BKTOBK_INFO72"/>
<element name="X202_BKTOBK_INFO72_1"/>
<element name="X202_CCY_32A"/>
<element name="X202_CCY_32A_1"/>
<element name="X202_CR_AMT"/>
<element name="X202_CR_CCY"/>
<element name="X202_MEDIBKACNO56A"/>
<element name="CPYT_CR_TRX_CCY"/>
<element name="CPYT_CR_AMT_CRCCY_EXCH"/>
<element name="CPYT_CR_AMT_MAPING"/>
<element name="X202_MEDIBKACNO56A_1"/>
<element name="X202_MEDI_BKID_56A"/>
<element name="X202_MEDI_BKID_56A_1"/>
<element name="X202_MEDI_BKMED56A__DESC__"/>
<element name="X202_MEDI_BKMED56A"/>
<element name="X202_MEDI_BKNM_56A"/>
<element name="X202_MEDI_BKNM_56A_1"/>
<element name="X202_MEDI_BKSW_56A"/>
<element name="X202_MEDI_BKSW_56A_1"/>
<element name="X202_MEDI_BK_ACNO"/>
<element name="X202_MEDI_BK_ADD1"/>
<element name="X202_MEDI_BK_ADD2"/>
<element name="X202_MEDI_BK_ADD3"/>
<element name="X202_MEDI_BK_ID"/>
<element name="X202_MEDI_BK_NM"/>
<element name="X202_MEDI_BK_SW_ADD"/>
<element name="X202_ORDBKACNO_52A"/>
<element name="X202_ORDBKACNO_52A_1"/>
<element name="X202_ORDBKADD1_52A"/>
<element name="X202_ORDBKADD1_52A_1"/>
<element name="X202_ORDBKADD2_52A"/>
<element name="X202_ORDBKADD2_52A_1"/>
<element name="X202_ORDBKADD3_52A"/>
<element name="X202_ORDBKADD3_52A_1"/>
<element name="X202_ORDBK_ID_52A"/>
<element name="X202_ORDBK_ID_52A_1"/>
<element name="X202_ORDBK_MED_52A__DESC__"/>
<element name="X202_ORDBK_MED_52A"/>
<element name="X202_ORDBK_NM_52A"/>
<element name="X202_ORDBK_NM_52A_1"/>
<element name="X202_ORDBK_SW_52A"/>
<element name="X202_ORDBK_SW_52A_1"/>
<element name="X202_ORD_BK_ACNO"/>
<element name="X202_ORD_BK_ADD1"/>
<element name="X202_ORD_BK_ADD2"/>
<element name="X202_ORD_BK_ADD3"/>
<element name="X202_ORD_BK_ID"/>
<element name="X202_ORD_BK_NM"/>
<element name="X202_ORD_BK_SW_ADD"/>
<element name="X202_RECCORADD154A"/>
<element name="X202_RECCORADD154A_1"/>
<element name="X202_RECCORADD254A"/>
<element name="X202_RECCORADD254A_1"/>
<element name="X202_RECCORADD354A"/>
<element name="X202_RECCORADD354A_1"/>
<element name="X202_RECCORRID_54A"/>
<element name="X202_RECCORRID_54A_1"/>
<element name="X202_RECCORRMED54A__DESC__"/>
<element name="X202_RECCORRMED54A"/>
<element name="X202_RECCORRNM_54A"/>
<element name="X202_RECCORRNM_54A_1"/>
<element name="X202_RECCORRSW_54A"/>
<element name="X202_RECCORRSW_54A_1"/>
<element name="X202_RECCOR_BK_ACNO"/>
<element name="X202_RECCOR_BK_ADD1"/>
<element name="X202_RECCOR_BK_ADD2"/>
<element name="X202_RECCOR_BK_ADD3"/>
<element name="X202_RECCOR_BK_ID"/>
<element name="X202_RECCOR_BK_NM"/>
<element name="X202_RECCOR_BK_SW_ADD"/>
<element name="X202_RELATEDNO_21"/>
<element name="X202_RELATEDNO_21_1"/>
<element name="X202_RELATED_REF_NO"/>
<element name="X202_SENDCORRID53A"/>
<element name="X202_SENDCORRID53A_1"/>
<element name="X202_SENDCORRNM53A"/>
<element name="X202_SENDCORRNM53A_1"/>
<element name="X202_SENDCORRSW53A"/>
<element name="X202_SENDCORRSW53A_1"/>
<element name="X202_SENDCORR_BK_ACNO"/>
<element name="X202_SENDCORR_BK_ADD1"/>
<element name="X202_SENDCORR_BK_ADD2"/>
<element name="X202_SENDCORR_BK_ADD3"/>
<element name="X202_SENDCORR_BK_ID"/>
<element name="X202_SENDCORR_BK_NM"/>
<element name="X202_SENDCORR_BK_SW_ADD"/>
<element name="X202_TAG_52A"/>
<element name="X202_TAG_52A_1"/>
<element name="X202_TAG_53A"/>
<element name="X202_TAG_53A_1"/>
<element name="X202_TAG_54A"/>
<element name="X202_TAG_54A_1"/>
<element name="X202_TAG_56A"/>
<element name="X202_TAG_56A_1"/>
<element name="X202_TAG_57A"/>
<element name="X202_TAG_57A_1"/>
<element name="X202_TAG_58A"/>
<element name="X202_TAG_58A_1"/>
<element name="X202_TAG_B2"/>
<element name="X202_TAG_B2_1"/>
<element name="X202_TIME_INDI_13C"/>
<element name="X202_TIME_INDI_13C_1"/>
<element name="X202_TRX_REFNO_20"/>
<element name="X202_TRX_REF_NO_20"/>
<element name="X202_TRX_REF_NO_20_1"/>
<element name="X202_VALUE_DT_1"/>
<element name="X202_VALUE_DT_32A"/>
<element name="X202_VALUE_DT_32A_1"/>
<element name="X400_ACC_BK_ACNO"/>
<element name="X400_ACC_BK_ADD1"/>
<element name="X400_ACC_BK_ADD2"/>
<element name="X400_ACC_BK_ADD3"/>
<element name="X400_ACC_BK_ID"/>
<element name="X400_ACC_BK_NM"/>
<element name="X400_ACC_BK_NOTES"/>
<element name="X400_ACC_BK_SW_ADD"/>
<element name="X400_ACC_BK_SW_TAG"/>
<element name="X400_ADDAMT_DET73"/>
<element name="X400_ADV_BK_ADD1"/>
<element name="X400_ADV_BK_ADD2"/>
<element name="X400_ADV_BK_ADD3"/>
<element name="X400_ADV_BK_ID"/>
<element name="X400_ADV_BK_NM"/>
<element name="X400_ADV_BK_NOTES"/>
<element name="X400_ADV_BK_SW_ADD"/>
<element name="X400_ADV_BK_SW_TAG"/>
<element name="X400_BENE_BK_ADD1"/>
<element name="X400_BENE_BK_ADD2"/>
<element name="X400_BENE_BK_ADD3"/>
<element name="X400_BENE_BK_ID"/>
<element name="X400_BENE_BK_NM"/>
<element name="X400_BENE_BK_NOTES"/>
<element name="X400_BENE_BK_SW_ADD"/>
<element name="X400_BENE_BK_SW_TAG"/>
<element name="X400_BKTOBK_INFO_72"/>
<element name="X400_COLL_AMT_32A"/>
<element name="X400_COLL_CCY_32A"/>
<element name="X400_DAYMON_FLG_32K__DESC__"/>
<element name="X400_DAYMON_FLG_32K"/>
<element name="X400_DET_CHG_71B"/>
<element name="X400_DUE_DT_32A"/>
<element name="X400_NET_AMT_33A"/>
<element name="X400_NET_CCY_33A"/>
<element name="X400_ORD_BK_ACNO"/>
<element name="X400_ORD_BK_ADD1"/>
<element name="X400_ORD_BK_ADD2"/>
<element name="X400_ORD_BK_ADD3"/>
<element name="X400_ORD_BK_ID"/>
<element name="X400_ORD_BK_NM"/>
<element name="X400_ORD_BK_NOTES"/>
<element name="X400_ORD_BK_SW_ADD"/>
<element name="X400_ORD_BK_SW_TAG"/>
<element name="X400_PRES_BK_CHG_71B"/>
<element name="X400_RECCOR_BK_ACNO"/>
<element name="X400_RECCOR_BK_ADD1"/>
<element name="X400_RECCOR_BK_ADD2"/>
<element name="X400_RECCOR_BK_ADD3"/>
<element name="X400_RECCOR_BK_ID"/>
<element name="X400_RECCOR_BK_NM"/>
<element name="X400_RECCOR_BK_NOTES"/>
<element name="X400_RECCOR_BK_SW_ADD"/>
<element name="X400_RECCOR_BK_SW_TAG"/>
<element name="X400_RELATEDNO_21"/>
<element name="X400_REMIT_AMT_33A"/>
<element name="X400_REMIT_CCY_33A"/>
<element name="X400_SENDCORR_BK_ACNO"/>
<element name="X400_SENDCORR_BK_ADD1"/>
<element name="X400_SENDCORR_BK_ADD2"/>
<element name="X400_SENDCORR_BK_ADD3"/>
<element name="X400_SENDCORR_BK_ID"/>
<element name="X400_SENDCORR_BK_NM"/>
<element name="X400_SENDCORR_BK_NOTES"/>
<element name="X400_SENDCORR_BK_SW_ADD"/>
<element name="X400_SENDCORR_BK_SW_TAG"/>
<element name="X400_SEND_NO_20"/>
<element name="X400_TAG_32__DESC__"/>
<element name="X400_TAG_32"/>
<element name="X400_TEMP_32K"/>
<element name="X400_TENOR_DAYS_32K"/>
<element name="X400_TENOR_EVENT_32K__DESC__"/>
<element name="X400_TENOR_EVENT_32K"/>
<element name="X400_TRX_REF_NO_20"/>
<element name="X400_VALUE_DT_32A"/>
<element name="X400_VALUE_DT_33A"/>
<element name="TEMP_X103_ACNO_51"/>
<element name="TEMP_X103BENECUADD1_59A"/>
<element name="TEMP_X103BENECUADD2_59A"/>
<element name="TEMP_X103BENECUADD3_59A"/>
<element name="TEMP_X103_BENECUACNO59A"/>
<element name="TEMP_X103_BENECU_NM_59A"/>
<element name="CPYT_CR_BUY_RATE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
