EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_EnquireCRNSCF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="EXCP_REASON"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_EF_COMM_AMT"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_EF_HAN_CHG_PAMT"/>
                            <element name="FA_IF_CHG_PAID_FLG"/>
                            <element name="FA_IF_COMM_AMT"/>
                            <element name="FA_IF_COMM_RT"/>
                            <element name="FA_IF_HAN_CHG_AMT"/>
                            <element name="FA_IF_HAN_CHG_CCY"/>
                            <element name="FA_IF_HAN_CHG_PAMT"/>
                            <element name="FA_INVAMT_IN_LMT"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_INV_LOAN_EBAL"/>
                            <element name="FA_INV_REFUND_INT"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PRM_DISC_DAYS"/>
                            <element name="FA_PRM_DISC_RT"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SND_DISC_DAYS"/>
                            <element name="FA_SND_DISC_RT"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FSBC_REF"/>
                            <element name="InvTRF">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="FA_ADJ_AMT"/>
                                        <element name="FA_ADJ_BAL"/>
                                        <element name="FA_ANCHOR_ID"/>
                                        <element name="FA_ANCHOR_NM"/>
                                        <element name="FA_BA_FLG__DESC__"/>
                                        <element name="FA_BA_FLG"/>
                                        <element name="FA_BUYER_ID"/>
                                        <element name="FA_BUYER_NM"/>
                                        <element name="FA_COUNTER_ID"/>
                                        <element name="FA_COUNTER_NM"/>
                                        <element name="FA_CREDIT_NOTE_PER_AMT"/>
                                        <element name="FA_CRN_INV_LINK_NO"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_BAL"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_EF_COMM_AMT"/>
                                        <element name="FA_EF_COMM_CCY"/>
                                        <element name="FA_EF_HAN_CHG_AMT"/>
                                        <element name="FA_EF_HAN_CHG_CCY"/>
                                        <element name="FA_EF_HAN_CHG_PAMT"/>
                                        <element name="FA_IF_CHG_PAID_FLG"/>
                                        <element name="FA_IF_COMM_AMT"/>
                                        <element name="FA_IF_COMM_CCY"/>
                                        <element name="FA_IF_HAN_CHG_AMT"/>
                                        <element name="FA_IF_HAN_CHG_CCY"/>
                                        <element name="FA_IF_HAN_CHG_PAMT"/>
                                        <element name="FA_INVAMT_IN_LMT"/>
                                        <element name="FA_INV_LINK_REF"/>
                                        <element name="FA_LATEST_SHIP_DT"/>
                                        <element name="FA_ORDER_NO"/>
                                        <element name="FA_PMT_COND__DESC__"/>
                                        <element name="FA_PMT_COND"/>
                                        <element name="FA_PMT_GRC_DAY"/>
                                        <element name="FA_PMT_TERMS"/>
                                        <element name="FA_PRM_DISC_DAYS"/>
                                        <element name="FA_PRM_DISC_RT"/>
                                        <element name="FA_SEL_ID"/>
                                        <element name="FA_SEL_NM"/>
                                        <element name="FA_SND_DISC_DAYS"/>
                                        <element name="FA_SND_DISC_RT"/>
                                        <element name="FA_TEMP_AMT11"/>
                                        <element name="FA_TEMP_AMT12"/>
                                        <element name="FA_TEMP_DT1"/>
                                        <element name="FA_TRF_DT"/>
                                        <element name="FSBC_REF"/>
                                        <element name="GOODS_DESC"/>
                                        <element name="NOTES"/>
                                        <element name="PO_NO"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TEMP_DATE2"/>
                            <element name="TEMP_DATE3"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
