EE_PARA/EE_PARA/Default/FORM/form_schema_TRDP_AddWarehouse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADDRESS"/>
                <element name="B_RGLT_ID"/>
                <element name="CONTACT_EMAIL"/>
                <element name="CONTACT_NM"/>
                <element name="CONTACT_TEL"/>
                <element name="COPR_AREA"/>
                <element name="COPR_AREA_FROM"/>
                <element name="COPR_AREA_TO"/>
                <element name="C_MAIN_REF"/>
                <element name="C_NAME"/>
                <element name="C_UNIT_CODE"/>
                <element name="FAX_NO"/>
                <element name="GOODS_TP"/>
                <element name="GOODS_TP_FROM"/>
                <element name="GOODS_TP_TO"/>
                <element name="NAME"/>
                <element name="PARTY_TP"/>
                <element name="POST_BOX"/>
                <element name="RGLT_AGR_NO"/>
                <element name="RGLT_ID"/>
                <element name="RGLT_NM"/>
                <element name="add"/>
                <element name="remove"/>
            </sequence>
        </complexType>
    </element>
</schema>
