EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_FinancingReturnLib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FA_BA_FLG__DESC__"/>
<element name="FA_BA_FLG"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_CHG_BC_AMT"/>
<element name="FA_CRN_AMT_SUM"/>
<element name="FA_CRN_BAL"/>
<element name="FA_DOC_AMT"/>
<element name="FA_DOC_BAL"/>
<element name="FA_DOC_CCY"/>
<element name="FA_DOC_DT"/>
<element name="FA_DOC_NO"/>
<element name="FA_DOC_REF"/>
<element name="FA_DOC_STATUS"/>
<element name="FA_DSP_AMT"/>
<element name="FA_FIN_LOAN_AMT"/>
<element name="FA_FIN_RETURN_RSN__DESC__"/>
<element name="FA_FIN_RETURN_RSN"/>
<element name="FA_FIN_RET_BAL"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_INV_LINK_REF"/>
<element name="FA_INV_LOAN_BAL"/>
<element name="FA_INV_LOAN_ID"/>
<element name="FA_INV_REFUND_INT"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="FA_LOAN_INT_AMT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_LOAN_VAL_DT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_REF"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_SUM_PERCENT"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP7"/>
<element name="FA_TEMP_AMT10"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT7"/>
<element name="FA_TEMP_AMT8"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_TEMP_DT2"/>
<element name="FA_TEMP_INV_INT_AMT"/>
<element name="FA_TRF_FX_RT"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_Y_REFUND_INT"/>
<element name="TEMP_AMT18"/>
<element name="TEMP_LAST_PINT_DT"/>
<element name="TEMP_LOAN_ID"/>
<element name="TRX_DT"/>
</sequence>
</complexType>
</element>
</schema>
