EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_SellerSideSubmitBanksInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_PARTY_CNTY__DESC__"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_SEL_SUB_BK"/>
</sequence>
</complexType>
</element>
</schema>
