EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PaymentScheduleHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_C_LOCAL_CCY"/>
<element name="CPYT_C_MIX_PAY_DETAIL"/>
<element name="CPYT_C_PAY_PER"/>
<element name="CPYT_C_SDA_FLAG"/>
<element name="CPYT_C_TENOR_DESC"/>
<element name="CPYT_C_TENOR_TYPE"/>
<element name="CPYT_C_TRX_CCY"/>
<element name="CPYT_DRAWING_REF"/>
<element name="CPYT_D_MAT_DATE"/>
<element name="CPYT_D_TENOR_START_DATE"/>
<element name="CPYT_I_TENOR_DAYS"/>
<element name="CPYT_N_PAY_AMT"/>
<element name="CPYT_N_PAY_TTL_AMT_LCY"/>
<element name="CPYT_N_PAY_TTL_AMT_TXCCY"/>
<element name="CPYT_PAY_CCY"/>
<element name="CPYT_SCHE_TEMP_DATA"/>
<element name="TEMP_RATE"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
