EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_ManualInvoiceTracer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BUYER_SETL__DESC__"/>
                            <element name="ACC_BUYER_SETL"/>
                            <element name="ACC_COLL_BK"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="EPP_TTL_AI_BAL"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="GRAC_OVRDUE_INT_DAY"/>
                            <element name="InvoiceTracerInvoice">
                                <complexType>
                                    <sequence>
                                        <element name="AI_ACT_AMT"/>
                                        <element name="AI_BALANCE"/>
                                        <element name="AI_DT"/>
                                        <element name="AI_DUE_DT"/>
                                        <element name="AI_ID"/>
                                        <element name="AI_NUM"/>
                                        <element name="AI_PASS_FCD_FLG"/>
                                        <element name="AI_SET_DT"/>
                                        <element name="AI_STAT_STAFF_CD"/>
                                        <element name="CCY"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="EPP_ID"/>
                                        <element name="EPP_SUPLR_ID"/>
                                        <element name="FUND_RPT_ID"/>
                                        <element name="IS_FUNDED"/>
                                        <element name="OVD_DT"/>
                                        <element name="SUPLR_ID"/>
                                        <element name="SUPLR_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="OVD_DT"/>
                            <element name="PRE_ADV_AI"/>
                            <element name="PRE_ADV_AMT"/>
                            <element name="PRE_ADV_BAL"/>
                            <element name="PRE_ADV_DT"/>
                            <element name="PYMT_DT"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RECON_STAT__DESC__"/>
                            <element name="RECON_STAT"/>
                            <element name="RPT_TP__DESC__"/>
                            <element name="RPT_TP"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
