EE_PARA/EE_PARA/Default/FORM/form_schema_IAAC_InqAmzMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_RATE_ID"/>
<element name="C_UNIT_CODE"/>
<element name="IA_C_ACCESS_BY"/>
<element name="IA_C_ACCOUNT_TYPE"/>
<element name="IA_C_ACC_LVL"/>
<element name="IA_C_BORROWER_ID"/>
<element name="IA_C_CCY_CODE"/>
<element name="IA_C_CREATE_BY"/>
<element name="IA_C_CREATE_FROM"/>
<element name="IA_C_FORM_ID"/>
<element name="IA_C_MODU_NAME"/>
<element name="IA_C_PURP_ID"/>
<element name="IA_C_REC_TYPE"/>
<element name="IA_C_REF_NO"/>
<element name="IA_C_STATUS_FLG"/>
<element name="IA_D_ACCESS_DATE"/>
<element name="IA_D_CREATE_DATE"/>
<element name="IA_D_DUE_DATE"/>
<element name="IA_D_LAST_INT_PAID"/>
<element name="IA_D_LAST_INT_REFUND"/>
<element name="IA_D_LAST_POSTDATE"/>
<element name="IA_D_NEXT_POSTDATE"/>
<element name="IA_D_TRX_VALDATE"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_I_CCY_DEC"/>
<element name="IA_N_CURBAS_ADJINT"/>
<element name="IA_N_CURRNT_ADJINT"/>
<element name="IA_N_EXTEND_RATE"/>
<element name="IA_N_FIX_BAS_RATE"/>
<element name="IA_N_FIX_SPR_RATE"/>
<element name="IA_N_PEN_RATE"/>
<element name="IA_Y_BAS_PAID_INT"/>
<element name="IA_Y_BAS_POST_INT"/>
<element name="IA_Y_BAS_REFUND_INT"/>
<element name="IA_Y_OUTSD_AMT"/>
<element name="IA_Y_TRX_AMT"/>
<element name="IA_Y_TTL_PAID_INT"/>
<element name="IA_Y_TTL_POST_INT"/>
<element name="IA_Y_TTL_REFUND_INT"/>
<element name="OP_TYPE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
