EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CRAfrica_Details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="BANK_COUNTRY"/>
<element name="CRAFRICA_CUSTMR_CLASS"/>
<element name="CRAFRICA_PRODUCT"/>
<element name="CRAFRICA_PURPS_BTN"/>
<element name="CRAFRICA_PURPS_CAT"/>
<element name="CRAFRICA_PURPS_CD"/>
<element name="CRAFRICA_PURPS_DESC"/>
<element name="CRAFRICA_TAB_TEXT"/>
<element name="CRAFRICA_USD_EQ_AMT"/>
<element name="CR_AMT"/>
<element name="CR_CCY"/>
<element name="C_CUSTOMER_AC"/>
<element name="C_CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="ERROR_MESSAGE"/>
<element name="FUNC_SHORT_NAME"/>
<element name="LOCAL_CCY"/>
<element name="T_X103_BENECU_ID_59A"/>
<element name="T_X103_ORDCU_ID_50A"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
