EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_EnquireUnmatchedMT910.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_COLL_BK"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="DEPOSIT_AMT"/>
                            <element name="DEPOSIT_DT"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MATCH_STAT__DESC__"/>
                            <element name="MATCH_STAT"/>
                            <element name="RECON_STAT__DESC__"/>
                            <element name="RECON_STAT"/>
                            <element name="TAG_20"/>
                            <element name="TAG_21"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
