EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_EOM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="D_ACTIVATE_DATE"/>
                <element name="D_DUE_DATE"/>
                <element name="_TRX_TYPE"/>
            </sequence>
        </complexType>
    </element>
</schema>
