EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FinanceEstablish.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AC_NO"/>
<element name="CFNC_C_AC_NO_BTN"/>
<element name="CFNC_C_AC_TYPE"/>
<element name="CFNC_C_APPROVE_STATUS"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_CUST_ID"/>
<element name="CFNC_C_FFGE_NO"/>
<element name="CFNC_C_GRACE_DAYS"/>
<element name="CFNC_C_GRACE_FLG__DESC__"/>
<element name="CFNC_C_GRACE_FLG"/>
<element name="CFNC_C_INT_MODE"/>
<element name="CFNC_C_INT_MTHD"/>
<element name="CFNC_C_INT_PAYABLE"/>
<element name="CFNC_C_ORIGIN_MAIN_REF"/>
<element name="CFNC_C_ORIGIN_MODULE"/>
<element name="CFNC_C_ORIGIN_TRX_REF"/>
<element name="CFNC_C_OVERDUE_FLAG"/>
<element name="CFNC_C_PAY_BY"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_C_STATUS"/>
<element name="CFNC_C_TYPE__DESC__"/>
<element name="CFNC_C_TYPE"/>
<element name="CFNC_D_DT"/>
<element name="CFNC_D_DUE_DT"/>
<element name="CFNC_D_LAST_PAY_DT"/>
<element name="CFNC_D_LAST_PMT_DT"/>
<element name="CFNC_D_MAST_MATU_DT"/>
<element name="CFNC_I_BASIC_DAYS"/>
<element name="CFNC_I_DAYS"/>
<element name="CFNC_I_FINC_TIMES"/>
<element name="CFNC_N_AMT_LCCCY"/>
<element name="CFNC_N_AMT_TXCCY"/>
<element name="CFNC_N_BAL"/>
<element name="CFNC_N_EXCH_RATE"/>
<element name="CFNC_N_FINC_TTL_AMT"/>
<element name="CFNC_N_FINC_TTL_BAL"/>
<element name="CFNC_N_LIBOR_RT"/>
<element name="CFNC_N_MARGIN_RT"/>
<element name="CFNC_N_NET_AMT"/>
<element name="CFNC_N_PAID_INT"/>
<element name="CFNC_N_PAID_LIBOR"/>
<element name="CFNC_N_PAID_MARGIN"/>
<element name="CFNC_N_PCT"/>
<element name="CFNC_N_PRE_INT"/>
<element name="CFNC_N_RT"/>
<element name="CFNC_N_TRXCCY_LCY"/>
<element name="C_LAST_MODI_MODULE"/>
<element name="C_LAST_MODI_OP"/>
<element name="C_TRX_CCY"/>
<element name="C_TRX_REF"/>
<element name="DISCOUNT_TAB_KEY"/>
<element name="LC_CCY"/>
<element name="N_TRX_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
