EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_CHG_Agreement_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CSID"/>
                            <element name="C_ADD_FLAG"/>
                            <element name="C_CALCULATE_TYPE"/>
                            <element name="C_CCY"/>
                            <element name="C_CHARGE_RATE_DESC"/>
                            <element name="C_COMMISSION_CODE"/>
                            <element name="C_PRODUCT_CODE"/>
                            <element name="ChargeDynamicAgreement">
                                <complexType>
                                    <sequence>
                                        <element name="CSID"/>
                                        <element name="C_BUSI_TYPE__DESC__"/>
                                        <element name="C_BUSI_TYPE"/>
                                        <element name="C_CALCULATE_TYPE"/>
                                        <element name="C_CCY"/>
                                        <element name="C_CCY_TIER"/>
                                        <element name="C_CHAN_TYPE__DESC__"/>
                                        <element name="C_CHAN_TYPE"/>
                                        <element name="C_CHARGE_RATE_DESC"/>
                                        <element name="C_CUST_TYPE__DESC__"/>
                                        <element name="C_CUST_TYPE"/>
                                        <element name="C_LOCKED_FLAG"/>
                                        <element name="C_LOCKED_OP"/>
                                        <element name="C_MIN_CCY"/>
                                        <element name="C_PARENT_ID"/>
                                        <element name="C_PERIOD_NUM"/>
                                        <element name="C_PERIOD_UNIT"/>
                                        <element name="C_PRODUCT_CODE"/>
                                        <element name="C_REFUSE_REASON"/>
                                        <element name="C_TEMP1"/>
                                        <element name="C_TEMP2"/>
                                        <element name="C_TEMP_CYCLE_DATA"/>
                                        <element name="C_TRX_STATUS"/>
                                        <element name="D_FORM_DATE"/>
                                        <element name="D_TO_DATE"/>
                                        <element name="F_BASE_PERCENTAGE"/>
                                        <element name="F_EXTEND_PERCENTAGE"/>
                                        <element name="F_PERCENTAGE_OVER"/>
                                        <element name="F_TEMP1_PERCENTAGE"/>
                                        <element name="F_TEMP2_PERCENTAGE"/>
                                        <element name="I_PERIOD_MAX"/>
                                        <element name="I_PERIOD_MIN"/>
                                        <element name="Y_FLAT_AMT"/>
                                        <element name="Y_MAX_AMT"/>
                                        <element name="Y_MIN_AMT"/>
                                        <element name="Y_TEMP1_AMT"/>
                                        <element name="Y_TEMP2_AMT"/>
                                        <element name="Y_TIER_AMT"/>
                                        <element name="Y_TIER_FLAT_AMT_OVER"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="D_FORM_DATE"/>
                            <element name="D_TO_DATE"/>
                            <element name="OP_TYPE"/>
                            <element name="Y_FLAT_AMT"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
