EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_Settlement017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_BENE_AC"/>
<element name="TSU_BENE_AC_BBAN"/>
<element name="TSU_BENE_AC_IBAN"/>
<element name="TSU_BENE_AC_TYPE"/>
<element name="TSU_BENE_AC_UPIC"/>
<element name="TSU_BENE_NAME"/>
<element name="TSU_CCY"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_FININST_BIC"/>
<element name="TSU_FININST_CNTY__DESC__"/>
<element name="TSU_FININST_CNTY"/>
<element name="TSU_FININST_NAME"/>
<element name="TSU_POST_CD"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_TOWN_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
