EE_PARA/EE_PARA/Default/FORM/form_schema_CustomerAccountNo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AUTH_FLG__DESC__"/>
<element name="AUTH_FLG"/>
<element name="CNPT_AC_CD"/>
<element name="CNPT_ID"/>
<element name="CNPT_SHORT_NM"/>
<element name="CROS_AC_FLG__DESC__"/>
<element name="CROS_AC_FLG"/>
<element name="CUST_AC_NO"/>
<element name="CUST_AC_TYPE"/>
<element name="CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="DEFLT_FLG__DESC__"/>
<element name="DEFLT_FLG"/>
<element name="DO_INDEX_NO"/>
<element name="EFFCV_DT"/>
<element name="ITEM_FLD_NM"/>
<element name="PROD_CD"/>
<element name="SERIAL_NO"/>
<element name="STOP_DT"/>
</sequence>
</complexType>
</element>
</schema>
