EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_SpecialRequest_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSUR2_NOTI_TP__DESC__"/>
<element name="TSUR2_NOTI_TP"/>
<element name="TSU_ADDITION_INFO"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_TID"/>
</sequence>
</complexType>
</element>
</schema>
