EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_IFSUBChgBKReassign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_CBK_AMT"/>
                            <element name="FA_CBK_DT"/>
                            <element name="FA_CBK_REF"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_MSG16_TYPE__DESC__"/>
                            <element name="FA_MSG16_TYPE"/>
                            <element name="FA_REASON__DESC__"/>
                            <element name="FA_REASON"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_CRN_BA"/>
                            <element name="FA_TEMP_INV_BA"/>
                            <element name="TEMP_CHAR7"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
