EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_ErrorReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_BASELN_ID"/>
                <element name="TSU_BASELN_VRSN"/>
                <element name="TSU_ERR_DESC"/>
                <element name="TSU_ERR_NB"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_REJT_MSG_ID"/>
                <element name="TSU_REJT_MSG_ID_DTTM"/>
                <element name="TSU_REQ_ACT_DESC"/>
                <element name="TSU_SUB_B_BIC"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRX_DTTM"/>
                <element name="ValidationResult">
                    <complexType>
                        <sequence>
                            <element name="TSU_ERR_RULE"/>
                            <element name="TSU_ERR_RULE_DESC"/>
                            <element name="TSU_ERR_SEQNO"/>
                            <element name="ElementIdentification">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_ERR_ELMTNM"/>
                                        <element name="TSU_ERR_ELMTPTH"/>
                                        <element name="TSU_ERR_ELMTVAL"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
