EE_PARA/EE_PARA/Default/FORM/form_multi_schema_101_SEQ_B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="PART_50A_ADD_BTN"/>
<element name="X101_21F_FX_DEAL_REF"/>
<element name="X102_21_REF"/>
<element name="X102_21_REF_BTN"/>
<element name="X102_32B_AMT"/>
<element name="X102_32B_CCY"/>
<element name="X102_33B_AMT"/>
<element name="X102_33B_CCY"/>
<element name="X102_36_RATE"/>
<element name="X102_50A_ACCOUNT"/>
<element name="X102_50A_IDENTIFIER"/>
<element name="X102_50F_PARTY_ADD1"/>
<element name="X102_50F_PARTY_ADD2"/>
<element name="X102_50F_PARTY_ADD3"/>
<element name="X102_50F_PARTY_ID"/>
<element name="X102_50F_PARTY_NAME"/>
<element name="X102_50_TAG"/>
<element name="X102_52A_IDENTIFIER"/>
<element name="X102_52A_PARTY_IDENTIFIER"/>
<element name="X102_52_TAG"/>
<element name="X102_57A_ACC_WITH_IDENTIFIER"/>
<element name="X102_57A_IDENTIFIER"/>
<element name="X102_57_TAG"/>
<element name="X102_59A_ACCOUNT"/>
<element name="X102_59A_IDENTIFIER"/>
<element name="X102_59_PARTY_ADD1"/>
<element name="X102_59_PARTY_ADD2"/>
<element name="X102_59_PARTY_ADD3"/>
<element name="X102_59_PARTY_NAME"/>
<element name="X102_59_TAG"/>
<element name="X102_71A_CHG_DETAILS"/>
<element name="X102_77B_REGULATORY"/>
<element name="X102_REMITTANCE_INFO"/>
<element name="X103_56A_BTN"/>
<element name="X103_57A_BTN"/>
<element name="X103_ADV_BKSW_B2"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_56A"/>
<element name="X203_56A_IDENTIFIER"/>
<element name="X203_56D_PARTY_ADD1"/>
<element name="X203_56D_PARTY_ADD2"/>
<element name="X203_56D_PARTY_ADD3"/>
<element name="X203_56D_PARTY_NAME"/>
<element name="X203_56_PARTY_ID"/>
<element name="X203_56_PARTY_IDENTIFIER"/>
<element name="X203_57D_PARTY_ADD1"/>
<element name="X203_57D_PARTY_ADD2"/>
<element name="X203_57D_PARTY_ADD3"/>
<element name="X203_57D_PARTY_NAME"/>
<element name="X203_57_PARTY_ID"/>
<element name="X203_58A_IDENTIFIER"/>
<element name="X203_58_PARTY_IDENTIFIER"/>
<element name="X798_25A_CHG_ACC"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
