EE_PARA/EE_PARA/Default/FORM/form_schema_AccSpecInfoSSI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="ACCT_NO"/>
<element name="BOP_CAT"/>
<element name="BOP_CAT_BTN"/>
<element name="BOP_CAT_C"/>
<element name="BOP_IND"/>
<element name="CCY"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="Ord_Cust_lookup"/>
<element name="SEC_OF_RULING"/>
<element name="SETT_INSTR"/>
<element name="SETT_INSTR_DETS"/>
<element name="SSI_EXPIRY_DT"/>
<element name="SSI_REVIEW_DT"/>
</sequence>
</complexType>
</element>
</schema>
