EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_MisMatchRejectNotification_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="RjctdElmtMis">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="TSU_REJT_AMDMB"/>
                                        <element name="TSU_REJT_ELMT_SQNB"/>
                                        <element name="TSU_RJ_RSN_INDVL"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                            <element name="TSUR2_REQ_ACT_TP"/>
                            <element name="TSUR2_TRX_STATUS__DESC__"/>
                            <element name="TSUR2_TRX_STATUS"/>
                            <element name="TSU_BASELN_ID"/>
                            <element name="TSU_BASELN_VRSN"/>
                            <element name="TSU_DS_RP_DTTM"/>
                            <element name="TSU_DS_RP_ID"/>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_OUR_BIC"/>
                            <element name="TSU_OUR_REF"/>
                            <element name="TSU_REJT_AMDMB"/>
                            <element name="TSU_REJT_RSN2"/>
                            <element name="TSU_REJT_RSNTP__DESC__"/>
                            <element name="TSU_REJT_RSNTP"/>
                            <element name="TSU_REQ_ACT_DESC"/>
                            <element name="TSU_RL_MSG_ID"/>
                            <element name="TSU_THEIR_BIC"/>
                            <element name="TSU_THEIR_REF"/>
                            <element name="TSU_TID"/>
                            <element name="TSU_TRX_DTTM"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
