EE_PARA/EE_PARA/Default/FORM/form_schema_FFIT_CableOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="ACPT_BK_ADD"/>
<element name="ACPT_BK_ID"/>
<element name="ACPT_BK_NM"/>
<element name="AC_WT_INST_AC_NO"/>
<element name="AC_WT_INST_ADD1"/>
<element name="AC_WT_INST_ADD2"/>
<element name="AC_WT_INST_ADD3"/>
<element name="AC_WT_INST_ADD_BTN2"/>
<element name="AC_WT_INST_ADD_ORDER_NO"/>
<element name="AC_WT_INST_ID"/>
<element name="AC_WT_INST_ID_BTN"/>
<element name="AC_WT_INST_NM"/>
<element name="AC_WT_INST_NOTES"/>
<element name="AC_WT_INST_ORDER_NO"/>
<element name="AC_WT_INST_SW_ADD"/>
<element name="AC_WT_INST_SW_TAG"/>
<element name="ADV_BK_ADD1"/>
<element name="ADV_BK_ADD2"/>
<element name="ADV_BK_ADD3"/>
<element name="ADV_BK_ADD_BTN"/>
<element name="ADV_BK_ID"/>
<element name="ADV_BK_ID_BTN"/>
<element name="ADV_BK_MAIL_ADD"/>
<element name="ADV_BK_NM"/>
<element name="ADV_BK_NOTES"/>
<element name="ADV_BK_ORDER_NO"/>
<element name="ADV_BK_ORDER_POST"/>
<element name="ADV_BK_POST_ADD_BTN"/>
<element name="ADV_BK_SW_ADD"/>
<element name="ADV_BK_SW_TAG"/>
<element name="AUTH_BLACK"/>
<element name="BOOKING_RT"/>
<element name="BOOKING_USRT"/>
<element name="BUTTON_MT742_52_ID"/>
<element name="BUTTON_MT742_52_SW"/>
<element name="BUTTON_MT742_57_ID"/>
<element name="BUTTON_MT742_57_SW"/>
<element name="BUTTON_MT742_58_ID"/>
<element name="BUTTON_MT742_58_SW"/>
<element name="BUYING_CLOSE_RT"/>
<element name="BUYING_CLOSE_USRT"/>
<element name="BUYING_CUST_RT"/>
<element name="BUYING_CUST_USRT"/>
<element name="BUYING_FAV_RT"/>
<element name="BUYING_RT"/>
<element name="BUYING_USRT"/>
<element name="BUY_BK_ADD"/>
<element name="BUY_BK_NM1"/>
<element name="BUY_BK_SW"/>
<element name="CABLE_TYPE"/>
<element name="CHECK_BOX_798"/>
<element name="CHG_ACNO"/>
<element name="CHG_CUST_VCH_DESC_CR"/>
<element name="CHG_CUST_VCH_DESC_DR"/>
<element name="CHG_FCUST_CCY"/>
<element name="CHG_FOREIGN_FX_AMT_CR"/>
<element name="CHG_FOREIGN_FX_AMT_DR"/>
<element name="CHG_FOREIGN_FX_CCY_CR"/>
<element name="CHG_FOREIGN_FX_CCY_DR"/>
<element name="CHG_LOCAL_FX_AMT_CR"/>
<element name="CHG_LOCAL_FX_AMT_DR"/>
<element name="CHG_LOCAL_FX_CCY_CR"/>
<element name="CHG_LOCAL_FX_CCY_DR"/>
<element name="CHG_PRE_ADV_COMM_AC"/>
<element name="CHG_TRX_DATE"/>
<element name="CLERK_ID"/>
<element name="CLM_DT"/>
<element name="CLM_REF"/>
<element name="CLM_TRX_CCY_AMT"/>
<element name="CNTY_CODE"/>
<element name="COMMON_PRDT_CODE"/>
<element name="CORR_ADD1"/>
<element name="CORR_ADD2"/>
<element name="CORR_ADD3"/>
<element name="CORR_ADD_BTN"/>
<element name="CORR_ADD_ORDER_NO"/>
<element name="CORR_CUST_BANK__DESC__"/>
<element name="CORR_CUST_BANK"/>
<element name="CORR_EMAIL_ADD"/>
<element name="CORR_FAX_NO"/>
<element name="CORR_ID"/>
<element name="CORR_ID_BTN"/>
<element name="CORR_MAIL_ADD"/>
<element name="CORR_NM"/>
<element name="CORR_NOTES"/>
<element name="CORR_ORDER_NO"/>
<element name="CORR_POST_BTN"/>
<element name="CORR_SW_ADD"/>
<element name="CORR_SW_TAG"/>
<element name="CORR_TLX_NO"/>
<element name="COUNTER_CNTY_CODE"/>
<element name="COVER_AC_NO_CR"/>
<element name="COVER_AMT_CR"/>
<element name="COVER_BR_ID"/>
<element name="COVER_CCY_CR"/>
<element name="COVER_CRAC_BUSI_TYPE"/>
<element name="C_COMPLIANCE_NOTE"/>
<element name="C_COMPLIANCE_STATUS__DESC__"/>
<element name="C_COMPLIANCE_STATUS"/>
<element name="C_MAIN_REF"/>
<element name="C_SWADVDO_TIMES"/>
<element name="C_SWMAIN_TIMES"/>
<element name="C_SWPAYDO_TIMES"/>
<element name="C_SWPAY_TIMES"/>
<element name="C_TRANS_CODE"/>
<element name="EVENT_TYPE__DESC__"/>
<element name="EVENT_TYPE"/>
<element name="EXPT_ID"/>
<element name="EXPT_NM"/>
<element name="EXPT_NM_C"/>
<element name="E_ACCOUNT_TYPE"/>
<element name="E_ACCOUNT_TYPE_ACCEPT"/>
<element name="E_BORROWER_ID"/>
<element name="E_BORROWER_ID_ACCEPT"/>
<element name="E_CCY_DECIMAL"/>
<element name="E_CFNC_D_DUE_DT"/>
<element name="E_CFNC_I_BASIC_DAYS"/>
<element name="E_CLAIMNOTE_TIMES"/>
<element name="E_C_REF_NO_C_IN"/>
<element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
<element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
<element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
<element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
<element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
<element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
<element name="E_DISCOUNT_TIMES"/>
<element name="E_DUE_DATE"/>
<element name="E_DUE_DATE_ACCEPT"/>
<element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
<element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
<element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
<element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
<element name="E_EPLC_CONF_COMM_TRX_AMT"/>
<element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
<element name="E_FUNCTION_ID"/>
<element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
<element name="E_IA_C_DIS_CUSTCCY"/>
<element name="E_IA_C_DIS_LOCALCCY"/>
<element name="E_IA_Y_EQVL_INT"/>
<element name="E_IA_Y_EQVL_INT_ACCEPT"/>
<element name="E_IA_Y_PAID_INT"/>
<element name="E_MAIN_REF"/>
<element name="E_NEW_EXPIRY_DT"/>
<element name="E_ORG_OUR_ENG_ADV_LC"/>
<element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
<element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
<element name="E_PAID_ACCEPT_COMM_AMT"/>
<element name="E_PAID_ACCEPT_COMM_CCY"/>
<element name="E_PAID_CONFIRM_COMM_AMT"/>
<element name="E_PAID_CONFIRM_COMM_CCY"/>
<element name="E_RATE"/>
<element name="E_REF_NO"/>
<element name="E_SEND_DOC_FLAG"/>
<element name="E_SETTLEPARTIALPAY_TIMES"/>
<element name="E_TRX_DT"/>
<element name="E_UNIT_CODE"/>
<element name="E_UNPAID_ACCEPT_COMM_AMT"/>
<element name="E_UNPAID_ACCEPT_COMM_CCY"/>
<element name="E_UNPAID_CONFIRM_COMM_AMT"/>
<element name="E_UNPAID_CONFIRM_COMM_CCY"/>
<element name="FINC_AMT"/>
<element name="FINC_CCY"/>
<element name="FINC_DT"/>
<element name="FINC_DUE_DT"/>
<element name="FINC_RISK_LEVEL"/>
<element name="FINC_TYPE__DESC__"/>
<element name="FINC_TYPE"/>
<element name="FIVE_LEVEL_FLAG"/>
<element name="GL_BUSI_TYPE"/>
<element name="GTS_BR_ID"/>
<element name="GTS_PRVN_ID"/>
<element name="INV_NO"/>
<element name="LOGIN_BIC"/>
<element name="MESG_TYPE__DESC__"/>
<element name="MESG_TYPE"/>
<element name="MSG_TYPE"/>
<element name="NET_DR_AMT"/>
<element name="NET_DR_CCY"/>
<element name="ORDER_INST_AC_NO"/>
<element name="ORDER_INST_ADD1"/>
<element name="ORDER_INST_ADD2"/>
<element name="ORDER_INST_ADD3"/>
<element name="ORDER_INST_ADD_BTN"/>
<element name="ORDER_INST_ADD_ORDER_NO"/>
<element name="ORDER_INST_ID"/>
<element name="ORDER_INST_ID_BTN"/>
<element name="ORDER_INST_NM"/>
<element name="ORDER_INST_NOTES"/>
<element name="ORDER_INST_ORDER_NO"/>
<element name="ORDER_INST_SW_ADD"/>
<element name="ORDER_INST_SW_TAG"/>
<element name="PMT_930_AC_NO"/>
<element name="PMT_930_BUSI_TYPE"/>
<element name="PMT_AC_AMT1"/>
<element name="PMT_AC_AMT2"/>
<element name="PMT_AC_AMT3"/>
<element name="PMT_AC_AMT4"/>
<element name="PMT_AC_AMT5"/>
<element name="PMT_AC_CCY1"/>
<element name="PMT_AC_CCY2"/>
<element name="PMT_AC_CCY3"/>
<element name="PMT_AC_CCY4"/>
<element name="PMT_AC_CCY5"/>
<element name="PMT_AC_NO"/>
<element name="PMT_AMT"/>
<element name="PMT_BGL_AC_NO"/>
<element name="PMT_BUSI_TYPE1"/>
<element name="PMT_BUSI_TYPE2"/>
<element name="PMT_BUSI_TYPE3"/>
<element name="PMT_BUSI_TYPE4"/>
<element name="PMT_BUSI_TYPE5"/>
<element name="PMT_CLOSE_RT1"/>
<element name="PMT_CLOSE_RT2"/>
<element name="PMT_CLOSE_RT3"/>
<element name="PMT_CLOSE_RT4"/>
<element name="PMT_CLOSE_RT5"/>
<element name="PMT_CNTY_CODE"/>
<element name="PMT_CNY_AMT1"/>
<element name="PMT_CNY_AMT11"/>
<element name="PMT_CNY_AMT12"/>
<element name="PMT_CNY_AMT13"/>
<element name="PMT_CNY_AMT14"/>
<element name="PMT_CNY_AMT15"/>
<element name="PMT_CNY_AMT2"/>
<element name="PMT_CNY_AMT21"/>
<element name="PMT_CNY_AMT22"/>
<element name="PMT_CNY_AMT23"/>
<element name="PMT_CNY_AMT24"/>
<element name="PMT_CNY_AMT25"/>
<element name="PMT_CNY_AMT3"/>
<element name="PMT_CNY_AMT4"/>
<element name="PMT_CNY_AMT5"/>
<element name="PMT_CR_AMT1"/>
<element name="PMT_CR_AMT2"/>
<element name="PMT_CR_AMT3"/>
<element name="PMT_CR_AMT4"/>
<element name="PMT_CR_AMT5"/>
<element name="PMT_CUST_AC_NO1"/>
<element name="PMT_CUST_AC_NO1_O"/>
<element name="PMT_CUST_AC_NO1_S"/>
<element name="PMT_CUST_AC_NO2"/>
<element name="PMT_CUST_AC_NO2_O"/>
<element name="PMT_CUST_AC_NO2_S"/>
<element name="PMT_CUST_AC_NO3"/>
<element name="PMT_CUST_AC_NO3_O"/>
<element name="PMT_CUST_AC_NO3_S"/>
<element name="PMT_CUST_AC_NO4"/>
<element name="PMT_CUST_AC_NO4_O"/>
<element name="PMT_CUST_AC_NO4_S"/>
<element name="PMT_CUST_AC_NO5"/>
<element name="PMT_CUST_AC_NO5_O"/>
<element name="PMT_CUST_AC_NO5_S"/>
<element name="PMT_CUST_ID"/>
<element name="PMT_CUST_NM"/>
<element name="PMT_CUST_NM1"/>
<element name="PMT_CUST_NM2"/>
<element name="PMT_CUST_NM3"/>
<element name="PMT_CUST_NM4"/>
<element name="PMT_CUST_NM5"/>
<element name="PMT_CUST_NM_ZH1"/>
<element name="PMT_CUST_NM_ZH2"/>
<element name="PMT_CUST_NM_ZH3"/>
<element name="PMT_CUST_NM_ZH4"/>
<element name="PMT_CUST_NM_ZH5"/>
<element name="PMT_CUST_RT1"/>
<element name="PMT_CUST_RT2"/>
<element name="PMT_CUST_RT3"/>
<element name="PMT_CUST_RT4"/>
<element name="PMT_CUST_RT5"/>
<element name="PMT_DCLR_NO"/>
<element name="PMT_DR_AMT1"/>
<element name="PMT_DR_AMT2"/>
<element name="PMT_DR_AMT3"/>
<element name="PMT_DR_AMT4"/>
<element name="PMT_DR_AMT5"/>
<element name="PMT_EQ_AMT1"/>
<element name="PMT_EQ_AMT2"/>
<element name="PMT_EQ_AMT3"/>
<element name="PMT_EQ_AMT4"/>
<element name="PMT_EQ_AMT5"/>
<element name="PMT_EXCH_COMM1"/>
<element name="PMT_EXCH_COMM2"/>
<element name="PMT_EXCH_COMM3"/>
<element name="PMT_EXCH_COMM4"/>
<element name="PMT_EXCH_COMM5"/>
<element name="PMT_EXCH_FAV1"/>
<element name="PMT_EXCH_FAV2"/>
<element name="PMT_EXCH_FAV3"/>
<element name="PMT_EXCH_FAV4"/>
<element name="PMT_EXCH_FAV5"/>
<element name="PMT_EXCH_INCM1"/>
<element name="PMT_EXCH_INCM2"/>
<element name="PMT_EXCH_INCM3"/>
<element name="PMT_EXCH_INCM4"/>
<element name="PMT_EXCH_INCM5"/>
<element name="PMT_EXCH_RPTNO1"/>
<element name="PMT_EXCH_RPTNO2"/>
<element name="PMT_EXCH_RPTNO3"/>
<element name="PMT_EXCH_RPTNO4"/>
<element name="PMT_EXCH_RPTNO5"/>
<element name="PMT_EXCH_RT1"/>
<element name="PMT_EXCH_RT2"/>
<element name="PMT_EXCH_RT3"/>
<element name="PMT_EXCH_RT4"/>
<element name="PMT_EXCH_RT5"/>
<element name="PMT_NET_CLOSE_RT"/>
<element name="PMT_NET_CUST_RT"/>
<element name="PMT_NET_EXCH_COMM"/>
<element name="PMT_NET_EXCH_RT"/>
<element name="PMT_NON_EXCH_RT"/>
<element name="PMT_ORGAN_ID"/>
<element name="PMT_ORGAN_ID1"/>
<element name="PMT_ORGAN_ID2"/>
<element name="PMT_ORGAN_ID3"/>
<element name="PMT_ORGAN_ID4"/>
<element name="PMT_ORGAN_ID5"/>
<element name="PMT_SECD_CUST_ID"/>
<element name="PMT_SECD_CUST_NM"/>
<element name="PMT_SETT_EXCH_RPTNO1"/>
<element name="PMT_SETT_EXCH_RPTNO2"/>
<element name="PMT_SETT_EXCH_RPTNO3"/>
<element name="PMT_SETT_EXCH_RPTNO4"/>
<element name="PMT_SETT_EXCH_RPTNO5"/>
<element name="PMT_TRX_NO"/>
<element name="PMT_TTL_EXCH_FAV"/>
<element name="PMT_TTL_EXCH_INCM"/>
<element name="PMT_VALUE_DT"/>
<element name="PMT_VCH_DESC"/>
<element name="PMT_VCH_DESC1"/>
<element name="PMT_VCH_DESC2"/>
<element name="PMT_VCH_DESC3"/>
<element name="PMT_VCH_DESC4"/>
<element name="PMT_VCH_DESC5"/>
<element name="RATE_BASE"/>
<element name="REAL_RT"/>
<element name="RPT_PMT_CCY_AC_NO"/>
<element name="RPT_PMT_CNY_AC_NO"/>
<element name="RPT_PMT_CNY_AMT"/>
<element name="RPT_PMT_EXCH_RT"/>
<element name="SELLING_CLOSE_RT"/>
<element name="SELLING_CLOSE_USRT"/>
<element name="SELLING_CUST_RT"/>
<element name="SELLING_CUST_USRT"/>
<element name="SELLING_FAV_RT"/>
<element name="SELLING_RT"/>
<element name="SELLING_USRT"/>
<element name="SELL_BK_ID"/>
<element name="SELL_BK_NM"/>
<element name="SELL_BK_SW"/>
<element name="STP_ADBIC_LC"/>
<element name="STP_CODE"/>
<element name="STP_MESSAGE_TYPE"/>
<element name="STP_MSG_CONTENT"/>
<element name="STP_RECV_TIME"/>
<element name="SUB_MESS_TYPE"/>
<element name="TEMP_AC_AMT1"/>
<element name="TEMP_AC_AMT2"/>
<element name="TEMP_AC_AMT3"/>
<element name="TEMP_AC_AMT4"/>
<element name="TEMP_AC_AMT5"/>
<element name="TEMP_AC_BOOK_DT"/>
<element name="TEMP_AC_CCY"/>
<element name="TEMP_AC_NO1"/>
<element name="TEMP_AC_NO2"/>
<element name="TEMP_AC_NO3"/>
<element name="TEMP_AC_NO4"/>
<element name="TEMP_AC_VALUE_DT"/>
<element name="TEMP_AC_VCH_DESC1"/>
<element name="TEMP_AC_VCH_DESC2"/>
<element name="TEMP_AC_VCH_DESC3"/>
<element name="TEMP_AC_VCH_DESC4"/>
<element name="TEMP_AMT1"/>
<element name="TEMP_AMT2"/>
<element name="TEMP_AMT3"/>
<element name="TEMP_AMT4"/>
<element name="TEMP_AMT5"/>
<element name="TEMP_BP_CCY1"/>
<element name="TEMP_CATEGORY_FLG__DESC__"/>
<element name="TEMP_CATEGORY_FLG"/>
<element name="TEMP_CFNC_D_DUE_DT"/>
<element name="TEMP_CHAR1"/>
<element name="TEMP_CHAR11"/>
<element name="TEMP_CHAR18"/>
<element name="TEMP_CHAR19"/>
<element name="TEMP_DT_ORGNL_MSG"/>
<element name="TEMP_FLG1__DESC__"/>
<element name="TEMP_FLG1"/>
<element name="TEMP_MAIL_TXT"/>
<element name="TEMP_MAIL_TXT_BTN"/>
<element name="TEMP_MESG_TYPE__DESC__"/>
<element name="TEMP_MESG_TYPE"/>
<element name="TEMP_N90_AC_IDN_25"/>
<element name="TEMP_N90_CCY_32"/>
<element name="TEMP_N90_CHG_32"/>
<element name="TEMP_N90_CHG_71"/>
<element name="TEMP_N90_DC_32__DESC__"/>
<element name="TEMP_N90_DC_32"/>
<element name="TEMP_N90_DT_32"/>
<element name="TEMP_N90_REF_20"/>
<element name="TEMP_N90_REF_21"/>
<element name="TEMP_N90_SNDINF_72"/>
<element name="TEMP_N95_NARR_77"/>
<element name="TEMP_N95_NARR_79"/>
<element name="TEMP_N95_QA_75"/>
<element name="TEMP_NM2"/>
<element name="TEMP_ORGNLMSG_TYPE"/>
<element name="TEMP_REF"/>
<element name="TEMP_REF_FOR_DOC"/>
<element name="TEMP_SND_RCV_11"/>
<element name="TRX_CCY"/>
<element name="TRX_DT"/>
<element name="TRX_NO"/>
<element name="VIP_LEVEL"/>
<element name="WEB_REF"/>
<element name="WHZH_TRX_CODE"/>
<element name="X742_20"/>
<element name="X742_21"/>
<element name="X742_31C"/>
<element name="X742_32B_AMT"/>
<element name="X742_32B_CCY"/>
<element name="X742_33B_AMT"/>
<element name="X742_33B_CCY"/>
<element name="X742_34A_AMT"/>
<element name="X742_34A_CCY"/>
<element name="X742_34A_DT"/>
<element name="X742_34A_TAG"/>
<element name="X742_52A_ACNO"/>
<element name="X742_52A_ADD"/>
<element name="X742_52A_BIC"/>
<element name="X742_52A_ID"/>
<element name="X742_52A_NM"/>
<element name="X742_52A_TAG"/>
<element name="X742_57A_ACNO"/>
<element name="X742_57A_ADD"/>
<element name="X742_57A_BIC"/>
<element name="X742_57A_ID"/>
<element name="X742_57A_NM"/>
<element name="X742_57A_TAG"/>
<element name="X742_58A_ACNO"/>
<element name="X742_58A_ADD"/>
<element name="X742_58A_BIC"/>
<element name="X742_58A_ID"/>
<element name="X742_58A_NM"/>
<element name="X742_58A_TAG"/>
<element name="X742_71B"/>
<element name="X742_72"/>
<element name="X742_B2"/>
<element name="X798_21R_BANK_REF"/>
<element name="X798_23X_CODE"/>
<element name="X798_23X_NARR"/>
<element name="X798_29D_BENE_CONTACT"/>
<element name="X798_29P_PRO_BANK_IND"/>
<element name="X798_29S_CUST_IDEN_CODE"/>
<element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
<element name="X798_29S_CUST_IDEN_PARTY"/>
<element name="X798_29U_LEAD_BANK_IND"/>
<element name="X798_31C_ISSUE_DATE"/>
<element name="X798_32B_AMT"/>
<element name="X798_32B_GUAR_CCY"/>
<element name="X798_72C_B2C_INFO"/>
<element name="X798_ADD_BK_REF"/>
<element name="X798_ADD_CUST_REF"/>
<element name="X798_ADV_BK_CONT"/>
<element name="X798_ADV_BK_REF_21P"/>
<element name="X798_BANK_CONT"/>
<element name="X798_CHG_INFO"/>
<element name="X798_CONF_INDI"/>
<element name="X798_CONF_INFO"/>
<element name="X798_CRE_DATE"/>
<element name="X798_CRE_TIME"/>
<element name="X798_CUST_ADD"/>
<element name="X798_CUST_REF"/>
<element name="X798_INFO_ADV_BK"/>
<element name="X798_INSTRU_78B"/>
<element name="X798_LEAD_BK_ID"/>
<element name="X798_PAYMENT_LIABILITY_22S"/>
<element name="X798_PAYMENT_TERMS_22R"/>
<element name="X798_PROC_BK_ID"/>
</sequence>
</complexType>
</element>
</schema>
