EE_PARA/EE_PARA/Default/FORM/form_schema_FFIT_Refund Collection - Copy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACPT_BK_NM"/>
                <element name="AMT_TO_BUY"/>
                <element name="AUTH_BLACK"/>
                <element name="AUTH_SPEL"/>
                <element name="BA_ADOC_NO"/>
                <element name="BA_TRX_NO"/>
                <element name="BLACK_DATA_TYPE"/>
                <element name="BLACK_INSTYP"/>
                <element name="BLACK_TRX_TYPE"/>
                <element name="BOOKING_RT"/>
                <element name="BOOKING_USRT"/>
                <element name="BRANCH_REMARK_ORG"/>
                <element name="BUYING_CLOSE_RT"/>
                <element name="BUYING_CLOSE_USRT"/>
                <element name="BUYING_CUST_RT"/>
                <element name="BUYING_CUST_USRT"/>
                <element name="BUYING_FAV_RT"/>
                <element name="BUYING_RT"/>
                <element name="BUYING_USRT"/>
                <element name="BUY_BK_ADD"/>
                <element name="BUY_BK_NM1"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLAIM_AMT"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="COLL_CHG_AC_NO"/>
                <element name="COLL_CHG_FLG"/>
                <element name="COLL_OVS_CHG"/>
                <element name="COMMIT_AMT"/>
                <element name="COMMIT_CCY"/>
                <element name="COMMON_PRDT_CODE"/>
                <element name="COUNTER_CNTY_CODE"/>
                <element name="COVER_AC_NO_CR"/>
                <element name="COVER_AC_NO_DR"/>
                <element name="COVER_AMT_CR"/>
                <element name="COVER_AMT_DR"/>
                <element name="COVER_BGL_ACNO"/>
                <element name="COVER_BR_ID"/>
                <element name="COVER_BR_ID2"/>
                <element name="COVER_CCY_CR"/>
                <element name="COVER_CCY_DR"/>
                <element name="COVER_CRAC_BUSI_TYPE"/>
                <element name="COVER_DRAC_BUSI_TYPE"/>
                <element name="CR_8114_RFD_ACNO"/>
                <element name="CR_8114_RFD_DT"/>
                <element name="CR_AC_NO"/>
                <element name="CR_AMT"/>
                <element name="CR_CUST_AMT"/>
                <element name="CR_VALUE_DT"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_FIN_ALERT_MSG"/>
                <element name="C_FIN_ALERT_STATUS"/>
                <element name="C_FIN_MSG_ID"/>
                <element name="C_FIN_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DEBT_INSMT_NO"/>
                <element name="DECLARE_NO_RFD"/>
                <element name="DRAFT_AMT"/>
                <element name="DR_CUST_AMT"/>
                <element name="EVENT_TYPE__DESC__"/>
                <element name="EVENT_TYPE"/>
                <element name="EXPT_ID"/>
                <element name="EXPT_NM"/>
                <element name="EXPT_NM_C"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FFIT_REMARK"/>
                <element name="FFT_BK_FLG"/>
                <element name="FINC_AC_NO"/>
                <element name="FINC_AMT"/>
                <element name="FINC_CCY"/>
                <element name="FINC_DT"/>
                <element name="FINC_DUE_DT"/>
                <element name="FINC_RISK_LEVEL"/>
                <element name="FINC_TYPE__DESC__"/>
                <element name="FINC_TYPE"/>
                <element name="FINC_TYPE_DESC"/>
                <element name="FREE_FLAG_SETT"/>
                <element name="GET_DATA_FLG"/>
                <element name="GL_BUSI_TYPE"/>
                <element name="GRACE_DAYS_BUY"/>
                <element name="GTS_BR_ID"/>
                <element name="GTS_DISTRICT_CODE"/>
                <element name="GTS_PRVN_ID"/>
                <element name="GUAZH_TRX_NO"/>
                <element name="IMPT_NM"/>
                <element name="INV_NO"/>
                <element name="IN_OUT_FLAG_SETT"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LOGIN_BIC"/>
                <element name="MATURITY"/>
                <element name="MSG_TYPE"/>
                <element name="NET_CR_AMT"/>
                <element name="NET_CR_CCY"/>
                <element name="NET_DR_AMT"/>
                <element name="NET_DR_CCY"/>
                <element name="NET_RET_AMT"/>
                <element name="NET_RET_CCY"/>
                <element name="NEW_REMARK"/>
                <element name="NONEXCHRT_onchange_flag"/>
                <element name="NONEXCH_FAV_RT1"/>
                <element name="NONEXCH_FAV_RT2"/>
                <element name="NONEXCH_FAV_RT3"/>
                <element name="NONEXCH_FAV_RT4"/>
                <element name="NONEXCH_FAV_RT5"/>
                <element name="OVS_CHG"/>
                <element name="PMT_930_AC_NO"/>
                <element name="PMT_930_BUSI_TYPE"/>
                <element name="PMT_AC_AMT1"/>
                <element name="PMT_AC_AMT2"/>
                <element name="PMT_AC_AMT3"/>
                <element name="PMT_AC_AMT4"/>
                <element name="PMT_AC_AMT5"/>
                <element name="PMT_AC_CCY1"/>
                <element name="PMT_AC_CCY2"/>
                <element name="PMT_AC_CCY3"/>
                <element name="PMT_AC_CCY4"/>
                <element name="PMT_AC_CCY5"/>
                <element name="PMT_BGL_AC_NO"/>
                <element name="PMT_BUSI_TYPE1"/>
                <element name="PMT_BUSI_TYPE2"/>
                <element name="PMT_BUSI_TYPE3"/>
                <element name="PMT_BUSI_TYPE4"/>
                <element name="PMT_BUSI_TYPE5"/>
                <element name="PMT_CLOSE_RT1"/>
                <element name="PMT_CLOSE_RT2"/>
                <element name="PMT_CLOSE_RT3"/>
                <element name="PMT_CLOSE_RT4"/>
                <element name="PMT_CLOSE_RT5"/>
                <element name="PMT_CNTY_CODE"/>
                <element name="PMT_CNY_AMT1"/>
                <element name="PMT_CNY_AMT11"/>
                <element name="PMT_CNY_AMT12"/>
                <element name="PMT_CNY_AMT13"/>
                <element name="PMT_CNY_AMT14"/>
                <element name="PMT_CNY_AMT15"/>
                <element name="PMT_CNY_AMT2"/>
                <element name="PMT_CNY_AMT21"/>
                <element name="PMT_CNY_AMT22"/>
                <element name="PMT_CNY_AMT23"/>
                <element name="PMT_CNY_AMT24"/>
                <element name="PMT_CNY_AMT25"/>
                <element name="PMT_CNY_AMT3"/>
                <element name="PMT_CNY_AMT4"/>
                <element name="PMT_CNY_AMT5"/>
                <element name="PMT_CR_AMT1"/>
                <element name="PMT_CR_AMT2"/>
                <element name="PMT_CR_AMT3"/>
                <element name="PMT_CR_AMT4"/>
                <element name="PMT_CR_AMT5"/>
                <element name="PMT_CUST_AC_NO1"/>
                <element name="PMT_CUST_AC_NO1_O"/>
                <element name="PMT_CUST_AC_NO1_S"/>
                <element name="PMT_CUST_AC_NO2"/>
                <element name="PMT_CUST_AC_NO2_O"/>
                <element name="PMT_CUST_AC_NO2_S"/>
                <element name="PMT_CUST_AC_NO3"/>
                <element name="PMT_CUST_AC_NO3_O"/>
                <element name="PMT_CUST_AC_NO3_S"/>
                <element name="PMT_CUST_AC_NO4"/>
                <element name="PMT_CUST_AC_NO4_O"/>
                <element name="PMT_CUST_AC_NO4_S"/>
                <element name="PMT_CUST_AC_NO5"/>
                <element name="PMT_CUST_AC_NO5_O"/>
                <element name="PMT_CUST_AC_NO5_S"/>
                <element name="PMT_CUST_ID"/>
                <element name="PMT_CUST_NM"/>
                <element name="PMT_CUST_NM1"/>
                <element name="PMT_CUST_NM2"/>
                <element name="PMT_CUST_NM3"/>
                <element name="PMT_CUST_NM4"/>
                <element name="PMT_CUST_NM5"/>
                <element name="PMT_CUST_NM_ZH1"/>
                <element name="PMT_CUST_NM_ZH2"/>
                <element name="PMT_CUST_NM_ZH3"/>
                <element name="PMT_CUST_NM_ZH4"/>
                <element name="PMT_CUST_NM_ZH5"/>
                <element name="PMT_CUST_RT1"/>
                <element name="PMT_CUST_RT2"/>
                <element name="PMT_CUST_RT3"/>
                <element name="PMT_CUST_RT4"/>
                <element name="PMT_CUST_RT5"/>
                <element name="PMT_DCLR_NO"/>
                <element name="PMT_DR_AMT1"/>
                <element name="PMT_DR_AMT2"/>
                <element name="PMT_DR_AMT3"/>
                <element name="PMT_DR_AMT4"/>
                <element name="PMT_DR_AMT5"/>
                <element name="PMT_EQ_AMT1"/>
                <element name="PMT_EQ_AMT2"/>
                <element name="PMT_EQ_AMT3"/>
                <element name="PMT_EQ_AMT4"/>
                <element name="PMT_EQ_AMT5"/>
                <element name="PMT_EXCH_COMM1"/>
                <element name="PMT_EXCH_COMM2"/>
                <element name="PMT_EXCH_COMM3"/>
                <element name="PMT_EXCH_COMM4"/>
                <element name="PMT_EXCH_COMM5"/>
                <element name="PMT_EXCH_FAV1"/>
                <element name="PMT_EXCH_FAV2"/>
                <element name="PMT_EXCH_FAV3"/>
                <element name="PMT_EXCH_FAV4"/>
                <element name="PMT_EXCH_FAV5"/>
                <element name="PMT_EXCH_INCM1"/>
                <element name="PMT_EXCH_INCM2"/>
                <element name="PMT_EXCH_INCM3"/>
                <element name="PMT_EXCH_INCM4"/>
                <element name="PMT_EXCH_INCM5"/>
                <element name="PMT_EXCH_RPTNO1"/>
                <element name="PMT_EXCH_RPTNO2"/>
                <element name="PMT_EXCH_RPTNO3"/>
                <element name="PMT_EXCH_RPTNO4"/>
                <element name="PMT_EXCH_RPTNO5"/>
                <element name="PMT_EXCH_RT1"/>
                <element name="PMT_EXCH_RT2"/>
                <element name="PMT_EXCH_RT3"/>
                <element name="PMT_EXCH_RT4"/>
                <element name="PMT_EXCH_RT5"/>
                <element name="PMT_NET_CLOSE_RT"/>
                <element name="PMT_NET_CUST_RT"/>
                <element name="PMT_NET_EXCH_COMM"/>
                <element name="PMT_NET_EXCH_RT"/>
                <element name="PMT_NON_EXCH_RT"/>
                <element name="PMT_ORGAN_ID"/>
                <element name="PMT_ORGAN_ID1"/>
                <element name="PMT_ORGAN_ID2"/>
                <element name="PMT_ORGAN_ID3"/>
                <element name="PMT_ORGAN_ID4"/>
                <element name="PMT_ORGAN_ID5"/>
                <element name="PMT_SECD_CUST_ID"/>
                <element name="PMT_SECD_CUST_NM"/>
                <element name="PMT_SETT_EXCH_RPTNO1"/>
                <element name="PMT_SETT_EXCH_RPTNO2"/>
                <element name="PMT_SETT_EXCH_RPTNO3"/>
                <element name="PMT_SETT_EXCH_RPTNO4"/>
                <element name="PMT_SETT_EXCH_RPTNO5"/>
                <element name="PMT_TRX_NO"/>
                <element name="PMT_TTL_EXCH_FAV"/>
                <element name="PMT_TTL_EXCH_INCM"/>
                <element name="PMT_VALUE_DT"/>
                <element name="PMT_VCH_DESC"/>
                <element name="PMT_VCH_DESC1"/>
                <element name="PMT_VCH_DESC2"/>
                <element name="PMT_VCH_DESC3"/>
                <element name="PMT_VCH_DESC4"/>
                <element name="PMT_VCH_DESC5"/>
                <element name="PRE_OVS_CHG"/>
                <element name="PRE_OVS_CHG_BUY"/>
                <element name="PRODUCT_CODE"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="RFD_8114_AMT"/>
                <element name="RFD_8114_BAL"/>
                <element name="RPT_BEI_AN_BIAO_NO"/>
                <element name="RPT_CCY_AC_NO"/>
                <element name="RPT_CCY_AC_NO_SETT"/>
                <element name="RPT_CCY_AMT"/>
                <element name="RPT_CCY_AMT_SETT"/>
                <element name="RPT_CHKPRTD_SETT"/>
                <element name="RPT_CNTY_CODE"/>
                <element name="RPT_CNTY_CODE_NM"/>
                <element name="RPT_CNTY_CODE_NM_SETT"/>
                <element name="RPT_CNTY_CODE_O"/>
                <element name="RPT_CNTY_CODE_O_SETT"/>
                <element name="RPT_CNTY_CODE_SETT"/>
                <element name="RPT_CNY_AC_NO"/>
                <element name="RPT_CNY_AC_NO_SETT"/>
                <element name="RPT_CNY_AMT"/>
                <element name="RPT_CNY_AMT_SETT"/>
                <element name="RPT_CONTRACT_AMT"/>
                <element name="RPT_CONTRACT_NO"/>
                <element name="RPT_CUSTIDCODE"/>
                <element name="RPT_CUSTIDCODE_SETT"/>
                <element name="RPT_CUST_ID"/>
                <element name="RPT_CUST_ID_SETT"/>
                <element name="RPT_CUST_ORGAN_ID"/>
                <element name="RPT_CUST_ORGAN_ID_SETT"/>
                <element name="RPT_CUST_ORGAN_ID_SETT1"/>
                <element name="RPT_CUST_ORGAN_ID_SETT2"/>
                <element name="RPT_CUST_TYPE"/>
                <element name="RPT_CUST_TYPE_SETT"/>
                <element name="RPT_DCLR_FLG"/>
                <element name="RPT_DCLR_FLG_SETT"/>
                <element name="RPT_DCLR_NO"/>
                <element name="RPT_DCLR_NO_SETT"/>
                <element name="RPT_DCLR_NO_SETT1"/>
                <element name="RPT_DCLR_NO_SETT2"/>
                <element name="RPT_DCLR_NO_SETT3"/>
                <element name="RPT_DCLR_NO_SETT4"/>
                <element name="RPT_DCLR_NO_SETT5"/>
                <element name="RPT_DCLR_TYPE"/>
                <element name="RPT_DCLR_TYPE_SETT"/>
                <element name="RPT_DECLARER"/>
                <element name="RPT_DECLARER_PHONE"/>
                <element name="RPT_DECLARER_PHONE_SETT"/>
                <element name="RPT_DECLARER_SETT"/>
                <element name="RPT_DRAFT_AMT"/>
                <element name="RPT_DRAFT_CCY"/>
                <element name="RPT_DT"/>
                <element name="RPT_DT_SETT"/>
                <element name="RPT_EXCH_RT"/>
                <element name="RPT_EXCH_RT_SETT"/>
                <element name="RPT_EXPIRY_DT"/>
                <element name="RPT_FRGN_LOAN_NO_SETT"/>
                <element name="RPT_INV_NO"/>
                <element name="RPT_IN_CHG_AMT"/>
                <element name="RPT_IN_CHG_AMT_SETT"/>
                <element name="RPT_IN_CHG_CCY"/>
                <element name="RPT_IN_CHG_CCY_SETT"/>
                <element name="RPT_ISBAL_SETT"/>
                <element name="RPT_ISPRINTFLG"/>
                <element name="RPT_ISPRINTFLG_SETT"/>
                <element name="RPT_ISPRINT_SETT"/>
                <element name="RPT_ISREF"/>
                <element name="RPT_ISREF_SETT"/>
                <element name="RPT_ISSUE_DT"/>
                <element name="RPT_IS_REF"/>
                <element name="RPT_IS_REF_SETT"/>
                <element name="RPT_LC_NO"/>
                <element name="RPT_LTST_SHIP_DT"/>
                <element name="RPT_NEGO_BK_NM"/>
                <element name="RPT_NEGO_BK_REF_NO"/>
                <element name="RPT_NET_PMT_AMT"/>
                <element name="RPT_NET_PMT_CCY"/>
                <element name="RPT_OTHER_AC_NO"/>
                <element name="RPT_OTHER_AC_NO_SETT"/>
                <element name="RPT_OTHER_AMT"/>
                <element name="RPT_OTHER_AMT_SETT"/>
                <element name="RPT_OUT_CHG_AMT_SETT"/>
                <element name="RPT_OUT_CHG_CCY_SETT"/>
                <element name="RPT_PAYEE_NM"/>
                <element name="RPT_PAYEE_NM_SETT"/>
                <element name="RPT_PAYER_NM"/>
                <element name="RPT_PAY_FLG"/>
                <element name="RPT_PAY_FLG_SETT"/>
                <element name="RPT_PAY_TYPE"/>
                <element name="RPT_PAY_TYPE_SETT"/>
                <element name="RPT_PC_UNIT_CODE"/>
                <element name="RPT_PC_UNIT_CODE_SETT"/>
                <element name="RPT_PMT_CCY_AC_NO"/>
                <element name="RPT_PMT_CNY_AC_NO"/>
                <element name="RPT_PMT_CNY_AMT"/>
                <element name="RPT_PMT_EXCH_RT"/>
                <element name="RPT_PMT_FLAG"/>
                <element name="RPT_PMT_NO"/>
                <element name="RPT_RCV_BK_ADD"/>
                <element name="RPT_RCV_BK_NM"/>
                <element name="RPT_RELEASE_ID"/>
                <element name="RPT_RELEASE_ID_SETT"/>
                <element name="RPT_SETT_CCY_AC_NO"/>
                <element name="RPT_SETT_CNY_AC_NO"/>
                <element name="RPT_SETT_CNY_AMT"/>
                <element name="RPT_SETT_EXCH_RT"/>
                <element name="RPT_SETT_FLAG"/>
                <element name="RPT_SETT_IN_CHG"/>
                <element name="RPT_SETT_MTHD"/>
                <element name="RPT_SETT_MTHD_SETT"/>
                <element name="RPT_SETT_REFFLG"/>
                <element name="RPT_SYS_CODE"/>
                <element name="RPT_SYS_CODE_SETT"/>
                <element name="RPT_TENOR_DAYS"/>
                <element name="RPT_TI_YUN_DAN_NO"/>
                <element name="RPT_TRX_AMT"/>
                <element name="RPT_TRX_AMT1"/>
                <element name="RPT_TRX_AMT1_SETT"/>
                <element name="RPT_TRX_AMT2"/>
                <element name="RPT_TRX_AMT2_SETT"/>
                <element name="RPT_TRX_AMT_SETT"/>
                <element name="RPT_TRX_BAL_SETT"/>
                <element name="RPT_TRX_CCY"/>
                <element name="RPT_TRX_CCY1"/>
                <element name="RPT_TRX_CCY1_SETT"/>
                <element name="RPT_TRX_CCY2"/>
                <element name="RPT_TRX_CCY2_SETT"/>
                <element name="RPT_TRX_CCY_SETT"/>
                <element name="RPT_TRX_CODE1"/>
                <element name="RPT_TRX_CODE1_SETT"/>
                <element name="RPT_TRX_CODE1_V"/>
                <element name="RPT_TRX_CODE1_V_SETT"/>
                <element name="RPT_TRX_CODE2"/>
                <element name="RPT_TRX_CODE2_SETT"/>
                <element name="RPT_TRX_CODE2_V"/>
                <element name="RPT_TRX_CODE2_V_SETT"/>
                <element name="RPT_TRX_DT"/>
                <element name="RPT_TRX_DT_SETT"/>
                <element name="RPT_TRX_REF_NO"/>
                <element name="RPT_TRX_REF_NO_SETT"/>
                <element name="RPT_TRX_REMARK1"/>
                <element name="RPT_TRX_REMARK1_SETT"/>
                <element name="RPT_TRX_REMARK2"/>
                <element name="RPT_TRX_REMARK2_SETT"/>
                <element name="RPT_VERF_AMT_SETT"/>
                <element name="RPT_VERF_COUNT_SETT"/>
                <element name="RPT_VERF_NO_SETT"/>
                <element name="SELLING_CLOSE_RT"/>
                <element name="SELLING_CLOSE_USRT"/>
                <element name="SELLING_CUST_RT"/>
                <element name="SELLING_CUST_USRT"/>
                <element name="SELLING_FAV_RT"/>
                <element name="SELLING_RT"/>
                <element name="SELLING_USRT"/>
                <element name="SETT_930_AC_NO"/>
                <element name="SETT_930_BUSI_TYPE"/>
                <element name="SETT_AC_AMT1"/>
                <element name="SETT_AC_AMT2"/>
                <element name="SETT_AC_AMT3"/>
                <element name="SETT_AC_AMT4"/>
                <element name="SETT_AC_AMT5"/>
                <element name="SETT_AC_AMT6"/>
                <element name="SETT_AC_AMT7"/>
                <element name="SETT_AC_AMT8"/>
                <element name="SETT_AC_CCY1"/>
                <element name="SETT_AC_CCY2"/>
                <element name="SETT_AC_CCY3"/>
                <element name="SETT_AC_CCY4"/>
                <element name="SETT_AC_CCY5"/>
                <element name="SETT_AC_CCY6"/>
                <element name="SETT_AC_CCY7"/>
                <element name="SETT_AC_CCY8"/>
                <element name="SETT_AMT_TO_BIC1"/>
                <element name="SETT_AMT_TO_BIC2"/>
                <element name="SETT_AMT_TO_BIC3"/>
                <element name="SETT_AMT_TO_BIC4"/>
                <element name="SETT_AMT_TO_BIC5"/>
                <element name="SETT_AMT_TO_ID1"/>
                <element name="SETT_AMT_TO_ID2"/>
                <element name="SETT_AMT_TO_ID3"/>
                <element name="SETT_AMT_TO_ID4"/>
                <element name="SETT_AMT_TO_ID5"/>
                <element name="SETT_AMT_TO_NM1"/>
                <element name="SETT_AMT_TO_NM2"/>
                <element name="SETT_AMT_TO_NM3"/>
                <element name="SETT_AMT_TO_NM4"/>
                <element name="SETT_AMT_TO_NM5"/>
                <element name="SETT_BGL_AC_NO"/>
                <element name="SETT_BR_ID1"/>
                <element name="SETT_BR_ID2"/>
                <element name="SETT_BR_ID3"/>
                <element name="SETT_BR_ID4"/>
                <element name="SETT_BR_ID5"/>
                <element name="SETT_BR_ID7"/>
                <element name="SETT_BUSI_TYPE1"/>
                <element name="SETT_BUSI_TYPE2"/>
                <element name="SETT_BUSI_TYPE3"/>
                <element name="SETT_BUSI_TYPE4"/>
                <element name="SETT_BUSI_TYPE5"/>
                <element name="SETT_BUSI_TYPE6"/>
                <element name="SETT_BUSI_TYPE8"/>
                <element name="SETT_BUTTON1"/>
                <element name="SETT_BUTTON2"/>
                <element name="SETT_BUTTON3"/>
                <element name="SETT_BUTTON4"/>
                <element name="SETT_BUTTON5"/>
                <element name="SETT_CABLE_AMT1"/>
                <element name="SETT_CABLE_AMT2"/>
                <element name="SETT_CABLE_AMT3"/>
                <element name="SETT_CABLE_AMT4"/>
                <element name="SETT_CABLE_AMT5"/>
                <element name="SETT_CABLE_AMT7"/>
                <element name="SETT_CABLE_CCY"/>
                <element name="SETT_CABLE_COMM"/>
                <element name="SETT_CABLE_HEAD1"/>
                <element name="SETT_CABLE_HEAD2"/>
                <element name="SETT_CABLE_HEAD3"/>
                <element name="SETT_CABLE_HEAD4"/>
                <element name="SETT_CABLE_HEAD5"/>
                <element name="SETT_CABLE_HEAD7"/>
                <element name="SETT_CABLE_TEMP1"/>
                <element name="SETT_CABLE_TEMP2"/>
                <element name="SETT_CABLE_TEMP3"/>
                <element name="SETT_CABLE_TEMP4"/>
                <element name="SETT_CABLE_TEMP5"/>
                <element name="SETT_CABLE_TEMP7"/>
                <element name="SETT_CLOSE_RT1"/>
                <element name="SETT_CLOSE_RT2"/>
                <element name="SETT_CLOSE_RT3"/>
                <element name="SETT_CLOSE_RT4"/>
                <element name="SETT_CLOSE_RT5"/>
                <element name="SETT_CLOSE_RT6"/>
                <element name="SETT_CLOSE_RT7"/>
                <element name="SETT_CNTY_CODE"/>
                <element name="SETT_CNY_AMT1"/>
                <element name="SETT_CNY_AMT11"/>
                <element name="SETT_CNY_AMT12"/>
                <element name="SETT_CNY_AMT13"/>
                <element name="SETT_CNY_AMT14"/>
                <element name="SETT_CNY_AMT15"/>
                <element name="SETT_CNY_AMT16"/>
                <element name="SETT_CNY_AMT2"/>
                <element name="SETT_CNY_AMT21"/>
                <element name="SETT_CNY_AMT22"/>
                <element name="SETT_CNY_AMT23"/>
                <element name="SETT_CNY_AMT24"/>
                <element name="SETT_CNY_AMT25"/>
                <element name="SETT_CNY_AMT26"/>
                <element name="SETT_CNY_AMT3"/>
                <element name="SETT_CNY_AMT4"/>
                <element name="SETT_CNY_AMT5"/>
                <element name="SETT_CNY_AMT6"/>
                <element name="SETT_CRNO1"/>
                <element name="SETT_CRNO2"/>
                <element name="SETT_CRNO3"/>
                <element name="SETT_CRNO4"/>
                <element name="SETT_CRNO5"/>
                <element name="SETT_CR_AMT1"/>
                <element name="SETT_CR_AMT2"/>
                <element name="SETT_CR_AMT3"/>
                <element name="SETT_CR_AMT4"/>
                <element name="SETT_CR_AMT5"/>
                <element name="SETT_CR_AMT6"/>
                <element name="SETT_CUST_AC_NO1"/>
                <element name="SETT_CUST_AC_NO1_O"/>
                <element name="SETT_CUST_AC_NO1_S"/>
                <element name="SETT_CUST_AC_NO2"/>
                <element name="SETT_CUST_AC_NO2_O"/>
                <element name="SETT_CUST_AC_NO2_S"/>
                <element name="SETT_CUST_AC_NO3"/>
                <element name="SETT_CUST_AC_NO3_O"/>
                <element name="SETT_CUST_AC_NO3_S"/>
                <element name="SETT_CUST_AC_NO4"/>
                <element name="SETT_CUST_AC_NO4_O"/>
                <element name="SETT_CUST_AC_NO4_S"/>
                <element name="SETT_CUST_AC_NO5"/>
                <element name="SETT_CUST_AC_NO5_O"/>
                <element name="SETT_CUST_AC_NO5_S"/>
                <element name="SETT_CUST_AC_NO6"/>
                <element name="SETT_CUST_AC_NO6_O"/>
                <element name="SETT_CUST_AC_NO6_S"/>
                <element name="SETT_CUST_AC_NO7"/>
                <element name="SETT_CUST_AC_NO7_O"/>
                <element name="SETT_CUST_AC_NO7_S"/>
                <element name="SETT_CUST_AC_NO8"/>
                <element name="SETT_CUST_AC_NO8_O"/>
                <element name="SETT_CUST_AC_NO8_S"/>
                <element name="SETT_CUST_ID"/>
                <element name="SETT_CUST_NM"/>
                <element name="SETT_CUST_NM1"/>
                <element name="SETT_CUST_NM2"/>
                <element name="SETT_CUST_NM3"/>
                <element name="SETT_CUST_NM4"/>
                <element name="SETT_CUST_NM5"/>
                <element name="SETT_CUST_NM6"/>
                <element name="SETT_CUST_NM8"/>
                <element name="SETT_CUST_NM_ZH1"/>
                <element name="SETT_CUST_NM_ZH2"/>
                <element name="SETT_CUST_NM_ZH3"/>
                <element name="SETT_CUST_NM_ZH4"/>
                <element name="SETT_CUST_NM_ZH5"/>
                <element name="SETT_CUST_NM_ZH6"/>
                <element name="SETT_CUST_NM_ZH8"/>
                <element name="SETT_CUST_RT1"/>
                <element name="SETT_CUST_RT2"/>
                <element name="SETT_CUST_RT3"/>
                <element name="SETT_CUST_RT4"/>
                <element name="SETT_CUST_RT5"/>
                <element name="SETT_CUST_RT6"/>
                <element name="SETT_CUST_RT7"/>
                <element name="SETT_DCLR_NO1"/>
                <element name="SETT_DCLR_NO2"/>
                <element name="SETT_DCLR_NO3"/>
                <element name="SETT_DR_AMT1"/>
                <element name="SETT_DR_AMT2"/>
                <element name="SETT_DR_AMT3"/>
                <element name="SETT_DR_AMT4"/>
                <element name="SETT_DR_AMT5"/>
                <element name="SETT_DR_AMT6"/>
                <element name="SETT_EQ_AMT1"/>
                <element name="SETT_EQ_AMT2"/>
                <element name="SETT_EQ_AMT3"/>
                <element name="SETT_EQ_AMT4"/>
                <element name="SETT_EQ_AMT5"/>
                <element name="SETT_EQ_AMT6"/>
                <element name="SETT_EQ_AMT7"/>
                <element name="SETT_EXCH_COMM1"/>
                <element name="SETT_EXCH_COMM2"/>
                <element name="SETT_EXCH_COMM3"/>
                <element name="SETT_EXCH_COMM4"/>
                <element name="SETT_EXCH_COMM5"/>
                <element name="SETT_EXCH_COMM6"/>
                <element name="SETT_EXCH_COMM_HEAD1"/>
                <element name="SETT_EXCH_COMM_HEAD2"/>
                <element name="SETT_EXCH_COMM_HEAD3"/>
                <element name="SETT_EXCH_COMM_HEAD4"/>
                <element name="SETT_EXCH_COMM_HEAD5"/>
                <element name="SETT_EXCH_FAV1"/>
                <element name="SETT_EXCH_FAV2"/>
                <element name="SETT_EXCH_FAV3"/>
                <element name="SETT_EXCH_FAV4"/>
                <element name="SETT_EXCH_FAV5"/>
                <element name="SETT_EXCH_FAV6"/>
                <element name="SETT_EXCH_FAV_RMB1"/>
                <element name="SETT_EXCH_FAV_RMB2"/>
                <element name="SETT_EXCH_FAV_RMB3"/>
                <element name="SETT_EXCH_FAV_RMB4"/>
                <element name="SETT_EXCH_FAV_RMB5"/>
                <element name="SETT_EXCH_FAV_RMB7"/>
                <element name="SETT_EXCH_INCM1"/>
                <element name="SETT_EXCH_INCM2"/>
                <element name="SETT_EXCH_INCM3"/>
                <element name="SETT_EXCH_INCM4"/>
                <element name="SETT_EXCH_INCM5"/>
                <element name="SETT_EXCH_INCM6"/>
                <element name="SETT_EXCH_RPTNO1"/>
                <element name="SETT_EXCH_RPTNO2"/>
                <element name="SETT_EXCH_RPTNO3"/>
                <element name="SETT_EXCH_RPTNO4"/>
                <element name="SETT_EXCH_RPTNO5"/>
                <element name="SETT_EXCH_RPTNO6"/>
                <element name="SETT_EXCH_RT1"/>
                <element name="SETT_EXCH_RT2"/>
                <element name="SETT_EXCH_RT3"/>
                <element name="SETT_EXCH_RT4"/>
                <element name="SETT_EXCH_RT5"/>
                <element name="SETT_EXCH_RT6"/>
                <element name="SETT_EXCH_RT7"/>
                <element name="SETT_NET_CLOSE_RT1"/>
                <element name="SETT_NET_CLOSE_RT2"/>
                <element name="SETT_NET_CUST_RT1"/>
                <element name="SETT_NET_CUST_RT2"/>
                <element name="SETT_NET_EXCH_CCY"/>
                <element name="SETT_NET_EXCH_COMM"/>
                <element name="SETT_NET_EXCH_NO"/>
                <element name="SETT_NET_EXCH_RT1"/>
                <element name="SETT_NET_EXCH_RT2"/>
                <element name="SETT_NONEXCH_FLG"/>
                <element name="SETT_NON_EXCH_RT"/>
                <element name="SETT_ORGAN_ID"/>
                <element name="SETT_ORGAN_ID1"/>
                <element name="SETT_ORGAN_ID2"/>
                <element name="SETT_ORGAN_ID3"/>
                <element name="SETT_ORGAN_ID4"/>
                <element name="SETT_ORGAN_ID5"/>
                <element name="SETT_ORGAN_ID6"/>
                <element name="SETT_ORGAN_ID8"/>
                <element name="SETT_OTHER_COMM"/>
                <element name="SETT_OTHER_COMM_AC_NO"/>
                <element name="SETT_OTHER_COMM_CCY"/>
                <element name="SETT_PMT_EXCH_RPTNO1"/>
                <element name="SETT_PMT_EXCH_RPTNO2"/>
                <element name="SETT_PMT_EXCH_RPTNO3"/>
                <element name="SETT_PMT_EXCH_RPTNO4"/>
                <element name="SETT_PMT_EXCH_RPTNO5"/>
                <element name="SETT_PMT_EXCH_RPTNO6"/>
                <element name="SETT_PMT_EXCH_RPTNO7"/>
                <element name="SETT_SECD_CUST_ID"/>
                <element name="SETT_SECD_CUST_NM"/>
                <element name="SETT_TRANS_FLG1"/>
                <element name="SETT_TRANS_FLG2"/>
                <element name="SETT_TRANS_FLG3"/>
                <element name="SETT_TRANS_FLG4"/>
                <element name="SETT_TRANS_FLG5"/>
                <element name="SETT_TRX_NO"/>
                <element name="SETT_TTL_EXCH_FAV"/>
                <element name="SETT_TTL_EXCH_INCM"/>
                <element name="SETT_VCH_DESC_P"/>
                <element name="SETT_VCH_DESC_P6"/>
                <element name="SETT_VCH_DESC_P8"/>
                <element name="SETT_VCH_DESC_S"/>
                <element name="SETT_VCH_DESC_S1"/>
                <element name="SETT_VCH_DESC_S2"/>
                <element name="SETT_VCH_DESC_S3"/>
                <element name="SETT_VCH_DESC_S4"/>
                <element name="SETT_VCH_DESC_S5"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_AMT"/>
                <element name="TEMP_AMT1"/>
                <element name="TEMP_AMT11"/>
                <element name="TEMP_AMT12"/>
                <element name="TEMP_AMT2"/>
                <element name="TEMP_AMT3"/>
                <element name="TEMP_AMT4"/>
                <element name="TEMP_AMT5"/>
                <element name="TEMP_AMT54"/>
                <element name="TEMP_AMT6"/>
                <element name="TEMP_AMT7"/>
                <element name="TEMP_AMT8"/>
                <element name="TEMP_AMT9"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CHAR1"/>
                <element name="TEMP_CHAR11"/>
                <element name="TEMP_CHAR18"/>
                <element name="TEMP_CHAR19"/>
                <element name="TEMP_CHAR4"/>
                <element name="TEMP_CHAR6"/>
                <element name="TEMP_FLG1__DESC__"/>
                <element name="TEMP_FLG1"/>
                <element name="TEMP_FLG2"/>
                <element name="TEMP_FLG3"/>
                <element name="TEMP_FLG4"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_RESULT"/>
                <element name="TRF_AMT"/>
                <element name="TRF_DT"/>
                <element name="TRF_PRICE"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="TRX_NO"/>
                <element name="TTL_CABLE_APDE"/>
                <element name="VENT_CCY"/>
                <element name="VENT_CUST_AC_NO1"/>
                <element name="VENT_CUST_AC_NO1_S"/>
                <element name="VENT_CUST_AC_NO2"/>
                <element name="VENT_TEMP_NO1"/>
                <element name="VIP_LEVEL"/>
                <element name="WEB_REF"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202_52_ADD_BTN"/>
                <element name="X202_52_BTN"/>
                <element name="X202_52_NOTES"/>
                <element name="X202_52_ORDER_NO"/>
                <element name="X202_53_ADD_BTN"/>
                <element name="X202_53_BTN"/>
                <element name="X202_53_NOTES"/>
                <element name="X202_53_ORDER_NO"/>
                <element name="X202_54_ADD_BTN"/>
                <element name="X202_54_BTN"/>
                <element name="X202_54_NOTES"/>
                <element name="X202_54_ORDER_NO"/>
                <element name="X202_56_ADD_BTN"/>
                <element name="X202_56_BTN"/>
                <element name="X202_56_NOTES"/>
                <element name="X202_56_ORDER_NO"/>
                <element name="X202_57_ADD_BTN"/>
                <element name="X202_57_BTN"/>
                <element name="X202_57_NOTES"/>
                <element name="X202_57_ORDER_NO"/>
                <element name="X202_58_ADD_BTN"/>
                <element name="X202_58_BTN"/>
                <element name="X202_58_NOTES"/>
                <element name="X202_58_ORDER_NO"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_B2_ADD_BTN"/>
                <element name="X202_B2_BTN"/>
                <element name="X202_B2_NOTES"/>
                <element name="X202_B2_ORDER_NO"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BKTOBK_INFO72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TAG_B2"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
            </sequence>
        </complexType>
    </element>
</schema>
