EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRNB_NostroBankContact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CONT_EMAIL_ADD"/>
                            <element name="CONT_FAX_NO"/>
                            <element name="CONT_MAIL_ADD"/>
                            <element name="CONT_NM"/>
                            <element name="CONT_TEL_NO"/>
                            <element name="CONT_TYPE__DESC__"/>
                            <element name="CONT_TYPE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DO_INDEX_NO"/>
                            <element name="NS_BK_ID"/>
                            <element name="NS_BK_SWADD"/>
                            <element name="TRX_TP"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
