EE_PARA/EE_PARA/Default/FORM/form_multi_schema_205.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ASSET_ACNO"/>
                            <element name="CANCEL_FLG"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="C_CLEAR_TYPE_TEMP"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MAIN_REF_20Z"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="IS_GPI_MEMBER__DESC__"/>
                            <element name="IS_GPI_MEMBER"/>
                            <element name="LC_AMT"/>
                            <element name="LC_CCY"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MSG_TYPE"/>
                            <element name="MX_OR_MT_FLAG__DESC__"/>
                            <element name="MX_OR_MT_FLAG"/>
                            <element name="NXT_STATUS"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="RELATED_REF"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="SERVICE_TYPE_ID_GPI_111"/>
                            <element name="SG_AMT"/>
                            <element name="SG_CCY"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SW_FORM"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TRX_CCY"/>
                            <element name="UETR_GPI_121"/>
                            <element name="VALUE_DT"/>
                            <element name="WEB_REF"/>
                            <element name="X102_SEQ_C_13C">
                                <complexType>
                                    <sequence>
                                        <element name="X102_13C_TIME_INDICATION"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="X103BENECUADD1_59A"/>
                            <element name="X103BENECUADD1_59A_BTN"/>
                            <element name="X103BENECUADD2_59A"/>
                            <element name="X103BENECUADD3_59A"/>
                            <element name="X103MEDIBKADD1_56A"/>
                            <element name="X103MEDIBKADD2_56A"/>
                            <element name="X103MEDIBKADD3_56A"/>
                            <element name="X103SENDCORACNO53A"/>
                            <element name="X103SENDCORADD153A"/>
                            <element name="X103SENDCORADD253A"/>
                            <element name="X103SENDCORADD353A"/>
                            <element name="X103_52_ORDER_NO"/>
                            <element name="X103_56_ORDER_NO"/>
                            <element name="X103_57_ORDER_NO"/>
                            <element name="X103_59_ORDER_NO"/>
                            <element name="X103_ACCBKADD1_57A"/>
                            <element name="X103_ACCBKADD2_57A"/>
                            <element name="X103_ACCBKADD3_57A"/>
                            <element name="X103_ACC_BKACNO57A"/>
                            <element name="X103_ACC_BKID_57A"/>
                            <element name="X103_ACC_BKNM_57A"/>
                            <element name="X103_ACC_BKSW_57A"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_B2_BTN"/>
                            <element name="X103_BENECUACNO59A"/>
                            <element name="X103_BENECU_BKSW_59"/>
                            <element name="X103_BENECU_ID_59A"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_BENECU_OP__DESC__"/>
                            <element name="X103_BENECU_OP"/>
                            <element name="X103_BKTOBK_INFO72"/>
                            <element name="X103_ID_50_BTN"/>
                            <element name="X103_ID_52_BTN"/>
                            <element name="X103_ID_53_BTN"/>
                            <element name="X103_ID_56_BTN"/>
                            <element name="X103_ID_57_BTN"/>
                            <element name="X103_ID_59_BTN"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_MEDIBKACNO56A"/>
                            <element name="X103_MEDI_BKID_56A"/>
                            <element name="X103_MEDI_BKNM_56A"/>
                            <element name="X103_MEDI_BKSW_56A"/>
                            <element name="X103_ORDBKACNO_52A"/>
                            <element name="X103_ORDBKADD1_52A"/>
                            <element name="X103_ORDBKADD2_52A"/>
                            <element name="X103_ORDBKADD3_52A"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUADD1_50A"/>
                            <element name="X103_ORDCUADD2_50A"/>
                            <element name="X103_ORDCUADD3_50A"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_SW_50A"/>
                            <element name="X103_ORD_BKID_52A"/>
                            <element name="X103_ORD_BKNM_52A"/>
                            <element name="X103_ORD_BKSW_52A"/>
                            <element name="X103_REMIT_INFO_70"/>
                            <element name="X103_SENDCORRID53A"/>
                            <element name="X103_SENDCORRNM53A"/>
                            <element name="X103_SENDCORRSW53A"/>
                            <element name="X103_TAG_50A"/>
                            <element name="X103_TAG_52A"/>
                            <element name="X103_TAG_53A"/>
                            <element name="X103_TAG_56A"/>
                            <element name="X103_TAG_57A"/>
                            <element name="X103_TAG_59A"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202MEDIBKADD1_56A"/>
                            <element name="X202MEDIBKADD2_56A"/>
                            <element name="X202MEDIBKADD3_56A"/>
                            <element name="X202_52_BTN"/>
                            <element name="X202_56_BTN"/>
                            <element name="X202_57_BTN"/>
                            <element name="X202_58_BTN"/>
                            <element name="X202_ACCBKADD1_57A"/>
                            <element name="X202_ACCBKADD2_57A"/>
                            <element name="X202_ACCBKADD3_57A"/>
                            <element name="X202_ACC_BKACNO57A"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ACC_BKSW_57A"/>
                            <element name="X202_BENEBKACNO58A"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_BENE_BKSW_58A"/>
                            <element name="X202_MEDIBKACNO56A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_MEDI_BKSW_56A"/>
                            <element name="X202_ORDBKACNO_52A"/>
                            <element name="X202_ORDBKADD1_52A"/>
                            <element name="X202_ORDBKADD2_52A"/>
                            <element name="X202_ORDBKADD3_52A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_ORDBK_SW_52A"/>
                            <element name="X202_TAG_52A"/>
                            <element name="X202_TAG_56A"/>
                            <element name="X202_TAG_57A"/>
                            <element name="X202_TAG_58A"/>
                            <element name="button1"/>
                            <element name="button2"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
