EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EPRM_AutoEPR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_COLL_BK"/>
                            <element name="ACC_FACI_ID"/>
                            <element name="ACC_FS_FUND"/>
                            <element name="ACC_INC_FEE_RM"/>
                            <element name="ACC_INC_INT_RM"/>
                            <element name="ACC_SUPLR_FUND__DESC__"/>
                            <element name="ACC_SUPLR_FUND"/>
                            <element name="AI_MIN_AMT"/>
                            <element name="AI_SP_ID__DESC__"/>
                            <element name="AI_SP_ID"/>
                            <element name="AMT_AVAL_FOR_FUND"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="CUST_COMMENTS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="EPPS_TTL_EPR_BAL"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="EPP_SUPLR_ID"/>
                            <element name="EPP_TTL_EPR_BAL"/>
                            <element name="EPRFees">
                                <complexType>
                                    <sequence>
                                        <element name="ACC_CHG"/>
                                        <element name="BASE_CD"/>
                                        <element name="BUYR_ID"/>
                                        <element name="BUYR_NM"/>
                                        <element name="CCY"/>
                                        <element name="CHG_FREQ_CD"/>
                                        <element name="CHG_STAT"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="DEBIT_ID"/>
                                        <element name="DEBIT_TP"/>
                                        <element name="DUE_ON"/>
                                        <element name="EPP_ID"/>
                                        <element name="EPP_NM"/>
                                        <element name="FEE_AMT"/>
                                        <element name="FEE_ID"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FEE_TP_AMT"/>
                                        <element name="FEE_UNIT__DESC__"/>
                                        <element name="FEE_UNIT"/>
                                        <element name="MAX_AMT"/>
                                        <element name="MIN_AMT"/>
                                        <element name="PAID_ON"/>
                                        <element name="PMT_REF"/>
                                        <element name="SUPLR_ID"/>
                                        <element name="SUPLR_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="EPRInvoiceList">
                                <complexType>
                                    <sequence>
                                        <element name="AI_ACT_AMT"/>
                                        <element name="AI_APRVD_DT"/>
                                        <element name="AI_DT"/>
                                        <element name="AI_DUE_DT"/>
                                        <element name="AI_EP_DT"/>
                                        <element name="AI_ID"/>
                                        <element name="AI_NUM"/>
                                        <element name="AI_ORG_AMT"/>
                                        <element name="AI_PASS_FCD_FLG"/>
                                        <element name="AI_SET_DT"/>
                                        <element name="AI_STAT_STAFF_CD"/>
                                        <element name="AI_STAT_SUPLR_CD"/>
                                        <element name="ALL_IN_RATE"/>
                                        <element name="BUYR_ADD1"/>
                                        <element name="BUYR_ADD2"/>
                                        <element name="BUYR_ADD3"/>
                                        <element name="CCY"/>
                                        <element name="CNTRY_ORGN"/>
                                        <element name="CONSGN_ADD1"/>
                                        <element name="CONSGN_ADD2"/>
                                        <element name="CONSGN_NM"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="DAYS_TO_SETT_DATE"/>
                                        <element name="EPR_ID"/>
                                        <element name="FA_TEMP3"/>
                                        <element name="FA_TEMP4"/>
                                        <element name="FRGHT_FWD_ADD1"/>
                                        <element name="FRGHT_FWD_ADD2"/>
                                        <element name="FRGHT_FWD_NM"/>
                                        <element name="GOODS_DESC"/>
                                        <element name="INSRNC_CPNY_ADD1"/>
                                        <element name="INSRNC_CPNY_ADD2"/>
                                        <element name="INSRNC_CPNY_NM"/>
                                        <element name="INT_AMT"/>
                                        <element name="IS_FUNDED"/>
                                        <element name="I_BASE_DAY"/>
                                        <element name="LAST_WOLF_CHK_DT"/>
                                        <element name="OVD_INT_RATE"/>
                                        <element name="PLC_DSTN"/>
                                        <element name="PLC_LOADNG"/>
                                        <element name="PMT_REF"/>
                                        <element name="SHPPG_AGT_ADD1"/>
                                        <element name="SHPPG_AGT_ADD2"/>
                                        <element name="SHPPG_AGT_NM"/>
                                        <element name="SHPPG_CPNY_ADD1"/>
                                        <element name="SHPPG_CPNY_ADD2"/>
                                        <element name="SHPPG_CPNY_NM"/>
                                        <element name="SUPLR_ACC_NO"/>
                                        <element name="SUPLR_ADD1"/>
                                        <element name="SUPLR_ADD2"/>
                                        <element name="SUPLR_BK_ADD1"/>
                                        <element name="SUPLR_BK_ADD2"/>
                                        <element name="SUPLR_BK_NMW"/>
                                        <element name="TEMP_INT9"/>
                                        <element name="TEMP_MAIN_REF"/>
                                        <element name="TODAY_NET_VALUE"/>
                                        <element name="TRNSSHIPMNT_PLC"/>
                                        <element name="VSSL_NM"/>
                                        <element name="VSSL_PRE_NM"/>
                                        <element name="WDAYS_TO_SETT_DT"/>
                                        <element name="WOLF_CHK_RESN_CD"/>
                                        <element name="WOLF_CHK_RESP_CD"/>
                                        <element name="WOLF_DTL"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="EPR_AVL_AMT"/>
                            <element name="EPR_CHG_AMT"/>
                            <element name="EPR_DT"/>
                            <element name="EPR_MAX_AMT"/>
                            <element name="EPR_MIN_AMT"/>
                            <element name="EPR_ORG_AMT"/>
                            <element name="EPR_REQ_DT"/>
                            <element name="EPR_STAT__DESC__"/>
                            <element name="EPR_STAT"/>
                            <element name="EPR_STAT_SUPLR__DESC__"/>
                            <element name="EPR_STAT_SUPLR"/>
                            <element name="EPR_TYPE__DESC__"/>
                            <element name="EPR_TYPE"/>
                            <element name="EXCP_FLAG__DESC__"/>
                            <element name="EXCP_FLAG"/>
                            <element name="EXCP_REASON"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FEE_AMT1"/>
                            <element name="FEE_AMT2"/>
                            <element name="FEE_AMT8"/>
                            <element name="FEE_CHG_AMT"/>
                            <element name="GRAC_OVRDUE_INT_DAY"/>
                            <element name="GROSS_OR_NET"/>
                            <element name="HLM_FLAG"/>
                            <element name="INT_BASE_RT_CD__DESC__"/>
                            <element name="INT_BASE_RT_CD"/>
                            <element name="INT_CHG_AMT"/>
                            <element name="I_BASE_DAY"/>
                            <element name="LMT_CSL_DESC"/>
                            <element name="LMT_EXCP_DTL"/>
                            <element name="LMT_FACI_TY"/>
                            <element name="LMT_RETN_CD__DESC__"/>
                            <element name="LMT_RETN_CD"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="MARGIN_VAL"/>
                            <element name="MAT_CUT_OFF_DAYS"/>
                            <element name="MAX_AMT"/>
                            <element name="MAX_INVC_TENOR"/>
                            <element name="MIN_AMT"/>
                            <element name="NET_PAID_AMT"/>
                            <element name="NO_OF_AI"/>
                            <element name="OV_LMT_EPR"/>
                            <element name="PP_ID"/>
                            <element name="PTS_REF_NO"/>
                            <element name="ROE"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="SUPLR_SUB_LMT"/>
                            <element name="SUPLR_SUB_LMT_BAL"/>
                            <element name="TEMP_CHAR5"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
