EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_FactorMaintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="B_BUYER1"/>
                <element name="B_BUYER2"/>
                <element name="B_BUYER3"/>
                <element name="B_BUYER4"/>
                <element name="B_BUYER5"/>
                <element name="CHK_FA_FACTOR_ID"/>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_ADD_1"/>
                <element name="FA_ADD_2"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_CITY_NM"/>
                <element name="FA_CNTY_CODE"/>
                <element name="FA_CNTY_NM"/>
                <element name="FA_CONTACT_EMAIL"/>
                <element name="FA_CONTACT_EMAIL2"/>
                <element name="FA_CONTACT_NM"/>
                <element name="FA_CONTACT_NM2"/>
                <element name="FA_CONTACT_TEL"/>
                <element name="FA_CONTACT_TEL2"/>
                <element name="FA_DEPT_DIV"/>
                <element name="FA_EDIFACT_FLAG__DESC__"/>
                <element name="FA_EDIFACT_FLAG"/>
                <element name="FA_FACTOR_BIC"/>
                <element name="FA_FACTOR_ID"/>
                <element name="FA_FACTOR_NM"/>
                <element name="FA_FACT_TYPE__DESC__"/>
                <element name="FA_FACT_TYPE"/>
                <element name="FA_FAX_NO"/>
                <element name="FA_FAX_NO2"/>
                <element name="FA_FCI_NO"/>
                <element name="FA_IFG_FLAG__DESC__"/>
                <element name="FA_IFG_FLAG"/>
                <element name="FA_IF_CCY1"/>
                <element name="FA_IF_CCY2"/>
                <element name="FA_IF_CCY3"/>
                <element name="FA_IF_CCY4"/>
                <element name="FA_IF_CCY5"/>
                <element name="FA_IF_CNTY1"/>
                <element name="FA_IF_CNTY2"/>
                <element name="FA_IF_CNTY3"/>
                <element name="FA_IF_CNTY4"/>
                <element name="FA_IF_CNTY5"/>
                <element name="FA_IF_COMM_ACNO1"/>
                <element name="FA_IF_COMM_ACNO2"/>
                <element name="FA_IF_COMM_ACNO3"/>
                <element name="FA_IF_COMM_ACNO4"/>
                <element name="FA_IF_COMM_ACNO5"/>
                <element name="FA_IF_COMM_BK1"/>
                <element name="FA_IF_COMM_BK2"/>
                <element name="FA_IF_COMM_BK3"/>
                <element name="FA_IF_COMM_BK4"/>
                <element name="FA_IF_COMM_BK5"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IS_BANK__DESC__"/>
                <element name="FA_IS_BANK"/>
                <element name="FA_IS_FCI__DESC__"/>
                <element name="FA_IS_FCI"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_POST_CODE"/>
                <element name="FA_TEL_NO"/>
                <element name="FA_TEMP_BK_ADD1"/>
                <element name="FA_TEMP_BK_ADD2"/>
                <element name="FA_TEMP_BK_ADD3"/>
                <element name="FA_TEMP_BK_ADD4"/>
                <element name="FA_TEMP_BK_ADD5"/>
                <element name="FA_TEMP_BK_CITY1"/>
                <element name="FA_TEMP_BK_CITY2"/>
                <element name="FA_TEMP_BK_CITY3"/>
                <element name="FA_TEMP_BK_CITY4"/>
                <element name="FA_TEMP_BK_CITY5"/>
                <element name="FA_TEMP_BK_ID1"/>
                <element name="FA_TEMP_BK_ID2"/>
                <element name="FA_TEMP_BK_ID3"/>
                <element name="FA_TEMP_BK_ID4"/>
                <element name="FA_TEMP_BK_ID5"/>
                <element name="FA_TEMP_BK_NM1"/>
                <element name="FA_TEMP_BK_NM2"/>
                <element name="FA_TEMP_BK_NM3"/>
                <element name="FA_TEMP_BK_NM4"/>
                <element name="FA_TEMP_BK_NM5"/>
                <element name="FA_TEMP_CNTY_CODE1"/>
                <element name="FA_TEMP_CNTY_CODE2"/>
                <element name="FA_TEMP_CNTY_CODE3"/>
                <element name="FA_TEMP_CNTY_CODE4"/>
                <element name="FA_TEMP_CNTY_CODE5"/>
                <element name="FA_TRANS_INFO"/>
                <element name="FA_WEBSITE"/>
                <element name="IC_AGR_NO"/>
                <element name="IC_ANNUAL_MIN_AMT"/>
                <element name="IC_FREE_TXT"/>
                <element name="IC_LMT_AMT"/>
                <element name="IC_LMT_BAL"/>
                <element name="IC_LMT_CCY"/>
                <element name="IC_LMT_DUE_DT"/>
                <element name="IC_LMT_RT"/>
                <element name="IC_LMT_VAL_DT"/>
                <element name="QR_CD_FLD"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
