EE_PARA/EE_PARA/Default/FORM/form_schema_Swift_Edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_CONVERTED_FLAG"/>
<element name="C_MAIN_REF"/>
<element name="C_MODULE"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="I_EXTEND_NO"/>
<element name="I_ORDER"/>
<element name="Swift_Type"/>
<element name="TRX_EDIT_TYPE"/>
</sequence>
</complexType>
</element>
</schema>
