EE_PARA/EE_PARA/Default/FORM/form_schema_IWGT_Receive_MT767.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMD_DT"/>
                <element name="AMD_DTL_TEMP"/>
                <element name="AMD_NON_STD_WORDNG"/>
                <element name="AMD_REF"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ADD_ORDERNO"/>
                <element name="APPL_BR_CD"/>
                <element name="APPL_CORR_MED1__DESC__"/>
                <element name="APPL_CORR_MED1"/>
                <element name="APPL_CUST_BK"/>
                <element name="APPL_EMAIL_1"/>
                <element name="APPL_FAX_NO_1"/>
                <element name="APPL_ID"/>
                <element name="APPL_MAIL_ADD"/>
                <element name="APPL_MAIL_ADD_ORDERNO"/>
                <element name="APPL_NM"/>
                <element name="APPL_NOTES"/>
                <element name="APPL_REF"/>
                <element name="APPL_SW_ADD"/>
                <element name="APPL_SW_TAG"/>
                <element name="APPL_TLX"/>
                <element name="AUTO_RENEW__DESC__"/>
                <element name="AUTO_RENEW"/>
                <element name="AdviceForBankCust"/>
                <element name="BENE_ACNO"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ADD_ORDERNO"/>
                <element name="BENE_BR_CD"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_CUST_BK"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_LANG__DESC__"/>
                <element name="BENE_LANG"/>
                <element name="BENE_MAIL_ADD"/>
                <element name="BENE_MAIL_ADD_ORDERNO"/>
                <element name="BENE_NM"/>
                <element name="BENE_NOTES"/>
                <element name="BENE_REF"/>
                <element name="BENE_SW_ADD"/>
                <element name="BENE_SW_TAG"/>
                <element name="BENE_TLX"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FOREIGN_CUST_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_CUST_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CNTY_CODE"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm"/>
                <element name="DEC_AMT"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DOCS_PRESENTED_BY__DESC__"/>
                <element name="DOCS_PRESENTED_BY"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FUNCTION_ACTION"/>
                <element name="FURTHER_IDENTITY"/>
                <element name="FXD_EXPIRY__DESC__"/>
                <element name="FXD_EXPIRY"/>
                <element name="GRP_ID"/>
                <element name="GTEE_AMT"/>
                <element name="GTEE_BAL"/>
                <element name="GTEE_CCY"/>
                <element name="GTEE_DETAILS_79"/>
                <element name="GTEE_LCY_AMT"/>
                <element name="GTEE_REF_NUM"/>
                <element name="GTEE_TYPE__DESC__"/>
                <element name="GTEE_TYPE"/>
                <element name="INC_AMT"/>
                <element name="INDEMN_ADD1"/>
                <element name="INDEMN_ADD2"/>
                <element name="INDEMN_ADD3"/>
                <element name="INDEMN_BANK_ADD_ORDERNO"/>
                <element name="INDEMN_BANK_MAIL_ADD_ORDERNO"/>
                <element name="INDEMN_CORR_MED__DESC__"/>
                <element name="INDEMN_CORR_MED"/>
                <element name="INDEMN_EMAIL"/>
                <element name="INDEMN_FAX"/>
                <element name="INDEMN_ID"/>
                <element name="INDEMN_MAIL_ADD"/>
                <element name="INDEMN_NM"/>
                <element name="INDEMN_NOTES"/>
                <element name="INDEMN_SW_ADD"/>
                <element name="INDEMN_SW_TAG"/>
                <element name="INDEMN_TLX"/>
                <element name="INWARD_RCV_DT"/>
                <element name="ISSUE_AMD_BY__DESC__"/>
                <element name="ISSUE_AMD_BY"/>
                <element name="LOGIN_BIC"/>
                <element name="MSG_TYPE"/>
                <element name="MTHD_OF_ISS__DESC__"/>
                <element name="MTHD_OF_ISS"/>
                <element name="NEW_EXPIRY_PLC"/>
                <element name="NEW_EXPIRY_RVW_DT"/>
                <element name="NON_STD_WORDNG"/>
                <element name="NOTES"/>
                <element name="NO_OF_AMD"/>
                <element name="NXT_STATUS"/>
                <element name="RATE_BASE"/>
                <element name="RCV_FM_BK_ADD1"/>
                <element name="RCV_FM_BK_ADD2"/>
                <element name="RCV_FM_BK_ADD3"/>
                <element name="RCV_FM_BK_ADD_ORDERNO"/>
                <element name="RCV_FM_BK_CORR_MED__DESC__"/>
                <element name="RCV_FM_BK_CORR_MED"/>
                <element name="RCV_FM_BK_EMAIL"/>
                <element name="RCV_FM_BK_ID"/>
                <element name="RCV_FM_BK_MAIL1"/>
                <element name="RCV_FM_BK_MAIL_ADD_ORDERNO"/>
                <element name="RCV_FM_BK_NM"/>
                <element name="RCV_FM_BK_NOTES"/>
                <element name="RCV_FM_BK_SW_ADD"/>
                <element name="RCV_FM_BK_SW_TAG"/>
                <element name="RCV_FM_BK_TLX"/>
                <element name="RCV_FM_BK_TO_FAX"/>
                <element name="REAL_RT"/>
                <element name="REG_DT"/>
                <element name="SEND_TO__DESC__"/>
                <element name="SEND_TO"/>
                <element name="SEND_TO_ADD1"/>
                <element name="SEND_TO_ADD2"/>
                <element name="SEND_TO_ADD3"/>
                <element name="SEND_TO_ADD_ORDERNO"/>
                <element name="SEND_TO_CORR_MED__DESC__"/>
                <element name="SEND_TO_CORR_MED"/>
                <element name="SEND_TO_EMAIL"/>
                <element name="SEND_TO_FAX"/>
                <element name="SEND_TO_ID"/>
                <element name="SEND_TO_MAIL_ADD"/>
                <element name="SEND_TO_MAIL_ADD_ORDERNO"/>
                <element name="SEND_TO_NM"/>
                <element name="SEND_TO_NOTES"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="SEND_TO_REF"/>
                <element name="SEND_TO_SW_ADD"/>
                <element name="SEND_TO_SW_TAG"/>
                <element name="SEND_TO_TLX"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TRX_CCY"/>
                <element name="WEB_REF"/>
                <element name="X760_BKTOBK_INFO72"/>
                <element name="imgDrawDown_AMD_DT"/>
                <element name="imgDrawDown_NEW_EXPIRY_RVW_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
