EE_PARA/EE_PARA/Default/FORM/form_schema_FinanceExtentionApprove.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AMEND_APPROVE_STATUS"/>
<element name="CFNC_C_AMEND_TYPE"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_EXTEN_AC_TYPE"/>
<element name="CFNC_C_EXTEN_INT_MTHD"/>
<element name="CFNC_C_OVERDUE_FLAG"/>
<element name="CFNC_C_REFUSE_REASON"/>
<element name="CFNC_D_CREATE_DATE"/>
<element name="CFNC_D_EXTEN_DUE_DT"/>
<element name="CFNC_D_EXTEN_OVERDUE_DT"/>
<element name="CFNC_D_EXTEN_VALUE_DT"/>
<element name="CFNC_I_AMEND_TIMES"/>
<element name="CFNC_I_EXTEN_BASE_DAYS"/>
<element name="CFNC_I_EXTEN_DAYS"/>
<element name="CFNC_N_EXTEN_AMT"/>
<element name="CFNC_N_EXTEN_LIBOR_RT"/>
<element name="CFNC_N_EXTEN_MARGIN_RT"/>
<element name="CFNC_N_EXTEN_RT"/>
<element name="CFNC_N_PRE_INT"/>
</sequence>
</complexType>
</element>
</schema>
