EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_IFPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BA_UNIT_CODE"/>
                <element name="CLERK_ID"/>
                <element name="COMMON_PRDT_CODE"/>
                <element name="CPYT_C_SEND_103"/>
                <element name="CPYT_C_SEND_202"/>
                <element name="C_BU_ID"/>
                <element name="C_FUNC_NAME"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_MSG_TEXT02"/>
                <element name="FA_PMT_AMT_SUM"/>
                <element name="FA_PMT_CCY"/>
                <element name="FA_PMT_DT"/>
                <element name="FA_PMT_REF"/>
                <element name="FA_PMT_TYPE__DESC__"/>
                <element name="FA_PMT_TYPE"/>
                <element name="FA_PMT_VAL_DT"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_STL_INSTR__DESC__"/>
                <element name="FA_STL_INSTR"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TTL_AMT_CLEARED"/>
                <element name="FA_TTL_AMT_DEDUCT"/>
                <element name="GL_BUSI_TYPE"/>
                <element name="GTS_BR_NM"/>
                <element name="GTS_DISTRICT_CODE"/>
                <element name="GTS_PRVN_ID"/>
                <element name="LM_RSV_LINK"/>
                <element name="LimitsDo">
                    <complexType>
                        <sequence>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_DEBT_LMT"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_ERATE"/>
                            <element name="LM_EVENT_TYPE"/>
                            <element name="LM_ID"/>
                            <element name="LM_NM"/>
                            <element name="LM_PARENT_ID"/>
                            <element name="LM_PARENT_NM"/>
                            <element name="LM_REALLO"/>
                            <element name="LM_REVOLVING"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_TYPE"/>
                            <element name="LM_TYPE_DESC"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="MultiCreditSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiCredit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_ANNGN_VAT_NO"/>
                                        <element name="C_MLDC_ASSGN_AC"/>
                                        <element name="C_MLDC_ASSGN_ADD1"/>
                                        <element name="C_MLDC_ASSGN_ADD2"/>
                                        <element name="C_MLDC_ASSGN_ADD3"/>
                                        <element name="C_MLDC_ASSGN_COR_MED"/>
                                        <element name="C_MLDC_ASSGN_EMAIL_ADD"/>
                                        <element name="C_MLDC_ASSGN_FAX_NO"/>
                                        <element name="C_MLDC_ASSGN_ID"/>
                                        <element name="C_MLDC_ASSGN_NM"/>
                                        <element name="C_MLDC_CR_AC"/>
                                        <element name="C_MLDC_CR_AC_TYPE"/>
                                        <element name="C_MLDC_CR_BK_AC"/>
                                        <element name="C_MLDC_CR_BK_ADD1"/>
                                        <element name="C_MLDC_CR_BK_ADD2"/>
                                        <element name="C_MLDC_CR_BK_ADD3"/>
                                        <element name="C_MLDC_CR_BK_COR_MED"/>
                                        <element name="C_MLDC_CR_BK_ID"/>
                                        <element name="C_MLDC_CR_BK_NAME"/>
                                        <element name="C_MLDC_CR_BK_SW_ADD"/>
                                        <element name="C_MLDC_CR_BK_SW_TAG"/>
                                        <element name="C_MLDC_CR_BRANCH"/>
                                        <element name="C_MLDC_CR_CCY"/>
                                        <element name="C_MLDC_CR_DEAL"/>
                                        <element name="F_MLDC_CR_RATE"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="D_MLDC_CR_VAL_DATE"/>
                                        <element name="N_MLDC_CR_AMT_CRCCY"/>
                                        <element name="N_MLDC_CR_AMT_TXCCY"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_ADV_MSG"/>
                                        <element name="C_MLDC_PAY_COV_MSG"/>
                                        <element name="C_MLDC_SETTLE_METHOD"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_CR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="N_MLDC_CR_CHG_LCCCY"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="MultiDebitSummary">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_PROTECT_FLAG"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="I_MLDC_MERGE_TYPE"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="N_MLDC_AMT"/>
                            <element name="MultiDebit">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="I_MLDC_IDX"/>
                                        <element name="C_MLDC_DR_AC"/>
                                        <element name="C_MLDC_DR_AC_TYPE"/>
                                        <element name="C_MLDC_DR_ADD1"/>
                                        <element name="C_MLDC_DR_ADD2"/>
                                        <element name="C_MLDC_DR_ADD3"/>
                                        <element name="C_MLDC_DR_BK_AC"/>
                                        <element name="C_MLDC_DR_BK_ADD1"/>
                                        <element name="C_MLDC_DR_BK_ADD2"/>
                                        <element name="C_MLDC_DR_BK_ADD3"/>
                                        <element name="C_MLDC_DR_BK_COR_MED"/>
                                        <element name="C_MLDC_DR_BK_ID"/>
                                        <element name="C_MLDC_DR_BK_NAME"/>
                                        <element name="C_MLDC_DR_BK_SW_ADD"/>
                                        <element name="C_MLDC_DR_BK_SW_TAG"/>
                                        <element name="C_MLDC_DR_BRANCH"/>
                                        <element name="C_MLDC_DR_CCY"/>
                                        <element name="C_MLDC_DR_CHG_FLAG"/>
                                        <element name="C_MLDC_DR_COR_MED"/>
                                        <element name="C_MLDC_DR_DEAL"/>
                                        <element name="C_MLDC_DR_EMAIL_ADD"/>
                                        <element name="C_MLDC_DR_FAX_NO"/>
                                        <element name="C_MLDC_DR_ID"/>
                                        <element name="C_MLDC_DR_NAME"/>
                                        <element name="C_MLDC_DR_VAT_NO"/>
                                        <element name="D_MLDC_DR_VAL_DATE"/>
                                        <element name="N_MLDC_DR_AMT_DRCCY"/>
                                        <element name="N_MLDC_DR_AMT_TXCCY"/>
                                        <element name="N_MLDC_DR_CHG_LCCCY"/>
                                        <element name="F_MLDC_DR_BUY_RATE"/>
                                        <element name="F_MLDC_DR_RATE"/>
                                        <element name="N_MLDC_EXCH_FAVAMT"/>
                                        <element name="C_MLDC_NOSTRO_AC"/>
                                        <element name="C_MLDC_NOSTRO_AC_CCY"/>
                                        <element name="C_MLDC_PAY_DR_BY"/>
                                        <element name="C_MLDC_UNPAID_FLAG"/>
                                        <element name="C_MLDC_VOSTRO_AC"/>
                                        <element name="C_MLDC_VOSTRO_AC_CCY"/>
                                        <element name="I_MLDC_SEQ"/>
                                        <element name="C_MLDC_DR_PER"/>
                                        <element name="C_MLDC_FROM"/>
                                        <element name="C_MLDC_CCY"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="PRODUCT_CODE"/>
                <element name="PaymentReg">
                    <complexType>
                        <sequence>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BK_CHG_AMT"/>
                            <element name="FA_CRN_BAL"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DEDUCT_AMT"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DSP_STATUS__DESC__"/>
                            <element name="FA_DSP_STATUS"/>
                            <element name="FA_FINAL_PMT_FLG__DESC__"/>
                            <element name="FA_FINAL_PMT_FLG"/>
                            <element name="FA_INV_CLEAR_AMT"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_LAST_PINT_DT"/>
                            <element name="FA_PMT_AMT"/>
                            <element name="FA_PMT_CLEAR_TYPE__DESC__"/>
                            <element name="FA_PMT_CLEAR_TYPE"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_PMT_VAL_DT"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TEMP_CRN_BA"/>
                            <element name="FA_TEMP_INV_BA"/>
                            <element name="FA_TRF_DT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="RPT_TRX_REF_NO1"/>
                <element name="TEMP_DUE_DT"/>
                <element name="TEMP_X103BENECUADD1_59A"/>
                <element name="TEMP_X103BENECUADD2_59A"/>
                <element name="TEMP_X103BENECUADD3_59A"/>
                <element name="TEMP_X103_ACNO_51"/>
                <element name="TEMP_X103_BENECUACNO59A"/>
                <element name="TEMP_X103_BENECU_NM_59A"/>
                <element name="TRX_DT"/>
                <element name="X103BENECUADD1_59A"/>
                <element name="X103BENECUADD1_59A_BTN"/>
                <element name="X103BENECUADD2_59A"/>
                <element name="X103BENECUADD3_59A"/>
                <element name="X103MEDIBKADD1_56A"/>
                <element name="X103MEDIBKADD2_56A"/>
                <element name="X103MEDIBKADD3_56A"/>
                <element name="X103RECCORRACNO54A"/>
                <element name="X103SENDBKADD1_51A"/>
                <element name="X103SENDBKADD2_51A"/>
                <element name="X103SENDBKADD3_51A"/>
                <element name="X103SENDCORACNO53A"/>
                <element name="X103SENDCORADD153A"/>
                <element name="X103SENDCORADD253A"/>
                <element name="X103SENDCORADD353A"/>
                <element name="X103_50_BTN"/>
                <element name="X103_50_NOTES"/>
                <element name="X103_50_ORDER_NO"/>
                <element name="X103_51_BTN"/>
                <element name="X103_51_NOTES"/>
                <element name="X103_51_ORDER_NO"/>
                <element name="X103_52A_BTN"/>
                <element name="X103_52_NOTES"/>
                <element name="X103_52_ORDER_NO"/>
                <element name="X103_53A_BTN"/>
                <element name="X103_53_NOTES"/>
                <element name="X103_53_ORDER_NO"/>
                <element name="X103_54A_BTN"/>
                <element name="X103_54_NOTES"/>
                <element name="X103_54_ORDER_NO"/>
                <element name="X103_56A_BTN"/>
                <element name="X103_56_NOTES"/>
                <element name="X103_56_ORDER_NO"/>
                <element name="X103_57A_BTN"/>
                <element name="X103_57_NOTES"/>
                <element name="X103_57_ORDER_NO"/>
                <element name="X103_59_BTN"/>
                <element name="X103_59_NOTES"/>
                <element name="X103_59_ORDER_NO"/>
                <element name="X103_ACCBKADD1_57A"/>
                <element name="X103_ACCBKADD2_57A"/>
                <element name="X103_ACCBKADD3_57A"/>
                <element name="X103_ACC_BKACNO57A"/>
                <element name="X103_ACC_BKID_57A"/>
                <element name="X103_ACC_BKNM_57A"/>
                <element name="X103_ACC_BKSW_57A"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_BTN"/>
                <element name="X103_B2_NOTES"/>
                <element name="X103_B2_ORDER_NO"/>
                <element name="X103_BENECUACNO59A"/>
                <element name="X103_BENECU_BKSW_59"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_BENECU_OP__DESC__"/>
                <element name="X103_BENECU_OP"/>
                <element name="X103_BKOP_CODE_23B"/>
                <element name="X103_BKTOBK_INFO72"/>
                <element name="X103_DET_CHG_71A"/>
                <element name="X103_ENV_CONT_77T"/>
                <element name="X103_EXCH_RT_36"/>
                <element name="X103_INSTRCODE_23E"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_MEDIBKACNO56A"/>
                <element name="X103_MEDI_BKID_56A"/>
                <element name="X103_MEDI_BKNM_56A"/>
                <element name="X103_MEDI_BKSW_56A"/>
                <element name="X103_ORDBKACNO_52A"/>
                <element name="X103_ORDBKADD1_52A"/>
                <element name="X103_ORDBKADD2_52A"/>
                <element name="X103_ORDBKADD3_52A"/>
                <element name="X103_ORDCUACNO_50A"/>
                <element name="X103_ORDCUADD1_50A"/>
                <element name="X103_ORDCUADD2_50A"/>
                <element name="X103_ORDCUADD3_50A"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_ID_OP__DESC__"/>
                <element name="X103_ORDCU_ID_OP"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORDCU_SW_50A"/>
                <element name="X103_ORD_BKID_52A"/>
                <element name="X103_ORD_BKNM_52A"/>
                <element name="X103_ORD_BKSW_52A"/>
                <element name="X103_RECCHGAMT_71G"/>
                <element name="X103_RECCHGCCY_71G"/>
                <element name="X103_RECCORADD154A"/>
                <element name="X103_RECCORADD254A"/>
                <element name="X103_RECCORADD354A"/>
                <element name="X103_RECCORRID_54A"/>
                <element name="X103_RECCORRNM_54A"/>
                <element name="X103_RECCORRSW_54A"/>
                <element name="X103_REG_REP_77B"/>
                <element name="X103_REMIT_INFO_70"/>
                <element name="X103_SENDBKACNO51A"/>
                <element name="X103_SENDCHGAMT71F"/>
                <element name="X103_SENDCHGCCY71F"/>
                <element name="X103_SENDCORRID53A"/>
                <element name="X103_SENDCORRNM53A"/>
                <element name="X103_SENDCORRSW53A"/>
                <element name="X103_SEND_BKID_51A"/>
                <element name="X103_SEND_BKNM_51A"/>
                <element name="X103_SEND_BKSW_51A"/>
                <element name="X103_SEND_NO_20"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X103_TAG_50A"/>
                <element name="X103_TAG_51A"/>
                <element name="X103_TAG_52A"/>
                <element name="X103_TAG_53A"/>
                <element name="X103_TAG_54A"/>
                <element name="X103_TAG_56A"/>
                <element name="X103_TAG_57A"/>
                <element name="X103_TAG_59A"/>
                <element name="X103_TAG_B2"/>
                <element name="X103_TIME_INDI_13C"/>
                <element name="X103_TRX_TYPCD_26T"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202_52_ADD_BTN"/>
                <element name="X202_52_BTN"/>
                <element name="X202_52_NOTES"/>
                <element name="X202_52_ORDER_NO"/>
                <element name="X202_53_ADD_BTN"/>
                <element name="X202_53_BTN"/>
                <element name="X202_53_NOTES"/>
                <element name="X202_53_ORDER_NO"/>
                <element name="X202_54_ADD_BTN"/>
                <element name="X202_54_BTN"/>
                <element name="X202_54_NOTES"/>
                <element name="X202_54_ORDER_NO"/>
                <element name="X202_56_ADD_BTN"/>
                <element name="X202_56_BTN"/>
                <element name="X202_56_NOTES"/>
                <element name="X202_56_ORDER_NO"/>
                <element name="X202_57_ADD_BTN"/>
                <element name="X202_57_BTN"/>
                <element name="X202_57_NOTES"/>
                <element name="X202_57_ORDER_NO"/>
                <element name="X202_58_ADD_BTN"/>
                <element name="X202_58_BTN"/>
                <element name="X202_58_NOTES"/>
                <element name="X202_58_ORDER_NO"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_B2_ADD_BTN"/>
                <element name="X202_B2_BTN"/>
                <element name="X202_B2_NOTES"/>
                <element name="X202_B2_ORDER_NO"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BKTOBK_INFO72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TAG_B2"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
