EE_PARA/EE_PARA/Default/FORM/form_schema_Std_SLAFuncFlow_Condition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_GATEWAY_TYPE"/>
                <element name="C_MAX_FUNC_NO"/>
                <element name="C_STATE"/>
                <element name="C_TO_FUNCGRP_ID"/>
                <element name="C_TO_FUNC_DESC"/>
                <element name="C_TO_FUNC_ID"/>
                <element name="C_TO_STEP_NAME"/>
                <element name="C_TYPE"/>
                <element name="I_FUNC_SEQ_NO"/>
                <element name="I_STEP_SEQ_NO"/>
                <element name="I_TO_FUNC_NO"/>
                <element name="I_TO_FUNC_SEQ_NO_M"/>
                <element name="I_TO_STEP_NO"/>
                <element name="I_TO_STEP_SEQ_NO_M"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
