EE_PARA/EE_PARA/Default/FORM/form_schema_TRDP_EditRegulatory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADDRESS"/>
                <element name="AGR_DUE_DT"/>
                <element name="AGR_NO"/>
                <element name="AGR_SIGNED__DESC__"/>
                <element name="AGR_SIGNED"/>
                <element name="AGR_VAL_DT"/>
                <element name="B_HEAD_OFC_OD"/>
                <element name="CONTACT_EMAIL"/>
                <element name="CONTACT_NM"/>
                <element name="CONTACT_TEL"/>
                <element name="COPR_AREA"/>
                <element name="COPR_AREA_FROM"/>
                <element name="COPR_AREA_TO"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_MAIN_REF"/>
                <element name="C_UNIT_CODE"/>
                <element name="FAX_NO"/>
                <element name="GOODS_TP"/>
                <element name="GOODS_TP_FROM"/>
                <element name="GOODS_TP_TO"/>
                <element name="HB_FLAG__DESC__"/>
                <element name="HB_FLAG"/>
                <element name="HEAD_OFC_NM"/>
                <element name="HEAD_OFC_OD"/>
                <element name="NAME"/>
                <element name="NOTES"/>
                <element name="POST_BOX"/>
                <element name="WEBSITE"/>
                <element name="add"/>
                <element name="remove"/>
            </sequence>
        </complexType>
    </element>
</schema>
