EE_PARA/EE_PARA/Default/FORM/form_schema_UserBatchManageInit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="BATCH_JOB_ID"/>
<element name="BATCH_JOB_NAME"/>
<element name="C_COUNTRY_CODE"/>
<element name="C_MAIN_REF"/>
<element name="TASK_CONFIRM"/>
<element name="TASK_STATE"/>
<element name="USER_BATCH_CONSLE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
