EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_DI_InqMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCT103_DUP"/>
                            <element name="ADV_TXT"/>
                            <element name="AMOUNT"/>
                            <element name="APPL_CNTY_RES"/>
                            <element name="BENE_CNTY_RES"/>
                            <element name="BU"/>
                            <element name="BUSI_UNIT"/>
                            <element name="CCY"/>
                            <element name="CHEQ_NO"/>
                            <element name="CPYT_CR_BK_AC"/>
                            <element name="CPYT_FUNC_NAME"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_ID"/>
                            <element name="CUST_REF"/>
                            <element name="C_MAIN_REF"/>
                            <element name="CallBackReq"/>
                            <element name="ClauseButton"/>
                            <element name="DAYS_BACK"/>
                            <element name="DB_AMT"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DRT_DEAL_IND"/>
                            <element name="DUPLICATE_TRN"/>
                            <element name="FDS_TO_CHK"/>
                            <element name="LOOK_UP_BTN1"/>
                            <element name="MD_I"/>
                            <element name="MLT_STLMT"/>
                            <element name="NOTES"/>
                            <element name="NUM_ACCTS"/>
                            <element name="NXT_STATUS"/>
                            <element name="ORD_CUS_DRT_DEAL_IND"/>
                            <element name="OVRIDE"/>
                            <element name="Ord_Cust_lookup"/>
                            <element name="PAY_AMT"/>
                            <element name="PRIORITY"/>
                            <element name="RATE_NAME"/>
                            <element name="RATE_TYPE"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="RPLCD_CHEQ_NO"/>
                            <element name="ResetButton"/>
                            <element name="TRX_HISTORY"/>
                            <element name="X103BENECUADD1_59A"/>
                            <element name="X103BENECUADD2_59A"/>
                            <element name="X103BENECUADD3_59A"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_EXCH_RT_36"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUADD1_50A"/>
                            <element name="X103_ORDCUADD2_50A"/>
                            <element name="X103_ORDCUADD3_50A"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_ID_50A_B"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_SETT_AMT_32A"/>
                            <element name="X103_SETT_CCY_32A"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="X202_CCY_32A"/>
                            <element name="XN99_NARRATIVE_79"/>
                            <element name="lookup1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
