EE_PARA/EE_PARA/Default/FORM/form_multi_schema_GTS_CentralCommissionmodule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CHG_AMT_BA"/>
<element name="CHG_AMT_HO"/>
<element name="CHG_BY"/>
<element name="CHG_CCY"/>
<element name="CHG_CNY_CCY"/>
<element name="CHG_DESC"/>
<element name="CHG_FAV_RMB"/>
<element name="CHG_PROD_CODE"/>
<element name="CHINESE_DESC"/>
<element name="COMM_BGL_AC_NO"/>
<element name="COMM_DCLR_NO1"/>
<element name="COMM_DCLR_NO2"/>
<element name="COMM_FIELD"/>
<element name="COMM_TRX_NO"/>
<element name="COUNT_CODE"/>
<element name="END_DT"/>
<element name="LEDG_CODE"/>
<element name="RCV_EQ_AMT"/>
<element name="START_DT_COMM"/>
<element name="TEMP_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
