EE_PARA/EE_PARA/Default/FORM/form_schema_SYND_RegSyndByPartp_iwgt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADV_BK_ADD1"/>
                <element name="ADV_BK_ADD2"/>
                <element name="ADV_BK_ADD3"/>
                <element name="ADV_BK_ID"/>
                <element name="ADV_BK_NM"/>
                <element name="ADV_BK_SW_ADD"/>
                <element name="ADV_BK_SW_TAG"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APPL_CNTY_RES"/>
                <element name="APPL_ID"/>
                <element name="APPL_NM"/>
                <element name="BENE_CNTY_CD"/>
                <element name="BENE_ID"/>
                <element name="BENE_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="DEC_AMT"/>
                <element name="DEST_PLACE"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXPIRY_DT"/>
                <element name="GOODS_DESC"/>
                <element name="GTEE_AMT"/>
                <element name="GTEE_CCY"/>
                <element name="INC_AMT"/>
                <element name="INWARD_RCV_DT"/>
                <element name="LIAB_TRXCCY_AMT"/>
                <element name="LOAD_PLACE"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MATURITY_DT"/>
                <element name="NEG_TOL"/>
                <element name="NOTES"/>
                <element name="POS_TOL"/>
                <element name="PRODUCT_CD"/>
                <element name="ParticipantHeader">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_STATUS"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FUND_FLAG__DESC__"/>
                            <element name="FUND_FLAG"/>
                            <element name="GRACE_DAYS"/>
                            <element name="RECRS_PRTY_CNTY_CD"/>
                            <element name="RECRS_PRTY_NM"/>
                            <element name="RECRS_PRTY_REF"/>
                            <element name="RECRS_PRTY_SW_ADD"/>
                            <element name="RECRS_PRTY_SW_TAG"/>
                            <element name="SYND_AMT"/>
                            <element name="SYND_BAL"/>
                            <element name="SYND_CCY"/>
                            <element name="SYND_EXPIRY_DT"/>
                            <element name="SYND_PART_NO"/>
                            <element name="SYND_RISK_TYPE__DESC__"/>
                            <element name="SYND_RISK_TYPE"/>
                            <element name="TTL_FUNDED_AMT"/>
                            <element name="TTL_PART_AMT"/>
                            <element name="TTL_PART_BAL"/>
                            <element name="ParticipantDetail">
                                <complexType>
                                    <sequence>
                                        <element name="SYND_PART_ID"/>
                                        <element name="SYND_PART_NM"/>
                                        <element name="SYND_PART_REF"/>
                                        <element name="PART_PER"/>
                                        <element name="SYND_PART_AMT"/>
                                        <element name="FUND_AMT"/>
                                        <element name="SYND_PART_CCY"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="SYND_PART_ADD1"/>
                                        <element name="SYND_PART_ADD2"/>
                                        <element name="SYND_PART_ADD3"/>
                                        <element name="SYND_PART_SW_TAG"/>
                                        <element name="SYND_PART_SW_ADD"/>
                                        <element name="SYND_PART_CNTY_CD"/>
                                        <element name="SYND_PART_DISCLS__DESC__"/>
                                        <element name="SYND_PART_DISCLS"/>
                                        <element name="SYND_PART_START_DT"/>
                                        <element name="SYND_AC_NO"/>
                                        <element name="SYND_AC_WT_BK_ADD1"/>
                                        <element name="SYND_AC_WT_BK_ADD2"/>
                                        <element name="SYND_AC_WT_BK_ADD3"/>
                                        <element name="SYND_AC_WT_BK_ID"/>
                                        <element name="SYND_AC_WT_BK_NM"/>
                                        <element name="SYND_AC_WT_BK_SWAD"/>
                                        <element name="SYND_ACWT_BK_SWTAG"/>
                                        <element name="SYND_PART_LIABACNO"/>
                                        <element name="SYND_PART_TYPE__DESC__"/>
                                        <element name="SYND_PART_TYPE"/>
                                        <element name="SYND_PART_BAL"/>
                                        <element name="INC_AMT"/>
                                        <element name="DEC_AMT"/>
                                        <element name="SYND_TLUNPDCHG_AMT"/>
                                        <element name="SYND_TLUNPDCHG_BAL"/>
                                        <element name="SYND_TLUNPDCHG_CCY"/>
                                        <element name="SYND_CHG_NARR"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="SYND_PART_NAMT"/>
                                        <element name="PART_EMAIL_ADD"/>
                                        <element name="PART_FAX_NO"/>
                                        <element name="PART_MAIL_ADD"/>
                                        <element name="PART_TLX_NO"/>
                                        <element name="SYND_PART_FAMT"/>
                                        <element name="PART_CHG_RATE"/>
                                        <element name="PART_CR_ACNO"/>
                                        <element name="PART_CR_CCY"/>
                                        <element name="PART_CR_VLDT"/>
                                        <element name="PART_DR_ACNO"/>
                                        <element name="PART_DR_CCY"/>
                                        <element name="PART_DR_VLDT"/>
                                        <element name="C_TRX_STATUS"/>
                                        <element name="SYND_CHG_PD_AMT"/>
                                        <element name="PART_DR_AMT"/>
                                        <element name="PART_CR_AMT"/>
                                        <element name="SYND_CHG_BAL_AMT"/>
                                        <element name="SYND_CHG_PAID_AT"/>
                                        <element name="SYND_CHG_PAY_AMT"/>
                                        <element name="LEAD_NOTES"/>
                                        <element name="SYND_PART_NOTES"/>
                                        <element name="SYND_AC_WT_NOTES"/>
                                        <element name="SYND_PART_PAY_AMT"/>
                                        <element name="COMM_SCHE__DESC__"/>
                                        <element name="COMM_SCHE"/>
                                        <element name="CHG_POLICY__DESC__"/>
                                        <element name="CHG_POLICY"/>
                                        <element name="COMM_DT"/>
                                        <element name="COMM_START_DT"/>
                                        <element name="COMM_END_DT"/>
                                        <element name="NXT_COMM_DT"/>
                                        <element name="COMM_PRE"/>
                                        <element name="COMM_TYPE__DESC__"/>
                                        <element name="COMM_TYPE"/>
                                        <element name="FUND_FLAG__DESC__"/>
                                        <element name="FUND_FLAG"/>
                                        <element name="AMD_REG_DT"/>
                                        <element name="SYND_NO_OF_PERIODS"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="RCV_FM_BK_ADD1"/>
                <element name="RCV_FM_BK_ADD2"/>
                <element name="RCV_FM_BK_ADD3"/>
                <element name="RCV_FM_BK_ID"/>
                <element name="RCV_FM_BK_NM"/>
                <element name="RCV_FM_BK_SW_ADD"/>
                <element name="RCV_FM_BK_SW_TAG"/>
                <element name="SOURCE_REF"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="TEMP_CORR_ATTCH"/>
                <element name="TEMP_CORR_CRSPD"/>
                <element name="TEMP_CORR_INSTR"/>
                <element name="TEMP_CUST_ATTCH"/>
                <element name="TEMP_CUST_CRSPD"/>
                <element name="TEMP_CUST_INSTR"/>
                <element name="TEMP_DOC_DT"/>
                <element name="TEMP_USER_EMAIL"/>
                <element name="TEMP_USER_FAX"/>
                <element name="TEMP_USER_NM"/>
                <element name="TEMP_USER_TEL_NO"/>
                <element name="TENOR_DAYS"/>
                <element name="TRX_TYPE"/>
                <element name="button1"/>
                <element name="button2"/>
                <element name="button3"/>
                <element name="button4"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
