EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_BATemplate_Add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ARCH_RULE"/>
                            <element name="BAL_CAL_RULE"/>
                            <element name="BAL_CHK_RULE"/>
                            <element name="CCY_CODE"/>
                            <element name="CD_LEN_1"/>
                            <element name="CD_LEN_2"/>
                            <element name="CD_LEN_3"/>
                            <element name="CD_LEN_4"/>
                            <element name="CD_LEN_5"/>
                            <element name="CD_NUM"/>
                            <element name="CREATED_BY"/>
                            <element name="CREATED_DT"/>
                            <element name="DC_FLAG"/>
                            <element name="FILES"/>
                            <element name="LEDG_CODE_1"/>
                            <element name="LEDG_CODE_2"/>
                            <element name="LEDG_CODE_3"/>
                            <element name="LEDG_CODE_4"/>
                            <element name="LEDG_CODE_5"/>
                            <element name="OP_TYPE"/>
                            <element name="RECO_RULE"/>
                            <element name="TEMP_DESC"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_NAME"/>
                            <element name="TRIG_FLAG"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
