EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_invDunning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_DUNNING_FLG__DESC__"/>
                            <element name="FA_DUNNING_FLG"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TRF_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
