EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CnptCustCreditLimit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CNPT_AC_CD"/>
<element name="CNPT_ID"/>
<element name="CNPT_SHORT_NM"/>
<element name="CNPT_SWADD"/>
<element name="CNPT_TP"/>
<element name="CUST_ID"/>
<element name="C_MAIN_REF"/>
<element name="DO_INDEX_NO"/>
<element name="SERIAL_NO"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
