EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_Combined_Detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BT_CUST"/>
                <element name="BT_FACI"/>
                <element name="BT_GRUP"/>
                <element name="BT_RCUST"/>
                <element name="BT_SUB"/>
                <element name="ComRa"/>
                <element name="DO_TYPE"/>
                <element name="LM_BASE_CCY"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_CSL_ID"/>
                <element name="LM_CUR_APL"/>
                <element name="LM_CUR_APV"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_CUST_NAME"/>
                <element name="LM_FACI_ID"/>
                <element name="LM_FACI_TP"/>
                <element name="LM_FIRST_ID"/>
                <element name="LM_GRUP_DES"/>
                <element name="LM_GRUP_ID"/>
                <element name="LM_ITEM_DESC"/>
                <element name="LM_ITEM_DESCT"/>
                <element name="LM_ITEM_TYPE"/>
                <element name="LM_ITEM_TYPET"/>
                <element name="LM_OUTC_APL"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RCUST_ID"/>
                <element name="LM_RISK_TEMP"/>
                <element name="LM_RISK_TP"/>
                <element name="LM_SECOND_ID"/>
                <element name="LM_SHARE_AMT"/>
                <element name="LM_SHARE_TYPE"/>
                <element name="LM_SIN_APL"/>
                <element name="LM_SIN_APV"/>
                <element name="LM_SIN_LMT"/>
                <element name="LM_SOUT_APL"/>
                <element name="LM_SOUT_APV"/>
                <element name="LM_SOUT_LMT"/>
                <element name="LM_THIS_LMT"/>
                <element name="L_SAVE"/>
                <element name="isClose"/>
                <element name="isItemType"/>
                <element name="isType"/>
                <element name="recordStatu"/>
            </sequence>
        </complexType>
    </element>
</schema>
