EE_PARA/EE_PARA/Default/FORM/form_schema_BA_Inquire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AR_CCY_CODE0"/>
                <element name="AR_LEDG_CODE_1"/>
                <element name="AR_LEDG_CODE_2"/>
                <element name="AR_LEDG_CODE_3"/>
                <element name="AR_LEDG_CODE_4"/>
                <element name="CCY_CODE"/>
                <element name="LEDG_CODE_1"/>
                <element name="LEDG_CODE_2"/>
                <element name="LEDG_CODE_3"/>
                <element name="LEDG_CODE_4"/>
                <element name="LEDG_CODE_5"/>
                <element name="OP_CCY_CODE"/>
                <element name="OP_LEDG_CODE_1"/>
                <element name="OP_LEDG_CODE_2"/>
                <element name="OP_LEDG_CODE_3"/>
                <element name="OP_LEDG_CODE_4"/>
                <element name="OP_LEDG_CODE_5"/>
                <element name="VALUE_CCY_CODE"/>
                <element name="VALUE_LEDG_CODE_1"/>
                <element name="VALUE_LEDG_CODE_2"/>
                <element name="VALUE_LEDG_CODE_3"/>
                <element name="VALUE_LEDG_CODE_4"/>
                <element name="VALUE_LEDG_CODE_5"/>
                <element name="_TRX_STATUS"/>
                <element name="selectAll"/>
            </sequence>
        </complexType>
    </element>
</schema>
