EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_DFSUBFinancingReturnLib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_CHG_BC_AMT"/>
<element name="FA_CRN_AMT_SUM"/>
<element name="FA_CRN_BAL"/>
<element name="FA_DOC_AMT"/>
<element name="FA_DOC_BAL"/>
<element name="FA_DOC_CCY"/>
<element name="FA_DOC_DT"/>
<element name="FA_DOC_NO"/>
<element name="FA_DOC_REF"/>
<element name="FA_DOC_STATUS"/>
<element name="FA_DSP_AMT"/>
<element name="FA_FIN_RETURN_RSN__DESC__"/>
<element name="FA_FIN_RETURN_RSN"/>
<element name="FA_INV_LOAN_AMT"/>
<element name="FA_INV_LOAN_BAL"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_LAST_PMT_DT"/>
<element name="FA_LOAN_INT_AMT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_VAL_DT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_SUM_PERCENT"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP_AMT10"/>
<element name="FA_TEMP_DT1"/>
<element name="IA_I_BASE_DAYS"/>
<element name="TEMP_DATE1"/>
<element name="TEMP_LAST_PINT_DT"/>
</sequence>
</complexType>
</element>
</schema>
