EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_EFInEDI06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="BA_UNIT_CODE"/>
                            <element name="CLERK_ID"/>
                            <element name="C_BU_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_BA_LINK"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_CITY"/>
                            <element name="FA_BUYER_CNTY"/>
                            <element name="FA_BUYER_COMP_REG"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_BUYER_NM2"/>
                            <element name="FA_BUYER_POSTBOX"/>
                            <element name="FA_BUYER_POSTCODE"/>
                            <element name="FA_BUYER_PROV"/>
                            <element name="FA_BUYER_RESP_AGNT"/>
                            <element name="FA_CCA_REF"/>
                            <element name="FA_CCR_REF"/>
                            <element name="FA_CNTR_DOC_NO"/>
                            <element name="FA_CREDIT_REQ__DESC__"/>
                            <element name="FA_CREDIT_REQ"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_EF_COMM_RT"/>
                            <element name="FA_EF_HAN_CHG_AMT"/>
                            <element name="FA_EF_HAN_CHG_CCY"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_GOODS_NM"/>
                            <element name="FA_HAN_CHG_CCY"/>
                            <element name="FA_IF_COMM_RT"/>
                            <element name="FA_IF_HAN_CHG_AMT"/>
                            <element name="FA_IF_HAN_CHG_CCY"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_LMT_EXCH_RT"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INV_CCY1"/>
                            <element name="FA_INV_CCY2"/>
                            <element name="FA_INV_CCY3"/>
                            <element name="FA_INV_CCY4"/>
                            <element name="FA_INV_CCY5"/>
                            <element name="FA_IS_BANK__DESC__"/>
                            <element name="FA_IS_BANK"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_EUR"/>
                            <element name="FA_LMT_LONG_DAYS"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_MSG_DT"/>
                            <element name="FA_MSG_FUNC__DESC__"/>
                            <element name="FA_MSG_FUNC"/>
                            <element name="FA_OTH_CHG_CCY"/>
                            <element name="FA_OWN_RISK_AMT"/>
                            <element name="FA_OWN_RISK_PERC"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_PMT_TERMS_FLG__DESC__"/>
                            <element name="FA_PMT_TERMS_FLG"/>
                            <element name="FA_REASON__DESC__"/>
                            <element name="FA_REASON"/>
                            <element name="FA_REPLY_CR_REF"/>
                            <element name="FA_REPL_CODE__DESC__"/>
                            <element name="FA_REPL_CODE"/>
                            <element name="FA_REPL_DT"/>
                            <element name="FA_REQ_DT"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP7"/>
                            <element name="FA_TTL_COMM_RT"/>
                            <element name="FA_TTL_HAN_CHG"/>
                            <element name="FA_TTL_OTH_CHG"/>
                            <element name="OWNER_BR_NM"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="TEMP_AMT20"/>
                            <element name="TEMP_AMT30"/>
                            <element name="TEMP_AMT40"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_CHAR2"/>
                            <element name="TEMP_DATE1"/>
                            <element name="TEMP_DATE2"/>
                            <element name="TEMP_DATE4"/>
                            <element name="THEIR_REF_NO"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TRX_DT2"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
