EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_PACS008_MX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CPYT_PAY_COV_MSG"/>
                <element name="CR_CALC_AMT"/>
                <element name="CR_CCY"/>
                <element name="C_MAIN_REF"/>
                <element name="DB_CALC_AMT"/>
                <element name="DB_CCY"/>
                <element name="MX_CDTR"/>
                <element name="MX_CDTRACCT"/>
                <element name="MX_CDTRACCT_PACS009"/>
                <element name="MX_CDTRAGT"/>
                <element name="MX_CDTRAGTACCT"/>
                <element name="MX_CDTRAGTACCT_PACS009"/>
                <element name="MX_CDTRAGT_PACS009"/>
                <element name="MX_CDTR_PACS009"/>
                <element name="MX_CHRGBR"/>
                <element name="MX_DBTR"/>
                <element name="MX_DBTRACCT"/>
                <element name="MX_DBTRACCT_PACS009"/>
                <element name="MX_DBTRAGT"/>
                <element name="MX_DBTRAGTACCT"/>
                <element name="MX_DBTR_PACS009"/>
                <element name="MX_INITGPTY"/>
                <element name="MX_INSTDAGT"/>
                <element name="MX_INSTDAGT_PACS009"/>
                <element name="MX_INSTDRMBRSMNTAGT"/>
                <element name="MX_INSTDRMBRSMNTAGTACCT"/>
                <element name="MX_INSTDRMBRSMNTAGTACCT_PACS009"/>
                <element name="MX_INSTDRMBRSMNTAGT_PACS009"/>
                <element name="MX_INSTGRMBRSMNTAGT"/>
                <element name="MX_INSTGRMBRSMNTAGTACCT"/>
                <element name="MX_INSTGRMBRSMNTAGTACCT_PACS009"/>
                <element name="MX_INSTGRMBRSMNTAGT_PACS009"/>
                <element name="MX_INTRMYAGT1"/>
                <element name="MX_INTRMYAGT1ACCT"/>
                <element name="MX_INTRMYAGT1ACCT_PACS009"/>
                <element name="MX_INTRMYAGT1_PACS009"/>
                <element name="SETTLE_METHOD_PACS009"/>
                <element name="SETT_TYPE"/>
                <element name="UETR_GPI_121"/>
                <element name="X103_50_BTN"/>
                <element name="X103_51_BTN"/>
                <element name="X103_52A_BTN"/>
                <element name="X103_53A_BTN"/>
                <element name="X103_54A_BTN"/>
                <element name="X103_56A_BTN"/>
                <element name="X103_57A_BTN"/>
                <element name="X103_59_BTN"/>
                <element name="X103_ACC_BKID_57A"/>
                <element name="X103_ACC_BKNM_57A"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_BTN"/>
                <element name="X103_BENECU_ID_59A"/>
                <element name="X103_BENECU_NM_59A"/>
                <element name="X103_BENECU_OP__DESC__"/>
                <element name="X103_BENECU_OP"/>
                <element name="X103_MEDI_BKID_56A"/>
                <element name="X103_MEDI_BKNM_56A"/>
                <element name="X103_ORDCU_ID_50A"/>
                <element name="X103_ORDCU_NM_50A"/>
                <element name="X103_ORD_BKID_52A"/>
                <element name="X103_ORD_BKNM_52A"/>
                <element name="X103_RECCORRID_54A"/>
                <element name="X103_RECCORRNM_54A"/>
                <element name="X103_SENDCORRID53A"/>
                <element name="X103_SENDCORRNM53A"/>
                <element name="X103_SEND_BKID_51A"/>
                <element name="X103_SEND_BKNM_51A"/>
                <element name="X103_VALUE_DT_32A"/>
                <element name="X202_52_BTN"/>
                <element name="X202_53_BTN"/>
                <element name="X202_54_BTN"/>
                <element name="X202_56_BTN"/>
                <element name="X202_57_BTN"/>
                <element name="X202_58_BTN"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_B2_BTN"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
            </sequence>
        </complexType>
    </element>
</schema>
