EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_ExpFacRemi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_FEE_COLL_TYPE__DESC__"/>
                            <element name="FA_FEE_COLL_TYPE"/>
                            <element name="FA_IF_COMM"/>
                            <element name="FA_IF_FEE_PAID_FLG"/>
                            <element name="FA_IF_HAN_CHG"/>
                            <element name="FA_IF_OTH_CHG"/>
                            <element name="FA_IF_OTH_CHG_CCY"/>
                            <element name="select"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
