EE_PARA/EE_PARA/Default/FORM/form_schema_200.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ASSET_ACNO"/>
                <element name="CANCEL_FLG"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MAIN_REF_20Z"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="LC_AMT"/>
                <element name="LC_CCY"/>
                <element name="LIAB_ACNO"/>
                <element name="LOGIN_BIC"/>
                <element name="MERGE_FLAG_200__DESC__"/>
                <element name="MERGE_FLAG_200"/>
                <element name="MSG_TYPE"/>
                <element name="MX_OR_MT_FLAG__DESC__"/>
                <element name="MX_OR_MT_FLAG"/>
                <element name="NXT_STATUS"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="SEND_TO_RCV_INFO"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TRX_CCY"/>
                <element name="VALUE_DT"/>
                <element name="WEB_REF"/>
                <element name="X103_56_ORDER_NO"/>
                <element name="X103_57_ORDER_NO"/>
                <element name="X103_ADV_BKADD1_B2"/>
                <element name="X103_ADV_BKADD2_B2"/>
                <element name="X103_ADV_BKADD3_B2"/>
                <element name="X103_ADV_BKID_B2"/>
                <element name="X103_ADV_BKNM_B2"/>
                <element name="X103_ADV_BKSW_B2"/>
                <element name="X103_B2_BTN"/>
                <element name="X103_ID_56_BTN"/>
                <element name="X103_ID_57_BTN"/>
                <element name="X200MEDIBKADD1_56A"/>
                <element name="X200MEDIBKADD2_56A"/>
                <element name="X200MEDIBKADD3_56A"/>
                <element name="X200SENDCORACNO53A"/>
                <element name="X200SENDCORADD153A"/>
                <element name="X200_57B_LOCATION__DESC__"/>
                <element name="X200_57B_LOCATION"/>
                <element name="X200_ACCBKADD1_57A"/>
                <element name="X200_ACCBKADD2_57A"/>
                <element name="X200_ACCBKADD3_57A"/>
                <element name="X200_ACC_BKACNO57A"/>
                <element name="X200_ACC_BKID_57A"/>
                <element name="X200_ACC_BKNM_57A"/>
                <element name="X200_ACC_BKSW_57A"/>
                <element name="X200_MEDIBKACNO56A"/>
                <element name="X200_MEDI_BKID_56A"/>
                <element name="X200_MEDI_BKNM_56A"/>
                <element name="X200_MEDI_BKSW_56A"/>
                <element name="X200_TAG_56A"/>
                <element name="X200_TAG_57A"/>
                <element name="button1"/>
                <element name="button2"/>
            </sequence>
        </complexType>
    </element>
</schema>
