EE_PARA/EE_PARA/Default/FORM/form_schema_CLBK_EnqCallbackLimit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMOUNT"/>
                <element name="CCY"/>
                <element name="C_MAIN_REF"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="C_PRODUCT_DESC"/>
                <element name="NOTES"/>
                <element name="TRX_DATE"/>
            </sequence>
        </complexType>
    </element>
</schema>
