EE_PARA/EE_PARA/Default/FORM/form_multi_schema_GTEE_AdviceofResponseofAmendment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACPT_REJ__DESC__"/>
                            <element name="ACPT_REJ"/>
                            <element name="ADD_AMT_INFO_LOCAL"/>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_ADD_BTN"/>
                            <element name="ADV_BK_CORR_MED__DESC__"/>
                            <element name="ADV_BK_CORR_MED"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_ID_BTN"/>
                            <element name="ADV_BK_MAIL_ADD"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_NOTES"/>
                            <element name="ADV_BK_ORDER_NO"/>
                            <element name="ADV_BK_ORDER_POST"/>
                            <element name="ADV_BK_POST_ADD_BTN"/>
                            <element name="ADV_BK_REF"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="ADV_BK_TLX"/>
                            <element name="ADV_THRU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_REF"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="ADV_THU_BK_TLX"/>
                            <element name="AMD_DT"/>
                            <element name="AMD_DTL_TEMP"/>
                            <element name="AMD_GTEE_TERMS_COND_LOCAL"/>
                            <element name="AMD_NON_STD_WORDNG"/>
                            <element name="AMD_REF"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_LOCAL__DESC__"/>
                            <element name="APLB_RULE_LOCAL"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="APLB_RULE_NARR_LOCAL"/>
                            <element name="APPLBANK"/>
                            <element name="APPL_AC_MRGN_BTN"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD1_BTN"/>
                            <element name="APPL_ADD1_LOCAL"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD2_LOCAL"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD3_LOCAL"/>
                            <element name="APPL_BANK_ADD_ORDERNO"/>
                            <element name="APPL_BANK_MAIL_ADD_ORDERNO"/>
                            <element name="APPL_BR_CD"/>
                            <element name="APPL_CORR_MED1__DESC__"/>
                            <element name="APPL_CORR_MED1"/>
                            <element name="APPL_CUST_ADD_ORDERNO"/>
                            <element name="APPL_CUST_BK"/>
                            <element name="APPL_CUST_MAIL_ADD_ORDERNO"/>
                            <element name="APPL_EMAIL_1"/>
                            <element name="APPL_FAX_NO_1"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_ID_BTN_LOCAL"/>
                            <element name="APPL_ID_LOCAL"/>
                            <element name="APPL_MAIL_ADD"/>
                            <element name="APPL_MAIL_ADD1_BTN"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NM_LOCAL"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_REF"/>
                            <element name="APPL_SW_ADD"/>
                            <element name="APPL_SW_TAG"/>
                            <element name="ASSET_ACNO"/>
                            <element name="ASSET_ACNO_BTN"/>
                            <element name="AUTO_EXTEN_EXPIRY_DT_LOCAL"/>
                            <element name="AUTO_EXTEN_NOTIF_LOCAL"/>
                            <element name="AUTO_EXTEN_NOTIF_PRD_LOCAL"/>
                            <element name="AUTO_EXTEN_PERIOD_LOCAL"/>
                            <element name="AUTO_RENEW__DESC__"/>
                            <element name="AUTO_RENEW"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BENEFICIARYBANK"/>
                            <element name="BENE_ACC_NO"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD1_BTN"/>
                            <element name="BENE_ADD1_LOCAL"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD2_LOCAL"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ADD3_LOCAL"/>
                            <element name="BENE_BANK_ADD_ORDERNO"/>
                            <element name="BENE_BANK_MAIL_ADD_ORDERNO"/>
                            <element name="BENE_CNTY_CD"/>
                            <element name="BENE_CNTY_NM"/>
                            <element name="BENE_CONST_REQ__DESC__"/>
                            <element name="BENE_CONST_REQ"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_CUST_ADD_ORDERNO"/>
                            <element name="BENE_CUST_BK"/>
                            <element name="BENE_CUST_MAIL_ADD_ORDERNO"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_ID_BTN_LOCAL"/>
                            <element name="BENE_ID_LOCAL"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_MAIL_ADD1_BTN"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NM_LOCAL"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_REF"/>
                            <element name="BENE_SW_ADD"/>
                            <element name="BENE_SW_TAG"/>
                            <element name="CHARGES_LOCAL"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_CORR_MED__DESC__"/>
                            <element name="CONF_BK_CORR_MED"/>
                            <element name="CONF_BK_ID"/>
                            <element name="CONF_BK_ID_BTN"/>
                            <element name="CONF_BK_MAIL_ADD"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_NOTES"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_BK_SW_TAG"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CONTR_GTEE_EXP"/>
                            <element name="CONTR_GTEE_REF"/>
                            <element name="COUNTR_GTEE__DESC__"/>
                            <element name="COUNTR_GTEE"/>
                            <element name="COUNTR_INDMNTY_HELD__DESC__"/>
                            <element name="COUNTR_INDMNTY_HELD"/>
                            <element name="COUNTR_INDMNTY_REQ__DESC__"/>
                            <element name="COUNTR_INDMNTY_REQ"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DEC_AMT"/>
                            <element name="DEC_AMT_LOCAL"/>
                            <element name="DELIVERY_TO__DESC__"/>
                            <element name="DELIVERY_TO"/>
                            <element name="DELIVERY_TO_AMD_CODE"/>
                            <element name="DELIVERY_TO_AMD_CODE_L"/>
                            <element name="DELIVERY_TO_CODE"/>
                            <element name="DELIVERY_TO_CODE_LOCAL"/>
                            <element name="DELIVERY_TO_NM_ADD"/>
                            <element name="DELIVERY_TO_NM_ADD_AMD"/>
                            <element name="DELIVERY_TO_NM_ADD_AMD_L"/>
                            <element name="DELIVERY_TO_NM_ADD_LOCAL"/>
                            <element name="DELIV_OF_AMD_UNDER_LOCAL"/>
                            <element name="DELIV_OF_AMD_UNDER_NAR_LOCAL"/>
                            <element name="DELIV_OF_ORIG_CODE_LOCAL"/>
                            <element name="DELIV_OF_ORIG_UNDER_LOCAL"/>
                            <element name="DEMAND_INDICATOR_LOCAL"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DOCS_PRESENTED_BY__DESC__"/>
                            <element name="DOCS_PRESENTED_BY"/>
                            <element name="DOC_PRES_INSTR_LOCAL"/>
                            <element name="EXPIRY_COND_LOCAL"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_DT_LOCAL"/>
                            <element name="EXPIRY_PLC__DESC__"/>
                            <element name="EXPIRY_PLC"/>
                            <element name="EXPIRY_TYPE_LOCAL"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FILE_23X_CODE"/>
                            <element name="FILE_23X_NARR"/>
                            <element name="FORM_OF_UNDERTAKING_LOCAL"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="FXD_EXPIRY__DESC__"/>
                            <element name="FXD_EXPIRY"/>
                            <element name="GOVERN_LAW_CNTY_CODE_LOCAL"/>
                            <element name="GTEE_AMT"/>
                            <element name="GTEE_AMT_LOCAL"/>
                            <element name="GTEE_BAL"/>
                            <element name="GTEE_BAL_LOCAL"/>
                            <element name="GTEE_CCY"/>
                            <element name="GTEE_CCY_LOCAL"/>
                            <element name="GTEE_DETAILS_79"/>
                            <element name="GTEE_LCY_AMT"/>
                            <element name="GTEE_NO"/>
                            <element name="GTEE_REF_NUM"/>
                            <element name="GTEE_RV_MSG_ID"/>
                            <element name="GTEE_TYPE__DESC__"/>
                            <element name="GTEE_TYPE"/>
                            <element name="IDEN_ID"/>
                            <element name="INC_AMT"/>
                            <element name="INC_AMT_LOCAL"/>
                            <element name="INDEMNBANK"/>
                            <element name="INDEMN_ADD1"/>
                            <element name="INDEMN_ADD1_BTN"/>
                            <element name="INDEMN_ADD1_LOCAL"/>
                            <element name="INDEMN_ADD2"/>
                            <element name="INDEMN_ADD2_LOCAL"/>
                            <element name="INDEMN_ADD3"/>
                            <element name="INDEMN_ADD3_LOCAL"/>
                            <element name="INDEMN_BANK_ADD_ORDERNO"/>
                            <element name="INDEMN_BANK_MAIL_ADD_ORDERNO"/>
                            <element name="INDEMN_CORR_MED__DESC__"/>
                            <element name="INDEMN_CORR_MED"/>
                            <element name="INDEMN_CUST_ADD_ORDERNO"/>
                            <element name="INDEMN_CUST_MAIL_ADD_ORDERNO"/>
                            <element name="INDEMN_EMAIL"/>
                            <element name="INDEMN_FAX"/>
                            <element name="INDEMN_ID"/>
                            <element name="INDEMN_ID_BTN"/>
                            <element name="INDEMN_ID_BTN_LOCAL"/>
                            <element name="INDEMN_ID_LOCAL"/>
                            <element name="INDEMN_MAIL_ADD"/>
                            <element name="INDEMN_MAIL_ADD1_BTN"/>
                            <element name="INDEMN_NM"/>
                            <element name="INDEMN_NM_LOCAL"/>
                            <element name="INDEMN_NOTES"/>
                            <element name="INDEMN_REF"/>
                            <element name="INDEMN_SW_ADD"/>
                            <element name="INDEMN_SW_TAG"/>
                            <element name="INWARD_RCV_DT"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD1_LOCAL"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD2_LOCAL"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD3_LOCAL"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_ID_BTN_LOCAL"/>
                            <element name="ISSUE_BK_ID_LOCAL"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NM_LOCAL"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_ADD_LOCAL"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_BK_SW_TAG_LOCAL"/>
                            <element name="ISSUE_BY__DESC__"/>
                            <element name="ISSUE_BY"/>
                            <element name="ISSUE_DT"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MSG_TYPE"/>
                            <element name="MTHD_OF_ISS__DESC__"/>
                            <element name="MTHD_OF_ISS"/>
                            <element name="NEW_BENE_ADD1"/>
                            <element name="NEW_BENE_ADD1_LOCAL"/>
                            <element name="NEW_BENE_ADD2"/>
                            <element name="NEW_BENE_ADD2_LOCAL"/>
                            <element name="NEW_BENE_ADD3"/>
                            <element name="NEW_BENE_ADD3_LOCAL"/>
                            <element name="NEW_BENE_ID"/>
                            <element name="NEW_BENE_ID_BTN"/>
                            <element name="NEW_BENE_ID_BTN_LOCAL"/>
                            <element name="NEW_BENE_ID_LOCAL"/>
                            <element name="NEW_BENE_NM"/>
                            <element name="NEW_BENE_NM_LOCAL"/>
                            <element name="NEW_BENE_SW_ADD"/>
                            <element name="NEW_BENE_SW_TAG"/>
                            <element name="NEW_EXPIRY_COND_LOCAL"/>
                            <element name="NEW_EXPIRY_DT_LOCAL"/>
                            <element name="NEW_EXPIRY_PLC"/>
                            <element name="NEW_EXPIRY_RVW_DT"/>
                            <element name="NEW_EXPIRY_TYPE_LOCAL__DESC__"/>
                            <element name="NEW_EXPIRY_TYPE_LOCAL"/>
                            <element name="NEW_GTEE_AMT"/>
                            <element name="NEW_GTEE_AMT_LOCAL"/>
                            <element name="NON_STD_WORDNG"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_AMD"/>
                            <element name="NXT_STATUS"/>
                            <element name="PURP_OF_MESS"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REG_DT"/>
                            <element name="REJ_REASON"/>
                            <element name="REQ_ISSUE_DT"/>
                            <element name="RT_TRXCCY_LCY"/>
                            <element name="SAME_AS_APPL_FLG"/>
                            <element name="SEND_TO__DESC__"/>
                            <element name="SEND_TO"/>
                            <element name="SEND_TO_ADD1"/>
                            <element name="SEND_TO_ADD1_BTN"/>
                            <element name="SEND_TO_ADD2"/>
                            <element name="SEND_TO_ADD3"/>
                            <element name="SEND_TO_ADD_ORDERNO"/>
                            <element name="SEND_TO_CNTY_CD"/>
                            <element name="SEND_TO_CNTY_NM"/>
                            <element name="SEND_TO_CORR_MED__DESC__"/>
                            <element name="SEND_TO_CORR_MED"/>
                            <element name="SEND_TO_EMAIL"/>
                            <element name="SEND_TO_FAX"/>
                            <element name="SEND_TO_ID"/>
                            <element name="SEND_TO_ID_BTN"/>
                            <element name="SEND_TO_MAIL_ADD"/>
                            <element name="SEND_TO_MAIL_ADD1_BTN"/>
                            <element name="SEND_TO_MAIL_ADD_ORDERNO"/>
                            <element name="SEND_TO_NM"/>
                            <element name="SEND_TO_NOTES"/>
                            <element name="SEND_TO_RCV_INFO_MT787"/>
                            <element name="SEND_TO_REF"/>
                            <element name="SEND_TO_SW_ADD"/>
                            <element name="SEND_TO_SW_TAG"/>
                            <element name="SND_TO_ID_BANK_BTN"/>
                            <element name="STAN_WORD_REQD"/>
                            <element name="STAN_WORD_REQD_LANG"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="TAG20ZREF"/>
                            <element name="TEMP_ACCCY"/>
                            <element name="TEMP_ACNO"/>
                            <element name="TEMP_ACPT_REJ"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_APLB_CODE_LOCAL"/>
                            <element name="TEMP_ASSET_ACNO"/>
                            <element name="TEMP_ASSET_ACNO_DESC"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_EXPIRY_DT"/>
                            <element name="TEMP_EXPIRY_PLC_NEW"/>
                            <element name="TEMP_FILE_23X_CODE"/>
                            <element name="TEMP_GOVERN_LAW_LOCAL"/>
                            <element name="TEMP_LC_AMT"/>
                            <element name="TEMP_LIAB_ACNO"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_NEW_GTEE_BAL"/>
                            <element name="TEMP_PART_AMT"/>
                            <element name="TRANS_INDICATOR_LOCAL"/>
                            <element name="TRX_CCY"/>
                            <element name="UNDERTAKING_TERMS_COND_LOCAL"/>
                            <element name="UNDERTAKING_TYPE_LOCAL"/>
                            <element name="UNDERTAKING_TYPE_NARR_LOCAL"/>
                            <element name="UNDER_TRANS_DETAILS_LOCAL"/>
                            <element name="WEB_REF"/>
                            <element name="X760_BKTOBK_INFO72"/>
                            <element name="X767_BKTOBK_INFO72"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_29B_BANK_CONT"/>
                            <element name="X798_29S_CUST_IDEN_CODE"/>
                            <element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
                            <element name="X798_29S_CUST_IDEN_PARTY"/>
                            <element name="X798_72C_B2C_INFO"/>
                            <element name="X798_ADD_BK_REF"/>
                            <element name="X798_ADD_CUST_REF"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_ADD"/>
                            <element name="X798_CUST_REF"/>
                            <element name="X798_LEAD_BK_ID"/>
                            <element name="X798_PROC_BK_ID"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
