EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EPLC_RecAmtDecisionFrCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACCEPT_REJECT__DESC__"/>
                            <element name="ACCEPT_REJECT"/>
                            <element name="ADDIT_COV_AMT"/>
                            <element name="ADV_LC_BY__DESC__"/>
                            <element name="ADV_LC_BY"/>
                            <element name="ADV_LC_DT"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_PARTY_ID"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="AMD_ADDIT_CONDITION"/>
                            <element name="AMD_DESC_OF_GOODS"/>
                            <element name="AMD_DOC_REQ"/>
                            <element name="AMD_DT"/>
                            <element name="AMD_REF"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="APPL_AC_MRGN_BTN"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD_BTN"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="ASSET_ACNO"/>
                            <element name="ASSET_ACNO_BTN"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_MAIL_ADD"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_OPT__DESC__"/>
                            <element name="AVAL_WT_BK_OPT"/>
                            <element name="AVAL_WT_BK_ORDER_NO"/>
                            <element name="AVAL_WT_BK_ORDER_POST"/>
                            <element name="AVAL_WT_BK_POST_ADD_BTN"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="BASE_BAL"/>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_CONS_FLG__DESC__"/>
                            <element name="BENE_CONS_FLG"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_REF_NO"/>
                            <element name="BENE_TLX"/>
                            <element name="CE_MAIN_REF"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_ADD_BTN"/>
                            <element name="CONF_BK_ID"/>
                            <element name="CONF_BK_ID_BTN"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_NOTES"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_BK_SW_TAG"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DEC_AMT"/>
                            <element name="DETRMNTL_FLG__DESC__"/>
                            <element name="DETRMNTL_FLG"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC__DESC__"/>
                            <element name="EXPIRY_PLC"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="INC_AMT"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_MAIL_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_ORDER_POST"/>
                            <element name="ISSUE_BK_POST_ADD_BTN"/>
                            <element name="ISSUE_BK_REF"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LCY"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_TEMP"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LOGIN_TIME"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEG_TOL"/>
                            <element name="NEW_ADDIT_COV_AMT"/>
                            <element name="NEW_ADV_THU_BK_ADD1"/>
                            <element name="NEW_ADV_THU_BK_ADD2"/>
                            <element name="NEW_ADV_THU_BK_ADD3"/>
                            <element name="NEW_ADV_THU_BK_ADD_BTN"/>
                            <element name="NEW_ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="NEW_ADV_THU_BK_CORR_MED"/>
                            <element name="NEW_ADV_THU_BK_ID"/>
                            <element name="NEW_ADV_THU_BK_ID_BTN"/>
                            <element name="NEW_ADV_THU_BK_MAIL_ADD"/>
                            <element name="NEW_ADV_THU_BK_NM"/>
                            <element name="NEW_ADV_THU_BK_NOTES"/>
                            <element name="NEW_ADV_THU_BK_PARTY_ID"/>
                            <element name="NEW_ADV_THU_BK_SW_ADD"/>
                            <element name="NEW_ADV_THU_BK_SW_TAG"/>
                            <element name="NEW_AMT_SPEC__DESC__"/>
                            <element name="NEW_AMT_SPEC"/>
                            <element name="NEW_APPL_ADD1"/>
                            <element name="NEW_APPL_ADD2"/>
                            <element name="NEW_APPL_ADD3"/>
                            <element name="NEW_APPL_ADD_BTN"/>
                            <element name="NEW_APPL_ID"/>
                            <element name="NEW_APPL_ID_BTN"/>
                            <element name="NEW_APPL_NM"/>
                            <element name="NEW_APPL_ORDER_NO"/>
                            <element name="NEW_BENE_ACNO"/>
                            <element name="NEW_BENE_AC_OFF_CODE"/>
                            <element name="NEW_BENE_ADD1"/>
                            <element name="NEW_BENE_ADD2"/>
                            <element name="NEW_BENE_ADD3"/>
                            <element name="NEW_BENE_ADD_BTN"/>
                            <element name="NEW_BENE_CORR_MED__DESC__"/>
                            <element name="NEW_BENE_CORR_MED"/>
                            <element name="NEW_BENE_EMAIL"/>
                            <element name="NEW_BENE_FAX"/>
                            <element name="NEW_BENE_ID"/>
                            <element name="NEW_BENE_ID_BTN"/>
                            <element name="NEW_BENE_LANG__DESC__"/>
                            <element name="NEW_BENE_LANG"/>
                            <element name="NEW_BENE_MAIL_ADD"/>
                            <element name="NEW_BENE_NM"/>
                            <element name="NEW_BENE_NOTES"/>
                            <element name="NEW_BENE_ORDER_NO"/>
                            <element name="NEW_BENE_ORDER_POST"/>
                            <element name="NEW_BENE_POST_ADD_BTN"/>
                            <element name="NEW_BENE_REF_NO"/>
                            <element name="NEW_BENE_TLX"/>
                            <element name="NEW_CONF_BK_ADD1"/>
                            <element name="NEW_CONF_BK_ADD2"/>
                            <element name="NEW_CONF_BK_ADD3"/>
                            <element name="NEW_CONF_BK_ADD_BTN"/>
                            <element name="NEW_CONF_BK_ID"/>
                            <element name="NEW_CONF_BK_ID_BTN"/>
                            <element name="NEW_CONF_BK_NM"/>
                            <element name="NEW_CONF_BK_NOTES"/>
                            <element name="NEW_CONF_BK_SW_ADD"/>
                            <element name="NEW_CONF_BK_SW_TAG"/>
                            <element name="NEW_CONF_INSTR__DESC__"/>
                            <element name="NEW_CONF_INSTR"/>
                            <element name="NEW_DEST_PLACE"/>
                            <element name="NEW_DEST_PORT"/>
                            <element name="NEW_EXPIRY_DT"/>
                            <element name="NEW_EXPIRY_PLC"/>
                            <element name="NEW_EXPIRY_PLC_NA"/>
                            <element name="NEW_INCOTERMS"/>
                            <element name="NEW_LC_AMT"/>
                            <element name="NEW_LC_BAL"/>
                            <element name="NEW_LOAD_PLACE"/>
                            <element name="NEW_LOAD_PORT"/>
                            <element name="NEW_LTST_SHIP_DT"/>
                            <element name="NEW_NEG_TOL"/>
                            <element name="NEW_PARTIAL_SHIP"/>
                            <element name="NEW_PARTIAL_SHIP_NARR"/>
                            <element name="NEW_POS_TOL"/>
                            <element name="NEW_REIM_BK_ADD1"/>
                            <element name="NEW_REIM_BK_ADD2"/>
                            <element name="NEW_REIM_BK_ADD3"/>
                            <element name="NEW_REIM_BK_ADD_BTN"/>
                            <element name="NEW_REIM_BK_ID"/>
                            <element name="NEW_REIM_BK_ID_BTN"/>
                            <element name="NEW_REIM_BK_MAIL_ADD"/>
                            <element name="NEW_REIM_BK_NM"/>
                            <element name="NEW_REIM_BK_NOTES"/>
                            <element name="NEW_REIM_BK_ORDER_NO"/>
                            <element name="NEW_REIM_BK_ORDER_POST"/>
                            <element name="NEW_REIM_BK_PARTY_ID__DESC__"/>
                            <element name="NEW_REIM_BK_PARTY_ID"/>
                            <element name="NEW_REIM_BK_POST_ADD_BTN"/>
                            <element name="NEW_REIM_BK_SW_ADD"/>
                            <element name="NEW_REIM_BK_SW_TAG"/>
                            <element name="NEW_SHIP_PRD"/>
                            <element name="NEW_TNSHIP"/>
                            <element name="NEW_TNSHIP_NARR"/>
                            <element name="NON_BANK_ISSUER_ADD1"/>
                            <element name="NON_BANK_ISSUER_ADD2"/>
                            <element name="NON_BANK_ISSUER_ADD3"/>
                            <element name="NON_BANK_ISSUER_ID"/>
                            <element name="NON_BANK_ISSUER_ID_BTN"/>
                            <element name="NON_BANK_ISSUER_NM"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_AMD"/>
                            <element name="NXT_STATUS"/>
                            <element name="OLD_BENE_ACNO"/>
                            <element name="OLD_BENE_AC_OFF_CODE"/>
                            <element name="OLD_BENE_ADD1"/>
                            <element name="OLD_BENE_ADD2"/>
                            <element name="OLD_BENE_ADD3"/>
                            <element name="OLD_BENE_CORR_MED__DESC__"/>
                            <element name="OLD_BENE_CORR_MED"/>
                            <element name="OLD_BENE_EMAIL"/>
                            <element name="OLD_BENE_FAX"/>
                            <element name="OLD_BENE_ID"/>
                            <element name="OLD_BENE_LANG__DESC__"/>
                            <element name="OLD_BENE_LANG"/>
                            <element name="OLD_BENE_MAIL_ADD"/>
                            <element name="OLD_BENE_NM"/>
                            <element name="OLD_BENE_NOTES"/>
                            <element name="OLD_BENE_REF_NO"/>
                            <element name="OLD_BENE_TLX"/>
                            <element name="OUR_ROLE__DESC__"/>
                            <element name="OUR_ROLE"/>
                            <element name="POS_TOL"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REASON_FOR_REJ"/>
                            <element name="REIM_BK_ADD1"/>
                            <element name="REIM_BK_ADD2"/>
                            <element name="REIM_BK_ADD3"/>
                            <element name="REIM_BK_ADD_BTN"/>
                            <element name="REIM_BK_ID"/>
                            <element name="REIM_BK_ID_BTN"/>
                            <element name="REIM_BK_MAIL_ADD"/>
                            <element name="REIM_BK_NM"/>
                            <element name="REIM_BK_NOTES"/>
                            <element name="REIM_BK_ORDER_NO"/>
                            <element name="REIM_BK_ORDER_POST"/>
                            <element name="REIM_BK_PARTY_ID"/>
                            <element name="REIM_BK_POST_ADD_BTN"/>
                            <element name="REIM_BK_SW_ADD"/>
                            <element name="REIM_BK_SW_TAG"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_ASSET_ACNO"/>
                            <element name="TEMP_ASSET_ACNO_DESC"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_DATE3"/>
                            <element name="TEMP_EXPIRY_DT"/>
                            <element name="TEMP_EXPIRY_PLC_NARR"/>
                            <element name="TEMP_LIAB_ACNO"/>
                            <element name="TEMP_TAG_39A"/>
                            <element name="TRM_TO_BK_ADD1"/>
                            <element name="TRM_TO_BK_ADD2"/>
                            <element name="TRM_TO_BK_ADD3"/>
                            <element name="TRM_TO_BK_ADD_BTN"/>
                            <element name="TRM_TO_BK_ID"/>
                            <element name="TRM_TO_BK_ID_BTN"/>
                            <element name="TRM_TO_BK_MAIL_ADD"/>
                            <element name="TRM_TO_BK_NM"/>
                            <element name="TRM_TO_BK_NOTES"/>
                            <element name="TRM_TO_BK_ORDER_NO"/>
                            <element name="TRM_TO_BK_ORDER_POST"/>
                            <element name="TRM_TO_BK_POST_ADD_BTN"/>
                            <element name="TRM_TO_BK_REF"/>
                            <element name="TRM_TO_BK_SW_ADD"/>
                            <element name="TRM_TO_BK_SW_TAG"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="WEB_REF"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
