EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Claim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLM_BK_ADD1"/>
                            <element name="CLM_BK_ADD2"/>
                            <element name="CLM_BK_ADD3"/>
                            <element name="CLM_BK_ADD_BTN"/>
                            <element name="CLM_BK_ID"/>
                            <element name="CLM_BK_ID_BTN"/>
                            <element name="CLM_BK_MAIL_ADD"/>
                            <element name="CLM_BK_NM"/>
                            <element name="CLM_BK_NOTES"/>
                            <element name="CLM_BK_ORDER_NO"/>
                            <element name="CLM_BK_ORDER_POST"/>
                            <element name="CLM_BK_POST_ADD_BTN"/>
                            <element name="CLM_BK_SW_ADD"/>
                            <element name="CLM_BK_SW_TAG"/>
                            <element name="CLM_CCY"/>
                            <element name="CLM_REF"/>
                            <element name="CLM_STLMNT_THU__DESC__"/>
                            <element name="CLM_STLMNT_THU"/>
                            <element name="CLM_TRX_CCY_AMT"/>
                            <element name="ORDER_NO"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
