EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_FinancingRequest_ME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BPO_SETT_FLG__DESC__"/>
                <element name="BPO_SETT_FLG"/>
                <element name="CLERK_ID"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXCH_RT6"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_BPOINV_LOAN_ID"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CLM_DISC_TYPE"/>
                <element name="FA_COMM_CHG_TYPE__DESC__"/>
                <element name="FA_COMM_CHG_TYPE"/>
                <element name="FA_COUNTER_ID"/>
                <element name="FA_COUNTER_NM"/>
                <element name="FA_CR_CNTR_NO"/>
                <element name="FA_CR_NO"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_FIN_TYPE__DESC__"/>
                <element name="FA_FIN_TYPE"/>
                <element name="FA_INT_CHG_TYPE__DESC__"/>
                <element name="FA_INT_CHG_TYPE"/>
                <element name="FA_INV_CCY"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LOAN_CCY"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_INT_RT"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_LOAN_PERC"/>
                <element name="FA_LOAN_STATUS"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_PAID_INT_SUM"/>
                <element name="FA_PMT_GRC_DAY"/>
                <element name="FA_REQ_DT"/>
                <element name="FA_REQ_FIN_NO"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_AMT"/>
                <element name="FA_SEL_AC_CCY"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP7"/>
                <element name="FA_TEMP_AMT10"/>
                <element name="FA_TEMP_AMT13"/>
                <element name="FA_TEMP_AMT9"/>
                <element name="FA_TEMP_DOC_STATUS"/>
                <element name="FA_TEMP_RT_TYPE1"/>
                <element name="FA_TEMP_RT_TYPE2"/>
                <element name="FA_TEMP_RT_TYPE3"/>
                <element name="FA_TEMP_RT_TYPE4"/>
                <element name="FA_TEMP_RT_TYPE5"/>
                <element name="FA_TTL_CRN_BAL"/>
                <element name="FA_TTL_INV_BAL"/>
                <element name="FA_TTL_INV_LOAN_AMT"/>
                <element name="FA_TTL_INV_NO"/>
                <element name="FA_TTL_LOAN_BAL"/>
                <element name="FIN_FLG__DESC__"/>
                <element name="FIN_FLG"/>
                <element name="FIN_REQD_AMT"/>
                <element name="IA_C_BORROWER_ID"/>
                <element name="IA_C_CCY_CODE"/>
                <element name="IA_C_FUNCTION_ID"/>
                <element name="IA_C_INTF_ID"/>
                <element name="IA_C_UNIT_OF_CRT"/>
                <element name="IA_D_DUE_DATE"/>
                <element name="IA_D_TRX_VALDATE"/>
                <element name="IA_I_BASE_DAYS"/>
                <element name="IA_I_CCY_DEC"/>
                <element name="IA_I_DISCOUNT_DAYS"/>
                <element name="IA_N_DISCOUNT_RATE"/>
                <element name="IA_Y_REACC_INT"/>
                <element name="IA_Y_TRX_AMT"/>
                <element name="InvFinReq">
                    <complexType>
                        <sequence>
                            <element name="EXCP_REASON"/>
                            <element name="FA_ADJ_AMT"/>
                            <element name="FA_ADJ_BAL"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CE_MAIN_REF"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DOC_VAL_DT"/>
                            <element name="FA_DOC_VERIFIED__DESC__"/>
                            <element name="FA_DOC_VERIFIED"/>
                            <element name="FA_FIN_FLG__DESC__"/>
                            <element name="FA_FIN_FLG"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_INV_LMT_APPRV"/>
                            <element name="FA_INV_LOAN_AMT"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_INV_LOAN_EBAL"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_ORDER_NO"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                            <element name="FA_REQ_BUYER_APR_FLG"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_TRF_DT"/>
                            <element name="FSBC_REF"/>
                            <element name="INV_LOAN_AVL"/>
                            <element name="INV_PASS_POOL_VAL"/>
                            <element name="INV_POOL_STATUS"/>
                            <element name="NOTES"/>
                            <element name="TEMP_ACCEPT_INV"/>
                            <element name="T_SYS_OP_TIME"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="LM_CRED_LMT"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_RSV_LINK"/>
                <element name="PO_MAX_LOAN_PERC"/>
                <element name="QR_CD_FLD"/>
                <element name="TEMP_TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="TSU_BK_BPO_FLG__DESC__"/>
                <element name="TSU_BK_BPO_FLG"/>
                <element name="TTL_LOAN_AVL"/>
                <element name="TTL_OBLIG_AMT"/>
                <element name="TTL_PO_LOAN_AVL"/>
                <element name="XBOR_RT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
