EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_ComrclDocRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_BUYER_NM"/>
<element name="TSU_CCY"/>
<element name="TSU_COMM_AMT"/>
<element name="TSU_COMM_DT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_SEL_NM"/>
</sequence>
</complexType>
</element>
</schema>
