EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSUM_ActivityReport_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="R2ARReport">
                                <complexType>
                                    <sequence>
                                        <element name="TSU_OUR_BIC"/>
                                        <element name="TSU_OUR_REF"/>
                                        <element name="TSU_SUB_B_BIC"/>
                                        <element name="TSU_THEIR_BIC"/>
                                        <element name="TSU_THEIR_REF"/>
                                        <element name="TSU_TID"/>
                                        <element name="AR_RptdItm">
                                            <complexType>
                                                <sequence>
                                                    <element name="TSU_DLTAPR_DTTM"/>
                                                    <element name="TSU_SUBMITR_BIC"/>
                                                    <element name="TSU_PARTY_NM"/>
                                                    <element name="TSU_REQ_ACT_DESC"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="R2AR_PdgReqForActn">
                                            <complexType>
                                                <sequence>
                                                    <element name="TSUR2_REQ_ACT_TP"/>
                                                    <element name="TSUR2_REQ_ACT_DESC"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="TSU_COMM_REF"/>
                            <element name="TSU_ERR_STATUS"/>
                            <element name="TSU_MESSAGE_ID"/>
                            <element name="TSU_RPT_RLTD_DTTM"/>
                            <element name="TSU_TRX_DTTM"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
