EE_PARA/EE_PARA/Default/FORM/form_multi_schema_203-Copy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CANCEL_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MAIN_REF_20Z"/>
                            <element name="MX_OR_MT_FLAG__DESC__"/>
                            <element name="MX_OR_MT_FLAG"/>
                            <element name="NXT_STATUS"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_B2_BTN"/>
                            <element name="X103_ID_52_BTN"/>
                            <element name="X103_ID_53_BTN"/>
                            <element name="X103_ID_54_BTN"/>
                            <element name="X202_BK2BK_INF1_72"/>
                            <element name="X202_BK2BK_INF2_72"/>
                            <element name="X202_BK2BK_INF3_72"/>
                            <element name="X202_BK2BK_INF4_72"/>
                            <element name="X202_BK2BK_INF5_72"/>
                            <element name="X202_BK2BK_INF6_72"/>
                            <element name="X203_19_AMT"/>
                            <element name="X203_19_CCY"/>
                            <element name="X203_30_VALUE_DATE"/>
                            <element name="X203_52A_IDENTIFIER"/>
                            <element name="X203_52D_PARTY_ADD1"/>
                            <element name="X203_52D_PARTY_ADD2"/>
                            <element name="X203_52D_PARTY_ADD3"/>
                            <element name="X203_52D_PARTY_NAME"/>
                            <element name="X203_52_PARTY_ID"/>
                            <element name="X203_52_PARTY_IDENTIFIER"/>
                            <element name="X203_52_TAG"/>
                            <element name="X203_53A_IDENTIFIER"/>
                            <element name="X203_53B_LOCATION"/>
                            <element name="X203_53D_PARTY_ADD1"/>
                            <element name="X203_53D_PARTY_ADD2"/>
                            <element name="X203_53D_PARTY_ADD3"/>
                            <element name="X203_53D_PARTY_NAME"/>
                            <element name="X203_53_PARTY_ID"/>
                            <element name="X203_53_PARTY_IDENTIFIER"/>
                            <element name="X203_53_TAG"/>
                            <element name="X203_54A_IDENTIFIER"/>
                            <element name="X203_54B_LOCATION"/>
                            <element name="X203_54D_PARTY_ADD1"/>
                            <element name="X203_54D_PARTY_ADD2"/>
                            <element name="X203_54D_PARTY_ADD3"/>
                            <element name="X203_54D_PARTY_NAME"/>
                            <element name="X203_54_PARTY_ID"/>
                            <element name="X203_54_PARTY_IDENTIFIER"/>
                            <element name="X203_54_TAG"/>
                            <element name="X203_SEQ_B">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="X103_ADV_BKSW_B2"/>
                                        <element name="X203_20_REF"/>
                                        <element name="X203_21_REF"/>
                                        <element name="X203_32B_AMT"/>
                                        <element name="X203_32B_CCY"/>
                                        <element name="X203_56A_IDENTIFIER"/>
                                        <element name="X203_56D_PARTY_ADD1"/>
                                        <element name="X203_56D_PARTY_ADD2"/>
                                        <element name="X203_56D_PARTY_ADD3"/>
                                        <element name="X203_56D_PARTY_NAME"/>
                                        <element name="X203_56_PARTY_ID"/>
                                        <element name="X203_56_PARTY_IDENTIFIER"/>
                                        <element name="X203_56_TAG"/>
                                        <element name="X203_57A_IDENTIFIER"/>
                                        <element name="X203_57B_LOCATION"/>
                                        <element name="X203_57D_PARTY_ADD1"/>
                                        <element name="X203_57D_PARTY_ADD2"/>
                                        <element name="X203_57D_PARTY_ADD3"/>
                                        <element name="X203_57D_PARTY_NAME"/>
                                        <element name="X203_57_PARTY_ID"/>
                                        <element name="X203_57_PARTY_IDENTIFIER"/>
                                        <element name="X203_57_TAG"/>
                                        <element name="X203_58A_IDENTIFIER"/>
                                        <element name="X203_58D_PARTY_ADD1"/>
                                        <element name="X203_58D_PARTY_ADD2"/>
                                        <element name="X203_58D_PARTY_ADD3"/>
                                        <element name="X203_58D_PARTY_NAME"/>
                                        <element name="X203_58_PARTY_ID"/>
                                        <element name="X203_58_PARTY_IDENTIFIER"/>
                                        <element name="X203_58_TAG"/>
                                        <element name="X203_72_NARR"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
