EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_DFAgreementEdit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="DFAgreement">
                    <complexType>
                        <sequence>
                            <element name="BUYER_LMT_PERC"/>
                            <element name="COMBN_LMT_FLG"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_BLACKLIST__DESC__"/>
                            <element name="FA_BLACKLIST"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_BK_BRCH"/>
                            <element name="FA_BUYER_CITY"/>
                            <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                            <element name="FA_BUYER_CNTC_FLG"/>
                            <element name="FA_BUYER_CONT_ADDR"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_BUYER_NM2"/>
                            <element name="FA_BUYER_POSTBOX"/>
                            <element name="FA_BUYER_POSTCODE"/>
                            <element name="FA_BUYER_PROV"/>
                            <element name="FA_COUNTER_CE_FLG__DESC__"/>
                            <element name="FA_COUNTER_CE_FLG"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_COUNTER_TYPE__DESC__"/>
                            <element name="FA_COUNTER_TYPE"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_DOC_REQD"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INSU_AGR_NO"/>
                            <element name="FA_INSU_COMP_FLAG__DESC__"/>
                            <element name="FA_INSU_COMP_FLAG"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_PCA_REF"/>
                            <element name="FA_REMI_AMT1"/>
                            <element name="FA_REMI_CCY1"/>
                            <element name="FA_SEL_AC_NO"/>
                            <element name="FA_SEL_ADDR"/>
                            <element name="FA_SEL_BK_BR"/>
                            <element name="FA_SEL_CITY"/>
                            <element name="FA_SEL_CNTC_FLG__DESC__"/>
                            <element name="FA_SEL_CNTC_FLG"/>
                            <element name="FA_SEL_CONT_ADDR"/>
                            <element name="FA_SEL_CONT_FAX"/>
                            <element name="FA_SEL_CONT_MAIL"/>
                            <element name="FA_SEL_CONT_NM"/>
                            <element name="FA_SEL_CONT_TEL"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SEL_NM2"/>
                            <element name="FA_SEL_POST_CODE"/>
                            <element name="FA_SEL_PROV"/>
                            <element name="FA_SERVICE_APPRVD__DESC__"/>
                            <element name="FA_SERVICE_APPRVD"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TEMP_LMT"/>
                            <element name="FA_THEIR_FLG"/>
                            <element name="INCO_LMT_PERC"/>
                            <element name="MARGIN_AC_NO"/>
                            <element name="MARGIN_PERC"/>
                            <element name="SEL_LMT_PERC"/>
                            <element name="THEIR_REF_NO"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_BUSI_FUNC__DESC__"/>
                <element name="FA_BUSI_FUNC"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_END_DT"/>
                <element name="FA_END_REASON__DESC__"/>
                <element name="FA_END_REASON"/>
                <element name="FA_EXTEND_DT"/>
                <element name="FA_EXTEND_TIMES"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_ORG_DUE_DT"/>
                <element name="FA_REMARK"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_NM2"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP6"/>
                <element name="FA_VALID_DAYS"/>
                <element name="OWNER_BR_NM"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
