EE_PARA/EE_PARA/Default/FORM/form_schema_FIN_Party_PrivateId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="FIN_ALNREGN_NB"/>
<element name="FIN_BIRTH_CITY"/>
<element name="FIN_BIRTH_CNTY"/>
<element name="FIN_BIRTH_DT"/>
<element name="FIN_BIRTH_PRVC"/>
<element name="FIN_CSTMR_NB"/>
<element name="FIN_DRVRS_LIC_NB"/>
<element name="FIN_ID_CARD_NB"/>
<element name="FIN_MPLYRID_NB"/>
<element name="FIN_OTHR_ID"/>
<element name="FIN_OTHR_ID_TP"/>
<element name="FIN_PRVT_ISSR"/>
<element name="FIN_PRV_TAX_ID"/>
<element name="FIN_PSPT_NB"/>
<element name="FIN_SCLSCTY_NB"/>
</sequence>
</complexType>
</element>
</schema>
