EE_PARA/EE_PARA/Default/FORM/form_schema_DATA_Add_Industry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="FA_TEMP3"/>
                <element name="INDUSTRY_CODE"/>
                <element name="INDUSTRY_NM"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
