EE_PARA/EE_PARA/Default/FORM/form_multi_schema_103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TEMP_X103BENECUADD1_59A"/>
<element name="TEMP_X103BENECUADD2_59A"/>
<element name="TEMP_X103BENECUADD3_59A"/>
<element name="TEMP_X103_ACNO_51"/>
<element name="TEMP_X103_BENECUACNO59A"/>
<element name="TEMP_X103_BENECU_NM_59A"/>
<element name="X103BENECUADD1_59A"/>
<element name="X103BENECUADD2_59A"/>
<element name="X103BENECUADD3_59A"/>
<element name="X103MEDIBKADD1_56A"/>
<element name="X103MEDIBKADD2_56A"/>
<element name="X103MEDIBKADD3_56A"/>
<element name="X103RECCORRACNO54A"/>
<element name="X103SENDBKADD1_51A"/>
<element name="X103SENDBKADD2_51A"/>
<element name="X103SENDBKADD3_51A"/>
<element name="X103SENDCORACNO53A"/>
<element name="X103SENDCORADD153A"/>
<element name="X103SENDCORADD253A"/>
<element name="X103SENDCORADD353A"/>
<element name="X103_50_ADD_BTN"/>
<element name="X103_50_BTN"/>
<element name="X103_50_NOTES"/>
<element name="X103_50_ORDER_NO"/>
<element name="X103_51A_ADD_BTN"/>
<element name="X103_51A_BTN"/>
<element name="X103_51_NOTES"/>
<element name="X103_51_ORDER_NO"/>
<element name="X103_52A_ADD_BTN"/>
<element name="X103_52A_BTN"/>
<element name="X103_52_NOTES"/>
<element name="X103_52_ORDER_NO"/>
<element name="X103_53A_ADD_BTN"/>
<element name="X103_53A_BTN"/>
<element name="X103_53_NOTES"/>
<element name="X103_53_ORDER_NO"/>
<element name="X103_54A_ADD_BTN"/>
<element name="X103_54A_BTN"/>
<element name="X103_54_NOTES"/>
<element name="X103_54_ORDER_NO"/>
<element name="X103_56A_ADD_BTN"/>
<element name="X103_56A_BTN"/>
<element name="X103_56_NOTES"/>
<element name="X103_56_ORDER_NO"/>
<element name="X103_57A_ADD_BTN"/>
<element name="X103_57A_BTN"/>
<element name="X103_57_NOTES"/>
<element name="X103_57_ORDER_NO"/>
<element name="X103_59_ADD_BTN"/>
<element name="X103_59_BTN"/>
<element name="X103_59_NOTES"/>
<element name="X103_59_ORDER_NO"/>
<element name="X103_ACCBKADD1_57A"/>
<element name="X103_ACCBKADD2_57A"/>
<element name="X103_ACCBKADD3_57A"/>
<element name="X103_ACC_BKACNO57A"/>
<element name="X103_ACC_BKID_57A"/>
<element name="X103_ACC_BKNM_57A"/>
<element name="X103_ACC_BKSW_57A"/>
<element name="X103_ADV_BKADD1_B2"/>
<element name="X103_ADV_BKADD2_B2"/>
<element name="X103_ADV_BKADD3_B2"/>
<element name="X103_ADV_BKID_B2"/>
<element name="X103_ADV_BKNM_B2"/>
<element name="X103_ADV_BKSW_B2"/>
<element name="X103_B2_ADD_BTN"/>
<element name="X103_B2_BTN"/>
<element name="X103_B2_NOTES"/>
<element name="X103_B2_ORDER_NO"/>
<element name="X103_BENECUACNO59A"/>
<element name="X103_BENECU_BKSW_59"/>
<element name="X103_BENECU_ID_59A"/>
<element name="X103_BENECU_NM_59A"/>
<element name="X103_BENECU_OP__DESC__"/>
<element name="X103_BENECU_OP"/>
<element name="X103_BKOP_CODE_23B"/>
<element name="X103_BKTOBK_INFO72"/>
<element name="X103_DET_CHG_71A"/>
<element name="X103_ENV_CONT_77T"/>
<element name="X103_EXCH_RT_36"/>
<element name="X103_INSTRCODE_23E"/>
<element name="X103_INSTR_AMT_33B"/>
<element name="X103_INSTR_CCY_33B"/>
<element name="X103_MEDIBKACNO56A"/>
<element name="X103_MEDI_BKID_56A"/>
<element name="X103_MEDI_BKNM_56A"/>
<element name="X103_MEDI_BKSW_56A"/>
<element name="X103_ORDBKACNO_52A"/>
<element name="X103_ORDBKADD1_52A"/>
<element name="X103_ORDBKADD2_52A"/>
<element name="X103_ORDBKADD3_52A"/>
<element name="X103_ORDCUACNO_50A"/>
<element name="X103_ORDCUADD1_50A"/>
<element name="X103_ORDCUADD2_50A"/>
<element name="X103_ORDCUADD3_50A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_ORDCU_ID_OP__DESC__"/>
<element name="X103_ORDCU_ID_OP"/>
<element name="X103_ORDCU_NM_50A"/>
<element name="X103_ORDCU_SW_50A"/>
<element name="X103_ORD_BKID_52A"/>
<element name="X103_ORD_BKNM_52A"/>
<element name="X103_ORD_BKSW_52A"/>
<element name="X103_RECCHGAMT_71G"/>
<element name="X103_RECCHGCCY_71G"/>
<element name="X103_RECCORADD154A"/>
<element name="X103_RECCORADD254A"/>
<element name="X103_RECCORADD354A"/>
<element name="X103_RECCORRID_54A"/>
<element name="X103_RECCORRNM_54A"/>
<element name="X103_RECCORRSW_54A"/>
<element name="X103_REG_REP_77B"/>
<element name="X103_REMIT_INFO_70"/>
<element name="X103_SENDBKACNO51A"/>
<element name="X103_SENDCHGAMT71F"/>
<element name="X103_SENDCHGCCY71F"/>
<element name="X103_SENDCORRID53A"/>
<element name="X103_SENDCORRNM53A"/>
<element name="X103_SENDCORRSW53A"/>
<element name="X103_SEND_BKID_51A"/>
<element name="X103_SEND_BKNM_51A"/>
<element name="X103_SEND_BKSW_51A"/>
<element name="X103_SEND_NO_20"/>
<element name="X103_SETT_AMT_32A"/>
<element name="X103_SETT_CCY_32A"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_51A"/>
<element name="X103_TAG_52A"/>
<element name="X103_TAG_53A"/>
<element name="X103_TAG_54A"/>
<element name="X103_TAG_56A"/>
<element name="X103_TAG_57A"/>
<element name="X103_TAG_59A"/>
<element name="X103_TAG_B2"/>
<element name="X103_TIME_INDI_13C"/>
<element name="X103_TRX_TYPCD_26T"/>
<element name="X103_VALUE_DT_32A"/>
<element name="lookup63227"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
