EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_DTGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="Submit2"/>
<element name="TSUR2_TRX_STATUS__DESC__"/>
<element name="TSUR2_TRX_STATUS"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_ID"/>
<element name="TSU_BUYER_BK_NM"/>
<element name="TSU_BUYER_NM"/>
<element name="TSU_CCY"/>
<element name="TSU_CCY_EXT"/>
<element name="TSU_COMM_REF"/>
<element name="TSU_DS_FINAL_FLG__DESC__"/>
<element name="TSU_DS_FINAL_FLG"/>
<element name="TSU_FORCD_MTCH_FLG__DESC__"/>
<element name="TSU_FORCD_MTCH_FLG"/>
<element name="TSU_FRGHT_TP__DESC__"/>
<element name="TSU_FRGHT_TP"/>
<element name="TSU_GOODS_DESC"/>
<element name="TSU_ISSR_BIC"/>
<element name="TSU_LINE_TTL_AMT"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_ID"/>
<element name="TSU_SEL_BK_NM"/>
<element name="TSU_SEL_NM"/>
<element name="TSU_SUBMITR_TRX_REF"/>
<element name="TSU_TID"/>
<element name="TSU_TTL_NET_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
