EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYS_ViewLogDetail_security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_CLIENT_ADDR"/>
<element name="C_FUNC_NAME"/>
<element name="C_LOG_INFO"/>
<element name="C_MODIFY_TARGET"/>
<element name="C_MODULE_NAME"/>
<element name="C_UNIT_CODE"/>
<element name="C_USER_ID"/>
<element name="D_DATE_TIME"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
