EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRMM_MMReceivingMT320.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BRANCH"/>
                            <element name="BACK_CONF_STATUS"/>
                            <element name="BENE_BK_ACNO"/>
                            <element name="BENE_BK_ID"/>
                            <element name="BENE_BK_SWADD"/>
                            <element name="BK_BR_CODE"/>
                            <element name="BROKER_ID"/>
                            <element name="BROKER_NM"/>
                            <element name="BUSI_UNIT"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNPT_BUSI_UNIT"/>
                            <element name="CNPT_FULL_NM"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_NS_FULL_NM"/>
                            <element name="CNPT_NS_SWADD"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CNPT_SWADD"/>
                            <element name="CNPT_TP"/>
                            <element name="CREA_BR"/>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEAL_ACTION__DESC__"/>
                            <element name="DEAL_ACTION"/>
                            <element name="DEAL_NO"/>
                            <element name="DEAL_TP__DESC__"/>
                            <element name="DEAL_TP"/>
                            <element name="EXTD_AMT"/>
                            <element name="FACTOR"/>
                            <element name="FOLDER"/>
                            <element name="INTMED_BK_SWADD"/>
                            <element name="INT_AMT"/>
                            <element name="INT_RT"/>
                            <element name="IS_GPI_MEMBER__DESC__"/>
                            <element name="IS_GPI_MEMBER"/>
                            <element name="ITEM_FLD_NM"/>
                            <element name="KEY_IN"/>
                            <element name="KONDOR_FOLDER"/>
                            <element name="LOCAL_TIME"/>
                            <element name="MATURITY_DT"/>
                            <element name="MT320_15Seq"/>
                            <element name="MT320_17R__DESC__"/>
                            <element name="MT320_17R"/>
                            <element name="MT320_34E"/>
                            <element name="MT320_57_NM"/>
                            <element name="MT320_57_SWTAG"/>
                            <element name="MT320_82A"/>
                            <element name="MT320_COMM_REF"/>
                            <element name="MT320_OPETN_TP__DESC__"/>
                            <element name="MT320_OPETN_TP"/>
                            <element name="NOSTRO_BK_ID"/>
                            <element name="NOSTRO_BK_SW_ADD"/>
                            <element name="OLD_AMT"/>
                            <element name="OLD_DEAL_NO"/>
                            <element name="OLD_INT_AMT"/>
                            <element name="OUR_NS_ID_BTN"/>
                            <element name="OVER_AC_FLG"/>
                            <element name="POSIT_TP__DESC__"/>
                            <element name="POSIT_TP"/>
                            <element name="SEND_MT202_FLG__DESC__"/>
                            <element name="SEND_MT202_FLG"/>
                            <element name="SEND_MT202_VDT"/>
                            <element name="SEND_MT320_FLG__DESC__"/>
                            <element name="SEND_MT320_FLG"/>
                            <element name="SEND_MT320_VDT"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="SEND_VOU_VDT"/>
                            <element name="SERVICE_TYPE_ID_GPI_111"/>
                            <element name="SETL_ACTION"/>
                            <element name="TADE_DT"/>
                            <element name="TADR_EN_NM"/>
                            <element name="TADR_ID"/>
                            <element name="TOTAL_AMT"/>
                            <element name="TRX_AMT"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_CCY_CNTY_CD"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_NS_AMT"/>
                            <element name="UETR_GPI_121"/>
                            <element name="VAL_DT"/>
                            <element name="VCH_CUSTID_CR"/>
                            <element name="VCH_CUSTID_DR"/>
                            <element name="WHT_SEND_MT202_FLG__DESC__"/>
                            <element name="WHT_SEND_MT202_FLG"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202MEDIBKADD1_56A"/>
                            <element name="X202MEDIBKADD2_56A"/>
                            <element name="X202MEDIBKADD3_56A"/>
                            <element name="X202RECCORRACNO54A"/>
                            <element name="X202SENDCORACNO53A"/>
                            <element name="X202SENDCORADD153A"/>
                            <element name="X202SENDCORADD253A"/>
                            <element name="X202SENDCORADD353A"/>
                            <element name="X202_52_ADD_BTN"/>
                            <element name="X202_52_BTN"/>
                            <element name="X202_52_NOTES"/>
                            <element name="X202_52_ORDER_NO"/>
                            <element name="X202_53_ADD_BTN"/>
                            <element name="X202_53_BTN"/>
                            <element name="X202_53_NOTES"/>
                            <element name="X202_53_ORDER_NO"/>
                            <element name="X202_54_ADD_BTN"/>
                            <element name="X202_54_BTN"/>
                            <element name="X202_54_NOTES"/>
                            <element name="X202_54_ORDER_NO"/>
                            <element name="X202_56_ADD_BTN"/>
                            <element name="X202_56_BTN"/>
                            <element name="X202_56_NOTES"/>
                            <element name="X202_56_ORDER_NO"/>
                            <element name="X202_57_ADD_BTN"/>
                            <element name="X202_57_BTN"/>
                            <element name="X202_57_NOTES"/>
                            <element name="X202_57_ORDER_NO"/>
                            <element name="X202_58_ADD_BTN"/>
                            <element name="X202_58_BTN"/>
                            <element name="X202_58_NOTES"/>
                            <element name="X202_58_ORDER_NO"/>
                            <element name="X202_ACCBKADD1_57A"/>
                            <element name="X202_ACCBKADD2_57A"/>
                            <element name="X202_ACCBKADD3_57A"/>
                            <element name="X202_ACC_BKACNO57A"/>
                            <element name="X202_ACC_BKID_57A"/>
                            <element name="X202_ACC_BKNM_57A"/>
                            <element name="X202_ACC_BKSW_57A"/>
                            <element name="X202_ADV_BKADD1_B2"/>
                            <element name="X202_ADV_BKADD2_B2"/>
                            <element name="X202_ADV_BKADD3_B2"/>
                            <element name="X202_ADV_BKID_B2"/>
                            <element name="X202_ADV_BKNM_B2"/>
                            <element name="X202_ADV_BKSW_B2"/>
                            <element name="X202_AMT_32A"/>
                            <element name="X202_B2_ADD_BTN"/>
                            <element name="X202_B2_BTN"/>
                            <element name="X202_B2_NOTES"/>
                            <element name="X202_B2_ORDER_NO"/>
                            <element name="X202_BENEBKACNO58A"/>
                            <element name="X202_BENE_BKID_58A"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="X202_BENE_BKSW_58A"/>
                            <element name="X202_BKTOBK_INFO72"/>
                            <element name="X202_CCY_32A"/>
                            <element name="X202_MEDIBKACNO56A"/>
                            <element name="X202_MEDI_BKID_56A"/>
                            <element name="X202_MEDI_BKNM_56A"/>
                            <element name="X202_MEDI_BKSW_56A"/>
                            <element name="X202_ORDBKACNO_52A"/>
                            <element name="X202_ORDBKADD1_52A"/>
                            <element name="X202_ORDBKADD2_52A"/>
                            <element name="X202_ORDBKADD3_52A"/>
                            <element name="X202_ORDBK_ID_52A"/>
                            <element name="X202_ORDBK_NM_52A"/>
                            <element name="X202_ORDBK_SW_52A"/>
                            <element name="X202_RECCORADD154A"/>
                            <element name="X202_RECCORADD254A"/>
                            <element name="X202_RECCORADD354A"/>
                            <element name="X202_RECCORRID_54A"/>
                            <element name="X202_RECCORRNM_54A"/>
                            <element name="X202_RECCORRSW_54A"/>
                            <element name="X202_RELATEDNO_21"/>
                            <element name="X202_SENDCORRID53A"/>
                            <element name="X202_SENDCORRNM53A"/>
                            <element name="X202_SENDCORRSW53A"/>
                            <element name="X202_TAG_52A"/>
                            <element name="X202_TAG_53A"/>
                            <element name="X202_TAG_54A"/>
                            <element name="X202_TAG_56A"/>
                            <element name="X202_TAG_57A"/>
                            <element name="X202_TAG_58A"/>
                            <element name="X202_TAG_B2"/>
                            <element name="X202_TIME_INDI_13C"/>
                            <element name="X202_TRX_REF_NO_20"/>
                            <element name="X202_VALUE_DT_32A"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
