EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EPLC_CheckDocuments_for798.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AC_BK_NOTES"/>
                            <element name="AC_WT_BK_AC_NO"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD1_MT750"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD2_MT750"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_ADD3_MT750"/>
                            <element name="AC_WT_BK_ADD_BTN_MT750"/>
                            <element name="AC_WT_BK_CORR_MED__DESC__"/>
                            <element name="AC_WT_BK_CORR_MED"/>
                            <element name="AC_WT_BK_ID"/>
                            <element name="AC_WT_BK_ID_BTN"/>
                            <element name="AC_WT_BK_ID_BTN_MT750"/>
                            <element name="AC_WT_BK_ID_MT750"/>
                            <element name="AC_WT_BK_LOCATION"/>
                            <element name="AC_WT_BK_MT750_NOTES"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_NM_MT750"/>
                            <element name="AC_WT_BK_ORDER_NO_MT750"/>
                            <element name="AC_WT_BK_PARTY_ID"/>
                            <element name="AC_WT_BK_SW_ADD"/>
                            <element name="AC_WT_BK_SW_ADD_MT750"/>
                            <element name="AC_WT_BK_SW_TAG"/>
                            <element name="AC_WT_BK_SW_TAG_MT750"/>
                            <element name="ADDIT_CONDITION"/>
                            <element name="ADDIT_PRES_BK_AMTS"/>
                            <element name="ADDIT_PRES_BK_CCY"/>
                            <element name="ADV_BK_CHGS"/>
                            <element name="ADV_BK_CHG_CCY"/>
                            <element name="ADV_LC_BY__DESC__"/>
                            <element name="ADV_LC_BY"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_PARTY_ID"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD_BTN"/>
                            <element name="APPL_BK_ADD1"/>
                            <element name="APPL_BK_ADD2"/>
                            <element name="APPL_BK_ADD3"/>
                            <element name="APPL_BK_ADD_BTN"/>
                            <element name="APPL_BK_ID"/>
                            <element name="APPL_BK_ID_BTN"/>
                            <element name="APPL_BK_NM"/>
                            <element name="APPL_BK_NOTES"/>
                            <element name="APPL_BK_ORDER_NO"/>
                            <element name="APPL_BK_PARTY_ID"/>
                            <element name="APPL_BK_SW_ADD"/>
                            <element name="APPL_BK_SW_TAG"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ADD_BTN"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_ID_BTN"/>
                            <element name="AVAL_WT_BK_MAIL_ADD"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_NOTES"/>
                            <element name="AVAL_WT_BK_OPT__DESC__"/>
                            <element name="AVAL_WT_BK_OPT"/>
                            <element name="AVAL_WT_BK_ORDER_NO"/>
                            <element name="AVAL_WT_BK_ORDER_POST"/>
                            <element name="AVAL_WT_BK_POST_ADD_BTN"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="AVLB_LC_BAL"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="BENEF_CERT"/>
                            <element name="BENEF_CERT_1"/>
                            <element name="BENEF_CERT_2"/>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ADD_BTN"/>
                            <element name="BENE_BR_CD"/>
                            <element name="BENE_BR_CODE"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_ORDER_NO"/>
                            <element name="BENE_ORDER_POST"/>
                            <element name="BENE_OUR_NO"/>
                            <element name="BENE_PARTY_NO"/>
                            <element name="BENE_POST_ADD_BTN"/>
                            <element name="BENE_REF_NO"/>
                            <element name="BENE_TLX"/>
                            <element name="BL_AWB"/>
                            <element name="BL_AWB_1"/>
                            <element name="BL_AWB_2"/>
                            <element name="BR_CODE"/>
                            <element name="CERTIFICATE"/>
                            <element name="CERTIFICATE_1"/>
                            <element name="CERTIFICATE_2"/>
                            <element name="CHECK_BOX_798"/>
                            <element name="CHGS_ADDED_TXT_MT750"/>
                            <element name="CHGS_DEDUCTED"/>
                            <element name="CHGS_DEDUCTED_TXT_MT750"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CHK_DOC_FLG__DESC__"/>
                            <element name="CHK_DOC_FLG"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="COUNTW1"/>
                            <element name="COUNTW11"/>
                            <element name="COUNTW13"/>
                            <element name="COUNTW15"/>
                            <element name="COUNTW17"/>
                            <element name="COUNTW19"/>
                            <element name="COUNTW26"/>
                            <element name="COUNTW3"/>
                            <element name="COUNTW5"/>
                            <element name="COUNTW7"/>
                            <element name="COUNTW9"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DEF_PMT_DET"/>
                            <element name="DEST_PLACE"/>
                            <element name="DEST_PORT"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DISC_DET"/>
                            <element name="DISC_DET_MT750"/>
                            <element name="DISC_RESP_ISSU_BK__DESC__"/>
                            <element name="DISC_RESP_ISSU_BK"/>
                            <element name="DOC_PRES"/>
                            <element name="DOC_PRES_BY__DESC__"/>
                            <element name="DOC_PRES_BY"/>
                            <element name="DOC_REQ"/>
                            <element name="DOC_STAT__DESC__"/>
                            <element name="DOC_STAT"/>
                            <element name="DRAFT"/>
                            <element name="DRAFTS_AT"/>
                            <element name="DRAFT_1"/>
                            <element name="DRAFT_2"/>
                            <element name="DRAWING_REF"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_ID_BTN"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_PARTY_ID"/>
                            <element name="DRWE_PARTY_TAG"/>
                            <element name="DRWE_SW_ADD"/>
                            <element name="DRWE_SW_TAG"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FREIGHT_INV"/>
                            <element name="FREIGHT_INV_1"/>
                            <element name="FREIGHT_INV_2"/>
                            <element name="GOODS_DESC"/>
                            <element name="INDIVID_DRAW_FLG__DESC__"/>
                            <element name="INDIVID_DRAW_FLG"/>
                            <element name="INSP_CERT"/>
                            <element name="INSP_CERT_1"/>
                            <element name="INSP_CERT_2"/>
                            <element name="INSTR_TO_PAY_BK"/>
                            <element name="INSURANCE"/>
                            <element name="INSURANCE_1"/>
                            <element name="INSURANCE_2"/>
                            <element name="INVOICE"/>
                            <element name="INVOICE_1"/>
                            <element name="INVOICE_2"/>
                            <element name="ISSUE_BK_52_ADD1"/>
                            <element name="ISSUE_BK_52_ADD2"/>
                            <element name="ISSUE_BK_52_ADD3"/>
                            <element name="ISSUE_BK_52_ADD_BTN"/>
                            <element name="ISSUE_BK_52_ID"/>
                            <element name="ISSUE_BK_52_ID_BTN"/>
                            <element name="ISSUE_BK_52_NM"/>
                            <element name="ISSUE_BK_52_NOTES"/>
                            <element name="ISSUE_BK_52_ORDER_NO"/>
                            <element name="ISSUE_BK_52_SW_ADD"/>
                            <element name="ISSUE_BK_52_SW_TAG"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ADD_BTN"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_ID_BTN"/>
                            <element name="ISSUE_BK_MAIL_ADD"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_ORDER_NO"/>
                            <element name="ISSUE_BK_ORDER_POST"/>
                            <element name="ISSUE_BK_OUR_NO"/>
                            <element name="ISSUE_BK_PARTY_NO"/>
                            <element name="ISSUE_BK_POST_ADD_BTN"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_TEMP"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LC_NO2"/>
                            <element name="LOAD_PLACE"/>
                            <element name="LOAD_PORT"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="MESG_TYPE__DESC__"/>
                            <element name="MESG_TYPE"/>
                            <element name="MSG_TYPE"/>
                            <element name="NEG_TOL"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_DRAW"/>
                            <element name="OTHERS"/>
                            <element name="OTHERS_1"/>
                            <element name="OTHERS_2"/>
                            <element name="OUR_ROLE__DESC__"/>
                            <element name="OUR_ROLE"/>
                            <element name="PACK_LIST"/>
                            <element name="PACK_LIST_1"/>
                            <element name="PACK_LIST_2"/>
                            <element name="PARTIAL_SHIP__DESC__"/>
                            <element name="PARTIAL_SHIP"/>
                            <element name="PARTIAL_SHIP_NARR"/>
                            <element name="PENDING_PRES_BAL"/>
                            <element name="POS_TOL"/>
                            <element name="PRES_AMT"/>
                            <element name="PRES_AMT_LC_CCY"/>
                            <element name="PRES_BENE_REF"/>
                            <element name="PRES_BK_AC_NO"/>
                            <element name="PRES_BK_AC_OFF_CODE"/>
                            <element name="PRES_BK_ADD1"/>
                            <element name="PRES_BK_ADD2"/>
                            <element name="PRES_BK_ADD3"/>
                            <element name="PRES_BK_ADD_BTN"/>
                            <element name="PRES_BK_CHGS"/>
                            <element name="PRES_BK_CORR_MED__DESC__"/>
                            <element name="PRES_BK_CORR_MED"/>
                            <element name="PRES_BK_EMAIL"/>
                            <element name="PRES_BK_FAX"/>
                            <element name="PRES_BK_ID"/>
                            <element name="PRES_BK_ID_BTN"/>
                            <element name="PRES_BK_LANG"/>
                            <element name="PRES_BK_MAIL_ADD"/>
                            <element name="PRES_BK_NM"/>
                            <element name="PRES_BK_NOTES"/>
                            <element name="PRES_BK_ORDER_NO"/>
                            <element name="PRES_BK_ORDER_POST"/>
                            <element name="PRES_BK_POST_ADD_BTN"/>
                            <element name="PRES_BK_REF"/>
                            <element name="PRES_BK_SW_ADD"/>
                            <element name="PRES_BK_SW_TAG"/>
                            <element name="PRES_BK_TLX"/>
                            <element name="PRES_CCY"/>
                            <element name="PRES_DISC_RESP__DESC__"/>
                            <element name="PRES_DISC_RESP"/>
                            <element name="PRES_DT"/>
                            <element name="PaymentScheduleHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_C_MIX_PAY_DETAIL"/>
                                        <element name="CPYT_C_PAY_FOR"/>
                                        <element name="CPYT_C_REF"/>
                                        <element name="CPYT_C_TRX_CCY"/>
                                        <element name="CPYT_N_PAY_TTL_AMT_LCY"/>
                                        <element name="CPYT_N_PAY_TTL_AMT_TXCCY"/>
                                        <element name="CPYT_N_UNPD_AMT_TXCCY"/>
                                        <element name="CPYT_SCHE_TEMP_DATA"/>
                                        <element name="PaymentSchedule">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_C_PAY_PER"/>
                                                    <element name="CPYT_C_SDA_FLAG"/>
                                                    <element name="CPYT_C_TENOR_TYPE"/>
                                                    <element name="CPYT_I_TENOR_DAYS"/>
                                                    <element name="CPYT_C_TENOR_DESC"/>
                                                    <element name="CPYT_D_TENOR_START_DATE"/>
                                                    <element name="CPYT_N_PAY_AMT"/>
                                                    <element name="CPYT_D_MAT_DATE"/>
                                                    <element name="CPYT_I_SEQUENCE"/>
                                                    <element name="CPYT_ACPT_DT"/>
                                                    <element name="CPYT_PAY_CCY"/>
                                                    <element name="CPYT_N_PAY_TRXCCY_BAL"/>
                                                    <element name="CPYT_DRAWING_REF"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="RCV_BK_ADD1_MT750"/>
                            <element name="RCV_BK_ADD2_MT750"/>
                            <element name="RCV_BK_ADD3_MT750"/>
                            <element name="RCV_BK_ADD_BTN_MT750"/>
                            <element name="RCV_BK_ID_BTN_MT750"/>
                            <element name="RCV_BK_ID_MT750"/>
                            <element name="RCV_BK_MT750_NOTES"/>
                            <element name="RCV_BK_NM_MT750"/>
                            <element name="RCV_BK_ORDER_NO_MT750"/>
                            <element name="RCV_BK_SW_ADD_MT750"/>
                            <element name="RCV_BK_SW_TAG_MT750"/>
                            <element name="REAL_RT"/>
                            <element name="REIM_BK_ADD1"/>
                            <element name="REIM_BK_ADD2"/>
                            <element name="REIM_BK_ADD3"/>
                            <element name="REIM_BK_ADD_BTN"/>
                            <element name="REIM_BK_ID"/>
                            <element name="REIM_BK_ID_BTN"/>
                            <element name="REIM_BK_MAIL_ADD"/>
                            <element name="REIM_BK_NM"/>
                            <element name="REIM_BK_NOTES"/>
                            <element name="REIM_BK_ORDER_NO"/>
                            <element name="REIM_BK_ORDER_POST"/>
                            <element name="REIM_BK_PARTY_ID"/>
                            <element name="REIM_BK_POST_ADD_BTN"/>
                            <element name="REIM_BK_SW_ADD"/>
                            <element name="REIM_BK_SW_TAG"/>
                            <element name="SENDER_REF"/>
                            <element name="SEND_MT750_FLG"/>
                            <element name="SEND_TO_RCV_INFO_MT750"/>
                            <element name="SHIP_PRD"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="TEMP_ACCCY"/>
                            <element name="TEMP_ACNO"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_APPL_ID"/>
                            <element name="TEMP_BENE_CONS_FLG"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CHAR1"/>
                            <element name="TEMP_CORR_ATTCH"/>
                            <element name="TEMP_CORR_CRSPD"/>
                            <element name="TEMP_CORR_INSTR"/>
                            <element name="TEMP_CUST_ATTCH"/>
                            <element name="TEMP_CUST_CRSPD"/>
                            <element name="TEMP_CUST_INSTR"/>
                            <element name="TEMP_DENTRMETL_FLG"/>
                            <element name="TEMP_DOC_DT"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TEMP_PENDING_PRES_BAL"/>
                            <element name="TEMP_TTL_PRES_AMT"/>
                            <element name="TEMP_USER_EMAIL"/>
                            <element name="TEMP_USER_FAX"/>
                            <element name="TEMP_USER_NM"/>
                            <element name="TEMP_USER_TEL_NO"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TENOR_TYPE_NARR"/>
                            <element name="TNSHIP__DESC__"/>
                            <element name="TNSHIP"/>
                            <element name="TNSHIP_NARR"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_CLM_AMT"/>
                            <element name="TTL_PRES_AMT"/>
                            <element name="VESSEL_CERT"/>
                            <element name="VESSEL_CERT_1"/>
                            <element name="VESSEL_CERT_2"/>
                            <element name="WEB_REF"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_31C_ISSUE_DATE"/>
                            <element name="X798_ADV_BK_CONT"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_BANK_CONTACT_29D"/>
                            <element name="X798_CHG_INFO"/>
                            <element name="X798_CONF_INDI"/>
                            <element name="X798_CONF_INFO"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_REF"/>
                            <element name="X798_INFO_ADV_BK"/>
                            <element name="X798_PAYMENT_LIABILITY_22S"/>
                            <element name="X798_PAYMENT_TERMS_22R"/>
                            <element name="button1"/>
                            <element name="button2"/>
                            <element name="button3"/>
                            <element name="button4"/>
                            <element name="button5"/>
                            <element name="button6"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
