EE_PARA/EE_PARA/Default/FORM/form_multi_schema_198.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CANCEL_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FOR198_77E"/>
                            <element name="MT_NO"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_B2_BTN"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
