EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFDisputeReg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_TRAN_ID"/>
                            <element name="BA_UNIT_CODE"/>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DisputeReg">
                                <complexType>
                                    <sequence>
                                        <element name="FA_ACTION_CODE__DESC__"/>
                                        <element name="FA_ACTION_CODE"/>
                                        <element name="FA_BUSI_TYPE__DESC__"/>
                                        <element name="FA_BUSI_TYPE"/>
                                        <element name="FA_DOC_AMT"/>
                                        <element name="FA_DOC_CCY"/>
                                        <element name="FA_DOC_DT"/>
                                        <element name="FA_DOC_DUE_DT"/>
                                        <element name="FA_DOC_NO"/>
                                        <element name="FA_DOC_REF"/>
                                        <element name="FA_DOC_STATUS"/>
                                        <element name="FA_DOC_TYPE__DESC__"/>
                                        <element name="FA_DOC_TYPE"/>
                                        <element name="FA_DOC_VAL_DT"/>
                                        <element name="FA_DSP_AMT"/>
                                        <element name="FA_DSP_NO"/>
                                        <element name="FA_DSP_RSN_CODE__DESC__"/>
                                        <element name="FA_DSP_RSN_CODE"/>
                                        <element name="FA_DSP_RSN_TXT"/>
                                        <element name="FA_INV_LOAN_BAL"/>
                                        <element name="FA_MSG_TEXT02"/>
                                        <element name="FA_NOTIFY_BY__DESC__"/>
                                        <element name="FA_NOTIFY_BY"/>
                                        <element name="FA_NOTIFY_BY_NM"/>
                                        <element name="FA_PMT_TYPE__DESC__"/>
                                        <element name="FA_PMT_TYPE"/>
                                        <element name="FA_TEMP2"/>
                                        <element name="FA_TRF_DT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="FA_ACTION_TXT"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CUST_TYPE2__DESC__"/>
                            <element name="FA_CUST_TYPE2"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DSP_DT"/>
                            <element name="FA_DSP_NO"/>
                            <element name="FA_DSP_REF"/>
                            <element name="FA_DSP_RSN_TXT"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INDR_PMT_FLG__DESC__"/>
                            <element name="FA_INDR_PMT_FLG"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_NOTIFY_BY__DESC__"/>
                            <element name="FA_NOTIFY_BY"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="OWNER_BR_NM"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
