EE_PARA/EE_PARA/Default/FORM/form_multi_schema_DISC_Exp_InvPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CLERK_ID"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_DOC_AMT"/>
<element name="FA_DOC_BAL"/>
<element name="FA_DOC_CCY"/>
<element name="FA_DOC_DT"/>
<element name="FA_DOC_DUE_DT"/>
<element name="FA_DOC_NO"/>
<element name="FA_DOC_REF"/>
<element name="FA_DOC_VAL_DT"/>
<element name="FA_FINAL_PMT_FLG__DESC__"/>
<element name="FA_FINAL_PMT_FLG"/>
<element name="FA_INT_BAL"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_INV_EVENT_DT"/>
<element name="FA_INV_LOAN_BAL"/>
<element name="FA_INV_LOAN_ID"/>
<element name="FA_INV_LOAN_TIMES"/>
<element name="FA_INV_PMT_TIMES"/>
<element name="FA_INV_REFUND_INT"/>
<element name="FA_INV_STATUS"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_LOAN_CCY"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="FA_LOAN_INT_AMT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_PAID_INT_AMT"/>
<element name="FA_PAID_PRIN_AMT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_PMT_CCY"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_GRC_DAY"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_RPT_PAID_AMT"/>
<element name="FA_SUM_PERCENT"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP7"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT13"/>
<element name="FA_TEMP_AMT15"/>
<element name="FA_TEMP_AMT8"/>
<element name="FA_TEMP_AMT9"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_TEMP_DT2"/>
<element name="IA_C_UNIT_OF_CRT"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_Y_REFUND_INT"/>
<element name="TEMP_DATE1"/>
<element name="TEMP_DATE2"/>
<element name="TEMP_INV_BAL"/>
<element name="TEMP_LAST_PINT_DT"/>
<element name="TEMP_LOAN_BAL"/>
<element name="TEMP_PMT_TIMES"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
