EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_RevisionofCRReminder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_APPL_LMT_DUE_DT"/>
                            <element name="FA_BUSI_STATUS__DESC__"/>
                            <element name="FA_BUSI_STATUS"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_EDI_ID"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_CAA_REF"/>
                            <element name="FA_EF_ID"/>
                            <element name="FA_EF_NM"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_MSG_FUNC__DESC__"/>
                            <element name="FA_MSG_FUNC"/>
                            <element name="FA_MSG_TEXT"/>
                            <element name="FA_OWN_RISK_AMT"/>
                            <element name="FA_OWN_RISK_PERC"/>
                            <element name="FA_PMT_COND__DESC__"/>
                            <element name="FA_PMT_COND"/>
                            <element name="FA_PMT_TERMS"/>
                            <element name="FA_REQ_CODE__DESC__"/>
                            <element name="FA_REQ_CODE"/>
                            <element name="FA_SEL_EDI_ID"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="GTS_BR_ID"/>
                            <element name="GTS_BR_NM"/>
                            <element name="GTS_DISTRICT_CODE"/>
                            <element name="GTS_PRVN_ID"/>
                            <element name="PRODUCT_CODE"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
