EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_IFSUBEDI09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CRN_INV_LINK_NO"/>
                <element name="FA_DOC_AMT"/>
                <element name="FA_DOC_BAL"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_DT"/>
                <element name="FA_DOC_DUE_DT"/>
                <element name="FA_DOC_NO"/>
                <element name="FA_DOC_REF"/>
                <element name="FA_DOC_STATUS"/>
                <element name="FA_DOC_TYPE__DESC__"/>
                <element name="FA_DOC_TYPE"/>
                <element name="FA_DOC_VAL_DT"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IF_HAN_CHG_AMT"/>
                <element name="FA_IF_HAN_CHG_CCY"/>
                <element name="FA_IF_HAN_CHG_PAMT"/>
                <element name="FA_INVAMT_IN_LMT"/>
                <element name="FA_INV_LINK_REF"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_ORDER_NO"/>
                <element name="FA_PMT_COND__DESC__"/>
                <element name="FA_PMT_COND"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_PRM_DISC_DAYS"/>
                <element name="FA_PRM_DISC_RT"/>
                <element name="FA_SND_DISC_DAYS"/>
                <element name="FA_SND_DISC_RT"/>
                <element name="FA_STATE_MONTH"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP_AMT10"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TEMP_AMT12"/>
                <element name="FA_TEMP_AMT8"/>
                <element name="FA_TEMP_DT1"/>
                <element name="FA_TRF_DT"/>
                <element name="FA_TRF_REF"/>
                <element name="FINC_CCY1"/>
                <element name="TEMP_AMT5"/>
                <element name="TEMP_AMT9"/>
                <element name="TEMP_CHAR1"/>
                <element name="TEMP_CHAR5"/>
                <element name="TEMP_DATE2"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
