EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_PDC_CTGY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="RadioGroup1"/>
<element name="TSU_PDC_DESC"/>
<element name="TSU_PDC_OTID"/>
<element name="TSU_PDC_OTTP"/>
<element name="TSU_PDC_TP__DESC__"/>
<element name="TSU_PDC_TP"/>
</sequence>
</complexType>
</element>
</schema>
