EE_PARA/EE_PARA/Default/FORM/form_schema_PMAT_ManualMatchDeposit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BUYER_SETL__DESC__"/>
                <element name="ACC_BUYER_SETL"/>
                <element name="ACC_COLL_BK"/>
                <element name="ACC_FACI_ID"/>
                <element name="BUYR_BOS_ID"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_NM"/>
                <element name="CCY"/>
                <element name="C_MAIN_REF"/>
                <element name="C_UNIT_CODE"/>
                <element name="ChargeDetails">
                    <complexType>
                        <sequence>
                            <element name="BUYR_ID"/>
                            <element name="CCY"/>
                            <element name="CHG_STAT"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DUE_ON"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="FEE_AMT"/>
                            <element name="FEE_TP__DESC__"/>
                            <element name="FEE_TP"/>
                            <element name="FUND_RPT_ID"/>
                            <element name="PAID_ON"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="DEPOSIT_AMT"/>
                <element name="DEPOSIT_DT"/>
                <element name="I_EVENT_TIMES"/>
                <element name="Inq_FundingRpt"/>
                <element name="LMT_CSL_DESC"/>
                <element name="LMT_FACI_TY"/>
                <element name="MATCH_STAT__DESC__"/>
                <element name="MATCH_STAT"/>
                <element name="NUM_OF_INV"/>
                <element name="PMATConfirmInv">
                    <complexType>
                        <sequence>
                            <element name="ACC_BUYER_SETL"/>
                            <element name="AI_ACT_AMT"/>
                            <element name="AI_AMT_PAID"/>
                            <element name="AI_BALANCE"/>
                            <element name="AI_DUE_DT"/>
                            <element name="AI_ID"/>
                            <element name="AI_NUM"/>
                            <element name="AI_ORG_AMT"/>
                            <element name="AI_PMT_DT"/>
                            <element name="AI_SET_DT"/>
                            <element name="AI_STAT_BUYR_CD"/>
                            <element name="AI_STAT_STAFF_CD"/>
                            <element name="AI_STAT_SUPLR_CD"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="IS_FUNDED"/>
                            <element name="IS_SETTLED"/>
                            <element name="RECON_STAT"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="SUPLR_REF"/>
                            <element name="TAG_20"/>
                            <element name="TRAD_ACC_NO"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="PRE_ADV_AI"/>
                <element name="PRE_ADV_AMT"/>
                <element name="PRE_ADV_DT"/>
                <element name="RECON_STAT__DESC__"/>
                <element name="RECON_STAT"/>
                <element name="TAG_20"/>
                <element name="TAG_21"/>
                <element name="TEMP_CCY"/>
                <element name="TEMP_DEP_REF"/>
            </sequence>
        </complexType>
    </element>
</schema>
