EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SIC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_AC_ID"/>
<element name="CPYT_BENE_ADD1"/>
<element name="CPYT_BENE_ADD2"/>
<element name="CPYT_BENE_ADD3"/>
<element name="CPYT_BENE_ID"/>
<element name="CPYT_BENE_NM"/>
<element name="CPYT_CLE_NUM"/>
<element name="CPYT_DR_CR_CODE"/>
<element name="CPYT_ORD_TYPE"/>
<element name="CPYT_PAY_REAON1"/>
<element name="CPYT_PAY_REAON2"/>
<element name="CPYT_PAY_REAON3"/>
<element name="CPYT_PAY_REAON4"/>
<element name="CPYT_REV_ADD1"/>
<element name="CPYT_REV_ADD2"/>
<element name="CPYT_REV_ADD3"/>
<element name="CPYT_REV_ID"/>
<element name="CPYT_REV_NM"/>
<element name="CPYT_SIC_AMT"/>
<element name="CPYT_SIC_CCY"/>
<element name="CPYT_SIC_CR_AC"/>
<element name="CPYT_SIC_DR_AC"/>
<element name="CPYT_SIC_REF"/>
<element name="CPYT_SIC_VAL_DATE"/>
<element name="PARTY_REF"/>
<element name="lookup632"/>
<element name="lookup6322"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
