EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_ViewSBR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMT_AVAL_FOR_FUNDING"/>
                <element name="B_Credit2"/>
                <element name="CLERK_ID"/>
                <element name="CUST_ID"/>
                <element name="CUST_TYPE__DESC__"/>
                <element name="CUST_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="EXCH_RT1"/>
                <element name="FACI_BAL"/>
                <element name="FACI_TYPE"/>
                <element name="FA_ACK_FLG__DESC__"/>
                <element name="FA_ACK_FLG"/>
                <element name="FA_AGM_CCY"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_APPL_LMT_AMT"/>
                <element name="FA_APPL_LMT_CCY"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BK_CHG_INCD"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_AC_NO"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_BUYER_CITY"/>
                <element name="FA_BUYER_CNTY"/>
                <element name="FA_BUYER_CONT_MAIL"/>
                <element name="FA_BUYER_CONT_NM"/>
                <element name="FA_BUYER_CONT_TEL"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_PROV"/>
                <element name="FA_CMMR_CNTR_DTL"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_COUNTER_ADD_ML"/>
                <element name="FA_COUNTER_CE_FLG__DESC__"/>
                <element name="FA_COUNTER_CE_FLG"/>
                <element name="FA_COUNTER_CNTY"/>
                <element name="FA_COUNTER_CONT_EM"/>
                <element name="FA_COUNTER_CONT_NM"/>
                <element name="FA_COUNTER_CONT_TEL"/>
                <element name="FA_COUNTER_CT"/>
                <element name="FA_COUNTER_PROV"/>
                <element name="FA_COUNTER_REG_NO"/>
                <element name="FA_COUNTER_STR"/>
                <element name="FA_COUNTER_TYPE__DESC__"/>
                <element name="FA_COUNTER_TYPE"/>
                <element name="FA_CUST_FLAG__DESC__"/>
                <element name="FA_CUST_FLAG"/>
                <element name="FA_CUT_OFF_DAYS"/>
                <element name="FA_DEDUCT_CHG_PMT__DESC__"/>
                <element name="FA_DEDUCT_CHG_PMT"/>
                <element name="FA_DIRECT_DEBIT_FLG__DESC__"/>
                <element name="FA_DIRECT_DEBIT_FLG"/>
                <element name="FA_DOC_REF_TEMP"/>
                <element name="FA_DOC_REQD"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_EF_OTH_CHG_AMT"/>
                <element name="FA_EF_OTH_CHG_CCY"/>
                <element name="FA_GOODS_DES"/>
                <element name="FA_GOODS_NM"/>
                <element name="FA_HAN_CHG_CCY"/>
                <element name="FA_IF_COMM_RT"/>
                <element name="FA_IF_HAN_CHG_AMT"/>
                <element name="FA_IF_HAN_CHG_CCY"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_OTH_CHG_AMT"/>
                <element name="FA_IF_OTH_CHG_CCY"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_BAL"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MAX_AMT"/>
                <element name="FA_MAX_CCY"/>
                <element name="FA_MAX_FIN_AMT"/>
                <element name="FA_MAX_FIN_TENOR"/>
                <element name="FA_MIN_FIN_AMT"/>
                <element name="FA_MIN_FIN_TENOR"/>
                <element name="FA_OTH_CHG_CCY"/>
                <element name="FA_PCA_REF"/>
                <element name="FA_PRICE_DOC_FLG__DESC__"/>
                <element name="FA_PRICE_DOC_FLG"/>
                <element name="FA_PRM_DISC_DAYS"/>
                <element name="FA_PRM_DISC_RT"/>
                <element name="FA_RELATION_STATUS__DESC__"/>
                <element name="FA_RELATION_STATUS"/>
                <element name="FA_REQ_FIN_FLG__DESC__"/>
                <element name="FA_REQ_FIN_FLG"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_AC_NO"/>
                <element name="FA_SEL_ADD_ML"/>
                <element name="FA_SEL_CITY"/>
                <element name="FA_SEL_CNTY"/>
                <element name="FA_SEL_CONT_MAIL"/>
                <element name="FA_SEL_CONT_NM"/>
                <element name="FA_SEL_CONT_TEL"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_PROV"/>
                <element name="FA_SERVICE_APPRVD__DESC__"/>
                <element name="FA_SERVICE_APPRVD"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_SND_DISC_DAYS"/>
                <element name="FA_SND_DISC_RT"/>
                <element name="FA_SUPPLIER_REQ__DESC__"/>
                <element name="FA_SUPPLIER_REQ"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP_BK_ID1"/>
                <element name="FA_TTL_COMM_RT"/>
                <element name="FA_TTL_HAN_CHG"/>
                <element name="FA_TTL_INV_BAL"/>
                <element name="FA_TTL_INV_LOAN_AMT"/>
                <element name="FA_TTL_LOAN_BAL"/>
                <element name="FA_TTL_OTH_CHG"/>
                <element name="GRACE_DAYS"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_OUTC_APL"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="ORIG_FA_COUNTER_TYPE__DESC__"/>
                <element name="ORIG_FA_COUNTER_TYPE"/>
                <element name="QR_CD_FLD"/>
                <element name="RCUST_ID"/>
                <element name="SUB_DESC"/>
                <element name="TRX_DT"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
