EE_PARA/EE_PARA/Default/FORM/form_schema_std_CHG_Rule_Assign_Inq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AssignInfo"/>
                <element name="BUSIUNIT"/>
                <element name="COMMISSION_CODE"/>
                <element name="COMMRANGE"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_COMM_CODE_LIST"/>
                <element name="C_LEVEL_VALUE_T"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="C_TRX_STATUS"/>
                <element name="I_ASSIGN_LEVEL"/>
                <element name="I_ASSIGN_LEVEL_T"/>
                <element name="OP_TYPE"/>
                <element name="RATE_RULE_LIST"/>
                <element name="RULE_ASSIGN_FOR"/>
                <element name="RULE_ID"/>
                <element name="RuleInfo"/>
                <element name="SET_DEFAULT_RULE"/>
                <element name="TRXL_TYPE"/>
                <element name="_TRX_STATUS"/>
                <element name="add"/>
                <element name="listFrom"/>
                <element name="listTo"/>
                <element name="remove"/>
            </sequence>
        </complexType>
    </element>
</schema>
