EE_PARA/EE_PARA/Default/FORM/form_multi_schema_INVC_AttendRejectdAI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AI_ACT_AMT"/>
                            <element name="AI_DESC"/>
                            <element name="AI_DT"/>
                            <element name="AI_DUE_DT"/>
                            <element name="AI_NUM"/>
                            <element name="AI_ORG_AMT"/>
                            <element name="AI_SET_DT"/>
                            <element name="AI_STAT_BUYR_CD__DESC__"/>
                            <element name="AI_STAT_BUYR_CD"/>
                            <element name="AI_STAT_STAFF_CD__DESC__"/>
                            <element name="AI_STAT_STAFF_CD"/>
                            <element name="AI_STAT_SUPLR_CD__DESC__"/>
                            <element name="AI_STAT_SUPLR_CD"/>
                            <element name="BENE_NM"/>
                            <element name="BUYR_ADD1"/>
                            <element name="BUYR_ADD2"/>
                            <element name="BUYR_ADD3"/>
                            <element name="BUYR_DUNS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="BUYR_SCFNET_ID"/>
                            <element name="B_S_RELN_ID"/>
                            <element name="CCY"/>
                            <element name="CNTRY_ORGN"/>
                            <element name="CONSGN_ADD1"/>
                            <element name="CONSGN_ADD2"/>
                            <element name="CONSGN_NM"/>
                            <element name="C_MAIN_REF"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="EXCP_REMARK"/>
                            <element name="FRGHT_FWD_ADD1"/>
                            <element name="FRGHT_FWD_ADD2"/>
                            <element name="FRGHT_FWD_NM"/>
                            <element name="GOODS_DESC"/>
                            <element name="IF_AUTO_EP__DESC__"/>
                            <element name="IF_AUTO_EP"/>
                            <element name="IF_REF_BUYR__DESC__"/>
                            <element name="IF_REF_BUYR"/>
                            <element name="IF_REF_SUPLR__DESC__"/>
                            <element name="IF_REF_SUPLR"/>
                            <element name="INSRNC_CPNY_ADD1"/>
                            <element name="INSRNC_CPNY_ADD2"/>
                            <element name="INSRNC_CPNY_NM"/>
                            <element name="NOTE"/>
                            <element name="NTFY_PTY_ADD1"/>
                            <element name="NTFY_PTY_ADD2"/>
                            <element name="NTFY_PTY_NM"/>
                            <element name="PLC_DSTN"/>
                            <element name="PLC_LOADNG"/>
                            <element name="PO_DT"/>
                            <element name="PO_ID"/>
                            <element name="REJ_ATND_FLG__DESC__"/>
                            <element name="REJ_ATND_FLG"/>
                            <element name="REJ_EXCP_DETL"/>
                            <element name="SHPPG_AGT_ADD1"/>
                            <element name="SHPPG_AGT_ADD2"/>
                            <element name="SHPPG_AGT_NM"/>
                            <element name="SHPPG_CPNY_ADD1"/>
                            <element name="SHPPG_CPNY_ADD2"/>
                            <element name="SHPPG_CPNY_NM"/>
                            <element name="SUPLR_ADD1"/>
                            <element name="SUPLR_ADD2"/>
                            <element name="SUPLR_BK_ACC_NO"/>
                            <element name="SUPLR_BK_ADD1"/>
                            <element name="SUPLR_BK_ADD2"/>
                            <element name="SUPLR_BK_BIC"/>
                            <element name="SUPLR_BK_BR_CD"/>
                            <element name="SUPLR_BK_NM"/>
                            <element name="SUPLR_BK_NMW"/>
                            <element name="SUPLR_CITY_NM"/>
                            <element name="SUPLR_CNTC_DETL"/>
                            <element name="SUPLR_CNTRY_CD"/>
                            <element name="SUPLR_EMAIL"/>
                            <element name="SUPLR_IBAN_NO"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="SUPLR_PHONE_NO"/>
                            <element name="SUPLR_POST_CD"/>
                            <element name="SUPLR_REF"/>
                            <element name="SUPLR_STATE_CD"/>
                            <element name="TRNSSHIPMNT_PLC"/>
                            <element name="TRX_DT"/>
                            <element name="TRX_TP_CD"/>
                            <element name="VSSL_NM"/>
                            <element name="VSSL_PRE_NM"/>
                            <element name="WOLF_CHK_RESN_CD__DESC__"/>
                            <element name="WOLF_CHK_RESN_CD"/>
                            <element name="WOLF_CHK_RESP_CD__DESC__"/>
                            <element name="WOLF_CHK_RESP_CD"/>
                            <element name="WOLF_DTL"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
