EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_Inq_MemberF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="LM_ALLW_LMT"/>
                <element name="LM_AVI_APL"/>
                <element name="LM_CRED_LMT"/>
                <element name="LM_CRT_DAY"/>
                <element name="LM_CSH_RATE"/>
                <element name="LM_CSL_ID"/>
                <element name="LM_DEDU_FLAG"/>
                <element name="LM_DUE_DAY"/>
                <element name="LM_EXCE_FLAG"/>
                <element name="LM_FACI_ID"/>
                <element name="LM_FAC_CCY"/>
                <element name="LM_MDDR"/>
                <element name="LM_OUTC_APL"/>
                <element name="LM_OUTC_APV"/>
                <element name="LM_OUTD_APL"/>
                <element name="LM_OUTD_APV"/>
                <element name="LM_OVER_OUT"/>
                <element name="LM_REVV_FLAG"/>
                <element name="LM_SINC_APL"/>
                <element name="LM_SIN_APL"/>
                <element name="LM_SIN_APV"/>
                <element name="LM_SIN_LMT"/>
                <element name="LM_SOUTC_APL"/>
                <element name="LM_SOUT_APL"/>
                <element name="LM_SOUT_APV"/>
                <element name="LM_SOUT_LMT"/>
                <element name="LM_STATUS"/>
                <element name="LM_STR_DAY"/>
                <element name="LM_TENOR"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
