EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_PartyIdentification28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_PARTY_ID__DESC__"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_PARTY_NM"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
