EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FIN_AccountIdentification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="FIN_ACCOUNT"/>
                            <element name="FIN_AC_CCY"/>
                            <element name="FIN_AC_NM"/>
                            <element name="FIN_AC_TPCD"/>
                            <element name="FIN_AC_TPID"/>
                            <element name="FIN_BBAN"/>
                            <element name="FIN_IBAN"/>
                            <element name="FIN_UPIC"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
