EE_PARA/EE_PARA/Default/FORM/form_schema_Std_SupplierAccountEnquire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BIC_3RD"/>
                <element name="ACC_BK_NM_3RD"/>
                <element name="ACC_BRANCH"/>
                <element name="ACC_ID"/>
                <element name="ACC_INTL_BK"/>
                <element name="ACC_OWN_TP_CD__DESC__"/>
                <element name="ACC_OWN_TP_CD"/>
                <element name="ACC_PUPOSE"/>
                <element name="ACC_SH_NM"/>
                <element name="ACC_TP_CD"/>
                <element name="CUST_NM"/>
                <element name="C_AC_NUMBER"/>
                <element name="C_AC_STAT__DESC__"/>
                <element name="C_AC_STAT"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CURRENCY"/>
                <element name="C_CUST_ID"/>
                <element name="INST_FIN_CD"/>
                <element name="OP_TYPE"/>
                <element name="REMARKS"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
