EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_StatusExtensionNotification_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_REQ_EXT_DESC"/>
                <element name="TSUR2_STS_NONXTNDED__DESC__"/>
                <element name="TSUR2_STS_NONXTNDED"/>
                <element name="TSUR2_STS_TOBXTNDED__DESC__"/>
                <element name="TSUR2_STS_TOBXTNDED"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_BASELN_ID"/>
                <element name="TSU_BASELN_VRSN"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_OUR_BIC"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_REQ_ACT_DESC"/>
                <element name="TSU_RL_MSG_ID"/>
                <element name="TSU_STS_XTNDED_DTTM"/>
                <element name="TSU_SUBMITR_BIC"/>
                <element name="TSU_THEIR_BIC"/>
                <element name="TSU_THEIR_REF"/>
                <element name="TSU_TID"/>
                <element name="TSU_TRX_DTTM"/>
            </sequence>
        </complexType>
    </element>
</schema>
