EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_CertDataSetReqrd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_AUTH_INSPC_IND__DESC__"/>
<element name="TSU_AUTH_INSPC_IND"/>
<element name="TSU_CERT_TP__DESC__"/>
<element name="TSU_CERT_TP"/>
<element name="TSU_MANUF_CTRY"/>
<element name="TSU_MANUF_ID"/>
<element name="TSU_MANUF_IDTP"/>
<element name="TSU_MTCH_CONSGN__DESC__"/>
<element name="TSU_MTCH_CONSGN"/>
<element name="TSU_MTCH_INSPC_DTTM__DESC__"/>
<element name="TSU_MTCH_INSPC_DTTM"/>
<element name="TSU_MTCH_ISS_CTRY"/>
<element name="TSU_MTCH_ISS_DTTM__DESC__"/>
<element name="TSU_MTCH_ISS_DTTM"/>
<element name="TSU_MTCH_ISS_ID"/>
<element name="TSU_MTCH_ISS_IDTP"/>
<element name="TSU_MTCH_ISS_NM"/>
<element name="TSU_MTCH_MAUF_NM"/>
</sequence>
</complexType>
</element>
</schema>
