EE_PARA/EE_PARA/Default/FORM/form_schema_RPFM_RiskClaim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AC_BK_SW_ADD"/>
                <element name="AC_BK_SW_TAG"/>
                <element name="AC_WT_BK_ADD1"/>
                <element name="AC_WT_BK_ADD2"/>
                <element name="AC_WT_BK_ADD3"/>
                <element name="AC_WT_BK_ID"/>
                <element name="AC_WT_BK_ID_BTN"/>
                <element name="AC_WT_BK_NM"/>
                <element name="ADV_DT"/>
                <element name="AdviceForBankCust">
                    <complexType>
                        <sequence>
                            <element name="BANK_N90_REF_20"/>
                            <element name="BANK_N90_REF_21"/>
                            <element name="BANK_NARR_MAIL"/>
                            <element name="BANK_NARR_TAG_79"/>
                            <element name="CUST_NARR_TAG_79"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="I_EVENT_TIMES"/>
                            <element name="MAIL_MTHD_BANK__DESC__"/>
                            <element name="MAIL_MTHD_BANK"/>
                            <element name="MAIL_MTHD_CUST__DESC__"/>
                            <element name="MAIL_MTHD_CUST"/>
                            <element name="MESG_TYPE_BANK__DESC__"/>
                            <element name="MESG_TYPE_BANK"/>
                            <element name="MESG_TYPE_CUST__DESC__"/>
                            <element name="MESG_TYPE_CUST"/>
                            <element name="SEND_TO_BANK_ADD1"/>
                            <element name="SEND_TO_BANK_ADD2"/>
                            <element name="SEND_TO_BANK_ADD3"/>
                            <element name="SEND_TO_BANK_EMAIL"/>
                            <element name="SEND_TO_BANK_FAX"/>
                            <element name="SEND_TO_BANK_ID"/>
                            <element name="SEND_TO_BANK_LANG__DESC__"/>
                            <element name="SEND_TO_BANK_LANG"/>
                            <element name="SEND_TO_BANK_MAIL"/>
                            <element name="SEND_TO_BANK_NM"/>
                            <element name="SEND_TO_BANK_NOTES"/>
                            <element name="SEND_TO_BANK_POST_ADD"/>
                            <element name="SEND_TO_BANK_REF"/>
                            <element name="SEND_TO_BANK_TLX"/>
                            <element name="SEND_TO_BK_SW_ADD"/>
                            <element name="SEND_TO_BK_SW_ADD_OLD"/>
                            <element name="SEND_TO_BK_SW_TAG"/>
                            <element name="SEND_TO_CUST_ADD1"/>
                            <element name="SEND_TO_CUST_ADD2"/>
                            <element name="SEND_TO_CUST_ADD3"/>
                            <element name="SEND_TO_CUST_EMAIL"/>
                            <element name="SEND_TO_CUST_FAX"/>
                            <element name="SEND_TO_CUST_ID"/>
                            <element name="SEND_TO_CUST_LANG__DESC__"/>
                            <element name="SEND_TO_CUST_LANG"/>
                            <element name="SEND_TO_CUST_MAIL"/>
                            <element name="SEND_TO_CUST_NM"/>
                            <element name="SEND_TO_CUST_NOTES"/>
                            <element name="SEND_TO_CUST_POST_ADD"/>
                            <element name="SEND_TO_CUST_REF"/>
                            <element name="SEND_TO_CUST_TLX"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CFNC_DISCOUNT_AMT"/>
                <element name="CFNC_DISCOUNT_CCY"/>
                <element name="CFNC_DISCOUNT_DT"/>
                <element name="CFNC_DISCOUNT_NO"/>
                <element name="CFNC_MARGIN_AC"/>
                <element name="CFNC_MARGIN_AMT"/>
                <element name="CFNC_TRAN_CODE"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLAIM_AMT"/>
                <element name="CLERK_ID"/>
                <element name="CLM_CCY"/>
                <element name="CLM_DT"/>
                <element name="CNTY_CODE"/>
                <element name="CONF_BAL"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="C_TRX_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DISCNT_FLG__DESC__"/>
                <element name="DISCNT_FLG"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FUND_AMT"/>
                <element name="FUND_CCY"/>
                <element name="FUND_FLAG__DESC__"/>
                <element name="FUND_FLAG"/>
                <element name="LC_NO"/>
                <element name="LEAD_BK_ADD_ORDER_NO"/>
                <element name="LEAD_MAIL_ADD_ORDER_NO"/>
                <element name="LOGIN_BIC"/>
                <element name="MAST_END_DT"/>
                <element name="MAST_LC_AMT"/>
                <element name="MAST_LC_BAL"/>
                <element name="MAST_LC_BAL_CCY"/>
                <element name="MAST_LC_CCY"/>
                <element name="MAST_RISK_AMT"/>
                <element name="MAST_RISK_CCY"/>
                <element name="MAST_START_DT"/>
                <element name="MODULE_SELECT"/>
                <element name="MSG_TYPE"/>
                <element name="MT400_TAG_32K__DESC__"/>
                <element name="MT400_TAG_32K"/>
                <element name="NOTES"/>
                <element name="NO_OF_AMD"/>
                <element name="OBLG_ADD1"/>
                <element name="OBLG_ADD2"/>
                <element name="OBLG_ADD3"/>
                <element name="OBLG_ID"/>
                <element name="OBLG_ID_BTN"/>
                <element name="OBLG_NM"/>
                <element name="OBLG_REF_NO"/>
                <element name="OBLG_SWIFT_ADD"/>
                <element name="OBLG_SWIFT_TAG"/>
                <element name="PART_CNTR"/>
                <element name="PART_CNTR_REF"/>
                <element name="PART_ID_BTN"/>
                <element name="PART_PER"/>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="RISK_FLAG__DESC__"/>
                <element name="RISK_FLAG"/>
                <element name="RPFM_DAYS"/>
                <element name="RPFM_EXC_RATE"/>
                <element name="RPFM_FACI_TP"/>
                <element name="RPFM_NOSTRO_DR_AC"/>
                <element name="RPFM_PYMT_FEE"/>
                <element name="SET_BAL"/>
                <element name="SOURCE_REF"/>
                <element name="SOURCE_REF_BTN2"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SUB_LMT_ID"/>
                <element name="SYND_PART_ADD1"/>
                <element name="SYND_PART_ADD2"/>
                <element name="SYND_PART_ADD3"/>
                <element name="SYND_PART_AGRMT_NO"/>
                <element name="SYND_PART_AMT"/>
                <element name="SYND_PART_CCY"/>
                <element name="SYND_PART_CORR_MED__DESC__"/>
                <element name="SYND_PART_CORR_MED"/>
                <element name="SYND_PART_DISCLS__DESC__"/>
                <element name="SYND_PART_DISCLS"/>
                <element name="SYND_PART_EXP_DT"/>
                <element name="SYND_PART_ID"/>
                <element name="SYND_PART_NM"/>
                <element name="SYND_PART_REF_NO"/>
                <element name="SYND_PART_START_DT"/>
                <element name="SYND_PART_SW_ADD"/>
                <element name="SYND_PART_SW_TAG"/>
                <element name="SYND_PART_TYPE__DESC__"/>
                <element name="SYND_PART_TYPE"/>
                <element name="TEMP_ACC_BRANCH"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_COMM_FEE"/>
                <element name="TEMP_N90_REF_20"/>
                <element name="TEMP_N90_REF_21"/>
                <element name="TEMP_SYND_PART_AMT"/>
                <element name="TEMP_TRX_REF"/>
                <element name="TOTAL_RISK_AMT"/>
                <element name="TRX_CCY"/>
                <element name="TRX_TYPE"/>
                <element name="TRX_TYPE2"/>
                <element name="WEB_REF"/>
                <element name="X730_ACC_BKACNO57A"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
