EE_PARA/EE_PARA/Default/FORM/form_schema_Participant Details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMD_REG_DT"/>
                <element name="CHG_POLICY__DESC__"/>
                <element name="CHG_POLICY"/>
                <element name="COMM_DT"/>
                <element name="COMM_END_DT"/>
                <element name="COMM_PRE"/>
                <element name="COMM_SCHE__DESC__"/>
                <element name="COMM_SCHE"/>
                <element name="COMM_START_DT"/>
                <element name="COMM_TYPE__DESC__"/>
                <element name="COMM_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DEC_AMT"/>
                <element name="FUND_AMT"/>
                <element name="FUND_FLAG__DESC__"/>
                <element name="FUND_FLAG"/>
                <element name="INC_AMT"/>
                <element name="I_SEQ_NUM"/>
                <element name="NEW_PART_SYND_PER"/>
                <element name="NXT_COMM_DT"/>
                <element name="PART_EMAIL_ADD"/>
                <element name="PART_FAX_NO"/>
                <element name="PART_MAIL_ADD"/>
                <element name="PART_MAIL_ADD_BTN"/>
                <element name="PART_PER"/>
                <element name="PART_TLX_NO"/>
                <element name="SYND_ACWTBK_ADD_ORDER_NO"/>
                <element name="SYND_ACWT_BK_SWTAG"/>
                <element name="SYND_AC_NO"/>
                <element name="SYND_AC_WT_BK_ADD1"/>
                <element name="SYND_AC_WT_BK_ADD2"/>
                <element name="SYND_AC_WT_BK_ADD3"/>
                <element name="SYND_AC_WT_BK_ADD_BTN"/>
                <element name="SYND_AC_WT_BK_ID"/>
                <element name="SYND_AC_WT_BK_ID_BTN"/>
                <element name="SYND_AC_WT_BK_NM"/>
                <element name="SYND_AC_WT_BK_SWAD"/>
                <element name="SYND_AC_WT_NOTES"/>
                <element name="SYND_AMT"/>
                <element name="SYND_CHG_NARR"/>
                <element name="SYND_PART_ADD1"/>
                <element name="SYND_PART_ADD2"/>
                <element name="SYND_PART_ADD3"/>
                <element name="SYND_PART_ADD_BTN"/>
                <element name="SYND_PART_AMT"/>
                <element name="SYND_PART_AMT_PERCENT"/>
                <element name="SYND_PART_CCY"/>
                <element name="SYND_PART_CNTY_CD"/>
                <element name="SYND_PART_DISCLS__DESC__"/>
                <element name="SYND_PART_DISCLS"/>
                <element name="SYND_PART_FAMT"/>
                <element name="SYND_PART_ID"/>
                <element name="SYND_PART_ID_BTN"/>
                <element name="SYND_PART_LIABACNO"/>
                <element name="SYND_PART_LIABACNO_BTN"/>
                <element name="SYND_PART_NAMT"/>
                <element name="SYND_PART_NM"/>
                <element name="SYND_PART_NOTES"/>
                <element name="SYND_PART_ORDER_MAIL"/>
                <element name="SYND_PART_ORDER_NO"/>
                <element name="SYND_PART_REF"/>
                <element name="SYND_PART_START_DT"/>
                <element name="SYND_PART_SW_ADD"/>
                <element name="SYND_PART_SW_TAG"/>
                <element name="SYND_PART_TYPE__DESC__"/>
                <element name="SYND_PART_TYPE"/>
                <element name="SYND_TLUNPDCHG_AMT"/>
                <element name="SYND_TLUNPDCHG_BAL"/>
                <element name="SYND_TLUNPDCHG_CCY"/>
                <element name="TEMP_ISSUE_DATE"/>
            </sequence>
        </complexType>
    </element>
</schema>
