EE_PARA/EE_PARA/Default/FORM/form_schema_FFIT_Financing2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACPT_AMT"/>
                <element name="ACPT_BK_ID"/>
                <element name="ACPT_BK_NM"/>
                <element name="ACPT_CCY"/>
                <element name="ACTUAL_COST_RT"/>
                <element name="ACTUAL_REVENUE"/>
                <element name="AUTH_BLACK"/>
                <element name="AUTH_POINT1"/>
                <element name="AUTH_POINT2"/>
                <element name="BAL_FFT"/>
                <element name="BAL_FLG"/>
                <element name="BLACK_DATA_TYPE"/>
                <element name="BLACK_INSTYP"/>
                <element name="BLACK_TRX_TYPE"/>
                <element name="BOOKING_RT"/>
                <element name="BOOKING_USRT"/>
                <element name="BRANCH_REMARK_ORG"/>
                <element name="BUYING_CLOSE_RT"/>
                <element name="BUYING_CLOSE_USRT"/>
                <element name="BUYING_CUST_RT"/>
                <element name="BUYING_CUST_USRT"/>
                <element name="BUYING_FAV_RT"/>
                <element name="BUYING_RT"/>
                <element name="BUYING_USRT"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CLOSE_COMMIT_DT"/>
                <element name="CNTY_CODE"/>
                <element name="COMMIT_AMT"/>
                <element name="COMMIT_BAL"/>
                <element name="COMMIT_CCY"/>
                <element name="COMMIT_CPS_DT"/>
                <element name="COMMIT_DAYS"/>
                <element name="COMMIT_DUE_DT"/>
                <element name="COMMIT_FEE_RT"/>
                <element name="COMMIT_NO"/>
                <element name="COMMIT_START_DT"/>
                <element name="COMMODITY"/>
                <element name="COMMON_PRDT_CODE"/>
                <element name="CONF_BK_NM"/>
                <element name="COUNTER_CNTY_CODE"/>
                <element name="COVER_BR_ID"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_FIN_ALERT_MSG"/>
                <element name="C_FIN_ALERT_STATUS"/>
                <element name="C_FIN_MSG_ID"/>
                <element name="C_FIN_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DEBT_INSMT_TYPE"/>
                <element name="DISTRICT_CODE"/>
                <element name="DLY_COMMIT_FEE"/>
                <element name="DRAFTS_FLG"/>
                <element name="EVENT_TYPE__DESC__"/>
                <element name="EVENT_TYPE"/>
                <element name="EXPT_ID"/>
                <element name="EXPT_NM"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FFIT_REMARK"/>
                <element name="FFT_BK_ID"/>
                <element name="FFT_BK_NM_ADD"/>
                <element name="FFT_CHG_FLG"/>
                <element name="FFT_TRF_FLG"/>
                <element name="FINANCE_FLG"/>
                <element name="FINC_930_AC_NO"/>
                <element name="FINC_930_BUSI_TYPE"/>
                <element name="FINC_AC_NO"/>
                <element name="FINC_AC_TYPE"/>
                <element name="FINC_ADVC_BUSI_TYPE"/>
                <element name="FINC_AMT"/>
                <element name="FINC_BAL"/>
                <element name="FINC_BASIC_DAYS"/>
                <element name="FINC_BILL_DUE_DT"/>
                <element name="FINC_CCY"/>
                <element name="FINC_CCY_CLOSE_RT"/>
                <element name="FINC_CCY_CUST_RT"/>
                <element name="FINC_CCY_EXCH_RT"/>
                <element name="FINC_CNTY_CODE"/>
                <element name="FINC_CNY_AMT1"/>
                <element name="FINC_CNY_AMT2"/>
                <element name="FINC_CPS_DT"/>
                <element name="FINC_CR_AMT"/>
                <element name="FINC_CUST_ID"/>
                <element name="FINC_DAYS"/>
                <element name="FINC_DAYS_GAPI"/>
                <element name="FINC_DAYS_ORG"/>
                <element name="FINC_DECIMAL_NUM"/>
                <element name="FINC_DEVAL_MODE"/>
                <element name="FINC_DR_AMT"/>
                <element name="FINC_DT"/>
                <element name="FINC_DT_GAPI"/>
                <element name="FINC_DUE_DT"/>
                <element name="FINC_DUE_DT_PRE"/>
                <element name="FINC_EQ_AMT"/>
                <element name="FINC_EXCH_INCM"/>
                <element name="FINC_FUNC_ID"/>
                <element name="FINC_INIT_FLG"/>
                <element name="FINC_INT"/>
                <element name="FINC_LAST_PMT_DT"/>
                <element name="FINC_MODU_ID"/>
                <element name="FINC_NET_AMT"/>
                <element name="FINC_NET_TRX_AMT"/>
                <element name="FINC_PAY_INT"/>
                <element name="FINC_PAY_LIBOR"/>
                <element name="FINC_PAY_MARGIN"/>
                <element name="FINC_PAY_SOURCE"/>
                <element name="FINC_PCT"/>
                <element name="FINC_PMT_DT"/>
                <element name="FINC_P_EXCH_RPTNO"/>
                <element name="FINC_RISK_LEVEL"/>
                <element name="FINC_RT"/>
                <element name="FINC_RT_1ST"/>
                <element name="FINC_S_EXCH_RPTNO"/>
                <element name="FINC_TRX_AMT"/>
                <element name="FINC_TRX_CCY"/>
                <element name="FINC_TRX_FLG"/>
                <element name="FINC_TRX_NO"/>
                <element name="FINC_TRX_TYPE"/>
                <element name="FINC_TYPE__DESC__"/>
                <element name="FINC_TYPE"/>
                <element name="FINC_TYPE_DESC"/>
                <element name="FINC_UNIT_CODE"/>
                <element name="GL_BUSI_TYPE"/>
                <element name="GL_FINC_TYPE"/>
                <element name="GOODS_NM"/>
                <element name="GRACE_DAYS"/>
                <element name="GRACE_FLG"/>
                <element name="GTS_BR_ID"/>
                <element name="GTS_DISTRICT_CODE"/>
                <element name="GTS_PRVN_ID"/>
                <element name="INT_MODE"/>
                <element name="INT_MTHD"/>
                <element name="INT_SBJT1"/>
                <element name="INT_SBJT2"/>
                <element name="INT_SBJT3"/>
                <element name="INT_SBJT4"/>
                <element name="INT_SBJT5"/>
                <element name="INT_SBJT6"/>
                <element name="ISSUE_BK_NM"/>
                <element name="IS_GPI_MEMBER__DESC__"/>
                <element name="IS_GPI_MEMBER"/>
                <element name="LC_NO"/>
                <element name="LC_TYPE__DESC__"/>
                <element name="LC_TYPE"/>
                <element name="LIBOR_RT"/>
                <element name="LOGIN_BIC"/>
                <element name="MARGIN_INT_FLG"/>
                <element name="MARGIN_RT"/>
                <element name="MARGIN_RT_ORG"/>
                <element name="MATURITY"/>
                <element name="MNL_MSG_AMT"/>
                <element name="MRGN_TEMP_NO1"/>
                <element name="MRGN_TEMP_NO3_S"/>
                <element name="MSG_TYPE"/>
                <element name="MULTI_DUE_DT_FLG"/>
                <element name="NET_CR_AMT1"/>
                <element name="NEW_REMARK"/>
                <element name="OVER_AC_NO"/>
                <element name="PRE_DEDUCTED_CHG"/>
                <element name="PRE_FINC_INT"/>
                <element name="PRE_FINC_LIBOR"/>
                <element name="PRE_FINC_MARGIN"/>
                <element name="PRE_OVS_CHG"/>
                <element name="PRODUCT_CODE"/>
                <element name="RATE_BASE"/>
                <element name="RCVA_INT"/>
                <element name="REAL_RT"/>
                <element name="REMARK_COLL"/>
                <element name="RPT_FINC_CCY_AC_NO"/>
                <element name="RPT_FINC_CNY_AC_NO"/>
                <element name="RPT_FINC_CNY_AMT"/>
                <element name="RPT_FINC_EXCH_RT"/>
                <element name="RPT_FINC_IN_CHG"/>
                <element name="SELLING_CLOSE_RT"/>
                <element name="SELLING_CLOSE_USRT"/>
                <element name="SELLING_CUST_RT"/>
                <element name="SELLING_CUST_USRT"/>
                <element name="SELLING_FAV_RT"/>
                <element name="SELLING_RT"/>
                <element name="SELLING_USRT"/>
                <element name="SELL_BK_ADD"/>
                <element name="SELL_BK_ID"/>
                <element name="SELL_BK_NM"/>
                <element name="SELL_BK_REF"/>
                <element name="SELL_BK_SW"/>
                <element name="SERVICE_TYPE_ID_GPI_111"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO10"/>
                <element name="TEMP_AC_NO11"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_ADD4"/>
                <element name="TEMP_AMT"/>
                <element name="TEMP_AMT1"/>
                <element name="TEMP_AMT10"/>
                <element name="TEMP_AMT11"/>
                <element name="TEMP_AMT13"/>
                <element name="TEMP_AMT2"/>
                <element name="TEMP_AMT3"/>
                <element name="TEMP_AMT38"/>
                <element name="TEMP_AMT39"/>
                <element name="TEMP_AMT4"/>
                <element name="TEMP_AMT5"/>
                <element name="TEMP_AMT6"/>
                <element name="TEMP_AMT7"/>
                <element name="TEMP_AMT8"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_CHAR1"/>
                <element name="TEMP_CHAR11"/>
                <element name="TEMP_CHAR18"/>
                <element name="TEMP_CHAR19"/>
                <element name="TEMP_CHAR2"/>
                <element name="TEMP_CHAR3"/>
                <element name="TEMP_CHAR4"/>
                <element name="TEMP_CHAR6"/>
                <element name="TEMP_FLG1__DESC__"/>
                <element name="TEMP_FLG1"/>
                <element name="TEMP_FLG2"/>
                <element name="TEMP_FLG5"/>
                <element name="TEMP_FLG6"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_INT1"/>
                <element name="TEMP_NM2"/>
                <element name="TEMP_RESULT"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="TRX_NO"/>
                <element name="TTL_FINANCE_FEE"/>
                <element name="Telex_1"/>
                <element name="Telex_2"/>
                <element name="Telex_3"/>
                <element name="Telex_4"/>
                <element name="Telex_5"/>
                <element name="Telex_6"/>
                <element name="Telex_7"/>
                <element name="UETR_GPI_121"/>
                <element name="VENT_TEMP_NO1"/>
                <element name="VENT_TEMP_NO1_S"/>
                <element name="VENT_TEMP_NO2"/>
                <element name="VENT_TEMP_NO2_S"/>
                <element name="VENT_TEMP_NO3_S"/>
                <element name="WEB_REF"/>
                <element name="X202BENEBKADD1_58A"/>
                <element name="X202BENEBKADD2_58A"/>
                <element name="X202BENEBKADD3_58A"/>
                <element name="X202MEDIBKADD1_56A"/>
                <element name="X202MEDIBKADD2_56A"/>
                <element name="X202MEDIBKADD3_56A"/>
                <element name="X202RECCORRACNO54A"/>
                <element name="X202SENDCORACNO53A"/>
                <element name="X202SENDCORADD153A"/>
                <element name="X202SENDCORADD253A"/>
                <element name="X202SENDCORADD353A"/>
                <element name="X202SENDCORRMED53A__DESC__"/>
                <element name="X202SENDCORRMED53A"/>
                <element name="X202_1_B2"/>
                <element name="X202_ACCBKADD1_57A"/>
                <element name="X202_ACCBKADD2_57A"/>
                <element name="X202_ACCBKADD3_57A"/>
                <element name="X202_ACC_BKACNO57A"/>
                <element name="X202_ACC_BKID_57A"/>
                <element name="X202_ACC_BKMED57A__DESC__"/>
                <element name="X202_ACC_BKMED57A"/>
                <element name="X202_ACC_BKNM_57A"/>
                <element name="X202_ACC_BKSW_57A"/>
                <element name="X202_ADV_BKADD1_B2"/>
                <element name="X202_ADV_BKADD2_B2"/>
                <element name="X202_ADV_BKADD3_B2"/>
                <element name="X202_ADV_BKID_B2"/>
                <element name="X202_ADV_BKMED_B2__DESC__"/>
                <element name="X202_ADV_BKMED_B2"/>
                <element name="X202_ADV_BKNM_B2"/>
                <element name="X202_ADV_BKSW_B2"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_BENEBKACNO58A"/>
                <element name="X202_BENEBKMED_58A__DESC__"/>
                <element name="X202_BENEBKMED_58A"/>
                <element name="X202_BENE_BKID_58A"/>
                <element name="X202_BENE_BKNM_58A"/>
                <element name="X202_BENE_BKSW_58A"/>
                <element name="X202_BKTOBK_INFO72"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_MEDIBKACNO56A"/>
                <element name="X202_MEDI_BKID_56A"/>
                <element name="X202_MEDI_BKMED56A__DESC__"/>
                <element name="X202_MEDI_BKMED56A"/>
                <element name="X202_MEDI_BKNM_56A"/>
                <element name="X202_MEDI_BKSW_56A"/>
                <element name="X202_ORDBKACNO_52A"/>
                <element name="X202_ORDBKADD1_52A"/>
                <element name="X202_ORDBKADD2_52A"/>
                <element name="X202_ORDBKADD3_52A"/>
                <element name="X202_ORDBK_ID_52A"/>
                <element name="X202_ORDBK_MED_52A__DESC__"/>
                <element name="X202_ORDBK_MED_52A"/>
                <element name="X202_ORDBK_NM_52A"/>
                <element name="X202_ORDBK_SW_52A"/>
                <element name="X202_RECCORADD154A"/>
                <element name="X202_RECCORADD254A"/>
                <element name="X202_RECCORADD354A"/>
                <element name="X202_RECCORRID_54A"/>
                <element name="X202_RECCORRMED54A__DESC__"/>
                <element name="X202_RECCORRMED54A"/>
                <element name="X202_RECCORRNM_54A"/>
                <element name="X202_RECCORRSW_54A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_SENDCORRID53A"/>
                <element name="X202_SENDCORRNM53A"/>
                <element name="X202_SENDCORRSW53A"/>
                <element name="X202_TAG_52A"/>
                <element name="X202_TAG_53A"/>
                <element name="X202_TAG_54A"/>
                <element name="X202_TAG_56A"/>
                <element name="X202_TAG_57A"/>
                <element name="X202_TAG_58A"/>
                <element name="X202_TAG_B2"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="lookup2"/>
                <element name="lookup24"/>
                <element name="lookup3"/>
                <element name="lookup63"/>
                <element name="lookup632"/>
                <element name="lookup633"/>
                <element name="select"/>
            </sequence>
        </complexType>
    </element>
</schema>
