EE_PARA/EE_PARA/Default/FORM/form_multi_schema_MarginHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_OPERATION_FLAG"/>
<element name="MRGN_AMT"/>
<element name="MRGN_AMT_CHANGED"/>
<element name="MRGN_BAL"/>
<element name="MRGN_CCY"/>
<element name="MRGN_PCT"/>
<element name="MRGN_PCT_CHK"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
