EE_PARA/EE_PARA/Default/FORM/form_schema_EXLC_PreAdviceLC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ADD_AMT_COVRD"/>
                <element name="ADV_LC_BY__DESC__"/>
                <element name="ADV_LC_BY"/>
                <element name="ADV_THRU_BK_ID_BTN"/>
                <element name="ADV_THU_BK_AC_NO"/>
                <element name="ADV_THU_BK_ADD1"/>
                <element name="ADV_THU_BK_ADD2"/>
                <element name="ADV_THU_BK_ADD3"/>
                <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                <element name="ADV_THU_BK_CORR_MED"/>
                <element name="ADV_THU_BK_ID"/>
                <element name="ADV_THU_BK_NM"/>
                <element name="ADV_THU_BK_SW_ADD"/>
                <element name="ADV_THU_BK_SW_TAG"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_BK_AC_NO"/>
                <element name="APPL_BK_ADD1"/>
                <element name="APPL_BK_ADD2"/>
                <element name="APPL_BK_ADD3"/>
                <element name="APPL_BK_CORR_MED__DESC__"/>
                <element name="APPL_BK_CORR_MED"/>
                <element name="APPL_BK_ID"/>
                <element name="APPL_BK_ID_BTN"/>
                <element name="APPL_BK_NM"/>
                <element name="APPL_BK_SW_ADD"/>
                <element name="APPL_BK_SW_TAG"/>
                <element name="APPL_CORR_MED1__DESC__"/>
                <element name="APPL_CORR_MED1"/>
                <element name="APPL_EMAIL_1"/>
                <element name="APPL_FAX_NO_1"/>
                <element name="APPL_ID"/>
                <element name="APPL_ID_BTN"/>
                <element name="APPL_MOBILE_NO"/>
                <element name="APPL_NM"/>
                <element name="APPL_VAT_REG_NO"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="AVAL_WT_BK_ADD1"/>
                <element name="AVAL_WT_BK_ADD2"/>
                <element name="AVAL_WT_BK_ADD3"/>
                <element name="AVAL_WT_BK_CORR_MED__DESC__"/>
                <element name="AVAL_WT_BK_CORR_MED"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="AVAL_WT_BK_NM"/>
                <element name="AVAL_WT_BK_SW_ADD"/>
                <element name="AVAL_WT_BK_SW_TAG"/>
                <element name="AVLBL_BK_ID_BTN"/>
                <element name="BENE_ACNO"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_BR_CD"/>
                <element name="BENE_CORR_MED__DESC__"/>
                <element name="BENE_CORR_MED"/>
                <element name="BENE_EMAIL"/>
                <element name="BENE_FAX"/>
                <element name="BENE_ID"/>
                <element name="BENE_ID_BTN"/>
                <element name="BENE_NM"/>
                <element name="BENE_TEL_NO"/>
                <element name="Button3"/>
                <element name="CHG_CUST_AC"/>
                <element name="CHG_CUST_AMT"/>
                <element name="CHG_CUST_AMT_DR"/>
                <element name="CHG_CUST_CCY"/>
                <element name="CHG_DESC"/>
                <element name="CHG_FLD_ALL_BAL_CCY"/>
                <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_AT"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                <element name="CHG_FLD_COLLECT_CCY"/>
                <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                <element name="CHG_FLG__DESC__"/>
                <element name="CHG_FLG"/>
                <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                <element name="CHG_GETAC_BTN__DESC__"/>
                <element name="CHG_GETAC_BTN"/>
                <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                <element name="CHG_LOCAL_UNPAID_FLAG"/>
                <element name="CHG_VALUE_DATE"/>
                <element name="CLS_FLG__DESC__"/>
                <element name="CLS_FLG"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="ChargeForm">
                    <complexType>
                        <sequence>
                            <element name="CHG_COLLECT_CCY"/>
                            <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                            <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_CUST_ID"/>
                            <element name="CHG_FOREIGN_CUST_NAME"/>
                            <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                            <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                            <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_LOCAL_CUST_CCY"/>
                            <element name="CHG_LOCAL_CUST_ID"/>
                            <element name="CHG_LOCAL_CUST_NAME"/>
                            <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                            <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_NOSTRO_AC_NO"/>
                            <element name="CHG_NOSTRO_CCY"/>
                            <element name="TrxCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                        <element name="CHG_TEMP1"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DefCharge">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_UNIT_CODE"/>
                                        <element name="CHG_MODULE"/>
                                        <element name="CHG_MAIN_REF"/>
                                        <element name="CHG_CREAT_TRX_REF"/>
                                        <element name="CHG_CREAT_EVENT_TIMES"/>
                                        <element name="CHG_CREAT_FUNCTION_ID"/>
                                        <element name="CHG_CREAT_DATE"/>
                                        <element name="CHG_CREAT_USER_ID"/>
                                        <element name="CHG_PRODUCT_CODE"/>
                                        <element name="CHG_PRODUCT_DESC"/>
                                        <element name="CHG_PRODUCT_NAME"/>
                                        <element name="CHG_PRODUCT_SHORTNAME"/>
                                        <element name="CHG_COMMISSION_CODE"/>
                                        <element name="CHG_COMMISSION_DESC"/>
                                        <element name="CHG_COMMISSION_NAME"/>
                                        <element name="CHG_CHARGE_AT"/>
                                        <element name="CHG_CHARGE_FOR"/>
                                        <element name="CHG_CUSTOMER_ID"/>
                                        <element name="CHG_CUSTOMER_NAME"/>
                                        <element name="CHG_ACTIVE_CCY"/>
                                        <element name="CHG_ACTIVE_AMT"/>
                                        <element name="CHG_BALANCE_CCY"/>
                                        <element name="CHG_BALANCE_AMT"/>
                                        <element name="CHG_LOCAL_CCY"/>
                                        <element name="CHG_LOCAL_AMT"/>
                                        <element name="CHG_LOCAL_BAL_AMT"/>
                                        <element name="CHG_DISCOUNT_RATE"/>
                                        <element name="CHG_DISCOUNT_AMT"/>
                                        <element name="CHG_BASE_CCY"/>
                                        <element name="CHG_BASE_AMT"/>
                                        <element name="CHG_LOST_AMT"/>
                                        <element name="CHG_LOST_PROP"/>
                                        <element name="CHG_PAY_ENTRY_ID"/>
                                        <element name="CHG_PAY_AC_NUMBER"/>
                                        <element name="CHG_PAY_CCY"/>
                                        <element name="CHG_PAY_AMT"/>
                                        <element name="CHG_PAY_VAT_AMT"/>
                                        <element name="CHG_PAY_LOCAL_AMT"/>
                                        <element name="CHG_GL_AC_NUMBER"/>
                                        <element name="CHG_VAT_GL_AC_NUMBER"/>
                                        <element name="CHG_PAY_DATE"/>
                                        <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                        <element name="CHG_LOCAL_VAT_AMT"/>
                                        <element name="CHG_CUST_PAY_AMT"/>
                                        <element name="CHG_CUST_PAY_CCY"/>
                                        <element name="CHG_COLLECT_AMT"/>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_COLLECT_VAT_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="DEST_PLACE"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NOTES"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="EXPIRY_PLC_NARR"/>
                <element name="FOREIGN_LCL_FLG__DESC__"/>
                <element name="FOREIGN_LCL_FLG"/>
                <element name="GOODS_DESC"/>
                <element name="ISSBK_AC_NO_ORIG_LC"/>
                <element name="ISSBK_ADD1_ORIG_LC"/>
                <element name="ISSBK_ADD2_ORIG_LC"/>
                <element name="ISSBK_ADD3_ORIG_LC"/>
                <element name="ISSBK_CORR_MED_ORIG_LC"/>
                <element name="ISSBK_ID_ORIG_LC"/>
                <element name="ISSBK_ID_ORIG_LC_BTN"/>
                <element name="ISSBK_NAME_ORIG_LC"/>
                <element name="ISSBK_SW_ADD_ORIG_LC"/>
                <element name="ISSBK_SW_TAG_ORIG_LC"/>
                <element name="ISSUE_BK_AC_NO"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_CORR_MED__DESC__"/>
                <element name="ISSUE_BK_CORR_MED"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_ID_BTN"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="ISSUE_DT"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_BAL_LCY"/>
                <element name="LC_BAL_TEMP"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LC_TYPE__DESC__"/>
                <element name="LC_TYPE"/>
                <element name="LC_TYPEMT710__DESC__"/>
                <element name="LC_TYPEMT710"/>
                <element name="LOAD_PLACE"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MESG_TYPE__DESC__"/>
                <element name="MESG_TYPE"/>
                <element name="NEG_TOL"/>
                <element name="NOTES"/>
                <element name="NXT_STATUS"/>
                <element name="OTH_ADV_BKID"/>
                <element name="OTH_ADV_BK_ADD1"/>
                <element name="OTH_ADV_BK_ADD2"/>
                <element name="OTH_ADV_BK_ADD3"/>
                <element name="OTH_ADV_BK_BTN"/>
                <element name="OTH_ADV_BK_MEDIUM__DESC__"/>
                <element name="OTH_ADV_BK_MEDIUM"/>
                <element name="OTH_ADV_BK_NM"/>
                <element name="OTH_ADV_BK_REF"/>
                <element name="OTH_ADV_BK_SW_ADD"/>
                <element name="OTH_ADV_BK_SW_TAG"/>
                <element name="OUR_ROLE__DESC__"/>
                <element name="OUR_ROLE"/>
                <element name="POS_TOL"/>
                <element name="PRE_ADV_DT"/>
                <element name="PRE_ADV_REF"/>
                <element name="RCV_THRU_BK_ID_BTN"/>
                <element name="RCV_THU_BK_ADD1"/>
                <element name="RCV_THU_BK_ADD2"/>
                <element name="RCV_THU_BK_ADD3"/>
                <element name="RCV_THU_BK_CORR_MED"/>
                <element name="RCV_THU_BK_ID"/>
                <element name="RCV_THU_BK_NM"/>
                <element name="RCV_THU_BK_SW_ADD"/>
                <element name="RCV_THU_SW_TAG"/>
                <element name="REIM_BK_AC_NO"/>
                <element name="REIM_BK_ADD1"/>
                <element name="REIM_BK_ADD2"/>
                <element name="REIM_BK_ADD3"/>
                <element name="REIM_BK_CORR_MED__DESC__"/>
                <element name="REIM_BK_CORR_MED"/>
                <element name="REIM_BK_ID"/>
                <element name="REIM_BK_ID_BTN"/>
                <element name="REIM_BK_NM"/>
                <element name="REIM_BK_SW_ADD"/>
                <element name="REIM_BK_SW_TAG"/>
                <element name="RESP_BY__DESC__"/>
                <element name="RESP_BY"/>
                <element name="REV_LC__DESC__"/>
                <element name="REV_LC"/>
                <element name="RT_CCY_LCY"/>
                <element name="SEND_TO_ID"/>
                <element name="SEND_TO_SW_ADD"/>
                <element name="SHIP_PRD"/>
                <element name="TAG_31D"/>
                <element name="TEAM_ID"/>
                <element name="TEAM_NM"/>
                <element name="TEMP_ACCCY"/>
                <element name="TEMP_ACNO"/>
                <element name="TEMP_ID"/>
                <element name="TEMP_RESULT"/>
                <element name="TRX_AMT_USD"/>
                <element name="TRX_DT"/>
                <element name="US_EX_RATE"/>
                <element name="VAT_REG_NO"/>
                <element name="X700_BKTOBK_INFO72"/>
                <element name="X705_BKTOBK_INFO72"/>
                <element name="X705_NARRATIVE_79"/>
                <element name="X707_BKTOBK_INFO72"/>
                <element name="XN99_ADV_BKSW_B2"/>
                <element name="XN99_NARRATIVE_79"/>
                <element name="XN99_RELATEDNO_21"/>
            </sequence>
        </complexType>
    </element>
</schema>
