EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_EnquirePO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="C_TRX_REF"/>
                <element name="EXCP_REASON"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_EF_COMM_AMT"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_EF_HAN_CHG_PAMT"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_INT_AMT"/>
                <element name="FA_LOAN_INT_RT"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_PAID_INT_AMT"/>
                <element name="FA_PAID_PRIN_AMT"/>
                <element name="FA_PMT_AMT"/>
                <element name="FA_PMT_DT"/>
                <element name="FA_SBR_REF"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="PO_AMT"/>
                <element name="PO_CCY"/>
                <element name="PO_DT"/>
                <element name="PO_DUE_DT"/>
                <element name="PO_LOAN_AMT"/>
                <element name="PO_LOAN_BAL"/>
                <element name="PO_LOAN_ID"/>
                <element name="PO_LOAN_TIMES"/>
                <element name="PO_NO"/>
                <element name="PO_REF"/>
                <element name="PO_STATUS"/>
                <element name="TEMP_DATE2"/>
            </sequence>
        </complexType>
    </element>
</schema>
