EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_InvVerify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="C_TRX_REF"/>
                <element name="EXCP_REASON"/>
                <element name="FA_ADJ_AMT"/>
                <element name="FA_ADJ_BAL"/>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CRN_INV_LINK_NO"/>
                <element name="FA_DOC_AMT"/>
                <element name="FA_DOC_BAL"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_DT"/>
                <element name="FA_DOC_DUE_DT"/>
                <element name="FA_DOC_NO"/>
                <element name="FA_DOC_REF"/>
                <element name="FA_DOC_STATUS"/>
                <element name="FA_DOC_TYPE__DESC__"/>
                <element name="FA_DOC_TYPE"/>
                <element name="FA_DOC_VAL_DT"/>
                <element name="FA_DOC_VERIFIED__DESC__"/>
                <element name="FA_DOC_VERIFIED"/>
                <element name="FA_FIN_FLG__DESC__"/>
                <element name="FA_FIN_FLG"/>
                <element name="FA_GOODS_DES"/>
                <element name="FA_INVAMT_IN_LMT"/>
                <element name="FA_INV_LINK_REF"/>
                <element name="FA_LATEST_SHIP_DT"/>
                <element name="FA_ORDER_NO"/>
                <element name="FA_PMT_COND__DESC__"/>
                <element name="FA_PMT_COND"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                <element name="FA_REQ_BUYER_APR_FLG"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP_DT1"/>
                <element name="FA_TRF_DT"/>
                <element name="FSBC_REF"/>
                <element name="INV_PASS_POOL_VAL__DESC__"/>
                <element name="INV_PASS_POOL_VAL"/>
                <element name="NOTES"/>
                <element name="TEMP_ACCEPT_INV"/>
                <element name="TEMP_DATE2"/>
                <element name="TEMP_DATE3"/>
                <element name="T_SYS_OP_TIME"/>
            </sequence>
        </complexType>
    </element>
</schema>
