EE_PARA/EE_PARA/Default/FORM/form_multi_schema_std_CHG_CustGroup_Assign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CUST_FILTER"/>
                            <element name="CUST_GROUP"/>
                            <element name="RATE_RULE_LIST"/>
                            <element name="_TRX_STATUS"/>
                            <element name="add"/>
                            <element name="listFrom"/>
                            <element name="listTo"/>
                            <element name="remove"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
