EE_PARA/EE_PARA/Default/FORM/form_schema_STD_CHG_Rule_Override.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AREA_CODE_TEMP"/>
                <element name="CNTY_AREA_TEMP"/>
                <element name="CNTY_CODE_FROM"/>
                <element name="CNTY_CODE_OPERATION_TEMP"/>
                <element name="CNTY_CODE_TEMP"/>
                <element name="CNTY_CODE_TO"/>
                <element name="CNTY_OPER_AREA_TEMP"/>
                <element name="CSID"/>
                <element name="C_AMT_INCL_VAT_FLAG"/>
                <element name="C_CALCULATE_TYPE"/>
                <element name="C_CCY"/>
                <element name="C_CHARGE_RATE_DESC"/>
                <element name="C_COMMISSION_CODE"/>
                <element name="C_OVERRIDE_REASON"/>
                <element name="C_PRODUCT_CODE"/>
                <element name="C_TERM_AMT"/>
                <element name="C_TERM_CCY"/>
                <element name="C_TERM_TRX_AMT"/>
                <element name="C_TERM_TRX_CCY"/>
                <element name="D_END_TERM_DATE"/>
                <element name="D_FIRST_TERM_DATE"/>
                <element name="D_FORM_DATE"/>
                <element name="D_NEXT_TERM_DATE"/>
                <element name="D_TO_DATE"/>
                <element name="ORI_P_TERM_AMT"/>
                <element name="ORI_TERM_PERCENT"/>
            </sequence>
        </complexType>
    </element>
</schema>
