EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IPLC_ApplicantDecision_749.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AC_BK_NOTES"/>
                            <element name="AC_OFFICER_CODE"/>
                            <element name="AC_WT_BK_AC_NO"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_CORR_MED__DESC__"/>
                            <element name="AC_WT_BK_CORR_MED"/>
                            <element name="AC_WT_BK_ID"/>
                            <element name="AC_WT_BK_ID_BTN"/>
                            <element name="AC_WT_BK_LOCATION"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_PARTY_ID"/>
                            <element name="AC_WT_BK_SW_ADD"/>
                            <element name="AC_WT_BK_SW_TAG"/>
                            <element name="ADDIT_PRES_BK_AMTS"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_CORR_MED__DESC__"/>
                            <element name="ADV_BK_CORR_MED"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_MAIL_ADD"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_NOTES"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="ADV_BK_TLX"/>
                            <element name="ADV_PRES_BY__DESC__"/>
                            <element name="ADV_PRES_BY"/>
                            <element name="ADV_THRU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_PARTY_ID"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="ADV_THU_BK_TLX"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_CORR_MED__DESC__"/>
                            <element name="APPL_CORR_MED"/>
                            <element name="APPL_EMAIL"/>
                            <element name="APPL_FAX"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_LANG"/>
                            <element name="APPL_MAIL_ADD"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_REF"/>
                            <element name="APPL_TLX"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="BENEF_CERT"/>
                            <element name="BENEF_CERT_1"/>
                            <element name="BENEF_CERT_2"/>
                            <element name="BENE_AC_NO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_REF"/>
                            <element name="BENE_TLX"/>
                            <element name="BL_AWB"/>
                            <element name="BL_AWB_1"/>
                            <element name="BL_AWB_2"/>
                            <element name="CERTIFICATE"/>
                            <element name="CERTIFICATE_1"/>
                            <element name="CERTIFICATE_2"/>
                            <element name="CHECK_BOX_798"/>
                            <element name="CHGS_CLAIMED_TXT"/>
                            <element name="CHGS_DEDUCTED"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="COND_ACPT_DETL"/>
                            <element name="COUNTW1"/>
                            <element name="COUNTW11"/>
                            <element name="COUNTW13"/>
                            <element name="COUNTW15"/>
                            <element name="COUNTW17"/>
                            <element name="COUNTW19"/>
                            <element name="COUNTW26"/>
                            <element name="COUNTW3"/>
                            <element name="COUNTW5"/>
                            <element name="COUNTW7"/>
                            <element name="COUNTW9"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DEF_PMT_DET"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DISC_DET"/>
                            <element name="DISP_DOC"/>
                            <element name="DOC_DISP_FLG__DESC__"/>
                            <element name="DOC_DISP_FLG"/>
                            <element name="DOC_PRES"/>
                            <element name="DOC_PRES_BY__DESC__"/>
                            <element name="DOC_PRES_BY"/>
                            <element name="DOC_REQ"/>
                            <element name="DRAFT"/>
                            <element name="DRAFTS_AT"/>
                            <element name="DRAFT_1"/>
                            <element name="DRAFT_2"/>
                            <element name="DRAWING_REF"/>
                            <element name="EXPIRY_DT"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FREIGHT_INV"/>
                            <element name="FREIGHT_INV_1"/>
                            <element name="FREIGHT_INV_2"/>
                            <element name="INDIVID_DRAW_FLG__DESC__"/>
                            <element name="INDIVID_DRAW_FLG"/>
                            <element name="INSP_CERT"/>
                            <element name="INSP_CERT_1"/>
                            <element name="INSP_CERT_2"/>
                            <element name="INSURANCE"/>
                            <element name="INSURANCE_1"/>
                            <element name="INSURANCE_2"/>
                            <element name="INVOICE"/>
                            <element name="INVOICE_1"/>
                            <element name="INVOICE_2"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_CCY"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MIX_PMT_DETL"/>
                            <element name="MSG_TYPE"/>
                            <element name="MT798_25A_ALTER_CHG_ACC"/>
                            <element name="NARR_MAIL"/>
                            <element name="NARR_TAG_79"/>
                            <element name="NEG_TOL"/>
                            <element name="NOTES"/>
                            <element name="NO_OF_DRAW"/>
                            <element name="OTHERS"/>
                            <element name="OTHERS_1"/>
                            <element name="OTHERS_2"/>
                            <element name="PACK_LIST"/>
                            <element name="PACK_LIST_1"/>
                            <element name="PACK_LIST_2"/>
                            <element name="POS_TOL"/>
                            <element name="PRES_AMT"/>
                            <element name="PRES_BAL"/>
                            <element name="PRES_BK_AC_NO"/>
                            <element name="PRES_BK_AC_OFF_CODE"/>
                            <element name="PRES_BK_ADD1"/>
                            <element name="PRES_BK_ADD2"/>
                            <element name="PRES_BK_ADD3"/>
                            <element name="PRES_BK_ADD_BTN"/>
                            <element name="PRES_BK_CHGS"/>
                            <element name="PRES_BK_CORR_MED__DESC__"/>
                            <element name="PRES_BK_CORR_MED"/>
                            <element name="PRES_BK_EMAIL"/>
                            <element name="PRES_BK_FAX"/>
                            <element name="PRES_BK_ID"/>
                            <element name="PRES_BK_ID_BTN"/>
                            <element name="PRES_BK_LANG"/>
                            <element name="PRES_BK_MAIL_ADD"/>
                            <element name="PRES_BK_NM"/>
                            <element name="PRES_BK_NOTES"/>
                            <element name="PRES_BK_ORDER_NO"/>
                            <element name="PRES_BK_ORDER_POST"/>
                            <element name="PRES_BK_POST_ADD_BTN"/>
                            <element name="PRES_BK_REF"/>
                            <element name="PRES_BK_SW_ADD"/>
                            <element name="PRES_BK_SW_TAG"/>
                            <element name="PRES_BK_TLX"/>
                            <element name="PRES_CCY"/>
                            <element name="PRES_DT"/>
                            <element name="QR_CD_FLD"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="SEND_CORR_AC_NO"/>
                            <element name="SEND_CORR_BK_SW_ADD"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="SUB_MESS_TYPE"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CORR_ATTCH"/>
                            <element name="TEMP_CORR_CRSPD"/>
                            <element name="TEMP_CORR_INSTR"/>
                            <element name="TEMP_CUST_ATTCH"/>
                            <element name="TEMP_CUST_CRSPD"/>
                            <element name="TEMP_CUST_INSTR"/>
                            <element name="TEMP_DOC_DT"/>
                            <element name="TEMP_LC_BAL"/>
                            <element name="TEMP_TAG77B"/>
                            <element name="TEMP_USER_EMAIL"/>
                            <element name="TEMP_USER_FAX"/>
                            <element name="TEMP_USER_NM"/>
                            <element name="TEMP_USER_TEL_NO"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TOTAL_AMT"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="VESSEL_CERT"/>
                            <element name="VESSEL_CERT_1"/>
                            <element name="VESSEL_CERT_2"/>
                            <element name="WAIVER_22M"/>
                            <element name="WEB_REF"/>
                            <element name="X798_21A_CUST_REF"/>
                            <element name="X798_23X_CODE"/>
                            <element name="X798_23X_NARR"/>
                            <element name="X798_31C_ISSUE_DATE"/>
                            <element name="X798_31S_DOC_DATE"/>
                            <element name="X798_32G_COMMISS_AMT"/>
                            <element name="X798_32G_COMMISS_CCY"/>
                            <element name="X798_72C_C2B_INFO"/>
                            <element name="X798_ADD_BK_REF"/>
                            <element name="X798_ADD_CUST_REF"/>
                            <element name="X798_ADV_BK_REF_21P"/>
                            <element name="X798_CRE_DATE"/>
                            <element name="X798_CRE_TIME"/>
                            <element name="X798_CUST_ADD"/>
                            <element name="X798_CUST_CONT"/>
                            <element name="X798_CUST_ID_CD__DESC__"/>
                            <element name="X798_CUST_ID_CD"/>
                            <element name="X798_CUST_ID_NARR"/>
                            <element name="X798_CUST_REF"/>
                            <element name="X798_LEAD_BK_ID"/>
                            <element name="X798_PRE_REF_NO"/>
                            <element name="X798_PROC_BK_ID"/>
                            <element name="X798_SETTL_ACC_53C"/>
                            <element name="button1"/>
                            <element name="button2"/>
                            <element name="button3"/>
                            <element name="button4"/>
                            <element name="button5"/>
                            <element name="button6"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
