EE_PARA/EE_PARA/Default/FORM/form_multi_schema_201.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CANCEL_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="NXT_STATUS"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_B2_BTN"/>
                            <element name="X201_72_NARR"/>
                            <element name="X201_SEQ_B">
                                <complexType>
                                    <sequence>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="X103_ADV_BKSW_B2"/>
                                        <element name="X203_20_REF"/>
                                        <element name="X203_21_REF"/>
                                        <element name="X203_32B_AMT"/>
                                        <element name="X203_32B_CCY"/>
                                        <element name="X203_53B_LOCATION"/>
                                        <element name="X203_53_PARTY_IDENTIFIER"/>
                                        <element name="X203_56A_IDENTIFIER"/>
                                        <element name="X203_56D_PARTY_ADD1"/>
                                        <element name="X203_56D_PARTY_ADD2"/>
                                        <element name="X203_56D_PARTY_ADD3"/>
                                        <element name="X203_56D_PARTY_NAME"/>
                                        <element name="X203_56_PARTY_ID"/>
                                        <element name="X203_56_PARTY_IDENTIFIER"/>
                                        <element name="X203_56_TAG"/>
                                        <element name="X203_57A_IDENTIFIER"/>
                                        <element name="X203_57B_LOCATION"/>
                                        <element name="X203_57D_PARTY_ADD1"/>
                                        <element name="X203_57D_PARTY_ADD2"/>
                                        <element name="X203_57D_PARTY_ADD3"/>
                                        <element name="X203_57D_PARTY_NAME"/>
                                        <element name="X203_57_PARTY_ID"/>
                                        <element name="X203_57_PARTY_IDENTIFIER"/>
                                        <element name="X203_57_TAG"/>
                                        <element name="X203_72_NARR"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="X203_19_AMT"/>
                            <element name="X203_19_CCY"/>
                            <element name="X203_30_VALUE_DATE"/>
                            <element name="X203_53B_LOCATION"/>
                            <element name="X203_53_PARTY_IDENTIFIER"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
