EE_PARA/EE_PARA/Default/FORM/form_schema_Swift_Incoming_ContentEdit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_MODULE"/>
<element name="C_MSG_CONTENT"/>
<element name="C_MSG_TYPE"/>
<element name="C_STP_CODE"/>
<element name="C_UNIT_CODE"/>
<element name="Operation"/>
<element name="TRX_EDIT_TYPE"/>
<element name="_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
