EE_PARA/EE_PARA/Default/FORM/form_schema_TSU_DocumentIdentification2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_COMM_DATA_ID"/>
<element name="TSU_COMM_DATA_VRSN"/>
<element name="TSU_DS_TP__DESC__"/>
<element name="TSU_DS_TP"/>
<element name="TSU_MSMTCH_DOC_IDX"/>
<element name="TSU_SUBMITR_BIC"/>
</sequence>
</complexType>
</element>
</schema>
