EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSUM_StatusExtensionAcceptance_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="TSUR2_REQ_ACT_TP__DESC__"/>
                <element name="TSUR2_REQ_ACT_TP"/>
                <element name="TSUR2_STS_TOBXTNDED__DESC__"/>
                <element name="TSUR2_STS_TOBXTNDED"/>
                <element name="TSUR2_TRX_STATUS__DESC__"/>
                <element name="TSUR2_TRX_STATUS"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_RL_MSG_ID"/>
                <element name="TSU_TID"/>
            </sequence>
        </complexType>
    </element>
</schema>
