EE_PARA/EE_PARA/Default/FORM/form_multi_schema_DATA_Add_Goods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_EXP_LIC_FLG__DESC__"/>
                            <element name="FA_EXP_LIC_FLG"/>
                            <element name="FA_GOODS_CODE"/>
                            <element name="FA_GOODS_DES"/>
                            <element name="FA_TEMP3"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
