EE_PARA/EE_PARA/Default/FORM/form_schema_CFNC_DiscountAmendment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="APPL_ADD1"/>
                <element name="APPL_ADD2"/>
                <element name="APPL_ADD3"/>
                <element name="APPL_ID"/>
                <element name="APPL_NM"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="BENE_ADD1"/>
                <element name="BENE_ADD2"/>
                <element name="BENE_ADD3"/>
                <element name="BENE_ID"/>
                <element name="BENE_NM"/>
                <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                <element name="CFNC_C_ORIGIN_MODULE"/>
                <element name="CFNC_C_ORIGIN_TRX_REF"/>
                <element name="CFNC_DATA_FLAG__DESC__"/>
                <element name="CFNC_DATA_FLAG"/>
                <element name="CFNC_DISCOUNT_AMT"/>
                <element name="CUST_ADD1"/>
                <element name="CUST_ADD2"/>
                <element name="CUST_ADD3"/>
                <element name="CUST_ID"/>
                <element name="CUST_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="DAY_MON_FLG__DESC__"/>
                <element name="DAY_MON_FLG"/>
                <element name="DELVR_DOC_AGST__DESC__"/>
                <element name="DELVR_DOC_AGST"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DRWE_ADD1"/>
                <element name="DRWE_ADD2"/>
                <element name="DRWE_ADD3"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_NM"/>
                <element name="DRWR_ADD1"/>
                <element name="DRWR_ADD2"/>
                <element name="DRWR_ADD3"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_NM"/>
                <element name="FINC_TYPE__DESC__"/>
                <element name="FINC_TYPE"/>
                <element name="FincAmend">
                    <complexType>
                        <sequence>
                            <element name="AMEND_AMT"/>
                            <element name="CFNC_C_AC_NO"/>
                            <element name="CFNC_C_AC_TYPE"/>
                            <element name="CFNC_C_AMEND_APPROVE_STATUS"/>
                            <element name="CFNC_C_AMEND_TYPE"/>
                            <element name="CFNC_C_APPROVE_STATUS"/>
                            <element name="CFNC_C_CCY"/>
                            <element name="CFNC_C_CUST_ID"/>
                            <element name="CFNC_C_EXTEN_AC_TYPE"/>
                            <element name="CFNC_C_EXTEN_AC_TYPE_E"/>
                            <element name="CFNC_C_EXTEN_INT_MODE"/>
                            <element name="CFNC_C_EXTEN_INT_MTHD"/>
                            <element name="CFNC_C_FFGE_NO"/>
                            <element name="CFNC_C_FUNC_NAME"/>
                            <element name="CFNC_C_GRACE_DAYS"/>
                            <element name="CFNC_C_GRACE_FLG__DESC__"/>
                            <element name="CFNC_C_GRACE_FLG"/>
                            <element name="CFNC_C_INIT_FLG"/>
                            <element name="CFNC_C_INT_MODE"/>
                            <element name="CFNC_C_INT_MTHD"/>
                            <element name="CFNC_C_INT_PAYABLE"/>
                            <element name="CFNC_C_LAST_REF"/>
                            <element name="CFNC_C_LAST_TYPE"/>
                            <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                            <element name="CFNC_C_ORIGIN_MODULE"/>
                            <element name="CFNC_C_OTHER_TYPE"/>
                            <element name="CFNC_C_OVERDUE_FLAG"/>
                            <element name="CFNC_C_OVERDUE_NO"/>
                            <element name="CFNC_C_PACK_AMT"/>
                            <element name="CFNC_C_PACK_BAL"/>
                            <element name="CFNC_C_PACK_CCY"/>
                            <element name="CFNC_C_PACK_FLAG"/>
                            <element name="CFNC_C_PACK_NO"/>
                            <element name="CFNC_C_PAY_BY"/>
                            <element name="CFNC_C_REF"/>
                            <element name="CFNC_C_REFUSE_REASON"/>
                            <element name="CFNC_C_REF_TEMP"/>
                            <element name="CFNC_C_RELT_REF"/>
                            <element name="CFNC_C_REPAY_EVENT_ID"/>
                            <element name="CFNC_C_RET_FLG"/>
                            <element name="CFNC_C_TEMP_DATA"/>
                            <element name="CFNC_C_TRX_CCY"/>
                            <element name="CFNC_C_TRX_STATUS"/>
                            <element name="CFNC_C_TYPE__DESC__"/>
                            <element name="CFNC_C_TYPE"/>
                            <element name="CFNC_C_TYPE_DESC"/>
                            <element name="CFNC_C_TYPE_EX"/>
                            <element name="CFNC_C_UNIT_CODE"/>
                            <element name="CFNC_D_BILL_DUE_DT"/>
                            <element name="CFNC_D_CREATE_DATE"/>
                            <element name="CFNC_D_DT"/>
                            <element name="CFNC_D_DUE_DT"/>
                            <element name="CFNC_D_EXTEN_DUE_DT"/>
                            <element name="CFNC_D_EXTEN_DUE_DT_E"/>
                            <element name="CFNC_D_EXTEN_OVERDUE_DT"/>
                            <element name="CFNC_D_EXTEN_REG_DT"/>
                            <element name="CFNC_D_EXTEN_VALUE_DT"/>
                            <element name="CFNC_D_LAST_PAY_DT"/>
                            <element name="CFNC_D_LAST_PMT_DT"/>
                            <element name="CFNC_D_MAST_MATU_DT"/>
                            <element name="CFNC_D_PAY_DT"/>
                            <element name="CFNC_D_PAY_REG_DT"/>
                            <element name="CFNC_D_POST_FROM_DT"/>
                            <element name="CFNC_D_POST_TO_DT"/>
                            <element name="CFNC_D_REG_DT"/>
                            <element name="CFNC_D_RESTART_DT"/>
                            <element name="CFNC_D_STOP_DT"/>
                            <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                            <element name="CFNC_INTEREST_INSTAL_FLG"/>
                            <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                            <element name="CFNC_INTEREST_INTERVAL"/>
                            <element name="CFNC_I_AMEND_TIMES"/>
                            <element name="CFNC_I_BASIC_DAYS"/>
                            <element name="CFNC_I_DAYS"/>
                            <element name="CFNC_I_DISCOUNT_DAYS_E"/>
                            <element name="CFNC_I_DISCOUNT_DAYS_N"/>
                            <element name="CFNC_I_EXTEN_BASE_DAYS"/>
                            <element name="CFNC_I_EXTEN_DAYS"/>
                            <element name="CFNC_I_EXTEN_TIMES"/>
                            <element name="CFNC_I_EXTEN_TTL_DAYS"/>
                            <element name="CFNC_I_FINC_NO"/>
                            <element name="CFNC_I_FINC_TIMES"/>
                            <element name="CFNC_I_REPAY_TIMES"/>
                            <element name="CFNC_I_RFD_NO"/>
                            <element name="CFNC_N_AMT_LCCCY"/>
                            <element name="CFNC_N_AMT_LCCCY_ORG"/>
                            <element name="CFNC_N_AMT_TXCCY"/>
                            <element name="CFNC_N_BAL"/>
                            <element name="CFNC_N_CCY_CLOSE_RT"/>
                            <element name="CFNC_N_CCY_CUST_RT"/>
                            <element name="CFNC_N_CCY_EXCH_RT"/>
                            <element name="CFNC_N_CR_AMT"/>
                            <element name="CFNC_N_CR_BAL"/>
                            <element name="CFNC_N_EXTEN_AMT"/>
                            <element name="CFNC_N_EXTEN_BAL"/>
                            <element name="CFNC_N_EXTEN_LIBOR_RT"/>
                            <element name="CFNC_N_EXTEN_LIBOR_RT_E"/>
                            <element name="CFNC_N_EXTEN_MARGIN_E"/>
                            <element name="CFNC_N_EXTEN_MARGIN_RT"/>
                            <element name="CFNC_N_EXTEN_PAID_INT"/>
                            <element name="CFNC_N_EXTEN_PAID_LIBOR"/>
                            <element name="CFNC_N_EXTEN_PAID_MARGIN"/>
                            <element name="CFNC_N_EXTEN_PRE_INT"/>
                            <element name="CFNC_N_EXTEN_RT"/>
                            <element name="CFNC_N_EXTEN_RT_E"/>
                            <element name="CFNC_N_EXTEN_TTL_AMT"/>
                            <element name="CFNC_N_EXTEN_TTL_BAL"/>
                            <element name="CFNC_N_FINC_TTL_AMT"/>
                            <element name="CFNC_N_FINC_TTL_BAL"/>
                            <element name="CFNC_N_LIBOR_AMT"/>
                            <element name="CFNC_N_LIBOR_RT"/>
                            <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                            <element name="CFNC_N_LIBOR_RT_TYPE"/>
                            <element name="CFNC_N_MARGIN_AMT"/>
                            <element name="CFNC_N_MARGIN_RT"/>
                            <element name="CFNC_N_NET_AMT"/>
                            <element name="CFNC_N_NET_AMT_ORG"/>
                            <element name="CFNC_N_PAID_INT"/>
                            <element name="CFNC_N_PAID_LIBOR"/>
                            <element name="CFNC_N_PAID_MARGIN"/>
                            <element name="CFNC_N_PAY_AMT"/>
                            <element name="CFNC_N_PAY_PNLT_INT"/>
                            <element name="CFNC_N_PAY_TTLAMT_TXCCY"/>
                            <element name="CFNC_N_PCT"/>
                            <element name="CFNC_N_PNLT_RT"/>
                            <element name="CFNC_N_PRE_INT"/>
                            <element name="CFNC_N_PRE_INT_ORG"/>
                            <element name="CFNC_N_REACC_INT"/>
                            <element name="CFNC_N_RFD_EXTINT"/>
                            <element name="CFNC_N_RFD_INT"/>
                            <element name="CFNC_N_RT"/>
                            <element name="CFNC_N_RT_NARR"/>
                            <element name="CFNC_N_RT_TYPE__DESC__"/>
                            <element name="CFNC_N_RT_TYPE"/>
                            <element name="CFNC_N_TRXCCY_LCY"/>
                            <element name="CFNC_N_TRX_AMT"/>
                            <element name="CFNC_N_UNPAID_INT"/>
                            <element name="CFNC_OVERDUE_DT"/>
                            <element name="CFNC_PAYMENT_FLAG__DESC__"/>
                            <element name="CFNC_PAYMENT_FLAG"/>
                            <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                            <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                            <element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
                            <element name="CFNC_PRINCIPAL_INTERVAL"/>
                            <element name="IA_I_CCY_DEC"/>
                            <element name="IA_Y_REACC_INT"/>
                            <element name="INC_DEC_FLAG__DESC__"/>
                            <element name="INC_DEC_FLAG"/>
                            <element name="NEW_REFI_AMT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="IA_C_CCY_CODE"/>
                <element name="IA_D_CREATE_DATE"/>
                <element name="IA_D_DUE_DATE"/>
                <element name="IA_D_TRX_VALDATE"/>
                <element name="IA_I_BASE_DAYS"/>
                <element name="IA_I_CCY_DEC"/>
                <element name="IA_N_FIX_BAS_RATE"/>
                <element name="IA_Y_REACC_INT"/>
                <element name="IA_Y_TRX_AMT"/>
                <element name="NOTES"/>
                <element name="PaymentDealer">
                    <complexType>
                        <sequence>
                            <element name="CPYT_C_CFNC_REF"/>
                            <element name="CPYT_C_OUTPUT_FLAG"/>
                            <element name="CPYT_C_PAY_PER"/>
                            <element name="CPYT_C_REF"/>
                            <element name="CPYT_C_SDA_FLAG"/>
                            <element name="CPYT_C_SETTLE_END_FLAG"/>
                            <element name="CPYT_C_TENOR_DESC"/>
                            <element name="CPYT_C_TENOR_TYPE"/>
                            <element name="CPYT_D_MAT_DATE"/>
                            <element name="CPYT_D_TENOR_START_DATE"/>
                            <element name="CPYT_I_INSTRU_TIMES"/>
                            <element name="CPYT_I_SEQUENCE"/>
                            <element name="CPYT_I_TENOR_DAYS"/>
                            <element name="CPYT_N_PAY_AMT"/>
                            <element name="CPYT_N_PAY_TRXCCY_BAL"/>
                            <element name="CPYT_N_UNPD_AMT_TXCCY"/>
                            <element name="CPYT_ORIGIN_MODULE"/>
                            <element name="CPYT_PAY_CCY"/>
                            <element name="CPYT_UNPAID_FLAG"/>
                            <element name="PaymentDebitHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_NO_DR"/>
                                        <element name="CPYT_MDR_ADV"/>
                                        <element name="CPYT_DR_TTL_CCY"/>
                                        <element name="CPYT_DR_TTL_AMT_TTLCCY"/>
                                        <element name="CPYT_SELL_RATE"/>
                                        <element name="PaymentDebit">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_DR_AC"/>
                                                    <element name="CPYT_DR_AC_TYPE"/>
                                                    <element name="CPYT_DR_DEAL"/>
                                                    <element name="CPYT_DR_RATE"/>
                                                    <element name="CPYT_DR_CCY"/>
                                                    <element name="CPYT_DR_PER"/>
                                                    <element name="CPYT_DR_AMT_DRCCY"/>
                                                    <element name="CPYT_DR_AMT_TXCCY"/>
                                                    <element name="CPYT_DR_BUY_RATE"/>
                                                    <element name="CPYT_DR_VAL_DATE"/>
                                                    <element name="CPYT_DR_ID"/>
                                                    <element name="CPYT_DR_NAME"/>
                                                    <element name="CPYT_DR_CHG_FLAG"/>
                                                    <element name="CPYT_DR_CHG_LCCCY"/>
                                                    <element name="CPYT_DR_TRX_CCY"/>
                                                    <element name="CPYT_DR_AMT_MAPING"/>
                                                    <element name="CPYT_DR_EXNG_AC"/>
                                                    <element name="CPYT_DR_AMT_DRCCY_EXCH"/>
                                                    <element name="CPYT_DR_C_TRANS_CODE"/>
                                                    <element name="CPYT_DR_AC_DESC"/>
                                                    <element name="CPYT_DR_BAL_TXCCY"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="PaymentCreditHeader">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_NO_CR"/>
                                        <element name="CPYT_MCR_ADV"/>
                                        <element name="CPYT_CR_TTL_CCY"/>
                                        <element name="CPYT_CR_TTL_AMT_TTLCCY"/>
                                        <element name="PaymentCredit">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_CR_PER"/>
                                                    <element name="CPYT_CR_CCY"/>
                                                    <element name="CPYT_CR_AC"/>
                                                    <element name="CPYT_CR_DEAL"/>
                                                    <element name="CPYT_CR_AMT_TXCCY"/>
                                                    <element name="CPYT_CR_BAL_TXCCY"/>
                                                    <element name="CPYT_PAY_ADV_MSG"/>
                                                    <element name="CPYT_PAY_COV_MSG"/>
                                                    <element name="CPYT_ASSGN_ID"/>
                                                    <element name="CPYT_ASSGN_NM"/>
                                                    <element name="CPYT_CR_AMT_CRCCY"/>
                                                    <element name="CPYT_CR_VAL_DATE"/>
                                                    <element name="X103BENECUADD1_59A"/>
                                                    <element name="X103BENECUADD2_59A"/>
                                                    <element name="X103BENECUADD3_59A"/>
                                                    <element name="X103MEDIBKADD1_56A"/>
                                                    <element name="X103MEDIBKADD2_56A"/>
                                                    <element name="X103MEDIBKADD3_56A"/>
                                                    <element name="X103RECCORRACNO54A"/>
                                                    <element name="X103SENDBKADD1_51A"/>
                                                    <element name="X103SENDBKADD2_51A"/>
                                                    <element name="X103SENDBKADD3_51A"/>
                                                    <element name="X103SENDCORACNO53A"/>
                                                    <element name="X103SENDCORADD153A"/>
                                                    <element name="X103SENDCORADD253A"/>
                                                    <element name="X103SENDCORADD353A"/>
                                                    <element name="X103_ACCBKADD1_57A"/>
                                                    <element name="X103_ACCBKADD2_57A"/>
                                                    <element name="X103_ACCBKADD3_57A"/>
                                                    <element name="X103_ACC_BKACNO57A"/>
                                                    <element name="X103_ACC_BKID_57A"/>
                                                    <element name="X103_ACC_BKNM_57A"/>
                                                    <element name="X103_ACC_BKSW_57A"/>
                                                    <element name="X103_ADV_BKADD1_B2"/>
                                                    <element name="X103_ADV_BKADD2_B2"/>
                                                    <element name="X103_ADV_BKADD3_B2"/>
                                                    <element name="X103_ADV_BKID_B2"/>
                                                    <element name="X103_ADV_BKNM_B2"/>
                                                    <element name="X103_ADV_BKSW_B2"/>
                                                    <element name="X103_BENECUACNO59A"/>
                                                    <element name="X103_BENECU_ID_59A"/>
                                                    <element name="X103_BENECU_NM_59A"/>
                                                    <element name="X103_BKOP_CODE_23B"/>
                                                    <element name="X103_BKTOBK_INFO72"/>
                                                    <element name="X103_DET_CHG_71A"/>
                                                    <element name="X103_ENV_CONT_77T"/>
                                                    <element name="X103_EXCH_RT_36"/>
                                                    <element name="X103_INSTRCODE_23E"/>
                                                    <element name="X103_INSTR_AMT_33B"/>
                                                    <element name="X103_INSTR_CCY_33B"/>
                                                    <element name="X103_MEDIBKACNO56A"/>
                                                    <element name="X103_MEDI_BKID_56A"/>
                                                    <element name="X103_MEDI_BKNM_56A"/>
                                                    <element name="X103_MEDI_BKSW_56A"/>
                                                    <element name="X103_ORDBKACNO_52A"/>
                                                    <element name="X103_ORDBKADD1_52A"/>
                                                    <element name="X103_ORDBKADD2_52A"/>
                                                    <element name="X103_ORDBKADD3_52A"/>
                                                    <element name="X103_ORDCUACNO_50A"/>
                                                    <element name="X103_ORDCUADD1_50A"/>
                                                    <element name="X103_ORDCUADD2_50A"/>
                                                    <element name="X103_ORDCUADD3_50A"/>
                                                    <element name="X103_ORDCU_ID_50A"/>
                                                    <element name="X103_ORDCU_NM_50A"/>
                                                    <element name="X103_ORDCU_SW_50A"/>
                                                    <element name="X103_ORD_BKID_52A"/>
                                                    <element name="X103_ORD_BKNM_52A"/>
                                                    <element name="X103_ORD_BKSW_52A"/>
                                                    <element name="X103_RECCHGAMT_71G"/>
                                                    <element name="X103_RECCHGCCY_71G"/>
                                                    <element name="X103_RECCORADD154A"/>
                                                    <element name="X103_RECCORADD254A"/>
                                                    <element name="X103_RECCORADD354A"/>
                                                    <element name="X103_RECCORRID_54A"/>
                                                    <element name="X103_RECCORRNM_54A"/>
                                                    <element name="X103_RECCORRSW_54A"/>
                                                    <element name="X103_REG_REP_77B"/>
                                                    <element name="X103_REMIT_INFO_70"/>
                                                    <element name="X103_SENDBKACNO51A"/>
                                                    <element name="X103_SENDCHGAMT71F"/>
                                                    <element name="X103_SENDCHGCCY71F"/>
                                                    <element name="X103_SENDCORRID53A"/>
                                                    <element name="X103_SENDCORRNM53A"/>
                                                    <element name="X103_SENDCORRSW53A"/>
                                                    <element name="X103_SEND_BKID_51A"/>
                                                    <element name="X103_SEND_BKNM_51A"/>
                                                    <element name="X103_SEND_BKSW_51A"/>
                                                    <element name="X103_SEND_NO_20"/>
                                                    <element name="X103_SETT_AMT_32A"/>
                                                    <element name="X103_SETT_CCY_32A"/>
                                                    <element name="X103_TAG_50A"/>
                                                    <element name="X103_TAG_51A"/>
                                                    <element name="X103_TAG_52A"/>
                                                    <element name="X103_TAG_53A"/>
                                                    <element name="X103_TAG_54A"/>
                                                    <element name="X103_TAG_56A"/>
                                                    <element name="X103_TAG_57A"/>
                                                    <element name="X103_TIME_INDI_13C"/>
                                                    <element name="X103_TRX_TYPCD_26T"/>
                                                    <element name="X103_VALUE_DT_32A"/>
                                                    <element name="X202BENEBKADD1_58A"/>
                                                    <element name="X202BENEBKADD2_58A"/>
                                                    <element name="X202BENEBKADD3_58A"/>
                                                    <element name="X202MEDIBKADD1_56A"/>
                                                    <element name="X202MEDIBKADD2_56A"/>
                                                    <element name="X202MEDIBKADD3_56A"/>
                                                    <element name="X202RECCORRACNO54A"/>
                                                    <element name="X202SENDCORACNO53A"/>
                                                    <element name="X202SENDCORADD153A"/>
                                                    <element name="X202SENDCORADD253A"/>
                                                    <element name="X202SENDCORADD353A"/>
                                                    <element name="X202_ACCBKADD1_57A"/>
                                                    <element name="X202_ACCBKADD2_57A"/>
                                                    <element name="X202_ACCBKADD3_57A"/>
                                                    <element name="X202_ACC_BKACNO57A"/>
                                                    <element name="X202_ACC_BKID_57A"/>
                                                    <element name="X202_ACC_BKNM_57A"/>
                                                    <element name="X202_ACC_BKSW_57A"/>
                                                    <element name="X202_ADV_BKADD1_B2"/>
                                                    <element name="X202_ADV_BKADD2_B2"/>
                                                    <element name="X202_ADV_BKADD3_B2"/>
                                                    <element name="X202_ADV_BKID_B2"/>
                                                    <element name="X202_ADV_BKNM_B2"/>
                                                    <element name="X202_ADV_BKSW_B2"/>
                                                    <element name="X202_AMT_32A"/>
                                                    <element name="X202_BENEBKACNO58A"/>
                                                    <element name="X202_BENE_BKID_58A"/>
                                                    <element name="X202_BENE_BKNM_58A"/>
                                                    <element name="X202_BENE_BKSW_58A"/>
                                                    <element name="X202_BKTOBK_INFO72"/>
                                                    <element name="X202_CCY_32A"/>
                                                    <element name="X202_MEDIBKACNO56A"/>
                                                    <element name="X202_MEDI_BKID_56A"/>
                                                    <element name="X202_MEDI_BKNM_56A"/>
                                                    <element name="X202_MEDI_BKSW_56A"/>
                                                    <element name="X202_ORDBKACNO_52A"/>
                                                    <element name="X202_ORDBKADD1_52A"/>
                                                    <element name="X202_ORDBKADD2_52A"/>
                                                    <element name="X202_ORDBKADD3_52A"/>
                                                    <element name="X202_ORDBK_ID_52A"/>
                                                    <element name="X202_ORDBK_NM_52A"/>
                                                    <element name="X202_ORDBK_SW_52A"/>
                                                    <element name="X202_RECCORADD154A"/>
                                                    <element name="X202_RECCORADD254A"/>
                                                    <element name="X202_RECCORADD354A"/>
                                                    <element name="X202_RECCORRID_54A"/>
                                                    <element name="X202_RECCORRNM_54A"/>
                                                    <element name="X202_RECCORRSW_54A"/>
                                                    <element name="X202_RELATEDNO_21"/>
                                                    <element name="X202_SENDCORRID53A"/>
                                                    <element name="X202_SENDCORRNM53A"/>
                                                    <element name="X202_SENDCORRSW53A"/>
                                                    <element name="X202_TAG_52A"/>
                                                    <element name="X202_TAG_53A"/>
                                                    <element name="X202_TAG_54A"/>
                                                    <element name="X202_TAG_56A"/>
                                                    <element name="X202_TAG_57A"/>
                                                    <element name="X202_TAG_58A"/>
                                                    <element name="X202_TIME_INDI_13C"/>
                                                    <element name="X202_TRX_REF_NO_20"/>
                                                    <element name="X202_VALUE_DT_32A"/>
                                                    <element name="CPYT_SIC_AMT"/>
                                                    <element name="CPYT_SIC_CCY"/>
                                                    <element name="CPYT_SIC_CR_AC"/>
                                                    <element name="CPYT_SIC_DR_AC"/>
                                                    <element name="CPYT_SIC_REF"/>
                                                    <element name="CPYT_SIC_VAL_DATE"/>
                                                    <element name="CPYT_BENE_ADD1"/>
                                                    <element name="CPYT_BENE_ADD2"/>
                                                    <element name="CPYT_BENE_ADD3"/>
                                                    <element name="CPYT_BENE_ID"/>
                                                    <element name="CPYT_BENE_NM"/>
                                                    <element name="CPYT_AC_ID"/>
                                                    <element name="CPYT_PAY_REAON1"/>
                                                    <element name="CPYT_PAY_REAON2"/>
                                                    <element name="CPYT_PAY_REAON3"/>
                                                    <element name="CPYT_PAY_REAON4"/>
                                                    <element name="CPYT_REV_ADD1"/>
                                                    <element name="CPYT_REV_ADD2"/>
                                                    <element name="CPYT_REV_ADD3"/>
                                                    <element name="CPYT_REV_ID"/>
                                                    <element name="CPYT_REV_NM"/>
                                                    <element name="CPYT_CLE_NUM"/>
                                                    <element name="CPYT_ORD_TYPE"/>
                                                    <element name="CPYT_DR_CR_CODE"/>
                                                    <element name="CPYT_DEPART_CODE"/>
                                                    <element name="CPYT_PAY_CODE"/>
                                                    <element name="CPYT_ASSIGNEE_BAL"/>
                                                    <element name="I_ASSIGNEE_SEQ"/>
                                                    <element name="X400_ACC_BK_ACNO"/>
                                                    <element name="X400_ACC_BK_ADD1"/>
                                                    <element name="X400_ACC_BK_ADD2"/>
                                                    <element name="X400_ACC_BK_ADD3"/>
                                                    <element name="X400_ACC_BK_ID"/>
                                                    <element name="X400_ACC_BK_NM"/>
                                                    <element name="X400_ACC_BK_NOTES"/>
                                                    <element name="X400_ACC_BK_SW_ADD"/>
                                                    <element name="X400_ACC_BK_SW_TAG"/>
                                                    <element name="X400_ADDAMT_DET73"/>
                                                    <element name="X400_ADV_BK_ADD1"/>
                                                    <element name="X400_ADV_BK_ADD2"/>
                                                    <element name="X400_ADV_BK_ADD3"/>
                                                    <element name="X400_ADV_BK_ID"/>
                                                    <element name="X400_ADV_BK_NM"/>
                                                    <element name="X400_ADV_BK_NOTES"/>
                                                    <element name="X400_ADV_BK_SW_ADD"/>
                                                    <element name="X400_ADV_BK_SW_TAG"/>
                                                    <element name="X400_BENE_BK_ADD1"/>
                                                    <element name="X400_BENE_BK_ADD2"/>
                                                    <element name="X400_BENE_BK_ADD3"/>
                                                    <element name="X400_BENE_BK_ID"/>
                                                    <element name="X400_BENE_BK_NM"/>
                                                    <element name="X400_BENE_BK_NOTES"/>
                                                    <element name="X400_BENE_BK_SW_ADD"/>
                                                    <element name="X400_BENE_BK_SW_TAG"/>
                                                    <element name="X400_BKTOBK_INFO_72"/>
                                                    <element name="X400_COLL_AMT_32A"/>
                                                    <element name="X400_COLL_CCY_32A"/>
                                                    <element name="X400_DAYMON_FLG_32K__DESC__"/>
                                                    <element name="X400_DAYMON_FLG_32K"/>
                                                    <element name="X400_DUE_DT_32A"/>
                                                    <element name="X400_NET_AMT_33A"/>
                                                    <element name="X400_NET_CCY_33A"/>
                                                    <element name="X400_ORD_BK_ACNO"/>
                                                    <element name="X400_ORD_BK_ADD1"/>
                                                    <element name="X400_ORD_BK_ADD2"/>
                                                    <element name="X400_ORD_BK_ADD3"/>
                                                    <element name="X400_ORD_BK_ID"/>
                                                    <element name="X400_ORD_BK_NM"/>
                                                    <element name="X400_ORD_BK_NOTES"/>
                                                    <element name="X400_ORD_BK_SW_ADD"/>
                                                    <element name="X400_ORD_BK_SW_TAG"/>
                                                    <element name="X400_PRES_BK_CHG_71B"/>
                                                    <element name="X400_RECCOR_BK_ACNO"/>
                                                    <element name="X400_RECCOR_BK_ADD1"/>
                                                    <element name="X400_RECCOR_BK_ADD2"/>
                                                    <element name="X400_RECCOR_BK_ADD3"/>
                                                    <element name="X400_RECCOR_BK_ID"/>
                                                    <element name="X400_RECCOR_BK_NM"/>
                                                    <element name="X400_RECCOR_BK_NOTES"/>
                                                    <element name="X400_RECCOR_BK_SW_ADD"/>
                                                    <element name="X400_RECCOR_BK_SW_TAG"/>
                                                    <element name="X400_RELATEDNO_21"/>
                                                    <element name="X400_SENDCORR_BK_ACNO"/>
                                                    <element name="X400_SENDCORR_BK_ADD1"/>
                                                    <element name="X400_SENDCORR_BK_ADD2"/>
                                                    <element name="X400_SENDCORR_BK_ADD3"/>
                                                    <element name="X400_SENDCORR_BK_ID"/>
                                                    <element name="X400_SENDCORR_BK_NM"/>
                                                    <element name="X400_SENDCORR_BK_NOTES"/>
                                                    <element name="X400_SENDCORR_BK_SW_ADD"/>
                                                    <element name="X400_SENDCORR_BK_SW_TAG"/>
                                                    <element name="X400_SEND_NO_20"/>
                                                    <element name="X400_TENOR_DAYS_32K"/>
                                                    <element name="X400_TENOR_EVENT_32K__DESC__"/>
                                                    <element name="X400_TENOR_EVENT_32K"/>
                                                    <element name="X400_TAG_32__DESC__"/>
                                                    <element name="X400_TAG_32"/>
                                                    <element name="X400_VALUE_DT_32A"/>
                                                    <element name="X400_VALUE_DT_33A"/>
                                                    <element name="X400_TEMP_32K"/>
                                                    <element name="CPYT_CR_AMT_MAPING"/>
                                                    <element name="CPYT_CR_AMT_CRCCY_EXCH"/>
                                                    <element name="CPYT_CR_EXNG_AC"/>
                                                    <element name="CPYT_CR_TRX_CCY"/>
                                                    <element name="CPYT_CR_BUY_RATE"/>
                                                    <element name="CPYT_CR_AC_TYPE"/>
                                                    <element name="X202_TAG_B2"/>
                                                    <element name="X202_TAG_B2_1"/>
                                                    <element name="X103_BENECU_OP__DESC__"/>
                                                    <element name="X103_BENECU_OP"/>
                                                    <element name="X103_TAG_59A"/>
                                                    <element name="X103_BENECU_SW_59A"/>
                                                    <element name="TEMP_X103BENECUADD1_59A"/>
                                                    <element name="TEMP_X103BENECUADD2_59A"/>
                                                    <element name="TEMP_X103BENECUADD3_59A"/>
                                                    <element name="TEMP_X103_BENECUACNO59A"/>
                                                    <element name="TEMP_X103_BENECU_NM_59A"/>
                                                    <element name="X103_ORDCU_ID_OP__DESC__"/>
                                                    <element name="X103_ORDCU_ID_OP"/>
                                                    <element name="TEMP_X103_ACNO_51"/>
                                                    <element name="CPYT_PARTY_REF"/>
                                                    <element name="CPYT_CR_C_TRANS_CODE"/>
                                                    <element name="CPYT_CR_AC_DESC"/>
                                                    <element name="FED_ADD1"/>
                                                    <element name="FED_ADD2"/>
                                                    <element name="FED_ADD3"/>
                                                    <element name="FED_ID"/>
                                                    <element name="FED_NM"/>
                                                    <element name="IS_GPI_MEMBER"/>
                                                    <element name="SERVICE_TYPE_ID_GPI_111"/>
                                                    <element name="UETR_GPI_121"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="REF_INQ_BTN"/>
                <element name="RELA_DRAW_REF"/>
                <element name="RELA_MAIN_REF"/>
                <element name="TEMP_DAY_MON_FLG__DESC__"/>
                <element name="TEMP_DAY_MON_FLG"/>
                <element name="TEMP_TENOR_TYPE"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TRX_AMT"/>
                <element name="TRX_CCY"/>
                <element name="TTL_CHG_OUR"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
