EE_PARA/EE_PARA/Default/FORM/form_schema_STAT_TeamMaintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="FAX_NO"/>
                <element name="FST_CNTC_NM"/>
                <element name="FUNCTION_ACTION"/>
                <element name="NOTES"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="TEAM_ID"/>
                <element name="TEAM_NM"/>
                <element name="TEL_NO"/>
            </sequence>
        </complexType>
    </element>
</schema>
