EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TSU_010_DocutIde4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSU_BASELN_VRSN"/>
<element name="TSU_COMM_BIC"/>
<element name="TSU_COMP_DOC"/>
<element name="TSU_MSMTCH_DOC_IDX"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
