EE_PARA/EE_PARA/Default/FORM/form_schema_SYND_RegSyndByPartp_exco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APPL_CNTY_RES"/>
                <element name="BENE_CNTY_CD"/>
                <element name="CFNC_C_CCY"/>
                <element name="CFNC_D_DT"/>
                <element name="CFNC_D_DUE_DT"/>
                <element name="CFNC_D_MAST_MATU_DT"/>
                <element name="CFNC_I_DAYS"/>
                <element name="CFNC_N_AMT_LCCCY"/>
                <element name="CFNC_N_BAL"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTY_CODE"/>
                <element name="COLL_BK_ADD1"/>
                <element name="COLL_BK_ADD2"/>
                <element name="COLL_BK_ADD3"/>
                <element name="COLL_BK_ID"/>
                <element name="COLL_BK_NM"/>
                <element name="COLL_BK_SW_ADD"/>
                <element name="COLL_BK_SW_TAG"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="DEST_PORT"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="DRWE_ID"/>
                <element name="DRWE_NM"/>
                <element name="DRWR_ID"/>
                <element name="DRWR_NM"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="GOODS_DESC"/>
                <element name="ISSUE_BK_ADD1"/>
                <element name="ISSUE_BK_ADD2"/>
                <element name="ISSUE_BK_ADD3"/>
                <element name="ISSUE_BK_ID"/>
                <element name="ISSUE_BK_NM"/>
                <element name="ISSUE_BK_SW_ADD"/>
                <element name="ISSUE_BK_SW_TAG"/>
                <element name="LOAD_PORT"/>
                <element name="LOGIN_BIC"/>
                <element name="LTST_SHIP_DT"/>
                <element name="MSG_TYPE"/>
                <element name="NEG_TOL"/>
                <element name="NOTES"/>
                <element name="POS_TOL"/>
                <element name="PRODUCT_CD"/>
                <element name="ParticipantHeader">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_STATUS"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FUND_FLAG__DESC__"/>
                            <element name="FUND_FLAG"/>
                            <element name="GRACE_DAYS"/>
                            <element name="RECRS_PRTY_CNTY_CD"/>
                            <element name="RECRS_PRTY_NM"/>
                            <element name="RECRS_PRTY_REF"/>
                            <element name="RECRS_PRTY_SW_ADD"/>
                            <element name="RECRS_PRTY_SW_TAG"/>
                            <element name="SYND_AMT"/>
                            <element name="SYND_BAL"/>
                            <element name="SYND_CCY"/>
                            <element name="SYND_EXPIRY_DT"/>
                            <element name="SYND_PART_NO"/>
                            <element name="SYND_RISK_TYPE__DESC__"/>
                            <element name="SYND_RISK_TYPE"/>
                            <element name="TTL_FUNDED_AMT"/>
                            <element name="TTL_PART_AMT"/>
                            <element name="TTL_PART_BAL"/>
                            <element name="ParticipantDetail">
                                <complexType>
                                    <sequence>
                                        <element name="SYND_PART_ID"/>
                                        <element name="SYND_PART_NM"/>
                                        <element name="SYND_PART_REF"/>
                                        <element name="PART_PER"/>
                                        <element name="SYND_PART_AMT"/>
                                        <element name="FUND_AMT"/>
                                        <element name="SYND_PART_CCY"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="SYND_PART_ADD1"/>
                                        <element name="SYND_PART_ADD2"/>
                                        <element name="SYND_PART_ADD3"/>
                                        <element name="SYND_PART_SW_TAG"/>
                                        <element name="SYND_PART_SW_ADD"/>
                                        <element name="SYND_PART_CNTY_CD"/>
                                        <element name="SYND_PART_DISCLS__DESC__"/>
                                        <element name="SYND_PART_DISCLS"/>
                                        <element name="SYND_PART_START_DT"/>
                                        <element name="SYND_AC_NO"/>
                                        <element name="SYND_AC_WT_BK_ADD1"/>
                                        <element name="SYND_AC_WT_BK_ADD2"/>
                                        <element name="SYND_AC_WT_BK_ADD3"/>
                                        <element name="SYND_AC_WT_BK_ID"/>
                                        <element name="SYND_AC_WT_BK_NM"/>
                                        <element name="SYND_AC_WT_BK_SWAD"/>
                                        <element name="SYND_ACWT_BK_SWTAG"/>
                                        <element name="SYND_PART_LIABACNO"/>
                                        <element name="SYND_PART_TYPE__DESC__"/>
                                        <element name="SYND_PART_TYPE"/>
                                        <element name="SYND_PART_BAL"/>
                                        <element name="INC_AMT"/>
                                        <element name="DEC_AMT"/>
                                        <element name="SYND_TLUNPDCHG_AMT"/>
                                        <element name="SYND_TLUNPDCHG_BAL"/>
                                        <element name="SYND_TLUNPDCHG_CCY"/>
                                        <element name="SYND_CHG_NARR"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="SYND_PART_NAMT"/>
                                        <element name="PART_EMAIL_ADD"/>
                                        <element name="PART_FAX_NO"/>
                                        <element name="PART_MAIL_ADD"/>
                                        <element name="PART_TLX_NO"/>
                                        <element name="SYND_PART_FAMT"/>
                                        <element name="PART_CHG_RATE"/>
                                        <element name="PART_CR_ACNO"/>
                                        <element name="PART_CR_CCY"/>
                                        <element name="PART_CR_VLDT"/>
                                        <element name="PART_DR_ACNO"/>
                                        <element name="PART_DR_CCY"/>
                                        <element name="PART_DR_VLDT"/>
                                        <element name="C_TRX_STATUS"/>
                                        <element name="SYND_CHG_PD_AMT"/>
                                        <element name="PART_DR_AMT"/>
                                        <element name="PART_CR_AMT"/>
                                        <element name="SYND_CHG_BAL_AMT"/>
                                        <element name="SYND_CHG_PAID_AT"/>
                                        <element name="SYND_CHG_PAY_AMT"/>
                                        <element name="LEAD_NOTES"/>
                                        <element name="SYND_PART_NOTES"/>
                                        <element name="SYND_AC_WT_NOTES"/>
                                        <element name="SYND_PART_PAY_AMT"/>
                                        <element name="COMM_SCHE__DESC__"/>
                                        <element name="COMM_SCHE"/>
                                        <element name="CHG_POLICY__DESC__"/>
                                        <element name="CHG_POLICY"/>
                                        <element name="COMM_DT"/>
                                        <element name="COMM_START_DT"/>
                                        <element name="COMM_END_DT"/>
                                        <element name="NXT_COMM_DT"/>
                                        <element name="COMM_PRE"/>
                                        <element name="COMM_TYPE__DESC__"/>
                                        <element name="COMM_TYPE"/>
                                        <element name="FUND_FLAG__DESC__"/>
                                        <element name="FUND_FLAG"/>
                                        <element name="AMD_REG_DT"/>
                                        <element name="SYND_NO_OF_PERIODS"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="QR_CD_FLD"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="SOURCE_REF"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="SYND_FLG__DESC__"/>
                <element name="SYND_FLG"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_DRWE_ID"/>
                <element name="TRX_CCY"/>
                <element name="TRX_TYPE"/>
                <element name="WEB_REF"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
