EE_PARA/EE_PARA/Default/FORM/form_schema_TSUM_R2AmendmentRejection_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="TSU_AMD_NO"/>
<element name="TSU_AMD_TIMES"/>
<element name="TSU_DLTAPR_DTTM"/>
<element name="TSU_DLTARP_ID"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUR_REF"/>
<element name="TSU_PO_ID"/>
<element name="TSU_REJT_AMDMB"/>
<element name="TSU_REJT_RSN2"/>
<element name="TSU_REJT_RSNTP__DESC__"/>
<element name="TSU_REJT_RSNTP"/>
<element name="TSU_TID"/>
<element name="TSU_TRX_DTTM"/>
<element name="TSU_TRX_STATUS__DESC__"/>
<element name="TSU_TRX_STATUS"/>
</sequence>
</complexType>
</element>
</schema>
