EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_DFSettlement_Main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="MultiCreditSummary">
<complexType>
<sequence>
<element name="C_UNIT_CODE"/>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_CCY"/>
<element name="C_MLDC_CCY"/>
<element name="N_MLDC_AMT"/>
<element name="C_MLDC_FROM"/>
<element name="I_MLDC_SEQ"/>
<element name="C_PROTECT_FLAG"/>
<element name="I_MLDC_MERGE_TYPE"/>
<element name="C_MLDC_DESC"/>
<element name="MultiCredit">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_CCY"/>
<element name="I_MLDC_IDX"/>
<element name="C_MLDC_ANNGN_VAT_NO"/>
<element name="C_MLDC_ASSGN_AC"/>
<element name="C_MLDC_ASSGN_ADD1"/>
<element name="C_MLDC_ASSGN_ADD2"/>
<element name="C_MLDC_ASSGN_ADD3"/>
<element name="C_MLDC_ASSGN_COR_MED"/>
<element name="C_MLDC_ASSGN_EMAIL_ADD"/>
<element name="C_MLDC_ASSGN_FAX_NO"/>
<element name="C_MLDC_ASSGN_ID"/>
<element name="C_MLDC_ASSGN_NM"/>
<element name="C_MLDC_CR_AC"/>
<element name="C_MLDC_CR_AC_TYPE"/>
<element name="C_MLDC_CR_BK_AC"/>
<element name="C_MLDC_CR_BK_ADD1"/>
<element name="C_MLDC_CR_BK_ADD2"/>
<element name="C_MLDC_CR_BK_ADD3"/>
<element name="C_MLDC_CR_BK_COR_MED"/>
<element name="C_MLDC_CR_BK_ID"/>
<element name="C_MLDC_CR_BK_NAME"/>
<element name="C_MLDC_CR_BK_SW_ADD"/>
<element name="C_MLDC_CR_BK_SW_TAG"/>
<element name="C_MLDC_CR_BRANCH"/>
<element name="C_MLDC_CR_CCY"/>
<element name="C_MLDC_CR_DEAL"/>
<element name="F_MLDC_CR_RATE"/>
<element name="F_MLDC_DR_BUY_RATE"/>
<element name="D_MLDC_CR_VAL_DATE"/>
<element name="N_MLDC_CR_AMT_CRCCY"/>
<element name="N_MLDC_CR_AMT_TXCCY"/>
<element name="C_MLDC_NOSTRO_AC"/>
<element name="C_MLDC_NOSTRO_AC_CCY"/>
<element name="C_MLDC_PAY_ADV_MSG"/>
<element name="C_MLDC_PAY_COV_MSG"/>
<element name="C_MLDC_SETTLE_METHOD"/>
<element name="C_MLDC_UNPAID_FLAG"/>
<element name="C_MLDC_VOSTRO_AC"/>
<element name="C_MLDC_VOSTRO_AC_CCY"/>
<element name="I_MLDC_SEQ"/>
<element name="C_MLDC_CR_PER"/>
<element name="C_MLDC_FROM"/>
<element name="N_MLDC_CR_CHG_LCCCY"/>
<element name="N_MLDC_EXCH_FAVAMT"/>
<element name="C_MLDC_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="MultiDebitSummary">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_MLDC_SEQ"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_CCY"/>
<element name="C_MLDC_CCY"/>
<element name="N_MLDC_AMT"/>
<element name="C_MLDC_FROM"/>
<element name="C_PROTECT_FLAG"/>
<element name="I_MLDC_MERGE_TYPE"/>
<element name="C_MLDC_DESC"/>
<element name="MultiDebit">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_TRX_REF"/>
<element name="C_UNIT_CODE"/>
<element name="I_EVENT_TIMES"/>
<element name="C_TRX_CCY"/>
<element name="I_MLDC_IDX"/>
<element name="C_MLDC_DR_AC"/>
<element name="C_MLDC_DR_AC_TYPE"/>
<element name="C_MLDC_DR_ADD1"/>
<element name="C_MLDC_DR_ADD2"/>
<element name="C_MLDC_DR_ADD3"/>
<element name="C_MLDC_DR_BK_AC"/>
<element name="C_MLDC_DR_BK_ADD1"/>
<element name="C_MLDC_DR_BK_ADD2"/>
<element name="C_MLDC_DR_BK_ADD3"/>
<element name="C_MLDC_DR_BK_COR_MED"/>
<element name="C_MLDC_DR_BK_ID"/>
<element name="C_MLDC_DR_BK_NAME"/>
<element name="C_MLDC_DR_BK_SW_ADD"/>
<element name="C_MLDC_DR_BK_SW_TAG"/>
<element name="C_MLDC_DR_BRANCH"/>
<element name="C_MLDC_DR_CCY"/>
<element name="C_MLDC_DR_CHG_FLAG"/>
<element name="C_MLDC_DR_COR_MED"/>
<element name="C_MLDC_DR_DEAL"/>
<element name="C_MLDC_DR_EMAIL_ADD"/>
<element name="C_MLDC_DR_FAX_NO"/>
<element name="C_MLDC_DR_ID"/>
<element name="C_MLDC_DR_NAME"/>
<element name="C_MLDC_DR_VAT_NO"/>
<element name="D_MLDC_DR_VAL_DATE"/>
<element name="N_MLDC_DR_AMT_DRCCY"/>
<element name="N_MLDC_DR_AMT_TXCCY"/>
<element name="N_MLDC_DR_CHG_LCCCY"/>
<element name="F_MLDC_DR_BUY_RATE"/>
<element name="F_MLDC_DR_RATE"/>
<element name="N_MLDC_EXCH_FAVAMT"/>
<element name="C_MLDC_NOSTRO_AC"/>
<element name="C_MLDC_NOSTRO_AC_CCY"/>
<element name="C_MLDC_PAY_DR_BY"/>
<element name="C_MLDC_UNPAID_FLAG"/>
<element name="C_MLDC_VOSTRO_AC"/>
<element name="C_MLDC_VOSTRO_AC_CCY"/>
<element name="I_MLDC_SEQ"/>
<element name="C_MLDC_DR_PER"/>
<element name="C_MLDC_FROM"/>
<element name="C_MLDC_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="Settle_New">
<complexType>
<sequence>
<element name="FA_DOC_NO"/>
<element name="FA_DOC_REF"/>
<element name="FA_CRN_INV_LINK_NO"/>
<element name="FA_DOC_CCY"/>
<element name="FA_DOC_AMT"/>
<element name="FA_DOC_DT"/>
<element name="FA_PMT_AMT"/>
<element name="FA_DOC_BAL"/>
<element name="FA_DOC_DUE_DT"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_BK_CHG_AMT"/>
<element name="FA_DEDUCT_AMT"/>
<element name="FA_INV_CLEAR_AMT"/>
<element name="FA_PAID_INT_AMT"/>
<element name="FA_TEMP_AMT8"/>
<element name="FA_INV_LOAN_BAL"/>
<element name="FA_PAID_PRIN_AMT"/>
<element name="FA_OVD_INT_AMT"/>
<element name="FA_INV_REFUND_INT"/>
<element name="FA_DOC_TYPE__DESC__"/>
<element name="FA_DOC_TYPE"/>
<element name="FA_PMT_CLEAR_TYPE__DESC__"/>
<element name="FA_PMT_CLEAR_TYPE"/>
<element name="FA_PMT_TYPE__DESC__"/>
<element name="FA_PMT_TYPE"/>
<element name="FA_INV_LINK_REF"/>
<element name="FA_TEMP_CRN_BA"/>
<element name="FA_TEMP_INV_BA"/>
<element name="FA_DOC_STATUS"/>
<element name="FA_TEMP_DT1"/>
<element name="TEMP_FLG1__DESC__"/>
<element name="TEMP_FLG1"/>
<element name="IA_C_INTF_ID"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP3"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="CLERK_ID"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP_INV_BAL"/>
<element name="FA_PMT_REF"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT13"/>
<element name="FA_TEMP_AMT14"/>
<element name="FA_TEMP5"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_TEMP7"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="FA_LOAN_VAL_DT"/>
<element name="IA_Y_REFUND_INT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="IA_Y_REACC_INT"/>
<element name="IA_Y_PENINT_AMT"/>
<element name="TRX_DT"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="IA_I_BASE_DAYS"/>
<element name="FA_DSP_STATUS__DESC__"/>
<element name="FA_DSP_STATUS"/>
<element name="FA_BA_FLG__DESC__"/>
<element name="FA_BA_FLG"/>
<element name="FA_BA_LINK"/>
<element name="FA_INV_LOAN_ID"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_INV_LOAN_TIMES"/>
<element name="FA_TRF_FX_RT"/>
<element name="FA_FIN_RET_BAL"/>
<element name="FA_REBATE_AMT"/>
<element name="FA_ADJ_AMT"/>
<element name="FA_ADJ_BAL"/>
<element name="Settle_loan">
<complexType>
<sequence>
<element name="FA_LOAN_VAL_DT"/>
<element name="FA_INV_LOAN_TIMES"/>
<element name="FA_LOAN_ID"/>
<element name="FA_DOC_NO"/>
<element name="FA_INV_LOAN_ID"/>
<element name="FA_LOAN_PAID_AMT"/>
<element name="FA_LOAN_IPAID_AMT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_LOAN_INT_AMT"/>
<element name="FA_LAST_PINT_DT"/>
<element name="FA_INV_LOAN_EBAL"/>
<element name="FA_OVDUE_INT_RT"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_OVD_INT_EAMT"/>
<element name="FA_LOAN_DUE_DT"/>
<element name="IA_Y_REFUND_INT"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_TEMP_LOAN_EBAL"/>
<element name="FA_TEMP_AMT19"/>
<element name="FA_LOAN_CCY"/>
<element name="FA_TEMP_INV_INT_AMT"/>
<element name="FA_REBATE_AMT"/>
<element name="FA_LOAN_INT_SM_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
<element name="ACC_CCY"/>
<element name="CLERK_ID"/>
<element name="C_MAIN_REF"/>
<element name="DIARY_DT"/>
<element name="DIARY_NARRATIVE"/>
<element name="DIARY_RELATED_REF"/>
<element name="FA_ANCHOR_ACC"/>
<element name="FA_ANCHOR_ID"/>
<element name="FA_ANCHOR_NM"/>
<element name="FA_BA_FLG__DESC__"/>
<element name="FA_BA_FLG"/>
<element name="FA_BA_LINK"/>
<element name="FA_BUSI_STATUS__DESC__"/>
<element name="FA_BUSI_STATUS"/>
<element name="FA_BUSI_TYPE__DESC__"/>
<element name="FA_BUSI_TYPE"/>
<element name="FA_BUYER_EDI_ID"/>
<element name="FA_BUYER_ID"/>
<element name="FA_BUYER_NM"/>
<element name="FA_CE_MAIN_REF"/>
<element name="FA_CNTR_DOC_NO"/>
<element name="FA_CNTR_REF"/>
<element name="FA_COLL_AC_NO"/>
<element name="FA_COUNTER_ACC"/>
<element name="FA_COUNTER_ID"/>
<element name="FA_COUNTER_NM"/>
<element name="FA_CUST_INSTR__DESC__"/>
<element name="FA_CUST_INSTR"/>
<element name="FA_DOC_CCY"/>
<element name="FA_DOC_CR_AC_TEMP"/>
<element name="FA_DOC_DR_AC_TEMP"/>
<element name="FA_DR_AC_NO"/>
<element name="FA_EF_AC_NO1"/>
<element name="FA_EF_AC_NO2"/>
<element name="FA_EF_AC_NO3"/>
<element name="FA_EF_AC_NO4"/>
<element name="FA_INDR_PMT_FLG__DESC__"/>
<element name="FA_INDR_PMT_FLG"/>
<element name="FA_INT_CHG_TYPE__DESC__"/>
<element name="FA_INT_CHG_TYPE"/>
<element name="FA_INVOICE_END_DT"/>
<element name="FA_IRT_SPREAD"/>
<element name="FA_LMT_APPRV"/>
<element name="FA_LMT_BAL"/>
<element name="FA_LMT_CCY"/>
<element name="FA_LMT_EXTRA"/>
<element name="FA_LMT_TYPE__DESC__"/>
<element name="FA_LMT_TYPE"/>
<element name="FA_LOAN_AC_NO"/>
<element name="FA_LOAN_ID"/>
<element name="FA_LOAN_INT_ACC_NO"/>
<element name="FA_LOAN_INT_RT"/>
<element name="FA_LOAN_MAT_DT"/>
<element name="FA_LOAN_PPAID_AMT"/>
<element name="FA_LOAN_START_DT"/>
<element name="FA_LOAN_TENOR"/>
<element name="FA_LOAN_VAL_DT"/>
<element name="FA_MAX_LOAN_PERC"/>
<element name="FA_MSG_TEXT02"/>
<element name="FA_ORG_LMT_AMT"/>
<element name="FA_OVDUE_INT_SUM"/>
<element name="FA_PAID_INT_SUM"/>
<element name="FA_PAID_PRIN_SUM"/>
<element name="FA_PMT_AC_NO"/>
<element name="FA_PMT_AMT_SUM"/>
<element name="FA_PMT_CCY"/>
<element name="FA_PMT_DT"/>
<element name="FA_PMT_REF"/>
<element name="FA_PMT_TYPE__DESC__"/>
<element name="FA_PMT_TYPE"/>
<element name="FA_PMT_VAL_DT"/>
<element name="FA_REBATE_ACCOUNT"/>
<element name="FA_REBATE_AMT"/>
<element name="FA_REBATE_RATE"/>
<element name="FA_SBR_CCY"/>
<element name="FA_SBR_REF"/>
<element name="FA_SEL_AC_AMT"/>
<element name="FA_SEL_ADDR"/>
<element name="FA_SEL_CITY"/>
<element name="FA_SEL_EDI_ID"/>
<element name="FA_SEL_ID"/>
<element name="FA_SEL_NM"/>
<element name="FA_SEL_POST_CODE"/>
<element name="FA_SERVICE_REQ__DESC__"/>
<element name="FA_SERVICE_REQ"/>
<element name="FA_SETTLE_FLG__DESC__"/>
<element name="FA_SETTLE_FLG"/>
<element name="FA_TEMP2"/>
<element name="FA_TEMP3"/>
<element name="FA_TEMP4"/>
<element name="FA_TEMP6"/>
<element name="FA_TEMP_AMT10"/>
<element name="FA_TEMP_AMT11"/>
<element name="FA_TEMP_AMT12"/>
<element name="FA_TEMP_AMT16"/>
<element name="FA_TEMP_CLEAR_SUM"/>
<element name="FA_TEMP_DT1"/>
<element name="FA_TEMP_INV_INT_AMT"/>
<element name="FA_TEMP_TRX_DT"/>
<element name="FA_TEMP_TTL_COLLAT_AMT"/>
<element name="FA_TTL_AMT_CLEARED"/>
<element name="FA_TTL_REFUND_INT"/>
<element name="IA_I_BASE_DAYS"/>
<element name="IA_Y_REFUND_INT"/>
<element name="IA_Y_TTL_OVR_INT"/>
<element name="LM_CRED_LMT"/>
<element name="LM_OUTC_APL"/>
<element name="LM_OUTC_APLO"/>
<element name="LM_OUTC_APV"/>
<element name="LM_OUTC_APVO"/>
<element name="LM_OUTD_APL"/>
<element name="LM_OUTD_APLO"/>
<element name="LM_OUTD_APV"/>
<element name="LM_OUTD_APVO"/>
<element name="LM_RSV_LINK"/>
<element name="PO_MAX_LOAN_PERC"/>
<element name="PRODUCT_CODE"/>
<element name="QR_CD_FLD"/>
<element name="RPT_CNTY_CODE1"/>
<element name="TEMP_DUE_DT"/>
<element name="TEMP_DUE_DT2"/>
<element name="TEMP_FLG2"/>
<element name="TEMP_FLG3"/>
<element name="TEMP_FLG4"/>
<element name="TEMP_LOAN_ID"/>
<element name="TEMP_TRX_DT"/>
<element name="THEIR_REF_NO"/>
<element name="TRX_DT"/>
<element name="TSU_BK_BPO_FLG__DESC__"/>
<element name="TSU_BK_BPO_FLG"/>
<element name="XBOR_RT"/>
<element name="view_1"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
