EE_PARA/EE_PARA/Default/FORM/form_schema_Std_SLAFuncFlow_ConditionDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_AND_OR"/>
                <element name="C_CASE_SENSTIVE"/>
                <element name="C_FIELD_ID"/>
                <element name="C_FIELD_ID_M"/>
                <element name="C_FIELD_TYPE"/>
                <element name="C_FIELD_VALUE"/>
                <element name="C_FIELD_VALUE1"/>
                <element name="C_OPERATOR"/>
                <element name="C_TABLE_TYPE"/>
                <element name="C_TYPE"/>
                <element name="I_COND_SEQ_NO"/>
                <element name="I_OCOND_SEQ_NO"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
