EE_PARA/EE_PARA/Default/FORM/form_schema_std_Other_Clearing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_ACCT_CCY"/>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_BU_CNTY_CODE"/>
                <element name="ClEARING_TYPE"/>
                <element name="FIELD_SIZE"/>
                <element name="OP_TYPE"/>
                <element name="_ARRAY_FIELD"/>
                <element name="_ARRAY_VALUE"/>
                <element name="_IS_CLEARING"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
