EE_PARA/EE_PARA/Default/FORM/form_schema_PMAT_BuyerPayInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_BUYER_SETL__DESC__"/>
                <element name="ACC_BUYER_SETL"/>
                <element name="ACC_COLL_BK"/>
                <element name="AI_SP_ID__DESC__"/>
                <element name="AI_SP_ID"/>
                <element name="BUYR_BOS_ID"/>
                <element name="BUYR_ID"/>
                <element name="BUYR_NM"/>
                <element name="BuyerPayInvoice">
                    <complexType>
                        <sequence>
                            <element name="ACC_BUYER_SETL"/>
                            <element name="AI_ACT_AMT"/>
                            <element name="AI_AMT_PAID"/>
                            <element name="AI_BALANCE"/>
                            <element name="AI_DUE_DT"/>
                            <element name="AI_ID"/>
                            <element name="AI_NUM"/>
                            <element name="AI_ORG_AMT"/>
                            <element name="AI_OVD_FEE"/>
                            <element name="AI_PMT_DT"/>
                            <element name="AI_SET_DT"/>
                            <element name="AI_STAT_BUYR_CD"/>
                            <element name="AI_STAT_STAFF_CD"/>
                            <element name="AI_STAT_SUPLR_CD"/>
                            <element name="AMT_TO_SELT"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="EPP_ID"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_SUPLR_ID"/>
                            <element name="FA_REMI_AMT1"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_AMT13"/>
                            <element name="FA_TEMP_AMT19"/>
                            <element name="FA_TEMP_DOC_STATUS"/>
                            <element name="IS_FUNDED"/>
                            <element name="LM_CSL_ID"/>
                            <element name="LM_FACI_ID"/>
                            <element name="LM_RSV_LINK"/>
                            <element name="OVD_INT_AMT"/>
                            <element name="PYMT_BUYR_AMT"/>
                            <element name="PYMT_FEE_AMT"/>
                            <element name="PYMT_INT_AMT"/>
                            <element name="SUPLR_ID"/>
                            <element name="SUPLR_NM"/>
                            <element name="TEMP_DEP_REF"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CCY"/>
                <element name="C_MAIN_REF"/>
                <element name="DEPOSIT_AMT"/>
                <element name="DEPOSIT_BAL"/>
                <element name="DEPOSIT_DT"/>
                <element name="EPP_NM"/>
                <element name="EPP_REF"/>
                <element name="FA_TEMP1"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP_AMT11"/>
                <element name="FA_TEMP_AMT12"/>
                <element name="FEE_CHG_AMT"/>
                <element name="INT_CHG_AMT"/>
                <element name="NUM_OF_INV"/>
                <element name="OVD_DT"/>
                <element name="PRE_ADV_AMT"/>
                <element name="PRE_ADV_BAL"/>
                <element name="PYMT_DT"/>
                <element name="RECON_STAT__DESC__"/>
                <element name="RECON_STAT"/>
                <element name="RPT_TP__DESC__"/>
                <element name="RPT_TP"/>
                <element name="TAG_20"/>
                <element name="TAG_21"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TIMES"/>
            </sequence>
        </complexType>
    </element>
</schema>
