EE_PARA/EE_PARA/Default/FORM/form_schema_SYS_DOMAIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_BK_GROUP_ID"/>
<element name="C_CNTY_CODE"/>
<element name="C_DOMAIN_DESC"/>
<element name="C_DOMAIN_ID"/>
</sequence>
</complexType>
</element>
</schema>
