EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_DFSUBFinancing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CLERK_ID"/>
                <element name="FA_COMM_CHG_TYPE__DESC__"/>
                <element name="FA_COMM_CHG_TYPE"/>
                <element name="FA_CRN_AMT_SUM"/>
                <element name="FA_DOC_AMT"/>
                <element name="FA_DOC_BAL"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_DOC_DUE_DT"/>
                <element name="FA_DOC_NO"/>
                <element name="FA_DOC_REF"/>
                <element name="FA_DOC_STATUS"/>
                <element name="FA_DOC_VAL_DT"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_PAMT"/>
                <element name="FA_FIN_LOAN_AMT"/>
                <element name="FA_INT_CHG_TYPE__DESC__"/>
                <element name="FA_INT_CHG_TYPE"/>
                <element name="FA_INV_LMT_APPRV"/>
                <element name="FA_INV_LOAN_AMT"/>
                <element name="FA_INV_LOAN_BAL"/>
                <element name="FA_INV_LOAN_EBAL"/>
                <element name="FA_INV_LOAN_ID"/>
                <element name="FA_INV_LOAN_TIMES"/>
                <element name="FA_LAST_PINT_DT"/>
                <element name="FA_LOAN_DUE_DT"/>
                <element name="FA_LOAN_INT_AMT"/>
                <element name="FA_LOAN_INT_RT"/>
                <element name="FA_LOAN_PERC"/>
                <element name="FA_LOAN_STATUS"/>
                <element name="FA_LOAN_VAL_DT"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SUM_PERCENT"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP7"/>
                <element name="FA_TEMP_AMT15"/>
                <element name="FA_TEMP_AMT16"/>
                <element name="FA_TEMP_LMT"/>
                <element name="FA_TTL_COMM_RT"/>
                <element name="FINC_CCY2"/>
            </sequence>
        </complexType>
    </element>
</schema>
