EE_PARA/EE_PARA/Default/FORM/form_multi_schema_CFNC_Finance Register.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_NM"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_NM"/>
                            <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                            <element name="CFNC_C_ORIGIN_MODULE"/>
                            <element name="CFNC_C_ORIGIN_TRX_REF"/>
                            <element name="CFNC_DATA_FLAG__DESC__"/>
                            <element name="CFNC_DATA_FLAG"/>
                            <element name="CUST_ADD1"/>
                            <element name="CUST_ADD2"/>
                            <element name="CUST_ADD3"/>
                            <element name="CUST_ID"/>
                            <element name="CUST_NM"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DAY_MON_FLG__DESC__"/>
                            <element name="DAY_MON_FLG"/>
                            <element name="DELVR_DOC_AGST__DESC__"/>
                            <element name="DELVR_DOC_AGST"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWR_ADD1"/>
                            <element name="DRWR_ADD2"/>
                            <element name="DRWR_ADD3"/>
                            <element name="DRWR_ID"/>
                            <element name="DRWR_NM"/>
                            <element name="FINC_TYPE__DESC__"/>
                            <element name="FINC_TYPE"/>
                            <element name="FincEstablishReg">
                                <complexType>
                                    <sequence>
                                        <element name="CFNC_C_AC_NO"/>
                                        <element name="CFNC_C_AC_NO_BTN"/>
                                        <element name="CFNC_C_AC_TYPE"/>
                                        <element name="CFNC_C_CCY"/>
                                        <element name="CFNC_C_CUST_ID"/>
                                        <element name="CFNC_C_FFGE_NO"/>
                                        <element name="CFNC_C_FUNC_NAME"/>
                                        <element name="CFNC_C_GRACE_DAYS"/>
                                        <element name="CFNC_C_GRACE_FLG__DESC__"/>
                                        <element name="CFNC_C_GRACE_FLG"/>
                                        <element name="CFNC_C_INIT_FLG"/>
                                        <element name="CFNC_C_INT_MODE"/>
                                        <element name="CFNC_C_INT_MTHD"/>
                                        <element name="CFNC_C_INT_PAYABLE"/>
                                        <element name="CFNC_C_LAST_REF"/>
                                        <element name="CFNC_C_LAST_TYPE"/>
                                        <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                                        <element name="CFNC_C_ORIGIN_MODULE"/>
                                        <element name="CFNC_C_ORIGIN_TRX_REF"/>
                                        <element name="CFNC_C_PACK_AMT"/>
                                        <element name="CFNC_C_PACK_BAL"/>
                                        <element name="CFNC_C_PACK_CCY"/>
                                        <element name="CFNC_C_PACK_FLAG"/>
                                        <element name="CFNC_C_PACK_NO"/>
                                        <element name="CFNC_C_PAY_BY"/>
                                        <element name="CFNC_C_REF"/>
                                        <element name="CFNC_C_RELT_REF"/>
                                        <element name="CFNC_C_STATUS"/>
                                        <element name="CFNC_C_TRX_CCY"/>
                                        <element name="CFNC_C_TYPE__DESC__"/>
                                        <element name="CFNC_C_TYPE"/>
                                        <element name="CFNC_C_TYPE_DESC"/>
                                        <element name="CFNC_C_UNIT_CODE"/>
                                        <element name="CFNC_DRAWING_REF"/>
                                        <element name="CFNC_D_BILL_DUE_DT"/>
                                        <element name="CFNC_D_DT"/>
                                        <element name="CFNC_D_DUE_DT"/>
                                        <element name="CFNC_D_MAST_MATU_DT"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_INTEREST_INSTAL_FLG"/>
                                        <element name="CFNC_INTEREST_INTERVAL__DESC__"/>
                                        <element name="CFNC_INTEREST_INTERVAL"/>
                                        <element name="CFNC_I_BASIC_DAYS"/>
                                        <element name="CFNC_I_DAYS"/>
                                        <element name="CFNC_I_DAYS_TEMP"/>
                                        <element name="CFNC_I_FINC_TIMES"/>
                                        <element name="CFNC_N_AMT_LCCCY"/>
                                        <element name="CFNC_N_AMT_TXCCY"/>
                                        <element name="CFNC_N_BAL"/>
                                        <element name="CFNC_N_FINC_TTL_AMT"/>
                                        <element name="CFNC_N_FINC_TTL_BAL"/>
                                        <element name="CFNC_N_LIBOR_RT"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_LIBOR_RT_TYPE"/>
                                        <element name="CFNC_N_MARGIN_RT"/>
                                        <element name="CFNC_N_PCT"/>
                                        <element name="CFNC_N_PNLT_RT"/>
                                        <element name="CFNC_N_PRE_INT"/>
                                        <element name="CFNC_N_RT"/>
                                        <element name="CFNC_N_RT_NARR"/>
                                        <element name="CFNC_N_RT_TYPE__DESC__"/>
                                        <element name="CFNC_N_RT_TYPE"/>
                                        <element name="CFNC_N_TRXCCY_LCY"/>
                                        <element name="CFNC_N_TRX_AMT"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
                                        <element name="CFNC_PRINCIPAL_INTERVAL"/>
                                        <element name="CFNC_RELA_MAIN_REF"/>
                                        <element name="C_LAST_MODI_BU"/>
                                        <element name="C_LAST_MODI_DATE"/>
                                        <element name="C_LAST_MODI_FUNC"/>
                                        <element name="C_LAST_MODI_MODULE"/>
                                        <element name="C_LAST_MODI_OP"/>
                                        <element name="C_TRX_CCY"/>
                                        <element name="IA_C_FLT_RATE_NO"/>
                                        <element name="IA_C_SPR_RATE_NO"/>
                                        <element name="IA_N_FLT_RAT_TBLID"/>
                                        <element name="IA_N_SPR_RAT_TBLID"/>
                                        <element name="LC_CCY"/>
                                        <element name="N_TRX_AMT"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="NOTES"/>
                            <element name="QR_CD_FLD"/>
                            <element name="REF_INQ_BTN"/>
                            <element name="RELA_DRAW_REF"/>
                            <element name="RELA_MAIN_REF"/>
                            <element name="TEMP_C_CFNC_REF"/>
                            <element name="TEMP_DAY_MON_FLG__DESC__"/>
                            <element name="TEMP_DAY_MON_FLG"/>
                            <element name="TEMP_D_MAT_DATE"/>
                            <element name="TEMP_TENOR_TYPE"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TRX_AMT"/>
                            <element name="TRX_CCY"/>
                            <element name="TTL_CHG_OUR"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
