EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYS_Assign_Authorization_Rule_Func.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="AUTH_RULE_NAME"/>
<element name="C_SSS"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
