EE_PARA/EE_PARA/Default/FORM/form_multi_schema_MultiDebit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_DR_AC"/>
                            <element name="C_MLDC_DR_AC_DESC"/>
                            <element name="C_MLDC_DR_AC_TYPE"/>
                            <element name="C_MLDC_DR_CCY"/>
                            <element name="C_MLDC_DR_CHG_FLAG"/>
                            <element name="C_MLDC_DR_C_TRANS_CODE"/>
                            <element name="C_MLDC_DR_ID"/>
                            <element name="C_MLDC_DR_NAME"/>
                            <element name="C_MLDC_DR_PER"/>
                            <element name="C_MLDC_DR_TRX_CCY"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_MLDC_TEMP_AC"/>
                            <element name="C_MLDC_TEMP_CCY"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="D_MLDC_DR_VAL_DATE"/>
                            <element name="F_MLDC_DR_BUY_RATE"/>
                            <element name="F_MLDC_DR_RATE"/>
                            <element name="I_MLDC_IDX"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="MLDC_DR_AC_BTN"/>
                            <element name="MLDC_DR_AC_OWNER_BTN"/>
                            <element name="MLDC_DR_EXNG_AC"/>
                            <element name="N_MLDC_DR_AMT_DRCCY"/>
                            <element name="N_MLDC_DR_AMT_DRCCY_EXCH"/>
                            <element name="N_MLDC_DR_AMT_MAPING"/>
                            <element name="N_MLDC_DR_AMT_TXCCY"/>
                            <element name="N_MLDC_DR_CHG_LCCCY"/>
                            <element name="N_MLDC_EXCH_FAVAMT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
