EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TADR_AddTraderData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AssignTraderToTeam">
                                <complexType>
                                    <sequence>
                                        <element name="BE_SELECT_FLG"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DO_INDEX_NO"/>
                                        <element name="TADR_ID"/>
                                        <element name="TEAM_ID"/>
                                        <element name="TEAM_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="KDFolderDetails">
                                <complexType>
                                    <sequence>
                                        <element name="BR_CD"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="DO_INDEX_NO"/>
                                        <element name="LONG_NM"/>
                                        <element name="MEMO"/>
                                        <element name="PORTFL_CD"/>
                                        <element name="POSIT_TP"/>
                                        <element name="SHORT_NM"/>
                                        <element name="STOP_DT"/>
                                        <element name="TADR_EN_NM"/>
                                        <element name="TADR_ID"/>
                                        <element name="TEAM_ID"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="KD_USER_ID"/>
                            <element name="LOCAL_TIME"/>
                            <element name="NOTES"/>
                            <element name="TADR_BR_CD"/>
                            <element name="TADR_CITY_NM"/>
                            <element name="TADR_CNTY_CD__DESC__"/>
                            <element name="TADR_CNTY_CD"/>
                            <element name="TADR_CNTY_NM"/>
                            <element name="TADR_DEPTMT"/>
                            <element name="TADR_EMAIL_ADD"/>
                            <element name="TADR_EN_NM"/>
                            <element name="TADR_FAX_NO"/>
                            <element name="TADR_ID"/>
                            <element name="TADR_ID_BTN"/>
                            <element name="TADR_LOCAL_NM"/>
                            <element name="TADR_MAX_LVL"/>
                            <element name="TADR_TEL_NO"/>
                            <element name="TEMP_CHK_DUP_INDEX"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
