EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_BuyerPayCharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BUYER_SETL__DESC__"/>
                            <element name="ACC_BUYER_SETL"/>
                            <element name="ACC_COLL_BK"/>
                            <element name="BUYR_BOS_ID"/>
                            <element name="BUYR_ID"/>
                            <element name="BUYR_NM"/>
                            <element name="CCY"/>
                            <element name="C_MAIN_REF"/>
                            <element name="ChargeDetails">
                                <complexType>
                                    <sequence>
                                        <element name="BUYR_ID"/>
                                        <element name="CCY"/>
                                        <element name="CHG_STAT"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="DUE_ON"/>
                                        <element name="EPP_ID"/>
                                        <element name="EPP_NM"/>
                                        <element name="FEE_AMT"/>
                                        <element name="FEE_TP__DESC__"/>
                                        <element name="FEE_TP"/>
                                        <element name="FUND_RPT_ID"/>
                                        <element name="PAID_ON"/>
                                        <element name="SUPLR_ID"/>
                                        <element name="SUPLR_NM"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DEPOSIT_AMT"/>
                            <element name="DEPOSIT_DT"/>
                            <element name="EPP_NM"/>
                            <element name="EPP_REF"/>
                            <element name="PRE_ADV_AMT"/>
                            <element name="PRE_ADV_BAL"/>
                            <element name="PYMT_DT"/>
                            <element name="RECON_STAT__DESC__"/>
                            <element name="RECON_STAT"/>
                            <element name="RPT_TP__DESC__"/>
                            <element name="RPT_TP"/>
                            <element name="TAG_20"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
