EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SWIFT_MT752.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="X752RECCORRACNO54A"/>
<element name="X752SENDCORACNO53A"/>
<element name="X752SENDCORADD153A"/>
<element name="X752SENDCORADD253A"/>
<element name="X752SENDCORADD353A"/>
<element name="X752SENDCORRMED53A__DESC__"/>
<element name="X752SENDCORRMED53A"/>
<element name="X752_ADVDISCREDT30"/>
<element name="X752_ADV_BKADD1_B2"/>
<element name="X752_ADV_BKADD2_B2"/>
<element name="X752_ADV_BKADD3_B2"/>
<element name="X752_ADV_BKID_B2"/>
<element name="X752_ADV_BKID_B2_BTN"/>
<element name="X752_ADV_BKMED_B2__DESC__"/>
<element name="X752_ADV_BKMED_B2"/>
<element name="X752_ADV_BKNM_B2"/>
<element name="X752_ADV_BKSW_B2"/>
<element name="X752_BKTOBK_INFO72"/>
<element name="X752_CHG_DEDUCT71B"/>
<element name="X752_DOC_CRE_NO_20"/>
<element name="X752_DT_33A"/>
<element name="X752_FUR_IDEN_23"/>
<element name="X752_NET_AMT_33A"/>
<element name="X752_NET_CCY_33A"/>
<element name="X752_PRESBK_REF_21"/>
<element name="X752_RECCORADD154A"/>
<element name="X752_RECCORADD254A"/>
<element name="X752_RECCORADD354A"/>
<element name="X752_RECCORRID_54A"/>
<element name="X752_RECCORRID_54A_BTN"/>
<element name="X752_RECCORRMED54A__DESC__"/>
<element name="X752_RECCORRMED54A"/>
<element name="X752_RECCORRNM_54A"/>
<element name="X752_RECCORRSW_54A"/>
<element name="X752_SENDCORRID53A"/>
<element name="X752_SENDCORRID53A_BTN"/>
<element name="X752_SENDCORRNM53A"/>
<element name="X752_SENDCORRSW53A"/>
<element name="X752_TAG_33"/>
<element name="X752_TAG_53A"/>
<element name="X752_TAG_54A"/>
<element name="X752_TTLADVAMT_32B"/>
<element name="X752_TTLADVCCY_32B"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
