EE_PARA/EE_PARA/Default/FORM/form_schema_Participant Header - Copy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="GRACE_DAYS"/>
<element name="PCPT_AMT"/>
<element name="RECRS_PRTY_CNTY_CD"/>
<element name="RECRS_PRTY_NM"/>
<element name="RECRS_PRTY_REF"/>
<element name="RECRS_PRTY_SW_ADD"/>
<element name="RECRS_PRTY_SW_TAG"/>
<element name="SYND_AMT"/>
<element name="SYND_BAL"/>
<element name="SYND_CCY"/>
<element name="SYND_EXPIRY_DT"/>
<element name="SYND_PART_NO"/>
<element name="SYND_RISK_TYPE__DESC__"/>
<element name="SYND_RISK_TYPE"/>
<element name="TTL_FUNDED_AMT"/>
<element name="TTL_PART_AMT"/>
<element name="TTL_PART_BAL"/>
</sequence>
</complexType>
</element>
</schema>
