EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRMM_MMeLOANBatch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BRANCH"/>
                            <element name="BACK_CONF_STATUS"/>
                            <element name="BENE_BK_AC_NO"/>
                            <element name="BENE_BK_ID"/>
                            <element name="BENE_BK_SWADD"/>
                            <element name="BK_BR_CODE"/>
                            <element name="BROKER_ID"/>
                            <element name="BROKER_NM"/>
                            <element name="BR_CODE"/>
                            <element name="BUSI_UNIT"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNPT_BUSI_UNIT"/>
                            <element name="CNPT_FULL_NM"/>
                            <element name="CNPT_ID"/>
                            <element name="CNPT_NS_FULL_NM"/>
                            <element name="CNPT_NS_SWADD"/>
                            <element name="CNPT_SHORT_NM"/>
                            <element name="CNPT_SSI_CCY"/>
                            <element name="CNPT_SWADD"/>
                            <element name="CNPT_TP"/>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEAL_ACTION__DESC__"/>
                            <element name="DEAL_ACTION"/>
                            <element name="DEAL_NO"/>
                            <element name="DEAL_TP__DESC__"/>
                            <element name="DEAL_TP"/>
                            <element name="ELOAN_TP"/>
                            <element name="EXTD_AMT"/>
                            <element name="FACTOR"/>
                            <element name="FOLDER"/>
                            <element name="IA_C_ACCOUNT_TYPE"/>
                            <element name="IA_C_CUST_CODE"/>
                            <element name="IA_C_DIS_LOCALCCY"/>
                            <element name="IA_C_EVENT_NO"/>
                            <element name="IA_C_FUNCTION_ID"/>
                            <element name="IA_C_MODU_NAME"/>
                            <element name="IA_C_UNIT_OF_CRT"/>
                            <element name="IA_I_CCY_DEC"/>
                            <element name="IA_I_LOCALCCY_DEC"/>
                            <element name="IA_N_BUSINESS_TAX"/>
                            <element name="IA_N_FIX_SPR_RATE"/>
                            <element name="IA_N_STAMP_TAX"/>
                            <element name="IA_Y_PAID_INT"/>
                            <element name="INTMED_BK_SWADD"/>
                            <element name="INT_AMT"/>
                            <element name="INT_AMT_P"/>
                            <element name="INT_RT"/>
                            <element name="ITEM_FLD_NM"/>
                            <element name="KONDOR_FOLDER"/>
                            <element name="LOCAL_TIME"/>
                            <element name="MATURITY_DT"/>
                            <element name="MODULE"/>
                            <element name="MT320_15Seq"/>
                            <element name="MT320_17R__DESC__"/>
                            <element name="MT320_17R"/>
                            <element name="MT320_21"/>
                            <element name="MT320_34E"/>
                            <element name="MT320_57_NM"/>
                            <element name="MT320_57_SWTAG"/>
                            <element name="MT320_82A"/>
                            <element name="MT320_COMM_REF"/>
                            <element name="MT320_OPETN_TP__DESC__"/>
                            <element name="MT320_OPETN_TP"/>
                            <element name="MT_TP"/>
                            <element name="NOSTRO_BK_ID"/>
                            <element name="NOSTRO_BK_SW_ADD"/>
                            <element name="OLD_AMT"/>
                            <element name="OLD_DEAL_NO"/>
                            <element name="OLD_INT_AMT"/>
                            <element name="OUR_NS_ID_BTN"/>
                            <element name="OVER_AC_FLG"/>
                            <element name="POSIT_TP__DESC__"/>
                            <element name="POSIT_TP"/>
                            <element name="SEND_MT202_FLG__DESC__"/>
                            <element name="SEND_MT202_FLG"/>
                            <element name="SEND_MT202_VDT"/>
                            <element name="SEND_MT320_FLG__DESC__"/>
                            <element name="SEND_MT320_FLG"/>
                            <element name="SEND_MT320_VDT"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="SEND_VOU_VDT"/>
                            <element name="SETL_ACTION"/>
                            <element name="TADE_DT"/>
                            <element name="TADR_EN_NM"/>
                            <element name="TADR_ID"/>
                            <element name="TEMP_PORTFL_CD"/>
                            <element name="TOTAL_AMT"/>
                            <element name="TRX_AMT"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_CCY_CNTY_CD"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_NS_AMT"/>
                            <element name="UPFT_IA_CR_ACNO"/>
                            <element name="UPFT_IA_DR_ACNO"/>
                            <element name="VAL_DT"/>
                            <element name="VCH_CUSTID_CR"/>
                            <element name="VCH_CUSTID_DR"/>
                            <element name="WHT_SEND_MT202_FLG__DESC__"/>
                            <element name="WHT_SEND_MT202_FLG"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
