EE_PARA/EE_PARA/Default/FORM/form_schema_CUST_UpdateCustomerInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CUST_ACTIVITY_TIME"/>
                <element name="CUST_BOS_ID"/>
                <element name="CUST_BRANCH"/>
                <element name="CUST_CNTRY"/>
                <element name="CUST_CONNECT_ID"/>
                <element name="CUST_CONNECT_INDIC__DESC__"/>
                <element name="CUST_CONNECT_INDIC"/>
                <element name="CUST_DROP_CODE"/>
                <element name="CUST_GUAT_MAKT_CHKER__DESC__"/>
                <element name="CUST_GUAT_MAKT_CHKER"/>
                <element name="CUST_INSTI_CODE"/>
                <element name="CUST_LAST_KYC_DT"/>
                <element name="CUST_LIMT_CCY"/>
                <element name="CUST_MAKT_CHK_FLAG__DESC__"/>
                <element name="CUST_MAKT_CHK_FLAG"/>
                <element name="CUST_MAKT_SEG_CD"/>
                <element name="CUST_NM"/>
                <element name="CUST_SER_TEMP_CD"/>
                <element name="CUST_STAN_MAKT_CHKER__DESC__"/>
                <element name="CUST_STAN_MAKT_CHKER"/>
                <element name="CUST_TSC_SER_CD"/>
                <element name="CUST_UPP_CASE_NM"/>
                <element name="C_MAIN_REF"/>
                <element name="C_TEMP_DATA1"/>
                <element name="C_USER_ID"/>
                <element name="D_SYS_OP_DATE"/>
            </sequence>
        </complexType>
    </element>
</schema>
