EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Generic_Liab_Voucher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="AMD_DT"/>
<element name="APPL_ID"/>
<element name="AVLI_DATE"/>
<element name="BANK_LIAB_AC"/>
<element name="CHG_CUST_VCH_DESC_CR"/>
<element name="CHG_CUST_VCH_DESC_DR"/>
<element name="CHG_FCUST_CCY"/>
<element name="CHG_FOREIGN_FX_AMT_CR"/>
<element name="CHG_FOREIGN_FX_AMT_DR"/>
<element name="CHG_LOCAL_FX_AMT_CR"/>
<element name="CHG_LOCAL_FX_AMT_DR"/>
<element name="CHG_LOCAL_FX_CCY_CR"/>
<element name="CHG_LOCAL_FX_CCY_DR"/>
<element name="CHG_TRX_DATE"/>
<element name="COLL_CCY"/>
<element name="CPYT_C_SDA_FLAG"/>
<element name="CURRNT_STATUS"/>
<element name="CUST_LIAB_AC"/>
<element name="C_CUST_ID"/>
<element name="C_TRANS_CODE"/>
<element name="DEC_LIAB_AMT"/>
<element name="DETRMNTL_FLG__DESC__"/>
<element name="DETRMNTL_FLG"/>
<element name="DIR_BANK_LIAB_AC"/>
<element name="DIR_CUST_LIAB_AC"/>
<element name="DRWE_ID"/>
<element name="DRWG_AMT_CCY"/>
<element name="INC_LIAB_AMT"/>
<element name="ISSUE_DT"/>
<element name="LC_BAL"/>
<element name="LC_CCY"/>
<element name="LOGIN_BIC"/>
<element name="PRES_AMT_PRES_CCY"/>
<element name="PRES_CCY"/>
<element name="RATE"/>
<element name="RT_CCY_LCY"/>
<element name="SIGHT_USANCE_FLG"/>
<element name="STP_ADBIC_LC"/>
<element name="STP_CODE"/>
<element name="STP_MESSAGE_TYPE"/>
<element name="STP_MSG_CONTENT"/>
<element name="STP_RECV_TIME"/>
<element name="SYS_BUSI_UNIT"/>
<element name="SYS_MODULE_NAME"/>
<element name="SYS_ORG_FUNCTION_NAME"/>
<element name="VALUE_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
