EE_PARA/EE_PARA/Default/FORM/form_schema_SLA_InqFuncFlowInbox_History.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="C_BG_DESC"/>
<element name="C_BG_VERSION"/>
<element name="C_CP_UNIT_CODE"/>
<element name="C_CURRENCY"/>
<element name="C_CUST_ID"/>
<element name="C_FUNC_DESC"/>
<element name="C_FUNC_ID"/>
<element name="C_LEVEL_DESC"/>
<element name="C_MAIN_REF"/>
<element name="C_SLA_ID"/>
<element name="C_STATUS_FLAG"/>
<element name="C_STEP_NAME"/>
<element name="C_TRX_REF"/>
<element name="DueDate"/>
<element name="TaskName"/>
<element name="Y_TRX_AMT"/>
<element name="assignee"/>
<element name="createTime"/>
<element name="priorityDesc"/>
<element name="processDefinition"/>
</sequence>
</complexType>
</element>
</schema>
