EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_SignAgreementME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_CUST"/>
                <element name="CHG_FREQ_CD__DESC__"/>
                <element name="CHG_FREQ_CD"/>
                <element name="CHG_PAID_BY__DESC__"/>
                <element name="CHG_PAID_BY"/>
                <element name="CLERK_ID"/>
                <element name="CUST_TYPE__DESC__"/>
                <element name="CUST_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_ACK_FLG__DESC__"/>
                <element name="FA_ACK_FLG"/>
                <element name="FA_AGM_CCY"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_ANCHOR_ACC"/>
                <element name="FA_ANCHOR_ADD_ML"/>
                <element name="FA_ANCHOR_AMT"/>
                <element name="FA_ANCHOR_CCY"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_ANCHOR_ROLE"/>
                <element name="FA_AUTO_DEBIT__DESC__"/>
                <element name="FA_AUTO_DEBIT"/>
                <element name="FA_AUTO_FIN__DESC__"/>
                <element name="FA_AUTO_FIN"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CONTRACT_REF"/>
                <element name="FA_CUST_ID"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_CUST_REG_NO"/>
                <element name="FA_CUT_OFF_DAYS"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_MAX_FIN_AMT"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_MIN_FIN_AMT"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_OVD_IRT_SPREAD"/>
                <element name="FA_REBATE_ACCOUNT"/>
                <element name="FA_REBATE_RATE"/>
                <element name="FA_REMARK"/>
                <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                <element name="FA_REQ_BUYER_APR_FLG"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP_BK_ID1"/>
                <element name="FA_VALID_DAYS"/>
                <element name="LM_RSV_LINK"/>
                <element name="MSG_TYPE"/>
                <element name="QR_CD_FLD"/>
                <element name="REBATE_BT"/>
                <element name="TEMP_FA_BUYER_ID"/>
                <element name="TEMP_FA_BUYER_NM"/>
                <element name="TEMP_FA_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="XBOR_RT"/>
                <element name="button5"/>
                <element name="button6"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
