EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FIN_InvoiceFinancingDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="FIN_DOC_ISS_DT"/>
<element name="FIN_DOC_REF"/>
<element name="FIN_PMT_DUE_DT"/>
<element name="FIN_TTL_INV_AMT"/>
<element name="FIN_TTL_INV_CCY"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
