EE_PARA/EE_PARA/Default/FORM/form_schema_PYMT_Cancel_ITT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACCT103_DUP"/>
                <element name="ACC_CHANGE_FLAG"/>
                <element name="AC_WT_INST_ID"/>
                <element name="AMOUNT"/>
                <element name="AUDIT_CODE"/>
                <element name="AUDT_DESC"/>
                <element name="AUDT_FUNCTION"/>
                <element name="AUDT_INSERTED_TMSTAMP"/>
                <element name="AUDT_MAIN_REF"/>
                <element name="AUDT_OP_ID"/>
                <element name="AUDT_SUB_TYPE"/>
                <element name="AUDT_TRX_REF"/>
                <element name="AUDT_TYPE"/>
                <element name="AVAL_WT_BK_ID"/>
                <element name="BANK_CHRG_ACCT"/>
                <element name="BU"/>
                <element name="CANCEL_FLG"/>
                <element name="CCY"/>
                <element name="CCY_CUTOFF_DAY"/>
                <element name="CHIPFED"/>
                <element name="CNTY_CODE"/>
                <element name="CPYT_CR_BK_AC1"/>
                <element name="CPYT_DR_AC1"/>
                <element name="CPYT_DR_CCY"/>
                <element name="CPYT_FUNC_NAME"/>
                <element name="CURRNT_STATUS"/>
                <element name="CUTOFF_DAY"/>
                <element name="CUTOFF_TIME"/>
                <element name="C_AC_IDENTIFIER"/>
                <element name="C_CLEAR_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DB_CALC_AMT"/>
                <element name="DB_CCY"/>
                <element name="DUPLICATE_TRN"/>
                <element name="DUP_CHK"/>
                <element name="EXCH_RATE"/>
                <element name="FDS_AVAL"/>
                <element name="FDS_TO_CHK"/>
                <element name="FIELD_1_X"/>
                <element name="FIELD_6_X"/>
                <element name="FIELDs"/>
                <element name="FRT_OFCE_CODE"/>
                <element name="HELP_LINK_URL"/>
                <element name="INT_CUST_ID"/>
                <element name="INW_CUST_REF"/>
                <element name="INW_SNDBK_ADD1"/>
                <element name="INW_SNDBK_ADD2"/>
                <element name="INW_SNDBK_ADD3"/>
                <element name="INW_SNDBK_ID"/>
                <element name="INW_SNDBK_NM"/>
                <element name="INW_SNDBK_SW"/>
                <element name="INW_X103BENECUADD1_59A"/>
                <element name="INW_X103BENECUADD2_59A"/>
                <element name="INW_X103BENECUADD3_59A"/>
                <element name="INW_X103RECCORRACNO54A"/>
                <element name="INW_X103SENDCORACNO53A"/>
                <element name="INW_X103SENDCORADD153A"/>
                <element name="INW_X103SENDCORADD253A"/>
                <element name="INW_X103SENDCORADD353A"/>
                <element name="INW_X103_ACCBKADD1_57A"/>
                <element name="INW_X103_ACCBKADD2_57A"/>
                <element name="INW_X103_ACCBKADD3_57A"/>
                <element name="INW_X103_ACC_BKACNO57A"/>
                <element name="INW_X103_ACC_BKID_57A"/>
                <element name="INW_X103_ACC_BKNM_57A"/>
                <element name="INW_X103_ACC_BKSW_57A"/>
                <element name="INW_X103_BENECUACNO59A"/>
                <element name="INW_X103_BENECU_ID_59A"/>
                <element name="INW_X103_BENECU_NM_59A"/>
                <element name="INW_X103_BENECU_SW_59A"/>
                <element name="INW_X103_BK2BK_INF1_72"/>
                <element name="INW_X103_BK2BK_INF2_72"/>
                <element name="INW_X103_BK2BK_INF3_72"/>
                <element name="INW_X103_BK2BK_INF4_72"/>
                <element name="INW_X103_BK2BK_INF5_72"/>
                <element name="INW_X103_BK2BK_INF6_72"/>
                <element name="INW_X103_BKOP_CODE_23B"/>
                <element name="INW_X103_DET_CHG_71A"/>
                <element name="INW_X103_ENV_CONT_77T"/>
                <element name="INW_X103_EXCH_RT_36"/>
                <element name="INW_X103_INSTRCODE1_23E"/>
                <element name="INW_X103_INSTRCODE2_23E"/>
                <element name="INW_X103_INSTRCODE_23E"/>
                <element name="INW_X103_INSTR_AMT_33B"/>
                <element name="INW_X103_INSTR_CCY_33B"/>
                <element name="INW_X103_ORDCUACNO_50A"/>
                <element name="INW_X103_ORDCUADD1_50A"/>
                <element name="INW_X103_ORDCUADD2_50A"/>
                <element name="INW_X103_ORDCUADD3_50A"/>
                <element name="INW_X103_ORDCU_ID_50A"/>
                <element name="INW_X103_ORDCU_NM_50A"/>
                <element name="INW_X103_ORDCU_SW_50A"/>
                <element name="INW_X103_RECCHGAMT_71G"/>
                <element name="INW_X103_RECCHGCCY_71G"/>
                <element name="INW_X103_RECCORADD154A"/>
                <element name="INW_X103_RECCORADD254A"/>
                <element name="INW_X103_RECCORADD354A"/>
                <element name="INW_X103_RECCORRID_54A"/>
                <element name="INW_X103_RECCORRNM_54A"/>
                <element name="INW_X103_RECCORRSW_54A"/>
                <element name="INW_X103_REG_REP1_77B"/>
                <element name="INW_X103_REG_REP2_77B"/>
                <element name="INW_X103_REG_REP3_77B"/>
                <element name="INW_X103_REMIT_INF1_70"/>
                <element name="INW_X103_REMIT_INF2_70"/>
                <element name="INW_X103_REMIT_INF3_70"/>
                <element name="INW_X103_REMIT_INF4_70"/>
                <element name="INW_X103_SENDCHGAMT71F"/>
                <element name="INW_X103_SENDCHGCCY71F"/>
                <element name="INW_X103_SENDCORRID53A"/>
                <element name="INW_X103_SENDCORRNM53A"/>
                <element name="INW_X103_SENDCORRSW53A"/>
                <element name="INW_X103_SEND_NO_20"/>
                <element name="INW_X103_SETT_AMT_32A"/>
                <element name="INW_X103_SETT_CCY_32A"/>
                <element name="INW_X103_TAG_50A"/>
                <element name="INW_X103_TAG_53A"/>
                <element name="INW_X103_TAG_54A"/>
                <element name="INW_X103_TAG_57A"/>
                <element name="INW_X103_TAG_59A"/>
                <element name="INW_X103_TRX_TYPCD_26T"/>
                <element name="INW_X103_VALUE_DT_32A"/>
                <element name="MAX_191"/>
                <element name="MD_I"/>
                <element name="MLT_STLMT"/>
                <element name="MT191SENT_NO"/>
                <element name="NOTES"/>
                <element name="NUM_ACCTS"/>
                <element name="NXT_STATUS"/>
                <element name="NXT_TRCR_DT"/>
                <element name="OLDVALUES"/>
                <element name="OLDVALUES_ACC"/>
                <element name="OLDVALUES_COVERNO"/>
                <element name="OLDVALUES_OVR"/>
                <element name="ORIG_103_MEDI_BKID"/>
                <element name="ORIG_103_REC_BKID"/>
                <element name="ORIG_202SENDCORRID"/>
                <element name="ORIG_202_REC_BKID"/>
                <element name="ORIG_IBAN_VALID"/>
                <element name="OVRIDE"/>
                <element name="PAY_COMM_TMP"/>
                <element name="PRODREF"/>
                <element name="RATE_TYPE"/>
                <element name="RECORDER_TYPE__DESC__"/>
                <element name="RECORDER_TYPE"/>
                <element name="RES_STATUS"/>
                <element name="REVE_IND"/>
                <element name="SECOND_CHG_AMT"/>
                <element name="SETT_ACC_AUDIT"/>
                <element name="SETT_ACC_AUDIT1"/>
                <element name="SEVEN_DAYS_BACK"/>
                <element name="SWT_COMM_TMP"/>
                <element name="SYS_BUSI_UNIT"/>
                <element name="TEMP_RESULT"/>
                <element name="TEMP_RESULT2"/>
                <element name="TOT_CHRG_AMT"/>
                <element name="TOT_DB_AMT"/>
                <element name="TRX_HISTORY"/>
                <element name="TRX_HISTORY_TEMP"/>
                <element name="TWO_DAYS_BACK"/>
                <element name="VAT_IND1"/>
                <element name="X103_INSTRCODE_23E"/>
                <element name="X103_INSTR_AMT_33B"/>
                <element name="X103_INSTR_CCY_33B"/>
                <element name="X103_ORDCUACNO_50F"/>
                <element name="X103_ORDCUADD1_50F"/>
                <element name="X103_ORDCUADD2_50F"/>
                <element name="X103_ORDCUADD3_50F"/>
                <element name="X103_ORDCU_NM_50F"/>
                <element name="X103_SETT_AMT_32A"/>
                <element name="X103_SETT_CCY_32A"/>
                <element name="X202_AMT_32A"/>
                <element name="X202_CCY_32A"/>
                <element name="X202_RELATEDNO_21"/>
                <element name="X202_TIME_INDI_13C"/>
                <element name="X202_TRX_REF_NO_20"/>
                <element name="X202_VALUE_DT_32A"/>
                <element name="XN91_ORDBKACNO_52A"/>
                <element name="XN91_ORDBKADD1_52A"/>
                <element name="XN91_ORDBKADD2_52A"/>
                <element name="XN91_ORDBKADD3_52A"/>
                <element name="XN91_ORD_BKID_52A"/>
                <element name="XN91_ORD_BKNM_52A"/>
                <element name="XN91_ORD_BKSW_52A"/>
                <element name="XN91_RELATEDNO_21"/>
                <element name="XN91_SEND_NO_20"/>
                <element name="XN91_TAG_52A"/>
            </sequence>
        </complexType>
    </element>
</schema>
