EE_PARA/EE_PARA/Default/FORM/form_multi_schema_SYND_CloseFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="CHARGES"/>
                            <element name="CHG_DESC"/>
                            <element name="CLOSE_DT"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEC_MAST_LC_AMT"/>
                            <element name="DEST_PLACE"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="GRACE_DAYS"/>
                            <element name="INC_MAST_LC_AMT"/>
                            <element name="LEAD_BK_ADD1"/>
                            <element name="LEAD_BK_ADD2"/>
                            <element name="LEAD_BK_ADD3"/>
                            <element name="LEAD_BK_ADD_BTN"/>
                            <element name="LEAD_BK_ID"/>
                            <element name="LEAD_BK_ID_BTN"/>
                            <element name="LEAD_BK_NM"/>
                            <element name="LEAD_BK_SW_ADD"/>
                            <element name="LEAD_BK_SW_TAG"/>
                            <element name="LEAD_CNTY_CD"/>
                            <element name="LEAD_CORR_MED__DESC__"/>
                            <element name="LEAD_CORR_MED"/>
                            <element name="LEAD_EML_ADD"/>
                            <element name="LEAD_FAX_NO"/>
                            <element name="LEAD_LANG"/>
                            <element name="LEAD_LIAB_ACNO"/>
                            <element name="LEAD_LIAB_ACNO_BTN"/>
                            <element name="LEAD_MAIL_ADD"/>
                            <element name="LEAD_MAIL_ADD_BTN"/>
                            <element name="LEAD_NOTES"/>
                            <element name="LEAD_TLX_NO"/>
                            <element name="LEAD_TYPE__DESC__"/>
                            <element name="LEAD_TYPE"/>
                            <element name="LOAD_PLACE"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="MAST_END_DT"/>
                            <element name="MAST_LC_AMT"/>
                            <element name="MAST_LC_CCY"/>
                            <element name="MAST_RISK_AMT"/>
                            <element name="MAST_START_DT"/>
                            <element name="MAST_TRX_DESC"/>
                            <element name="NEG_TOL"/>
                            <element name="NEW_MAST_END_DT"/>
                            <element name="NOTES"/>
                            <element name="PCPT_AMT"/>
                            <element name="PCPT_BAL"/>
                            <element name="PCPT_CCY"/>
                            <element name="PCPT_CHG_AMT"/>
                            <element name="PCPT_CHG_CCY"/>
                            <element name="PCPT_EXPIRY_DT"/>
                            <element name="PCPT_START_DT"/>
                            <element name="POS_TOL"/>
                            <element name="QR_CD_FLD"/>
                            <element name="SOURCE_REF"/>
                            <element name="SYND_ACWTBK_ADD_ORDER_NO"/>
                            <element name="SYND_ACWT_BK_SWTAG"/>
                            <element name="SYND_AC_NO"/>
                            <element name="SYND_AC_WT_BK_ADD1"/>
                            <element name="SYND_AC_WT_BK_ADD2"/>
                            <element name="SYND_AC_WT_BK_ADD3"/>
                            <element name="SYND_AC_WT_BK_ADD_BTN"/>
                            <element name="SYND_AC_WT_BK_ID"/>
                            <element name="SYND_AC_WT_BK_ID_BTN"/>
                            <element name="SYND_AC_WT_BK_NM"/>
                            <element name="SYND_AC_WT_BK_SWAD"/>
                            <element name="SYND_AC_WT_NOTES"/>
                            <element name="TRX_TYPE"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
