EE_PARA/EE_PARA/Default/FORM/form_multi_schema_103ForClean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="ACCT103_DUP"/>
<element name="AC_WT_INST_CNTY_CODE"/>
<element name="AC_WT_INST_CNTY_NM"/>
<element name="APPL_CNTY_RES"/>
<element name="APP_TYPE"/>
<element name="AWI_lookup"/>
<element name="BENE_AC_TYPE__DESC__"/>
<element name="BENE_AC_TYPE"/>
<element name="BENE_CNTY_RES"/>
<element name="CHIPFED"/>
<element name="CHIP_FED"/>
<element name="CPYT_CR_BK_AC"/>
<element name="CPYT_CR_VAL_DATE"/>
<element name="CPYT_DR_AC"/>
<element name="CPYT_DR_AMT_DRCCY"/>
<element name="CPYT_DR_CCY"/>
<element name="CPYT_DR_VAL_DATE"/>
<element name="CPYT_PAY_ADV_MSG"/>
<element name="CPYT_PAY_COV_MSG"/>
<element name="CR_CALC_AMT"/>
<element name="DB_CALC_AMT"/>
<element name="DR_NUM"/>
<element name="ORIG_103_MEDI_BKID"/>
<element name="ORIG_103_REC_BKID"/>
<element name="ORIG_202SENDCORRID"/>
<element name="ORIG_202_REC_BKID"/>
<element name="ORIG_IBAN_VALID"/>
<element name="ORIG_X202_BENE_BKID"/>
<element name="Ord_Cust_lookup"/>
<element name="PMT_TYPE__DESC__"/>
<element name="PMT_TYPE"/>
<element name="ROUT_PRIORITY"/>
<element name="X103BENECUADD1_59A"/>
<element name="X103BENECUADD2_59A"/>
<element name="X103BENECUADD3_59A"/>
<element name="X103MEDIBKADD1_56A"/>
<element name="X103MEDIBKADD2_56A"/>
<element name="X103MEDIBKADD3_56A"/>
<element name="X103RECCORRACNO54A"/>
<element name="X103SENDBKADD1_51A"/>
<element name="X103SENDBKADD2_51A"/>
<element name="X103SENDBKADD3_51A"/>
<element name="X103SENDCORACNO53A"/>
<element name="X103SENDCORADD153A"/>
<element name="X103SENDCORADD253A"/>
<element name="X103SENDCORADD353A"/>
<element name="X103TRDREIMACNO55A"/>
<element name="X103TRDREIMADD155A"/>
<element name="X103TRDREIMADD255A"/>
<element name="X103TRDREIMADD355A"/>
<element name="X103_ACCBKADD1_57A"/>
<element name="X103_ACCBKADD2_57A"/>
<element name="X103_ACCBKADD3_57A"/>
<element name="X103_ACC_BKACNO57A"/>
<element name="X103_ACC_BKID_57A"/>
<element name="X103_ACC_BKNM_57A"/>
<element name="X103_ACC_BKSW_57A"/>
<element name="X103_ADV_BKADD1_B2"/>
<element name="X103_ADV_BKADD2_B2"/>
<element name="X103_ADV_BKADD3_B2"/>
<element name="X103_ADV_BKID_B2"/>
<element name="X103_ADV_BKNM_B2"/>
<element name="X103_ADV_BKSW_B2"/>
<element name="X103_BENECUACNO59A"/>
<element name="X103_BENECU_ID_59A"/>
<element name="X103_BENECU_NM_59A"/>
<element name="X103_BENECU_SW_59A"/>
<element name="X103_BK2BK_INF1_72"/>
<element name="X103_BK2BK_INF2_72"/>
<element name="X103_BK2BK_INF3_72"/>
<element name="X103_BK2BK_INF4_72"/>
<element name="X103_BK2BK_INF5_72"/>
<element name="X103_BK2BK_INF6_72"/>
<element name="X103_BKOP_CODE_23B"/>
<element name="X103_DET_CHG_71A"/>
<element name="X103_ENV_CONT_77T"/>
<element name="X103_EXCH_RT_36"/>
<element name="X103_INSTRCODE_23E"/>
<element name="X103_INSTR_AMT_33B"/>
<element name="X103_INSTR_CCY_33B"/>
<element name="X103_MEDIBKACNO56A"/>
<element name="X103_MEDI_BKID_56A"/>
<element name="X103_MEDI_BKNM_56A"/>
<element name="X103_MEDI_BKSW_56A"/>
<element name="X103_ORDBKACNO_52A"/>
<element name="X103_ORDBKADD1_52A"/>
<element name="X103_ORDBKADD2_52A"/>
<element name="X103_ORDBKADD3_52A"/>
<element name="X103_ORDCUACNO_50A"/>
<element name="X103_ORDCUADD1_50A"/>
<element name="X103_ORDCUADD2_50A"/>
<element name="X103_ORDCUADD3_50A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_ORDCU_NM_50A"/>
<element name="X103_ORDCU_SW_50A"/>
<element name="X103_ORD_BKID_52A"/>
<element name="X103_ORD_BKNM_52A"/>
<element name="X103_ORD_BKSW_52A"/>
<element name="X103_RECCHGAMT_71G"/>
<element name="X103_RECCHGCCY_71G"/>
<element name="X103_RECCORADD154A"/>
<element name="X103_RECCORADD254A"/>
<element name="X103_RECCORADD354A"/>
<element name="X103_RECCORRID_54A"/>
<element name="X103_RECCORRNM_54A"/>
<element name="X103_RECCORRSW_54A"/>
<element name="X103_REG_REP1_77B"/>
<element name="X103_REG_REP2_77B"/>
<element name="X103_REG_REP3_77B"/>
<element name="X103_REMIT_INF1_70"/>
<element name="X103_REMIT_INF2_70"/>
<element name="X103_REMIT_INF3_70"/>
<element name="X103_REMIT_INF4_70"/>
<element name="X103_SENDBKACNO51A"/>
<element name="X103_SENDCHGAMT71F"/>
<element name="X103_SENDCHGCCY71F"/>
<element name="X103_SENDCORRID53A"/>
<element name="X103_SENDCORRNM53A"/>
<element name="X103_SENDCORRSW53A"/>
<element name="X103_SEND_BKID_51A"/>
<element name="X103_SEND_BKNM_51A"/>
<element name="X103_SEND_BKSW_51A"/>
<element name="X103_SEND_NO_20"/>
<element name="X103_SETT_AMT_32A"/>
<element name="X103_SETT_CCY_32A"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_51A"/>
<element name="X103_TAG_52A"/>
<element name="X103_TAG_53A"/>
<element name="X103_TAG_54A"/>
<element name="X103_TAG_55A"/>
<element name="X103_TAG_56A"/>
<element name="X103_TAG_57A"/>
<element name="X103_TAG_59A"/>
<element name="X103_TIME_INDI_13C"/>
<element name="X103_TRDREIMID_55A"/>
<element name="X103_TRDREIMNM_55A"/>
<element name="X103_TRDREIMSW_55A"/>
<element name="X103_TRX_TYPCD_26T"/>
<element name="X103_VALUE_DT_32A"/>
<element name="lookup1"/>
<element name="lookup2"/>
<element name="lookup3"/>
<element name="lookup32"/>
<element name="lookup4"/>
<element name="lookup6"/>
<element name="lookup622"/>
<element name="lookup63"/>
<element name="lookup632"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
