EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_vivian.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="APP_TYPE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLOSE_TRX"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CPYT_CR_BK_AC"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="FUNCTION_ACTION"/>
                            <element name="GET"/>
                            <element name="LCY"/>
                            <element name="LOGIN_TIME"/>
                            <element name="NXT_STATUS"/>
                            <element name="PRES_BAL_LC"/>
                            <element name="TRX_DT"/>
                            <element name="X103_ADV_BKID_B2"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
