EE_PARA/EE_PARA/Default/FORM/form_multi_schema_EPLC_STP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACK_DT"/>
                            <element name="AC_WT_BK_ADD1"/>
                            <element name="AC_WT_BK_ADD2"/>
                            <element name="AC_WT_BK_ADD3"/>
                            <element name="AC_WT_BK_NM"/>
                            <element name="AC_WT_BK_SW_ADD"/>
                            <element name="ADDIT_CONDITION"/>
                            <element name="ADDIT_PRES_BK_AMTS"/>
                            <element name="ADDIT_PRES_BK_CCY"/>
                            <element name="ADD_AMT_COVRD"/>
                            <element name="ADV_BK_CHG_TRX_CCY"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_REF"/>
                            <element name="ADV_LC_BY__DESC__"/>
                            <element name="ADV_LC_BY"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_PARTY_ID"/>
                            <element name="ADV_THU_BK_PARTY_TAG"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="AMD_ADDIT_CONDITION"/>
                            <element name="AMD_DESC_OF_GOODS"/>
                            <element name="AMD_DOC_REQ"/>
                            <element name="AMD_DT"/>
                            <element name="AMD_REF"/>
                            <element name="AMT_SPEC__DESC__"/>
                            <element name="AMT_SPEC"/>
                            <element name="APLB_RULE__DESC__"/>
                            <element name="APLB_RULE"/>
                            <element name="APLB_RULE_NARR"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_BK_ADD1"/>
                            <element name="APPL_BK_ADD2"/>
                            <element name="APPL_BK_ADD3"/>
                            <element name="APPL_BK_ID"/>
                            <element name="APPL_BK_NM"/>
                            <element name="APPL_BK_PARTY_ID"/>
                            <element name="APPL_BK_PARTY_TAG"/>
                            <element name="APPL_BK_SW_ADD"/>
                            <element name="APPL_BK_SW_TAG"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_NM"/>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AVAL_WT_BK_ADD1"/>
                            <element name="AVAL_WT_BK_ADD2"/>
                            <element name="AVAL_WT_BK_ADD3"/>
                            <element name="AVAL_WT_BK_ID"/>
                            <element name="AVAL_WT_BK_NM"/>
                            <element name="AVAL_WT_BK_SW_ADD"/>
                            <element name="AVAL_WT_BK_SW_TAG"/>
                            <element name="BENE_ACNO"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_BK_ADD1"/>
                            <element name="BENE_BK_ADD2"/>
                            <element name="BENE_BK_ADD3"/>
                            <element name="BENE_BK_NM"/>
                            <element name="BENE_BK_SW_ADD"/>
                            <element name="BENE_BR_CD"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_TLX"/>
                            <element name="BK_TO_BK_INFO"/>
                            <element name="BK_TO_BK_MT730"/>
                            <element name="CHARGES"/>
                            <element name="CHGS_ADDED_TXT"/>
                            <element name="CHGS_ADDED_TXT_MT750"/>
                            <element name="CHGS_DEDUCTED_TXT"/>
                            <element name="CHGS_DEDUCTED_TXT_MT750"/>
                            <element name="CHGS_DEDUCTED_TXT_MT752"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_BAL"/>
                            <element name="CONF_BK_ADD1"/>
                            <element name="CONF_BK_ADD2"/>
                            <element name="CONF_BK_ADD3"/>
                            <element name="CONF_BK_NM"/>
                            <element name="CONF_BK_SW_ADD"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="DEC_AMT"/>
                            <element name="DEF_PMT_DET"/>
                            <element name="DEST_PLACE"/>
                            <element name="DEST_PORT"/>
                            <element name="DISC_DET"/>
                            <element name="DOC_REQ"/>
                            <element name="DRAFTS_AT"/>
                            <element name="DRAWING_REF"/>
                            <element name="DRWE_ADD1"/>
                            <element name="DRWE_ADD2"/>
                            <element name="DRWE_ADD3"/>
                            <element name="DRWE_ID"/>
                            <element name="DRWE_NM"/>
                            <element name="DRWE_PARTY_ID"/>
                            <element name="DRWE_PARTY_TAG"/>
                            <element name="DRWE_SW_ADD"/>
                            <element name="DRWE_SW_TAG"/>
                            <element name="EXPIRY_DT"/>
                            <element name="EXPIRY_PLC_NARR"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FORM_OF_LC__DESC__"/>
                            <element name="FORM_OF_LC"/>
                            <element name="FORM_OF_LC_40B__DESC__"/>
                            <element name="FORM_OF_LC_40B"/>
                            <element name="FURTHER_IDENTITY"/>
                            <element name="GOODS_DESC"/>
                            <element name="INCOMING_TAG_72"/>
                            <element name="INCOMING_TAG_79"/>
                            <element name="INC_AMT"/>
                            <element name="INSTR_TO_PAY_BK"/>
                            <element name="ISSUE_BK_52_ADD1"/>
                            <element name="ISSUE_BK_52_ADD2"/>
                            <element name="ISSUE_BK_52_ADD3"/>
                            <element name="ISSUE_BK_52_ID"/>
                            <element name="ISSUE_BK_52_NM"/>
                            <element name="ISSUE_BK_52_SW_ADD"/>
                            <element name="ISSUE_BK_52_SW_TAG"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_CHG"/>
                            <element name="ISSUE_BK_CHG_CCY"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LOAD_PLACE"/>
                            <element name="LOAD_PORT"/>
                            <element name="LOGIN_BIC"/>
                            <element name="LTST_SHIP_DT"/>
                            <element name="MESG_TYPE__DESC__"/>
                            <element name="MESG_TYPE"/>
                            <element name="MIX_PMT_DETL"/>
                            <element name="MSG_TYPE"/>
                            <element name="NARR_77"/>
                            <element name="NARR_TAG_79"/>
                            <element name="NEG_TOL"/>
                            <element name="NET_AMT_PAID_LCCCY"/>
                            <element name="NET_AMT_PD_LCCCY"/>
                            <element name="NEW_AMT_SPEC__DESC__"/>
                            <element name="NEW_AMT_SPEC"/>
                            <element name="NEW_EXPIRY_DT"/>
                            <element name="NEW_EXPIRY_PLC"/>
                            <element name="NEW_LC_AMT"/>
                            <element name="NEW_NEG_TOL"/>
                            <element name="NEW_POS_TOL"/>
                            <element name="NO_OF_AMD"/>
                            <element name="NO_OF_AMD_B"/>
                            <element name="NO_OF_DRAW"/>
                            <element name="OUR_ENG__DESC__"/>
                            <element name="OUR_ENG"/>
                            <element name="OUR_ROLE__DESC__"/>
                            <element name="OUR_ROLE"/>
                            <element name="PARTIAL_SHIP__DESC__"/>
                            <element name="PARTIAL_SHIP"/>
                            <element name="PARTIAL_SHIP_NARR"/>
                            <element name="PAY_COND_TO_BENE"/>
                            <element name="PAY_COND_TO_REV_BK"/>
                            <element name="POS_TOL"/>
                            <element name="PREADV_REF_NO"/>
                            <element name="PRES_AMT"/>
                            <element name="PRES_AMT_LC_CCY"/>
                            <element name="PRES_BK_ADD1"/>
                            <element name="PRES_BK_ADD2"/>
                            <element name="PRES_BK_ADD3"/>
                            <element name="PRES_BK_ID"/>
                            <element name="PRES_BK_NM"/>
                            <element name="PRES_BK_REF"/>
                            <element name="PRES_BK_SW_ADD"/>
                            <element name="PRES_BK_SW_TAG"/>
                            <element name="PRES_CCY"/>
                            <element name="PRES_DT"/>
                            <element name="PRES_PRD_TXT"/>
                            <element name="PRE_ADV_DT"/>
                            <element name="RATE_BASE"/>
                            <element name="RCV_CORR_BK_ADD1"/>
                            <element name="RCV_CORR_BK_ADD2"/>
                            <element name="RCV_CORR_BK_ADD3"/>
                            <element name="RCV_CORR_BK_NM"/>
                            <element name="RCV_CORR_BK_SW_ADD"/>
                            <element name="REAL_RT"/>
                            <element name="REIM_BK_ADD1"/>
                            <element name="REIM_BK_ADD2"/>
                            <element name="REIM_BK_ADD3"/>
                            <element name="REIM_BK_ID"/>
                            <element name="REIM_BK_NM"/>
                            <element name="REIM_BK_PARTY_ID"/>
                            <element name="REIM_BK_PARTY_TAG"/>
                            <element name="REIM_BK_SW_ADD"/>
                            <element name="REIM_BK_SW_TAG"/>
                            <element name="REV_LC__DESC__"/>
                            <element name="REV_LC"/>
                            <element name="SENDER_REF"/>
                            <element name="SEND_CORR_BK_ADD1"/>
                            <element name="SEND_CORR_BK_ADD2"/>
                            <element name="SEND_CORR_BK_ADD3"/>
                            <element name="SEND_CORR_BK_NM"/>
                            <element name="SEND_CORR_BK_SW_ADD"/>
                            <element name="SEND_TO_RCV_INFO"/>
                            <element name="SEND_TO_RCV_INFO_MT750"/>
                            <element name="SEND_TO_RCV_INFO_MT752"/>
                            <element name="SENT_MT730_FLG__DESC__"/>
                            <element name="SENT_MT730_FLG"/>
                            <element name="SHIP_PRD"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_APPL_ID"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TENOR_DAYS"/>
                            <element name="TENOR_TYPE__DESC__"/>
                            <element name="TENOR_TYPE"/>
                            <element name="TENOR_TYPE_NARR"/>
                            <element name="TNSHIP__DESC__"/>
                            <element name="TNSHIP"/>
                            <element name="TNSHIP_NARR"/>
                            <element name="TRM_TO_BK_ADD1"/>
                            <element name="TRM_TO_BK_ADD2"/>
                            <element name="TRM_TO_BK_ADD3"/>
                            <element name="TRM_TO_BK_ID"/>
                            <element name="TRM_TO_BK_NM"/>
                            <element name="TRM_TO_BK_REF"/>
                            <element name="TRM_TO_BK_SW_ADD"/>
                            <element name="TRM_TO_BK_SW_TAG"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="TTL_CLM_AMT"/>
                            <element name="WEB_REF"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
