EE_PARA/EE_PARA/Default/FORM/form_schema_CNTR_Warehouse_Rglt_Auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AGR_NO"/>
<element name="C_MAIN_REF"/>
<element name="LMT_CNTL_FLAG__DESC__"/>
<element name="LMT_CNTL_FLAG"/>
<element name="RGLT_ID"/>
<element name="RGLT_NM"/>
</sequence>
</complexType>
</element>
</schema>
