EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_PartyIdentification017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CUST_ID"/>
<element name="TEMP_CHAR1"/>
<element name="TSU_CNTY_SUB_DIVI"/>
<element name="TSU_PARTY_CNTY__DESC__"/>
<element name="TSU_PARTY_CNTY"/>
<element name="TSU_PARTY_ID__DESC__"/>
<element name="TSU_PARTY_ID"/>
<element name="TSU_PARTY_ID_TP"/>
<element name="TSU_PARTY_NM"/>
<element name="TSU_POST_CD"/>
<element name="TSU_STREET_NM"/>
<element name="TSU_TOWN_NM"/>
</sequence>
</complexType>
</element>
</schema>
