EE_PARA/EE_PARA/Default/FORM/form_schema_Credit Details_ClaimDo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CPYT_ASSGN_ID"/>
<element name="CPYT_ASSGN_ID_BTN"/>
<element name="CPYT_ASSGN_NM"/>
<element name="CPYT_ASSIGNEE_BAL"/>
<element name="CPYT_ASSIGNEE_BTN"/>
<element name="CPYT_BENE_ADD1"/>
<element name="CPYT_BENE_ADD2"/>
<element name="CPYT_BENE_ADD3"/>
<element name="CPYT_BENE_NM"/>
<element name="CPYT_BENE_ORDER_NO"/>
<element name="CPYT_CR_AC"/>
<element name="CPYT_CR_AC_BTN"/>
<element name="CPYT_CR_AC_TYPE"/>
<element name="CPYT_CR_AMT_CRCCY"/>
<element name="CPYT_CR_AMT_CRCCY_EXCH"/>
<element name="CPYT_CR_AMT_MAPING"/>
<element name="CPYT_CR_AMT_TXCCY"/>
<element name="CPYT_CR_BUY_RATE"/>
<element name="CPYT_CR_CCY"/>
<element name="CPYT_CR_EXNG_AC"/>
<element name="CPYT_CR_PER"/>
<element name="CPYT_CR_TRX_CCY"/>
<element name="CPYT_CR_VAL_DATE"/>
<element name="CPYT_PAY_ADV_MSG"/>
<element name="CPYT_PAY_COV_MSG"/>
<element name="CPYT_UNPAID_FLAG"/>
<element name="I_ASSIGNEE_SEQ"/>
<element name="TEMP_X103BENECUADD1_59A"/>
<element name="TEMP_X103BENECUADD2_59A"/>
<element name="TEMP_X103BENECUADD3_59A"/>
<element name="TEMP_X103_BENECUACNO59A"/>
<element name="TEMP_X103_BENECU_NM_59A"/>
<element name="TENOR_DAYS_32K"/>
<element name="X103BENECUADD1_59A"/>
<element name="X103BENECUADD1_59A_BTN"/>
<element name="X103BENECUADD2_59A"/>
<element name="X103BENECUADD3_59A"/>
<element name="X103MEDIBKADD1_56A"/>
<element name="X103MEDIBKADD2_56A"/>
<element name="X103MEDIBKADD3_56A"/>
<element name="X103RECCORRACNO54A"/>
<element name="X103SENDBKADD1_51A"/>
<element name="X103SENDBKADD2_51A"/>
<element name="X103SENDBKADD3_51A"/>
<element name="X103SENDCORACNO53A"/>
<element name="X103SENDCORADD153A"/>
<element name="X103SENDCORADD253A"/>
<element name="X103SENDCORADD353A"/>
<element name="X103_50_ADD_BTN"/>
<element name="X103_50_BTN"/>
<element name="X103_50_NOTES"/>
<element name="X103_50_ORDER_NO"/>
<element name="X103_51_ADD_BTN"/>
<element name="X103_51_BTN"/>
<element name="X103_51_NOTES"/>
<element name="X103_51_ORDER_NO"/>
<element name="X103_52A_ADD_BTN"/>
<element name="X103_52A_BTN"/>
<element name="X103_52_NOTES"/>
<element name="X103_52_ORDER_NO"/>
<element name="X103_53A_ADD_BTN"/>
<element name="X103_53A_BTN"/>
<element name="X103_53_NOTES"/>
<element name="X103_53_ORDER_NO"/>
<element name="X103_54A_ADD_BTN"/>
<element name="X103_54A_BTN"/>
<element name="X103_54_NOTES"/>
<element name="X103_54_ORDER_NO"/>
<element name="X103_56A_ADD_BTN"/>
<element name="X103_56A_BTN"/>
<element name="X103_56_NOTES"/>
<element name="X103_56_ORDER_NO"/>
<element name="X103_57A_ADD_BTN"/>
<element name="X103_57A_BTN"/>
<element name="X103_57_NOTES"/>
<element name="X103_57_ORDER_NO"/>
<element name="X103_59_ADD_BTN"/>
<element name="X103_59_BTN"/>
<element name="X103_59_NOTES"/>
<element name="X103_59_ORDER_NO"/>
<element name="X103_ACCBKADD1_57A"/>
<element name="X103_ACCBKADD2_57A"/>
<element name="X103_ACCBKADD3_57A"/>
<element name="X103_ACC_BKACNO57A"/>
<element name="X103_ACC_BKID_57A"/>
<element name="X103_ACC_BKNM_57A"/>
<element name="X103_ACC_BKSW_57A"/>
<element name="X103_ADV_BKADD1_B2"/>
<element name="X103_ADV_BKADD2_B2"/>
<element name="X103_ADV_BKADD3_B2"/>
<element name="X103_ADV_BKID_B2"/>
<element name="X103_ADV_BKNM_B2"/>
<element name="X103_ADV_BKSW_B2"/>
<element name="X103_B2_ADD_BTN"/>
<element name="X103_B2_BTN"/>
<element name="X103_B2_NOTES"/>
<element name="X103_B2_ORDER_NO"/>
<element name="X103_BENECUACNO59A"/>
<element name="X103_BENECU_BKSW_59"/>
<element name="X103_BENECU_ID_59A"/>
<element name="X103_BENECU_NM_59A"/>
<element name="X103_BENECU_OP__DESC__"/>
<element name="X103_BENECU_OP"/>
<element name="X103_BKOP_CODE_23B"/>
<element name="X103_BKTOBK_INFO72"/>
<element name="X103_DET_CHG_71A"/>
<element name="X103_ENV_CONT_77T"/>
<element name="X103_EXCH_RT_36"/>
<element name="X103_INSTRCODE_23E"/>
<element name="X103_INSTR_AMT_33B"/>
<element name="X103_INSTR_CCY_33B"/>
<element name="X103_MEDIBKACNO56A"/>
<element name="X103_MEDI_BKID_56A"/>
<element name="X103_MEDI_BKNM_56A"/>
<element name="X103_MEDI_BKSW_56A"/>
<element name="X103_ORDBKACNO_52A"/>
<element name="X103_ORDBKADD1_52A"/>
<element name="X103_ORDBKADD2_52A"/>
<element name="X103_ORDBKADD3_52A"/>
<element name="X103_ORDCUACNO_50A"/>
<element name="X103_ORDCUADD1_50A"/>
<element name="X103_ORDCUADD2_50A"/>
<element name="X103_ORDCUADD3_50A"/>
<element name="X103_ORDCU_ID_50A"/>
<element name="X103_ORDCU_ID_OP__DESC__"/>
<element name="X103_ORDCU_ID_OP"/>
<element name="X103_ORDCU_NM_50A"/>
<element name="X103_ORDCU_SW_50A"/>
<element name="X103_ORD_BKID_52A"/>
<element name="X103_ORD_BKNM_52A"/>
<element name="X103_ORD_BKSW_52A"/>
<element name="X103_RECCHGAMT_71G"/>
<element name="X103_RECCHGCCY_71G"/>
<element name="X103_RECCORADD154A"/>
<element name="X103_RECCORADD254A"/>
<element name="X103_RECCORADD354A"/>
<element name="X103_RECCORRID_54A"/>
<element name="X103_RECCORRNM_54A"/>
<element name="X103_RECCORRSW_54A"/>
<element name="X103_REG_REP_77B"/>
<element name="X103_REMIT_INFO_70"/>
<element name="X103_SENDBKACNO51A"/>
<element name="X103_SENDCHGAMT71F"/>
<element name="X103_SENDCHGCCY71F"/>
<element name="X103_SENDCORRID53A"/>
<element name="X103_SENDCORRNM53A"/>
<element name="X103_SENDCORRSW53A"/>
<element name="X103_SEND_BKID_51A"/>
<element name="X103_SEND_BKNM_51A"/>
<element name="X103_SEND_BKSW_51A"/>
<element name="X103_SEND_NO_20"/>
<element name="X103_SETT_AMT_32A"/>
<element name="X103_SETT_CCY_32A"/>
<element name="X103_TAG_50A"/>
<element name="X103_TAG_51A"/>
<element name="X103_TAG_52A"/>
<element name="X103_TAG_53A"/>
<element name="X103_TAG_54A"/>
<element name="X103_TAG_56A"/>
<element name="X103_TAG_57A"/>
<element name="X103_TAG_59A"/>
<element name="X103_TAG_B2"/>
<element name="X103_TIME_INDI_13C"/>
<element name="X103_TRX_TYPCD_26T"/>
<element name="X103_VALUE_DT_32A"/>
<element name="X202BENEBKADD1_58A"/>
<element name="X202BENEBKADD2_58A"/>
<element name="X202BENEBKADD3_58A"/>
<element name="X202MEDIBKADD1_56A"/>
<element name="X202MEDIBKADD2_56A"/>
<element name="X202MEDIBKADD3_56A"/>
<element name="X202RECCORRACNO54A"/>
<element name="X202SENDCORACNO53A"/>
<element name="X202SENDCORADD153A"/>
<element name="X202SENDCORADD253A"/>
<element name="X202SENDCORADD353A"/>
<element name="X202_52_ADD_BTN"/>
<element name="X202_52_BTN"/>
<element name="X202_52_NOTES"/>
<element name="X202_52_ORDER_NO"/>
<element name="X202_53_ADD_BTN"/>
<element name="X202_53_BTN"/>
<element name="X202_53_NOTES"/>
<element name="X202_53_ORDER_NO"/>
<element name="X202_54_ADD_BTN"/>
<element name="X202_54_BTN"/>
<element name="X202_54_NOTES"/>
<element name="X202_54_ORDER_NO"/>
<element name="X202_56_ADD_BTN"/>
<element name="X202_56_BTN"/>
<element name="X202_56_NOTES"/>
<element name="X202_56_ORDER_NO"/>
<element name="X202_57_ADD_BTN"/>
<element name="X202_57_BTN"/>
<element name="X202_57_NOTES"/>
<element name="X202_57_ORDER_NO"/>
<element name="X202_58_ADD_BTN"/>
<element name="X202_58_BTN"/>
<element name="X202_58_NOTES"/>
<element name="X202_58_ORDER_NO"/>
<element name="X202_ACCBKADD1_57A"/>
<element name="X202_ACCBKADD2_57A"/>
<element name="X202_ACCBKADD3_57A"/>
<element name="X202_ACC_BKACNO57A"/>
<element name="X202_ACC_BKID_57A"/>
<element name="X202_ACC_BKNM_57A"/>
<element name="X202_ACC_BKSW_57A"/>
<element name="X202_ADV_BKADD1_B2"/>
<element name="X202_ADV_BKADD2_B2"/>
<element name="X202_ADV_BKADD3_B2"/>
<element name="X202_ADV_BKID_B2"/>
<element name="X202_ADV_BKNM_B2"/>
<element name="X202_ADV_BKSW_B2"/>
<element name="X202_AMT_32A"/>
<element name="X202_B2_ADD_BTN"/>
<element name="X202_B2_BTN"/>
<element name="X202_B2_NOTES"/>
<element name="X202_B2_ORDER_NO"/>
<element name="X202_BENEBKACNO58A"/>
<element name="X202_BENE_BKID_58A"/>
<element name="X202_BENE_BKNM_58A"/>
<element name="X202_BENE_BKSW_58A"/>
<element name="X202_BKTOBK_INFO72"/>
<element name="X202_CCY_32A"/>
<element name="X202_MEDIBKACNO56A"/>
<element name="X202_MEDI_BKID_56A"/>
<element name="X202_MEDI_BKNM_56A"/>
<element name="X202_MEDI_BKSW_56A"/>
<element name="X202_ORDBKACNO_52A"/>
<element name="X202_ORDBKADD1_52A"/>
<element name="X202_ORDBKADD2_52A"/>
<element name="X202_ORDBKADD3_52A"/>
<element name="X202_ORDBK_ID_52A"/>
<element name="X202_ORDBK_NM_52A"/>
<element name="X202_ORDBK_SW_52A"/>
<element name="X202_RECCORADD154A"/>
<element name="X202_RECCORADD254A"/>
<element name="X202_RECCORADD354A"/>
<element name="X202_RECCORRID_54A"/>
<element name="X202_RECCORRNM_54A"/>
<element name="X202_RECCORRSW_54A"/>
<element name="X202_RELATEDNO_21"/>
<element name="X202_SENDCORRID53A"/>
<element name="X202_SENDCORRNM53A"/>
<element name="X202_SENDCORRSW53A"/>
<element name="X202_TAG_52A"/>
<element name="X202_TAG_53A"/>
<element name="X202_TAG_54A"/>
<element name="X202_TAG_56A"/>
<element name="X202_TAG_57A"/>
<element name="X202_TAG_58A"/>
<element name="X202_TAG_B2"/>
<element name="X202_TIME_INDI_13C"/>
<element name="X202_TRX_REF_NO_20"/>
<element name="X202_VALUE_DT_32A"/>
<element name="X400_ACC_BK_ACNO"/>
<element name="X400_ACC_BK_ADD1"/>
<element name="X400_ACC_BK_ADD2"/>
<element name="X400_ACC_BK_ADD3"/>
<element name="X400_ACC_BK_ADD_BTN"/>
<element name="X400_ACC_BK_ID"/>
<element name="X400_ACC_BK_ID_BTN"/>
<element name="X400_ACC_BK_NM"/>
<element name="X400_ACC_BK_NOTES"/>
<element name="X400_ACC_BK_ORDER_NO"/>
<element name="X400_ACC_BK_SW_ADD"/>
<element name="X400_ACC_BK_SW_TAG"/>
<element name="X400_ADDAMT_DET73"/>
<element name="X400_ADV_BK_ADD1"/>
<element name="X400_ADV_BK_ADD2"/>
<element name="X400_ADV_BK_ADD3"/>
<element name="X400_ADV_BK_ADD_BTN"/>
<element name="X400_ADV_BK_ID"/>
<element name="X400_ADV_BK_ID_BTN"/>
<element name="X400_ADV_BK_NM"/>
<element name="X400_ADV_BK_NOTES"/>
<element name="X400_ADV_BK_ORDER_NO"/>
<element name="X400_ADV_BK_SW_ADD"/>
<element name="X400_ADV_BK_SW_TAG"/>
<element name="X400_BENE_BK_ADD1"/>
<element name="X400_BENE_BK_ADD2"/>
<element name="X400_BENE_BK_ADD3"/>
<element name="X400_BENE_BK_ADD_BTN"/>
<element name="X400_BENE_BK_ID"/>
<element name="X400_BENE_BK_ID_BTN"/>
<element name="X400_BENE_BK_NM"/>
<element name="X400_BENE_BK_NOTES"/>
<element name="X400_BENE_BK_ORDER_NO"/>
<element name="X400_BENE_BK_SW_ADD"/>
<element name="X400_BENE_BK_SW_TAG"/>
<element name="X400_BKTOBK_INFO_72"/>
<element name="X400_COLL_AMT_32A"/>
<element name="X400_COLL_CCY_32A"/>
<element name="X400_DAYMON_FLG_32K__DESC__"/>
<element name="X400_DAYMON_FLG_32K"/>
<element name="X400_DUE_DT_32A"/>
<element name="X400_NET_AMT_33A"/>
<element name="X400_NET_CCY_33A"/>
<element name="X400_ORD_BK_ACNO"/>
<element name="X400_ORD_BK_ADD1"/>
<element name="X400_ORD_BK_ADD2"/>
<element name="X400_ORD_BK_ADD3"/>
<element name="X400_ORD_BK_ADD_BTN"/>
<element name="X400_ORD_BK_ID"/>
<element name="X400_ORD_BK_ID_BTN"/>
<element name="X400_ORD_BK_NM"/>
<element name="X400_ORD_BK_NOTES"/>
<element name="X400_ORD_BK_ORDER_NO"/>
<element name="X400_ORD_BK_SW_ADD"/>
<element name="X400_ORD_BK_SW_TAG"/>
<element name="X400_PRES_BK_CHG_71B"/>
<element name="X400_RECCOR_BK_ACNO"/>
<element name="X400_RECCOR_BK_ADD1"/>
<element name="X400_RECCOR_BK_ADD2"/>
<element name="X400_RECCOR_BK_ADD3"/>
<element name="X400_RECCOR_BK_ADD_BTN"/>
<element name="X400_RECCOR_BK_ID"/>
<element name="X400_RECCOR_BK_ID_BTN"/>
<element name="X400_RECCOR_BK_NM"/>
<element name="X400_RECCOR_BK_NOTES"/>
<element name="X400_RECCOR_BK_ORDER_NO"/>
<element name="X400_RECCOR_BK_SW_ADD"/>
<element name="X400_RECCOR_BK_SW_TAG"/>
<element name="X400_RELATEDNO_21"/>
<element name="X400_SENDCORR_BK_ACNO"/>
<element name="X400_SENDCORR_BK_ADD1"/>
<element name="X400_SENDCORR_BK_ADD2"/>
<element name="X400_SENDCORR_BK_ADD3"/>
<element name="X400_SENDCORR_BK_ADD_BTN"/>
<element name="X400_SENDCORR_BK_ID"/>
<element name="X400_SENDCORR_BK_ID_BTN"/>
<element name="X400_SENDCORR_BK_NM"/>
<element name="X400_SENDCORR_BK_NOTES"/>
<element name="X400_SENDCORR_BK_ORDER_NO"/>
<element name="X400_SENDCORR_BK_SW_ADD"/>
<element name="X400_SENDCORR_BK_SW_TAG"/>
<element name="X400_SEND_NO_20"/>
<element name="X400_TAG_32__DESC__"/>
<element name="X400_TAG_32"/>
<element name="X400_TEMP_32K"/>
<element name="X400_TENOR_DAYS_32K"/>
<element name="X400_TENOR_EVENT_32K__DESC__"/>
<element name="X400_TENOR_EVENT_32K"/>
<element name="X400_VALUE_DT_32A"/>
<element name="X400_VALUE_DT_33A"/>
</sequence>
</complexType>
</element>
</schema>
