EE_PARA/EE_PARA/Default/FORM/form_multi_schema_NoteOtherBankCharges_SYND.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AVAL_BY__DESC__"/>
                            <element name="AVAL_BY"/>
                            <element name="AdviceForBankCust">
                                <complexType>
                                    <sequence>
                                        <element name="BANK_N90_REF_20"/>
                                        <element name="BANK_N90_REF_21"/>
                                        <element name="BANK_NARR_MAIL"/>
                                        <element name="BANK_NARR_TAG_79"/>
                                        <element name="CUST_NARR_TAG_79"/>
                                        <element name="C_MAIN_REF"/>
                                        <element name="C_TRX_REF"/>
                                        <element name="C_UNIT_CODE"/>
                                        <element name="I_EVENT_TIMES"/>
                                        <element name="MAIL_MTHD_BANK__DESC__"/>
                                        <element name="MAIL_MTHD_BANK"/>
                                        <element name="MAIL_MTHD_CUST__DESC__"/>
                                        <element name="MAIL_MTHD_CUST"/>
                                        <element name="MESG_TYPE_BANK__DESC__"/>
                                        <element name="MESG_TYPE_BANK"/>
                                        <element name="MESG_TYPE_CUST__DESC__"/>
                                        <element name="MESG_TYPE_CUST"/>
                                        <element name="SEND_TO_BANK_ADD1"/>
                                        <element name="SEND_TO_BANK_ADD2"/>
                                        <element name="SEND_TO_BANK_ADD3"/>
                                        <element name="SEND_TO_BANK_EMAIL"/>
                                        <element name="SEND_TO_BANK_FAX"/>
                                        <element name="SEND_TO_BANK_ID"/>
                                        <element name="SEND_TO_BANK_LANG__DESC__"/>
                                        <element name="SEND_TO_BANK_LANG"/>
                                        <element name="SEND_TO_BANK_MAIL"/>
                                        <element name="SEND_TO_BANK_NM"/>
                                        <element name="SEND_TO_BANK_NOTES"/>
                                        <element name="SEND_TO_BANK_POST_ADD"/>
                                        <element name="SEND_TO_BANK_REF"/>
                                        <element name="SEND_TO_BANK_TLX"/>
                                        <element name="SEND_TO_BK_SW_ADD"/>
                                        <element name="SEND_TO_BK_SW_ADD_OLD"/>
                                        <element name="SEND_TO_BK_SW_TAG"/>
                                        <element name="SEND_TO_CUST_ADD1"/>
                                        <element name="SEND_TO_CUST_ADD2"/>
                                        <element name="SEND_TO_CUST_ADD3"/>
                                        <element name="SEND_TO_CUST_EMAIL"/>
                                        <element name="SEND_TO_CUST_FAX"/>
                                        <element name="SEND_TO_CUST_ID"/>
                                        <element name="SEND_TO_CUST_LANG__DESC__"/>
                                        <element name="SEND_TO_CUST_LANG"/>
                                        <element name="SEND_TO_CUST_MAIL"/>
                                        <element name="SEND_TO_CUST_NM"/>
                                        <element name="SEND_TO_CUST_NOTES"/>
                                        <element name="SEND_TO_CUST_POST_ADD"/>
                                        <element name="SEND_TO_CUST_REF"/>
                                        <element name="SEND_TO_CUST_TLX"/>
                                        <element name="SUB_MESS_TYPE"/>
                                        <element name="X798_23X_CODE"/>
                                        <element name="X798_23X_NARR"/>
                                        <element name="X798_ADV_BK_REF_21P"/>
                                        <element name="X798_CRE_DATE"/>
                                        <element name="X798_CRE_TIME"/>
                                        <element name="X798_CUST_CONT"/>
                                        <element name="X798_CUST_REF"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="CCY_BASE_DAY"/>
                            <element name="CHG_POLICY__DESC__"/>
                            <element name="CHG_POLICY"/>
                            <element name="COMM_DT"/>
                            <element name="COMM_END_DT"/>
                            <element name="COMM_PRE"/>
                            <element name="COMM_SCHE__DESC__"/>
                            <element name="COMM_SCHE"/>
                            <element name="COMM_START_DT"/>
                            <element name="COMM_TYPE__DESC__"/>
                            <element name="COMM_TYPE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEC_AMT"/>
                            <element name="DIARY_DT"/>
                            <element name="DIARY_NARRATIVE"/>
                            <element name="DIARY_RELATED_REF"/>
                            <element name="FUND_AMT"/>
                            <element name="FUND_FLAG__DESC__"/>
                            <element name="FUND_FLAG"/>
                            <element name="GRACE_DAYS"/>
                            <element name="INC_AMT"/>
                            <element name="I_SEQ_NUM"/>
                            <element name="NOTE_BK_NM"/>
                            <element name="NOTE_CHG_AMT"/>
                            <element name="NOTE_CHG_CCY"/>
                            <element name="NOTE_CHG_TYPE__DESC__"/>
                            <element name="NOTE_CHG_TYPE"/>
                            <element name="NOTE_INSTR"/>
                            <element name="NO_OF_PERIODS"/>
                            <element name="NXT_COMM_DT"/>
                            <element name="PART_EMAIL_ADD"/>
                            <element name="PART_FAX_NO"/>
                            <element name="PART_MAIL_ADD"/>
                            <element name="PART_MAIL_ADD_BTN"/>
                            <element name="PART_PER"/>
                            <element name="PART_TLX_NO"/>
                            <element name="PCPT_AMT"/>
                            <element name="PCPT_CCY"/>
                            <element name="PaymentDealer">
                                <complexType>
                                    <sequence>
                                        <element name="CPYT_C_CFNC_REF"/>
                                        <element name="CPYT_C_OUTPUT_FLAG"/>
                                        <element name="CPYT_C_PAY_PER"/>
                                        <element name="CPYT_C_REF"/>
                                        <element name="CPYT_C_SDA_FLAG"/>
                                        <element name="CPYT_C_SETTLE_END_FLAG"/>
                                        <element name="CPYT_C_TENOR_DESC"/>
                                        <element name="CPYT_C_TENOR_TYPE"/>
                                        <element name="CPYT_D_MAT_DATE"/>
                                        <element name="CPYT_D_TENOR_START_DATE"/>
                                        <element name="CPYT_I_INSTRU_TIMES"/>
                                        <element name="CPYT_I_SEQUENCE"/>
                                        <element name="CPYT_I_TENOR_DAYS"/>
                                        <element name="CPYT_N_PAY_AMT"/>
                                        <element name="CPYT_N_PAY_TRXCCY_BAL"/>
                                        <element name="CPYT_N_UNPD_AMT_TXCCY"/>
                                        <element name="CPYT_ORIGIN_MODULE"/>
                                        <element name="CPYT_PAY_CCY"/>
                                        <element name="CPYT_UNPAID_FLAG"/>
                                        <element name="PaymentDebitHeader">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_NO_DR"/>
                                                    <element name="CPYT_MDR_ADV"/>
                                                    <element name="CPYT_DR_TTL_CCY"/>
                                                    <element name="CPYT_DR_TTL_AMT_TTLCCY"/>
                                                    <element name="CPYT_SELL_RATE"/>
                                                    <element name="PaymentDebit">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="CPYT_DR_AC"/>
                                                                <element name="CPYT_DR_AC_TYPE"/>
                                                                <element name="CPYT_DR_DEAL"/>
                                                                <element name="CPYT_DR_RATE"/>
                                                                <element name="CPYT_DR_CCY"/>
                                                                <element name="CPYT_DR_PER"/>
                                                                <element name="CPYT_DR_AMT_DRCCY"/>
                                                                <element name="CPYT_DR_AMT_TXCCY"/>
                                                                <element name="CPYT_DR_BUY_RATE"/>
                                                                <element name="CPYT_DR_VAL_DATE"/>
                                                                <element name="CPYT_DR_ID"/>
                                                                <element name="CPYT_DR_NAME"/>
                                                                <element name="CPYT_DR_CHG_FLAG"/>
                                                                <element name="CPYT_DR_CHG_LCCCY"/>
                                                                <element name="CPYT_DR_TRX_CCY"/>
                                                                <element name="CPYT_DR_AMT_MAPING"/>
                                                                <element name="CPYT_DR_EXNG_AC"/>
                                                                <element name="CPYT_DR_AMT_DRCCY_EXCH"/>
                                                                <element name="CPYT_DR_C_TRANS_CODE"/>
                                                                <element name="CPYT_DR_AC_DESC"/>
                                                                <element name="CPYT_DR_BAL_TXCCY"/>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="PaymentCreditHeader">
                                            <complexType>
                                                <sequence>
                                                    <element name="CPYT_NO_CR"/>
                                                    <element name="CPYT_MCR_ADV"/>
                                                    <element name="CPYT_CR_TTL_CCY"/>
                                                    <element name="CPYT_CR_TTL_AMT_TTLCCY"/>
                                                    <element name="PaymentCredit">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="CPYT_CR_PER"/>
                                                                <element name="CPYT_CR_CCY"/>
                                                                <element name="CPYT_CR_AC"/>
                                                                <element name="CPYT_CR_DEAL"/>
                                                                <element name="CPYT_CR_AMT_TXCCY"/>
                                                                <element name="CPYT_CR_BAL_TXCCY"/>
                                                                <element name="CPYT_PAY_ADV_MSG"/>
                                                                <element name="CPYT_PAY_COV_MSG"/>
                                                                <element name="CPYT_ASSGN_ID"/>
                                                                <element name="CPYT_ASSGN_NM"/>
                                                                <element name="CPYT_CR_AMT_CRCCY"/>
                                                                <element name="CPYT_CR_VAL_DATE"/>
                                                                <element name="X103BENECUADD1_59A"/>
                                                                <element name="X103BENECUADD2_59A"/>
                                                                <element name="X103BENECUADD3_59A"/>
                                                                <element name="X103MEDIBKADD1_56A"/>
                                                                <element name="X103MEDIBKADD2_56A"/>
                                                                <element name="X103MEDIBKADD3_56A"/>
                                                                <element name="X103RECCORRACNO54A"/>
                                                                <element name="X103SENDBKADD1_51A"/>
                                                                <element name="X103SENDBKADD2_51A"/>
                                                                <element name="X103SENDBKADD3_51A"/>
                                                                <element name="X103SENDCORACNO53A"/>
                                                                <element name="X103SENDCORADD153A"/>
                                                                <element name="X103SENDCORADD253A"/>
                                                                <element name="X103SENDCORADD353A"/>
                                                                <element name="X103_ACCBKADD1_57A"/>
                                                                <element name="X103_ACCBKADD2_57A"/>
                                                                <element name="X103_ACCBKADD3_57A"/>
                                                                <element name="X103_ACC_BKACNO57A"/>
                                                                <element name="X103_ACC_BKID_57A"/>
                                                                <element name="X103_ACC_BKNM_57A"/>
                                                                <element name="X103_ACC_BKSW_57A"/>
                                                                <element name="X103_ADV_BKADD1_B2"/>
                                                                <element name="X103_ADV_BKADD2_B2"/>
                                                                <element name="X103_ADV_BKADD3_B2"/>
                                                                <element name="X103_ADV_BKID_B2"/>
                                                                <element name="X103_ADV_BKNM_B2"/>
                                                                <element name="X103_ADV_BKSW_B2"/>
                                                                <element name="X103_BENECUACNO59A"/>
                                                                <element name="X103_BENECU_ID_59A"/>
                                                                <element name="X103_BENECU_NM_59A"/>
                                                                <element name="X103_BKOP_CODE_23B"/>
                                                                <element name="X103_BKTOBK_INFO72"/>
                                                                <element name="X103_DET_CHG_71A"/>
                                                                <element name="X103_ENV_CONT_77T"/>
                                                                <element name="X103_EXCH_RT_36"/>
                                                                <element name="X103_INSTRCODE_23E"/>
                                                                <element name="X103_INSTR_AMT_33B"/>
                                                                <element name="X103_INSTR_CCY_33B"/>
                                                                <element name="X103_MEDIBKACNO56A"/>
                                                                <element name="X103_MEDI_BKID_56A"/>
                                                                <element name="X103_MEDI_BKNM_56A"/>
                                                                <element name="X103_MEDI_BKSW_56A"/>
                                                                <element name="X103_ORDBKACNO_52A"/>
                                                                <element name="X103_ORDBKADD1_52A"/>
                                                                <element name="X103_ORDBKADD2_52A"/>
                                                                <element name="X103_ORDBKADD3_52A"/>
                                                                <element name="X103_ORDCUACNO_50A"/>
                                                                <element name="X103_ORDCUADD1_50A"/>
                                                                <element name="X103_ORDCUADD2_50A"/>
                                                                <element name="X103_ORDCUADD3_50A"/>
                                                                <element name="X103_ORDCU_ID_50A"/>
                                                                <element name="X103_ORDCU_NM_50A"/>
                                                                <element name="X103_ORDCU_SW_50A"/>
                                                                <element name="X103_ORD_BKID_52A"/>
                                                                <element name="X103_ORD_BKNM_52A"/>
                                                                <element name="X103_ORD_BKSW_52A"/>
                                                                <element name="X103_RECCHGAMT_71G"/>
                                                                <element name="X103_RECCHGCCY_71G"/>
                                                                <element name="X103_RECCORADD154A"/>
                                                                <element name="X103_RECCORADD254A"/>
                                                                <element name="X103_RECCORADD354A"/>
                                                                <element name="X103_RECCORRID_54A"/>
                                                                <element name="X103_RECCORRNM_54A"/>
                                                                <element name="X103_RECCORRSW_54A"/>
                                                                <element name="X103_REG_REP_77B"/>
                                                                <element name="X103_REMIT_INFO_70"/>
                                                                <element name="X103_SENDBKACNO51A"/>
                                                                <element name="X103_SENDCHGAMT71F"/>
                                                                <element name="X103_SENDCHGCCY71F"/>
                                                                <element name="X103_SENDCORRID53A"/>
                                                                <element name="X103_SENDCORRNM53A"/>
                                                                <element name="X103_SENDCORRSW53A"/>
                                                                <element name="X103_SEND_BKID_51A"/>
                                                                <element name="X103_SEND_BKNM_51A"/>
                                                                <element name="X103_SEND_BKSW_51A"/>
                                                                <element name="X103_SEND_NO_20"/>
                                                                <element name="X103_SETT_AMT_32A"/>
                                                                <element name="X103_SETT_CCY_32A"/>
                                                                <element name="X103_TAG_50A"/>
                                                                <element name="X103_TAG_51A"/>
                                                                <element name="X103_TAG_52A"/>
                                                                <element name="X103_TAG_53A"/>
                                                                <element name="X103_TAG_54A"/>
                                                                <element name="X103_TAG_56A"/>
                                                                <element name="X103_TAG_57A"/>
                                                                <element name="X103_TIME_INDI_13C"/>
                                                                <element name="X103_TRX_TYPCD_26T"/>
                                                                <element name="X103_VALUE_DT_32A"/>
                                                                <element name="X202BENEBKADD1_58A"/>
                                                                <element name="X202BENEBKADD2_58A"/>
                                                                <element name="X202BENEBKADD3_58A"/>
                                                                <element name="X202MEDIBKADD1_56A"/>
                                                                <element name="X202MEDIBKADD2_56A"/>
                                                                <element name="X202MEDIBKADD3_56A"/>
                                                                <element name="X202RECCORRACNO54A"/>
                                                                <element name="X202SENDCORACNO53A"/>
                                                                <element name="X202SENDCORADD153A"/>
                                                                <element name="X202SENDCORADD253A"/>
                                                                <element name="X202SENDCORADD353A"/>
                                                                <element name="X202_ACCBKADD1_57A"/>
                                                                <element name="X202_ACCBKADD2_57A"/>
                                                                <element name="X202_ACCBKADD3_57A"/>
                                                                <element name="X202_ACC_BKACNO57A"/>
                                                                <element name="X202_ACC_BKID_57A"/>
                                                                <element name="X202_ACC_BKNM_57A"/>
                                                                <element name="X202_ACC_BKSW_57A"/>
                                                                <element name="X202_ADV_BKADD1_B2"/>
                                                                <element name="X202_ADV_BKADD2_B2"/>
                                                                <element name="X202_ADV_BKADD3_B2"/>
                                                                <element name="X202_ADV_BKID_B2"/>
                                                                <element name="X202_ADV_BKNM_B2"/>
                                                                <element name="X202_ADV_BKSW_B2"/>
                                                                <element name="X202_AMT_32A"/>
                                                                <element name="X202_BENEBKACNO58A"/>
                                                                <element name="X202_BENE_BKID_58A"/>
                                                                <element name="X202_BENE_BKNM_58A"/>
                                                                <element name="X202_BENE_BKSW_58A"/>
                                                                <element name="X202_BKTOBK_INFO72"/>
                                                                <element name="X202_CCY_32A"/>
                                                                <element name="X202_MEDIBKACNO56A"/>
                                                                <element name="X202_MEDI_BKID_56A"/>
                                                                <element name="X202_MEDI_BKNM_56A"/>
                                                                <element name="X202_MEDI_BKSW_56A"/>
                                                                <element name="X202_ORDBKACNO_52A"/>
                                                                <element name="X202_ORDBKADD1_52A"/>
                                                                <element name="X202_ORDBKADD2_52A"/>
                                                                <element name="X202_ORDBKADD3_52A"/>
                                                                <element name="X202_ORDBK_ID_52A"/>
                                                                <element name="X202_ORDBK_NM_52A"/>
                                                                <element name="X202_ORDBK_SW_52A"/>
                                                                <element name="X202_RECCORADD154A"/>
                                                                <element name="X202_RECCORADD254A"/>
                                                                <element name="X202_RECCORADD354A"/>
                                                                <element name="X202_RECCORRID_54A"/>
                                                                <element name="X202_RECCORRNM_54A"/>
                                                                <element name="X202_RECCORRSW_54A"/>
                                                                <element name="X202_RELATEDNO_21"/>
                                                                <element name="X202_SENDCORRID53A"/>
                                                                <element name="X202_SENDCORRNM53A"/>
                                                                <element name="X202_SENDCORRSW53A"/>
                                                                <element name="X202_TAG_52A"/>
                                                                <element name="X202_TAG_53A"/>
                                                                <element name="X202_TAG_54A"/>
                                                                <element name="X202_TAG_56A"/>
                                                                <element name="X202_TAG_57A"/>
                                                                <element name="X202_TAG_58A"/>
                                                                <element name="X202_TIME_INDI_13C"/>
                                                                <element name="X202_TRX_REF_NO_20"/>
                                                                <element name="X202_VALUE_DT_32A"/>
                                                                <element name="CPYT_SIC_AMT"/>
                                                                <element name="CPYT_SIC_CCY"/>
                                                                <element name="CPYT_SIC_CR_AC"/>
                                                                <element name="CPYT_SIC_DR_AC"/>
                                                                <element name="CPYT_SIC_REF"/>
                                                                <element name="CPYT_SIC_VAL_DATE"/>
                                                                <element name="CPYT_BENE_ADD1"/>
                                                                <element name="CPYT_BENE_ADD2"/>
                                                                <element name="CPYT_BENE_ADD3"/>
                                                                <element name="CPYT_BENE_ID"/>
                                                                <element name="CPYT_BENE_NM"/>
                                                                <element name="CPYT_AC_ID"/>
                                                                <element name="CPYT_PAY_REAON1"/>
                                                                <element name="CPYT_PAY_REAON2"/>
                                                                <element name="CPYT_PAY_REAON3"/>
                                                                <element name="CPYT_PAY_REAON4"/>
                                                                <element name="CPYT_REV_ADD1"/>
                                                                <element name="CPYT_REV_ADD2"/>
                                                                <element name="CPYT_REV_ADD3"/>
                                                                <element name="CPYT_REV_ID"/>
                                                                <element name="CPYT_REV_NM"/>
                                                                <element name="CPYT_CLE_NUM"/>
                                                                <element name="CPYT_ORD_TYPE"/>
                                                                <element name="CPYT_DR_CR_CODE"/>
                                                                <element name="CPYT_DEPART_CODE"/>
                                                                <element name="CPYT_PAY_CODE"/>
                                                                <element name="CPYT_ASSIGNEE_BAL"/>
                                                                <element name="I_ASSIGNEE_SEQ"/>
                                                                <element name="X400_ACC_BK_ACNO"/>
                                                                <element name="X400_ACC_BK_ADD1"/>
                                                                <element name="X400_ACC_BK_ADD2"/>
                                                                <element name="X400_ACC_BK_ADD3"/>
                                                                <element name="X400_ACC_BK_ID"/>
                                                                <element name="X400_ACC_BK_NM"/>
                                                                <element name="X400_ACC_BK_NOTES"/>
                                                                <element name="X400_ACC_BK_SW_ADD"/>
                                                                <element name="X400_ACC_BK_SW_TAG"/>
                                                                <element name="X400_ADDAMT_DET73"/>
                                                                <element name="X400_ADV_BK_ADD1"/>
                                                                <element name="X400_ADV_BK_ADD2"/>
                                                                <element name="X400_ADV_BK_ADD3"/>
                                                                <element name="X400_ADV_BK_ID"/>
                                                                <element name="X400_ADV_BK_NM"/>
                                                                <element name="X400_ADV_BK_NOTES"/>
                                                                <element name="X400_ADV_BK_SW_ADD"/>
                                                                <element name="X400_ADV_BK_SW_TAG"/>
                                                                <element name="X400_BENE_BK_ADD1"/>
                                                                <element name="X400_BENE_BK_ADD2"/>
                                                                <element name="X400_BENE_BK_ADD3"/>
                                                                <element name="X400_BENE_BK_ID"/>
                                                                <element name="X400_BENE_BK_NM"/>
                                                                <element name="X400_BENE_BK_NOTES"/>
                                                                <element name="X400_BENE_BK_SW_ADD"/>
                                                                <element name="X400_BENE_BK_SW_TAG"/>
                                                                <element name="X400_BKTOBK_INFO_72"/>
                                                                <element name="X400_COLL_AMT_32A"/>
                                                                <element name="X400_COLL_CCY_32A"/>
                                                                <element name="X400_DAYMON_FLG_32K__DESC__"/>
                                                                <element name="X400_DAYMON_FLG_32K"/>
                                                                <element name="X400_DUE_DT_32A"/>
                                                                <element name="X400_NET_AMT_33A"/>
                                                                <element name="X400_NET_CCY_33A"/>
                                                                <element name="X400_ORD_BK_ACNO"/>
                                                                <element name="X400_ORD_BK_ADD1"/>
                                                                <element name="X400_ORD_BK_ADD2"/>
                                                                <element name="X400_ORD_BK_ADD3"/>
                                                                <element name="X400_ORD_BK_ID"/>
                                                                <element name="X400_ORD_BK_NM"/>
                                                                <element name="X400_ORD_BK_NOTES"/>
                                                                <element name="X400_ORD_BK_SW_ADD"/>
                                                                <element name="X400_ORD_BK_SW_TAG"/>
                                                                <element name="X400_PRES_BK_CHG_71B"/>
                                                                <element name="X400_RECCOR_BK_ACNO"/>
                                                                <element name="X400_RECCOR_BK_ADD1"/>
                                                                <element name="X400_RECCOR_BK_ADD2"/>
                                                                <element name="X400_RECCOR_BK_ADD3"/>
                                                                <element name="X400_RECCOR_BK_ID"/>
                                                                <element name="X400_RECCOR_BK_NM"/>
                                                                <element name="X400_RECCOR_BK_NOTES"/>
                                                                <element name="X400_RECCOR_BK_SW_ADD"/>
                                                                <element name="X400_RECCOR_BK_SW_TAG"/>
                                                                <element name="X400_RELATEDNO_21"/>
                                                                <element name="X400_SENDCORR_BK_ACNO"/>
                                                                <element name="X400_SENDCORR_BK_ADD1"/>
                                                                <element name="X400_SENDCORR_BK_ADD2"/>
                                                                <element name="X400_SENDCORR_BK_ADD3"/>
                                                                <element name="X400_SENDCORR_BK_ID"/>
                                                                <element name="X400_SENDCORR_BK_NM"/>
                                                                <element name="X400_SENDCORR_BK_NOTES"/>
                                                                <element name="X400_SENDCORR_BK_SW_ADD"/>
                                                                <element name="X400_SENDCORR_BK_SW_TAG"/>
                                                                <element name="X400_SEND_NO_20"/>
                                                                <element name="X400_TENOR_DAYS_32K"/>
                                                                <element name="X400_TENOR_EVENT_32K__DESC__"/>
                                                                <element name="X400_TENOR_EVENT_32K"/>
                                                                <element name="X400_TAG_32__DESC__"/>
                                                                <element name="X400_TAG_32"/>
                                                                <element name="X400_VALUE_DT_32A"/>
                                                                <element name="X400_VALUE_DT_33A"/>
                                                                <element name="X400_TEMP_32K"/>
                                                                <element name="CPYT_CR_AMT_MAPING"/>
                                                                <element name="CPYT_CR_AMT_CRCCY_EXCH"/>
                                                                <element name="CPYT_CR_EXNG_AC"/>
                                                                <element name="CPYT_CR_TRX_CCY"/>
                                                                <element name="CPYT_CR_BUY_RATE"/>
                                                                <element name="CPYT_CR_AC_TYPE"/>
                                                                <element name="X202_TAG_B2"/>
                                                                <element name="X202_TAG_B2_1"/>
                                                                <element name="X103_BENECU_OP__DESC__"/>
                                                                <element name="X103_BENECU_OP"/>
                                                                <element name="X103_TAG_59A"/>
                                                                <element name="X103_BENECU_SW_59A"/>
                                                                <element name="TEMP_X103BENECUADD1_59A"/>
                                                                <element name="TEMP_X103BENECUADD2_59A"/>
                                                                <element name="TEMP_X103BENECUADD3_59A"/>
                                                                <element name="TEMP_X103_BENECUACNO59A"/>
                                                                <element name="TEMP_X103_BENECU_NM_59A"/>
                                                                <element name="X103_ORDCU_ID_OP__DESC__"/>
                                                                <element name="X103_ORDCU_ID_OP"/>
                                                                <element name="TEMP_X103_ACNO_51"/>
                                                                <element name="CPYT_PARTY_REF"/>
                                                                <element name="CPYT_CR_C_TRANS_CODE"/>
                                                                <element name="CPYT_CR_AC_DESC"/>
                                                                <element name="FED_ADD1"/>
                                                                <element name="FED_ADD2"/>
                                                                <element name="FED_ADD3"/>
                                                                <element name="FED_ID"/>
                                                                <element name="FED_NM"/>
                                                                <element name="IS_GPI_MEMBER"/>
                                                                <element name="SERVICE_TYPE_ID_GPI_111"/>
                                                                <element name="UETR_GPI_121"/>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="QR_CD_FLD"/>
                            <element name="RECRS_PRTY_CNTY_CD"/>
                            <element name="RECRS_PRTY_NM"/>
                            <element name="RECRS_PRTY_REF"/>
                            <element name="RECRS_PRTY_SW_ADD"/>
                            <element name="RECRS_PRTY_SW_TAG"/>
                            <element name="SOURCE_REF"/>
                            <element name="SYND_ACWTBK_ADD_ORDER_NO"/>
                            <element name="SYND_ACWT_BK_SWTAG"/>
                            <element name="SYND_AC_NO"/>
                            <element name="SYND_AC_WT_BK_ADD1"/>
                            <element name="SYND_AC_WT_BK_ADD2"/>
                            <element name="SYND_AC_WT_BK_ADD3"/>
                            <element name="SYND_AC_WT_BK_ADD_BTN"/>
                            <element name="SYND_AC_WT_BK_ID"/>
                            <element name="SYND_AC_WT_BK_ID_BTN"/>
                            <element name="SYND_AC_WT_BK_NM"/>
                            <element name="SYND_AC_WT_BK_SWAD"/>
                            <element name="SYND_AC_WT_NOTES"/>
                            <element name="SYND_AMT"/>
                            <element name="SYND_BAL"/>
                            <element name="SYND_CCY"/>
                            <element name="SYND_CHG_NARR2"/>
                            <element name="SYND_COMM_BAL"/>
                            <element name="SYND_COMM_REF"/>
                            <element name="SYND_EXPIRY_DT"/>
                            <element name="SYND_LESS_ADMIN_CHGS"/>
                            <element name="SYND_LESS_COMM_CHG"/>
                            <element name="SYND_LESS_OTHER_CHG"/>
                            <element name="SYND_NOTE_PART_COMM_PAID_AMT"/>
                            <element name="SYND_NOTE_PART_TOTAL_AMT"/>
                            <element name="SYND_NO_OF_PERIODS"/>
                            <element name="SYND_PART_ADD1"/>
                            <element name="SYND_PART_ADD2"/>
                            <element name="SYND_PART_ADD3"/>
                            <element name="SYND_PART_ADD_BTN"/>
                            <element name="SYND_PART_AMT"/>
                            <element name="SYND_PART_AMT_PERCENT"/>
                            <element name="SYND_PART_BAL"/>
                            <element name="SYND_PART_CCY"/>
                            <element name="SYND_PART_CNTY_CD"/>
                            <element name="SYND_PART_DISCLS__DESC__"/>
                            <element name="SYND_PART_DISCLS"/>
                            <element name="SYND_PART_FAMT"/>
                            <element name="SYND_PART_ID"/>
                            <element name="SYND_PART_ID_BTN"/>
                            <element name="SYND_PART_LIABACNO"/>
                            <element name="SYND_PART_LIABACNO_BTN"/>
                            <element name="SYND_PART_NAMT"/>
                            <element name="SYND_PART_NM"/>
                            <element name="SYND_PART_NO"/>
                            <element name="SYND_PART_NOTES"/>
                            <element name="SYND_PART_ORDER_MAIL"/>
                            <element name="SYND_PART_ORDER_NO"/>
                            <element name="SYND_PART_REF"/>
                            <element name="SYND_PART_START_DT"/>
                            <element name="SYND_PART_SW_ADD"/>
                            <element name="SYND_PART_SW_TAG"/>
                            <element name="SYND_PART_TYPE__DESC__"/>
                            <element name="SYND_PART_TYPE"/>
                            <element name="SYND_PERIOD"/>
                            <element name="SYND_PERIOD_COMM"/>
                            <element name="SYND_TLUNPDCHG_AMT"/>
                            <element name="SYND_TLUNPDCHG_BAL"/>
                            <element name="SYND_TLUNPDCHG_CCY"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                            <element name="TTL_FUNDED_AMT"/>
                            <element name="TTL_PART_AMT"/>
                            <element name="TTL_PART_BAL"/>
                            <element name="view_1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
