EE_PARA/EE_PARA/Default/FORM/form_schema_FAEF_EFInEDI16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="BA_UNIT_CODE"/>
                <element name="CLERK_ID"/>
                <element name="C_BU_ID"/>
                <element name="C_MAIN_REF"/>
                <element name="ChgBack">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="FA_BA_FLG__DESC__"/>
                            <element name="FA_BA_FLG"/>
                            <element name="FA_CBK_AMT"/>
                            <element name="FA_CBK_DT"/>
                            <element name="FA_CRN_INV_LINK_NO"/>
                            <element name="FA_DOC_AMT"/>
                            <element name="FA_DOC_BAL"/>
                            <element name="FA_DOC_CCY"/>
                            <element name="FA_DOC_DT"/>
                            <element name="FA_DOC_DUE_DT"/>
                            <element name="FA_DOC_NO"/>
                            <element name="FA_DOC_REF"/>
                            <element name="FA_DOC_STATUS"/>
                            <element name="FA_DOC_TYPE__DESC__"/>
                            <element name="FA_DOC_TYPE"/>
                            <element name="FA_DSP_RSN_CODE__DESC__"/>
                            <element name="FA_DSP_RSN_CODE"/>
                            <element name="FA_FIN_RET_BAL"/>
                            <element name="FA_INV_LINK_REF"/>
                            <element name="FA_INV_LOAN_BAL"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP_AMT10"/>
                            <element name="FA_TEMP_CRN_BA"/>
                            <element name="FA_TEMP_INV_BA"/>
                            <element name="FA_TRF_DT"/>
                            <element name="TEMP_AMT18"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="FA_BA_FLG__DESC__"/>
                <element name="FA_BA_FLG"/>
                <element name="FA_BA_LINK"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_EDI_ID"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_CBK_DT"/>
                <element name="FA_CBK_REF"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_COLL_AC_NO"/>
                <element name="FA_CUST_TYPE2__DESC__"/>
                <element name="FA_CUST_TYPE2"/>
                <element name="FA_DOC_CCY"/>
                <element name="FA_EF_ID"/>
                <element name="FA_EF_NM"/>
                <element name="FA_FIN_RETURN_REQ__DESC__"/>
                <element name="FA_FIN_RETURN_REQ"/>
                <element name="FA_IF_ID"/>
                <element name="FA_IF_NM"/>
                <element name="FA_LMT_APPRV"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_MSG16_TYPE__DESC__"/>
                <element name="FA_MSG16_TYPE"/>
                <element name="FA_MSG_TEXT"/>
                <element name="FA_PMT_AC_NO"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_TEMP3"/>
                <element name="FA_TEMP7"/>
                <element name="FA_TTL_CBK_AMT"/>
                <element name="FA_TTL_FIN_RET_BAL"/>
                <element name="GL_BUSI_TYPE"/>
                <element name="OWNER_BR_NM"/>
                <element name="PRODUCT_CODE"/>
                <element name="TEMP_AMT14"/>
                <element name="THEIR_REF_NO"/>
                <element name="TRX_DT"/>
            </sequence>
        </complexType>
    </element>
</schema>
