EE_PARA/EE_PARA/Default/FORM/form_schema_EPPM_EnquireFees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_CHG"/>
                <element name="CCY"/>
                <element name="DUE_ON"/>
                <element name="EPP_NM"/>
                <element name="FEE_AMT"/>
                <element name="FEE_TP__DESC__"/>
                <element name="FEE_TP"/>
                <element name="PAID_ON"/>
            </sequence>
        </complexType>
    </element>
</schema>
