EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PMAT_PayToSupplierInv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="ACC_BUYER_SETL__DESC__"/>
<element name="ACC_BUYER_SETL"/>
<element name="AI_ACT_AMT"/>
<element name="AI_AMT_PAID"/>
<element name="AI_BALANCE"/>
<element name="AI_DUE_DT"/>
<element name="AI_ID"/>
<element name="AI_NUM"/>
<element name="AI_ORG_AMT"/>
<element name="AI_PMT_DT"/>
<element name="AI_SET_DT"/>
<element name="AI_STAT_BUYR_CD__DESC__"/>
<element name="AI_STAT_BUYR_CD"/>
<element name="AI_STAT_SUPLR_CD__DESC__"/>
<element name="AI_STAT_SUPLR_CD"/>
<element name="AMT_TO_SELT"/>
<element name="BUYR_BOS_ID"/>
<element name="BUYR_ID"/>
<element name="BUYR_NM"/>
<element name="CCY"/>
<element name="C_MAIN_REF"/>
<element name="C_UNIT_CODE"/>
<element name="EPP_ID"/>
<element name="EPP_NM"/>
<element name="IS_FUNDED__DESC__"/>
<element name="IS_FUNDED"/>
<element name="IS_SETTLED__DESC__"/>
<element name="IS_SETTLED"/>
<element name="PMT_REF"/>
<element name="RECON_STAT__DESC__"/>
<element name="RECON_STAT"/>
<element name="SUPLR_ID"/>
<element name="SUPLR_REF"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
