EE_PARA/EE_PARA/Default/FORM/form_multi_schema_PYMT_DI_Re_Issue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AMOUNT"/>
                            <element name="APPL_CNTY_RES"/>
                            <element name="AUDIT_CODE"/>
                            <element name="AUDT_DESC"/>
                            <element name="AUDT_FUNCTION"/>
                            <element name="AUDT_INSERTED_TMSTAMP"/>
                            <element name="AUDT_MAIN_REF"/>
                            <element name="AUDT_OP_ID"/>
                            <element name="AUDT_SUB_TYPE"/>
                            <element name="AUDT_TRX_REF"/>
                            <element name="AUDT_TYPE"/>
                            <element name="BALANCECHECK_RESPONSE"/>
                            <element name="BENE_CNTY_RES"/>
                            <element name="BUSI_UNIT"/>
                            <element name="CANCEL_FLG"/>
                            <element name="CASH_CCY_IND"/>
                            <element name="CASH_CNTY_DESC"/>
                            <element name="CASH_IND_CHK"/>
                            <element name="CASH_SETT_AMT"/>
                            <element name="CASH_SETT_CCY"/>
                            <element name="CASH_TOT_AMT"/>
                            <element name="CCY"/>
                            <element name="CHEQ_NO"/>
                            <element name="CHG_CASH_IND"/>
                            <element name="CHG_CUST_AC"/>
                            <element name="CHG_CUST_AMT"/>
                            <element name="CHG_CUST_AMT_DR"/>
                            <element name="CHG_CUST_CCY"/>
                            <element name="CHG_FLD_ALL_BAL_CCY"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_AT"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR__DESC__"/>
                            <element name="CHG_FLD_ALL_CHARGE_FOR"/>
                            <element name="CHG_FLD_COLLECT_CCY"/>
                            <element name="CHG_FLD_FOREIGN_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_NO"/>
                            <element name="CHG_FLD_LOCAL_CUST_AC_USED"/>
                            <element name="CHG_FLD_LOCAL_CUST_CCY"/>
                            <element name="CHG_FLD_LOCAL_PAY_TOTALE_IN_PAYCCY"/>
                            <element name="CHG_FOREIGN_CUST_PAY_RATE"/>
                            <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                            <element name="CHG_FOR_CUST_PAY_RT_MD"/>
                            <element name="CHG_GETAC_BTN__DESC__"/>
                            <element name="CHG_GETAC_BTN"/>
                            <element name="CHG_LOCAL_CUST_AC_NO_CHK"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE"/>
                            <element name="CHG_LOCAL_CUST_PAY_RATE2"/>
                            <element name="CHG_LOCAL_UNPAID_FLAG"/>
                            <element name="CHG_OVERRIDE_IND"/>
                            <element name="CHG_SUSP_AC"/>
                            <element name="CHG_VALUE_DATE"/>
                            <element name="COUNTRY"/>
                            <element name="CPYT_CR_BK_AC"/>
                            <element name="CPYT_DR_AC_TYPE"/>
                            <element name="CR_AMT"/>
                            <element name="CR_CALC_AMT"/>
                            <element name="CR_CCY"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="CUST_REF"/>
                            <element name="C_AC_IDENTIFIER"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MODULE"/>
                            <element name="C_MSG_ID"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="CallBackReq"/>
                            <element name="ChargeForm">
                                <complexType>
                                    <sequence>
                                        <element name="CHG_COLLECT_CCY"/>
                                        <element name="CHG_FOREIGN_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_TOTAL"/>
                                        <element name="CHG_FOREIGN_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_CUST_ID"/>
                                        <element name="CHG_FOREIGN_CUST_NAME"/>
                                        <element name="CHG_FOREIGN_PAY_CHG_TOTAL"/>
                                        <element name="CHG_FOREIGN_PAY_VAT_TOTAL"/>
                                        <element name="CHG_FOREIGN_UNPAID_FLAG"/>
                                        <element name="CHG_LOCAL_COLLECT_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_TOTAL"/>
                                        <element name="CHG_LOCAL_COLLECT_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_CUST_AC_NO"/>
                                        <element name="CHG_LOCAL_CUST_CCY"/>
                                        <element name="CHG_LOCAL_CUST_ID"/>
                                        <element name="CHG_LOCAL_CUST_NAME"/>
                                        <element name="CHG_LOCAL_PAY_CHG_TOTAL"/>
                                        <element name="CHG_LOCAL_PAY_VAT_TOTAL"/>
                                        <element name="CHG_LOCAL_UNPAID_FLAG"/>
                                        <element name="CHG_NOSTRO_AC_NO"/>
                                        <element name="CHG_NOSTRO_CCY"/>
                                        <element name="TrxCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                    <element name="CHG_TEMP1"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="DefCharge">
                                            <complexType>
                                                <sequence>
                                                    <element name="CHG_UNIT_CODE"/>
                                                    <element name="CHG_MODULE"/>
                                                    <element name="CHG_MAIN_REF"/>
                                                    <element name="CHG_CREAT_TRX_REF"/>
                                                    <element name="CHG_CREAT_EVENT_TIMES"/>
                                                    <element name="CHG_CREAT_FUNCTION_ID"/>
                                                    <element name="CHG_CREAT_DATE"/>
                                                    <element name="CHG_CREAT_USER_ID"/>
                                                    <element name="CHG_PRODUCT_CODE"/>
                                                    <element name="CHG_PRODUCT_DESC"/>
                                                    <element name="CHG_PRODUCT_NAME"/>
                                                    <element name="CHG_PRODUCT_SHORTNAME"/>
                                                    <element name="CHG_COMMISSION_CODE"/>
                                                    <element name="CHG_COMMISSION_DESC"/>
                                                    <element name="CHG_COMMISSION_NAME"/>
                                                    <element name="CHG_CHARGE_AT"/>
                                                    <element name="CHG_CHARGE_FOR"/>
                                                    <element name="CHG_CUSTOMER_ID"/>
                                                    <element name="CHG_CUSTOMER_NAME"/>
                                                    <element name="CHG_ACTIVE_CCY"/>
                                                    <element name="CHG_ACTIVE_AMT"/>
                                                    <element name="CHG_BALANCE_CCY"/>
                                                    <element name="CHG_BALANCE_AMT"/>
                                                    <element name="CHG_LOCAL_CCY"/>
                                                    <element name="CHG_LOCAL_AMT"/>
                                                    <element name="CHG_LOCAL_BAL_AMT"/>
                                                    <element name="CHG_DISCOUNT_RATE"/>
                                                    <element name="CHG_DISCOUNT_AMT"/>
                                                    <element name="CHG_BASE_CCY"/>
                                                    <element name="CHG_BASE_AMT"/>
                                                    <element name="CHG_LOST_AMT"/>
                                                    <element name="CHG_LOST_PROP"/>
                                                    <element name="CHG_PAY_ENTRY_ID"/>
                                                    <element name="CHG_PAY_AC_NUMBER"/>
                                                    <element name="CHG_PAY_CCY"/>
                                                    <element name="CHG_PAY_AMT"/>
                                                    <element name="CHG_PAY_VAT_AMT"/>
                                                    <element name="CHG_PAY_LOCAL_AMT"/>
                                                    <element name="CHG_GL_AC_NUMBER"/>
                                                    <element name="CHG_VAT_GL_AC_NUMBER"/>
                                                    <element name="CHG_PAY_DATE"/>
                                                    <element name="CHG_PAY_VAT_CUST_PAY_AMT"/>
                                                    <element name="CHG_LOCAL_VAT_AMT"/>
                                                    <element name="CHG_CUST_PAY_AMT"/>
                                                    <element name="CHG_CUST_PAY_CCY"/>
                                                    <element name="CHG_COLLECT_AMT"/>
                                                    <element name="CHG_COLLECT_CCY"/>
                                                    <element name="CHG_COLLECT_VAT_AMT"/>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="DB_AMT"/>
                            <element name="DB_CALC_AMT"/>
                            <element name="DB_CCY"/>
                            <element name="DUPLICATE_TRN"/>
                            <element name="DUPLICATE_TRN_P"/>
                            <element name="DUP_CHK"/>
                            <element name="FIELD_1_X"/>
                            <element name="FIELD_6_X"/>
                            <element name="FIELDs"/>
                            <element name="FORM_CUST_ACNO"/>
                            <element name="FORM_CUST_ADD1"/>
                            <element name="FORM_CUST_ADD2"/>
                            <element name="FORM_CUST_ADD3"/>
                            <element name="FORM_CUST_NM"/>
                            <element name="GAPI_IND_FLG"/>
                            <element name="HELP_LINK_URL"/>
                            <element name="INT_ACCOUNTCOUNT"/>
                            <element name="INT_ACCT_CUNT"/>
                            <element name="INT_ACT1"/>
                            <element name="INT_ACT1_CCY"/>
                            <element name="INT_ACT1_STATUS"/>
                            <element name="INT_ACT1_TYPE"/>
                            <element name="INT_ACT2"/>
                            <element name="INT_ACT2_CCY"/>
                            <element name="INT_ACT2_STATUS"/>
                            <element name="INT_ACT2_TYPE"/>
                            <element name="INT_ACT3"/>
                            <element name="INT_ACT3_CCY"/>
                            <element name="INT_ACT3_STATUS"/>
                            <element name="INT_ACT3_TYPE"/>
                            <element name="INT_ACT4"/>
                            <element name="INT_ACT4_CCY"/>
                            <element name="INT_ACT4_STATUS"/>
                            <element name="INT_ACT4_TYPE"/>
                            <element name="INT_ACT5"/>
                            <element name="INT_ACT5_CCY"/>
                            <element name="INT_ACT5_STATUS"/>
                            <element name="INT_ACT5_TYPE"/>
                            <element name="INT_ACT6"/>
                            <element name="INT_ACT6_CCY"/>
                            <element name="INT_ACT6_STATUS"/>
                            <element name="INT_ACT6_TYPE"/>
                            <element name="INT_AC_IDENTIFIER"/>
                            <element name="INT_AMT1"/>
                            <element name="INT_AMT2"/>
                            <element name="INT_AMT3"/>
                            <element name="INT_AMT4"/>
                            <element name="INT_AMT5"/>
                            <element name="INT_AMT6"/>
                            <element name="INT_BALANCECHECK_RESPONSE"/>
                            <element name="INT_BKGROUPID"/>
                            <element name="INT_CASH_IND1"/>
                            <element name="INT_CASH_IND2"/>
                            <element name="INT_CASH_IND3"/>
                            <element name="INT_CASH_IND4"/>
                            <element name="INT_CASH_IND5"/>
                            <element name="INT_CASH_IND6"/>
                            <element name="INT_CUST_ID"/>
                            <element name="INT_CUST_INFO"/>
                            <element name="INT_C_MAIN_REF"/>
                            <element name="INT_FOR_BANK_SW"/>
                            <element name="INT_I_EVENT_TIMES"/>
                            <element name="INT_ORDER_LINE"/>
                            <element name="INT_OVERRIDE_IND1"/>
                            <element name="INT_OVERRIDE_IND2"/>
                            <element name="INT_OVERRIDE_IND3"/>
                            <element name="INT_OVERRIDE_IND4"/>
                            <element name="INT_OVERRIDE_IND5"/>
                            <element name="INT_OVERRIDE_IND6"/>
                            <element name="INT_RESPONCECOUNT"/>
                            <element name="INT_RESPONSE"/>
                            <element name="INT_RESTRO_IND"/>
                            <element name="INT_REVERSAL_IND"/>
                            <element name="INT_SW_DETAILS"/>
                            <element name="LOOK_UP_BTN1"/>
                            <element name="MD_I"/>
                            <element name="MLT_STLMT"/>
                            <element name="NOTES"/>
                            <element name="NUM_ACCTS"/>
                            <element name="NXT_STATUS"/>
                            <element name="OLDVALUES"/>
                            <element name="OLDVALUES_ACC"/>
                            <element name="OLDVALUES_COVERNO"/>
                            <element name="OLDVALUES_OVR"/>
                            <element name="OVER_DRW_CHK"/>
                            <element name="Ord_Cust_lookup"/>
                            <element name="PRIORITY"/>
                            <element name="PRODREF"/>
                            <element name="RATE_NAME"/>
                            <element name="RATE_TYPE"/>
                            <element name="RECORDER_TYPE__DESC__"/>
                            <element name="RECORDER_TYPE"/>
                            <element name="RELATED_REF_NO"/>
                            <element name="REPUR_IND"/>
                            <element name="REVERSAL_DT"/>
                            <element name="REVE_AC_NO"/>
                            <element name="REVE_AMT"/>
                            <element name="REVE_IND"/>
                            <element name="RPLCD_CHEQ_NO"/>
                            <element name="SECOND_CHG_AMT"/>
                            <element name="SEND_FLAG"/>
                            <element name="SETT_ACC_AUDIT"/>
                            <element name="SETT_ACC_AUDIT1"/>
                            <element name="STAMP_COUR"/>
                            <element name="SUSP_AC"/>
                            <element name="TEMP_CASH_IND"/>
                            <element name="TEMP_ID"/>
                            <element name="TEMP_RESULT"/>
                            <element name="TEMP_RESULT2"/>
                            <element name="TRX_HISTORY"/>
                            <element name="TRX_HISTORY_TEMP"/>
                            <element name="VAT_IND1"/>
                            <element name="X103BENECUADD1_59A"/>
                            <element name="X103BENECUADD2_59A"/>
                            <element name="X103BENECUADD3_59A"/>
                            <element name="X103_ADV_BKADD1_B2"/>
                            <element name="X103_ADV_BKADD2_B2"/>
                            <element name="X103_ADV_BKADD3_B2"/>
                            <element name="X103_ADV_BKID_B2"/>
                            <element name="X103_ADV_BKNM_B2"/>
                            <element name="X103_ADV_BKSW_B2"/>
                            <element name="X103_BENECU_NM_59A"/>
                            <element name="X103_EXCH_RT_36"/>
                            <element name="X103_INSTR_AMT_33B"/>
                            <element name="X103_INSTR_CCY_33B"/>
                            <element name="X103_ORDCUACNO_50A"/>
                            <element name="X103_ORDCUACNO_50F"/>
                            <element name="X103_ORDCUADD1_50A"/>
                            <element name="X103_ORDCUADD1_50F"/>
                            <element name="X103_ORDCUADD2_50A"/>
                            <element name="X103_ORDCUADD2_50F"/>
                            <element name="X103_ORDCUADD3_50A"/>
                            <element name="X103_ORDCUADD3_50F"/>
                            <element name="X103_ORDCU_ID_50A"/>
                            <element name="X103_ORDCU_ID_50A_B"/>
                            <element name="X103_ORDCU_NM_50A"/>
                            <element name="X103_ORDCU_NM_50F"/>
                            <element name="X103_SETT_AMT_32A"/>
                            <element name="X103_SETT_CCY_32A"/>
                            <element name="X103_VALUE_DT_32A"/>
                            <element name="X202BENEBKADD1_58A"/>
                            <element name="X202BENEBKADD2_58A"/>
                            <element name="X202BENEBKADD3_58A"/>
                            <element name="X202_ADV_BKSW_B2"/>
                            <element name="X202_BENE_BKNM_58A"/>
                            <element name="XN99_NARRATIVE_79"/>
                            <element name="lookup1"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
