EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FAEF_setl_loan_po.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="CLERK_ID"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_INT_CHG_TYPE__DESC__"/>
                            <element name="FA_INT_CHG_TYPE"/>
                            <element name="FA_LAST_PINT_DT"/>
                            <element name="FA_LOAN_CCY"/>
                            <element name="FA_LOAN_DUE_DT"/>
                            <element name="FA_LOAN_ID"/>
                            <element name="FA_LOAN_INT_AMT"/>
                            <element name="FA_LOAN_INT_RT"/>
                            <element name="FA_LOAN_IPAID_AMT"/>
                            <element name="FA_LOAN_PAID_AMT"/>
                            <element name="FA_LOAN_PPAID_AMT"/>
                            <element name="FA_LOAN_VAL_DT"/>
                            <element name="FA_OVDUE_INT_RT"/>
                            <element name="FA_OVD_INT_AMT"/>
                            <element name="FA_PAID_INT_AMT"/>
                            <element name="FA_PMT_DT"/>
                            <element name="FA_PMT_REF"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP4"/>
                            <element name="FA_TEMP5"/>
                            <element name="FA_TEMP6"/>
                            <element name="FA_TEMP_AMT11"/>
                            <element name="FA_TEMP_AMT12"/>
                            <element name="FA_TEMP_AMT19"/>
                            <element name="FA_TEMP_DT1"/>
                            <element name="FA_TEMP_LOAN_EBAL"/>
                            <element name="FA_TEMP_PO_INT_AMT"/>
                            <element name="IA_I_BASE_DAYS"/>
                            <element name="IA_Y_REFUND_INT"/>
                            <element name="PO_LOAN_AMT"/>
                            <element name="PO_LOAN_BAL"/>
                            <element name="PO_LOAN_ID"/>
                            <element name="PO_LOAN_TIMES"/>
                            <element name="PO_NO"/>
                            <element name="TEMP_FLG1__DESC__"/>
                            <element name="TEMP_FLG1"/>
                            <element name="TEMP_LOAN_ID"/>
                            <element name="TEMP_PMT_TIMES"/>
                            <element name="TEMP_TIMES"/>
                            <element name="TRX_DT"/>
                            <element name="T_SYS_OP_TIME"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
