EE_PARA/EE_PARA/Default/FORM/form_schema_R2TSU_RPTD_ITMS41.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_BUYER_BK_CNTY__DESC__"/>
<element name="TSU_BUYER_BK_CNTY"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_OUTSDNG_AMT"/>
<element name="TSU_PO_DT"/>
<element name="TSU_PO_ID"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SEL_BK_CNTY__DESC__"/>
<element name="TSU_SEL_BK_CNTY"/>
<element name="TSU_SUBMIT_BASELN_ID"/>
<element name="TSU_SUBMIT_BASELN_VRSN"/>
<element name="TSU_TTL_NET_AMT"/>
</sequence>
</complexType>
</element>
</schema>
