EE_PARA/EE_PARA/Default/FORM/form_schema_CFNC_DiscountAmendReg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACPT_AMT"/>
                <element name="ACPT_AMT_LCCCY"/>
                <element name="ACPT_CCY"/>
                <element name="ACPT_DT"/>
                <element name="ADD_AMT_COVRD"/>
                <element name="AMT_SPEC__DESC__"/>
                <element name="AMT_SPEC"/>
                <element name="APLB_RULE__DESC__"/>
                <element name="APLB_RULE"/>
                <element name="APLB_RULE_NARR"/>
                <element name="AVAL_BY__DESC__"/>
                <element name="AVAL_BY"/>
                <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                <element name="CFNC_C_ORIGIN_MODULE"/>
                <element name="CFNC_DATA_FLAG__DESC__"/>
                <element name="CFNC_DATA_FLAG"/>
                <element name="CONF_INSTR__DESC__"/>
                <element name="CONF_INSTR"/>
                <element name="C_MAIN_REF"/>
                <element name="DRAWING_REF"/>
                <element name="DUE_DT"/>
                <element name="EXPIRY_DT"/>
                <element name="EXPIRY_PLC__DESC__"/>
                <element name="EXPIRY_PLC"/>
                <element name="EXPIRY_PLC_NARR"/>
                <element name="FINC_TYPE__DESC__"/>
                <element name="FINC_TYPE"/>
                <element name="FORM_OF_LC__DESC__"/>
                <element name="FORM_OF_LC"/>
                <element name="FincAmendReg">
                    <complexType>
                        <sequence>
                            <element name="CFNC_C_AC_NO"/>
                            <element name="CFNC_C_AC_TYPE"/>
                            <element name="CFNC_C_AMEND_APPROVE_STATUS"/>
                            <element name="CFNC_C_AMEND_TYPE"/>
                            <element name="CFNC_C_APPROVE_STATUS"/>
                            <element name="CFNC_C_CCY"/>
                            <element name="CFNC_C_CUST_ID"/>
                            <element name="CFNC_C_EXTEN_AC_TYPE"/>
                            <element name="CFNC_C_EXTEN_AC_TYPE_E"/>
                            <element name="CFNC_C_EXTEN_INT_MODE"/>
                            <element name="CFNC_C_EXTEN_INT_MTHD"/>
                            <element name="CFNC_C_FFGE_NO"/>
                            <element name="CFNC_C_FUNC_NAME"/>
                            <element name="CFNC_C_GRACE_DAYS"/>
                            <element name="CFNC_C_GRACE_FLG__DESC__"/>
                            <element name="CFNC_C_GRACE_FLG"/>
                            <element name="CFNC_C_INIT_FLG"/>
                            <element name="CFNC_C_INT_MODE"/>
                            <element name="CFNC_C_INT_MTHD"/>
                            <element name="CFNC_C_LAST_REF"/>
                            <element name="CFNC_C_LAST_TYPE"/>
                            <element name="CFNC_C_ORIGIN_MAIN_REF"/>
                            <element name="CFNC_C_ORIGIN_MODULE"/>
                            <element name="CFNC_C_OVERDUE_FLAG"/>
                            <element name="CFNC_C_OVERDUE_NO"/>
                            <element name="CFNC_C_PACK_AMT"/>
                            <element name="CFNC_C_PACK_BAL"/>
                            <element name="CFNC_C_PACK_CCY"/>
                            <element name="CFNC_C_PACK_FLAG"/>
                            <element name="CFNC_C_PACK_NO"/>
                            <element name="CFNC_C_REF"/>
                            <element name="CFNC_C_REFUSE_REASON"/>
                            <element name="CFNC_C_REF_TEMP"/>
                            <element name="CFNC_C_REPAY_EVENT_ID"/>
                            <element name="CFNC_C_RET_FLG"/>
                            <element name="CFNC_C_TEMP_DATA"/>
                            <element name="CFNC_C_TRX_STATUS"/>
                            <element name="CFNC_C_TYPE_DESC"/>
                            <element name="CFNC_C_TYPE_EX"/>
                            <element name="CFNC_C_UNIT_CODE"/>
                            <element name="CFNC_D_BILL_DUE_DT"/>
                            <element name="CFNC_D_CREATE_DATE"/>
                            <element name="CFNC_D_DT"/>
                            <element name="CFNC_D_DUE_DT"/>
                            <element name="CFNC_D_EXTEN_DUE_DT"/>
                            <element name="CFNC_D_EXTEN_DUE_DT_E"/>
                            <element name="CFNC_D_EXTEN_OVERDUE_DT"/>
                            <element name="CFNC_D_EXTEN_REG_DT"/>
                            <element name="CFNC_D_EXTEN_VALUE_DT"/>
                            <element name="CFNC_D_LAST_PAY_DT"/>
                            <element name="CFNC_D_LAST_PMT_DT"/>
                            <element name="CFNC_D_PAY_DT"/>
                            <element name="CFNC_D_PAY_REG_DT"/>
                            <element name="CFNC_D_POST_FROM_DT"/>
                            <element name="CFNC_D_POST_TO_DT"/>
                            <element name="CFNC_D_REG_DT"/>
                            <element name="CFNC_D_RESTART_DT"/>
                            <element name="CFNC_D_STOP_DT"/>
                            <element name="CFNC_I_AMEND_TIMES"/>
                            <element name="CFNC_I_BASIC_DAYS"/>
                            <element name="CFNC_I_DAYS"/>
                            <element name="CFNC_I_DISCOUNT_DAYS_E"/>
                            <element name="CFNC_I_DISCOUNT_DAYS_N"/>
                            <element name="CFNC_I_EXTEN_BASE_DAYS"/>
                            <element name="CFNC_I_EXTEN_DAYS"/>
                            <element name="CFNC_I_EXTEN_TIMES"/>
                            <element name="CFNC_I_EXTEN_TTL_DAYS"/>
                            <element name="CFNC_I_FINC_NO"/>
                            <element name="CFNC_I_FINC_TIMES"/>
                            <element name="CFNC_I_REPAY_TIMES"/>
                            <element name="CFNC_I_RFD_NO"/>
                            <element name="CFNC_N_AMT_LCCCY"/>
                            <element name="CFNC_N_AMT_TXCCY"/>
                            <element name="CFNC_N_BAL"/>
                            <element name="CFNC_N_CCY_CLOSE_RT"/>
                            <element name="CFNC_N_CCY_CUST_RT"/>
                            <element name="CFNC_N_CCY_EXCH_RT"/>
                            <element name="CFNC_N_CR_AMT"/>
                            <element name="CFNC_N_CR_BAL"/>
                            <element name="CFNC_N_EXTEN_AMT"/>
                            <element name="CFNC_N_EXTEN_BAL"/>
                            <element name="CFNC_N_EXTEN_LIBOR_RT"/>
                            <element name="CFNC_N_EXTEN_LIBOR_RT_E"/>
                            <element name="CFNC_N_EXTEN_MARGIN_E"/>
                            <element name="CFNC_N_EXTEN_MARGIN_RT"/>
                            <element name="CFNC_N_EXTEN_PAID_INT"/>
                            <element name="CFNC_N_EXTEN_PAID_LIBOR"/>
                            <element name="CFNC_N_EXTEN_PAID_MARGIN"/>
                            <element name="CFNC_N_EXTEN_PRE_INT"/>
                            <element name="CFNC_N_EXTEN_RT"/>
                            <element name="CFNC_N_EXTEN_RT_E"/>
                            <element name="CFNC_N_EXTEN_TTL_AMT"/>
                            <element name="CFNC_N_EXTEN_TTL_BAL"/>
                            <element name="CFNC_N_FINC_TTL_AMT"/>
                            <element name="CFNC_N_FINC_TTL_BAL"/>
                            <element name="CFNC_N_LIBOR_RT"/>
                            <element name="CFNC_N_MARGIN_RT"/>
                            <element name="CFNC_N_PAID_INT"/>
                            <element name="CFNC_N_PAID_LIBOR"/>
                            <element name="CFNC_N_PAID_MARGIN"/>
                            <element name="CFNC_N_PAY_AMT"/>
                            <element name="CFNC_N_PAY_PNLT_INT"/>
                            <element name="CFNC_N_PAY_TTLAMT_TXCCY"/>
                            <element name="CFNC_N_PCT"/>
                            <element name="CFNC_N_PNLT_RT"/>
                            <element name="CFNC_N_PRE_INT"/>
                            <element name="CFNC_N_REACC_INT"/>
                            <element name="CFNC_N_RFD_EXTINT"/>
                            <element name="CFNC_N_RFD_INT"/>
                            <element name="CFNC_N_RT"/>
                            <element name="CFNC_N_UNPAID_INT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="ISSUE_DT"/>
                <element name="LC_AMT"/>
                <element name="LC_BAL"/>
                <element name="LC_BAL_LCY"/>
                <element name="LC_BAL_TEMP"/>
                <element name="LC_CCY"/>
                <element name="LC_NO"/>
                <element name="LTST_SHIP_DT"/>
                <element name="NEG_TOL"/>
                <element name="OUR_ENG__DESC__"/>
                <element name="OUR_ENG"/>
                <element name="POS_TOL"/>
                <element name="PRES_AMT_PRES_CCY"/>
                <element name="PRES_CCY"/>
                <element name="PRES_DT"/>
                <element name="RELA_MAIN_REF"/>
                <element name="RT_CCY_LCY"/>
                <element name="TENOR_DAYS"/>
                <element name="TENOR_START_DT"/>
                <element name="TENOR_TYPE__DESC__"/>
                <element name="TENOR_TYPE"/>
                <element name="TRX_CCY"/>
                <element name="TTL_CHG_OUR"/>
            </sequence>
        </complexType>
    </element>
</schema>
