EE_PARA/EE_PARA/Default/FORM/form_multi_schema_MultiCredit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MLDC_ASSGN_ID"/>
                            <element name="C_MLDC_ASSGN_NM"/>
                            <element name="C_MLDC_CCY"/>
                            <element name="C_MLDC_CR_AC"/>
                            <element name="C_MLDC_CR_AC_TYPE"/>
                            <element name="C_MLDC_CR_CCY"/>
                            <element name="C_MLDC_CR_PER"/>
                            <element name="C_MLDC_DESC"/>
                            <element name="C_MLDC_FROM"/>
                            <element name="C_MLDC_PAY_ADV_MSG"/>
                            <element name="C_MLDC_PAY_COV_MSG"/>
                            <element name="C_MLDC_TEMP_AC"/>
                            <element name="C_MLDC_TEMP_CCY"/>
                            <element name="C_TRX_CCY"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="D_MLDC_CR_VAL_DATE"/>
                            <element name="F_MLDC_CR_BUY_RATE"/>
                            <element name="I_MLDC_IDX"/>
                            <element name="I_MLDC_SEQ"/>
                            <element name="MLDC_ASSGN_ID_BTN"/>
                            <element name="MLDC_CR_AC_BTN"/>
                            <element name="MLDC_CR_AC_DESC"/>
                            <element name="MLDC_CR_AMT_CRCCY_EXCH"/>
                            <element name="MLDC_CR_AMT_MAPING"/>
                            <element name="MLDC_CR_C_TRANS_CODE"/>
                            <element name="MLDC_CR_EXNG_AC"/>
                            <element name="MLDC_CR_TOLOCAL_RT"/>
                            <element name="MLDC_CR_TRX_CCY"/>
                            <element name="N_MLDC_CR_AMT_CRCCY"/>
                            <element name="N_MLDC_CR_AMT_TXCCY"/>
                            <element name="N_MLDC_CR_CHG_LCCCY"/>
                            <element name="N_MLDC_EXCH_FAVAMT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
