EE_PARA/EE_PARA/Default/FORM/form_schema_ABLF_Collateral Adjustment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ALERT_FLG__DESC__"/>
                <element name="ALERT_FLG"/>
                <element name="CCY"/>
                <element name="CHG_ACNO"/>
                <element name="CHG_CUST_VCH_DESC_CR"/>
                <element name="CHG_CUST_VCH_DESC_DR"/>
                <element name="CHG_FCUST_CCY"/>
                <element name="CHG_FOREIGN_FX_AMT_CR"/>
                <element name="CHG_FOREIGN_FX_AMT_DR"/>
                <element name="CHG_FOREIGN_FX_CCY_CR"/>
                <element name="CHG_FOREIGN_FX_CCY_DR"/>
                <element name="CHG_LOCAL_FX_AMT_CR"/>
                <element name="CHG_LOCAL_FX_AMT_DR"/>
                <element name="CHG_LOCAL_FX_CCY_CR"/>
                <element name="CHG_LOCAL_FX_CCY_DR"/>
                <element name="CHG_PRE_ADV_COMM_AC"/>
                <element name="CHG_TRX_DATE"/>
                <element name="CLERK_ID"/>
                <element name="CNTR_STATUS__DESC__"/>
                <element name="CNTR_STATUS"/>
                <element name="CNTY_CODE"/>
                <element name="CURRNT_STATUS"/>
                <element name="C_COMPLIANCE_NOTE"/>
                <element name="C_COMPLIANCE_STATUS__DESC__"/>
                <element name="C_COMPLIANCE_STATUS"/>
                <element name="C_MAIN_REF"/>
                <element name="C_SWADVDO_TIMES"/>
                <element name="C_SWMAIN_TIMES"/>
                <element name="C_SWPAYDO_TIMES"/>
                <element name="C_SWPAY_TIMES"/>
                <element name="C_TRANS_CODE"/>
                <element name="CollateralAdjustment">
                    <complexType>
                        <sequence>
                            <element name="ADJ_DATE"/>
                            <element name="ADJ_REF"/>
                            <element name="ARRIVAL_DATE"/>
                            <element name="COLLAT_ADJ_DATE"/>
                            <element name="COLLAT_CCY"/>
                            <element name="COLLAT_CRD_NO"/>
                            <element name="COLLAT_FACT"/>
                            <element name="COLLAT_ID"/>
                            <element name="COLLAT_NM"/>
                            <element name="COLLAT_OUT_QTY"/>
                            <element name="COLLAT_PRICE"/>
                            <element name="COLLAT_QTY"/>
                            <element name="COLLAT_RD_DATE"/>
                            <element name="COLLAT_RD_PRICE"/>
                            <element name="COLLAT_SPEC"/>
                            <element name="COLLAT_TP"/>
                            <element name="COLLAT_UNIT"/>
                            <element name="COLLAT_VAL"/>
                            <element name="COMPMTRY_QTY"/>
                            <element name="COMPMT_QTY"/>
                            <element name="DEC_PERC"/>
                            <element name="FA_CNTR_REF"/>
                            <element name="IF_CONF_PRICE__DESC__"/>
                            <element name="IF_CONF_PRICE"/>
                            <element name="INC_PERC"/>
                            <element name="OUT_DATE"/>
                            <element name="OUT_QTY"/>
                            <element name="OUT_WEIGHT"/>
                            <element name="PRICE"/>
                            <element name="PRICE_ADJ_FLG__DESC__"/>
                            <element name="PRICE_ADJ_FLG"/>
                            <element name="QTY"/>
                            <element name="QTY_UNIT"/>
                            <element name="REG_NO"/>
                            <element name="RELEBLE_QTY"/>
                            <element name="RELE_QTY"/>
                            <element name="TEMP_COLLAT_VAL"/>
                            <element name="WEIGHT"/>
                            <element name="WEIGHT_UNIT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="CollateralEntry">
                    <complexType>
                        <sequence>
                            <element name="ADJ_DATE"/>
                            <element name="ADJ_REF"/>
                            <element name="ARRIVAL_DATE"/>
                            <element name="COLLAT_CCY"/>
                            <element name="COLLAT_CRD_NO"/>
                            <element name="COLLAT_FACT"/>
                            <element name="COLLAT_ID"/>
                            <element name="COLLAT_NM"/>
                            <element name="COLLAT_PRICE"/>
                            <element name="COLLAT_QTY"/>
                            <element name="COLLAT_RD_PRICE"/>
                            <element name="COLLAT_SPEC"/>
                            <element name="COLLAT_TP"/>
                            <element name="COLLAT_UNIT"/>
                            <element name="COLLAT_VAL"/>
                            <element name="PRICE"/>
                            <element name="PRICE_ADJ_FLG__DESC__"/>
                            <element name="PRICE_ADJ_FLG"/>
                            <element name="QTY"/>
                            <element name="QTY_UNIT"/>
                            <element name="REG_NO"/>
                            <element name="WEIGHT"/>
                            <element name="WEIGHT_UNIT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="EXCH_RATE"/>
                <element name="E_ACCOUNT_TYPE"/>
                <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                <element name="E_BORROWER_ID"/>
                <element name="E_BORROWER_ID_ACCEPT"/>
                <element name="E_CCY_DECIMAL"/>
                <element name="E_CFNC_D_DUE_DT"/>
                <element name="E_CFNC_I_BASIC_DAYS"/>
                <element name="E_CLAIMNOTE_TIMES"/>
                <element name="E_C_REF_NO_C_IN"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_DISCOUNT_TIMES"/>
                <element name="E_DUE_DATE"/>
                <element name="E_DUE_DATE_ACCEPT"/>
                <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                <element name="E_FUNCTION_ID"/>
                <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                <element name="E_IA_C_DIS_CUSTCCY"/>
                <element name="E_IA_C_DIS_LOCALCCY"/>
                <element name="E_IA_Y_EQVL_INT"/>
                <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                <element name="E_IA_Y_PAID_INT"/>
                <element name="E_MAIN_REF"/>
                <element name="E_NEW_EXPIRY_DT"/>
                <element name="E_ORG_OUR_ENG_ADV_LC"/>
                <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="E_PAID_ACCEPT_COMM_AMT"/>
                <element name="E_PAID_ACCEPT_COMM_CCY"/>
                <element name="E_PAID_CONFIRM_COMM_AMT"/>
                <element name="E_PAID_CONFIRM_COMM_CCY"/>
                <element name="E_RATE"/>
                <element name="E_REF_NO"/>
                <element name="E_SEND_DOC_FLAG"/>
                <element name="E_SETTLEPARTIALPAY_TIMES"/>
                <element name="E_TRX_DT"/>
                <element name="E_UNIT_CODE"/>
                <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CUST_ID"/>
                <element name="FA_CUST_NM"/>
                <element name="FA_LMT_AMT"/>
                <element name="FA_LMT_CCY"/>
                <element name="FA_LMT_DUE_DT"/>
                <element name="FA_LMT_TYPE__DESC__"/>
                <element name="FA_LMT_TYPE"/>
                <element name="FA_LMT_VAL_DT"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="INSPECT_BT"/>
                <element name="InqCUST_ID"/>
                <element name="LOGIN_BIC"/>
                <element name="MAX_DEC_PERC"/>
                <element name="MAX_INC_PERC"/>
                <element name="MSG_TYPE"/>
                <element name="PRICE_ADJ_FLG__DESC__"/>
                <element name="PRICE_ADJ_FLG"/>
                <element name="RATE_BASE"/>
                <element name="REAL_RT"/>
                <element name="REG_AMT"/>
                <element name="REG_DEDUCT_LMT__DESC__"/>
                <element name="REG_DEDUCT_LMT"/>
                <element name="REG_INSPEC_ID"/>
                <element name="REG_INSPEC_NM"/>
                <element name="REG_INSPEC_NO"/>
                <element name="REG_INSPEC_TP__DESC__"/>
                <element name="REG_INSPEC_TP"/>
                <element name="REG_LOAN_BAL"/>
                <element name="REG_LOWEST_VAL"/>
                <element name="REG_NO"/>
                <element name="STP_ADBIC_LC"/>
                <element name="STP_CODE"/>
                <element name="STP_INQALL_RESULT"/>
                <element name="STP_MESSAGE_TYPE"/>
                <element name="STP_MSG_CONTENT"/>
                <element name="STP_RECV_TIME"/>
                <element name="TEMP_AC_AMT1"/>
                <element name="TEMP_AC_AMT2"/>
                <element name="TEMP_AC_AMT3"/>
                <element name="TEMP_AC_AMT4"/>
                <element name="TEMP_AC_AMT5"/>
                <element name="TEMP_AC_BOOK_DT"/>
                <element name="TEMP_AC_CCY"/>
                <element name="TEMP_AC_NO1"/>
                <element name="TEMP_AC_NO2"/>
                <element name="TEMP_AC_NO3"/>
                <element name="TEMP_AC_NO4"/>
                <element name="TEMP_AC_VALUE_DT"/>
                <element name="TEMP_AC_VCH_DESC1"/>
                <element name="TEMP_AC_VCH_DESC2"/>
                <element name="TEMP_AC_VCH_DESC3"/>
                <element name="TEMP_AC_VCH_DESC4"/>
                <element name="TEMP_AMT"/>
                <element name="TEMP_AMT1"/>
                <element name="TEMP_BP_CCY1"/>
                <element name="TEMP_CCY"/>
                <element name="TEMP_CFNC_D_DUE_DT"/>
                <element name="TEMP_COLLAT_TP__DESC__"/>
                <element name="TEMP_COLLAT_TP"/>
                <element name="TEMP_REF"/>
                <element name="TEMP_REG_AMT"/>
                <element name="TRX_CCY"/>
                <element name="TRX_DT"/>
                <element name="VAL_FLG__DESC__"/>
                <element name="VAL_FLG"/>
                <element name="VAL_REL_FLG__DESC__"/>
                <element name="VAL_REL_FLG"/>
                <element name="WAREHOUSE"/>
                <element name="WAREHOUSE_ADDRESS"/>
                <element name="WAREHOUSE_MAN"/>
                <element name="WAREHOUSE_NM"/>
                <element name="WARE_BT"/>
                <element name="WEB_REF"/>
            </sequence>
        </complexType>
    </element>
</schema>
