EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_AmdAGM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CHG_FREQ_CD__DESC__"/>
                <element name="CHG_FREQ_CD"/>
                <element name="CHG_FREQ_CD_OLD"/>
                <element name="CHG_PAID_BY__DESC__"/>
                <element name="CHG_PAID_BY"/>
                <element name="CHG_PAID_BY_OLD"/>
                <element name="CLERK_ID"/>
                <element name="CUST_TYPE__DESC__"/>
                <element name="CUST_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_ACK_FLG__DESC__"/>
                <element name="FA_ACK_FLG"/>
                <element name="FA_ACK_FLG_OLD"/>
                <element name="FA_AGM_CCY"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_ANCHOR_ACC"/>
                <element name="FA_ANCHOR_ADD_ML"/>
                <element name="FA_ANCHOR_AMT"/>
                <element name="FA_ANCHOR_AMT_OLD"/>
                <element name="FA_ANCHOR_CCY"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_ANCHOR_ROLE"/>
                <element name="FA_AUTO_DEBIT__DESC__"/>
                <element name="FA_AUTO_DEBIT"/>
                <element name="FA_AUTO_DEBIT_OLD"/>
                <element name="FA_AUTO_FIN__DESC__"/>
                <element name="FA_AUTO_FIN"/>
                <element name="FA_AUTO_FIN_OLD"/>
                <element name="FA_BUSI_FUNC__DESC__"/>
                <element name="FA_BUSI_FUNC"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CONTRACT_REF"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_CUST_REG_NO"/>
                <element name="FA_CUT_OFF_DAYS"/>
                <element name="FA_CUT_OFF_DAYS_OLD"/>
                <element name="FA_DD_CHG_FIX"/>
                <element name="FA_DD_CHG_FIX_OLD"/>
                <element name="FA_DD_CHG_SHA"/>
                <element name="FA_DD_CHG_SHA_OLD"/>
                <element name="FA_DD_CHG_TP__DESC__"/>
                <element name="FA_DD_CHG_TP"/>
                <element name="FA_DD_CHG_TP_OLD"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_EF_COMM_RT_OLD"/>
                <element name="FA_EF_HAN_CHG_AMT"/>
                <element name="FA_EF_HAN_CHG_AMT_OLD"/>
                <element name="FA_EF_HAN_CHG_CCY"/>
                <element name="FA_END_DT"/>
                <element name="FA_END_REASON__DESC__"/>
                <element name="FA_END_REASON"/>
                <element name="FA_EXTEND_DT"/>
                <element name="FA_EXTEND_TIMES"/>
                <element name="FA_FIN_INFO"/>
                <element name="FA_FIN_INFO_OLD"/>
                <element name="FA_IRT_SPREAD"/>
                <element name="FA_IRT_SPREAD_OLD"/>
                <element name="FA_LOAN_IRATE_TYPE__DESC__"/>
                <element name="FA_LOAN_IRATE_TYPE"/>
                <element name="FA_LOAN_IRATE_TYPE_OLD"/>
                <element name="FA_MAX_FIN_AMT"/>
                <element name="FA_MAX_FIN_AMT_OLD"/>
                <element name="FA_MAX_LOAN_PERC"/>
                <element name="FA_MAX_LOAN_PERC_OLD"/>
                <element name="FA_MIN_FIN_AMT"/>
                <element name="FA_MIN_FIN_AMT_OLD"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_NO_OF_COUNTER"/>
                <element name="FA_ORG_DUE_DT"/>
                <element name="FA_OVD_IRT_SPREAD"/>
                <element name="FA_OVD_IRT_SPREAD_OLD"/>
                <element name="FA_PMT_TERMS"/>
                <element name="FA_REBATE_ACCOUNT"/>
                <element name="FA_REBATE_ACCOUNT_OLD"/>
                <element name="FA_REBATE_RATE"/>
                <element name="FA_REBATE_RATE_OLD"/>
                <element name="FA_REMARK"/>
                <element name="FA_REQ_BUYER_APR_FLG__DESC__"/>
                <element name="FA_REQ_BUYER_APR_FLG"/>
                <element name="FA_REQ_BUYER_APR_FLG_OLD"/>
                <element name="FA_ROLLOVER_FLAG__DESC__"/>
                <element name="FA_ROLLOVER_FLAG"/>
                <element name="FA_ROLLOVER_FLAG_OLD"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SERVICE_REQ__DESC__"/>
                <element name="FA_SERVICE_REQ"/>
                <element name="FA_TEMP2"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_TEMP6"/>
                <element name="FA_TEMP7"/>
                <element name="FA_TEMP_BK_ID1"/>
                <element name="FA_VALID_DAYS"/>
                <element name="GRACE_DAYS"/>
                <element name="GRACE_DAYS_OLD"/>
                <element name="INV_FIN_MODE__DESC__"/>
                <element name="INV_FIN_MODE"/>
                <element name="LM_RSV_LINK"/>
                <element name="MAX_ROLLOVER_DAYS"/>
                <element name="MAX_ROLLOVER_DAYS_OLD"/>
                <element name="MSG_TYPE"/>
                <element name="POOL_INV_MAX_AMT"/>
                <element name="POOL_INV_MAX_AMT_OLD"/>
                <element name="POOL_INV_MAX_PERIOD"/>
                <element name="POOL_INV_MAX_PERIOD_OLD"/>
                <element name="POOL_INV_MIN_AMT"/>
                <element name="POOL_INV_MIN_AMT_OLD"/>
                <element name="POOL_INV_MIN_PERIOD"/>
                <element name="POOL_INV_MIN_PERIOD_OLD"/>
                <element name="PO_MAX_LOAN_PERC"/>
                <element name="PO_MAX_LOAN_PERC_OLD"/>
                <element name="QR_CD_FLD"/>
                <element name="REBATE_BT"/>
                <element name="SCF_CounterParty">
                    <complexType>
                        <sequence>
                            <element name="CPYT_C_RELA_REF"/>
                            <element name="CUST_TYPE__DESC__"/>
                            <element name="CUST_TYPE"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_TRX_REF"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="FA_ANCHOR_ID"/>
                            <element name="FA_ANCHOR_NM"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_COUNTER_ACC"/>
                            <element name="FA_COUNTER_ADD_ML"/>
                            <element name="FA_COUNTER_AGM_NO"/>
                            <element name="FA_COUNTER_CE_FLG__DESC__"/>
                            <element name="FA_COUNTER_CE_FLG"/>
                            <element name="FA_COUNTER_CNTY"/>
                            <element name="FA_COUNTER_CONT_EM"/>
                            <element name="FA_COUNTER_CONT_NM"/>
                            <element name="FA_COUNTER_CONT_TEL"/>
                            <element name="FA_COUNTER_CT"/>
                            <element name="FA_COUNTER_ID"/>
                            <element name="FA_COUNTER_NM"/>
                            <element name="FA_COUNTER_PROV"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_COUNTER_ROLE"/>
                            <element name="FA_COUNTER_STR"/>
                            <element name="FA_COUNTER_TYPE__DESC__"/>
                            <element name="FA_COUNTER_TYPE"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_CUST_REG_NO"/>
                            <element name="FA_LMT_AMT"/>
                            <element name="FA_LMT_BAL"/>
                            <element name="FA_LMT_CCY"/>
                            <element name="FA_LMT_DUE_DT"/>
                            <element name="FA_LMT_VAL_DT"/>
                            <element name="FA_RELATION_STATUS__DESC__"/>
                            <element name="FA_RELATION_STATUS"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="ORIG_FA_COUNTER_TYPE__DESC__"/>
                            <element name="ORIG_FA_COUNTER_TYPE"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEMP_FA_BUYER_ID"/>
                <element name="TEMP_FA_BUYER_NM"/>
                <element name="TEMP_FA_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="XBOR_RT"/>
                <element name="XBOR_RT_OLD"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
