EE_PARA/EE_PARA/Default/FORM/form_schema_203_SEQ_B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="X103_ADV_BKSW_B2"/>
<element name="X103_ID_56_BTN"/>
<element name="X103_ID_57_BTN"/>
<element name="X202_58_BTN"/>
<element name="X203_20_REF"/>
<element name="X203_21_REF"/>
<element name="X203_21_REF_BTN"/>
<element name="X203_32B_AMT"/>
<element name="X203_32B_CCY"/>
<element name="X203_56A_IDENTIFIER"/>
<element name="X203_56D_PARTY_ADD1"/>
<element name="X203_56D_PARTY_ADD2"/>
<element name="X203_56D_PARTY_ADD3"/>
<element name="X203_56D_PARTY_NAME"/>
<element name="X203_56_PARTY_ID"/>
<element name="X203_56_PARTY_IDENTIFIER"/>
<element name="X203_56_TAG"/>
<element name="X203_57A_IDENTIFIER"/>
<element name="X203_57B_LOCATION"/>
<element name="X203_57D_PARTY_ADD1"/>
<element name="X203_57D_PARTY_ADD2"/>
<element name="X203_57D_PARTY_ADD3"/>
<element name="X203_57D_PARTY_NAME"/>
<element name="X203_57_PARTY_ID"/>
<element name="X203_57_PARTY_IDENTIFIER"/>
<element name="X203_57_TAG"/>
<element name="X203_58A_IDENTIFIER"/>
<element name="X203_58D_PARTY_ADD1"/>
<element name="X203_58D_PARTY_ADD2"/>
<element name="X203_58D_PARTY_ADD3"/>
<element name="X203_58D_PARTY_NAME"/>
<element name="X203_58_PARTY_ID"/>
<element name="X203_58_PARTY_IDENTIFIER"/>
<element name="X203_58_TAG"/>
<element name="X203_72_NARR"/>
</sequence>
</complexType>
</element>
</schema>
