EE_PARA/EE_PARA/Default/FORM/form_multi_schema_R2TSU_General017.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="TSUR2_REQ_ACT_TP__DESC__"/>
<element name="TSUR2_REQ_ACT_TP"/>
<element name="TSU_BUYER_BK_BIC"/>
<element name="TSU_CMON_SUBM_REF"/>
<element name="TSU_MESSAGE_ID"/>
<element name="TSU_REQ_ACT_DESC"/>
<element name="TSU_SEL_BK_BIC"/>
<element name="TSU_SUBMITR_BIC"/>
<element name="TSU_TRX_DT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
