EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TMPL_CreateTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACTIVE_FLAG"/>
                            <element name="CE_CUSTOMER__DESC__"/>
                            <element name="CE_CUSTOMER"/>
                            <element name="CLASSIFICATION__DESC__"/>
                            <element name="CLASSIFICATION"/>
                            <element name="CUST_ID"/>
                            <element name="CUST_ID_BTN"/>
                            <element name="CUST_NM"/>
                            <element name="CUST_SPEC__DESC__"/>
                            <element name="CUST_SPEC"/>
                            <element name="C_CONTENT"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_MODU_NAME"/>
                            <element name="EXPIRY_TYPE"/>
                            <element name="FORM_OF_UNDERTAKING"/>
                            <element name="GTEE_TYPE__DESC__"/>
                            <element name="GTEE_TYPE"/>
                            <element name="ISSU_METHOD__DESC__"/>
                            <element name="ISSU_METHOD"/>
                            <element name="LANG_CD__DESC__"/>
                            <element name="LANG_CD"/>
                            <element name="MSG_TYPE"/>
                            <element name="TEMP_NAME"/>
                            <element name="TEMP_TYPE__DESC__"/>
                            <element name="TEMP_TYPE"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
