EE_PARA/EE_PARA/Default/FORM/form_schema_CZQO_AddTakedown_TEST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_MAIN_REF"/>
                <element name="CheckLimit"/>
                <element name="DCMARK"/>
                <element name="DCMARK1"/>
                <element name="GetLimitValue"/>
                <element name="LMTS_CUST"/>
                <element name="LMTS_CUST2"/>
                <element name="LMTS_FACI"/>
                <element name="LMTS_FACI2"/>
                <element name="LMTS_RCUST"/>
                <element name="LMTS_RCUST2"/>
                <element name="LMTS_SUB"/>
                <element name="LMTS_SUB2"/>
                <element name="LM_CSL_DESC"/>
                <element name="LM_CSL_DESC1"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_CUST_ID1"/>
                <element name="LM_DUE_DAY"/>
                <element name="LM_FACI_TP"/>
                <element name="LM_FACI_TP1"/>
                <element name="LM_NOTE"/>
                <element name="LM_OP_TYPE"/>
                <element name="LM_PAY_REF"/>
                <element name="LM_RCUST_ID"/>
                <element name="LM_RCUST_ID1"/>
                <element name="LM_RSV_LINK"/>
                <element name="LM_TRX_AMT"/>
                <element name="LM_TRX_AMT1"/>
                <element name="LM_TRX_CCY"/>
                <element name="LM_TRX_CCY1"/>
                <element name="LM_TRX_REF"/>
                <element name="LM_VALU_DAY"/>
                <element name="OP_TYPE"/>
                <element name="disFlag"/>
                <element name="tempLimitDesc"/>
                <element name="tempLimitType"/>
            </sequence>
        </complexType>
    </element>
</schema>
