EE_PARA/EE_PARA/Default/FORM/form_multi_schema_LMTS_Inq_RCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="LM_ACNT_OFFI"/>
                            <element name="LM_ALLW_LMT"/>
                            <element name="LM_ALLW_OVER"/>
                            <element name="LM_AVI_APL"/>
                            <element name="LM_BASE_CCY"/>
                            <element name="LM_CRED_LMT"/>
                            <element name="LM_CRT_DAY"/>
                            <element name="LM_CSL_DESC"/>
                            <element name="LM_CUST_ID"/>
                            <element name="LM_CUST_NAME"/>
                            <element name="LM_DEDU_FLAG"/>
                            <element name="LM_DUE_DAY"/>
                            <element name="LM_EDIT_REASN"/>
                            <element name="LM_FACI_TP"/>
                            <element name="LM_FAC_CCY"/>
                            <element name="LM_GRUP_DES"/>
                            <element name="LM_HAS_FACI"/>
                            <element name="LM_IGNORE"/>
                            <element name="LM_INDU_NAME"/>
                            <element name="LM_MDDR"/>
                            <element name="LM_OUTC_APL"/>
                            <element name="LM_OUTC_APV"/>
                            <element name="LM_OUTD_APL"/>
                            <element name="LM_OUTD_APV"/>
                            <element name="LM_OVER_OUT"/>
                            <element name="LM_PCSL_DESC"/>
                            <element name="LM_RCUST_ID"/>
                            <element name="LM_SIN_APL"/>
                            <element name="LM_SIN_APV"/>
                            <element name="LM_SIN_LMT"/>
                            <element name="LM_SOUT_APL"/>
                            <element name="LM_SOUT_APV"/>
                            <element name="LM_SOUT_LMT"/>
                            <element name="LM_STATUS"/>
                            <element name="LM_STR_DAY"/>
                            <element name="LM_SUBLIMIT"/>
                            <element name="LM_SUB_CCY"/>
                            <element name="LM_TENOR"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
