EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IPLC_ReopenLC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="AC_OFFICER_CODE"/>
                            <element name="ADV_BK_ADD1"/>
                            <element name="ADV_BK_ADD2"/>
                            <element name="ADV_BK_ADD3"/>
                            <element name="ADV_BK_ADD_BTN"/>
                            <element name="ADV_BK_CORR_MED__DESC__"/>
                            <element name="ADV_BK_CORR_MED"/>
                            <element name="ADV_BK_ID"/>
                            <element name="ADV_BK_ID_BTN"/>
                            <element name="ADV_BK_MAIL_ADD"/>
                            <element name="ADV_BK_NM"/>
                            <element name="ADV_BK_NOTES"/>
                            <element name="ADV_BK_ORDER_NO"/>
                            <element name="ADV_BK_ORDER_POST"/>
                            <element name="ADV_BK_POST_ADD_BTN"/>
                            <element name="ADV_BK_REF"/>
                            <element name="ADV_BK_SW_ADD"/>
                            <element name="ADV_BK_SW_TAG"/>
                            <element name="ADV_BK_TLX"/>
                            <element name="ADV_THRU_BK_ID_BTN"/>
                            <element name="ADV_THU_BK_ADD1"/>
                            <element name="ADV_THU_BK_ADD2"/>
                            <element name="ADV_THU_BK_ADD3"/>
                            <element name="ADV_THU_BK_ADD_BTN"/>
                            <element name="ADV_THU_BK_CORR_MED__DESC__"/>
                            <element name="ADV_THU_BK_CORR_MED"/>
                            <element name="ADV_THU_BK_ID"/>
                            <element name="ADV_THU_BK_MAIL_ADD"/>
                            <element name="ADV_THU_BK_NM"/>
                            <element name="ADV_THU_BK_NOTES"/>
                            <element name="ADV_THU_BK_ORDER_NO"/>
                            <element name="ADV_THU_BK_ORDER_POST"/>
                            <element name="ADV_THU_BK_POST_ADD_BTN"/>
                            <element name="ADV_THU_BK_REF"/>
                            <element name="ADV_THU_BK_SW_ADD"/>
                            <element name="ADV_THU_BK_SW_TAG"/>
                            <element name="ADV_THU_BK_TLX"/>
                            <element name="APPL_ADD1"/>
                            <element name="APPL_ADD2"/>
                            <element name="APPL_ADD3"/>
                            <element name="APPL_ADD_BTN"/>
                            <element name="APPL_CORR_MED__DESC__"/>
                            <element name="APPL_CORR_MED"/>
                            <element name="APPL_EMAIL"/>
                            <element name="APPL_FAX"/>
                            <element name="APPL_ID"/>
                            <element name="APPL_ID_BTN"/>
                            <element name="APPL_LANG"/>
                            <element name="APPL_MAIL_ADD"/>
                            <element name="APPL_NM"/>
                            <element name="APPL_NOTES"/>
                            <element name="APPL_ORDER_NO"/>
                            <element name="APPL_ORDER_POST"/>
                            <element name="APPL_POST_ADD_BTN"/>
                            <element name="APPL_REF"/>
                            <element name="APPL_TLX"/>
                            <element name="ASSET_ACNO"/>
                            <element name="BENE_AC_NO"/>
                            <element name="BENE_AC_OFF_CODE"/>
                            <element name="BENE_ADD1"/>
                            <element name="BENE_ADD2"/>
                            <element name="BENE_ADD3"/>
                            <element name="BENE_ADD_BTN"/>
                            <element name="BENE_CORR_MED__DESC__"/>
                            <element name="BENE_CORR_MED"/>
                            <element name="BENE_EMAIL"/>
                            <element name="BENE_FAX"/>
                            <element name="BENE_ID"/>
                            <element name="BENE_ID_BTN"/>
                            <element name="BENE_LANG__DESC__"/>
                            <element name="BENE_LANG"/>
                            <element name="BENE_MAIL_ADD"/>
                            <element name="BENE_NM"/>
                            <element name="BENE_NOTES"/>
                            <element name="BENE_ORDER_NO"/>
                            <element name="BENE_ORDER_POST"/>
                            <element name="BENE_POST_ADD_BTN"/>
                            <element name="BENE_REF"/>
                            <element name="BENE_TLX"/>
                            <element name="CHG_ACNO"/>
                            <element name="CHG_CUST_VCH_DESC_CR"/>
                            <element name="CHG_CUST_VCH_DESC_DR"/>
                            <element name="CHG_FCUST_CCY"/>
                            <element name="CHG_FOREIGN_FX_AMT_CR"/>
                            <element name="CHG_FOREIGN_FX_AMT_DR"/>
                            <element name="CHG_FOREIGN_FX_CCY_CR"/>
                            <element name="CHG_FOREIGN_FX_CCY_DR"/>
                            <element name="CHG_LOCAL_FX_AMT_CR"/>
                            <element name="CHG_LOCAL_FX_AMT_DR"/>
                            <element name="CHG_LOCAL_FX_CCY_CR"/>
                            <element name="CHG_LOCAL_FX_CCY_DR"/>
                            <element name="CHG_PRE_ADV_COMM_AC"/>
                            <element name="CHG_TRX_DATE"/>
                            <element name="CLERK_ID"/>
                            <element name="CLS_FLG__DESC__"/>
                            <element name="CLS_FLG"/>
                            <element name="CNTY_CODE"/>
                            <element name="CONF_INSTR__DESC__"/>
                            <element name="CONF_INSTR"/>
                            <element name="CURRNT_STATUS"/>
                            <element name="C_COMPLIANCE_NOTE"/>
                            <element name="C_COMPLIANCE_STATUS__DESC__"/>
                            <element name="C_COMPLIANCE_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="C_SWADVDO_TIMES"/>
                            <element name="C_SWMAIN_TIMES"/>
                            <element name="C_SWPAYDO_TIMES"/>
                            <element name="C_SWPAY_TIMES"/>
                            <element name="C_TRANS_CODE"/>
                            <element name="EXPIRY_DT"/>
                            <element name="E_ACCOUNT_TYPE"/>
                            <element name="E_ACCOUNT_TYPE_ACCEPT"/>
                            <element name="E_BORROWER_ID"/>
                            <element name="E_BORROWER_ID_ACCEPT"/>
                            <element name="E_CCY_DECIMAL"/>
                            <element name="E_CFNC_D_DUE_DT"/>
                            <element name="E_CFNC_I_BASIC_DAYS"/>
                            <element name="E_CLAIMNOTE_TIMES"/>
                            <element name="E_C_REF_NO_C_IN"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_DISCOUNT_TIMES"/>
                            <element name="E_DUE_DATE"/>
                            <element name="E_DUE_DATE_ACCEPT"/>
                            <element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
                            <element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
                            <element name="E_EPLC_CONF_COMM_TRX_AMT"/>
                            <element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
                            <element name="E_FUNCTION_ID"/>
                            <element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
                            <element name="E_IA_C_DIS_CUSTCCY"/>
                            <element name="E_IA_C_DIS_LOCALCCY"/>
                            <element name="E_IA_Y_EQVL_INT"/>
                            <element name="E_IA_Y_EQVL_INT_ACCEPT"/>
                            <element name="E_IA_Y_PAID_INT"/>
                            <element name="E_MAIN_REF"/>
                            <element name="E_NEW_EXPIRY_DT"/>
                            <element name="E_ORG_OUR_ENG_ADV_LC"/>
                            <element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="E_PAID_ACCEPT_COMM_AMT"/>
                            <element name="E_PAID_ACCEPT_COMM_CCY"/>
                            <element name="E_PAID_CONFIRM_COMM_AMT"/>
                            <element name="E_PAID_CONFIRM_COMM_CCY"/>
                            <element name="E_RATE"/>
                            <element name="E_REF_NO"/>
                            <element name="E_SEND_DOC_FLAG"/>
                            <element name="E_SETTLEPARTIALPAY_TIMES"/>
                            <element name="E_TRX_DT"/>
                            <element name="E_UNIT_CODE"/>
                            <element name="E_UNPAID_ACCEPT_COMM_AMT"/>
                            <element name="E_UNPAID_ACCEPT_COMM_CCY"/>
                            <element name="E_UNPAID_CONFIRM_COMM_AMT"/>
                            <element name="E_UNPAID_CONFIRM_COMM_CCY"/>
                            <element name="FORACOF_AC_OFF_CODE"/>
                            <element name="FORACOF_ADD1"/>
                            <element name="FORACOF_ADD2"/>
                            <element name="FORACOF_ADD3"/>
                            <element name="FORACOF_ADD_BTN"/>
                            <element name="FORACOF_CNTY_CODE"/>
                            <element name="FORACOF_CORR_MED__DESC__"/>
                            <element name="FORACOF_CORR_MED"/>
                            <element name="FORACOF_EMAIL"/>
                            <element name="FORACOF_FAX"/>
                            <element name="FORACOF_ID"/>
                            <element name="FORACOF_ID_BTN"/>
                            <element name="FORACOF_LANG"/>
                            <element name="FORACOF_MAIL_ADD"/>
                            <element name="FORACOF_NM"/>
                            <element name="FORACOF_NOTES"/>
                            <element name="FORACOF_ORDER_NO"/>
                            <element name="FORACOF_ORDER_POST"/>
                            <element name="FORACOF_POST_ADD_BTN"/>
                            <element name="FORACOF_REF"/>
                            <element name="FORACOF_TEAM_NM"/>
                            <element name="FORACOF_TEMP_TEAM_NM"/>
                            <element name="FORACOF_TLX"/>
                            <element name="ISSUE_BK_ADD1"/>
                            <element name="ISSUE_BK_ADD2"/>
                            <element name="ISSUE_BK_ADD3"/>
                            <element name="ISSUE_BK_ID"/>
                            <element name="ISSUE_BK_NM"/>
                            <element name="ISSUE_BK_NOTES"/>
                            <element name="ISSUE_BK_SW_ADD"/>
                            <element name="ISSUE_BK_SW_TAG"/>
                            <element name="ISSUE_DT"/>
                            <element name="LC_AMT"/>
                            <element name="LC_BAL"/>
                            <element name="LC_BAL_CLS"/>
                            <element name="LC_CCY"/>
                            <element name="LC_NO"/>
                            <element name="LIAB_ACNO"/>
                            <element name="LOGIN_BIC"/>
                            <element name="MSG_TYPE"/>
                            <element name="NOTES"/>
                            <element name="NXT_STATUS"/>
                            <element name="RATE_BASE"/>
                            <element name="REAL_RT"/>
                            <element name="REINST_DT"/>
                            <element name="SAME_AS_APPL_FLG"/>
                            <element name="STP_ADBIC_LC"/>
                            <element name="STP_CODE"/>
                            <element name="STP_INQALL_RESULT"/>
                            <element name="STP_MESSAGE_TYPE"/>
                            <element name="STP_MSG_CONTENT"/>
                            <element name="STP_RECV_TIME"/>
                            <element name="TEAM_NM"/>
                            <element name="TEMP_AC_AMT1"/>
                            <element name="TEMP_AC_AMT2"/>
                            <element name="TEMP_AC_AMT3"/>
                            <element name="TEMP_AC_AMT4"/>
                            <element name="TEMP_AC_AMT5"/>
                            <element name="TEMP_AC_BOOK_DT"/>
                            <element name="TEMP_AC_CCY"/>
                            <element name="TEMP_AC_NO1"/>
                            <element name="TEMP_AC_NO2"/>
                            <element name="TEMP_AC_NO3"/>
                            <element name="TEMP_AC_NO4"/>
                            <element name="TEMP_AC_VALUE_DT"/>
                            <element name="TEMP_AC_VCH_DESC1"/>
                            <element name="TEMP_AC_VCH_DESC2"/>
                            <element name="TEMP_AC_VCH_DESC3"/>
                            <element name="TEMP_AC_VCH_DESC4"/>
                            <element name="TEMP_CFNC_D_DUE_DT"/>
                            <element name="TEMP_CORR_ATTCH"/>
                            <element name="TEMP_CORR_CRSPD"/>
                            <element name="TEMP_CORR_INSTR"/>
                            <element name="TEMP_CUST_ATTCH"/>
                            <element name="TEMP_CUST_CRSPD"/>
                            <element name="TEMP_CUST_INSTR"/>
                            <element name="TEMP_DOC_DT"/>
                            <element name="TEMP_TEAM_NAME"/>
                            <element name="TEMP_USER_EMAIL"/>
                            <element name="TEMP_USER_FAX"/>
                            <element name="TEMP_USER_NM"/>
                            <element name="TEMP_USER_TEL_NO"/>
                            <element name="TRX_CCY"/>
                            <element name="WEB_REF"/>
                            <element name="button1"/>
                            <element name="button2"/>
                            <element name="button3"/>
                            <element name="button4"/>
                            <element name="button5"/>
                            <element name="button6"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
