EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IMCO_Send_MaiL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="COLL_NO"/>
                            <element name="C_MAIN_REF"/>
                            <element name="TEMP_N90_REF_20"/>
                            <element name="TEMP_N90_REF_21"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
