EE_PARA/EE_PARA/Default/FORM/form_schema_FADA_SignAgreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="ACC_CUST"/>
                <element name="B_SELBUYR"/>
                <element name="B_SELBUYR2"/>
                <element name="CLERK_ID"/>
                <element name="CUST_TYPE__DESC__"/>
                <element name="CUST_TYPE"/>
                <element name="C_MAIN_REF"/>
                <element name="DIARY_DT"/>
                <element name="DIARY_NARRATIVE"/>
                <element name="DIARY_RELATED_REF"/>
                <element name="FA_AGM_DUE_DT"/>
                <element name="FA_AGM_SIGN_FLG__DESC__"/>
                <element name="FA_AGM_SIGN_FLG"/>
                <element name="FA_AGM_VAL_DT"/>
                <element name="FA_ANCHOR_ADD_ML"/>
                <element name="FA_ANCHOR_ID"/>
                <element name="FA_ANCHOR_NM"/>
                <element name="FA_ANCHOR_ROLE"/>
                <element name="FA_BUSI_STATUS__DESC__"/>
                <element name="FA_BUSI_STATUS"/>
                <element name="FA_BUSI_TYPE__DESC__"/>
                <element name="FA_BUSI_TYPE"/>
                <element name="FA_BUYER_ADD_ML"/>
                <element name="FA_BUYER_ID"/>
                <element name="FA_BUYER_NM"/>
                <element name="FA_BUYER_NM2"/>
                <element name="FA_CE_MAIN_REF"/>
                <element name="FA_CNTR_DOC_NO"/>
                <element name="FA_CNTR_REF"/>
                <element name="FA_CONTRACT_REF"/>
                <element name="FA_CUST_INSTR__DESC__"/>
                <element name="FA_CUST_INSTR"/>
                <element name="FA_CUST_REG_NO"/>
                <element name="FA_EF_COMM_RT"/>
                <element name="FA_ID_DISCLOSED__DESC__"/>
                <element name="FA_ID_DISCLOSED"/>
                <element name="FA_NO_OF_BUYERS"/>
                <element name="FA_NO_OF_COUNTER"/>
                <element name="FA_REMARK"/>
                <element name="FA_SEL_AC_NO"/>
                <element name="FA_SEL_ADDR"/>
                <element name="FA_SEL_EDI_ID"/>
                <element name="FA_SEL_ID"/>
                <element name="FA_SEL_NM"/>
                <element name="FA_SEL_NM2"/>
                <element name="FA_TEMP4"/>
                <element name="FA_TEMP5"/>
                <element name="FA_VALID_DAYS"/>
                <element name="LM_RSV_LINK"/>
                <element name="MSG_TYPE"/>
                <element name="QR_CD_FLD"/>
                <element name="SelReq">
                    <complexType>
                        <sequence>
                            <element name="BUYER_LMT_PERC"/>
                            <element name="COMBN_LMT_FLG"/>
                            <element name="FA_APPL_LMT_AMT"/>
                            <element name="FA_APPL_LMT_CCY"/>
                            <element name="FA_BLACKLIST__DESC__"/>
                            <element name="FA_BLACKLIST"/>
                            <element name="FA_BUSI_TYPE__DESC__"/>
                            <element name="FA_BUSI_TYPE"/>
                            <element name="FA_BUYER_AC_NO"/>
                            <element name="FA_BUYER_BK_BRCH"/>
                            <element name="FA_BUYER_CITY"/>
                            <element name="FA_BUYER_CNTC_FLG__DESC__"/>
                            <element name="FA_BUYER_CNTC_FLG"/>
                            <element name="FA_BUYER_CONT_ADDR"/>
                            <element name="FA_BUYER_CONT_FAX"/>
                            <element name="FA_BUYER_CONT_MAIL"/>
                            <element name="FA_BUYER_CONT_NM"/>
                            <element name="FA_BUYER_CONT_TEL"/>
                            <element name="FA_BUYER_ID"/>
                            <element name="FA_BUYER_NM"/>
                            <element name="FA_BUYER_NM2"/>
                            <element name="FA_BUYER_POSTBOX"/>
                            <element name="FA_BUYER_POSTCODE"/>
                            <element name="FA_BUYER_PROV"/>
                            <element name="FA_COUNTER_CE_FLG__DESC__"/>
                            <element name="FA_COUNTER_CE_FLG"/>
                            <element name="FA_COUNTER_REG_NO"/>
                            <element name="FA_COUNTER_TYPE__DESC__"/>
                            <element name="FA_COUNTER_TYPE"/>
                            <element name="FA_CUST_FLAG__DESC__"/>
                            <element name="FA_CUST_FLAG"/>
                            <element name="FA_DOC_REQD"/>
                            <element name="FA_IF_ID"/>
                            <element name="FA_IF_NM"/>
                            <element name="FA_INSU_AGR_NO"/>
                            <element name="FA_INSU_COMP_FLAG__DESC__"/>
                            <element name="FA_INSU_COMP_FLAG"/>
                            <element name="FA_LMT_TYPE__DESC__"/>
                            <element name="FA_LMT_TYPE"/>
                            <element name="FA_PCA_REF"/>
                            <element name="FA_REMI_AMT1"/>
                            <element name="FA_REMI_CCY1"/>
                            <element name="FA_SEL_AC_NO"/>
                            <element name="FA_SEL_ADDR"/>
                            <element name="FA_SEL_BK_BR"/>
                            <element name="FA_SEL_CITY"/>
                            <element name="FA_SEL_CNTC_FLG__DESC__"/>
                            <element name="FA_SEL_CNTC_FLG"/>
                            <element name="FA_SEL_CONT_ADDR"/>
                            <element name="FA_SEL_CONT_FAX"/>
                            <element name="FA_SEL_CONT_MAIL"/>
                            <element name="FA_SEL_CONT_NM"/>
                            <element name="FA_SEL_CONT_TEL"/>
                            <element name="FA_SEL_ID"/>
                            <element name="FA_SEL_NM"/>
                            <element name="FA_SEL_NM2"/>
                            <element name="FA_SEL_POST_CODE"/>
                            <element name="FA_SEL_PROV"/>
                            <element name="FA_SERVICE_REQ__DESC__"/>
                            <element name="FA_SERVICE_REQ"/>
                            <element name="FA_TEMP1"/>
                            <element name="FA_TEMP2"/>
                            <element name="FA_TEMP3"/>
                            <element name="FA_TEMP_AMT8"/>
                            <element name="FA_TEMP_LMT"/>
                            <element name="FA_TEMP_RATE"/>
                            <element name="INCO_LMT_PERC"/>
                            <element name="MARGIN_AC_NO"/>
                            <element name="MARGIN_PERC"/>
                            <element name="SEL_LMT_PERC"/>
                            <element name="TRX_DT"/>
                        </sequence>
                    </complexType>
                </element>
                <element name="TEMP_FA_BUYER_ID"/>
                <element name="TEMP_FA_BUYER_NM"/>
                <element name="TEMP_FA_REF_NO"/>
                <element name="TRX_DT"/>
                <element name="TSU_BK_BPO_FLG__DESC__"/>
                <element name="TSU_BK_BPO_FLG"/>
                <element name="view_1"/>
            </sequence>
        </complexType>
    </element>
</schema>
