EE_PARA/EE_PARA/Default/FORM/form_schema_LMTS_Arc_DirectProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="LM_CSL_ID"/>
                <element name="LM_CUST_ID"/>
                <element name="LM_DRCR_MRK"/>
                <element name="LM_DUE_DAY"/>
                <element name="LM_FACI_ID"/>
                <element name="LM_PARENT_REF"/>
                <element name="LM_RCUST_ID"/>
                <element name="LM_RSV_LINK"/>
                <element name="LM_TRX_AMT"/>
                <element name="LM_TRX_CCY"/>
                <element name="LM_TRX_REF"/>
                <element name="LM_VALU_DAY"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
                <element name="tablename"/>
            </sequence>
        </complexType>
    </element>
</schema>
