EE_PARA/EE_PARA/Default/FORM/form_multi_schema_Std_FeeRate_Edit_ByBU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="C_BK_GROUP_ID"/>
                            <element name="C_CNTY_CODE"/>
                            <element name="C_PRODUCT"/>
                            <element name="C_UNIT_CODE"/>
                            <element name="F_TIER1_VALUE"/>
                            <element name="F_TIER2_VALUE"/>
                            <element name="F_TIER3_VALUE"/>
                            <element name="F_TIER4_VALUE"/>
                            <element name="N_MAX_FEE"/>
                            <element name="N_MIN_FEE"/>
                            <element name="OP_TYPE"/>
                            <element name="_TRX_STATUS"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
