EE_PARA/EE_PARA/Default/FORM/form_multi_schema_TRMM_MMValueDateSettlement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="root">
        <complexType>
            <sequence>
                <element name="domData">
                    <complexType>
                        <sequence>
                            <element name="ACC_BRANCH"/>
                            <element name="AT"/>
                            <element name="BACK_CONF_STATUS"/>
                            <element name="BK_BR_CODE"/>
                            <element name="BR_CODE"/>
                            <element name="BUSI_UNIT"/>
                            <element name="CNPT_NS_SWADD"/>
                            <element name="CNPT_SWADD"/>
                            <element name="CURRENT_STATUS"/>
                            <element name="C_MAIN_REF"/>
                            <element name="DEAL_ACTION__DESC__"/>
                            <element name="DEAL_ACTION"/>
                            <element name="DEAL_NO"/>
                            <element name="DEAL_TP__DESC__"/>
                            <element name="DEAL_TP"/>
                            <element name="INT_AMT"/>
                            <element name="INT_RT"/>
                            <element name="KONDOR_FOLDER"/>
                            <element name="LOCAL_CCY"/>
                            <element name="LOCAL_TIME"/>
                            <element name="MT320_COMM_REF"/>
                            <element name="MT320_OPETN_TP__DESC__"/>
                            <element name="MT320_OPETN_TP"/>
                            <element name="NOSTRO_BK_ID"/>
                            <element name="NOSTRO_BK_SW_ADD"/>
                            <element name="OLD_DEAL_NO"/>
                            <element name="OVER_AC_FLG"/>
                            <element name="PROFIT_BR"/>
                            <element name="SETL_ACTION"/>
                            <element name="TADE_DT"/>
                            <element name="TOTAL_AMT"/>
                            <element name="TRX_AMT"/>
                            <element name="TRX_CCY"/>
                            <element name="TRX_DT"/>
                            <element name="VAL_DT"/>
                            <element name="VCH_CUSTID_CR"/>
                            <element name="VCH_CUSTID_DR"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
