EE_PARA/EE_PARA/Default/FORM/form_multi_schema_ABLF_CollatScope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="COLLAT_ID"/>
<element name="COLLAT_NM"/>
<element name="COLLAT_TP__DESC__"/>
<element name="COLLAT_TP"/>
<element name="C_MAIN_REF"/>
<element name="FA_CNTR_REF"/>
<element name="FA_TEMP2"/>
<element name="REGION"/>
<element name="getCOLLAT_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
