EE_PARA/EE_PARA/Default/FORM/form_schema_TSUM_MisMatchAcceptanceOCBC_EE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="CUST_NOTES"/>
                <element name="C_MAIN_REF"/>
                <element name="C_MSG_CONTENT"/>
                <element name="C_MSG_TYPE"/>
                <element name="C_UNIT_CODE"/>
                <element name="IS_ACCEPT"/>
                <element name="OCBC_INV_GENERATE"/>
                <element name="TSU_BENE_AC"/>
                <element name="TSU_BUYER_NAME"/>
                <element name="TSU_BUYR_MAILADD"/>
                <element name="TSU_CCY"/>
                <element name="TSU_COMM_DT"/>
                <element name="TSU_COMM_REF"/>
                <element name="TSU_CUCU_ID"/>
                <element name="TSU_CUST_ID"/>
                <element name="TSU_CUST_REF"/>
                <element name="TSU_DS_RP_DT"/>
                <element name="TSU_DS_RP_ID"/>
                <element name="TSU_LINE_TTL_AMT"/>
                <element name="TSU_MAIN_REF"/>
                <element name="TSU_MESSAGE_ID"/>
                <element name="TSU_OUR_REF"/>
                <element name="TSU_PMT_AMT"/>
                <element name="TSU_PMT_CODE"/>
                <element name="TSU_PMT_DAYS"/>
                <element name="TSU_PO_ID"/>
                <element name="TSU_REJT_RSN2"/>
                <element name="TSU_RL_MSG_ID"/>
                <element name="TSU_SELLER_NAME"/>
                <element name="TSU_SELLR_MAILADD"/>
                <element name="TSU_SUBMITR_BIC"/>
                <element name="TSU_TID"/>
            </sequence>
        </complexType>
    </element>
</schema>
