EE_PARA/EE_PARA/Default/FORM/form_schema_FinanceEstablishmentCF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AC_NO"/>
<element name="CFNC_C_AC_NO_BTN"/>
<element name="CFNC_C_AC_TYPE"/>
<element name="CFNC_C_APPROVE_STATUS"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_FINANCE_FLG"/>
<element name="CFNC_C_GRACE_DAYS"/>
<element name="CFNC_C_GRACE_FLG__DESC__"/>
<element name="CFNC_C_GRACE_FLG"/>
<element name="CFNC_C_INIT_FLG"/>
<element name="CFNC_C_INT_MODE"/>
<element name="CFNC_C_INT_MTHD"/>
<element name="CFNC_C_INT_PAYABLE"/>
<element name="CFNC_C_ORIGIN_MAIN_REF"/>
<element name="CFNC_C_ORIGIN_MODULE"/>
<element name="CFNC_C_ORIGIN_TRX_REF"/>
<element name="CFNC_C_OTHER_TYPE"/>
<element name="CFNC_C_PAY_BY"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_C_RELT_REF"/>
<element name="CFNC_C_STATUS"/>
<element name="CFNC_C_TRX_CCY"/>
<element name="CFNC_C_TYPE__DESC__"/>
<element name="CFNC_C_TYPE"/>
<element name="CFNC_C_TYPE_DESC"/>
<element name="CFNC_DRAWING_REF"/>
<element name="CFNC_D_DT"/>
<element name="CFNC_D_DUE_DT"/>
<element name="CFNC_D_DUE_DT_TEMP"/>
<element name="CFNC_D_MAST_MATU_DT"/>
<element name="CFNC_INTEREST_INSTAL_FLG__DESC__"/>
<element name="CFNC_INTEREST_INSTAL_FLG"/>
<element name="CFNC_INTEREST_INTERVAL__DESC__"/>
<element name="CFNC_INTEREST_INTERVAL"/>
<element name="CFNC_I_BASIC_DAYS"/>
<element name="CFNC_I_DAYS"/>
<element name="CFNC_I_DAYS_TEMP"/>
<element name="CFNC_I_FINC_TIMES"/>
<element name="CFNC_N_AMT_LCCCY"/>
<element name="CFNC_N_AMT_TXCCY"/>
<element name="CFNC_N_BAL"/>
<element name="CFNC_N_EXCH_RATE"/>
<element name="CFNC_N_LIBOR_AMT"/>
<element name="CFNC_N_LIBOR_RT"/>
<element name="CFNC_N_LIBOR_RT_TYPE__DESC__"/>
<element name="CFNC_N_LIBOR_RT_TYPE"/>
<element name="CFNC_N_MARGIN_AMT"/>
<element name="CFNC_N_MARGIN_RT"/>
<element name="CFNC_N_NET_AMT"/>
<element name="CFNC_N_PCT"/>
<element name="CFNC_N_PNLT_RT"/>
<element name="CFNC_N_PRE_INT"/>
<element name="CFNC_N_RT"/>
<element name="CFNC_N_RT_NARR"/>
<element name="CFNC_N_RT_TYPE__DESC__"/>
<element name="CFNC_N_RT_TYPE"/>
<element name="CFNC_N_TRXCCY_LCY"/>
<element name="CFNC_N_TRX_AMT"/>
<element name="CFNC_OVERDUE_DT"/>
<element name="CFNC_PAYMENT_FLAG__DESC__"/>
<element name="CFNC_PAYMENT_FLAG"/>
<element name="CFNC_PRINCIPAL_INSTAL_FLG__DESC__"/>
<element name="CFNC_PRINCIPAL_INSTAL_FLG"/>
<element name="CFNC_PRINCIPAL_INTERVAL__DESC__"/>
<element name="CFNC_PRINCIPAL_INTERVAL"/>
<element name="CFNC_RELA_MAIN_REF"/>
<element name="CFNC_TOLOCAL_RT"/>
<element name="C_FUNC_SHORT_NAME"/>
<element name="DISCOUNT_TAB_KEY"/>
</sequence>
</complexType>
</element>
</schema>
