EE_PARA/EE_PARA/Default/FORM/form_multi_schema_IWGT_GeneralCorrespondence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="AC_WT_INST_AC_NO"/>
<element name="AC_WT_INST_ADD1"/>
<element name="AC_WT_INST_ADD2"/>
<element name="AC_WT_INST_ADD3"/>
<element name="AC_WT_INST_ADD_BTN2"/>
<element name="AC_WT_INST_ADD_ORDER_NO"/>
<element name="AC_WT_INST_ID"/>
<element name="AC_WT_INST_ID_BTN"/>
<element name="AC_WT_INST_NM"/>
<element name="AC_WT_INST_NOTES"/>
<element name="AC_WT_INST_ORDER_NO"/>
<element name="AC_WT_INST_SW_ADD"/>
<element name="AC_WT_INST_SW_TAG"/>
<element name="ADV_BK_ADD1"/>
<element name="ADV_BK_ADD2"/>
<element name="ADV_BK_ADD3"/>
<element name="ADV_BK_ADD_BTN"/>
<element name="ADV_BK_ID"/>
<element name="ADV_BK_ID_BTN"/>
<element name="ADV_BK_MAIL_ADD"/>
<element name="ADV_BK_NM"/>
<element name="ADV_BK_NOTES"/>
<element name="ADV_BK_ORDER_NO"/>
<element name="ADV_BK_ORDER_POST"/>
<element name="ADV_BK_POST_ADD_BTN"/>
<element name="ADV_BK_SW_ADD"/>
<element name="ADV_BK_SW_TAG"/>
<element name="APLB_RULE__DESC__"/>
<element name="APLB_RULE"/>
<element name="APLB_RULE_NARR"/>
<element name="AUTO_RENEW__DESC__"/>
<element name="AUTO_RENEW"/>
<element name="CHECK_BOX_798"/>
<element name="CHG_ACNO"/>
<element name="CHG_CUST_VCH_DESC_CR"/>
<element name="CHG_CUST_VCH_DESC_DR"/>
<element name="CHG_FCUST_CCY"/>
<element name="CHG_FOREIGN_FX_AMT_CR"/>
<element name="CHG_FOREIGN_FX_AMT_DR"/>
<element name="CHG_FOREIGN_FX_CCY_CR"/>
<element name="CHG_FOREIGN_FX_CCY_DR"/>
<element name="CHG_LOCAL_FX_AMT_CR"/>
<element name="CHG_LOCAL_FX_AMT_DR"/>
<element name="CHG_LOCAL_FX_CCY_CR"/>
<element name="CHG_LOCAL_FX_CCY_DR"/>
<element name="CHG_POLICY__DESC__"/>
<element name="CHG_POLICY"/>
<element name="CHG_PRE_ADV_COMM_AC"/>
<element name="CHG_TRX_DATE"/>
<element name="CLERK_ID"/>
<element name="CLM_DT"/>
<element name="CLM_REF"/>
<element name="CLM_TRX_CCY_AMT"/>
<element name="CNTY_CODE"/>
<element name="COMM_START_DT"/>
<element name="CORR_ADD1"/>
<element name="CORR_ADD2"/>
<element name="CORR_ADD3"/>
<element name="CORR_ADD_BTN"/>
<element name="CORR_ADD_ORDER_NO"/>
<element name="CORR_CUST_BANK__DESC__"/>
<element name="CORR_CUST_BANK"/>
<element name="CORR_EMAIL_ADD"/>
<element name="CORR_FAX_NO"/>
<element name="CORR_ID"/>
<element name="CORR_ID_BTN"/>
<element name="CORR_MAIL_ADD"/>
<element name="CORR_NM"/>
<element name="CORR_NOTES"/>
<element name="CORR_ORDER_NO"/>
<element name="CORR_POST_BTN"/>
<element name="CORR_SW_ADD"/>
<element name="CORR_SW_TAG"/>
<element name="CORR_TLX_NO"/>
<element name="C_COMPLIANCE_NOTE"/>
<element name="C_COMPLIANCE_STATUS__DESC__"/>
<element name="C_COMPLIANCE_STATUS"/>
<element name="C_MAIN_REF"/>
<element name="C_SWADVDO_TIMES"/>
<element name="C_SWMAIN_TIMES"/>
<element name="C_SWPAYDO_TIMES"/>
<element name="C_SWPAY_TIMES"/>
<element name="C_TRANS_CODE"/>
<element name="DIARY_DT"/>
<element name="DIARY_NARRATIVE"/>
<element name="DIARY_RELATED_REF"/>
<element name="EXPIRY_DT"/>
<element name="EXPIRY_PLC__DESC__"/>
<element name="EXPIRY_PLC"/>
<element name="E_ACCOUNT_TYPE"/>
<element name="E_ACCOUNT_TYPE_ACCEPT"/>
<element name="E_BORROWER_ID"/>
<element name="E_BORROWER_ID_ACCEPT"/>
<element name="E_CCY_DECIMAL"/>
<element name="E_CFNC_D_DUE_DT"/>
<element name="E_CFNC_I_BASIC_DAYS"/>
<element name="E_CLAIMNOTE_TIMES"/>
<element name="E_C_REF_NO_C_IN"/>
<element name="E_DEFERRED_PAID_ACCEPT_COMM_AMT"/>
<element name="E_DEFERRED_PAID_ACCEPT_COMM_CCY"/>
<element name="E_DEFERRED_PAID_CONFIRM_COMM_AMT"/>
<element name="E_DEFERRED_PAID_CONFIRM_COMM_CCY"/>
<element name="E_DEFERRED_UNPAID_ACCEPT_COMM_AMT"/>
<element name="E_DEFERRED_UNPAID_CONFIRM_COMM_AMT"/>
<element name="E_DISCOUNT_TIMES"/>
<element name="E_DUE_DATE"/>
<element name="E_DUE_DATE_ACCEPT"/>
<element name="E_EPLC_ALLINFLAT_CHG_TRX_AMT"/>
<element name="E_EPLC_COMBIN_1_CHG_TRX_AMT"/>
<element name="E_EPLC_COMBIN_2_CHG_TRX_AMT"/>
<element name="E_EPLC_CONFUTIL_CHG_TRX_AMT"/>
<element name="E_EPLC_CONF_COMM_TRX_AMT"/>
<element name="E_EPLC_UTIL_DEF_CHG_TRX_AMT"/>
<element name="E_FUNCTION_ID"/>
<element name="E_GTEE_ISSUE_COMM_TRX_AMT"/>
<element name="E_IA_C_DIS_CUSTCCY"/>
<element name="E_IA_C_DIS_LOCALCCY"/>
<element name="E_IA_Y_EQVL_INT"/>
<element name="E_IA_Y_EQVL_INT_ACCEPT"/>
<element name="E_IA_Y_PAID_INT"/>
<element name="E_MAIN_REF"/>
<element name="E_NEW_EXPIRY_DT"/>
<element name="E_ORG_OUR_ENG_ADV_LC"/>
<element name="E_ORG_UNPAID_ACCEPT_COMM_CCY"/>
<element name="E_ORG_UNPAID_CONFIRM_COMM_CCY"/>
<element name="E_PAID_ACCEPT_COMM_AMT"/>
<element name="E_PAID_ACCEPT_COMM_CCY"/>
<element name="E_PAID_CONFIRM_COMM_AMT"/>
<element name="E_PAID_CONFIRM_COMM_CCY"/>
<element name="E_RATE"/>
<element name="E_REF_NO"/>
<element name="E_SEND_DOC_FLAG"/>
<element name="E_SETTLEPARTIALPAY_TIMES"/>
<element name="E_TRX_DT"/>
<element name="E_UNIT_CODE"/>
<element name="E_UNPAID_ACCEPT_COMM_AMT"/>
<element name="E_UNPAID_ACCEPT_COMM_CCY"/>
<element name="E_UNPAID_CONFIRM_COMM_AMT"/>
<element name="E_UNPAID_CONFIRM_COMM_CCY"/>
<element name="FURTHER_IDENTITY"/>
<element name="FXD_EXPIRY__DESC__"/>
<element name="FXD_EXPIRY"/>
<element name="GTEE_AMT"/>
<element name="GTEE_BAL"/>
<element name="GTEE_CCY"/>
<element name="GTEE_REF_NUM"/>
<element name="GTEE_TYPE__DESC__"/>
<element name="GTEE_TYPE"/>
<element name="INWARD_RCV_DT"/>
<element name="ISSUE_AMD_BY__DESC__"/>
<element name="ISSUE_AMD_BY"/>
<element name="LOGIN_BIC"/>
<element name="MESG_TYPE__DESC__"/>
<element name="MESG_TYPE"/>
<element name="MSG_TYPE"/>
<element name="MTHD_OF_ISS__DESC__"/>
<element name="MTHD_OF_ISS"/>
<element name="NOTES"/>
<element name="ORDER_INST_AC_NO"/>
<element name="ORDER_INST_ADD1"/>
<element name="ORDER_INST_ADD2"/>
<element name="ORDER_INST_ADD3"/>
<element name="ORDER_INST_ADD_BTN"/>
<element name="ORDER_INST_ADD_ORDER_NO"/>
<element name="ORDER_INST_ID"/>
<element name="ORDER_INST_ID_BTN"/>
<element name="ORDER_INST_NM"/>
<element name="ORDER_INST_NOTES"/>
<element name="ORDER_INST_ORDER_NO"/>
<element name="ORDER_INST_SW_ADD"/>
<element name="ORDER_INST_SW_TAG"/>
<element name="QR_CD_FLD"/>
<element name="RATE_BASE"/>
<element name="REAL_RT"/>
<element name="REG_DT"/>
<element name="STP_ADBIC_LC"/>
<element name="STP_CODE"/>
<element name="STP_MESSAGE_TYPE"/>
<element name="STP_MSG_CONTENT"/>
<element name="STP_RECV_TIME"/>
<element name="SUB_MESS_TYPE"/>
<element name="SYND_FLG__DESC__"/>
<element name="SYND_FLG"/>
<element name="TEMP_AC_AMT1"/>
<element name="TEMP_AC_AMT2"/>
<element name="TEMP_AC_AMT3"/>
<element name="TEMP_AC_AMT4"/>
<element name="TEMP_AC_AMT5"/>
<element name="TEMP_AC_BOOK_DT"/>
<element name="TEMP_AC_CCY"/>
<element name="TEMP_AC_NO1"/>
<element name="TEMP_AC_NO2"/>
<element name="TEMP_AC_NO3"/>
<element name="TEMP_AC_NO4"/>
<element name="TEMP_AC_VALUE_DT"/>
<element name="TEMP_AC_VCH_DESC1"/>
<element name="TEMP_AC_VCH_DESC2"/>
<element name="TEMP_AC_VCH_DESC3"/>
<element name="TEMP_AC_VCH_DESC4"/>
<element name="TEMP_CATEGORY_FLG__DESC__"/>
<element name="TEMP_CATEGORY_FLG"/>
<element name="TEMP_CFNC_D_DUE_DT"/>
<element name="TEMP_CORR_ATTCH"/>
<element name="TEMP_CORR_CRSPD"/>
<element name="TEMP_CORR_INSTR"/>
<element name="TEMP_CUST_ATTCH"/>
<element name="TEMP_CUST_CRSPD"/>
<element name="TEMP_CUST_INSTR"/>
<element name="TEMP_DOC_DT"/>
<element name="TEMP_DT_ORGNL_MSG"/>
<element name="TEMP_MAIL_TXT"/>
<element name="TEMP_MAIL_TXT_BTN"/>
<element name="TEMP_MESG_TYPE__DESC__"/>
<element name="TEMP_MESG_TYPE"/>
<element name="TEMP_N90_AC_IDN_25"/>
<element name="TEMP_N90_CCY_32"/>
<element name="TEMP_N90_CHG_32"/>
<element name="TEMP_N90_CHG_71"/>
<element name="TEMP_N90_DC_32__DESC__"/>
<element name="TEMP_N90_DC_32"/>
<element name="TEMP_N90_DT_32"/>
<element name="TEMP_N90_REF_20"/>
<element name="TEMP_N90_REF_21"/>
<element name="TEMP_N90_SNDINF_72"/>
<element name="TEMP_N95_NARR_77"/>
<element name="TEMP_N95_NARR_79"/>
<element name="TEMP_N95_QA_75"/>
<element name="TEMP_ORGNLMSG_TYPE"/>
<element name="TEMP_REF"/>
<element name="TEMP_REF_FOR_DOC"/>
<element name="TEMP_SND_RCV_11"/>
<element name="TEMP_USER_EMAIL"/>
<element name="TEMP_USER_FAX"/>
<element name="TEMP_USER_NM"/>
<element name="TEMP_USER_TEL_NO"/>
<element name="TRX_CCY"/>
<element name="WEB_REF"/>
<element name="X798_21R_BANK_REF"/>
<element name="X798_23X_CODE"/>
<element name="X798_23X_NARR"/>
<element name="X798_29D_BENE_CONTACT"/>
<element name="X798_29P_PRO_BANK_IND"/>
<element name="X798_29S_CUST_IDEN_CODE"/>
<element name="X798_29S_CUST_IDEN_PARTY__DESC__"/>
<element name="X798_29S_CUST_IDEN_PARTY"/>
<element name="X798_29U_LEAD_BANK_IND"/>
<element name="X798_31C_ISSUE_DATE"/>
<element name="X798_32B_AMT"/>
<element name="X798_32B_GUAR_CCY"/>
<element name="X798_72C_B2C_INFO"/>
<element name="X798_ADD_BK_REF"/>
<element name="X798_ADD_CUST_REF"/>
<element name="X798_ADV_BK_CONT"/>
<element name="X798_ADV_BK_REF_21P"/>
<element name="X798_BANK_CONT"/>
<element name="X798_CHG_INFO"/>
<element name="X798_CONF_INDI"/>
<element name="X798_CONF_INFO"/>
<element name="X798_CRE_DATE"/>
<element name="X798_CRE_TIME"/>
<element name="X798_CUST_ADD"/>
<element name="X798_CUST_REF"/>
<element name="X798_INFO_ADV_BK"/>
<element name="X798_INSTRU_78B"/>
<element name="X798_LEAD_BK_ID"/>
<element name="X798_PAYMENT_LIABILITY_22S"/>
<element name="X798_PAYMENT_TERMS_22R"/>
<element name="X798_PROC_BK_ID"/>
<element name="button1"/>
<element name="button2"/>
<element name="button3"/>
<element name="button4"/>
<element name="button5"/>
<element name="button6"/>
<element name="view_1"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
