EE_PARA/EE_PARA/Default/FORM/form_multi_schema_FinanceRePayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="CFNC_C_AC_NO"/>
<element name="CFNC_C_AC_TYPE"/>
<element name="CFNC_C_CCY"/>
<element name="CFNC_C_CUST_ID"/>
<element name="CFNC_C_INT_MODE"/>
<element name="CFNC_C_INT_MTHD"/>
<element name="CFNC_C_INT_MTHD_PRE"/>
<element name="CFNC_C_PAY_TYPE"/>
<element name="CFNC_C_REF"/>
<element name="CFNC_C_RET_FLG"/>
<element name="CFNC_C_TYPE__DESC__"/>
<element name="CFNC_C_TYPE"/>
<element name="CFNC_D_DT"/>
<element name="CFNC_D_DUE_DT"/>
<element name="CFNC_D_DUE_DT_PRE"/>
<element name="CFNC_D_LAST_PMT_DT"/>
<element name="CFNC_D_LAST_PMT_DT_ORG"/>
<element name="CFNC_D_PAY_DT"/>
<element name="CFNC_D_POST_FROM_DT"/>
<element name="CFNC_D_POST_TO_DT"/>
<element name="CFNC_D_TRX_DT"/>
<element name="CFNC_I_BASIC_DAYS"/>
<element name="CFNC_I_DAYS"/>
<element name="CFNC_I_DISCOUNT_DAYS_E"/>
<element name="CFNC_I_DISCOUNT_DAYS_N"/>
<element name="CFNC_I_OVERDUE_DAYS"/>
<element name="CFNC_I_REPAY_TIMES"/>
<element name="CFNC_I_TTL_DAYS"/>
<element name="CFNC_N_AMT_LCCCY"/>
<element name="CFNC_N_AMT_TXCCY"/>
<element name="CFNC_N_BAL"/>
<element name="CFNC_N_BAL_ORG"/>
<element name="CFNC_N_CCY_CLOSE_RT"/>
<element name="CFNC_N_CCY_CUST_RT"/>
<element name="CFNC_N_CCY_EXCH_RT"/>
<element name="CFNC_N_FINC_RT_PRE"/>
<element name="CFNC_N_LAST_PAID_INT"/>
<element name="CFNC_N_LIBOR_RT"/>
<element name="CFNC_N_LIBOR_RT_PRE"/>
<element name="CFNC_N_MARGIN_RT"/>
<element name="CFNC_N_MARGIN_RT_PRE"/>
<element name="CFNC_N_PAID_INT"/>
<element name="CFNC_N_PAID_LIBOR"/>
<element name="CFNC_N_PAID_MARGIN"/>
<element name="CFNC_N_PAY_AMT"/>
<element name="CFNC_N_PAY_AMT_1"/>
<element name="CFNC_N_PAY_LIBOR_OLD"/>
<element name="CFNC_N_PAY_LIBOR_ORG"/>
<element name="CFNC_N_PAY_LIBOR_PNLT"/>
<element name="CFNC_N_PAY_MARGIN_OLD"/>
<element name="CFNC_N_PAY_MARGIN_ORG"/>
<element name="CFNC_N_PAY_MARGIN_PNLT"/>
<element name="CFNC_N_PAY_NET_AMT"/>
<element name="CFNC_N_PAY_PNLT_INT"/>
<element name="CFNC_N_PCT"/>
<element name="CFNC_N_PNLT_RT"/>
<element name="CFNC_N_REACC_INT"/>
<element name="CFNC_N_RFD_EXTINT"/>
<element name="CFNC_N_RFD_INT"/>
<element name="CFNC_N_RFD_INT_NEW"/>
<element name="CFNC_N_RFD_INT_OLD"/>
<element name="CFNC_N_RFD_LIBOR"/>
<element name="CFNC_N_RFD_MARGIN"/>
<element name="CFNC_N_RT"/>
<element name="CFNC_N_UNPAY_INT"/>
<element name="CFNC_N_UNPAY_INT_ORG"/>
<element name="CFNC_N_UNPAY_LIBOR"/>
<element name="CFNC_N_UNPAY_LIBOR_ORG"/>
<element name="CFNC_N_UNPAY_MARGIN"/>
<element name="CFNC_N_UNPAY_MARGIN_ORG"/>
<element name="CHNC_I_INT_CHG_DAYS"/>
<element name="C_MODULE"/>
<element name="C_TRX_CCY"/>
<element name="C_TRX_CODE"/>
<element name="C_UNIT_CODE"/>
<element name="FINC_PAY_INT_ORG"/>
<element name="N_TRX_AMT"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
