EE_PARA/EE_PARA/Default/FORM/form_schema_Std_Bu_Constant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <element name="domData">
        <complexType>
            <sequence>
                <element name="C_BK_GROUP_ID"/>
                <element name="C_CNTY_CODE"/>
                <element name="C_CONSTANT_DESC"/>
                <element name="C_CONSTANT_NAME"/>
                <element name="C_CONSTANT_TYPE"/>
                <element name="C_CONSTANT_VALUE"/>
                <element name="C_CREA_BY"/>
                <element name="C_LOCKED_FLAG"/>
                <element name="C_LOCKED_OP"/>
                <element name="C_TRX_STATUS"/>
                <element name="C_UNIT_CODE"/>
                <element name="D_CREA_DATE"/>
                <element name="OP_TYPE"/>
                <element name="_TRX_STATUS"/>
            </sequence>
        </complexType>
    </element>
</schema>
