EE_PARA/EE_PARA/Default/FORM/form_schema_PMAT_InvoiceTracerINVLIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="domData">
<complexType>
<sequence>
<element name="AI_ACT_AMT"/>
<element name="AI_BALANCE"/>
<element name="AI_DT"/>
<element name="AI_DUE_DT"/>
<element name="AI_ID"/>
<element name="AI_NUM"/>
<element name="AI_PASS_FCD_FLG__DESC__"/>
<element name="AI_PASS_FCD_FLG"/>
<element name="AI_SET_DT"/>
<element name="AI_STAT_STAFF_CD__DESC__"/>
<element name="AI_STAT_STAFF_CD"/>
<element name="CCY"/>
<element name="EPP_ID"/>
<element name="EPP_SUPLR_ID"/>
<element name="FUND_RPT_ID"/>
<element name="IS_FUNDED__DESC__"/>
<element name="IS_FUNDED"/>
<element name="OVD_DT"/>
<element name="SUPLR_ID"/>
<element name="SUPLR_NM"/>
</sequence>
</complexType>
</element>
</schema>
