EE_PARA/EE_PARA/Default/FORM/form_multi_schema_BPO_Payment_Obligation New.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<element name="root">
<complexType>
<sequence>
<element name="domData">
<complexType>
<sequence>
<element name="DO_REF"/>
<element name="PERCENT"/>
<element name="R_ASSET_ACNO"/>
<element name="R_ASSET_ACNO_BTN"/>
<element name="TSU_APLBL_LAW"/>
<element name="TSU_BPOOBLGR_AMT"/>
<element name="TSU_CCY"/>
<element name="TSU_OBLGRBK_ADD1"/>
<element name="TSU_OBLGRBK_ADD2"/>
<element name="TSU_OBLGRBK_ADD3"/>
<element name="TSU_OBLGRBK_ID"/>
<element name="TSU_OBLGRBK_MAIL_ADD"/>
<element name="TSU_OBLGRBK_NM"/>
<element name="TSU_OBLGRBK_SW_TAG"/>
<element name="TSU_OBLGR_BK"/>
<element name="TSU_PMTOBLGR_AMT"/>
<element name="TSU_PMT_CHG_AMT"/>
<element name="TSU_PMT_CHG_PCTG"/>
<element name="TSU_PMT_XPRY_DT"/>
<element name="TSU_PO_ID"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>
</schema>
